<?php if ($this->error) {  ?>
    <div class="alert alert-danger">
        <?= $this->language->_($this->error); ?>
    </div>
<?php } ?>

<form action="<?= $this->url(array('module' => 'reprintstage', 'controller' => 'pengajuan', 'action' => 'detail'), null, true) ?>" method="POST" id="form_cek" enctype="multipart/form-data">
    <input type="hidden" name="bg_number" value="<?= $this->bg_number; ?>">
    <div class="row justify-content-center mb-2">
        <div class="col-11">
            <h5><?= $this->language->_('Pengajuan Cetak Ulang'); ?></h5>
        </div>
        <div class="col-11 mt-2 py-3" style="border: 1px solid black; border-radius: 15px;">
            <div class="row">
                <div class="col-12 pl-0">
                    <label class="text-body font-weight-bold" style="margin-left: 15px;font-size: 1rem"><?= $this->language->_('Detail Bank Garansi') ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nomor BG') ?></label>
                </div>
                <div class="col-8">
                    <label style="color: red;"><strong><?= $this->bgDataDetail["BG_NUMBER"]; ?></strong></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Subject eForm') ?></label>
                </div>
                <div class="col-8">
                    <label><strong><?= $this->bgDataDetail["BG_SUBJECT"]; ?></strong></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Prinsipal') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->bgDataDetail["PRINSIPAL"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Obligee') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->bgDataDetail["RECIPIENT_NAME"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->bgDataDetail["BG_BRANCH_NAME"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nominal') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->bgDataDetail["CURRENCY"] . " " . number_format($this->bgDataDetail["BG_AMOUNT"], 2); ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status BG') ?></label>
                </div>
                <div class="col-8">
                    <label>Dalam Jaminan - <?= $this->language->_(ucwords($this->completionStatus[$this->bgDataDetail["COMPLETION_STATUS"]])) . " (" . (new DateTime($this->bgDataDetail["BG_UPDATED"]))->format("d M Y H:i:s") . ")"; ?></label>
                </div>
            </div>
        </div>

        <div class="col-11 mt-2 py-3">
            <div class="row">
                <div class="col-12 pl-0">
                    <label class="text-body font-weight-bold" style="margin-left: 15px;font-size: 1rem"><?= $this->language->_('Permintaan Cetak Ulang') ?></label>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan Cetak Ulang') ?></label>
                </div>
                <div class="col-8">
                    <select name="catatan_cetak_ulang" id="catatan_cetak_ulang" class="form-control">
                        <option value="Sertifikat Rusak">Sertifikat Rusak</option>
                        <option value="Sertifikat Hilang">Sertifikat Hilang</option>
                        <option value="Lainnya">Lainnya</option>
                    </select>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Form Permintaan Cetak Ulang') ?><span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                    <input type="file" name="form_permintaan_cetak_ulang" id="form_minta_cetak_ulang" style="height: 35px" class="w-100 px-1 form-control">
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Lampiran Bukti Dokumen') ?><span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                    <input type="file" name="lampiran_bukti_dokumen" id="lampiran_bukti_dokumen" style="height: 35px" class="w-100 px-1 form-control">
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bukti Bayar') ?><span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                    <input type="file" name="bukti_bayar" id="bukti_bayar" style="height: 35px" class="w-100 px-1 form-control">
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-center mt-3">
        <div class="col-11 d-flex justify-content-center" style="height: auto; position: relative;">
            <button type="button" class="btnwhite hov mr-2" id="kembali"><?php echo $this->language->_('TUTUP') ?></button>
            <button type="submit" class="btngreen hov" id="kirim"><?php echo $this->language->_('KIRIM') ?></button>
        </div>
    </div>

</form>
<script type="text/javascript">
    function close_window() {
        return window.close();
    }

    function checkFile(object) {
        const fileExtension = object.target.files[0].name.split(".").pop();
        if (fileExtension != "pdf") {
            object.target.value = "";
            return alert("File harus berformat pdf");
        }
    }

    function check_all_file() {
        const form_minta_cetak_ulang = document.querySelector("#form_minta_cetak_ulang").value

        const lampiran_bukti_dokumen = document.querySelector("#lampiran_bukti_dokumen").value

        const bukti_bayar = document.querySelector("#bukti_bayar").value

        if (form_minta_cetak_ulang == "" || lampiran_bukti_dokumen == "" || bukti_bayar == "") {
            alert("Mohon upload semua file mandatory");
            return false
        }

        return true;
    }

    function cek_submit(object) {

        const form_data = new FormData(object.target);
        if (!check_all_file()) {
            object.preventDefault();
            return false;
        }

    }

    document.addEventListener("DOMContentLoaded", () => {
        const btn_kembali = document.querySelector("#kembali");
        btn_kembali.addEventListener("click", close_window);

        const btn_kirim = document.querySelector("#form_cek");
        btn_kirim.addEventListener("submit", cek_submit);

        const form_minta_cetak_ulang = document.querySelector("#form_minta_cetak_ulang")
        form_minta_cetak_ulang.addEventListener("change", checkFile)

        const lampiran_bukti_dokumen = document.querySelector("#lampiran_bukti_dokumen")
        lampiran_bukti_dokumen.addEventListener("change", checkFile)

        const bukti_bayar = document.querySelector("#bukti_bayar")
        bukti_bayar.addEventListener("change", checkFile)
    })
</script>