<script>
	$(document).ready(function() {
		if ('<?= $this->success ?>' || '<?= $this->error ?>') {
			$("input").attr("disabled", "disabled");
			$("textarea").attr("disabled", "disabled");
		}
	});
</script>

<style type="text/css">
	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-size: 12px;
		width: 284px;
		text-transform: uppercase;
	}

	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: white !important;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 18px;
		height: 47.5px;
		width: 284px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: white !important;
		border-color: #dee2e6 #dee2e6 #fff !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 14px;
		height: 47.5px;
		font-size: 14px;
		width: 284px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.mybtn .buttonact {
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.mybtn .buttonnoact {
		background-color: #D1D0CE !important;
		color: #736F6E !important;
		border-color: #B6B6B4 !important;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		font-size: 13px !important;
		width: 284px !important;;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Beranda'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Umum'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Pengaturan Umun'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Pengaturan Umum') ?></h5>
		<!--<h6><?= $this->language->_('Manage front end, user account, notification template settings	') ?></h6>-->
	</div>
</div>
<br>
<!-- <div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btnwhite hov col-md-3" name="button">Front End</button>
		<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btngreen hov col-md-3" name="button">User and Password Policies</button>
		<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
	</div> -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link" value="1" at="1" onclick="location.href='/generalsetting/foappsetting'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">TAMPILAN NASABAH</a>

	</li>

	<li class="nav-item">
		<a class="nav-link active" value="3" at="3" onclick="location.href='/generalsetting/fousersetting'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">PENGATURAN USER DAN PASSWORD</a>

	</li>

	<li class="nav-item" style="display:none;">
		<a class="nav-link" value="2" at="2" onclick="location.href='/generalsetting/templatesetting'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Template Setting</a>

	</li>

</ul>
<!-- <br> -->
<br>
<?php if ($this->success) { ?>
	<div class="alert alert-success" role="alert"><?= $this->language->_($this->report_msg) ?></div><br />
<?php } else if (!empty($this->report_msg)) { ?>
	<div class="alert alert-danger" role="alert">

		<?= $this->language->_($this->report_msg) ?>

		<?php if ($this->errorfee) {
			echo '<br><br>' . $this->errorfee;
		} ?>

	</div>

<?php } ?>
<div class="row">
	<div class="col-sm-3">
		<div class="mybtn">
			<button onclick="location.href='/generalsetting/fousersetting'" class="buttonnoact col-md-12">Pengaturan Nasabah</button>
			<button onclick="location.href='/generalsetting/bousersetting'" class="buttonact col-md-12">Pengaturan Bank</button>
			
		</div>
	</div>
	<div class="col-sm-9">
		<form name="filterForm" action="<?= $this->url(array('page' => '1')) . $this->qstring ?>" method="post">

			<table cellpadding="10" cellspacing="0" width="100%">

				<!--<tr>
					<td><?php echo $this->language->_('User ID Length'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('min_length_buserid', $this->min_length_buserid, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmin_length_buserid; ?></div>
					</td>
					<td> - </td>
					<td>
						<?php echo $this->formText('max_length_buserid', $this->max_length_buserid, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_length_buserid; ?></div>
					</td>
				</tr>-->
				<!-- <tr style="display:none;">
				<td>?php echo $this->language->_('Password Length'); ?></td>
				<td>:</td>
				<td>
					?php echo $this->formText('minbpassword',$this->minbpassword,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
					<div class="errmsg">?=$this->xminbpassword;?></div>
				</td>
				<td> - </td>
				<td>
					?php echo $this->formText('maxbpassword',$this->maxbpassword,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
					<div class="errmsg">?=$this->xmaxbpassword;?></div>
				</td>
			</tr> -->

				<tr>
					<td><?php echo $this->language->_('Kunci User Jika Tidak Login'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('b_locknologinafter', $this->b_locknologinafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xb_locknologinafter; ?></div>
					</td>
					<td></td>
					<td>hari</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Kunci User Jika Gagal Input Password'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('b_lockfailloginafter', $this->b_lockfailloginafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xb_lockfailloginafter; ?></div>
					</td>
					<td></td>
					<!--<td>attempt(s)</td>-->
				</tr>

				<!-- <tr style="display:none;">
				<td>?php echo $this->language->_('Number of Passwords Saved in History'); ?></td>
				<td>:</td>
				<td>
					?php echo $this->formText('bpassword_history',$this->bpassword_history,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
					<div class="errmsg">?=$this->xbpassword_history;?></div>
				</td>
			</tr> -->
				<tr>
					<!--<td><?php echo $this->language->_('Session Timeout After (pop up alert 60 minutes before time out)'); ?></td>-->
					<td><?php echo $this->language->_('Batas Waktu Session'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('b_timeoutafter', $this->b_timeoutafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xb_timeoutafter; ?></div>
					</td>
					<td></td>
					<td>second(s)</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Notifikasi Email Untuk File Sharing'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('email_file_sharing', $this->email_file_sharing, array('class' => 'form-control col-md-12', 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_file_sharing; ?></div>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Notifikasi Email Grup Kontra Cash Collateral'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('email_group_cashcoll', $this->email_group_cashcoll, array('class' => 'form-control col-md-12', 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_group_cashcoll; ?></div>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Notifikasi Email Grup Kontra Line Facility'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('email_group_linefacility', $this->email_group_linefacility, array('class' => 'form-control col-md-12', 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_group_linefacility; ?></div>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Notifikasi Email Grup Kontra Asuransi'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('email_group_insurance', $this->email_group_insurance, array('class' => 'form-control col-md-12', 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_group_insurance; ?></div>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Notifikasi Email untuk Hapus Dokumen Disign'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('email_delete_doc', $this->email_delete_doc, array('class' => 'form-control col-md-12', 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_delete_doc; ?></div>
					</td>
				</tr>
				<tr style="display:none;">
					<td><?php echo $this->language->_('Email Notification for Exception (separated by ;) '); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('email_exception', $this->email_exception, array('class' => 'form-control col-md-12', 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_exception; ?></div>
					</td>
				</tr>
				<!-- <tr style="display:none;">
				<td>?php echo $this->language->_('Email Address for Remittance transactions notification (separated by ;)'); ?></td>
				<td>:</td>
				<td>
					?php echo $this->formText('email_valas',$this->email_valas,array('class' => 'form-control col-md-12','maxlength'=>128))?>
					<div class="errmsg">?=$this->xemail_valas;?></div>
				</td>
			</tr>  -->
			</table>

	</div>
	<div class="col-md-12">
		<table align="center">
			<tr>
				<?php
				$options = array('class' => 'btngreen hov');
				$options2 = array('class' => 'btnwhite hov');
				if ($this->success || $this->error) {
					$options = array_merge($options, array("disabled" => "disabled"));
				}
				?>
				<td>
					<?php //echo $this->formSubmit('submit','Submit',$options)
					?>&nbsp;
					<?php //echo $this->formReset('reset','Reset',$options)
					?>

					<?php
					if ($this->hasPrivilege('STUD')) {
					?>
						<?php echo $this->formReset('reset', $this->language->_('Reset'), $options2) ?>
						<?php echo $this->formSubmit('submit', $this->language->_('Submit'), $options) ?>&nbsp;

					<?php
					} else {
						$submit = $this->language->_('Submit');
						$reset = $this->language->_('Reset');
						echo '<input type="button" value="' . $submit . '" disabled class="inputbtn"> &nbsp;';
						echo '<input type="button" value="' . $reset . '" disabled class="inputbtn">';
					}
					?>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {
		document.querySelector("#b_timeoutafter").addEventListener("blur", (event) => {
			if (event.target.value == '') {
				event.target.value = '300'
				return true;
			}

			if (parseInt(event.target.value) < 120 || parseInt(event.target.value) > 3600) {
				
				if (parseInt(event.target.value) < 120)  {
					alert("Tidak boleh kurang dari 120");
					event.target.value = '120'
				}

				if (parseInt(event.target.value) > 3600)  {
					alert("Tidak boleh lebih besar dari 3600");
					event.target.value = '3600'
				}
				
				return true;
			}
		})
	})
</script>