<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Predefined beneficiary</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span>Domestic Account</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Confirm Domestic Account')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<br />

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			
			<tr>
				<td id="contentarea">
				<div class="portlet-body form content-box">
					<form class="form-horizontal form-bordered form-row-stripped" name="addbeneficiary" method="post" action="">
					<div class="portlet light form-fit bordered">
				
                      <!-- Default panel contents -->
                      <h5><?php if($this->mode=='Add') echo $this->language->_('Add'); else echo $this->language->_('Edit'); ?> <?php echo $this->language->_('Beneficiary')?></h5>
                    	<div class="portlet-body form">
                                                <!-- BEGIN FORM-->
            <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Type'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
	          	<b><?php echo $this->formLabel('ACBENEF',$this->benefType)?>
								</b>
                
									<?php //echo $this->formRadio('benefType',$this->benefType,array('class'=>'benefType'),array(1=>'SKN/RTGS'))?>

              </div>
    </div>      
			<div class="form-group row">
				<label class="control-label col-md-3"><?php echo $this->language->_('Bank'); ?><strong class="formreq"></strong></label>
					<div class="col-md-9">
						<?php echo $this->formLabel('BANK_NAME',$this->BANK_NAME)?>

					</div>
			</div>                                   
                                                  
            <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <b><?php echo $this->formLabel('ACBENEF',$this->ACBENEF)?>
								</b>
              </div>
              </div>

              
                  <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php echo $this->ACBENEF_BANKNAME ?>                

              </div>
    </div>
    
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php echo $this->CURR_CODE; ?>                

              </div>
    </div>
<?php if($this->BENEFICIARY_TYPE == '2'){?>

    <div class="SKNRTGS form-group row" >
	    <label class="control-label col-md-3"><?php echo $this->language->_('Citizenship'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php 
									// $this->CITIZENSHIP = $this->CITIZENSHIP=='' ? 'R' : $this->CITIZENSHIP;
									if($this->CITIZENSHIP=='R'){
										$this->CITIZENSHIP='Resident';
									}else{
										$this->CITIZENSHIP='Non Resident';
									}
									echo $this->CITIZENSHIP;
									//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
									
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Nationality'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php 
									// $this->NATIONALITY = $this->NATIONALITY=='' ? 'W' : $this->NATIONALITY;
									// echo  $this->NATIONALITY;
									if($this->NATIONALITY=='W'){
										$this->NATIONALITY='WNI';
									}else{
										$this->NATIONALITY='WNA';
									}
									echo $this->NATIONALITY;
									//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
									
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Category'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php 
                						if($this->LLD_CATEGORY=='1'){
										$this->LLD_CATEGORY='Individual';
										}else if($this->LLD_CATEGORY=='2'){
											$this->LLD_CATEGORY='Government';
										}else if($this->LLD_CATEGORY=='3'){
											$this->LLD_CATEGORY='Bank';
										}else if($this->LLD_CATEGORY=='4'){
											$this->LLD_CATEGORY='Non Bank Financial Institution';
										}else if($this->LLD_CATEGORY=='5'){
											$this->LLD_CATEGORY='Company';
										}else{
											$this->LLD_CATEGORY = 'Other';
										}
										//$arrFirst = array();
										//$arrFirst[''] = '-- Select Category --';
										//$this->lldCategoryArr = array_merge($arrFirst, $this->lldCategoryArr);
										echo  $this->LLD_CATEGORY;
							
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Type'); ?><!--  <strong class="formreq"><font color="red">&nbsp;*</font> --></strong></label>
	          <div class="col-md-9">
                		<?php 
//										$arrFirst = array();
//										$arrFirst[''] = '-- Select ID Type --';
//										$this->lldSenderIdentifArr = array_merge($arrFirst, $this->lldSenderIdentifArr);
//										echo $this->formApp("SELECT_DATA", $this->lldSenderIdentifArr, $this->LLD_SENDERIDENTIF, "LLD_SENDERIDENTIF");
//										

                						
										// $arrFirst = array();
										// $arrFirst[''] = '-- Select ID Type --';
										// $this->lldBeneIdentifArr = array_merge($arrFirst, $this->lldBeneIdentifArr);
										echo $this->LLD_BENEIDENTIF;
							
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Number'); ?><!--  <strong class="formreq"><font color="red">&nbsp;*</font></strong> --></label>
	          <div class="col-md-9">
                <?php 
										echo $this->LLD_BENENUMBER;
									?>

              </div>
    </div>
        
    <?php 
							if($this->CITIZENSHIP == ''){
							?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Table'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formLabel('BANK_NAME',$this->BANK_NAME)?>

              </div>
    </div>
              <?php 
							
							}else{
							?>
							<?php if($this->BENEFICIARY_TYPE == '2'){?>
             
    
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Address 1'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formLabel('ADDRESS',$this->ADDRESS)?>

              </div>
    </div>
	<div class="form-group row">
	    	<label class="control-label col-md-3"><?php echo $this->language->_('Address 2'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formLabel('ADDRESS2',$this->ADDRESS2)?>

              </div>
    	</div>
    <?php }
}?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Bank'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formLabel('BANK_NAME',$this->BANK_NAME)?>

              </div>
    </div>
    <?php }?>
							
							<?php if($this->BENEFICIARY_TYPE == '2'){?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('City'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php 
								echo $this->formLabel('CITY_NAME',$this->CITY_NAME)
								?>

              </div>
    </div>
    <?php }?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Email Address'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formLabel('ACBENEF_EMAIL',$this->ACBENEF_EMAIL)?>

              </div>
    </div>
    
        <div class="form-group row" style="display:none">
	    <label class="control-label col-md-3"></label>
	          <div class="col-md-9">
                <?php
										  //echo $this->action('index','gentoken','tools');
										if(isset($this->errMsg['responseCode'])){
											echo '<div style="font-weight:bold;color:WHITE;font-size:14px;text-outline: 2px 2px #ff0000;">';
													foreach($this->errMsg['responseCode'] as $errMsg){
														echo 'Response Code : '.$errMsg;
													}									
											echo "</div>";
										}
									?>

              </div>
    </div>
    
    
    
    
    
              
              </div>
              </div>
</div>
					
					
					
					
					
					
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							
							
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									
									<!-- <table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td nowrap="nowrap" valign="top">
													<fieldset>
														<legend><span class="tdform-sub"> Use Your Mobile Token!</span></legend>
														<br>
														<table border="0" cellpadding="2" cellspacing="2" width="100%">
															<tbody>
																<!-- <tr><td>Challenge Code:</td></tr>
																<tr><td><input name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>
																 -->
																<!-- <tr><td>
																<a href="#" onClick="javascript:openwindow('<?//=$this->url(array('module'=>$this->modulename,'controller'=>'requestactivationcode','action'=>'index','user_id' => $this->userId),null,true);?>',640,380)">Request mToken</a>
																<br>
																<font style='color:black'>Enter Your Token :</font></td></tr>
																<tr><td>
																<input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="text">
																<?php 
	//															//$this->formText('responseCode',$this->responseCode,array('maxlength'=>'8','size'=>'12','onkeypress'=>"return forceNumber(event)")); 
																?>
																</td></tr>
															</tbody>
														</table>
													</fieldset>
												</td>
											</tr>
										</tbody> -->
									</table>
									<div class="formbutton">
										<input type="submit" value="<?php echo $this->language->_('Back'); ?>" name="submit1" class="btnwhite hov" />
										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
									</div>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
					
			
