<script type="text/javascript">
	function showPopUpWindow(pagesource)
	{
		var win = null;
	 	 var w = 650, h = 300;

		if (win && !win.close())
		{
			win.close();
		}

		LeftPosition=(screen.width)?(screen.width-w)/2:100;
		TopPosition=(screen.height)?(screen.height-h)/2:100;

		settings='width=650,height=300,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
		win=window.open("../../../../popup/"+pagesource,'sgo_popup_window',settings);
		win.focus();
	}
</script>
<script type="text/javascript" charset="utf-8">
function checkSwift(){
	swiftcode = $('#SWIFT_CODE').val();
	$('#CITY_CODE > *').hide();
	idclassShow = '#CITY_CODE > option.' + swiftcode;	
	$(idclassShow).show();
}
function resetCity(){
	$('#CITY_CODE').val("");
}

</script>
	

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Predefined beneficiary</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span>Domestic Account</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Edit Domestic Account')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<br />


<div class="row content-box">
    <div class="portlet-body form col-md-12 table-responsive">
        <h5><?=$this->language->_('Edit Beneficiary')?></h5>
       <form name="Form" class="form-horizontal form-bordered form-row-stripped" method="post" action="">
        <br>
        <table cellpadding="3" cellspacing="0" border="0" class="tableform">
        <tr>
        <td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
        </tr>
          
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent"><b><?php echo $this->formLabel('BENEF_NO',$this->ACBENEF).$this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID)?>
			<?php echo $this->formHidden('ACBENEF',$this->ACBENEF)?></b> 
          </td>
        </tr>
         <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%"><?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>35,'onkeypress'=>'return forceChar(event)','class'=>'form-control'))?>
          </td>
        </tr>
 		<tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%"><b><input name="CURR_CODE" value="IDR" type="text" size="3" readonly class="form-control"></b>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Citizenship'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent"> <?php 
                // print_r($this->CITIZENSHIP);die;
									$this->CITIZENSHIP = $this->CITIZENSHIP=='' ? 'R' : $this->CITIZENSHIP;
									echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident','NR'=>'Non Resident'))
									//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
									
									?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Nationality'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent">  <?php 
									$this->NATIONALITY = $this->NATIONALITY=='' ? 'W' : $this->NATIONALITY;
									echo $this->formRadio('NATIONALITY', $this->NATIONALITY, null, array('W'=>'WNI','N'=>'WNA'))
									//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
									
									?>  
          </td>
        </tr>
          <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Category'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%">
          							 <?php 
										//$arrFirst = array();
										//$arrFirst[''] = '-- Select Category --';
										//$this->lldCategoryArr = array_merge($arrFirst, $this->lldCategoryArr);
										echo $this->formApp("SELECT_DATA", $this->lldCategoryArr, $this->LLD_CATEGORY, "LLD_CATEGORY", null, array('allowEmpty'=>true,'class'=>'form-control'));
							
									?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Identification Type'); ?>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%">  
									<?php 
									//										$arrFirst = array();
									//										$arrFirst[''] = '-- Select ID Type --';
									//										$this->lldSenderIdentifArr = array_merge($arrFirst, $this->lldSenderIdentifArr);
									//										echo $this->formApp("SELECT_DATA", $this->lldSenderIdentifArr, $this->LLD_SENDERIDENTIF, "LLD_SENDERIDENTIF");
									//										
										$arrFirst = array();
										$arrFirst[''] = '-- Select ID Type --';
										$this->lldBeneIdentifArr = array_merge($arrFirst, $this->lldBeneIdentifArr);
										echo $this->formApp("SELECT_DATA", $this->lldBeneIdentifArr, $this->LLD_BENEIDENTIF, "LLD_BENEIDENTIF");
							
									?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Identification Number'); ?>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%"><?php 
										echo $this->formText('LLD_BENENUMBER',$this->LLD_BENENUMBER,array('size'=>40,'maxlength'=>16,'onkeypress'=>'return forceNumber(event)','class'=>'form-control'));
									?>

          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Address'); ?>
          							<?php if($this->address_mandatory == '1'){ 
										?>
										<strong class="formreq"><font color="red">&nbsp;*</font></strong>
										<?php 
									} ?>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%"> <?php echo $this->formText('ADDRESS',$this->ADDRESS,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent">Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="5" width="70%"><?php echo $this->formText('BANK_NAME',$this->BANK_NAME,array('size'=>28,'maxlength'=>35,'readonly'=>true,'class'=>'form-control', 'style' => 'width:100%'))?>
          </td>
          <td>
          	 	<input type="button" value="<?php echo $this->language->_('Bank Table'); ?>" onclick="showPopUpWindow('bankpopup');" class="btngreen hov">
          	 	<?php echo $this->formHidden('CLR_CODE',$this->CLR_CODE,null)?>
				<?php echo $this->formHidden('SWIFT_CODE',$this->SWIFT_CODE,array('size'=>28,'maxlength'=>35,'id'=>'SWIFT_CODE','onblur'=>'checkSwift()'))?>
				<?php echo $this->formHidden('BENEFICIARY_BANK_CODE',$this->CLR_CODE,null)?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('City'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%"><select name="CITY_CODE" id="CITY_CODE" class="form-control">
									<option value=""><?='-- '.$this->language->_('Please Select').' --'?></option>';
									<?php 
										foreach ($this->cityCodeList as $value) {
										$CITY_CODE = $value['CITY_CODE'];
										$style = 'style="display:none"';
										if($this->SWIFT_CODE == $value['SWIFT_CODE']){
											$style = '';
										}
									?>
										<option <?=$style?> class="<?=$value['SWIFT_CODE']?>" value="<?=$CITY_CODE?>"<?=($value['CITY_CODE']==$this->CITY_CODE) ? 'selected' : '';?>><?=$value['CITY_NAME']?></option>
									<?php
									}
									?>
								</select>
          </td>
        </tr>
        <?php echo $this->formHidden('BANK_CITY',$this->BANK_CITY,array('size'=>40,'maxlength'=>15,'readonly'=>true))?>
       	<tr>
          <td class="tbl-evencontent"><?php echo $this->language->_('Email Address'); ?><strong class="formreq"></strong>
          </td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" colspan="10" width="82%"> <?php echo $this->formText('ACBENEF_EMAIL',$this->ACBENEF_EMAIL,array('size'=>40,'class'=>'form-control'))?>
          </td>
        </tr>
       </table>

       <br>

      <div class="row">
			<div class="col-sm-5">
			<div class="panel panel-default content-box">
			<div class="card-header cardhead text-white"><?php echo $this->language->_('Notes');?></div>
				<div class="panel-body">
						<div class="form-group">
							<?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon (;).'); ?>																		
										<br>
										<?php echo $this->language->_('For example'); ?>																		
										: wirda@gmail.com;gunawan@yahoo.com
						</div>
				</div>
			</div>
			<div class="col-sm-6">&nbsp;</div>
			</div>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
								<?php if ($this->confirmPage == 1){}else{?>
								<?php if($this->tokentype == '1'){
								?>
								<div class="row">
										
										<div class="col-md-3">
										<div class="panel panel-default" style="margin-bottom:0px">
                                          <!-- Default panel contents -->
                                          <div class="panel-heading" style="
                                        	    color: #fff;
                                            height: 33px;
                                            line-height: 14px;
                                            font-size: 14px;
                                            background-color: #337ab7;
                                            border-color: #337ab7;
                                        	    
                                        	"><?php echo $this->language->_('Use Your Mobile Token'); ?>!</div>
                                        	<div class="panel-body">
                                        			<div class="form-group">
                                        				<?php echo $this->language->_('Release on behalf of'); ?>:<br/>
                                        				<a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'requestactivationcode','action'=>'index','user_id' => $user_id),null,true);?>',640,380)"><?php echo $this->language->_('Request mToken'); ?> </a>
                                        			</div>
                                        			<div class="form-group control-label col-md-12">
															<font style='color:black'><?php echo $this->language->_('Enter Your Token'); ?> :</font>
                                        				<br/>
                                        				
													    <span class="input-group-btn"><span class="input-group-btn"><input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; width:100%;font-size: 16px;" type="password" autocomplete="off" class="form-control"></span></span>
														
                                        			</div>
                                        			
                                        	</div>
                                        </div>
										</div>
										<div class="col-md-9">
										</div>
										</div>
								<?php 
								}
								elseif($this->tokentype == '2'){?>
								
								<div class="row">
										
										<div class="col-md-3">
										<div class="panel panel-default" style="margin-bottom:0px">
                                          <!-- Default panel contents -->
                                          <div class="panel-heading" style="
                                        	    color: #fff;
                                            height: 33px;
                                            line-height: 14px;
                                            font-size: 14px;
                                            background-color: #337ab7;
                                            border-color: #337ab7;
                                        	    
                                        	"><?php echo $this->language->_('Use Your Token'); ?>!</div>
                                        	<div class="panel-body">
                                        			<div class="form-group">
                                        			<b><?= $user_id; ?></b><br/>
																		<input name="userOnBehalf" value="<?= $user_id?>" type="hidden">
																	<?php echo $this->language->_('Challenge Code'); ?>:<br/>
																	
																	<span class="input-group-btn"><input class="form-control" name="challengeCodeReq2" id="ACBENEF2" size="2" value=<?=$random ?> style="text-align: right; font-weight: bold;width:60px; font-size: 16px;" type="text" readonly></span>
																	<span class="input-group-btn" style="width: 100%"><input  class="form-control" name="challengeCodeReq" id="ACBENEF1" size="4" maxlength="20" value="<?= $this->challengeCodeReq1 ?>" style="text-align: left;width: 100%; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></span>
																	<br/>
																	<?php echo $this->language->_('Response Token'); ?> APLI 2 :<br/>
																	<input name="responseCodeReq" size="12" maxlength="6"  class="form-control" onkeypress="return forceNumber(event);" style="text-align: center;width: 100%; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
	
                                        			</div>
                                        			
                                        			
                                        	</div>
                                        </div>
										</div>
										<div class="col-md-9">
										</div>
										</div>
								<?php }elseif($this->tokentype == '3'){echo'<input name="challengeCodeReq" id="ACBENEF1" type="hidden">';}else{echo'<input name="challengeCodeReq" id="ACBENEF1" type="hidden">';}?>
							<?php }?>
							<br/>
							<div class="row">
                      <div class="col-sm-8">
                      <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'domesticcct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
                    	<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                      </div>
                    </div>
                    </tbody>
                    </table>
		</form>
      </div>
    </div> 
 

 

	<!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
		
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php } 
					else if($this->resulttoken){echo '<div class="errmsg">'.$this->language->_($this->resulttoken).'</div><br>';}
					?>
				</td>
			</tr>
			
			<tr>
				<td class="contentarea" id="contentarea">
				<div class="portlet-body form">
					
						<form name="Form" class="form-horizontal form-bordered form-row-stripped" method="post" action="">
					<div class="portlet-body form content-box">
                      
                    	<h5><?=$this->language->_('Edit Beneficiary')?></h5>
	            <hr/>
                    	<div class="portlet-body form content-box">
                                             
                                                    <div class="form-body">
                                                    
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
					                                 
    
    <script>
								function replaceText() {
								    var x = document.getElementById("ACBENEF").value;
								    document.getElementById("ACBENEF1").value = x.slice(-4);
								}
							</script>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Accountt'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                
<b><?php echo $this->formLabel('BENEF_NO',$this->ACBENEF).$this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID)?>
									<?php echo $this->formHidden('ACBENEF',$this->ACBENEF)?></b>           

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>35,'onkeypress'=>'return forceChar(event)','class'=>'form-control'))?>

              </div>
    </div>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
               <input name="CURR_CODE" value="IDR" type="text" size="3" readonly class="form-control"> 

              </div>
    </div>
        <div class="SKNRTGS form-group row" >
	    <label class="control-label col-md-3"><?php echo $this->language->_('Citizenship'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php 
                // print_r($this->CITIZENSHIP);die;
									$this->CITIZENSHIP = $this->CITIZENSHIP=='' ? 'R' : $this->CITIZENSHIP;
									echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident','NR'=>'Non Resident'))
									//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
									
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Nationality'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php 
									$this->NATIONALITY = $this->NATIONALITY=='' ? 'W' : $this->NATIONALITY;
									echo $this->formRadio('NATIONALITY', $this->NATIONALITY, null, array('W'=>'WNI','N'=>'WNA'))
									//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
									
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Category'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <?php 
										//$arrFirst = array();
										//$arrFirst[''] = '-- Select Category --';
										//$this->lldCategoryArr = array_merge($arrFirst, $this->lldCategoryArr);
										echo $this->formApp("SELECT_DATA", $this->lldCategoryArr, $this->LLD_CATEGORY, "LLD_CATEGORY", null, array('allowEmpty'=>true,'class'=>'form-control'));
							
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Type'); ?></strong></label>
	          <div class="col-md-9">
                		<?php 
//										$arrFirst = array();
//										$arrFirst[''] = '-- Select ID Type --';
//										$this->lldSenderIdentifArr = array_merge($arrFirst, $this->lldSenderIdentifArr);
//										echo $this->formApp("SELECT_DATA", $this->lldSenderIdentifArr, $this->LLD_SENDERIDENTIF, "LLD_SENDERIDENTIF");
//										
										$arrFirst = array();
										$arrFirst[''] = '-- Select ID Type --';
										$this->lldBeneIdentifArr = array_merge($arrFirst, $this->lldBeneIdentifArr);
										echo $this->formApp("SELECT_DATA", $this->lldBeneIdentifArr, $this->LLD_BENEIDENTIF, "LLD_BENEIDENTIF");
							
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Number'); ?></label>
	          <div class="col-md-9">
                <?php 
										echo $this->formText('LLD_BENENUMBER',$this->LLD_BENENUMBER,array('size'=>40,'maxlength'=>16,'onkeypress'=>'return forceNumber(event)','class'=>'form-control'));
									?>

              </div>
    </div>
        <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Address'); ?>
									<?php if($this->address_mandatory == '1'){ 
										?>
										<strong class="formreq"><font color="red">&nbsp;*</font></strong>
										<?php 
									} ?></label>
	          <div class="col-md-9">
                <?php echo $this->formText('ADDRESS',$this->ADDRESS,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>

              </div>
    </div>
        <div class="form-group row">
	    <label class="control-label col-md-3">Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
	          <span class="input-group-btn">
        <?php echo $this->formText('BANK_NAME',$this->BANK_NAME,array('size'=>28,'maxlength'=>35,'readonly'=>true,'class'=>'form-control', 'style' => 'width:100%'))?>
        
        </span>
        <span class="input-group-btn">
        <input type="button" value="<?php echo $this->language->_('Bank Table'); ?>" onclick="showPopUpWindow('bankpopup');" class="btn btn-warning">
        </span>
									<?php echo $this->formHidden('CLR_CODE',$this->CLR_CODE,null)?>
									<?php echo $this->formHidden('SWIFT_CODE',$this->SWIFT_CODE,array('size'=>28,'maxlength'=>35,'id'=>'SWIFT_CODE','onblur'=>'checkSwift()'))?>
									<?php echo $this->formHidden('BENEFICIARY_BANK_CODE',$this->CLR_CODE,null)?>
									
			                

              </div>
    </div>
            <div class="SKNRTGS form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('City'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <select name="CITY_CODE" id="CITY_CODE" class="form-control">
									<option value=""><?='-- '.$this->language->_('Please Select').' --'?></option>';
									<?php 
										foreach ($this->cityCodeList as $value) {
										$CITY_CODE = $value['CITY_CODE'];
										$style = 'style="display:none"';
										if($this->SWIFT_CODE == $value['SWIFT_CODE']){
											$style = '';
										}
									?>
										<option <?=$style?> class="<?=$value['SWIFT_CODE']?>" value="<?=$CITY_CODE?>"<?=($value['CITY_CODE']==$this->CITY_CODE) ? 'selected' : '';?>><?=$value['CITY_NAME']?></option>
									<?php
									}
									?>
								</select>
								
									<?php 
//									echo $this->formSelect('CITY_CODE',$this->CITY_CODE,array(),$this->cityCodeArr); ?>
									<?php 
//									echo '<select name="CITY_CODE" id="CITY_CODE">
//											<option value="">-- '.$this->language->_('Please Select').' --</option>';
//									echo '</select>';
									?>

              </div>
    </div>
    <?php echo $this->formHidden('BANK_CITY',$this->BANK_CITY,array('size'=>40,'maxlength'=>15,'readonly'=>true))?>
            <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Email Address'); ?><strong class="formreq"></strong></label>
	          <div class="col-md-9">
                <?php echo $this->formText('ACBENEF_EMAIL',$this->ACBENEF_EMAIL,array('size'=>40,'class'=>'form-control'))?>
                </div>
              </div>
    </div>
					                                 
					</div>
					</div>
				<br/>
<div class="row">
  <div class="col-sm-6">
  <div class="panel panel-default content-box">
  <div class="panel-heading content-box" style="
	    color: #fff;
    height: 33px;
    line-height: 14px;
    font-size: 14px;
    background-color: #337ab7;
    border-color: #337ab7;
	    
	"><?php echo $this->language->_('Notes');?></div>
	<div class="panel-body">
			<div class="form-group">
					<?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon (;).'); ?>																		
										<br>
										<?php echo $this->language->_('For example'); ?>																		
										: wirda@gmail.com;gunawan@yahoo.com
			</div>
	</div>
</div>
<div class="col-sm-6">&nbsp;</div>
  </div>
</div>
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							
							
							
							
							
							
							
							
								<?php if ($this->confirmPage == 1){}else{?>
								<?php if($this->tokentype == '1'){
								?>
								<div class="row">
										
										<div class="col-md-3">
										<div class="panel panel-default" style="margin-bottom:0px">
                                          <div class="panel-heading" style="
                                        	    color: #fff;
                                            height: 33px;
                                            line-height: 14px;
                                            font-size: 14px;
                                            background-color: #337ab7;
                                            border-color: #337ab7;
                                        	    
                                        	"><?php echo $this->language->_('Use Your Mobile Token'); ?>!</div>
                                        	<div class="panel-body">
                                        			<div class="form-group">
                                        				<?php echo $this->language->_('Release on behalf of'); ?>:<br/>
                                        				<a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'requestactivationcode','action'=>'index','user_id' => $user_id),null,true);?>',640,380)"><?php echo $this->language->_('Request mToken'); ?> </a>
                                        			</div>
                                        			<div class="form-group control-label col-md-12">
															<font style='color:black'><?php echo $this->language->_('Enter Your Token'); ?> :</font>
                                        				<br/>
                                        				
													    <span class="input-group-btn"><span class="input-group-btn"><input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; width:100%;font-size: 16px;" type="password" autocomplete="off" class="form-control"></span></span>
														
                                        			</div>
                                        			
                                        	</div>
                                        </div>
										</div>
										<div class="col-md-9">
										</div>
										</div>
								<?php 
								}
								elseif($this->tokentype == '2'){?>
								
								<div class="row">
										
										<div class="col-md-3">
										<div class="panel panel-default" style="margin-bottom:0px">
                                          <div class="panel-heading" style="
                                        	    color: #fff;
                                            height: 33px;
                                            line-height: 14px;
                                            font-size: 14px;
                                            background-color: #337ab7;
                                            border-color: #337ab7;
                                        	    
                                        	"><?php echo $this->language->_('Use Your Token'); ?>!</div>
                                        	<div class="panel-body">
                                        			<div class="form-group">
                                        			<b><?= $user_id; ?></b><br/>
																		<input name="userOnBehalf" value="<?= $user_id?>" type="hidden">
																	<?php echo $this->language->_('Challenge Code'); ?>:<br/>
																	
																	<span class="input-group-btn"><input class="form-control" name="challengeCodeReq2" id="ACBENEF2" size="2" value=<?=$random ?> style="text-align: right; font-weight: bold;width:60px; font-size: 16px;" type="text" readonly></span>
																	<span class="input-group-btn" style="width: 100%"><input  class="form-control" name="challengeCodeReq" id="ACBENEF1" size="4" maxlength="20" value="<?= $this->challengeCodeReq1 ?>" style="text-align: left;width: 100%; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></span>
																	<br/>
																	<?php echo $this->language->_('Response Token'); ?> APLI 2 :<br/>
																	<input name="responseCodeReq" size="12" maxlength="6"  class="form-control" onkeypress="return forceNumber(event);" style="text-align: center;width: 100%; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
	
                                        			</div>
                                        			
                                        			
                                        	</div>
                                        </div>
										</div>
										<div class="col-md-9">
										</div>
										</div>
								<?php }elseif($this->tokentype == '3'){echo'<input name="challengeCodeReq" id="ACBENEF1" type="hidden">';}else{echo'<input name="challengeCodeReq" id="ACBENEF1" type="hidden">';}?>
							<?php }?>
							<br/>
							<div class="row">
                      <div class="col-sm-8">
                      <div class="panel panel-default" style="border:0px">
                      <input class = "btn btn-success" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'domesticcct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
                    										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btn btn-success"/>
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                      </div>
                    </div>
                    </tbody>
                    </table>
                    
					</form>
					</div>
					
				</td>
			</tr>
		</tbody>
	</table> -->
