<script>
	$(document).ready(function() {

		// if( '<?= $this->success ?>' || '<?= $this->error ?>' )
		// {
		// 	$("input").attr("disabled","disabled");
		// 	$("textarea").attr("disabled","disabled");
		// }
	});
</script>

<script type="text/javascript">
	function resetdata() {
		<?php
		foreach ($this->listccy  as $key => $value) {
			$idccy = 'ccytf' . $value['CCY_ID'];
			$valueccy = 'tfccy' . $value['CCY_ID'];
			$chargetype = 'charges_type' . $value['CCY_ID'];

			$tfamt = 'tfamt' . $value['CCY_ID'];
			$tfamount = 'tfamount' . $value['CCY_ID'];
			$ccyfa = 'ccyfa' . $value['CCY_ID'];

			$faccy = 'faccy' . $value['CCY_ID'];
			$faamount = 'faamount' . $value['CCY_ID'];
			$faamt = 'faamt' . $value['CCY_ID'];

			$ccypf = 'ccypf' . $value['CCY_ID'];
			$prccy = 'prccy' . $value['CCY_ID'];
			$min = 'min' . $value['CCY_ID'];
			$prmin = 'prmin' . $value['CCY_ID'];

			$max = 'max' . $value['CCY_ID'];
			$prmax = 'prmax' . $value['CCY_ID'];

			$pcy = 'pcy' . $value['CCY_ID'];
			$prpct = 'prpct' . $value['CCY_ID'];


		?>
			$('#<?php echo $idccy ?>').val($('#<?php echo "temp" . $idccy ?>').val());
			$('#<?php echo $tfamount ?>').val($('#<?php echo "temp" . $tfamount ?>').val());
			$('#<?php echo $faamount ?>').val($('#<?php echo "temp" . $faamount ?>').val());
			$('#<?php echo $min ?>').val($('#<?php echo "temp" . $prmin ?>').val());
			$('#<?php echo $max ?>').val($('#<?php echo "temp" . $prmax ?>').val());
			$('#<?php echo $pcy ?>').val($('#<?php echo "temp" . $prpct ?>').val());
		<?php
		}

		?>
		alert();

	}

	function localtransfer() {
		var d1 = document.getElementById("localtransfer");
		var d2 = document.getElementById("monthlyfee");
		var d3 = document.getElementById("valastransfer");
		if (d1.style.display == "none") {
			d1.style.display = "block";
			d2.style.display = "none";
			d3.style.display = "none";

		} else {}
	}

	function monthlyfee() {
		var d1 = document.getElementById("monthlyfee");
		var d2 = document.getElementById("localtransfer");
		var d3 = document.getElementById("valastransfer");
		if (d1.style.display == "none") {
			d1.style.display = "block";
			d2.style.display = "none";
			d3.style.display = "none";
		} else {}
	}

	function valastransfer() {
		var d1 = document.getElementById("valastransfer");
		var d2 = document.getElementById("localtransfer");
		var d3 = document.getElementById("monthlyfee");
		if (d1.style.display == "none") {
			d1.style.display = "block";
			d2.style.display = "none";
			d3.style.display = "none";
		} else {}
	}
</script>



<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Charges'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Global Charges Setting'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Global Charges Setting'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<?php if (!$this->cashCollateral) { ?>

	<div class="row">
		<div class="col-md-12">
			<h5><?= $this->language->_('Global Charges Setting') ?></h5>
			<h6><?= $this->language->_('Manage charges/fee service settings	') ?></h6>
		</div>
	</div>
	<br>

	<form name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'changes_id' => $this->changes_id), null, true) ?>">
		<?php // echo $this->changes_id; 
		?>
		<div id="valastransfer">

			<div class="row">
				<div align="left" class="col-md-12">
					<strong>Realtime Remittance Transfer Charges</strong>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<?php
					$optionCurrency = array(
						'maxlength' => 20,
						'size' => 12,
						'class' => 'currency form-control',
						'onfocus' => 'iNumFrmtUS(this.value,this.id)',
						'onblur' => 'NumFrmtUS(this.value,this.id)',
						'onkeypress' => 'return forceCurrency(event)'
					);
					$charges = 0;
					?>

					<table width="100%" align="center" class="table-sm table table-striped table-responsive">
						<tr>
							<th class="tablehead">CHARGE</th>
							<th class="tablehead" colspan="2">TRANSFER FEE</th>
							<th class="tablehead" colspan="2">FULL AMOUNT FEE</th>
							<th class="tablehead" colspan="4">PROVISION FEE</th>
						</tr>
						<tr>
							<th class="tablehead">CCY</th>
							<th width="90px" class="tablehead">CCY</th>
							<th class="tablehead">Charge Amount</th>
							<th width="90px" class="tablehead">CCY</th>
							<th class="tablehead">Charge Amount</th>
							<th width="90px" class="tablehead">CCY</th>
							<th class="tablehead">Min Provision</th>
							<th class="tablehead">Max Provision</th>
							<th class="tablehead">% from Trx</th>
						</tr>
						<?php
						foreach ($this->listccy  as $key => $value) {
						?>
							<tr>
								<td><?php echo $value['CCY_ID']; ?> <input type="hidden" name="ccy[]" value="<?php echo $value['CCY_ID']; ?>"></td>
								<td>
									<?php $idccy = 'ccytf' . $value['CCY_ID'];
									$valueccy = 'tfccy' . $value['CCY_ID'];
									$chargetype = 'charges_type' . $value['CCY_ID'];

									$tfamt = 'tfamt' . $value['CCY_ID'];
									$tfamount = 'tfamount' . $value['CCY_ID'];
									$ccyfa = 'ccyfa' . $value['CCY_ID'];

									$faccy = 'faccy' . $value['CCY_ID'];
									$faamount = 'faamount' . $value['CCY_ID'];
									$faamt = 'faamt' . $value['CCY_ID'];

									$ccypf = 'ccypf' . $value['CCY_ID'];
									$prccy = 'prccy' . $value['CCY_ID'];
									$min = 'min' . $value['CCY_ID'];
									$prmin = 'prmin' . $value['CCY_ID'];

									$max = 'max' . $value['CCY_ID'];
									$prmax = 'prmax' . $value['CCY_ID'];

									$pcy = 'pcy' . $value['CCY_ID'];
									$prpct = 'prpct' . $value['CCY_ID'];

									echo $this->formHidden('temp' . $idccy, $this->$valueccy);
									echo $this->formHidden('temp' . $tfamount, $this->$tfamt);
									echo $this->formHidden('temp' . $faamount, $this->$faamt);
									echo $this->formHidden('temp' . $prmin, $this->$prmin);
									echo $this->formHidden('temp' . $prmax, $this->$prmax);
									echo $this->formHidden('temp' . $prpct, $this->$prpct);

									?>
									<?php echo $this->formSelect($idccy, $this->$valueccy, array('id' => $idccy, 'class' => 'form-control'), $this->dataccy); ?>

									<input type="hidden" name="<?php echo $chargetype; ?>" value="3">
								</td>


								<td><?php echo $this->formText($tfamount, Application_Helper_General::displayMoney($this->$tfamt), $optionCurrency) ?></td>
								<td>
									<?php echo $this->formSelect($ccyfa, $this->$faccy, array('id' => $ccyfa, 'class' => 'form-control'), $this->dataccy); ?>

									<input type="hidden" name="<?php echo $chargetype; ?>" value="4">
								</td>
								<td><?php echo $this->formText($faamount, Application_Helper_General::displayMoney($this->$faamt), $optionCurrency) ?></td>
								<td>
									<?php echo $this->formSelect($ccypf, $this->$prccy, array('id' => $ccypf, 'class' => 'form-control'), $this->dataccy); ?>

									<input type="hidden" name="<?php echo $chargetype; ?>" value="5">
								</td>
								<td><?php echo $this->formText($min, Application_Helper_General::displayMoney($this->$prmin), $optionCurrency) ?></td>
								<td><?php echo $this->formText($max, Application_Helper_General::displayMoney($this->$prmax), $optionCurrency) ?></td>
								<td><input type="number" class="form-control " min="0" step="0.001" name="<?php echo $pcy ?>" value="<?php echo $this->$prpct; ?>"></td>
							</tr>


						<?php
						}

						?>



					</table>
					<br><br>
					<div align="center">

						<button type="button" onClick="resetdata();" class="btnwhite hov" name="button">Reset</button>
						<button type="submit" class="btngreen hov" name="submit" value='submit'>Submit</button>
					</div>

				</div>
			</div>
		</div>
	</form>

<?php } else { ?>

	<div class="row">
		<div class="col-md-12">
			<h5><?= $this->language->_('Cash Collateral Charges') ?></h5>
		</div>
	</div>
	<br>

	<form name="Form" method="post">
		<div id="monthlyfee">
			<div class="row">
				<div class="col-md-12">
					<table width="100%" class="table-sm">
						<tr>
							<td style="width: 200px;"><?= $this->language->_('Bank Provision Fee') ?></td>
							<td style=" width: 200px;">
								<?= $this->formText('bank_provision_fee', number_format($this->data["CHARGES_PCT"], 4), [
									"class" => "form-control col-md-12", "onfocus" => "reverseFormatNumber(this)", "onblur" => "numberWithCommas2(this.value,this.id)", "onkeypress" => "return forceCurrency(event)", "required" => ""
								]) ?>

							</td>
							<td>% (from BG nominal)</td>
						</tr>
						<tr>
							<td><?= $this->language->_('Bank Administration Fee') ?></td>
							<td style="position: relative;">
								<label style="position: absolute;z-index:9999;top:9px;left:20px">IDR</label>
								<?= $this->formText('bank_administration_fee', number_format($this->data["CHARGES_ADM"]), [
									"class" => "form-control col-md-12", "onfocus" => "iNumFrmt(this.value,this.id)", "onblur" => "numberWithCommas(this.value,this.id)", "onkeypress" => "return forceCurrency(event)", "style" => "padding-left: 50px;", "required" => ""
								]) ?>

							</td>
						</tr>
						<tr>
							<td><?= $this->language->_('Bank Stamp Fee') ?></td>
							<td style="position: relative;">
								<label style="position: absolute;z-index:9999;top:9px;left:20px">IDR</label>
								<?= $this->formText('bank_stamp_fee', number_format($this->data["CHARGES_STAMP"]), [
									"class" => "form-control col-md-12", "onfocus" => "iNumFrmt(this.value,this.id)", "onblur" => "numberWithCommas(this.value,this.id)", "onkeypress" => "return forceCurrency(event)", "style" => "padding-left: 50px;", "required" => ""
								]) ?>
							</td>
						</tr>
					</table>
					<br><br>
					<div align="center">
						<button onclick="resetdata();" type="button" class="btnwhite hov" name="button">Reset</button>
						<button type="submit" class="btngreen hov" name="submit" value="submit">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		function numberWithCommas(x, id) {
			const formattermoney = new Intl.NumberFormat('ID', {
				minimumFractionDigits: 0
			});
			var tag = '#' + id;
			// $(nams).text(formattermoney.format(obj[k].BALANCE));
			var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$(tag).val(x);
			//return 
		}

		function numberWithCommas2(x, id) {
			const formattermoney = new Intl.NumberFormat("EN", {
				minimumFractionDigits: 4,
				maximumFractionDigits: 4,
			});
			var tag = '#' + id;
			var x = formattermoney.format(x);
			$(tag).val(x);
		}

		function reverseFormatNumber(element) {
			var group = new Intl.NumberFormat("EN").format(1111).replace(/1/g, "");
			var decimal = new Intl.NumberFormat("EN").format(1.1).replace(/1/g, "");
			var reversedVal = element.value.replace(new RegExp("\\" + group, "g"), "");
			reversedVal = reversedVal.replace(new RegExp("\\" + decimal, "g"), ".");
			let save = Number.isNaN(reversedVal) ? 0 : reversedVal;
			element.value = save;
		}

		function resetdata() {
			document.querySelector("[name=bank_provision_fee]").value = ""
			document.querySelector("[name=bank_administration_fee]").value = ""
			document.querySelector("[name=bank_stamp_fee]").value = ""
		}

		function forceCurrency(evt) {
			// Only ASCII character in that range allowed
			var ASCIICode = (evt.which) ? evt.which : evt.keyCode
			if (ASCIICode > 31 && (ASCIICode < 46 || ASCIICode > 57 || ASCIICode == 47))
				return false;
			return true;
		}
	</script>

<?php } ?>