<?php
$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
foreach ($this->filterlist as $key_name => $row) {
    $optArr .=  '<option value="' . $key_name . '" >' . $this->language->_($row) . '</option>';
}
?>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Customer Management'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Special Obligee'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .tablehead {
        background-color: #0b549f !important;
    }

    .input-medium {
        width: 240px !important;
    }

    ul.errors {
        list-style: none;
        padding-left: 0;
    }
</style>

<?php $companyName  = $this->language->_('Company Name'); ?>
<?php
// $companyCode  = $this->language->_('Company Code');
?>
<?php $setFilter    = $this->language->_('Set Filter'); ?>
<?php $clearFilter  = $this->language->_('Clear Filter'); ?>

<div class="row content-box mb-4">
    <div class="col-md-12">
        <h5><?= $this->language->_('Special Obligee List') ?></h5>
        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true); ?>" method="get">
            <!-- <table id="logo-title" cellpadding="3" cellspacing="0" border="0" style="width:100%; <?= ($this->filter == false) ? 'display:none;' : ''; ?>">
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCompanyName', $companyName); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <?= $this->formText('fCompanyName', $this->fCompanyName, ['class' => 'form-control input-medium']); ?>
                    </td>
                </tr>

                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('pksenddate', "PKS End Date"); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <div class="col-sm-12 form-inline pl-0" style="float:left">
                            <input type='text' value="<?= $this->datefrom; ?>" style="font-size:1.2em; width: 120px" class='form-control d-inline input-small' name='datefrom' id='updateStart' readonly required>&nbsp;To&nbsp;
                            <input type='text' value="<?= $this->dateto; ?>" style="font-size:1.2em; width: 120px" class='form-control d-inline input-small' name='dateto' id='updateEnd' readonly required>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('pksstatus', "PKS Status"); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="pksstatus" id="pksstatus" class="form-control input-medium">
                            <option value>Pilih</option>
                            <option value="1" <?= ($this->pksstatus == 1) ? "selected" : ""; ?>>Approved</option>
                            <option value="2" <?= ($this->pksstatus == 2) ? "selected" : ""; ?>>Terminated</option>
                            <option value="3" <?= ($this->pksstatus == 3) ? "selected" : ""; ?>>Expired</option>
                            <option value="4" <?= ($this->pksstatus == 4) ? "selected" : ""; ?>>Freeze</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCompanyCode', $companyCode); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fCompanyCode" class="form-control input-medium">
                            <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                            <?php foreach ($this->companyCodeArr as $key => $value) : ?>
                                <option value="<?= $key; ?>" <?= ($key == $this->fCompanyCode) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <?= $this->formSubmit('filter', $setFilter, array('class' => 'btngreen hov mt-2')); ?>
                        <?= $this->formSubmit('filter_clear', $clearFilter, array('class' => 'btnwhite hov mt-2')); ?>
                    </td>
                </tr>
            </table> -->
            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                    </div>
                    <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                    <br />
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="sidebar-collapse" style="float:right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?= $this->language->_('Advanced Search'); ?>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div style="float:left; padding-right:5px;">
                <button type="button" class="btngrad hov" <?php

                                                            if ($this->hasPrivilege("OSBO")) {
                                                                echo "onclick=\"window.location.href='/specialobligee/index/onboarding'\"";
                                                            } else {
                                                                echo "disabled style='cursor: not-allowed'";
                                                            }

                                                            ?>><i class="fas fa-plus mr-2"></i><?= $this->language->_('Onboarding'); ?></button>
            </div>
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
            <!-- <div style="float:right; padding-left:5px;">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div> -->
            <div style="float:right; padding-left:5px;">
                <form method="POST">
                    <input type="submit" value="&#xf6dd <?= $this->language->_('Export Files'); ?>" name="csv" id="csv" class="fa hov">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
            <table class="table table-sm table-striped headerNew" id="myTable">
                <tr height="50px">
                    <th class="tablehead fth-header" width="3%" valign="top">No</th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Company'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Kab / City'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Country'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('PKS End Date'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Last Approved'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('PKS Status'); ?><span style="white-space:nowrap"></span>
                    </th>
                </tr>
                <?php if (count($this->paginator) > 0) : ?>
                    <?php
                    require_once 'Crypt/AESMYSQL.php';
                    $AESMYSQL = new Crypt_AESMYSQL();
                    $rand = $this->token;
                    $i = 0;
                    $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
                    foreach ($this->paginator as $row) {
                        $encrypted      = $AESMYSQL->encrypt($row['ID'], $rand);
                        $encrypted_id   = urlencode($encrypted);

                        $custName       = $row['CUST_NAME'] . ' (<a href="/specialobligee/index/detail/id/' . $encrypted_id . '">' . $row['CUST_ID'] . '</a>)';
                        $custCity       = $this->cityArr[$row['CUST_CITY']];
                        $custCountyName = $row['COUNTRY_NAME'];
                        $expiredDate    = ($row['PKS_EXP_DATE']) ? date('d M Y', strtotime($row['PKS_EXP_DATE'])) : '-';
                        $lastUpdated    = ($row['LAST_APPROVED']) ? date('d M Y', strtotime($row['LAST_APPROVED'])) . '<br>(' . $row['LAST_APPROVEDBY'] . ')' : '-';
                        $status         = $this->statusArr[$row['STATUS']];
                        //$plafondLimit   = ($row['PLAFOND_LIMIT']) ? Application_Helper_General::displayMoneyplain($row['PLAFOND_LIMIT']) : 0;
                        $td_css         = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                        echo '<tr>
                                    <td class="' . $td_css . '">' . $counter++ . '</td>
                                    <td class="' . $td_css . '">' . $custName . '</td>
                                    <td class="' . $td_css . '">' . $custCity . '</td>
                                    <td class="' . $td_css . '">' . $custCountyName . '</td>
                                    <td class="' . $td_css . '">' . $expiredDate . '</td>
                                    <td class="' . $td_css . '">' . $lastUpdated . '</td>
                                    <td class="' . $td_css . '">' . $status . '</td>
                                  
                                </tr>';
                        $i++;
                    }
                    ?>
                <?php else : ?>
                    <tr>
                        <td colspan="8" class="tbl-evencontent" align="center"> ---<?= $this->language->_('No Data'); ?>--- </td>
                    </tr>
                <?php endif; ?>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var filterCheck = false;
    var filterParam = <?= json_encode($this->saveFilter); ?>

    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }

    $(document).ready(function() {

        <?php foreach ($this->saveFilter as $value) {
            if ($value) { ?>
                filterCheck = true;
        <?php }
        } ?>

        if (filterCheck) {
            setTimeout(() => {
                document.querySelector("#sidebar-collapse").dispatchEvent(new Event("click"))

                let hitung = 0;
                let pksEndDate = false;
                let saveEndDate = null;
                for (let keyFilter in filterParam) {
                    if (filterParam[keyFilter] != null) {
                        let whereCol = null;

                        switch (keyFilter) {
                            case "fCompanyName":
                                whereCol = "companyName"
                                break;
                            case "pksstatus":
                                whereCol = "pksStatus"
                                break;
                            case "datefrom":
                                whereCol = "pksEndDate"
                                break;
                            case "dateto":
                                whereCol = "pksEndDate"
                                break;
                            default:
                                break;
                        }

                        if (keyFilter == "datefrom" || keyFilter == "dateto") {
                            if (!pksEndDate) {
                                document.querySelector("#addwhere").dispatchEvent(new Event("click"))
                                document.querySelector(`#wherecol-${hitung}`).value = String(whereCol);
                                document.querySelector(`#wherecol-${hitung}`).dispatchEvent(new Event("change"))
                                saveEndDate = hitung
                                pksEndDate = true
                            }
                        } else {
                            document.querySelector("#addwhere").dispatchEvent(new Event("click"))
                            document.querySelector(`#wherecol-${hitung}`).value = String(whereCol);
                            document.querySelector(`#wherecol-${hitung}`).dispatchEvent(new Event("change"))
                        }
                        if (keyFilter == "datefrom") {
                            document.querySelector(`#colvalue-${saveEndDate}`).querySelector("#updateStart").value = String(filterParam[keyFilter])
                        } else if (keyFilter == "dateto") {
                            document.querySelector(`#colvalue-${saveEndDate}`).querySelector("#updateEnd").value = String(filterParam[keyFilter])
                        } else {
                            document.querySelector(`#colvalue-${hitung}`).firstElementChild.value = filterParam[keyFilter]
                        }
                        hitung++;
                    }

                }
            }, 1000);
        }

        check_expire();
        $('#fixTable').fixTableHeader();

        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
            }
        });

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();
            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

        $("#addwhere").click(function() {
            const saveValue = [];
            Array.from(document.querySelector("#wheres").children).forEach(e => {
                if (e.querySelector("select[name='wherecol[]']").value) {
                    saveValue.push(e.querySelector("select[name='wherecol[]']").value)
                }
            })
            console.log(saveValue)
            if (document.querySelector("#wheres").childElementCount === 3) return;
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name=\"wherecol[]\" style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            saveValue.forEach(v => {
                Array.from(document.querySelector(`#wherecol-${ctr}`).children).forEach(o => {
                    if (o.value === v) {
                        o.style.display = 'none'
                    }
                })
            })
            ctr++;
            $("#wherectr").val(ctr);
        });

    });

    function getOpt(elem) {
        const getAllElem = document.querySelectorAll("select[name='wherecol[]']");

        getAllElem.forEach(e => {
            if (elem.value) {
                if (elem === e) {
                    return;
                }

                console.log(e.querySelector(`option[value='${elem.value}']`))
                e.querySelector(`option[value='${elem.value}']`).style.display = 'none'

                return;
            }

        })

        if (!elem.value) {
            console.log(elem.querySelectorAll(`option`))
        }

        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', false);
        });

        $(colval).empty();
        if (colomnname == 'pksEndDate') {
            $(colval).append("<input type='text' style=\"font-size:1.2em; width: 120px\" class='form-control d-inline input-small' name='datefrom' id='updateStart' readonly required>&nbsp;To&nbsp; <input type='text' style='font-size:1.2em; width: 120px' class='form-control d-inline input-small' name='dateto' id='updateEnd' readonly required>");

            $('#updateStart').datepicker({
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4'
            });

            $('#updateEnd').datepicker({
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'companyName') {
            $(colval).append("<input type='text' name='fCompanyName' style='width:100%' value='' maxlength='160'  class='form-control' >");
        } else if (colomnname == 'pksStatus') {
            $(colval).append('<select name="pksstatus" id="pksstatus" class="form-control input-medium"> <option value>Pilih</option> <option value="1" >Approved</option> <option value="2" >Terminated</option> <option value="3" >Expired</option> <option value="4" >Freeze</option> </select>');
        } else {
            $(colval).append("<input type='text' style='width:100%' value='' maxlength='160'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }

    function check_expire() {
        $.ajax({
            url: "<?= $this->url(array('action' => 'checkexpire')); ?>",
            method: "GET",
            dataType: "JSON",
            success: function(response) {
                // 
            }
        });
    }
</script>