<link href="/css/select2_353.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Customer Management'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Special Obligee'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Update'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    table td {
        vertical-align: top !important;
    }

    button.is-invalid {
        border-color: #dc3545 !important;
    }

    .input-medium {
        width: 320px !important;
    }

    .input-date {
        width: 120px !important;
    }

    .input-file {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

    .gj-datepicker {
        width: 160px !important;
    }

    .input-group-prepend,
    .input-group-append {
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
    }

    .headercolor {
        color: #fff;
        background-color: #0b549f !important;
    }

    .btn-sm {
        height: 29px !important;
        padding: .10rem .5rem !important;
        border-color: #ccc !important;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
    }

    .btn-light {
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
    }

    .select2-container {
        padding: 0 !important;
    }
</style>

<?php if ($this->err) { ?>
    <div class="errmsg">
        <?php
        echo $this->errmsg;
        ?>
    </div><br />
<?php
}
?>


<h5><?= $this->language->_('Special Obligee - Agreement Update'); ?></h5>

<form action="" method="post" enctype="multipart/form-data">
    <div class="row content-box mb-3">
        <div class="col-md-12">
            <table class="table-hover my-3" cellpadding="5" style="width:100%">
                <tr>
                    <td><?= $this->language->_('Company'); ?>&nbsp;<small class="text-danger">*</small></td>
                    <td>:</td>
                    <td><b><?= strtoupper($this->data['CUST_NAME']) . ' (' . $this->data['CUST_ID'] . ')'; ?></b></td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Fee Sharing Account'); ?>&nbsp;<small class="text-danger">*</small></td>
                    <td>:</td>
                    <?php $debited_acct_val = $this->debited_acct ?: $this->data['SHARING_ACCT']; ?>
                    <td>
                        <select name="debited_acct" id="debited_acct" class="form-control">
                            <option value="">-- <?= strtoupper($this->language->_('Select Fee Sharing Account')); ?> --</option>
                            <?php
                            foreach ($this->debitedAcctArr as $row) :
                            ?>
                                <?php if ($row["ACCT_DESC"] == "Giro") { ?>
                                    <option value="<?= $row['ACCT_NO']; ?>" <?= ($debited_acct_val == $row['ACCT_NO']) ? 'selected' : ''; ?>><?= $row['ACCT_NO'] . ' (' . $row['CCY_ID'] . ')' . ' / ' . $row['ACCT_NAME'] . ' / ' . $row['ACCT_DESC']; ?></option>
                            <?php
                                }
                            endforeach;
                            ?>
                        </select>
                        <small class="text-danger"><?= $this->errDesc['debited_acct']; ?></small>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></td>
                    <td>:</td>
                    <?php $pks_number_val = $this->pks_number ?: $this->data['PKS_NUMBER']; ?>
                    <td>
                        <?= $this->formText('pks_number', $pks_number_val, ['class' => 'form-control']); ?>
                        <small class="text-danger"><?= $this->errDesc['pks_number']; ?></small>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></td>
                    <td>:</td>
                    <td>
                        <input type="file" name="pks_file" id="pks_file" class="form-control input-file input-medium" onchange="check_button()" <?= (empty($this->data["PKS_FILE"])) ? "" : "hidden"; ?>>
                        <?php if (!empty($this->data["PKS_FILE"])) { ?>
                            <div id="show_file">
                                <label for="pks_file" class="col-form-label px-2" style="border: 1px solid black; background-color: #e9ecef;">Pilih File</label>
                                <label class="col-form-label"><?= $this->data["PKS_FILE"]; ?></label>
                            </div>
                        <?php } ?>
                        <small class="text-danger"><?= $this->errDesc['pks_file']; ?></small>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Agreement Start Date'); ?>&nbsp;<small class="text-danger">*</small>
                    </td>
                    <td>:</td>
                    <?php $pks_start_date_val = $this->pks_start_date ?: $this->data['PKS_START_DATE']; ?>
                    <td>
                        <input type="text" name="pks_start_date" id="pks_start_date" class="form-control input-date" value="<?= $pks_start_date_val; ?>" readonly>
                        <small class="text-danger"><?= $this->errDesc['pks_start_date']; ?></small>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Agreement End Date'); ?>&nbsp;<small class="text-danger">*</small></td>
                    <td>:</td>
                    <?php $pks_exp_date_val = $this->pks_exp_date ?: $this->data['PKS_EXP_DATE']; ?>
                    <td>
                        <?= $this->formText('pks_exp_date', $pks_exp_date_val, ['class' => 'form-control input-date', 'readonly' => true]); ?>
                        <small class="text-danger"><?= $this->errDesc['pks_exp_date']; ?></small>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Fee Sharing'); ?>&nbsp;<small class="text-danger">*</small></td>
                    <td>:</td>
                    <?php $sharing_fee = $this->sharing_fee ?: $this->data['SHARING_FEE']; ?>
                    <td>
                        <div class="d-flex">
                            <?= $this->formText('sharing_fee', $sharing_fee, ['class' => 'form-control', 'style' => 'width:160px', 'onkeypress' => 'return forceCurrencyOCBC(event)']); ?>
                            <span class="ml-3"><?= $this->language->_('% (from bank provision fee paid)'); ?></span>
                        </div>
                        <small class="text-danger"><?= $this->errDesc['sharing_fee']; ?></small>
                    </td>
                </tr>


            </table>
        </div>
    </div>
    <center>
        <?= $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/specialobligee"']); ?>
        <?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class' => 'btngreen hov']); ?>
    </center>
</form>

<script src="/js/select2_353.min.js"></script>
<script type="text/javascript">
    const maxOneHundread = (e) => {
        const elem = e.target;

        if (parseInt(elem.value) <= 100) return;

        alert("Tidak bisa lebih dari 100");
        elem.value = 100
    }


    $(document).ready(function() {

        document.querySelector("#sharing_fee").addEventListener("blur", maxOneHundread)

        $('.select2').select2({
            placeholder: 'Search here',
            allowClear: true,
            matcher: function(term, text) {
                if (term === '') return null;
                return text.toUpperCase().indexOf(term.toUpperCase()) == 0;
            }
        });
        $('.select2-search-choice-close').remove();

        document.querySelector("#pks_file").addEventListener("change", (event) => {

            const getFile = event.target;
            if (getFile.files[0].size > 10000000) {
                alert('File tidak boleh lebih dari 10 MB');
                getFile.value = '';
                return;
            }

            event.target.removeAttribute("hidden");
            document.querySelector("#show_file").hidden = "true"
        })

        $('#pks_start_date').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            // minDate: function() {
            //     var date = new Date();
            //     date.setDate(date.getDate());
            //     return new Date(date.getFullYear(), date.getMonth(), date.getDate());
            // },
        });
        $('#pks_exp_date').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            minDate: function() {
                var date = new Date();
                date.setDate(date.getDate() + 1);
                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
            },
        });

    });
</script>