
<div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('cheque Management')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Incoming')?></span>
                       
                    </li>
                   

                </ul>
            </div>
        </div>
</div>


<br />
<?php if($this->error){ ?>
<div class="errmsg">
<?php 
		echo $this->msg_failed;
?>
</div>
<?php } ?>
<?php 
// if($this->user_id){	
?>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">

  <!-- Default panel contents -->
 

<div class="card-header cardhead text-white"><strong><?php echo $this->language->_('Cheque Detail');?></strong></div>

<div class="panel-body">

	
	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Date Time');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Source Account No');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Source Account Name');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('CCY');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Product Type');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Seri');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('CH / BG No');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Number Of Sheets');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	
</div>

</div>

</div>
</div>


	
		<div class="col-md-5 mx-auto" align="center">
  <table width="90%" class="table-borderless">
        <tbody>
          <tr><td align="center"><h5 style="color: #003f6e;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
          <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
            <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

          <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
          <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

          <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr>
          <tr>
            <td align="center">
              <div class="input-group">
                <input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input class="tokeninput mx-auto" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input class="tokeninput mx-auto" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input class="tokeninput mx-auto" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input class="tokeninput mx-auto" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input class="tokeninput mx-auto" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
              </div>
            </td>
            </tr>
        </tbody>
      </table>
      <br>
      <br>
    <div class="form-group row ">
    <label class="control-label col-md-12" align="center">
    <div class="formbutton">
      
           <?php
               echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/index'", 'class' => 'btnwhite hov','style'=>'font-size: 15px;'));
              ?>
            <?php echo $this->formSubmit('submit',$this->language->_('Activation'),array('class'=>'btngreen hov','onClick'=>'submitbtn(this)','id','subbutton')); ?>
      
      <script>
        function submitbtn(){
          document.getElementById("subbutton").style.display ="none";
          document.getElementById("Submit_id").style.display ="inline";
        }
      </script>
    </div>                                                            
    </label>
  </div>
</div>
<br/>
				<br/>       


  </form>
  </div>


<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>