<script src="/js/jquery.mask.min.js"></script>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Home'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Submission'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Preliminary Document'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  table {
    font-size: 14px !important;
  }

  button:disabled {
    cursor: not-allowed;
  }

  .headercolor {
    color: #fff;
    background-color: #0b549f !important;
  }

  .btn-sm {
    padding: .10rem .3rem !important;
  }
</style>

<div class="row mb-3">
  <div class="col-md-12">
    <h5><?= strtoupper($this->language->_('Dokumen Awal Principal')); ?></h5>
    <p><b><?= $this->language->_('Dokumen inisial ini akan digunakan untuk kebutuhan pelaporan SLIK OJK'); ?>.</b></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <?php if ($this->is_update && $this->cekView == '') : ?>
      <div class="alert alert-danger">
        <?= $this->language->_('No changes allowed for this record while awaiting approval for previous change'); ?>
      </div>
    <?php endif; ?>
    <table width="100%" cellpadding="5" class="mb-4">
      <tr>
        <td <?= ($this->data['NPWP']) ? '' : 'style="width: 1%; white-space: nowrap;"' ?>><?= $this->language->_('Hubungan Principal dengan Bank BTN'); ?></td>
        <td <?= ($this->data['NPWP']) ? '' : 'style="width: 1%; white-space: nowrap;"' ?>>:</td>
        <td>
          <?= $this->relationshipArr[$this->data['RELATIONSHIP']] ?: $this->language->_('Not Related'); ?>
          <?php if ($this->relationshipArr[$this->data['RELATIONSHIP']]) { ?>
            <div style="display: inline-block;">
              <div style="display: inline-block;">
                <div style="display: flex;width: 20px;height: 20px;border: 1px solid red;align-content: center;justify-content: center;border-radius: 100%;cursor: default;" class="text-danger" id="touchme">i</div>
              </div>
              <div style="position: relative;display: inline-block;" id="forchange">&nbsp;
                <div style="position: absolute;width: 250px;left: 0;background-color: white;border: 1px solid red;" class="text-danger pl-2 pr-2" id="notouch"><?= $this->getRelationship[$this->data['RELATIONSHIP']]; ?></div>
                <script type="text/javascript">
                  document.addEventListener('DOMContentLoaded', () => {
                    document.querySelector("#notouch").style.top = `-${document.querySelector("#notouch").clientHeight/3}px`;
                    document.querySelector('#forchange').style.display = 'none'

                    document.querySelector("#touchme").addEventListener('mouseenter', () => {
                      document.querySelector('#forchange').style.display = 'inline-block'
                    })

                    document.querySelector("#touchme").addEventListener('mouseleave', () => {
                      document.querySelector('#forchange').style.display = 'none'
                    })
                  })
                </script>
              </div>
            </div>
          <?php } ?>
        </td>
      </tr>
      <tr class="headercolor">
        <td colspan="3"><b><?= $this->language->_('Dokumen Perusahaan'); ?></b></td>
      </tr>
      <?php if ($this->data['NPWP']) { ?>
        <tr>
          <td width="270"><?= $this->language->_('Perusahaan'); ?></td>
          <td width="10">:</td>
          <td><?= $this->data['CUST_NAME'] ?: '-'; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('NPWP'); ?></td>
          <td>:</td>
          <td>
            <label class="npwp"><?= $this->data['NPWP'] ?: '-'; ?></label>
            <?php if ($this->data['NPWP_FILE'] != '' && $this->data['NPWP_FILE'] != '-') : ?>
              <a href="/preliminary/index/index/download/file/id/1" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
            <?php endif ?>
          </td>
        </tr>
        <tr>
          <td><?= $this->language->_('Akta Pendirian'); ?></td>
          <td>:</td>
          <td>
            <?= $this->data['PENDIRIAN_NUMBER'] ?: '-'; ?>
            <?php if ($this->data['PENDIRIAN_NUMBER_FILE'] != '' && $this->data['PENDIRIAN_NUMBER_FILE'] != '-') : ?>
              <a href="/preliminary/index/index/download/file/id/2" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
            <?php endif ?>
          </td>
        </tr>
        <tr>
          <td><?= $this->language->_('Tanggal Akta Pendirian'); ?></td>
          <td>:</td>
          <td><?= ($this->data['PENDIRIAN_DATE'] != '0000-00-00' && $this->data['PENDIRIAN_DATE'] != '') ? date('d M Y', strtotime($this->data['PENDIRIAN_DATE'])) : '-'; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Tempat Akta Pendirian'); ?></td>
          <td>:</td>
          <td><?= $this->data['PENDIRIAN_PLACE'] ?: '-'; ?></td>
        </tr>
        <?php if ($this->data['SK_PENGESAHAN_NUMBER']) { ?>
          <tr>
            <td><?= $this->language->_('SK Pengesahan Pendirian'); ?></td>
            <td>:</td>
            <td>
              <?= $this->data['SK_PENGESAHAN_NUMBER'] ?: '-'; ?>
              <?php if ($this->data['SK_PENGESAHAN_FILE'] != '' && $this->data['SK_PENGESAHAN_FILE'] != '-') : ?>
                <a href="/preliminary/index/index/download/file/id/5" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
              <?php endif ?>
            </td>
          </tr>
        <?php } ?>
        <?php if ($this->data['SK_PENGESAHAN_DATE'] != '0000-00-00' && $this->data['SK_PENGESAHAN_DATE'] != '') { ?>
          <tr>
            <td><?= $this->language->_('Tanggal SK Pengesahan Pendirian'); ?></td>
            <td>:</td>
            <td><?= ($this->data['SK_PENGESAHAN_DATE'] != '0000-00-00' && $this->data['SK_PENGESAHAN_DATE'] != '') ? date('d M Y', strtotime($this->data['SK_PENGESAHAN_DATE'])) : '-'; ?></td>
          </tr>
        <?php } ?>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <?php if ($this->data['PERUBAHAN_NUMBER']) { ?>
          <tr>
            <td><?= $this->language->_('Akta Perubahan Terakhir'); ?></td>
            <td>:</td>
            <td>
              <?= $this->data['PERUBAHAN_NUMBER'] ?: '-'; ?>
              <?php if ($this->data['PERUBAHAN_FILE'] != '' && $this->data['PERUBAHAN_FILE'] != '-') : ?>
                <a href="/preliminary/index/index/download/file/id/3" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
              <?php endif ?>
            </td>
          </tr>
        <?php } ?>
        <?php if ($this->data['PERUBAHAN_DATE'] != '0000-00-00' && $this->data['PERUBAHAN_DATE'] != '') { ?>
          <tr>
            <td><?= $this->language->_('Tanggal Akta Perubahan'); ?></td>
            <td>:</td>
            <td><?= ($this->data['PERUBAHAN_DATE'] != '0000-00-00' && $this->data['PERUBAHAN_DATE'] != '') ? date('d M Y', strtotime($this->data['PERUBAHAN_DATE'])) : '-'; ?></td>
          </tr>
        <?php } ?>

        <?php if ($this->data['SK_PERUBAHAN_NUMBER']) { ?>
          <tr>
            <td><?= $this->language->_('SK Pengesahan Perubahan'); ?></td>
            <td>:</td>
            <td>
              <?= $this->data['SK_PERUBAHAN_NUMBER'] ?: '-'; ?>
              <?php if ($this->data['SK_PERUBAHAN_FILE'] != '-' && $this->data['SK_PERUBAHAN_FILE'] != '') : ?>
                <a href="/preliminary/index/index/download/file/id/4" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
              <?php endif ?>
            </td>
          </tr>
        <?php } ?>
        <?php if ($this->data['SK_PERUBAHAN_DATE'] != '0000-00-00' && $this->data['SK_PERUBAHAN_DATE'] != '') { ?>
          <tr>
            <td><?= $this->language->_('Tanggal SK Pengesahan Perubahan'); ?></td>
            <td>:</td>
            <td><?= ($this->data['SK_PERUBAHAN_DATE'] != '0000-00-00' && $this->data['SK_PERUBAHAN_DATE'] != '') ? date('d M Y', strtotime($this->data['SK_PERUBAHAN_DATE'])) : '-'; ?></td>
          </tr>
        <?php } ?>
      <?php } else { ?>
        <td colspan="3" align="center"><?= $this->language->_('No Data'); ?></td>
      <?php } ?>
    </table>

    <p><b><?= $this->language->_('Daftar Susunan Pengurus dan/atau Pemilik Badan Usaha'); ?></b></p>
    <table width="100%" cellpadding="5" class="table-striped mb-4">
      <tr class="headercolor" style="border:1px solid #0b549f">
        <td><?= $this->language->_('Nama'); ?></td>
        <td><?= $this->language->_('Tipe'); ?></td>
        <!-- <td><?= $this->language->_('Jenis ID'); ?></td> -->
        <!--<td><?= $this->language->_('Kewarga'); ?><br><?= $this->language->_('negaraan'); ?></td>-->
        <!-- <td><?= $this->language->_('Nomor ID'); ?></td> -->
        <td style="width: 20% !important;"><?= $this->language->_('Posisi'); ?></td>
        <td><?= $this->language->_('Saham'); ?> %</td>
        <td><?= $this->language->_('Status'); ?></td>
        <!--<td style="width: 10% !important;"><?= $this->language->_('Action'); ?></td>-->
      </tr>
      <?php if ($this->dataMember) : ?>
        <?php
        foreach ($this->dataMember as $row) :
          // if ($row['ENTITY_ID'] == 'B') {
          //   $idType = 'NPWP';
          // } elseif ($row['ENTITY_ID'] == 'M') {
          //   $idType = '-';
          // } elseif ($row['CITIZENSHIP'] == 1) {
          //   $idType = 'KTP';
          // } elseif ($row['CITIZENSHIP'] == 2) {
          //   $idType = 'Paspor';
          // }
        ?>
          <tr>
            <td><?= strtoupper($row['NAME']); ?></td>
            <td><?= $this->entityArr[$row['ENTITY_ID']]; ?></td>
            <!-- <td><?= $idType; ?></td> -->
            <!-- <td><?= $row['ID_NUMBER'] ?: '-'; ?></td> -->
            <!--<td><?= ($row['CITIZENSHIP'] == 1) ? "WNI" : "WNA"; ?></td>-->
            <td><?= $this->positionArr[$row['POSITION']]; ?></td>
            <td><?= $row['SHARE']; ?></td>
            <td><?= ucwords($this->statusArr[$row['STATUS']]); ?></td>
            <!--<td>
              <a href="javascript:void(0)" class="btn btn-sm btn-secondary" title="Detail" onclick="detail_member(<?= $row['ID']; ?>)"><i class="fas fa-search"></i></a>&nbsp;
              <?php if ($row['ID_FILE']) : ?>
                <a href="/preliminary/index/index/download/file/mid/<?= $row['ID_NUMBER']; ?>" class="btn btn-sm btn-secondary" title="Download"><i class="fas fa-download"></i></a>
                <!-- <?php //else : 
                      ?> -->
            <!-- <a href="#" class="btn btn-sm btn-secondary" title="Download"><i class="fas fa-download"></i></a> -->
          <?php endif; ?>
          <!--</td>-->
          </tr>
        <?php endforeach; ?>
      <?php else : ?>
        <tr style="border:1px solid #999">
          <td colspan="8" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
        </tr>
      <?php endif; ?>
    </table>
    <?php if ($this->data['NPWP']) { ?>
      <table class="mt-3 mb-4" cellpadding="5" style="width:100%">
        <tr>
          <td class="headercolor"><?= $this->language->_('Detail'); ?></td>
          <td class="headercolor text-right"><a href="javascript:void(0)" class="text-white mr-2 active" onclick="hideShow2(this)"><i class="fa fa-angle-up up" style="display:none"></i><i class="fa fa-angle-down down"></i></a></td>
        </tr>
        <tr id="detail" style="">
          <td colspan="2" class="p-0">
            <table width="100%" cellpadding="5">
              <?php $no = 0;
              foreach ($this->dataMember as $row) : $no++;
              ?>
                <tr>
                  <td style="background-color:#eee;"><?= $no . ".   " . strtoupper($row['NAME']); ?> (<?= ($row['CITIZENSHIP'] == 1) ? "WNI" : "WNA"; ?>) / <?= $this->positionArr[$row['POSITION']]; ?></td>
                </tr>
                <?php if (strtolower($row['ENTITY_ID']) == 'm') : ?>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                <?php else : ?>
                  <tr class="<?= (strtolower($row['ENTITY_ID']) == 'm') ? 'hidden' : ''; ?>">
                    <td style="">
                      <table class="mt-3 mb-4" cellpadding="5" style="width:100%">
                        <tr>
                          <!-- <td width="270"><?= ($row['ENTITY_ID'] == 'L' || $row['ENTITY_ID'] == 'P') ?  (($row['CITIZENSHIP'] == '1') ? 'KTP' : 'Paspor') : (($row['ENTITY_ID'] == 'B') ? 'NPWP' : '-'); ?></td> -->
                          <td width="270"><?= strtoupper($row['ID_TYPE']); ?></td>
                          <td>
                            <span class="<?= ($row['ENTITY_ID'] == 'L' || $row['ENTITY_ID'] == 'P') ?  (($row['CITIZENSHIP'] == '1') ? '' : '') : (($row['ENTITY_ID'] == 'B') ? 'npwp' : ''); ?>"><?= $row['ID_NUMBER']; ?></span>
                            <?php if ($row['ID_FILE']) : ?>
                              <a href=" /preliminary/index/index/download/file/mid/<?= $row['ID_NUMBER']; ?>" class="btn btn-sm btn-secondary" title="Download"><i class="fas fa-download"></i></a>
                            <?php endif; ?>
                          </td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td><?= $this->language->_('Alamat'); ?></td>
                          <td><?= $row['ADDRESS']; ?></td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td><?= $this->language->_('Kelurahan'); ?></td>
                          <td><?= $row['KELURAHAN']; ?></td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td><?= $this->language->_('Kecamatan'); ?></td>
                          <td><?= $row['KECAMATAN']; ?></td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td><?= $this->language->_('Kabupaten / Kota'); ?></td>
                          <td><?= $this->cityArr[$row['KAB_CITY']]; ?></td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                <?php endif ?>
              <?php endforeach; ?>
            </table>
          </td>
        </tr>
      </table>
    <?php } ?>

    <?php if (!$this->cekView) { ?>
      <table class="mt-3 mb-4" cellpadding="5" style="width:100%">
        <tr>
          <td class="headercolor"><?= $this->language->_('Riwayat'); ?></td>
          <td class="headercolor text-right"><a href="javascript:void(0)" class="text-white mr-2 active" onclick="hideShow(this)"><i class="fa fa-angle-up up" style="display:none"></i><i class="fa fa-angle-down down"></i></a></td>
        </tr>
        <tr id="riwayat" style="">
          <td colspan="2" class="p-0">
            <table width="100%" cellpadding="5">
              <tr>
                <td style="width:28%;"><?= $this->language->_('Terakhir Disarankan'); ?></td>
                <td style="width:30%;"><?= (!empty($this->datalastsuggest['LAST_SUGGESTED'])) ? date('d M Y', strtotime($this->datalastsuggest['LAST_SUGGESTED'])) : "-"; ?>&nbsp; <?= $this->datalastsuggest['USER_FULLNAME'] ?> (<?= $this->datalastsuggest['USER_ID'] ?>)</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td style="width:28%;"><?= $this->language->_('Terakhir Disetujui'); ?></td>
                <td style="width:30%;"><?= ($this->datalastapprove['LAST_APPROVED']) ? date('d M Y', strtotime($this->datalastapprove['LAST_APPROVED'])) : "-"; ?>&nbsp; <?= $this->datalastapprove['USER_FULLNAME'] ?> (<?= $this->datalastapprove['USER_ID'] ?>)</td>
                <td>&nbsp;</td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    <?php } ?>
    <?php if ($this->hasPrivilege('USPD')) : ?>
      <center>
        <?php if ($this->cekView == "") { ?>
          <?php $attr = ($this->is_update) ? ['class' => 'btngreen hov disabled', 'disabled' => true] : ['class' => 'btngreen hov', 'onclick' => "location.href='/preliminary/index/update'"]; ?>
          <?= $this->formButton('update', strtoupper($this->language->_('Update')), $attr); ?>
        <?php } ?>
      </center>
    <?php endif; ?>
  </div>
</div>

<div class="modal fade" id="modal_detail" tabindex="-1" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title">Modal Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover" width="100%">
          <tr>
            <td width="150">Jenis ID</td>
            <td width="10">:</td>
            <td><span id="type_id"></span></td>
          </tr>
          <tr>
            <td width="150">ID Number</td>
            <td width="10">:</td>
            <td><span id="id_number"></span></td>
          </tr>
          <tr>
            <td width="150">Address</td>
            <td width="10">:</td>
            <td><span id="address"></span></td>
          </tr>
          <tr>
            <td>Kelurahan</td>
            <td>:</td>
            <td><span id="kelurahan"></span></td>
          </tr>
          <tr>
            <td>Kecamatan</td>
            <td>:</td>
            <td><span id="kecamatan"></span></td>
          </tr>
          <tr>
            <td>Kabupaten/City</td>
            <td>:</td>
            <td><span id="kab_city"></span></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer justify-content-center">
        <?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
      </div>
    </div>
  </div>
</div>

<?php if ($this->cekView != "") { ?>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      document.querySelector("nav").remove();
      document.querySelector("#leftpanel").remove();
      document.querySelector("#rightpanel").style.display = "none";
      document.querySelector("body").classList.add("pt-0");
      document.querySelector("main").classList.add("pt-0");
      document.querySelector("#centerpanel").children[0].remove();
      document.querySelector("main").children[0].children[0].classList.remove("offset-md-2", "backstyle", "centerpanel", "col-md-8");
    });
  </script>
<?php } ?>

<script type="text/javascript">
  $(document).ready(function() {

    // Format nomor HP.
    // $('.npwp').mask('00.000.000.0-000.000');
  });

  function hideShow(obj) {
    if ($(obj).hasClass('active')) {
      $(obj).removeClass('active');
      $('#riwayat').hide();
      $('.down').hide();
      $('.up').show();
    } else {
      $(obj).addClass('active');
      $('#riwayat').show();
      $('.down').show();
      $('.up').hide();
    }
  }

  function hideShow2(obj) {
    if ($(obj).hasClass('active')) {
      $(obj).removeClass('active');
      $('#detail').hide();
      $('.down').hide();
      $('.up').show();
    } else {
      $(obj).addClass('active');
      $('#detail').show();
      $('.down').show();
      $('.up').hide();
    }
  }


  function detail_member(id) {
    $.ajax({
      url: "<?= $this->url(array('action' => 'detailmember')); ?>",
      method: "GET",
      dataType: "JSON",
      data: {
        id: id
      },
      success: function(response) {
        $('#modal_title').text(response.NAME);
        $('#type_id').text(response.ID_TYPE);
        $('#id_number').text(response.ID_NUMBER);
        $('#address').text(response.ADDRESS);
        $('#kelurahan').text(response.KELURAHAN);
        $('#kecamatan').text(response.KECAMATAN);
        $('#kab_city').text(response.KAB_CITY);
        $('#modal_detail').modal('show');
      },
      error: function() {
        alert("Error occurred, please try again later");
      }
    });
  }
</script>