<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail'); ?> - <?php echo $this->language->_('Manage Approver Group'); ?></div><br />
<?php if ($this->changes_id) {
	echo $this->action(
		'message',
		'tools',
		'changemanagement',
		array('changes_id' => $this->changes_id)
	);
?>
	<br />
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
		<tr>
			<th colspan="3" class="tdform-sub"><?php echo $this->language->_('Detail of Approver Group Member Change Request for'); ?> <?= $this->cust_name ?></th>
		</tr>
	</table><br />
	<?php if ($this->cek == 0) { ?>
		<table cellpadding="5" border="0" width="100%">
			<tr>
				<td class="tbl-evencontent">
					<div align="center"><?php echo $this->language->_('There is no Changes to be approved'); ?></div>
				</td>
			</tr>
		</table>
	<?php } else if ($this->cek == 1) { ?>
		<table cellpadding="5" border="0" width="100%">
			<tr>
				<td valign="top">
					<strong><?php echo $this->language->_('Suggested Value'); ?></strong><br /><br />
					<table cellpadding="3" cellspacing="0" border="1" class="tableform" width="100%">
						<tbody>
							<tr>
								<th colspan="5" class="tdform-sub"><?php echo $this->language->_('Regular Group'); ?></th>
							</tr>
							<tr>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 1</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G1">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_01';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 2</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G2">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_02';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 3</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G3">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_03';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 4</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G4">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_04';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 5</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G5">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_05';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 6</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G6">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_06';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 7</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G7">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_07';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 8</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G8">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_08';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 9</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G9">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_09';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 10</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G10">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_10';
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table border="1" cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
						<tbody>
							<tr>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Special Group'); ?></b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowSugg_G11">
													<?php
													$groupIndex = 'S_' . $this->cust_id;
													if (isset($this->databaru[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->databaru[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>

				</td>
			</tr>
			<tr>
				<td valign="top">
					<strong><?php echo $this->language->_('Current Value'); ?></strong><br /><br />
					<table cellpadding="3" cellspacing="0" border="1" class="tableform" width="100%">
						<tbody>
							<tr>
								<th colspan="5" class="tdform-sub"><?php echo $this->language->_('Regular Group'); ?></th>
							</tr>
							<tr>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 1</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G1">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_01';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 2</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G2">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_02';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 3</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G3">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_03';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 4</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G4">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_04';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 5</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G5">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_05';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 6</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G6">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_06';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 7</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G7">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_07';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 8</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G8">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_08';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 9</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G9">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_09';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Group'); ?> 10</b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G10">
													<?php
													$groupIndex = 'N_' . $this->cust_id . '_10';
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table border="1" cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
						<tbody>
							<tr>
								<td valign="top">
									<table style="border: medium none;" width="100px">
										<tbody>
											<tr>
												<td colspan="2"><b><?php echo $this->language->_('Special Group'); ?></b></td>
											</tr>
											<tr>
												<td width="10px">&nbsp;</td>
												<td class="rowCurr_G11">
													<?php
													$groupIndex = 'S_' . $this->cust_id;
													if (isset($this->datalama[$groupIndex])) {
														$printUser = '<ul>';
														foreach ($this->datalama[$groupIndex] as $user) {
															$printUser .= '<li>' . $user . '</li>';
														}
														$printUser .= '</ul>';
														echo $printUser;
													} else
														echo '<p>' . $this->language->_('No Member') . '</p>';
													?>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table><br />

		<div align="center">
			<?php
			echo $this->action(
				'index',
				'tools',
				'changemanagement',
				array('changes_id' => $this->changes_id)
			);
			?>
		</div>
		<script>
			for (var i = 1; i <= 11; i++) {
				var currentValue = $(".rowCurr_G"+i);
				var suggestedValue = $(".rowSugg_G"+i);
				if(currentValue.text()!=suggestedValue.text()){
					suggestedValue.css('background-color', '#fffe5c');
					suggestedValue.addClass('diffRow');
				}
			}
		</script>
	<?php } ?>
	<br />
<?php } else { ?>
	<div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<?php } ?>