<script>
	$( document ).ready(function(){
	<?php
		foreach($this->providerData['CHARGES'] as $ccy=>$charges)
		{
			echo "showHide('".$ccy."',".$charges['CHARGES_TO_ID'].");";
		}
	?>
	});
	function showHide(ccy,charges_to)
	{
		if( charges_to==1) // payer
		{
			$("#payer"+ccy).show();
			$("#biller"+ccy).hide();
		}
		else if( charges_to==2) // biller
		{
			$("#payer"+ccy).hide();
			$("#biller"+ccy).show();
		}
	}
</script>
<b>Charges &gt; Biller Charges &gt; Repair</b><br /><br />
<div class="tabheader" id="tabheader">Biller Charges Detail</div>
<?php
	$option = array('maxlength'=>20,
			  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
			  'onblur'=>'NumFrmtUS(this.value,this.id)',
			  'onkeypress'=>'return forceCurrency(event)');
?>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">

<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			Biller Detail
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; Biller Code</td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_CODE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Biller Name</td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_NAME'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Biller Status</td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_STATUS'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Service Catagories</td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['SERVICE_TYPE'].' ( '.$this->providerData['PROVIDER_TYPE'].' ) ';?></td>
	</tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="40%">
	<tr>
		<th width="30px">No</th>
		<th>Charge Currency</th>
		<th>Charge Amount</th>
		<th>Charge To</th>
		<th width="200px">Charge Account</th>
	</tr>
	<?PHP 
		$row = 0;
		foreach($this->providerData['CHARGES'] as $ccy=>$charges)
		{
			$row++;
			$css = ($row%2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
	?>
	<tr>
		<td class="<?=$css?>"><?=$row?></td>
		<td class="<?=$css?>"><?=$charges['CHARGES_CCY'].$this->formHidden('charges_ccy['.$ccy.']',$ccy)?></td>
		<td class="<?=$css?>" align="right"><?=$this->formText('charges_amt['.$ccy.']',Application_Helper_General::displayMoney($charges['CHARGES_AMT']),$option) ?></td>
		<td class="<?=$css?>">
			<select name="charges_to[<?=$ccy?>]" id="charges_to" onchange="showHide('<?=$ccy?>',this.value)">
				<option value="1" <?=($charges['CHARGES_TO_ID']==1) ? 'selected' : ''?>>Payer</option>
				<option value="2" <?=($charges['CHARGES_TO_ID']==2) ? 'selected' : ''?>>Biller</option>
			</select></td>
		<td class="<?=$css?>" align="center">
			<div id="payer<?=$ccy?>">
				-
			</div>
			<div id="biller<?=$ccy?>">
				<select name="biller_acct[<?=$ccy?>]">
					<?php foreach($this->billerAcctList as $acct){?>
					<option value="<?=$acct?>" <?=($acct==$charges['CHARGES_ACCT']) ? 'selected' : ''?>><?=$acct?></option><?php }?>
				</select>
			</div>
		</td>
	</tr>
	<?PHP
		}
	?>
</table>
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setbillercharges','controller'=>'suggestiondetail','action'=>'index','changes_id'=>$this->changes_id),null,true);?>'" class="inputbtn" value="Back">
&nbsp;
<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn')); ?>&nbsp;
<?php echo $this->formSubmit('reset','Reset',array('class'=>'inputbtn')); ?>

</td></tr>
</table>
</form>