<script type="text/javascript">
	$(document).ready(function() {
$(document).ready(function() {
			var url = window.location.href;    
if (url.indexOf('?') > -1){
   url += '/print/1'
}else{
   url += '/print/1'
}
	setTimeout(function () {
       window.location.href = url; //will redirect to your blog page (an ex: blog.html)
    }, 500); //will call the function after 2 secs.

	});

// setTimeout(function () {
//        window.location.href = url; //will redirect to your blog page (an ex: blog.html)
//     }, 500); //will call the function after 2 secs.

// setTimeout(alert("Hello " + a), 2000);
});
// window.location.href = url;
</script>
<?php  if($this->print){ ?>
<script type="text/javascript">
	$(document).ready(function() {
			var url = window.location.href;    
if (url.indexOf('?') > -1){
   url += '/print/1'
}else{
   url += '/print/1'
}
	setTimeout(function () {
       window.location.href = url; //will redirect to your blog page (an ex: blog.html)
    }, 500); //will call the function after 2 secs.

	});
</script>
<?php  } ?>

<div class="portlet-body">
	<div class="note note-success">
    	<p></p><h2 style="text-align: center;"><?php echo $this->language->_('Process Success')?></h2><p></p>
        <p align="center">
			<?php
			if($this->backURL ==''){
				$this->backURL  ='/home';
			}
				echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='".$this->backURL."'", 'class' => 'btnwhite hov'));
			?>
		</p>
	</div>
</div>