
<b><?php echo $this->language->_('Account Information'); ?> &gt; <?php echo $this->language->_('Others Inquiry'); ?> &gt; <?php echo $this->language->_('Interest Rate'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Interest Rate'); ?></div>
<!--<div>[ <?php echo $this->language->_('Data Updated :'); ?> <?php echo $this->resultdataUpdate;?> ]</div>-->

<b><h2></h2></b>
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  	
    <tr>
      <th width="70%" valign="top"><?php echo $this->language->_('PRODUK & JASA');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Suku Bunga');?></th>  
    </tr>
    <?php
      if(count($this->resultdata) > 0)
      {
        $i = 0;
        
        foreach($this->resultdata as $row)
        {
        	
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  
		  	echo '<tr>
		  			<td class="'.$td_css.'">'.$row['ProductName'].'</td>
				 	<td class="'.$td_css.'">'.$row['Rate'].'</td>';
				  ?>
				<?php echo '</tr>';
		  
			$i++;      
  	  }
    }else{
	  echo '<tr><td colspan="2" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
