<?php $back   = $this->language->_('BACK'); ?>
<?php $prev   = $this->language->_('PREVIOUS'); ?>
<?php $next   = $this->language->_('NEXT'); ?>
<?php $submit = $this->language->_('SUBMIT'); ?>
<?php $balance_inquiry = $this->language->_('BALANCE INQUIRY'); ?>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Customer Management'); ?>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Customer List'); ?>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Add'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<h5><?= $this->language->_('Add New Customer'); ?></h5>

<style>
    .input-file {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
    }

    .input-small {
        width: 80px !important;
    }

    .input-medium {
        width: 240px !important;
    }

    .input-group-append {
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
    }

    ul.errors {
        list-style: none;
        padding-left: 0;
    }

    table#review label {
        margin-bottom: 0;
    }

    .box-disabled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: not-allowed;
    }
</style>

<div class="row content-box">
    <div class="col-md-12 portlet-body table-responsive form">
        <div class="text-center mb-3">
            <button class="custindicator mb-1" disabled><?= $this->language->_('Company Detail'); ?></button>
            <button class="custindicator mb-1" disabled><?= $this->language->_('Contact Info'); ?></button>
            <button class="custindicator mb-1" disabled><?= $this->language->_('Company Account'); ?></button>
            <button class="custindicator mb-1" disabled><?= $this->language->_('Submission Workflow'); ?></button>
            <button class="custindicator mb-1" disabled><?= $this->language->_('Review'); ?></button>
        </div>

        <div class="container">
            <form name="Form" action="" method="post">
                <div class="custTab">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Customer Model'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="cust_model" id="cust_model" class="form-control" onchange="checkCustModel()">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <option value="1"><?= $this->language->_('Pemohon'); ?></option>
                                <option value="2"><?= $this->language->_('Asuransi'); ?></option>
                                <option value="3"><?= $this->language->_('Special Obligee'); ?></option>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_model']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Customer Code'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_id', $this->cust_id, ['class' => 'form-control', 'maxlength' => 12, 'onfocus' => 'AlnumOnly(this.value,this.id)', 'onblur' => 'AlnumOnly(this.value,this.id)', 'onkeypress' => 'return forceAlnumOCBC(event)', 'onkeyup' => 'javascript:this.value = this.value.toUpperCase();']); ?>
                            <i><?= $this->language->_('Format: 5-12 chars, alphanumeric, no special chars or white spaces'); ?></i>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_id']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Company CIF'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-center align-items-center">
                                <?= $this->formHidden('acct_no', $this->acct_no, ['class' => 'form-control']); ?>
                                <?= $this->formHidden('cust_cifd', $this->cust_cifd, ['class' => 'form-control']); ?>
                                <?= $this->formHidden('cust_named', $this->cust_named, ['class' => 'form-control']); ?>
                                <?= $this->formHidden('cust_province', $this->cust_province, ['class' => 'form-control']); ?>
                                <?= $this->formText('cust_cif', $this->cust_cif, ['class' => 'form-control mr-2', 'readonly' => true]); ?>
                                <button type="button" class="btngreen hov" onclick="showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'populatedata', 'action' => 'index'), null, true) ?>', 750)">
                                    <?= $this->language->_('Populate Data'); ?>
                                </button>
                            </div>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_cif']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Company Name'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_name', $this->cust_name, ['class' => 'form-control', 'readonly' => true]); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_name']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Company NPWP'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_npwp', $this->cust_npwp, ['class' => 'form-control', 'readonly' => true]); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_npwp']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Company Type'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="cust_type" id="cust_type" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <?php foreach ($this->cust_typeArr as $row) : ?>
                                    <option value="<?= $row['COMPANY_TYPE_CODE']; ?>" data-desc="<?= $row['COMPANY_TYPE_DESC']; ?>" <?= ($this->cust_type == $row['COMPANY_TYPE_CODE']) ? 'selected' : ''; ?>><?= strtoupper($row['COMPANY_TYPE_DESC']); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_type']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Economic Sector'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="business_type" id="business_type" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <?php foreach ($this->business_typeArr as $row) : ?>
                                    <option value="<?= $row['BUSINESS_ENTITY_CODE']; ?>" data-desc="<?= $row['BUSINESS_ENTITY_DESC']; ?>" <?= ($this->business_type == $row['BUSINESS_ENTITY_CODE']) ? 'selected' : ''; ?>><?= strtoupper($row['BUSINESS_ENTITY_DESC']); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['business_type']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Go Public'); ?>&nbsp;<small class="text-danger">*</small></label>

                        <div class="col-sm-9">
                            <select name="go_public" id="go_public" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <option value="Y">Ya</option>
                                <option value="N" selected>Tidak</option>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['go_public']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Grup BUMN'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="grup_bumn" id="grup_bumn" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <option value="Y">Ya</option>
                                <option value="N" selected>Tidak</option>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['grup_bumn']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row special">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Golongan Debitur Code'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="debitur_code" id="debitur_code" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <?php foreach ($this->debitur_codeArr as $row) : ?>
                                    <option value="<?= $row['DEBITUR_CODE']; ?>" data-desc="<?= $row['DEBITUR_DESC']; ?>" <?= ($this->debitur_code == $row['DEBITUR_CODE']) ? 'selected' : ''; ?>><?= $row['DEBITUR_CODE'] . ' - ' . strtoupper($row['DEBITUR_DESC']); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['debitur_code']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row collectibility_code">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Collectibility Code'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="collectibility_code" id="collectibility_code" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <?php foreach ($this->collectibility_codeArr as $row) : ?>
                                    <option value="<?= $row['CODE']; ?>" data-desc="<?= $row['DESCRIPTION']; ?>" <?= ($this->collectibility_code == $row['CODE']) ? 'selected' : ''; ?>><?= $row['CODE'] . ' - ' . strtoupper($row['DESCRIPTION']); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['collectibility_code']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Alamat'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_address', $this->cust_address, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_address']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Kelurahan'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_village', $this->cust_village, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_village']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Kecamatan'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_district', $this->cust_district, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_district']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Kabupaten/City'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="cust_city" id="cust_city" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <?php foreach ($this->cust_cityArr as $row) : ?>
                                    <option value="<?= $row['CITY_CODE']; ?>" data-desc="<?= $row['CITY_NAME']; ?>" <?= ($this->cust_city == $row['CITY_CODE']) ? 'selected' : ''; ?>><?= strtoupper($row['CITY_NAME']); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_city']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Zip'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_zip', $this->cust_zip, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_zip']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Country'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <select name="country_code" id="country_code" class="form-control">
                                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                                <?php foreach ($this->country_codeArr as $row) : ?>
                                    <option value="<?= $row['COUNTRY_CODE']; ?>" data-desc="<?= $row['COUNTRY_NAME']; ?>" <?= ($this->country_code == $row['COUNTRY_CODE']) ? 'selected' : ''; ?>><?= $row['COUNTRY_NAME']; ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['country_code']); ?></small>
                        </div>
                    </div>
                </div>
                <!-- END Tab Company Detail -->

                <div class="custTab">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label cust_contact_not"><?= $this->language->_('Contact Person'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <label class="col-sm-3 col-form-label cust_contact_req"><?= $this->language->_('Contact Person'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_contact', $this->cust_contact, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_contact']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label cust_contact_phone_not"><?= $this->language->_('Contact Number'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <label class="col-sm-3 col-form-label cust_contact_phone_req"><?= $this->language->_('Contact Number'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_contact_phone', $this->cust_contact_phone, ['class' => 'form-control', 'onfocus' => 'return forceNumberOCBC(event)', 'onblur' => 'return forceNumberOCBC(event)', 'onkeypress' => 'return forceNumberOCBC(event)']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_contact_phone']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Contact Email'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_email', $this->cust_email, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_email']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label cust_phone_not"><?= $this->language->_('Company Phone'); ?></label>
                        <label class="col-sm-3 col-form-label cust_phone_req"><?= $this->language->_('Company Phone'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_phone', $this->cust_phone, ['class' => 'form-control', 'onfocus' => 'return forceNumberOCBC(event)', 'onblur' => 'return forceNumberOCBC(event)', 'onkeypress' => 'return forceNumberOCBC(event)']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_phone']); ?></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?= $this->language->_('Company Website'); ?></label>
                        <div class="col-sm-9">
                            <?= $this->formText('cust_website', $this->cust_website, ['class' => 'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['cust_website']); ?></small>
                        </div>
                    </div>
                </div>
                <!-- END Tab Contact Info -->

                <div class="custTab">
                    <div id="account"></div>
                </div>
                <!-- END Tab Company Account -->

                <div class="custTab">
                    <div id="same_user" class="form-group applicant">
                        <!-- <input type="checkbox" name="cust_same_user" id="cust_same_user" value="1"> <?= $this->language->_('Maker and Releaser as same person'); ?> -->
                    </div>
                    <div class="row content-box" style="position:relative; overflow:hidden;">
                        <table align="center" cellpadding="3" cellspacing="0" border="0" class="tableform">
                            <tr>
                                <td align="center">
                                    <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
                                </td>
                                <td align="center">
                                    <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                                </td>
                                <td align="center">
                                    <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
                                </td>
                                <td align="center">
                                    <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                                </td>
                                <td align="center">
                                    <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <i class="fas fa-marker imgWorkflow" style="font-size:20px;color:#007934"></i>
                                </td>
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>
                                <td align="center">
                                    <i class="far fa-check-circle imgWorkflow" style="font-size:20px;color:#007934"></i>
                                </td>
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>
                                <td align="center">
                                    <i class="far fa-envelope imgWorkflow" style="font-size:20px;color:#007934"></i>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">MAKER</td>
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>
                                <td align="center">APPROVER</td>
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>
                                <td align="center">RELEASER</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <input type="checkbox" value="maker" name="check_maker" id="check_maker" disabled style="display: none">
                                    <img src="/images/check.png" style="width: 13px;height: 13px" id="checkMakerImg">
                                </td>
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>
                                <td align="center">
                                    <?php $checked = ($this->cust_approver == '1') ? 'checked' : ''; ?>
                                    <input type="checkbox" class="applicant" value="1" name="cust_approver" id="cust_approver" <?= $checked; ?>>
                                    <img src="/images/check.png" style="width: 13px;height: 13px" id="checkApproverImgImg" class="insurance">
                                </td>
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>
                                <td align="center">
                                    <input type="checkbox" value="releaser" name="check_releaser" id="check_releaser" disabled style="display: none">
                                    <img src="/images/check.png" style="width: 13px;height: 13px" id="checkReleaserImg">
                                </td>
                            </tr>
                        </table>
                        <div class="box-disabled"></div>
                    </div>
                    <p class="text-center is_intended"><?= $this->language->_('Submission workflow is intended for bank guarantee applicant only'); ?></p>
                    <script type="text/javascript">
                        $('#cust_same_user').click(function() {
                            if (this.checked) {
                                $('#cust_approver').attr('disabled', true);

                            } else {
                                $('#cust_approver').attr('disabled', false);
                            }
                        });
                        $('#cust_approver').click(function() {
                            $('#same_user').toggle();
                        });
                    </script>
                </div>
                <!-- END Tab Submission Workflow -->

                <div class="custTab">
                    <table id="review" width="100%" cellpadding="3" cellspacing="0">
                        <tr>
                            <td colspan="3"><b style="font-size:18px"><?= $this->language->_('COMPANY DETAIL'); ?></b></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Customer Type'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_model"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Customer Code'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_id"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Company CIF'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_cif"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Company Name'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_name"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Company NPWP'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_npwp"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Company Type'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_type"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Business Type'); ?></td>
                            <td> : </td>
                            <td><label id="label_business_type"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Go Public'); ?></td>
                            <td> : </td>
                            <td><label id="label_go_public"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Grup BUMN'); ?></td>
                            <td> : </td>
                            <td><label id="label_grup_bumn"></label></td>
                        </tr>
                        <tr class="special">
                            <td width="200px"><?= $this->language->_('Golongan Debitur Code'); ?></td>
                            <td> : </td>
                            <td><label id="label_debitur_code"></label></td>
                        </tr>
                        <tr class="collectibility_code">
                            <td width="200px"><?= $this->language->_('Collectibility Code'); ?></td>
                            <td> : </td>
                            <td><label id="label_collectibility_code"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Alamat'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_address"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Kelurahan'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_village"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Kecamatan'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_district"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Kabupaten/City'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_city"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Zip'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_zip"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Country'); ?></td>
                            <td> : </td>
                            <td><label id="label_country_code"></label></td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3"><b class="mt-4" style="font-size:18px"><?= $this->language->_('CONTACT INFO'); ?></b></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Contact Person'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_contact"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Contact Number'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_contact_phone"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Contact Email'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_email"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Company Phone'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_phone"></label></td>
                        </tr>
                        <tr>
                            <td width="200px"><?= $this->language->_('Company Website'); ?></td>
                            <td> : </td>
                            <td><label id="label_cust_website"></label></td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="companyAccountReview">
                            <td colspan="3"><b class="mt-4" style="font-size:18px"><?= $this->language->_('COMPANY ACCOUNT'); ?></b></td>
                        </tr>
                        <tr class="companyAccountReview">
                            <td colspan="3">
                                <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
                                    <thead>
                                        <tr class="headercolor">
                                            <th class="tablehead"><?= $this->language->_('Account Number'); ?></th>
                                            <!--<th class="tablehead"><?= $this->language->_('Account Name'); ?></th>-->
                                            <th class="tablehead"><?= $this->language->_('Currency'); ?></th>
                                            <th class="tablehead"><?= $this->language->_('Type'); ?></th>
                                        </tr>
                                    </thead>
                                    <tbody id="accountReview">
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="submissionReview">
                            <td colspan="3"><b class="mt-4" style="font-size:18px"><?= $this->language->_('SUBMISSION WORKFLOW'); ?></b></td>
                        </tr>

                        <tr class="submissionReview">

                            <td colspan="3">
                                <div id="same_user" class="form-group applicant">
                                    <!-- <img src="/images/check.png" style="width: 13px;height: 13px" id="checkSamePersonImg"><?= $this->language->_('Maker and Releaser as same person'); ?> -->
                                </div>
                                <div class="row content-box">

                                    <table align="center" cellpadding="3" cellspacing="0" border="0" class="tableform">
                                        <tr>
                                            <td align="center">
                                                <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
                                            </td>
                                            <td align="center">
                                                <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                                            </td>
                                            <td align="center" class="custapprover">
                                                <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
                                            </td>
                                            <td align="center" class="custapprover">
                                                <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                                            </td>
                                            <td align="center">
                                                <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <i class="fas fa-marker imgWorkflow" style="font-size:20px;color:#007934"></i>
                                            </td>
                                            <td align="center">
                                                <!-- hanya jarak  -->
                                            </td>
                                            <td align="center" class="custapprover">
                                                <i class="far fa-check-circle imgWorkflow" style="font-size:20px;color:#007934"></i>
                                            </td>
                                            <td align="center" class="custapprover">
                                                <!-- hanya jarak  -->
                                            </td>
                                            <td align="center">
                                                <i class="far fa-envelope imgWorkflow" style="font-size:20px;color:#007934"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">MAKER</td>
                                            <td align="center">
                                                <!-- hanya jarak  -->
                                            </td>
                                            <td align="center" class="custapprover">APPROVER</td>
                                            <td align="center" class="custapprover">
                                                <!-- hanya jarak  -->
                                            </td>
                                            <td align="center">RELEASER</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <img src="/images/check.png" style="width: 13px;height: 13px" id="checkMakerImg">
                                            </td>
                                            <td align="center">
                                                <!-- hanya jarak  -->
                                            </td>
                                            <td align="center" class="custapprover">
                                                <img src="/images/check.png" style="width: 13px;height: 13px" id="checkApproverImg">
                                            </td>
                                            <td align="center" class="custapprover">
                                                <!-- hanya jarak  -->
                                            </td>
                                            <td align="center">
                                                <img src="/images/check.png" style="width: 13px;height: 13px" id="checkReleaserImg">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END Tab Review -->

                <div class="d-flex justify-content-center mt-2">
                    <button type="button" id="btnBack" class="btnwhite hov mr-2" onclick="location.href='/customer'"><?= $back; ?></button>
                    <button type="button" id="btnPrev" class="btnwhite hov mr-2" onclick="nextPrev(-1)"><?= $prev; ?></button>
                    <button type="button" id="btnNext" class="btngreen hov" onclick="nextPrev(1)"><?= $next; ?></button>
                    <?= $this->formSubmit('submit', $submit, ['class' => 'btngreen hov']); ?>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#date_from').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#date_to').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        var typingTimer;
        var doneTypingInterval = 2000;
        var $input = $('#cust_id');

        $input.on('keyup', function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        $input.on('keydown', function() {
            clearTimeout(typingTimer);
        });
    });


    function doneTyping() {
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'checkcustid'), null, true) ?>",
            type: "GET",
            dataType: "JSON",
            data: {
                cust_id: $('#cust_id').val()
            },
            beforeSend: function() {
                $("#attempStatus").remove();
                $('#cust_id').after('<p id="attempStatus">Sedang melakukan pengecekan Kode customer</p>');
            },
            success: function(data) {
                $("#attempStatus").remove();
                if (data.status == "Y") {
                    $("#attempStatus").remove();
                    $('#cust_id').removeClass('is-invalid');
                    $('#btnNext').removeClass('disabled');
                    $('#btnNext').removeAttr('disabled');
                } else {
                    $('#cust_id').addClass('is-invalid');
                    $('#cust_id').after('<p id="attempStatus" class="fw-bold text-danger">' + data.msg + '</p>');

                    $('#btnNext').addClass('disabled');
                    $('#btnNext').attr('disabled', 'true');
                }
                // console.log(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
            }
        });
    }



    var currentTab = 0;
    showTab(currentTab);
    checkCustModel()

    function checkCustModel() {

        var cust_model = $('#cust_model').val();
        
        if (cust_model == 1) { // Applicant
            $('.collectibility_code').show();
            $('.applicant').show();
            document.querySelectorAll('.special')[0].children[0].innerHTML = 'Kode Golongan Debitur&nbsp;<small class="text-danger">*</small>'
            document.querySelectorAll('.special')[1].children[0].innerHTML = 'Kode Golongan Debitur'
            $('.insurance').hide();
            $('.obligee').hide();
            $('.cust_contact_not').show();
            $('.cust_contact_req').hide();
            $('.cust_contact_phone_not').show();
            $('.cust_contact_phone_req').hide();
            $('.cust_phone_not').show();
            $('.cust_phone_req').hide();
            $('.box-disabled').hide();
            $('.is_intended').hide();
        } else if (cust_model == 2) { // Insurance
            $('.collectibility_code').show();
            $('.applicant').hide();
            document.querySelectorAll('.special')[0].children[0].innerHTML = 'Kode Golongan Penjamin&nbsp;<small class="text-danger">*</small>';
            document.querySelectorAll('.special')[1].children[0].innerHTML = 'Kode Golongan Penjamin';
            $('.insurance').show();
            $('.obligee').hide();
            $('.cust_contact_not').hide();
            $('.cust_contact_req').show();
            $('.cust_contact_phone_not').hide();
            $('.cust_contact_phone_req').show();
            $('.cust_phone_not').hide();
            $('.cust_phone_req').show();
            $('.box-disabled').show();
            $('.is_intended').show();
        } else if (cust_model == 3) { // Special Obligee
            $('.collectibility_code').hide();
            $('.applicant').hide();
            $('.special').hide();
            $('.insurance').hide();
            $('.obligee').show();
            $('.cust_contact_not').show();
            $('.cust_contact_req').hide();
            $('.cust_contact_phone_not').show();
            $('.cust_contact_phone_req').hide();
            $('.cust_phone_not').hide();
            $('.cust_phone_req').show();
            $('.box-disabled').show();
            $('.is_intended').show();
        }
    }

    function showTab(currentTab) {
        var indicatorTab = $('.custindicator');
        $.each(indicatorTab, function(index, value) {
            value.style.display = "none";
        });
        var custTab = $('.custTab');
        $.each(custTab, function(index, value) {
            value.style.display = "none";
        });

        custTab[currentTab].style.display = "block";

        $.each(indicatorTab, function(index, value) {
            value.style.display = "inline";
            if (index == currentTab) {
                value.classList.add('active');
            } else {
                value.classList.remove('active');
            }
        });

        if (currentTab == 0) {
            $('#btnBack').show();
            $('#btnPrev').hide();
        } else {
            $('#btnBack').hide();
            $('#btnPrev').show();
        }

        if (currentTab == (custTab.length - 1)) {
            $('#submit').show();
            $('#btnNext').hide();
        } else {
            $('#submit').hide();
            $('#btnNext').show();
        }
    }

    function nextPrev(n) {

        // console.log(n);

        if (n == 1) {
            var tempError = false;

            var cust_model = $('#cust_model').val();
            if (cust_model == '') {
                $('#cust_model').next('div').remove();
                $('#cust_model').after('<div class="text-danger">Customer Model harus dipilih</div>');
                $('#cust_model').addClass('is-invalid');
                $('#cust_model').focus();
                tempError = true;
            } else {
                $('#cust_model').next('div').remove();
                $('#cust_model').removeClass('is-invalid');
            }

            var cust_id = $('#cust_id').val();
            if (cust_id == '') {
                $('#cust_id').next('div').remove();
                $('#cust_id').after('<div class="text-danger">Kode Customer tidak boleh kosong</div>');
                $('#cust_id').addClass('is-invalid');
                $('#cust_id').focus();
                // return false;
                tempError = true;
            } else if (cust_id.length <= 5 || cust_id.length >= 12) {
                $('#cust_id').next('div').remove();
                $('#cust_id').after('<div class="text-danger">Panjang karakter tidak sesuai</div>');
                $('#cust_id').addClass('is-invalid');
                $('#cust_id').focus();
                // return false;
                tempError = true;
            } else {
                $('#cust_id').next('div').remove();
                $('#cust_id').removeClass('is-invalid');
            }

            var cust_cif = $('#cust_cif').val();
            if (cust_cif == '') {
                $('#cust_cif').next('div').remove();
                $('#cust_cif').after('<div class="text-danger">Silahkan pilih nomor CIF</div>');
                $('#cust_cif').addClass('is-invalid');
                $('#cust_cif').focus();
                tempError = true;
            } else {
                $('#cust_cif').next('div').remove();
                $('#cust_cif').removeClass('is-invalid');
            }


            var cust_name = $('#cust_name').val();
            if (cust_name == '') {
                $('#cust_name').next('div').remove();
                $('#cust_name').after('<div class="text-danger">Nama perusahaan tidak boleh kosong</div>');
                $('#cust_name').addClass('is-invalid');
                $('#cust_name').focus();
                tempError = true;
            } else {
                $('#cust_name').next('div').remove();
                $('#cust_name').removeClass('is-invalid');
            }

            var cust_npwp = $('#cust_npwp').val();
            if (cust_npwp == '') {
                $('#cust_npwp').next('div').remove();
                $('#cust_npwp').after('<div class="text-danger">Nomor NPWP tidak boleh kosong</div>');
                $('#cust_npwp').addClass('is-invalid');
                $('#cust_npwp').focus();
                tempError = true;
            } else {
                $('#cust_npwp').next('div').remove();
                $('#cust_npwp').removeClass('is-invalid');
            }

            var cust_type = $('#cust_type').val();
            if (cust_type == '') {
                $('#cust_type').next('div').remove();
                $('#cust_type').after('<div class="text-danger">Silahkan pilih tipe perusahaan</div>');
                $('#cust_type').addClass('is-invalid');
                $('#cust_type').focus();
                tempError = true;
            } else {
                $('#cust_type').next('div').remove();
                $('#cust_type').removeClass('is-invalid');
            }


            var business_type = $('#business_type').val();
            if (business_type == '') {
                $('#business_type').next('div').remove();
                $('#business_type').after('<div class="text-danger">Silahkan pilih Economic Sector</div>');
                $('#business_type').addClass('is-invalid');
                $('#business_type').focus();
                tempError = true;
            } else {
                $('#business_type').next('div').remove();
                $('#business_type').removeClass('is-invalid');
            }

            // Applicant
            if ($('#cust_model').val() == 1) {
                var debitur_code = $('#debitur_code').val();
                if (debitur_code == '') {
                    $('#debitur_code').next('div').remove();
                    $('#debitur_code').after('<div class="text-danger">Silahkan pilih Kode Debitur</div>');
                    $('#debitur_code').addClass('is-invalid');
                    $('#debitur_code').focus();
                    tempError = true;
                } else {
                    $('#debitur_code').next('div').remove();
                    $('#debitur_code').removeClass('is-invalid');
                }

                var collectibility_code = $('#collectibility_code').val();
                if (collectibility_code == '') {
                    $('#collectibility_code').next('div').remove();
                    $('#collectibility_code').after('<div class="text-danger">Collectibility tidak boleh kosong</div>');
                    $('#collectibility_code').addClass('is-invalid');
                    $('#collectibility_code').focus();
                    tempError = true;
                } else {
                    $('#collectibility_code').next('div').remove();
                    $('#collectibility_code').removeClass('is-invalid');
                }
            }

            // Insurance
            if ($('#cust_model').val() == 2) {
                var collectibility_code = $('#collectibility_code').val();
                if (collectibility_code == '') {
                    $('#collectibility_code').next('div').remove();
                    $('#collectibility_code').after('<div class="text-danger">Collectibility tidak boleh kosong</div>');
                    $('#collectibility_code').addClass('is-invalid');
                    $('#collectibility_code').focus();
                    tempError = true;
                } else {
                    $('#collectibility_code').next('div').remove();
                    $('#collectibility_code').removeClass('is-invalid');
                }
            }


            var cust_address = $('#cust_address').val();
            if (cust_address == '') {
                $('#cust_address').next('div').remove();
                $('#cust_address').after('<div class="text-danger">Alamat tidak boleh kosong</div>');
                $('#cust_address').addClass('is-invalid');
                $('#cust_address').focus();
                tempError = true;
            } else {
                $('#cust_address').next('div').remove();
                $('#cust_address').removeClass('is-invalid');
            }

            var cust_village = $('#cust_village').val();
            if (cust_village == '') {
                $('#cust_village').next('div').remove();
                $('#cust_village').after('<div class="text-danger">Keluarahan tidak boleh kosong</div>');
                $('#cust_village').addClass('is-invalid');
                $('#cust_village').focus();
                tempError = true;
            } else {
                $('#cust_village').next('div').remove();
                $('#cust_village').removeClass('is-invalid');
            }

            var cust_district = $('#cust_district').val();
            if (cust_district == '') {
                $('#cust_district').next('div').remove();
                $('#cust_district').after('<div class="text-danger">Kecamatan tidak boleh kosong</div>');
                $('#cust_district').addClass('is-invalid');
                $('#cust_district').focus();
                tempError = true;
            } else {
                $('#cust_district').next('div').remove();
                $('#cust_district').removeClass('is-invalid');
            }



            var cust_city = $('#cust_city').val();
            if (cust_city == '') {
                $('#cust_city').next('div').remove();
                $('#cust_city').after('<div class="text-danger">Harap pilih kabupaten / kota</div>');
                $('#cust_city').addClass('is-invalid');
                $('#cust_city').focus();
                tempError = true;
            } else {
                $('#cust_city').next('div').remove();
                $('#cust_city').removeClass('is-invalid');
            }

            var cust_zip = $('#cust_zip').val();
            if (cust_zip == '') {
                $('#cust_zip').next('div').remove();
                $('#cust_zip').after('<div class="text-danger">Kode pos tidak boleh kosong.</div>');
                $('#cust_zip').addClass('is-invalid');
                $('#cust_zip').focus();
                tempError = true;
            } else {
                $('#cust_city').next('div').remove();
                $('#cust_city').removeClass('is-invalid');
            }

            var country_code = $('#country_code').val();
            if (country_code == '') {
                $('#country_code').next('div').remove();
                $('#country_code').after('<div class="text-danger">Harap pilih negara</div>');
                $('#country_code').addClass('is-invalid');
                $('#country_code').focus();
                tempError = true;
            } else {
                $('#country_code').next('div').remove();
                $('#country_code').removeClass('is-invalid');
            }


            // console.log("currentTab");
            // console.log(currentTab);


            if (currentTab == 1) {

                // Insurance
                if ($('#cust_model').val() == 2) {

                    // console.log('sini b');

                    var cust_phone = $('#cust_phone').val();
                    if (cust_phone == '') {
                        $('#cust_phone').next('div').remove();
                        $('#cust_phone').after('<div class="text-danger">Company Phone tidak boleh kosong.</div>');
                        $('#cust_phone').addClass('is-invalid');
                        $('#cust_phone').focus();
                        tempError = true;
                    } else {
                        $('#cust_phone').next('div').remove();
                        $('#cust_phone').removeClass('is-invalid');
                    }

                }


                if ($('#cust_model').val() == 3) {

                    // console.log('sini a');

                    var cust_phone = $('#cust_phone').val();
                    if (cust_phone == '') {
                        $('#cust_phone').next('div').remove();
                        $('#cust_phone').after('<div class="text-danger">Company Phone tidak boleh kosong.</div>');
                        $('#cust_phone').addClass('is-invalid');
                        $('#cust_phone').focus();
                        tempError = true;
                    } else {
                        $('#cust_phone').next('div').remove();
                        $('#cust_phone').removeClass('is-invalid');
                    }
                }

                var cust_contact = $('#cust_contact').val();
                if (cust_contact == '') {
                    $('#cust_contact').next('div').remove();
                    $('#cust_contact').after('<div class="text-danger">Contact Person tidak boleh kosong.</div>');
                    $('#cust_contact').addClass('is-invalid');
                    $('#cust_contact').focus();
                    tempError = true;
                } else {
                    $('#cust_contact').next('div').remove();
                    $('#cust_contact').removeClass('is-invalid');
                }

                var cust_contact_phone = $('#cust_contact_phone').val();
                if (cust_contact_phone == '') {
                    $('#cust_contact_phone').next('div').remove();
                    $('#cust_contact_phone').after('<div class="text-danger">Contact Number tidak boleh kosong.</div>');
                    $('#cust_contact_phone').addClass('is-invalid');
                    $('#cust_contact_phone').focus();
                    tempError = true;
                } else {
                    $('#cust_contact_phone').next('div').remove();
                    $('#cust_contact_phone').removeClass('is-invalid');
                }

                var cust_email = $('#cust_email').val();
                if (cust_email == '') {
                    $('#cust_email').next('div').remove();
                    $('#cust_email').after('<div class="text-danger">Email tidak boleh kosong.</div>');
                    $('#cust_email').addClass('is-invalid');
                    $('#cust_email').focus();
                    tempError = true;
                } else {
                    if (validateEmail(cust_email)) {
                        $('#cust_email').next('div').remove();
                        $('#cust_email').removeClass('is-invalid');
                    } else {
                        $('#cust_email').next('div').remove();
                        $('#cust_email').after('<div class="text-danger">Format email tidak sesuai.</div>');
                        $('#cust_email').addClass('is-invalid');
                        $('#cust_email').focus();
                        tempError = true;
                    }

                    // var cust_website = $('#cust_website').val();
                    // if (cust_website != '') {
                    //     if (validateURL(cust_website)) {
                    //         $('#cust_website').next('div').remove();
                    //         $('#cust_website').after('<div class="text-danger">Company Phone tidak boleh kosong.</div>');
                    //         $('#cust_website').addClass('is-invalid');
                    //         $('#cust_website').focus();
                    //         tempError = true;
                    //     } else {
                    //         $('#cust_website').next('div').remove();
                    //         $('#cust_website').removeClass('is-invalid');
                    //     }
                    // }
                }
                account();
            }

            if (tempError == true) {
                return false;
            }



            if (currentTab == 2 || currentTab == 3) {
                var i = 0;
                var cekbok = $('.cekbok');
                $.each(cekbok, function(index, element) {
                    $(element).parent('td').parent('tr').appendTo('#accountReview');
                    if ($(element).is(':checked')) {
                        // $(element).parent('td').hide();
                        element.parentElement.hidden = true
                        element.checked = true
                        console.log(element)
                        i++;
                    } else {
                        // $(element).parent('td').parent('tr').hide();
                        $(element).parent('td').parent('tr').remove();
                    }
                });
                /*if(i == 0){
                    $('.companyAccountReview').hide();
                }else{
					$('.companyAccountReview').show();
				}*/
                //account();
            }

            currentTab = currentTab + n;
            showTab(currentTab);

        } else {
            var cekbok = $('.cekbok');

            $.each(cekbok, function(index, element) {
                /*$(element).parent('td').parent('tr').appendTo('#accountReview');
                    if($(element).is(':checked')){
                        $(element).parent('td').hide();
                        i++;
                    }else{
                        $(element).parent('td').parent('tr').hide();
                    }*/
                $(element).parent('td').parent('tr').appendTo('#accountBody');
                $(element).parent('td').parent('tr').show();
                // $(element).parent('td').show();
                element.parentElement.hidden = false
            });

            currentTab = currentTab + n;
            showTab(currentTab);

            if (currentTab == 2) {
                $('#account').html("");
                account()
            }
            //account();
        }
    }

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function validateURL(string) {
        var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
        return (res !== null);
    };

    function account() {
        var cust_cif = document.getElementById("cust_cif").value;
        $.ajax({
            url: "<?= $this->url(array('action' => 'cifaccount')); ?>",
            type: "GET",
            dataType: "html",
            data: {
                cust_cif: document.querySelector("[name='cust_cifd']").value //cust_cif
                // cust_cif: 'W007312' //cust_cif
            },
            success: function(data) {
                $('#account').html(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
            }
        });
    }

    $('#btnNext').click(function() {
        // COMPANY DETAIL

        var cust_model = $('#cust_model').val();

        if (cust_model == 1) {
            cust_model = "Applicant";
            $('.businessReview').hide();
            $('#checkApproverImg').hide();
            if ($('#cust_approver').is(':checked')) {
                $('#cust_approver_review').attr('checked', true);
                $('.custapprover').show();
                $('#checkApproverImg').show();
            }
            if ($('#cust_same_user').is(':checked')) {

                $('#checkSamePersonImg').show();
            } else {
                $('#checkSamePersonImg').hide();
            }
        } else if (cust_model == 2) {
            cust_model = "Insurance";

            $('.submissionReview').hide();
            $('.obligeeContent').hide();
        } else {
            cust_model = "Special Obligee";

            $('.submissionReview').hide();

            var fee_sharing = $('#fee_sharing').val();
            $('#label_fee_sharing').text(fee_sharing + '% (from Provision Fee)');

            var transfer_to = $('#transfer_to').val();
            $('#label_transfer_to').text(transfer_to);

            var acct_number = $('#acct_number').val();
            $('#label_acct_number').text(acct_number);

            var acct_name = $('#acct_name').val();
            $('#label_acct_name').text(acct_name);

            if ($('#obligee_confirm').is(':checked')) {
                $('.obligee_confirm').show();
            }
        }

        $('#label_cust_model').text(cust_model);

        var cust_id = $('#cust_id').val();
        $('#label_cust_id').text(cust_id);

        var cust_cif = $('#cust_cif').val();
        $('#label_cust_cif').text(cust_cif);

        var cust_name = $('#cust_name').val();
        $('#label_cust_name').text(cust_name);

        var cust_npwp = $('#cust_npwp').val();
        $('#label_cust_npwp').text(cust_npwp);

        var cust_type = $('#cust_type').find('option:selected');
        var cust_type_desc = cust_type.data('desc');
        $('#label_cust_type').text(cust_type_desc);

        var business_type = $('#business_type').find('option:selected');
        var business_type_desc = business_type.data('desc');
        $('#label_business_type').text(business_type_desc);

        var go_public = $('#go_public').val();

        if (go_public == "Y") {
            go_public = "Ya";
        } else {
            go_public = "Tidak";
        }

        $('#label_go_public').text(go_public);

        var grup_bumn = $('#grup_bumn').val();

        if (grup_bumn == "Y") {
            grup_bumn = "Ya";
        } else {
            grup_bumn = "Tidak";
        }

        $('#label_grup_bumn').text(grup_bumn);

        var debitur_code = $('#debitur_code').find('option:selected');
        var debitur_code_desc = debitur_code.data('desc');
        var debitur_code_val = debitur_code.val();
        $('#label_debitur_code').text(debitur_code_val + ' - ' + debitur_code_desc);

        var collectibility_code = $('#collectibility_code').find('option:selected');
        var collectibility_code_desc = collectibility_code.data('desc');
        var collectibility_code_val = collectibility_code.val();
        $('#label_collectibility_code').text(collectibility_code_val + ' - ' + collectibility_code_desc);

        var cust_address = $('#cust_address').val();
        $('#label_cust_address').text(cust_address);

        var cust_village = $('#cust_village').val();
        $('#label_cust_village').text(cust_village);

        var cust_district = $('#cust_district').val();
        $('#label_cust_district').text(cust_district);

        var cust_city = $('#cust_city').find('option:selected');
        var cust_city_desc = cust_city.data('desc');
        $('#label_cust_city').text(cust_city_desc);

        var cust_zip = $('#cust_zip').val();
        $('#label_cust_zip').text(cust_zip);

        var country_code = $('#country_code').find('option:selected');
        var country_code_desc = country_code.data('desc');
        $('#label_country_code').text(country_code_desc);
        // END COMPANY DETAIL

        // CONTACT INFO
        var cust_contact = $('#cust_contact').val();
        $('#label_cust_contact').text(cust_contact);

        var cust_contact_phone = $('#cust_contact_phone').val();
        $('#label_cust_contact_phone').text(cust_contact_phone);

        var cust_email = $('#cust_email').val();
        $('#label_cust_email').text(cust_email);

        var cust_phone = $('#cust_phone').val();
        $('#label_cust_phone').text(cust_phone);

        var cust_website = $('#cust_website').val();
        $('#label_cust_website').text(cust_website);
        // END CONTACT INFO

        // SUBMISSION WORKFLOW
    });
</script>