<b><?php echo $this->language->_('Charge'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Realtime Charges Type Request List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('CompanyCode',$this->language->_('Company Code')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?
					echo '<select name="CompanyCode" id="CompanyCode">
							<option value="">-- '.$this->language->_('Please Select').' --</option>
						</select>';
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Company Name',$this->language->_('Company Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('CompanyName',$this->CompanyName,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Suggestor ',$this->language->_('Suggestor ')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('Suggestor ',$this->Suggestor ,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Status',$this->language->_('Status')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?
					echo '<select name="Type" id="Type">
							<option value="">-- '.$this->language->_('Please Select').' --</option>
							<option value="0">'.$this->language->_('Unread Suggestion').'</option> 
							<option value="1">'.$this->language->_('Read Suggestion').'</option> 
							<option value="4">'.$this->language->_('Repair Requested Sugestion').'</option> 
							<option value="5">'.$this->language->_('Repaired Suggestion').'</option>  
						</select>';
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Suggest Create Date',$this->language->_('Suggest Create Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?
					echo '<select name="op" id="op">
							<option value="EQ">=</option>
							<option value="NE">!=</option>
							<option value="LT">&lt;</option>
							<option value="GT">&gt;</option>
							<option value="LE">=</option>
							<option value="GE">=</option>
						</select>';
				?>
				<?php 
												echo $this->datePicker("TRANSFER_START", $this->TRANSFER_START,array('dateFormat' => $this->jqueryDateFormat,
																													'defaultDate' =>'new Date()',
																													'showOn' => 'button',
																													'buttonImage' => '/images/calendar.gif',
																													'buttonImageOnly' => true,
																													'changeMonth' => true,
																													'changeYear' => true)); 
										?>
			</td>
		</tr>
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter','Filter',array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('filter','Display All',array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
	<br />
	<?php
		//if($this->arr)
		//{
	?>
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
				<tr>
					<TD class="tdform-sub">No</TD>
					<?php 
						echo $this->partial('tableheader.phtml',array(
																		'fields' => $this->fields,
																		'sortBy' => $this->sortBy,
																		'sortDir' => $this->sortDir,
																		'query_string_params' => $this->query_string_params
																	)
											);
					?>
					<TD class="tdform-sub"><?php echo $this->language->_('Action'); ?></TD>
				</tr>
			</table>
			<table>
				<tr style="height:30px">
					<td colspan="12" align="CENTER">
						<?php echo $this->formSubmit('csv','Export CSV',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('pdf','Export PDF',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('print','Print',array('class'=>'inputbtn')); ?>
					</td>
				</tr>
			</table>
	<?php
		//}
	?>
</form>