<?PHP
$this->language = Zend_Registry::get('language');
?>
<?php
// echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];

$destination = LIBRARY_PATH . '/data/temp/';
$path1 =  $destination . '../../../frontend/public/assets/themes/assets/newlayout/img/maker.PNG';
$type1 = pathinfo($path1, PATHINFO_EXTENSION);
$data1 = file_get_contents($path1);

$base641 = 'data:image/' . $type1 . ';base64,' . base64_encode($data1);
$MakerNameCircle = '<a style="text-decoration: none;" disabled><img class="' . $imgClass . '" src="' . $base641 . '">
		<span class="hovertextcontent" style="left: -100px;">' . $MakerList . '</span></a>';

$makerNameCircle = $MakerNameCircle;

$path3 =  $destination . '../../../frontend/public/assets/themes/assets/newlayout/img/approver.png';
$type3 = pathinfo($path3, PATHINFO_EXTENSION);
$data3 = file_get_contents($path3);

$base643 = 'data:image/' . $type3 . ';base64,' . base64_encode($data3);

$ApproverNameCircle = '<a style="text-decoration: none;" disabled><img class="' . $imgClass . '" src="' . $base643 . '">
		<span class="hovertextcontent" style="left: -100px;">' . $ApproverList . '</span></a>';

$approverNameCircle = $ApproverNameCircle;

$path4 =  $destination . '../../../frontend/public/assets/themes/assets/newlayout/img/releaser.png';
$type4 = pathinfo($path4, PATHINFO_EXTENSION);
$data4 = file_get_contents($path4);

$base644 = 'data:image/' . $type4 . ';base64,' . base64_encode($data4);

$releaserNameCircle = '<a style="text-decoration: none;" disabled><img class="' . $imgClass . '" src="' . $base644 . '">
		<span class="hovertextcontent" style="left: -100px;">' . $releaserList . '</span></a>';

$releaserNameCircle = $releaserNameCircle;

?>

<!-- <div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf969.jpg" border="0" /></div> -->

<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
	<p style="margin-bottom: 5px;"><b>Nomor Registrasi : <?= $this->custRegNumber; ?></b></p>
	<div class="col-md-12" style="padding: 2%; border: 1px solid; border-radius: 2px; border-color: #80808059;">
		<table width="100%">
			<tr>
				<td>
					<table>
						<tr>
							<th style="text-align: left; padding: 0;" colspan="3"><b>Informasi Perusahaan</b></th>
						</tr>
						<tr>
							<td style="color: grey;">Tipe Perusahaan</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><strong><?= $this->language->_('PEMOHON') ?></strong></td>
						</tr>
						<tr>
							<td style="color: grey;">Nama Perusahaan</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><strong><?php echo $this->custName; ?></strong></td>
						</tr>
						<tr>
							<td style="color: grey;">Nomor NPWP</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><strong><?php echo $this->compNpwp; ?></strong></td>
						</tr>
						<tr>
							<td style="color: grey;">Jenis Perusahaan</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->compType; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Sektor Ekonomi</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->businessType; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Tipe Publik</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->gopublic; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Grup BUMN</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->grupbumn; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Golongan Debitur</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->debiturcode . ' - ' . $this->debiturname; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Alamat</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->address; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Kelurahan </td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->cust_village; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Kecamatan</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->cust_district; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Kabupaten / City</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->city; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Zip</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->zip; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Negara</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->country; ?></td>
						</tr>
						<tr>
							<th style="text-align: left; padding: 0;" colspan="3"><b>Orang yang dapat dihubungi</b></th>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Orang yang Dapat Dihubungi</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->contactPerson; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Nomor yang Dapat Dihubungi</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->custnumber; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Email</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->contactEmail; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Nomor Perusahaan</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->contactNumber; ?></td>
						</tr>

						<tr>
							<td style="color: grey; width: 27%;">URL Website</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->compWebsite; ?></td>
						</tr>

						<tr>
							<th style="text-align: left; padding: 0;" colspan="3"><b>Admin User</b></th>
						</tr>

						<tr>
							<td style="color: grey; width: 27%;">user ID</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->userList[0]['USER_ID']; ?></td>
						</tr>

						<tr>
							<td style="color: grey; width: 27%;">Nama Pengguna</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->userList[0]['USER_FULLNAME']; ?></td>
						</tr>

						<tr>
							<td style="color: grey; width: 27%;">Email</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->userList[0]['USER_EMAIL']; ?></td>
						</tr>

						<tr>
							<td style="color: grey; width: 27%;">Nomor Telepon</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->userList[0]['USER_PHONE']; ?></td>
						</tr>

						<tr>
							<td style="color: grey; width: 27%;">NIK</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td><?php echo $this->userList[0]['USER_NIK']; ?></td>
						</tr>

					</table>
				</td>
			</tr>
		</table>
	</div>
</div>

<br>

<p style="margin-bottom: 5px;"><b>Akun Perusahaan</b></p>
<div class="portlet-body flip-scroll">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="table table-sm table-striped">
		<tr class="headercolor tdform-sub" id="tdform-sub">
			<th class="tbl-headercontent tablehead" style="background:#0b549f; color:white;"><?php echo $this->language->_('Nomor'); ?></th>
			<th class="tbl-headercontent tablehead" style="background:#0b549f; color:white;"><?php echo $this->language->_('Account Number'); ?></th>
			<th class="tbl-headercontent tablehead" style="background:#0b549f; color:white;"><?php echo $this->language->_('Account Name'); ?></th>

		</tr>
		<?php
		if ($this->acctList) {
			$i = 1;
			foreach ($this->acctList as $row) { ?>
				<?php echo
				'<tr>
<td class="' . $td_css . '" style="padding: 0.3rem; background-color: #dee2e6;">' . $i . '</td>
<td class="' . $td_css . '" style="padding: 0.3rem; background-color: #dee2e6;">' . $row["ACCT_NO"] . '</td>
<td class="' . $td_css . '" style="padding: 0.3rem; background-color: #dee2e6;">' . $row['ACCT_NAME'] . '</td>
</tr>';
				?>
			<?php
				$i++;
			}
		} else {
			?>
			<tr>
				<td class="tbl-oddcontent" colspan="7" align="center">
					<?= $this->language->_('No Record Found'); ?>
				</td>
			</tr>
		<?php } ?>
	</table>
</div>

<br>

<p style="margin-bottom: 5px;"><b>Alur Kerja</b></p>

<table width="100%" align="center">
	<tr>
		<td>
			<?php echo $makerNameCircle; ?>
		</td>
		<td>
			<?php
			$destination = LIBRARY_PATH . '/data/temp/';
			$path =  $destination . '../../../frontend/public/assets/themes/assets/newlayout/img/arrow.PNG';
			$type = pathinfo($path, PATHINFO_EXTENSION);
			$mime = mime_content_type($path);
			$data = file_get_contents($path);

			$base64 = 'data:' . $mime . ';base64,' . base64_encode($data);
			?>
			<img src="<?= $base64; ?>">
		</td>
		<td>
			<?php echo $makerNameCircle; ?>
		</td>
		<td>
			<?php
			$destination = LIBRARY_PATH . '/data/temp/';
			$path =  $destination . '../../../frontend/public/assets/themes/assets/newlayout/img/arrow.PNG';
			$type = pathinfo($path, PATHINFO_EXTENSION);
			$data = file_get_contents($path);

			$base64 = 'data:image/' . $type . ';base64,' . base64_encode($data);
			?>
			<img src="<?= $base64; ?>">
		</td>
		<td>
			<?php echo $makerNameCircle; ?>
		</td>
	</tr>

	<tr>
		<td> MAKER </td>

		<td></td>

		<td> MAKER </td>

		<td></td>

		<td> MAKER </td>
	</tr>

	<tr>
		<td style="padding-bottom: 10px;">
			<?php
			$destination = LIBRARY_PATH . '/data/temp/';
			$path =  $destination . '../../../frontend/public/images/icon/light/checked.png';
			$type = pathinfo($path, PATHINFO_EXTENSION);
			$data = file_get_contents($path);

			$base64 = 'data:image/' . $type . ';base64,' . base64_encode($data);
			?>
			<img src="<?= $base64; ?>">
		</td>

		<td></td>

		<td style="padding-bottom: 10px;">
			<?php
			$destination = LIBRARY_PATH . '/data/temp/';
			$path =  $destination . '../../../frontend/public/images/icon/light/checked.png';
			$type = pathinfo($path, PATHINFO_EXTENSION);
			$data = file_get_contents($path);

			$base64 = 'data:image/' . $type . ';base64,' . base64_encode($data);
			?>
			<img src="<?= $base64; ?>">
		</td>

		<td></td>

		<td style="padding-bottom: 10px;">
			<?php
			$destination = LIBRARY_PATH . '/data/temp/';
			$path =  $destination . '../../../frontend/public/images/icon/light/checked.png';
			$type = pathinfo($path, PATHINFO_EXTENSION);
			$data = file_get_contents($path);

			$base64 = 'data:image/' . $type . ';base64,' . base64_encode($data);
			?>
			<img src="<?= $base64; ?>">
		</td>
	</tr>
</table>

<br>

<!-- <h3>Terms and Condition</h3>  -->
<!-- <?= htmlspecialchars_decode($this->terms, ENT_COMPAT) ?> -->
<style>
	:root {
		--red: "#000000";
		--title-list: 17px
	}

	@media print {
		.new-page {
			page-break-before: always
		}
	}

	ol {
		counter-reset: item;
		display: table;
		font-family: Arial Narrow, Helvetica, sans-serif
	}

	ol:nth-child(2) {
		padding-left: 5px
	}

	ol:nth-child(3) {
		padding-left: 0
	}

	ol>li {
		display: block;
		color: #000;
		line-height: 170%;
		display: table-row;
		text-align: justify;
		font-size: 17px
	}

	ol>li:before {
		content: counters(item, ".");
		counter-increment: item;
		text-align: left;
		display: table-cell;
		padding-right: 5px
	}

	ol:nth-child(2)>li:before {
		width: 30px
	}

	.alpha-list {
		list-style: lower-alpha;
		padding-left: 20px
	}

	.bold {
		font-weight: 700
	}

	.italic {
		font-style: italic
	}

	.before-bold:before {
		content: counters(item, ".") ".";
		font-weight: 700;
		font-size: var(--title-list);
		width: 1% !important
	}

	.pt-before:before {
		padding-top: 18px
	}

	.font-xx {
		font-size: var(--title-list)
	}

	.remove-content-before:before {
		content: ""
	}
</style>
<div class="new-page">
	<ol style="padding:0;margin:0">
		<li class="before-bold"><span class="bold font-xx">Istilah</span>
			<ol>
				<li>Agen Asuransi adalah orang yang bekerja sendiri atau bekerja pada badan usaha, yang bertindak untuk dan atas nama Perusahaan Asuransi dan memenuhi persyaratan untuk mewakili Perusahaan Asuransi memasarkan produk asuransi.</li>
				<li>Asuransi adalah perjanjian antara dua pihak, yaitu perusahaan asuransi dan pemegang polis, yang menjadi dasar bagi penerimaan premi oleh perusahaan asuransi sebagai imbalan untuk:<ol class="alpha-list">
						<div>
							<li>Memberikan penggantian kepada tertanggung atau pemegang polis karena kerugian, kerusakan, biaya yang timbul, kehilangan keuntungan atau tanggung jawab hukum kepada pihak ketiga yang mungkin diderita tertanggung atau pemegang polis karena terjadinya suatu peristiwa yang tidak pasti; atau</li>
							<li>Memberikan pembayaran yang didasarkan pada meninggalnya tertanggung atau pembayaran yang didasarkan pada hidupnya tertanggung dengan manfaat yang besarnya telah ditetapkan dan/atau didasarkan pada hasil pengelolaan dana.</li>
						</div>
					</ol>
				</li>
				<li>Asuransi Pihak Ketiga adalah asuransi mengenai pertanggungan risiko karena bahaya tuntutan ganti rugi dari pihak ketiga (<span class="italic">liability insurance</span>).</li>
				<li>Bank adalah PT. Bank Tabungan Negara (Persero), Tbk yang meliputi Kantor Pusat dan Kantor Cabang serta kantor lainnya yang merupakan bagian yang tidak terpisahkan dari PT. Bank Tabungan Negara (Persero), Tbk.</li>
				<li>Bank Garansi adalah jaminan pembayaran yang diberikan oleh Bank kepada <span class="italic">Obligee</span> apabila <span class="italic">Principal</span> melakukan wanprestasi.</li>
				<li>Debitur adalah pihak yang mendapatkan fasilitas penyediaan dana dari Bank berdasarkan perjanjian kredit dan perjanjian-perjanjian lainnya yang berkaitan.</li>
				<li><span class="italic">e-Guarantee</span> Bank BTN adalah suatu aplikasi Bank yang menyediakan layanan pengajuan Bank Garansi secara daring melalui jaringan internet dengan menggunakan perangkat lunak browser pada komputer.</li>
				<li><span class="italic">Guarantee</span> adalah semua jaminan, bond dan termasuk jenis-jenis jaminan pembayaran lainnya sesuai dengan peraturan perundang-undangan yang berlaku dan dibuat secara tertulis serta diterbitkan oleh Bank atas permintaan pemohon guna penjaminan pembayaran uang atas terpenuhinya syarat sebagaimana telah ditetapkan pada dokumen jaminan.</li>
				<li>Hari Kerja Perbankan adalah hari kerja bank yang dimulai dari hari Senin sampai dengan hari Jumat kecuali hari libur nasional dan hari libur khusus yang ditetapkan oleh Pemerintah.</li>
				<li>Kode Perusahaan adalah identitas perusahaan Pemohon/<span class="italic">Principal</span> yang terdaftar dalam aplikasi <span class="italic">e-Guarantee</span> Bank BTN.</li>
				<li>Kontra Bank Garansi adalah jaminan pembayaran ganti kerugian oleh Perusahaan Asuransi kepada Bank atas klaim pencairan Bank Garansi yang diajukan oleh <span class="italic">Obligee</span>.</li>
				<li><span class="italic">Line Facility</span> adalah jumlah plafon tertentu dalam bentuk penyediaan fasilitas transaksi yang disediakan oleh Bank untuk nasabah selaku Prinsipal dan Perusahaan Asuransi/Penjaminan yang dapat digunakan untuk kepentingan bisnisnya dimana penyediaan fasilitas dimaksud ditetapkan berdasarkan analisa perhitungan oleh pihak Bank dan dengan mempertimbangkan tingkat kesehatan Perusahaan <span class="italic">Principal</span> dan Asuransi/ Penjaminan dalam jangka waktu tertentu.</li>
				<li><span class="italic">Marginal Deposit</span> adalah uang yang diterima bank sebagai jaminan dari nasabah pada saat terdapat permohonan pembukaan Guarantee, SKBDN / LC atau jaminan Bank lainnya yang dapat digunakan / diperhitungkan pada waktu penyelesaian transaksi.</li>
				<li><span class="italic">Obligee</span> / <span class="italic">Beneficiary</span> adalah pihak yang menerima <span class="italic">guarantee</span> yang diterbitkan oleh Bank atau disebut pihak terjamin.</li>
				<li>OTP (<span class="italic">One Time Password</span>), yaitu kode angka yang dikirimkan melalui email yang terdaftar, untuk diinput Pengguna pada saat melakukan release pengajuan Bank Gransi yang membutuhkan otentikasi OTP.</li>
				<li><span class="italic">Password</span> adalah sandi rahasia yang sedikitnya di dalamnya memuat kombinasi huruf (besar-kecil) dan angka yang digunakan Pengguna untuk login pada aplikasi <span class="italic">e-Guarantee</span> Bank BTN.</li>
				<li>Pengguna adalah pihak yang telah terdaftar sebagai pengguna aplikasi <span class="italic">e-Guarantee</span> Bank BTN.</li>
				<li>Perusahaan Asuransi adalah perusahaan asuransi yang telah melakukan kerjasama penjaminan dengan Bank atau menerima fasilitas Line Facilty dari Bank.</li>
				<li>Pemohon/<span class="italic">Principal</span> adalah nasabah yang mengajukan permohonan penerbitan <span class="italic">guarantee</span>.</li>
				<li>Satuan Kerja Pengelola Bank Garansi adalah satuan kerja yang terdiri dari beberapa divisi di Kantor Pusat yang bertugas untuk melakukan pengeloaan Bank Garansi.</li>
				<li>Sertifikat Kontra Bank Garansi adalah dokumen tanda bukti Kontra Bank Garansi yang diterbitkan oleh Perusahaan Asuransi.</li>
				<li>Syarat & ketentuan adalah perjanjian antara Pengguna dan Bank BTN yang berisikan seperangkat peraturan yang mengatur hak, kewajiban, tanggung jawab pengguna dan Bank BTN, serta tata cara penggunaan sistem layanan <span class="italic">e-Guarantee</span> Bank BTN.</li>
				<li><span class="italic">User ID</span> adalah identitas yang dimiliki oleh setiap Pengguna yang digunakan dalam setiap aplikasi <span class="italic">e-Guarantee</span> Bank BTN.</li>
				<li>Warkat Bank Garansi baik dalam bentuk cetak maupun digital adalah dokumen tanda bukti penerbitan Bank Garansi oleh Bank.</li>
			</ol>
		</li>
		<li class="before-bold pt-before"><span class="bold font-xx">Syarat Registrasi e-Guarantee Bank BTN</span>
			<ol>
				<li>Calon Pengguna aplikasi e-Guarantee Bank BTN telah menjadi nasabah Bank BTN dan memiliki rekening aktif.</li>
				<li>Calon Pengguna aplikasi e-Guarantee Bank BTN memiliki alamat e-mail yang aktif dan dapat dilakukan korespondensi.</li>
				<li>Pengguna mengisi Formulir Aplikasi Penerbitan Bank Garansi melalui aplikasi e-Guarantee Bank BTN.</li>
			</ol>
		</li>
		<li class="before-bold pt-before"><span class="bold font-xx">Ketentuan Penggunaan <span class="italic">e-Guarantee</span> Bank BTN</span>
			<ol>
				<li>Pengguna wajib mengisi semua data yang dibutuhkan untuk setiap transaksi secara benar, lengkap, dan tepat. Pengguna bertanggung jawab atas kebenaran, kelengkapan, dan ketepatan instruksi setiap tahapan transaksi dan membebaskan Bank dari segala akibat yang timbul karena ketidaklengkapan, ketidakjelasan, atau ketidaktepatan instruksi/data transaksi dari Pengguna.</li>
				<li>Setiap perintah yang telah disetujui dari Pengguna yang tersimpan pada pusat data Bank merupakan data yang benar yang diterima sebagai bukti perintah dari Pengguna kepada Bank untuk melaksanakan transaksi yang dimaksud.</li>
				<li>Pada setiap fasilitas Transaksi harus dilakukan secara bertingkat oleh User ID yang berfungsi sebagai Maker, Approver dan Releaser.</li>
				<li>Dengan melakukan transaksi melalui aplikasi e-Guarantee Bank BTN, Pengguna mengakui semua komunikasi dan instruksi dari Pengguna yang diterima Bank akan diperlakukan sebagai alat bukti yang sah meskipun tidak dibuat dokumen tertulis ataupun dikeluarkan dokumen yang ditandatangani.</li>
				<li>Pengguna wajib memastikan bahwa User ID, Password dan OTP yang digunakan untuk aplikasi e-Guarantee Bank BTN tidak digandakan dan disalahgunakan dalam bentuk apapun.</li>
				<li>Bank menerima dan menjalankan setiap instruksi dari Pengguna sebagai bukti instruksi yang sah berdasarkan pengunaan User ID, Password dan/atau OTP. Untuk itu Bank tidak mempunyai kewajiban untuk meneliti atau menyelidiki keaslian maupun keabsahan atau kewenangan penggunaan User ID, Password dan/atau OTP atau menilai maupun membuktikan ketepatan dan kelengkapan instruksi yang dimaksud, dan oleh karena itu instruksi tersebut sah dan mengikat Pengguna dengan segala akibat yang ditimbulkan.</li>
				<li>Dalam hal Pengguna mengetahui atau menduga User ID, Password dan/atau OTP telah diketahui oleh pihak lain yang tidak berwenang, maka Pengguna wajib segera melakukan pengamanan dengan melakukan perubahan.</li>
				<li>Apabila karena suatu sebab Pengguna tidak dapat melakukan perubahan User ID dan Password, Pengguna wajib memberitahukan kepada Bank. Sebelum diterimanya pemberitahuan secara tertulis oleh pejabat Bank yang berwenang, maka segala perintah, transaksi dan komunikasi berdasarkan penggunaan User ID, Password dan/atau OTP oleh pihak yang tidak berwenang sepenuhnya menjadi tanggung jawab Pengguna.</li>
				<li>Penggunaan User ID, Password dan/atau OTP mempunyai kekuatan hukum yang sama dengan perintah tertulis yang ditandatangani oleh Pengguna, sehingga karenanya Pengguna dengan ini menyatakan bahwa User ID, Password dan/atau OTP dalam setiap perintah atas transaksi pada aplikasi e-Guarantee Bank BTN juga merupakan pemberian kuasa dari Pengguna kepada Bank untuk melaksanakan transaksi termasuk namun tidak terbatas untuk melakukan pendebetan rekening Pengguna baik dalam rangka pelaksanaan transaksi yang diperintahkan maupun untuk pembayaran biaya transaksi yang telah dan atau akan ditetapkan kemudian oleh Bank.</li>
				<li>Pengguna membebaskan Bank dari tanggung jawab atas kerugian apapun yang timbul dari penggunaan aplikasi e-Guarantee Bank BTN yang tidak sesuai dengan petunjuk yang tercantum dalam manual pengoperasian aplikasi e-Guarantee Bank BTN yang diberikan Bank dan kerugian yang timbul akibat kesalahan Pengguna dalam melakukan transaksi.</li>
				<li>Pengguna mengakui kepemilikan Bank terhadap hak cipta dan hak milik intelektual lainnya dalam aplikasi e-Guarantee Bank BTN.</li>
				<li>Pengguna sepenuhnya menyetujui dan mengakui keabsahan penggunaan tanda tangan digital dan e-meterai dalam proses penerbitan Bank Garansi melalui aplikasi e-Guarantee Bank BTN.</li>
				<li>Pengguna dilarang menggandakan atau meneruskan semua atau salah satu hak manapun, manfaat atau kewajiban atas fasilitas ini kepada pihak lain tanpa persetujuan tertulis dari Bank.</li>
				<li>Pengguna tidak akan mengganggu, melakukan perubahan, alterasi, atau menyalahgunakan dengan cara apapun seluruh aplikasi e-Guarantee Bank BTN.</li>
				<li>Pengguna tunduk pada ketentuan pembebanan biaya transaksi dan administrasi/abonemen yang ditetapkan oleh Bank.</li>
				<li>Pengguna menyetujui sepenuhnya membebaskan Bank dari semua biaya, kerusakan, kerugian, kewajiban, atau pengeluaran apapun baik langsung maupun tidak langsung yang timbul sebagai akibat dari pelanggaran oleh Pengguna terhadap kewajiban-kewajiban Client atas fasilitas ini atau akibat apapun yang timbul dari dan atau sehubungan dengan penggunaan aplikasi e-Guarantee Bank BTN.</li>
				<li>Pengguna menyetujui dan mengakui bahwa catatan, pita informasi, print out komputer, salinan dan bentuk penyimpanan informasi atau data lain serta sarana komunikasi lain yang diterima atau dikirimkan oleh Bank yang terkait dengan transaksi merupakan bukti yang sah atas instruksi dari Pengguna.</li>
				<li>Pengguna mengakui keabsahan, kebenaran atau keaslian bukti instruksi dan komunikasi yang ditransmisi secara elektronik antara kedua belah pihak, termasuk dokumen dalam bentuk komputer atau bukti transaksi Bank, pita informasi, print out komputer, salinan dan bentuk penyimpanan informasi yang lain, dan semua alat atau dokumen tersebut merupakan satu-satunya alat bukti yang sah atas transaksi-transaksi perbankan melalui aplikasi e-Guarantee Bank BTN.</li>
			</ol>
		</li>
		<li class="before-bold pt-before"><span class="bold font-xx">Force Majeure</span>
			<ol>
				<li class="remove-content-before">Pengguna akan membebaskan Bank dari segala tuntutan apapun, dalam hal Bank tidak dapat melaksanakan perintah dari Pengguna baik sebagian maupun seluruhnya karena kejadian-kejadian atau sebab-sebab di luar kekuasaan atau kemampuan Bank termasuk namun tidak terbatas pada segala gangguan virus komputer atau sistem Trojan Horses atau komponen membahayakan yang dapat menggangu layanan aplikasi e-Guarantee Bank BTN, web browser atau komputer sistem Bank, atau Nasabah, atau Internet Service Provider, karena bencana alam, perang, huru-hara, keadaan peralatan, sistem atau transmisi yang tidak berfungsi, gangguan listrik, gangguan telekomunikasi, kebijakan pemerintah, serta kejadian-kejadian atau sebab-sebab lain di luar kekuasaan atau kemampuan Bank.</li>
			</ol>
		</li>
		<li class="before-bold pt-before"><span class="bold font-xx">Lain-lain</span>
			<ol>
				<li>Pengguna tunduk pada ketentuan dan peraturan yang berlaku pada Bank serta syarat dan ketentuan yang mengatur semua jasa layanan dan transaksi yang dicakup aplikasi e-Guarantee Bank BTN, termasuk setiap perubahan yang akan diberitahukan oleh Bank melalui sarana yang lazim.</li>
				<li>Bank setiap saat dengan pertimbangannya sendiri berhak mengubah, melengkapi atau mengganti syarat-syarat dan ketentuan-ketentuan ini tanpa persetujuan terlebih dahulu dari Pengguna. Setiap perubahan terhadap syarat dan ketentuan akan diberitahukan kemudian kepada Pengguna dalam bentuk dan melalui sarana yang lazim. Setiap perubahan atas syarat dan ketentuan ini mengikat Pengguna.</li>
				<li>Bank setiap saat dengan pertimbangan tertentu dapat mengubah manual pengoperasian aplikasi e-Guarantee Bank BTN dalam bentuk apapun dan akan memberitahukan perubahannya kepada Pengguna melalui sarana yang lazim.</li>
				<li>Bank berhak menghentikan layanan aplikasi e-Guarantee Bank BTN untuk sementara waktu maupun untuk jangka waktu tertentu yang ditentukan oleh Bank untuk keperluan pembaharuan, pemeliharaan atau untuk tujuan lain dengan alasan apapun yang dianggap baik oleh Bank, dan untuk itu Bank tidak berkewajiban mempertanggungjawabkannya kepada siapapun.</li>
				<li>Bank berhak menghentikan layanan aplikasi e-Guarantee Bank BTN untuk sementara waktu maupun untuk jangka waktu tertentu yang ditentukan oleh Bank untuk keperluan pembaharuan, pemeliharaan atau untuk tujuan lain dengan alasan apapun yang dianggap baik oleh Bank, dan untuk itu Bank tidak berkewajiban mempertanggungjawabkannya kepada siapapun.</li>
				<li>Pengguna telah membaca dan memahami sepenuhnya Syarat dan Ketentuan dari penggunaan aplikasi e-Guarantee Bank BTN.</li>
			</ol>
		</li>
	</ol>
</div>