<div class="row">
    <div class="well">
	    <h3>Registrasi Permata Online (Individual)</h3>
	    <hr>
	    <div class="row">
	    	<?php if(!$this->errnotfound){?>
			<div>
				<ul class="nav nav-tabs" role="tablist" id="tab_head_big">
					<li role="presentation" class="disabled tab_head_small_li" id="tab_pribadi"><a href="javascript:void(0);" aria-controls="pribadi" role="tab" data-toggle="tab" id="pribadi_big" class="tab_head_small_a">Data Pribadi</a></li>
						<li role="presentation" class="disabled tab_head_small_li" id="tab_norek"><a href="javascript:void(0);" aria-controls="no_rek" role="tab" data-toggle="tab" id="no_rek_big" class="tab_head_small_a">No Rekening</a></li>
						<!-- <li role="presentation" class="disabled tab_head_small_li" id="tab_doc"><a href="javascript:void(0);" aria-controls="doc" role="tab" data-toggle="tab" id="doc_big" class="tab_head_small_a">File Pendukung</a></li> -->
						<li role="presentation" class="active tab_head_small_li" id="tab_review"><a href="javascript:void(0);" aria-controls="review" role="tab" data-toggle="tab" id="review_big" class="tab_head_small_a">Review</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active container_tab" id="review" style="padding:10px;">
						<?php if($this->error){?>
							<div class='alert alert-danger' style="width:50%"><?=$this->language->_($this->errMsg)?></div>
						<?php }?>
						<div class="table-responsive col-md-6">
						    <table class="table table-bordered">
						    	<tr>
					        		<td class="col-md-5"><?=$this->language->_('User Name')?></td>
					        		<td class="col-md-7"><?=$this->user_fullname?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('Email')?></td>
					        		<td class="col-md-7"><?=$this->user_email?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('Mobile Phone No')?></td>
					        		<td class="col-md-7"><?=$this->user_mobile_phone?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('Address')?></td>
					        		<td class="col-md-7"><?=$this->user_address?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('City')?></td>
					        		<td class="col-md-7"><?=$this->user_city?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('Zip')?></td>
					        		<td class="col-md-7"><?=$this->user_zip?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('State/Province')?></td>
					        		<td class="col-md-7"><?=$this->user_province?></td>
					        	</tr>
					        	<tr>
					        		<td class="col-md-5"><?=$this->language->_('Country')?></td>
					        		<td class="col-md-7"><?=$this->countryArr[$this->user_country]?></td>
					        	</tr>
					        </table>
				        </div>
					</div>
				</div>
			</div>

			<div class="col-md-8">
				<?php if(count($this->acclist) > 0){?>
					<table class="table table-bordered">
						<tr>
							<th width="5%">No</th>
							<th width="25%"><?=$this->language->_('Account Number')?></th>
							<th width="35%"><?=$this->language->_('Account Name')?></th>
							<th><?=$this->language->_('CCY')?></th>
						</tr>
					<?php 
						$ctr = 1;

						foreach($this->acclist as $row){
							echo '<tr>
									<td>'.$ctr.'</td>
									<td>'.$row['ACCT_NO'].'</td>
									<td>'.$row['ACCT_NAME'].'</td>
									<td>'.$row['ACCT_CCY'].'</td>
								';

							$ctr++;
						}
					?>
					</table>
				<?php }?>
				<!-- <br/>
				<table>
					<tr>
						<td width="25%">ID (KTP/SIM/PASPOR)</td>
						<td> : </td>
						<td><?=$this->id_file?></td>
					</tr>
					<tr>
						<td>Others</td>
						<td> : </td>
						<td><?=$this->other_file?></td>
					</tr>
				</table> -->
				<form name="confirm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">
		        	<div class="form-group">
		        		<div class="col-lg-12 col-sm-12">
		        			<input type="checkbox" name="agreement" value="1">&nbsp;<?=$this->language->_('I agree to the')?> <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><?=$this->language->_('Terms and Conditions')?></a>
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<div class="col-lg-12 col-sm-12">
		        			<br/><br/>
		        			<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'account'),null,true)?>" class="btn btn-primary"><?=$this->language->_('Back')?></a>&nbsp;&nbsp;
		        			<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btn btn-primary'));?>
		        		</div>
		        	</div>
		        </form>
			</div>
			<?php }else{?>
			<div class="col-md-12">
				<div class="alert alert-danger"><?=$this->language->_($this->errMsg)?></div>
				<br/><br/>
				<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" class="btn btn-primary"><?=$this->language->_('Back')?></a>
			</div>
			<?php }?>
		</div>
	</div>
</div>

<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?=$this->language->_('Terms and Conditions')?></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><?=$this->language->_('Close')?></button>
      </div>
    </div>
  </div>
</div>