<div class="row">
    <div class="well">
	    <h3>Registrasi Permata Online (Individual)</h3>
	    <hr>
	    <div class="row">
			<form action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" name="formReg" id="formReg" class="form-horizontal" method="post" accept-charset="utf-8">
				<div>
					<ul class="nav nav-tabs" role="tablist" id="tab_head_big">
						<li role="presentation" class="active tab_head_small_li" id="tab_pribadi"><a href="javascript:void(0);" aria-controls="pribadi" role="tab" data-toggle="tab" id="pribadi_big" class="tab_head_small_a">Data Pribadi</a></li>
						<li role="presentation" class="disabled tab_head_small_li" id="tab_norek"><a href="javascript:void(0);" aria-controls="no_rek" role="tab" data-toggle="tab" id="no_rek_big" class="tab_head_small_a">No Rekening</a></li>
						<!-- <li role="presentation" class="disabled tab_head_small_li" id="tab_doc"><a href="javascript:void(0);" aria-controls="doc" role="tab" data-toggle="tab" id="doc_big" class="tab_head_small_a">File Pendukung</a></li> -->
						<li role="presentation" class="disabled tab_head_small_li" id="tab_review"><a href="javascript:void(0);" aria-controls="review" role="tab" data-toggle="tab" id="review_big" class="tab_head_small_a">Review</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active container_tab" id="pribadi" style="padding:10px;">
							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('User Name')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('user_fullname',$this->user_fullname,array('class'=>'form-control','autocomplete'=>'off','maxlength'=>'50'));?>
									<div class="errmsg"><?=$this->error_user_fullname?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Email')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('user_email',$this->user_email,array('class'=>'form-control','autocomplete'=>'off','maxlength'=>'128'));?>
									<div class="errmsg"><?=$this->error_user_email?></div>
								</div>
							</div>

							

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Mobile Phone No')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('user_mobile_phone',$this->user_mobile_phone,array('class'=>'required form-control','maxlength'=>'20','autocomplete'=>'off','onkeypress'=>'return forceNumber(event);'));?>
									<div class="errmsg"><?=$this->error_user_mobile_phone?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Address')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formTextarea('user_address',$this->user_address,array('class'=>'form-control','rows'=>'5','autocomplete'=>'off'));?>
									<div class="errmsg"><?=$this->error_user_address?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('City')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('user_city',$this->user_city,array('class'=>'form-control','maxlength'=>'50','autocomplete'=>'off'));?>
									<div class="errmsg"><?=$this->error_user_city?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Zip')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('user_zip',$this->user_zip,array('class'=>'form-control','maxlength'=>'10','autocomplete'=>'off'));?>
									<div class="errmsg"><?=$this->error_user_zip?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('State/Province')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('user_province',$this->user_province,array('class'=>'form-control','maxlength'=>'50','autocomplete'=>'off'));?>
									<div class="errmsg"><?=$this->error_user_province?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Country')?> *</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formSelect('user_country',$this->user_country,array('class'=>'form-control'),$this->countryArr);?>
									<div class="errmsg"><?=$this->error_user_country?></div>
								</div>
							</div>

							<br/>
							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"></label>
								<div class="col-lg-5 col-sm-6">
									<a href="<?=$this->url(array('module'=>'default','controller'=>'index','action'=>'echannel'),null,true)?>" class="btn btn-danger"><?=$this->language->_('Cancel')?></a>&nbsp;&nbsp;
									<?php echo $this->formSubmit('submit',$this->language->_('Next'),array('class'=>'btn btn-primary'));?>
								</div>
							</div>
						</div>
					</div>
				</div>					
			</form>
		</div>
	</div>
</div>