<?php
$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if (is_array($query_string_params)) {
	$qstring = '?';
	foreach ($query_string_params as $key => $val)
		$qstring .= $key . '=' . $val . '&';
	$qstring = substr($qstring, 0, -1);
} else {
	$qstring = '';
}

$jqueryDateFormat 	= $this->dateJqueryFormat;
$changesTypeDescArr = $this->suggestionType['desc'];
$changesTypeCodeArr = $this->suggestionType['code'];
$changesFilterArr 	= array_flip($changesTypeCodeArr);
foreach ($changesFilterArr as $key => $val) {
	$changesFilterArr[$key] = $changesTypeDescArr[$val];
}
$changesFilterArr = array_merge(array('' => '-- ' . $this->language->_('Any Value') . ' --'), $changesFilterArr);


$listSuggestData  = array(
	'General Setting' => 'General Setting',
	'Currency Setting' => 'Currency Setting',
	'Holiday Setting' => 'Holiday Setting',
	'Customer' => 'Customer',
	'Bank Account' => 'Bank Account',
	'User Account' => 'User Account',
	'User Limit' => 'User Limit',
	'User Daily Limit' => 'User Daily Limit',
	'Approver Group' => 'Approver Group',
	'Approver Group Boundary' => 'Approver Group Boundary',
	'Backend User' => 'Backend User',
	'Backend Group' => 'Backend Group',
	//		'COA Account'=>'COA Account',
	'Charges Template' => 'Charges Template',
	'Charges' => 'Charges',
	'System Balance' => 'System Balance',
	'Global Scheme Parameter' => 'Global Scheme Parameter',
	'Scheme Configuration' => 'Scheme Configuration',
	'Physical Document Configuration' => 'Physical Document Configuration',
	'Root Community' => 'Root Community',
	'Principal' => 'Principal',
	'Community' => 'Community',
	'Member' => 'Member',
);
ksort($listSuggestData);
$listSuggestData = array('all' => '--' . $this->language->_('Any Value') . '--') + $listSuggestData;
?>
<!-- <b><?php echo $this->language->_('Changes Request List'); ?> &gt; <?php echo $this->language->_('Changes Request List'); ?></b><br /><br /> -->

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Changes Request List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?php echo $this->language->_('Changes Request List'); ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<?php
if ($this->updated) {
	if (is_array($this->updatedId) && count($this->updatedId) && is_array($this->updatedStatus) && count($this->updatedStatus)) {
		$msgArr = array();
		foreach ($this->updatedId as $key => $value) {
			$msg = null;
			$msg = $this->msgSuccess . ' ' . $this->language->_('Suggest Data') . ' : ' . $value;
			if (isset($this->successRemark[$key]))
				$msg .= ', ' . $this->successRemark[$key];
			$msgArr[$key] = $msg;
		}

		echo '<br /><div class="successmsg">' . $this->language->_('Updated suggestion') . '(s):</div>';
		echo $this->formErrors($msgArr, array('class' => 'successmsg'));
	}

	if (is_array($this->failedId) && count($this->failedId)) {
		$msgArr = array();
		foreach ($this->failedId as $key => $value) {
			$msgArr[$key] = $this->failedMessage[$key] . ', ' . $this->language->_('Suggest Data') . ': ' . $value;
		}

		echo '<br /><div class="errmsg">' . $this->language->_('Failed suggestion update') . '(s):</div>';
		echo $this->formErrors($msgArr, array('class' => 'errmsg'));
	}
}
?>
<?php
if ($this->success) {
?>
	<br />
	<div class="successmsg"><?= $this->report_msg ?></div>
<?php
} else if ($this->error) {
?>
	<br />
	<div class="errmsg"><?= $this->report_msg ?></div>
<?php
}
?>


<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('Confirm Changes Request List') ?></h5>
		<?= $this->form('formAct', array(
			'name' => 'actForm',
			'action' => $this->url(
				array(
					'module' => Zend_Controller_Front::getInstance()->getRequest()->getModuleName(),
					'controller' => Zend_Controller_Front::getInstance()->getRequest()->getControllerName(),
					'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName()
				)
			) . $qstring,
			'method' => 'post'
		)); ?>
		<input type="hidden" id="token" name="token" value="<?php echo $this->token; ?>">
		<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
			<tr>
				<?php echo $this->partial(
					'tableheader.phtml',
					array(
						'fields' => $this->fields,
						'sortBy' => $this->sortBy,
						'sortDir' => $this->sortDir,
						'query_string_params' => $query_string_params
					)
				) ?>
				<th class="tablehead" valign="top"><?php echo $this->language->_('Status'); ?></th>
			</tr>
			<?php

			if (count($this->paginator) > 0) {
				$counter  = 0;
				foreach ($this->paginator as $row) {
					if ($counter % 2 == 0)
						$css = 'tbl-evencontent';
					else
						$css = 'tbl-oddcontent';

					if (array_key_exists($row['CHANGES_ID'], $this->arrayChangesError)) {
						$styleError = 'style="background-color:red"';
						$description =  $this->arrayChangesError[$row['CHANGES_ID']];
					} else {
						$styleError = '';
						$description = 'Ready';
					}
					$changesCreated = Application_Helper_General::convertDate($row['CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat);

					$key = array_search($row['CHANGES_TYPE'], $changesTypeCodeArr);
					$changesType = $changesTypeDescArr[$key];

					if (isset($this->note[$row['CHANGES_ID']]))
						$reason = $this->note[$row['CHANGES_ID']];
					else
						$reason = $row['CHANGES_REASON'];


					if ($row['CHANGES_STATUS'] == "RR") {;
						$suggestionStatus = 'Request Repaired';
					} else {
						if ($row['READ_STATUS'] == 0) {
							$suggestionStatus = 'Unread Suggestion';
						} elseif ($row['READ_STATUS'] == 1) {
							$suggestionStatus = 'Read Suggestion';
						} elseif ($row['READ_STATUS'] == 2) {
							$suggestionStatus = 'Repaired Suggestion';
						}
					}

			?>
					<tr>
						<td class="<?= $css ?>" <?= $styleError ?>><?php echo $this->formHidden('change_id[]', $row['CHANGES_ID_ENCRYPTED'], array()); ?><?= $this->language->_($row['DISPLAY_TABLENAME']) ?></td>
						<?php
						$notcomp = array('Biller List', 'Bin Template', 'Backend User', 'Biller Charges', 'Backend Group');
						if (in_array($row['DISPLAY_TABLENAME'], $notcomp)) {
							$comp = '-';
						} else {
							$comp = $row['COMPANY_CODE'];
						} ?>
						<td class="<?= $css ?>" <?= $styleError ?>><?php echo $comp; ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= ($row['COMPANY_NAME']) ? $row['COMPANY_NAME'] : '-'; ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= ($row['KEY_FIELD']) ? $row['KEY_FIELD'] : '-'; ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= ($row['KEY_VALUE']) ? $row['KEY_VALUE'] : '-'; ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= $changesCreated ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= $row['CREATED_BY'] ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= $changesType ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= $this->language->_($suggestionStatus) ?></td>
						<td class="<?= $css ?>" <?= $styleError ?>><?= $this->language->_($description) ?></td>
					</tr>
				<?php
					$counter++;
				}
			} else {
				?>
				<tr>
					<td colspan="11" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td>
				</tr>
			<?php
			}
			?>
		</table>
		<br />
		<?php
		if (count($this->paginator)) {
		?>
			<br />
			<div align="left">
				<?php
				if (is_array($this->arrayChangesError) && count($this->arrayChangesError) > 0) {
					$attributeButton = array('class' => 'btnwhite disabled', 'disabled' => 'disabled');
				} else {
					$attributeButton = array('class' => 'btngreen hov');
				}

				?>
				<input type="button" onclick='location.href="<?php echo $this->backURL; ?>"' value="<?php echo $this->language->_('Back'); ?>" class='btnwhite hov'>
				<?php if ($this->action == $this->language->_('Approve')) echo $this->formSubmit('action', $this->language->_('Approve'), $attributeButton); ?>&nbsp;
				<?php if ($this->action == $this->language->_('Reject')) echo $this->formSubmit('action', $this->language->_('Reject'), $attributeButton); ?>&nbsp;
				<?php if ($this->action == $this->language->_('Request Repair')) echo $this->formSubmit('action', $this->language->_('Request Repair'), $attributeButton); ?>&nbsp;
				<br />
			</div>
		<?php
		}
		?>
		</form>
	</div>
</div>