<script type="text/javascript">
	$(document).ready(function() {
		$('div#sidebar-collapse').click(function() {
			if ($("#logo-title").is(":visible")) {
				$("#logo-title").hide();
				$("#logo-titles").hide();
			} else if ($("#logo-title").is(":hidden")) {
				$("#logo-title").show();
				$("#logo-titles").show();
			}
		})

		$('#sgdateStart').datepicker({
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
		$('#sgdateEnd').datepicker({
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});

		$('#fixTable').fixTableHeader();
	});
</script>

<?php

$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if (is_array($query_string_params)) {
	$qstring = '?';
	foreach ($query_string_params as $key => $val)
		$qstring .= $key . '=' . $val . '&';
	$qstring = substr($qstring, 0, -1);
} else
	$qstring = '';

$jqueryDateFormat = $this->dateJqueryFormat;

$changesTypeDescArr = $this->suggestionType['desc'];
$changesTypeCodeArr = $this->suggestionType['code'];
$changesFilterArr = array_flip($changesTypeCodeArr);
foreach ($changesFilterArr as $key => $val)
	$changesFilterArr[$key] = $this->language->_($changesTypeDescArr[$val]);
//Zend_Debug::dump($changesTypeCodeArr);
$changesFilterArr = array_merge(array('' => '-- ' . $this->language->_('Any Value') . ' --'), $changesFilterArr);



/*if($this->showTable)
{*/

//$paginatorCount = SGO_Helper_GeneralFunction::paginatorRecordCount($this->paginatorParam);
//$paginator = SGO_Paginator::factory($paginatorCount);

//create a paginator specific for this view
//$paginator = Zend_Paginator::factory($this->paginatorParam);

//set number of records to display per page
//$paginator->setItemCountPerPage(Zend_Registry::get('paging.defaults.itemCountPerPage'));
//set number of page number links to display
//$paginator->setPageRange(Zend_Registry::get('paging.defaults.pageRangeCount'));
//set scrolling style
//$paginator->setDefaultScrollingStyle(Zend_Registry::get('paging.defaults.scrollingStyle'));

//if($this->currentPage > $paginator->count())
//{
//$this->currentPage = 1;
//}
//$paginator->setCurrentPageNumber($this->currentPage);

//$paginator->setCurrentItems(SGO_Helper_GeneralFunction::paginatorFactory($this->paginatorParam, Zend_Registry::get('paging.defaults.itemCountPerPage'), $this->currentPage));



//$counter = (($this->currentPage-1) * $paginator->getItemCountPerPage()) + 1;
$counter = (($this->paginator->getCurrentPageNumber() - 1) * $this->paginator->getItemCountPerPage()) + 1;


//}

$listSuggestData  = array(
	'General Setting' => $this->language->_('General Setting'),
	'Minimum Amount and Currency Available' => $this->language->_('Minimum Amount and Currency Available'),
	'Holiday Setting' => $this->language->_('Holiday Setting'),
	'Customer' => $this->language->_('Customer'),
	'Bank Account' => $this->language->_('Bank Account'),
	'User Account' => $this->language->_('User Account'),
	'User Limit' => $this->language->_('User Limit'),
	'User Daily Limit' => $this->language->_('User Daily Limit'),
	'Approver Group' => $this->language->_('Approver Group'),
	'Approver Group Boundary' => $this->language->_('Approver Group Boundary'),
	'Backend User' => $this->language->_('Backend User'),
	'Backend Group' => $this->language->_('Backend Group'),
	'Charges' => $this->language->_('Charges'),
	'Charges Template' => $this->language->_('Charges Template'),
	// 'COA Account'=>'COA Account',
	// 'Charges Template'=>'Charges Template',
	// 'Charges'=>'Charges',
	// 'System Balance'=>'System Balance',
	// 'Global Scheme Parameter'=>'Global Scheme Parameter',
	// 'Scheme Configuration'=>'Scheme Configuration',
	// 'Physical Document Configuration'=>'Physical Document Configuration',
	// 'Root Community'=>'Root Community',
	// 'Principal'=>'Principal',
	// 'Community'=>'Community',
	// 'Member'=>'Member',
	// 'Assign User to Community'=>'Assign User to Community',
);
ksort($listSuggestData);
$listSuggestData = array('all' => '--' . $this->language->_('Any Value') . '--') + $listSuggestData;
?>
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Approval Request'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Data Changes'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('Data Changes') ?></h5>
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<?php
			$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
			foreach ($this->filterlist as $row) {
				$optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
			}

			?>
			<div class="row " id="logo-titles" style="margin-left: 0px">
				<?php
				if (!empty($this->wherecol)) {
				?>
					<script type="text/javascript">
						$(document).ready(function() {
							$("#logo-title").show();
						});
					</script>
				<?php
				}
				foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
						<?php
						$datetype = array("PS_SUGGESTED", "SUGGEST_DATA", 'COMP_ID', 'SUGGEST_TYPE', 'SUGGEST_STATUS');
						$selectlist = array('COMP_NAME', 'DATA_ID', 'DATA_NAME', 'SUGGESTED_BY');
						$index = 0;



						?>
						<div id="where-<?= $ctr ?>">
							<div class="form-group row mt-12">
								<div class="col-md-4 form-inline">
									<select class='form-control event_select' id='wherecol-<?= $ctr ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
										<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
										<?php

										foreach ($this->filterlist as $row) {
											$colname = $row;
											if ($value == $colname) {
												$selected = "selected";
											} else {
												$selected = "";
											}
										?>
											<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
										<?php } ?>
									</select>
								</div>
								<div class="col" style="display: none">
									<select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

										<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
										<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } ?>
									</select>
								</div>
								<div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
									<script type="text/javascript">
										$(document).ready(function() {
											var colval = "#colvalue-s<?= $key ?>";
											var colomnname = "<?= $value ?>";
											// var colselect= "<?= $value ?>";
											var colselect = "colselect-s<?= $key ?>";
											var ncolselect = "#colselect-s<?= $key ?>";
											if (colomnname == 'COMP_ID') {
												// alert(<?= $this->whereval[$key] ?>);
												$(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});

												$(colselect).val('<?= $this->whereval[$index] ?>');

											} else if (colomnname == 'SUGGEST_DATA') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugestdata'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');

											} else if (colomnname == 'SUGGEST_TYPE') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugesttype'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');

											} else if (colomnname == 'SUGGEST_STATUS') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugeststatus'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');

											}
										});
									</script>
									<?php
									if ($value == 'PS_CREATED') {
										// var_dump($this->whereval);die;
									?>
										<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createEnd ?>" readonly required>
									<?php
									} else if ($value == 'PS_SUGGESTED') {
									?>
										<input type='text' class='form-control' name='sgdate[]' id='sgdateStart' readonly value="<?= $this->sgdateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sgdate[]' id='sgdateEnd' value="<?= $this->sgdateEnd ?>" readonly required>
									<?php

									} else if ($value == 'PS_UPDATED') {
									?>
										<input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?= $this->updateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?= $this->updateEnd ?>" readonly required>
									<?php

									} else if (in_array($value, $selectlist)) {
									?>
										<input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$index] ?>' />
									<?php }
									if (!in_array($value, $datetype)) {
										// print_r($value);die;
										$index++;
									}
									?>
								</div>
								<div class="col-md-2 form-inline">
									<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>

					</div>

				<?php
				}
				?>

			</div>


			<div class="row " id="logo-title" style="display: none">
				<div class="portlet-body form col-md-12">
					<div id="wheres" style="width: 100%">
						<!-- <div id="where-<?= $ctr ?>">
							<div class="form-group row mt-12">
								<div class="col-md-4 form-inline">
									<select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='wherecol[]' onchange='getOpt(this)'>
										<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
										<?php

										foreach ($this->filterlist as $row) {
											$colname = $row;
											if ($val == $colname) {
												$selected = "selected";
											} else {
												$selected = "";
											}
										?>
											<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
										<?php } ?>
									</select>
								</div>
								<div class="col" style="display: none">
									<select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

										<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
										<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } ?>
									</select>
								</div>
								<div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'>
									<input class='form-control' type='text' style='width:100%' name='whereval[]' value='' />
								</div>
								<div class="col-md-2 form-inline">
									<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div> -->
						<?php //}}
						?>
					</div>
					<!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
					<input type="hidden" id="wherectr" value="0" />
					<br />
					<button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
					&nbsp;
					<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
					&nbsp;
					<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


					<br />



				</div>
				<div class="col-md-4">
				</div>

			</div>
			<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation">
					<?php echo $this->language->_('Advanced Search'); ?>
				</a>
			</div>
		</form>
	</div>
</div>
<?php
if ($this->updated) {
	if (is_array($this->updatedId) && count($this->updatedId) && is_array($this->updatedStatus) && count($this->updatedStatus)) {
		$msgArr = array();
		foreach ($this->updatedId as $key => $value) {
			$msg = null;
			$msg = $this->msgSuccess . ' ' . $this->language->_('Suggest Data') . ' : ' . $value;
			if (isset($this->successRemark[$key]))
				$msg .= ', ' . $this->successRemark[$key];
			$msgArr[$key] = $msg;
		}

		echo '<br /><div class="successmsg">' . $this->language->_('Updated suggestion') . '(s):</div>';
		echo $this->formErrors($msgArr, array('class' => 'successmsg'));
	}

	if (is_array($this->failedId) && count($this->failedId)) {
		$msgArr = array();
		foreach ($this->failedId as $key => $value) {
			$msgArr[$key] = $this->failedMessage[$key] . ', ' . $this->language->_('Suggest Data') . ': ' . $value;
		}

		echo '<br /><div class="errmsg">' . $this->language->_('Failed suggestion update') . '(s):</div>';
		echo $this->formErrors($msgArr, array('class' => 'errmsg'));
	}
}
?>
<?php if ($this->success) { ?>
	<br />
	<div class="successmsg"><?= $this->report_msg ?></div>
<?php } else if ($this->error) { ?>
	<br />
	<div class="errmsg"><?= $this->report_msg ?></div>
<?php } ?>

<br />

<div class="row">
	<div class="col-md-12">
		<?= $this->form('formAct', array(
			'name' => 'actForm',
			'action' => $this->url(
				array(
					'module' => Zend_Controller_Front::getInstance()->getRequest()->getModuleName(),
					'controller' => Zend_Controller_Front::getInstance()->getRequest()->getControllerName(),
					'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName()
				)
			) . $qstring,
			'method' => 'post'
		)); ?>

		<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
			<table class="table table-sm table-striped">
				<thead>
					<tr>
						<!-- <th valign="top" class="tablehead"><?php echo $this->formCheckbox('checkall', '', array('onclick' => 'if($(this).is(":checked")){$(".checkAll").attr("checked","checked");}else{$(".checkAll").removeAttr("checked");};')); ?></th> -->
						<?php echo $this->partial(
							'tableheader.phtml',
							array(
								'fields' => $this->fields,
								'sortBy' => $this->sortBy,
								'sortDir' => $this->sortDir,
								'query_string_params' => $query_string_params
							)
						) ?>
						<th valign="top" class="tablehead"><?php echo $this->language->_('Action'); ?></th>
					</tr>
				</thead>
				<tbody>
					<?php

					if (count($this->paginator) > 0) {
						foreach ($this->paginator as $row) {
							if ($counter % 2 == 0)
								$css = 'tbl-evencontent';
							else
								$css = 'tbl-oddcontent';

							//$displayDate = new Zend_Date($row['CREATED'],$databaseDefaultDateFormat);
							//$changesCreated = $displayDate->toString($displayDateFormat);
							//$changesCreated = $this->Date($row['CREATED']);
							$changesCreated = Application_Helper_General::convertDate($row['CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat);

							$key = array_search($row['CHANGES_TYPE'], $changesTypeCodeArr);
							$changesType = $changesTypeDescArr[$key];

							//create actionArray (dropdown) values


							//if suggestion type is Activate or Deactivate, then it's not possible to request repair

							if (isset($this->note[$row['CHANGES_ID']]))
								$reason = $this->note[$row['CHANGES_ID']];
							else
								$reason = $row['CHANGES_REASON'];


							if ($row['CHANGES_STATUS'] == "RR") {;
								$suggestionStatus = 'Request Repaired';
							} else {
								if ($row['READ_STATUS'] == 0) {
									$suggestionStatus = 'Unread Suggestion';
								} elseif ($row['READ_STATUS'] == 1) {
									$suggestionStatus = 'Read Suggestion';
								} elseif ($row['READ_STATUS'] == 2) {
									$suggestionStatus = 'Repaired Suggestion';
								}
							}
							if (trim($row['COMPANY_CODE']) == '') $row['COMPANY_CODE'] = '-';
							if (trim($row['COMPANY_NAME']) == '') $row['COMPANY_NAME'] = '-';
							if (trim($row['KEY_FIELD']) == '') $row['KEY_FIELD'] = '-';
							if (trim($row['KEY_VALUE'])	== '') $row['KEY_VALUE'] = '-';
					?>

							<tr>
								<?php

								if ($row['MODULE'] == 'holidaysetting') {
									if (!$this->hasPrivilege('HDVP')) continue;
								}

								if ($row['CHANGES_FLAG'] == 'B') {
									if ($row['MODULE'] == 'holidaysetting') {
								?>
										<!-- <td class="<?= $css ?>"></td> -->
									<?php } else { ?>
										<!-- <td class="<?= $css ?>"><?php echo $this->formCheckbox('change_id[]', $row['CHANGES_ID'], array('class' => 'checkAll')); ?></td> -->

									<?php
									}
								} else { ?>
									<td class="<?= $css ?>"></td>
								<?php
								}

								?>

								<td class="<?= $css ?>"><?= $this->language->_($row['DISPLAY_TABLENAME']) ?></td>
								<?php
								$notcomp = array('Biller List', 'Bin Template', 'Backend User', 'Biller Charges', 'Backend Group');
								if (in_array($row['DISPLAY_TABLENAME'], $notcomp)) {
									$comp = '';
								} else {
									if ($row['MODULE'] == 'holidaysetting') {
										$comp = '-';
									} else {
										if ($row['COMPANY_CODE'] == '-' || empty($row['COMPANY_CODE'])) {
											$comp = '-';
										} else {
											$comp = $row['COMPANY_NAME'] . ' (' . $row['COMPANY_CODE'] . ')';
										}
									}
								} ?>
								<td class="<?= $css ?>"><?php echo $comp; ?></td>
								<td class="<?= $css ?>"><?= $row['KEY_FIELD'] ?></td>
								<td class="<?= $css ?>"><?= $row['KEY_VALUE'] ?></td>
								<td class="<?= $css ?>"><?= $changesCreated ?></td>


								<?php
								if ($row['CHANGES_FLAG'] == 'B') { ?>

									<td class="<?= $css ?>"><?= 'BO - ' . $row['CREATED_BY'] ?></td>

								<?php
								} else { ?>
									<td class="<?= $css ?>"><?= 'FO - ' . $row['CREATED_BY'] ?></td>
								<?php
								}

								?>

								<td class="<?= $css ?>"><?= $this->language->_($changesType) ?></td>
								<td class="<?= $css ?>"><?= $this->language->_($suggestionStatus) ?></td>
								<!--
    	<td class="<?= $css ?>"><a href="<?= $this->url(
												array(
													'module' => $row['MODULE'],
													'controller' => 'suggestiondetail',
													'action' => 'index',
													'changes_id' => $row['CHANGES_ID']
												)
											); ?>" class="link">Detail</a></td>
		-->
								<td class="<?= $css ?>"><input type="button" onClick="javascript:openwindow('<?= $this->url(array('module' => $row['MODULE'], 'controller' => 'suggestiondetail', 'action' => 'index', 'changes_id' => $row['CHANGES_ID']), null, true) ?>',640,580);" class="btngreen hov" value="<?php echo $this->language->_('Detail') ?>"></td>

							</tr>
						<?php
							$counter++;
						}
					} else {
						?>
						<tr>
							<td colspan="11" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td>
						</tr>
					<?php
					}
					?>
				</tbody>
			</table>
		</div>

		<br />
		<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
		<?php if (count($this->paginator) && false) { ?>
			<br />

			<div class="row content-box">
				<div class="portlet-body form col-md-12">
					<label><?php echo $this->language->_('Repair`s Notes'); ?>:</label>
					<br />
					<br />
					<textarea class="form-control col-md-12" name="change_note" cols="30" rows="5" maxlength="200"></textarea>
					<br />
					<br />
					<?php echo $this->formSubmit('action', $this->language->_('Approve'), array('class' => 'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('action', $this->language->_('Reject'), array('class' => 'btnred hov')); ?>&nbsp;
					<?php echo $this->formSubmit('action', $this->language->_('Request Repair'), array('class' => 'btngreen hov')); ?>&nbsp;
					<br />
					<br />
				</div>
			</div>
		<?php } ?>
		</form>

	</div>
</div>

<script type="text/javascript">
	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
	}
	$(document).ready(function() {

		$("#addwhere").click(function() {
			var ctr = $("#wherectr").val();
			var optstr = '<?php echo $optArr; ?>';
			var wherecol = "#wherecol-" + ctr;
			$("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
			ctr++;
			$("#wherectr").val(ctr);
		});
	});

	function getOpt(elem) {
		var id = elem.id;
		var temp = id.split('-');
		var ctr = temp[1];

		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];

		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-" + ctr;
		var ncolselect = "#colselect-" + ctr;
		var $coll = $('.event_select');
		$coll.children().prop('disabled', false);
		$coll.each(function() {
			var val = this.value;
			if (val === 'original') return;
			$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
		});

		$(colval).empty();
		if (colomnname == 'PS_SUGGESTED') {
			$(colval).append("<input type='text' class='form-control' name='sgdate[]' id='sgdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sgdate[]' id='sgdateEnd' readonly required>");


			$('#sgdateStart').datepicker({
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});
			$('#sgdateEnd').datepicker({
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});

		} else if (colomnname == 'COMP_ID') {

			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'SUGGEST_DATA') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugestdata'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'SUGGEST_TYPE') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugesttype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'SUGGEST_STATUS') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugeststatus'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else {
			$(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
		}


		var optsel = "whereopt-" + ctr;
		document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

		if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
			document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}
		if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
		} else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
		} else if (dttype == 'date' || dttype == 'datetime') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}

		var colomn = '#whereopt-' + ctr;
		var data = $(colomn).val('EQUAL').change();

	}
</script>