<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}
.padding-header-cust{
  padding-left:2%;
  background-color:#005587;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}
.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
}
</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span>BG</span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('BG List')?></span>
								 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Edit')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>
<br>
<form name="approveForm" id="approveForm" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
<input type="hidden" name="bgnumb" value="<?php echo $this->BG_REG_NUMBER; ?>">
<input type="hidden" name="custid" value="<?php echo $this->CUST_ID; ?>">
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row" style="padding-left:2%;">
            <div class="col-md-12 padding-header-cust">
                <h5><?=$this->language->_('Bank Guarantee Detail')?></h5>
            </div>
        </div>
        <div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray">Register No# / BG No#</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->BG_REG_NUMBER.' / '.$this->BG_NUMBER;  ?></strong> &nbsp;&nbsp;<?php echo '(Status: '.$this->arrStatus[$this->status].')'; ?>
            </div>
        </div>
		<div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray">Account Number</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->ACCT_NO; ?></strong>
            </div>
        </div>
         <div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray">Subject</label>
            </div>
            <div class="col-md-9">
			<?php echo $this->formText('subject',$this->BG_SUBJECT,array('id'=>'subject','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;margin-left: 10px;width: 98%;'))?>
            </div>
        </div>
		<div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray" >Branch Trade Service</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->branchname; ?></label>
            </div>
        </div>
         <br/>
        <div class="row">
						<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?=$this->language->_('Bank Guarantee Applicant')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">City</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_CITY']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Contact Number</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo '('.$this->compinfo['CUST_EXT'].')'.$this->compinfo['CUST_FAX']; ?></label>
									</div>
								</div>
            </div>
        </div>

				<div class="row" style="text-align: right;margin-right: 0px;">
					<div class="col-md-12" style="height: auto; position: relative;">
						<a href="#" onclick="modalmoredetail();" style=""><i class="fas fa-ellipsis-h"></i></a>
					</div>
				</div>

				<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">			  
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
									<center style="width:100%">
									<h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
									</center>
							</div>

							<div class="modal-body">
									<br>
									<div class="row">
											<div class="col-sm-1"></div>
											<div class="col-sm-10">

													<?php echo $this->action('index',
															'eformhistory',
															'tools',
													array('bgnumb' => $this->BG_REG_NUMBER)); ?>


											</div>
											<div class="col-sm-1"></div>

									</div>
							</div>
							<div class="modal-footer">
									<center style="width:100%">
									<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
									</center>
							</div>
						</div>
					</div>
				</div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Usage Purpose')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
				                <!--<label class="textGray"><strong class="formreq"><font color="red">&nbsp;*</font></strong>There must be at least 1 purpose selected</label>-->
								<div class="form-group row">
                    <div class="col-sm-5">
                        <label for=""><input type="checkbox" name="chkpurpose[]" value="1" <?php echo $this->checkp1;?>>&nbsp;Bidding Guarantee</label>
                    </div>
                    <div class="col-sm-5">
                        <label for=""><input type="checkbox" name="chkpurpose[]" value="2" <?php echo $this->checkp2;?>>&nbsp;Advance Payment Guarantee</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label for=""><input type="checkbox" name="chkpurpose[]" value="3" <?php echo $this->checkp3;?>>&nbsp;Performance Bond</label>
                    </div>
                    <div class="col-sm-5">
                        <label for=""><input type="checkbox" name="chkpurpose[]" value="4" <?php echo $this->checkp4;?>>&nbsp;Maintenance Guarantee</label>
                    </div>
                </div>
                <div class="form-group row pb-1">
                    <div class="col-sm-2"> 
                        <label for=""><input type="checkbox" name="chkpurpose[]" value="5" <?php echo $this->checkp5;?>>&nbsp;Others :</label>                
                    </div>
					<div class="col-sm-10"> 
					<input type="text" name="others" id="others" value="<?php echo $this->others ?>" onkeyup="change()" class="inputBorderless " style="font-size: 1.2em;width: 91%!important;">
                    </div>
                </div>
            </div>
        </div>
		</div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Bank Guarantee Recipient')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Recipient Name<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->recipent_name; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Address<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->address; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">City<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->city; ?> </label>
												
										</div>
								</div>
								<div class="form-group row pb-1">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contact Number<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
												<label><?php echo $this->contact_number; ?> </label>
												
										</div>
								</div>
			</div>
		</div>
        </div>

        <div class="row">
		<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Guaranted Transactions')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<label class="textGray">(According to Tender Invitation, SPPBJ, SPK / Agreement, PO or others documents)</label>
								<div class="form-group row">
									<div class="col-sm-12">
										
										<?php
											echo $this->formTextarea('comment',$this->comment,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','style'=>'font-size:1.2em'));
										 ?>
									</div>	
									
								</div>
								<br/>
								<div class="form-group row pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Attached Document<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-9">
										<div class="file-upload">
											<div class="file-select">
												<div class="file-select-button" id="fileName">Choose File</div>
												<div class="file-select-name textBlack" id="noFile"><?php echo $this->language->_($this->fileName); ?></div>
												<input type="file" name="uploadSource" id="chooseFile">
											</div>
										</div>
									</div>
								</div>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Nominal<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-7">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												
												<?php

												echo $this->formText("bank_amount", Application_Helper_General::displayMoneyplain($this->bank_amount), array('id' => "bank_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);duplicatenumb(this.value);", 'onkeypress' => "return forceCurrencyOCBC(event)"));
												?>
											</div>
									</div>
								</div>
								<div class="form-group row pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Time Period From<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-9 form-inline" style="float:left">
										<input type='text' style="font-size:1.2em" class='form-control' name='updatedate[]' id='updateStart' value="<?php echo $this->updateStart; ?>" readonly required>&nbsp;To&nbsp;
										<input type='text' style="font-size:1.2em" class='form-control' name='updatedate[]' id='updateEnd' value="<?php echo $this->updateEnd; ?>" readonly required>
										<label class="textGray" id="daysTotal">&nbsp;</label>
										&nbsp;<?php echo $this->daysTotal; ?>
									</div>
								</div>
								<div class="form-group row" style="display:none">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Claim Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-2">
										<?php echo $this->formText('claim_period',$this->claim_period,array('id'=>'claim_period','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;','placeholder'=>''))?>
									</div>
									<div class="col-sm-7">
										<label class="textGray">(min. 14 to max. 30 calendar days)</label>
									</div>
								</div>
							</div>
				</div>
        </div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Counter Warranty')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Counter Warranty Type</label>
									</div>
									<div class="col-sm-9">
										<select name="warranty_type" id="warranty_type" class="form-control" style="font-size:1.2em">
													<option value="0" <?php if($this->warranty_type == 0) echo 'selected = "selected"'; ?>>-- Choose One --</option>
													<option value="1" <?php if($this->warranty_type == 1) echo 'selected = "selected"'; ?> >Full Cover, Savings Account (Giro / Time Deposit / Savings) or Cash Deposit (MD)</option>
													<option value="2" <?php if($this->warranty_type == 2) echo 'selected = "selected"'; ?> >Bank Guarantee Line Facility</option>
													<option value="3" <?php if($this->warranty_type == 3) echo 'selected = "selected"'; ?> >Insurance</option>
										</select>

									</div>
								</div>
								<!-- type1 -->
								
							
								<div id="wrType1">
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Number</label>
											</div>
											<div class="col-sm-9">
											<?php echo $this->formText('account_number',$this->account_number,array('id'=>'account_number','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;'))?>
												
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Name</label>
											</div>
											<div class="col-sm-9">
											<?php echo $this->formText('account_name',$this->account_name,array('id'=>'account_name','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;','placeholder'=>''))?>
												
											</div>
									</div>
									<div class="row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												
												<?php

												echo $this->formText("amount", Application_Helper_General::displayMoneyplain($this->amount), array('id' => "amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"));
												?>
											</div>
											</div>
									</div>
								</div>
								<!-- type2 -->
							
								<div id="wrType2" style="display:none" >
									<div id="listwr" style="width: 100%">
										<div id="wherelist-1">
											
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 1</label>
												</div>
												<div class="col-sm-9">
												<?php echo $this->formText('owner1',$this->owner1,array('id'=>'owner1','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;width:100%;float:left;','placeholder'=>''))?>
													<!--<button type="button" class="btn-sm" id="removewhere" onclick="removeParent(this)" style="background-color: transparent;color: red;border-color: transparent;"><i class="fa fa-times"></i></button>-->
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<div class="input-group" id="">
													<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												<?php echo $this->formText('amountowner1',Application_Helper_General::displayMoneyplain($this->amountowner1),array('disabled'=>'disabled','id'=>'amountowner1','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;float:left;','placeholder'=>'', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"))?>
													</div>
												</div>
											</div>
										
												<div class="form-group row" style="display:none">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 2</label>
												</div>
												<div class="col-sm-9">
												<?php echo $this->formText('owner2',$this->owner2,array('id'=>'owner2','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;width:95%;float:left;','placeholder'=>''))?>
													<!--<button type="button" class="btn-sm" id="removewhere" onclick="removeParent(this)" style="background-color: transparent;color: red;border-color: transparent;"><i class="fa fa-times"></i></button>-->
												</div>
											</div>
											<div class="form-group row" style="display:none">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<div class="input-group" id="">
													<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												<?php echo $this->formText('amountowner2',Application_Helper_General::displayMoneyplain($this->amountowner2),array('id'=>'amountowner2','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;float:left;','placeholder'=>'', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"))?>
													</div>
												</div>
											</div>
											
											
											<div class="form-group row" style="display:none">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 3</label>
												</div>
												<div class="col-sm-9">
												<?php echo $this->formText('owner3',$this->owner3,array('id'=>'owner3','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;width:95%;float:left;','placeholder'=>''))?>
													<!--<button type="button" class="btn-sm" id="removewhere" onclick="removeParent(this)" style="background-color: transparent;color: red;border-color: transparent;"><i class="fa fa-times"></i></button>-->
												</div>
											</div>
											<div class="form-group row" style="display:none">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<div class="input-group" id="">
													<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												<?php echo $this->formText('amountowner3',Application_Helper_General::displayMoneyplain($this->amountowner3),array('id'=>'amountowner3','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;float:left;','placeholder'=>'', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"))?>
													</div>
												</div>
											</div>
											
											
										</div>
									</div>
									<!--<input type="hidden" id="listctr" value="2" />
									<button type="button" class="btn-sm btngrad hov" id='addlist' style="float:right" value="1">+ Add New</button>-->
								</div>
									
								<!-- type3 -->
							
								<div id="wrType3" style="display:none" >
								<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Insurance Name</label>
										</div>
										<div class="col-sm-9">
											
											<?php echo $this->formText('insuranceName',$this->insuranceName,array('id'=>'insuranceName','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;','placeholder'=>''))?>
										</div>
									</div>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-6" style="padding-right: 0px;">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															No.
														</strong>
													</div>
												</div>
												<?php echo $this->formText('PrincipalAgreement',$this->PrincipalAgreement,array('id'=>'PrincipalAgreement','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;','placeholder'=>''))?>
												
											</div>
										</div>
										<div class="col-sm-3">
											<?php echo $this->formText('paDate',$this->paDate,array('id'=>'paDate','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;','readonly'=>'readonly','required'=>'required'))?>
											
										</div>
									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												<?php
													echo $this->formText("insurance_amount", Application_Helper_General::displayMoneyplain($this->insurance_amount), array('id' => "insurance_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"));
												?>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<div class="row">
									<div class="col-md-8">
										<h5><?=$this->language->_('Provision Fee, Administration and Other Expenses')?></h5>
									</div>
									<div class="col-md-4" >
										<a style="float:right;padding-right: 5px;" onClick="provisionModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
									</div>
								</div>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
										<select name="acct" id="acct" class="form-control" style="font-size:1.2em">
										
											<?php foreach($this->AccArr as $k => $v){?>
												<option value="<?= $v["ACCT_NO"]?>" <?php if($this->AccArr == $this->m_AccArr){ echo 'selected = "selected"';}?> ><?= $v["ACCT_NO"] . " (IDR) " . " / " . Application_Helper_General::displayMoneyplain($v["ACCT_BANK"]) . " / " . $v["ACCT_NAME"] ?></option>
											<?php } ?>
                      					</select>
					
										</div>
								</div>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Others')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Format<strong class="formreq"></strong></label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="bankFormat" <?php if($this->bankFormatVal==1){ echo 'checked';} ?> value="1">&nbsp;Bank Standard</label>
									</div>
									<div class="col-sm-4">
										<label class="textGray"><input type="radio" name="bankFormat" <?php if($this->bankFormatVal==2){ echo 'checked';} ?> value="2">&nbsp;Special Format (with bank approval)</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Language<strong class="formreq"></strong></label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="language" <?php if($this->languageVal==1){ echo 'checked';} ?>  value="1">&nbsp;Indonesian</label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="language" <?php if($this->languageVal==2){ echo 'checked';} ?> value="2">&nbsp;English</label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="language" <?php if($this->languageVal==3){ echo 'checked';} ?> value="3">&nbsp;Billingual</label>
									</div>
								</div>
								<br>
								<label for=""><input type="checkbox" name="chkterms" id="chkterms" value="">&nbsp;I Accept. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal" ><u>Terms & Conditions</u></a></label>
								<br>
								
							</div>
						</div>
				</div>

				<div class="row">
					<div class="col-md-12" align="center">
						<button name="back" id="back" class="btn-sm btnwhite hov" onclick="location.href='/bgreport/'"  value="1">Back</button>
						&nbsp;
						<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btnwhite hov"/>		
						&nbsp;
						&nbsp;
						<input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov disabled" disabled>
						&nbsp;
					</div>
				</div>
			

    </div>
</div>
</form>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack">Provision Fee 1% from BG Nominal</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="textBlack">Administration Fee IDR 500,000</label>
					</div>	
				</div>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){

  var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
  var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
  var total = (end-start)/(1000 * 60 * 60 * 24);

  if(start && end){
    $('#daysTotal').html("("+total+" days)")
  }

  $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
          $(".file-upload").removeClass('active');
          $("#noFile").text("No file chosen...");
        }
        else {
          $(".file-upload").addClass('active');
          $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
      });

    $('#updateStart').datepicker({
        minDate: function() {
        var date = new Date();
        date.setDate(date.getDate() + 1);
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      },
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });
    $('#updateEnd').datepicker({
        minDate: function() {
        var val = document.getElementById('updateStart').value;
        var dateend = new Date(val);
        dateend.setDate(dateend.getDate());
        return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
      },
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });
	
	$('#paDate').datepicker({
        minDate: function() {
        var date = new Date();
        date.setDate(date.getDate() + 1);
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      },
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });
	
	$('#warranty_type').change(function() {
			var value = $(this).val();
			console.log(value);
			if(value === "2"){
				$('#wrType1').hide()
				$('#wrType2').show()
				$('#wrType3').hide()
			}else if(value === "3"){
				$('#wrType1').hide()
				$('#wrType2').hide()
				$('#wrType3').show()
			}else if(value === "1"){
				$('#wrType1').show()
				$('#wrType2').hide()
				$('#wrType3').hide()
			}else{
				$('#wrType1').hide()
				$('#wrType2').hide()
				$('#wrType3').hide()
			}
		});

		$('#updateEnd').change(function(){
			var start = new Date($('#updateStart').val());
			var end = new Date($('#updateEnd').val());
			var total = (end-start)/(1000 * 60 * 60 * 24);

			if(start && end){
				var total = total + 1;
				$('#daysTotal').html("("+total+" days)")
			}
		});

		$('#chkterms').change(function(){
			var chkterms = $("input[name='chkterms']:checkbox");
			if (chkterms.is(":checked"))  {
				$('#submit').prop('disabled', false);
				$('#submit').removeClass('disabled'); 
			} else {
				$('#submit').prop('disabled', true);
				$('#submit').addClass('disabled');
			}
		});
})

function duplicatenumb(x){
		const formattermoney = new Intl.NumberFormat('ID', {
		minimumFractionDigits: 0
		});
		//var tag = '#'+id;
			// $(nams).text(formattermoney.format(obj[k].BALANCE));
		var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$('#amountowner1').val(x);
}

function numberWithCommas(x,id) {
			const formattermoney = new Intl.NumberFormat('ID', {
				minimumFractionDigits: 0
			});
			var tag = '#'+id;
				// $(nams).text(formattermoney.format(obj[k].BALANCE));
			var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
				$(tag).val(x);
		//return 
		}

function removeParent(elem) {
	var parentname = elem.parentNode.parentNode.parentNode.id;
	$("#" + parentname).remove();
	var ctr = $("#listctr").val();
	ctr--;
	$("#listctr").val(ctr);
	if(ctr <= 3){
				$("#addlist").show();
			}
	console.log(parentname);
}

function modalmoredetail(){
	$("#myModalMoreDetail").modal();
}

function provisionModal(){
	$('#provisionModal').modal('show');
}


</script>

