<?php $anyvalue = $this->language->_('Any Value'); ?>

<script type="text/javascript">
	$(document).ready(function() {
		$('#fixTable').fixTableHeader();


		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

	});
</script>

<div class="row hiddenprint">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span>Report</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>

				<li>
					<span class="inhouse"><?= $this->language->_('Auto Debit Report') ?></span>
				</li>

			</ul>
		</div>
	</div>
</div>

<div class="content-box">
	<div class="row">
		<div class="portlet-body form col-md-12">
			<? if ($this->error) { ?> <div class="errmsg"><?= $this->report_msg ?></div><? } ?>


			<h5><?= $this->language->_('Auto Debit Transaction Report') ?></h5>
			<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

            <?php echo $this->partial('filter.phtml', array(
                'datetype' => array("PS_CREATED", "PS_EFDATERPT", "PS_UPDATED"),
                'selectlist' =>  array("PS_TYPE", 'PS_CCY', 'PS_STATUS', 'SOURCE_ACCOUNT_CCY', 'PS_SUBJECT' , 'SOURCE_ACCOUNT', 'BENEFICIARY_ACCOUNT', 'BENEFICIARY_ACCOUNT_CCY', 'TRA_AMOUNT', 'PS_TOTAL_AMOUNT','TRANSFER_TYPE'),
                'filterlist' => $this->filterlist,
                'wherecol' => $this->wherecol,
                'whereopt' => $this->whereopt,
                'whereval' => $this->whereval,
                'createdStart' => $this->createdStart,
                'createdEnd' => $this->createdEnd,
                'paymentStart1' => $this->paymentStart,
                'paymentEnd1' => $this->paymentEnd,
                'updatedStart' => $this->updatedStart,
                'updatedEnd' => $this->updatedEnd,
                'paymentType' => $this->paymentType,
                'optPayType' => $this->optPayType,
                'transtype' => $this->transtype,
                'range_reporthistory' => $this->range_reporthistory,
                'modulename' => $this->modulename,
                'controllername' => $this->controllername,
                'source'    => 'open', //open = include rek open banking, null = not include open banking
                'benef'    => 'open', //open = include rek open banking, null = not include open banking
                'module' => 'display',
                'controller' => 'viewpayment',
            )); ?>
            
        </form>
		</div>
	</div>
</div>

<br>

<div class="form-group">
	<div style="float:left">

	</div>
	<div style="float:right; padding-left:5px;">
		<div class="input-group input-group-sm">
			<div class="input-group-prepend">
				<span class="input-group-text navbar-search-icon" id="searchspan"><i class="fa fa-search"></i></span>
			</div>
			<input type="text" class="search form-control" placeholder="Search" id="searchtable">
		</div>
	</div>
	<div style="float:right; padding-left:10px;">
		<form name="exportForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" onsubmit="target_popup(this)">
			<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1, 'data_filter' => $this->filterlistdata)).$this->qstring?>', screen.width, screen.height); return false;" class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;"><?PHP echo $this->language->_("Print")?></button>&nbsp;
		</form>
	<input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
	</div>
	<div style="float:right; padding-left:10px;">
		<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?> method="post">
			<!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
			<!-- <?php echo $this->formSubmit('pdf', 'PDF is too large (function is disabled)', array('class' => 'btn btn-success', 'disabled' => 'disabled')); ?>&nbsp; -->
			<!-- <?php } else { ?> -->
			<!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btn btn-success')); ?>&nbsp; -->
			<!-- <?php } ?> -->

			<?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
				<!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btn btn-success', 'disabled' => 'disabled')); ?>&nbsp; -->
				<?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
			<?php } else { ?>
				<!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btn btn-success')); ?>&nbsp; -->
				<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
			<?php } ?>

			<input type="hidden" name="clearfilter" value="<?= $this->clearfilter ?>">
		</form>
	</div>
</div>
<br>
<br>
<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
	<table class="table table-sm table-striped" id="myTable">
		<thead>
			<tr class="headercolor">
				<th width="3%" valign="top" class="tablehead">No</th>
				<?php
				echo $this->partial(
					'tableheader.phtml',
					array(
						'fields' => $this->fields,
						'sortBy' => $this->sortBy,
						'sortDir' => $this->sortDir,
						'query_string_params' => $this->query_string_params
					)
				);
				?>
			</tr>
		</thead>
		<tbody>
			<?php
			$numFields = count($this->fields) + 1;

			// Zend_Debug::Dump($this->paginator); die;
			$counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
			if (!empty($this->paginator) && count($this->paginator) > 0) {
				$no = 0;
				 //echo "<pre>";
				 //var_dump($this->paginator);die;
				foreach ($this->paginator as $dataRow) {

					$tdcss = ($no % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";

					// if($key == "payReff"){
					require_once 'Crypt/AESMYSQL.php';
					$AESMYSQL = new Crypt_AESMYSQL();
					$rand = $this->token;
					$encrypted_pwd = $AESMYSQL->encrypt($dataRow['payReff'], $rand);
					// $dt["payReff"] = urlencode($encrypted_pwd);
					$encreff = urlencode($encrypted_pwd);
					// }

					if ($dataRow['paySubj'] != '') {
						$PS_NUMBERlink = $dataRow['payReff'].' - '.$dataRow['TRANSACTION_ID'].' -<br/> <a href="' . $this->url(array('module' => 'autodebitreport', 'controller' => 'detail', 'action' => 'index', 'payReff' => $dataRow['payReff']), null, true) . '">' . $dataRow['paySubj'] . '</a>';
					}
					else{
						$PS_NUMBERlink = $dataRow['payReff'].' - '.$dataRow['TRANSACTION_ID'].' -<br/> <a href="' . $this->url(array('module' => 'autodebitreport', 'controller' => 'detail', 'action' => 'index', 'payReff' => $dataRow['payReff']), null, true) . '">  no subject  </a>';
						//$PS_NUMBERlink = '<a href="' . $this->url(array('module' => 'display', 'controller' => 'viewdetail', 'action' => 'index', 'payReff' => $encreff), null, true) . '">' . $dataRow['payReff'] . '</a>';
					}

					
			?>
					<tr>
						<td class="<?php $td_css ?>'"><? echo $counter; ?></td>
						<td class="<?= $tdcss ?>"><?php echo $PS_NUMBERlink; ?></td> 

						<?php

							foreach ($dataRow as $keyVal => $dataVal) {
								if ($keyVal == "payReff" || $keyVal == "paySubj" || $keyVal == "TRANSACTION_ID") {
									continue;
								}
									 

								/*$attr = ($keyVal == "amount")? " align='right'": "";*/ ?>

							<td class="<?= $tdcss; ?>" <?= $attr; ?>><?php echo $this->language->_($dataVal); ?></td>


						<?php		}	?>
					</tr>
				<?php $no++;
					$counter++;
				}
			} else {
				?>
				<tr>
					<td class="tbl-evencontent" colspan="<?php echo $numFields; ?>" align="center">-- <?php echo $this->language->_('No Data'); ?> --</td>
				</tr>
			<?php
			}
			?>
		</tbody>
	</table> 

	<br />
</div>
<br />
<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>