<script type="text/javascript">


//akan di onload pertama kali
$(document).ready(function(){

  $('#userLimit').fixTableHeader();
});

function target_popup(form) {
    window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
    form.target = 'formpopup';
}

function listtab(val){

  if(val == '1'){

    $('#PSFILEID1').val('1');
    $('#PSFILEID2').val('');
    $('#PSFILEID3').val('');
    $('#PSFILEID4').val('');
    $('#PSFILEID5').val('');
    $('#PSFILEID6').val('');

  }else if(val == '2'){
    $('#PSFILEID1').val('');
    $('#PSFILEID3').val('');
    $('#PSFILEID4').val('');
    $('#PSFILEID5').val('');
    $('#PSFILEID6').val('');
    $('#PSFILEID2').val('2');

  }else if(val == '3'){
    $('#PSFILEID1').val('');
    $('#PSFILEID2').val('');
    $('#PSFILEID4').val('');
    $('#PSFILEID5').val('');
    $('#PSFILEID6').val('');
    $('#PSFILEID3').val('3');

  }else if(val == '4'){
    $('#PSFILEID1').val('');
    $('#PSFILEID2').val('');
    $('#PSFILEID3').val('');
    $('#PSFILEID5').val('');
    $('#PSFILEID6').val('');
    $('#PSFILEID4').val('4');

  }else if(val == '5'){
    $('#PSFILEID1').val('');
    $('#PSFILEID2').val('');
    $('#PSFILEID3').val('');
    $('#PSFILEID4').val('');
    $('#PSFILEID6').val('');
    $('#PSFILEID5').val('5');

  }else{
    $('#PSFILEID1').val('');
    $('#PSFILEID2').val('');
    $('#PSFILEID3').val('');
    $('#PSFILEID4').val('');
    $('#PSFILEID5').val('');
    $('#PSFILEID6').val('6');

  }

}

</script>

<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>

.printlogo {
  width:60%;
}
@media print{
    .hidden, .hidden * {
    display: none !important;
    visibility: hidden;
  }

  button {
    display: none !important;
    visibility: hidden;
  }

  /*form {
    display: none !important;
    visibility: hidden;
  }*/

  .hiddenLogo, .hiddenLogo * {
    display: inline !important;
    visibility: show;
  }

  input.currency{ width: 200px; font-size: 10px; }
  ul { padding-left:10px; }
  h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
  body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
  b { font-weight:bold; font-size:11px }
  td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
  a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
  .tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
  .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
  .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
  body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  -webkit-print-color-adjust:exact; /*chrome*/
  -moz-print-color-adjust:exact; /*mozila*/
  -o-print-color-adjust:exact; /*opera*/
  -ms-print-color-adjust:exact; /*ie*/
  }

  .Path-85 {
    opacity:0.4;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .Path-83 {
    opacity:0.4;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

</style>
<?php echo $this->pdf . '</br>';?>


<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
  <tr>
    <td valign="left"><div style="padding: 0px 20px 0px 0px"><img class="printlogo" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" border="0"/></div></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
  <tr>
    <td align="center" valign="middle"><strong><?php echo $this->language->_('Other');?> - </strong></td>
    <td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
  </tr>
</table>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Management'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Company Detail'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<div class="col-md-12">
      <style type="text/css">
        .nav-tabs .nav-link {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
            font-size: 12px
          }
          .nav-tabs .nav-link:hover {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color:white;
            margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 18px;
              height: 47.5px;
          }
          .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
              color:white;
              border-color: #dee2e6 #dee2e6 #fff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 14px;
              height: 47.5px;
              font-size: 14px
          }
      </style>
      
      <form onsubmit="target_popup(this)" name="Form" id="domForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'othersnew', 'action' => 'index'), null, true) ?>" method="post">
      <div class="row">
          <div class="col-md-7">
              <h5>Company Detail - <? echo $this->compinfo[0]['CUST_NAME']; ?></h5>
          </div>
          <div class="col-md-5">
            
              <div class="col-md-12" align="right">
                <div class="row">
                <select name="printall" class="form-control" style="width: 180px; border-radius: 5px;text-align: center !important;">
                  <option>-- Select Print Option --</option>
                  <option value="2">Current</option>
                  <option value="1">All</option>
                </select>
                &nbsp;&nbsp;
                <?php echo $this->formHidden('PSFILEID1','',array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                <?php echo $this->formHidden('PSFILEID2','',array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                <?php echo $this->formHidden('PSFILEID3','',array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                <?php echo $this->formHidden('PSFILEID4','',array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                <?php echo $this->formHidden('PSFILEID5','',array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                <?php echo $this->formHidden('PSFILEID6','',array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                <input type="submit" class="btn-sm btngrad hov" name="submit" value="<?php echo $this->language->_('Print')?>"/>
                 </div>
              </div>
           
          </div>
      </div>
      <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" value="1" at="1" onclick="listtab('1')" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">Company Information</a>
             
          </li>
          <li class="nav-item">
            <a class="nav-link" value="2" at="2" onclick="listtab('2')" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Transaction Workflow</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" value="3" at="3" onclick="listtab('3')" id="adapter-tab" data-toggle="tab" href="#adapter" role="tab" aria-controls="adapter" aria-selected="false">Business Adapter</a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" value="4" at="4" onclick="listtab('4')" id="daily-tab" data-toggle="tab" href="#daily" role="tab" aria-controls="daily" aria-selected="false">Daily Limit</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" value="5" at="5" onclick="listtab('5')" id="maker-tab" data-toggle="tab" href="#maker" role="tab" aria-controls="maker" aria-selected="false">Maker Limit</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" value="6" at="6" onclick="listtab('6')" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Approval Matrix</a>
           
          </li>
        </ul>
      </form>

     <div class="row">
      <div class="col-md-12">

        <div class="tab-content" id="myTabContent">
          <br>
          <div class="tab-pane fade show active" id="compinfo" role="tabpanel" aria-labelledby="compinfo-tab">
              
              <table width="80%" cellpadding="3" cellspacing="0" border="0">
                <tr>
                  <td class="tbl-evencontent" width="120px"><?php echo $this->formLabel('cust_name', $this->language->_('Company Name')); ?> </td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3" width="300"><?php echo $this->formLabel('cust_name', $this->compinfo[0]['CUST_NAME']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->language->_('Company Type')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_type', $this->compinfo[0]['CUST_TYPE']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_workfield', $this->language->_('Business Type')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_workfield', $this->compinfo[0]['CUST_WORKFIELD']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_address', $this->language->_('Address')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_address', $this->compinfo[0]['CUST_ADDRESS']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_city', $this->language->_('City')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_city', $this->compinfo[0]['CUST_CITY']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_zip', $this->language->_('Zip')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_zip', $this->compinfo[0]['CUST_ZIP']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_province', $this->language->_('State/Province')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_province', $this->compinfo[0]['CUST_PROVINCE']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('country_code', $this->language->_('Country')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('country_code', $this->compinfo[0]['COUNTRY_NAME']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('company_website', $this->language->_('Company Website')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('company_website', $this->compinfo[0]['CUST_WEBSITE']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('contact_person', $this->language->_('Contact Person')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('contact_person', $this->compinfo[0]['CUST_CONTACT']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('contact_number', $this->language->_('Contact Number')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('contact_number', $this->compinfo[0]['CUST_PHONE']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('extention', $this->language->_('Extension')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('extention', $this->compinfo[0]['CUST_EXT']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('fax_number', $this->language->_('Fax Number')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('fax_number', $this->compinfo[0]['CUST_FAX']); ?></td>
                </tr>
                <tr>
                  <td class="tbl-evencontent"><?php echo $this->formLabel('contact_email', $this->language->_('Contact Email')); ?></td>
                  <td class="tbl-evencontent">:</td>
                  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('contact_email', $this->compinfo[0]['CUST_EMAIL']); ?></td>
                </tr>

              </table>

          </div>

          <!-- end company information -->

          <?php 
            if ($this->compinfo[0]['CUST_FINANCE'] == 3) {
              $serviceType = 'Non Financial';
            }
            else{
              $serviceType = 'Financial';
            }
          ?>

          <?php
            if ($this->compinfo[0]['CUST_REVIEW'] == '1') {
              $disrev = '';
            } else {
              $disrev = 'none';
            }
            ?>
            <?php
            if ($this->compinfo[0]['CUST_APPROVER'] == '1') {
              $disapp = '';
            } else {
              $disapp = 'none';
            }

            ?>

          <!-- Payment Workflow Tab -->
          <div class="tab-pane fade show " id="paywork" role="tabpanel" aria-labelledby="paywork-tab" style="height: 400px;">
            <div class="transtab pt-3">
              <div class="row"> 
                <div class="col-md-2"> 
                  <h7 class="homeCardText"><b><?php echo $this->language->_('Service Type'); ?></b></h7>
                </div>
                <div class="col-md-4"> 
                    <?php echo $serviceType; ?>
                </div>
              </div>
              <br>
              <div class="row content-box" style="width: 100%;">

                <?php 
                  $imgClass = '';
                  if ($this->compinfo[0]['CUST_FINANCE'] == 3) {
                    $imgClass = 'imgSepia';
                    echo '<div class="col-md-12" align="center"><h6><b>'.$this->language->_("Company Service Type : Non Financial. No user roles needed.").'</b></h6></div><br><br>';
                  }
                  else if($this->compinfo[0]['CUST_SAME_USER'] == 1){
                    echo '<div class="col-md-12" align="center"><h6><b>'.$this->language->_("Maker and releaser are same user.").'</b></h6></div><br><br>';
                  }
                ?>


                <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
                  <tr>
                    <td align="center">
                      <img src="/assets/permatalayout/assets/newlayout/img/maker.PNG">
                    </td>
                    <td align="center">
                      <img src="/assets/permatalayout/assets/newlayout/img/arrow.PNG">
                    </td>
                  <?php if($this->custinfo['0']['CUST_SAME_USER'] == '0' || $this->custinfo['0']['CUST_SAME_USER'] == NULL){ ?>
                      <?php if(!$this->custSameUser){?>
                      <td align="center">
                        <img src="/assets/permatalayout/assets/newlayout/img/reviewer.png">
                      </td>
                      <td align="center">
                        <img src="/assets/permatalayout/assets/newlayout/img/arrow.PNG">
                      </td>
                        <td align="center">
                        <img src="/assets/permatalayout/assets/newlayout/img/approver.png">
                      </td>
                      <td align="center">
                        <img src="/assets/permatalayout/assets/newlayout/img/arrow.PNG">
                      </td>
                    <?php } ?>
                  <?php } ?>
                      <td align="center">
                      <img src="/assets/permatalayout/assets/newlayout/img/releaser.png">
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <i class="fas fa-marker <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
                    </td>

                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <i class="fas fa-glasses <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <!-- hanya jarak  -->
                    </td>
                    
                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <i class="far fa-check-circle <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>

                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center">
                      <i class="far fa-envelope <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      MAKER
                    </td>

                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      REVIEWER
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      APPROVER
                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center">
                      RELEASER
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <!-- <input type="checkbox" value="maker" name="check_maker" checked disabled> -->
                      <?php
                      if ($this->compinfo[0]['CUST_FINANCE'] != '3') {
                      ?>
                      <img src="/images/icon/light/checked.png">
                      <?php
                      }
                      ?>
                    </td>

                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <?php
                      if ($this->compinfo[0]['CUST_REVIEW'] == '1') {
                      ?>
                        <img src="/images/icon/light/checked.png">
                      <?php
                      } else {
                        $checked = '';
                      }
                      ?>

                      <!-- <input type="checkbox" value="1" name="cust_review" <?php echo $checked; ?> disabled> -->
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <?php
                      if ($this->compinfo[0]['CUST_APPROVER'] == '1') {
                      ?>
                        <img src="/images/icon/light/checked.png">
                      <?php
                      } else {
                        $checked = '';
                      }
                      ?>
                      <!-- <input type="checkbox" value="1" name="cust_approver" <?php echo $checked; ?> disabled> -->
                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center">
                      <?php
                      if ($this->compinfo[0]['CUST_FINANCE'] != '3') {
                      ?>
                      <img src="/images/icon/light/checked.png">
                      <?php
                      }
                      ?>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disrev; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <p>Google Auth</p>
                      <label class="switch">
                        <?php
                        // echo $this->cust_app_token;
                        if ($this->compinfo[0]['CUST_APP_TOKEN'] == '1') {
                          $checked = 'checked';
                        } else {
                          $checked = '';
                        }
                        ?>
                        <input type="checkbox" name="cust_app_token" <?php echo $checked; ?> disabled>
                        <span class="slider round" style="cursor: default;"></span>
                      </label>
                    </td>

                    <td align="center" style="display: <?php echo $disapp; ?>">
                      <!-- hanya jarak  -->
                    </td>

                    <td align="center">
                      <p>Google Auth</p>
                      <label class="switch" name="rls_token">
                        <?php
                        // echo $this->cust_rls_token;
                        if ($this->compinfo[0]['CUST_RLS_TOKEN'] == '1') {
                          $checked = 'checked';
                        } else {
                          $checked = '';
                        }

                        //if non financial
                        if ($this->compinfo[0]['CUST_FINANCE'] == 3) {
                          $checked = '';
                        }

                        ?>
                        <input type="checkbox" name="cust_rls_token" <?php echo $checked; ?> disabled>
                        <span class="slider round" style="cursor: default;"></span>
                      </label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- End Payment Workflow Tab -->

          <!-- Approval Matrix Tab -->
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <br>
            <h6>Approver Group</h6>
             <div class="card">
                
               <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped headerNew" width="100%">
                <thead> 
                  <tr>
                    <th class="tablehead"><?php echo $this->language->_('Group ID'); ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Group Name'); ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Group Member'); ?></th>
                  </tr>
                </thead>
                 <tbody>
                  <?php
                if($this->selectUsergroup){
                  foreach ($this->selectUsergroup as $key => $value) {
                    
                      ?>
                      <tr>
                        <td><?php echo $value['GID'] ?></td>
                        <td><?php echo $value['GROUP_NAME'] ?></td>
                        <td><?php echo $value['USER'] ?></td>
                      </tr>
                      <?php
                    
                  }
                }
                ?>
                 </tbody>
               </table>
             </div>
             <br>
             <br>
              <h6>Approver Boundary</h6>
              <div class="card">
                
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-sm table-striped headerNew">
                    <thead> 
                      <tr>
                        <th class="tablehead"><?php echo $this->language->_('Transfer Type'); ?></th>
                        <th class="tablehead"><?php echo $this->language->_('CCY'); ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Boundary'); ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Policy'); ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Group Member'); ?></th>
                      </tr>
                    </thead>
                    <tbody>
                      <?php
                        
                          $i = 1;
                          if(count($this->dataBoundary) > 0){
                            foreach($this->dataBoundary as $row){
                              echo '<tr>
                                <td>'.$row['TRANSFER_TYPE'].'</td>
                                        <td>'.$row['CURRENCY'].'</td>
                                <td>'.$row['BOUNDARY'].'</td>
                                <td>'.$row['GROUP_NAME'].'</td>
                                <td>'.$row['USERS'].'</td>
                                </tr>';

                              $i++;
                            }
                          }
                        ?>
                    </tbody>
                  </table>
              </div>
          </div>
          <!-- End Approval Matrix Tab -->

          <!-- Business Adapter Tab -->
          <div class="tab-pane fade show " id="adapter" role="tabpanel" aria-labelledby="adapter-tab" style="height: 400px;">
            <br>
            <!-- <h6 class="text-black-50"><b><?php echo $this->language->_('Bulk Transfer Type'); ?></b></h6> -->
            <table class="table" style="border-top: none;" width="80%">
              <tr>
                <td><h7 class="homeCardText"><b><?php echo $this->language->_('Batch Payment Type'); ?></b></h7></td>
                <td><h7 class="homeCardText"><b><?php echo $this->language->_('Adapter Profile'); ?></b></h7></td>
              </tr>
              <tr>
                <td width="20%">Payroll</td>
                <td>
                  <?php echo $this->payrollAdapter == '' ? 'DEFAULT' : $this->payrollAdapter; ?>
                </td>
              </tr>
              <tr>
                <td>Many to many</td>
                <td>
                  <?php echo $this->manytomanyAdapter == '' ? 'DEFAULT' : $this->manytomanyAdapter; ?>
                </td>
              </tr>
              <tr>
                <td>E-Money</td>
                <td>
                  <?php echo $this->emoneyAdapter == '' ? 'DEFAULT' : $this->emoneyAdapter; ?>
                </td>
              </tr>
              <tr>
                <td>One to many</td>
                <td>
                  <?php echo $this->onetomanyAdapter == '' ? 'DEFAULT' : $this->onetomanyAdapter; ?>
                </td>
              </tr>
              <tr>
                <td>Many to one</td>
                <td>
                  <?php echo $this->manytooneAdapter == '' ? 'DEFAULT' : $this->manytooneAdapter; ?>
                </td>
              </tr>
            </table>
          </div>
          <!-- End Business Adapter Tab -->


          <!-- daily limit tab -->
          <div class="tab-pane fade show " id="daily" role="tabpanel" aria-labelledby="daily-tab" style="height: 400px;">
            <br>
            <div class="row"> 
              <div class="col-md-3"> 
                <h7 class="homeCardText"><b><?php echo $this->language->_('Company Daily Limit'); ?></b></h7>
              </div>
              <div class="col-md-4"> 
                  IDR <?php echo Application_Helper_General::displayMoney($this->compinfo[0]['CUST_LIMIT_IDR']); ?>
              </div>
            </div>
            <br>
            <div class="portlet-body flip-scroll table-responsive table-fixed">
              <table class="table table-sm table-striped headerNew">
              <thead> 
                <tr>
                  <th class="tablehead" width="20px">No.</th>
                  <th class="tablehead"><?php echo $this->language->_('User Name'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('User ID'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('CCY'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Daily Limit'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Last Approved by'); ?></th>
                </tr>
              </thead>
              <tbody>
              <?php
                  if(count($this->dailylimit))
                  {
                    $counter = 1;
                    $i = 0;
                    foreach($this->dailylimit as $row)
                    {
                  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                    
                   echo '<tr>
                        <td class="'.$td_css.'">'.$counter.'</td>
                        <td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
                        <td class="'.$td_css.'">'.$row['USER_LOGIN'].'</td>
                        <td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
                        <td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['DAILYLIMIT']).'</td>
                        <td class="'.$td_css.'">'.$row['UPDATEDBY'].' ('.Application_Helper_General::convertDate($row['UPDATED'],'dd MMM yyyy HH:mm:ss','dd MMM yyyy HH:mm:ss').')</td>
                        </tr>';

                    $i++;
                    $counter++;
                  }
                }
                else
                {
                echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> '.$this->language->_('No Data').' </td></tr>';
                }
               ?>
               </tbody>
            </table>
            </div>
          </div>
          <!-- end daily limit tab-->

          <!-- maker limit tab -->
          <div class="tab-pane fade show " id="maker" role="tabpanel" aria-labelledby="maker-tab" style="height: 400px;">
            <br>
            <div class="portlet-body flip-scroll table-responsive table-fixed">
              <table class="table table-sm table-striped headerNew">
              <thead> 
                <tr>
                  <th class="tablehead" width="20px">No.</th>
                  <th class="tablehead"><?php echo $this->language->_('User Name'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Bank'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Account Number'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('CCY'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Maker Limit'); ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Last Approved by'); ?></th>
                </tr>
              </thead>
              <tbody>
              <?php
                  if(count($this->userlimit))
                  {
                    $counter = 1;
                    $i = 0;
                    foreach($this->userlimit as $row)
                    {
                  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                  
                   echo '<tr>
                        <td class="'.$td_css.'">'.$counter.'</td>
                        <td class="'.$td_css.'">'.$row['USER_FULLNAME'].' ('.$row['USER_LOGIN'].')</td>
                        <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
                        <td class="'.$td_css.'">'.$row['ACCT_NO'].' / '.$row['ACCT_NAME'].'</td>
                        <td class="'.$td_css.'">'.$row['ACCT_CCY'].'</td>
                        <td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['MAXLIMIT']).'</td>
                        <td class="'.$td_css.'">'.$row['UPDATEDBY'].' ('.Application_Helper_General::convertDate($row['UPDATED'],'dd MMM yyyy HH:mm:ss','dd MMM yyyy HH:mm:ss').')</td>
                        </tr>';

                    $i++;
                    $counter++;
                  }
                }
                else
                {
                echo '<tr><td colspan="9" class="tbl-evencontent" align="center"> '.$this->language->_('No Data').' </td></tr>';
              }
               ?>
               </tbody>
            </table>
            </div>
          </div>
          <!-- end maker limit tab-->

        </div>

        </div>
          <!-- <div class="col-md-2">
            <br>
            <img src="/images/current.jpg" onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;"  style=" width: 40px;border-radius: 8px; border-color: black;cursor:pointer;background-image: none; " border="1" />&nbsp;&nbsp;
            <img src="/images/printall.jpg" onclick="openwindow('<?PHP echo $this->url(array('printall' => 1)).$this->qstring?>', screen.width, screen.height); return false;"  style="width: 40px;border-radius: 8px; border-color: black;cursor:pointer;background-image: none; " border="1" />
            
          </div> -->
      </div>

      </div>