<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div><br />
<?php } ?>
<!--<table width="300px" cellpadding="0" cellspacing="0" border="0" class="">
<tr>
	<td>
		<A href="javascript: self.close ()" class="inputbtn">Close</A>
	</td>
</tr>
</table>-->
