<b><?php echo $this->language->_('Table'); ?> &gt; <?php echo $this->language->_('Customer'); ?> &gt; <?php echo $this->language->_('User Limit'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('User Limit'); ?></div>
<?php
if($this->cust_id){
?>
<?php //if($this->hasPrivilege('cust_user_inp')){ ?>
<div><a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index','cust_id'=>$this->cust_id),null,true)?>" class="inputbtn">New</a></div><br />
<?php //} ?>
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Information'); ?></strong></th></tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Customer ID')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><a style="text-decoration:underline;" href="<?=$this->url(array('module' =>'customer','controller' => 'index'),null,true)?>"><?php echo $this->cust_id; ?></a></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Customer Name')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
  </tr>
</table>
<br />


<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index','cust_id'=>$this->cust_id),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('uid',$this->language->_('User ID')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('uid',$this->uid,array('class'=>'currency')); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('uname','User Name'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('uname',$this->uname,array('class'=>'currency')); ?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter','Filter',array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter','Display All',array('class'=>'inputbtn')); ?>
    </td></tr>
  </table>
</form>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->user_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->user_msg?></div>
<?php } ?>
<?php if($this->filter){ ?>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  <tr>
    <th width="3%" valign="top">No</th>
    <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
    												   )
  						   )?>		
  	<th valign="top">Action</th>
  </tr>
<?php
if(count($this->paginator))
{
  $i = 0;
  $counter = 1;
  foreach($this->paginator as $row)
  {
	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	$button1 = $this->url(array('module'=>'customer','controller'=>'view','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$row['USER_LOGIN']),null,true);
	$button1 = '<a href="'.$button1.'" class="inputbtn">Detail</a>';
	
	$status  = '&nbsp;'; 
	
	$temp = $row['MAKERLIMIT_STATUS'];
	
	
	$temp_status = array(1 => $this->status_type['desc']['approved'],
	                     2 => $this->status_type['desc']['suspended'],
	                     3 => $this->status_type['desc']['delete']
	                    ); 
	$status = $temp_status[$temp];
	

	echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['USER_LOGIN'].'</td>
			<td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
			<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
			<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['MAXLIMIT']).'</td>
			<td class="'.$td_css.'">'.$status.'</td>
			<td class="'.$td_css.'" >'.$button1.'</td>
		  </tr>';
    $i++;
    $counter++;
  }
}else{ echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> - no data - </td></tr>'; }
?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<?php
  }
}else{
?>
<div id="content">- no data -</div>
<?php } ?>
<br /><a href="<?=$this->url(array('module' =>'customer','controller' => 'index'),null,true)?>" class="inputbtn">Back</a>