<?php echo $this->doctype('HTML4_LOOSE');?><html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<?php

$currentDate = new Zend_Date();
echo $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
//echo $this->headTitle('OCBC Backend')->setSeparator('-')->headTitle('Development');
echo $this->headTitle('Frontend')->setSeparator('-')->headTitle('Financial Value Chain');

$this->headScript()->appendFile('/js/allJs.php');
$this->headLink()->appendStylesheet('/css/allStyle.css');

echo $this->jQuery();
echo $this->headScript();
echo $this->headLink();
?>
<script language="javascript" type="text/javascript">
	
	//var currenttime = 'April 16, 2010 12:06:51' //PHP method of getting server date
	var currenttime = '<?=$currentDate->toString()?>';
	var serverdate = new Date(currenttime);
	
	function padlength(what){
	var output=(what.toString().length==1)? "0"+what : what
	return output
	}
	
	function displaytime(){
	serverdate.setSeconds(serverdate.getSeconds()+1)
	var timestring=padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
	document.getElementById("cdcontainer").innerHTML=timestring
	}
	
	window.onload=function(){
		setInterval("displaytime()", 1000)
	}
</script>

<script type="text/javascript">
function refreshAndClose() {
        window.opener.location.reload(true);
        window.close();
}
function refreshParent() {
    window.opener.location.reload(true);
}
</script>
<script type="text/javascript">
	ddsmoothmenu.init({
		mainmenuid: "menu_left", //Menu DIV id
		orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
		classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
		customtheme: ["#b3171b", "#482400"],
		contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
	});
</script>

<?php
	$objSessionNamespace = new Zend_Session_Namespace( 'sysadmin' );	
	if(!isset($objSessionNamespace->userIdLogin) && !isset($objSessionNamespace->userNameLogin))
	{
?>
<style>
	body{
		background-color: white;
	}
</style>
<?php
	}
?>
</head>
<body>
<?php
	
	if(isset($objSessionNamespace->userIdLogin) && isset($objSessionNamespace->userNameLogin))
	{
?>

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="20">
			</td>
			<td valign="top">
		
		<!--BODY CONTENT -->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="5" style="background:#FFF;" height="100px">
							<div style="float:left;padding-left:20px;"><img src="/images/logo/bg_60.jpg" height="60"/></div>
						</td>
					</tr>
					<tr>
						<td height="29px" colspan="4" style="background:url(/images/logo/header.png) top repeat-x;">
							<div id="menumiddle">
							<?php 
								if($objSessionNamespace->isSuperUser == true && $objSessionNamespace->userIdLogin == "ADMINB2B")
								{
							?>
								<table cellpadding="0" cellspacing="0" border="0" width="100%">
									<tr>
										<td rowspan="2" valign="middle" align="left">
											<?php
													echo '<span style="color:#FFFFFF"> Super User ID : '.$objSessionNamespace->userIdLogin.'</span>';
											?>
										</td>
										<td height="20px" style="color:#FFFFFF" align="left">
												<?=$currentDate->toString('d MMMM YYYY')?>&nbsp;&nbsp;<span id="cdcontainer">00:00:00</span>
										</td>
										<td style="color:#FFFFFF">
											<?php
													echo ' 	[<a href="/superadmin/home" style="color:#FFFFFF">Home</a>]&nbsp;|&nbsp;
															[<a href="/superadmin/logout/" style="color:#FFFFFF">Logout</a>]';
											?>
										</td>
									</tr>
								</table>
							<?php 
								}
							?>
							</div>
						</td>
					</tr>
					<tr>
						<td style="background-color: #ffffff; padding: 10px; width:200px;" valign="top">
							<div id="menu_left">
								<ul>
									<li><a href="#">Logs<img class="rightarrowclass" style="border:0;" src="/images/New/right.gif"></a>
										<ul>
											<!--<li><a href="/superadmin/transactionlog">Transaction Logs</a></li>-->
											<li><a href="/superadmin/multipaymentlog">Multi Payment Logs</a></li>
											<li><a href="/superadmin/interfacelog">Interface Logs</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</td>
						<td style="background-color: #ffffff; padding: 10px; width:100%;">
							<div class="screencontent" id="screencontent" style="width:100%;margin-left:auto;margin-right:auto;">
								<?php echo $this->layout()->content;?>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>  
	</table>
<?php 
	}
	else
	{ 
?>

		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:20px">
			<tr>
				<td valign="top" width="720px" height="300px" style="background:url(/images/logo/bg_650.jpg) no-repeat;background-position:center;">
					<div style="float:right;color:#FFF"><?=$currentDate->toString('d MMMM YYYY')?>&nbsp;&nbsp;<span id="cdcontainer">00:00:00</span></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="loginscreencontent" id="loginscreencontent" width="720px">
						<?php echo $this->layout()->content;?>
					</div>
				</td>
			</tr>
		</table>
<?php 
	}
?>
<p align="center">
	Supported By <a href="http://www.sgo.co.id/"><b>Square Gate One</b></a>
</p>
</body>
</html>