<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Set Company Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Detail'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>
<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Company Charges and Administration Fee Detail'); ?></h5>
		<br />
		<table border="0" cellspacing="0" cellpadding="0" class="tableform"
			width="600">
			<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Detail Company Charges and Administration Fee'); ?></strong></th></tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->result['CUST_ID'];?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->result['CUST_NAME'];?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Charges Status'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->language->_($this->chargestatus);?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Administration Fee Status'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
			</tr>
		</table>
	</div>
</div>
<br />
<i>*<?php echo $this->language->_('Charges and Monthly Fee Status can be set from customer management menu'); ?></i>
<br />
<br />

<div class="row">
	<div class="col-md-6">
		<h5><?php echo $this->language->_('Charges per Month');?></h5>
		<?php 
		if($this->templatemonthly)
		{
		 	if($this->monthlytype)
			{
				echo '<b>'.$this->language->_($this->monthlytype).'</b>';
			}
			//echo '<br/>';
			echo $this->language->_($this->templatemonthly);
			//echo '<br/>';
		}
		else
		{?>
		<?php echo $this->language->_('Monthly Fee Charges not yet set');?> <br />
		<?php }?>
		<br />
		<?php if($this->disablemonthly || !$this->hasPrivilege('CHUD'))
		{?>
		<input type="button" disabled="disabled" class="btngreen hov" value="<?php echo $this->language->_('Set / Edit Monthly Fee');?>">
		&nbsp;&nbsp;&nbsp;
		<?php echo '<i>'.$this->monthlyerror.'</i>';
		}
		else
		{?>
		<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'monthlyfee','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="btngreen hidden" value="<?php echo $this->language->_('Set / Edit Monthly Fee');?>">
		<?php }?>

	</div>
	<div class="col-md-6">

		<h5><?php echo $this->language->_('Inhouse Charges'); ?></h5>
		<?php if($this->templaterealtime)
		{
			echo $this->language->_($this->templaterealtime);
		}
		else
		{?>
		<?php echo $this->language->_('Realtime Charges not yet set'); ?> <br />
		<?php }?>
		<br />
		<?php if($this->disablerealtime || !$this->hasPrivilege('CHUD'))
		{?>
		<input type="button" disabled="disabled" class="btngreen hov" value="<?php echo $this->language->_('Set / Edit Realtime Inhouse');?>">
		&nbsp;&nbsp;&nbsp;
		<div class="row">
		<?php echo '<i>'.$this->language->_($this->realtimeerror).'</i>'; ?>
		</div>
		<?php }
		else
		{?>
		<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'realtimecharges','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="btngreen hidden" value="<?php echo $this->language->_('Set / Edit Realtime Inhouse'); ?>">
		<?php }?>
	</div>
</div>
<br />
<br />
<h5><?php echo $this->language->_('Service Charges');?></h5>
<?php if($this->templateservice)
{
	echo $this->templateservice;
}
else
{?>
<?php echo $this->language->_('Service Charges scheme not yet set');?> <br />
<?php }?>
<br />
<?php if($this->disableservice || !$this->hasPrivilege('CHUD'))
{?>
<input type="button" disabled="disabled" class="btngreen disabled" value="<?php echo $this->language->_('Set / Edit Service Charges');?>">
&nbsp;&nbsp;&nbsp;
<?php echo '<i>'.$this->language->_($this->serviceerror).'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'chargesdomestic','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="btngreen disabled" value="<?php echo $this->language->_('Set / Edit Service Charges')?>">
<?php }?>
<br />
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true);?>'" class="btnwhite hov hidden" value="<?php echo $this->language->_('Back')?>">&nbsp;
<!-- <?php echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov hidden')).'&nbsp&nbsp'; ?> -->
<?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp;
<button class="btn-sm btngrad hov hidden" onclick="window.print();" type="button"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_('Print')?></button>
</form>