<?php $suggestionDet = $this->language->_('Suggestion Detail'); ?>
<?php $changeinformation = $this->language->_('Change Information'); ?>


<?php $status_lg = $this->language->_('Status'); ?>
<?php $mobilephonenumber = $this->language->_('Mobile Phone Number'); ?>
<?php $address = $this->language->_('Address'); ?>
<?php $city = $this->language->_('City'); ?>
<?php $stateprov = $this->language->_('State/Province'); ?>
<?php $country = $this->language->_('Country'); ?>

<?php
if ($this->changes_id) {

  //temp data
  $temp_status = array(
    1 => 'Aktif',
    2 => 'Nonaktif',
    3 => 'Terhapus'
  );

  if (isset($temp_status[$this->user_status]))  $status = $temp_status[$this->user_status];
  else $status = null;

  //master data
  if (isset($temp_status[$this->m_user_status]))  $m_status = $temp_status[$this->m_user_status];
  else $m_status = null;

  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

  //get suggestion type
  $changesTypeDescArr = $this->suggestionType['desc'];
  $changesTypeCodeArr = $this->suggestionType['code'];

  $key = array_search($this->changes_type, $changesTypeCodeArr);
  $changesType = $changesTypeDescArr[$key];

?>

  <br />
  <h5><?php echo $changeinformation ?></h5>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br />


  <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
    <thead>
      <tr>
        <th colspan="4" class="tdform-sub"><strong><?php echo $suggestionDet ?></strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" class="tbl-evencontent"><b><?php echo $this->language->_($changesType . ' Data Agen') ?></b></td>
      </tr>

      <?php if ($this->changes_type == 'E') { ?>
        <tr>
          <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name') ?></b></td>
          <td width="3" class="tbl-evencontent">&nbsp;</td>
          <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value') ?></b></td>
          <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value') ?></b></td>
        </tr>
      <?php } else $colspan = 'colspan="2"';
      ?>
      <tr>
        <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('user_id', 'CREDITED TO'); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('branch_code', 'Company ID'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px">
            <?php echo $this->formLabel('comp_id', $this->m_comp_id, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" width="400px" <?= $colspan ?>><?php echo $this->formLabel('comp_id', $this->comp_id, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('branch_name', 'Company Name'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px">
            <?php echo $this->formLabel('m_comp_name', $this->m_comp_name, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" width="400px" <?= $colspan ?>><?php echo $this->formLabel('m_comp_name', $this->comp_name, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', 'Company Type'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px">
            <?php echo $this->formLabel('m_comp_type', $this->m_comp_type, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" width="400px" <?= $colspan ?>><?php echo $this->formLabel('comp_type', $this->comp_type, array('class' => 'dataChange')); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('user_id', 'DEBITED FROM'); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_fullname', 'Debited Bank'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('m_debit_bank', $this->m_debit_bank, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" <?= $colspan ?>><?php echo $this->formLabel('debit_bank', $this->debit_bank, array('class' => 'dataChange')); ?></td>
      </tr>


      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_mobile_phone', 'Debited Account'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('m_debit_acct', $this->m_debit_acct, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" <?= $colspan ?>><?php echo $this->formLabel('debit_acct', $this->debit_acct, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', 'Account Name'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('m_acct_name', $this->m_acct_name, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" <?= $colspan ?>><?php echo $this->formLabel('acct_name', $this->acct_name, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_address', 'Attach File'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_service_address', $this->m_dir_filename, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent" <?= $colspan ?>><?php echo $this->formLabel('dir_filename', $this->dir_filename, array('class' => 'dataChange')); ?></td>
      </tr>

    </tbody>
  </table>
  <br />

  <div align="center">
    <?php
    echo $this->action(
      'index',
      'tools',
      'changemanagement',
      array('changes_id' => $this->changes_id)
    );
    ?>
  </div>
  <div>
  </div>
  <?php if ($this->changes_type == 'E') { ?>
    <script>
      $("table.table-sugg > tbody > tr").each(function() {
        var data = $(this).find(".data");
        var dataChange = $(this).find(".dataChange");
        if (data.text() != dataChange.text()) {
          dataChange.css('background-color', '#fffe5c');
        }
      });
    </script>
  <?php }
} else { ?>
  <div id="content">- <?php echo $this->language->_('No Data') ?> -</div>
<?php } ?>