<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta name="ProgId" content="Word.Document" />
    <meta name="Generator" content="Microsoft Word 15" />
    <meta name="Originator" content="Microsoft Word 15" />
    <link rel="File-List" href="Standard%20Format%20Guarantee%20Bilingual%204_files/filelist.xml" />
    <link rel="Edit-Time-Data" href="Standard%20Format%20Guarantee%20Bilingual%204_files/editdata.mso" />
    <!--[if !mso]>
      <style>
        v\:* {
          behavior: url(#default#VML);
        }
        o\:* {
          behavior: url(#default#VML);
        }
        w\:* {
          behavior: url(#default#VML);
        }
        .shape {
          behavior: url(#default#VML);
        }
      </style>
    <![endif]-->
    <!--[if gte mso 9
      ]><xml>
        <o:DocumentProperties>
          <o:Author>Yoami 16807. Roselyn Suzette</o:Author>
          <o:LastAuthor>Mahabatan</o:LastAuthor>
          <o:Revision>17</o:Revision>
          <o:TotalTime>32</o:TotalTime>
          <o:LastPrinted>2022-07-28T08:38:00Z</o:LastPrinted>
          <o:Created>2022-08-22T04:04:00Z</o:Created>
          <o:LastSaved>2022-08-22T04:37:00Z</o:LastSaved>
          <o:Pages>1</o:Pages>
          <o:Words>901</o:Words>
          <o:Characters>5142</o:Characters>
          <o:Lines>42</o:Lines>
          <o:Paragraphs>12</o:Paragraphs>
          <o:CharactersWithSpaces>6031</o:CharactersWithSpaces>
          <o:Version>16.00</o:Version>
        </o:DocumentProperties>
        <o:OfficeDocumentSettings>
          <o:AllowPNG />
        </o:OfficeDocumentSettings> </xml
    ><![endif]-->
    <link rel="themeData" href="Standard%20Format%20Guarantee%20Bilingual%204_files/themedata.thmx" />
    <link rel="colorSchemeMapping" href="Standard%20Format%20Guarantee%20Bilingual%204_files/colorschememapping.xml" />
    <!--[if gte mso 9
      ]><xml>
        <w:WordDocument>
          <w:SpellingState>Clean</w:SpellingState>
          <w:GrammarState>Clean</w:GrammarState>
          <w:TrackMoves>false</w:TrackMoves>
          <w:TrackFormatting />
          <w:PunctuationKerning />
          <w:ValidateAgainstSchemas />
          <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
          <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
          <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
          <w:DoNotPromoteQF />
          <w:LidThemeOther>IN</w:LidThemeOther>
          <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
          <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
          <w:Compatibility>
            <w:BreakWrappedTables />
            <w:SnapToGridInCell />
            <w:WrapTextWithPunct />
            <w:UseAsianBreakRules />
            <w:DontGrowAutofit />
            <w:SplitPgBreakAndParaMark />
            <w:EnableOpenTypeKerning />
            <w:DontFlipMirrorIndents />
            <w:OverrideTableStyleHps />
          </w:Compatibility>
          <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
          <m:mathPr>
            <m:mathFont m:val="Cambria Math" />
            <m:brkBin m:val="before" />
            <m:brkBinSub m:val="&#45;-" />
            <m:smallFrac m:val="off" />
            <m:dispDef />
            <m:lMargin m:val="0" />
            <m:rMargin m:val="0" />
            <m:defJc m:val="centerGroup" />
            <m:wrapIndent m:val="1440" />
            <m:intLim m:val="subSup" />
            <m:naryLim m:val="undOvr" /> </m:mathPr
        ></w:WordDocument> </xml
    ><![endif]-->
    <!--[if gte mso 9
      ]><xml>
        <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false" DefSemiHidden="false" DefQFormat="false" DefPriority="99" LatentStyleCount="376">
          <w:LsdException Locked="false" Priority="0" QFormat="true" Name="Normal" />
          <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 1" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 2" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 3" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 4" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 5" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 6" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 7" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 8" />
          <w:LsdException Locked="false" Priority="9" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="heading 9" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 6" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 7" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 8" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index 9" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 1" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 2" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 3" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 4" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 5" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 6" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 7" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 8" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" Name="toc 9" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Normal Indent" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="footnote text" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="annotation text" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="header" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="footer" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="index heading" />
          <w:LsdException Locked="false" Priority="35" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="caption" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="table of figures" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="envelope address" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="envelope return" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="footnote reference" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="annotation reference" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="line number" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="page number" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="endnote reference" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="endnote text" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="table of authorities" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="macro" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="toa heading" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Bullet" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Number" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Bullet 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Bullet 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Bullet 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Bullet 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Number 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Number 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Number 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Number 5" />
          <w:LsdException Locked="false" Priority="10" QFormat="true" Name="Title" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Closing" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Signature" />
          <w:LsdException Locked="false" Priority="1" SemiHidden="true" UnhideWhenUsed="true" Name="Default Paragraph Font" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text Indent" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Continue" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Continue 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Continue 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Continue 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="List Continue 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Message Header" />
          <w:LsdException Locked="false" Priority="11" QFormat="true" Name="Subtitle" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Salutation" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Date" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text First Indent" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text First Indent 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Note Heading" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text Indent 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Body Text Indent 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Block Text" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Hyperlink" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="FollowedHyperlink" />
          <w:LsdException Locked="false" Priority="22" QFormat="true" Name="Strong" />
          <w:LsdException Locked="false" Priority="20" QFormat="true" Name="Emphasis" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Document Map" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Plain Text" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="E-mail Signature" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Top of Form" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Bottom of Form" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Normal (Web)" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Acronym" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Address" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Cite" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Code" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Definition" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Keyboard" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Preformatted" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Sample" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Typewriter" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="HTML Variable" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Normal Table" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="annotation subject" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="No List" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Outline List 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Outline List 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Outline List 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Simple 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Simple 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Simple 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Classic 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Classic 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Classic 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Classic 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Colorful 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Colorful 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Colorful 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Columns 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Columns 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Columns 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Columns 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Columns 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 6" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 7" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Grid 8" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 4" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 5" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 6" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 7" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table List 8" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table 3D effects 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table 3D effects 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table 3D effects 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Contemporary" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Elegant" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Professional" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Subtle 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Subtle 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Web 1" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Web 2" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Web 3" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Balloon Text" />
          <w:LsdException Locked="false" Priority="39" Name="Table Grid" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Table Theme" />
          <w:LsdException Locked="false" SemiHidden="true" Name="Placeholder Text" />
          <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading" />
          <w:LsdException Locked="false" Priority="61" Name="Light List" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1" />
          <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1" />
          <w:LsdException Locked="false" SemiHidden="true" Name="Revision" />
          <w:LsdException Locked="false" Priority="34" QFormat="true" Name="List Paragraph" />
          <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote" />
          <w:LsdException Locked="false" Priority="30" QFormat="true" Name="Intense Quote" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2" />
          <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3" />
          <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4" />
          <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5" />
          <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5" />
          <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6" />
          <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6" />
          <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6" />
          <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6" />
          <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6" />
          <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6" />
          <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6" />
          <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6" />
          <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6" />
          <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6" />
          <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6" />
          <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6" />
          <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6" />
          <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6" />
          <w:LsdException Locked="false" Priority="19" QFormat="true" Name="Subtle Emphasis" />
          <w:LsdException Locked="false" Priority="21" QFormat="true" Name="Intense Emphasis" />
          <w:LsdException Locked="false" Priority="31" QFormat="true" Name="Subtle Reference" />
          <w:LsdException Locked="false" Priority="32" QFormat="true" Name="Intense Reference" />
          <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title" />
          <w:LsdException Locked="false" Priority="37" SemiHidden="true" UnhideWhenUsed="true" Name="Bibliography" />
          <w:LsdException Locked="false" Priority="39" SemiHidden="true" UnhideWhenUsed="true" QFormat="true" Name="TOC Heading" />
          <w:LsdException Locked="false" Priority="41" Name="Plain Table 1" />
          <w:LsdException Locked="false" Priority="42" Name="Plain Table 2" />
          <w:LsdException Locked="false" Priority="43" Name="Plain Table 3" />
          <w:LsdException Locked="false" Priority="44" Name="Plain Table 4" />
          <w:LsdException Locked="false" Priority="45" Name="Plain Table 5" />
          <w:LsdException Locked="false" Priority="40" Name="Grid Table Light" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light Accent 1" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 1" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 1" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 1" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 1" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful Accent 1" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful Accent 1" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light Accent 2" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 2" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 2" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 2" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 2" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful Accent 2" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful Accent 2" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light Accent 3" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 3" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 3" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 3" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 3" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful Accent 3" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful Accent 3" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light Accent 4" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 4" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 4" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 4" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 4" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful Accent 4" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful Accent 4" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light Accent 5" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 5" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 5" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 5" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 5" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful Accent 5" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful Accent 5" />
          <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light Accent 6" />
          <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 6" />
          <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 6" />
          <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 6" />
          <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 6" />
          <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful Accent 6" />
          <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful Accent 6" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light Accent 1" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 1" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 1" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 1" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 1" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful Accent 1" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful Accent 1" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light Accent 2" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 2" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 2" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 2" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 2" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful Accent 2" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful Accent 2" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light Accent 3" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 3" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 3" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 3" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 3" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful Accent 3" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful Accent 3" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light Accent 4" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 4" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 4" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 4" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 4" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful Accent 4" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful Accent 4" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light Accent 5" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 5" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 5" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 5" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 5" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful Accent 5" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful Accent 5" />
          <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light Accent 6" />
          <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 6" />
          <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 6" />
          <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 6" />
          <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 6" />
          <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful Accent 6" />
          <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful Accent 6" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Mention" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Smart Hyperlink" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Hashtag" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Unresolved Mention" />
          <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true" Name="Smart Link" />
        </w:LatentStyles> </xml
    ><![endif]-->
    <style>
      <!--
      /* Font Definitions */
      @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
        mso-font-charset: 0;
        mso-generic-font-family: roman;
        mso-font-pitch: variable;
        mso-font-signature: -536869121 1107305727 33554432 0 415 0;
      }

      @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
        mso-font-charset: 0;
        mso-generic-font-family: swiss;
        mso-font-pitch: variable;
        mso-font-signature: -469750017 -1040178053 9 0 511 0;
      }

      @font-face {
        font-family: "Segoe UI";
        panose-1: 2 11 5 2 4 2 4 2 2 3;
        mso-font-charset: 0;
        mso-generic-font-family: swiss;
        mso-font-pitch: variable;
        mso-font-signature: -469750017 -1073683329 9 0 511 0;
      }

      @font-face {
        font-family: "Arial Narrow";
        panose-1: 2 11 6 6 2 2 2 3 2 4;
        mso-font-charset: 0;
        mso-generic-font-family: swiss;
        mso-font-pitch: variable;
        mso-font-signature: 647 2048 0 0 159 0;
      }

      /* Style Definitions */
      p.MsoNormal,
      li.MsoNormal,
      div.MsoNormal {
        mso-style-unhide: no;
        mso-style-qformat: yes;
        mso-style-parent: "";
        margin: 0cm;
        mso-pagination: widow-orphan;
        mso-layout-grid-align: none;
        punctuation-wrap: simple;
        text-autospace: none;
        font-size: 10.0pt;
        font-family: "Arial", sans-serif;
        mso-fareast-font-family: "Times New Roman";
        mso-bidi-font-family: "Times New Roman";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      p.MsoHeader,
      li.MsoHeader,
      div.MsoHeader {
        mso-style-priority: 99;
        mso-style-link: "Header Char";
        margin: 0cm;
        mso-pagination: widow-orphan;
        tab-stops: center 234.0pt right 468.0pt;
        mso-layout-grid-align: none;
        punctuation-wrap: simple;
        text-autospace: none;
        font-size: 10.0pt;
        font-family: "Arial", sans-serif;
        mso-fareast-font-family: "Times New Roman";
        mso-bidi-font-family: "Times New Roman";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      p.MsoFooter,
      li.MsoFooter,
      div.MsoFooter {
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-style-link: "Footer Char";
        margin: 0cm;
        mso-pagination: widow-orphan;
        tab-stops: center 234.0pt right 468.0pt;
        mso-layout-grid-align: none;
        punctuation-wrap: simple;
        text-autospace: none;
        font-size: 10.0pt;
        font-family: "Arial", sans-serif;
        mso-fareast-font-family: "Times New Roman";
        mso-bidi-font-family: "Times New Roman";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      p.MsoAcetate,
      li.MsoAcetate,
      div.MsoAcetate {
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-style-link: "Balloon Text Char";
        margin: 0cm;
        mso-pagination: widow-orphan;
        mso-layout-grid-align: none;
        punctuation-wrap: simple;
        text-autospace: none;
        font-size: 9.0pt;
        font-family: "Segoe UI", sans-serif;
        mso-fareast-font-family: "Times New Roman";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      p.MsoListParagraph,
      li.MsoListParagraph,
      div.MsoListParagraph {
        mso-style-priority: 34;
        mso-style-unhide: no;
        mso-style-qformat: yes;
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        mso-add-space: auto;
        line-height: 180%;
        mso-pagination: widow-orphan;
        font-size: 11.0pt;
        font-family: "Calibri", sans-serif;
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: "Times New Roman";
        mso-bidi-theme-font: minor-bidi;
        mso-ansi-language: IN;
        mso-fareast-language: EN-US;
      }

      p.MsoListParagraphCxSpFirst,
      li.MsoListParagraphCxSpFirst,
      div.MsoListParagraphCxSpFirst {
        mso-style-priority: 34;
        mso-style-unhide: no;
        mso-style-qformat: yes;
        mso-style-type: export-only;
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        mso-add-space: auto;
        line-height: 180%;
        mso-pagination: widow-orphan;
        font-size: 11.0pt;
        font-family: "Calibri", sans-serif;
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: "Times New Roman";
        mso-bidi-theme-font: minor-bidi;
        mso-ansi-language: IN;
        mso-fareast-language: EN-US;
      }

      p.MsoListParagraphCxSpMiddle,
      li.MsoListParagraphCxSpMiddle,
      div.MsoListParagraphCxSpMiddle {
        mso-style-priority: 34;
        mso-style-unhide: no;
        mso-style-qformat: yes;
        mso-style-type: export-only;
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        mso-add-space: auto;
        line-height: 180%;
        mso-pagination: widow-orphan;
        font-size: 11.0pt;
        font-family: "Calibri", sans-serif;
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: "Times New Roman";
        mso-bidi-theme-font: minor-bidi;
        mso-ansi-language: IN;
        mso-fareast-language: EN-US;
      }

      p.MsoListParagraphCxSpLast,
      li.MsoListParagraphCxSpLast,
      div.MsoListParagraphCxSpLast {
        mso-style-priority: 34;
        mso-style-unhide: no;
        mso-style-qformat: yes;
        mso-style-type: export-only;
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 36.0pt;
        mso-add-space: auto;
        line-height: 180%;
        mso-pagination: widow-orphan;
        font-size: 11.0pt;
        font-family: "Calibri", sans-serif;
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: "Times New Roman";
        mso-bidi-theme-font: minor-bidi;
        mso-ansi-language: IN;
        mso-fareast-language: EN-US;
      }

      p.msonormal0,
      li.msonormal0,
      div.msonormal0 {
        mso-style-name: msonormal;
        mso-style-unhide: no;
        mso-margin-top-alt: auto;
        margin-right: 0cm;
        mso-margin-bottom-alt: auto;
        margin-left: 0cm;
        mso-pagination: widow-orphan;
        font-size: 12.0pt;
        font-family: "Times New Roman", serif;
        mso-fareast-font-family: "Times New Roman";
        mso-fareast-theme-font: minor-fareast;
      }

      span.HeaderChar {
        mso-style-name: "Header Char";
        mso-style-priority: 99;
        mso-style-unhide: no;
        mso-style-locked: yes;
        mso-style-link: Header;
        mso-ansi-font-size: 10.0pt;
        mso-bidi-font-size: 10.0pt;
        font-family: "Arial", sans-serif;
        mso-ascii-font-family: Arial;
        mso-fareast-font-family: "Times New Roman";
        mso-hansi-font-family: Arial;
        mso-bidi-font-family: "Times New Roman";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      span.FooterChar {
        mso-style-name: "Footer Char";
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-style-unhide: no;
        mso-style-locked: yes;
        mso-style-link: Footer;
        mso-ansi-font-size: 10.0pt;
        mso-bidi-font-size: 10.0pt;
        font-family: "Arial", sans-serif;
        mso-ascii-font-family: Arial;
        mso-fareast-font-family: "Times New Roman";
        mso-hansi-font-family: Arial;
        mso-bidi-font-family: "Times New Roman";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      span.BalloonTextChar {
        mso-style-name: "Balloon Text Char";
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-style-unhide: no;
        mso-style-locked: yes;
        mso-style-link: "Balloon Text";
        mso-ansi-font-size: 9.0pt;
        mso-bidi-font-size: 9.0pt;
        font-family: "Segoe UI", sans-serif;
        mso-ascii-font-family: "Segoe UI";
        mso-fareast-font-family: "Times New Roman";
        mso-hansi-font-family: "Segoe UI";
        mso-bidi-font-family: "Segoe UI";
        mso-ansi-language: EN-US;
        mso-fareast-language: EN-AU;
      }

      span.SpellE {
        mso-style-name: "";
        mso-spl-e: yes;
      }

      span.GramE {
        mso-style-name: "";
        mso-gram-e: yes;
      }

      .MsoChpDefault {
        mso-style-type: export-only;
        mso-default-props: yes;
        font-size: 10.0pt;
        mso-ansi-font-size: 10.0pt;
        mso-bidi-font-size: 10.0pt;
        font-family: "Calibri", sans-serif;
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: "Times New Roman";
        mso-bidi-theme-font: minor-bidi;
        mso-ansi-language: IN;
        mso-fareast-language: EN-US;
      }

      /* Page Definitions */
      @page {
        mso-footnote-separator: url("Standard%20Format%20Guarantee%20Bilingual%204_files/header.htm") fs;
        mso-footnote-continuation-separator: url("Standard%20Format%20Guarantee%20Bilingual%204_files/header.htm") fcs;
        mso-endnote-separator: url("Standard%20Format%20Guarantee%20Bilingual%204_files/header.htm") es;
        mso-endnote-continuation-separator: url("Standard%20Format%20Guarantee%20Bilingual%204_files/header.htm") ecs;
      }

      @page WordSection1 {
        size: 595.3pt 841.9pt;
        margin: 99.25pt 2.0cm 72.0pt 2.0cm;
        mso-header-margin: 35.45pt;
        mso-footer-margin: 35.45pt;
        mso-header: url("Standard%20Format%20Guarantee%20Bilingual%204_files/header.htm") h1;
        mso-paper-source: 0;
      }

      div.WordSection1 {
        page: WordSection1;
      }

      /* List Definitions */
      @list l0 {
        mso-list-id: 372004627;
        mso-list-type: hybrid;
        mso-list-template-ids: 1658890722 -1933261508 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;
      }

      @list l0:level1 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
        color: windowtext;
      }

      @list l0:level2 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l0:level3 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l0:level4 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l0:level5 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l0:level6 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l0:level7 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l0:level8 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l0:level9 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l1 {
        mso-list-id: 992870702;
        mso-list-type: hybrid;
        mso-list-template-ids: -2139165094 69271567 69271577 69271579 69271567 69271577 69271579 69271567 69271577 69271579;
      }

      @list l1:level1 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l1:level2 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l1:level3 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l1:level4 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l1:level5 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l1:level6 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l1:level7 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l1:level8 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l1:level9 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l2 {
        mso-list-id: 1908222135;
        mso-list-type: hybrid;
        mso-list-template-ids: 1321088156 69271577 69271577 69271579 69271567 69271577 69271579 69271567 69271577 69271579;
      }

      @list l2:level1 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l2:level2 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l2:level3 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l2:level4 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l2:level5 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l2:level6 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      @list l2:level7 {
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l2:level8 {
        mso-level-number-format: alpha-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -18.0pt;
      }

      @list l2:level9 {
        mso-level-number-format: roman-lower;
        mso-level-tab-stop: none;
        mso-level-number-position: right;
        text-indent: -9.0pt;
      }

      ol {
        margin-bottom: 0cm;
      }

      ul {
        margin-bottom: 0cm;
      }
      -->
    </style>
    <!--[if gte mso 10]>
      <style>
        /* Style Definitions */
        table.MsoNormalTable {
          mso-style-name: "Table Normal";
          mso-tstyle-rowband-size: 0;
          mso-tstyle-colband-size: 0;
          mso-style-noshow: yes;
          mso-style-priority: 99;
          mso-style-parent: "";
          mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
          mso-para-margin: 0cm;
          mso-pagination: widow-orphan;
          font-size: 10pt;
          font-family: "Calibri", sans-serif;
          mso-ascii-font-family: Calibri;
          mso-ascii-theme-font: minor-latin;
          mso-hansi-font-family: Calibri;
          mso-hansi-theme-font: minor-latin;
          mso-bidi-font-family: "Times New Roman";
          mso-bidi-theme-font: minor-bidi;
          mso-ansi-language: IN;
          mso-fareast-language: EN-US;
        }
      </style>
    <![endif]-->
    <!--[if gte mso 9]><xml> <o:shapedefaults v:ext="edit" spidmax="2050" /> </xml><![endif]-->
    <!--[if gte mso 9
      ]><xml>
        <o:shapelayout v:ext="edit"> <o:idmap v:ext="edit" data="2" /> </o:shapelayout></xml
    ><![endif]-->
  </head>

  <body lang="EN-ID" style="tab-interval: 36pt; word-wrap: break-word; margin-left: 50pt; margin-right: 50pt">
    <div class="WordSection1">
      <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; mso-yfti-tbllook: 1184; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt">
        <tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes; page-break-inside: avoid">
          <td valign="top" style="width: 49%; padding: 0cm 5.4pt 0cm 5.4pt">
            <p class="MsoNormal" align="center" style="margin-right: 1.9pt; text-align: center; line-height: 180%; tab-stops: 0cm 33.75pt">
              <b
                ><u
                  ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 2.15pt">GARANSI BANK<o:p></o:p></span></u
              ></b>
            </p>
            <p class="MsoNormal" align="center" style="margin-right: 1.9pt; text-align: center; line-height: 180%; tab-stops: 0cm 33.75pt">
              <b><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 2.15pt">([[tipe_jaminan]]</span></b
              ><b
                ><span style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 2.15pt; mso-ansi-language: EN-ID">)<o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal" align="center" style="margin-right: 2.15pt; text-align: center; line-height: 180%; tab-stops: 0cm dotted 180pt 265.5pt">
              <b><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1pt">No: </span></b
              ><u
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1pt; mso-bidi-font-weight: bold"><b>[[bg_numb]]</b><o:p></o:p></span
              ></u>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; line-height: 180%">
              <span class="SpellE"
                ><b><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1pt">Tanggal</span></b></span
              ><b
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1pt">
                  <span class="GramE">Terbit :</span> <u>[[tanggal_terbit]]<o:p></o:p></u></span
              ></b>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif"
                >PT. BANK TABUNGAN NEGARA (Persero) <span class="SpellE">Tbk</span> yang <span class="SpellE">berkedudukan</span>
                <span class="GramE">di<span style="mso-spacerun: yes"> </span>Jakarta</span>
                juga <span class="SpellE">mempunyai</span> Kantor Cabang di : <u>[[bank_branch_address]]<o:p></o:p></u
              ></span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">yang <span class="SpellE"> </span> <span class="SpellE">disebut </span><b>BANK</b>.<o:p></o:p></span>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif"
                >Atas <span class="SpellE">permintaan</span> <span class="SpellE"><span class="GramE">dari</span></span
                ><span class="GramE"> : </span>
                <o:p>[[app_name]]</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span class="SpellE"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Berkedudukan</span></span
              ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                / <span class="SpellE">beralamat</span> di <br /><u>[[app_city]]<o:p></o:p></u
              ></span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif"
                >yang <span class="SpellE">selanjutnya</span> <span class="SpellE"><span class="GramE">disebut</span></span
                ><span class="GramE"><span style="mso-spacerun: yes"> </span><b></span>PIHAK YANG DIJAMIN.<o:p></o:p
              ></span></b>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; line-height: 180%">
              <span class="SpellE"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Untuk</span></span
              ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                <span class="SpellE">kepentingan</span> <span class="SpellE">[[tipe_jaminan2]] [[subject]]</span></span
                ><span class="GramE"> :</span><span style="mso-tab-count: 1"> </span>
                <o:p></o:p>
              </span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span class="SpellE"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Ditujukan</span></span
              ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                <span class="SpellE"><span class="GramE">kepada</span></span
                ><span class="GramE"> :</span> <u><b>[[benef_name]]</b><o:p></o:p></u
              ></span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span class="SpellE"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">berkedudukan</span></span
              ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif"
                >/<span class="SpellE">beralamat</span>/
                <span class="GramE"
                  >di <u><span style="mso-spacerun: yes"></span></u></span
                ><u><b>[[benef_add]]</b> , <b>[[benef_city]]</b></u>
                <o:p></o:p>
              </span>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">yang <span class="SpellE">selanjutnya</span> <span class="SpellE">disebut</span> <b>PIHAK PENERIMA JAMINAN</b>.<o:p></o:p></span>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; line-height: 180%">
              <span class="SpellE"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Dengan</span></span
              ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                <span class="SpellE">ini</span> <span class="SpellE"><span class="GramE">menyatakan</span></span
                ><span class="GramE"> :</span><span style="mso-spacerun: yes"> </span>
                <o:p></o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="IT" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-ansi-language: IT">
                <o:p><span style="text-decoration: none">&nbsp;</span></o:p>
              </span>
            </p>
            <ol style="margin-top: 0; padding-left: 10pt">
              <li>
                <p class="MsoListParagraphCxSpFirst" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l1 level1 lfo2">
                  <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Menjamin kepada PIHAK<span style="mso-spacerun: yes"> </span>PENERIMA<span style="mso-spacerun: yes"> </span>JAMINAN<span style="mso-spacerun: yes"> </span>untuk<span style="mso-spacerun: yes"> </span>membayar<span style="mso-spacerun: yes"> </span>kepadanya sejumlah uang dengan tidak melebihi jumlah maksimum Rp. <u>[[amount]]</u> (<u>[[terbilang]]</u>) dalam hal PIHAK YANG DIJAMIN tidak memenuhi kewajibannya sebagaimana yang telah ditetapkan dalam <b>[[service]] Nomor [[gt_doc_number]]</b> </span><u><span lang="EN-US" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-ansi-language: EN-US"> </span></u
                  ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">tanggal <u>[[gt_doc_date]]</u></span
                  ><u></u
                  ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif"> antara <b>PIHAK YANG DIJAMIN</b> DAN <b>PIHAK PENERIMA JAMINAN</b>.<o:p></o:p></span>
                </p>
              </li>
              <li>
                <p class="MsoListParagraphCxSpMiddle" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l1 level1 lfo2">
                  <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Menunjuk pada pasal 1832 Kitab Undang-undang Hukum Perdata, BANK melepaskan hak-hak istimewanya untuk menuntut supaya benda-benda PIHAK YANG DIJAMIN lebih dahulu disita dan dijual guna melunasi hutang-hutangnya sebagaimana dimaksud dalam pasal 1831 Kitab Undang Undang Hukum Perdata. Mudah dicairkan dan tanpa syarat (<i style="mso-bidi-font-style: normal">unconditional</i>).<o:p></o:p></span>
                </p>
              </li>
              <li>
                <p class="MsoListParagraphCxSpMiddle" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l1 level1 lfo2">
                  <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Garansi Bank ini berlaku untuk jangka waktu <b>[[hitung_hari_angka]]</b> (<b>[[hitung_hari]]</b>)</span><u><span lang="EN-US" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-ansi-language: EN-US"></span></u><span lang="EN-US" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-ansi-language: EN-US"> </span
                  ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">
                    <o:p></o:p>
                  </span>
                  <span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif"
                    >hari kalender terhilung sejak tanggal <b><u>[[date_start]]</u></b> sampai dengan tanggal <b><u>[[date_end]]</u></b>
                    <o:p></o:p>
                  </span>
                </p>
              </li>
              <li>
                <p class="MsoListParagraphCxSpMiddle" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l1 level1 lfo2">
                  <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Tuntutan pengajuan klaim atas Bank Garansi ini dapat dilaksanakan oleh <b>PIHAK PENERIMA JAMINAN</b> dengan pernberitahuan tertulis kepada BANK segera setelah timbul wanprestasi oleh <b>PIHAK YANG DIJAMIN</b> dengan batas waktu pengajuan selambat-lambatnya <b>30 (tiga puluh) hari</b> kalender setelah berakhirnya Bank Garansi ini dengan disertai dengan bukti-bukti bahwa <b>PIHAK YANG DIJAMIN</b> tidak memenuhi kewajibannya atau telah melakukan wanprestasi.<o:p></o:p></span>
                </p>
              </li>
              <li>
                <p class="MsoListParagraphCxSpMiddle" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l1 level1 lfo2">
                  <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Bank Garansi ini tidak berlaku lagi apabila :<o:p></o:p></span>
                </p>

                <ol type="a">
                  <li>
                    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0cm; mso-add-space: auto; text-align: justify; mso-list: l2 level1 lfo4; margin-left: 7pt">
                      <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif"><b>PIHAK YANG DIJAMIN</b> telah memenuhi kewajibannya sesuai dengan ketentuan yang berlaku dan telah disetujui secara tertulis oleh <b>PIHAK PENERIMA JAMINAN</b> walaupun jangka waktu Garansi Bank ini belum berakhir.<o:p></o:p></span>
                    </p>
                  </li>
                  <li>
                    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0cm; mso-add-space: auto; text-align: justify; mso-list: l2 level1 lfo4; margin-left: 7pt">
                      <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Jangka waktu tuntutan penagihan (klaim) telah berakhir tanpa adanya tuntutan penagihan (klaim) dari <b>PIHAK PENERIMA JAMINAN</b>.<o:p></o:p></span>
                    </p>
                  </li>
                  <li>
                    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0cm; mso-add-space: auto; text-align: justify; mso-list: l2 level1 lfo4; margin-left: 7pt">
                      <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Ada pernyataan tentang tidak berlakunya Bank Garansi atau pernyataan tentang selesainya perhitungan atas Garansi Bank ini sebelum berakhirnya jangka waktu Garansi Bank yang harus ditanda tangani oleh <b>PIHAK PENERIMA JAMINAN</b> dan <b>PIHAK YANG DIJAMIN</b> diatas materai secukupnya. Bila Bank Garansi ini telah dipenuhi dan atau tidak berlaku lagi maka Bank Garansi ini wajib dikembalikan kepada <b>BANK</b>.<o:p></o:p></span>
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p class="MsoListParagraphCxSpLast" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l1 level1 lfo2">
                  <![endif]><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">Untuk keperluan pemberian Bank Garansi ini beserta segala akibat yang timbul dari padanya <b>BANK</b> memilih domisili yang umum dan tetap Kantor Panitera Pengadilan Negeri di <b><u>[[local_pn]]</u></b></u
                  ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif">
                    <o:p></o:p>
                  </span>
                </p>
              </li>
            </ol>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="IT" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-ansi-language: IT">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-bidi-font-weight: bold">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
          </td>
          <td valign="top" style="width: 1%; padding: 0cm 5.4pt 0cm 5.4pt">
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-weight: bold; mso-bidi-font-style: italic">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
          </td>
          <td valign="top" style="width: 49%; padding: 0cm 5.4pt 0cm 5.4pt">
            <p class="MsoNormal" align="center" style="text-align: center; line-height: 180%">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><u
                    ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">BANK GUARANTEE<o:p></o:p></span></u></i
              ></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; line-height: 180%">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><u
                    ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">GARANSI BANK<o:p></o:p></span></u></i
              ></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; line-height: 180%">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">[[tipe_jaminan]]<o:p></o:p></span></i
              ></b>
            </p>
            <p class="MsoNormal" style="margin-right: 1.9pt; text-align: justify; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                  <o:p>&nbsp;</o:p>
                </span></i
              >
            </p>
            <p class="MsoNormal" style="margin-right: 1.9pt; text-align: justify; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                  <o:p>&nbsp;</o:p>
                </span></i
              >
            </p>
            <p class="MsoNormal" style="margin-right: 1.9pt; text-align: justify; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">PT. Bank Tabungan Negara (Persero) <span class="SpellE">Tbk</span>., domiciled in Jakarta, acting through its branch office in [[bank_branch_address]] (hereinafter <span class="SpellE">refered</span> to as <b style="mso-bidi-font-weight: normal">&quot;the BANK&quot;</b>) hereby issue in favor of <b>&quot;the GUARANTEE RECIPIENT&quot;</b> an irrevocable, unconditional Bank Guarantee in relation to the Contract mentioned below between the Guarantee Recipient and the Guarantee Party, by waiving all the privileges including the rights to request that the guarantee party shall firstly be claimed which are given by the law to the guarantor as mentioned in article 1832 of Indonesia Civil Code.<o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Name<span style="mso-tab-count: 2"> </span>: <o:p>[[benef_name]]</o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Address<span style="mso-tab-count: 2"> </span>: <o:p>[[benef_add]]</o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span class="SpellE"
                ><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">herenafter</span></i></span
              ><i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
                  <span class="SpellE">refered</span> to as <b>&quot;the GUARANTEE RECIPIENT&quot;</b>;<b style="mso-bidi-font-weight: normal"> <o:p></o:p> </b></span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Name<span style="mso-tab-count: 2"> </span>: <span class="GramE">[[app_name]]</span> <o:p></o:p> </span
              ></i>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Address<span style="mso-tab-count: 2"> </span>: [[app_add]]<o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span class="SpellE"
                ><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">herenafter</span></i></span
              ><i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif"> <span class="SpellE">refered</span> to as <b style="mso-bidi-font-weight: normal">&quot;the GUARANTEED Party&quot;</b>;<o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; margin-right: 2pt; margin-bottom: 0cm; margin-left: 0cm; margin-bottom: 0.0001pt; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Namely as guarantee<span style="mso-tab-count: 1"> </span>: [[tipe_jaminan2]] on [[subject]] <o:p></o:p> </span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-right: 1.9pt; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">Based on<span style="mso-tab-count: 2"> </span>: <b>[[service]] Nomor [[gt_doc_number]]</b><o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="line-height: 180%">
              <span class="SpellE"
                ><i style="mso-bidi-font-style: normal"><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">herenafter</span></i></span
              ><i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif"> <span class="SpellE">refered</span> to as <b style="mso-bidi-font-weight: normal">&quot;the Contract&quot;</b>; <o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; margin-right: 2pt; margin-bottom: 0cm; margin-left: 0cm; margin-bottom: 0.0001pt; text-align: justify; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">In connection with <b>the Contract</b> above We, PT. Bank Tabungan Negara (Persero) <span class="SpellE">Tbk</span>. undertake to pay immediately at the first written demand in lump sum to <b>&quot;the GUARANTEE RECIPIENT&quot;</b> an amount of money which does not exceed the maximum amount of Rp. [[amount]]<span style="mso-spacerun: yes"> </span>([[terbilang_en]]) ;<o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; margin-right: 2pt; margin-bottom: 0cm; margin-left: 0cm; margin-bottom: 0.0001pt; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">This Performance Bond shall be valid from <span class="GramE">[[date_start_en]]</span> and will expire on [[date_end_en]]<o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; margin-right: 2pt; margin-bottom: 0cm; margin-left: 0cm; margin-bottom: 0.0001pt; text-align: justify; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">The claim of this Bank Guarantee can be immediately carried out by <b>the GUARANTEE RECIPIENT</b> after the <span class="SpellE">occurence</span> of default by means of a written notice to the <b>BANK</b> within a period of not later than <b>30 days</b> since the expiry date of this Bank Guarantee.<o:p></o:p></span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-top: 3pt; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">This Bank Guarantee shall become null and void, <span class="GramE">if :</span> <o:p></o:p> </span
              ></i>
            </p>
            <ol style="padding-left: 10pt" type="a">
              <li>
                <p class="MsoListParagraphCxSpFirst" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l0 level1 lfo6">
                  <![endif]><i style="mso-bidi-font-style: normal"
                    ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: 'Times New Roman'">The claim has elapsed since the limit of submission time.<o:p></o:p></span
                  ></i>
                </p>
              </li>
              <li>
                <p class="MsoListParagraphCxSpMiddle" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l0 level1 lfo6">
                  <![endif]><i style="mso-bidi-font-style: normal"
                    ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: 'Times New Roman'">The <b>GUARANTEED Party</b> has fulfilled its obligation pursuant to the prevailing terms and conditions which has been accepted and agreed in writing by the <b>GUARANTEE RECIPIENT</b> notwithstanding the terms of this Bank Guarantee has not yet terminated.<o:p></o:p></span
                  ></i>
                </p>
              </li>
              <li>
                <p class="MsoListParagraphCxSpMiddle" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 7pt; mso-add-space: auto; text-align: justify; mso-list: l0 level1 lfo6">
                  <![endif]><i style="mso-bidi-font-style: normal"><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: 'Times New Roman'">The existence of the written statement to the BANK with respect to the non applicability or settlement of calculation on this Bank Guarantee before its expiry made and signed by the <b>GUARANTEE RECIPIENT</b> and the <b>GUARANTEED Party</b> in the sufficiently stamped paper. </span></i><i style="mso-bidi-font-style: normal"><span lang="EN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; color: #202124; mso-ansi-language: EN">If this Bank Guarantee has been fulfilled and or is no longer valid, this Bank Guarantee must be returned to the <b>BANK</b>.</span></i
                  ><i style="mso-bidi-font-style: normal"
                    ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; color: #202124"> <o:p></o:p> </span
                  ></i>
                </p>
              </li>
            </ol>
            <p class="MsoListParagraphCxSpLast" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 21.3pt; mso-add-space: auto; text-align: justify">
              <i style="mso-bidi-font-style: normal"
                ><span lang="IN" style="font-size: 10pt; line-height: 180%; font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: 'Times New Roman'">
                  <o:p>&nbsp;</o:p>
                </span></i
              >
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <i style="mso-bidi-font-style: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">With respect to any and all arising effects of this Bank Guarantee, the BANK elects its permanent and irrevocable legal domicile at the Register Office of the District Court of <span class="GramE"><b>[[local_pn]]</b></span> <o:p></o:p> </span
              ></i>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 180%">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial">
                    <o:p>&nbsp;</o:p>
                  </span></i
                ></b
              >
            </p>
          </td>
        </tr>
        <tr style="mso-yfti-irow: 2; mso-yfti-lastrow: yes; height: 97.8pt">
          <td valign="top" style="width: 49%; padding: 0cm 5.4pt 0cm 5.4pt; height: 97.8pt">
            <p class="MsoNormal" style="margin-right: 1.9pt; tab-stops: 0cm 436.5pt">
              <b style="mso-bidi-font-weight: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1.15pt">PT.BANK TABUNGAN NEGARA (Persero) <span class="SpellE">Tbk</span> <o:p></o:p> </span
              ></b>
            </p>
            <p class="MsoNormal" style="margin-right: 1.9pt; tab-stops: dotted 0cm 436.5pt">
              <b
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1.15pt">KANTOR CABANG [[bank_branch]]<o:p></o:p></span
              ></b>
            </p>
            <p class="MsoNormal" style="margin-right: 1.9pt; tab-stops: 0cm 436.5pt">
              <b style="mso-bidi-font-weight: normal"
                ><span lang="SV" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-ansi-language: SV"> <o:p></o:p> </span
              ></b>
            </p>
            <p class="MsoNormal" style="text-align: justify; line-height: 1%">
              <b style="mso-bidi-font-weight: normal"
                ><u
                  ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial">
                    <o:p><span style="text-decoration: none"></span></o:p> </span></u
              ></b>
            </p>
          </td>
          <td valign="top" style="width: 1%; padding: 0cm 5.4pt 0cm 5.4pt">
            <p class="MsoNormal" style="line-height: 180%">
              <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-weight: bold; mso-bidi-font-style: italic">
                <o:p>&nbsp;</o:p>
              </span>
            </p>
          </td>
          <td valign="top" style="width: 49%; padding: 0cm 5.4pt 0cm 5.4pt; height: 97.8pt">
            <p class="MsoNormal" style="margin-right: 1.9pt; tab-stops: 0cm 436.5pt">
              <b style="mso-bidi-font-weight: normal"
                ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; letter-spacing: 1.15pt">PT.BANK TABUNGAN NEGARA (Persero) <span class="SpellE">Tbk</span> <o:p></o:p> </span
              ></b>
            </p>
            <p class="MsoNormal" style="margin-top: 0cm; margin-right: -1.15pt; margin-bottom: 0cm; margin-left: 22.4pt; margin-bottom: 0.0001pt; text-indent: -22.4pt; line-height: 13pt; mso-line-height-rule: exactly">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><span lang="SV" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-ansi-language: SV">Branch <o:p></o:p></span></i
              >[[bank_branch]]</b>
            </p>
            <p class="MsoNormal" style="margin-top: 0cm; margin-right: -1.15pt; margin-bottom: 12pt; margin-left: 22.4pt; text-indent: -22.4pt; line-height: 13pt; mso-line-height-rule: exactly">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><span lang="SV" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial; mso-ansi-language: SV"> <o:p></o:p> </span></i
              ></b>
            </p>
            <p class="MsoListParagraphCxSpFirst" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 1cm; mso-add-space: auto; line-height: normal">
              <i style="mso-bidi-font-style: normal"
                ><span lang="IN" style="font-size: 12pt; font-family: 'Arial Narrow', sans-serif"> <o:p></o:p> </span
              ></i>
            </p>
            <p class="MsoListParagraphCxSpLast" style="margin-top: 0cm; margin-right: 0cm; margin-bottom: 0cm; margin-left: 14.2pt; mso-add-space: auto; text-align: justify">
              <i style="mso-bidi-font-style: normal"
                ><span lang="IN" style="font-size: 10pt; line-height: 115%; font-family: 'Arial Narrow', sans-serif"> <o:p></o:p> </span
              ></i>
            </p>
            <p class="MsoNormal" style="margin-left: 19.35pt; text-align: justify; text-indent: -19.35pt; line-height: 115%">
              <b style="mso-bidi-font-weight: normal"
                ><i style="mso-bidi-font-style: normal"
                  ><span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif; mso-bidi-font-family: Arial"> <o:p></o:p> </span></i
              ></b>
            </p>
          </td>
        </tr>
      </table>

      <p class="MsoNormal" style="line-height: 180%">
        <span lang="EN-US" style="font-family: 'Arial Narrow', sans-serif">
          <o:p>&nbsp;</o:p>
        </span>
      </p>
    </div>
  </body>
</html>
