<style type="text/css">
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
	}

	.gj-unselectable {
		color: #212529 !important;
	}
</style>

<script type="text/javascript">
	$(document).ready(function() {
		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});
	})

	function Searchtable() {
		// Declare variables
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("searchtable");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {


			//for (x = 0; i < 9; x++) {
			td0 = tr[i].getElementsByTagName("td")[0];
			td = tr[i].getElementsByTagName("td")[1];
			td1 = tr[i].getElementsByTagName("td")[2];
			td2 = tr[i].getElementsByTagName("td")[3];
			td3 = tr[i].getElementsByTagName("td")[4];
			td4 = tr[i].getElementsByTagName("td")[5];
			td5 = tr[i].getElementsByTagName("td")[6];
			td6 = tr[i].getElementsByTagName("td")[7];
			td7 = tr[i].getElementsByTagName("td")[8];

			if (td0) {
				txtValue = td0.textContent || td.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {
					//  tr[i].style.display = "none";
				}
			}
			if (td) {
				txtValue = td.textContent || td.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {
					//  tr[i].style.display = "none";
				}
			}
			if (td1) {
				txtValue = td1.textContent || td1.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}
			if (td2) {
				txtValue = td2.textContent || td2.innerText;
				//	console.log(txtValue); 

				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}
			if (td3) {
				txtValue = td3.textContent || td3.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}
			if (td4) {
				txtValue = td4.textContent || td4.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}
			if (td5) {
				txtValue = td5.textContent || td5.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}
			if (td6) {
				txtValue = td6.textContent || td6.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}
			if (td7) {
				txtValue = td7.textContent || td7.innerText;
				//console.log(td);
				if (txtValue.toUpperCase().indexOf(filter) > -1) {

					var temp = i;
				} else {

				}
			}



			if (temp) {
				tr[i].style.display = "";
			}

			// }


		}
	}

	function target_popup(form) {
		window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
		form.target = 'formpopup';
	}
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('My Activity'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('My Activity') ?></h5>

		<?php
		$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
		?>

		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'be-activity'), null, true) ?>" method="get">
			<table cellpadding="3" cellspacing="0" border="0">
				<!-- <tr>
<th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
</tr> -->

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('FROM', $this->language->_('From')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">
						<input type="hidden" name="datefrom" id="datefrom" value="<?php echo $this->fDateFrommax; ?>">
						<?php
						echo $this->datePicker("fDateFrom", $this->fDateFrom, array(
							'dateFormat' => $this->jqueryDateFormat,
							'defaultDate' => 'new Date()',
							'chageMonth' => 'true',
							'changeYear' => 'true',
							'clearAnotherField' => 'true',
							'anotherField' => 'fDateFrom',
							'minDateID' => 'fDateFrom'
						));
						?>

						<script>
							$('#fDateFrom').datepicker({
								// minDate: function() {
								// 	var val = document.getElementById('datefrom').value;
								// 	console.log(val);
								// 	var parts = val.split("/");
								// 	console.log(parts);
								// 	var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 
								// 	mindate.setDate(mindate.getDate());
								// 	return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
								// },
								maxDate: function() {
									var date = new Date();
									date.setDate(date.getDate());
									return new Date(date.getFullYear(), date.getMonth(), date.getDate());
								},
								format: 'dd/mm/yyyy',
								uiLibrary: 'bootstrap4',
							});
						</script>
					</td>

					<td class="tbl-evencontent"><?php echo $this->formLabel('fDateTo', $this->language->_('To'), array("style" => "margin-top: 8px !important;")); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">
						<?php
						echo $this->datePicker("fDateTo", $this->fDateTo, array(
							'dateFormat' => $this->jqueryDateFormat,
							'defaultDate' => 'new Date()',
							'chageMonth' => 'true',
							'changeYear' => 'true',
							'clearAnotherField' => 'true',
							'anotherField' => 'fDateTo',
							'minDateID' => 'fDateTo'
						));
						?>

						<script>
							$('#fDateTo').datepicker({
								minDate: function() {
									var val = document.getElementById('fDateFrom').value;
									var parts = val.split("/");
									console.log(parts);
									var mindate = new Date(parts[2], parts[1] - 1, parts[0]);
									mindate.setDate(mindate.getDate());
									return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
								},
								maxDate: function() {
									var date = new Date();
									date.setDate(date.getDate());
									return new Date(date.getFullYear(), date.getMonth(), date.getDate());
								},
								format: 'dd/mm/yyyy',
								uiLibrary: 'bootstrap4',
							});
						</script>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"></td>
					<td class="tbl-evencontent"></td>
					<td class="tbl-evencontent" colspan="4"></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('activity', $this->language->_('Activity Type')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4"><select class="form-control col-md-12" name="SEARCH_ACTIVITY">
							<option value="">--- <?php echo $this->language->_('Any Value'); ?> ---</option>
							<?php foreach ($this->activity as $key => $value) { ?>
								<option value="<?php echo $key; ?>" <?= ($key == $this->active) ? 'selected' : '' ?>><?php echo $this->language->_($value); ?></option><?php } ?>
						</select><?php 		//Zend_Debug::dump($this->activity); die;
									?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"></td>
					<td class="tbl-evencontent"></td>
					<td class="tbl-evencontent" colspan="4"></td>
				</tr>
				<tr>
					<td colspan="6" align="left">
						<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')) ?>
						<?php //echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn'))
						?>
						<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'be-activity', 'clearfilter' => '1'), null, true) ?>'">
					</td>
				</tr>
			</table>
		</form>


	</div>
</div>
<div class="row">
	<div class="col-md-12">

		<div style="float:right; padding-left:5px;">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
				</div>
				<input type="text" class="search form-control" placeholder="Search" id="searchtable" onkeyup="Searchtable();">
			</div>
		</div>

		<div class="row" style="float: right;margin-right: 2px;">

			<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post" target="_blank">

				<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" style="width: 100px !important;" class="fa hov">' ?>&nbsp;
			</form>
			<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post" onsubmit="target_popup(this)">

				<!-- <input type="submit" value="Print" name="print" style="color: #000000 !important;font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;" class="btngrad hov"> -->

			</form>
		</div>

		<br>
		<br>
		<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
			<table class="table table-sm table-striped" id="myTable">
				<tr>
					<th width="3%" valign="top" class="tablehead">No</th>
					<?php echo $this->partial(
						'tableheader.phtml',
						array(
							'fields' => $this->fields,
							'sortBy' => $this->sortBy,
							'sortDir' => $this->sortDir,
							'query_string_params' => $this->query_string_params
						)
					) ?>
				</tr>
				<?php
				if (count($this->paginator) > 0) {
					$i  = 0;
					$no = 1;
					// <td class="'.$td_css.'">'.$row['USER_NAME'].'</td>
					foreach ($this->paginator as $row) {
						$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

						$row_content = '<tr>
<td class="' . $td_css . '">' . $counter . '</td>
<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['LOG_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
<td class="' . $td_css . '">' . $row['USER_ID'] . '</td>
<td class="' . $td_css . '">' . $this->language->_($row['FPRIVI_DESC']) . '</td>
<td class="' . $td_css . '">' . $row['ACTION_FULLDESC'] . '</td>
</tr>
';
						echo $row_content;
						$i++;
						$counter++;
					}
				} else {
					echo '<tr><td colspan="9" class="tbl-evencontent" align="center">--- ' . $this->language->_('No Data') . ' ---</td></tr>';
				}
				?>
			</table>
		</div>

		<br />
		<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
	</div>
</div>