<b><?php echo $this->language->_('Charge'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charge Template List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('TemplateName2',$this->language->_('Template Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('TemplateName2',$this->TemplateName2,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Type',$this->language->_('Type')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?
					echo '<select name="Type" id="Type">
							<option value="">-- '.$this->language->_('Please Select').' --</option>
							<option value="1">'.$this->language->_('Service Charge').' (SC)</option> 
							<option value="2">'.$this->language->_('Community Charge').' (CC)</option> 
						</select>';
				?>
			</td>
		</tr>
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<br />
	<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
				<tr>
					<TD class="tdform-sub">No</TD>
					<?php 
						echo $this->partial('tableheader.phtml',array(
																		'fields' => $this->fields,
																		'sortBy' => $this->sortBy,
																		'sortDir' => $this->sortDir,
																		'query_string_params' => $this->query_string_params
																	)
											);
					?>
					<TD class="tdform-sub"><?php echo $this->language->_('Action'); ?></TD>
				</tr>
				<?php
				if(count($this->paginator) > 0)
    		    {
				     $i = 0;
				
    			    $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
				    //$i = 1;
					foreach($this->paginator as $vM)
				    //foreach($this->mData as $vM)
					{
					    echo '<tr>';
						    echo '<td>' . $counter .'</td>';
							echo '<td>' . $vM['TEMPLATE_NAME'] . '</td>';
							echo '<td>' . $vM['CREATED'] . '</td>';
							echo '<td>' . $vM['CREATEDBY'] . '</td>' ;
							echo '<td>' . $vM['SUGGESTED'] . '</td>';
							echo '<td>' . $vM['SUGGESTEDBY'] . '</td>' ;
							//$mytype = ($vM['CHARGES_TYPE'] == 1) ? 'SC' : 'CC';
							$mytype = 'SC';
							echo '<td>' .  $mytype . '</td>' ;
							echo '<td><a href onClick="javascript:openwindow(\''.$this->url(
																																			array("module"=>$this->modulename,
																																					"controller"=>"chargestemplatelistdetail",
																																					"action"=>"index",
																																					"template_id"=>$vM['TEMPLATE_ID']
																																					),
																																					null,true).'\',640,600);" >
								Detail</a></td>' ;
						echo '</tr>';
						$counter++;
					}
				}
				?>
			</table>
			<table>
				<tr style="height:30px">
					<td colspan="12" align="CENTER">
						<?php echo $this->formSubmit('csv','Export CSV',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('pdf','Export PDF',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('service','Add Service Charge Template',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('community','Add Community Charge Template',array('class'=>'inputbtn')); ?>
					</td>
				</tr>
			</table>
	<?php
		//}
	?>
</form>