<b>
	    <ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Predefined Beneficiary');?></a></li>
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Local Remittance Account');?></a></li>
  <li><?php echo $this->language->_('Delete Local Remittance Account');?></li>
</ol>
</b>
<br />

<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>

<div class="portlet-body form">
					<form class="form-horizontal form-bordered form-row-stripped" name="addbeneficiary" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete'),null,true)?>">
					
					<div class="portlet-body form">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong><?php echo $this->language->_('Delete Beneficiary'); ?></strong></div>
                    	<div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                	<script>
								function replaceText() {
								    var x = document.getElementById("ACBENEF").value;
								    document.getElementById("ACBENEF1").value = x.slice(-4);
								}
							</script>
                                                    
					                                 <script>
                        								function replaceText() {
                        								    var x = document.getElementById("ACBENEF").value;
                        								    document.getElementById("ACBENEF1").value = x.slice(-4);
                        								}
                        							</script>
					                                  <div class="form-body">
                                                    
                                                        
					                                 
					                                 <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Account Name'); ?></label>
                                                            <div class="col-md-9">
                                                              <?php echo $this->formHidden('ACBENEF',$this->ACBENEF); ?>
                                                              <?php echo $this->formHidden('benef_id_text',$this->benef_id_text); ?>
                <?php echo $this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID); ?>
                                                            <?=$this->ACBENEF_NAME?><?php echo $this->formHidden('STATUS',$this->STATUS); ?>
                                                            </div>
                                                        </div>
					                                 <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary NRC'); ?></label>
                                                            <div class="col-md-9">
                                                            <?=$this->LLD_BENENUMBER?>
                                                            </div>
                                                        </div>
					                                 

					                                 <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Phone'); ?></label>
                                                            <div class="col-md-9">
                                                            <?=$this->ACBENEF_PHONE?>
                                                            </div>
                                                        </div>
					                                 
					                                 </div>
					                                 
					                                 
					</div>
				</div>	
					<br/>
					
				<br/>
					<div class="row">
  <div class="col-sm-8">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" style="
	    color: #fff;
    height: 33px;
    line-height: 14px;
    font-size: 14px;
    background-color: #337ab7;
    border-color: #337ab7;
	    
	"><?php echo $this->language->_('Notes');?></div>
	<div class="panel-body">
			<div class="form-group">
					<?php echo $this->language->_('If Account is not approved, then it will be deleted rightaway');?>.<br />
										<?php echo $this->language->_('If Account approved, then it will need approval to be deleted');?>. 
			</div>
	</div>
</div>
<div class="col-sm-6">&nbsp;</div>
  </div>
  <br/>
							<div class="row">
                      <div class="col-sm-8">
                      <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      <input class = "btn btn-warning" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'localremittanceacct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
                    										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btn btn-warning"/>
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                      </div>
                    </div>
					</form>
					</div>

					
</div>

	
