<?php $aliasname = $this->language->_('Alias Name'); ?>
  <?php $beneficiaryaccount = $this->language->_('Destination Name'); ?>
  <?php $beneficiaryaccountname = $this->language->_('NRC'); ?>
  <?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
  <?php $setfilter = $this->language->_('Set Filter'); ?>
  <?php $clearfilter = $this->language->_('Clear Filter'); ?>
  <?php $nodata = $this->language->_('No Data'); ?>
  <?php $delete_lg = $this->language->_('View'); ?>


<script type="text/javascript">
$(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) { 
          $("#logo-title").hide(); 
          $("#logo-titles").hide(); 
        } else if ( $("#logo-title").is(":hidden") ) { 
          $("#logo-title").show(); 
          $("#logo-titles").show(); 
        }
      })

    $('#fixTable').fixTableHeader();
  
  $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
});
</script>


<script type="text/javascript">
function modal(elem){
    $("#myModal").modal();
}

function modalclose(elem){

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({"position":"unset" });
}

function checkAll()
{
    
    $(".checkAll").prop("checked", true);
    $(".list").prop("checked", true);
}

function uncheckAll()
{
  
    $(".checkAll").prop("checked", false);
    $(".list").prop("checked", false);
}



$(document).ready(function(){

//   $(function() {
//     $("#myModal").modal();
// });
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("file format .csv");
  }
  else {
    $(".file-upload").addClass('active');
    // $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    var strname = filename.replace("C:\\fakepath\\", "")
    var nameLength = strname.length;
    if(nameLength < 50){
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }else{
      $("#noFile").text((filename.replace("C:\\fakepath\\", "")).substring(0,40) + '.....');
    }
  }
});


   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })

    $(".checkAll").on("click",function(){
            if ($(this).is(":checked")) {
                checkAll();
                $(".delete_button").prop("disabled", false);
            }else{
                uncheckAll();
                $(".delete_button").prop("disabled",true);
            }
        });
        
        var checkboxes = $(".list"),
            submitButt = $(".delete_button");

        checkboxes.change(function() {
            
            var isOneChecked = false;

            checkboxes.each(function() {
                if ($(this).is(':checked')) {
                    isOneChecked = true;
                }
            });
            
            if (isOneChecked) {
                submitButt.prop("disabled",false);
            } else {
                submitButt.prop("disabled",true);
                $(".checkAll").prop("checked", false);
            }

        });


});
</script>

<script type="text/javascript" charset="utf-8">

function show1(){
  document.getElementById('div1').style.display ='none';
}
function show2(){
  document.getElementById('div1').style.display = 'block';
}



function checkSwift(){
//  alert($('#SWIFT_CODE').val());
//  $('#CITY_CODE').val("");
  swiftcode = $('#SWIFT_CODE').val();
  $('#CITY_CODE > *').hide();
  idclassShow = '#CITY_CODE > option.' + swiftcode;
  $(idclassShow).show();
}
function resetCity(){
  $('#CITY_CODE').val("");
}



</script>

<style>


.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

.switch {
  margin: 4rem auto;
}
/* main styles */
.switch {
  width: 24rem;
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #aaaaaa;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.22rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
}
.switch--horizontal {
  width: 18rem;
  /*height: 3rem;*/
  margin: 0 auto;
  font-size: 0;
  margin-left: 0px;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  /*height: 3rem;*/
  width: 6rem;
  left: 6rem;
  margin: 0;
  margin-left: 38px;
}
.switch--horizontal label {
  font-size: 11px;
  /*line-height: 3rem;*/
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
  margin-left: 1px;
}
.switch--horizontal .toggle-outside {
  background: #fff;
  left: 80px;
  position: absolute;
  width: 33px;
  height: 21px;
  border: 1px solid #9c9e98;
}
.switch--horizontal .toggle-inside {
  height: 15px;
  width: 15px;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 15px;
}
.switch--vertical {
  width: 12rem;
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: #fff;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #2ecc71;
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}

.hide {
  display: none;
}
/* mixin */

    </style>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                <li>
                   <span><?php echo $this->language->_('Customer Management'); ?></span>
                   <i class="fa fa-angle-right pl-1 pr-1"></i>
               </li>
                  <li>
                      <span ><?=$this->language->_('Auto Debit')?></span>
                  </li>
              </ul>
          </div>
        </div>
    </div>





<div class="row content-box">
<div class="col-md-12">
 <div class="portlet-body form">

   <h5><?=$this->language->_('Auto Debit Account List')?></h5>
    <!-- <h6 class="greyFont"><?=$this->language->_('Manage direct debit list')?></h6> -->

<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
 
<?php 
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show(); 
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array("COMP_ID");
                        $selectlist = array("COMP_NAME","DEBIT_BANK","DEBIT_ACCT");
                        $index = 0;
            


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                                          var ncolselect = "#colselect-s<?=$key?>";

                                          if(colomnname == 'COMP_ID'){
                                              // alert(<?=$this->whereval[$key]?>);
                                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                                  var id = $("#tablename").find(":selected").val();
                                                  $.ajax({
                                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
                                                  type: 'GET',
                                                  dataType: "html",
                                                  data: {
                                                      id: '<?=$this->whereval[$key]?>'
                                                  },
                                                  success: function(data) {
                                                      $(ncolselect).html(data);
                                                  },
                                                  error: function(xhr, ajaxOptions, thrownError)
                                                  {
                                                      alert("Failed to get where column list, please try again");
                                                  }
                                              });

                                                  $(colselect).val('<?=$this->whereval[$index]?>');

                                          }
                                           });

                                        </script>
                                      <?php
                                          if(in_array($value, $selectlist)){
                                          ?>
                                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>' style="width:100%"/>
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                      <div class="portlet-body form" style="display: none">
                                             
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                      <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                    </select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>               
       </a>
   </div>
</form>
</div>
</div>
</div>




<style type="text/css">
  .results tr[visible='false'],
    .no-result{
      display:none;
    }

    .results tr[visible='true']{
      display:table-row;
    }

</style>
<script type="text/javascript">
    $(document).ready(function(){
/*
        $(document).ready(function() {
  $(".search").keyup(function () {
    var searchTerm = $(".search").val();
    var listItem = $('.results tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });

  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','false');
  });

  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
  });

  var jobCount = $('.results tbody tr[visible="true"]').length;
    $('.counter').text(jobCount + ' item');

  if(jobCount == '0') {$('.no-result').show();}
    else {$('.no-result').hide();}
      });
});
*/
  });
</script>


<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->error)?></div><br />
<?php } ?>
<div class="portlet-body flip-scroll">
  <!-- <form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true).$this->qstring?>" method="post"> -->
  <form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table align="left">
  <tr>
      <td>
          <button  type="button" id="mymodal" onclick="modal();" class="btn-sm btngrad hov" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i><?php echo $this->language->_('Add'); ?>
          </button>
      </td>
      <td align="center">
            <!-- <button class="btn-sm btngrad hov delete_button" type="button" disabled onclick="location.href='/directdebit/delete'"><i class="fa fa-trash-alt"></i>&nbsp;Delete</button> -->
            <!-- <?php echo '<button type="submit" name="delete" id="delete" value="Delete" class="btngrad hov delete_button" disabled><i class="fa fa-trash"></i>&nbsp;Delete</button>'; ?> -->
      </td>
  </tr>
</table>



<table align="right">
  <tr>
    <td>

        <?php
              //jika jumlah paging lbh besar dari max page di setting, maka tombol pdf disable
              if(count($this->paginator) > $this->applicationSetting['max_page_download_pdf'])
              {
                // echo '<button class="btngrad disabled" onclick="" type="button" onclick="location.href="domesticbank/new""><i class="fa fa-file-csv"></i>&nbsp;Export Files</button>';
                        // echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')) . '&nbsp';
                      }
              // else echo '<button class="btngrad hov" onclick="" type="button" onclick="location.href="domesticbank/new""><i class="fa fa-file-csv"></i>&nbsp;Export Files</button>';
         ?>


        <?php

        // echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov'));
       // echo '<button type="submit" name="csv" id="csv" class="btngrad hov" ><i class="fa fa-file-csv"></i>&nbsp;Export Files</button>';
       echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'
        ?>
      </td>
      <td>
<!--        <input class="inputbtn"  value="<?php echo $this->language->_('PRINT')?>" onclick="window.print();" type="button">-->
        <?php if(count($this->paginator)> 100) {
        // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
        }
        else{
        ?> 
          <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp; -->
        <?php
        }
        ?>
        </td>
        <td>
          <div class="input-group input-group-sm">
          <div class="input-group-prepend">
                <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
              </div>
          <input type="text" id="searchtable" class="search form-control" placeholder="Search?">
        </div>
        </td>
  </tr>
</table>
</form>
<br>

<span class="counter pull-right"></span>
<div> &nbsp;<br/></div>
<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table-sm table-striped" id="myTable" style="width:100%">
    <thead>
      <th width="3%" valign="top" class="tablehead">
          <!-- <?php echo $this->formCheckbox('checkAll', '',array('class'=>'checkAll'));?> -->
          No
        </th>

      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
      )?>               

    <!-- <tr class="warning no-result">
      <td colspan="8"><i class="fa fa-warning"></i> No result</td>
    </tr> -->
    </thead>
    <tbody>
    <?php
  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
  {
          $i=0;
      //Zend_Debug::dump($this->paginator);die;
    foreach($this->paginator as $row) {

    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

    $button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete','benef_id'=>$row['BENEFICIARY_ID']),null,true);
    $button =  '<input class = "btngreen hov" type="button" onclick="javascript:confirmation(\''.$this->language->_('Are you sure want to delete this beneficiary account').'?\',\''.$button.'\');" value = '.$delete_lg.'>';

    
    

    $checkBox ="<input name='req_id[]' type='checkbox' class='list' value='".$row['DIRECT_ID']."'>";

    //1 approved
    //2 rejected

    // if ($row['DIR_STATUS']==1) {
    //   $DIR_STATUS = "Approved";
    // }elseif( $row['DIR_STATUS']==2){
    //   $DIR_STATUS = "Rejected";
    // }elseif( $row['DIR_STATUS']==0){
    //   $DIR_STATUS = "Waiting Approval";
    // }

    if($row['DIR_STATUS'] == 0){
      $DIR_STATUS = '<td style="text-align: center;" title="Waiting for Approval" ><img src="/images/icon/sandglass.png"  width="18px"></td>';
    }else if($row['DIR_STATUS'] == 1){
        $DIR_STATUS = '<td style="text-align: center;color:green;font-size:18px" title="Approved" ><i  class="far fa-check-circle"></i></td>';
    }else{
        $DIR_STATUS = '<td style="text-align: center;color:red;font-size:18px" title="Deleted" ><i  class="fas fa-trash"></i></i></td>';
    }

    $approval = "-";
    if ($row['DIR_APPROVEDBY'] != null && $row['DIR_APPROVED'] != null){
      $approval = $row['DIR_APPROVEDBY'].' ('.$row['DIR_APPROVED'].')';
    }

    require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;
    $encrypted_pwd = $AESMYSQL->encrypt($row['DIRECT_ID'], $rand);
    // $dt["payReff"] = urlencode($encrypted_pwd);
    $encreff = urlencode($encrypted_pwd);

    $buttonSetting = $this->url(array('module'=>$this->modulename, 'controller' => 'listdetail', 'action' => 'index', 'numid' => $encreff), null, true);
    echo '<tr>
        <td class="<?= $tdcss ?>">'.$counter.'</td>
        <td class="'.$td_css.'">'.$row['company'].'</td>
        <td class="'.$td_css.'"><a href="'.$buttonSetting.'">'.$row['CLIENT_REFF'].'</a></td>
        <td class="'.$td_css.'">'.$row['CLIENT_NAME'].'</td>';
        //<td class="'.$td_css.'">'.$row['DOCUMENT_REFF'].'</td>'
        //<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
        //<td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
    echo  '       
        <td class="'.$td_css.'">'.$row['DEBIT_ACCT'].' ('.$row['DIR_CCY'].')</td>
        <td class="'.$td_css.'">'.$row['DIR_SUGESTEDBY'].' ('.$row['DIR_SUGESTED'].')</td>
        <td class="'.$td_css.'">'.$approval.'</td>
        '.$DIR_STATUS.'
      </tr>';

        $i++;
                $counter++;
      }
  }
  else {
    echo '<tr><td colspan=11 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
  }
    ?>
      <!-- <td class="'.$td_css.'">'.$clearingcode.'</td> -->
  </tbody>
</table>
</div>
<div align="right">
    <?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>
</div>
<br />


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document" style="max-width: 650px">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Auto Debit Account - Bulk Upload </h4>
      </div>
      <div class="modal-body">
    <form name="Form" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'add'),null,true)?>" enctype="multipart/form-data">


    <div class="row" style="display:none">

      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <!-- <table align="center">
          <tr>
            <td><p>Add by file (import .csv)</p></td>
            <td>
              <div class="switcher">
                <input type="radio" onclick="change(this)" name="import" value="1" id="yesCross" class="switcher__input switcher__input--yin" <?php if($this->import=='1'){echo('checked');}?> >
              <label for="yesCross" class="switcher__label"><?php echo $this->language->_('Yes');?></label>

              <input onclick="change(this)" type="radio" name="import" value="2" id="notCross" class="switcher__input switcher__input--yang" <?php if($this->import=='2'){echo('checked');}?> >
              <label for="notCross"  class="switcher__label"><?php echo $this->language->_('No');?></label>

              <span class="switcher__toggle"></span>
              </div>

            </td>
          </tr>
        </table> -->
              <br/>

<div id="div1" style="display:none" >


              <div class="form-group row">
                <b>
                  <label class="col-sm-12 col-form-label" style="font-weight:bold"><?php echo $this->language->_('Credited To'); ?></label>
                  </b>
              </div>
              <style>
              .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
              .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
              .autocomplete-selected { background: blue; color: white; }
              .autocomplete-suggestions strong { font-weight: bold; color: orange; }
              .autocomplete-group { padding: 2px 5px; }
              .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
              </style>




              <div class="form-group row">
                  <label class="col-sm-4 col-form-label" ><?php echo $this->language->_('Company ID'); ?></label>
                  <div class="col-sm-8 pt-2">

                      <?php
              if ($this->confirmPage != 1){
                ?>
                <div class="input-group input-group-sm">

                  <input type="text" name="COMPANY_ID" class="form-control" value="<?php echo $this->COMPANY_ID; ?>" id="autocomplete">
                  <span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>
              </div>

              <?php
                // echo $this->formText('COMPANY_ID',$this->COMPANY_ID,array('class'=>'form-control','maxlength'=>'128','id'=>'autocomplete'));
              }else
                echo $this->COMPANY_ID.$this->formHidden('COMPANY_ID',$this->COMPANY_ID);
            ?>
                  </div>
              </div>

               <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Name'); ?></label>
                  <div class="col-sm-8 pt-2">
                      <?php
              if ($this->confirmPage != 1)
                echo $this->formText('COMPANY_NAME',$this->COMPANY_NAME,array('class'=>'form-control','maxlength'=>'128', 'disabled'=>'disabled'));
              else
                echo $this->COMPANY_NAME.$this->formHidden('COMPANY_NAME',$this->COMPANY_NAME);
            ?>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Type'); ?></label>
                  <div class="col-sm-8 pt-2">
                      <?php
              if ($this->confirmPage != 1)
                echo $this->formText('COMPANY_TYPE',$this->COMPANY_TYPE,array('class'=>'form-control','maxlength'=>'128','disabled'=>'disabled'));
              else
                echo $this->COMPANY_TYPE.$this->formHidden('COMPANY_TYPE',$this->COMPANY_TYPE);
            ?>
                  </div>
              </div>
              <br/>
              <br/>
              <div class="form-group row">
                  <label class="col-sm-12 col-form-label" style="font-weight:bold"><?php echo $this->language->_('Debited From'); ?></label>

              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Debited Bank'); ?></label>
                  <div class="col-sm-8 pt-2">
                      <?php
              if ($this->confirmPage != 1)
                // echo $this->formText('DEBIT_BANK',$this->DEBIT_BANK,array('class'=>'form-control','maxlength'=>'128'));
               echo $this->formSelect('DEBIT_BANK',$this->DEBIT_BANK,array('id'=>'DEBIT_BANK','class'=>'form-control'), $this->DEBIT_BANKarr);
              else
                echo $this->DEBIT_BANK.$this->formHidden('DEBIT_BANK',$this->DEBIT_BANK);
            ?>
                  </div>
              </div>

               <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Debited Account'); ?></label>
                  <div class="col-sm-8 pt-2">
                      <?php
              if ($this->confirmPage != 1)
                echo $this->formText('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT,array('class'=>'form-control','maxlength'=>'128'));
              else
                echo $this->DEBIT_ACCOUNT.$this->formHidden('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT);
            ?>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Account Name'); ?></label>
                  <div class="col-sm-8 pt-2">
                      <?php
                        if ($this->confirmPage != 1){
                          ?>
                          <div class="input-group input-group-sm">

                            <input type="text" name="ACCT_NAME" class="form-control" value="<?php echo $this->ACCT_NAME; ?>" >
                            <span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>
                        </div>

                        <?php
                          // echo $this->formText('COMPANY_ID',$this->COMPANY_ID,array('class'=>'form-control','maxlength'=>'128','id'=>'autocomplete'));
                        }else
                          echo $this->ACCT_NAME.$this->formHidden('ACCT_NAME',$this->ACCT_NAME);
                      ?>

                      
                  </div>
              </div>
      </div>

      </div>

      <div class="col-md-2">
      </div>


  </div>
  <div style="display:block" class="" id="div2">
    <!-- <form class="" action="index.html" method="post"> -->

      <?php
            $ns = new Zend_Session_Namespace('language');
            $sessionLanguage = $ns->langCode;
            $file = '/template/Direct_Debit.csv';
          ?>
         <br>
          <div class="form-group row">
            <div class="col-md-3">
              <label class="textGray"><?php echo $this->language->_('Bank Name'); ?></label>
            </div>
            <div class="col-md-9">
              <label for=""><?= $this->DEBIT_BANK ?></label>
              <input type="hidden" name="debitbank" value="<?= $this->DEBIT_BANK ?>">
            </div>
          </div>
          <div class="form-group row pt-2">
            <div class="col-md-3">
              <!-- <img src="/images/img_excel.gif" height="50"> -->
              <label class="textGray"><?php echo $this->language->_('Upload Documents'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
            </div>
            <div class="col-md-9" align="left">
                <!-- <label><b>Load Data from CSV Text File</b></label> <br> -->
                
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">file format .csv</div>
                    <input type="file" name="chooseFile" id="chooseFile">
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align:right">
              <a href="<?php echo $file?>">Download Template</a>
            </div>
          </div>
          <br>
          <br>
           <!-- <div class="col-md-12" align="left">
             <b>Format : <a href="<?php echo $file?>">Download Template  </a></b><br>
             COMPANY ID,DEBITED ACCOUNT,CLIENT REFF,CLIENT NAME,DOCUMENT REFF<br>
             FIF00A1,1111111,9089900,Aldy,0001
          </div> -->
    <!-- </form> -->
  </div>
  <br><br>
  <script type="text/javascript">
  function change(radio) {
     if (radio.checked && radio.id === "yesCross") {
        var d1 = document.getElementById("div1");
        var d2 = document.getElementById("div2");
        if (d2.style.display === "none") {
           d2.style.display = "block";
           d1.style.display = "none"

        }
        else {

        }
     } else {
       var  d1 = document.getElementById("div1");
       var  d2 = document.getElementById("div2");
       if (d1.style.display === "none") {
          d1.style.display = "block"
          d2.style.display = "none";
       }
       else {

       }
     }
  }
  </script>
    <div class="row">
      <div class="col-md-2">
      </div>
       <div class="col-md-8 panel panel-default" align="center" style="border:0px">
                      <!-- Default panel contents -->
                      <button type="button" class="btnwhite hov" onclick="modalclose();" data-dismiss="modal">Close</button>
                      <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
              </div>
                    <div class="col-md-2">
      </div>
    </div>



  </form>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">

  var currencies = <?php echo $this->custarr; ?>;

  $('#autocomplete').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
      // var content = '<strong>화폐명:</strong> ' + suggestion.value + ' <br> <strong>기호:</strong> ' + suggestion.data;

      // $('#outputcontent').html(content);
      // document.getElementById('COMPANY_NAME').value
      $('#COMPANY_NAME').val(suggestion.CUST_NAME);
      $('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
    }
  });
</script>

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'COMP_ID'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
