<style>
.newhead{
    color: gray;
    font-style: italic;
    font-weight: 500;
}
.plrow{
    padding-left: .8rem!important;
}
.errcode{
    color: red;
    border-radius: 8px;
    border: 2px solid red;
    padding-left: 3px;
    padding-right: 3px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Auto Debit'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?php echo $this->language->_('Add Account'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?php echo $this->language->_('Confirm'); ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portlet-body form">
	<form name="bulkForm" id="bulkForm" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'newconfirm'), null, true) ?>" method="post">
                      
        <div class="row">
            <!-- Credit Card Detail -->
            <div class="col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-12">

                        <!-- Section Header -->
                        <div class="pt-3 row no-gutters">
                            <div class="col-sm-12 col-md-10">
                            <h5><?php echo $this->language->_('Add Auto Debit Account'); ?></h5>
                            </div>

                            <div class="col-sm-12 col-md-2" align="right">
                            <!-- <a href="#" class="detail-ellipsis"><i class="fa fa-ellipsis-h"></i></a> -->
                            </div>
                        </div>
                        <!-- Section Header Ends -->

                        <!-- Section Content -->
                        <div class="row no-gutters mt-3">
                            <div class="col-sm-6 col-md-6 pl-2 table-responsive">
                            <table class="table table-borderless">
                                <tr>
                                <td class="sub-text"><?php echo $this->language->_('Bank Name'); ?></td>
                                    <td colspan="2"><?=$this->DEBIT_BANK?></td>
                                </tr>
                                <tr>
                                    <td class="sub-text" style="vertical-align: middle;"><?php echo $this->language->_('Number Of Record'); ?></td>
                                    <td width="5%" style="vertical-align: middle;">
                                            <?=number_format(count($this->content))?>
                                    </td>
                                    
                                    <td>
                                        <button type="button" onclick="location.href='/directdebit/index/newconfirm/csv/1'" name="btn_download" id="btn_download" class="btnwhite hov">Download</button>
                                    </td>
                                   
                                </tr>
                                
                                    </table>
                            </div>
                        </div>   
                        <?php if(empty($this->maxRows)){ ?>
                        <div class="form-group row plrow">
                            <div class="col-sm-12">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit2">

                                    <tr class="tdform-sub pl-2"> 
                                        <th class="newhead">Company Code</th>
                                        <th class="newhead">Client Reff</th>
                                        <th class="newhead">Client Name</th>
                                        <th class="newhead">Debited Account</th>
                                        <th class="newhead">Document Reff</th>
                                        <th class="newhead">Error Code</th>
                                    </tr>
                                    <?php if(!empty($this->content)){
                                        foreach($this->content as $key => $val){
                                            
                                    ?>
                                        <tr class="plrow"> 
                                        <td><?php echo $val['COMP_ID']; ?></td>
                                        <td><?php echo $val['CLIENT_REFF']; ?></td>
                                        <td><?php echo $val['CLIENT_NAME']; ?></td>
                                        <td><?php echo $val['DEBIT_ACCT']; ?></td>
                                        <td><?php echo $val['DOCUMENT_REFF']; ?></td>
                                        <td style="vertical-align: middle;">
                                            <?php 
                                                //echo $val['ERROR_CODE'];
                                                foreach($val['ERROR_CODE'] as $er => $list){ 
                                            ?>
                                            <span class="errcode" data-toggle="tooltip" data-placement="top" title="<?= $list ?>"><?= $er ?></span>&nbsp;
                                            <?php } ?>
                                        </td>
                                        </tr>
                                    <?php
                                        }
                                            
                                    } ?>
                                                
                                </table>
                            </div>
                        </div>
                        <?php } ?>

                    </div>
                </div>
            </div>
		</div>
		<br>
		<br>      
        <div class="row justify-content-center">       
            <button type="button" name="submit_cancel" class="btnwhite hov" onclick="location.href='/directdebit/index'" ><?php echo $this->language->_('Cancel')?></button>&nbsp;&nbsp;
            <?php foreach($this->content as $k => $v){
                if($v['ERROR_CODE'] == ''){
                    continue;
                }else{
                    $error = 1;
                    break;
                }
            }
            
            if(empty($error)){
            ?>
            <button type="submit" name="submit" class="btngreen hov" ><?php echo $this->language->_('Submit')?></button>
            <?php } ?>   
        </div>
      
	</form>
</div>
<!-- end -->



