<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('User Management'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Detail'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style type="text/css">
  .pill{
    border-radius: 16px;
    background-color: grey;
    color: white;
    font-size: 15px;
    min-width: 10%;
    max-width: 30%;
    height: 30px;
    text-align: center;
    margin-top: 8px;
  }
</style>

<?php

require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;

$encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
$encuserid = urlencode($encrypted_userid);

if($this->cust_id && $this->user_id)
{
  $temp_status = array(1 => $this->status_type['desc']['approved'],
   2 => $this->status_type['desc']['suspended'],
   3 => $this->status_type['desc']['delete']
 );

  if(isset($temp_status[$this->user_status]))  $status = $temp_status[$this->user_status];
  else $status = ' N/A ';

  $yesNo = array('1'=>$this->language->_('Yes'),'0'=>$this->language->_('No'),'' => $this->language->_('No'));

  if(!is_null($this->user_is_webservices) || $this->user_is_webservices != '')  $user_is_webservices = $yesNo[$this->user_is_webservices];
  else  $user_is_webservices = ' N/A ';

  /*if(!is_null($this->user_failed_attempt) || $this->user_failed_attempt != '')  $user_failed_attempt = $yesNo[$this->user_failed_attempt];
  else  $user_failed_attempt = ' N/A ';*/

  if(empty($this->user_failed_attempt))  $user_failed_attempt = 0;
  else  $user_failed_attempt = $this->user_failed_attempt;

  if(!is_null($this->user_is_locked) || $this->user_is_locked != '')
  {
    $user_is_locked = $yesNo[$this->user_is_locked];
    if($this->user_is_locked) $user_is_locked .= '<br />'.$this->lock_reason;
  }
  else
  {
    $user_is_locked = ' No ';
  }

  if(!is_null($this->user_is_login) ||  $this->user_is_login != '')    $user_is_login = $yesNo[$this->user_is_login];
  else   $user_is_login= ' No ';

  ?>

  <h5><?=$this->language->_('User Detail')?></h5>
  <div class="row">
    <div class= "portlet-body form col-md-8">
      <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="600px">

        <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Profile'); ?></strong></th></tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('companycode',$this->language->_('Company Code')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('companycode',$this->cust_id); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('company',$this->language->_('Company Name')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('company',$this->cust_name); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User ID')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('user_id',$this->user_id); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->language->_('User Name')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->user_name); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('status','Status'); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_($status)); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('role','Privilege Role Name'); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('role',$this->language->_($this->user_role)); ?></td>
        </tr>


        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email','Email'); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->user_email); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->language->_('Phone Number')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->user_phone); ?></td>
        </tr>

        <!-- <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext',$this->language->_('Extension')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext',$this->user_ext); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_debit',$this->language->_('User Debit Card Number')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_debit',$this->debitarr); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('token_id','Token ID'); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('token_id',$this->token_id); ?></td>
        </tr> -->

      <!--   <tr>
          <td class="tbl-evencontent"><?php //echo $this->formLabel('user_is_webservices','Webservice User'); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php //echo $this->formLabel('user_is_webservices',$user_is_webservices); ?></td>
      </tr> -->

        <!-- <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('User is Email')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->userIsEmail); ?></td>
      </tr> -->

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_failed_attempt',$this->language->_('Failed login attempt(s)')); ?></td>
        <td class="tbl-evencontent"><label>:</label></td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_failed_attempt',$user_failed_attempt); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_is_locked',$this->language->_('User is Locked')); ?></td>
        <td class="tbl-evencontent"><label>:</label></td>
        <td class="tbl-evencontent">
         <?php echo $user_is_locked; ?>
       </td>
     </tr>

     <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_islogin',$this->language->_('User is Logged in')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_islogin',$user_is_login); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Last Login')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',Application_Helper_General::convertDate($this->user_lastlogin,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
    </tr>



    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Created Date')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',Application_Helper_General::convertDate($this->user_created,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Created By')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->user_createdby); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Last Suggestion')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',Application_Helper_General::convertDate($this->user_suggested,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Last Suggester')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->user_suggestedby); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Last Approval')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',Application_Helper_General::convertDate($this->user_updated,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Last Approver')); ?></td>
      <td class="tbl-evencontent"><label>:</label></td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->user_updatedby); ?></td>
    </tr>
  </table>
</div>
</div>

<!-- ----------------------------------------------------------privilege------------------------------------------------------- -->

<div class="pill"><h5><b><?php echo $this->user_role; ?></b></h5></div>

<div class="col-md-12 p-0" id="divPrivilege">
    <!-- <table cellpadding="3" cellspacing="0" border="0" class="tableform">
          <tr>
            <td class="tbl-evencontent" colspan="3"> -->
              <table cellpadding="3" width="100%" cellspacing="0" border="0" class="tableform">
                <?php 
                $count = count($this->fprivilege);
                foreach($this->fprivilege as $module_id => $row)
                { 
                  echo '<tr style="display: none; border-bottom: 1px solid; border-color: rgba(0,0,0,.5);"><td colspan="4" style="padding-top: 1.5em;"><b>'.$this->language->_($this->getModuleDescArr[$module_id]).'</b></td></tr>';

                  $n = 0;
                  foreach($row as $privi)
                  { 

                   if($n%4 == 0)
                   { 
                    if($n!=0) echo "</tr>";

                    echo "<tr style='display: none;'> <td id='". $privi['FPRIVI_ID'] ."' style='display: none;'>" . $this->language->_($privi['FPRIVI_DESC']) . "</td>";
                  }
                  else
                  {
                    echo "<td id='". $privi['FPRIVI_ID'] ."' style='display: none;'>" . $this->language->_($privi['FPRIVI_DESC']) . "</td>";
                  }

                  $n++;
                }

                        // echo '<tr><td><br/></td></tr>';
              } 
              ?>
            </table>
              <!-- </td>
            </tr>
          </table> -->
        </div>
        <!-- ----------------------------------------------------------end privilege------------------------------------------------------- -->


        <br>
        <br>

        <div class="row ">
          <div class="col-md-12">
            <div>
              <?php
        //$backButton =  $this->url(array('module'=>'user','controller'=>'custlist','action'=>'index','cust_id'=>$this->cust_id),null,true);
              echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'btnwhite hov'));

       //if($this->hasPrivilege('cust_user_inp'))
       //{
              echo '&nbsp;&nbsp;';

              if($this->user_status != 3)
              {
                if($this->user_temp){

        // if($this->user_islogin == 1 && $this->current_login_user_id != $this->user_id)
        // {

                  if($this->statusreset && $this->current_login_user_id != $this->user_id)
                  {

                    if($this->user_status == 2){
                      echo'<input type="button" value="'.$this->language->_('Unlock/Reset Password').'"  class="btngreen hov disabled" disabled="">';
                    }else{
                     if($this->hasPrivilege('UVEP') )
                     {
              // $btn_pass = $this->url(array('module'=>'user','controller' => 'Unlockandreset','action'=>'index','user_id'=>$encuserid),null,true);
              // echo $this->formButton('resetpass',$this->language->_('Unlock/Reset Password'),array('onclick'=>'location.href=\''.$btn_pass.'\'','class'=>'btngreen hov'));
                      echo '<button name="resetpass" type="button" onclick="modalresetpwd();" class="btngreen hov">Unlock/Reset Password</button>';
                    }else{
                      echo'<input type="button" value="'.$this->language->_('Unlock/Reset Password').'"  class="btngreen hov">';
                    }
                  }
                }
        // }

                echo '&nbsp;&nbsp;';

        // if($this->user_islogin == 1)
        // {

        // }else{

        //   if($this->user_status == 1)
        //   {
        //     if($this->hasPrivilege('CSUS'))
        //     {
        //          $btn_suspend = $this->url(array('module'=>'user','controller' => 'deactivate','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$encuserid),null,true);
        //          //echo $this->formButton('deactivate','Suspend',array('onclick'=>'confirmation(\'Are you sure want to deactivate this User?\',\''.$btn_suspend.'\')','class'=>'btnwhite disabled'));
        //          echo $this->formButton('deactivate',$this->language->_('Suspend'),array('onclick'=>'location.href=\''.$btn_suspend.'\'','class'=>'btnred hov'));
        //     }
        //     // else{
        //     //    echo'<input type="button" value=""'.$this->language->_('Suspend').'" disabled class="btnwhite disabled">';
        //     // }
        //   }
        //   else if($this->user_status == 2)
        //   {
        //     if($this->hasPrivilege('CSUS'))
        //     {
        //        $btn_unsuspend = $this->url(array('module'=>'user','controller' => 'activate','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$encuserid),null,true);
        //        //echo $this->formButton('activate','Unsuspend',array('onclick'=>'confirmation(\'Are you sure want to activate this User?\',\''.$btn_unsuspend.'\')','class'=>'btnwhite disabled'));
        //         echo $this->formButton('activate',$this->language->_('Unsuspend'),array('onclick'=>'location.href=\''.$btn_unsuspend.'\'','class'=>'btngreen hov'));
        //     }
        //     // else{
        //     //   echo'<input type="button" value=""'.$this->language->_('Unsuspend').'" disabled class="btnwhite disabled">';
        //     // }
        //   }

        //   echo '&nbsp;&nbsp;';

        //   if($this->hasPrivilege('UPUS'))
        //   {
        //       $btn_delete = $this->url(array('module'=>'user','controller' => 'delete','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$encuserid),null,true);
        //       echo $this->formButton('delete',$this->language->_('Delete'),array('onclick'=>'confirmation(\''.$this->language->_('Delete this record?').'\',\''.$btn_delete.'\')','class'=>'btnred hov'));
        //   }
        //   else{
        //      echo'<input type="button" value=""'.$this->language->_('Delete').'" disabled class="btnred disabled">';
        //   }
        //   echo '&nbsp;&nbsp;';
        //   if($this->hasPrivilege('UPUS'))
        //   {
        //       $btn_edit = $this->url(array('module'=>'user','controller' => 'edit','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$encuserid),null,true);
        //       echo $this->formButton('edit',$this->language->_('Edit'),array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'btngreen hov'));
        //   }
        //   else{
        //       echo'<input type="button" value="'.$this->language->_('Edit').'" disabled class="btnwhite disabled">';
        //   }

        // }

              }
              else
              {
                echo $this->language->_('No changes allowed for this record while awaiting approval for previous change.');
              }

        // echo '&nbsp;&nbsp;';

              if($this->user_islogin == 1 && $this->current_login_user_id != $this->user_id)
              {
                if($this->hasPrivilege('UFLG'))
                {
                 $btn_forceLog = $this->url(array('module'=>'user','controller' => 'Forcelogout','action'=>'index','user_id'=>$encuserid),null,true);
                 echo $this->formButton('force_logout',$this->language->_('Force Logout'),array('onclick'=>'confirmation(\'Are you sure want to force logout this User?\',\''.$btn_forceLog.'\')','class'=>'btnred hov'));
               }
               else{
                 echo'<input type="button" value="'.$this->language->_('Force Logout').'" disabled class="btnred disabled">';
               }
             }

             echo '&nbsp;&nbsp;';
             echo '<br /><br />';
       // if($this->statusreset || $this->user_is_locked == 1)
             if($this->statusreset && $this->current_login_user_id != $this->user_id)
             {
         // if($this->hasPrivilege('UPUS') )
         // {
         //    // $btn_pass = $this->url(array('module'=>'user','controller' => 'Unlockandreset','action'=>'index','user_id'=>$encuserid),null,true);
         //    // echo $this->formButton('resetpass',$this->language->_('Unlock/Reset Password'),array('onclick'=>'location.href=\''.$btn_pass.'\'','class'=>'btngreen hov'));
         //    echo '<button name="resetpass" type="button" onclick="modalresetpwd();" class="btnwhite hov">Unlock/Reset Password</button>';
         // }
         // else{
         //    echo'<input type="button" value="'.$this->language->_('Unlock/Reset Password').'" disabled class="btnwhite disabled">';
         // }
             }
             else if(!$this->statusreset && $this->current_login_user_id != $this->user_id)
             {
              echo '<i>'; echo $this->language->_('Can not request unlock/Reset Password. (Currently waiting previous request approval)'); echo '</i>';
            }
          }

        ?></div>
      <?php }else{ ?>
       <div id="content">- no data -</div>
     <?php } ?>
     <br>
   </div>
 </div>

 <div class="modal fade" id="myModalreset" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <p id="headerpassword" class="textBlack">
            <?php echo $this->language->_('Unlock and Reset User Password') ?>
          </p>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p class="textBlack"><?= 'Change Password for ' . $this->user_name . ' (' . $this->user_id . '). Email will be sent to ' . $this->user_email;?></p>
        <p class="textBlack">Do you want to continue?</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btnwhite hov" style="background-color: #ffffff !important; color: #000000 !important; " data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
        <?php
        $btn_pass = $this->url(array('module'=>'user','controller' => 'Unlockandreset','action'=>'index','user_id'=>$encuserid),null,true);
        echo $this->formButton('resetpass',$this->language->_('Submit'),array('onclick'=>'location.href=\''.$btn_pass.'\'','class'=>'btngreen hov'));
        ?>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    //checked priv
    <?php 
    foreach($this->priviview as $privi){
      if($privi != 'UAUR' && $privi != 'UURP'){
        ?>
        $('#<?php echo $privi; ?>').show();
        $('#<?php echo $privi; ?>').parent().show();
        $('#<?php echo $privi; ?>').parent().prev().show();
        <?php
      } 
    }
    ?>

  });
  function modalresetpwd() {
    $("#myModalreset").modal();
  }

</script>