<script>
	$( document ).ready(function(){
	<?php
		if(!empty($this->providerData['CHARGES']))
		{
			foreach($this->providerData['CHARGES'] as $ccy=>$charges)
			{
				echo "showHide('".$ccy."',".$charges['CHARGES_TO_ID'].");";
			}
		}
		else
			echo "showHide('IDR',1);";
	?>
	});
	function showHide(ccy,charges_to)
	{
		if( charges_to==1) // payer
		{
			$("#payer"+ccy).show();
			$("#biller"+ccy).hide();
		}
		else if( charges_to==2) // biller
		{
			$("#payer"+ccy).hide();
			$("#biller"+ccy).show();
		}
	}
</script>
<b><?php echo $this->language->_('Charges');?>  &gt; <?php echo $this->language->_('Setup E-Commerce Charges');?> &gt; <?php echo $this->language->_('Edit');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Setup Provider Charges Detail');?></div>
<?php
	$option = array('maxlength'=>20,
			  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
			  'onblur'=>'NumFrmtUS(this.value,this.id)',
			  'onkeypress'=>'return forceCurrency(event)');
?>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">

<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			<?php echo $this->language->_('E-Commerce Detail');?>
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; <?php echo $this->language->_('E-Commerce Code');?></td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_CODE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('E-Commerce Name');?></td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_NAME'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('E-Commerce Status');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['PROVIDER_STATUS']);?></td>
	</tr>
	<tr style="display:none">
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Catagories');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['SERVICE_TYPE']).' ( '.$this->language->_($this->providerData['PROVIDER_TYPE']).' ) ';?></td>
	</tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="40%">
	<tr>
		<th width="30px">No</th>
		<th><?php echo $this->language->_('Charge Currency');?></th>
		<th><?php echo $this->language->_('Charge Amount');?></th>
<!--		<th><?php echo $this->language->_('Charge To');?></th>-->
<!--		<th width="200px"><?php echo $this->language->_('Charge Account');?></th>-->
	</tr>
	<?PHP 
		if(!empty($this->providerData['CHARGES']))
		{
			$row = 0;
			foreach($this->providerData['CHARGES'] as $ccy=>$charges)
			{
				$row++;
				$css = ($row%2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
	?>
	<tr>
		<td class="<?=$css?>"><?=$row?></td>
		<td class="<?=$css?>"><?=$charges['CHARGES_CCY'].$this->formHidden('charges_ccy['.$ccy.']',$ccy)?></td>
		<td class="<?=$css?>" align="left"><?=$this->formText('charges_amt['.$ccy.']',Application_Helper_General::displayMoney($charges['CHARGES_AMT']),$option) ?></td>
		<!-- <td class="<?=$css?>">
			<select name="charges_to[<?=$ccy?>]" id="charges_to" onchange="showHide('<?=$ccy?>',this.value)">
				<option value="1" <?=($charges['CHARGES_TO_ID']==1) ? 'selected' : ''?>>Payer</option>
				<option value="2" <?=($charges['CHARGES_TO_ID']==2) ? 'selected' : ''?>>Biller</option>
			</select></td>
		<td class="<?=$css?>" align="center">
			<div id="payer<?=$ccy?>">
				-
			</div>
			<div id="biller<?=$ccy?>">
				<select name="biller_acct[<?=$ccy?>]">
					<?php foreach($this->billerAcctList as $acct){?>
					<option value="<?=$acct?>" <?=($acct==$charges['CHARGES_ACCT']) ? 'selected' : ''?>><?=$acct?></option><?php }?>
				</select>
			</div>
		</td>
		 -->
	</tr>
		<?PHP
			}
		}
		else
		{
	?>
	<tr>
		<td class="tbl-oddcontent">1</td>
		<td class="tbl-oddcontent">IDR<?=$this->formHidden('charges_ccy[IDR]','IDR')?></td>
		<td class="tbl-oddcontent" align="left"><?=$this->formText('charges_amt[IDR]',null,$option) ?></td>
		<!-- <td class="tbl-oddcontent">
			<select name="charges_to[IDR]" id="charges_to" onchange="showHide('IDR',this.value)">
				<option value="1" selected="" >Payer</option>
				<option value="2"><?php echo $this->language->_('Biller');?></option>
			</select></td>
		<td class="tbl-oddcontent" align="center">
			<div id="payerIDR">
				-
			</div>
			<div id="billerIDR">
				<select name="biller_acct[IDR]">
					<?php foreach($this->billerAcctList as $acct){?>
					<option value="<?=$acct?>" <?=($acct==$charges['CHARGES_ACCT']) ? 'selected' : ''?>><?=$acct?></option><?php }?>
				</select>
			</div>
		</td>
		 -->
	</tr>
	<?PHP } ?>
</table>
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->backURL?>'" class="inputbtn" value="<?php echo $this->language->_('Back');?>">
&nbsp;
<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
	<?php }?> 

</td></tr>
</table>
</form>