<style type="text/css">
    .accordionDiv{
        background-color: #e0dede;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }

    .content-box{
      margin-bottom: 0;
    }

    .gj-icon.clock:before {
    content: "\e905";
    background: white;
    padding: 2.5px 8px 2.5px 8px;
    border: 1px solid #ced4da;
    border-radius: 10%;
    font-size: 20px;
}
</style>

<script type="text/javascript">

  $(document).ready(function() {
    $('#fixTable').fixTableHeader();
    $('#historyBtnShow').hide();

    $('.time').timepicker({
        timeFormat: 'HH:mm:ss',
         showMeridian: false,
         showInputs: false
    });
    $('.time').timepicker().on('show.timepicker', function(e) {
    $('.meridian-column').remove();
        $('tr').eq(1).children().eq(4).remove();
        $('tr:last >td:last').remove();
        $('.l').html($('.bootstrap-timepicker-widget').html());
    });

    $('#exp_date').datepicker({
          format: 'yyyy-mm-dd',
          uiLibrary: 'bootstrap4'
    });


    $('#overwriteModal').on('show.bs.modal', function(e) {

        var cust_bin = '<?php echo $this->data['CUST_BIN'] ?>';
        var va_number = '<?php echo $this->data['VANUMBER'] ?>';
        var va_id = '<?php echo $this->data['VA_ID'] ?>';
        var type = '<?php echo $this->type ?>';

        var data = 'cust_bin='+cust_bin+'&va_number='+va_number+'&va_id='+va_id+'&type='+type;

        $.ajax({
            type: "GET",
            data:data,
            url: "<?=$this->url(array('module'=>'virtualaccount','controller'=>'binecollectiondetail','action'=>'getvadata'),null,true)?>",
            success:  function(data){
                
              var result = JSON.parse(data);

              $('#message').val(result.MESSAGE);

              var exp_date = result.EXP_DATE;
              var exp_date_split = exp_date.split(' ');

              exp_date = exp_date_split[0]; 
              var exp_time = exp_date_split[1]; 
              
              var resultAmount = result.INVOICE_AMOUNT;
              var amount = Math.floor(resultAmount * 100) / 100;
              $('#exp_date').val(exp_date);
              $('#exp_time').val(exp_time);
              $('#invoice_amount').val(formatNumber(amount));

            },
            error: function(data) {
              alert("Failed to inquiry data");
            }
        });
    });

  });

    function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }

    function historyShow() {
        $('#divHistory').show();
        $('#historyBtnHide').attr('Onclick', 'historyHide()');
        $('#historyBtnShow').hide();
        $('#historyBtnHide').show();

    }

    function historyHide() {
        $('#divHistory').hide();
        $('#historyBtnShow').attr('Onclick', 'historyShow()');
        $('#historyBtnHide').hide();
        $('#historyBtnShow').show();
    }

    function notifPage(msg){

        $('#notifPage').html(msg);
        $('#notifPage').fadeIn("slow");
        $('#notifPage').delay('1500').fadeOut();

        $('#overwriteModal').modal('hide');

        setTimeout(function(){
          window.location.reload();
        },1700); 
    }

    function notifModal(status, msg){

        if (status == 'error') {
            status = 'danger';
        }

        $('#overwriteNotif').removeClass();
        $('#overwriteNotif').addClass('alert alert-'+status);
        $('#overwriteNotif').html(msg);
        $('#overwriteNotif').fadeIn("slow");
    }

    function submitOverwrite(){
        var cust_bin = '<?php echo $this->data['CUST_BIN'] ?>';
        var va_number = '<?php echo $this->data['VANUMBER'] ?>';
        var va_id = '<?php echo $this->data['VA_ID'] ?>';
        var type = '<?php echo $this->type ?>';

        var message = $('#message').val();
        var exp_date = $('#exp_date').val();
        var exp_time = $('#exp_time').val();
        var invoice_amount = $('#invoice_amount').val();

        if (exp_date == '') {
            alert('Please fill the Expired Date');
        }
        else if (exp_time == '') {
            alert('Please fill the Expired Time');
        }
        else if (invoice_amount == '') {
            alert('Please fill the Invoice Amount');
        }
        else{
            var data = 'cust_bin='+cust_bin+'&va_number='+va_number+'&va_id='+va_id+'&type='+type+'&message='+message+'&exp_date='+exp_date+'&exp_time='+exp_time+'&invoice_amount='+invoice_amount;
            $.ajax({
                type: "GET",
                data:data,
                url: "<?=$this->url(array('module'=>'virtualaccount','controller'=>'binecollectiondetail','action'=>'overwrite'),null,true)?>",

                beforeSend: function() {
                        $('#btnSubmitOverwrite').prop('disabled', true);
                        $('#btnSubmitOverwrite').removeClass();
                        $('#btnSubmitOverwrite').addClass('btngreen disabled');
                   },
                success:  function(data){

                  if (data.trim() == 'success') {

                    notifPage('Overwrite Success');
                  }
                },
                error: function(data) {
                  notifModal('error', 'Connection Timeout');
                },
                complete: function() {
                   $('#btnSubmitOverwrite').prop('disabled', false);
                   $('#btnSubmitOverwrite').removeClass();
                   $('#btnSubmitOverwrite').addClass('btngreen hov');
                },
            });
        }
    }

    function updateStatusShow(){
      $('#statusDiv').hide();
      $('#updateStatusDiv').show();
    }

    function updateStatusHide(){
      $('#statusDiv').show();
      $('#updateStatusDiv').hide();
    }

    function submitUpdate(){
        var cust_bin = '<?php echo $this->data['CUST_BIN'] ?>';
        var va_number = '<?php echo $this->data['VANUMBER'] ?>';
        var va_id = '<?php echo $this->data['VA_ID'] ?>';
        var invoice_amount = '<?php echo $this->data['INVOICE_AMOUNT'] ?>';
        var type = '<?php echo $this->type ?>';

        var status = $('#selectStatus').val();
        var remarks = $('#remarks').val();

        if (status == 2) {
          var msg = 'You are about to settled this VA ID. All bill will be considered paid. Are you sure to proceed?';
        }
        else{
          var msg = 'You are about to cancel this VA ID. All bill amount will be set to 0. Are you sure to proceed?';
        }

        if(confirm(msg)){
          var data = 'cust_bin='+cust_bin+'&va_number='+va_number+'&va_id='+va_id+'&type='+type+'&remarks='+remarks+'&status='+status+'&invoice_amount='+invoice_amount;
          $.ajax({
              type: "GET",
              data:data,
              url: "<?=$this->url(array('module'=>'virtualaccount','controller'=>'binecollectiondetail','action'=>'update'),null,true)?>",

              beforeSend: function() {
                  $('#submitUpdate').prop('disabled', true);
              },
              success:  function(data){

                console.log(data);

                if (data.trim() == 'success') {

                  notifPage('Update Success');
                }
              },
              error: function(data) {
                notifModal('error', 'Connection Timeout');
              },
              complete: function() {
                $('#submitUpdate').prop('disabled', false);
              },
          });
        }
    }
</script>

<div class="alert alert-success col-md-12" style="text-align: center; position: absolute; top: 50px; z-index: 1000; display: none;" id="notifPage"></div>

<div class="col-sm-12 row">
  <div class="col-sm-8">
    <div class="pl-2">
      <h5><b><?php echo $this->language->_('VA ID Detail') ?></b></h5>

      <table width="100%">
        <tr>
          <td class="text-black-50" width="41%"><?php echo $this->language->_('VA Number') ?></td>
          <td><?php echo $this->type == 'static' ? $this->data['VA_NUMBER'] : $this->data['VANUMBER']; ?></td>
        </tr>
        <tr>
          <td class="text-black-50"><?php echo $this->language->_('VA Name') ?></td>
          <td><?php echo $this->data['VA_NAME']; ?></td>
        </tr>
      </table>
    </div>

    <br>
    
    <div>
      <div class="content-box">
        <table width="100%">
          <?php if ($this->type == 'static') { ?>
            <tr>
              <td class="text-black-50" width="42%"><?php echo $this->language->_('VA ID') ?></td>
              <td><?php echo $this->data['VA_ID']; ?></td>
            </tr>
          <?php } ?>
          <tr>
            <td class="text-black-50" width="42%"><?php echo $this->language->_('Message') ?></td>
            <td id="messageTd"><?php echo $this->data['MESSAGE']; ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Effective Date') ?></td>
            <td id="efDateTd"><?php echo Application_Helper_General::convertDate($this->data['EF_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Expired Date') ?></td>
            <td id="expDateTd"><?php echo Application_Helper_General::convertDate($this->data['EXP_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?></td>
          </tr>
          <tr>
            <td class="text-black-50 pt-2"><?php echo $this->language->_('Bill Amount') ?></td>
            <td id="invoiceAmountTd" class="pt-2"><?php echo $this->data['CCY'].' '.Application_Helper_General::displayMoneyplain($this->data['INVOICE_AMOUNT']); ?></td>
          </tr>
          <tr>
            <td class="text-black-50 pt-2"><?php echo $this->language->_('Paid Amount') ?></td>
            <td class="pt-2"><?php echo $this->data['CCY'].' '.Application_Helper_General::displayMoneyplain($this->data['SETTLED_AMOUNT']); ?></td>
          </tr>
        </table>
      </div>
      <?php if ($this->data['DOC_STATUS'] == 'In Billing' || $this->data['DOC_STATUS'] == 'Pending Future Date') { ?>
        <span class="text-primary" data-toggle="modal" id="overwrite" data-target="#overwriteModal" style="float: right; cursor: pointer;"><u><?php echo $this->language->_('Overwrite') ?></u></span>
      <?php } ?>
    </div>

    <br>
    <br>
  
    <div id="statusDiv">
      <div class="content-box">
        <table width="100%">
          <tr>
            <td class="text-black-50" width="42%"><?php echo $this->language->_('Doc Status') ?></td>
            <td id="docStatusTd"><?php echo $this->data['DOC_STATUS']; ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Remarks') ?></td>
            <td><?php echo $this->data['REMARKS'] == '' ? '-' : $this->data['REMARKS']; ?></td>
          </tr>
        </table>
      </div>
      <?php if ($this->data['DOC_STATUS'] != 'Cancelled' && $this->data['DOC_STATUS'] != 'Settled') { ?>
        <span class="text-primary" style="float: right; cursor: pointer;" onclick="updateStatusShow()"><u><?php echo $this->language->_('Update') ?></u></span>
      <?php } ?>
    </div>

    <div id="updateStatusDiv" style="display: none;">
      <div class="content-box">
        <table width="100%">
          <tr>
            <td class="text-black-50" width="42%"><?php echo $this->language->_('Doc Status') ?></td>
            <td id="docStatusTd"><?php echo $this->data['DOC_STATUS']; ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Update to') ?></td>
            <td>
              <select name="selectStatus" class="form-control" id="selectStatus">
                  <?php
                    $cancelled = ''; 
                    if ($this->data['DOC_STATUS'] == 'Unsettled') { 
                      $cancelled = 'disabled';    
                    } 
                  ?>
                  <option value="2"><?php echo $this->language->_('Settled') ?></option>
                  <option value="4" <?php echo $cancelled; ?>><?php echo $this->language->_('Cancelled') ?></option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Remarks') ?></td>
            <td>
              <?php
                  echo $this->formTextarea('remarks', $this->remarks, array('class' => 'form-control', 'cols' => '30', 'rows' => '4',
                    'onKeypress' => 'return isSpclChar(event)'));
              ?>
            </td>
          </tr>
        </table>
      </div>
      <span class="text-primary" style="float: right; cursor: pointer;" onclick="submitUpdate()" id="submitUpdate"><u><?php echo $this->language->_('Submit') ?></u></span>
      <span class="text-primary" style="float: right; cursor: pointer; margin-right: 10px;" onclick="updateStatusHide()"><u><?php echo $this->language->_('Back') ?></u></span>
    </div>

  </div>

  <div class="col-sm-4" style="padding-top: 100px;" align="right">
      <?php 
        $textColor = '';
        $amount = 0;
        $amountStyle = '';
        if ($this->data['DOC_STATUS'] == 'Unsettled') {
          $textColor = 'errormsg';
          $amount =  Application_Helper_General::displayMoneyplain($this->data['UNSETTLED_AMOUNT']);
        }
        else if ($this->data['DOC_STATUS'] == 'Settled') {
          $amount =  Application_Helper_General::displayMoneyplain($this->data['SETTLED_AMOUNT']);
        }
        else if ($this->data['DOC_STATUS'] == 'In Billing') {
          $amount =  Application_Helper_General::displayMoneyplain($this->data['IN_BILLING']);
        }
        else  if ($this->data['DOC_STATUS'] == 'Pending Future Date') {
          $amount = $this->data['INVOICE_AMOUNT'];
        }
        else if($this->data['DOC_STATUS'] == 'Cancelled'){
          $amountStyle = 'style="display: none;"';
        }
      ?>
      <h5><b><?php echo $this->data['DOC_STATUS']; ?></b></h5>
      <h6 <?=$amountStyle?>><b><?php echo $this->data['CCY'].' '.$amount; ?></b></h6>
  </div>
</div>

<!-- ----------------------------------------------------------overwrite modal------------------------------------------------------- -->
<div class="modal fade" id="overwriteModal" tabindex="-1" role="dialog" aria-labelledby="overwriteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-sm-12" align="center">
          <h6 class="modal-title" id="overwriteLabel"><?php echo $this->language->_('Overwrite');?></h6>
        </div>
      </div>
      <div class="modal-body">
        <div style="height: 50px;">
            <div class="alert alert-success" id="overwriteNotif" style="display: none;"></div> 
        </div>
        <div class="content-box">
          <table width="100%">
            <tbody>
                <?php if ($this->type == 'static') { ?>
                  <tr>
                    <td class="text-black-50"><?php echo $this->language->_('VA ID') ?></td>
                    <td><?php echo $this->data['VA_ID']; ?></td>
                  </tr>
                <?php } else { ?>
                  <tr>
                    <td class="text-black-50"><?php echo $this->language->_('VA Number') ?></td>
                    <td><?php echo $this->data['VANUMBER']; ?></td>
                  </tr>
                <?php } ?>
                <tr>
                    <td class="text-black-50 pt-2 pb-2"><?php echo $this->language->_('Message');?></td>
                    <td class="pt-2 pb-2">
                        <?php
                            echo $this->formTextarea('message', $this->message, array('class' => 'form-control', "style"=>"font-size:0.8125rem", 'cols' => '30', 'rows' => '4',
                              'onKeypress' => 'return isSpclChar(event)'));
                        ?>
                    </td>
                </tr>
                <tr>
                    <td class="text-black-50"><?php echo $this->language->_('Effective Date');?></td>
                    <td><?php echo $this->language->_('Immediate'); ?></td>
                </tr>
                <tr>
                    <td class="text-black-50 pt-4"><?php echo $this->language->_('Expired Date');?></td>
                    <td class="pt-4">
                       <input type="text" id="exp_date" style="font-size:0.8125rem" name='exp_date' value="<?php echo $this->exp_date; ?>" data-date-format='yyyy-mm-dd' autocomplete='off' readonly>
                    </td>
                </tr>
                 <tr>
                    <td class="text-black-50 pt-4"><?php echo $this->language->_('Expired Time');?></td>
                    <td class="pt-4">
                       <input id="exp_time" style="font-size:0.8125rem; color: #73797f;" type="text" name="exp_time" value="<?php echo $this->exp_time; ?>" class="form-control input-small time pl-3" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="text-black-50 pt-4"><?php echo $this->language->_('Bill Amount');?></td>
                    <td class="pt-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                            <strong>
                              <span class="inhouse" id="currinhouse">IDR</span>
                            </strong>
                          </div>
                        </div>
                        <?php
                        echo $this->formText("invoice_amount", $this->invoice_amount, array('id' => "invoice_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: right;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"));
                        ?>
                      </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <br>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btnwhite hov" data-dismiss="modal">Cancel</button>
        <button type="button" class="btngreen hov" id="btnSubmitOverwrite" onclick="submitOverwrite()">Submit</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="col-md-12 p-0 accordionDiv">
    <table width="100%" border='0'>
      <tr>
        <td align="left">
            <h6 class="pt-2 pl-2"><b><?php echo $this->language->_('History Detail');?></b></h6>
        </td>
        <td align="right">
          <i class="iconCircle fas fa-chevron-down pt-2 mr-2 mt-1" onclick="historyShow()" id="historyBtnShow"></i>
          <i class="iconCircle fas fa-chevron-up pt-2 mr-2 mt-1" onclick="historyHide()" id="historyBtnHide"></i>
        </td>
      </tr>
    </table>
</div>

<div class="col-md-12 content-box" id="divHistory" style="width: 100%;">
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="tablehead"><?php echo $this->language->_('User') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Action') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Date Time') ?></th>
                </tr>
            </thead>
            <tbody id="historyTableBody">
                <?php if (!empty($this->historyData)) { ?>
                    <?php foreach ($this->historyData as $key => $value) { ?>
                        <tr>
                            <td><?php echo $value['USER_FULLNAME']; ?></td>
                            <td><?php echo Application_Helper_General::convertDate($value['DATE_TIME'], $this->displayDateTimeFormat, $this->defaultDateFormat) ?></td>
                            <td><?php echo $value['HISTORYSTATUS'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } else{ ?>
                        <tr><td colspan="3" align="center"><?php echo $this->language->_('---- No Data ----') ?></td></tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<br>
<br>

<div class="col-md-12" align="center">
    <button class="btnwhite hov" onclick="closeDetail()"><?php echo $this->language->_('Close'); ?></button>
</div>

<script type="text/javascript">
  function closeDetail(){
    window.close();
  }
  function numberWithCommas(x,id) {
	const formattermoney = new Intl.NumberFormat('ID', {
		minimumFractionDigits: 0
	});
	var tag = '#'+id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
	var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		$(tag).val(x);
//return 
}
</script>