<link href="/../assets/themes/assets/newlayout/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
<style>
    button:disabled {
        cursor: not-allowed;
    }

    .btngreen:disabled {
        background-color: #7ebeff;
    }

    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
        background: #eee;
    }

    .headercolor {
        color: #fff;
        background-color: #0b549f !important;
    }
</style>

<div class="row mb-3">
    <div class="col-md-12" style="padding-top: 10px">
        <h5 style="font-size: 20px"><?= strtoupper($this->language->_('Preliminary Document Preparation For Slik OJK')); ?></h5>
        <p><b><?= $this->language->_('This initial documents is used for reporting purpose to OJK'); ?>.</b></p>
    </div>
</div>

<table width="100%" cellpadding="5" class="mb-4">
    <tr>
        <td><?= $this->language->_('Customer relationship with Bank BTN'); ?></td>
        <td>:</td>
        <td><?= $this->relationshipArr[$this->dataPreliminary['RELATIONSHIP']] ?: $this->language->_('Not Related'); ?></td>
    </tr>
    <tr class="headercolor">
        <td colspan="3"><b><?= $this->language->_('Business Entity'); ?></b></td>
    </tr>
    <tr>
        <td width="270"><?= $this->language->_('Company'); ?></td>
        <td width="10">:</td>
        <td><?= $this->data['CUST_NAME'] ?: '-'; ?></td>
    </tr>
    <tr>
        <td><?= $this->language->_('NPWP'); ?></td>
        <td>:</td>
        <td>
            <?= $this->dataPreliminary['NPWP'] ?: '-'; ?>
            <!-- <a href="/preliminary/index/index/download/file/id/1" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a> -->
            <a href="<?= $this->url(["premdownload" => "1"]); ?>" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
        </td>
    </tr>
    <tr>
        <td><?= $this->language->_('Akta Pendirian'); ?></td>
        <td>:</td>
        <td>
            <?= $this->dataPreliminary['PENDIRIAN_NUMBER'] ?: '-'; ?>
            <!-- <a href="/preliminary/index/index/download/file/id/2" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a> -->
            <a href="<?= $this->url(["premdownload" => "2"]); ?>" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
        </td>
    </tr>
    <tr>
        <td><?= $this->language->_('Akta Pendirian Date'); ?></td>
        <td>:</td>
        <td><?= ($this->dataPreliminary['PENDIRIAN_DATE'] != '0000-00-00' && $this->dataPreliminary['PENDIRIAN_DATE'] != '') ? date('d M Y', strtotime($this->dataPreliminary['PENDIRIAN_DATE'])) : '-'; ?></td>
    </tr>
    <tr>
        <td><?= $this->language->_('Akta Pendirian Place'); ?></td>
        <td>:</td>
        <td><?= $this->dataPreliminary['PENDIRIAN_PLACE'] ?: '-'; ?></td>
    </tr>
    <tr>
        <td><?= $this->language->_('Akta Perubahan Terakhir'); ?></td>
        <td>:</td>
        <td>
            <?= $this->dataPreliminary['PERUBAHAN_NUMBER'] ?: '-'; ?>
            <!-- <a href="/preliminary/index/index/download/file/id/3" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a> -->
            <a href="<?= $this->url(["premdownload" => "3"]); ?>" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
        </td>
    </tr>
    <tr>
        <td><?= $this->language->_('Akta Perubahan Date'); ?></td>
        <td>:</td>
        <td><?= ($this->dataPreliminary['PERUBAHAN_DATE'] != '0000-00-00' && $this->dataPreliminary['PERUBAHAN_DATE'] != '') ? date('d M Y', strtotime($this->dataPreliminary['PERUBAHAN_DATE'])) : '-'; ?></td>
    </tr>
    <tr>
        <td><?= $this->language->_('SK Pengesahan'); ?></td>
        <td>:</td>
        <td>
            <?= $this->dataPreliminary['SK_PERUBAHAN_NUMBER'] ?: '-'; ?>
            <!-- <a href="/preliminary/index/index/download/file/id/4" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a> -->
            <a href="<?= $this->url(["premdownload" => "4"]); ?>" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
        </td>
    </tr>
    <tr>
        <td><?= $this->language->_('SK Pengesahan Date'); ?></td>
        <td>:</td>
        <td><?= ($this->dataPreliminary['SK_PERUBAHAN_DATE'] != '0000-00-00' && $this->dataPreliminary['SK_PERUBAHAN_DATE'] != '') ? date('d M Y', strtotime($this->dataPreliminary['SK_PERUBAHAN_DATE'])) : '-'; ?></td>
    </tr>
</table>

<p><b><?= $this->language->_('Susunan Pengurus dan Pemegang Saham'); ?></b></p>
<table width="100%" cellpadding="5" class="table-striped mb-4">
    <tr class="headercolor" style="border:1px solid #0b549f">
        <td><?= $this->language->_('Name'); ?></td>
        <td><?= $this->language->_('Type'); ?></td>
        <td><?= $this->language->_('ID Type'); ?></td>
        <!-- <td><?= $this->language->_('Kewarga'); ?><br><?= $this->language->_('negaraan'); ?></td> -->
        <td><?= $this->language->_('ID Number'); ?></td>
        <td style="width: 20% !important;"><?= $this->language->_('Positions'); ?></td>
        <td><?= $this->language->_('Share'); ?> %</td>
        <td><?= $this->language->_('Status'); ?></td>
    </tr>
    <?php if ($this->dataMember) : ?>
        <?php
        foreach ($this->dataMember as $row) :
            require_once 'Crypt/AESMYSQL.php';
            $AESMYSQL = new Crypt_AESMYSQL();
            $rand = $this->token;
            // if ($row['ENTITY_ID'] == 'B') {
            //   $idType = 'NPWP';
            // } elseif ($row['ENTITY_ID'] == 'M') {
            //   $idType = '-';
            // } elseif ($row['CITIZENSHIP'] == 1) {
            //   $idType = 'KTP';
            // } elseif ($row['CITIZENSHIP'] == 2) {
            //   $idType = 'Paspor';
            // }
        ?>
            <tr>
                <td><?= strtoupper($row['NAME']); ?></td>
                <td><?= $this->entityArr[$row['ENTITY_ID']]; ?></td>
                <!-- <td><?= $idType; ?></td> -->
                <!-- <td><?= $row['ID_NUMBER']; ?></td> -->
                <!-- <td><?= ($row['CITIZENSHIP'] == 1) ? "WNI" : "WNA"; ?></td> -->
                <td><?= $row['ID_TYPE']; ?></td>
                <td><?= $row['ID_NUMBER']; ?></td>
                <td><?= $this->positionArr[$row['POSITION']]; ?></td>
                <td><?= $row['SHARE']; ?></td>
                <td><?= ucwords($this->statusArr[$row['STATUS']]); ?></td>
            </tr>
        <?php endforeach; ?>
    <?php else : ?>
        <tr style="border:1px solid #999">
            <td colspan="8" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
        </tr>
    <?php endif; ?>
</table>

<?php foreach ($this->dataMember as $key => $value) { ?>

    <table class="mb-4" style="padding-top: 20px;" width="100%">
        <tbody>
            <tr style="background-color: rgba(0,0,0,0.05);">
                <td colspan="2" style="padding-top: 10px; padding-bottom: 10px; padding-left: 5px">
                    <span class="mr-4"><?= ($key + 1) . "."; ?></span>
                    <span><?= $value["NAME"] . " (" . $this->positionArr[$value["POSITION"]] . ")"; ?></span>
                </td>
            </tr>
            <tr>
                <td width="200px" style="padding-top: 10px; padding-bottom: 10px; padding-left: 5px">
                    <div class="col-sm-2"><?= $value["ID_TYPE"]; ?></div>
                </td>
                <td>
                    <div class="col-sm-8"><?= $value["ID_NUMBER"]; ?></div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 5px">
                    <div class="col-sm-2">Address</div>
                </td>
                <td>
                    <div class="col-sm-8"><?= $value["ADDRESS"]; ?></div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 5px">
                    <div class="col-sm-2">Kelurahan</div>
                </td>
                <td>
                    <div class="col-sm-8"><?= $value["KELURAHAN"]; ?></div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 5px">
                    <div class="col-sm-2">Kecamatan</div>
                </td>
                <td>
                    <div class="col-sm-8"><?= $value["KECAMATAN"]; ?></div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 5px">
                    <div class="col-sm-2">Kabupaten/Kota</div>
                </td>
                <td>
                    <div class="col-sm-8"><?= $value["CITY_NAME"]; ?></div>
                </td>
            </tr>
        </tbody>
    </table>

<?php } ?>