<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	table {
		font-size: 14px !important;
	}

	.text-gray {
		color: gray !important;
	}

	.table-header {
		font-size: 16px !important;
		color: #fff !important;
		background-color: #0b549f !important;
	}

	#fa-angle-up:hover,
	#fa-angle-down:hover {
		color: #fff !important;
	}
</style>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->data['BG_REG_NUMBER'], $rand);
$encrypted_id = urlencode($encrypted);
$download = $this->language->_('Download');

$BG_REG_NUMBER = $this->data['BG_REG_NUMBER'];
// echo "<code>test = $test</code><BR>";

?>

<?php if ($this->errors || $this->fileErrors) : ?>
	<div class="alert alert-danger" role="alert">
		<ul class="mb-0">
			<?php foreach ($this->errors as $value) {
				foreach ($value as $error) { ?>
					<li><?= $error; ?></li>
			<?php }
			} ?>
			<?php foreach ($this->fileErrors as $error) { ?>
				<li><?= $error; ?></li>
			<?php } ?>
		</ul>
	</div>
<?php endif ?>
<div class="row justify-content-center mt-3">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Detail Bank Garansi Nasabah') ?></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Nomor Registrasi') ?> </label>
			</div>
			<div class="col-md-9">
				<label><strong><?= substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9)  ?> <?= $this->data['IS_AMANDEMENT'] ==  1 ? '(Amandemen dari BG no : <a href="#" onclick="amandementDetail();">' . substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9) . '</a> )' : '' ?></strong></label>
			</div>
		</div>
		<div class="row">
			<?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2'])) {
				require_once 'Crypt/AESMYSQL.php';

				$AESMYSQL = new Crypt_AESMYSQL();
				$encryptedBgNumber = $AESMYSQL->encrypt($this->bgRegNumberOld, uniqid());
				$encodeEncrypted = urlencode($encryptedBgNumber);

				$lblBgNumber = implode('-', [substr($this->data['BG_OLD'], 0, 3), substr($this->data['BG_OLD'], 3, 6), substr($this->data['BG_OLD'], 9, 5), substr($this->data['BG_OLD'], 14, 4)]);

			?>
				<div class="col-md-3">
					<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nomor Bank Garansi') ?></label>
				</div>
				<div class="col-md-9">
					<label><span class="text-danger"><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14) ?></span> (Amendemen dari BG No. <a href="javascript:void(0)" onclick="window.open('/bgreport/detail/index/bg/<?= $encodeEncrypted; ?>')"><?= $lblBgNumber; ?></a>)</label>
				</div>
			<?php } else { ?>
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Nomor Bank Garansi') ?></label>
				</div>
				<div class="col-md-9">
					<label class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></strong></label>
				</div>
			<?php }  ?>

		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Bentuk Penerbitan'); ?></label>
			</div>
			<div class="col-md-9">
				<?php
				// 1 = Sertifikat
				// 2 = Elektronik
				$format = $this->data['BG_FORMAT'];

				if ($format == '1') {
					$paperUsed = $this->paperUsed;
					$nomorKertasArray = (count($paperUsed) > 2) ? [$paperUsed[0], $paperUsed[count($paperUsed) - 1]] : $paperUsed;
					$labelBentukPenerbitan = implode(' - ', [$this->language->_('Sertifikat Bank Garansi'), $this->language->_('Nomor Ref Kertas')]) . ' : ' . implode(' - ', $nomorKertasArray) . ' (' . implode(' ', [count($paperUsed), $this->language->_('Lembar')]) . ')';
				} else {
					$labelBentukPenerbitan = $this->language->_('Sertifikat Bank Garansi');
				} ?>

				<label><?= $labelBentukPenerbitan; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Subjek') ?></label>
			</div>
			<div class="col-md-9">
				<label><strong><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></strong></label>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_("Bank Cabang Penerbit"); ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Status Bank Garansi') ?></label>
			</div>
			<div class="col-md-9">
				<?php if ($this->data['BG_STATUS'] == 15) : ?>
					<label><?= $this->language->_('Aktif') . " (" . $this->language->_('Tanggal Terbit') . " : " . date('d M Y', strtotime($this->data['BG_ISSUED'])) . ")" ?></label>
				<?php endif ?>
				<?php if ($this->data['BG_STATUS'] == 16) : ?>
					<label><?= $this->language->_('Berakhir') . " (" . $this->language->_('Tanggal Berakhir') . " : " . date('d M Y', strtotime($this->data['BG_OFFRISK_DATE'])) . ")" ?></label>
				<?php endif ?>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Suggestion Type') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->suggestion_type; ?></label>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Jenis Penutupan') ?></label>
			</div>
			<div class="col-md-9">
				<?php if ($this->data['BG_STATUS'] == 15) : ?>
					<label><?= "-"; ?></label>
				<?php endif ?>
				<?php if ($this->data['BG_STATUS'] == 16) : ?>
					<label><?= $this->arrStatusSettlement[$this->data['CLOSING_TYPE']]; ?>&nbsp;
						<?php
						if ($this->data['CLOSING_TYPE'] == '4') {
							require_once 'Crypt/AESMYSQL.php';

							$AESMYSQL = new Crypt_AESMYSQL();
							$encryptedBgNumber = $AESMYSQL->encrypt($this->bgRegNumberNew, uniqid());
							$encodeEncrypted = urlencode($encryptedBgNumber);
							$lblBgNumber = implode('-', [substr($this->data['BG_NUMBER_NEW'], 0, 3), substr($this->data['BG_NUMBER_NEW'], 3, 6), substr($this->data['BG_NUMBER_NEW'], 9, 5), substr($this->data['BG_NUMBER_NEW'], 14, 4)]);
						?>

							(BG No. <a href="javascript:void(0)" onclick="window.open('/bgreport/detail/index/bg/<?= $encodeEncrypted; ?>')"><?= $lblBgNumber; ?></a>)
						<?php }
						?>
						<?php if ($this->data['CLOSING_FILE']) : ?>
							<form action="" method="post" style="display: inline-block;">
								<button type="submit" name="jenis_jaminan" value="1" style="cursor: pointer; background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</button>
							</form>
						<?php endif ?>
					</label>
				<?php endif ?>
			</div>
		</div>
		<?php if (false) : ?>
			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;">Notes</label>
				</div>
				<div class="col-md-9">
					<label><?php echo $this->reason; ?></label>
				</div>
			</div>
		<?php endif ?>
		<!-- <div class="row">
			<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
				<button style="position: absolute; right: 8px; border-radius: 5px; padding-left: 20px; padding-right: 20px;" onclick="javascript:openwindow('/preliminary/index/index/view/1/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>',900,600);">Lihat Dokumen</button>
				<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
				<div class="row">
					<div class="col-sm-3">
						<label class="text-gray">Company</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
					</div>
				</div>
				<div class="row" style="text-align: right;margin-right: 0px;">
					<div class="col-md-12" style="height: auto; position: relative;">
						<a href="#" onclick="bankGuaranteeApplicant();"><i class="fas fa-ellipsis-h"></i></a>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex justify-content-between">
					<h5><?= $this->language->_('Principal Bank Garansi') ?></h5>
					<div class="pr-3">
						<button type="button" onclick="javascript:openwindow('/preliminary/index/index/view/1/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>', 900, 600)">Lihat Dokumen</button>
					</div>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label class="text-gray"><?= $this->language->_('Perusahaan') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Alamat') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Kota') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Nama Kontak') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Nomor Telepon Kontak') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Email Kontak') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
				</div>

				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Jenis Bank Garansi') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= ($this->data['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->data['USAGE_PURPOSE_DESC'])) : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?></h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">

					<div class="row pt-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Nominal Bank Garansi') ?></label>
						</div>
						<div class="col-sm-7">
							<div class="input-group" id="">
								<label class="text-danger"><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Berlaku Sejak') ?></label>
						</div>
						<div class="col-sm-9 form-inline" style="float:left">
							<label>
								<?php
								$date_start = strtotime($this->data['TIME_PERIOD_START']);
								$date_end = strtotime($this->data['TIME_PERIOD_END']);
								$diff = $date_end - $date_start;
								$day = ($diff / 60 / 60 / 24) + 1;
								if (empty($this->data['TIME_PERIOD_START'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_start);
								}
								echo ' <span class="mx-2">' . $this->language->_('hingga') . '</span> ';
								if (empty($this->data['TIME_PERIOD_END'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_end);
								}
								echo '<i class="ml-3 text-gray">(' . $day . ' ' . $this->language->_('hari') . ')</i>';
								?>
							</label>
						</div>
					</div>
					<div class="form-group row" style="">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Batas Tanggal Klaim') ?></label>
						</div>
						<?php

						?>
						<div class="col-sm-9">
							<!-- <label><?= date('d M Y', strtotime('+' . ($this->data['BG_CLAIM_PERIOD'] ?: '0') . ' days', strtotime($this->data['TIME_PERIOD_END']))) . PHP_EOL; ?></label> -->
							<label><?= date('d M Y', strtotime($this->data['BG_CLAIM_DATE'])); ?></label>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Obligee Bank Garansi') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Nama Obligee') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Alamat') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Kota') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Nama Kontak') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Nomor Telepon Kontak') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Email Kontak') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Kode Spesial Obligee') ?></label>
						</div>
						<div class="col-sm-9">
							<?php if ($this->data['SP_OBLIGEE_CODE']) { ?>
								<label><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></label>
							<?php } else { ?>
								<label>-</label>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Transaksi yang Dijaminkan') ?></h5>
				</div>
				<?= $this->action('index', 'guarantedtransaction', 'eformworkflow', array('bgregnumber' => $this->data['BG_REG_NUMBER'])); ?>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Kontra Garansi') ?></h5>
				</div>
				<div style="padding-left:2%;padding-right: 2%;">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
						</div>
						<div class="col-sm-9 <?= ($this->data["COUNTER_WARRANTY_TYPE"] == '3') ? 'd-flex justify-content-between' : ''; ?>">
							<label><?php echo $this->warranty_type_text_new; ?></label>
							<?php if (($this->data["COUNTER_WARRANTY_TYPE"] == '3')) : ?>
								<div class="pr-3">
									<button type="button" onclick="javascript:$('#modalPersetujuanAsuransi').modal('show')">Lihat Persetujuan</button>
								</div>
							<?php endif ?>
						</div>
					</div>

					<!-- type2 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '2') { ?>
						<div id="wrType2">
							<div id="listwr" style="width: 100%">
								<div id="wherelist-1">
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Plafond Owner</label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->data["CUST_NAME"] . " " . "(" . $this->data["CUST_ID"] . ")"; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Counter Nominal</label>
										</div>
										<div class="col-sm-9">
											<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
										</div>
									</div>

									<?php if (!empty($this->owner1)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 1</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner1; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Counter Nominal'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format(str_replace(",", "", $this->amountowner1), 2); ?></label>
											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner2)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 2</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner2; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>

											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner3)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 3</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner3; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>

											</div>
										</div>
									<?php } ?>


								</div>
							</div>

						</div>

					<?php } ?>
					<!-- type3 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
						<div id="wrType3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label"><?= $this->language->_('Nama Asuransi') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->data['INSURANCE_NAME']; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label"><?= $this->language->_('Asuransi Cabang') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->insuranceBranch; ?></label>
								</div>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<!-- type1 -->

		<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '1') { ?>
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
					</div>
					<div style="padding-left:2%;" class="d-flex justify-content-between align-items-center">
						<label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Eksisting'); ?> <span class="font-italic font-weight-normal">(Total :<span class="text-danger"><?= $this->currency; ?> <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
						<button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
					</div>
					<div style="padding-left:2%;" id="marginalDepositFC">
						<table id="marginalDepositFCTable" class="tableFile">
							<tbody>
								<tr>
									<td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		<?php } ?>

		<!-- Marginal Deposit Principal -->
		<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3' && !empty($this->bgdatamdsplit)) { ?>
			<div class="padding-header-cust mb-2">
				<h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
			</div>
			<div style="padding-left:2%; padding-right: 2%;">
				<div class="form-group row mb-2">
					<div class="col-sm-3">
						<label for="" class="text-gray col-form-label"><?= $this->language->_('Permintaan MD') ?> </label>
					</div>
					<div class="col-sm-9 d-flex align-items-center">
						<input type="text" class="form-control" disabled style="font-size: 1.2em;;" value="<?= number_format($this->marginalDepositPercentage, 2)  ?> % Dari Nominal BG (<?= 'IDR ' . number_format($this->mdtotal, 2) ?>)">
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Eksisting'); ?> <span class="font-italic font-weight-normal">(Total :<span class="text-danger"><?= $this->currency; ?> <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
					<button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
				</div>
				<div id="marginalDepositFC">
					<table id="marginalDepositFCTable" class="tableFile">
						<tbody>
							<tr>
								<td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		<?php } ?>
		<!-- Marginal Deposit Principal -->

		<div class="row mt-3">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<div class="row">
						<div class="col-md-6">
							<h5><?= $this->language->_('Biaya Provisi, Administrasi dan Lainnya') ?></h5>
						</div>
					</div>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2 pb-1">
						<div class="col-sm-3 pr-0">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Rekening Pembebanan Biaya') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->acct . '(IDR) / ' . $this->src_name; ?></label>
						</div>
					</div>

					<?php if ($this->warranty_type != 3) { ?>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Provisi Bank') ?></label>
							</div>
							<div class="col-sm-7">
								<!-- <label><?= number_format($this->cash_collateral["CHARGES_PCT"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?>)</label> -->
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->data["PROVISION_FEE"], 2); ?></label>

							</div>
						</div>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Administrasi Bank') ?></label>
							</div>
							<div class="col-sm-7">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->data["ADM_FEE"], 2); ?></label>

							</div>
						</div>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Meterai Bank') ?></label>
							</div>
							<div class="col-sm-7">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->data["STAMP_FEE"], 2); ?></label>

							</div>
						</div>
					<?php } else { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Provisi Bank') ?></label>
							</div>
							<div class="col-sm-9">
								<label>
									<!-- <?= number_format($this->provision_insurance["FEE_PROVISION"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?>) -->
									<?= $this->principleData["Currency"] . ' ' . number_format($this->data["PROVISION_FEE"], 2); ?>
								</label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Administrasi Bank') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->data["ADM_FEE"], 2); ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Meterai Bank') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->data["STAMP_FEE"], 2); ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Premi Asuransi') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Administrasi Asuransi') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Meterai Asuransi') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->principleData["Currency"] . ' ' . number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
							</div>
						</div>

						<!-- <div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">TOTAL</label>
							</div>
							<div class="col-sm-9">
								<label>
									IDR <?= number_format($this->data["PROVISION_FEE"] + $this->data["ADM_FEE"] + $this->data["STAMP_FEE"] + $this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"], 2); ?>
								</label>
							</div>
						</div> -->
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Format dan Bahasa') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Bentuk Penerbitan') ?></label>
						</div>
						<div class="col-sm-7">
							<label><?php echo $this->publishForm; ?></label>
						</div>
					</div>

					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Format Bank Garansi') ?></label>
						</div>
						<div class="col-sm-7">
							<label> <?= $this->bankFormat; ?> </label>
						</div>
					</div>
					<?php if ($this->bankFormatNumber == 2) { ?>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Contoh Format') ?></label>
							</div>
							<div class="col-sm-7">
								<label>
									<?php

									$special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
									$new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

									$new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
									echo $new_special_format;

									?>
									<a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</label>
							</div>
						</div>
					<?php } ?>

					<?php if ($this->bankFormatNumber == 1) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Bahasa') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->languagetext; ?></label>
							</div>
						</div>
					<?php } ?>
					<br>

				</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-12 mb-3" style="height: auto; position: relative;">
				<div class="padding-header-cust row">
					<div class="col">
						<h5><?= $this->language->_('Detail Dokumen ID TekenAja') ?></h5>
					</div>
				</div>
				<div style="padding-left:2%" class="mt-2">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="textGray col-form-label">Dokumen ID</label>
						</div>

						<div class="col-sm-7 d-flex align-items-center">
							<label class="m-0 col-form-label"><?php echo $this->data["DOCUMENT_ID"]; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<?php
		if (count($this->othersAttachment) > 0 || $this->data['AGREE_FORMAT'] || $this->data['MEMO_LEGAL'] || $this->slikOjkDocument || $this->data['KUASA_DIREKSI_FILE']) {
			$bgDecrypt = explode('/', $this->url())[5];
		?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Lampiran Dokumen') ?></h5>
					</div>
					<div style="padding-left:2%" class="mt-3">
						<table class="table table-sm table-striped" id="fulltable">
							<thead class="table-secondary">
								<tr>
									<th><?= $this->language->_('Nama Dokumen') ?></th>
									<th><?= $this->language->_('Nama File') ?></th>
									<th><?= $this->language->_('Tindakan') ?></th>
								</tr>
							</thead>

							<?php foreach ($this->othersAttachment as $file) {

								//trim file name 
								$x = 1;
								$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
								$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
								$fileName = substr($file["BG_FILE"], $getLength);

								// end trim file name
							?>
								<tr>
									<td><?= $fileName ?> </td>
									<td><?= $file["FILE_NOTE"]; ?></td>
									<td><button type="button" onclick="location.href = '/eformworkflow/downloadfile/index/bgnumb/<?= $this->BG_REG_NUMBER ?>/download/<?= $file['INDEX'] ?>/onrisk/1';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button></td>

								</tr>
							<?php
								$x++;
							} ?>

							<?php if ($this->data['AGREE_FORMAT'] && false) :
								$filename = str_replace(explode("_", $this->data['AGREE_FORMAT'])[0] . "_" . explode("_", $this->data['AGREE_FORMAT'])[1] . "_" . explode("_", $this->data['AGREE_FORMAT'])[2] . "_" . explode("_", $this->data['AGREE_FORMAT'])[3] . "_", "", $this->data['AGREE_FORMAT']);
							?>
								<tr>
									<td><?= $filename ?> </td>
									<td>Format Disetujui</td>
									<td><button type="button" onclick="location.href = '/bgreport/detail/downloadfile/bgnumb/<?= $bgDecrypt ?>/file/1';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button></td>

								</tr>
							<?php endif ?>

							<?php if ($this->data['MEMO_LEGAL'] && false) :
								$filename = str_replace(explode("_", $this->data['MEMO_LEGAL'])[0] . "_" . explode("_", $this->data['MEMO_LEGAL'])[1] . "_" . explode("_", $this->data['MEMO_LEGAL'])[2] . "_" . explode("_", $this->data['MEMO_LEGAL'])[3] . "_", "", $this->data['MEMO_LEGAL']);
							?>
								<tr>
									<td><?= $filename ?> </td>
									<td>Memo Legal</td>
									<td><button type="button" onclick="location.href = '/bgreport/detail/downloadfile/bgnumb/<?= $bgDecrypt ?>/file/2';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button></td>

								</tr>
							<?php endif ?>

							<?php if ($this->slikOjkDocument && false) :
								$filename = str_replace(explode("_", $this->slikOjkDocument)[0] . "_" . explode("_", $this->slikOjkDocument)[1] . "_" . explode("_", $this->slikOjkDocument)[2] . "_" . explode("_", $this->slikOjkDocument)[3] . "_", "", $this->slikOjkDocument);
							?>
								<tr>
									<td><label for="" class="text-gray col-form-label" style="font-size: 1.1em"><?= $filename ?></label> </td>
									<td><label for="" class="text-gray col-form-label" style="font-size: 1.1em">Informasi Slik OJK</label></td>
									<td><button type="button" onclick="location.href = '/bgreport/detail/downloadfile/bgnumb/<?= $bgDecrypt ?>/file/3';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button></td>

								</tr>
							<?php endif ?>

							<?php if ($this->data['KUASA_DIREKSI_FILE']) :
								$filename = str_replace(explode("_", $this->data['KUASA_DIREKSI_FILE'])[0] . "_" . explode("_", $this->data['KUASA_DIREKSI_FILE'])[1] . "_" . explode("_", $this->data['KUASA_DIREKSI_FILE'])[2] . "_" . explode("_", $this->data['KUASA_DIREKSI_FILE'])[3] . "_", "", $this->data['KUASA_DIREKSI_FILE']);
							?>
								<tr>
									<td><label for="" class="text-gray col-form-label" style="font-size: 1.1em"><?= $filename ?></label> </td>
									<td><label for="" class="text-gray col-form-label" style="font-size: 1.1em">Form Aplikasi / Surat Kuasa Debet / Perjanjian Gadai / Paket Analisa Kredit (PAK)</label></td>
									<td><button type="button" onclick="location.href = '/bgreport/detail/downloadfile/bgnumb/<?= $bgDecrypt ?>/file/4';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button></td>

								</tr>
							<?php endif ?>

						</table>


					</div>
				</div>
			</div>
		<?php } ?>

		<?php if ($this->data["COUNTER_WARRANTY_TYPE"] != "1") { ?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<div class="col">
							<h5><?= $this->language->_('Informasi Fasilitas Penyediaan Dana SLIK OJK') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check9)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify9; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%" class="mt-2">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Informasi SLIK OJK</label>
							</div>

							<div class="col-sm-7 d-flex align-items-center">
								<label class="m-0"><?php echo $this->slikojk; ?></label>&nbsp;&nbsp;<a href="/eformworkflow/downloadfile/slikojk/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1/onrisk/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>

		<?php if ($this->data["BG_FORMAT"] == "2") { ?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<div class="col">
							<h5><?= $this->language->_('Format Sertifikat Yang Disetujui') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check10)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify10; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%" class="mt-2">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Format Disetujui</label>
							</div>

							<div class="col-sm-7 d-flex align-items-center">
								<label class="m-0"><?php echo $this->agreeformat; ?></label>&nbsp;&nbsp;<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</a>
							</div>
						</div>

						<?php if (!empty($this->data["MEMO_LEGAL"])) { ?>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Memo Persetujuan Legal</label>
								</div>

								<div class="col-sm-7 d-flex align-items-center">
									<label class="m-0"><?php echo $this->memolegal; ?></label>&nbsp;&nbsp;<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/2" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</div>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>
		<?php } ?>
		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div style="padding-left:2%" id="sertifikatBG">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Sertifikat Bank Garansi</label>
						</div>
						<div class="col-sm-8 d-flex align-items-center">
							<label class="col-form-label">BG_NO_<?= str_replace('-', '', $this->data['BG_NUMBER']); ?></label>&nbsp;&nbsp;
							<form action="" method="POST">
								<button type="submit" name="download" value="1" class="btn bg-transparent p-0 m-0">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</button>
								<a href="/bgreport/detail/showfinaldoc/bgnumb/<?= explode('/', $this->url())[5]; ?>" class="text-body" target="__blank">
									<svg xmlns="http://www.w3.org/2000/svg" class="text-body mr-1" style="height: 1.5rem; width: 1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
										<path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
									</svg>
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('History') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-12">
						<div id="history-body">
							<table class="table-bordered" cellpadding="3" style="width:100%">
								<tr style="background-color:#ccc">
									<td><b><i><?= $this->language->_('User'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Action'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Note'); ?></i></b></td>
								</tr>
								<?php foreach ($this->dataHistory as $row) : ?>
									<tr style="background-color:#eee">
										<td><?= $row['USER_LOGIN']; ?></td>
										<td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
										<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
										<td><?= $row['BG_REASON'] ?: '-'; ?></td>
									</tr>
								<?php endforeach; ?>
								<?php if ($this->dataHistoryClose) : ?>
									<?php foreach ($this->dataHistoryClose as $row) : ?>
										<tr style="background-color:#eee">
											<td><?= $row['USER_LOGIN']; ?></td>
											<td><?= $this->historyStatusArrClose[$row['HISTORY_STATUS']]; ?></td>
											<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
											<td><?= $row['BG_REASON'] ?: '-'; ?></td>
										</tr>
									<?php endforeach ?>
								<?php endif ?>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<label for="" style="display: none;">&nbsp;<?= $this->language->_('The Preliminary Document is all set') ?>. <a href="javascript:void(0)" onclick="javascript:openwindow('/preliminary/index/index/view/1/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>',900,600);"><u><?= $this->language->_('Check Documents') ?></u></a></label>

	</div>
</div>

<?php
$back = $this->language->_('Back');
$amendment = $this->language->_('Amendment');
?>

<div class="col-md-12 mt-4" align="center">
	<?php if (!$this->allow) : ?>
		<div>
			<label class="text-danger">Usulan penutupan sedang dalam menunggu persetujuan</label>
		</div>
	<?php endif ?>
	<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/bgreport'" type="button">
	<?php if ($this->hasPrivilege('CRBG') && $this->data["BG_STATUS"] == '15') : ?>

		<input class="btn-sm btnred hov ml-2 <?= ($this->allow) ? '' : 'disabled'; ?>" style="<?= ($this->allow) ? '' : 'cursor: not-allowed'; ?>"" value=" <?php echo $this->language->_('Penutupan') ?>" id="penutupan" type="button" <?= ($this->allow) ? '' : 'disabled'; ?>>

		<!-- modal penutupan -->
		<?php if ($this->allow) : ?>
			<div class="modal fade" id="dialog_penutupan" tabindex="-1" role="dialog" aria-hidden="true">
				<form action="" method="post" id="formPenutupan" enctype="multipart/form-data">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<div class="col">
									<h5 style="text-align:left;border-bottom: 2px solid gray; padding-bottom: 5px">Penutupan Bank Garansi</h5>
								</div>
								<div style="padding-left:2%" id="sertifikatBG" class="text-left">

									<div class="form-group row">
										<div class="col-sm-4">
											<label for="" class="text-muted col-form-label">No BG</label>
										</div>
										<div class="col-sm-8 d-flex align-items-center">
											<label for="" class="col-form-label font-weight-bold"><?= $this->data['BG_NUMBER'] ?: '-'; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-4">
											<label for="" class="text-muted col-form-label">Subjek eFrom</label>
										</div>
										<div class="col-sm-8 d-flex align-items-center">
											<label for="" class="col-form-label font-weight-bold"><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-4">
											<label for="" class="text-muted col-form-label">Update status BG menjadi</label>
										</div>
										<div class="col-sm-8 d-flex align-items-center">
											<label for="" class="col-form-label font-weight-bold text-danger">Selesai Penjaminan</label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-4">
											<label for="" class="text-muted col-form-label">Jenis Penutupan <span class="text-danger">*</span></label>
										</div>
										<div class="col-sm-8 d-flex align-items-center">
											<select name="jenisPenutupan" id="jenisPenutupan" class="form-control" style="padding-left:5px;">
												<option value="1">Habis Masa</option>
												<option value="2">Permintaan Principal</option>
												<option value="3">Klaim Obligee</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-4">
											<label for="" class="text-muted col-form-label">Underlying Dokumen <span class="text-danger">*</span></label>
										</div>
										<div class="col-sm-8 d-flex align-items-center">
											<input type="file" class="form-control" style="height: 30px; padding-top: 2px; padding-left:5px;" id="filePenutupan" name="filePenutupan" accept=".pdf">
										</div>
									</div>

								</div>
							</div>
							<div class="modal-footer justify-content-center">
								<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('BATAL') ?></button>
								<button type="submit" class="btngreen hov" id="kirim_penutupan" name="kirim_penutupan" value="kirim_penutupan"><?php echo $this->language->_('KIRIM') ?></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		<?php endif ?>
	<?php endif ?>

	<?php if ($this->check_bg_claim_date) { ?>
		<?php if ($this->data['BG_STATUS'] == '15') { ?>
			<?php if (!$this->cekAmen) {?>
				<?php if (!in_array($this->bgClose['CHANGE_TYPE'], ['1', '3', '4']) || in_array($this->bgClose['SUGGESTION_STATUS'], ['7', '11'])) { ?>
					<?php if ($this->warranty_type == '1' && $this->hasPrivilege('VPCC')) : ?> <!-- cash collateral -->
						<input class="btn-sm btnred hov ml-2" value="<?php echo $this->language->_('Klaim') ?>" onclick="location.href='/bgreport/klaim/index/bg/<?= $this->bg ?>'" type="button">
					<?php else : ?>
						<?php if ($this->warranty_type != '1' && ($this->hasPrivilege('VPNC') || $this->hasPrivilege('PADK'))) : ?> <!-- non cash collateral -->
							<input class="btn-sm btnred hov ml-2" value="<?php echo $this->language->_('Klaim') ?>" onclick="location.href='/bgreport/klaim/index/bg/<?= $this->bg ?>'" type="button">
						<?php endif ?>
					<?php endif ?>
				<?php } else { ?>
					<button class="btn-sm btnred hov ml-2 disabled" type="button" disabled><?php echo $this->language->_('Klaim') ?></button>
					<p class="text-danger mt-2"><i class="fa fa-exclamation-triangle mr-1"></i><?= $this->language->_('Data dalam proses Usulan ') . $this->arrStatusSettlement[$this->bgClose['CHANGE_TYPE']] ?></p>
				<?php }  ?>
			<?php } else {?>
				<button class="btn-sm btnred hov ml-2 disabled" type="button" disabled><?php echo $this->language->_('Klaim') ?></button>
				<p class="text-danger mt-2"><i class="fa fa-exclamation-triangle mr-1"></i><?= $this->language->_('Data dalam proses Usulan Amendemen') ?></p>
			<?php } ?>
		<?php } else { ?>
			<p class="text-danger mt-2 hidden"><i class="fa fa-exclamation-triangle mr-1"></i><?= $this->language->_('Status BG sudah berakhir') ?></p>
		<?php }  ?>
	<?php } ?>

	&nbsp;
	<!--<?= $this->formButton('download', $download, array('id' => '', 'class' => 'btn-sm btnwhite hov', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/download/4'")); ?>-->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/amendment/1'")); ?> -->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/amdetail/index/bg/$encrypted_id'")); ?> -->
	&nbsp;

	<!--<?= $this->formButton('amendment', $amendment, array('class' => 'btn-sm btngreen hov', 'onclick' => "location.href='/eform/amdetail/index/bgnumb/$BG_REG_NUMBER'")); ?>-->

</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Company</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="myModalAmandement" tabindex="-1" role="dialog" aria-labelledby="myModalAmandement">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Detail Bank Garansi</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Nomor Registrasi</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['BG_REG_NUMBER']; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Nomor BG</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BG_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Subjek eForm</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['SUBJECT'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Bank Cabang</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Status</label>
							</div>
							<div class="col-sm-9">
								<label>Selesai penjaminan - amandemen menjadi BG baru (BG No : <?= $this->data['BG_NUMBER'] ?: '-'; ?>)</label>
							</div>
						</div>

					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="modalPersetujuanAsuransi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Persetujuan Asuransi</h4>
				</center>
			</div>
			<div class="modal-body">
				<div style="padding-left:2%" class="mt-3">
					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Nomor Ijin Prinsip</label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleData['Principle Agreement Number'] ?: '-' ?></label>
							<label>(<?= date('d M Y', strtotime($this->principleData['Principle Agreement Granted Date'])) ?>)</label>
							<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>/download/1/onrisk/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
								<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
								</svg>
							</a>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Nomor Kontra Garansi</label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleData['Counter Guarantee Number'] ?: '-'; ?></label>
							<?php if (!empty($this->principleData['Counter Guarantee Granted Date'])) { ?>
								<label>(<?= date('d M Y', strtotime($this->principleData['Counter Guarantee Granted Date'])); ?>)</label>
								<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</a>
							<?php } ?>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Persetujuan Format Khusus</label>
						</div>
						<div class="col-sm-8">
							<?= $this->principleData['Insurance Special Format Approval Document'] ? trim(str_replace([explode('_', $this->principleData['Insurance Special Format Approval Document'])[0], explode('_', $this->principleData['Insurance Special Format Approval Document'])[1], explode('_', $this->principleData['Insurance Special Format Approval Document'])[2], explode('_', $this->principleData['Insurance Special Format Approval Document'])[3]], '', ''), '_') : '-'; ?>
							<?php if ($this->principleData['Insurance Special Format Approval Document']) : ?>
								<a href="/eformworkflow/downloadfile/specialformatfileins/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</a>
							<?php endif ?>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Marginal Deposit Prinsipal</label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleData['Marginal Deposit Percentage'] ? implode(' ', [number_format($this->principleData['Marginal Deposit Percentage'], 2), '%', '(' . number_format($this->principleData['Marginal Deposit Percentage'] * $this->data['BG_AMOUNT'], 2) . ')']) : '-'; ?></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Premi Asuransi'); ?></label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleData['Principle Insurance Premium'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Premium'], 2) : '-'; ?></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Administrasi Asuransi'); ?></label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleData['Principle Insurance Administration'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Administration'], 2) : '-'; ?></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Meterai Asuransi'); ?></label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleData['Principle Insurance Stamp'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Stamp'], 2) : '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width:100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<script>
	$(document).ready(function() {
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	});

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}

	async function inquiryMdFullCover() {
		document.querySelector('#inquiryMdFc').querySelector('span').classList.add('hidden');
		document.querySelector('#inquiryMdFc').querySelector('img').classList.remove('hidden');

		await $.ajax({
			url: "<?= $this->url(array('module' => 'eform', 'controller' => 'amdetail', 'action' => 'mdfcoldt'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
				bgregnumber: '<?= $this->BG_REG_NUMBER; ?>',
				buttonescrow: true
			},
			success: function(data) {
				$('#marginalDepositFC').html(data);
			},
			complete: () => {
				document.querySelector('#inquiryMdFc').querySelector('span').classList.remove('hidden');
				document.querySelector('#inquiryMdFc').querySelector('img').classList.add('hidden');
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log("Failed to get data");
			}
		});

		document.querySelector('#lbl_mdfceksis').innerText = new Intl.NumberFormat("en-EN", {
			style: 'currency',
			currency: 'IDR',
			minimumFractionDigits: 2,
			maximumFractionDigits: 2
		}).format(document.querySelector('#mdfceksis').value);
	}

	$(document).ready(function() {
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();

		if (document.querySelector("#dialog_penutupan")) {
			document.querySelector("#penutupan").addEventListener('click', function() {
				$('#dialog_penutupan').modal({
					show: true,
				});
			});
		}

		document.querySelector('#inquiryMdFc')?.addEventListener('click', inquiryMdFullCover);
		document.querySelector('#inquiryMdFc')?.click();

		document.querySelector("#filePenutupan")?.addEventListener('change', function(e) {
			if (e.target.files[0] && e.target.files[0].type != 'application/pdf') {
				e.target.value = '';
				return alert('tipe file yang diperbolehkan hanya pdf');
			}

			if (e.target.files[0] && e.target.files[0].size > 1024 * 10000) {
				e.target.value = '';
				return alert('maksimal ukuran file 10 MB');
			}
		});

		// validasi input saat form submit
		document.querySelector("#formPenutupan")?.addEventListener('submit', function(e) {
			// validasi jenis penutupan
			if (document.querySelector("#jenisPenutupan").value == '') {
				e.preventDefault();
				return alert('Mohon isi jenis penutupan');
			}

			// validasi file penutupan
			if (document.querySelector("#filePenutupan").value == '') {
				e.preventDefault();
				return alert('Mohon upload underlying dokumen');
			}
		});
	});

	function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#sertifikatBG').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	}

	const bankGuaranteeApplicant = () => {
		$("#myModalBankApp").modal();
	}

	const amandementDetail = () => {
		$("#myModalAmandement").modal();
	}
</script>