<script type="text/javascript">
	function back() 
	{
		var url=new Array();
		url="/tools/pgpkeymanagement/addallkey";
		window.location=url;
	}
</script>

<style type="text/css">

.field-icon {
  float: right;
  margin-right: 8px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  cursor:pointer;
}
 }


</style>

<?php
$auth = Zend_Auth::getInstance()->getIdentity();

if ($auth->_userTheme == 'dark') {
  $mandatory = "<strong class='formreq' style='color:#ffffff;'>&nbsp;*&nbsp;</strong>";
}else{
  $mandatory = "<strong class='formreq' style='color:red;'>&nbsp;*&nbsp;</strong>";
}
?>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Tools');?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span>In House Account</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?php echo $this->language->_('PGP Key Management');?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

<br />

<?php if($this->error){ ?>
  <div class="errmsg">
  <?php 
    if($this->errorMsg){
      foreach($this->errorMsg as $key => $error){
        echo $this->formErrors($this->errorMsg[$key]);
      }
    }
    
    if($this->sourceFileNameErr)  echo $this->formErrors($this->sourceFileNameErr);
    if($this->passphraseErr)    echo $this->formErrors($this->passphraseErr);
  ?>
  </div>
  <br />
  <?php } else if($this->success){ ?>
    <div class="successmsg"><?php echo $this->language->_($this->successMsg); ?></div><br />
  <?php } ?>


<div class="portlet-body form">
<form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
    <tbody>
      <tr>
        <td class="contentarea" id="contentarea">
          <div class="portlet light form-fit bordered">
            <div class="card">
              <div class="card-header cardhead">
                <strong style="color: white;"><?php echo $this->language->_('PGP Key');?></strong>
              </div>
              <div class="card-body row headerNew">
              <div class="col-md-7"> 
                <div class="form-group row pt-2">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-9">
                     <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<?=$mandatory?>) <?php echo $this->language->_('are required');?>
                  </div>
                </div>
                <div class="form-group row pt-2">
                  <div class="col-sm-3">
                    <label for=""><?php echo $this->language->_('Public Key File'); ?><?=$mandatory?></label>
                  </div>
                  <div class="col-sm-9">
                    
                    
                    <?php if($this->pubkey){ ?>
                      <input type="file" size="50" name="pubkeyfile" id="pubkeyfile" class="form-control" hidden value="<?php echo $this->pubkey ?>">
                      <a href="<?php echo $this->url(array('module'=>'tools','controller'=>'pgpkeymanagement','action'=>'addallkey','filter'=>'download','fileid'=>'pub'),null,true) ?>" class="form-control" id="pubkeylink" ><?php echo $this->pubkey ?></a>
                    <a href="<?php echo $this->url(array('module'=>'tools','controller'=>'pgpkeymanagement','action'=>'addallkey','filter'=>'download','fileid'=>'pub'),null,true) ?>" ><span toggle="#pubkeyfile" class="fas fa-file-download field-icon toogle-download-public" style="margin-right:25px;"></span></a>&nbsp;
                    <span toggle="#pubkeyfile" class="fa fa-trash field-icon toogle-trash-public"></span>
                  <?php }else{
                    ?>
                    <input type="file" size="50" name="pubkeyfile" id="pubkeyfile" class="form-control" value="<?php echo $this->pubkey ?>">

                    <span toggle="#pubkeyfile" class="fas fa-file-download field-icon toogle-download-public" hidden style="margin-right:25px;"></span>&nbsp;
                    <span toggle="#pubkeyfile" class="fa fa-trash field-icon toogle-trash-public" hidden></span>

                    <?php
                  } ?>
                    <i><?php echo $this->language->_('file extension');?> : <?php echo strtolower(trim($this->file_extension)); ?>, <?php echo $this->language->_('max file size');?> : <?php echo trim($this->max_file_size); ?> kB</i>
                  </div>
                </div>
                <div class="form-group row pt-2">
                  <div class="col-sm-3">
                    <label for=""><?php echo $this->language->_('Private Key File'); ?><?=$mandatory?></label>
                  </div>
                  <div class="col-sm-9">
                      
                      <?php  if($this->privkey){ ?>                                    
                        <input type="file" size="50" name="privkeyfile" id="privkeyfile" class="form-control" hidden value="<?php echo $this->privkey ?>">
                        <a href="<?php echo $this->url(array('module'=>'tools','controller'=>'pgpkeymanagement','action'=>'addallkey','filter'=>'download','fileid'=>'priv'),null,true) ?>" class="form-control" id="privkeylink" ><?php echo $this->privkey ?></a>
                      <a href="<?php echo $this->url(array('module'=>'tools','controller'=>'pgpkeymanagement','action'=>'addallkey','filter'=>'download','fileid'=>'priv'),null,true) ?>" ><span toggle="#privkeyfile" class="fas fa-file-download field-icon toogle-download-private" style="margin-right:25px;"></span></a>&nbsp;
                      <span toggle="#privkeyfile" class="fa fa-trash field-icon toogle-trash-private" ></span>
                    <?php }else{ ?>
                      <input type="file" size="50" name="privkeyfile" id="privkeyfile" class="form-control" value="<?php echo $this->privkey ?>">
                        <span toggle="#privkeyfile" class="fas fa-file-download field-icon toogle-download-private" hidden style="margin-right:25px;"></span>&nbsp;
                        <span toggle="#privkeyfile" class="fa fa-trash field-icon toogle-trash-private" hidden></span>
                    <?php } ?>
                      <i><?php echo $this->language->_('file extension');?> : <?php echo strtolower(trim($this->file_extension)); ?>, <?php echo $this->language->_('max file size');?> : <?php echo trim($this->max_file_size); ?> kB</i>
                  </div>
                </div>
                 <div class="form-group row pt-2">
                  <div class="col-sm-3">
                    <label for=""><?php echo $this->language->_('Passphrase'); ?><?=$mandatory?></label>
                  </div>
                  <div class="form-group col-sm-9">
                      <?php echo $this->formPassword('passphrase',$this->passphrase,array('id' => 'passphrase','size'=>40,'maxlength'=>128,'class'=>'form-control','placeholder' => 'Enter Password'))?>
                       <span toggle="#passphrase" class="fa fa-lg fa-eye-slash field-icon toggle-password"></span>
                  </div>
                </div>
                </div>
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-sm-8">
                    <div class="panel panel-default content-box" style="width: 300px;">
                    <div class="panel-heading content-box cardhead text-white"><?php echo $this->language->_('Last Uploaded');?></div>
                    <div class="panel-body">
                      <table width="80%">
                        <tr>
                          <td class="tbl-evencontent">Date</td>
                          <td class="tbl-evencontent">:</td>
                          <td class="tbl-evencontent" colspan="4"><?php echo $this->dateupload; ?></td>
                        </tr>
                        <tr>
                          <td class="tbl-evencontent">By</td>
                          <td class="tbl-evencontent">:</td>
                          <td class="tbl-evencontent" colspan="4"><?php echo $this->dateuploadby; ?></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-6">&nbsp;</div>
                    </div>
                  </div>
                  </div>
                    <div class="col-md-12 row" align="center">
                      <div class="col-md-12" style="padding-top: 7%;">
                      <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      <input class = "btnwhite hov" type="button" onclick = "back()" value ="<?php echo $this->language->_('Cancel')?>">
                        <?php echo $this->formSubmit('upload',$this->language->_('Save'),array('class'=>'btngreen hov')); ?>
                      </div>
                      </div>
                    </div>
              </div>
            </div>
            <br>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<script type="text/javascript">
 $(document).ready(function() {


  // var isi = $("#pubkeyfile").val();
  // // alert(isi);
  //   if (isi != "") {
  //     $(".toogle-download-public").prop("hidden",false);
  //     $(".toogle-trash-public").prop("hidden",false);
  //   }else{
  //     $(".toogle-download-public").prop("hidden",true);
  //     $(".toogle-trash-public").prop("hidden",true);
  //   }

  //   var key = $("#pubkeyfile").val();
  //   if (key != "") {
  //     $(".toogle-download-private").prop("hidden",false);
  //     $(".toogle-trash-private").prop("hidden",false);
  //   }else{
  //     $(".toogle-download-private").prop("hidden",true);
  //     $(".toogle-trash-private").prop("hidden",true);
  //   }




 });
  $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });

  $("#pubkeyfile").change(function(){
    var isi = $("#pubkeyfile").val();
    if (isi != "") {
      $(".toogle-download-public").prop("hidden",false);
      $(".toogle-trash-public").prop("hidden",false);
    }else{
      $(".toogle-download-public").prop("hidden",true);
      $(".toogle-trash-public").prop("hidden",true);
    }
  });

  $("#privkeyfile").change(function(){
    var key = $("#pubkeyfile").val();
    if (key != "") {
      $(".toogle-download-private").prop("hidden",false);
      $(".toogle-trash-private").prop("hidden",false);
    }else{
      $(".toogle-download-private").prop("hidden",true);
      $(".toogle-trash-private").prop("hidden",true);
    }
  });

    $('.toogle-trash-public').on('click', function(e){
      $("#pubkeyfile").val('');
      $(".toogle-download-public").prop("hidden",true);
      $(".toogle-trash-public").prop("hidden",true);
      $("#pubkeyfile").prop("hidden",false);
      $("#pubkeylink").prop("hidden",true);
      
    });

    $('.toogle-trash-private').on('click', function(e){
      $("#privkeyfile").val('');
      $(".toogle-download-private").prop("hidden",true);
      $(".toogle-trash-private").prop("hidden",true);
      $("#privkeyfile").prop("hidden",false);
      $("#privkeylink").prop("hidden",true);
    });
</script>


<!-- <div class="portlet-body form content-box">
<form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="">
	<?php if($this->error){ ?>
	<div class="errmsg">
	<?php	
		if($this->errorMsg){
			foreach($this->errorMsg as $key => $error){
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}
		
		if($this->sourceFileNameErr) 	echo $this->formErrors($this->sourceFileNameErr);
		if($this->passphraseErr) 		echo $this->formErrors($this->passphraseErr);
	?>
	</div>
	<br />
	<?php } else if($this->success){ ?>
		<div class="successmsg"><?php echo $this->language->_($this->successMsg); ?></div><br />
	<?php } ?>
	
	<div class="row">
	<div class="portlet-body form col-md-12">
                                             <div class="panel-heading" style="
                    	    color: #fff;
                    	    height: 25px;
                    	    font-family: inherit;
                    	    background-image: linear-gradient(to bottom, #6bc46a, #164615);
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong><?php echo $this->language->_('Upload'); ?>:</strong></div>
                    	<div class="portlet-body form">
                    	                          <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required');?>
                                                            </div>
                                                 </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Public Key File'); ?><span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                               <input type="file" size="50" name="pubkeyfile" id="pubkeyfile" class="form-control" value="<?php echo $this->description ?>">
                                                            
					                                       		<i><?php echo $this->language->_('file extension');?> : <?php echo strtolower(trim($this->file_extension)); ?>, <?php echo $this->language->_('max file size');?> : <?php echo trim($this->max_file_size); ?> kB</i>
                                                            </div>
                                                 </div>
												 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Private Key File'); ?><span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                               <input type="file" size="50" name="privkeyfile" id="privkeyfile" class="form-control" value="<?php echo $this->description ?>">
                                                            
					                                       <span style="width: 152px;
  height: 11px;
  font-family: SegoeUI;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;"><i><?php echo $this->language->_('file extension');?> : <?php echo strtolower(trim($this->file_extension)); ?>, <?php echo $this->language->_('max file size');?> : <?php echo trim($this->max_file_size); ?> kB</i></span>
                                                            </div>
                                                 </div>
												 
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Passphrase'); ?><span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formPassword('passphrase',$this->passphrase,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                                                            </div>
                                                 </div>
                                                 
                               </div>
                               </div>
            
                               
	</div>
	
	<br>
    <div class="row">
  <div class="col-sm-8">
  <div class="panel panel-default content-box" style="width: 300px;">
  <div class="panel-heading content-box" style="
	    color: #fff;
    height: 33px;
    line-height: 14px;
    font-size: 14px;
    background-color: #337ab7;
    border-color: #337ab7;
    width
	    
	"><?php echo $this->language->_('Notes');?></div>
	<div class="panel-body">
			<div class="form-group">
					<?php echo $this->language->_('Allowed file extension/type: .key'); ?>																		
										
			</div>
	</div>
</div>
<div class="col-sm-6">&nbsp;</div>
  </div>
</div>
    
    <br/>
	<div class="row">
                      <div class="col-sm-8">
                      <div class="panel panel-default" style="border:0px">
                      <input class = "btn btn-success" type="button" onclick = "back()" value ="<?php echo $this->language->_('Cancel')?>">
						<?php echo $this->formSubmit('upload',$this->language->_('Save'),array('class'=>'btn btn-success')); ?>
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                      </div>
                    </div>
   	
	
</form>
</div> -->
