<script type="text/javascript">
	function back() 
	{
		var url=new Array();
		url="/tools/pgpkeymanagement";
		window.location=url;
	}
</script>

<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Tools');?></a></li>
  <li><?php echo $this->language->_('PGP Key Management');?></li>
  <li><?php echo $this->language->_('Add Private Key');?></li>
</ol>
</b>
<br />
<div class="portlet-body form">
<form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="">
	<?php if($this->error){ ?>
	<div class="errmsg">
	<?php	
		if($this->errorMsg){
			foreach($this->errorMsg as $key => $error){
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}
		
		if($this->sourceFileNameErr) 	echo $this->formErrors($this->sourceFileNameErr);
		if($this->descriptionErr) 		echo $this->formErrors($this->descriptionErr);
	?>
	</div>
	<br />
	<?php } else if($this->success){ ?>
		<div class="successmsg"><?php echo $this->language->_($this->successMsg); ?></div><br />
	<?php } ?>
	
	<div class="row">
	<div class="portlet-body form col-md-12">
                                             <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong><?php echo $this->language->_('Upload'); ?>:</strong></div>
                    	<div class="portlet-body form">
                    	                          <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required');?>
                                                            </div>
                                                 </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Private Key'); ?><span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                               <input type="file" size="50" name="document" id="document" class="form-control" value="<?php echo $this->description ?>">
                                                           
					                                       <br /><br /><i><?php echo $this->language->_('file extension');?> : <?php echo strtolower(trim($this->file_extension)); ?>, <?php echo $this->language->_('max file size');?> : <?php echo trim($this->max_file_size); ?> kB</i>
                                                            </div>
                                                 </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Description'); ?><span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                            <?php	echo $this->formTextarea('description',$this->description,array('class'=>'form-control','cols'=>'40','rows'=>'4',
                                                					'onKeyDown'=>'textCounter(this.form.description,this.form.FILE_DESCRIPTION_len,128)', 
                                                					'onKeyUp'=>'textCounter(this.form.description,this.form.FILE_DESCRIPTION_len,128)', 
                                                					'onKeypress'=>'return noSpecialChar3(event);')); 
                                                					echo "<br>";
                                                					echo $this->formText('FILE_DESCRIPTION_len', $this->FILE_DESCRIPTION_len, array('readonly'=>'readonly','size'=>'2','class'=>'form-control','style'=>'width:60px'))." ".$this->language->_('char(s) left').""; 
                                                			?>
                                                            </div>
                                                 </div>
                                                 
                               </div>
                               </div>
            
                               
	</div>
	
	<br>
    <div class="row">
      <div class="col-sm-3">
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading" style="
    	    color: #fff;
        height: 33px;
        line-height: 14px;
        font-size: 14px;
        background-color: #337ab7;
        border-color: #337ab7;
    	    
    	"><?php echo $this->language->_('Notes');?></div>
    	<div class="panel-body">
    			<div class="form-group">
    				&bull; <?php echo $this->language->_('Allowed file extension/type: key');?>
          			<br>
    			</div>
    	</div>
    </div>
    <div class="col-sm-6">&nbsp;</div>
      </div>
    </div>
    <br/>
	
	<table align="left" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton">
						<input class = "btn btn-warning" type="button" onclick = "back()" value ="<?php echo $this->language->_('Back')?>">
						<?php echo $this->formSubmit('upload',$this->language->_('Upload'),array('class'=>'btn btn-warning')); ?>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>
</div>
