
<form name="payment" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="padding: 0pt 0pt 0pt 20px;">
					<img src="biller_001_create.php_files/logo_transnusa.gif" alt="Transnusa">
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea-line">
					<img src="biller_001_create.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td colspan="3">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="3" class="filterarea" id="filterarea">
									<div class="tdform-sub"><?php echo $this->language->_('Client Form'); ?></div>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent" width="150px"><?php echo $this->language->_('Travel Agent ID '); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="tbl-evencontent" width="10px">: </td>
								<td class="tbl-evencontent" id="tbl-evencontent" align="left">
									<select name="CLIENT_CODE">	
										<option selected="selected" value=""><?php echo $this->language->_('Select agent code'); ?></option>
										<option value="G198AG~PT ADENA TOUR KUPANG"><?php echo $this->language->_('G198AG - PT ADENA TOUR KUPANG'); ?></option>
									</select> &nbsp;&nbsp;
									<input name="managelist" id="managelist" class="buttonnew" value="Manage Travel Agent ID" onclick="JavaScript:proceed('manage-client-code', '', '');" type="button">
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Source Account '); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="tbl-evencontent">: </td>
								<td class="tbl-evencontent" id="tbl-evencontent">
									<select name="ACCTSRC">	
										<option selected="selected" value=""><?php echo $this->language->_('select source account'); ?></option>
										<option value="1290001537~JOSHUA ADISETYA DHARMAWAN~IDR"><?php echo $this->language->_('1290001537 [IDR] - JOSHUA ADISETYA DHARMAWAN'); ?></option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Amount '); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="tbl-evencontent">: </td>
								<td class="tbl-evencontent" id="tbl-evencontent">
									<input name="TRA_AMOUNT" id="TRA_AMOUNT" size="18" maxlength="20" class="textbox_std1" style="text-align: right;" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar2(event);" onblur="formatNumber();" type="text">
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="tbl-evencontent">: </td>
								<td class="tbl-evencontent" id="tbl-evencontent">
									<input name="PS_EFDATE" value="24/02/2012" size="11" readonly="readonly" class="textbox_std1">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fPopCalendar(document.payment.PS_EFDATE);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_001_create.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>
								</td>
							</tr>
							<tr>
								<td colspan="3">&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="3">
									<div class="formbutton">
										<input class="inputbtn" value="cancel" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='partner_screen_mdl.php?fl3nc=1&amp;r=u7bwpbifjz7dr3z4&amp;param=5pShoKSUl5qbopl2tXmFnWSWpJWj0M5x59i9sIaFqZmmq3x1yojEqbe3boaFdYOJhY2Mdo2wiIe6'" type="button">
										<input class="inputbtn" value="submit" onclick="JavaScript:proceed('post', '', '');" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
