<form name="biller_001_view" method="post" action="">
	<img src="biller_001_view.php_files/logo_transnusa.gif" alt="Transnusa Top Up">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">												
		<tbody>
			<tr>
				<td class="tdform-sub" id="filterarea">
					<div class="subtopic"><?php echo $this->language->_('Filter'); ?></div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td class="tbl-evencontent" width="150"><?php echo $this->language->_('Payment Date From'); ?></td>
								<td colspan="3" class="tbl-evencontent">
									<input name="EFDATE_START" value="24/02/2012" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_001_view.EFDATE_START,document.biller_001_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_001_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
									<?php echo $this->language->_('To'); ?>&nbsp;&nbsp;
									<input name="EFDATE_END" value="24/02/2012" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_001_view.EFDATE_START,document.biller_001_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_001_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
								</td>
							</tr>	
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Travel Agent ID'); ?></td>
								<td class="tbl-evencontent" width="150"><input name="SEARCH_AGENT_ID" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Travel Agent Name'); ?></td>
								<td class="tbl-evencontent"><input name="SEARCH_AGENT_NAME" size="20" maxlength="20" type="text"></td>
							</tr>															
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref'); ?>#</td>
								<td class="tbl-evencontent" width="150"><input name="SEARCH_PAYMENT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
								<td class="tbl-evencontent" width="150"><?php echo $this->language->_('Source Account'); ?></td>
								<td class="tbl-evencontent"><input name="SOURCE_ACCT" size="10" maxlength="16" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('CCY'); ?></td>
								<td class="tbl-evencontent"><input name="SEARCH_CCY" size="3" maxlength="3" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Payment Status'); ?></td>
								<td class="tbl-evencontent">
									<select name="PS_STATUS">
										<option selected="selected" value=""><?php echo $this->language->_('All'); ?></option>
										<option value="1"><?php echo $this->language->_('Waiting for Approval'); ?></option>
										<option value="2"><?php echo $this->language->_('Waiting to Release'); ?></option>
										<option value="4"><?php echo $this->language->_('Reject'); ?></option>
										<option value="5"><?php echo $this->language->_('Completed'); ?></option>
										<option value="6"><?php echo $this->language->_('Transfer Failed'); ?></option>
										<option value="7"><?php echo $this->language->_('Pending (Future Date)'); ?></option>
										<option value="9"><?php echo $this->language->_('Payment Exception'); ?></option>
										<option value="13"><?php echo $this->language->_('Pending Process'); ?></option>
										<option value="14"><?php echo $this->language->_('Cancel Future Date'); ?></option>
									</select>&nbsp;&nbsp;
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" colspan="4">
									<input class="inputbtn" value="set filter" onclick="JavaScript:proceed('', '', '1');" type="button">
									<input class="inputbtn" value="clear filter" onclick="location.href='biller_001_view.php?fl3nc=1&amp;r=96nhbc3fqi2tbyg4&amp;param=5nd3dIiKiHyBfXKNs3mAvYK7w7CEsruJxw%3d%3d'" type="button">
								</td>															
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="filterarea-line">
					<img src="biller_001_view.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea" valign="midle" align="right">&nbsp;</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tdform-sub"><?php echo $this->language->_('Payment Ref'); ?>#<a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=bnn0m5g2ghodvn6j&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZaislKfWpZTPpozjvoKnsIbWpsLBhIG6x3DGqpc%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=vshxo568ia11bai0&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZaislKfWpZTPpozjvoKnsIbWpsLBhIG6x3DJnKfZ"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>												
								<td class="tdform-sub"><?php echo $this->language->_('Source Account'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=x0qgjbfxz31rgbhz&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcmKzTm1jdg7i0tILCrY3Wt7i0hW_J5pY%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=ks147rpr0x0sp467&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcmKzTm1jdg7i0tILCrY3Wt7i0hW_M2KbI"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>												
								<td class="tdform-sub"><?php echo $this->language->_('Source Account Name / Alias'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=yot8ppyc7n3qcwqr&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcmKzTm5HMldTb3ZHQ0Frqs7umdoTHtYzEioPIh6_F4dY%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=yesdfgdwu7zenrxl&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcmKzTm5HMldTb3ZHQ0Frqs7umdoTHtYzEioPIh6_I0-aU"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>												
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=6ob2dymu5lkucc8s&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcl57PnZiQp7XCs3W1ynbQw7yxg4al1KbI"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=xfiavl7h3pk82apq&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcl57PnZiQp7XCs3W1ynbQw7yxg4al15jYmg%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>		
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account Name'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=a28jcstmagryxvet&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcl57PnZjJlsfe2p7E2Jmd17i0dXe60nW-lofFhcahz-aU"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=o29rdj3usqav4k0o&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZmcl57PnZjJlsfe2p7E2Jmd17i0dXe60nW-lofFhcah0tiklQ%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>											
								<td class="tdform-sub"><?php echo $this->language->_('Travel Agent ID'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=yhv0fnkdgwdt733y&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZulnp7PrJHTmIzjvoKnsIbWpsLBhIG6x3DGqpc%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=xk02r1845wej0eah&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZulnp7PrJHTmIzjvoKnsIbWpsLBhIG6x3DJnKfZ"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Travel Agent Name'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=x847ka22wo4zbe59&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZulnp7PrJHYldPVlaOyvXi8tsikipG7woW5dJXplg%3d%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=8hv3fxuy62pkq9jc&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZulnp7PrJHYldPVlaOyvXi8tsikipG7woW5dJjbptU%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>				
								<td class="tdform-sub"><?php echo $this->language->_('Created'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=92ja2ail5qovrm2p&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKaZaislJzTnZPemcqW4n-1r3nJw6u7kIW3xYeimKfZ"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=nqj0gs02ted01e2k&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKaZaislJzTnZPemcqW4n-1r3nJw6u7kIW3xYeim5nplg%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Updated'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=yo5vkouitatb4bb7&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKaZaislK7RnJPemcqW4n-1r3nJw6u7kIW3xYeimKfZ"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=p4f49mpbb2sdbu44&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKaZaislK7RnJPemcqW4n-1r3nJw6u7kIW3xYeim5nplg%3d%3d"><img src="biller_001_view.php_files/ico_rdesc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Payment Date'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=1i95jo1yobbl9htu&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKaZaislJ7HnJPemYzjvoKnsIbWpsLBhIG6x3DGqpc%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=n3btcphsct0ale38&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKaZaislJ7HnJPemYzjvoKnsIbWpsLBhIG6x3DJnKfZ"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Ccy'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=uxt4yf3b9qrnvvam&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZuup6vAm6HOmYzjvoKnsIbWpsLBhIG6x3DGqpc%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=79pusrcfp401hzux&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZZuup6vAm6HOmYzjvoKnsIbWpsLBhIG6x3DJnKfZ"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>																
								<td class="tdform-sub"><?php echo $this->language->_('Amount'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=byrw97ujc7b0oew7&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZayrlpjCpaHfotqW4n-1r3nJw6u7kIW3xYeimKfZ"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=johlu8rpsvfvjki2&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKXZayrlpjCpaHfotqW4n-1r3nJw6u7kIW3xYeim5nplg%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>																	
								<td class="tdform-sub"><?php echo $this->language->_('Status'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=33u3toc1w8mtnt4t&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKmqpesqZrVraXJmozjvoKnsIbWpsLBhIG6x3DGqpc%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=z0axan8t3cw4pypf&amp;param=2aGTmplyZ12rfnt9oox3yYe6scGEoJ1onJavkmNXmrlllWhmnKa3qrK0hXeSeYN6dGptWmunaGSPZqyin2GVkafKs760dHfHtHaoi3GcptXT2-OQk5aXnpp0jHqIbJFoZpCnurHOc7KvebSK3Kt_iMfBgqJdp7x4s7jDxXZ7d3GJiHiGjIOOtHmGuYS7wJWjtrB1yaexwYFzwcB4s4txnKbFqa_FdHqSd3iPdF6siH6iinWyk6m_s3WgkafKqaq0dHrHtHqqhYjVfLahlOaEd3SGeH6WeYB6h7WXgKuBq62Vo7O-k8q4qraGhaWZpriQgrl3s7iz0oSGdIaJc12rjI6HpHxzvnnFtb10oJGnwLfIsYN2rcVw3pynnKbBtrK4g5F1jXKmqpesqZrVraXJmozjvoKnsIbWpsLBhIG6x3DJnKfZ"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>							
							</tr>
							<tr>
								<td class="tbl-evencontent" colspan="13" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
							</tr>	
							<tr>
								<td colspan="13" align="center">&nbsp;</td>
							</tr>								
							<tr>
								<td class="button-area" id="button-area" colspan="10">
									<div class="formbutton">
										<input class="inputbtn" value="back" onclick="location.href='partner_screen_mdl.php?fl3nc=1&amp;r=svyccvgwbztb5dpp&amp;param=2aGTmplyZ12rnKSm0ZeTzZfP1KyEpL5np5SdiKSfy7Cj2YuCy4aziuG5dnOHiYd7gHx2iYuihoW4ibmxw3-zwIQ%3d'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;CSV&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_001_view.php?fl3nc=1&amp;r=ytbdkdkfbixe9u8a&amp;param=5qGkopeaqap1qaeiz6xfzafcluKT0tep5NLIypaTzNilooeV76DX0uKeg5eZWWdpXGp8iKjWqpXPX6fT0p_Y2aiclqy1oKfa1piQeJfZoufS4p5_k6CZYFtpfmR2pcqZpY9mqbLUnsjRndrNytSqXanWltSsoupYpKew2J-XmZ2Yn5iqsmB6xJuh36Lam72R0NBZqaeUtqOT3tifkHib26Hmj7e3VmR2X4momK6eoWSin5fYqJG-0J3IkGa6p9vHkqbN11iXeonml9PY09dWZHaElq-knaepZKWZps9ZmLOyk9yQZrql1tGmoNyYZaiKqNen59eU5pShn6mipJaumqGuxnWi3ZPU5dySyN1ZqafKxZSl2tZYl3qV2Zbl1tHSk5Ohn6OXpJ2YlqXKmaWPZqnR0pLI2ZndiZulkpXK2KHKnZPYlODP3NSel1hmeJmjoZ6jrcChlo9mqdPbmcjZqNbSys-WV5q2o9iWl-iY09jT15CYWGZ4pqqXrqWdwqyXzpPMlaFz096T3MrNw6WXx9lYl3qX66Xkw9HilZdYZniqpqyaoZjCpaHfotrP1VWVrqTqw9zWkqbd5pLLXafqq-bD4eSdb15fYGFiY2RgZIxjXdmmytXhW8XkX9uS2dWQp9jXlNmcmKGX19fRnlxYpnp6d4uNi3qCpXWGvHW0w72FtqyIxrS-slelrbl3pot51YbGpcDHbmRnWWd8Z2peZ3-TaGOcWtm1tXSkv3nWqbembmScmGWrZ2abZbiWnqRjWKZ3h3t4jH6UjLV5hL5xjOOygqisiLzDrrB1b47mhqp4hrl70aW1uH-Gkn15c12rjHp6s3t6yXWttb2Ewrl1xKmm'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;PDF&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_001_view.php?fl3nc=1&amp;r=pc40wt4j4v5zk0xt&amp;param=5qGkopeaqap1qaeiz6xf2pjMluKT0tep5NLIypaTzNilooeV76DX0uKeg5eZWWdpXGp8iKjWqpXPX6fT0p_Y2aiclqy1oKfa1piQeJfZoufS4p5_k6CZYFtpfmR2pcqZpY9mqbLUnsjRndrNytSqXanWltSsoupYpKew2J-XmZ2Yn5iqsmB6xJuh36Lam72R0NBZqaeUtqOT3tifkHib26Hmj7e3VmR2X4momK6eoWSin5fYqJG-0J3IkGa6p9vHkqbN11iXeonml9PY09dWZHaElq-knaepZKWZps9ZmLOyk9yQZrql1tGmoNyYZaiKqNen59eU5pShn6mipJaumqGuxnWi3ZPU5dySyN1ZqafKxZSl2tZYl3qV2Zbl1tHSk5Ohn6OXpJ2YlqXKmaWPZqnR0pLI2ZndiZulkpXK2KHKnZPYlODP3NSel1hmeJmjoZ6jrcChlo9mqdPbmcjZqNbSys-WV5q2o9iWl-iY09jT15CYWGZ4pqqXrqWdwqyXzpPMlaFz096T3MrNw6WXx9lYl3qX66Xkw9HilZdYZniqpqyaoZjCpaHfotrP1VWVrqTqw9zWkqbd5pLLXafqq-bD4eSdb15fYGFiY2RgZIxjXdmmytXhW8XkX9uS2dWQp9jXlNmcmKGX19fRnlxYpnp6d4uNi3qCpXWGvHW0w72FtqyIxrS-slelrbl3pot51YbGpcDHbmRnWWd8Z2peZ3-TaGOcWtm1tXSkv3nWqbembmScmGWrZ2abZbiWnqRjWKZ3h3t4jH6UjLV5hL5xjOOygqisiLzDrrB1b47mhqp4hrl70aW1uH-Gkn15c12rjHp6s3t6yXWttb2Ewrl1xKmm'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;" onclick="window.print();" type="button">
									</div>														  	
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
