<style>
    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }

    .autocomplete-selected {
        background: blue;
        color: white;
    }

    .autocomplete-suggestions strong {
        font-weight: bold;
        color: orange;
    }

    .autocomplete-group {
        padding: 2px 5px;
    }

    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }
</style>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>

<form action="" method="GET">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group row">
                <div class="col-sm-9">
                    <h6><b>Cabang Bank Pencetakan</b></h6>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search" style="margin-left: -20px">
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row mt-2">
    <div class="col-sm-12 col-md-12" style="max-height: 400px; overflow-y: auto">
        <table class="table table-sm table-striped" id="myTable">
            <thead>
                <tr>
                    <th class="tablehead align-middle">Pilih</th>
                    <th class="tablehead align-middle">Kode Cabang</th>
                    <th class="tablehead align-middle">Nama Cabang</th>
                    <th class="tablehead align-middle">Alamat</th>
                    <th class="tablehead align-middle">Kontak</th>
                </tr>
            </thead>
            <tbody>
                <?php $counter = 1;
                if (count($this->paginator) > 0) {
                    foreach ($this->paginator as $data) { ?>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td><?= $data["BRANCH_CODE"]; ?> <input type="hidden" id="branch_code" value="<?= $data['BRANCH_CODE']; ?>"> </td>
                            <td> <?= $data["BRANCH_NAME"]; ?></td>
                            <td> <?= $data["BANK_ADDRESS"] . " | " . $data["CITY_NAME"] . " | " . $data["REGION_NAME"]; ?></td>
                            <td><?= $data["CONTACT"]; ?></td>
                        </tr>
                    <?php $counter += 1;
                    }
                } else { ?>
                    <tr>
                        <td colspan="7" class="tbl-evencontent fth-footer" align="center"> ---No Data --- </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
        <button class="btngreen hov" id="tambah" type="button">&nbsp;TAMBAH</button>
    </div>
</div>

<script type="text/javascript">
    function sendbuser(event) {
        const getbuserid = event.parentElement.parentElement.querySelector("input[name=buser_id]").value
        const getbusername = event.parentElement.parentElement.querySelector("#buser_name").value
        const getbuseremail = event.parentElement.parentElement.querySelector("#buser_email").value
        window.opener.document.querySelector("<?= "#ttd" . $this->who . "user"; ?>").value = `${getbusername} (${getbuserid})`
        window.opener.document.querySelector("<?= "#ttd" . $this->who . "userid"; ?>").value = getbuserid
        window.opener.document.querySelector("<?= "#ttd" . $this->who . "useremail"; ?>").value = getbuseremail
        window.close()
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector("#tambah").addEventListener("click", () => {
            if (document.querySelectorAll("input[type=checkbox]:checked").length > 1) {
                alert("Hanya boleh memilih satu bank cabang pencetakan")
            } else {
                window.opener.document.querySelector("#save_bg_publisher").value = document.querySelector("input[type=checkbox]:checked").parentElement.parentElement.querySelector("#branch_code").value

                window.opener.document.querySelector("#bank_publisher").value = document.querySelector("input[type=checkbox]:checked").parentElement.parentElement.children[2].innerText

                window.close()
            }
        })

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    })
</script>