<script type="text/javascript">
	$(document).ready(function(){
	    $('#fixTable').fixTableHeader();

	    $("#searchtable").keyup(function() {
	        var value = this.value.toLowerCase().trim();

	        $("#myTable tr").each(function(index) {
	            if (!index) return;
	            $(this).find("td").each(function() {
	                var id = $(this).text().toLowerCase().trim();
	                var not_found = (id.indexOf(value) == -1);
	                $(this).closest('tr').toggle(!not_found);
	                return not_found;
	            });
	        });
	    });

	});
</script>

	<div class="row">
	    <div class="col-md-12">
	        <div class="page-bar">
	            <ul class="page-breadcrumb">
		            <li>
		                <span><?php echo $this->language->_('Available Token'); ?></span>
		                <i class="fa fa-angle-right pl-1 pr-1"></i>
		            </li>
		            <li>
		                <?php echo $this->language->_('List'); ?>
		             </li>
	            </ul>
	        </div>
	    </div>
	</div>

	<div class="portlet-body form col-md-12">
			<h5><?=$this->language->_('Available Token')?></h5>
	</div>
	<br>
	<div class="errmsg">
		<?php echo $this->language->_($this->report_msg);?>			
	</div>

	<div class="row">
		<div class="col-md-12">
				<!-- <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post"> -->
					<table align="right">
						<tr style="height:30px">
							
							<td> 
								<?php 
									echo '<button name="pr" class="btngrad" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
								?>
							</td>
							<td>
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
									</div>
									<input type="text" class="search form-control" id="searchtable" placeholder="Search">
								</div>
							</td>
						</tr>
				</table>
			<!-- </form> -->
		</div>
	</div>
	<br>
	
	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
		<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			  <table  border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-bordered table-condensed flip-content table-striped" id="myTable">
			  	<thead>
					<tr height="45px">
						
						<th class="tablehead"><?php echo $this->language->_('Customer'); ?></th>
						<th class="tablehead"><?php echo $this->language->_('User Id'); ?></th>
						<th class="tablehead"><?php echo $this->language->_('User Name'); ?></th>
						<th class="tablehead"><?php echo $this->language->_('Token ID'); ?></th>
						<th class="tablehead"><?php echo $this->language->_('Token Device'); ?></th>
					</tr>
			    </thead>
			    <tbody>
			    	<?php 
					
				    if(empty($this->data)){
				    	echo '<tr><td colspan="11" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
				    } 
					else{ 
						$i = 1;
						foreach($this->data as $row)
				        {
				        	
							$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

							


							// if(trim($strcust[0]) == $this->custId){

				        		echo '<tr>
					        		<td class="'.$td_css.'">'.$row['CUST_NAME'].' ('.$row['CUST_ID'].')</td>	
									<td class="'.$td_css.'"><a href="#">'.$row['USER_ID'].'</a></td>
									<td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
									<td class="'.$td_css.'">'.$row['TOKEN_ID'].'</td>
									<td class="'.$td_css.'">'.$row['TOKEN_DEVICE'].'</td>';
									 //<td class="'.$td_css.'">;
									?>
									<!--
				  	<input type="button" disabled name="revoke" class="btngreen hov" value="<?php echo $this->language->_('Revoke')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','token_id'=>$row->tokenId,'status'=>'8','revoke'=>1),null,true)?>'">
				  				
				  					</td> -->
								  </tr>
							        
					<?php
							 // }
							  
				        }
					}
					?>
			    </tbody>

					<!-- <?php 
					
					echo '<tr>
							<th>No</th>
							<th>'.$this->language->_('Token/User ID').'</th>
							<th>'.$this->language->_('Key Reg').'</th>
							<th>'.$this->language->_('Status').'</th>
							<th>'.$this->language->_('Created').'</th>
				    		<th>'.$this->language->_('Last Success').'</th>
				    		<th>'.$this->language->_('Last Failure').'</th>
				    		<th>'.$this->language->_('Assigned User').'</th>
				    		';?>
					<?php echo '</tr>';
					?> -->
				
					<!-- <?php 
					
				    if($this->tokenData == ''){
				    	echo '<tr><td colspan="11" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
				    } 
					else{ 
						$i = 1;
						foreach($this->tokenData as $row)
				        {
				        	
							$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				        	echo '<tr>
				        			<td class="'.$td_css.'">'.$i++.'</td>
					        		<td class="'.$td_css.'">'.$row->tokenId.'</td>	
									<td class="'.$td_css.'">'.$row->regKeyId.'</td>
									<td class="'.$td_css.'">'.$row->status.'</td>
									<td class="'.$td_css.'">'.$row->created.'</td>
									<td class="'.$td_css.'">'.$row->lastSuccess.'</td>
									<td class="'.$td_css.'">'.$row->lastFailure.'</td>
									<td class="'.$td_css.'">'.$row->assigned.' '.$row->user.'</td>
								  </tr>
							    ';    
				        }
					}
					?> -->
			</table>
		</form>
	</div>
	<div class="col-md-5 mx-auto" align="center">
	    <div class="form-group row ">
			<label class="control-label col-md-12" align="center">
			<div class="formbutton">
				<input onClick="window.location.href='<?php echo $this->url(array('module'=>'customer','controller'=>'view','action'=>'index','user_id'=>$this->user_id),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" type="button">
		        
			</div>                                                            
			</label>
		</div>
	</div>