<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{
	 //pengaturan error messages
	 <?php
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php
	     }
	   ?>
});

</script>


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Bank Table'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Domestic Bank'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
										 <?php echo $this->language->_('Add'); ?>
								 </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
		<div class="protlet-body form col-md-12">
			<table border="0" cellpadding="0" cellspacing="5" width="70%" class="tableform" align="left">
				<tbody>
					<tr>
						<td class="filterarea" id="filterarea">
							<div class="subtopic"><h5><?php echo $this->language->_('Domestic Bank Management');?></h5></div>
						</td>
					</tr>
					<tr>
						<td>
							<?php if($this->success){ ?>
							<div class="alert alert-success"><?php echo $this->language->_('Record Saved'); ?></div><br />
							<?php } ?>

							<?php
									if(count($this->report_msg) > 0){ ?>
									<div class="alert alert-danger"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
							<?php
									 }
								 ?>
						</td>
					</tr>
					<tr>
						<th class="filterarea" id="filterarea">
							<?php echo $this->language->_('New Domestic Bank');?>
						</th>
					</tr>
					<tr>
						<td id="contentarea">
							<form name="domesticBank" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
							<table border="0" cellpadding="5" cellspacing="0" width="100%">
								<tbody>
										<tr>
										<td class="tbl-evencontent" width="40%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk (*) are required');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
									</tr>

									<tr>
										<td class="tbl-evencontent" width="40%"><?php echo $this->language->_('Clearing Code');?> <?php echo $this->language->_('(max 7 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
												<?php echo $this->formText('clearing_code',$this->clearing_code,array('class' => 'col-md-12 form-control' , 'size'=>40,'maxlength'=>7,'onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)'))?>
												<div id="error_clearing_code" class="errmsg"></div>
										</td>
										</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('RTGS Code');?> <?php echo $this->language->_('(max 15 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
												<?php echo $this->formText('swift_code',$this->swift_code,array('class' => 'col-md-12 form-control' ,'size'=>40,'maxlength'=>15,'onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)'))?>
												<div id="error_swift_code" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Bank Name');?> <?php echo $this->language->_('(max 100 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('bank_name',$this->bank_name,array('class' => 'col-md-12 form-control' ,'size'=>40,'maxlength'=>100))?>
											 <div id="error_bank_name" class="errmsg"></div>
										</td>
									</tr>
		<!--
									<tr>
										<td class="tbl-evencontent">Workfield Code (max 1 chars)<strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('WORKFIELD_CODE',$this->WORKFIELD_CODE,array('size'=>40,'maxlength'=>1,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_WORKFIELD_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Bank Office Name (max 20 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('BANK_OFFICE_NAME',$this->BANK_OFFICE_NAME,array('size'=>40,'maxlength'=>20,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_BANK_OFFICE_NAME" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Bank Address (max 50 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('BANK_ADDRESS',$this->BANK_ADDRESS,array('size'=>40,'maxlength'=>50,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_BANK_ADDRESS" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">City Code (max 4 chars)<strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('CITY',$this->CITY,array('size'=>40,'maxlength'=>4,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_CITY" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Province Code (max 4 chars)<strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('PROVINCE_CODE',$this->PROVINCE_CODE,array('size'=>40,'maxlength'=>4,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_PROVINCE_CODE" class="errmsg"></div>
										</td>
									</tr>
									-->
					<!--
									<tr>
										<td class="tbl-evencontent">KBI Code* (max 3 chars)<strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('KBI_CODE',$this->KBI_CODE,array('size'=>40,'maxlength'=>3,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_KBI_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Branch Code (max 4 chars)<strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('BRANCH_CODE',$this->BRANCH_CODE,array('size'=>40,'maxlength'=>4,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_BRANCH_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Branch Name (max 30 chars)<strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('BRANCH_NAME',$this->BRANCH_NAME,array('size'=>40,'maxlength'=>30,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_BRANCH_NAME" class="errmsg"></div>
										</td>
									</tr>
									-->
									<!--
									<tr>
										<td class="tbl-evencontent">Population Status (max 1 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('POP_STATUS_CODE',$this->POP_STATUS_CODE,array('size'=>40,'maxlength'=>1,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_POP_STATUS_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Resident Status (max 1 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('RES_STATUS_CODE',$this->RES_STATUS_CODE,array('size'=>40,'maxlength'=>1,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_RES_STATUS_CODE" class="errmsg"></div>
										</td>
									</tr>
									-->
									<!--
									<tr>
										<td class="tbl-evencontent">Clearing Status (max 1 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('CLR_STATUS',$this->CLR_STATUS,array('size'=>40,'maxlength'=>1,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_CLR_STATUS" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Cord Status (max 1 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('CORD_STATUS_CODE',$this->CORD_STATUS_CODE,array('size'=>40,'maxlength'=>1,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_CORD_STATUS_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Bank Inst Code (max 1 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('BANK_INST_CODE',$this->BANK_INST_CODE,array('size'=>40,'maxlength'=>1,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_BANK_INST_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">Active Date (Datepicker)</td>
										<td class="tbl-evencontent">
											 <?php
													echo $this->datePicker("ACTIVE_DATE", $this->ACTIVE_DATE,array('dateFormat' 		=> $this->jqueryDateFormat,
																												'defaultDate' 		=> 'new Date()',
																												'showOn' 			=> 'button',
																												'buttonImage' 		=> '/images/calendar.gif',
																												'buttonImageOnly' 	=> true,
																												'changeMonth' 		=> true,
																												'changeYear' 		=> true,),
																												array());
											?>
											 <div id="error_BANK_INST_CODE" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent">BI Account (max 12 chars)</td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('BI_ACCOUNT',$this->BI_ACCOUNT,array('size'=>40,'maxlength'=>12,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_BI_ACCOUNT" class="errmsg"></div>
										</td>
									</tr>
		-->
									<!-- <tr>
										<td class="tbl-evencontent">City (max 15 chars)<strong class="formreq"></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('city',$this->city,array('size'=>40,'maxlength'=>15))?>
											 <div id="error_city" class="errmsg"></div>
										</td>
									</tr> -->

									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td class="button-area" id="button-area" colspan="2">
											<div class="formbutton">

												<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/domesticbank/index\'','class'=>'btnwhite hov')); ?>
											<?php echo $this->formHidden('bank_id',$this->bank_id) ?>
											<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
												<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','bank_id'=>$this->bank_id),null,true)?>'">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
</div>
