<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>

<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}

	h5 {
		font-size: 1.4em !important;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('BG Workflow') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Approve Process') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Detail') ?></span>
				</li>

			</ul>
		</div>
	</div>
</div>

<br>


<?php if ($this->err) { ?>
	<div class="errmsg">
		<?php
		echo $this->errmsg;
		?>
	</div><br />
<?php
}
?>


<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">

	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
				</center>

			</div>

			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="row">
							<div class="col-sm-3">
								<label class="textGray">Company</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="textGray">NPWP</label>
							</div>
							<div class="col-sm-9">
								<label> <?php echo $this->compinfo['CUST_NPWP']; ?></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="textGray">Address</label>
							</div>
							<div class="col-sm-9">
								<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="textGray">City</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->compinfo['CITY_NAME']; ?></label>
							</div>
						</div>
						<div class=" row">
							<div class="col-sm-3">
								<label for="" class="textGray"><?= $this->language->_('Company Office Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->compinfo['CUST_PHONE']; ?> </label>

							</div>
						</div>
						<div class=" row">
							<div class="col-sm-3">
								<label for="" class="textGray"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_CP']; ?> </label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="textGray">Contact Number</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_CONTACT_NUMBER']; ?></label>
							</div>
						</div>
						<div class=" row">
							<div class="col-sm-3">
								<label for="" class="textGray"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_EMAIL']; ?> </label>

							</div>
						</div>


					</div>
					<div class="col-sm-1"></div>

				</div>





			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid content-box px-3" style="border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
	<div style="overflow-x: scroll;" id="workflow_process">
		<table border="0" class="mb-4">

			<?php
			if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
				$makerAlign = "right";
				$makerHrStyle = "width: 25%;";
				$makerCircleStyle = 'padding-right: 10px;text-align:center;';
				$makerFontStyle = "padding-right: 17px;text-align:center;";

				$verifyAlign = "right";
				$verifyHrStyle = "width: 25%;";
				$verifyCircleStyle = 'padding-right: 10px;text-align:center;';
				$verifyFontStyle = "padding-right: 17px;text-align:center;";

				$releaserAlign = "left";
				$releaserCircleStyle = 'padding-left: 10px;text-align:center;';
				$releaserFontStyle = "padding-left: 12px;text-align:center;";
				$releaserText = "2";
			?>

			<?php



			} else {
				$makerAlign = "center";
				$releaserAlign = "center";
				$approverText = "3";
				$releaserText = "4";
			}

			if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
				$approverText = "2";
				$releaserText = "3";
			} elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
				$releaserText = "3";
			}

			?>


			<tr>
				<td align="center" class="px-3">
					<?php echo (!empty($this->makerStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
				</td>
				<td>
					<hr class="hrline active ?>">
				</td>
				<td align="center" class="px-3">
					<?php echo (!empty($this->approverStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
				</td>
				<td>
					<hr class="hrline active ?>">
				</td>
				<td align="center" class="px-3">
					<?php echo (!empty($this->releaserStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
				</td>
				<?php if ($this->isinsurance) { ?>
					<td>
						<hr class="hrline <?= $this->insuranceStatus; ?>">
					</td>
					<td align="center" class="px-3"><?php echo $this->insuranceNameCircle; ?></td>
				<?php } ?>
				<td>
					<hr class="hrline active">
				</td>
				<td align="center" class="px-3"><?php echo $this->verifyNameCircle; ?></td>
				<td>
					<hr class="hrline active">
				</td>

				<td align="center" class="px-3"><?php echo $this->bankReviewNameCircle; ?></td>
				<td>
					<hr class="hrline active">
				</td>
				<td align="center" class="px-3">

					<?php echo $this->releaserNameCircle; ?>

				</td>
				<td>
					<hr class="hrline active">
				</td>

				<!-- tahapan tanda tangan dst -->

				<td align="center" class="px-3">
					<button class="btnCircleGroup" disabled></button>
				</td>
				<td>
					<hr class="hrline active">
				</td>

				<td align="center" class="px-3">
					<button class="btnCircleGroup" disabled></button>
				</td>
				<td>
					<hr class="hrline active">
				</td>

				<td align="center" class="px-3">
					<button class="btnCircleGroup" disabled></button>
				</td>
			</tr>
			<tr>
				<td align="center" class="pt-2"><?= $this->language->_('Maker') ?></td>
				<td></td>

				<td align="center" class="pt-2"><?= $this->language->_('Approver') ?></td>
				<td></td>

				<td align="center" class="pt-2"><?= $this->language->_('Releaser') ?></td>
				<td></td>

				<?php
				if ($this->isinsurance) {
				?>
					<td align="center" class="pt-2">Principle Agreement</td>
					<td></td>
				<?php } ?>

				<td align="center"><?= $this->language->_('Bank Verification') ?></td>
				<td></td>

				<td align="center">Bank Reviewer</td>
				<td></td>

				<td align="center">Bank Approver</td>
				<td></td>

				<!-- tahapan pecnetakan -->
				<td align="center">Persiapan TTD</td>
				<td></td>

				<td align="center">TTD Bank</td>
				<td></td>

				<td align="center">Pencetakan</td>
			</tr>

			<!-- boundary -->
			<tr>
				<td align="center" class="pt-2"></td>
				<td></td>

				<td align="center" class="pt-2"></td>
				<td></td>

				<td align="center" class="pt-2"></td>
				<td></td>

				<?php
				if ($this->isinsurance) {
				?>
					<td align="center" class="pt-2"></td>
					<td></td>
				<?php } ?>

				<td align="center"></td>
				<td></td>

				<td align="center"></td>
				<td></td>

				<td align="center"><?php
									echo $this->policyBoundary;
									?></td>
				<td></td>

				<!-- tahapan pecnetakan -->
				<td align="center"></td>
				<td></td>

				<td align="center"></td>
				<td></td>

				<td align="center"></td>
			</tr>

			<tr>
				<td align="center"></td>
				<td></td>
				<td align="center"></td>
				<td></td>
				<td align="center"></td>
				<td></td>

				<?php
				if ($this->isinsurance) {
				?>
					<td></td>
					<td></td>
				<?php } ?>

				<td align="center"></td>
				<td></td>
				<td align="center"></td>
				<td></td>
				<td align="center"></td>
				<td></td>

				<!-- tahapan tanda tangan dst -->
				<td align="center"></td>
				<td></td>
				<td align="center"></td>
				<td></td>
				<td align="center"></td>
			</tr>
			<tr>
				<td align=center" class="pt-2">
					<?php echo $this->makerBy; ?>
				</td>
				<td></td>
				<td align=center" class="pt-2">
					<?php echo $this->approverBy; ?>
				</td>
				<td></td>
				<td align=center" class="pt-2">
					<?php echo $this->releaserBy; ?>
				</td>
				<td></td>

				<?php
				if ($this->isinsurance) {
				?>
					<td align=center" class="pt-2">
						<?php echo $this->insuranceApprovedBy; ?>
					</td>
					<td></td>
				<?php } ?>

				<td align="center">
					<?php echo $this->verifyApprovedBy; ?>
				</td>
				<td></td>

				<td align="center">
					<?php echo $this->bankReviewedBy; ?>
				</td>
				<td>

				</td>

				<td align="center">

					<?php
					if (!empty($this->approverApprovedBy)) {
						foreach ($this->approverApprovedBy as $row => $value) {
							echo $value;
						}
					}
					?>
				</td>
				<td>

				</td>

				<!-- tahapan tanda tangan dst -->
				<td align="center">
					<?= ""; ?>
				</td>
				<td></td>
				<td align="center">
					<?= ""; ?>
				</td>
				<td></td>
				<td align="center">
					<?= ""; ?>
				</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<a href="#" onclick="modalmoredetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>

</div>

<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
				</center>
			</div>

			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">


						<?php echo $this->action(
							'index',
							'eformhistory',
							'tools',
							array('bgnumb' => $this->BG_REG_NUMBER)
						); ?>

					</div>
					<div class="col-sm-1"></div>

				</div>

			</div>
			<div class="modal-footer">
				<center style="width:100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>
<br>
<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Bank Guarantee Request Detail') ?></h5>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nomor Registrasi') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= substr($this->BG_REG_NUMBER, 0, 4) . "-" . substr($this->BG_REG_NUMBER, 4, 3) . "-" . substr($this->BG_REG_NUMBER, 7, 2) . "-" . substr($this->BG_REG_NUMBER, 9);  ?></label>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('BG Number') ?></label>
			</div>
			<div class="col-md-9">
				<label style="color: red;"><strong><?php echo $this->BG_NUMBER; ?></strong></label>
			</div>
		</div> -->

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Subject') ?></label>
			</div>
			<div class="col-md-9">
				<label><strong><?php echo $this->BG_SUBJECT; ?></strong></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->branchname; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status') ?></label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->arrStatus[$this->status]; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Tipe Usulan') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->suggestionType; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan') ?></label>
			</div>
			<div class="col-md-9">
				<label><?php
						echo $this->reason; ?></label>
			</div>
		</div>

		<br />
		<div class="row">
			<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
				<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">Company</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></label>
					</div>
				</div>
				<!--<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">City</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_CITY']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Contact Number</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo '(' . $this->compinfo['CUST_EXT'] . ')' . $this->compinfo['CUST_FAX']; ?></label>
									</div>
								</div> -->
				<a href="#" onclick="bankApp();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>
			</div>
		</div>
		<form action="" id="ApproveForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'Approvedetail', 'bgnumb' => $this->BG_REG_NUMBER), null, true) ?>">
			<!-- <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?= $this->language->_('Usage Purpose') ?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
                
                <div class="form-group row">
                    <?php if ($this->checkp1) {
					?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Bidding Guarantee</label>
                    </div>
					 <?php
					} ?>
                    <?php if ($this->checkp2) { ?><div class="col-sm-5">
                        <label for="">
						   
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Advance Payment Guarantee</label>
                    </div>
					<?php
					} ?>
                    <?php if ($this->checkp3) {
					?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Performance Bond</label>
                    </div><?php
						} ?>
                    <?php if ($this->checkp4) {
					?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Maintenance Guarantee</label>
                    </div>
					<?php
					} ?>
                </div>
				<?php if ($this->checkp5) {
				?>
                <div class="form-group row pb-2">
                    <div class="col-sm-10">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Others :</label>
											<label><?php echo $$this->others; ?>		</label>				
                    </div>
                </div>
				<?php
				} ?>
							</div>
            </div>
        </div> -->

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row">
						<div class="col">
							<h5><?= $this->language->_('Type of Bank Guarantee') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check1)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify1; ?>)</label>
							<?php } ?>
						</div>
					</div>

					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Type of Bank Guarantee') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php
										//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
										echo $this->arrbgType[$this->usage_purpose['0']]; ?> </label>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row">
						<div class="col">
							<h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check2)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify2; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%; padding-top:2px;">

						<div class="row pt-1">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Bank Guarantee Nominal</label>
							</div>
							<div class="col-sm-7">
								<div class="input-group" id="">

									<label style="color: red;"><?php echo 'IDR ' . number_format($this->bank_amount, 2); ?></label>
									<?php
									if ($this->warranty_type == '3') {
										$current_limit = $this->current_limit_ins;
									}
									if ($this->warranty_type == '2') {
										$current_limit = $this->current_limit;
									}
									?>
									<?php if (($this->warranty_type == '2' || $this->warranty_type == '3') && ($this->bank_amount >= $current_limit) && false) { ?>
										<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif_bg">
											<div class="d-flex align-items-center justify-content-center">
												<span>!</span>
											</div>
										</div>
										<div class="ml-2" style="display: none; position: relative" id="error_contain_bg">
											<div class="ml-2 p-2" style="color: red;border: 1px solid red;display: inline;position: absolute;width: 400px; top:-10px;background-color: white;z-index: 1;">
												<span id="limit_err" class="text-danger">Nominal BG yang diajukan tidak boleh melebihi limit yang masih tersedia (limit tersedia : <?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($current_limit) . '.00'; ?>)</span>
											</div>
										</div>
										<script type="text/javascript">
											document.addEventListener("DOMContentLoaded", () => {
												document.querySelector("#error_notif_bg").addEventListener("mouseover", () => {
													document.querySelector("#error_contain_bg").style.display = "inline"
												})
												document.querySelector("#error_notif_bg").addEventListener("mouseleave", () => {
													document.querySelector("#error_contain_bg").style.display = "none"
												})
											});
										</script>
									<?php } ?>
								</div>
							</div>
						</div>
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Start From</label>
							</div>
							<div class="col-sm-9 form-inline" style="float:left">
								<label><?php echo $this->updateStart; ?>
									&nbsp;To&nbsp;
									<?php echo $this->updateEnd; ?></label>
								&nbsp;&nbsp;&nbsp;
								<label class="textGray" id="daysTotal">&nbsp;</label>
								<?php echo $this->daysTotal; ?>


							</div>
						</div>
						<div class="form-group row" style="">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Claim Period</label>
							</div>
							<div class="col-sm-9">
								<?php
								$addday = '+ ' . $this->claim_period . ' day';
								$Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
								?>
								<label><?php echo Application_Helper_General::convertDate($Date2, $this->viewDateFormat, $this->defaultDateFormat); ?></label>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row">
						<div class="col">
							<h5><?= $this->language->_('Bank Guarantee Recipient') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check3)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify3; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Recipient Name') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->recipent_name; ?> </label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Address') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->address; ?> </label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('City') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->city; ?> </label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Phone Office Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->phone; ?> </label>

							</div>
						</div>
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->contact_person; ?> </label>

							</div>
						</div>
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Contact Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->contact_number; ?> </label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->contact_email; ?> </label>

							</div>
						</div>

						<?php
						if ($this->obligee_code) {
						?>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Special Obligee Code') ?></label>
								</div>
								<div class="col-sm-9">
									<label>
										<?php

										//if ($this->obligee_code){

										echo $this->obligee_name . ' (' . $this->obligee_code . ') ';

										// } else{
										// 	echo "-";
										// }			
										?>
									</label>

								</div>
							</div>
						<?php
						}
						?>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row">
						<div class="col">
							<h5><?= $this->language->_('Guarantee Transaction') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check4)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify4; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%; padding-top:2px;">
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label class="textGray"><?= $this->language->_('Procurement of Goods/Services') ?></label>
							</div>
							<div class="col-sm-9 d-flex align-items-center">
								<label class="col-form-label"><?= $this->comment; ?></label>
							</div>
						</div>

						<?php if ($this->fileName) { ?>
							<div class="form-group row pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Document Type</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->GT_TYPE . '&nbsp;&nbsp;' . $this->GT_OTHERS; ?></label>
								</div>
							</div>
							<div class="form-group row pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Document Number</label>
								</div>
								<div class="col-sm-9 d-flex align-items-center">
									<label class="m-0"><?php echo $this->GT_NUMBER; ?></label>&nbsp;&nbsp;<button onclick="location.href = '/eform/bgdetail/index/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1';" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</button>
								</div>
							</div>
							<div class="form-group row pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Document Date</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->GT_DATE; ?></label>
								</div>
							</div>
						<?php } ?>
						<!--<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Nominal</label>
									</div>
									<div class="col-sm-7">
											<div class="input-group" id="">
												
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->bank_amount); ?></label>
												
											</div>
									</div>
								</div>-->

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row">
						<div class="col">
							<h5><?= $this->language->_('Counter Warranty') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check5)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify5; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%;padding-right: 2%;margin-bottom: 1rem">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Counter Warranty Type</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->warranty_type_text; ?></label>
								<?php
								if ($this->warranty_type == '2' or $this->warranty_type == '3') { // 2: LF 3:INS
									if ($this->status_linefacility == "2" or $this->status_linefacility == "3" or $this->status_linefacility == "4") {
								?>
										<small id="limit_err" class="text-danger">Status : (<?= $this->statusArr[$this->status_linefacility]; ?>)</small>

								<?php
									}
								}
								?>

								<?php if ($this->errorStatusAsuransi || $this->errorTickerSize || $this->errorStatusCustomer) { ?>
									<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif_lf">
										<div class="d-flex align-items-center justify-content-center">
											<span>!</span>
										</div>
									</div>
									<div class="ml-2" style="display: none; position: relative" id="error_contain_lf">
										<div class="ml-2 p-2" style="color: red;border: 1px solid red;display: inline;position: absolute;width: 400px; top:-10px;background-color: white;z-index: 1;">
											<?php if ($this->errorStatusAsuransi) { ?>
												<span id="errorStatusAsuransi" class="text-danger"><?= $this->errorStatusAsuransi; ?></span>
												<br>
											<?php } ?>
											<?php if ($this->errorStatusCustomer) { ?>
												<span id="errorStatusCustomer" class="text-danger"><?= $this->errorStatusCustomer; ?></span>
												<br>
											<?php } ?>
											<?php if ($this->errorTickerSize) { ?>
												<span id="errorTickerSize" class="text-danger"><?= $this->errorTickerSize; ?></span>
											<?php } ?>
										</div>
									</div>
									<script type="text/javascript">
										document.addEventListener("DOMContentLoaded", () => {
											document.querySelector("#error_notif_lf").addEventListener("mouseover", () => {
												document.querySelector("#error_contain_lf").style.display = "inline"
											})
											document.querySelector("#error_notif_lf").addEventListener("mouseleave", () => {
												document.querySelector("#error_contain_lf").style.display = "none"
											})
										});
									</script>
								<?php } ?>

							</div>
						</div>
						<!-- type1 -->

						<?php if ($this->warranty_type == '1') { ?>
							<div id="wrType1">
								<div class="form-group row">
									<div class="col-sm-12">
										<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header" style="background-color: #005587">Own Account </th>
													<th class="tablehead fth-header" style="background-color: #005587">Account Number</th>
													<th class="tablehead fth-header" style="background-color: #005587">Account Name</th>
													<th class="tablehead fth-header" style="background-color: #005587">Type</th>
													<th class="tablehead fth-header" style="background-color: #005587">Currency</th>
													<th class="tablehead fth-header" style="background-color: #005587">Nominal</th>
												</tr>
											</thead>
											<?php foreach ($this->fullmember as $key => $vl) { ?>
												<tr>
													<td>
														<?php
														if ($vl['FLAG'] == '1') {
															echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
														} else {
															echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
														?>
															<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
														<?php } ?>
													</td>
													<td>
														<?php echo $vl['ACCT']; ?>
													</td>
													<td><?php echo $vl['NAME']; ?></td>
													<td><?= $vl["TYPE"]; ?></td>
													<td><?= $vl["CURRENCY"]; ?></td>
													<td><?php echo Application_Helper_General::displayMoneyplain($vl['AMOUNT']) . '.00'; ?>
														<?php if ($this->errorStatusAccount[$vl['ACCT']] || $this->errorProductTypeGiro[$vl['ACCT']] || $this->errorProductTypeDeposito[$vl['ACCT']] || $this->errorAccountType[$vl['ACCT']] || $this->errorAccountRate[$vl['ACCT']] || $this->errorAccountRate[$vl['ACCT']]) { ?>
															<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif<?= $key; ?>">
																<div class="d-flex align-items-center justify-content-center">
																	<span>!</span>
																</div>
															</div>
														<?php } ?>
														<div style="display: none; position: relative" id="error_contain<?= $key; ?>">
															&nbsp;
															<div class="position-absolute" style="width:300px;top:-5px;right:30px; background-color: white; z-index: 1">

																<?php if ($this->errorStatusAccount[$vl['ACCT']]) { ?>
																	<span style="font-size: 1.2em !important" id="errorStatusAccount" class="text-danger"><?= $this->errorStatusAccount[$vl['ACCT']]; ?></span>
																	</br>
																<?php } ?>

																<?php
																if ($vl["TYPE"] == 'Giro') {
																	if ($this->errorProductTypeGiro[$vl['ACCT']]) {
																?>
																		<span style="font-size: 1.2em !important" id="errorProductTypeGiro" class="text-danger"><?= $this->errorProductTypeGiro[$vl['ACCT']]; ?></span>
																		</br>
																<?php
																	}
																}
																?>
																<?php
																if ($vl["TYPE"] == 'Deposito') {
																	if ($this->errorProductTypeDeposito[$vl['ACCT']]) {
																?>
																		<span style="font-size: 1.2em !important" id="errorProductTypeDeposito" class="text-danger"><?= $this->errorProductTypeDeposito[$vl['ACCT']]; ?></span>
																		</br>
																<?php
																	}
																}
																?>
																<?php if ($this->errorAccountType[$vl['ACCT']]) { ?>
																	<span style="font-size: 1.2em !important" id="errorAccountType" class="text-danger"><?= $this->errorAccountType[$vl['ACCT']]; ?></span>
																	</br>
																<?php } ?>
																<?php if ($this->errorAccountRate[$vl['ACCT']]) { ?>
																	<span style="font-size: 1.2em !important" id="errorAccountRate" class="text-danger"><?= $this->errorAccountRate[$vl['ACCT']]; ?></span>
																	</br>
																<?php } ?>
																<?php if ($this->errorRekeningJaminanDeposito[$vl['ACCT']]) { ?>
																	<span style="font-size: 1.2em !important" id="errorRekeningJaminanDeposito" class="text-danger"><?= $this->errorRekeningJaminanDeposito[$vl['ACCT']]; ?></span>
																<?php } ?>
															</div>
														</div>

													</td>
												</tr>

												<?php
												if ($this->errorStatusAccount[$vl['ACCT']] || $this->errorProductTypeGiro[$vl['ACCT']] || $this->errorProductTypeDeposito[$vl['ACCT']] || $this->errorAccountType[$vl['ACCT']] || $this->errorAccountRate[$vl['ACCT']] || $this->errorAccountRate[$vl['ACCT']]) { ?>
													<script type="text/javascript">
														document.querySelector("#error_notif<?= $key; ?>").addEventListener("mouseover", () => {
															console.log("test");
															document.querySelector("#error_contain<?= $key; ?>").style.display = "inline-block"
														})

														document.querySelector("#error_notif<?= $key; ?>").addEventListener("mouseleave", () => {
															console.log("test");
															document.querySelector("#error_contain<?= $key; ?>").style.display = "none"
														})
													</script>
											<?php }
											} ?>
										</table>
										<small id="minpenjaminan_err" class="text-danger"><?= $this->minpenjaminan_err; ?></small>
									</div>

								</div>

							</div>

						<?php } ?>
						<!-- type2 -->

						<?php if ($this->warranty_type == '2') { ?>
							<div id="wrType2">
								<div id="listwr" style="width: 100%">
									<div id="wherelist-1">
										<?php if (!empty($this->owner1)) { ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner1; ?></label>
												</div>
											</div>
											<div class="form-group row" style="display:none;">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
												</div>
												<div class="col-sm-9">
													<label class="col-form-label"><?php echo 'IDR ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label"><?= $this->language->_('Counter Nominal'); ?></label>
												</div>
												<div class="col-sm-9">
													<label class="col-form-label"><?php echo 'IDR ' . number_format(str_replace(",", "", $this->amountowner1), 2); ?></label>
													<?php if ($this->current_limit < 0) { ?>
														<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif_limit">
															<div class="d-flex align-items-center justify-content-center">
																<span>!</span>
															</div>
														</div>
														<div class="ml-2 p-2" style="color: red; border: 1px solid red; display: none" id="error_contain_limit">
															Limit tidak mencukupi
														</div>
														<script type="text/javascript">
															document.addEventListener("DOMContentLoaded", () => {
																document.querySelector("#error_notif_limit").addEventListener("mouseover", () => {
																	document.querySelector("#error_contain_limit").style.display = "inline"
																})
																document.querySelector("#error_notif_limit").addEventListener("mouseleave", () => {
																	document.querySelector("#error_contain_limit").style.display = "none"
																})
															});
														</script>
													<?php } ?>
												</div>
											</div>
										<?php } ?>


										<?php if (!empty($this->owner2)) { ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 2</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner2; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>

												</div>
											</div>
										<?php } ?>


										<?php if (!empty($this->owner3)) { ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 3</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner3; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>

												</div>
											</div>
										<?php } ?>


									</div>
								</div>

							</div>

						<?php } ?>
						<!-- type3 -->

						<?php if ($this->warranty_type == '3') { ?>
							<div id="wrType3">
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Insurance Name</label>
									</div>
									<div class="col-sm-9">
										<label><?php
												echo $this->insuranceName; ?></label>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Insurance Branch</label>
									</div>
									<div class="col-sm-9">
										<label><?php
												echo $this->insuranceBranch; ?></label>

									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Nomor Ijin Prinsip</label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->principleData["Principle Agreement Number"] . " (" . date("d M Y", strtotime($this->principleData["Principle Agreement Granted Date"])) . ")"; ?></label>&nbsp;&nbsp;
										<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Nomor Kontra Garansi</label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->principleData["Counter Guarantee Number"]; ?></label>
										<?php if (false) : ?>
											<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										<?php endif ?>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Nilai Jaminan</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Nomor Rekening Cabang</label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->insuranceAcct; ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Jasa Penjaminan</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Jasa Administrasi</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bea Materai</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Total</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format(($this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"]), 2); ?></label>
									</div>
								</div>
								<?php if (false) { ?>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-9" style="padding-right: 0px;">
											<div class="input-group" id="">

												<label> <?php
														echo 'No. ' . $this->PrincipalAgreement; ?></label>
												<label><?php
														echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
												&nbsp;
												&nbsp;
												<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
											</div>
										</div>

									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">

												<label><?php
														echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

											</div>
										</div>
									</div>
								<?php } ?>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row justify-content-between">

						<div>
							<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?><a style="padding-left: 5px;" onClick="provisionModal()">
									<!--<i class="iconCircle fas fa-exclamation-circle" style="font-size: 20px;"></i>-->
								</a></h5>
						</div>

						<div class="mr-2">

							<?php if (empty($this->check6)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify6; ?>)</label>
							<?php } ?>
						</div>

					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2 pb-1">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq">
										<font color="red">&nbsp;*</font>
									</strong></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->acct . '(' . $this->chargeto_ccy . ') / ' . $this->chargeto_name; ?></label>
								<?php if ($this->error || $this->errorChargeStatusAccount || $this->errorChargeProductType || $this->errorChargeCurrency) { ?>
									<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif">
										<div class="d-flex align-items-center justify-content-center">
											<span>!</span>
										</div>
									</div>
								<?php } ?>
								<div style="display: none;" id="error_contain">
									<div class="position-absolute" style="width:400px;top:0">
										<?php if ($this->error) { ?>
											<div class="errmsg">
												<?= $this->errorcharge ?></div><br />
										<?php } ?>
										<?php if ($this->errorChargeStatusAccount) { ?>
											<small id="errorChargeStatusAccount" class="text-danger" style="font-size: 1.2em !important"><?= $this->errorChargeStatusAccount; ?></small>
											</br>
										<?php } ?>
										<?php if ($this->errorChargeProductType) { ?>
											<small id="errorChargeProductType" class="text-danger" style="font-size: 1.2em !important"><?= $this->errorChargeProductType; ?></small>
											</br>
										<?php } ?>
										<?php if ($this->errorChargeCurrency) { ?>
											<small id="errorChargeCurrency" class="text-danger" style="font-size: 1.2em !important"><?= $this->errorChargeCurrency; ?></small>
										<?php } ?>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Provision Fee</label>
							</div>
							<div class="col-sm-9">
								<div class="input-group input-group-sm">
									<label><?= $this->data["REDEBATE_AMOUNT"] == '0' ? number_format($this->provisionFee, 2) : number_format($this->data["REDEBATE_AMOUNT"], 2); ?> (%)</label>&nbsp;
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Administration Fee</label>
							</div>
							<div class="col-sm-9">
								<div class="input-group input-group-sm">
									<label>IDR <?= number_format($this->adminFee, 2); ?></label>&nbsp;

								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Stamp Fee</label>
							</div>
							<div class="col-sm-9">
								<div class="input-group input-group-sm">
									<label>IDR <?= number_format($this->stampFee, 2); ?></label>&nbsp;

								</div>
							</div>
						</div>

						<!--

						<?php if ($this->warranty_type != 3) { ?>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Provision Fee</label>
								</div>
								<div class="col-sm-7">
									<label><?= number_format($this->cash_collateral["CHARGES_PCT"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?>)</label>

								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Administration Fee</label>
								</div>
								<div class="col-sm-7">
									<label>IDR <?= number_format($this->data["ADM_FEE"], 2); ?></label>

								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Stamp Fee</label>
								</div>
								<div class="col-sm-7">
									<label>IDR <?= number_format($this->data["STAMP_FEE"], 2); ?></label>

								</div>
							</div>
						<?php } else { ?>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Biaya Provisi Bank</label>
								</div>
								<div class="col-sm-9">
									<label>
										<?= number_format($this->provision_insurance["FEE_PROVISION"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?>)
									</label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Biaya Administrasi Bank</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->data["ADM_FEE"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Bea Materai Bank</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->data["STAMP_FEE"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Jasa Penjaminan Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Jasa Administrasi Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Bea Materai Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">TOTAL</label>
								</div>
								<div class="col-sm-9">
									<label>
										IDR <?= number_format($this->data["PROVISION_FEE"] + $this->data["ADM_FEE"] + $this->data["STAMP_FEE"] + $this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"], 2); ?>
									</label>
								</div>
							</div>
						<?php } ?>
						
						-->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust form-group row">
						<div class="col">
							<h5><?= $this->language->_('Format and Language') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check7)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify7; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Publishing Form</label>
							</div>
							<div class="col-sm-7">
								<label><?php
										echo $this->publishForm; ?></label>

							</div>
						</div>

						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Bank Guarantee Format</label>
							</div>
							<div class="col-sm-7">
								<label> <?= $this->bankFormat; ?> </label>
							</div>
						</div>
						<?php if ($this->bankFormatNumber == 2) { ?>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Sample Format (format.doc)</label>
								</div>
								<div class="col-sm-7">
									<label>
										<?php

										$special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
										$new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

										$new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
										echo $new_special_format;

										?>
										<a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									</label>
								</div>
							</div>
						<?php } ?>

						<?php if ($this->bankFormatNumber == 1) { ?>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Language<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<label><?php
											echo $this->languagetext; ?></label>

								</div>
							</div>
						<?php } ?>
						<br>

					</div>
				</div>
			</div>

			<?php if (count($this->othersAttachment) > 0) { ?>
				<div class="row">
					<div class="col-md-12 mb-3" style="height: auto; position: relative;">
						<div class="padding-header-cust row">
							<h5><?= $this->language->_('Others Attachment Documents') ?></h5>
						</div>
						<div style="padding-left:2%" class="mt-3">
							<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
								<thead>
									<tr height="45px">
										<th class="tablehead fth-header" style="background-color: #005587">File Name </th>
										<th class="tablehead fth-header" style="background-color: #005587">Bank Footnotes</th>
										<th class="tablehead fth-header" style="background-color: #005587">Action</th>
									</tr>
								</thead>

								<?php foreach ($this->othersAttachment as $file) {

									//trim file name 
									$x = 1;
									$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
									$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
									$fileName = substr($file["BG_FILE"], $getLength);

									// end trim file name
								?>
									<tr>
										<td><label for="" class="textGray col-form-label">Attachment<?= $x ?></label> </td>
										<td><input type="text" name="Footnotes" class="form-control" value="<?= $file["FILE_NOTE"]; ?>" id="autocomplete" readonly></td>
										<td><button type="button" onclick="location.href = '/eformworkflow/downloadfile/index/bgnumb/<?= $this->BG_REG_NUMBER ?>/download/<?= $file['INDEX'] ?>';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>

											</button></td>

									</tr>
								<?php
									$x++;
								} ?>






							</table>


						</div>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->data["COUNTER_WARRANTY_TYPE"] != "1") { ?>
				<div class="row">
					<div class="col-md-12 mb-3" style="height: auto; position: relative;">
						<div class="padding-header-cust row">
							<div class="col">
								<h5><?= $this->language->_('Informasi Fasilitas Penyediaan Dana SLIK OJK') ?></h5>
							</div>
							<div class="col" style="text-align:right;">
								<?php if (empty($this->check9)) { ?>
								<?php } else { ?>
									<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify9; ?>)</label>
								<?php } ?>
							</div>
						</div>
						<div style="padding-left:2%" class="mt-2">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Informasi SLIK OJK</label>
								</div>

								<div class="col-sm-7 d-flex align-items-center">
									<label class="m-0"><?php echo $this->slikojk; ?></label>&nbsp;&nbsp;<a href="/eformworkflow/downloadfile/slikojk/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->data["BG_FORMAT"] == "2") { ?>
				<div class="row">
					<div class="col-md-12 mb-3" style="height: auto; position: relative;">
						<div class="padding-header-cust row">
							<div class="col">
								<h5><?= $this->language->_('Format Sertifikat Yang Disetujui') ?></h5>
							</div>
							<div class="col" style="text-align:right;">
								<?php if (empty($this->check10)) { ?>
								<?php } else { ?>
									<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify10; ?>)</label>
								<?php } ?>
							</div>
						</div>
						<div style="padding-left:2%" class="mt-2">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Format Disetujui</label>
								</div>

								<div class="col-sm-7 d-flex align-items-center">
									<label class="m-0"><?php echo $this->agreeformat; ?></label>&nbsp;&nbsp;<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</div>
							</div>

							<?php if (!empty($this->data["MEMO_LEGAL"])) { ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Memo Persetujuan Legal</label>
									</div>

									<div class="col-sm-7 d-flex align-items-center">
										<label class="m-0"><?php echo $this->memolegal; ?></label>&nbsp;&nbsp;<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/2" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									</div>
								</div>
							<?php } ?>
						</div>
					</div>
				</div>
			<?php } ?>

			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust row">
						<div class="col">
							<h5><?= $this->language->_('Checklist Dokumen Bank Garansi') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check11)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify11; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div class="mt-2">
						<div class="col-md-12" style="height: auto; position: relative;">
							<br>
							<label for="">
								<input class="chkbut2" type="checkbox" name="suratpermohonanbg" id="suratpermohonanbg" value="" disabled checked>&nbsp;Form Aplikasi / Surat Kuasa Debet / Perjanjian Gadai / Paket Analisa Kredit (PAK).<span style='color:red;'>*</span>
								<a href="/eformworkflow/downloadfile/suratpermohonan/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</a>
							</label>
							<br>
							<label for="">
								<input class="chkbut2" type="checkbox" name="aktapendirian" id="aktapendirian" value="" disabled checked>&nbsp;Akta Pendirian dan/atau Akta Perubahan Terakhir yang sudah mendapat pengesahan Menkumham<span style='color:red;'>*</span>
							</label>
							<br>
							<label for="">
								<input class="chkbut2" type="checkbox" name="penerimaanpemberitahuan" id="penerimaanpemberitahuan" value="" disabled checked>&nbsp;Penerimaan Pemberitahuan Menkumham/Pengesahan Kemenkumham<span style='color:red;'>*</span>
							</label>
							<br>
							<label for="">
								<input class="chkbut2" type="checkbox" name="legalitaslainnya" id="legalitaslainnya" value="" disabled checked>&nbsp;Legalitas lainnya<span style='color:red;'>*</span>
							</label>
							<br>
							<label for="">
								<input class="chkbut2" type="checkbox" name="buktirekening" id="buktirekening" value="" disabled checked>&nbsp;Bukti Kepemilikan Rekening di Bank BTN<span style='color:red;'>*</span>
							</label>
							<br>
							<label for="">
								<input class="chkbut2" type="checkbox" name="datasaham" id="datasaham" value="" disabled checked>&nbsp;Data Pengurus dan Pemegang Saham<span style='color:red;'>*</span>
							</label>
							<br>
							<?php if ($this->warranty_type == 3) { ?>
								<label for="">
									<input type="checkbox" name="ijinprinsip" class="chkbut2" id="ijinprinsip" value="" disabled checked>&nbsp;Ijin Prinsip Asuransi<span style='color:red;'>*</span>
								</label>
								<br>
							<?php } ?>
							<label for="">
								<input class="chkbut2" type="checkbox" name="dokumenpokok" id="dokumenpokok" value="" disabled checked>&nbsp;Dokumen pokok yang menjadi dasar penerbitan Bank Garansi<span style='color:red;'>*</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<?php

			if ($this->validbtn == false) {
			?>
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust form-group row" style="background-color: #0000ff;">
							<div class="col">
								<h5><?= $this->language->_('Pernyataan Pejabat Bank') ?></h5>
							</div>
						</div>
						<br>
						<label for=""><input class="chkbut" type="checkbox" name="chkpremi" id="chkpremi" value="">&nbsp;Saya telah melakukan verifikasi terhadap Dokumen Awal Prinsipal.<a href="javascript:void(0)" onclick="javascript:openwindow('/preliminary/index/index/view/1/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>',900,600);"><u>Lihat Dokumen</u></a></label>
						<br>
						<label for=""><input class="chkbut" type="checkbox" name="chkterms" id="chkterms" disabled="disabled" value="">&nbsp;Saya telah melakukan review terhadap semua data dan dokumen pengajuan. Semua Persyarat telah dilengkapi</label>
					</div>
				</div>
			<?php
			}
			?>

			<?php if (false) { ?>
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<br>
						<!-- <label for=""><input type="checkbox" name="chkpremi" id="chkpremi" checked disabled="disabled" value="">&nbsp;The Preliminary Document is all set.  -->
						<a href="javascript:void(0)" onclick="javascript:openwindow('/preliminary/index/index/view/1/custid/<?= $this->data['CUST_ID']; ?>',900,600);"><u>View Company Preliminary Documents</u></a>
						<!-- </label> -->
						<br>
						<br>
						<!-- <label for=""><input type="checkbox" name="chkterms" id="chkterms" checked disabled="disabled" value="">&nbsp;I Accept. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><u>Terms & Conditions</u></a></label> -->
					</div>
				</div>
			<?php } ?>

			<?php if (false) { ?>
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div style="padding-left:2%">
							<div class="form-group row pt-2 pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Notes</label>
								</div>
								<div class="col-sm-9">
									<label><?php
											echo $this->reason; ?></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>


			<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Terms and Conditions') ?></h4>
						</div>
						<div class="modal-body">
							<div style="height: 410px;overflow: scroll;">
								<?php

								if ($sessionLanguage == 'id') {
									echo $this->toc_ind;
								} else {
									echo $this->toc_eng;
								}

								?>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
						</div>
					</div>
				</div>
			</div>



			<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Submission Notes') ?></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
							<?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array(
								'cols' => '40%', 'rows' => '4',
								'onKeyDown' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeyUp' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON3', 'style' => 'font-size:1.2em'
							)) ?>
							<br>
							<div class="input-group">
								<?php echo $this->formText('disable_note_len', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
								<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
							</div>
							<div class="input-group">
								<label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to reject this submission?</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
							<button type="submit" class="btngreen hov" id="btn_delete_one" name="reject" value="reject"><?php echo $this->language->_('Submit') ?></button>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="dialog_box_rever" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title textBlack"><?php echo $this->language->_('Request Reverification Submission Notes') ?></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
							<?php echo $this->formTextarea('PS_REASON_REVER', $this->PS_REASON, array(
								'cols' => '40%', 'rows' => '4',
								'onKeyDown' => 'textCounter(this.form.PS_REASON4,this.form.disable_note_len3,128)',
								'onKeyUp' => 'textCounter(this.form.PS_REASON4,this.form.disable_note_len3,128)',
								'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON4', 'style' => 'font-size:1.2em'
							)) ?>
							<br>
							<div class="input-group">
								<?php echo $this->formText('disable_note_len3', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
								<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
							</div>
							<div class="input-group">
								<label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to Reverification this submission?</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
							<button type="submit" class="btngreen hov" id="btn_delete_rever" name="reqrever" value="reqrever"><?php echo $this->language->_('Submit') ?></button>
						</div>
					</div>
				</div>
			</div>

			<?php
			// var_dump($this->popauth);die;
			if ($this->googleauth) {
				if ($this->popauth) {
					$errorMsgView = $this->language->_('Can not release this payment') . ".<br><br>" . $this->errorMsg;
			?>

					<script type="text/javascript">
						$(document).ready(function() {
							$("#tokenmodal").modal();
						});
					</script>
			<?php
				}
			}
			?>

			<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Google Auth Verify</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<div class="errmsg"><?php
												if ($this->popauth) {
													echo $errorMsgView;
												}
												?></div>

							<?php if ($this->popauth) { ?>
								<div class="errmsg">
									<?php echo $this->language->_('Incorrect token');
									echo ' ( ';
									echo $this->language->_('you have ');
									echo $this->tokenfail;
									echo $this->language->_(' more chances');
									echo ' )'; ?>
								</div>
							<?php } ?>
							<div class="col-md-12" align="center">
								<table width="100%">
									<tbody>
										<!-- <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">
 -->
										<!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

										<tr>
											<td align="center">
												<?php if ($this->googleauth) { ?>
													<div class="input-group">
														<center style="width: 100%">
															<input class="tokeninput" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
															<input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
															<input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
															<input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
															<input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
															<input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
														</center>
													</div>
												<?php } else { ?>
													<h6 class="text-danger mt-4">Google Auth hasn't been registered</h6>
												<?php } ?>
											</td>
										</tr>
									</tbody>
								</table>

								<?php if ($this->tokenError) { ?>
									<h6 class="text-danger mt-4"><?php echo $this->language->_($this->error_msg); ?></h6>
								<?php } ?>

							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center">
							<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
							<?php
							$submitAttr = array('class' => 'btngreen hov');
							if ($this->googleauth) {
								echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
							}
							?>
							<?php //echo $this->formButton('release', $this->language->_('Release'), array('class' => 'btngreen hov', "onclick" => "proceed('release');this.form.back.disabled=true; "));  
							?>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
							<?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array(
								'cols' => '40%', 'rows' => '4',
								'onKeyDown' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeyUp' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON2', 'style' => 'font-size:1.2em'
							)) ?>
							<br>
							<div class="input-group">
								<?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
								<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
							<button type="submit" name="repair" value="repair" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" align="center">
					<button name="back" id="back" class="btn-sm btnwhite hov" onClick="location.href='/eformworkflow/approve'" value="1">Back</button>
					<?php

					if ($this->validbtn == false) {
					?>
						&nbsp;&nbsp;
						<?php
						$repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
						// echo $this->formButton('repair', $this->language->_('Request Repair'), $repairAttr);
						?>
						<!-- &nbsp;&nbsp; -->

						<?php

						$rejectAttr = array('id' => 'showRever', 'class' => 'btnwhite hov', "onclick" => "revermodal()");
						echo $this->formButton('reqrever', $this->language->_('Request Reverification'), $rejectAttr); ?>

						&nbsp;&nbsp;

						<?php

						$rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
						echo $this->formButton('reject', $this->language->_('Reject'), $rejectAttr); ?>


						&nbsp;&nbsp;

						<button class="btngreen hov disabled" id="otorisasi" type="submit" name="approve" value="approve" disabled>&nbsp;<?php echo $this->language->_('Authorize'); ?></button>
					<?php
						//$submitAttr = array('class' => 'btngreen hov');
						//echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
					}
					?>
				</div>
			</div>
		</form>

	</div>
</div>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack">Provision Fee 1% from BG Nominal</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="textBlack">Administration Fee IDR 500,000</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
			</div>
		</div>
	</div>
</div>
<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>
<script type="text/javascript">
	function provisionModal() {
		$('#provisionModal').modal('show');
	}

	function bankApp() {
		$("#myModalBankApp").modal();
	}

	function openInsurance() {

		var insuranceName = '<?php echo $this->insuranceName; ?>';
		var PrincipalAgreement = '<?php echo $this->PrincipalAgreement; ?>';
		var bankAmount = '<?php echo $this->bank_amount ?>';
		var PolicyHolder = '<?php echo $this->compinfo['CUST_NAME']; ?>';
		var updateStart = '<?php echo $this->paDateStart; ?>';
		var updateEnd = '<?php echo $this->paDateEnd; ?>';

		$.session.delete("InsuranceName");
		$.session.set("InsuranceName", insuranceName);

		$.session.delete("PrincipalAgreement");
		$.session.set("PrincipalAgreement", PrincipalAgreement);

		$.session.delete("PolicyHolder");
		$.session.set("PolicyHolder", PolicyHolder);

		$.session.delete("bankAmount");
		$.session.set("bankAmount", bankAmount);

		$.session.delete("updateStart");
		$.session.set("updateStart", updateStart);

		$.session.delete("updateEnd");
		$.session.set("updateEnd", updateEnd);




		(new showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'insurancepopup', 'action' => 'index', 'review' => '1'), null, true) ?>', 750));

	}

	$(document).ready(function() {

		<?php if ($this->error || $this->errorChargeStatusAccount || $this->errorChargeProductType || $this->errorChargeCurrency) { ?>
			document.querySelector("#error_notif").addEventListener("mouseover", () => {
				console.log("test");
				document.querySelector("#error_contain").style.display = "inline-block"
			})

			document.querySelector("#error_notif").addEventListener("mouseleave", () => {
				console.log("test");
				document.querySelector("#error_contain").style.display = "none"
			})
		<?php } ?>

		// start validasi asuransi


		<?php
		if ($this->warranty_type == '2' or $this->warranty_type == '3') { // 2: LF 3:INS
			if ($this->bank_amount >= $this->current_limit || $this->status_linefacility == '2' || $this->status_linefacility == '3' || $this->status_linefacility == '4') {
		?>

				$('#otorisasi').attr('disabled', true);
				$('#otorisasi').addClass('disabled');

		<?php
			}
		}

		?>


		// end validasi asuransi
		// geser workflow ke kanan
		document.querySelector("#workflow_process").scrollTo((document.querySelector("#workflow_process").scrollWidth - document.querySelector("#workflow_process").offsetWidth), 0)

		var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
		var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
		var total = (end - start) / (1000 * 60 * 60 * 24);

		if (start && end) {
			var total = total + 1;
			$('#daysTotal').html("(" + total + " days)")
		}


		$(".tokeninput").keyup(function(e) {

			if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
				$(this).prev().focus();
			} else {
				$(this).next().focus();
			}
		});

		$('#tokenmodal').on('shown.bs.modal', function() {
			$('.firsttokenfield').trigger('focus');
		});

		$('#tokenmodal').on('shown.bs.modal', function() {
			$('.firsttokenfield').trigger('focus');
		});

		$('.tokeninput').prop('autocomplete', 'off');

		$("#chkpremi").change(function() {
			if ($(this).is(':checked')) {
				$('#chkterms').attr('disabled', false);
			} else {
				$('#chkterms').attr('disabled', true);
				$('#chkterms').prop('checked', false);
				$('#chkterms').trigger("change");
			}

		});

		$("#chkterms").change(function() {
			if ($(this).is(':checked')) {
				$('#otorisasi').attr('disabled', false);
				$('#otorisasi').removeClass("disabled");
			} else {
				$('#otorisasi').attr('disabled', true);
				$('#otorisasi').addClass("disabled");
			}

		});

	});

	function tokenModal() {
		$('#tokenmodal').modal();
		$('#tokenmodal').on('shown.bs.modal', function() {
			$('input[name=inputtoken1]').focus();
		});
	}


	function modalmoredetail() {
		$("#myModalMoreDetail").modal();
	}

	function rejectmodal() {

		$('#dialog_box').modal('show');

		$("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
	}

	function revermodal() {

		$('#dialog_box_rever').modal('show');

		$("#btn_delete_rever").attr('onclick', 'if($("#PS_REASON4").val() == ""){alert("Please fill the notes");}else{$("#dialog_box_rever").modal("hide");$("<input>", {type: "hidden",name: "reqrever",value: "reqrever"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
	}



	function repairmodal() {

		$('#dialogrepair_box').modal('show');


		$("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
	}
</script>