<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Daily Limit'); ?></div>
<?php
if ($this->cust_id && $this->user_id && $this->ccy_id) {
  $temp_status = array(
    1 => $this->status_type['desc']['approved'],
    2 => $this->status_type['desc']['suspended'],
    3 => $this->status_type['desc']['delete']
  );

  $status = $temp_status[$this->status];

  if (isset($temp_status[$this->m_status])) {
    $m_status = $temp_status[$this->m_status];
  } else {
    $m_status = NULL;
  }


  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

  //get suggestion type
  $changesTypeDescArr = $this->suggestionType['desc'];
  $changesTypeCodeArr = $this->suggestionType['code'];

  $key = array_search($this->changes_type, $changesTypeCodeArr);
  $changesType = $changesTypeDescArr[$key];

?>


  <h2 class="textBlack"><?php echo $this->language->_('Change Information'); ?></h2>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br />

  <table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content table-sugg textBlack">
    <tr>
      <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail Customer Account'); ?></strong></th>
    </tr>

    <tr>
      <td colspan="4" class="tbl-evencontent"><b><?php echo $this->language->_('Daily Limit Detail'); ?></b></td>
    </tr>

    <?php if ($this->changes_type == 'E') { ?>
      <tr>
        <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
        <td width="3" class="tbl-evencontent">&nbsp;</td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
      </tr>
    <?php } ?>

    <tbody>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', $this->language->_('User ID')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', $this->user_id, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', $this->user_id, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->language->_('User Fullname')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->user_name, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->user_name, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id', $this->language->_('Currency')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id', $this->ccy_id, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id', $this->ccy_id, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('daily_limit', $this->language->_('Max Limit')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('daily_limit', $this->m_daily_limit, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('daily_limit', $this->daily_limit, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('status', 'Status'); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('status', $this->language->_($status), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('status', $this->language->_($status), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('create_date', $this->language->_('Create Date')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('create_date', $this->dateDisplay($this->m_daily_created), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('create_date', $this->dateDisplay($this->daily_created), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('creator', $this->language->_('Creator')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('creator', $this->m_daily_createdby, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('creator', $this->daily_createdby, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion', $this->language->_('Last Suggestion')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion', $this->dateDisplay($this->m_daily_suggested), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion', $this->dateDisplay($this->daily_suggested), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor', $this->language->_('Last Suggester')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor', $this->m_daily_suggestedby, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor', $this->daily_suggestedby, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval', $this->language->_('Last Approval')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval', $this->dateDisplay($this->m_daily_updated), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval', $this->dateDisplay($this->daily_updated), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver', $this->language->_('Last Approver')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver', $this->m_daily_updatedby, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver', $this->daily_updatedby, array('class' => 'dataChange')); ?></td>
      </tr>
    </tbody>
  </table>
  <br />

  <?php
  echo $this->action(
    'index',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>



  <div align="center">
    <?php
    //  $btn_approve = $this->url(array('module'=>$this->modulename,'controller'=>'','action'=>'index','cust_id'=>$this->cust_id),null,true);
    //    echo $this->formButton('approve','Approve',array('onclick'=>'location.href=\''. $btn_approve.'\'','class'=>'inputbtn'));
       
    //    echo '&nbsp;&nbsp;';
    //    $btn_reject = $this->url(array('module'=>$this->modulename,'controller'=>'','action'=>'index','cust_id'=>$this->cust_id),null,true);
    //    echo $this->formButton('reject','Reject',array('onclick'=>'location.href=\''.  $btn_reject.'\'','class'=>'inputbtn'));
       
    //    echo '&nbsp;&nbsp;';
    //    $btn_request_repair = $this->url(array('module'=>$this->modulename,'controller'=>'','action'=>'index','cust_id'=>$this->cust_id),null,true);
    //    echo $this->formButton('request_repair','Request Repair',array('onclick'=>'location.href=\''. $btn_request_repair.'\'','class'=>'inputbtn'));
       
    //    echo '<br/><br/>';
    //    $btn_repair = $this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index','changes_id'=>$this->changes_id),null,true);
    //    echo $this->formButton('repair','Repair',array('onclick'=>'location.href=\''. $btn_repair.'\'','class'=>'inputbtn'));
    ?>
  </div>



  <div>
    <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
    ?>

  </div>
  <?php if ($this->changes_type == 'E') { ?>
    <script>
      $("table.table-sugg > tbody > tr").each(function() {
        var data = $(this).find(".data");
        var dataChange = $(this).find(".dataChange");
        if (data.text() != dataChange.text()) {
          dataChange.css('background-color', '#fffe5c');
        }
      });
    </script>
  <?php }
} else { ?>
  <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>