<script>
function checkAll()
{
	$("div.check").hide();
	$("div.uncheck").show();
	$(".check_box").prop("checked", true);
  
  // document.getElementById("checkall").style.backgroundColor = 'red';
  // document.getElementById("checkall").style.color = 'white';
}

function uncheckAll()
{
	$("div.check").show();
	$("div.uncheck").hide();
	$(".check_box").prop("checked", false);
}

$(document).ready(function(){
	$("div.uncheck").hide();
});
</script>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Administrator'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Backend Group'); ?>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Add'); ?> 
                  </li>
              </ul>
          </div>
        </div>
</div>
<h5><?=$this->language->_('New Backend Group')?></h5>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<div class="row content-box">
    <div class="portlet-body form col-md-12">
      <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-borderless">
          <tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('New Backend Group'); ?></strong></th></tr>
          <tr>
            <td colspan="5" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
          </tr>
         <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('groupid',$this->language->_('Group ID')); ?><span class="errmsg">*</span></td>
          <td class="tbl-evencontent" colspan ="4">
            <?php
              $attr = array('maxlength'=>'6',
                        'class' => 'form-control col-md-8',
                        'size'=>'40',
                        'onkeypress'=>'return forceAlnumOCBC(event)');
              echo $this->formText('groupid',$this->groupid,$attr); ?>
            <div class="errmsg"><?=$this->xgroupid?></div>
          </td>
          </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('groupname',$this->language->_('Group Name')); ?><span class="errmsg">*</span></td>
          <td class="tbl-evencontent" colspan ="4">
            <?php
                $attr = array('maxlength'=>'32',
                          'size'=>'40',
                          'class' => 'form-control col-md-8',
                          );
                echo $this->formText('groupname',$this->groupname,$attr);?>
            <div class="errmsg"><?=$this->xgroupname?></div>
          </td>
          </tr>
        <!-- <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('callcenter',$this->language->_('Call Center Menu')); ?><span class="errmsg">*</span></td>
          <td class="tbl-evencontent pt-2" colspan ="4">
             <label class="switch" style="margin-bottom: 0;"> 
                <?php
                if($this->callcenter == 1){
                  $checked = 'checked';
                }else{
                  $checked = '';
                }
               ?>
                <input type="checkbox" name="callcenter" value="1" <?php echo $checked; ?> >
                <span class="slider round"></span>
              </label>
          </td>
        </tr> -->
        <tr>
          <th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Privilege List'); ?></strong>
        </tr>
        <tr>
          <th><div id="check" class="check"><input type="button" name="CheckAll" value="Check All" onClick="checkAll()" id="checkall" class="btngreen hov"></div>
<div  id="uncheck" class="uncheck"><input type="button" name="UnCheckAll" value="Uncheck All" onClick="uncheckAll()" class="btngreen hov bg-danger"></div></th>
        </tr>
        <tr>
          <td><div class="errmsg"><?php echo $this->errcheckbox?></div></td>
        </tr>
        
        <!-- <tr>
          <td class="tbl-evencontent" colspan="5">
            <?php 
            $attribut=array(
                                'class' => 'check_box',
                                'checked' => (($this->callcenter)=="1")? true : false,
                                //'disabled' => true 
                                );        
                    $isi = ''.$this->formCheckbox('callcenter','1',$attribut).$this->language->_('Call Center Menu').'';
                    echo $isi;
            ?>

          </td>
        </tr> -->
        <tr>
              <?php
              $counter = 0;
              $i = 0;
      //        foreach($this->privil as $row)
      //        {
      //          $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
      //          $attribut=array(
      //                      'class' => 'check_box',
      //                      'checked' => (($this->$row['BPRIVI_ID'])=="1")? true : false,
      //                      );
      //          $isi = '<td class="'.$td_css.'" >'.$this->formCheckbox($row['BPRIVI_ID'],'1',$attribut).$this->language->_($row['BPRIVI_DESC']).'</td>';
      //          if($counter%5 == 0)
      //          {
      //            $isi = '</tr><tr>'.$isi;
      //          }
      //          echo $isi;
      //          $counter++;
      //          if($counter%5 == 0)
      //          {
      //            $i++;
      //          }
      //        }

              foreach($this->privil as $row)
              {
      //          $privilege[$row['BPRIVI_MODULEID']][] = $row;
                if($row['BPRIVI_ID'] != 'CLAN'){
                  $privilege[$row['BPRIVI_MODULEID']][] = $row;
                }
              }
      //var_dump($this->datatemp);
              foreach($privilege as $key=>$row)
                {
                  echo '<tr><td  class="tbl-oddcontent" colspan="5"><b>'.$this->language->_($key).'</b></td></tr>';
                  foreach ($row as $value) {
                    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
          //var_dump($this->$value['BPRIVI_ID']);
          //$result = in_array($value['BPRIVI_ID'],$this->datatemp);
          //var_dump($result);
                    $attribut=array(
                                'class' => 'check_box',
                                //'checked' => (($this->$value['BPRIVI_ID'])=='1')? true : false,
                'checked' => (in_array($value['BPRIVI_ID'],$this->datatemp))? true : false,
                //in_array("Irix", $os)
                                //'disabled' => true
                                );
                    $isi = '<td class="'.$td_css.'" >'.$this->formCheckbox($value['BPRIVI_ID'],'1',$attribut).$this->language->_($value['BPRIVI_DESC']).'</td>';
                    if($counter%5 == 0)
                    {
                      $isi = '</tr><tr>'.$isi;
                    }

      //              $isi = '<td class="tbl-evencontent" '.$colspan.'>'.$this->formCheckbox($value['BPRIVI_ID'],'1',$attribut).$value['BPRIVI_DESC'].'</td>';
      //              if($counter%4 == 0)
      //              {
      //                $isi = '</tr><tr>'.$isi;
      //              }

                    echo $isi;
                    $counter++;
                    if($counter%5 == 0)
                    {
                      $i++;
                    }
                  }
                }
              ?>
              </tr>
        </table>
    </div>
</div>

 <br />
<?php
if($this->hasPrivilege('BGCR'))
{
  $createdisabled = "";
}
else
{
  $createdisabled = "'disabled'=>'disabled'";
}?>
<?php echo $this->formButton('back', $this->language->_('Back '), array('onclick' => "location.href='/backendgroup'", 'class' => 'btnwhite hov'));?>&nbsp;
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov',$createdisabled)); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov',$createdisabled)); ?>&nbsp;
</form>
