<style media="screen">
    .indicator.online {
        background: #28B62C;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;
    }

    .indicator.offline {
        background: #FF4136;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;

    }


    .indicator.warning {
        background: #F7CF32;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;
    }

    .inforek:before {
        content: 'i';
    }
</style>
<style>
    label {
        font-size: 1.2em;
        margin-bottom: 0.3rem;
    }

    h5 {
        font-size: 1.10rem;
        line-height: unset;
        margin-bottom: 0;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    #guarantedTransactions {
        width: 100%;
        font-size: 16px;
    }

    #guarantedTransactions thead tr th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
    }

    #guarantedTransactions thead tr th,
    #guarantedTransactions tbody tr td {
        padding: 5px;
        width: 1%;
        white-space: pre-line;
    }

    #guarantedTransactions td {
        background-color: #efefef;
        font-weight: normal;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="page-bar">
            <ul class="page-breadcrumb px-0">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Penyelesaian') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-md-11">
        <div class="row mb-2">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?= $this->language->_('Detail Penyelesaian Bank Garansi') ?></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Ref Penyelesaian / PREF#') ?></label>
            </div>
            <div class="col-md-8">
                <label class="text-danger"><?= $this->getBG['CLOSE_REF_NUMBER']; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nomor Bank Garansi') ?></label>
            </div>
            <div class="col-md-8">
                <label class="font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Principal') ?></label>
            </div>
            <div class="col-md-8">
                <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Obligee') ?></label>
            </div>
            <div class="col-md-8">
                <label><?php echo $this->getBG['RECIPIENT_NAME']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_("Subjek"); ?></label>
            </div>
            <div class="col-md-8">
                <label><?php echo $this->getBG['BG_SUBJECT']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
            </div>
            <div class="col-md-8">
                <label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status Bank Garansi') ?></label>
            </div>
            <div class="col-md-8">
                <label for="">Berakhir (Tanggal Berakhir : <?php echo date('d M Y', strtotime($this->getBG['BG_OFFRISK_DATE'])); ?>)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Jenis Penutupan') ?></label>
            </div>
            <div class="col-md-8">
                <label><?php echo $this->arrType[$this->getBG['TYPE']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status Penyelesaian') ?></label>
            </div>
            <div class="col-md-8">
                <label><?php echo $this->arrStatusPenutupan[$this->getBG['PS_STATUS']]; ?></label>
                <label>
                    <?php
                    if ($this->getBG['PS_STATUS'] == 5) {
                        echo "(Tanggal Selesai : " . $this->psDone . ")";
                    }
                    ?>
                </label>

                <?php if ($this->getBG['PS_STATUS'] != 6) : ?>
                    <?php echo "<img src='/images/icon/sp" . $this->getBG['PS_STATUS'] . ".png' title='" . $this->arrStatusPenutupan[$this->getBG['PS_STATUS']] . "' style='width: 22px;'>"; ?>
                <?php else : ?>
                    <img src="/images/logo/35.gif" style="width: 13px">
                <?php endif ?>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan') ?></label>
            </div>
            <div class="col-md-8">
                <label>-</label>
            </div>
        </div>

        <form action="" id="releaseForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'Releasedetail', 'bgnumb' => $this->BG_NUMBER), null, true) ?>">

            <?php if ($this->counterWarrantyType == 1) { ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust my-2" style="border-radius: 3px;">
                            <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                        </div>
                        <div style="padding-left:2%">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-md-8">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <?php if ($this->counterWarrantyType == 2) { ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust my-2" style="border-radius: 3px;">
                            <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                        </div>
                        <div style="padding-left:2%">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-md-8">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                        </div>
                        <div style="padding-left:2%">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="textGray"><?= $this->language->_('Pemilik Plafond Limit') ?></label>
                                </div>
                                <div class="col-md-8">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?php echo $this->getBG['CUST_NAME'] ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <?php if ($this->counterWarrantyType == 3) { ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust my-2" style="border-radius: 3px;">
                            <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                        </div>
                        <div style="padding-left:2%" class="mb-3">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-md-8">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                        </div>
                        <div style="padding-left:2%" class="mb-3">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="textGray"><?= $this->language->_('Nama Asuransi') ?></label>
                                </div>
                                <div class="col-md-8">
                                    <label><?= $this->insuraceName; ?></label>
                                </div>
                            </div>
                        </div>
                        <div style="padding-left:2%">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="textGray"><?= $this->language->_('Cabang Asuransi') ?></label>
                                </div>
                                <div class="col-md-8">
                                    <label><?= $this->insuranceBranch; ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <?php if (($this->counterWarrantyType == 1 || $this->counterWarrantyType == 3) && $this->bgdatasplit && $this->getBG['PS_STATUS'] != 5) { ?>
                <div class="row mt-2">
                    <div class="col-md-12" style="height: auto; position: relative;" id="transaksi_container">
                        <div class="padding-header-cust my-2" style="border-radius: 3px;">
                            <h5><?= $this->language->_('Pelepasan ' . ($this->counterWarrantyType == 1 ? 'Jaminan' : 'Marginal Deposit') . ' Principal') ?></h5>
                        </div>
                        <div style="padding-top:2px;" class="py-2">
                            <label for="" class="text-body font-weight-bold"><?= ($this->counterWarrantyType == 1 ? 'Jaminan' : 'Marginal Deposit'); ?> Principal </label> <label style="font-style: italic;">(total : </label> <label class="text-danger" style="font-style: italic;">IDR <?= number_format($this->holdAmount, 2); ?></label><label style="font-style: italic;">)</label>
                            <input type="hidden" id="holdAmount" value="<?= $this->holdAmount; ?>">
                            <input type="hidden" id="transferAmount" value="<?= $this->transferAmount; ?>">
                            <div style="float:right">
                                <a href="javascript:void(0)" onclick="refreshMarginalDeposit('<?= $this->getBG['BG_REG_NUMBER']; ?>')"><i class="fa fa-retweet" id="iconRefresh"></i><img src='/images/logo/35.gif' id='iconLoad' style='width: 13px;display:none'></a>
                            </div>
                            <span id="tableMarginalDeposit"></span>
                            <div class="col-sm-12">
                                <strong class="formreq">
                                    <font color="red">&nbsp;*</font>
                                </strong> <label for="" class="textGray col-form-label"><?= $this->language->_('Rekening Tipe Deposito dan Saving akan dilakukan pelepasan dana ditahan (tanpa pemindahan dana)') ?></label>
                            </div>
                            <?php if ($this->haveEscrow) : ?>
                                <label for="" class="text-body font-weight-bold">Pelepasan Dana Escrow ke Rekening Berikut</label> <label style="font-style: italic;"> (total jumlah : </label> <label class="text-danger"><span id="totalPelepasanDana" class="text-danger"><?= $this->totalPelepasanDana; ?></span></label><label style="font-style: italic;">)</label>
                                <label>
                                    <div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorMD">
                                        <div class="d-flex justify-content-center text-danger">i</div>
                                        <div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: 0; left: 30px"><span id="errorMD"></span></div>
                                    </div>
                                </label>
                                <?php
                                $total = 1;
                                ?>
                                <?php echo $this->listAccount; ?>
                            <?php endif ?>
                        </div>

                    </div>

                </div>
            <?php } ?>
            <?php if (($this->counterWarrantyType == 1 || $this->counterWarrantyType == 3) && ($this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5) && $this->dataHistoryTransaction) { ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust d-flex" style="border-radius: 3px;">

                            <h5><?= $this->language->_('Laporan Transaksi') ?></h5>

                            <div class="col" style="text-align: right;">
                                <a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
                                <a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <div class="col-sm-12 pb-2">
                                <div id="transaksi">
                                    <table id="guarantedTransactions">
                                        <thead>
                                            <tr style="background-color:#ccc">
                                                <th><?= $this->language->_('TraRef#'); ?></th>
                                                <th><?= $this->language->_('Service'); ?></th>
                                                <th><?= $this->language->_('HoldSeq'); ?></th>
                                                <th><?= $this->language->_('Rekening Sumber'); ?></th>
                                                <th><?= $this->language->_('Rekening Tujuan'); ?></th>
                                                <th><?= $this->language->_('Jumlah'); ?></th>
                                                <th><?= $this->language->_('Status'); ?></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php
                                            require_once 'Crypt/AESMYSQL.php';
                                            $AESMYSQL = new Crypt_AESMYSQL();
                                            $rand = $this->token;
                                            ?>
                                            <?php foreach ($this->dataHistoryTransaction as $row) : ?>
                                                <?php
                                                $source = empty($row['SOURCE_ACCT']) ? '-' : $row['SOURCE_ACCT'] . " / " . $row['SOURCE_ACCT_NAME'];
                                                $benef = empty($row['BENEF_ACCT']) ? '-' : $row['BENEF_ACCT'] . " / " . $row['BENEF_ACCT_NAME'];

                                                $bankResponse = $row['BANK_RESPONSE'];

                                                if ($row['TRA_STATUS'] == 1) {
                                                    $indicator = '<div id="indi' . $row['TRANSACTION_ID'] . '"><span class="indicator online" title="Sukses"></span></div>';
                                                } else if ($row['TRA_STATUS'] == 2) {
                                                    $indicator = '<div id="indi' . $row['TRANSACTION_ID'] . '"><span class="indicator online" title="Sukses dengan pembaharuan status"></span></div>';
                                                } else if ($row['TRA_STATUS'] == 3) {
                                                    $indicator = '<div id="indi' . $row['TRANSACTION_ID'] . '"><span class="indicator warning" title="Time Out - ' . $bankResponse . '"></span></div>';
                                                } else if ($row['TRA_STATUS'] == 4) {
                                                    $indicator = '<div id="indi' . $row['TRANSACTION_ID'] . '"><span class="indicator offline" title="Gagal - ' . $bankResponse . '"></span></div>';
                                                } else {
                                                    $indicator = "<img src='/images/icon/sp4.png' title='Menunggu Pembayaran' id='iconLoad' style='width: 22px;'>";
                                                }

                                                ?>
                                                <tr style="background-color:#eee">
                                                    <td><a href="javascript:void(0)" onclick="javascript:openwindow('/bgclosingworkflow/claimobligeedetail/trxdetail/trxid/<?= urlencode($AESMYSQL->encrypt($row['TRANSACTION_ID'], uniqid())); ?>',900,600);"><u><?= "PREF-" . substr($row['TRANSACTION_ID'], -2); ?></u></a></td>
                                                    <td><?= $this->arrListService[$row['SERVICE']]; ?></td>
                                                    <td><?= $row['HOLD_SEQUENCE'] ?: '-'; ?></td>
                                                    <td><?= $source; ?></td>
                                                    <td><?= $benef; ?></td>
                                                    <td><?= ($row['TRA_STATUS'] != 1 ? '-' : $row['SOURCE_ACCT_CCY'] ?: '-'); ?> <?= ($row['TRA_STATUS'] != 1 ? '' : Application_Helper_General::displayMoneyplain($row['TRA_AMOUNT'])); ?></td>
                                                    <td><?= $indicator; ?></td>
                                                </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="row mt-3">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust d-flex" style="border-radius: 3px;">

                        <h5><?= $this->language->_('Riwayat') ?></h5>

                        <div class="col" style="text-align: right;">
                            <a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
                            <a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-sm-12 pb-2">
                            <div id="history-body">
                                <table id="guarantedTransactions">
                                    <thead>
                                        <tr>
                                            <th><?= $this->language->_('User'); ?></th>
                                            <th><?= $this->language->_('Action'); ?></th>
                                            <th><?= $this->language->_('Date Time'); ?></th>
                                            <th><?= $this->language->_('Note'); ?></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->dataHistory as $row) : ?>
                                            <tr style="background-color:#eee">
                                                <td><?= $row['USER_LOGIN']; ?></td>
                                                <td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
                                                <td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
                                                <td><?= $row['BG_REASON'] ?: '-'; ?></td>
                                            </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-5">
                <div class="col-md-12" align="center">

                    <button name="back" id="back" class="btn-sm btnwhite hov" onClick="location.href='/bgclosingworkflow/release'" value="1">Kembali</button>
                    <?php if (
                        $this->getBG['PS_STATUS'] == 1 &&
                        (
                            ($this->getBG['COUNTER_WARRANTY_TYPE'] == '1' && $this->hasPrivilege('KPCC')) ||
                            ($this->getBG['COUNTER_WARRANTY_TYPE'] != '1' && $this->hasPrivilege('KPNC'))
                        )
                    ) { ?>
                        <button class="btngreen hov " id="kirim" type="submit" name="kirim" value="1">&nbsp;<?= $this->language->_('Konfirmasi'); ?></button>
                    <?php } ?>

                    <?php if (
                        $this->getBG['PS_STATUS'] == 3 &&
                        (
                            ($this->getBG['COUNTER_WARRANTY_TYPE'] == '1' && $this->hasPrivilege('PPCC')) ||
                            ($this->getBG['COUNTER_WARRANTY_TYPE'] != '1' && $this->hasPrivilege('PPNC'))
                        )
                    ) { ?>
                        <button class="btngreen hov" id="lanjut" type="button" value="1">&nbsp;<?= $this->language->_('Persetujuan'); ?></button>
                    <?php } ?>

                    <?php if ($this->getBG['PS_STATUS'] == 4 && $this->hasTimeoutTrans) : ?>
                        <button type="submit" id="timeout" name="timeout" class="btn-sm btnwhite hov" value="1"><?= $this->language->_('Status'); ?></button>
                    <?php endif ?>

                    <?php if ($this->getBG['PS_STATUS'] == 4) : ?>
                        <button type="submit" id="gagal" name="gagal" class="btn-sm btnwhite hov" value="1"><?= $this->language->_('Retry'); ?></button>
                    <?php endif ?>

                    <?php if ($this->getBG['PS_STATUS'] == 2) { ?>
                        &nbsp;
                        <button class="btngreen hov " id="kirim" type="submit" name="kirim" value="1">&nbsp;Kirim</button>
                    <?php } ?>
                    <?php if ($this->getBG['PS_STATUS'] == 5) { ?>
                        <button type="submit" name="pdf" value="1" id="buttonPdf" class="btnwhite hov" form="releaseForm">PDF</button>
                    <?php } ?>

                </div>
            </div>


            <?php if ($this->error) { ?>
                <div class="row mt-2">
                    <div class="col-md-12" align="center">
                        <div class="errmsg">
                            <?php
                            echo $this->errorMsg;
                            ?>
                        </div>
                    </div>
                </div>
            <?php } ?>


            <div class="modal fade" id="dialog_password" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="padding-header-cust d-flex">
                                <div class="col">
                                    <h5 class="text-center">Persetujuan Penyelesaian</h5>
                                </div>
                            </div>
                            <div style="padding-left:2%" class="d-flex align-items-center flex-column pt-3">
                                <div style="font-size: 1.1rem;">User ID : <?= $this->userId; ?></div>
                                <div style="font-size: 1.1rem;">Silahkan masukkan password Anda untuk persetujuan</div>
                                <div class="col-8 pt-2" style="position: relative;">
                                    <input type="password" name="password_to_ldap" class="form-control text-center" required>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer; display: none" id="sembunyi_password">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer;" id="tampil_password">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('TUTUP') ?></button>
                            <button type="submit" class="btngreen hov" id="persetujuan" name="persetujuan" value="1"><?php echo $this->language->_('KONFIRMASI') ?></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script>
    $(document).ready(function() {
        $('#fa-angle-up').hide();
        $('#fa-angle-up1').hide();
        $('#history-body').hide();
        $('#transaksi').hide();

        $('#bg_number').mask('AAA-AAAAAA-AAAAA-AAAA');

        refreshMarginalDeposit('<?php echo $this->getBG['BG_REG_NUMBER']; ?>');

    });

    document.addEventListener("DOMContentLoaded", () => {
        // document.querySelector("input[name='email']").addEventListener('keyup', preventSpace)

        if (document.querySelector("#centerpage").childNodes.length == 7) {
            document.querySelector("#centerpage").lastChild.remove()
        }

        if ($('#lanjut').is(':visible')) {
            document.querySelector("#lanjut").addEventListener("click", () => {
                $('#dialog_password').modal({
                    backdrop: "static",
                    show: true,
                    keyboard: false
                });
            })

        } else {
            $('input[name="password_to_ldap"]').removeAttr("required");
        }

        document.querySelector("#tampil_password").addEventListener("mouseover", (event) => {
            document.querySelector("[name='password_to_ldap']").setAttribute("type", "text");
            event.target.style.display = "none"
            document.querySelector("#sembunyi_password").style.display = "block"
        })

        document.querySelector("#sembunyi_password").addEventListener("mouseleave", (event) => {
            document.querySelector("[name='password_to_ldap']").setAttribute("type", "password");
            event.target.style.display = "none"
            document.querySelector("#tampil_password").style.display = "block"
        })
    })

    function refreshMarginalDeposit(reqNumber) {
        $('#iconRefresh').hide();
        $('#iconLoad').show();
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                reqNumber: reqNumber,
            },
            complete: function() {
                $('#iconLoad').hide();
                $('#iconRefresh').show();
            },
            success: function(data) {
                $('#tableMarginalDeposit').html(data);

                $('[data-toggle="tooltip"]').tooltip();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
            }
        });

    }

    function historyShow() {
        $('#fa-angle-down').hide();
        $('#fa-angle-up').show();
        $('#history-body').show();
    }

    function historyHide() {
        $('#fa-angle-down').show();
        $('#fa-angle-up').hide();
        $('#history-body').hide();
    }


    function historyShow1() {
        $('#fa-angle-down1').hide();
        $('#fa-angle-up1').show();
        $('#transaksi').show();
    }

    function historyHide1() {
        $('#fa-angle-down1').show();
        $('#fa-angle-up1').hide();
        $('#transaksi').hide();
    }
</script>