<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}
.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
} 
</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Document Underlying')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Transfer List')?></span>
             </li>
             

         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?=$this->language->_('Document Underlying Report')?></h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Document Underlying Code</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->DOC_ID;  ?> </label>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Currency</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->CCY ?></label>
            </div>
        </div>

        <div class="row pt-2">
						<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?=$this->language->_('Transfer List')?></h5>
						</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
							<table class="table table-sm table-striped headerNew" id="myTable">
									
									<tr height="50px">
											
											<th class="tablehead fth-header" valign="top">Payment Ref#<span style="white-space:nowrap"></span>
											</th>
											<th class="tablehead fth-header" valign="top">Payment Subject<span style="white-space:nowrap"></span>
											</th>
											<th class="tablehead fth-header" valign="top" >Amount<span style="white-space:nowrap"></span>
											</th>
											<th class="tablehead fth-header" valign="top" >Payment Type<span style="white-space:nowrap"></span>
											</th>
											<th class="tablehead fth-header" valign="top">Payment Status<span style="white-space:nowrap"></span>
											</th> 
									</tr>

									<?php
      
                        if(count($this->select) > 0)
                    {
                                    $i=0;

                        foreach($this->select as $row) {

                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
             
                        echo '<tr>
                                <td class="'.$td_css.'">'.$row['PS_NUMBER'].'</td>
                                <td class="'.$td_css.'">'.$row['PS_SUBJECT'].'</td>
                                <td class="'.$td_css.'" >('.$row['PS_CCY'].') '. Application_Helper_General::displayMoney($row['PS_TOTAL_AMOUNT']) .'</td>
                                <td class="'.$td_css.'">'.$row['payType'].'</td>
                                <td class="'.$td_css.'">'.$row['payStatus'].'</td>
                            </tr>';

                                $i++;
                                                
                            }
                    }
                    else {
                        echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_('No Data')." --- </td></tr>";
                    }
                        ?>

							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						<input class="btnwhite hov" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/documentunderlying'" type="button">&nbsp;
						<!-- <input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov disabled" disabled> -->
					</div>
				</div>
		</div>
</div>