<?php 
		if($this->error)
		{
			echo '<div class="errmsg" style="width:600px;margin-left:auto;margin-right:auto;">';
			echo '&nbsp;&nbsp;'.$this->msg_failed;
			echo '</div><br />';
		}
		if($this->success){
			echo '<div class="successmsg" style="width:600px;margin-left:auto;margin-right:auto;">';
			echo '&nbsp;&nbsp;'.$this->success;
			echo '</div><br />';
		}
?>
<form method="post" action="/superadmin/changespassword/index/change/<?=$this->change?>">
  <table cellpadding="3" cellspacing="0" border="0" width="600px" class="tableform" align="center">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Change Password'); ?></strong></th></tr>
	<tr>
		 <td colspan="3" class="tbl-oddcontent">	
			<strong><?php echo $this->language->_('Please fill in the form below to change password'); ?>.</strong>
		 </td>
    </tr>
    <tr>
		 <td class="tbl-evencontent" width="150px"><?php echo $this->language->_('Key In New Password'); ?> <?=$this->change?> *</td>
		 <td class="tbl-evencontent" width="3px">:</td>
		 <td class="tbl-evencontent">
			<input type="password" name="new_password" id="new_password" value="<?=$this->new_password?>">
			<?php
				if($this->errDesc['new_pass'])
				{
					echo '<div class="errmsg">'.$this->errDesc['new_pass'].'</div>';
				}
			?>
		 </td>
    </tr>
    <tr>
	  <td class="tbl-evencontent">Verify New Password <?=$this->change?> *</td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
		<input type="password" name="confirm_password" id="confirm_password" value="<?=$this->confirm_password?>">
			<?php
				if($this->errDesc['conf_pass'])
				{
					echo '<div class="errmsg">'.$this->errDesc['conf_pass'].'</div>';
				}
			?>
	  </td>
    </tr>
	<tr>
		 <td colspan="3" class="tbl-oddcontent"> <strong>Authorization</strong> </td>
    </tr>
    <tr>
		 <td class="tbl-evencontent">Current Password 1</td>
		 <td class="tbl-evencontent">:</td>
		 <td class="tbl-evencontent">
			<input type="password" name="curr_pass1" id="curr_pass1" value="<?=$this->new_password?>">
			<?php
				if($this->errDesc['curr_pass1'])
				{
					echo '<div class="errmsg">'.$this->errDesc['curr_pass1'].'</div>';
				}
			?>
		 </td>
    </tr>
	<tr>
		 <td class="tbl-evencontent">Current Password 2</td>
		 <td class="tbl-evencontent">:</td>
		 <td class="tbl-evencontent">
			<input type="password" name="curr_pass2"  id="curr_pass2" value="<?=$this->new_password?>">
			<?php
				if($this->errDesc['curr_pass2'])
				{
					echo '<div class="errmsg">'.$this->errDesc['curr_pass2'].'</div>';
				}
			?>
		 </td>
    </tr>
	<tr>
		 <td colspan="3">
			<?php
				echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn')).'&nbsp;&nbsp;&nbsp;';
				echo $this->formReset('reset','Reset',array('class'=>'inputbtn'));
			?>
		 </td>
    </tr>
  </table>
</form>