
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('User')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Approver Group')?>
                    </li>
                </ul>
            </div>
        </div>
</div>
<div class="card">
	<table width="100%" cellpadding="5" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
		<tr class="card-header cardhead text-white">
			<th colspan="2"><?php echo $this->language->_('Group Member') ?></th>
		</tr>
		<?php if(count($this->groupdata) > 0){
			foreach ($this->groupdata as $row) {?>
			<tr>
				<td><?=$row['GROUP_NAME']?></td>
				<td><?=$row['GROUP_MEMBER']?></td>
			</tr>
		<?php }}?>
	</table>

	<br/>
	<br/>

	<table width="100%" cellpadding="5" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
		<tr class="card-header cardhead text-white">
			<th colspan="2"><?php echo $this->language->_('Approval Matrix') ?></th>
		</tr>
		<?php if(count($this->boundarydata) > 0){
			foreach ($this->boundarydata as $row) {
				if(empty($row['SPECIAL_GROUP']))
					$boundarygroup = "( ".$row['NORMAL_GROUP']." )";
				elseif(empty($row['NORMAL_GROUP']))
					$boundarygroup = "Special";
				else
					$boundarygroup = "( ".$row['NORMAL_GROUP']." ) OR Special";
		?>
			<tr>
				<td width="50%"><?=$row['BOUNDARY']?></td>
				<td><?=$boundarygroup?></td>
			</tr>
		<?php }}?>
	</table>

	<?php if($this->hasPrivilege('UABG'))
			$disabled = '';
		else
			$disabled = 'disabled';
	?>

	<div style="width:100%">
		<br/><br/>
		<center>
		<?php
			$linkbtn = $this->url(array('module'=>'appgroup','controller' => 'manage','action'=>'index','cust_id'=>$this->cust_id),null,true);
			$btn = "<input class='btngreen hov' type='button' onClick= ' location.href= \"".$linkbtn."\" ' value='".$this->language->_('Manage Group Member')."' ".$disabled.">";
			echo $btn;
		?>
		</center>
	</div>
</div>