<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{
	 //pengaturan error messages
	 <?php
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php
	     }
	   ?>
});

</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('General'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Error Code'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
											<?php echo $this->language->_('Edit'); ?>
									</li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
		<div class="portlet-body form col-md-12">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
				<tbody>
					<tr>
						<td class="filterarea" id="filterarea">
							<div class="subtopic"><h5><?php echo $this->language->_('Code Management');?></h5></div>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<?php if($this->success){ ?>
							<div class="successmsg"><?php echo $this->language->_('Record Saved');?></div><br />
							<?php } ?>

							<?php
									if(count($this->report_msg) > 0){ ?>
									<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
							<?php
									 }
								 ?>
						</td>
					</tr>
					<tr>
						<th class="filterarea" id="filterarea" style="padding-left:5px">
							<?php echo $this->language->_('Edit Code');?>
						</th>
					</tr>
					<tr>
						<td id="contentarea">
							<form name="editcountry" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
							<table border="0" cellpadding="5" cellspacing="0" width="70%">
								<tbody>
										<tr>
										<td class="tbl-evencontent" width="35%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
									</tr>

									<tr>
										<td class="tbl-evencontent" width="35%"><?php echo $this->language->_('Code');?></td>
										<td class="tbl-evencontent">
												<?php echo $this->formText('CODE',$this->CODE,array('class' => 'form-control col-md-12' , 'size'=>40,'maxlength'=>2,'readonly'=>'readonly'))?>
										</td>
										</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Description');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
												<?php echo $this->formText('DESC',$this->DESC,array('class' => 'form-control col-md-12' , 'size'=>40,'maxlength'=>128))?>
												<div id="error_DESC" class="errmsg"></div>
										</td>
									</tr>
									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Is ');?>Re-Run</td>
										<td class="tbl-evencontent">
											<?php
											$checked ='';
												if($this->IS_RERUN){
													$checked = 'checked';
												}
											 ?>
												<input type="checkbox" value="1" name="IS_RERUN" <?php echo $checked; ?>>&nbsp;Yes
												<div id="error_IS_RERUN" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="button-area" id="button-area" colspan="2">
											<div class="formbutton pt-3">
													<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/errorcode/index\'','class'=>'btnwhite hov')); ?>
												<?php echo $this->formHidden('bank_id',$this->bank_id) ?>
													<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
												<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" id="reset" class="btngreen hov"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
</div>


<script>
$(document).ready(function(){
	$('#reset').click(function(){
		$('#DESC').val('');
	})
})
</script>