<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>
<!--<table width="300px" cellpadding="0" cellspacing="0" border="0" class="">
<tr>
	<td>
    	<input class = "inputbtn" type="button" onclick="self.close()" value = "Close">
	</td>
</tr>
</table>-->