<div>
    <div class="row my-3">
        <div class="col-md-6">
            <h6 style="margin-left: 15px;"><?= $this->language->_('Detail Pengajuan Penutupan Bank Garansi') ?></h6>
        </div>
    </div>

    <div style="padding-left:2%; padding-top:2px;">
        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('No Ref Pengajuan') ?></label>
            </div>
            <div class="col-md-9">
                <label><?= strtoupper($this->tempBgClose['CLOSE_REF_NUMBER']) ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Penutupan atas Nomor BG') ?></label>
            </div>
            <div class="col-md-9">
                <?php
                $bgNumber = $this->bgdata['BG_NUMBER'];
                $labelBgNumber = implode('-', [substr($bgNumber, 0, 3), substr($bgNumber, 3, 6), substr($bgNumber, 9, 5), substr($bgNumber, 14, 4)]);
                $status = ($this->bgdata['BG_STATUS'] == '15') ? $this->language->_('Aktif') : $this->language->_('Tidak Atkif');
                // $labelStatus = implode(' ', ['('.$this->language->_('Status'), $status.')']);
                $labelStatus = '';
                ?>
                <label class="col-form-label"><span class="text-danger font-weight-bold"><?= $labelBgNumber ?></span> <span class="textGray"><?= $labelStatus; ?></span></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Bentuk Penerbitan') ?></label>
            </div>
            <div class="col-md-9">
                <?php
                // 1 = Sertifikat
                // 2 = Elektronik
                $format = $this->bgdata['BG_FORMAT'];

                if ($format == '1') {
                    $paperUsed = $this->paperUsed;
                    $nomorKertasArray = (count($paperUsed) > 2) ? [$paperUsed[0], $paperUsed[count($paperUsed) - 1]] : $paperUsed;
                    $labelBentukPenerbitan = implode(' - ', [$this->language->_('Sertifikat Bank Garansi'), $this->language->_('Nomor Ref Kertas')]) . ' : ' . implode(' - ', $nomorKertasArray) . ' (' . implode(' ', [count($paperUsed), $this->language->_('Lembar')]) . ')';
                }

                ?>
                <label><?= $labelBentukPenerbitan; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Subjek') ?></label>
            </div>
            <div class="col-md-9">
                <label class="font-weight-bold"><?= $this->bgdata['BG_SUBJECT']; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
            </div>
            <div class="col-md-9">
                <label><?= $this->bgdata['BRANCH_NAME']; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Tipe Usulan') ?></label>
            </div>
            <div class="col-md-9">
                <label><?= $this->language->_($this->bgClosingChangeType[$this->tempBgClose['CHANGE_TYPE']]); ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Status Usulan') ?></label>
            </div>
            <div class="col-md-9">
                <label><?= $this->language->_('Permintaan Perbaikan'); ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray"><?= $this->language->_('Notes') ?></label>
            </div>
            <div class="col-md-9">
                <label><?= $this->reason['BG_REASON']; ?> (<?= implode(' - ', [$this->reason['USER_FROM'], $this->reason['USER_LOGIN']]); ?>)</label>
            </div>
        </div>
    </div>
</div>