<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>

<style>
    label {
        font-size: 1.2em;
    }

    .col-form-label {
        font-size: 1.2em;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    .hover-gray>.row:hover {
        background-color: #edeaea;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Perbaikan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<!-- cash collateral -->

<input type="hidden" id="charges_pct" value="<?= $this->cash_collateral["CHARGES_PCT"]; ?>" disabled>
<input type="hidden" id="charges_adm" value="<?= $this->cash_collateral["CHARGES_ADM"]; ?>" disabled>
<input type="hidden" id="charges_stamp" value="<?= $this->cash_collateral["CHARGES_STAMP"]; ?>" disabled>

<!-- end cash collateral -->

<!-- linefacility -->

<input type="hidden" id="plafond_limit" value="<?= $this->linefacility["PLAFOND_LIMIT"]; ?>" disabled>
<input type="hidden" id="linefct_pct" value="<?= $this->linefacility["FEE_PROVISION"]; ?>" disabled>
<input type="hidden" id="linefct_adm" value="<?= $this->linefacility["FEE_ADMIN"]; ?>" disabled>
<input type="hidden" id="linefct_stamp" value="<?= $this->linefacility["FEE_STAMP"]; ?>" disabled>

<!-- end linefacility -->
<?php if ($this->error) { ?>

    <div class="alert alert-danger">
        <?php echo $this->language->_($this->error_msg); ?>
    </div>
    <br />

<?php } ?>
<div class="row justify-content-center">
    <div class="col-md-11">
        <form action="" method="post" enctype="multipart/form-data" id="formArea">
            <input type="hidden" id="status_lf" value="<?= $this->statusLF; ?>">
            <input type="hidden" id="current_limit_ins">
            <input type="hidden" id="marginal_deposit">
            <input type="hidden" name="purpose_desc">
            <input type="hidden" id="cust_status_lf">
            <input type="hidden" id="cust_status">
            <input type="hidden" name="save_others_attachment" id="save_others_attachment">

            <!-- detail pengjuan penutupan bank garansi -->
            <?= $this->render('repairdetail/detailpengajuan.phtml'); ?>

            <br />
            <!-- detail principal -->
            <?= $this->render('repairdetail/principalbankgaransi.phtml'); ?>

            <!-- jenis bg -->
            <?= $this->render('repairdetail/jenisbg.phtml'); ?>

            <!-- nilai dan masa beraku bank garansi -->
            <?= $this->render('repairdetail/nilaibg.phtml'); ?>

            <!-- nilai dan masa beraku bank garansi -->
            <?= $this->render('repairdetail/obligeebg.phtml'); ?>

            <!-- kontra garansi -->
            <?= $this->render('repairdetail/kontragaransi.phtml'); ?>

            <!-- sertifikat kontra garansi -->
            <?= $this->render('repairdetail/sertifikatbg.phtml'); ?>

            <!-- lampiran dokumen penutupan -->
            <?php if ($this->tempBgCloseFile && $this->tempBgClose['CHANGE_TYPE'] != '5') : ?>
                <?= $this->render('repairdetail/lampirandokumen.phtml'); ?>
            <?php endif ?>

            <?php if ($this->getSplit) : ?>
                <!-- lampiran dokumen penutupan -->
                <?= $this->render('repairdetail/marginaldeposit.phtml'); ?>
            <?php endif ?>

            <div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Terms and Conditions') ?></h4>
                        </div>
                        <div class="modal-body px-4">
                            <?php
                                if ($this->tempBgClose['CHANGE_TYPE'] == '1') {
                                    echo $this->snkPenutupan;
                                } else if ($this->tempBgClose['CHANGE_TYPE'] == '5') {
                                    echo $this->snkPelepasanMd;
                                } else {
                                    if ($sessionLanguage == 'id') {
                                        echo $this->snkPenerbitanInd;
                                    } else {
                                        echo $this->snkPenerbitanIng;
                                    }
                                } 
                            ?>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div style="padding-left:2%">
                        <label for=""><input type="checkbox" name="chkterms" id="chkterms" value="">&nbsp;<?= $this->language->_('Saya setuju pada syarat dan ketentuan yang berlaku') ?>. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><u><?= $this->language->_('Lihat syarat dan ketentuan') ?></u></a></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" align="center">
                    <input class="btnwhite hov" value="<?php echo $this->language->_('Kembali') ?>" onclick="location.href='/bgclosingworkflow/repair'" type="button">
                    <input class="btnwhite hov" value="<?php echo $this->language->_('Reset') ?>" onclick="javascript:location.reload()" type="button">
                    <input type="submit" id="kirim" value="<?= $this->language->_('Kirim') ?>" class="btngreen hov disabled" disabled>
                </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('label').forEach(item => {
            item.classList.add('col-form-label');
        });

        <?php if ($this->tempBgClose['CHANGE_TYPE'] == '1') : ?>
            document.querySelectorAll('.padding-header-cust').forEach(item => {
                item.style.backgroundColor = '#FF0000';
            });
        <?php endif ?>

        document.querySelector('#chkterms').addEventListener('change', (event) => {
            const elem = event.target;

            if (elem.checked) {
                document.querySelector('#kirim').classList.remove('disabled');
                document.querySelector('#kirim').removeAttribute('disabled');
            } else {
                document.querySelector('#kirim').classList.add('disabled');
                document.querySelector('#kirim').setAttribute('disabled', true);
            }
        });

        document.querySelector('#formArea').addEventListener('submit', (event) => {
            event.preventDefault();
            let valid = true;

            const getALlRequired = document.querySelectorAll('input[required]');

            getALlRequired.forEach(item => {
                if (item.value == '') {
                    valid &&= false;
                }
            });

            document.querySelector('#kirim').classList.add('disabled');
            document.querySelector('#kirim').setAttribute('disabled', true);

            document.querySelector('#escrowAmount') && (valid &&= cekPelepasanDana());

            if (!valid || document.querySelector('.error-validation')) {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
                alert('Ada data yang belum lengkap / salah, mohon periksa kembali data');

                document.querySelector('#kirim').classList.remove('disabled');
                document.querySelector('#kirim').removeAttribute('disabled');
                return false;
            }

            document.forms.formArea.submit();

        });
    });
</script>