<div class="row">
    <div class="content-box pb-3" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
        <h5><?= $this->language->_('Principal Bank Garansi') ?></h5>
        <div class="row">
            <div class="col-sm-3">
                <label class="textGray"><?= $this->language->_('Perusahaan') ?></label>
            </div>
            <div class="col-sm-9">
                <label><?= $this->bgdata['PRINCIPLE_NAME'] . ' (' . $this->bgdata['CUST_ID'] . ')'; ?></label>
            </div>
        </div>
        <a href="javascript:void(0)" onclick="$('#detailPrinsipal').modal('show');" style="position: absolute; right: 1%; bottom: 2%;" data-toggle="tooltip" data-placement="top" title="<?= $this->language->_('Klik untuk melihat detail Prinsipal'); ?>"><i class="fa fa-ellipsis-h"></i></a>
    </div>
</div>

<!-- modal prinsipal -->
<div class="modal fade" id="detailPrinsipal" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel"><?= $this->language->_('Principal Bank Garansi'); ?></h4>
                </center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 px-5 hover-gray">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="textGray"><?= $this->language->_('Perusahaan'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->bgdata['PRINCIPLE_NAME'] . ' (' . $this->bgdata['CUST_ID'] . ')'; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="textGray"><?= $this->language->_('NPWP'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <?php
                                $cleanNPWP = str_replace(['.', '-'], '', $this->principalDetail['CUST_NPWP']);
                                // 16 digit NPWP
                                $NPWP = str_pad($cleanNPWP, 16, '0', STR_PAD_LEFT);
                                $formatNPWP = implode('.', [substr($NPWP, 0, 3), substr($NPWP, 3, 3), substr($NPWP, 6, 3)]) . '-' . implode('.', [substr($NPWP, 9, 1), substr($NPWP, 10, 3), substr($NPWP, 13, 3)]);
                                ?>
                                <label><?= $formatNPWP; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="textGray"><?= $this->language->_('Alamat'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->principalDetail['CUST_ADDRESS']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="textGray"><?= $this->language->_('Kota'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->principalDetail['CITY_NAME']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-4">
                                <label for="" class="textGray"><?= $this->language->_('Nomor Telepon Kantor'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->principalDetail['CUST_PHONE']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-4">
                                <label for="" class="textGray"><?= $this->language->_('Nama Kontak'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->principalDetail['CUST_CONTACT']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="textGray"><?= $this->language->_('Nomor Kontak'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->principalDetail['CUST_CONTACT_PHONE']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-4">
                                <label for="" class="textGray"><?= $this->language->_('Email Kontak'); ?></label>
                            </div>
                            <div class="col-sm-8">
                                <label><?= $this->principalDetail['CUST_EMAIL']; ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center style="width: 100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                </center>
            </div>
        </div>
    </div>
</div>