<?php $comment = $this->language->_('Comment'); ?>
<?php $back    = $this->language->_('BACK'); ?>
<?php $submit  = $this->language->_('COMMENT'); ?>

<?php if(!empty($this->data)) : ?>
	<div class="row">
		<div class="col-md-12">
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<span><?= $this->language->_('Home'); ?></span>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
					</li>
					<li>
						<?= $this->language->_('Chat with Us'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
					</li>
					<li>
						<?= $this->language->_('Detail'); ?>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<style>
		ul.errors {
			list-style: none;
			padding-left: 0;
		}
	</style>

	<div class="row">
		<div class="col-md-12">
			<p class="mb-2"><b><?= $this->language->_('Ticket Detail'); ?></b></p>
			<table class="mb-4">
				<tr>
					<td width="200px"><?= $this->language->_('Ticket Number'); ?></td>
					<td><?= $this->data['TICKET_ID']; ?></td>
				</tr>
				<tr>
					<td width="200px"><?= $this->language->_('Category'); ?></td>
					<td><?= strtoupper($this->data['CATEGORY']); ?></td>
				</tr>
				<tr>
					<td width="200px"><?= $this->language->_('Short Review'); ?></td>
					<td><?= $this->data['SUBJECT']; ?></td>
				</tr>
				<tr>
					<td width="200px"><?= $this->language->_('Created Date'); ?></td>
					<td><?= date('d M Y H:i:s', strtotime($this->data['CREATED_DATE'])); ?>&nbsp;(<?= $this->data['CREATED_BY']; ?>)</td>
				</tr>
				<?php if($this->data['STATUS']=='Close') : ?>
					<tr>
						<td width="200px"><?= $this->language->_('Closed Date'); ?></td>
						<td><?= date('d M Y H:i:s', strtotime($this->data['CLOSED_DATE'])); ?>&nbsp;(<?= $this->data['CLOSED_BY']; ?>)</td>
					</tr>
				<?php endif; ?>
				<tr>
					<td width="200px"><?= $this->language->_('Status'); ?></td>
					<td><?= $this->data['STATUS']; ?></td>
				</tr>
			</table>

			<p class="mb-2"><b><?= $this->language->_('Chat History'); ?></b></p>
			<table class="table table-striped mb-5" style="width:100%">
				<thead>
					<tr style="color:#fff; background-color:#0b549f">
						<th style="padding: 5px !important"><?= $this->language->_('Date'); ?></th>
						<th style="padding: 5px !important"><?= $this->language->_('User'); ?></th>
						<th style="padding: 5px !important"><?= $this->language->_('Chat Log'); ?></th>
					</tr>
				</thead>
				<tbody>
					<?php $no=1; foreach($this->dataDetail as $row) : ?>
						<tr>
							<td style="padding: 5px !important"><?= date('d M Y H:i', strtotime($row['COMMENT_DATE'])); ?></td>
							<td style="padding: 5px !important"><?= $row['USER_ID'] ?></td>
							<td style="padding: 5px !important"><?= $row['COMMENT'] ?></td>
						</tr>
					<?php endforeach; ?>
				</tbody>
			</table>
			
			<?php if($this->data['STATUS']=='Open') : ?>
				<form action="/home/chatwithticketing/detail" method="post">
					<div class="form-group">
						<?= $this->formLabel('comment',$comment, ['class'=>'form-control-label']); ?>
						<?= $this->formTextarea('comment',$this->comment, ['rows'=>'5','class'=>'form-control']); ?>
						<small class="text-danger"><?= $this->formErrors($this->errDesc['comment']); ?></small>
					</div>
					<div class="d-flex justify-content-center">
						<?= $this->formButton('back', $back, ['class'=>'btnwhite hov mr-2','onclick'=>"location.href='/home/chatwithticketing'"]); ?>
						<?= $this->formSubmit('submit', $submit, ['class'=>'btngreen hov']); ?>
					</div>
				</form>
			<?php else : ?>
				<div class="d-flex justify-content-center">
					<?= $this->formButton('back', $back, ['class'=>'btnwhite hov','onclick'=>"location.href='/home/chatwithticketing'"]); ?>
				</div>
			<?php endif; ?>
		</div>
	</div>
<?php else : ?>
	<div class="content-box" style="margin-top:5px">
		<div class="portlet-body">
			<div class="note note-success">
				<p></p><h5 style="text-align: center;"><?php echo $this->language->_('No data to display'); ?></h5><p></p>
				<p align="center">
					<button type="button" class="btnwhite hov" onclick="location.href='/home/chatwithticketing'"><?= $this->language->_('Back'); ?></button>
				</p>
			</div>
		</div>
	</div>
<?php endif; ?>