<?php $expand =$this->language->_('Expand');?>
<?php $hide =$this->language->_('Hide');?>

<script>
	$(document).ready(function(){
		hideAll();
	});
	function showAll()
	{
		showhideBc(1);
		showhideBa(1);
	}

	function hideAll()
	{
		showhideBc(0);
		showhideBa(0);
	}

	function showhideBc(sh)
	{
		if(sh === 1)
		{
			$('#tablebc').show();
			//$('#btnbc').val('Hide');
			$('#btnbc').attr('Onclick','showhideBc(0)');
			$('#btnbc').hide();
			$('#btnbcc').show();
		}
		else if(sh === 0)
		{
			$('#tablebc').hide();
			//$('#btnbc').val('Expand');
			$('#btnbc').attr('Onclick','showhideBc(1)');
			$('#btnbcc').hide();
			$('#btnbc').show();
		}
	}

	function showhideBa(sh)
	{
		if(sh === 1)
		{
			$('#tableba').show();
			//$('#btnba').val('Hide');
			$('#btnba').attr('Onclick','showhideBa(0)');
			$('#btnba').hide();
			$('#btnbac').show();
		}
		else if(sh === 0)
		{
			$('#tableba').hide();
			//$('#btnba').val('Expand');
			$('#btnba').attr('Onclick','showhideBa(1)');
			$('#btnbac').hide();
			$('#btnba').show();
		}
	}

</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Biller'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Biller Detail'); ?>
	                </li>

            	</ul>
        	</div>
      	</div>
</div>
	<h5><?=$this->language->_('Biller List')?></h5>

<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?> method="post">
	<div class="content-box">
		<div class="portlet-body col-md-12">

				
				<table border="0" cellspacing="0" cellpadding="0" class="table table-striped table-sm" width="80%%">
					<tr>
						<td>
							<?php echo $this->language->_('Biller Detail');?>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tbl-evencontent"> <?php echo $this->language->_('Biller Code');?></td>
						<td>:</td>
						<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_CODE'];?>

						</td>
					</tr>
					<tr>
						<td class="tbl-evencontent"> <?php echo $this->language->_('Biller Name');?></td>
						<td>:</td>
						<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_NAME'];?></td>
					</tr>
					<tr>
						<td class="tbl-evencontent"> <?php echo $this->language->_('Biller Status');?></td>
						<td>:</td>
						<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['PROVIDER_STATUS']);?></td>
					</tr>
					<tr>
						<td class="tbl-evencontent"> <?php echo $this->language->_('Service Categories');?></td>
						<td>:</td>
						<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['SERVICE_TYPE']).' ( '.$this->language->_($this->providerData['PROVIDER_TYPE']).' ) ';?></td>
					</tr>
				</table>
			</div>
		</div>
						<div class="col-md-12">
				<br />
				<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'index'),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back');?>">&nbsp;
				<?php
					if(strtolower($this->providerData['PROVIDER_STATUS']) == strtolower('Suspended') ){
							$name = $this->language->_('Unsuspend');
							$activeDeactiveLink = "window.location.href='".$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'activedeactive','providerid'=>$this->providerData['PROVIDER_ID'],'status'=>1),null,true)."'";
					}
					else{
						$name = $this->language->_('Suspend');
						$activeDeactiveLink = "window.location.href='".$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'activedeactive','providerid'=>$this->providerData['PROVIDER_ID'],'status'=>2),null,true)."'";
					}

					if($this->changestatus)
					{
						$editLink = '';
						$activeDeactiveLink = '';

						echo $this->formButton('edit',$this->language->_('Edit'),array('class'=>'btngreen hov', 'onClick'=>$editLink,'disabled'=>'disabled'))."&nbsp;";
						echo $this->formButton($name,$name,array('class'=>'btnwhite disabled', 'onClick'=>$activeDeactiveLink,'disabled'=>'disabled'));
				?>
						<br />
						<?php
						echo '<i>&nbsp;&nbsp;&nbsp;*'.$this->language->_('No changes allowed for this record while awaiting approval for previous change').'</i><br /><br />';
					}
					else
					{
						$editLink = "window.location.href='".$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','providerID'=>$this->providerData['PROVIDER_ID']),null,true)."'";
						if($this->hasPrivilege('UBIL'))
						{
							//echo $this->formButton('edit',$this->language->_('Edit'),array('class'=>'inputbtn', 'onClick'=>$editLink))."&nbsp;";
							echo $this->formButton($name,$name,array('class'=>'btngreen hov', 'onClick'=>$activeDeactiveLink));
						}
						else{
							//echo'<input type="button" value="'.$this->language->_('Edit').'" class="inputbtn" disabled> &nbsp;';
							echo'<input type="button" value="Suspend" class="btnwhite disabled" disabled>';
						}

						echo '
						<br /><br />
						<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
					}?>
					<div>
						<input type="button" value="<?php echo $this->language->_('Expand all properties');?>" class="btngreen hov" onclick="showAll()">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="<?php echo $this->language->_('Hide all properties');?>" class="btnwhite hov" onclick="hideAll()">
					</div>
				</div>
				<hr/>
			</br>
				<div class="row">
						<div class="col-md-12">

							<div>
								<b><?php echo $this->language->_('Biller Charges');?></b>
								<input class="btngreen hov" style="float:right" type="button" onClick="showhideBc(0)" id="btnbc" value="<?php echo $expand?>" >
								<input class="btnwhite hov" style="float:right" type="button" onClick="showhideBc(0)" id="btnbcc" value="<?php echo $hide?>" >
							</div>
							<div id="tablebc">
							</br>
							<table border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped" width="80%">
								<tr>
									<th wdith="30px">No</th>
									<th><?php echo $this->language->_('Charge Currency');?></th>
									<th><?php echo $this->language->_('Charge Amount');?></th>
									<th><?php echo $this->language->_('Charge To');?></th>
									<th><?php echo $this->language->_('Charge Account');?></th>
								</tr>
								<?PHP
									if(!empty($this->providerData['CHARGES']))
									{
										$row = 0;
										foreach($this->providerData['CHARGES'] as $charges)
										{
											$row++;
											$css = ($row%2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
								?>
								<tr>
									<td class="<?=$css?>"><?=$row?></td>
									<td class="<?=$css?>"><?=$charges['CHARGES_CCY']?></td>
									<td class="<?=$css?>" align="right"><?=Application_Helper_General::displayMoney($charges['CHARGES_AMT']) ?></td>
									<td class="<?=$css?>"><?=$charges['CHARGES_TO']?></td>
									<td class="<?=$css?>" align="center"><?=($charges['CHARGES_ACCT']) ? $charges['CHARGES_ACCT'] : ' - '?></td>
								</tr>
									<?PHP
										}
									}
									else
									{
								?>
								<tr>
									<td class="tbl-oddcontent" colspan="5" align="center"> -- <?php echo $this->language->_('No Data');?> --</td>
								</tr>
								<?PHP } ?>
							</table>
							<?PHP
							if($this->providerData['PROVIDER_STATUS'] == 'Approved')
							{
								$editLink = "window.location.href='".$this->url(array('module'=>'setbillercharges','controller'=>'edit','action'=>'index','providerid'=>$this->providerData['PROVIDER_ID']),null,true)."'";
								echo "<div style='width:40%'>".$this->formButton('edit',$this->language->_('Edit / Set Charges'),array('class'=>'btngreen hov', 'onClick'=>$editLink))."</div>";
							}
							else
							{
								echo "<div style='width:40%'>".$this->formButton('edit',$this->language->_('Edit / Set Charges'),array('class'=>'btnwhite disabled', 'onClick'=>'','disabled'=>'disabled'))."</div>";
							}
							?>
							<br/>
							</div>
						</br>
							<div>
								<b><?php echo $this->language->_('Biller Account');?></b>
								<input class="btngreen hov" style="float:right" type="button" onClick="showhideBa(0)" id="btnba" value="<?php echo $expand?>" >
								<input class="btnwhite hov" style="float:right" type="button" onClick="showhideBa(0)" id="btnbac" value="<?php echo $hide?>" >

							</div>
							<hr/>
							<div id="tableba">
							<table border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped" width="80%">
								<tr>
									<th width="30px">No</th>
									<th><?php echo $this->language->_('Account Number');?></th>
									<th><?php echo $this->language->_('Account Name');?></th>
									<th><?php echo $this->language->_('Account CIF');?></th>
									<th><?php echo $this->language->_('Currency');?></th>
									<th><?php echo $this->language->_('Account Type');?></th>
									<th><?php echo $this->language->_('Account Description');?></th>
									<th><?php echo $this->language->_('Account Status');?></th>
								</tr>
								<?PHP
									if(!empty($this->billerAcc))
									{
										$row = 0;
										foreach($this->billerAcc as $acc)
										{
											$row++;
											$css = ($row%2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
								?>
								<tr>
									<td class="<?=$css?>" width="3%">&nbsp;<?=$row?></td>
									<td class="<?=$css?>"><?=$acc['ACCT_NO']?></td>
									<td class="<?=$css?>"><?=$acc['ACCT_NAME']?></td>
									<td class="<?=$css?>"><?=$acc['ACCT_CIF']?></td>
									<td class="<?=$css?>"><?=$acc['CCY_ID']?></td>
									<td class="<?=$css?>"><?=$acc['ACCT_TYPE']?></td>
									<td class="<?=$css?>"><?=$acc['ACCT_DESC']?></td>
									<td class="<?=$css?>"><?=$this->language->_($acc['ACCT_STATUS'])?></td>
								</tr>
									<?PHP
										}
									}
									else
									{
								?>
								<tr>
									<td class="tbl-oddcontent" colspan="8" align="center"> -- <?php echo $this->language->_('No Data');?> --</td>
								</tr>
								<?PHP } ?>
							</table>

							<?PHP
							if($this->providerData['PROVIDER_STATUS'] == 'Approved')
							{
								$editLink2 = "window.location.href='".$this->url(array('module'=>'billeraccount','controller'=>'new','action'=>'index','providerid'=>$this->providerData['PROVIDER_ID']),null,true)."'";
								echo "<div  style='width:60%'>".$this->formButton('edit','Set Account',array('class'=>'btnwhite disabled', 'onClick'=>$editLink2,'disabled'=>'disabled'))."</div>";
							}
							else
							{
								echo "<div  style='width:60%'>".$this->formButton('edit',$this->language->_('Set Account'),array('class'=>'btnwhite disabled', 'onClick'=>'','disabled'=>'disabled'))."</div>";
							}
							?>
							</div>
					

				<br/>
				

		</div>
</div>
</form>