<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Insurance Branch'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table {
		font-size: 14px !important;
	}
	button:disabled {
		cursor: not-allowed;
	}
</style>

<h5><?= $this->language->_('Insurance Branch Detail'); ?></h5>
<div class="row content-box mb-3">
	<div class="col-md-12">
		<?php if ($this->is_update) : ?>
			<div class="alert alert-danger">
				<?= $this->language->_('No changes allowed for this record while awaiting approval for previous change'); ?>
			</div>
		<?php endif; ?>
		<table class="table-hover my-3" cellpadding="5" style="width:100%">
			<tr>
				<td width="250"><?= $this->language->_('Insurance Company'); ?></td>
				<td width="10">:</td>
				<td><b><?= strtoupper($this->data['CUST_NAME']) . ' (' . $this->data['CUST_ID'] . ')'; ?></b></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Branch Name'); ?></td>
				<td>:</td>
				<td><?= $this->data['INS_BRANCH_NAME'] ? $this->data['INS_BRANCH_NAME'] : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Branch Email'); ?></td>
				<td>:</td>
				<td><?= $this->data['INS_BRANCH_EMAIL'] ? $this->data['INS_BRANCH_EMAIL'] : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Branch Account'); ?></td>
				<td>:</td>
				<td><?= $this->data['INS_BRANCH_ACCT'] ? $this->data['INS_BRANCH_ACCT'].' ('.$this->data['INS_BRANCH_CCY'].')' : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Account Type'); ?></td>
				<td>:</td>
				<td><?= $this->data['ACCT_TYPE'] ? $this->data['ACCT_TYPE'] : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Suggested'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_SUGGESTED'] ? date('d M Y', strtotime($this->data['LAST_SUGGESTED'])) . ' (' . $this->data['LAST_SUGGESTEDBY'] . ')' : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Approved'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_APPROVED'] ? date('d M Y', strtotime($this->data['LAST_APPROVED'])) . ' (' . $this->data['LAST_APPROVEDBY'] . ')' : '-'; ?></td>
			</tr>
		</table>
	</div>
</div>
<center>
	<?php
	$id = $this->params['id'];
	echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/insurancebranch"']);
	if ($this->hasPrivilege('MIBO')) {
		$attr_update = ($this->is_update) ? ['class' => 'btnwhite hov', 'disabled' => true] : ['class' => 'btnwhite hov mr-2', 'onclick' => "window.location.href='/insurancebranch/index/update/id/$id'"];
		echo $this->formButton('update', $this->language->_('UPDATE'), $attr_update);
		$attr_delete = ($this->is_update) ? ['class' => 'btnred hov mr-2', 'disabled' => true] : ['class' => 'btnred hov mr-2', 'onclick' => "var result = confirm('Are you sure delete this data?'); if(result) window.location.href='/insurancebranch/index/delete/id/$id'"];
		echo $this->formButton('delete', $this->language->_('DELETE'), $attr_delete);
	}
	?>
</center>