<div class="row hidden">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Virtual Payment')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    
                    <li>
                        <span class="inhouse"><?=$this->language->_('VP Transaction')?></span>
                    </li>
                    
                </ul>
            </div>
        </div>
</div>

<script>
	$(document).ready(function(){
	$("div.uncheck").hide();

	$('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) { 
            $("#logo-title").hide(); 
            $("#logo-titles").hide(); 
        } else if ( $("#logo-title").is(":hidden") ) { 
            $("#logo-title").show(); 
             $("#logo-titles").show(); 
          }
    })

    $('#createdStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
    });
    $('#createdEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
    });
});
</script>

<br /><br />

<?php 
$this->jqueryDateFormat = 'yy-mm-dd';

//Zend_Debug::dump($this->data);
//die("123");

?>
<div class="row content-box hidden">
      <div class="portlet-body form col-md-12">

    <h5>VP Transaction</h5>

<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get"> 
    
    <?php 
    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
    foreach($this->filterlist as $row){ 
        $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
    }
    // echo $optArr;die;
    ?>
    <div class="row " id="logo-titles" style="margin-left: 0px">
            <?php
            if(!empty($this->wherecol)){
                ?>
                <script type="text/javascript">
                    $(document).ready(function(){
                    $("#logo-title").show(); 
                });

                </script>
                <?php
            }
            if(!empty($this->wherecol)){
            foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
                        $selectlist = array("PS_TYPE",'PS_CCY','PS_STATUS','SOURCE_ACCOUNT_CCY','SOURCE_ACCOUNT','BENEFICIARY_ACCOUNT','BENEFICIARY_ACCOUNT_CCY','TRA_AMOUNT','PS_TOTAL_AMOUNT');
                        $index = 0;
                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>'  name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                var colval = "#colvalue-s<?=$key?>";
                                                var colomnname = "<?=$value?>";
                                                // var colselect= "<?=$value?>";
                                                var colselect = "colselect-s<?=$key?>";
                                                var ncolselect = "#colselect-s<?=$key?>";
                                                if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
                                                    $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20' autocomplete='off' id='"+colselect+"' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
                                                    $(colselect).val('<?=$this->whereval[$index]?>');
                                                }else if(colomnname == 'PS_STATUS'){

                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpsstatus'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?=$this->whereval[$index]?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });

                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }else if(colomnname == 'PS_TYPE'){

                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpstype'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?=$this->whereval[$index]?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        // document.getElementById(colselect).value = '<?=$this->whereval[$index]?>';
                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }else if(colomnname == 'SOURCE_ACCOUNT'){

                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?=$this->whereval[$index]?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?=$this->whereval[$index]?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?=$this->whereval[$index]?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }
                                            });

                                            </script>
                                        <?php
                                            if($value == 'PS_CREATED'){
                                                // var_dump($this->whereval);die;
                                                ?>
                                                <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?=$this->createdStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?=$this->createdEnd?>" readonly required>
                                                <?php
                                                }else if($value == 'PS_EFDATE'){
                                                ?>
                                                <input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?=$this->paymentEnd?>" readonly required>
                                                <?php

                                                }else if($value == 'PS_UPDATED'){
                                                ?>
                                                <input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?=$this->updatedStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?=$this->updatedEnd?>" readonly required>
                                                <?php

                                                }else if(!in_array($value, $selectlist)){
                                                ?>
                                                <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                                                <?php }
                                                if (!in_array($value, $datetype)){
                                                    // print_r($value);die;
                                                    $index++;
                                                }
                                                 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

                <?php
            }
        }
            ?>

    </div>


    <div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
     <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                        <div class="portlet-body form" style="display: none">
                                               
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transtype" id = "transtype" class="form-control">
                                                                <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                            </select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                            <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
    </div>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
         <a href="#" class="sidebar-collapse-icon with-animation">
             <?php echo $this->language->_('Advanced Search'); ?>               
         </a>
     </div>
     <br />
    </form>
</div>
</div>
<br />

<br>
    
    <div class="form-group hidden">
        <div style="float:right; padding-left:5px;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" placeholder="Search">
            </div>
        </div>
        <div style="float:right; padding-left:10px;">
        <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
				echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
			}
			else{
			?>
				<div class="wrapper">
					<i class="fa fa-print iconins"></i>
					<input class="btngrad hov" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button">
				</div>
			<?php
			}
			?>
        </div>
        <div style="float:right; padding-left:10px;">
            <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
                <?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
                <!-- <?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btn btn-warning','disabled'=>'disabled')); ?>&nbsp; -->
                <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
                <?php }else{ ?>
                <!-- <?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-warning')); ?>&nbsp; -->
                <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
                <?php } ?>
            </form>
        </div>
    </div>
	<br><br>
<!-- <div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br> -->


<table width="100%" cellpadding="2" cellspacing="0"  class="table table-sm table-striped">
	<tr class="headercolor">
		<?php 
			echo $this->partial('tableheader.phtml',
				array(
					'fields' => $this->fields,
					'sortBy' => $this->sortBy,
					'sortDir' => $this->sortDir,
					'query_string_params' => $this->query_string_params
				)
			);
		?>
	</tr>
	
	<?php
		$numFields = count($this->fields);
		
 		if(!empty($this->paginator) && count($this->paginator) > 0){
			$total = 0;
			foreach ($this->paginator as $arr){
				echo '<tr>';
				foreach($arr as $key => $val){

					$attr = 'align:left;';
					if($key == 'CUST_BIN'){
						$id = $val;
						$val = $val;
					}
					if($key == 'INVOICE_NO'){
						$id = $val;
						$val1 = $val;
					}


					if($key == 'PS_NUMBER'){
						//$val = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'view','reff'=>$val),null,true).'/id/'.$id.'">'.$val.'</a>';
						$val = '<a href="'.$this->url(array('module'=>'virtualpaymentreport','controller'=>'view','reff'=>$val),null,true).'">'.$val.'</a>';
					}
					if ($key == 'AMOUNT'){
						$total += $val;
						$val = SGO_Helper_GeneralFunction::displayCurrency($val);
					}if ($key == 'TRX_DATE'){// || $key == 'LAST_UPDATE'){
						$val = date('d-m-Y',strtotime($val));
					}if ($key == 'LAST_UPDATE'){
						$val = date('d-m-Y H:i:s',strtotime($val));
						//Zend_Debug::dump($val);
						//die("");
					}
					if ($key == 'VP_CREATED'){
						$val = Application_Helper_General::convertDate($val,$this->displayDateTimeFormat,$this->defaultDateFormat);
						//Zend_Debug::dump($val);
						//die("");
					}
					// if ($key == 'VP_PAID_DATE'){
					// 	$val = Application_Helper_General::convertDate($val,$this->displayDateTimeFormat,$this->defaultDateFormat);
					// 	//Zend_Debug::dump($val);
					// 	//die("");
					// }
					if($key == 'VP_STATUS'){
						$val = $this->optStatus[$val];
					}

					if($key == 'VP_MODE'){
						$val = $this->optSyncVpMode[$val];
					}
					
					
					
					else{
						$val = $val;
					}
					
					echo '<td style="text-align:'.($key == 'AMOUNT' ? 'right':'left').'">'.$this->language->_($val).'</td>';
				}
				echo '<td>CMS</td>';
				echo '</tr>';
			}
			
		}else{
			echo '<tr>
				<td class="tbl-evencontent" colspan="'.$numFields.'" align="center"> --- '.$this->language->_('No Data').' --- </td>
			</tr>';
		}
		?>
</table>
<br>

<!-- <div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div> -->

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
    function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
    var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'Created Date'  ){
        $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
                                                                        $('#createdStart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#createdEnd').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                    
    }else if( colomnname == 'PS_UPDATED'){
        $(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");
 
                                                                    
                                                                        $('#updateStart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#updateEnd').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                    
    }else if(colomnname == 'PS_EFDATE' ){
        $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");
 
                                                                    
                                                                       $('#efdateStart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#efdateEnd').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                    
    }else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
        $(colval).append("<input type='text' name='whereval[]'  value='' style='width:100%' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
    }else if(colomnname == 'PS_STATUS'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpsstatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_TYPE'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpstype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'SOURCE_ACCOUNT'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
