<form method="post" name="approval">
	<?php if (isset($this->message)) {
		if ($this->refreshParentScript == true) {
	?>
			<script type="text/javascript">
				// alert();
				// refreshParent()
				window.opener.location.reload(true);
			</script>
		<?php
		}
		?>
	<?php } else { ?>

		<div align="center">

			<input type="hidden" name="changes_id" value="<?php echo $this->changes_id ?>">
			<?php
			if ($this->dataChanges['CHANGES_STATUS'] != 'RR') { ?>

				<?php

				//	echo $this->visibleButtonApprove;die;
				if ($this->visibleButtonApprove == true || $this->visibleButtonReject == true) {

					if ($this->dataChanges['CHANGES_FLAG'] == 'F') {
					} else if ($this->dataChanges['MODULE'] == 'corporatedcard' || $this->dataChanges['MODULE'] == 'corporatedebitcard' || $this->dataChanges['MODULE'] == 'activationcard') {

				?>
						<div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Suggestion') ?></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p class="textBlack" style="text-align: left;"><?php echo $this->language->_('Reject Reason') ?></p>
										<?php echo $this->formTextarea('detailnote', $this->detailnote, array(
											'cols' => '50', 'rows' => '5',
											'onKeyDown' => 'textCounter(this.form.detailnote,this.form.disable_note_len2,128)',
											'onKeyUp' => 'textCounter(this.form.detailnote,this.form.disable_note_len2,128)',
											'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'detailnote'
										)) ?>
										<br>
										<div class="input-group">
											<?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
											<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
										<button type="submit" name="submit" class="btngreen hov" value="<?php echo $this->language->_('Reject'); ?>" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
									</div>
								</div>
							</div>
						</div>
				<?php
					} else {

						if ($this->hidenote || rtrim($this->dataChanges['MODULE']) == 'manageproductaccount') {

							// echo $this->language->_('Repair\'s Notes'); 
							echo $this->language->_('Notes') . '<span class="errmsg">*</span>';

							echo ': <br />';
							echo $this->formTextarea('detailnote', $this->detailnote, array(
								'cols' => '50', 'rows' => '5', 'maxlength' => '200',
								'onKeyDown' => 'textCounter(this.form.note,this.form.note_len,200)',
								'onKeyUp' => 'textCounter(this.form.note,this.form.note_len,200)',
								'class' => 'form-control col-md-8',
								'required' => 'required',
								'onKeypress' => 'return noSpecialChar3(event);'
							));
						}
					}
				}
				?>
				<br />
				<br />
				<br />

				<?php
				if ($this->dataChanges['CHANGES_FLAG'] == 'F') {
				} elseif ($this->dataChanges['CHANGES_FLAG'] == 'B') {
					if ($this->visibleButtonApprove == true) {
						echo '<input type="submit" name="submit"  class="btngreen hov" value="' . $this->language->_('Approve') . '">&nbsp;';
					}
					if ($this->visibleButtonReject == true) {
						if ($this->dataChanges['MODULE'] == 'corporatedcard' || $this->dataChanges['MODULE'] == 'corporatedebitcard' || $this->dataChanges['MODULE'] == 'activationcard') {
				?>
							<script>
								//$(document).ready(function(){
								function rejectmodal() {
									//alert();
									$('#dialogrepair_box').modal('show');

								}
								//});
							</script>
							<?php
							$repairAttr = array('id' => 'showRepair', 'class' => 'btnred hov', "onclick" => "rejectmodal();");
							echo $this->formButton('reject', $this->language->_('Reject'), $repairAttr);
							?>

				<?php
						} else {
							echo '<input type="submit" name="submit" class="btnred hov" value="' . $this->language->_('Reject') . '" style=""> ';
						}
					}
				}

				?>


			<?php } ?>

			<?php
			// echo "<pre>";
			//  print_r($this->dataChanges);die;
			if (($this->dataChanges['MODULE'] != 'corporatedcard' && $this->dataChanges['MODULE'] != 'corporatedebitcard' && $this->dataChanges['MODULE'] != 'activationcard' && $this->dataChanges['MODULE'] != 'customeraccount' && ($this->dataChanges['CHANGES_TYPE'] == 'N' || $this->dataChanges['CHANGES_TYPE'] == 'E'))) {
				//print_r($this->dataChanges);var_dump($this->visibleButtonRequestRepair);die;
			?>
				<?php if ($this->dataChanges['CHANGES_STATUS'] != 'RR' && $this->visibleButtonRequestRepair == true && $this->dataChanges['MODULE'] != 'manageproductaccount') {


					if ($this->dataChanges['CHANGES_FLAG'] == 'F') {
					} else {
						echo '<input type ="submit" name="submit" class="btngreen hov" value="' . $this->language->_('Request Repair') . '" style="background-color: white;color: black;"><br />';
					}
				}
				?>

				<?php
				//var_dump($this->visibleButtonRepair);die;
				if ($this->visibleButtonRepair == true) { ?>
					<br />

					<?php
					if ($this->dataChanges['CHANGES_FLAG'] == 'F') {
					} else {
						if ($this->dataChanges['MODULE'] == 'customer' && $this->dataChanges['CHANGES_TYPE'] == 'E') {
					?>
							<input type="button" onClick="window.location.href='<?php echo $this->url(array('module' => $this->module_name, 'controller' => 'repairedit', 'action' => 'index', 'changes_id' => $this->changes_id), null, true); ?>'" class="btngreen hov" value="<?php echo $this->language->_('Repair'); ?>">
						<?php
						} else if ($this->dataChanges['MODULE'] == 'boundary' && $this->dataChanges['CHANGES_TYPE'] == 'E') {
						?>
							<input type="button" onClick="window.location.href='<?php echo $this->url(array('module' => 'customer', 'controller' => 'repairapprovalgroup', 'action' => 'index', 'changes_id' => $this->changes_id), null, true); ?>'" class="btngreen hov" value="<?php echo $this->language->_('Repair'); ?>">
						<?php
						} else {
						?>

							<input type="button" onClick="window.location.href='<?php echo $this->url(array('module' => $this->module_name, 'controller' => 'repair', 'action' => 'index', 'changes_id' => $this->changes_id), null, true); ?>'" class="btngreen hov" value="<?php echo $this->language->_('Repair'); ?>">
				<?php }
					}
				} ?>
			<?php } ?>
			<br />
			<br />
			<!--  <input type="button" class="btngreen hov" onclick="javascript:window.close(); window.opener.location.reload();" value="Close"> -->
		</div>
</form>
<?php
	}
?>