<script>
	$(document).ready(function()
	{
		if( '<?=$this->success?>' || '<?=$this->error?>' )
		{
			$("input").attr("disabled","disabled");
			$("textarea").attr("disabled","disabled");
		}
		<?php
		$systype = $this->system_type;
		if($systype == "1"){
			?>
			/*$('#tr_amount_pb_idr').show()
			$('#tr_amount_pb_usd').show()
			$('#tr_amount_online').show()*/

			<?php
		}else if($systype == "2") {
			?>

			/*$('#tr_amount_pb_idr').hide()
			$('#tr_amount_pb_usd').hide()
			$('#tr_amount_online').hide()*/

			<?php
		}else if($systype == "3") {
			?>
			/*$('#tr_amount_pb_idr').show()
			$('#tr_amount_pb_usd').show()
			$('#tr_amount_online').show()*/

			<?php
		} 
		?>
	});
</script>

<style type="text/css">
	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-size: 12px;
		width: 250px;
		text-transform: uppercase;
	}
	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color:white !important;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 18px;
		height: 47.5px;
		width: 250px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		color:white !important;
		border-color: #dee2e6 #dee2e6 #fff !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 14px;
		height: 47.5px;
		font-size: 14px;
		width: 250px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.mybtn .buttonact {
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.mybtn .buttonnoact {
		background-color: #D1D0CE !important;
		color: #736F6E !important;
		border-color: #B6B6B4 !important;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('General Setting'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Frontend Application Setting'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('General Setting')?></h5>
		<h6><?=$this->language->_('Manage front end, user account, notification template settings	')?></h6>
	</div>
</div>
<br>
	<!-- <div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btngreen hov col-md-3" name="button">Front End</button>
		<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btnwhite hov col-md-3" name="button">User and Password Policies</button>
		<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
	</div> -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" value="1" at="1" onclick="location.href='/generalsetting/foappsetting'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">Front End</a>
			
		</li>
		
		<li class="nav-item">
			<a class="nav-link" value="3" at="3" onclick="location.href='/generalsetting/fousersetting'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">User and Password Policies</a>
			
		</li>
		
		<li class="nav-item" style="display:none;">
			<a class="nav-link" value="2" at="2" onclick="location.href='/generalsetting/templatesetting'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Template Setting</a>
			
		</li>
		
	</ul>
	<!-- <br> -->
	<br>

	<?php if($this->success){ ?>
		<div class="alert alert-success" role="alert"><?=$this->language->_($this->report_msg)?></div><br />
	<?php }else if(!empty($this->report_msg)){ ?>
		<div class="alert alert-danger" role="alert">

			<?=$this->language->_($this->report_msg)?>

			<?php if($this->errorfee){
				echo '<br><br>'.$this->errorfee;
			}?>

		</div>

	<?php } ?>
	<div class="row">
		<div class="col-sm-3">
			<div class = "mybtn">
				<button onclick="location.href='/generalsetting/foappsetting'" class = "buttonnoact col-md-12">Frontend Global Setting</button>
				<button onclick="location.href='/generalsetting/datarecord'" class = "buttonnoact col-md-12">Data Record Limitation</button>
				<button onclick="location.href='/generalsetting/transactiontime'" class = "buttonnoact  col-md-12">Time Setting</button>
				<button onclick="location.href='/generalsetting/transactionlimit'" class = "buttonact col-md-12">Limit Setting</button>
			</div>
		</div>
		<div class="col-sm-9">
			<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="post">

				<table cellpadding="10" cellspacing="0" width="100%">
		<!-- <tr>
			<td>?php echo $this->language->_('Max future date'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('range_futuredate',$this->range_futuredate,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
				<div class="errmsg">?=$this->xrange_futuredate;?></div>
			</td>
			
			<td>day(s)</td>
		</tr> -->

		<!-- <tr style="display:none;">
			<td>?php echo $this->language->_('Remittance Monthly Limit (USD)'); ?></td>
			<td>:</td>
			<td>
				?php
					echo $this->formText('remittance_limit_per_month',Application_Helper_General::displayMoney($this->remittance_limit_per_month),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency);
				?>

				<div class="errmsg">?=$this->xremittance_limit_per_month;?></div>
			</td>
		</tr>
		<tr style="display:none;">
			<td>?php echo $this->language->_('Threshold Amount for LLD Payments (IDR)'); ?></td>
			<td>:</td>
			<td>
				?php
					echo $this->formText('threshold_lld',Application_Helper_General::displayMoney($this->threshold_lld),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)
				?>

				<div class="errmsg">?=$this->xthreshold_lld;?></div>
			</td>
		</tr> -->
		<!-- <tr style="display:none;">
			<td>?php echo $this->language->_('Threshold Amount for LLD Payments (USD)'); ?></td>
			<td>:</td>
			<td>
				?php
					echo $this->formText('threshold_lld_remittance',Application_Helper_General::displayMoney($this->threshold_lld_remittance),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)") , $optionCurrency)
				?>

				<div class="errmsg">?=$this->xthreshold_lld_remittance;?></div>
			</td>
		</tr> -->
		<tr>
			<td><?php echo $this->language->_('SKN Payments Limit Amount (IDR)'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('min_amount_skn',Application_Helper_General::displayMoney($this->min_amount_skn),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg"><?=$this->xmin_amount_skn;?></div>
			</td>
			<td> - </td>
			<td>
				<?php echo $this->formText('max_amount_skn',Application_Helper_General::displayMoney($this->max_amount_skn),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)		?>
				<div class="errmsg"><?=$this->xmax_amount_skn;?></div>
			</td>

		</tr>
		<tr>
			<td><?php echo $this->language->_('RTGS Payments Limit Amount (IDR)'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('min_amount_rtgs',Application_Helper_General::displayMoney($this->min_amount_rtgs),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg"><?=$this->xmin_amount_rtgs;?></div>
			</td>
			<td> - </td>
			<td>
				<?php 	echo $this->formText('max_amount_rtgs',Application_Helper_General::displayMoney($this->max_amount_rtgs),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg"><?=$this->xmax_amount_rtgs;?></div>
			</td>

		</tr>

		<!-- <tr id="tr_amount_pb_idr" style="display:none;">
			<td>?php echo $this->language->_('In House Limit Amount (IDR)'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('min_amount_pb_idr',Application_Helper_General::displayMoney($this->min_amount_pb_idr),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg">?=$this->xmin_amount_pb_idr;?></div>
			</td>
			<td> - </td>
			<td>
				?php 	echo $this->formText('max_amount_pb_idr',Application_Helper_General::displayMoney($this->max_amount_pb_idr),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg">?=$this->xmax_amount_pb_idr;?></div>
			</td>

		</tr>

		<tr id="tr_amount_pb_usd" style="display:none;">
			<td>?php echo $this->language->_('In House Limit Amount (USD)'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('min_amount_pb_usd',Application_Helper_General::displayMoney($this->min_amount_pb_usd),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg">?=$this->xmin_amount_pb_usd;?></div>
			</td>
			<td> - </td>
			<td>
				?php 	echo $this->formText('max_amount_pb_usd',Application_Helper_General::displayMoney($this->max_amount_pb_usd),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg">?=$this->xmax_amount_pb_usd;?></div>
			</td>

		</tr>

		<tr id="tr_amount_online" style="display:none;">
			<td>?php echo $this->language->_('Online Limit Amount (IDR)'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('min_amount_ol',Application_Helper_General::displayMoney($this->min_amount_ol),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg">?=$this->xmin_amount_ol;?></div>
			</td>
			<td> - </td>
			<td>
				?php 	echo $this->formText('max_amount_ol',Application_Helper_General::displayMoney($this->max_amount_ol),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg">?=$this->xmax_amount_ol;?></div>
			</td>

		</tr>

		<tr style="display:none;">
			<td>?php echo $this->language->_('Batch Payment Total Limit Amount (IDR)'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('min_amount_batch',Application_Helper_General::displayMoney($this->min_amount_batch),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg">?=$this->xmin_amount_batch;?></div>
			</td>
			<td> - </td>
			<td>
				?php 	echo $this->formText('max_amount_batch',Application_Helper_General::displayMoney($this->max_amount_batch),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg">?=$this->xmax_amount_batch;?></div>
			</td>

		</tr> -->
		<!-- <tr style="display: none">
			<td>?php echo $this->language->_('Domestic Online Limit Amount (IDR)'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('min_amount_ol',Application_Helper_General::displayMoney($this->min_amount_ol),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg">?=$this->xmin_amount_ol;?></div>
			</td>
			<td> - </td>
			<td>
				?php echo $this->formText('max_amount_ol',Application_Helper_General::displayMoney($this->max_amount_ol),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg">?=$this->xmax_amount_ol;?></div>
			</td>

		</tr> -->
		<tr>
			<td colspan="5">
				<div class="col-md-12">
					<table align="center">
						<tr>
							<?php
							$options = array('class'=>'btngreen hov');
							$options2 = array('class'=>'btnwhite hov');
							if( $this->success || $this->error )
							{
								$options = array_merge($options,array("disabled" => "disabled"));
							}
							?>
							<td >
								<?php //echo $this->formSubmit('submit','Submit',$options)?>&nbsp;
								<?php //echo $this->formReset('reset','Reset',$options)?>

								<?php
								if($this->hasPrivilege('STUD'))
								{
									?>
									<?php echo $this->formReset('reset',$this->language->_('Reset'),$options2)?>
									<?php echo $this->formSubmit('submit',$this->language->_('Submit'),$options)?>&nbsp;

									<?php
								}
								else{
									$submit = $this->language->_('Submit');
									$reset = $this->language->_('Reset');
									echo'<input type="button" value="'.$submit.'" disabled class="inputbtn"> &nbsp;';
									echo'<input type="button" value="'.$reset.'" disabled class="inputbtn">';
								}
								?>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>

	</table>
</form>




</div>

</div>
