<div class="card-header cardhead text-white">
  <strong><?php echo $this->language->_('Informasi Pemohon'); ?></strong>
</div>
<table>
  <div class="portlet-body flip-scroll table-responsive">
  <table class="table table-sm table-striped">
  <?php  if(!empty($this->depositData)){ ?>

      <tr>
        <td class="textBlack"><?php echo $this->language->_('Company Name'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custname ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Address'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custadd ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Province'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custprov ?></td>
      </tr>
       <tr>
        <td class="textBlack"><?php echo $this->language->_('City'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custcity ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Zip Code'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custzip ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Fax Number'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custfax ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Phone Number'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custphone ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Email'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->custemail ?></td>
      </tr>
    

  <?php }else{ ?>
    <tr><td class="textBlack" colspan="5">- <?php echo $this->language->_('no data'); ?> -</div>
  <?php } ?>
</table>

<div class="card-header cardhead text-white">
  <strong><?php echo $this->language->_('Deposito'); ?></strong>
</div>
<table>
  <div class="portlet-body flip-scroll table-responsive">
  <table class="table table-sm table-striped">
  <?php  if(!empty($this->depositData)){ ?>

    <?php 
      $tenorArr = array('1'=>'1 Month','3'=>'3 Month','6'=>'6 Month');
      $tenor = $tenorArr[$this->depositData['DEPOSIT_MONTH']];

      if ($this->depositData['ARO'] == 1) {
          $aro = 'Yes';
      }
      else{
        $aro = 'no';
      }

    ?>

      <tr>
        <td class="textBlack"><?php echo $this->language->_('Opening Date'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->depositData['OPENING_DATE'] ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Source Account'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->depositData['SOURCE_ACCT'] ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Initial Deposit (IDR)'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->depositData['DEPOSIT_AMOUNT'] ?></td>
      </tr>
       <tr>
        <td class="textBlack"><?php echo $this->language->_('Tenor (dalam bulan)'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $tenor ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Automatic Roll Over (ARO)'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo  $aro; ?></td>
      </tr>

  <?php }else{ ?>
    <tr><td class="textBlack" colspan="5">- <?php echo $this->language->_('no data'); ?> -</div>
  <?php } ?>
</table>

<div class="card-header cardhead text-white">
  <strong><?php echo $this->language->_('Branch'); ?></strong>
</div>
<table>
  <div class="portlet-body flip-scroll table-responsive">
  <table class="table table-sm table-striped">
  <?php  if(!empty($this->depositData)){ ?>

    <?php 
      $branchCityArr = array('1' => 'JAKARTA');
      $branchCity = $branchCityArr[$this->depositData['DEPOSIT_CITY']];
    ?>

      <tr>
        <td class="textBlack"><?php echo $this->language->_('City'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $branchCity ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Branch'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Branch Address'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->depositData['DEPOSIT_ADDRESS'] ?></td>
      </tr>

  <?php }else{ ?>
    <tr><td class="textBlack" colspan="5">- <?php echo $this->language->_('no data'); ?> -</div>
  <?php } ?>
</table>

<div class="card-header cardhead text-white">
  <strong><?php echo $this->language->_('Data dan Transaksi'); ?></strong>
</div>
<table>
  <div class="portlet-body flip-scroll table-responsive">
  <table class="table table-sm table-striped">
  <?php  if(!empty($this->depositData)){ ?>

    <?php 

      if ($this->depositData['OWNER_OF_FUNDS'] == 1) {
        $oof = 'Yes';
      }else{
        $oof = 'No';
      }

      $depositPurposeArr = array('1'=>'Rumah','2'=>'Tanah Kavling','3'=>'Apartemen','4'=>'Kios/Toko/Gudang/Pabrik','5'=>'Ruko');
      $branchType = $depositPurposeArr[$this->depositData['branch_TYPE']];
      
      $branchConditionArr = array('1'=>'Tempat Tinggal','2'=>'Tempat Usaha','3'=>'Disewakan','4'=>'Ditempati keluarga/kerabat');
      $branchCondition = $branchConditionArr[$this->depositData['branch_CONDITION']];

      $branchProvinceArr = array('1' => 'JAKARTA');
      $branchProvince = $branchProvinceArr[$this->depositData['branch_PROVINCE']];
    ?>

      <tr>
        <td class="textBlack"><?php echo $this->language->_('Owner of Funds'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $oof ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Purpose of Deposit'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->depositData['DEPOSIT_PURPOSE'] ?></td>
      </tr>
      <tr>
        <td class="textBlack"><?php echo $this->language->_('Aim & Objective in Respect to Bank'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo  $this->depositData['AIM_OBJECTIVE'] ?></td>
      </tr>
       <tr>
        <td class="textBlack"><?php echo $this->language->_('Average Transacion per month'); ?></td>
        <td class="textBlack"> : </td>
        <td class="textBlack"><?php echo $this->depositData['AVERAGE_TRANSACTION'] ?></td>
      </tr>

  <?php }else{ ?>
    <tr><td class="textBlack" colspan="5">- <?php echo $this->language->_('no data'); ?> -</div>
  <?php } ?>
</table>