<b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Purchase')?></a></li>
  <li><?php echo $this->language->_('Handphone Voucher Purchase')?></li>
</ol>
</b>
<br />
<!--<div class="successmsg">Payment Success</div>-->
<div class="errmsg">
<?php 
	echo $this->language->_($this->paramSession['paymentMessage']);		
?>
</div>
<br />
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped"  action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">
	<div class="portlet-body form">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong><?php echo $this->language->_('Handphone Voucher Purchase');?></strong></div>
                    	<div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                
                                                    <div class="form-body">
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->formLabel('Payment Reff#',$this->language->_('Payment Ref').'#'); ?></label>
                                                            <div class="col-md-9">
                                                            <?=$this->paramSession['PSNumber']?>
                                                            </div>
                                                        </div>
                                                        <?php if($this->paramSession['trans_id']){?>
                                                			<div class="form-group row">
                                                                <label class="control-label col-md-3"><?php echo $this->language->_('Transaction ID');?></label>
                                                                <div class="col-md-9">
                                                                    <?=$this->paramSession['trans_id']?>
                                            						<br/>
                                                                </div>
                                                            </div>
                                                			
                                                		<?php }?>
                                                        
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Date - Time');?></label>
                                                            <div class="col-md-9">
                                                                <?php echo $this->formLabel('datetime',$this->paramSession['date']); ?>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Source Account');?></label>
                                                            <div class="col-md-9">
                                                                <?=$this->paramSession['ACCTSRC']?> [<?=$this->paramSession['ccy']?>] - <?=$this->paramSession['ACCT_NAME_DATA']?> (<?=$this->paramSession['ACCT_DESC']?>)
                                        						<br/>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Voucher');?></label>
                                                            <div class="col-md-9">
                                                                <?php echo $this->formLabel('service',$this->paramSession['operatorNama']); ?>
                                        						<br/>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('No Handphone');?></label>
                                                            <div class="col-md-9">
                                                                <?=$this->paramSession['orderId']?>
                                        						<br/>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Voucher Nominal');?></label>
                                                            <div class="col-md-9">
                                                                <?=Application_Helper_General::displayMoney($this->paramSession['denom'])?>
                                        						<br/>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Total Payment');?></label>
                                                            <div class="col-md-9">
                                                                <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
                                        						<br/>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-12">
                                                                <div class="formbutton" style="float:left">
                                                					<input type="submit" name="submit" value="<?php echo $this->language->_('Back');?>" class="btn btn-warning"/>
                                                <!--					<input type="button" value="<?php echo $this->language->_('Print');?>" onClick="window.print();" class="inputbtn">-->
                                                					<button onclick="openwindow('<?PHP echo $this->url(array('printtrxxx' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn btn-warning"><?PHP echo $this->language->_("Print")?></button>&nbsp;
                                                										
                                                					<?php echo $this->formSubmit('pdf',$this->language->_('PDF'),array('class'=>'btn btn-warning','style'=>'display:none')); ?>
                                                
                                                					
                                                				</div>
                                                                
                                                            </label>
                                                            
                                                        </div>
	                                               </div>
	                                             </div>
    </div>
</form>
</div>