<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Virtual Payment')?></a></li>
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Company BIN List')?></a></li>
  <li><?php echo $this->language->_('Detail')?></li>
  
</ol>
</b>
<br />

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company BIN List'); ?></div>

<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
	 $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked','checked');
	 $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked','checked');
	 $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked','checked');


     //pengaturan error messages
	 <?php 
	   if(!is_null($this->customer_msg) || $this->customer_msg != '') 
	   {
	       foreach($this->customer_msg as $key => $error)
	       {
	   ?>
	           $('#error_<?php echo $this->language->_($key); ?>').html('<?php echo $this->language->_($error); ?>');
	 <?php      
	       } 
	   }
	   ?>
});


function resetData()
{ 
	 $('#cust_id').val('<?php echo $this->cust_id; ?>');
	 $('#cust_name').val('<?php echo $this->cust_name; ?>');
	 $('#cust_type').val('<?php echo $this->cust_type; ?>');
	 $('#cust_workfield').val('<?php echo $this->cust_workfield; ?>');
	 $('#cust_address').val('<?php echo $this->cust_address; ?>');
	 $('#cust_city').val('<?php echo $this->cust_city; ?>');
	 $('#cust_zip').val('<?php echo $this->cust_zip; ?>');
	 $('#cust_province').val('<?php echo $this->cust_province; ?>');
	 $('#country').val('<?php echo $this->country; ?>');
	 $('#cust_contact').val('<?php echo $this->cust_contact; ?>');
	 $('#cust_phone').val('<?php echo $this->cust_phone; ?>');
	 $('#cust_ext').val('<?php echo $this->cust_ext; ?>');
	 $('#cust_fax').val('<?php echo $this->cust_fax; ?>');
	 $('#cust_email').val('<?php echo $this->cust_email; ?>');
	 $('#cust_website').val('<?php echo $this->cust_website; ?>');
	 $('#country_code').val('<?php echo $this->country_code; ?>');

	 $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked','checked');
	 $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked','checked');
	 $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked','checked');
}




</script>
<?php
if($this->cust_id){
  if($this->cust_hidden){
  	$option_max15 = array('disabled'=>true);
  	$option_max40 = array('disabled'=>true);
  	$option_max20 = array('disabled'=>true);
  }else{
  	$option_max15 = array('maxlength'=>15);
  	$option_max40 = array('maxlength'=>40);
  	$option_max20 = array('maxlength'=>20);
  }
  
  $option_max40['size'] = 60;
  $option_max20['size'] = 60;
  $option_max40_open = array('size'=>60,'maxlength'=>40);
?>
<?php if($this->error){ ?>
<div class="errmsg"><?=$this->customer_msg?></div><br />
<?php } ?>

<?php if(count($this->customer_msg) > 0){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
<?php } ?>



  <div class="portlet-body form">
<form method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true)?>">

<div class="portlet-body flip-scroll" >
<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content">
  <tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Bin Detail'); ?></strong></th></tr>
  
  <tr>
    <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Bin')); ?></td>
	<td width="3" class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_id',$this->cust_bin); ?></td>
  <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Bin Name')); ?></td>
  <td width="3" class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="" width="300">
<?php echo $this->formText('bin_name',$this->bin_name,array('maxlength'=>80,'size'=>57,'class'=>'form-control'));?>
  	</td>
  </tr>
  <tr>
    <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Bin Status')); ?></td>
  <td width="3" class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_id',$this->cust_bin_status); ?></td>
  <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Approved Date')); ?></td>
  <td width="3" class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_created',Application_Helper_General::convertDate($this->app_date,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
  </tr>
</table>
</div>
<br />

<div class="portlet-body flip-scroll" >
<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content">
  <tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Account Detail'); ?></strong></th></tr>
  <tr>
   <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Bank')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_name',$this->bank); ?></td>
  </tr>
  
  <tr>
   <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Branch')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin',$this->branch); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_bin_status',$this->language->_('Account Number')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin_status',$this->language->_($this->acc_no)); ?></td>
  </tr>
  
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_created',$this->language->_('Account Name')); ?></td>
    <td class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin_status',$this->language->_($this->acc_name)); ?></td>
  </tr>
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_createdby',$this->language->_('Account Alias Name')); ?></td>
    <td class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_createdby',$this->cust_createdby); ?></td>
  </tr>
</table>
</div>


<div>
  <input type="button" name="clearfilter" class="btn btn-warning" value="<?php echo $this->language->_('Back')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>'view','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true)?>'">

	   <?php
//  echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));
  echo '&nbsp;&nbsp;';
  echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btn btn-warning'));
  echo '&nbsp;&nbsp;';
  //echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));
  echo $this->formHidden('cust_hidden',$this->cust_hidden);
  echo $this->formHidden('save_customer','ya');
?>
</div>
</form>

</div>
<script type="text/javascript">
	function changeDateEstablish(){
		if(document.getElementById('cust_type').value=='E0')
			document.getElementById('dateEstablish').innerHTML='&nbsp;<span class="errmsg">*</span>';
		else
			document.getElementById('dateEstablish').innerHTML='';		
	}
	<?php if($this->cust_type=='E0'){?>
	changeDateEstablish();
	<?php } ?>
</script>
<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('No Data'); ?> -</div>
<?php } ?>