<script type="text/javascript">
$(document).ready(function(){
	$('#fixTable').fixTableHeader();
});
</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Account Group'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Approve Group Changes'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
	<tbody><?php
		$suggest_id = null;
		if($this->suggestInfo)
		{
			$suggest_id = $this->suggestInfo['SUGGEST_ID'];

	?>
		<tr>
			<td>
				<table cellpadding="3" cellspacing="0" border="0" style="background-color: white;">
				<tr><th colspan="3" class="headercolor tdform-sub"><strong><?php echo $this->language->_('Suggestion Information'); ?></strong></th></tr>
				<tr><td></td></tr>
				<tr>
				  <td class="tbl-evencontent" width="120px"><?php echo $this->language->_('Suggestion Status'); ?></td>
				  <td class="tbl-evencontent" width="5px">:</td>
				  <td class="tbl-evencontent"><?php
//					switch ($this->suggestInfo['SUGGEST_STATUS']) {
//						case 0:
//							echo "Unread Suggestion";
//							break;
//						case 1:
//							echo "Read Suggestion";
//							break;
//						case 2:
//							echo "Granted Suggestion";
//							break;
//						case 3:
//							echo "Rejected Suggestion";
//							break;
//						case 4:
//							echo "Request Repair";
//							break;
//						case 5:
//							echo "Repaired Suggestion";
//							break;
//						case 6:
//							echo "Deleted Suggestion";
//							break;

				  	switch($this->suggestInfo['SUGGEST_STATUS']) {
						case 0:
							echo $this->language->_('Unread Suggestion');
							break;
						case 1:
							echo $this->language->_('Read Suggestion');
							break;
						case 2:
							echo $this->language->_('Granted Suggestion');
							break;
						case 3:
							echo $this->language->_('Rejected Suggestion');
							break;
						case 4:
							echo $this->language->_('Request Repair');
							break;
						case 5:
							echo $this->language->_('Repaired Suggestion');
							break;
						case 6:
							echo $this->language->_('Deleted Suggestion');
							break;
					}
				  ?>
				  </td>

				</tr>
				<tr>
				  <td class="tbl-evencontent"><?php echo $this->language->_('Suggested By'); ?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent"><?php echo $this->suggestInfo['SUGGEST_USER']?></td>
				  <td width="10%"></td>
				</tr>
				<tr>
				  <td class="tbl-evencontent"><?php echo $this->language->_('Suggest Date and Time'); ?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent"><?php echo Application_Helper_General::convertDate($this->suggestInfo['SUGGEST_DATE'],'d-MMM-yyyy HH:mm:ss','yyyy-MM-dd HH:mm:ss')?></td>
				</tr>
				<!-- <tr>
				  <td class="tbl-evencontent"><?php echo $this->language->_('Granted By'); ?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent"><?php echo $this->suggestInfo['SUGGEST_GRANTER']?></td>
				</tr>
				<tr>
				  <td class="tbl-evencontent"><?php echo $this->language->_('Grant Date and Time'); ?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent"><?php echo Application_Helper_General::convertDate($this->suggestInfo['SUGGEST_GRANTDATE'],'d-MMM-yyyy HH:mm:ss','yyyy-MM-dd HH:mm:ss')?></td>
				</tr>
				<tr>
				  <td class="tbl-evencontent"><?php echo $this->language->_('Reason'); ?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent"><?php echo $this->suggestInfo['SUGGEST_REASON']?></td>
				</tr> -->
			  </table>
			</td>
		</tr>
		<?php } ?>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><b><?php echo $this->language->_('Suggested Account Group'); ?></b></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="contentarea" id="contentarea">
<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped headerNew">
<thead>
<tr class="headercolor">
	<th width="3%" valign="top" class="tablehead fth-header">No</th>
	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
														'sortBy' => $this->sortBy,
														'sortDir' => $this->sortDir,
														'query_string_params' => $this->query_string_params
														)
							  )?>

</tr>
</thead>
<tbody>
<?php
$counter = 1;

if(count($this->suggestData) > 0 && $this->suggestInfo)
{
	  $i=0;

  foreach($this->suggestData as $row) {

	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

	$alias = $row['ACCT_ALIAS_NAME'] ? $row['ACCT_ALIAS_NAME'] : 'N/A';
	$group = $row['GROUP_NAME'] ? $row['GROUP_NAME'] : 'N/A';

	
	if (!in_array($row['ACCT_NO'],$this->arrCurrentAcct)){
		$difstyleCurrent = "background-color:#fffe5c";
	}

	echo '<tr style="'.$difstyleCurrent.'">
			<td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
			<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>';
			//<td class="'.$td_css.'">'.$alias.'</td>
	echo'	<td class="'.$td_css.'">'.$group.'</td>
		</tr>';

			$i++;
			$counter++;
  }
}
else {
	echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_('No Data')." --- </td></tr>";
}
?>
</tbody>
</table>
</div>
<br /></td></tr>
			</td>
		</tr>
		<tr>
			<td><b><?php echo $this->language->_('Current Account Group'); ?></b></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="contentarea" id="contentarea">
			<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped headerNew">
<thead>
<tr class="headercolor">
	<th width="3%" valign="top" class="tablehead fth-header">No</th>
	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
														'sortBy' => $this->sortBy,
														'sortDir' => $this->sortDir,
														'query_string_params' => $this->query_string_params
														)
							  )?>

</tr>
</thead>
<tbody>
<?php
$counter = 1;

if(count($this->currentData) > 0 && $this->suggestInfo)
{

	  $i=0;

  foreach($this->currentData as $row) {

	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

	$alias = $row['ACCT_ALIAS_NAME'] ? $row['ACCT_ALIAS_NAME'] : 'N/A';
	$group = $row['GROUP_NAME'] ? $row['GROUP_NAME'] : 'N/A';

	if (!in_array($row['ACCT_NO'],$this->arrSuggestAcct)){
		$difstyleSuggest = "background-color:#fffe5c";
	}

	echo '<tr style="'.$difstyleSuggest.'">
			<td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
			<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>';
			//<td class="'.$td_css.'">'.$alias.'</td>
	echo'	<td class="'.$td_css.'">'.$group.'</td>
		</tr>';

			$i++;
			$counter++;
  }
}
else {
	echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_('No Data')." --- </td></tr>";
}
?>
</tbody>
</table>
</div>
<br /><br /></td></tr>
		<tr>
			<td class="contentarea" id="contentarea">
			<form name="approve_account_group" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'suggest_id'=>$suggest_id),null,true)?>">
         
			    <div class="row">
			         <div class="col-sm-3">

			         </div>


			         <div class="col-sm-6">
			         	<div align="center">
			         	<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td nowrap="nowrap" valign="top">

												</td>
												
												<td nowrap="nowrap" valign="top" align='left'>
													<fieldset>
														<legend><span class="texthistory"></span></legend>
														
														<p style="text-align: center"><?php echo $this->language->_('Rejection Notes');?>:</p>
														<textarea  class="form-control" name="PS_REASON" wrap="physical" cols="40%" rows="4" onkeydown="textCounter(this.form.PS_REASON,this.form.x_len,40)" onkeyup="textCounter(this.form.PS_REASON,this.form.x_len,40)" onkeypress="return noSpecialChar3(event);"></textarea><br>
														<p style="text-align: center">
															<!-- <input class="btnwhite" value="<?php echo $this->language->_('Request Repair')?>" <?php if(!$suggest_id || $this->suggestInfo['SUGGEST_STATUS']==4) echo 'disabled="disabled"';?> type="submit" name="submit_repair"> -->
															<!-- <input class="btnwhite" value="<?php echo $this->language->_('Repair')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>'repairgroup','suggest_id'=>$suggest_id),null,true)?>'" <?php if(!$suggest_id) echo 'disabled="disabled"';?> type="button"> -->
															 <?php
																		  if ($this->suggestInfo) {
																		  	// echo 'here';
																?>

																		 	 <input class="btngreen hov" value="<?php echo $this->language->_('Approve')?>" <?php if(!$suggest_id || $this->suggestInfo['SUGGEST_STATUS']==4) ?> type="submit" name="submit_approve">
																			  
																			  <input class="btnwhite" value="<?php echo $this->language->_('Reject')?>" <?php if(!$suggest_id || $this->suggestInfo['SUGGEST_STATUS']==4) echo 'disabled="disabled"';?> type="submit" name="submit_reject">
																		 <?php
																	 } else {
																		 ?>
						<input type="submit" class="btnwhite disabled" value="reject" disabled >
																		 	

																		 	<button type="button" class="btnwhite disabled" name="button" disabled><?php echo $this->language->_('Approve')?></button>
																		 <?php
																	 }
																		 ?>
														</p>
														<!-- <input readonly="readonly" name="x_len" class="form-control" style="width:60px" size="1" value="40" type="text"> <?php echo $this->language->_('char(s) left');?> -->
													</fieldset>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
			         </div>

			         <div class="col-sm-3">
			             

			         </div>

			    </div>

			</form>
			</td>
		</tr>
	</tbody>
</table>
