<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Tracking Report') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Paper Inventory Report') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<?php if ($this->error) { ?>
    <div class="alert alert-danger"><?php echo $this->language->_($this->error); ?></div>
<?php } ?>

<div class="row mt-4">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Paper Inventory Report - Detail') ?></h5>
    </div>
</div>
<form name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'addinventory', 'action' => 'index'), null, true) ?>">
    <div class="row mt-4">
        <div class="col-md-3">Paper Number<span class="text-danger">*</span></div>
        <div class="col-md-7 d-flex">
            <?php echo $this->formText('paper_key', "GB", array('class' => 'form-control col-1', "required" => "required", "onkeyup" => "return this.value = this.value.toUpperCase()", "style" => "min-width: 55px")); ?>
            <span class="col-1">-</span>
            <input type="number" name="paper_from" class="paper_from form-control col-3 mr-2" id="paper_from" required>
            <span class="mr-2">To</span>
            <input type="number" name="paper_to" class="paper_to form-control col-3 mr-2" id="paper_to" required>
            <!-- -- -->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">Quantity (sheet)</div>
        <div class="col-md-7">
            <?php echo $this->formText('paper_quantity', $this->paper_quantity, array('class' => 'form-control', 'readonly' => '')); ?>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">Bank Branch</div>
        <div class="col-md-7">
            <div class="form-group hidden">
                <?php echo $this->formSelect('paper_branch', $this->paper_branch, array('id' => 'paper_branch', 'class' => 'form-control'), $this->branchDataArr); ?>
            </div>
            <div>
                <label class="col-form-label" id='paper_branch_txt'></label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 5rem;">
        <a href="/paper/inventory" type="cancel" class="border btn btnwhite hov mr-3">CANCEL</a>
        <button class="btngreen hov" type="submit" name="release" value="release">&nbsp;SUBMIT</button>
    </div>
</form>
<script type="text/javascript">
    function check_all_required() {
        const get_all_required = document.querySelectorAll("input:required");
        for (const input_required of get_all_required) {
            if (input_required.value == "") {
                alert("Mohon lengkapi semua field");
                return false;
            }
        }
    }

    function countPaperTo(event) {
        const paper_quantity = document.querySelector("#paper_quantity");
        const paper_to = document.querySelector("input[name='paper_to']");

        if (parseInt(event.target.value) < 1) {
            event.target.value = 1;
            if (paper_to.value == "") {
                paper_to.value = parseInt(event.target.value) + 99;
            }
            paper_quantity.value = parseInt(paper_to.value) - parseInt(event.target.value) + 1
            return alert("Tidak bisa lebih kecil dari 1");
        }

        paper_to.value = parseInt(event.target.value) + 99;

        paper_quantity.value = parseInt(paper_to.value) - parseInt(event.target.value) + 1
    }

    function countPaperTo2(event) {
        const paper_from = document.querySelector("input[name='paper_from']")
        if (paper_from.value == "") {
            event.target.value = "";
            return alert("Nomor kertas awal belum diisi");
        }
        // if ((parseInt(event.target.value) - parseInt(paper_from.value)) < 99) {
        //     event.target.value = parseInt(paper_from.value) + 99;
        //     return alert("Jumlah kertas tidak boleh kurang dari 100");
        // }

        if (parseInt(event.target.value) <= parseInt(paper_from.value)) {
            event.target.value = parseInt(paper_from.value) + 99;
            return alert("Tidak boleh lebih kecil atau sama dengan dari nomor kertas awal");
        }

        const paper_quantity = document.querySelector("#paper_quantity");
        paper_quantity.value = parseInt(event.target.value) - parseInt(paper_from.value) + 1
    }

    document.addEventListener("DOMContentLoaded", () => {
        const btn_submit = document.querySelector("button[type='submit']");
        btn_submit.addEventListener("click", check_all_required);

        const paper_from = document.querySelector("input[name='paper_from']")
        const paper_to = document.querySelector("input[name='paper_to']");

        paper_from.addEventListener("change", countPaperTo)
        paper_to.addEventListener("change", countPaperTo2)

        document.querySelector('#paper_branch_txt').innerText = document.querySelector('#paper_branch').firstElementChild.getAttribute('label');
    })
</script>