<?php $latestsuggestion = $this->language->_('Latest Suggestion'); ?>
<?php $latestapproval = $this->language->_('Latest Approval'); ?>
<?php $latestsuggester = $this->language->_('Latest Suggester'); ?>
<?php $latestapprover = $this->language->_('Latest Approver'); ?>
<?php $userid = $this->language->_('User Name'); ?>
<?php $cardno = $this->language->_('Card Number'); ?>
<?php $credit = $this->language->_('Credit Card'); ?>
<?php $name = $this->language->_('Name'); ?>
<?php $customersetup = $this->language->_('Customer Setup'); ?>
<?php $print = $this->language->_('Print'); ?>
<?php $setfilter = $this->language->_('Set Filter'); ?>
<?php $filterclear = $this->language->_('Clear Filter'); ?>
<?php $to = $this->language->_('To'); ?>
<?php $from = $this->language->_('From'); ?>
<?php $nodata = $this->language->_('No Data'); ?>


<b><?php echo $customersetup?> &gt; <?php echo $credit?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $credit?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('username', $userid); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $this->formText('username',$this->username); ?></td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('cardno',$cardno); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $this->formText('cardno',$this->cardno); ?></td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('name',$name); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php  echo $this->formText('name',$this->name); ?>
			</td>
		</tr>
		<tr>
		   <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestion',$latestsuggestion)?></td>
		   <td class="tbl-evencontent">:</td>
		   <td class="tbl-evencontent" nowrap="nowrap">
		   <?php echo $from?>&nbsp;&nbsp;<?php echo $this->datePicker("latestSuggestionFrom",$this->latestSuggestionFrom,array('dateFormat' => $this->jqueryDateFormat,
																				  'defaultDate'=>'new Date()',
																				  'showOn' => 'button',
																				  'buttonImage' => '/images/calendar.gif',
																				  'buttonImageOnly' => true,
																				  'changeMonth' => true,
																				  'changeYear' => true,
																				  'clearAnotherField' => true,
																				  'anotherField' => 'latestSuggestionTo',
		       																	  'minDateID'    => 'latestSuggestionTo',
																				  )); ?>
		   &nbsp;&nbsp;<?php echo $to?>&nbsp;&nbsp;<?php echo $this->datePicker("latestSuggestionTo",$this->latestSuggestionTo,array('dateFormat' => $this->jqueryDateFormat,
																				'defaultDate'=>'new Date()',
																				'showOn' => 'button',
																				'buttonImage' => '/images/calendar.gif',
																				'buttonImageOnly' => true,
																				'changeMonth' => true,
																				'changeYear' => true,
																				'clearAnotherField' => true,
																				'anotherField' => 'latestSuggestionFrom',
		   																		'maxDateID' => 'latestSuggestionFrom',
																				)); ?>              
		  </td>
		
		  <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestor',$latestsuggester)?></td>
		  <td class="tbl-evencontent">:</td>
		  <td class="tbl-evencontent" nowrap="nowrap">
			 <?php echo $this->formText('latestSuggestor',$this->latestSuggestor,null); ?>
		  </td> 
	   </tr>
	   
	   
		<tr>
		   <td class="tbl-evencontent"><?php echo $this->formLabel('latestApproval',$latestapproval)?></td>
		   <td class="tbl-evencontent">:</td>
		   <td class="tbl-evencontent" nowrap="nowrap">
		  <?php echo $from?>&nbsp;&nbsp;<?php echo $this->datePicker("latestApprovalFrom",$this->latestApprovalFrom,array('dateFormat' => $this->jqueryDateFormat,
																				  'defaultDate'=>'new Date()',
																				  'showOn' => 'button',
																				  'buttonImage' => '/images/calendar.gif',
																				  'buttonImageOnly' => true,
																				  'changeMonth' => true,
																				  'changeYear' => true,
																				  'clearAnotherField' => true,
																				  'anotherField' => 'latestApprovalTo',
		   																		  'minDateID'    => 'latestApprovalTo',
																				  )); ?>
		   &nbsp;&nbsp;<?php echo $to?>&nbsp;&nbsp;<?php echo $this->datePicker("latestApprovalTo",$this->latestApprovalTo,array('dateFormat' => $this->jqueryDateFormat,
																				'defaultDate'=>'new Date()',
																				'showOn' => 'button',
																				'buttonImage' => '/images/calendar.gif',
																				'buttonImageOnly' => true,
																				'changeMonth' => true,
																				'changeYear' => true,
																				'clearAnotherField' => true,
																				'anotherField' => 'latestApprovalFrom',
		   																		'maxDateID' => 'latestApprovalFrom',
																				)); ?>                    
		  </td>
		
		  <td class="tbl-evencontent"><?php echo $this->formLabel('latestApprover',$latestapprover)?></td>
		  <td class="tbl-evencontent">:</td>
		  <td class="tbl-evencontent" nowrap="nowrap">
			 <?php echo $this->formText('latestApprover',$this->latestApprover,null); ?>
		  </td> 
	   </tr>
		<tr>
			<td colspan="6" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter',$setfilter,array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('filter_clear',$filterclear,array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
</form>
	<br/>
	<div align="right" >
		<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">			
			<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
			<?php echo $this->formSubmit('pdf',$this->language->_('PDF is Too Large (Function is Disabled)'),array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
			<?php }else{ ?>
			<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
			<?php } ?>
			<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>
			<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
				echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'inputbtn','disabled'=>'disabled'));
			}
			else{
			?>
				<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;
			<?php 	
			}
			?>
		</form>

		<br />
			<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
		<br />
	</div>
	
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
 	<tr>
    	<th width="3%" valign="top">No.</th>
    		<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
    												   )
  						   )?>		
  	</tr>
	<?php 
	
	if(count($this->paginator))
	{
		$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;

		$i = 0;
		  foreach($this->paginator as $row)
		  {	
		  		$length = strlen($row['USER_ID']);
				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				$detail = '<a href="'.$this->url(array('module'=>'creditcard','controller' => 'detail','action'=>'index','ccno'=>$row['ACCT_NO']),null,true).'" >'.$this->language->_('Detail').'</a>';
				echo '<tr>
			            <td class="'.$td_css.'">'.$counter.'</td>
						<td class="'.$td_css.'">'.str_repeat("*",$length).'</td>
						<td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
						<td class="'.$td_css.'">'.$this->language->_($row['ACCT_NO']).'</td>
						<td class="'.$td_css.'">'.$this->language->_($row['ACCT_NAME']).'</td>
						<td class="'.$td_css.'">'.$this->language->_($row['ACCT_EMAIL']).'</td>						
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['ACCT_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
						<td class="'.$td_css.'">'.$row['ACCT_SUGGESTEDBY'].'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['ACCT_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
						<td class="'.$td_css.'">'.$row['ACCT_UPDATEDBY'].'</td>
						<td class="'.$td_css.'">'.$detail.'</td>
					  </tr>';
			    $i++;
			    $counter++;
	  	}
	  ?>
	  </table>
	<br />
		<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
	<br />
	<?php 
	}else{ echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> - '.$nodata.' - </td></tr></table>'; }
	?>
