<b><?=$this->language->_($this->titleCaption);?> > <?php echo $this->language->_('Chart'); ?></b><br /><br />


<?php
$seriesSummaryBar 		= array ();
$seriesSummaryBarPasar 		= array ();
$seriesSummaryBarRusun 		= array ();
$seriesSummaryBarSamsat 	= array ();
$seriesSummaryBarRSUD 		= array ();
$seriesSummaryBarKIR 		= array ();
$seriesSummaryBarDishub 	= array ();
$seriesSummaryBarKp 		= array ();
$seriesSummaryBarWeight 	= array ();
$seriesSummaryBarCoa 		= array ();
$seriesSummaryBarCoaMonth 	= array ();
$seriesSummaryBarDev 		= array ();
$seriesSummaryBarDevMonth 	= array ();

$seriesSummaryPie 		= array ();
$seriesSummaryPiePasar 		= array ();
$seriesSummaryPieRusun 		= array ();
$seriesSummaryPieSamsat 	= array ();
$seriesSummaryPieRSUD 		= array ();
$seriesSummaryPieKIR 		= array ();
$seriesSummaryPieDishub 	= array ();
$seriesSummaryPieKp 		= array ();
$seriesSummaryPieWeight 	= array ();
$seriesSummaryPieCoa 		= array ();
$seriesSummaryPieDev 		= array ();

function chartData($raw, &$dataBar, &$dataPie){
	$arrDataBar = array();
	$arrDataPie = array();
	
	foreach ( $raw as $index => $data ) {
		foreach ( $data as $key => $val ) {
			if ($key == 'AREA') {
				$arrDataBar [$index] ['name'] = $val;
			}
			if ($key == 'AMOUNT') {
				$arrDataBar [$index] ['data'] = array (( int ) $val );
			}
		}
	}
	foreach ( $raw as $index => $data ) {
		$arrDataPie [$index] = array ($data ['AREA'], ( int ) $data ['AMOUNT'] );
	}
	
	$dataBar = $arrDataBar;
	$dataPie = $arrDataPie;
}

function chartDataGroupCategegory($raw, &$category, &$dataBar, &$dataPie){
	$arrCategory 	= array();
	$arrArea 	= array();
	$arrDataBar 	= array();
	$arrDataPie 	= array();
	
	//PARSE GROUP
	foreach ($raw as $index => $data ) {
		foreach ( $data as $key => $val ) {
			if ($key == 'MONTHXYEAR') {
				$arrCategory = array_merge($arrCategory,array($val));
			}
		
			if ($key == 'AREA') {
				$arrArea = array_merge($arrArea,array($val));
			}
		}
	}
	
	$arrCategory = array_flip(array_flip($arrCategory));
	$arrArea = array_flip(array_flip($arrArea));
	//PARSE VAL
	$dataX = array();
	foreach ($arrArea as $area){
		$dataY = array();
		foreach ($arrCategory as $month){
			$valY = array(0);
			foreach ($raw as $index => $data ) {
				if (isset($data['MONTHXYEAR']) && $data['MONTHXYEAR'] == $month && isset($data['AREA']) && $data['AREA'] == $area){
					$valY = array((int)$data['AMOUNT']);
				}
			}
			$dataY = array_merge($dataY, $valY);
		}
		$dataX[$area] = $dataY;
	}
	//BUILD STRUCT BAR CHART
	foreach ($arrArea as $area){
		$arrDataBar = array_merge(
			$arrDataBar,
			array(
				array(
					'name' => ucwords(strtolower($area)),
					'data' => $dataX[$area],
				)
			)
		);
	}
	//BUILD STRUCT PIE CHART
	foreach ($arrDataBar as $index => $data ) {
		$total = 0;
		foreach ($data['data'] as $val){
			$total += $val;
		}
		$arrDataPie = array_merge(
			$arrDataPie,
			array(
				array(
					$data['name'],
					(int) $total,
				)
			)
		);
	}
	
	//returning result
	$category = $arrCategory;
	$dataBar = $arrDataBar;
	$dataPie = $arrDataPie;
}

chartData($this->summary, $seriesSummaryBar, $seriesSummaryPie);
chartData($this->pasar, $seriesSummaryBarPasar, $seriesSummaryPiePasar);
chartData($this->rusun, $seriesSummaryBarRusun, $seriesSummaryPieRusun);
chartData($this->samsat, $seriesSummaryBarSamsat, $seriesSummaryPieSamsat);
chartData($this->kir, $seriesSummaryBarKIR, $seriesSummaryPieKIR);

chartData($this->rsud, $seriesSummaryBarRSUD, $seriesSummaryPieRSUD);
chartData($this->dishub, $seriesSummaryBarDishub, $seriesSummaryPieDishub);
chartData($this->kp, $seriesSummaryBarKp, $seriesSummaryPieKp);
chartData($this->weight, $seriesSummaryBarWeight, $seriesSummaryPieWeight);

chartDataGroupCategegory($this->coa, $seriesSummaryBarCoaMonth, $seriesSummaryBarCoa, $seriesSummaryPieCoa);
chartDataGroupCategegory($this->dev, $seriesSummaryBarDevMonth, $seriesSummaryBarDev, $seriesSummaryPieDev);

//=============================================coba2 mas harry potter...
$week = array ();
foreach ( $this->group as $index => $arr ) {
	array_push ( $week, $arr ['WEEK'] );
}

$week = array_unique ( $week );
$week = array_values ( $week );

$category = array ();
foreach ( $this->group as $index => $arr ) {
	$category = array_merge ( $category, array (array ('' => 1 ) ) );
	array_push ( $week, $arr ['WEEK'] );
}
?>


<?php 
$this->jqueryDateFormat = 'yy-mm-dd';
?>

<form name="filterForm" action="<?php echo $this->url(array('page' => '1')); ?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('paymentDate',$this->language->_('Payment Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->language->_('From'); ?> &nbsp;
										<?php 
												echo $this->datePicker("paymentDateStart", $this->paymentDateStart,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'paymentDateEnd',
																										'minDateID' => 'paymentDateEnd'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To'); ?> &nbsp;
										<?php 
												echo $this->datePicker("paymentDateEnd", $this->paymentDateEnd,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'paymentDateStart',
																										'maxDateID' => 'paymentDateStart'
																										)); 
										?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('lastUpdate',$this->language->_('Last Update')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->language->_('From'); ?> &nbsp;
										<?php 
												echo $this->datePicker("lastUpdateStart", $this->lastUpdateStart,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'lastUpdateEnd',
																										'minDateID' => 'lastUpdateEnd'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To'); ?> &nbsp;
										<?php 
												echo $this->datePicker("lastUpdateEnd", $this->lastUpdateEnd,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'lastUpdateStart',
																										'maxDateID' => 'lastUpdateStart'
																										)); 
										?>
			</td>
		</tr>
		<!--<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('institusi',$this->language->_('Institusi')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $this->formText('institusi',$this->institusi,array()); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('sync',$this->language->_('Synchronize')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php echo $this->formSelect('sync',$this->sync,array(), $this->optSync); ?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('paymentType',$this->language->_('Payment Type')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php echo $this->formSelect('paymentType',$this->paymentType,array(), $this->optPaymentType); ?>
			</td>
		</tr>-->
		<tr>
			<td colspan="7" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn'));?>
				<input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Clear Filter');?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>$this->actionname),null,true)?>'">
				
			</td>
			
		</tr>
	</table>
</form>


<!--<script type="text/javascript" src="/js/jquery/jquery-1.8.2.min.js"></script>-->

<script type="text/javascript" src="/js/highcharts.js"></script>
<script type="text/javascript">
	function createBarChart(textId, text, jsonCategory, jsonData){
		$('#'+textId).highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: text.title
			},
			subtitle: {
				text: text.subtitle
			},
			xAxis: {
				categories: jsonCategory
			},
			yAxis: {
				min: 0,
				title: {
					text: text.xtitle
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					'<td style="padding:0"><b>'+text.xtitle+'{point.y:.1f}</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
			plotOptions: {
				column: {
					pointPadding: 0.2,
					borderWidth: 0
				}
			},
			series: jsonData
		});
	}

	function createPieChart(textId, textTitle, jsonData){
		$('#'+textId).highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false
			},
			title: {
				text: textTitle
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.1f} %',
						style: {
							color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
						}
					}
				}
			},
			series: [{
				type: 'pie',
				name: 'Percentage',
				data: jsonData
			}]
		});
	}

	$(document).ready(function(){
		createBarChart('container1',{title:'Pemerintah Daerah',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBar);?>);
		createBarChart('container3',{title:'Retribusi Pasar',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarPasar);?>);
		createBarChart('container5',{title:'Retribusi Rusun',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarRusun);?>);
		createBarChart('container7',{title:'Retribusi Samsat',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarSamsat);?>);
		createBarChart('container9',{title:'Retribusi KIR',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarKIR);?>);	
		createBarChart('container11',{title:'RSUD',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarRSUD);?>);
		createBarChart('container13',{title:'Perhubungan',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarDishub);?>);      
		createBarChart('container15',{title:'Perikanan',subtitle:'',xtitle:"Rp"},[''],<?=json_encode($seriesSummaryBarKp);?>);      
		createBarChart('container17',{title:'Pembayaran',subtitle:'',xtitle:"Rp"},<?=json_encode(array_values($seriesSummaryBarCoaMonth));?>,<?=json_encode($seriesSummaryBarCoa);?>);
		createBarChart('container19',{title:'Metode Pembayaran',subtitle:'',xtitle:"Rp"},<?=json_encode(array_values($seriesSummaryBarDevMonth));?>,<?=json_encode($seriesSummaryBarDev);?>);      
		createBarChart('container21',{title:'Analisa Perhubungan',subtitle:'',xtitle:"Kg"},[''],<?=json_encode($seriesSummaryBarWeight);?>);    
	
		createPieChart('container2','Pemerintah Daerah',<?=json_encode($seriesSummaryPie);?>);
		createPieChart('container4','Retribusi Pasar',<?=json_encode($seriesSummaryPiePasar);?>);
		createPieChart('container6','Retribusi Rusun',<?=json_encode($seriesSummaryPieRusun);?>);
		createPieChart('container8','Retribusi Samsat',<?=json_encode($seriesSummaryPieSamsat);?>);
		createPieChart('container10','Retribusi KIR',<?=json_encode($seriesSummaryPieKIR);?>);
		createPieChart('container12','RSUD',<?=json_encode($seriesSummaryPieRSUD);?>);
		createPieChart('container14','Perhubungan',<?=json_encode($seriesSummaryPieDishub);?>);
		createPieChart('container16','Perikanan',<?=json_encode($seriesSummaryPieKp);?>);
		createPieChart('container18','Pembayaran',<?=json_encode($seriesSummaryPieCoa);?>);
		createPieChart('container20','Metode Pembayaran',<?=json_encode($seriesSummaryPieDev);?>);
		createPieChart('container22','Analisa Perhubungan',<?=json_encode($seriesSummaryPieWeight);?>);
	});
</script>


<?php
	//Zend_Debug::dump($seriesSummaryBar);
	
//	if($seriesSummaryBar != null)
//		echo '<div id="container1" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container2" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Pemda Chart</br>';
//			  
//	if($seriesSummaryBarPasar != null)
//		echo '<div id="container3" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container4" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Retribusi Pasar Chart</br>';
//		
//	if($seriesSummaryBarRusun != null)
//		echo '<div id="container5" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container6" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '<!--</br>No data for Retribusi Rusun Chart</br> -->';
//		
//	if($seriesSummaryBarSamsat != null)
//		echo '<div id="container7" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container8" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Samsat Chart</br>';
//		
//	if($seriesSummaryBarKIR != null)
//		echo '<div id="container9" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container10" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for KIR Chart</br>';
//		
//	if($seriesSummaryBarRSUD != null)
//		echo '<div id="container11" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container12" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for RSUD Chart</br>';	
//		
//	if($seriesSummaryBarKp != null)
//		echo '<div id="container15" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container16" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Perikanan Chart</br>';
//		
//	if($seriesSummaryBarDishub != null)
//		echo '<div id="container13" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container14" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Perhubungan Chart</br>';
//	
//	if($seriesSummaryBarWeight != null)
//		echo '<div id="container21" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container22" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Analisa Perhubungan Chart</br>';
//	
//	if($seriesSummaryBarCoa != null)
//		echo '<div id="container17" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container18" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Pembayaran Chart</br>';
//		
//	if($seriesSummaryBarDev != null)
//		echo '<div id="container19" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
//			  <div id="container20" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1;"></div>';
//	else
//		echo '</br>No data for Metode Pembayaran Chart</br>';




	if($seriesSummaryBar != null)
		echo '<div id="container1" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container2" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: 100000"></div>';
	else
		echo '</br>No data for Pemda Chart</br>';
			  
	if($seriesSummaryBarPasar != null)
		echo '<div id="container3" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container4" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for Retribusi Pasar Chart</br>';
		
	if($seriesSummaryBarRusun != null)
		echo '<div id="container5" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container6" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '<!--</br>No data for Retribusi Rusun Chart</br> -->';
		
	if($seriesSummaryBarSamsat != null)
		echo '<div id="container7" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container8" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for Samsat Chart</br>';
		
	if($seriesSummaryBarKIR != null)
		echo '<div id="container9" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container10" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for KIR Chart</br>';
		
	if($seriesSummaryBarRSUD != null)
		echo '<div id="container11" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container12" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for RSUD Chart</br>';	
		
	if($seriesSummaryBarKp != null)
		echo '<div id="container15" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container16" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for Perikanan Chart</br>';
		
	if($seriesSummaryBarDishub != null)
		echo '<div id="container13" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container14" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for Perhubungan Chart</br>';
	
	if($seriesSummaryBarWeight != null)
		echo '<div id="container21" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container22" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for Analisa Perhubungan Chart</br>';
	
	if($seriesSummaryBarCoa != null)
		echo '<div id="container17" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container18" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>No data for Pembayaran Chart</br>';
		
	if($seriesSummaryBarDev != null)
		echo '<div id="container19" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: right; z-index: -1;"></div>
			  <div id="container20" style="width: 50%; 310 px; max-width: 800px; height: 300px; float: left; z-index: -1; position: relative;"></div>';
	else
		echo '</br>'.$this->language->_('No data for Metode Pembayaran Chart').'</br>';













?>
