<!DOCTYPE html>
<?php
$app = Zend_Registry::get('config');
$appBankname = $app['app']['bankname'];
$app = $app['app']['bankcode'];

if (Zend_Registry::isRegistered('language'))
  $language = Zend_Registry::get('language');

$randomTransact = md5(date('Y-m-d H:i:s'));
?>

<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" type="image/png" href="/espay-favico.png"> -->
  <link rel="icon" type="image/png" href="/head-icon-btn.ico">
  <!-- <link rel="icon" type="image/png" href="/sgo.ico"> -->

  <style type="text/css">
    @media print {
      .hiddenprint {
        display: none;
      }
    }

    #menuDropdown .dropdown-item:hover,
    #menuDropdown .dropdown-item:active,
    #menuDropdown .dropdown-item:focus {
      background-color: #3c9227;
      color: white;
    }
  </style>

  <?php

  $currentDate = new Zend_Date();
  echo '<script type="text/javascript">
        var currenttime = "' . $currentDate->toString() . '"
        </script>';

  echo $this->headMeta()->appendHttpEquiv('Pragma', 'no-cache');
  echo $this->headMeta()->appendHttpEquiv('Cache-Control', 'no-cache');

  // echo $this->headTitle('Corporate')->setSeparator(' | ')->headTitle('Digital Banking');
  echo $this->headTitle('Corporate')->setSeparator(' | ')->headTitle('eBank Garansi');

  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/bootstrap.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../css/bootstrap-select.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/icons/css/all.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/style.css'));

  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/custom.css?v=1.3'));

  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/gijgo.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.common.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.metro.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.metro.mobile.min.css'));


  $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/jquery-3.3.1.min.js'));


  $this->headScript()->appendFile($this->baseUrl('../js/jquery.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../js/kendo.all.min.js'));

  $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/popper.min.js'));

  $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/bootstrap.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/jquery-ui.min.js'));

  $this->headScript()->appendFile($this->baseUrl('../js/bootstrap-select.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../js/bootstrap-datepicker.js'));

  $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/jquery.form.js'));

  $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/gijgo.min.js'));

  $this->headScript()->appendFile($this->baseUrl('../muri/hammer.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../muri/web-animations.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../muri/muuri.min.js'));


  $this->headScript()->appendFile($this->baseUrl('../js/global.js'));

  //$this->headScript()->appendFile($this->baseUrl('../js/aes.js?ref='.$randomTransact));



  echo $this->headLink();

  if (Zend_Auth::getInstance()->hasIdentity()) {
    $this->headScript()->appendFile($this->baseUrl('../js/sgo/custom.js?v=1.2'));

    $auth = Zend_Auth::getInstance()->getIdentity();
    $frontendOptions = array(
      'lifetime' => 900,
      'automatic_serialization' => true
    );
    $backendOptions = array('cache_dir' => LIBRARY_PATH . '/data/cache/lastact/'); // Directory where to put the cache files
    $cache = Zend_Cache::factory('Core', 'File', $frontendOptions, $backendOptions);

    $cacheID = 'LA' . $auth->userIdLogin;

    if (!$dataTrans = $cache->load($cacheID)) {

      $db = Zend_Db_Table::getDefaultAdapter();
      //$dataTrans = array();

      $select = $db->select()
        ->from(array('T' => 'T_BACTIVITY'), array())
        ->joinLeft(array('M' => 'M_BPRIVILEGE'), 'T.ACTION_DESC = M.BPRIVI_ID', array('M.BPRIVI_MODULEID', 'T.ACTION_FULLDESC'))
        ->where('T.USER_ID = ?', $auth->userIdLogin)
        ->order('T.LOG_DATE DESC')
        ->limit(5);

      $dataTrans = $db->fetchAll($select);
      $cache->save($dataTrans, $cacheID);
    }

    $timeout = $auth->allSetting['b_timeoutafter'] * 1000;
  ?>

    <script type="text/javascript">
      var t = setTimeout("window.location = '/index/logout/session/1';", <?PHP echo $timeout; ?>);
    </script>
  <?php
  }

  echo $this->headScript();
  ?>

  <?php if (Zend_Auth::getInstance()->hasIdentity()) { ?>
</head>

<body>


  <style type="text/css">
    .grid {
      position: relative;
    }

    .item {
      display: block;
      position: absolute;
      /*  width: 330px;
      height: 360px;*/
      margin: 5px;
      z-index: 1;
      background: #FFFFFF;
      /*color: #fff;*/
    }

    .item.muuri-dragging {
      z-index: 3;
    }

    .item.muuri-releasing {
      z-index: 2;
    }

    .item.muuri-hidden {
      z-index: 0;
    }

    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .Path-83 {

      position: fixed;
      bottom: 0;

      right: 0;
    }

    .Path-85 {

      position: fixed;
      bottom: 0;

      left: 0;
    }
  </style>
  <script type="text/javascript">
    //   $(document).ready(function(){
    //    var grid = new Muuri('.gridleft', {
    //       layout: {fillGaps: true},
    //       dragEnabled: true,
    //       dragSortPredicate: {
    //         threshold: 50,
    //         action: 'swap'
    //       }
    //     });
    // });
  </script>


  <nav class="navbar navbar-expand-md bg-white fixed-top">
    <a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="/images/logo/logo-btn.png" width="150" /></a>
    <!-- <a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="/images/logo/logosgo_small_2.png" width="150" /></a> -->


  </nav>
  <!-- <div class="Path-85 hiddenprint">
    <img src="/images/images/trigngle_kiri.png">
  </div>
  <div class="Path-83 hiddenprint">
    <img src="/images/images/right_triangle.png">
  </div> -->
  <main role="main" class="container-fluid">
    <div id="cdcontainer" style="display: none"></div>
    <div id="greetings" style="display: none"></div>
    <div id="timeicon" style="display: none"></div>
    <div class="row">


      <div class="col-sm-12 col-md-12" style="background-color: white;">
        <div class="screencontent" id="screencontent">
          <?php echo $this->layout()->content; ?>
        </div>
      </div>


    </div>

  </main><!-- /.container -->


<?php } else { ?>
  </head>

  <body>
    <style type="text/css">
      .Path-84 {


        height: 100%;
        position: fixed;

        top: 0;
      }

      .Path-83 {

        position: fixed;
        bottom: 0;

        right: 0;
      }
    </style>
    <div class="Path-84">
      <img src="/images/images/triangle_left.png" style="height: 100%">
    </div>
    <div class="Path-83">
      <img src="/images/images/city_icon.png">
    </div>

    <nav class="navbar navbar-expand-md fixed-top">
      <a href="/"><img class="navbar-brand ml-5" src="/assets/themes/assets/newlayout/img/bankpermata_small.png" width="150" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><strong><i class="fa fa-bars"></i></strong></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent" style="margin-right: 5%;">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item mr-5">
            <a href="#" class="nav-link">NEWS & INFO</a>
          </li>
          <li class="nav-item mr-5">
            <a href="#" class="nav-link">CONTACT US</a>
          </li>
          <li class="nav-item mr-5">
            <a href="#" class="nav-link">NEED HELP ?</a>
          </li>
          <!-- <li>
              <a href="#">
                    <span class="main-text"><img src="/assets/themes/assets/newlayout/img/<?php echo $imgview; ?>" width="25"></span>
                    <i class="fa fa-angle-down navbar-icons pt-0"></i>
              </a>
          </li> -->
          <?php
          $ns = new Zend_Session_Namespace('language');
          $sessionLanguage = $ns->langCode;

          if ($sessionLanguage == 'id') {
            $imgview = "id.png";
            $imgselect = "en.png";
            $link = "/index/lang/set/en";
            $alt = "Switch to English";
          } else {
            $imgview = "en.png";
            $imgselect = "id.png";
            $link = "/index/lang/set/id";
            $alt = "Ganti ke Bahasa Indonesia";
          }
          ?>
          <!-- Language Login Page -->
          <li class="nav-item dropdown username-drop mr-3  hiddenprint">
            <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="row no-gutters">
                <div class="col-2">
                  <span class="main-text"><img src="/assets/themes/assets/newlayout/img/<?php echo $imgview; ?>" width="25"></span>
                </div>
                <div class="col-1">
                  <i class="fa fa-angle-down navbar-icons pt-0"></i>
                </div>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="<?php echo $link; ?>">
                <img src="/assets/themes/assets/newlayout/img/<?php echo $imgselect; ?>" width="25">
                <?php echo $alt; ?>
              </a>

            </div>
          </li>
          <!--  <li class="nav-item dropdown mr-5">
            <a href="#" class="nav-link dropdown-toggle" id="languageDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="row no-gutters">
                <div class="col-11">
                  LANGUAGE
                </div>
                <div class="col-1">
                  <i class="fa fa-angle-down pl-1"></i>
                </div>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="languageDrop">
              <a class="dropdown-item" href="#">Indonesia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">English</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="row mt-1" id="login-section">
        <div class="col-md-7">
          <img src="/assets/themes/assets/newlayout/img/banner.jpg" alt="frontbanner" class="img-fluid" />
        </div>

        <div class="col-md-5">
          <div class="login-box">
            <?php echo $this->layout()->content; ?>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mt-1" align="right">
          <img src="/assets/themes/assets/newlayout/img/gpn.jpg" width="80">&nbsp;&nbsp;<img src="/assets/themes/assets/newlayout/img/verisign.jpg" width="80">
        </div>
      </div>

    </main><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-5" style="text-align: left">
            <span class="call-center">Call Center 1500111</span>
          </div>
          <div class="col-md-7" style="text-align: left">
            <span class="footer-text">© 2016-2021 PermataBank. All rights reserved</span>
          </div>
        </div>
      </div>
    </footer>
  <?php } ?>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script>
    $(document).ready(function() {
      setNavigation();

      $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        var $el = $(this);
        var $parent = $(this).offsetParent(".dropdown-menu");
        if (!$(this).next().hasClass('show')) {
          $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');

        $(this).find('i').toggleClass('fa-angle-down fa-angle-right');

        $(this).parent("li").toggleClass('show');

        $(this).parents('div.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-menu .show').removeClass("show");
        });

        if (!$parent.parent().hasClass('navbar-nav')) {
          $el.next().css({
            "top": $el[0].offsetTop,
            "left": $parent.outerWidth() - 4
          });
        }

        return false;
      });

      $('.dropdown button.dropdown-toggle').on('click', function(e) {
        $(this).find('i').toggleClass('fa-angle-up fa-angle-down');
      });
    });

    function setNavigation() {
      var path = window.location.pathname;
      path = path.replace(/\/$/, "");
      path = decodeURIComponent(path);
      $(".dropdown-menu li a").each(function() {
        var href = $(this).attr('href');
        if (path.substring(0, href.length) === href) {
          var name = $(this).text();
          var checklen = name.length;
          if (checklen > 15) {
            var name1 = name.substring(0, 15);
            var name2 = name1.trim();
            var menuname = name2 + "...";
          } else {
            menuname = name;
          }
          $('#menu-name').text(menuname);
        }
      });
    }
  </script>




  </body>

</html>