	<script language="javascript" type="text/javascript">
	function doTransfer(BANKNAME,BANKCODE,BANKADD1,BANKADD2,BANKCITY,BANKCOUNTRY,BANKPOB)
	{
		window.opener.document.Form.BANK_NAME.value = BANKCODE+" - "+BANKNAME;
		window.opener.document.Form.BENEFICIARY_BANK_CODE.value = BANKCODE;
		window.opener.document.Form.BENEFICIARY_BANK_NAME.value = BANKNAME;

		window.opener.document.Form.BENEFICIARY_BANK_ADD1.value = BANKADD1;
		window.opener.document.Form.BENEFICIARY_BANK_ADD2.value = BANKADD2;
		window.opener.document.Form.BENEFICIARY_BANK_CITY.value = BANKCITY;
		window.opener.document.Form.BENEFICIARY_BANK_COUNTRY.value = BANKCOUNTRY;
		window.opener.document.Form.BENEFICIARY_BANK_POB.value = BANKPOB;

		opener.focus();
		self.close();
	}
	</script>
<div class="row">
		<div class="col-md-12">
				<h5><?php echo $this->language->_('Remittance Bank Table'); ?></h5>
				<?php $bankname = $this->language->_('Bank Name'); ?>
				<?php $bankcode = $this->language->_('Bank Code'); ?>
				<?php $country = $this->language->_('Country'); ?>
				<?php $setfilter = $this->language->_('Set Filter'); ?>
				<?php $clearfilter = $this->language->_('Clear Filter'); ?>
					<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
							<div class="card">
									<div class="card-header cardhead">
											<strong style="color:white"><?php echo $this->language->_('Filter');?></strong>
									</div>
									<div class="card-body">
										<div class="form-group">
											<?php $bankname = $this->language->_('Bank Name'); ?>
												<label class="control-label col-md-2"><?php echo $this->formLabel('bank_name',$bankname); ?></label>
												<div class="col-md-4">
																<?php echo $this->formText('bank_name',$this->bank_name,array('class'=>'form-control'))?>
														</div>
														<div class="col-md-6">
															</div>
										 </div>
										 <div class="form-group">
											<?php $bankname = $this->language->_('Bank Name'); ?>
												<label class="control-label col-md-2"><?php echo $this->formLabel('bank_name',$bankcode); ?></label>
												<div class="col-md-4">
																<?php echo $this->formText('bank_code',$this->bank_code,array('class'=>'form-control'))?>
														</div>
														<div class="col-md-6">
															</div>
											</div>
											<div class="form-group">
											<?php $bankname = $this->language->_('Bank Name'); ?>
												<label class="control-label col-md-2"><?php echo $this->formLabel('bank_name',$country); ?></label>
												<div class="col-md-4">
																<select name="SEARCH_COUNTRY" class="form-control">
																						<option value="">--- <?php echo $this->language->_('Any Value')?> ---</option>
																						<?php foreach($this->country as $key=>$value){?>
																						<option value="<?php echo $key;?>" <?=($key==$this->country_code) ? 'selected' : ''?>><?php echo $this->language->_($value);?></option><?php }?>
																					</select>
														</div>
														<div class="col-md-6">
															</div>
											</div>
											<br>
											<table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
				 							<tr><td colspan="3" align="left">
				 								<?php $setfilter = $this->language->_('Set Filter'); ?>
				 								<?php $filter_clear = $this->language->_('Clear Filter'); ?>
				 								<?php $nodata = $this->language->_('No Data'); ?>
				 							<?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
				 							<?php echo $this->formSubmit('filter_clear',$filter_clear,array('class'=>'btnwhite hov')); ?>
				 						</table>
										<br>
									</div>
							</div>
							</form>


				<table class="table table-sm table-striped" width="100%" style="background-color:white" align="left">
					<tbody>
						
						<tr>
						<td class="contentarea" id="contentarea">

						<br />
									<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
			    <tr class="headercolor">
			    	<th width="3%" valign="top" class="tablehead">No</th>
			    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
			                                                            'sortBy' => $this->sortBy,
			                                                            'sortDir' => $this->sortDir,
			                                                            'query_string_params' => $this->query_string_params
			                                                            )
			    							  )?>

			    </tr>

			    <?php
				$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

			    if(count($this->paginator) > 0)
			    {
			          $i=0;

				      foreach($this->paginator as $row)
				      {

					    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

					    echo '<tr>
								<td class="'.$td_css.'">'.$counter.'</td>
								<td class="'.$td_css.'">'.$row['bank_code'].'</td>
								<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['bank_name'].'\',\''.$row['bank_code'].'\',\''.$row['bank_address1'].'\',\''.$row['bank_address2'].'\',\''.$row['city_name'].'\',\''.$row['country_code'].'\',\''.$row['pob_number'].'\')">'.$row['bank_name'].'</a></td>
								<td class="'.$td_css.'">'.$row['bank_address1'].'</td>
								<td class="'.$td_css.'">'.$row['bank_address2'].'</td>
								<td class="'.$td_css.'">'.$row['city_name'].'</td>
								<td class="'.$td_css.'">'.$row['COUNTRY_NAME'].'</td>
								<td class="'.$td_css.'">'.$row['pob_number'].'</td>
							 </tr>';

						$i++;
			            $counter++;
			  	  }
			  }
			  else
			  {
				   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> -- No Data -- </td></tr>';
			  }
			?>
			</table>
			<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>

						</td>
						</tr>
					</tbody>
				</table>
		</div>
</div>
