
<b><?php echo $this->language->_('System Balance'); ?> &gt; <?php echo $this->language->_('System Balance History List'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('System Balance History List'); ?></div>
<form name="filterForm" action="" method="get">
<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="600px">
	<tr>
		<th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('suggested',$this->language->_('Suggested By')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formText('suggested',$this->suggested,null,true)?></td>
		<td class="tbl-evencontent"><?php echo $this->formLabel('approved',$this->language->_('Approved By')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formText('approved',$this->approved,null,true)?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('approve_date',$this->language->_('Approve Date')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td height="30px" class="tbl-evencontent">
					<?php
						echo $this->formLabel('From','From '); 					
						echo $this->datePicker("appDateFrom", $this->appDateFrom, array('dateFormat' => $this->jqueryDateFormat,
									 'defaultDate'=>'new Date()',
									 'showOn' => 'button',
									 'buttonImage' => '/images/calendar.gif',
									 'buttonImageOnly' => true,
									 'changeMonth' => true,
									 'changeYear' => true,
									 'clearAnotherField' => true,
									 'anotherField' => 'appDateTo',
									 'minDateID' => 'appDateTo'));
					?>
			</td>
			<td colspan="3" height="30px" class="tbl-evencontent">
					<?php
						echo $this->formLabel('To','To '); 
						echo $this->datePicker("appDateTo", $this->appDateTo, array('dateFormat' => $this->jqueryDateFormat,
										 'defaultDate'=>'new Date()',
										 'showOn' => 'button',
										 'buttonImage' => '/images/calendar.gif',
										 'buttonImageOnly' => true,
										 'changeMonth' => true,
										 'changeYear' => true,
										 'clearAnotherField' => true,
										 'anotherField' => 'appDateFrom',
										 'maxDateID' => 'appDateFrom'));
					?>	
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('system_balance','System Balance')?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formSelect('system_balance',$this->system_balance,null,$this->listYesNo)?></td>
		<td class="tbl-evencontent"><?php echo $this->formLabel('tolerance_date','Tolerance Date')?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formSelect('tolerance_date',$this->tolerance_date,null,$this->listYesNo)?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('start_date','Tolerance Start Date')?></td>
		<td class="tbl-evencontent">:</td>
		<td height="30px" class="tbl-evencontent">
					<?php
						echo $this->formLabel('From','From '); 					
						echo $this->datePicker("startDateFrom", $this->startDateFrom, array('dateFormat' => $this->jqueryDateFormat,
									 'defaultDate'=>'new Date()',
									 'showOn' => 'button',
									 'buttonImage' => '/images/calendar.gif',
									 'buttonImageOnly' => true,
									 'changeMonth' => true,
									 'changeYear' => true,
									 'clearAnotherField' => true,
									 'anotherField' => 'startDateTo',
									 'minDateID' => 'startDateTo'),array('readonly'=>'true'));
					?>
			</td>
			<td colspan="3" height="30px" class="tbl-evencontent">
					<?php
						echo $this->formLabel('To','To '); 
						echo $this->datePicker("startDateTo", $this->startDateTo, array('dateFormat' => $this->jqueryDateFormat,
										 'defaultDate'=>'new Date()',
										 'showOn' => 'button',
										 'buttonImage' => '/images/calendar.gif',
										 'buttonImageOnly' => true,
										 'changeMonth' => true,
										 'changeYear' => true,
										 'clearAnotherField' => true,
										 'anotherField' => 'startDateFrom',
										 'maxDateID' => 'startDateFrom'),array('readonly'=>'true'));
					?>	
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('end_date','Tolerance End Date')?></td>
		<td class="tbl-evencontent">:</td>
		<td height="30px" class="tbl-evencontent">
					<?php
						echo $this->formLabel('From','From '); 					
						echo $this->datePicker("endDateFrom", $this->endDateFrom, array('dateFormat' => $this->jqueryDateFormat,
									 'defaultDate'=>'new Date()',
									 'showOn' => 'button',
									 'buttonImage' => '/images/calendar.gif',
									 'buttonImageOnly' => true,
									 'changeMonth' => true,
									 'changeYear' => true,
									 'clearAnotherField' => true,
									 'anotherField' => 'endDateTo',
									 'minDateID' => 'endDateTo'),array('readonly'=>'true'));
					?>
			</td>
			<td colspan="3" height="30px" class="tbl-evencontent">
					<?php
						echo $this->formLabel('To','To '); 
						echo $this->datePicker("endDateTo", $this->endDateTo, array('dateFormat' => $this->jqueryDateFormat,
										 'defaultDate'=>'new Date()',
										 'showOn' => 'button',
										 'buttonImage' => '/images/calendar.gif',
										 'buttonImageOnly' => true,
										 'changeMonth' => true,
										 'changeYear' => true,
										 'clearAnotherField' => true,
										 'anotherField' => 'endDateFrom',
										 'maxDateID' => 'endDateFrom'),array('readonly'=>'true'));
					?>	
		</td>
	</tr>
	<tr>
		<td colspan="6" class="tbl-evencontent" align="left">
		<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn'))?>&nbsp;
		<?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn'))?>
		</td>
	</tr>
</table>
</form>
<br />
<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="600px">
	<tr>
		<th colspan="6" class="tdform-sub"><strong>Account Information</strong></th>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">Account Number</td>
		<td class="tbl-evencontent" width="3px">:</td>
		<td class="tbl-evencontent"><?=$this->acct_no?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">Account Owner</td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->acct_name?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">Currency</td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->acct_ccy?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">Company</td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->acct_cust?></td>
	</tr>
</table>
	
<div style="height:40px;margin-top:10px;">
	<div style="float:left">
		<?= $this->formButton('back','Back',array('onclick'=>'location.href=\'/systembalance\'','class'=>'inputbtn'));?>
	</div>
	<div class="formbutton" style="float:right;">
		<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')).'&nbsp&nbsp'; ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')).'&nbsp&nbsp'; ?>
		<input class="inputbtn" value="PRINT" onclick="window.print();" type="button">
		</form>
	</div>
</div>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
    </tr>
    <?php
    if(count($this->paginator) > 0){
//    	var_dump($this->paginator->getItemsPerPage(2));
          $i=0;
          $no = 1;
      
		  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
		  
	  foreach($this->paginator as $row) {
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$locale = new Zend_Locale('id');
    
    	$approve_date = isset($row['APPROVE']) ? Application_Helper_General::convertDate($row['APPROVE'],$this->displayDateTimeFormat,$this->defaultDateFormat) : "N/A";
    	$suggested_by = isset($row['SUGGESTEDBY']) ? $row['SUGGESTEDBY'] : "N/A";
    	$approved_by = isset($row['APPROVEDBY']) ? $row['APPROVEDBY'] : "N/A";
    	$issystembalance = ($row['ISSYSTEMBALANCE']==1) ? "Yes" : "No";
    	$plafond = isset($row['PLAFOND']) ? Application_Helper_General::displayMoney($row['PLAFOND']) : "N/A";
    	$isplafonddate = ($row['ISPLAFONDDATE']==1) ? "Yes" : "No";
    	$plafond_start = isset($row['PLAFOND_START']) ? Application_Helper_General::convertDate($row['PLAFOND_START'],"dd MMM yyyy",$this->defaultDateFormat) : "N/A";
    	$plafond_end = isset($row['PLAFOND_END']) ? Application_Helper_General::convertDate($row['PLAFOND_END'],"dd MMM yyyy",$this->defaultDateFormat) : "N/A";

    		$row_content = '<tr>
              				<td class="'.$td_css.'">'.$counter.'</td>
							<td class="'.$td_css.'">'.$approve_date.'</td>
							<td class="'.$td_css.'">'.$suggested_by.'</td>
							<td class="'.$td_css.'">'.$approved_by.'</td>
							<td class="'.$td_css.'">'.$issystembalance.'</td>
							<td class="'.$td_css.'">'.$plafond.'</td>
							<td class="'.$td_css.'">'.$isplafonddate.'</td>
							<td class="'.$td_css.'">'.$plafond_start.'</td>
							<td class="'.$td_css.'">'.$plafond_end.'</td>
						</tr>
						';
		echo $row_content;
		$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=12 class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
	}
    ?>
</table>
<br />

<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
