<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges Setting'); ?></div>
<br />
<h2><?php echo $this->language->_('Detail Company Charges'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<?php foreach ($this->result as $result)
	{
		?>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $result['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $result['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $result['CUST_ID'].'-'.$result['CUST_NAME'];?></td>
	</tr>
	<?php }?>
</table>
<br />
<br />
<h2><?php echo $this->language->_('Select Charges Type'); ?> :</h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'realtime','action'=>'index','custid'=>$this->result[0]['CUST_ID']),null,true);?>'" class="inputbtn" value="Realtime per transaction">
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'setcompanycharges','action'=>'index'),null,true);?>'" class="inputbtn" value="Monthly number of transaction per account">
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'setcompanycharges','action'=>'index'),null,true);?>'" class="inputbtn" value="Monthly number of transaction per company">