html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4rem;
  font-size: 0.8125rem;
  margin-bottom: 60px;
}

a:hover {
  color: #005587;
  text-decoration: underline;
}

.container-fluid {
	padding-top: 1rem;
	padding-bottom: 5rem;
}
/*Header Section*/

.search-box {
	margin-right: 1rem;
}

.navbar-search-icon {
	background-color: #f1f1f1;
	color: #bebebe;
	border-top-left-radius: 0.4rem !important;
	border-bottom-left-radius: 0.4rem !important;
}

.navbar-search-box {
	background-color: #f1f1f1;
	border-left: 0px;
	border-top-right-radius: 0.4rem !important;
	border-bottom-right-radius: 0.4rem !important;
}

.navbar-search-box:focus {
  color: #495057;
  border-color: #007934;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 121, 52, 0.25);
}

.navbar-search-box::-webkit-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.navbar-search-box::-moz-placeholder {
  color: #bebebe;
  opacity: 1;
}

.navbar-search-box:-ms-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.navbar-search-box::-ms-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.navbar-search-box::placeholder {
  color: #bebebe;
  opacity: 1;
}

.navbar-all-text {
	font-size: 0.75rem;
}

.main-text {
	color: #0e0e0e;
}

.sub-text {
	color: #707070;
}

.navbar-icons {
	font-size: 1.5rem;
	color: #6d6d6d;
}

.custom-badge {
	padding: 0.6em 0.6em;
	border-radius: 1em;
}

.dropdown-toggle::after {
	display: none !important;
}

.menu-button,.menu-button:focus {
	/*min-width:200px;*/
	border-radius: 1em;
	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #f9f9f9;
 	background-color: #ffffff;
 	color: #000000;
 	font-weight: 600;
 	line-height: 1.5;
}

.menu-button:hover {
	color: #ffffff;
	background-color: #3c9227;
}

.dropdown-menu {
	border: 0;
	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  	padding: 0.5rem 0 0.5rem 0;
  	border-radius: 0;
}

#menuDropdown .dropdown-item, #accDropdown .dropdown-item, #perDropdown .dropdown-item, #cardDropdown .dropdown-item {
	border-bottom: 1px solid #005587;
}

#accDropdown .dropdown-item, #perDropdown .dropdown-item, #cardDropdown .dropdown-item {
	font-size: 0.8rem;
}

.left-section-text {
	font-size: 1rem;
	color: #818181;
	line-height: 1.31;
	padding: 0.3rem 0.5rem;
	border-bottom: 1px solid #e5e5e5;
}

.custom-link {
	font-size: 0.875rem;
	color: #005587;
	font-weight: bold;
	padding: 0 0;
}

.extra-menu-list {
	list-style: none;
	padding: 0 0.5rem;
}

.extra-menu-item {
	padding: 0.4rem 0;
}

.content-box {
	border: 1px solid #e4e4e4;
	border-radius: 0.625rem;
	background-color: #ffffff;
	padding: 0.5rem;
	margin-bottom: 0.9375rem;
}

.content-box-plain {
	background-color: #ffffff;
	padding: 0.5rem;
	margin-bottom: 0.9375rem;
}

.Path-241 {
  width: 832px;
  height: 208.8px;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}

.activity-box {
	border-radius: 0.3rem;
  	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #f8f8f8;
  	background-color: #ffffff;
  	margin-bottom: 0.625rem;
  	padding: 0.5rem;
  	word-wrap: break-word;
}

.activity-title {
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1.33;
	color: #025688;
}

.detail-link {
	font-size: 0.625rem;
	font-weight: 600;
	color: #005587;
	text-decoration: underline;
	text-align: right;
}

.other-button {
	min-width: 0;
	border-radius: 0.7rem;
	padding: 0rem 0.5rem;
	font-size: 0.9rem;
}

.other-dropdown, .other-dropdown:focus, .other-dropdown:active {
	/*max-width: 5rem;*/
	font-size: 0.625rem;
	font-weight: bold;
}

.other-dropdown:hover {
	color: #ffffff;
	background-color: #3c9227;
}

.detail-ellipsis {
	color: #878787;
	text-decoration: none;
}

.detail-ellipsis:hover, .detail-ellipsis:active, .detail-ellipsis:focus {
	color: #285a1c;
}

.no-gutter-left {
	margin-left: -15px;
}

.table-row-border {
	font-size: 0.725rem;
	border-bottom: 1px solid #e5e5e5;
}

.action-button {
	border-radius: 0.8rem;
  	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #f9f9f9;
  	background-color: #ffffff;
  	font-size: 0.625rem;
	font-weight: 600;
	line-height: 1;
	color: #005587;
	margin-top: 0.1rem;
}

.action-button:hover {
	color: #ffffff;
	background-color: #005587;
}

.action-button:focus {
	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.add-button {
	border-radius: 0.8rem;
  	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  	background-color: #005587;
  	font-size: 0.625rem;
	font-weight: 600;
	line-height: 1;
	color: #ffffff;
	margin-top: 0.1rem;
}

.add-button:hover {
	color: #007934;
	background-color: #ffffff;
}

.add-button:focus {
	-webkit-backdrop-filter: blur(30px);
  	backdrop-filter: blur(30px);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.report-box {
	border: 1px solid #005587;
	background-color: #ffffff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.7rem;
}

.inactive-report-box {
	border: 1px solid #eeeeee;
	background-color: #ffffff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.7rem;
	color: #acacac;
}

.cog-icon {
	font-size: 0.9rem;
}

.carousel-item .col-md-3 {
	display: inline-block;
	margin-left:-4px;
	border-right: 1px solid #c9c9c9;
}

.col-form-label {


  font-size: 12px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.33;

  letter-spacing: normal;

  text-align: left;

  color: #000000;
}

.curr-up {
	color: #007934;
	font-weight: bold;
}

.curr-down {
	color: #ff0404;
	font-weight: bold;
}

.bdr {
	border: solid 1px black;
}

.username-drop {
	width: 14rem;
}


.text-right {
	text-align: right;
}

.navbar-toggler {
	border: 1px solid #007934;
}

.navbar-toggler-icon {
	padding-top: 0.25rem;
	color: #007934;
}

.page-bar {
  	padding: 0px;
  	margin-bottom: 0.5rem;
  	border-bottom: 1px solid #e5e5e5;
}

.input-group-text{
	height: 29px;
	padding: 0rem .75rem;_
}
.form-group {
    margin-bottom: 0.4rem;
}

.btn-success{
	height: 29px;
	padding: 0rem .75rem;_
}

.form-control {
	  display: block;
	  width: 100%;
	  height: calc(2.25rem + 2px);
	  font-size: 11px;
	  /*font-family: SegoeUI;
	   font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;*/
	  /*padding: 0.375rem 0.75rem;
	  font-size: 1rem;
	  line-height: 1.5;*/
	  height: 27px;

	  border-radius: 9px;
	  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
      padding: 0rem .75rem;

	  background-color: #ffffff;
	  color: #495057;
	  background-color: #fff;
	  background-clip: padding-box;
	  border: 1px solid #ced4da;
	  border-radius: 0.25rem;
	  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
.page-bar:before, .page-bar:after {
    content: " ";
    display: table;
}
.page-bar:after {
    clear: both;
}
.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 0.5rem;
    margin: 0;
    list-style: none;
}
.page-bar .page-breadcrumb > li {
      display: inline-block;
}
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
        color: #888;
        font-size: 0.825rem;
        text-shadow: none;
}
.page-bar .page-breadcrumb > li > i {
        color: #aaa;
        font-size: 0.8rem;
        text-shadow: none;
}
.page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-bar .page-breadcrumb > li > i[class*="icon-"] {
        color: gray;
}

.login-box {
	background-color: #f8f8f8;
	padding: 1rem 3rem;
}

.register-btn {
	background-color:#fff;
	border-radius:0.5rem;
	border:1px solid #ececec;
	color:#005587;
	font-size:0.8rem;
	font-weight:bold;
	padding:0.4rem 1.7rem;
}

#login-section .form-control-lg {
	font-size:0.9rem;
	color:#b1b1b1;
}

.login-btn {
	border-radius: 0.5rem;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  	border: solid 1px #95989a;
 	background-color: #005587;
 	color: rgba(255, 255, 255, 0.87);
 	font-size:1.5rem;
 	width: 100%;
 	line-height: 1.17;
 	padding:1rem;
}

.forgot-password {
  	font-size: 1rem;
  	line-height: 1.13;
  	color: rgba(83, 83, 83, 0.87);
  	text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-text {
	line-height: 60px;
}

.call-center {
	font-size:1.5rem;
	font-weight: bold;
}

.nav-link {
	font-size:0.8rem;
	font-weight: bold;
  	color: rgba(83, 83, 83, 0.87);
}

@media (max-width: 1140px) {
	.user-avatar {
    	display: none;
  	}
}

@media (min-width: 1349px) {
	.search-box {
    margin-right: 4rem;
    padding-left: 4rem;
	}
}

@media (min-width: 768px) and (max-width: 1194px) {
	body {
		padding-top: 12rem;
	}
}

@media (min-width: 768px) and (max-width: 900px) {
	.balance {
		font-size: 0.65rem;
	}
}

@media (min-width:1280px) {
	.menu-drop-icon {
		padding-left: 3rem;
	}
}

@media (max-width:1200px) {
	.cst-select select {
		font-size: 0.6rem;
	}
}

@media (max-width: 1079px) {
	.other-dropdown	{
		max-width: 12rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#cardDropdown .other-dropdown {
		max-width: 10rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#accDropdown .dropdown-item, #cardDropdown .dropdown-item {
		font-size: 0.65rem;
	}
}

@media (max-width: 767px) {
	#perDropdown {
		margin-top: 0.5rem;
	}

	.navbar-collapse {
		border-bottom: 1px solid #007934;
	}
}
