

button{
/*  border: 1px solid #ccc!important;*/
  border-width: thin;
  outline:none !important;
}

button:focus{
  border-width: thin;
  outline:none !important;
}

input[type="button"]
{
    border-width: thin;
    outline:none !important;
}

input[type="submit"]
{
    border-width: thin;
    outline:none !important;
}

.wizard-card[data-color="theme"] .moving-tab {
	background-color: #002752 !important;
	border-color: #002752 !important;
}

.cardWizardNew {
  background-color: #ffffff;
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  /*background: #ffffff;*/ 
}

.errmsg {
	font-weight:bold;
	font-size:11px;
	color:#FF0000
}

.successmsg {
	font-weight:bold;
	color:#99C;
	font-size:11px;

}

.cardtitle {
	padding-left: 15px;
	line-height: 14px;
	background-image: linear-gradient(to bottom, #6bc46a, #164615);
	border-color: #337ab7;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.tablerow {
	background-color: black;
	color: white;
	text-align: left;
}

.tablehead {
  position: sticky;
top: 0;
	padding-top: 12px;
  	padding-bottom: 12px;
  	text-align: left;
  	background-color: #0b549f;
  	color: white;
}

.textTheme{
  color: #0b549f;
}

.textgreen{
  color: #409931;
}

.textblue{
  color: #0b549f;
}

.btngreen{
	min-width: 100px;
	height:35px;
	border-radius: 8px;
  font-size: 11px;
	background-color: #0b549f;
	color: white;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
  z-index: 1000;
}

.btnred{
  min-width: 100px;
  height:35px;
  border-radius: 8px;
  font-size: 11px;
  background-color: #D44B15;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}

.btngrad {
	min-width: 86px;
  height: 30px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  font-family: SegoeUI;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  z-index: 1000;
}

#csv {
	min-width: 86px;
  height: 30px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

#pdf {
	min-width: 86px;
  height: 30px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed !important;
}

.btnwhite{
	min-width: 100px;
	height: 35px;
	border-radius: 8px;
  font-size: 11px;
	background-color: #ffffff;
	color: black;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
  z-index: 1000;
}

.hov:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardhead {
	background-image: linear-gradient(#1873b7, #0b549f);
}

.greyFont{
  color: grey;
}

/* file upload */

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.file-uploadbene{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-uploadbene .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-uploadbene .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-uploadbene .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-uploadbene .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-uploadbene .file-select.file-select-disabled{opacity:0.65;}
.file-uploadbene .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-uploadbene .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-uploadbene .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.table-fixed{
  background-color: #FFFFFF;
  max-height: 400px;
  width: 100%;
  overflow: auto;
}

.table-fixed thead th{
  vertical-align: top;
  padding-top: 12px;
}
.mybtn .buttonact {
            background-color: #007934;
            border: 1px solid grey;
            color: white;
            font-size: 13px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: block;
						cursor: pointer;
}
.mybtn .buttonnoact {
            background-color: white;
            border: 1px solid grey;
            color: grey;
            font-size: 13px;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: block;
						cursor: pointer;
}

.mybtn .buttonacct:hover {
  background-color: #006520;
}

.mybtn .buttonnoacct:hover {
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(5%, -170%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ppicture:hover .image {

  opacity: 0.3;
}

.ppicture:hover .middle {
  opacity: 1;

}

.profilepicture {
  position: relative;
  width: 50%;
}

.photo {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	color: #000000;
}

.profilepicture .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle-2:hover img {
		opacity: 0.3;
		-moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;
}

.circle-2 img {
   width:300px;
  height:300px;
  border-radius: 50%;
  cursor:pointer;
  border: 1px solid #006520;
}
.circle-2 .addimg {
font-weight: bold;
color: #FFF;
padding: 10px;
text-align: center;
position: absolute;
width: 100%;
top:-10px;
  left: -2px;
  opacity:0;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.circle-2:hover .addimg {
	padding-top: 140px;
	padding-left: 25px;
  top: 0px;
  opacity:1;
}
.circle-2:hover img {
  filter: none; /* Firefox 3.5+ */
    filter: none; /* IE6-9 */
    -webkit-filter: none; /* Google Chrome & Safari 6+ */
}

.btnCircle {
  min-width: 50px;
  height: 48px;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #ffffff;
  color: grey;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircle.active  {
  min-width: 50px;
  height: 48px;
  border-radius: 50%;
  font-size: 15px;
  background-color: #0b549f;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircleGroup.ongoing  {
  min-width: 60px;
  height: 58px;
  border-radius: 50%;
  font-size: 17px;
  background-color: #cececefa;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.iconCircle{
    min-width: 30px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background-color: #0b549f;
    font-size: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.hrline{
  width: 150px;
  border: none;
  border-bottom: 2px solid #0000003d;
}

.hrline.active {
  width: 150px;
  border: none;
  border-bottom: 2px solid #005586;
}

.btnCircleGroup {
  min-width: 50px;
  height: 48px;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #cececefa;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircleGroup.active {
  min-width: 50px;
  height: 48px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #0b549f;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircleGroup.active.ongoing  {
  min-width: 60px;
  height: 58px;
  border-radius: 50%;
  font-size: 17px;
  background-color: #0b549f;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircleGroup.rejected {
  min-width: 50px;
  height: 48px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #dc3545;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircleGroup.rejected.ongoing  {
  min-width: 60px;
  height: 58px;
  border-radius: 50%;
  font-size: 17px;
  background-color: #dc3545;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.hovertext {
  position: relative;
  display: inline-block;
}

.hovertext .hovertextcontent {
  visibility: hidden;
  min-width: 150px;
  padding-left: 10px;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.hovertext .hovertextcontentapprover {
  visibility: hidden;
  min-width: 200px;
  padding-left: 10px;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.hovertext:hover .hovertextcontent {
  visibility: visible;
}

.hovertext:hover .hovertextcontentapprover {
  visibility: visible;
}

.btnicon {
	width: 50px;
  height: 28px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ebebeb;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	cursor: pointer;
}

.squarebutton {
	width: 30px;
  height: 30px;
  border: ridge 2px #d9d9d9;
  background-color : #ffffff;
	cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  /*z-index: -1;*/
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  /*z-index: -1;*/
}

input:checked + .slider {
  background-color: #005586;
  /*z-index: -1;*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #005586;
  /*z-index: -1;*/
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  /*z-index: -1;*/
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  /*z-index: -1;*/
}

.slider.round:before {
  border-radius: 50%;
  /*z-index: -1;*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

	.offscreen {
	position: absolute;
	left: -9999px;
	}

.tokeninput{
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #0b549f;
  margin-right: 2%;
  text-align: center;
  box-shadow: 0;
  outline: none;
  text-align: center;
  color: #0b549f;
  font-size: 15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color:white;
    background-color: #005587;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link:hover {
  background-color: #005587;
  color:white;
}

#deposit_amount_slider {
      float: left;
      clear: left;
      width: 600px;
      margin: 15px;
    }
#deposit_amount_slider .ui-slider-range { 
  background: #ff0000; 
}

#deposit_amount_slider .ui-state-default, .ui-widget-content .ui-state-default {
  /*background: none;*/
  background-color: #FFF;
}

.gj-slider-md [role=handle]{
  background-color: #005587;
}

.gj-slider-md [role=progress]{
  background-color: #005587;
}

.switcher {
  display: inline-block;
  height: 30px;
  margin-top:3px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 105px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #007934;
  border-radius: 30px;
  left: 5px;
  top: 0px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked + .switcher__label {
  color: #fff;
}

.switcher__input--yang:checked ~ .switcher__toggle {
  left: 100px;
}
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  /*padding: 40px;*/
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 105px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
  /*cursor: pointer;*/
}

.switch-field input:checked + label {
  background-color: #025688;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
  .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #005587;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
  .file-upload .file-select:hover{border-color:#005587;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select:hover .file-select-button{background:#005587;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
  .file-upload .file-select.file-select-disabled{opacity:0.65;}
  .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #005587;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.inputBorderless{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.inputBorderless:focus{
  border-color: #005586;
}

.roundChk {
  position: relative;
  margin-right: 8%;
}

.roundChk label {
  background-color: #cccccc26;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  position: absolute;
  width: 28px;
  text-align: center;
  font-size: medium;
}

.roundChk label:after {
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  width: 12px;
}

.roundChk input[type="checkbox"] {
  visibility: hidden;
}

.roundChk input[type="checkbox"]:checked + label {
  color: white;
  background-color: #005586;
  border-color: #005586;
}

.roundChk input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.itemNew {
      display: block;
      position: absolute;
    /*  width: 330px;
      height: 360px;*/
      margin: 5px;
      z-index: 1;
      border-color: #000000;
      background: #FFFFFF;
      /*color: #fff;*/
}

.NoNew{
  background-color: #0b549f; 
  color:white;
}

.headerNew{
  background-color: #ffffff;
}

.homeCardText{
  color: #000000;
}

.rectangel {
    height: 49px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
}

.textBlack{
  color: #000000;
}

.headNew{
  color: #ffffff;
  height: 33px;
  line-height: 14px;
  font-size: 14px;
  background-color: #0b549f;
  border-color: #ffffff;
} 

.line{
  padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%;background: none;
}

.line:focus{
  outline: none;
}

/*----------------------------------radio button---------------------------------*/

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: hidden;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -4px;
    left: 1px;
    position: relative;
    background-color: #005586;
    content: '';
    display: inline-block;
    visibility: hidden;
}

.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}
.hidden {
  display: none;
}

/*----------------------------------radio button end---------------------------------*/

.textGray{
  color:#8e8e8e;
}

.textWhite{
  color: #ffffff;
}

.textWhite{
  color: #ffffff;
}

.backstyle{
  background-color: white;
  overflow-x: auto;
}

.fontGrey{
  color: grey !important;
}

.matrixnew{
  border: 0 !important; 
  outline: 0 !important; 
  background: transparent !important; 
  border-bottom: 1px solid black !important;
  color: #000000 !important;
}