
<div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Transaction Workflow')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    
                    <li>
                        <span class="inhouse"><?=$this->language->_('Review')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Confirm')?></span>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>

<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>
<div class="portlet-body flip-scroll" style="overflow-x: scroll;">
<div class="portlet-body form">
<form name="form" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'review'),null,true)?>" method="post">
<div class="portlet-body flip-scroll">
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
	<tr class="headercolor">	
<?php 
	foreach ($this->headers as $header)
	{	?>
		<th class="tablehead"><?php echo $header; ?></th>		<?php 	
	}	
	?>
		<th class="tablehead"><?php echo $this->language->_('Status'); ?></th>
	</tr>	

<?php 	
	$numFields = count($this->headers) + 1;
	if(!empty($this->data))
	{
		$no = 0;
		//echo '<pre>';
		//var_dump($this->data);die;
		foreach($this->data as $d => $dataRow)
		{
			$tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
			$tdcss = (empty($this->valErrorMsg[$d])) ? $tdcss: "tbl-error";	?>			
			<tr>	<?php 
				
			foreach($dataRow as $keyVal => $dataVal)
			{		
				$attr = ($keyVal == "amount")? "": "";
					if($keyVal != 'payReff'){
				?>
				
				<td class="<?= $tdcss; ?>" <?= $attr;?>><?php echo $this->language->_($dataVal); ?></td>
				
<?php		}	
			}
			
			$urlError  = $this->url(array('module'=>'popup','controller'=>'index','action'=>'multiapprove','line' => $d),null,true);
			$statusMsg = (empty($this->valErrorMsg[$d]))? "Ready to Review": "Can't Review this payment <a style='cursor:pointer' onClick=\"showPopUpWindow('$urlError');\">[DETAIL]</a>";
			
?>
				<td class="<?= $tdcss; ?>">
					<?php echo $this->language->_($statusMsg);
						require_once 'Crypt/AESMYSQL.php';
						$AESMYSQL = new Crypt_AESMYSQL();
						$rand = $this->token;
						$encrypted_pwd = $AESMYSQL->encrypt($dataRow['payReff'], $rand);
						// $dt["payReff"] = urlencode($encrypted_pwd);
						$encreff = urlencode($encrypted_pwd);
					 ?>
					<input name="mPayReff[]" type="hidden" value="<?php echo $encreff; ?>">
				</td>
			</tr>	
			
<?php 
			$no++;
		}
	}
	else
	{
?>
		<tr>
			<td class="tbl-evencontent" colspan="<?php echo $numFields;?>" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
		</tr>
<?php
	}
?>
</table>
</div>
<table>
	<tr style="height:30px">
		<td align="center">
			<?php 
			$allowApprove = ($this->allowApprove == true)? "id": "disabled";	?>
			<input type="hidden" name="process" value= "">
			<?php echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"window.location='".$this->backURL."'")); ?>
			<?php echo $this->formSubmit('approve',$this->language->_('Approve'),array('class'=>'btngreen hov', $allowApprove => "dis", "onclick"=>"")); ?>
		</td>
	</tr>
</table>
</form>
</div>
</div>