<b><?php echo $this->language->_('Table'); ?> &gt; <?php echo $this->language->_('Customer'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Customer Account'); ?></div>
<?php
if($this->cust_id)
{
  $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
  $option_status = array(''=>'-- All --',
                      	 $this->status_type['code']['approved']=>$this->status_type['desc']['approved'],
                      	 $this->status_type['code']['delete']=>$this->status_type['desc']['delete'],
                      	 $this->status_type['code']['suspended']=>$this->status_type['desc']['suspended']
                      	);
                      	
?>
<?php //if($this->hasPrivilege('cust_user_inp')){ ?>

<div>
<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index','cust_id'=>$this->cust_id),null,true)?>" class="inputbtn">New</a>&nbsp;&nbsp;
<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>'order','action'=>'index','cust_id'=>$this->cust_id),null,true)?>" class="inputbtn">Account Ordering</a>
</div><br />

<?php // } ?>

<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="3" class="tdform-sub"><strong>Information</strong></th></tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Customer ID')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><a style="text-decoration:underline;" href="<?=$this->url(array('module' =>'customer','controller' => 'index'),null,true)?>"><?php echo $this->cust_id; ?></a></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Customer Name')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
  </tr>
</table>
<br />


<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index','cust_id'=>$this->cust_id),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('uid','User ID'); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('uid',$this->uid,array('class'=>'currency')); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('uname','User Name'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('uname',$this->uname,array('class'=>'currency')); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('status','Status'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formSelect('status',$this->status,null,$option_status); ?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter','Filter',array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter','Display All',array('class'=>'inputbtn')); ?>
    </td></tr>
  </table>
</form>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->user_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->user_msg?></div>
<?php } ?>
<?php if($this->filter){ ?>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  <tr>
    <th width="3%" valign="top">No</th>
    <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
    												   )
  						   )?>		
  	<th valign="top">Action</th>
  </tr>
<?php
if(count($this->paginator))
{
  $i = 0;
  foreach($this->paginator as $row)
  {
	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	$button1 = $this->url(array('module'=>$this->modulename,'controller'=>'view','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$row['ACCT_NO']),null,true);
	$button1 = '<a href="'.$button1.'" class="inputbtn">View/Edit</a>';
	
	$status  = '&nbsp;'; 
	$button2 = '';
	
	$temp = $row['ACCT_STATUS'];
	$temp_status = array(1 => $this->status_type['desc']['approved'],
	                     2 => $this->status_type['desc']['suspended'],
	                     3 => $this->status_type['desc']['delete']
	                    ); 
	$status = $temp_status[$temp];
	
	/*$temp = strtoupper($row['ACCT_STATUS']);
	$temp_status = array(strtoupper($this->status_type['code']['approved'])=>$this->status_type['desc']['approved'],
	                     strtoupper($this->status_type['code']['suspended'])=>$this->status_type['desc']['suspended'],
	                     strtoupper($this->status_type['code']['delete'])=>$this->status_type['desc']['delete']
	                    ); 
	$status = $temp_status[$temp];*/
	
	

	 
	/*if($temp==strtoupper($this->status_type['code']['approved']))
	{
	  $status = $this->status_type['desc']['approved'];
	  if($this->hasPrivilege('cust_user_inp'))
	  {
	    $button2 = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$row['USER_ID']),null,true);
		$button2 = '&nbsp;&nbsp;<a href="javascript:confirmation(\'Are you sure want to deactivate this User?\',\''.$button2.'\');" class="inputbtn">Deactivate</a>';
	  }
	}
	else if(array_key_exists($temp,$temp_status))
	{
	  $status = $temp_status[$temp];	
	  if($this->hasPrivilege('cust_user_inp'))
	  {
	    $button2 = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$row['USER_ID']),null,true);
		$button2 = '&nbsp;&nbsp;<a href="javascript:confirmation(\'Are you sure want to activate this User?\',\''.$button2.'\');" class="inputbtn">Activate</a>';
	  }
	}*/
	
	$has_token = '&nbsp;';
	
	/*if(strtoupper($row['USER_HASTOKEN'])==strtoupper($this->token_type['code']['yes']))
	{
	  $has_token = $this->token_type['desc']['yes'];
	}
	else if(strtoupper($row['USER_HASTOKEN'])==strtoupper($this->token_type['code']['no']))
	{
	  $has_token = $this->token_type['desc']['no'];
	}*/
	
	/*if($row['USER_ISLOCKED']) $userIsLocked = 'Yes';
	else $userIsLocked = 'No'; 
	
	if($row['USER_ISEMAIL']) $userIsEmail = 'Yes';
	else $userIsEmail = 'No'; */
	
if($row['CCY_ID'] != 'IDR' && $row['CCY_ID'] != 'USD' && $row['CCY_ID'] != ''){
					//var_dump($this->userlimitdetail);
						$ccy = Application_Helper_General::getCurrCode($row['CCY_ID']);
					}else{
					 //echo 'sa';
						$ccy = $row['CCY_ID'];
					} 
	echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_EMAIL'].'</td>
			<td class="'.$td_css.'">'.$ccy.'</td>
			<td class="'.$td_css.'">'.$row['ORDER_NO'].'</td>
			<td class="'.$td_css.'">'.$row['GROUP_ID'].'</td>
			<td class="'.$td_css.'">'.$status.'</td>
			<td class="'.$td_css.'" >'.$button1.$button2.'</td>
		  </tr>';
    $i++;
    $counter++;
  }
}else{ echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> - no data - </td></tr>'; }
?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<?php
  }
}else{
?>
<div id="content">- no data -</div>
<?php } ?>
<br /><a href="<?=$this->url(array('module' =>'customer','controller' => 'index'),null,true)?>" class="inputbtn">Back</a>