<?php 
require_once 'General/SystemBalance.php';
?>

<?php 
	echo $this->doctype('HTML4_LOOSE');

	echo $this->headLink()->appendStylesheet($this->baseUrl('../css/jquery-ui.css'));

	echo $this->headScript()->appendFile($this->baseUrl('../js/jquery-1.10.2.min.js'));
	echo $this->headScript()->appendFile($this->baseUrl('../js/jquery-ui.min.js'));

?>
<!-- <link rel="stylesheet" href="css/jquery-ui.css" />
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui.min.js"></script> -->

<style type="text/css">

::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover{
	color: black;
	background-color: white;
	border: none;
}


</style>

<script type="text/javascript">


$(document).ready(function() {

	
});



</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Tools');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Message');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Transfer Inquiry');?></span> 
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12 mx-auto mb-4">
	<br>
    
    <div class="row">
    	<div class="col-md-10 d-flex justify-content-center">
	        <button type="button" onclick="location.href='/services/accountbalance'" class="btnwhite hov col-md-3" name="button">Balance Inquiry</button>
	        <button type="button" onclick="location.href='/services/transferinhouse'" class="btnwhite hov col-md-3" name="button">Transfer Inhouse</button>
	        <button type="button" onclick="location.href='/services/fundtransfer'" class="btngreen hov col-md-3" name="button">Inquiry Account Interbank</button>
	        <button type="button" onclick="location.href='/services/interbanktransfer'" class="btnwhite hov col-md-3" name="button">Transfer Interbank</button>
	    </div>	    
    </div>
	<br>

	<br>
	<br>

	<?php if($this->error) { ?>

		<div class="alert alert-danger">

			<?php foreach ($this->error_msg as $value) { 

				echo '<li>'.$this->language->_($value).'</li>';

			} ?>
	    </div>
	    <br />
  	<?php }?>

	<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'fundtransfer','action'=>'index'),null,true)?>">
		<div class="row col-md-12">
			<div class="col-md-6">
				<table width="100%" cellpadding="7">				
					<tr>
						<td colspan="2">
							<h6><b><?php echo $this->language->_('Request');?></b></h6>
							<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
						</td>
					</tr>
					<tr>
						<td><?php echo $this->language->_('Source Bank Code');?>&nbsp;<span class="errmsg">*</span></td>
						<td>
							<input type="text" name="source_bank_code" style="font-size: 14px;" id="source_bank_code" autocomplete="off" class="form-control" placeholder="" value="<?php echo $this->source_bank_code; ?>">
						</td>					
					</tr>
					<tr>
						<td><?php echo $this->language->_('Source Account Number');?>&nbsp;<span class="errmsg">*</span></td>
						<td>
							<input type="text" name="acct_source" style="font-size: 14px;" id="acct_source" autocomplete="off" class="form-control" placeholder="" value="<?php echo $this->acct_num; ?>">
						</td>					
					</tr>					
					<tr>
						<td><?php echo $this->language->_('Destination Bank Code');?>&nbsp;<span class="errmsg">*</span></td>
						<td>
							<input type="text" name="bank_code" style="font-size: 14px;" id="bank_code" autocomplete="off" class="form-control" placeholder="" value="<?php echo $this->bank_code; ?>">
						</td>					
					</tr>
					<tr>
						<td><?php echo $this->language->_('Destination Account Number');?>&nbsp;<span class="errmsg">*</span></td>
						<td>
							<input type="text" name="acct_dest" style="font-size: 14px;" id="acct_dest" autocomplete="off" class="form-control" placeholder="" value="<?php echo $this->acct_dest; ?>">
						</td>					
					</tr>
					<tr>
						<td><?php echo $this->language->_('Amount ');?>&nbsp;<span class="errmsg">*</span></td>
						<td>
							<input type="text" name="amount" style="font-size: 14px;" id="amount" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" class="form-control" placeholder="" value="<?php echo Application_Helper_General::displayMoney($this->amount); ?>">
						</td>					
					</tr>
					<tr>
						<td><?php echo $this->language->_('Notes ');?></td>
						<td>
							<input type="text" name="notes" style="font-size: 14px;" id="notes" autocomplete="off" class="form-control" placeholder="" value="<?php echo $this->notes; ?>">
						</td>					
					</tr>
				</table>			
					
			</div>
			<div class="col-md-6">
				<table width="100%" cellpadding="7">
					<tr>
						<td><h6><b><?php echo $this->language->_('Result');?></b></h6></td>
						<td></td>
						<td></td>
					</tr>
					
					<tr>
						<td width="30%"><?php echo $this->language->_('Log Response');?></td>						
						<td width="70%">
							<?php echo $this->formTextarea('logResponse',$this->result,array('cols'=>'152','rows'=>'10','maxlength'=>'200','class'=>'form-control','disabled'=>'disabled')); ?>
						</td>
					</tr>
				</table>

				<br>

				

			</div>
		</div>

		<br>
		<br>

		<?php //$btnBack = $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true); ?>

		<div class="col-md-12" align="center">
			<!-- <button type="button" class="btnwhite hov" onclick="location.href='<?php echo $btnBack ?>'">&nbsp;<?php echo $this->language->_('Back')?>&nbsp;</button> -->
			<button type="submit" name="submit" class="btngreen hov round" value="submit">&nbsp;<?php echo $this->language->_('Submit');?>&nbsp;</button>
		</div>
	</form>

	<br>
	<br>
	<br>
</div>