<style type="text/css">

.field-icon {
  float: right;
  margin-right: 8px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  cursor:pointer;
}

.info{
	cursor: pointer;
	text-decoration: underline;
}


</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Home Page')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                    <span><?=$this->language->_('Google Authenticator')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
<?php if($this->error){ ?>
<div class="errmsg">
<?php 
		echo $this->language->_($this->msg_failed);
?>
</div>
<?php } ?>

	<?php 
	if(!$this->googleauth){
	?>
	<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" >
          	<h5><b><?=$this->language->_('Google Authenticator')?></b></h5>
          	<h6 class="homeCardText"><b><?=$this->language->_('Two Factor Authentication (2FA)')?></b></h6>
          	<br>
          	<br>
       		  <div class="row">
		        <div class="col-md-8 col-md-offset-3 well">
		            <h4><?=$this->language->_('Google Auth Activation')?></h4>
		 
		            <p>
		               <?=$this->language->_('Scan the barcode below using your Google Authenticator application')?>
		            </p>
		 
		            <div class="form-group">
		                <img src="<?php echo $this->qr_code; ?>">
		                <input type="hidden" name="google_code" value="<?php echo $this->secret ?>">
		            </div>
		 
		                <?php
		                if ($error_message != "") {
		                    echo '<div class="alert alert-danger"><strong>Error: </strong> ' . $error_message . '</div>';
		                }
		                ?>
		                <div class="form-group">
		                    <label for="code"><?=$this->language->_('Input the authenticator code')?></label>
		                    <div class="input-group">
		                    	<input type="text" name="code" placeholder="6 Digit Code" class="form-control col-md-4 mr-2">
		                    	<button type="submit" name="btnValidate" value="1" class="btngreen hov">Validate</button>
		                    </div>
		                </div>
		        </div>
		        <div class="col-md-4 col-md-offset-3 well" align="right">
					<h4 class="mt20 hidden-xs"><?=$this->language->_('More Info')?></h4>
					<br>
					<br>
					<p class="info homeCardText" data-toggle="modal" data-target="#modalInfo1"><?=$this->language->_('What is it?')?></p>
					<p class="info homeCardText" data-toggle="modal" data-target="#modalInfo2"><?=$this->language->_('Why Google Auth?')?></p>
					<p class="info homeCardText" data-toggle="modal" data-target="#modalInfo3"><?=$this->language->_('Who needs it?')?></p>
					<p class="info homeCardText" data-toggle="modal" data-target="#modalInfo4"><?=$this->language->_('When you use it?')?></p>
					<p class="info homeCardText" data-toggle="modal" data-target="#modalInfo5"><?=$this->language->_('Where you can use it?')?></p>
					<p class="info homeCardText" data-toggle="modal" data-target="#modalInfo6"><?=$this->language->_('How to get it?')?></p>
       		  	<br/>		
       		  	</div>
		    </div>

        
      
         <!--     </div>
          </div> -->
      </form>
  <?php }else{ ?>
  		<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" >
	       	<h5><b><?=$this->language->_('Google Authenticator')?></b></h5>
          	<h6 class=""><b><?=$this->language->_('Two Factor Authentication (2FA)')?></b></h6>
          	<br>
          	<br>
       		  <div class="row">
       		  	<div class="col-md-8">
       		  		<h4 class="mt20 hidden-xs"><?=$this->language->_('Your Google Auth has been Activated')?></h4>
		          	<br>
		          	<br>
       		  		<div class="col-md-12 col-md-offset-3 well mb-4">
			            <label><b><?=$this->language->_('Rechecking Google Authentication')?></b></label>
			                <?php
			                if ($error_message != "") {
			                    echo '<div class="alert alert-danger"><strong>Error: </strong> ' . $error_message . '</div>';
			                }
			                ?>
			                <div class="form-group">
			                    <label for="code"><?=$this->language->_('Input the authenticator code')?></label>
			                    <div class="input-group">
			                    	<input type="text" name="code" placeholder="6 Digit Code" class="form-control col-md-3 mr-2">
			                    	<button type="submit" name="btnCheck" value="1" class="btngreen hov"><?=$this->language->_('Validate')?></button>
			                    </div>
			                </div>
			        </div>
			        <div class="col-md-12 col-md-offset-3 well">
			        	<div class="form-group">
		                    <label for="code"><b><?=$this->language->_('Remove Google Authentication')?></b></label>
		                    <div class="input-group">
		                    	<label for="code" class="pt-2 mr-4"><?=$this->language->_('Click here to remove')?></label>
		                    	<button type="submit" name="btnRemove" value="1" class="btnwhite hov bg-danger text-white">Remove</button>
		                    </div>
			            </div>
						<br/>
	       		  		<br/>
	       		  	</div>
       		  	</div>
       		  	<div class="col-md-4 col-md-offset-3 well" align="right">
					<h4 class="mt20 hidden-xs"><?=$this->language->_('More Info')?></h4>
					<br>
					<br>
					<p class="info" data-toggle="modal" data-target="#modalInfo1"><?=$this->language->_('What is it?')?></p>
					<p class="info" data-toggle="modal" data-target="#modalInfo2"><?=$this->language->_('Why Google Auth?')?></p>
					<p class="info" data-toggle="modal" data-target="#modalInfo3"><?=$this->language->_('Who needs it?')?></p>
					<p class="info" data-toggle="modal" data-target="#modalInfo4"><?=$this->language->_('When you use it?')?></p>
					<p class="info" data-toggle="modal" data-target="#modalInfo5"><?=$this->language->_('Where you can use it?')?></p>
					<p class="info" data-toggle="modal" data-target="#modalInfo6"><?=$this->language->_('How to get it?')?></p>
       		  	<br/>		
       		  	</div>
		    </div>
        
      
         <!--     </div>
          </div> -->
      </form>

  <?php } ?>


  <!-- Modal 1 -->
	<div class="modal fade" id="modalInfo1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title textBlack" id="myModalLabel"><?=$this->language->_('What is Google Authenticator?')?></h4><br>
	      </div>
	      <div class="modal-body">
	      	<p class="textBlack">
	      		<?=$this->language->_('Google Authenticator is a software-based authenticator that implements two-step verification services using the Time-based One-time Password Algorithm and HMAC-based One-time Password algorithm, for authenticating users of mobile applications by Google.')?>
	      	</p>
	      	<br>
	      	<br>
	      	<a href="https://www.google.com/landing/2step/" target="blank"><?=$this->language->_('Click here for more information')?></a>
	      </div>
	  	</div>
	  </div>
	</div>

	<!-- Modal 2 -->
	<div class="modal fade" id="modalInfo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title textBlack" id="myModalLabel"><?=$this->language->_('Why Google Auth?')?></h4><br>
	      </div>
	      <div class="modal-body">
	      	<p class="textBlack"><?=$this->language->_("1. It's more secure")?></p>
		      	<p class="textBlack" style="margin-left: 20px;"><?=$this->language->_("# It works inside a secure box")?></p>
		      	<p class="textBlack" style="margin-left: 20px;"><?=$this->language->_("# New code every 60 seconds")?></p>
		    <p class="textBlack"><?=$this->language->_("2. It works without Internet and Network coverage")?></p>
		    <p class="textBlack"><?=$this->language->_("3. Multiple Accounts in One Place")?></p>
		    <p class="textBlack"><?=$this->language->_("4. It is easy to use")?></p>
		    <p class="textBlack"><?=$this->language->_("5. And You can use it with Non-Google Websites")?></p>
	      </div>
	  	</div>
	  </div>
	</div>

	<!-- Modal 3 -->
	<div class="modal fade" id="modalInfo3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title textBlack" id="myModalLabel"><?=$this->language->_('Who needs to activate Google Auth?')?></h4><br>
	      </div>
	      <div class="modal-body">
	      	<p class="textBlack"><?=$this->language->_("All Digital Banking users who need 2FA-OTP* for approve or release a transaction/payment.")?></p>
	      	<br>
	      	<br>
		    <p class="textBlack"><?=$this->language->_("(*two factor authentication – one time password) ")?></p>
	      </div>
	  	</div>
	  </div>
	</div>

	<!-- Modal 4 -->
	<div class="modal fade" id="modalInfo4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title textBlack" id="myModalLabel"><?=$this->language->_('When you use Google Auth?')?></h4><br>
	      </div>
	      <div class="modal-body">
	      	<p class="textBlack"><?=$this->language->_("Whenever you do approve or payment release that need 2FA-OTP*,according to parameter settings in Payment Workflow.")?></p>
	      	<br>
	      	<br>
		    <p class="textBlack"><?=$this->language->_("(*two factor authentication – one time password) ")?></p>
	      </div>
	  	</div>
	  </div>
	</div>

	<!-- Modal 5 -->
	<div class="modal fade" id="modalInfo5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title textBlack" id="myModalLabel"><?=$this->language->_('Where you can use Google Auth?')?></h4><br>
	      </div>
	      <div class="modal-body">
	      	<p class="textBlack"><?=$this->language->_("Your Google Auth will be pair to ")?><a href="https://360.espay.id" target="blank">http://360.espay.id</a></p>
	      </div>
	  	</div>
	  </div>
	</div>

	<!-- Modal 6 -->
	<div class="modal fade" id="modalInfo6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title textBlack" id="myModalLabel"><?=$this->language->_('How to get Google Auth?')?></h4><br>
	      </div>
	      <div class="modal-body">
	      	<p class="textBlack"><?=$this->language->_("1. You can download Google Auth application at:");?></p>
	      	<div class="form-group">
	      		<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en" target="blank"><img src="/assets/permatalayout/assets/newlayout/img/googleplay.png" width="150"></a>
	      		<a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="blank"><img src="/assets/permatalayout/assets/newlayout/img/appstore.png" width="150"></a>
	      	</div>
	      	<p class="textBlack"><?=$this->language->_("2. Use your Google Auth application to scan the barcode");?></p>
	      	<p class="textBlack"><?=$this->language->_("3. Input the 6 digit authentication code, then click validate");?></p>
	      	<p class="textBlack"><?=$this->language->_("4. You will receive an email link for verification");?></p>
	      	<p class="textBlack"><?=$this->language->_("5. Click the link in your email to verify activation");?></p>
	      	<p class="textBlack"><?=$this->language->_("6. You are ready to use 2FA-OTP");?></p>
	      </div>
	  	</div>
	  </div>
	</div>

<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>

<script> 
  $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
</script>






