	<script language="javascript" type="text/javascript">
	function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_NAME, CURR_CODE)
	{
		window.opener.document.payment.ACBENEF<?php echo $this->id_box; ?>.value 			= ACBENEF;
		window.opener.document.payment.ACBENEF_ALIAS<?php echo $this->id_box; ?>.value 		= ACBENEF_ALIAS;
		window.opener.document.payment.ACBENEF_BANKNAME<?php echo $this->id_box; ?>.value 	= ACBENEF_NAME;
		window.opener.document.payment.CURR_CODE<?php echo $this->id_box; ?>.value 			= CURR_CODE;
		//disable button if get benef from account book
		
	  	opener.focus();
	  	self.close();
	}
	</script>

<div class="tabheader" id="tabheader"><?php echo $this->language->_('In house Acct'); ?></div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
			<div class="portlet-body form">
			<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  			<div class="panel panel-default">
		  	<!-- Default panel contents -->
		  	<div class="panel-heading" style="
			    color: #fff;
			    background-color: #4da42f!important;
			    border-color: #4da42f;
			    border: 1;
			">								
				<strong><?php echo $this->language->_('Filter');?></strong>
			</div>

			<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-md-2"><?php echo $this->formLabel('benef_acct',$this->language->_('Beneficiary Account')); ?></label>	
						<div class="col-md-4">
	                		<?php echo $this->formText('benef_acct',$this->benef_acct,array('class'=>'form-control'))?>
	             		</div>
	             		<div class="col-md-6">
  						</div>
	              	</div>

	              	<div class="form-group">
						<label class="control-label col-md-2"><?php echo $this->formLabel('benef_name',$this->language->_('Beneficiary Account Name')); ?></label>	
						<div class="col-md-4">
	                		<?php echo $this->formText('benef_name',$this->benef_name,array('class'=>'form-control'))?>
	             		</div>
	             		<div class="col-md-6">
  						</div>
	              	</div>
				</div>							
			</div>  	
    
    <!--<tr>
      <td class="tbl-evencontent"><input type="hidden" name="id_form" value=""><?php echo $this->formLabel('alias',$this->language->_('Alias Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php //echo $this->formText('alias',$this->alias)?></td>
    </tr>
    --><!-- <tr>
      <td class="tbl-evencontent"><?php //echo $this->formLabel('benef_acct',$this->language->_('Beneficiary Account')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php //echo $this->formText('benef_acct',$this->benef_acct)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php //echo $this->formLabel('benef_name',$this->language->_('Beneficiary Account Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php //echo $this->formText('benef_name',$this->benef_name)?></td>
    </tr> -->
 
 	<table cellpadding="3" cellspacing="0" border="0" width="100%">
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
	  <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btnwhite hov')); ?>
    </td></tr>
  </table>
</form>
</div>
</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">

<br />

<br>
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br>
<form action="">
<table>
	<!-- <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform"> -->
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
  {
          $i=0;
          
	  foreach($this->paginator as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
		$button = '<a href="javascript:confirmation(\'Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="inputbtn">Delete</a>';
		   
		$delete = '';
		if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = 'Request to delete';
		else $delete = $button;
		$approve = $row['BENEFICIARY_ISAPPROVE']?'Approved':'Not Approved';
		
		
		$row['ISFAVORITE'] = ($row['ISFAVORITE']==1)?'Yes':'No';
		$row['BENEFICIARY_BANKSTATUS'] = ($row['BENEFICIARY_BANKSTATUS']==1)?'Yes':'No';
		
		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>';
				/*<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>*/
		echo	'<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ACCOUNT'].'\', \''.$row['BENEFICIARY_ALIAS'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['CURR_CODE'].'\')">'.$row['BENEFICIARY_ACCOUNT'].'</a></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_EMAIL'].'</td>
				<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
				<td class="'.$td_css.'">'.$row['ISFAVORITE'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_BANKSTATUS'].'</td>
				<td class="'.$td_css.'">'.$approve.'</td>
				<td class="'.$td_css.'">'.$this->Date($row['BENEFICIARY_CREATED']).'</td>
	
				
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center">  ---'.$this->language->_('No Data').'--- </td></tr>';
	}
    ?>
</table>
<br />


<br />
						
			</td>
			</tr>
		</tbody>
	</table>
</form>

<br>
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br>