<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Management'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Repair Approval Matrix'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/amsify.suggestags.css">
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<script type="text/javascript" src="/js/jquery.amsify.suggestags.js"></script>


    <?php
    $sugest = '';
    $suggest = array();
    foreach($this->dataact as $key=>$row){
    // foreach($this->data as $row) {
        if(!empty($this->data[$key+1])){
          $sugest .= $row['USER_ID'].',';
          $suggest[] = $row['USER_ID'];
        }else{
          $sugest .= $row['USER_ID'];
          $suggest[] = $row['USER_ID'];
        }

    }
    // print_r($sugest);die;
    ?>
<input type="hidden" id="sg" value="<?php foreach ($suggest as $val) echo $val.','; ?> ">

<h5><?=$this->language->_('Approval Matrix')?></h5>
<h6 class="greyFont"><?=$this->language->_('Manage Group, User, Policy, And Approval Schema')?></h6>

<?php
    $buttonGroup = $this->url(array('module'=>$this->modulename,'controller'=>'repairapprovalgroup','action'=>'index','cust_id'=>$this->cust_id),null,true);
    $buttonPolicy = $this->url(array('module'=>$this->modulename,'controller'=>'repairapprovalpolicy','action'=>'index','cust_id'=>$this->cust_id),null,true);
?>


<?php if ($this->error) { ?>
          <div class="alert alert-danger"><?php echo $this->language->_($this->error_msg); ?></div>

<?php } ?>
<?php if ($this->error) { ?>
<div style="padding: 20px 0px;" class="container">
      <div   class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: right;" type="button" class="btngreen hov" disabled ><?php echo $this->language->_('Group')?></button>
          </div>
          <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: left;" type="button" class="btnwhite hov" disabled><?php echo $this->language->_('Policy')?></button>
          </div>
      </div>
  </div>
<?php }else{
?>
  <div style="padding: 20px 0px;" class="container">
      <div   class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: right;" type="button" class="btngreen hov" onclick="location.href='<?php echo $buttonGroup; ?>'" ><?php echo $this->language->_('Group')?></button>
          </div>
          <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: left;" type="button" class="btnwhite hov" onclick="location.href='<?php echo $buttonPolicy; ?>'" disabled><?php echo $this->language->_('Policy')?></button>
          </div>
      </div>
  </div>


<?php
} ?>
  

<div style="padding: 20px 0px;" class="container">
    <div class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-12">
            <h6><?=$this->language->_('Manage Approver Group User')?></h6>
        </div>
    </div>
</div>
<br>
<br>

  <!--   <table width="50%" align="center" class="tableform">
        <tr>
            <td align="center" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Id')); ?>&nbsp;<span class="errmsg">*</span></td>
            <td class="tbl-evencontent" colspan="6">
                <?php
                    echo $this->formSelect('cust_id',$this->cust_id,array('class' => 'form-control', 'id' => 'compid' ),$this->arrcust);
                ?>
               <div id="error_cust_id class="errmsg"></div>
            </td>
        </tr>
    </table> -->
    <div align="center">
      <h7><strong><?php echo $this->cust_id ?> | <?php echo $this->cust_name ?></strong></h7>
    </div>

<form id="regForm" name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'repairapprovalgroup','action'=>'index'),null,true)?>">
<!-- counter untuk alphabet -->

<?php
$count = count($this->listgroup);
// print_r($count);die;
if(empty($count)){
  $total = '-1';
}else{
  $total = $count-2;
}
?>
<input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden; ;">
<input type="hidden" name="changes_id" value="<?php echo $this->change_id; ?>">
<!-- <input type="number" id="count" value="-1" style="visibility: hidden;"> -->

<?php
echo $this->formHidden('cust_id',$this->cust_id);
?>
<!-- counter untuk insert row -->
<?php
$count = count($this->listgroup);
// print_r($count);die;
if(empty($count)){
  $total = '1';
}else{
  $total = $count;
}
?>
<input type="number" id="count2" value="<?php echo $total ?>" style="visibility: hidden;">

<!-- counter untuk delete btndel -->
<input type="number" id="countdel" value="0" style="visibility:hidden; ;">

<div class="table-responsive">
    <table width="90%" align="center" id="grouptable" class="table table-sm homeCardText">
        <tr>
            <th  valign="top">Group Id</th>
            <th  valign="top">Group Name</th>
            <th  valign="top">User</th>
            <th  valign="top">Action</th>
        </tr>
        <tr>
            <td style="padding-top: 10px;">SG
                <?php
                      echo $this->formHidden('userlist','',array('id'=>'userlist'));
                ?>

            </td>
            <td style="padding-top: 10px;"><i class="fas fa-users" style="margin-right: 3%; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 0px solid black; width: 85%;" type="text" name="sg_group" required='required' placeholder="SPECIAL GROUP" value="special group" readonly></td>
            <td style="padding-top: 10px;"><i class="fas fa-user" style="margin-right: 3%; font-size: 20px;display: none"> </i>
              <input  type="text" name="sg_user" id="sg_user" required='required' placeholder="User" value="<?php echo ltrim($this->splist); ?>" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;">
                  <?php  ?>
              
              </td>
              <td style="padding-top: 10px;"></td>
        </tr>
        <?php
        // echo '<pre>';
        // print_r($this->listgroup);
        foreach ($this->listgroup as $key => $value) {

          $sg = 'S_'.$this->cust_id;
          if($value['GROUP_USER_ID'] != $sg){
            $group = explode('_', $value['GROUP_USER_ID']);
            $alphabet = array(1=>'A',2=>'B',3=>'C',4=>'D',5=>'E',6=>'F',7=>'G',8=>'H',9=>'I',10=>'J',11=>'K',12=>'L',13=>'M',14=>'N',15=>'O',16=>'P',17=>'Q',18=>'R',19=>'S',20=>'T',21=>'U',22=>'V',23=>'W',24=>'X',25=>'Y',26=>'Z');
            
            echo '<tr><td style="padding-top: 10px;"><input type="hidden" name="groupid[]" value="'.$alphabet[(int)$group[2]].'">'.$alphabet[(int)$group[2]].'</td>';
            echo '<td style="padding-top: 10px;"><i class="fas fa-users" style="margin-right: 3%; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" required="required"  name="group[]" value="'.$value['GROUP_NAME'].'" ></td>';
            echo '<td style="padding-top: 10px;" colspan="1"><i class="fas fa-user" style="margin-right: 3%; font-size: 20px;display: none"> </i>
              <input  type="text" name="user[]" id="user'.$alphabet[$key].'" required="required" placeholder="User" value="'.$value['USERLIST'].'" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;"></td>';
              // print_r($key);
              if(!empty($this->listgroup[$key+2])){
                // die;
                echo '<td></td>';  
              }else{
                echo '<td><button type="button" class="btn btn-sm btn-danger btnremove" id="btnremove" ><i class="fa fa-times"></i></button></td>';
              }
              

            // print_r($group);die;
              ?>
              <script type="text/javascript">
                $(document).ready(function(){

                  // $("table").on('click', '.btnremove', function() {
                  //  $(this).closest("tr").remove();
                  //       // $count = count($this->listgroup);
                  //       var count = document.getElementById("count").value;
                  //       var count2 = document.getElementById("count2").value;
                  //       var total = count-1;
                  //       $('#count').val(total);
                  //       alert(count2);
                  //       // var total = count2-1;
                  //       // $('#count2').val(total);
                  //       // print_r($count);die;
                  //       // if(empty($count)){
                  //       //   $total = '-1';
                  //       // }else{
                  //       //   $total = $count-2;
                  //       // }
                  // });


                var key = '<?php echo $alphabet[$key]?>';
            $("input[id='user"+key+"']").amsifySuggestags({
              type : 'amsify',
              suggestions: suggest,
              afterAdd:function(value){
                //after add
                suggest = arrayRemove(suggest, value);
                $('#sg').val(suggest);
                // console.info(suggest);

              /*  sg = arrayRemove(sg, value);
                $('#sg').val(sg);*/
                
              },
              afterRemove:function(value){
                //after remove
                suggest.push(value);
                $('#sg').val(suggest);
                // console.info(suggest);
                /*sg.push(value);
                $('#sg').val(sg);*/
              }
            });
          });
              </script>
              <?php
              echo "</tr>"; 
          }
        }

        ?>
    </table>
    <br>
    <center>
      <?php if (!$this->error) { ?>
    <button style="" onclick="incrementValue()" type="button" class="btngreen hov" onclick=""><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button>
    <?php echo $this->formSubmit('submit',$this->language->_('Next'),array('class'=>'btngreen hov','onclick'=>'save();')); ?>&nbsp;
      <?php } ?>
    </center>
    <!-- <button style="float: right; margin-right: 10px;" onclick="save()" type="button" class="btngreen hov"><i class="fa fa-save"></i>&nbsp;<?php echo $this->language->_('Next')?></button> -->
</div>
</form>

<hr width="100%">
<h7 class="greyFont">&nbsp;<span>*</span>SG is a Special Group (Allow to overwrite all others approver policy)</h7>



<script type="text/javascript">


   $(document).ready(function(){

  

                  $("table").on('click', '.btnremove', function() {
                   $(this).closest("tr").remove();
                        // $count = count($this->listgroup);
                        var count = document.getElementById("count").value;
                        var count2 = document.getElementById("count2").value;
                        var total = count-1;
                        $('#count').val(total);
                        // alert(count2);
                        var total = count2-1;
                        $('#count2').val(total);
                        var table = document.getElementById("grouptable");
                        // console.log(table);
                        // table.rows[total].insertCell(3);/
                        table.rows[total].cells[4].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
                        // print_r($count);die;
                        // if(empty($count)){
                        //   $total = '-1';
                        // }else{
                        //   $total = $count-2;
                        // }
                  });

                });

  function arrayRemove(arr, value) {
  //alert('1');
     return arr.filter(function(ele){
         return ele != value;
     });

  }

  
  let bool = '<?php echo $sugest ?>'.split(',');
  let suggest = JSON.parse('<?php echo json_encode($suggest) ?>');
  // console.log(bool);
  /*var data = $('#sg').val();
  var count = data.split(',');
  var sg = [];

  for (var i = 0; i < count.length; i++) {
    sg.push(count[i]);
  }*/

  $('input[name="sg_user"]').amsifySuggestags({
    type : 'amsify',
    suggestions: suggest,
    afterAdd:function(value){
      //after add
      suggest = arrayRemove(suggest, value);
      $('#sg').val(suggest);
      // console.info(suggest);

    /*  sg = arrayRemove(sg, value);
      $('#sg').val(sg);*/
      
    },
    afterRemove:function(value){
      //after remove
      suggest.push(value);
      $('#sg').val(suggest);
      // console.info(suggest);
      /*sg.push(value);
      $('#sg').val(sg);*/
    }
  });


           
  

  // function refresh(){
  //   var params = {
  //     type : 'amsify',
  //     suggestions: suggest
  //   };
  //   $('input[name="color"]').amsifySuggestags(params, 'refresh');

  //   $('input[name="sg_user"]').amsifySuggestags({
  //     type : 'amsify',
  //     suggestions: suggest,
  //   }, 'refresh');
  // }


 
  function removeParent(elem){
    
    var parentname = elem.parentNode.parentNode.id;
    // alert(parentname);
    document.getElementById(parentname).remove();
    $("#"+parentname).remove();
}

</script>

<script>

    function save(){
    var warning = 0;
    var sgdata = document.getElementById("sg_user").value;
    if(sgdata==''){
      var warning = 1;
      //alert(sgdata);
    }else{
    var total = document.getElementById("count2").value;
    var alphabet = ["","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
    var i;
    for (i = 1; i < total; i++) {
      var tag = 'user'+alphabet[i];
      //alert(tag);
      var countdata = document.getElementById(tag).value;
      if(countdata == ''){
        var warning = 1;
        
        break;
      }
    } 
    
    }
    
     if(warning == 1){
    //     document.getElementById("regForm").submit(); 
      alert('User cannot be blank');
     }
    //alert(sgdata);
    
       
    }

    function incrementValue()
    {
    
        var alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];

        if(document.getElementById("count").value < 25){
            document.getElementById('count').stepUp(1);
            document.getElementById('count2').stepUp(1);


            var count = document.getElementById("count").value;
            var i = document.getElementById("count2").value;
            // alert(count);
            console.log(i)
            var table = document.getElementById("grouptable");
            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            // table.rows[count+1].insertCell(3);
            //  table.rows[count+1].cells[4].innerHTML = "";
             // table.rows[count].insertCell(3);
             table.rows[i-1].cells[3].innerHTML = "";

            cell1.innerHTML = alphabet[count];
            // alert(alphabet[0]);
            // alert(alphabet[count]);
            cell2.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'></i><input type='hidden' name='groupid[]' value='"+alphabet[i-2]+"'><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' value='Group "+alphabet[i-2]+"' type='text' name='group[]' required='required' placeholder='Group "+alphabet[i-2]+"'>";

            // cell2.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'></i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='group_"+alphabet[count]+"' placeholder='Group "+alphabet[count]+"'>";

            cell3.innerHTML = " </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='user[]' id='user"+alphabet[i-2]+"' required='required' placeholder='User "+alphabet[i-2]+"'>";

            cell4.innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";

            //delete jika diatasnya ada btn delete
            document.getElementById('countdel').stepUp(1);
            var j = document.getElementById("countdel").value;

            var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";


             $("input[id='user"+alphabet[count]+"']").amsifySuggestags({
              type : 'amsify',
              suggestions: suggest,
              afterAdd:function(value){
                //after add

                suggest = arrayRemove(suggest, value);
                $('#sg').val(suggest);
                // console.info(suggest);

              /*  sg = arrayRemove(sg, value);
                $('#sg').val(sg);*/
                
              },
              afterRemove:function(value){
                //after remove
                suggest.push(value);
                $('#sg').val(suggest);
                // console.info(suggest);
                /*sg.push(value);
                $('#sg').val(sg);*/
              }
            });
            // alert(j);
            // table.rows[j].deleteCell(3);  

            
        }
    }

    function removerow()
    {
    
      if(document.getElementById("count").value >= 0){
        var table = document.getElementById("grouptable");
        var ibefore = document.getElementById("count2").value;
        table.deleteRow(ibefore);

        document.getElementById('count').stepDown(1);
        document.getElementById('count2').stepDown(1);
        // alert(ibefore)
        document.getElementById('countdel').stepDown(1);

        //tambah delete button di row sebelumnya
        var iafter = document.getElementById("count2").value;
        console.log(iafter)
        if(iafter != 1){
          // alert(iafter+1);
          // table.rows[iafter].insertCell(3);
          // table.rows[iafter].cells[4].innerHTML = "";
          table.rows[iafter].cells[3].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
        }
      }
    }
</script>
        

