<style>
  @media print {

    .hidden,
    .hidden * {
      display: none !important;
      visibility: hidden;
    }

    button {
      display: none !important;
      visibility: hidden;
    }

    .hiddenLogo,
    .hiddenLogo * {
      display: inline !important;
      visibility: show;
    }

    input.currency {
      width: 200px;
      font-size: 10px;
    }

    ul {
      padding-left: 10px;
    }

    h2 {
      color: #5B0000;
      font-size: 16px;
      font-weight: bold
    }

    body .ui-helper-hidden-accessible {
      position: fixed
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      background-color: white;
    }

    b {
      font-weight: bold;
      font-size: 11px
    }

    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: #000000;
      text-decoration: none;
    }

    a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: #000000;
      text-decoration: underline;
    }

    . {
      background-color: none;
      padding: 1px 1px 1px 1px;
      border-bottom: 1px solid #A9A9A9;
      border-right: 1px solid #A9A9A9;
      border-left: 1px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;
      vertical-align: top;
      font-size: 10px;
    }

    .tbl-oddcontent {
      background-color: none;
      padding: 1px 1px 1px 1px;
      border-bottom: 1px solid #A9A9A9;
      border-right: 1px solid #A9A9A9;
      border-left: 1px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;
      vertical-align: top;
      font-size: 10px;
    }

    .tdform-sub {
      background-color: #0c67a0;
      padding: 4px 4px 4px 4px;
      border-bottom: 0px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;
      ;
      border-right: 1px solid #A9A9A9;
      ;
      border-left: 1px solid #A9A9A9;
      vertical-align: top;
      font-weight: bold;
      color: white;
    }

    .tdform-odd {
      background-color: #FFFFFF;
      padding: 4px 4px 4px 4px;
      border: 1px solid;
      vertical-align: top;
    }

    .errmsg {
      font-weight: bold;
      font-size: 11px;
      color: #FF0000
    }

    body {
      font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
      /* chrome */
      -webkit-print-color-adjust: exact;
      /* mozila */
      -moz-print-color-adjust: exact;
      /* opera */
      -o-print-color-adjust: exact;
      /* ie */
      -ms-print-color-adjust: exact;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-white fixed-top">
  <a href="/home/dashboard"><img class="navbar-brand" src="/images/logo/logo-btn.png" width="150"></a>
</nav>

<div class="col-md-12">
  <table class="table table-striped table-borderd" style="width: 100%;">
    <tbody>
      <tr>
        <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('File Sharing List Detail') ?></strong></th>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="cust_id"><?php echo $this->language->_('Customer Code') ?></label>
        </td>
        <td width="70%" class="">
          <label for="cust_id">
            : CUST_ID
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="company_name"><?php echo $this->language->_('Company Name') ?></label>
        </td>
        <td width="70%" class="">
          <label for="company_name">
            : CUST_NAME
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="file_description"><?php echo $this->language->_('File Description') ?></label>
        </td>
        <td width="70%" class="">
          <label for="file_description">
            : FILE_DESCRIPTION
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="file_uploadedby"><?php echo $this->language->_('Uploaded By') ?></label>
        </td>
        <td width="70%" class="">
          <label for="file_uploadedby">
            : FILE_UPLOADEDBY
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="file_uploaded_time"><?php echo $this->language->_('Uploaded Date') ?></label>
        </td>
        <td width="70%" class="">
          <label for="file_uploaded_time">
            : FILE_UPLOADED_TIME
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="file_downloadedby"><?php echo $this->language->_('Last Downloaded By') ?></label>
        </td>
        <td width="70%" class="">
          <label for="file_downloadedby">
            : FILE_DOWNLOADEDBY
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="file_deleted"><?php echo $this->language->_('File Is Deleted') ?></label>
        </td>
        <td width="70%" class="">
          <label for="file_deleted">
            : FILE_DELETED
          </label>
        </td>
      </tr>

      <tr>
        <td width="30%" class="">
          <label for="file_deletedby"><?php echo $this->language->_('Deleted By') ?></label>
        </td>
        <td width="70%" class="">
          <label for="file_deletedby">
            : FILE_DELETEDBY
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>