<b><?php echo $this->language->_('Charges Account'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('COA Account Request List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('COA Request List'); ?></strong></th></tr> 
		<?php if($this->cek==0){?>
		<tr>
			<td class="tbl-evencontent colspan=3""><div><?php echo $this->language->_('There is no Changes to be approved'); ?><div></td>
		</tr>
		 <?php }else if($this->cek==1){ ?>		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Old COA Account',$this->language->_('Old COA Account')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formLabel('COAAccount',$this->oldCOAAccount); ?></td>
		</tr>
		<tr>
			<td class="tbl-oddcontent"><?php echo $this->formLabel('New COA Account',$this->language->_('New COA Account')); ?></td>
			<td class="tbl-oddcontent">:</td>
			<td class="tbl-oddcontent"><?php  echo $this->formLabel('COAAccount',$this->newCOAAccount); ?></td>
		</tr>
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('Approve','Approve',array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('Reject','Reject',array('class'=>'inputbtn')); ?>
			</td>
		</tr>
		<?php }?>
	</table>
</form>