<b><?php echo $this->language->_('General');?> > <?php echo $this->language->_('Product Account Type');?> > <?php echo $this->language->_('Edit');?> </b><br /><br />


<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span>General</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span>Product Account Type</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas" ><?=$this->language->_('Edit')?></span>                   
				</li>                
			</ul>
		</div>
	</div>
</div>

<?php if($this->success){ ?>
	<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
<?php } ?>
<?php if(count($this->report_msg) > 0){ ?>
	<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
<?php } ?>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="editonlinebanktable" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
				<h5><?=$this->language->_('Edit Product Account Type')?></h5>
				<tr>
					<td colspan="5" class="tbl-evencontent">
						<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Account Type');?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('product_code',$this->product_code,array('size'=>40, 'class'=>'form-control col-md-12'))?>
						<div id="error_product_code" class="errmsg"><?=$this->error_product_code?></div>
					</td>
				</tr>
			<!-- <tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Plan Code (4 chars required)');?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			       	<?php echo $this->formText('plan_code',$this->plan_code,array('size'=>40,'maxlength'=>4, 'class'=>'form-control col-md-12'))?>
					<div id="error_plan_code" class="errmsg"><?=$this->error_plan_code?></div>
				</td>
			</tr> -->
			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Account Type Name');?>&nbsp;<span class="errmsg">*</span></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="4">
					<?php echo $this->formText('product_name',$this->product_name,array('size'=>60,'maxlength'=>35, 'class'=>'form-control col-md-12'))?>
					<div id="error_product_name" class="errmsg"><?=$this->error_product_name?></div>
				</td>
			</tr>
			<tr style="display:none">
				<td class="tbl-evencontent"><?php echo $this->language->_('Account Type');?>&nbsp;<span class="errmsg">*</span></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="4">
					<?php echo $this->formSelect('account_type',$this->account_type, array('class'=>'form-control col-md-12'),$this->account_typeArr); ?>
					<div id="error_account_type" class="errmsg"><?=$this->error_account_type?></div>
				</td>
			</tr>
		</table>
		<br>
		<div class="formbutton">									 
			<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href="/'.$this->modulename.'"','class'=>'btnwhite hov')); ?>
			<input type="hidden" value="<?=$this->product_id?>" name="product_id"/>
			<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
			<input class="btngreen hov" type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','product_id'=>$this->product_id),null,true)?>'">
		</div>
	</form>
</div>
</div>


<!-- code lama sebelum 18 januari 2019-->
<!-- 
<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
	<tbody>	
		<tr>
			<td>
			<?php if($this->success){ ?>
					<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
			<?php } ?>

			<?php if(count($this->report_msg) > 0){ ?>
					<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
			<?php } ?>
			</td>
		</tr>

		<tr>
			<div class="portlet-body form">
				<td id="contentarea">
					<div class="portlet-body form content-box">
						<form name="editonlinebanktable" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
						    <h5><?php echo $this->language->_('Product Account Type');?></h5>
						    <div class="form-body">
                                <div class="form-group row">                             
                                        <div class="col-md-12">
                                            <strong><?php echo $this->language->_('Edit Product Account Type');?></strong>
                                        </div>
                                        <div class="col-md-12">
                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                        </div>
                                </div>
					         </div>
							<hr/>
						    <div class="portlet-body form">		      					      
								<div class="form-body">                                       
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Product Code (2 chars required)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                    <div class="col-md-9">
						                     <?php echo $this->formText('product_code',$this->product_code,array('size'=>40,'maxlength'=>2, 'class'=>'form-control'))?>
								    		<div id="error_product_code" class="errmsg"><?=$this->error_product_code?></div>
						                    </div>
						            </div>
								</div>
								<div class="form-body">                                                
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Plan Code (4 chars required)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                    <div class="col-md-9">
						                        <?php echo $this->formText('plan_code',$this->plan_code,array('size'=>40,'maxlength'=>4, 'class'=>'form-control'))?>
								    			<div id="error_plan_code" class="errmsg"><?=$this->error_plan_code?></div>
						                    </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Product Name (max 35 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                   <?php echo $this->formText('product_name',$this->product_name,array('size'=>60,'maxlength'=>35, 'class'=>'form-control'))?>
								    		<div id="error_product_name" class="errmsg"><?=$this->error_product_name?></div>
						                </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Account Type');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                  	<?php echo $this->formSelect('account_type',$this->account_type, array('class'=>'form-control col-md-12'),$this->account_typeArr); ?>
								    		<div id="error_product_name" class="errmsg"><?=$this->error_account_type?></div>
						                </div>
						            </div>
								</div>
								<br/>
								<div class="row">
			                      <div class="col-sm-12">
			                      		<div class="panel panel-default" style="border:0px">
						                    <div class="formbutton">									 
											   <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href="/'.$this->modulename.'"','class'=>'btnwhite hov')); ?>
									   			<input type="hidden" value="<?=$this->product_id?>" name="product_id"/>
												<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
												<input class="btngreen hov" type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','product_id'=>$this->product_id),null,true)?>'">
											</div>
                    					</div>
                    				</div>
                    			</div>
                    			</div>
							</form>  
						</div>
					</td>                             						
				</div>
			</tr>
		</tbody>
	</table> -->



	<!-- <table border="0" cellpadding="0" cellspacing="0" width="60%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<div class="subtopic"><h2><?php echo $this->language->_('Product Account Type');?></h2></div>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Edit Product Account Type');?>
				</th>
			</tr>
			<tr>
				<td>
					<?php 
					    if($this->error){ ?>
					    <div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
					<?php 
					     } 
					   ?>
				</td>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="editonlinebanktable" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						    <tr>
								<td class="tbl-evencontent"></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Product Code (2 chars required)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('product_code',$this->product_code,array('size'=>40,'maxlength'=>2))?>
								    <div id="error_product_code" class="errmsg"><?=$this->error_product_code?></div>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Plan Code (4 chars required)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('plan_code',$this->plan_code,array('size'=>40,'maxlength'=>4))?>
								    <div id="error_plan_code" class="errmsg"><?=$this->error_plan_code?></div>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Product Name (max 35 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('product_name',$this->product_name,array('size'=>60,'maxlength'=>35))?>
								    <div id="error_product_name" class="errmsg"><?=$this->error_product_name?></div>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Account Type');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">								    
								    <?php echo $this->formSelect('account_type',$this->account_type,null,$this->account_typeArr); ?>
								    <div id="error_product_name" class="errmsg"><?=$this->error_account_type?></div>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
									    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href="/'.$this->modulename.'"','class'=>'inputbtn')); ?>
									    <input type="hidden" value="<?=$this->product_id?>" name="product_id"/>
									    <input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="inputbtn"/>
										<input type="button" value="<?php echo $this->language->_('Reset');?>" name="reset" onclick="resetBankData()" class="inputbtn"/>


									 <input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','product_id'=>$this->product_id),null,true)?>'">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
