<?php

$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if(is_array($query_string_params))
{
  $qstring='?';
  foreach($query_string_params as $key=>$val)
    $qstring.=$key.'='.$val.'&';
  $qstring=substr($qstring,0,-1);
}
else
  $qstring='';
?>

<?php $anyvalue = $this->language->_('Any Value'); ?>
<script type="text/javascript">
// function changeTransferType()
// {
// 	// Remove all options
// 	document.filterForm.transtype.options.length = 0;

// 	// Repopulate the select menu with new options
// 	// new Option(text, value, defaultSelected, selected)
// 	value = $('#paytype').val();
// 	if (value == '1'){
              
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('In House', '0');
// 		document.filterForm.transtype.options[2] = new Option('In House (Sell)', '7');
// 		document.filterForm.transtype.options[3] = new Option('In House (Buy)', '8');
// 		document.filterForm.transtype.options[4] = new Option('VA', '6');
// 	}else if (value == '7,5' || value == '11,11' || value == '15,15' || value == '14,14'){
        
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('In House', '0');
// 	}
// 	else if (value == '2'){
              
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('SKN', '2');
// 		document.filterForm.transtype.options[2] = new Option('RTGS','1');
// 		//document.filterForm.transtype.options[3] = new Option('ONLINE','8');
// 	}
// 	else if (value == '3'){
              
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('OUR', '3');
// 		document.filterForm.transtype.options[2] = new Option('SHA','4');
// 	}
// 	else if(value == '6,4'){
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('In House', '0');
// 		document.filterForm.transtype.options[2] = new Option('SKN', '2');
// 		document.filterForm.transtype.options[3] = new Option('RTGS','1');
// 	}
	
// 	else if(value == '16'){
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('Handphone Voucher', '13');
// 		document.filterForm.transtype.options[2] = new Option('Electricity Voucher', '14');
// 	}
// 	else if(value == '17'){
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.filterForm.transtype.options[1] = new Option('Electricity', '1');
// 		document.filterForm.transtype.options[2] = new Option('PAM', '2');
// 		document.filterForm.transtype.options[3] = new Option('Phone', '3');
// 		document.filterForm.transtype.options[4] = new Option('Internet', '4');
// 		document.filterForm.transtype.options[5] = new Option('Cable TV', '5');
// 		document.filterForm.transtype.options[6] = new Option('Tax', '6');
// 		document.filterForm.transtype.options[7] = new Option('Credit Card', '7');
// 		document.filterForm.transtype.options[8] = new Option('Installment', '8');
// 		document.filterForm.transtype.options[9] = new Option('Insurance', '9');
// 		document.filterForm.transtype.options[10] = new Option('Education', '10');
// 		document.filterForm.transtype.options[11] = new Option('Ticket', '11');
		
// 	}
// 	else {	   
// 		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 	}

// }

$(document).ready(function(){

  $('#fixTable').fixTableHeader();

  $("#searchtable").keyup(function () {
    var value = this.value.toLowerCase().trim();

    });
  $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

      $('#efdateStart').datepicker({
          format: 'dd/mm/yyyy',
          uiLibrary: 'bootstrap4'
      });
      $('#efdateEnd').datepicker({
          format: 'dd/mm/yyyy',
          uiLibrary: 'bootstrap4'
      });
	
	// changeTransferType();
	// if('<?= $this->transtype ?>' != '')
	// {
	// 	$('#transtype').val('<?= $this->transtype ?>');
	// }


});
</script>


<div class="row hiddenprint">
    <div class="col-md-12">
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <span>Approval Request</span>
                  <i class="fa fa-angle-right pl-1 pr-1"></i>
              </li>

              <li>
                  <span class="inhouse"><?=$this->language->_('Approve Document Underlying')?></span>
              </li>

          </ul>
      </div>
    </div>
</div>

<div class="content-box">
  <div class="row">
    <div class="portlet-body form col-md-12">
<?if($this->error){ ?> <div class="errmsg"><?=$this->report_msg?></div><?}?>


<h5><?=$this->language->_('Approve Document Underlying')?></h5>
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">

  <?php
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("PS_EFDATE");
                        $selectlist = array("PRODUCT_TYPE",'PS_STATUS','SOURCE_ACCOUNT');
                        $index = 0;
                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                                          var ncolselect = "#colselect-s<?=$key?>";
                                          
                                if(colomnname == 'PRODUCT_TYPE'){

                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereproducttype'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: <?=$this->whereval[$index]?>
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');

                                }else if(colomnname == 'PS_STATUS'){

                                  $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherestatus'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: <?=$this->whereval[$index]?>
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });
                                  // document.getElementById(colselect).value = '<?=$this->whereval[$index]?>';
                                  $(colselect).val('<?=$this->whereval[$index]?>');

                          }else if(colomnname == 'SOURCE_ACCOUNT'){

                                  $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: <?=$this->whereval[$index]?>
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });
                                  $(colselect).val('<?=$this->whereval[$index]?>');

                          }
                          });

                        </script>

                        <?php
                        if($value == 'PS_EFDATE'){
                        ?>
                        <input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?=$this->paymentEnd?>" readonly required>
                        <?php                                         

                          }else if(!in_array($value, $selectlist)){
                          ?>
                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                          <?php }
                          if (!in_array($value, $datetype)){
                            // print_r($value);die;
                            $index++;
                          }
                        ?>
                              </div>
                              <div class="col-md-2 form-inline">
                                  <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                              </div>
                          </div>
                      </div>

                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
               <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>


                      <!-- <div class="portlet-body form" style="display: none">

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                      <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                    </select>
                                                            </div>
                                                 </div>

                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>


                               </div> -->
                               </div>
            <div class="col-md-4">
            </div>

  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
   </div>
  <br/>
    </form>
    </div>
</div>
</div>

<br>



<div class="form-group">
  <div style="float:left">
      <?php
        $option = array('module'=>'documentunderlying','controller'=>'create','action'=>'index');      
        $option2 = array('module'=>'documentunderlying','controller'=>'approve','action'=>'index');      
      ?>
      
      <?php 
      if($this->hasPrivilege('BADA')){
      ?>
        <!-- <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url($option,null,true)?>'" value = "<?php echo $this->language->_('Apply')?>"> -->
        <!-- <button type="button" class="btngrad hov" style="margin-left: 5px;margin-top: 5px" onclick="location.href='<?=$this->url($option,null,true)?>'"<?php echo $buttonGroup; ?>'"><i class="fa fa-plus">&nbsp;</i>Create New</button> -->

       <!--  <input class = "btngreen hov" type="button" onclick="location.href='<?=$this->url($option2,null,true)?>'" value = "<?php echo $this->language->_('Approve')?>"> -->
      <?php 
      }else{
      ?>
        <!-- <button type="button" class="btngrad hov" style="margin-left: 5px;margin-top: 5px" onclick="location.href='<?=$this->url($option,null,true)?>'"<?php echo $buttonGroup; ?>'"><i class="fa fa-plus">&nbsp;</i>Apply</button> -->
        
      <?php 
      }
      ?>
  </div>
   <div style="float:right; padding-left:5px;">
      <div class="input-group input-group-sm">
          <div class="input-group-prepend">
              <span class="input-group-text navbar-search-icon" id="searchspan"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" placeholder="Search" id="searchtable" >
      </div>
    </div>
    <div style="float:right; padding-left:10px;">
      <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post">

      <?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
     
      <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
      <?php }else{ ?>
      <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
      <?php } ?>

      <input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
    </form>
    </div>
</div>

<br>
<br>
<form name="approveFormClaim" id="approveFormClaim" class="form-horizontal form-bordered form-row-stripped" method="post" action="">
   <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-bordered table-condensed flip-content">       
        <tr class="headercolor">
        <th class="tablehead" width="3%" valign="top"><?php echo $this->formCheckbox('checkall', '',array('onclick'=>'if($(this).is(":checked")){$(".checkAll").attr("checked","checked");}else{$(".checkAll").removeAttr("checked");};'));?></th>
            <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                  'sortBy' => $this->sortBy,
                                                                    'sortDir' => $this->sortDir,
                                      'query_string_params' => $this->query_string_params
                                                                    ));?>
        </tr>           
      <?php
        $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
        
          if(count($this->paginator) > 0)
          {
                $i=0;
                
              foreach($this->paginator as $row) 
              {
              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
              
              $getAcctData = new requestbook_Model_Requestbook();       
            
                       
            // $arrProductType = array('1'=>'Cheque','2'=>'Bilyet Giro');
            // $producttype = $arrProductType[$row['PRODUCT_TYPE']];
            
            $arrStatus = array('1'=>'Waiting to Approval by Bank','2'=>'Approved','3'=>'Request Repair','4'=>'Rejected');
            $status = $arrStatus[$row['DOC_STATUS']];
            
            $arrpayment = array('1'=>'Inhouse','2'=>'Domestic');
            $paytype = $arrpayment[$row['PAYMENT_TYPE']];

            // if($row['STATUS'] == '2' ){
                // $btnsetting = $this->url(array('module'=>'requestspecialrate','controller'=>'detail','action'=>'index','numreq'=>$row['ID_REQUEST']),null,true);
            //     $btn = '<a href="'.$btnsetting.'">'.$row['ID_REQUEST'].'</a>';
            // }else{
            //     $btn = $row['ID_REQUEST'];
            // }
            // $btnsetting = '#';

            require_once 'Crypt/AESMYSQL.php';
            $AESMYSQL = new Crypt_AESMYSQL();
            $rand = $this->token;
            $encrypted_pwd = $AESMYSQL->encrypt($row['DOC_ID'], $rand);
            // $dt["payReff"] = urlencode($encrypted_pwd);
            $encreff = urlencode($encrypted_pwd);
            $button = $this->url(array('module'=>'requestdu','controller'=>'index','action'=>'index','DOC_ID'=>$encreff),null,true);
              
            echo '<tr>
                <td class="'.$td_css.'">'.$this->formCheckbox('change_id[]', $row['DOC_ID'],array('class' => 'checkAll')).'</td>
                <td class="'.$td_css.'">'.$row['CUST_ID'].'</td>
                <td class="'.$td_css.'">'.$row['DOC_ID'].'</td>
                <td class="'.$td_css.'">'.$row['CCY'].'</td>
                <td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['AMOUNT']).'</td>
                <td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['PAYMENT_DATE'],$this->viewDateFormat,$this->defaultDateFormat).'</td>
                <td class="'.$td_css.'">'.$paytype.'</td>
                <td class="'.$td_css.'"><a href="'. $button .'" >'.$row['DOC_SYSNAME'].'</a></td>
                </tr>';
                  
            $i++;
                  $counter++;
            }
        }
        else 
        {
           echo '<tr><td colspan=10 class="tbl-evencontent" align="center">'.$this->language->_(' --- '.$this->language->_('No Data').' --- ').'</td></tr>';
        }
      ?>      

      </table>

  <br/>
</div>

<!-- <div class="col-md-5 mx-auto" align="center"> -->
 	
<div class="row-md-11 content-box">
	<div class= "portlet-body form col-md-12">
        <label><?php echo $this->language->_("Bank's Notes"); ?>:</label>
        <br/>
        <br/>
        <textarea class="form-control col-md-12" name="change_note" cols="30" rows="5" maxlength="200"></textarea>
        <br/>
        <br/>
        <button name="approve" type="button" id="approve" class="btn-sm btngreen hov">Approve</button>
        <button name="cancel" type="button" id="cancel" class="btn-sm btnwhite hov">Reject</button>
        <!-- <button name="newapprove" type="button" id="newapprove" class="btn-sm btngreen hov">Request Repair</button> -->
        <br/>
        <br/>
    </div>
</div>
	
<br/>
</form>


<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$(document).ready(function(){
  $("#cancel").attr('onclick', '$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();');

  $("#approve").attr('onclick', '$("<input>", {type: "hidden",name: "deal",value: "deal"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();');

//   $("#newapprove").attr('onclick', '$("<input>", {type: "hidden",name: "approvesr",value: "approvesr"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();');
})

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'PS_EFDATE' ){
        $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");


                                               $('#efdateStart').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                                $('#efdateEnd').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });

    }else if(colomnname == 'PS_STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherestatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PRODUCT_TYPE'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereproducttype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'SOURCE_ACCOUNT'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>