<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{
    //pengaturan error messages
	<?php
	     foreach($this->userDailyLimit_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php
	     }
	   ?>


});

function resetData()
{
	$('#dailylimit').val('<?php echo $this->max_amt; ?>');
	$('#ccy_id').val('<?php echo $this->ccy_id; ?>');
	$('#user_login').val('<?php echo $this->user_id; ?>');
}


</script>

<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
  $enccustid = urlencode($encrypted_custid);
?>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Customer'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Customer List'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
										 <?php echo $this->language->_('Customer Detail'); ?>
										 <i class="fa fa-angle-right pl-1 pr-1"></i>
								 </li>
								 <li>
										 <?php echo $this->language->_('Add User Daily Limit'); ?>
								 </li>
            	</ul>
        	</div>
      	</div>
</div>


<?php
if($this->cust_id)
{

?>



<?php if(count($this->userDailyLimit_msg) > 0){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
<?php } ?>
<?php if($this->error_msg){ ?>
<div class="errmsg"><?php echo $this->language->_($this->error_msg); ?></div><br />
<?php } ?>

<div class="row content-box">
		<div class="col-md-12 portlet-body form">
			<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true)?>">
				<div class="tabheader" id="tabheader"> <h5><?php echo $this->language->_('User Daily Limit Management'); ?></h5> </div>
				<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
					<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Add User Daily Limit'); ?></strong></th></tr>


					<tr>
					<td class="tbl-evencontent">&nbsp;</td>
					<td class="tbl-evencontent">&nbsp;</td>
					<td class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
					</tr>

						 <tr>
				 <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company ID')); ?></td>
				 <td class="tbl-evencontent">:</td>
				 <td class="tbl-evencontent"><?php echo $this->cust_id; ?></td>
				 </tr>

				 <tr>
				 <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
				 <td class="tbl-evencontent">:</td>
				 <td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
				 </tr>

					<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_login',$this->language->_('User Id')); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">
							 <select class="form-control col-md-8" name="user_login" id="user_login">
							<?php
								if(count($this->userData)>0)
								{
									foreach ($this->userData as $rowUser)
									{
							?>
										<option value="<?=$rowUser['USER_ID']?>" <?=($this->user_id == $rowUser['USER_ID'])? 'selected' : ''?>><?=$rowUser['USER_ID']?></option>
							<?php
									}
								}
								else
								{
							?>

							<?php
								}
							?>
						 </select>
						 <div id="error_user_login" class="errmsg"></div>
					 </td>
					</tr>

					 <tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->language->_('Currency')); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">
						 <select class="form-control col-md-8" name="ccy_id" id="ccy_id">
							<?php
								if(count($this->CCYData)>0)
								{
									foreach ($this->CCYData as $rowCCY)
									{
							?>
										<option value="<?=$rowCCY['CCY_ID']?>" <?=($this->ccy_id == $rowCCY['CCY_ID'])? 'selected' : ''?>><?=$rowCCY['CCY_ID']?></option>
							<?php
									}
								}
								else
								{
							?>

							<?php
								}
							?>
						</select>
					</td>
					</tr>


					<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('dailylimit',$this->language->_('Maximum Amount')); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">
						<?php
								// echo $this->formText('dailylimit',$this->max_amt,array('size'=>50,'onfocus'=>'iNumFrmtUS(this.value,this.id)','onblur'=>'NumFrmtUS(this.value,this.id)','onkeypress'=>'return forceDecimalOCBC(event)'));
								echo $this->formText('dailylimit',Application_Helper_General::displayMoney($this->max_amt),array('class' => 'form-control col-md-8' , 'size'=>50,'onfocus'=>'iNumFrmtUS(this.value,this.id)','onblur'=>'NumFrmtUS(this.value,this.id)'));
							 ?>
						<div id="error_dailylimit" class="errmsg"></div>
					</td>
					</tr>




				</table>
				<br />
				<div><?php
					$backButton =  $this->url(array('module'=>'customer','controller'=>'view','action'=>'index','cust_id'=>$enccustid),null,true);
					echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backButton.'\'','class'=>'btnwhite hov'));
					echo '&nbsp;&nbsp;';

					echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));

					echo '&nbsp;&nbsp;';
					//echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));

					echo $this->formHidden('cust_id',$enccustid);
				?>
					<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$enccustid),null,true)?>'">
				</div>
			</form>


			<?php }else{ ?>
			<div id="content">- no data -</div>
			<?php } ?>

		</div>
</div>
