<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Business Operations'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('LF Customer'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Update'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	button.is-invalid {
		border-color: #dc3545 !important;
	}
	.input-medium {
		width: 320px !important;
	}
	.input-date {
		width: 120px !important;
	}
	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}
	.gj-datepicker {
		width: 160px !important;
	}
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}
	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}
	.btn-sm {
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}
	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}
</style>

<h5><?= $this->language->_('BTN Line Facility - Agreement Update'); ?></h5>

<form action="" method="post" enctype="multipart/form-data">
	<div class="row content-box mb-3">
		<div class="col-md-12">
		<table class="table-striped my-3" cellpadding="5" style="width:100%">
			<tr>
				<td width="200"><?= $this->language->_('Customer'); ?></td>
				<td width="10">:</td>
				<td><b><?= strtoupper($this->data['CUST_NAME']).' ('.$this->data['CUST_ID'].')'; ?></b></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<?= $pks_number_val = $this->pks_number ?: $this->data['PKS_NUMBER']; ?>
				<td>
					<?= $this->formText('pks_number',$pks_number_val,['class'=>'form-control input-medium']); ?>
					<small class="text-danger"><?= $this->errDesc['pks_number']; ?></small>
				</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<td>
					<input type="file" name="pks_file" id="pks_file" class="form-control input-file input-medium">
					<small class="text-danger"><?= $this->errDesc['pks_file']; ?></small>
				</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Start Date'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<?= $pks_start_date_val = $this->pks_start_date ?: $this->data['PKS_START_DATE']; ?>
				<td>
					<input type="text" name="pks_start_date" id="pks_start_date" class="form-control input-date" value="<?= $pks_start_date_val; ?>" readonly>
					<small class="text-danger"><?= $this->errDesc['pks_start_date']; ?></small>
				</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Expired Date'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<?= $pks_exp_date_val = $this->pks_exp_date ?: $this->data['PKS_EXP_DATE']; ?>
				<td>
					<?= $this->formText('pks_exp_date',$pks_exp_date_val,['class'=>'form-control input-date','readonly'=>true]); ?>
					<small class="text-danger"><?= $this->errDesc['pks_exp_date']; ?></small>
				</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Plafond Limit'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<?= $plafond_limit_val = $this->plafond_limit ?: $this->data['PLAFOND_LIMIT']; ?>
				<td>
					<div class="d-flex align-items-center">
						<span>IDR</span>
						<div class="ml-2">
							<?= $this->formText('plafond_limit',Application_Helper_General::displayMoney($plafond_limit_val),['class'=>'form-control input-medium','onfocus'=>"iNumFrmtUS(this.value,this.id)",'onblur'=>"NumFrmtUS(this.value,this.id)"]); ?>
							<small class="text-danger"><?= $this->errDesc['plafond_limit']; ?></small>
						</div>
					</div>
				</td>
			</tr>
		</table>
		</div>
	</div>
	<center>
		<?= $this->formButton('back', $this->language->_('BACK'), ['class'=>'btnwhite hov mr-2','onclick'=>'window.location.href="/businessoperations/lfcustomer"']); ?>
		<?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class'=>'btngreen hov']); ?>
	</center>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$('#pks_start_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});
		$('#pks_exp_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});
	});
</script>