<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Customer'); ?></div>

<?php if($this->cust_id){ 

  
  //data temp
  if($this->cust_status == 1)       $status = $this->status_type['desc']['approved']; 
  else if($this->cust_status == 2)  $status = $this->status_type['desc']['suspended']; 
  else if($this->cust_status == 3)  $status = $this->status_type['desc']['delete']; 
  
  $yesNo = array('0'=>'No','1'=>'Yes');
  $yesNo_mode = array('N'=>'No','Y'=>'Yes',''=>'No');
  if( (!is_null($this->cust_admfee_status) || $this->cust_admfee_status != '') && isset($yesNo[$this->cust_admfee_status]) ) $cust_admfee_status = $yesNo[$this->cust_admfee_status];
  else  {$cust_admfee_status = null; }
  
  if( (!is_null($this->cust_charges_status) || $this->cust_charges_status != '') && isset($yesNo[$this->cust_charges_status]) ) $cust_charges_status = $yesNo[$this->cust_charges_status];
  else  $cust_charges_status = null;
  
  if( (!is_null($this->cust_token_auth) || $this->cust_token_auth != '') && isset($yesNo_mode[$this->cust_token_auth]) ) $cust_token_auth = $yesNo_mode[$this->cust_token_auth];
  else  $cust_token_auth = null;
  
  
  
  if( (!is_null($this->country_code) || $this->country_code != '') && isset($this->countryArr[$this->country_code]))  
  { 
      $country_code = $this->countryArr[$this->country_code];
  }
  else $country_code = '';

  
 

  //master data
  if($this->m_cust_status == 1)       $m_status = $this->status_type['desc']['approved']; 
  else if($this->m_cust_status == 2)  $m_status = $this->status_type['desc']['suspended']; 
  else if($this->m_cust_status == 3)  $m_status = $this->status_type['desc']['delete']; 

  if( (!is_null($this->m_cust_admfee_status) || $this->m_cust_admfee_status != '') && isset($yesNo[$this->m_cust_admfee_status]) ) $m_cust_admfee_status = $yesNo[$this->m_cust_admfee_status];
  else  $m_cust_admfee_status = null;
  
  if( (!is_null($this->m_cust_charges_status) || $this->m_cust_charges_status != '') && isset($yesNo[$this->m_cust_charges_status]) ) $m_cust_charges_status = $yesNo[$this->m_cust_charges_status];
  else  $m_cust_charges_status = null;
  
  if( (!is_null($this->m_cust_token_auth) || $this->m_cust_token_auth != '') && isset($yesNo_mode[$this->m_cust_token_auth]) ) $m_cust_token_auth = $yesNo_mode[$this->m_cust_token_auth];
  else  $m_cust_token_auth = null;
  
  
  
  if( (!is_null($this->m_country_code) || $this->m_country_code != '') && isset($this->countryArr[$this->m_country_code]))  
  { 
      $m_country_code = $this->countryArr[$this->m_country_code];
  }
  else $m_country_code = '';

  //get status
  if($this->changes_status== "RR"){;
    	$suggestionStatus = $this->language->_('Request Repaired');
    }else{
    	if($this->read_status==0){
    		$suggestionStatus = $this->language->_('Unread Suggestion');
    	}elseif ($this->read_status==1){
    		$suggestionStatus = $this->language->_('Read Suggestion');
    	}
    }
    
   //get suggestion type
   $changesTypeDescArr = $this->suggestionType['desc']; 
   $changesTypeCodeArr = $this->suggestionType['code']; 
   
   $key = array_search($this->changes_type,$changesTypeCodeArr);
   $changesType = $changesTypeDescArr[$key];

  
  
?>


<h2><?php echo $this->language->_('Change Information'); ?></h2>
<?php 
  echo $this->action('message',
                     'tools',
                     'changemanagement',
                     array('changes_id' => $this->changes_id));
?>

<br/>
<div class="portlet-body flip-scroll" >
<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content">
  <tr><th colspan="<?=($this->changes_type == 'E') ? '4' : '3'?>" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail Customer BIN'); ?></strong></th></tr>
 
 <tr><td colspan="<?=($this->changes_type == 'E') ? '4' : '3'?>" class="tbl-evencontent"><b><?php echo $this->language->_('New Customer BIN Detail'); ?></b></td></tr>
 
 <?php if($this->changes_type == 'E') {?> 
  <tr>
    <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
    <td width="3"   class="tbl-evencontent">&nbsp;</td>
	<td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
	<td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
  </tr>
  <?php } ?>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
	<td class="tbl-evencontent">:</td>
	<?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->cust_bin_name); ?></td>  <?php } ?>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->cust_id); ?></td> 
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('BIN Name')); ?></td>
	<td class="tbl-evencontent">:</td>
	<?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_bin',$this->m_cust_bin_name); ?></td>  <?php } ?>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_bin',$this->cust_bin); ?></td> 
  </tr>
  
 
</table>
</div>
<br />


<!-- button navigasi -->
<?php 
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
  ?>





<div>
<?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); ?>

</div>
<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>