
<b><?php echo $this->language->_('System Balance'); ?> &gt; <?php echo $this->language->_('Set System Balance'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Set System Balance'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'manage'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Select Company Code'); ?></strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formSelect('cust_id',$this->cust_id,null,$this->listCustId); ?></td>
    </tr>
    <tr>
      <td colspan="3" align="left">
	  <?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn')); ?>&nbsp;
      </td>
    </tr>
  </table>
</form>
