<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charges Template Repair Request'); ?></div>
<?php
		foreach($this->templatedetail as $datadetail)
		{
		    $TEMPLATE_ID =  $datadetail['TEMPLATE_ID'];
		    $TEMPLATE_NAME =  $datadetail['TEMPLATE_NAME'];
			if ($datadetail['CHARGES_TYPE'] == 1)
			{
			    $RTGSAMT = $datadetail['CHARGES_AMT'];
				$RTGSCCY = $datadetail['CHARGES_CCY'];
			}
			
			if ($datadetail['CHARGES_TYPE'] == 2)
			{
			    $SKNAMT = $datadetail['CHARGES_AMT'];
				$SKNCCY = $datadetail['CHARGES_CCY'];
			}
		}
		
		$option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
?>

<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
	<tr>
		<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Repair Charges Template Request'); ?></strong></th></tr>
	<tr>
		<td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>		
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->language->_('Template Name'); ?><span class="errmsg">*</span></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $TEMPLATE_NAME;?></td>
	</tr>
	<tr>
		<td valign="top" class="tbl-evencontent" colspan="2"><span class="filtercaption"><strong><?php echo $this->language->_('Domestic Transfer Charges'); ?></strong></span> </td>
		<td valign="top" class="tbl-evencontent">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" align="left" class="tbl-evencontent"><span class="filtercaption"><?php echo $this->language->_('Currency RTGS'); ?><span class="errmsg">*</span></span></td>
		<td class="tbl-evencontent">:</td>
		<td valign="top" class="tbl-evencontent"> 
		<?php
			echo $this->formSelect('charge_rtgs_curr',$RTGSCCY,array('id'=>'ccy'),$this->ccyArr);
		?>
		<?php 	if($this->xcharge_rtgs_curr)
				{
					echo '<br /><span class="errmsg">'.$this->xcharge_rtgs_curr.'</span>';
				}?></td>
	</tr>
	<tr>
		<td valign="top" class="tbl-evencontent"><span class="filtercaption"><?php echo $this->language->_('Charges for RTGS'); ?><span class="errmsg">*</span></span></td>
		<td class="tbl-evencontent">:</td>
		<td valign="top" class="tbl-evencontent"><?php echo $this->formText('charge_rtgs',Application_Helper_General::displayMoney($RTGSAMT),$option);?>
		<?php 	if($this->xcharge_rtgs)
				{
					echo '<br /><span class="errmsg">'.$this->xcharge_rtgs.'</span>';
				}?></td>
	</tr>
	<tr>
		<td valign="top" align="left" class="tbl-evencontent"><span class="filtercaption"><?php echo $this->language->_('Currency SKN'); ?><span class="errmsg">*</span></span> </td>
		<td class="tbl-evencontent">:</td>
		<td valign="top" class="tbl-evencontent"> 
				<?php
			echo $this->formSelect('charge_skn_curr',$SKNCCY,array('id'=>'ccy'),$this->ccyArr);
		?>
		<?php 	if($this->xcharge_skn_curr)
				{
					echo '<br /><span class="errmsg">'.$this->xcharge_skn_curr.'</span>';
				}?></td>
	</tr>
	<tr>
		<td valign="top" class="tbl-evencontent"><span class="filtercaption"><?php echo $this->language->_('Charges for SKN'); ?><span class="errmsg">*</span></span> </td>
		<td class="tbl-evencontent">:</td>
		<td valign="top" class="tbl-evencontent"><?php echo $this->formText('charge_skn',Application_Helper_General::displayMoney($SKNAMT),$option);?>
		<?php 	if($this->xcharge_skn)
				{
					echo '<br /><span class="errmsg">'.$this->xcharge_skn.'</span>';
				}?></td>
	</tr>
	<tr>
		<td colspan="3">
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
	  	<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
   		<input name="template_id" type="hidden" value="<?php echo $TEMPLATE_ID; ?>">
		</td>
	</tr>
</table>
</form>