<div class="row hiddenprint">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Payment Workflow') ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="inhouse"><?= $this->language->_('Approve') ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="inhouse"><?= $this->language->_('More Detail') ?></span>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header cardhead text-white">
    <b><?php echo $this->TITLE_MST; ?></b>
  </div>
  <div class="card-body">
    <table width="100%" class="table table-striped table-condensed flip-content">
      <?php
      // View Table Master Data
      if (is_array($this->tableMst)) {
        //View File dihidden untuk PAYROLL
        if ($this->pslip["PS_CATEGORY"] == "BULK PAYMENT" && !$this->pdf && $this->pslip["PS_TYPE"] != "11") {
          // download trx bulk file
          $downloadURL = $this->url(array('module' => 'display', 'controller' => 'viewdetail', 'action' => 'downloadtrx', 'csv' => '1', 'payReff' => $this->PS_NUMBER), null, true);
          $this->tableMst[7]["label"] = $this->language->_('View File');
          $this->tableMst[7]["value"] = $this->formButton('download', $this->language->_('download'), array('class' => 'btn btn-warning', 'onclick' => "window.location = '" . $downloadURL . "';"));
        }
        //Zend_Debug::dump($this->tableMst);
        foreach ($this->tableMst as $dataMst) {



      ?>
          <tr>
            <td class="tbl-evencontent" id="tbl-evencontent" nowrap="nowrap" width="20%"><?php echo $dataMst["label"]; ?></td>
            <td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_($dataMst["value"]); ?></td>
          </tr>
      <?php
        }
      }
      ?>
    </table>
  </div>
</div>



<?php if (!empty($this->TITLE_DTL)) { ?>
  <br /><br />
  <div class="card">
    <div class="card-header cardhead text-white">
      <b><?php echo $this->TITLE_DTL; ?></b>
    </div>

  <?php   }
//e-Tax
if ($this->pslip["PS_TYPE"] == '17' && ($this->pslip["PS_BILLER_ID"] == '1158' || $this->pslip["PS_BILLER_ID"] == '1156') || $this->pslip["PS_TYPE"] == '18') { ?>
    <div class="card-body">
      <div class="table-responsive">
        <table width="100%" class="table table-striped table-condensed flip-content">
          <?php foreach ($this->tableDetail as $key) { ?>
            <tr>
              <td class="tbl-evencontent" id="tbl-evencontent" nowrap="nowrap" width="20%"><?= $key['label']; ?></td>
              <td class="tbl-evencontent" id="tbl-evencontent"><?= $key['value'] ?></td>
            </tr>
          <? } ?>
        </table>
      </div>
    </div>
  <?php } else { ?>
    <div class="card-body">
      <div class="table-responsive">
        <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped">

          <?php
          if (is_array($this->fields)) { ?>
            <tr> <?php
                  foreach ($this->fields as $header) {
                    $styleHeader = ($header == "Balance Type") ? " style='display:none;'" : "";
                  ?>
                <th class="headercolor tablehead  tdform-sub" <?= $styleHeader; ?>><?php echo $header; ?></th>
              <?php     }
              ?>
            </tr>
            <?php     }

          $numFields = count($this->fields);
          if (!empty($this->tableDtl)) {
            foreach ($this->tableDtl as $count_dtl => $dataDtlRow) {
              $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
              $persen = ($dataDtlRow['BALANCE_TYPE'] == 2) ? " " : "&nbsp;";
            ?>
              <tr> <?php

                    if (is_array($dataDtlRow)) {
                      foreach ($dataDtlRow as $key_dtl => $dataDtl) {
                        $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE") ? " align='right'" : "";

                        $persenView = ($key_dtl == "TRA_AMOUNT") ? $persen : "";
                        $style = ($key_dtl == "BALANCE_TYPE") ? " style='display:none;'" : "";
                    ?>
                    <td class="<?= $bgcolor; ?>" <?= $attr; ?> <?= $style; ?>><?php echo $this->language->_($dataDtl); ?> <?php echo $persenView; ?></td>
                <?php
                      }
                    }
                ?>
              </tr>
          <?php
            }
          }
          ?>
        </table>
      </div>
    </div>
  </div>
  <br>

  <table width="100%" style="background-color:white" align="left" border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-condensed flip-content">
    <tr>
      <td colspan="<?php echo $numFields; ?>">
        <b><?php echo $this->language->_('Total') ?> <?php echo $this->totalTrx; ?> <?php echo $this->language->_('payment(s)') ?></b>,
        <b><?php echo $this->language->_('Amount') ?> <?php echo $this->ps_ccy . ' ';
                                                      echo Application_Helper_General::displayMoney($this->totalAmt); ?></b>
      </td>
    </tr>
  </table>
<?php } ?>