<style>
.form-control{
  font-size: 1.2em !important;
}
.control-label{
  font-size: 1.2em !important;
}
</style>
<script type="text/javascript" charset="utf-8">
  <!--
  function enableCustId() {
    $('.custId').hide();
    if ($("#operator").val() != '') {
      $('.custId').show();
      paymentCheck();
    }
    //tambahan
    $('.custId').show();
  }

  function forceNumber(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if ((charCode >= 48 && charCode <= 57) || charCode == 8)
      return true;
    return false;
  }

  function modalapproval() {
    $("#myModalApproval").modal();
  }

  function paymentCheck() {
    $('#payment').attr('disabled', 'disabled');
    $('#novirtual').attr('disabled', 'disabled');
    $('#orderId').attr('disabled', 'disabled');
    $('#cek').attr('disabled', 'disabled');

    //$('#operator').removeAttr('disabled');
    //alert ($("input#radioCheck:checked").val());
    if ($("input#radioCheck:checked").val() == '1') {
      $('#orderId').removeAttr('disabled');
      $('#cek').removeAttr('disabled');
    } else {
      //if($("input#radioCheck:checked").val() == '2')
      //{
      $('#payment').removeAttr('disabled');
      $('#novirtual').removeAttr('disabled');
      //$('#operator').attr('disabled', 'disabled');
      $('#operatorHidden').attr('value', $('#operator').val());
      <?php
      foreach ($this->paymentList as $arr) {
      ?>
        selected = "";
        if ('<?= $arr['REF_NO'] ?>' == '<?php echo $this->payment ?>') {
          selected = "selected";
        }
        if ($('#operator').val() == <?= $arr['PROVIDER_ID'] ?>) {
          $('#payment').append("<option value='<?= $arr['REF_NO'] ?>'" + selected + "> <?= $arr['REF_NO'] ?></option>");
        }
      <?php
      }
      ?>
    }
  }

  function fillcheck() {
    if ($("input#full:checked").val() == '1') {
      // $('#TRAAMOUNT').removeAttr('disabled');
      $('#TRAAMOUNT').attr('disabled', 'disabled');

    } else {
      $('#TRAAMOUNT').removeAttr('disabled');
    }
  }


  $(document).ready(function() {

    $(".tokeninput").keyup(function(e) {

      if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
        // $(this).prev().prop("disabled", false);   
        // $(this).next().prop("disabled", true); 
        $(this).prev().focus();

      } else {
        // $(this).next().prop("disabled", false); 
        $(this).next().focus();
        // $(this).prop("disabled", true);

      }
    });


    $('#payment').attr('disabled', 'disabled');
    if ($("input#radioCheck:checked").val() == '2') {
      $('#payment').removeAttr('disabled');
      if ('<?= $this->payment ?>') {
        paymentCheck();
      }
    }


    enableCustId();
  });
  -->
</script>


<script type="text/javascript">
  $(document).ready(function() {
    // let bool = '<?php echo $sugest ?>'.split(',');
    let suggest = JSON.parse('<?php echo json_encode($suggest) ?>');

    $('#myModalApproval').on('shown.bs.modal', function() {
      $('.blur').css({
        "filter": "blur(10px)"
      });
    }).on('hidden.bs.modal', function() {
      $('.blur').css({
        "filter": ""
      });
    })
    // console.info(suggest);
    // $("input[id='t_target']").amsifySuggestags({
    //           type : 'amsify',
    //           suggestions: suggest,
    //           afterAdd:function(value){

    //           },
    //           afterRemove:function(value){

    //           }
    //         });

  });
</script>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Transfer'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?php echo $this->language->_('Virtual Account'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title textBlack" id="myModalLabel">Approval List</h4>
      </div>
      <div class="modal-body">
        <br>
        <div class="card">
          <div class="card-header cardhead text-white" align="center">
            <strong>Approval Group</strong>
          </div>
          <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped" width="100%">
            <tr>
              <th class="tablehead" valign="top">Group ID</th>
              <th class="tablehead" valign="top">Group Name</th>
              <th class="tablehead" valign="top">Username</th>
            </tr>
            <tbody>
              <?php
              if ($this->selectUsergroup) {
                foreach ($this->selectUsergroup as $key => $value) {
                  // $spesial = 'S_'.$this->cust_id;
                  // if($value['GROUP_USER_ID']==$special){
              ?>
                  <tr>
                    <td class="textBlack"><?php echo $value['GID'] ?></td>
                    <td class="textBlack"><?php echo $value['GROUP_NAME'] ?></td>
                    <td class="textBlack"><?php echo $value['USER'] ?></td>
                  </tr>
              <?php
                  // }
                }
              } else {
                echo '<tr>
                        <td class="tbl-evencontent textBlack" colspan="5" align="center">' . $this->language->_('No Data') . '</td>
                      </tr>';
              }
              ?>
            </tbody>
          </table>
        </div>


        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="contentarea" id="contentarea">
            <div class="card">
              <div class="card-header cardhead text-white" align="center">
                <strong>Approval Matrix</strong>
              </div>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-sm table-striped">
                <tr class="headercolor" style="background-color: #003f6e; color:white">
                  <th width="3%" valign="top" class="tablehead">No.</th>
                  <th class="tablehead"><?php echo $this->language->_('Transfer Type') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Currency') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Boundary') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Policy') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('User') ?></th>
                </tr>
                <tbody>
                  <?php
                  if ($this->hasPrivilege('UABG')) {
                    $disabled = '';
                  } else {
                    $disabled = 'disabled';
                  }
                  $i = 1;
                  if (count($this->dataBoundary) > 0) {
                    foreach ($this->dataBoundary as $row) {
                      echo '<tr>
                            <td class="textBlack">' . $i . '</td>
                            <td class="textBlack">' . $row['TRANSFER_TYPE'] . '</td>
                                    <td class="textBlack">' . $row['CURRENCY'] . '</td>
                            <td class="textBlack">' . $row['BOUNDARY'] . '</td>
                            <td class="textBlack">' . $row['GROUP_NAME'] . '</td>
                            <td class="textBlack">' . $row['USERS'] . '</td>
                            </tr>';

                      $i++;
                    }
                  } else {
                    echo '<tr>
                                <td class="tbl-evencontent textBlack" colspan="5" align="center">' . $this->language->_('No Data') . '</td>
                              </tr>';
                  }
                  ?>
                </tbody>
              </table>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<?php if ($this->ERROR_MSG) { ?>
  <div class="alert alert-danger">
    <?php echo $this->language->_('Error') . ": " . $this->language->_($this->ERROR_MSG);    ?>
  </div><br />
<?php } elseif ($this->ERROR_MSG_N) { ?>
  <div class="alert alert-danger">
    <?php echo $this->language->_($this->ERROR_MSG_N); ?>
  </div><br>
<?php } ?>

<?php
$mandatory = ($this->confirmPage != 1) ? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>" : "";
?>
<div class="row">
  <div class="col-md-12">
    <style type="text/css">
      .nav-tabs {
        margin-top: 5px;
      }

      .nav-tabs .nav-link {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 170px;
        text-align: center;
      }

      .nav-tabs .nav-link:hover {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
      }

      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        color: white;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
      }
    </style>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" id="inhouse-tab" href="/singlepayment/within" role="tab" at="1" value="1" aria-controls="inhouse" aria-selected="true"><?php echo $this->language->_('In House'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="domestic-tab" href="/singlepayment/domestic" role="tab" at="4" value="4" aria-controls="domestic" aria-selected="false"><?php echo $this->language->_('Domestic'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="valas-tab" href="/singlepayment/remittance" role="tab" at="3" value="3" aria-controls="valas" aria-selected="false"><?php echo $this->language->_('Valas'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="va-tab" href="/singlepayment/virtualaccount" role="tab" at="2" value="2" aria-controls="va" aria-selected="false"><?php echo $this->language->_('Virtual Accounts'); ?></a>
      </li>
    </ul>

  </div>
</div>

<div class="row pt-2">
  <div class="col-md-12 portlet-body form">
    <div class="row">
      <div class="col-md-10">
        <h5><?= $this->language->_('Virtual Account') ?></h5>
      </div>
      <div class="col-md-2">
        <a class="btnwhite hov card" href="#" onclick="modalapproval();" style="text-transform: none; padding-top:5px;"><img src="/images/icon/light/checked.png"></i>&nbsp;<?php echo $this->language->_('Approval Matrix'); ?></a>
      </div>
    </div>

    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
      <!-- <input type="hidden" name="SERVICE_TYPE" value="16">
			<input type = "hidden" id="operatorHidden" name="operatorHidden" value=""> -->
      <div class="form-group row ">
        <label class="control-label col-md-3"></label>
        <div class="col-md-9" style="font-size:1.2em">
          <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><?= $mandatory ?></label>
        <div class="col-md-6">
          <?php
          if ($this->confirmPage != 1)
            echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");
          else
            echo $this->ACCTSRC_view . $this->formHidden('ACCTSRC', $this->ACCTSRC);

          if ($this->ACCTSRCErr) {
            echo '<div class="errmsg">' . $this->formErrors($this->ACCTSRCErr) . '</div>';
          }

          if ($this->xACCTSRC) {
            echo "<div class='errmsg'> " . $this->xACCTSRC . " </div>";
          }
          ?>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="control-label col-md-3"> <?php echo $this->language->_('Please Select Filling Type:'); ?></label>
        <div class="col-md-8">
          <table>
            <tr>
              <td style="font-size:1.2em">
                <input type="radio" name="radioCheck" id="radioCheck" value="1" <?php if ($this->radioCheck == 1) {
                                                                                  echo ('checked');
                                                                                } ?> onchange="paymentCheck()"><?php echo $this->language->_('Virtual Account Number'); ?><?= $mandatory ?>

              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
              <td>
                <?php echo $this->ACBENEF_BANKNAME . $this->formHidden('ACBENEF_BANKNAME', $this->ACBENEF_BANKNAME); ?>
                <?php
                echo $this->formText('orderId', $this->orderId, array('class' => 'form-control', 'maxlength' => '16', 'size' => '30', 'onkeypress' => 'return forceNumber(event)'));
                ?>
              </td>
            </tr>
            <tr>
              <td style="font-size:1.2em">
                <?php

                if ($this->orderIdErr) {
                ?>
                  <div class="errmsg">
                    <?php
                    echo $this->formErrors($this->orderIdErr);
                    ?>
                  </div>
                <?php
                }
                ?>
                <input type="checkbox" name="cek" value="1" <?php if ($this->cek == 1) {
                                                              echo ('checked');
                                                            } ?>><?php echo $this->language->_('Add To Payment List'); ?>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 25px;font-size:1.2em">
                <input type="radio" name="radioCheck" id="radioCheck" value="2" <?php if ($this->radioCheck == 2) {
                                                                                  echo ('checked');
                                                                                } ?> onchange="paymentCheck()"><?php echo $this->language->_('From Transfer List'); ?>
              </td>
            </tr>
            <tr>
              <td style="font-size:1.2em">
                <input type="hidden" name="" value="">
                <?php

                echo $this->language->_('Virtual Account Number'); ?><?= $mandatory ?>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</td>
              <td>
                <?php
                echo '<select class="form-control" name="novirtual" id="novirtual">
													<option value="">-- ' . $this->language->_('Please Select') . ' --</option>';
                foreach ($this->paymentList as $value) {
                ?>
                  <option value="<?= $value['REF_NO'] ?>" <?= ($value['REF_NO'] == $this->novir) ? 'selected' : ''; ?>> <?= $value['REF_NO'] ?> - <?= $value['ACCT_NAME'] ?></option>
                <?php

                  //echo '<option>'; echo $value['REF_NO']; echo'</option>';

                }
                echo '</select>';
                ?>
              </td>
            </tr>
          </table>


        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3"></label>
        <div class="col-md-8">

          <table>

          </table>

          <?php
          if ($this->paymentErr) {
          ?>
            <div class="errmsg">
              <?php
              echo $this->formErrors($this->paymentErr);
              ?>
            </div>
          <?php
          }
          ?>
        </div>
      </div>

      <!-- <div class="form-group row">
			 <label class="control-label col-md-3"><?php echo $this->language->_('Currency/Amount'); ?><?= $mandatory ?></label>
						 <div class="col-md-4">
				 <?php
          //echo $this->formText('amount',$this->amount,array('maxlength'=>'128','size'=>'20','onkeypress' => "javascript:return forceCurrency(event);",'onfocus'=>'iNumFrmtUS(this.value,this.id)','onblur'=>'NumFrmtUS(this.value,this.id)',));
          echo '<div class="input-group">';
          //echo $this->formApp("SELECT_CCY", $this->ccyArr, $this->CURR_CODE, "CURR_CODE")." ";
          echo $this->formText("CURR_CODE", "IDR", array('class' => 'form-control', 'style' => 'width:60px;margin-right:5%;', 'id' => "CURR_CODE", 'size' => '3', 'readonly' => 'readonly')) . " ";
          echo '</span><span class="input-group-btn" style="width:200px">';
          echo $this->formText("amount", $this->amount, array('id' => "TRAAMOUNT", 'maxlength' => '20', 'class' => 'form-control currency qty', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)"));
          echo '</div>';
          ?>
				 <?
          if ($this->amountErr) {
          ?>
						 <div class="errmsg">
				 <?php
            echo $this->formErrors($this->amountErr);
          ?>
						 </div>
				 <?php
          }
          ?>
				 </div>
				 <div class="col-md-5">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="full" id="full" onclick="fillcheck()" value="1" > <?php echo $this->language->_('Full'); ?>
				 </div>


			</div> -->

      <?php if ($this->confirmPage != 1) { // echo 'here'; 
      ?>
        <?php if ($this->token) { ?>

          <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div class="col-md-12" align="center">
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td align="center">
                            <h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td>
                        </tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">

                        <tr>
                          <td><?php echo $this->language->_('Challenge Code'); ?>:</td>
                        </tr>
                        <tr>
                          <td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td>
                        </tr>

                        <tr>
                          <td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <div class="input-group">
                              <center style="width: 100%">
                          <input class="tokeninput" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </center>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                  <?php echo $this->formSubmit('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "proceed('submit');"));  ?>
                </div>
              </div>
            </div>
          </div>
        <?php }
      } else {
        if (!$this->hidetoken) {
        ?>
          <?php if ($this->token) { ?>

            <div class="modal fade" id="tokenmodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mx-3">
                    <div class="col-md-12" align="center">
                      <table width="70%">
                        <tbody>
                          <tr>
                            <td align="center">
                              <h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td>
                          </tr>
                          <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">

                          <!--  <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

                          <tr>
                            <td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td>
                          </tr>
                          <tr>
                            <td align="center">
                              <div class="input-group">
                                <input class="tokeninput firsttokenfield mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                    <?php echo $this->formSubmit('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "proceed('submit');"));  ?>
                  </div>
                </div>
              </div>
            </div>


      <?php }
        }
      } ?>
      <div class="row md-5">
        <div class="col-md-12" align="center">
          <hr />
          <input type="hidden" name="confirmPage" id="confirmPage" value="<?= $this->confirmPage; ?>" />
          <input type="hidden" name="process" value="" />

          <?php
          if (!empty($this->PS_NUMBER))
            $option = array('module' => 'paymentworkflow', 'controller' => 'requestrepair', 'action' => 'index');
          else
            $option = array('module' => 'singlepayment', 'controller' => 'within', 'action' => 'index');
          ?>
          <?php if (!$this->hidetoken) { ?>
            <?php if ($this->confirmPage != 1) { ?>
              <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?= $this->url($option, null, true) ?>'" type="button">
            <?php } elseif ($this->resultPage == 1) {
            ?>
              <!--  <input class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?= $this->url($option, null, true) ?>'" type="button"> -->

              <?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "proceed('back');"));  ?>

            <?php
              // echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));
            } else {
            ?>
              <!-- <input class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?= $this->url($option, null, true) ?>'" type="button"> -->

              <?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "proceed('back');"));  ?>
            <?php
              // echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));
            }
            ?>
          <?php } else { ?>
            <!-- <input class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?= $this->url($option, null, true) ?>'" type="button"> -->

            <?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "proceed('back');"));  ?>

          <?php } ?>
          &nbsp;&nbsp;

          <?php
          $print = $this->language->_('Print');
          if (!empty($this->payReff)) {
          ?>
            <button onclick="openwindow('<?PHP echo '/widget/index/printtrxvalas/payReff/' . $this->payReff . $this->qstring;  ?>', screen.width, screen.height); return false;" class="btn btn-success"><?php echo $this->language->_("Print") ?></button>&nbsp;&nbsp;
          <?php } ?>

          <?php if ($this->confirmPage != 1) { ?>
            <?php if (!$this->hidetoken) { ?>

              <?php if ($this->token) { ?>
                <?php echo $this->formButton('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "proceed('submit');this.disabled=true;"));  ?>

                <!--  <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button> -->
              <?php } else { ?>
                <!-- <?php echo $this->formButton('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "proceed('submit');this.disabled=true;"));  ?> -->
                <?php echo $this->formSubmit('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov'));  ?>
              <?php } ?>

            <?php } else { ?>
              <?php echo $this->formSubmit('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "proceed('submit');trfEncryptWithin();"));  ?>
            <?php } ?>
          <?php } else { ?>

            <?php if (!$this->releaseresult) { ?>
              <button class="btngreen hov modalBtn" type="button" data-toggle="modal" data-target="#tokenmodal2">&nbsp;<?php echo $this->language->_('Next'); ?></button>
            <?php } ?>
          <?php } ?>
        </div>
      </div>

      <!-- <table border="0" cellspacing="0" cellpadding="0">




						<tr>
							<td class="button-area" id="button-area" colspan="3">
								<div class="formbutton" style="float:left">
									<?php $option = array('module' => 'home'); ?>
									<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?= $this->url($option, null, true) ?>'" type="button">

									<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Next') ?>"/>
									<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Next') ?>" disabled style="display:none"/>
									<script>
									function submitbtn(){
										//document.getElementById("subbutton").disabled=true;
										document.getElementById("subbutton").style.display ="none";
										document.getElementById("Submit_id").style.display ="inline";
										//Validation code goes here
									}
									</script>

								</div>
							</td>
						</tr>
					</table> -->

    </form>
  </div>
</div>