<style>
    label {
        font-size: 1.2em;
    }

    .col-form-label {
        font-size: 1.2em;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    $finalHeight: 250px;
    $finalWidth: 3 * $finalHeight;
    $scrollBarHeight: 1px;

    ::-webkit-scrollbar {
        width: $scrollBarHeight;
        height: $scrollBarHeight;
    }

    ::-webkit-scrollbar-button {
        width: $scrollBarHeight;
        height: $scrollBarHeight;
    }

    .horizontal-scroll-wrapper {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: calc(#{$finalHeight} + #{$scrollBarHeight});
        max-height: $finalWidth;
        margin: 0;
        padding-top: $scrollBarHeight;
        background: #abc;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg) translateY(-$finalHeight);
        transform-origin: right top;

        &>div {
            display: block;
            padding: 5px;
            background: #cab;
            transform: rotate(90deg);
            transform-origin: right top;
        }
    }

    .squares {
        padding: $finalHeight 0 0 0;

        &>div {
            width: $finalHeight;
            height: $finalHeight;
            margin: 10px 0;
        }
    }
</style>
<?php

?>


<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Submission') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Ongoing Submission') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>
<?php if (count($this->report_msg) > 0) { ?>
    <div class="alert alert-danger">
        <?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div>
    <br />
<?php } ?>

<?php if ($this->error) { ?>
    <div class="alert alert-danger">
        <?php echo $this->err_msg; ?></div>
    <br />
<?php } ?>
<br>

<div class="row justify-content-center">
    <div class="col-md-11">

        <form action="" method="post" enctype="multipart/form-data">


            <div class="container-fluid content-box px-3" style="border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <div style="overflow-x: scroll; overflow-y: hidden;" id="workflow_process">
                    <table border="0" class="mb-4">

                        <?php
                        if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
                            $makerAlign = "right";
                            $makerHrStyle = "width: 25%;";
                            $makerCircleStyle = 'padding-right: 10px;text-align:center;';
                            $makerFontStyle = "padding-right: 17px;text-align:center;";

                            $verifyAlign = "right";
                            $verifyHrStyle = "width: 25%;";
                            $verifyCircleStyle = 'padding-right: 10px;text-align:center;';
                            $verifyFontStyle = "padding-right: 17px;text-align:center;";

                            $releaserAlign = "left";
                            $releaserCircleStyle = 'padding-left: 10px;text-align:center;';
                            $releaserFontStyle = "padding-left: 12px;text-align:center;";
                            $releaserText = "2";
                        ?>

                        <?php



                        } else {
                            $makerAlign = "center";
                            $releaserAlign = "center";
                            $approverText = "3";
                            $releaserText = "4";
                        }

                        if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
                            $approverText = "2";
                            $releaserText = "3";
                        } elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
                            $releaserText = "3";
                        }

                        ?>


                        <tr>
                            <td align="center" class="px-3">
                                <?php echo (!empty($this->makerStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                            </td>
                            <td>
                                <hr class="hrline active ?>">
                            </td>
                            <td align="center" class="px-3">
                                <?php echo (!empty($this->approverStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                            </td>
                            <td>
                                <hr class="hrline active ?>">
                            </td>
                            <td align="center" class="px-3">
                                <?php echo (!empty($this->releaserStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                            </td>
                            <?php
                            if ($this->isinsurance) {
                            ?>

                                <td>
                                    <hr class="hrline <?= $this->insuranceStatus; ?>">
                                </td>
                                <td align="center" class="px-3"><?php echo $this->insuranceNameCircle; ?></td>
                            <?php } ?>
                            <td>
                                <hr class="hrline active">
                            </td>
                            <td align="center" class="px-3">
                                <?= $this->verifyNameCircle ?>
                            </td>
                            <td>
                                <hr class="hrline active">
                            </td>

                            <td align="center" class="px-3">
                                <?= $this->bankReviewNameCircle ?>
                            </td>
                            <td>
                                <hr class="hrline active">
                            </td>
                            <td align="center" class="px-3">
                                <?php echo $this->bankApproveNameCircle; ?>
                            </td>
                            <!-- <td align="center" class="px-3">
                                <?php echo (!empty($this->releaserNameCircle) ? $this->releaserNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                            </td> -->
                        </tr>
                        <tr>
                            <td align="center" class="pt-2"><?= $this->language->_('Maker') ?></td>
                            <td></td>

                            <td align="center" class="pt-2"><?= $this->language->_('Approver') ?></td>
                            <td></td>

                            <td align="center" class="pt-2"><?= $this->language->_('Releaser') ?></td>
                            <td></td>

                            <?php
                            if ($this->isinsurance) {
                            ?>
                                <td align="center" class="pt-2">Principle Agreement</td>
                                <td></td>
                            <?php } ?>

                            <td align="center"><?= $this->language->_('Bank Verification') ?></td>
                            <td></td>

                            <td align="center">Bank Reviewer</td>
                            <td></td>

                            <td align="center">Bank Approver</td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td></td>
                            <td align="center"></td>
                            <td></td>
                            <td align="center"></td>
                            <td></td>

                            <?php
                            if ($this->isinsurance) {
                            ?>
                                <td></td>
                                <td></td>
                            <?php } ?>

                            <td align="center"></td>
                            <td></td>
                            <td align="center"></td>
                            <td></td>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align=center" class="pt-2">
                                <?php echo $this->makerBy; ?>
                            </td>
                            <td></td>
                            <td align=center" class="pt-2">
                                <?php echo $this->approverBy; ?>
                            </td>
                            <td></td>
                            <td align=center" class="pt-2">
                                <?php echo $this->releaserBy; ?>
                            </td>
                            <td></td>

                            <?php
                            if ($this->isinsurance) {
                            ?>
                                <td align=center" class="pt-2">
                                    <?php echo $this->insuranceApprovedBy; ?>
                                </td>
                                <td></td>
                            <?php } ?>

                            <td align="center">
                                <?php echo $this->verifyApprovedBy; ?>
                            </td>
                            <td></td>

                            <td align="center">
                                <?php echo $this->bankReviewedBy; ?>
                            </td>
                            <td></td>

                            <td align="center">
                                <?php echo $this->bankApprovedBy ?>
                            </td>

                        </tr>
                    </table>
                </div>
                <br>
                <br>
                <a href="#" onclick="modalmoredetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>

            </div>

            <div class="row">
                <div class="col-md-12 padding-header-cust">
                    <h5 style="margin-left: 15px;"><?= $this->language->_('Bank Guarantee Detail') ?></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Register Number') ?></label>
                </div>
                <div class="col-md-9">
                    <label><strong><?php echo $this->BG_REG_NUMBER;  ?></strong> </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('BG Number') ?></label>
                </div>
                <div class="col-md-9">
                    <label><strong><?php echo $this->BG_NUMBER; ?></strong></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('eForm Subject') ?></label>
                </div>
                <div class="col-md-9">
                    <label><?= $this->data["BG_SUBJECT"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Branch') ?></label>
                </div>
                <div class="col-md-9">
                    <label><?php echo $this->branchname; ?></label>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status') ?></label>
                </div>
                <div class="col-md-9">
                    <label><?php echo $this->arrStatus[$this->status]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Submission Type') ?></label>
                </div>
                <div class="col-md-9">
                    <label><?= $this->suggestion_type ?> </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan') ?></label>
                </div>
                <div class="col-md-9">
                    <label><?php echo $this->notes; ?></label>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                    <h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="textGray"><?= $this->language->_('Company') ?></label>
                        </div>
                        <div class="col-sm-9">
                            <label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?>
                            </label>
                        </div>
                    </div>

                    <div class="row" style="text-align: right;margin-right: 0px;">
                        <div class="col-md-12" style="height: auto; position: relative;">

                            <a href="#" onclick="bankGuaranteeApplicant();"><i class="fas fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <center style="width:100%">
                                <h4 class="modal-title textBlack" id="myModalLabel">
                                    <?= $this->language->_('History More Detail') ?></h4>
                            </center>
                        </div>

                        <div class="modal-body">
                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">

                                    <?php echo $this->action(
                                        'index',
                                        'eformhistory',
                                        'tools',
                                        array('bgnumb' => $this->BG_REG_NUMBER)
                                    ); ?>


                                </div>
                                <div class="col-sm-1"></div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <center style="width:100%">
                                <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
                            </center>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" id="myModalCancelData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form name="canceldata" method="post" action="">

                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <center style="width:100%">
                                    <h4 class="modal-title textBlack" id="myModalLabel">
                                        <?= $this->language->_('Konfirmasi Pembatalan Pengajuan') ?></h4>
                                </center>
                            </div>

                            <div class="modal-body">
                                <br>
                                <div class="row">
                                    <center style="width:100%">
                                        <p style="color:red;"><?= $this->language->_('Apakah Anda yakin ingin melanjutkan Proses Pembatalan Pengajuan?') ?></p>
                                    </center>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <center style="width:100%">
                                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tidak') ?></button>
                                    <button type="submit" class="btnwhite hov" style="background-color:red;color:white;"><?= $this->language->_('Ya') ?></button>
                                </center>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <br />

            <!-- <form action="" method="post"> -->
            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <h5><?= $this->language->_('Type of Bank Guarantee') ?></h5>
                    </div>
                    <div style="padding-left:2%; padding-top:2px;">
                        <!-- <label class="textGray"><strong class="formreq">
                                    <font color="red">&nbsp;*</font>
                            </strong><?= $this->language->_('There must be at least 1 purpose selected') ?></label> -->
                        <div class="form-group row">

                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Type of Bank Guarantee') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="BG_PURPOSE_LBL"><?php echo $this->BG_PURPOSE_DESC; ?></label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <?php if ($this->checkp2) { ?><div class="col-sm-4">
                                    <label for="">

                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        &nbsp;<?= $this->language->_('Advance Payment Guarantee') ?></label>
                                </div>
                            <?php
                            } ?>

                            <?php if ($this->checkp4) {
                            ?><div class="col-sm-4">
                                    <label for="">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        &nbsp;<?= $this->language->_('Maintenance Guarantee') ?></label>
                                </div>
                            <?php
                            } ?>
                        </div>
                        <?php if ($this->checkp5) {
                        ?>
                            <div class="form-group row pb-2">
                                <div class="col-sm-10">
                                    <label for="">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        &nbsp;<?= $this->language->_('Others') ?> :</label>
                                    <label><?php echo $this->others; ?> </label>
                                </div>
                            </div>
                        <?php
                        } ?>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Bank Guarantee Nominal') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="bank_amount_lbl"><?= 'IDR ' . number_format($this->bank_amount, 2) ?></label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Time Period From') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>


                            <div class="col-sm-9">
                                <label><?php echo $this->updateStart; ?>
                                    &nbsp;To&nbsp;
                                    <?php echo $this->updateEnd; ?>
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label class="textGray" id="daysTotal">&nbsp;</label>


                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Claim Period') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-4">
                                <?php

                                $addday = '+ ' . $this->BG_CLAIM_PERIOD . ' day';
                                $Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
                                ?>
                                <!-- <label><?php echo Application_Helper_General::convertDate($Date2, $this->viewDateFormat, $this->defaultDateFormat); ?></label> -->
                                <label><?= date('d M Y', strtotime($this->BG_CLAIM_DATE)); ?></label>

                            </div>
                            <div class="col-sm-5">
                                <label class="textGray">(min. 14 to max. 30 calendar days)</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <h5><?= $this->language->_('Bank Guarantee Recipient') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Recipient Name') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->recipent_name; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Address') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->address; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('City') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->city; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Office Phone Number') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">

                                <label><?php echo $this->RECIPIENT_OFFICE_NUMBER; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Contact Person') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">

                                <label id="RECIPIENT_CP_LBL"><?php echo $this->RECIPIENT_CP; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Contact Number') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">

                                <label id="RECIPIENT_CONTACT_LBL"><?php echo $this->RECIPIENT_CONTACT; ?> </label>


                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Contact Email') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="RECIPIENT_EMAIL_LBL"><?php echo $this->RECIPIENT_EMAIL; ?> </label>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <h5><?= $this->language->_('Guarantee Transaction') ?></h5>
                    </div>
                    <div style="padding-left:2%; padding-top:2px;">
                        <label style="display:none;" class="textGray">(<?= $this->language->_('According to Tender Invitation, SPPBJ, SPK /
                                Agreement, PO or others documents') ?>)</label>
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Procurement of Goods/Services') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="SERVICE_LBL"><?php echo $this->SERVICE; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Document Type') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="GT_DOC_TYPE_LBL"><?php echo $this->GT_DOC_DESC; ?> </label>


                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Document Number') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-3">
                                <label id="GT_DOC_NUMBER_LBL"><?php echo $this->GT_DOC_NUMBER; ?> </label>


                            </div>
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Document Date') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-3">
                                <label id="GT_DOC_DATE_LBL"><?php echo $this->GT_DOC_DATE; ?> </label>

                            </div>
                        </div>
                        <br>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <h5><?= $this->language->_('Counter Guarantee') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Counter Warranty Type') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->warranty_type_text; ?></label>


                            </div>
                        </div>
                        <?php if ($this->data['COUNTER_WARRANTY_TYPE']  == 1) { ?>
                            <div id="wrType1">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
                                            <thead>
                                                <tr height="45px">
                                                    <th class="tablehead fth-header" style="background-color: #005587">Own Account </th>
                                                    <th class="tablehead fth-header" style="background-color: #005587">Account Number</th>
                                                    <th class="tablehead fth-header" style="background-color: #005587">Account Name</th>
                                                    <th class="tablehead fth-header" style="background-color: #005587">Currency</th>
                                                    <th class="tablehead fth-header" style="background-color: #005587">Nominal</th>
                                                </tr>
                                            </thead>
                                            <?php foreach ($this->fullmember as $vl) { ?>
                                                <tr>
                                                    <td>
                                                        <?php
                                                        if ($vl['FLAG'] == '1') {
                                                            echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
                                                        } else {
                                                            echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
                                                        ?>
                                                            <i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
                                                        <?php } ?>
                                                    </td>
                                                    <td>
                                                        <?php echo $vl['ACCT']; ?>
                                                    </td>
                                                    <td><?php echo $vl['NAME']; ?></td>
                                                    <td>IDR</td>
                                                    <td><?php echo Application_Helper_General::displayMoneyplain($vl['AMOUNT']) . '.00'; ?></td>
                                                </tr>

                                            <?php } ?>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        <?php } ?>
                        <?php if ($this->data['COUNTER_WARRANTY_TYPE'] == 2) { ?>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Plafond Owner') ?></label>
                                </div>
                                <div class="col-sm-7" id="PLAFOND_OWNER">
                                    <label><?php echo $this->linefacilitydata['CUST_NAME']; ?></label>
                                </div>
                            </div>
                            <?php if (false) : ?>
                                <div class="form-group row pt-2">
                                    <div class="col-sm-3">
                                        <label for="" class="textGray col-form-label"><?= $this->language->_('Limit Yang Tersedia') ?></label>
                                    </div>
                                    <div class="col-sm-7" id="">
                                        <label><?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
                                    </div>
                                </div>
                            <?php endif ?>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Counter Nominal') ?></label>
                                </div>
                                <div class="col-sm-7" id="">
                                    <label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
                                </div>
                            </div>
                        <?php } ?>
                        <?php if ($this->warranty_type == '3') { ?>
                            <div id="wrType3">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="" class="textGray col-form-label">Insurance Name</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label><?php
                                                echo $this->insuranceName; ?></label>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="" class="textGray col-form-label">Insurance Branch</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label><?php
                                                echo $this->insuranceBranch; ?></label>

                                    </div>
                                </div>

                                <?php if (false) { ?>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Nomor Ijin Prinsip</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label class="col-form-label"><?= !empty($this->principleData["Principle Agreement Number"]) ? $this->principleData["Principle Agreement Number"] : "-"; ?></label>&nbsp;&nbsp;
                                            <a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="bg-transparent p-0 m-0" style="color: #000">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Tanggal Nomor Ijin Prinsip</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label class="col-form-label"><?= date("d M Y", strtotime($this->principleData["Principle Agreement Granted Date"])); ?></label>&nbsp;&nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Nomor Kontra Garansi</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label><?= $this->principleData["Counter Guarantee Number"]; ?></label>
                                            <?php if (false) : ?>
                                                <a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                                    </svg>
                                                </a>
                                            <?php endif ?>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Nilai Jaminan</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Nomor Rekening Cabang</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label><?= $this->insuranceAcct; ?></label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Jasa Penjaminan</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>IDR <?= number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Jasa Administrasi</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>IDR <?= number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Bea Materai</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>IDR <?= number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Total</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>IDR <?= number_format(($this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"]), 2); ?></label>
                                        </div>
                                    </div>
                                <?php } ?>

                                <?php if (false) { ?>
                                    <div class="row pt-1">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Principal Agreement</label>
                                        </div>
                                        <div class="col-sm-9" style="padding-right: 0px;">
                                            <div class="input-group" id="">

                                                <label> <?php
                                                        echo 'No. ' . $this->PrincipalAgreement; ?></label>
                                                <label><?php
                                                        echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
                                                &nbsp;
                                                &nbsp;
                                                <span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row pt-1 pb-1">
                                        <div class="col-sm-3">
                                            <label for="" class="textGray col-form-label">Amount</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group" id="">

                                                <label><?php
                                                        echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        <?php } ?>



                        <!-- <div id="wrTypeList">
                            <table class="table table-sm table-striped headerNew" id="myTable">

                                <tr style=" background-color:#CCC;">
                                    <th class="fth-header"><?= $this->language->_('Own Account') ?> </th>
                                    <th class="fth-header"><?= $this->language->_('Account Number') ?></th>
                                    <th class="fth-header"><?= $this->language->_('Account Name') ?></th>
                                    <th class="fth-header"><?= $this->language->_('Currency') ?></th>
                                    <th class="fth-header"><?= $this->language->_('Nominal') ?></th>
                                </tr>


                                <?php
                                foreach ($this->bgdatasplit as $baris => $nilai) {
                                    if ($nilai['FLAG'] == '1') {
                                        $flag = 'Y';
                                    } else {
                                        $flag = 'N';
                                    }
                                ?>

                                    <tr>
                                        <td> <?= $flag ?></td>
                                        <td> <?= $nilai['ACCT'] ?></td>
                                        <td> <?= $nilai['NAME'] ?></td>
                                        <td> IDR</td>
                                        <td> <?= number_format($nilai['AMOUNT'], 2) ?></td>
                                    </tr>
                                <?php } ?>
                            </table>
                        </div> -->


                    </div>



                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <div class="row">
                            <div class="col-md-8">
                                <h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?></h5>
                            </div>
                            <div class="col-md-4">
                                <a style="float:right;padding-right: 5px;" onClick="provisionModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <?php
                    $total = count($this->bgdatasplit);
                    // $total = 2;
                    ?>
                    <input type="hidden" name="counterList" id="counterList" value="0">
                    <input type="hidden" id="count2" value="<?php echo $total ?>">
                    <input type="hidden" id="count" value="<?php echo $total ?>">
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2 pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('All Fee are charge to') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="acct_lbl"><?= $this->acct . ' (IDR) / ' . $this->src_name; ?></label>

                            </div>
                        </div>
                        <?php if ($this->data['COUNTER_WARRANTY_TYPE'] == 3) { ?>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Total Fee') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label>(as determined by insurance)</label>
                                </div>
                            </div>
                        <?php } else { ?>

                            <?php if (false) : ?>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="" class="textGray col-form-label"><?= $this->language->_('Bank Provision Fee') ?></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label>IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="" class="textGray col-form-label"><?= $this->language->_('Bank Administration Fee') ?></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label>IDR <?= number_format($this->data["ADM_FEE"], 2); ?></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="" class="textGray col-form-label"><?= $this->language->_('Bank Stamp Fee') ?></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label>IDR <?= number_format($this->data["STAMP_FEE"], 2); ?></label>
                                    </div>
                                </div>
                            <?php endif ?>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust">
                        <h5><?= $this->language->_('Format and Language') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Publishing Form') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-9">
                                <label id="BG_PUBLISH_LBL"><?= $this->BG_PUBLISH_DESC; ?></label>
                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Bank Guarantee Format') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>
                            <div class="col-sm-7" id="BG_FORMAT_LBL">
                                <label><?= $this->bankFormat; ?></label>
                            </div>

                        </div>
                        <?php if ($this->data['BG_FORMAT'] == 2) { ?>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label">Sample Format (format.doc)</label>
                                </div>
                                <div class="col-sm-7">
                                    <label>
                                        <?php

                                        $special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
                                        $new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

                                        $new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
                                        echo $new_special_format;

                                        ?>
                                        <a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                            </svg>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        <?php } ?>

                        <?php if ($this->data['BG_FORMAT'] == 1) { ?>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Language') ?><strong class="formreq">
                                            <font color="red">&nbsp;*</font>
                                        </strong></label>
                                </div>
                                <div class="col-sm-7" id="BG_LANGUAGE_LBL">
                                    <label><?php echo $this->languagetext; ?></label>
                                </div>
                            </div>
                        <?php } ?>
                        <br>

                        <?php if (count($this->othersAttachment) > 0) { ?>
                            <div class="row">
                                <div class="col-md-12 mb-3" style="height: auto; position: relative;">
                                    <div class="padding-header-cust">
                                        <h5><?= $this->language->_('Others Attachment Documents') ?></h5>
                                    </div>
                                    <div style="padding-left:2%" class="mt-3">
                                        <?php foreach ($this->othersAttachment as $file) {

                                            //trim file name 

                                            $explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
                                            $getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
                                            $fileName = substr($file["BG_FILE"], $getLength);

                                            // end trim file name
                                        ?>
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label for="" class="textGray col-form-label">Attachment</label>
                                                </div>
                                                <div class="col-sm-9 d-flex align-items-center">
                                                    <label class="m-0"><?= $fileName; ?></label>
                                                    <button type="button" onclick="location.href = '/eform/downloadfile/index/bgnumb/<?= $this->BG_REG_NUMBER ?>/download/<?= $file['INDEX'] ?>';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

                                                        <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                                        </svg>

                                                    </button>
                                                </div>
                                            </div>
                                        <?php } ?>

                                    </div>
                                </div>
                            </div>
                        <?php } ?>

                        <!-- <div class="form-group row" id="bahasa">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Language') ?><strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong></label>
                            </div>

                            <div class="col-sm-7" id="BG_LANGUAGE_LBL">
                                <label><?php echo $this->languagetext; ?></label>
                            </div>

                        </div>
                        <br> -->
                        <!-- <label for="">&nbsp;<?= $this->language->_('The Preliminary Document is all set') ?>. <a href="/preliminary" target="_blank"><u><?= $this->language->_('Check Documents') ?></u></a></label>
                        <br>
                        <label for="">&nbsp;<?= $this->language->_('I Accept') ?>. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><u><?= $this->language->_('Terms & Conditions') ?></u></a></label> -->

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" align="center">
                    <input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/<?= $this->modulename ?>'" type="button">
                    &nbsp;&nbsp;
                    <?php
                    if ($this->hasPrivilege("COSP")) {
                    ?>
                        <?php if ($this->arrStatus[$this->status] == 'Waiting for approve' || $this->arrStatus[$this->status] == 'Waiting to release' || $this->arrStatus[$this->status] == 'Waiting for bank verification' || $this->arrStatus[$this->status] == 'Waiting for bank review' || $this->arrStatus[$this->status] == 'Waiting for bank approval' || $this->arrStatus[$this->status] == 'Waiting for insurance approval' || $this->arrStatus[$this->status] == 'Waiting for insurance approval' || $this->arrStatus[$this->status] == 'Bank Signing Preparation') {
                            echo "<button type='button' class='btn-sm btngreen hov' data-toggle='modal' data-target='#myModalCancelData'>Batalkan</button>";
                        }
                        ?>
                    <?php
                    }
                    ?>

                    <!-- <button name="reset" id="reset" class="btn-sm btnwhite hov"
                        onClick="window.location.href='<?php echo $this->url(array('module' => $this->modulename, 'controller' => 'amdetail', 'action' => 'index', 'bgnumb' => $this->numb), null, true); ?>'"
                        value="1"><?= $this->language->_('Reset') ?></button>
                    &nbsp;&nbsp;
                    <input type="submit" name="submit" id="submit" value="<?= $this->language->_('Submit') ?>" class="btngreen hov disabled"
                        disabled> 
                    &nbsp;&nbsp;
                    <button name="BG_APPROVE_DOC" id="download2" type="submit" value="1"
                        class="btn-sm btnwhite hov"><?= $this->language->_('Download') ?></button>
                    &nbsp;&nbsp;  -->
                </div>
            </div>

        </form>
    </div>
</div>


<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Terms and Conditions') ?></h4>
            </div>
            <div class="modal-body">
                <div style="height: 410px;overflow: scroll;">
                    <?php

                    if ($sessionLanguage == 'id') {
                        echo $this->toc_ind;
                    } else {
                        echo $this->toc_eng;
                    }

                    ?>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label class="textBlack">Provision Fee 1% from BG Nominal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="textBlack">Administration Fee IDR 500,000</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
                </center>
            </div>
            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Company</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">NPWP</label>
                            </div>
                            <div class="col-sm-9">
                                <label> <?php echo $this->compinfo['CUST_NPWP']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Address</label>
                            </div>
                            <div class="col-sm-9">
                                <label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">City</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->compinfo['CITY_NAME']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Company Office Number') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->compinfo['CUST_PHONE']; ?> </label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Contact Person') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->data['CUST_CP']; ?> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Contact Number</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->data['CUST_CONTACT_NUMBER']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Contact Email') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->data['CUST_EMAIL']; ?> </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <center style="width: 100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>

</div>

<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>
<script>
    function provisionModal() {
        $('#provisionModal').modal('show');
    }

    function modalmoredetail() {
        $("#myModalMoreDetail").modal();
    }

    function modalcanceldata() {
        $("#myModalCancelData").modal();
    }

    const bankGuaranteeApplicant = () => {
        $("#myModalBankApp").modal();
    }

    $(document).ready(function() {})
</script>