<!-- <b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Realtime Charges'); ?></b><br /><br /> -->

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Set Company Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                   <li>
                      <span class="valas" ><?php echo $this->language->_('Detail'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Realtime Charges'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>


<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->result[0]['CUST_ID'], $rand);
  $enccustid = urlencode($encrypted_custid);
?>


<div class="row content-box">
    <div class="portlet-body form col-md-12 table-responsive">
        <h5><?=$this->language->_('Company Charges')?></h5>
        <br>
        <table cellpadding="3" cellspacing="0" border="1" class="tableform" width="80%">
        <tr><th colspan="3" class="tdform-sub filterarea tablehead"><strong><?php echo $this->language->_('Charges Type'); ?> : <?php echo $this->language->_('Realtime'); ?></strong></th></tr>
      	<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
			<td class="tdform-odd"><?php echo $this->result[0]['CUST_ID'];?></td>
		</tr>
		<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
			<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'];?></td>
		</tr>
		<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
			<td class="tdform-odd"><?php echo $this->language->_($this->chargestatus);?></td>
		</tr>
    </table>
  </div>
</div>
<i>
<?php echo $this->language->_('Set/Edit Charge Amount for the following Accounts'); ?>.<br />
<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill charge amount with zero (0) to unset charges'); ?>,<br />
<?php echo $this->language->_('any non numeric value will be converted to zero (0)'); ?> 
</i>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<div class="table-responsive">
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="60%">
   <tr>
   	<th class="tablehead"><div align="center"><?php echo $this->language->_('Account'); ?></div></th>
    <th class="tablehead"><div align="center"><?php echo $this->language->_('Charges per Transaction'); ?></div></th>
  </tr>
  <?php
if($this->resultaccount)
{
  $option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency form-control',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
  
  foreach($this->resultaccount as $list)
  {
   $x = 0;
   $td_css = ($x%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamt = $list['ACCT_NO'].'amount';
   $erramt = 'err'.$idamt;
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
    <td class="<?php echo $td_css;?>"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option,array('class'=>'form-control')); ?></td>
  	</tr>
  	<?php 
  	if($this->$erramt)
  	{
  		echo '<tr>
  				<td class="'.$td_css.'">';
  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
  			echo '<br /><br />';
  		
  		echo '</td>
  			 </tr>';
  	}
  	$x++;
  }
}
else
{
	echo '<tr><td class="tbl-evencontent" colspan="2">'.$this->language->_('No Data (company does not have Saving or Giro account)').'</td></tr>';
}?>
</div>
</table>
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back');?>">
&nbsp;
<?php
if($this->resultaccount)
{
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
	<?php }
}?> 

</td></tr>
</table>
</div>
</form>




<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges'); ?></div>
<br />
<h2><?php echo $this->language->_('Charges Type'); ?> : <?php echo $this->language->_('Realtime'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="60%">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->language->_($this->chargestatus);?></td>
	</tr>
</table>
<i>
<?php echo $this->language->_('Set/Edit Charge Amount for the following Accounts'); ?>.<br />
<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill charge amount with zero (0) to unset charges'); ?>,<br />
<?php echo $this->language->_('any non numeric value will be converted to zero (0)'); ?> 
</i>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="60%">
   <tr>
   	<th><?php echo $this->language->_('Account'); ?></th>
    <th><div align="center"><?php echo $this->language->_('Charges per Transaction'); ?></div></th>
  </tr>
  <?php
if($this->resultaccount)
{
  $option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
  
  foreach($this->resultaccount as $list)
  {
   $x = 0;
   $td_css = ($x%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamt = $list['ACCT_NO'].'amount';
   $erramt = 'err'.$idamt;
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
    <td class="<?php echo $td_css;?>"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
  	</tr>
  	<?php 
  	if($this->$erramt)
  	{
  		echo '<tr>
  				<td class="'.$td_css.'">';
  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
  			echo '<br /><br />';
  		
  		echo '</td>
  			 </tr>';
  	}
  	$x++;
  }
}
else
{
	echo '<tr><td class="tbl-evencontent" colspan="2">'.$this->language->_('No Data (company does not have Saving or Giro account)').'</td></tr>';
}?>
</table>
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back');?>">
&nbsp;
<?php
if($this->resultaccount)
{
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
	<?php }
}?> 

</td></tr>
</table>
</form> -->