<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Multi Credit'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Bulk'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>


<?php if($this->error){ ?>
					<div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
					<?php } ?>
<div class="portlet-body form">
<form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
	<input name="process" value="" type="hidden">
	<input name="num" value="" type="hidden">
	<input name="page" value="" type="hidden">
	<input name="titleForm" value="Import File" type="hidden">
	<div class="card">
                      <!-- Default panel contents -->
                      <div class="card-header cardhead text-white">
                    	<?php
											$ns = new Zend_Session_Namespace('language');
											$sessionLanguage = $ns->langCode;
											if($sessionLanguage == 'id'){
												$file = 'Multi_Credit_Template_id.csv';
											}
											else{
												$file = 'Multi_Credit_Template_en.csv';
											}
										?>
                    	<strong>Format:&nbsp;

											<span style="font-size:10px;font-style:normal;">
												<a href="/template/<?=$file?>" style="color:#F4C301;"><u><?php echo $this->language->_('download template'); ?></u></a>
											</span></strong></div>
                    	<div class="card-body form">
                                                <!-- BEGIN FORM-->


                                                        <div class="form-group row ">
                                                            <div id="notesPage">


											<?php echo $this->language->_('Please upload comma delimited (,) file'); ?>
											<br>

											<?php //$this->language->_('"BENEFICIARY ACC","BENEFICIARY NAME","CCY","AMOUNT","MESSAGE","ADDITIONAL MESSAGE","EMAIL ADDRESS","TRANSFER TYPE","BANK CODE","BANK NAME","BENEFICIARY ADDRESS","CITIZENSHIP"'); ?>
											<?php $this->language->_('BENEFICIARY ACC,BENEFICIARY NAME,CCY,AMOUNT,MESSAGE,ADDITIONAL MESSAGE,EMAIL ADDRESS,TRANSFER TYPE,BANK CODE,BANK NAME,BENEFICIARY ADDRESS,CITIZENSHIP'); ?>

											"<?php echo $this->language->_('BENEFICIARY ACC'); ?>",
											"<?php echo $this->language->_('CCYY'); ?>",
											"<?php echo $this->language->_('AMOUNT'); ?>",
											"<?php echo $this->language->_('MESSAGE'); ?>",
											"<?php echo $this->language->_('ADDITIONAL MESSAGE'); ?>",
											"<?php echo $this->language->_('TRANSFER TYPE'); ?>",
											"<?php echo $this->language->_('BANK CODE'); ?>",
											<br>

											<?php echo $this->language->_('"2003019114","IDR","300050","MSG IDR PB","ADDITIONAL MSG","PB",""'); ?><br>

											<?php echo $this->language->_('"2003019126","IDR","350050","MSG IDR SKN","PAYMENT DESC 2004","SKN","00023234"'); ?><br>

											<?php echo $this->language->_('"2003019120","IDR","1000","MSG IDR RTGS","PAYMENT DESC 2005","RTGS","00023235"'); ?><br>

											<br>


										<br>
									</div>
                                                        </div>

                    </div>
                   </div>
                   <br/>

                   <div class="card">
                      <!-- Default panel contents -->
                      <div class="card-header cardhead text-white">

                    	<strong><?php echo $this->language->_('Notes'); ?>:</strong></div>
                    	<div class="card-body form">
                                                <!-- BEGIN FORM-->


                                                        <div class="form-group row ">
                                                            <div id="notesPage">



											<?php echo $this->language->_('Import will generate list from file'); ?>.<br />
											<?php echo $this->language->_('Click "Download Template" to download template'); ?>.<br />
											<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored (file contents will be proccessed starting on second row)'); ?>.<br />
											<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>.<br />


									</div>
                                                        </div>

                    </div>
                   </div>
                   <br/>

        <div class="card">
          <table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">
						<tbody>
							<tr>
								<td valign="top"><img src="/images/img_one.gif" height="47" width="49"></td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('Transfer From'); ?></b></span></legend>
										<div class="portlet-body form">

                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                                                            </div>
                                                        </div>
                                                  <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");	?>
                                                            </div>
                                                        </div>

                    </div>
                   </div>

									</fieldset>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
								<td valign="top">
									<img src="/images/img_two.gif" height="47" width="49">
								</td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('File Detail'); ?></b></span></legend>

										<div class="portlet-body form">

                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <img src="/images/img_excel.gif" height="47" width="49">
															<input name="CSV_FILE" size="30" class="form-control" onkeypress="return noSpecialChar(event);" type="file">
															<br>
                                                            </div>
                                                        </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9" align="left">
                                                            <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
                                                        <input name="PSEFDATE" id="PSEFDATE" value="<?php echo $this->PSEFDATE?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>

                                                            </div>
                                                        </div>


                    </div>
                   </div>

									</fieldset>
								</td>
							</tr>
						  <tr>
							<td>&nbsp;</td>
						  </tr>
						</tbody>
					</table>
        </div>
        <br>
        <div class="formbutton">
          <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
          <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
        </div>



</form>
</div>
