  <div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Tools'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Transaction Time Information'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<br>

  <div class="container">
      <div style="text-align:center; padding: 25px 0px;" class="center">
          <h5 class=""><?=$this->language->_('Transaction Time')?></h5>
      </div>
  </div>

  <hr width="90%">
  
<div class="table-responsive">
  <table cellpadding="10" cellspacing="0" width="70%" align="center">
    <tr>
      <td><?php echo $this->language->_('Foreign Exchange Transactions Time '); ?></td>
      <td>:</td>
      <td>
        <?php echo $this->formText('starting_time_remittance',$this->starting_time_remittance,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xstarting_time_remittance;?></div>
      </td>
      <td>To</td>
      <td>
        <?php echo $this->formText('cut_off_time_remittance',$this->cut_off_time_remittance,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xcut_off_time_remittance;?></div>
      </td>
      
    </tr>
    <tr>
      <td><?php echo $this->language->_('Daily Running Balance Time '); ?></td>
      <td>:</td>
      <td>
        <?php echo $this->formText('start_running_balance',$this->start_running_balance,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xstart_running_balance;?></div>
      </td>
      <td>To</td>
      <td>
        <?php echo $this->formText('cut_off_running_balance',$this->cut_off_running_balance,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xcut_off_running_balance;?></div>
      </td>
      
    </tr>
    <tr>
      <td><?php echo $this->language->_('SKN Payments Cut Off Time'); ?></td>
      <td>:</td>
      <td>
        <?php echo $this->formText('cut_off_time_skn',$this->cut_off_time_skn,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xcut_off_time_skn;?></div>
      </td>
      
    </tr>
    <tr>
      <td><?php echo $this->language->_('RTGS Payments Cut Off Time'); ?></td>
      <td>:</td>
      <td>
        <?php echo $this->formText('cut_off_time_rtgs',$this->cut_off_time_rtgs,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xcut_off_time_rtgs;?></div>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->language->_('BI Payments Cut Off Time'); ?></td>
      <td>:</td>
      <td>
        <?php echo $this->formText('cut_off_time_bi',$this->cut_off_time_bi,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xcut_off_time_bi;?></div>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->language->_('Bulk Payments Cut Off Time'); ?></td>
      <td>:</td>
      <td>
        <?php echo $this->formText('cut_off_time_bulkpayments',$this->cut_off_time_bulkpayments,array('class'=>'form-control col-md-12','maxlength'=>8,'readonly' => 'true'))?>
        <div class="errmsg"><?=$this->xcut_off_time_bulkpayments;?></div>
      </td>
    </tr>
  </table>
</div>