<?php
$auth = Zend_Auth::getInstance()->getIdentity();
?>
<style>
  .nav-link {
    color: rgba(83, 83, 83, 0.87) !important
  }
</style>
<script type="text/javascript">
  function forcesave(val) {

    $.ajax({

      url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'savenotif'), null, true) ?>",
      type: 'GET',
      data: {
        id: val
      },
      success: function(data) {
        // $(ncolselect).html(data);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.info(ajaxOptions);
        console.info(thrownError);
        alert("Failed to get where column list, please try again");
      }
    });

  }

  $(document).ready(function() {
    var nice = $("#top5").niceScroll();
    var approve = $("#approve").niceScroll();

    $('#myModal').on('shown.bs.modal', function() {
      // alert();
      $('.blur').css({
        "filter": "blur(10px)"
      });
    }).on('hidden.bs.modal', function() {
      $('.blur').css({
        "filter": ""
      });
    })
  });
</script>

<style>
  .card {
    width: 320px;
    height: 190px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;

  }

  .card__part {
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #111010, #715e60, #825d63, #513e43, #020202);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;

    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  .card__front {
    padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
  }

  .card__back {
    padding: 18px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  }

  .card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
  }

  .card__logo {
    height: 16px;
  }

  .card__front-logo {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  .card__square {
    border-radius: 5px;
    height: 30px;
  }

  .card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .card__space-75 {
    width: 75%;
    float: left;
  }

  .card__space-25 {
    width: 25%;
    float: left;
  }

  .card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
  }

  .card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .card__back-content {
    padding: 15px 15px 0;
  }

  .card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
  }

  .card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position: relative;
  }

  .card__secret:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 42px);
    border-radius: 4px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
  }

  .card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

  }

  .card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  }

  .garis_verikal {
    height: 412px;
  }
</style>

<?php
if (!empty($this->notif)) {
  foreach ($this->notif as $key => $value) {
    // print_r($value);

    if (!empty($this->forcenotif)) {
      $cekforce = false;
      foreach ($this->forcenotif as $key => $val) {
        // print_r($value);die;
        if ($val['NOTIF_ID'] == $value['ID']) {
          $cekforce = true;
          // die;
        }
      }
    }
    if (!$cekforce) {
?>
      <script type="text/javascript">
        $(document).ready(function() {

          $(function() {
            $("#myModal<?php echo $key ?>").modal({
              backdrop: 'static',
              keyboard: false
            });
          });

          $('#myModal<?php echo $key ?>').on('shown.bs.modal', function() {
            // alert();
            $('.blur').css({
              "filter": "blur(10px)"
            });
          }).on('hidden.bs.modal', function() {
            $('.blur').css({
              "filter": ""
            });
          })
        });
      </script>
      <button style="display:none" type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal<?php echo $key ?>">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal<?php echo $key ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header textBlack">

              <h4 class="modal-title" id="myModalLabel"><?php echo $value['SUBJECT']; ?></h4>
            </div>
            <div class="modal-body textBlack">
              <?php echo $value['CONTENT']; ?>
              <?php if ($value['FORCE_READ'] == '1') { ?>
                <input type="checkbox" id="modalcheck<?php echo $key ?>" onclick="check<?php echo $key ?>()"> I Read this
                <script type="text/javascript">
                  $(document).ready(function() {
                    $("#closemodal<?php echo $key ?>").hide();
                  });


                  function check<?php echo $key ?>() {
                    if ($('#modalcheck<?php echo $key ?>').is(":checked")) {

                      $("#closemodal<?php echo $key ?>").show();
                    } else {
                      $("#closemodal<?php echo $key ?>").hide();
                    }
                  }
                </script>
              <?php } ?>
            </div>
            <?php if ($value['FORCE_READ'] == '1') { ?>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closemodal<?php echo $key ?>" onclick="forcesave(<?php echo $value['ID']; ?>);" data-dismiss="modal">Close</button>
                <!-- <a href="/changespassword" ><button type="button" class="btn btn-primary">Reset</button></a> -->
              </div>
            <?php } else { ?>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closemodal<?php echo $key ?>" data-dismiss="modal">Close</button>
                <!-- <a href="/changespassword" ><button type="button" class="btn btn-primary">Reset</button></a> -->
              </div>
            <?php } ?>
          </div>
        </div>
      </div>
      <!-- } -->
<?php }
  }
}
?>

<!-- 
 <script src="/muri/web-animations.min.js" type="text/javascript"></script>
 <script src="/muri/hammer.min.js" type="text/javascript"></script>
 <script src="/muri/muuri.min.js" type="text/javascript"></script> -->
<!-- 
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script> -->

<!-- <script type="text/javascript" src="/js/chart/highcharts.js"></script>
<script type="text/javascript" src="/js/chart/data.js"></script>
<script type="text/javascript" src="/js/chart/drilldown.js"></script> -->
<script type="text/javascript" src="/js/chart/canvasjs.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {


    <?php
    $adata = array();
    if (!empty($this->dchartdata)) {

      foreach ($this->dchartdata as $key => $value) {
        $adata[$key]['y'] = $value['1'];
        $adata[$key]['name'] = $value['0'];
        $adata[$key]['color'] = sprintf('#%06X', mt_rand(0, 0xFFFFFF));
      }
    }
    $adata = json_encode($adata);
    $ldata = array();
    //var_dump($this->loandata);die('gere');
    if (!empty($this->loandata)) {

      foreach ($this->loandata as $key => $value) {
        $ldata[$key]['y'] = $value['1'];
        $ldata[$key]['name'] = $value['0'];
        $ldata[$key]['color'] = sprintf('#%06X', mt_rand(0, 0xFFFFFF));
      }
    }
    $ldata = json_encode($ldata);

    $ddata = array();
    if (!empty($this->depodata)) {

      foreach ($this->depodata as $key => $value) {
        $ddata[$key]['y'] = $value['1'];
        $ddata[$key]['name'] = $value['0'];
        $ddata[$key]['color'] = sprintf('#%06X', mt_rand(0, 0xFFFFFF));
      }
    }
    $ddata = json_encode($ddata);
    ?>

    var totalVisitors = 883000;
    //  <?php if (!$this->widget2) { ?>
    //  var visitorsData = {
    //    "Assets": [{
    //      click: visitorsChartDrilldownHandler,
    //      cursor: "pointer",
    //      explodeOnClick: false,
    //      innerRadius: "75%",
    //      legendMarkerType: "square",
    //      name: "",
    //       radius: "100%",
    //      showInLegend: true,
    //      startAngle: 90,
    //      type: "doughnut",
    //      dataPoints: [{
    //          y: <?php echo $this->percentasset ?>,
    //          name: "CASA",
    //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
    //        },
    //        {
    //          y: <?php echo $this->percentloan ?>,
    //          name: "Loan",
    //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
    //        },
    //        {
    //          y: <?php echo $this->percentdepo ?>,
    //          name: "Deposito",
    //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
    //        }
    //      ]
    //    }],
    //    "CASA": [{
    //      color: "#E7823A",
    //      name: "CASA",
    //      showInLegend: true,
    //      cursor: "pointer",
    //      type: "doughnut",
    //      dataPoints: <?php echo $adata; ?>
    //    }],
    //    "Loan": [{
    //      color: "#E7823A",
    //      name: "Loan",
    //      showInLegend: true,
    //      cursor: "pointer",
    //      type: "doughnut",
    //      dataPoints: <?php echo $ldata; ?>
    //    }],
    //    "Deposito": [{
    //      color: "#E7823A",
    //      name: "Deposito",
    //      showInLegend: true,
    //      cursor: "pointer",
    //      type: "doughnut",
    //      dataPoints: <?php echo $ddata; ?>
    //    }]
    //  };



    // var newVSReturningVisitorsOptions = {
    //   animationEnabled: true,
    //   theme: "light2",
    //   title: {
    //     text: ""
    //   },
    //    subtitles: [{
    //      //text: "Click on Any Segment to Drilldown",
    //      backgroundColor: "#2eacd1",
    //      fontSize: 16,
    //      fontColor: "white",
    //      padding: 5
    //    }],
    //   legend: {
    //     fontFamily: "calibri",
    //     fontSize: 14,
    //     itemTextFormatter: function(e) {
    //       //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
    //   return e.dataPoint.name + ": " + e.dataPoint.y + "%";
    //     }
    //   },
    //   data: []
    // };

    //  var visitorsDrilldownedChartOptions = {
    //    animationEnabled: true,
    //    theme: "light2",
    //    axisX: {
    //      labelFontColor: "#717171",
    //      lineColor: "#a2a2a2",
    //      tickColor: "#a2a2a2"
    //    },
    //    axisY: {
    //      gridThickness: 0,
    //      includeZero: false,
    //      labelFontColor: "#717171",
    //      lineColor: "#a2a2a2",
    //      tickColor: "#a2a2a2",
    //      lineThickness: 1
    //    },
    //    data: []
    //  };

    //  var chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
    //  chart.options.data = visitorsData["Assets"];
    //  chart.render();

    //  function visitorsChartDrilldownHandler(e) {
    //    chart = new CanvasJS.Chart("chartContainer", visitorsDrilldownedChartOptions);
    //    chart.options.data = visitorsData[e.dataPoint.name];
    //    chart.options.title = {
    //      text: e.dataPoint.name
    //    }
    //    chart.render();
    //    $("#backButton").toggleClass("invisible");
    //  }

    //  $("#backButton").click(function() {
    //    $(this).toggleClass("invisible");
    //    chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
    //    chart.options.data = visitorsData["Assets"];
    //    chart.render();
    //  });
    //  <?php  } ?>
    <?php if (!$this->widget8) { ?>
      // pie BG Information
      //  var visitorsData2 = {
      //    "Assets2": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.00",
      //      dataPoints: [{
      //          y: <?php echo $this->amountReview; ?>,
      //          name: "Waiting for Review",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->amountRelease; ?>,
      //          name: "Waiting for Release",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->amountApprove; ?>,
      //          name: "Waiting for Approval",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->amountIssued; ?>,
      //          name: "Issued",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }],
      //    "Assets2Data": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "{y}",
      //      startAngle: 90,
      //      type: "doughnut",
      //      dataPoints: [{
      //          y: <?php echo $this->dataReview ?>,
      //          name: "Waiting for Review",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->dataRelease ?>,
      //          name: "Waiting for Release",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->dataApprove ?>,
      //          name: "Waiting for Approval",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->dataIssued ?>,
      //          name: "Issued",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }]
      //  };

      //  var newVSReturningVisitorsOptions2 = {
      //   animationEnabled: true,
      //   //exportEnabled: true,
      //   theme: "light2",
      //   title: {
      //     text: "Bank Guarantee Information",
      //     fontSize: 20
      //   },
      //    subtitles: [{
      //      //text: "Click on Any Segment to Drilldown",
      //      backgroundColor: "#2eacd1",
      //      fontSize: 16,
      //      fontColor: "white",
      //      padding: 5
      //    }],
      //   legend: {
      //     fontFamily: "calibri",
      //     fontSize: 14,
      //     itemTextFormatter: function(e) {
      //       //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
      //     return e.dataPoint.name;
      //     }
      //   },
      //   data: []
      // };

      //  var chart = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions2);
      //  chart.options.data = visitorsData2["Assets2"];
      //  chart.render();     

      // end pie BG Information

      // pie BG Warranty
      //  var visitorsData3 = {
      //    "Assets3": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.00",
      //      dataPoints: [{
      //          y: <?php echo "'" . $this->amountFullCover . "'"; ?>,
      //          name: "Total BG Full Cover",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->amountLineFacility . "'"; ?>,
      //          name: "Total BG Line Facility",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->amountInsurance . "'"; ?>,
      //          name: "Total BG Insurance",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }],
      //    "Assets3Data": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "{y}",
      //      startAngle: 90,
      //      type: "doughnut",
      //      dataPoints: [{
      //          y: <?php echo $this->dataFullCover; ?>,
      //          name: "Total BG Full Cover",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->dataLineFacility; ?>,
      //          name: "Total BG Line Facility",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->dataInsurance; ?>,
      //          name: "Total BG Insurance",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }]
      //  };

      //  var newVSReturningVisitorsOptions3 = {
      //   animationEnabled: true,
      //   //exportEnabled: true,
      //   theme: "light2",
      //   title: {
      //     text: "BG Issued by Counter Warranty",
      //     fontSize: 20
      //   },
      //    subtitles: [{
      //      //text: "Click on Any Segment to Drilldown",
      //      backgroundColor: "#2eacd1",
      //      fontSize: 16,
      //      fontColor: "white",
      //      padding: 5
      //    }],
      //   legend: {
      //     fontFamily: "calibri",
      //     fontSize: 14,
      //     itemTextFormatter: function(e) {
      //       //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
      //     return e.dataPoint.name;
      //     }
      //   },
      //   data: []
      // };
      //  var chart = new CanvasJS.Chart("chartContainer3", newVSReturningVisitorsOptions3);
      //  chart.options.data = visitorsData3["Assets3"];
      //  chart.render();

      //  // end pie BG Warranty

      //  $('.bg-dropdown a').click(function() {
      //   $(this).parents('#bgDropdown').find('.btn').html($(this).text() + ' <i class="fa fa-angle-down pl-2"></i>');
      //   if($(this).attr('bal') ==='data'){

      //     var chart = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions2);
      //     chart.options.data = visitorsData2["Assets2Data"];
      //     chart.render();

      //     var chart = new CanvasJS.Chart("chartContainer3", newVSReturningVisitorsOptions3);
      //     chart.options.data = visitorsData3["Assets3Data"];
      //     chart.render();

      //   }else{

      //     var chart = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions2);
      //     chart.options.data = visitorsData2["Assets2"];
      //     chart.render();

      //     var chart = new CanvasJS.Chart("chartContainer3", newVSReturningVisitorsOptions3);
      //     chart.options.data = visitorsData3["Assets3"];
      //     chart.render();
      //   }

      // });

      //  <?php } ?>

      //  <?php if (!$this->widget9) { ?>
      //  // pie Realisasi Anggaran
      $('#brDropdown').find('.btn').html('2021' + ' <i class="fa fa-angle-down pl-2"></i>');
      var totalAnggaran2021 = <?php echo Application_Helper_General::displayMoney($this->totalAnggaran2021); ?>;

      $("#totalAnggaran").html("Total Anggaran   &nbsp;&nbsp;IDR " + totalAnggaran2021 + " JT");
      chartrealisasianggaran("2021");
      //  var visitorsData4 = {
      //    "Anggaran2021": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.000",
      //      dataPoints: [{
      //          y: <?php echo $this->realisasiSP2D2021; ?>,
      //          name: "Realisasi SP2D",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->sisaAnggaran2021; ?>,
      //          name: "Sisa Anggaran",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }],
      //    "Anggaran2020": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.000",
      //      dataPoints: [{
      //          y: <?php echo $this->realisasiSP2D2020; ?>,
      //          name: "Realisasi SP2D",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->sisaAnggaran2020; ?>,
      //          name: "Sisa Anggaran",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }],
      //    "Anggaran2019": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.000",
      //      dataPoints: [{
      //          y: <?php echo $this->realisasiSP2D2019; ?>,
      //          name: "Realisasi SP2D",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo $this->sisaAnggaran2019; ?>,
      //          name: "Sisa Anggaran",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }]
      //  };

      //  var newVSReturningVisitorsOptions4 = {
      //   animationEnabled: true,
      //   //exportEnabled: true,
      //   theme: "light2",
      //   /*title: {
      //     text: "",
      //     fontSize: 20
      //   },*/
      //    subtitles: [{
      //      //text: "Click on Any Segment to Drilldown",
      //      backgroundColor: "#2eacd1",
      //      fontSize: 16,
      //      fontColor: "white",
      //      padding: 5
      //    }],
      //   legend: {
      //     fontFamily: "calibri",
      //     fontSize: 14,
      //     itemTextFormatter: function(e) {
      //       //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
      //     return e.dataPoint.name;
      //     }
      //   },
      //   data: []
      // };

      //  var chart = new CanvasJS.Chart("chartContainer4", newVSReturningVisitorsOptions4);
      //  chart.options.data = visitorsData4["Anggaran2021"];
      //  chart.render();     

      //  // end pie Realisasi Anggaran

      //  // pie SP2D
      var totalSP2D2021 = <?php echo Application_Helper_General::displayMoney($this->totalNilaiKontrak2021); ?>;
      $("#totalSP2D").html("Total SP2D   &nbsp;&nbsp;IDR " + totalSP2D2021 + " JT");
      chartSP2D("2021");
      //  var visitorsData5 = {
      //    "SP2D2021": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.000",
      //      dataPoints: [{
      //          y: <?php echo "'" . $this->totalNilaiDibayar2021 . "'"; ?>,
      //          name: "Total Nilai Dibayar",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguTinjauan2021 . "'"; ?>,
      //          name: "Menunggu Tinjauan",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguPersetujuan2021 . "'"; ?>,
      //          name: "Total Menunggu Persetujuan",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguRilis2021 . "'"; ?>,
      //          name: "Menunggu Rilis",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }],
      //    "SP2D2020": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.000",
      //      dataPoints: [{
      //          y: <?php echo "'" . $this->totalNilaiDibayar2020 . "'"; ?>,
      //          name: "Total Nilai Dibayar",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguTinjauan2020 . "'"; ?>,
      //          name: "Menunggu Tinjauan",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguPersetujuan2020 . "'"; ?>,
      //          name: "Total Menunggu Persetujuan",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguRilis2020 . "'"; ?>,
      //          name: "Menunggu Rilis",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }],
      //    "SP2D2019": [{
      //      //click: visitorsChartDrilldownHandler,
      //      cursor: "pointer",
      //      explodeOnClick: false,
      //      innerRadius: "75%",
      //      legendMarkerType: "square",
      //      name: "",
      //       radius: "100%",
      //      showInLegend: true,
      //      toolTipContent: "<b>{name}</b>: {y}",
      //      indexLabel: "IDR {y}JT",
      //      startAngle: 90,
      //      type: "doughnut",
      //      yValueFormatString: "##0.000",
      //      dataPoints: [{
      //          y: <?php echo "'" . $this->totalNilaiDibayar2019 . "'"; ?>,
      //          name: "Total Nilai Dibayar",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguTinjauan2019 . "'"; ?>,
      //          name: "Menunggu Tinjauan",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguPersetujuan2019 . "'"; ?>,
      //          name: "Total Menunggu Persetujuan",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        },
      //        {
      //          y: <?php echo "'" . $this->menungguRilis2019 . "'"; ?>,
      //          name: "Menunggu Rilis",
      //          color: '<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>'
      //        }
      //      ]
      //    }]
      //  };

      //  var newVSReturningVisitorsOptions5 = {
      //   animationEnabled: true,
      //   //exportEnabled: true,
      //   theme: "light2",
      //   /*title: {
      //     text: "BG Issued by Counter Warranty",
      //     fontSize: 20
      //   },*/
      //    subtitles: [{
      //      //text: "Click on Any Segment to Drilldown",
      //      backgroundColor: "#2eacd1",
      //      fontSize: 16,
      //      fontColor: "white",
      //      padding: 5
      //    }],
      //   legend: {
      //     fontFamily: "calibri",
      //     fontSize: 14,
      //     itemTextFormatter: function(e) {
      //       //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
      //     return e.dataPoint.name;
      //     }
      //   },
      //   data: []
      // };
      //  var chart = new CanvasJS.Chart("chartContainer5", newVSReturningVisitorsOptions5);
      //  chart.options.data = visitorsData5["SP2D2021"];
      //  chart.render();

      //  // end pie SP2D



      $('.bg-dropdown a').click(function() {

        $(this).parents('#brDropdown').find('.btn').html($(this).text() + ' <i class="fa fa-angle-down pl-2"></i>');
        var tahun = $(this).attr('bal');

        if (tahun === "2021") {
          chartrealisasianggaran("2021");
          var totalAnggaran2021 = "<?php echo Application_Helper_General::displayMoney($this->totalAnggaran2021); ?>";
          $("#totalAnggaran").html("Total Anggaran   &nbsp;&nbsp;IDR " + totalAnggaran2021 + " M");
        }

        if (tahun === "2020") {
          chartrealisasianggaran("2020");
          var totalAnggaran2020 = "<?php echo Application_Helper_General::displayMoney($this->totalAnggaran2020); ?>";
          $("#totalAnggaran").html("Total Anggaran   &nbsp;&nbsp;IDR " + totalAnggaran2020 + " M");
        }

        if (tahun === "2019") {
          chartrealisasianggaran("2019");
          var totalAnggaran2019 = "<?php echo Application_Helper_General::displayMoney($this->totalAnggaran2019); ?>";
          $("#totalAnggaran").html("Total Anggaran   &nbsp;&nbsp;IDR " + totalAnggaran2019 + " M");
        }


        if (tahun === "2021") {
          chartSP2D("2021");
          var totalSP2D2021 = "<?php echo Application_Helper_General::displayMoney($this->totalNilaiKontrak2021); ?>";
          $("#totalSP2D").html("Total SP2D   &nbsp;&nbsp;IDR " + totalSP2D2021 + " M");
        }

        if (tahun === "2020") {
          chartSP2D("2020");
          var totalSP2D2020 = "<?php echo Application_Helper_General::displayMoney($this->totalNilaiKontrak2020); ?>";
          $("#totalSP2D").html("Total SP2D   &nbsp;&nbsp;IDR " + totalSP2D2020 + " M");
        }

        if (tahun === "2019") {
          chartSP2D("2019");
          var totalSP2D2019 = "<?php echo Application_Helper_General::displayMoney($this->totalNilaiKontrak2019); ?>";
          $("#totalSP2D").html("Total SP2D   &nbsp;&nbsp;IDR " + totalSP2D2019 + " M");
        }

      });

      //  <?php } ?>




      $.ajax({
        url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'accounts'), null, true) ?>",
        type: 'GET',
        dataType: "html",

        success: function(datachart) {

          // $('#chartContainer').html('');
          // var datachartaccounts = JSON.parse(datachart);
          // console.log(datachartaccounts);

          // var visitorsData = {
          //   "Assets": [{
          //     //click: visitorsChartDrilldownHandler,
          //     cursor: "pointer",
          //     explodeOnClick: false,
          //     innerRadius: "75%",
          //     legendMarkerType: "square",
          //     name: "",
          //     radius: "100%",
          //     showInLegend: true,
          //     startAngle: 90,
          //     type: "doughnut",
          //     dataPoints: datachartaccounts
          //   }],
          //   "CASA": [{
          //     color: "#E7823A",
          //     name: "CASA",
          //     showInLegend: true,
          //     cursor: "pointer",
          //     type: "doughnut",
          //     dataPoints: datachartaccounts[0]
          //   }],
          //   "Loan": [{
          //     color: "#E7823A",
          //     name: "Loan",
          //     showInLegend: true,
          //     cursor: "pointer",
          //     type: "doughnut",
          //     dataPoints: datachartaccounts[1]
          //   }],
          //   "Deposito": [{
          //     color: "#E7823A",
          //     name: "Deposito",
          //     showInLegend: true,
          //     cursor: "pointer",
          //     type: "doughnut",
          //     dataPoints: datachartaccounts[2]
          //   }]

          // };
          // ///////
          // var newVSReturningVisitorsOptions = {
          //   animationEnabled: true,
          //   theme: "light2",
          //   title: {
          //     text: ""
          //   },
          //   subtitles: [{
          //     //text: "Click on Any Segment to Drilldown",
          //     backgroundColor: "#2eacd1",
          //     fontSize: 16,
          //     fontColor: "white",
          //     padding: 5
          //   }],
          //   legend: {
          //     fontFamily: "calibri",
          //     fontSize: 14,
          //     itemTextFormatter: function(e) {
          //       //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
          //       return e.dataPoint.name + ": " + e.dataPoint.y + "%";
          //     }
          //   },
          //   data: []
          // };

          // var visitorsDrilldownedChartOptions = {
          //   animationEnabled: true,
          //   theme: "light2",
          //   axisX: {
          //     labelFontColor: "#717171",
          //     lineColor: "#a2a2a2",
          //     tickColor: "#a2a2a2"
          //   },
          //   axisY: {
          //     gridThickness: 0,
          //     includeZero: false,
          //     labelFontColor: "#717171",
          //     lineColor: "#a2a2a2",
          //     tickColor: "#a2a2a2",
          //     lineThickness: 1
          //   },
          //   data: []
          // };

          // chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
          // chart.options.data = visitorsData["Assets"];
          // chart.render();

          // function visitorsChartDrilldownHandler(e) {
          //   chart = new CanvasJS.Chart("chartContainer", visitorsDrilldownedChartOptions);
          //   chart.options.data = visitorsData[e.dataPoint.name];
          //   chart.options.title = {
          //     text: e.dataPoint.name
          //   }
          //   chart.render();
          //   $("#backButton").toggleClass("invisible");
          // };

          // $("#backButton").click(function() {
          //   $(this).toggleClass("invisible");
          //   chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
          //   chart.options.data = visitorsData["Assets"];
          //   chart.render();

          // });

          //   var chartnew = new CanvasJS.Chart("chartContainer", {
          //     //colorSet: "assetsColor",
          //     data: [{
          //       //click: visitorsChartDrilldownHandler,
          //    cursor: "pointer",
          //    explodeOnClick: false,
          //    innerRadius: "75%",
          //    legendMarkerType: "square",
          //    name: "",
          //     radius: "100%",
          //    showInLegend: true,
          //    startAngle: 90,
          //    type: "doughnut",
          //    dataPoints: datachartaccounts
          //     }] 
          //   });
          //   chartnew.render();

          // },
          // error: function(xhr, ajaxOptions, thrownError) {
          //   console.log(xhr);
          //   console.log(thrownError);
          // }


        }

      });

      $.ajax({
        url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'exchange'), null, true) ?>",
        type: 'GET',
        dataType: "html",

        success: function(datachart) {


          var datachartex = JSON.parse(datachart);


        }



      });

      $.ajax({
        url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'bguarantee'), null, true) ?>",
        type: 'GET',
        dataType: "html",

        success: function(datachart) {


          $('#chartContainer2').html('');
          var datachartbg = JSON.parse(datachart);

          var visitorsData2 = {
            "Assets2": [{
              cursor: "pointer",
              // explodeOnClick: false,
              type: "doughnut",
              innerRadius: 1000,
              legendMarkerType: "square",
              name: "",
              radius: "100%",
              showInLegend: true,
              toolTipContent: "<b>{name}</b>: {formatNumber} {satuan}",
              indexLabel: "{formatNumber} {satuan}",
              startAngle: 0,
              yValueFormatString: "#,##0.##",
              dataPoints: datachartbg[0]
            }],
            "Assets2Data": [{
              cursor: "pointer",
              explodeOnClick: false,
              innerRadius: "75%",
              legendMarkerType: "square",
              name: "",
              radius: "100%",
              showInLegend: true,
              toolTipContent: "<b>{name}</b>: {satuan}",
              indexLabel: "{y}",
              startAngle: 90,
              type: "doughnut",
              dataPoints: datachartbg[1]
            }]
          };

          var newVSReturningVisitorsOptions2 = {
            animationEnabled: true,
            //exportEnabled: true,
            // theme: "light2",
            title: {
              text: "Informasi Bank Garansi",
              horizontalAlign: "left",
              fontSize: 20
            },
            subtitles: [{
              //text: "Click on Any Segment to Drilldown",
              backgroundColor: "#2eacd1",
              fontSize: 16,
              fontColor: "white",
              padding: 5
            }],
            legend: {
              fontFamily: "calibri",
              fontSize: 14,
              itemTextFormatter: function(e) {
                //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
                return e.dataPoint.name;
              }
            },
            data: []
          };

          var chart = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions2);

          chart.options.data = visitorsData2["Assets2"];
          chart.render();


        }

      });

      $.ajax({
        url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'reports'), null, true) ?>",
        type: 'GET',
        dataType: "html",

        success: function(datachart) {

          var datareport = JSON.parse(datachart);

          $.each(datareport, function(key, value) {
            $("#muncul").prepend(
              '<div class="col-12 report-box"><div class="row no-gutters"><div class="col-sm-12 col-md-9 pl-2"><strong>' + value.REPORT_NAME + '</strong></div><div class="col-sm-12 col-md-3"><a class="btn action-button" href="/reportcrm/reportview/index/report/' + value.CODE + '"><i class="fa fa-eye"></i></a>&nbsp;<a class="btn action-button" href="/reportcrm/reportview/index/report/' + value.CODE + '/pdf/2"><i class="fa fa-download"></i></a><a class="btn action-button delete" href="/reportcrm/reportdelete/index/report/' + value.CODE + '" id="report_' + value.CODE + '" onclick="return confirm(' + 'Are you sure you want to delete this item?' + ');"><i class="fa fa-trash-alt"></i></a></div></div></div>');
          });



        }

      });

      $.ajax({
        // url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'bgwarranty'), null, true) ?>",
        url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'bguarantee'), null, true) ?>",
        type: 'GET',
        dataType: "html",

        success: function(datachart) {

          $('#chartContainer3').html('');
          var datachartbgwar = JSON.parse(datachart);

          var visitorsData3 = {
            "Assets3": [{
              cursor: "pointer",
              // explodeOnClick: false,
              type: "doughnut",
              innerRadius: "75%",
              legendMarkerType: "square",
              name: "",
              radius: "100%",
              showInLegend: true,
              toolTipContent: "<b>{name}</b>: {formatNumber} {satuan}",
              indexLabel: "{formatNumber} {satuan}",
              startAngle: 0,
              yValueFormatString: "#,##0.##",
              dataPoints: datachartbgwar[1]
            }],
            "Assets3Data": [{
              cursor: "pointer",
              explodeOnClick: false,
              innerRadius: "75%",
              legendMarkerType: "square",
              name: "",
              radius: "100%",
              showInLegend: true,
              toolTipContent: "<b>{name}</b>: {formatNumber} {satuan}",
              indexLabel: "{y}",
              startAngle: 90,
              type: "doughnut",
              dataPoints: datachartbgwar[1]
            }]
          };

          var newVSReturningVisitorsOptions3 = {
            animationEnabled: true,
            //exportEnabled: true,
            // theme: "light2",
            title: {
              text: "BG Dalam Jaminan berdasarkan Kontra Garansi",
              fontSize: 20
            },
            subtitles: [{
              //text: "Click on Any Segment to Drilldown",
              backgroundColor: "#2eacd1",
              fontSize: 16,
              fontColor: "white",
              padding: 5
            }],
            legend: {
              fontFamily: "calibri",
              fontSize: 14,
              itemTextFormatter: function(e) {
                //return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
                return e.dataPoint.name;
              }
            },
            data: []
          };
          var chart = new CanvasJS.Chart("chartContainer3", newVSReturningVisitorsOptions3);
          chart.options.data = visitorsData3["Assets3"];
          chart.render();




        }

      });




      function chartrealisasianggaran(ptahun) {

        $.ajax({
          url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'totalbudget'), null, true) ?>",
          type: 'GET',
          dataType: "html",
          data: {
            tahun: ptahun
          },
          success: function(datachart) {

            // $('#chartContainer4').html('');
            // var datachartnew = JSON.parse(datachart);
            // var chartnew = new CanvasJS.Chart("chartContainer4", {
            //   //colorSet: "assetsColor",
            //   legend: {
            //     cursor: "pointer"
            //   },
            //   data: [{
            //     type: "doughnut",
            //     showInLegend: true,
            //     startAngle: 90,
            //     innerRadius: "75%",
            //     legendMarkerType: "square",
            //     radius: "100%",
            //     // indexLabelFontSize: 12,
            //     yValueFormatString: "##0.000",
            //     indexLabel: "{name} : {nominal}",
            //     toolTipContent: "<b>{name}</b>: {y}",
            //     indexLabel: "IDR {y}M",
            //     dataPoints: datachartnew
            //   }]
            // });
            // chartnew.render();

          },
          error: function(xhr, ajaxOptions, thrownError) {
            // console.log(xhr);
            // console.log(thrownError);
          }
        });

      }

      function chartSP2D(ptahun) {

        $.ajax({
          url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'totalsp2d'), null, true) ?>",
          type: 'GET',
          dataType: "html",
          data: {
            tahun: ptahun
          },
          success: function(datachart) {

            // $('#chartContainer5').html('');
            // var datachartnew = JSON.parse(datachart);
            // var chartnew = new CanvasJS.Chart("chartContainer5", {
            //   //colorSet: "assetsColor",
            //   legend: {
            //     cursor: "pointer"
            //   },
            //   data: [{
            //     type: "doughnut",
            //     showInLegend: true,
            //     startAngle: 90,
            //     innerRadius: "75%",
            //     legendMarkerType: "square",
            //     radius: "100%",
            //     // indexLabelFontSize: 12,
            //     yValueFormatString: "##0.000",
            //     indexLabel: "{name} : {nominal}",
            //     toolTipContent: "<b>{name}</b>: {y}",
            //     indexLabel: "IDR {y}M",
            //     dataPoints: datachartnew
            //   }]
            // });
            // chartnew.render();

          },
          error: function(xhr, ajaxOptions, thrownError) {
            // console.log(xhr);
            // console.log(thrownError);
          }
        });

      }





      <?php
      // var_dump($this->percentasset);
      // var_dump($this->percentdepo);
      // var_dump($this->percentloan);die;
      ?>
      <?php if (!empty($this->dchartdata) && $this->dchartdata != '') {
        // var_dump(json_encode($this->dchartdata));
        // var_dump($this->dchartdata);
        // var_dump($this->loandata);
        // var_dump($this->depodata);


        // die;
      ?>
        // try {
        let dchart = JSON.parse('<?php echo json_encode($this->dchartdata) ?>');

        let loand = JSON.parse('<?php echo json_encode($this->loandata) ?>');

        let depod = JSON.parse('<?php echo json_encode($this->depodata) ?>');
        // }
        // catch(err) {
        // console.info(err);
        // } 

      <?php } else { ?>
        let dchart = '';
        let loand = '';
        let depod = '';
      <?php } ?>
      // Highcharts.chart('piechart', {
      //     chart: {
      //         type: 'pie',
      //         options3d: {
      //             enabled: true,
      //             alpha: 45,
      //             beta: 0
      //         }
      //     },
      //     title: {
      //         text: ''
      //     },
      //     tooltip: {
      //         pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      //     },
      //     plotOptions: {
      //         pie: {
      //             allowPointSelect: true,
      //             cursor: 'pointer',
      //             depth: 35,
      //             dataLabels: {
      //                 enabled: true,
      //                 format: '{point.name}'
      //             }
      //         }
      //     },
      //     series: [{
      //         type: 'pie',
      //         name: 'Browser share',
      //         data: dchart
      //     }]
      // });

      // Highcharts.chart('piechart', {
      //     chart: {
      //         type: 'pie'
      //     },
      //     plotOptions: {
      //         series: {
      //             dataLabels: {
      //                 enabled: true,
      //                 format: '{point.name}: {point.y:.1f}%'
      //             }
      //         }
      //     },

      //     tooltip: {
      //         headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
      //         pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
      //     },

      //     series: [
      //         {
      //             name: "Asset",
      //             colorByPoint: true,
      //             data: [
      //                 {
      //                     name: "Assets",
      //                     y: <?php echo $this->percentasset ?>,
      //                     drilldown: "Assets"
      //                 },
      //                 {
      //                     name: "Deposito",
      //                     y: <?php echo $this->percentdepo ?>,
      //                     drilldown: "Deposito"
      //                 },
      //                 {
      //                     name: "Loan",
      //                     y: <?php echo $this->percentloan ?>,
      //                     drilldown: "Loan"
      //                 }
      //             ]
      //         }
      //     ],
      //     drilldown: {
      //         series: [
      //             {
      //                 name: "Assets",
      //                 id: "Assets",
      //                 data: 
      //                     dchart

      //             },
      //             {
      //                 name: "Deposito",
      //                 id: "Deposito",
      //                 data: depod
      //             },
      //             {
      //                 name: "Loan",
      //                 id: "Loan",
      //                 data: loand
      //             }
      //         ]
      //     }
      // });


      <?php if (!empty($this->cashin)) { ?>
        let cashin = JSON.parse('<?php echo json_encode($this->cashin) ?>');
      <?php } else { ?>
        let cashin = '';
      <?php } ?>

      <?php if (!empty($this->cashin)) { ?>
        let cashout = JSON.parse('<?php echo json_encode($this->cashout) ?>');
      <?php } else { ?>
        let cashout = '';
      <?php } ?>

      <?php if (!empty($this->everage)) { ?>
        let everage = JSON.parse('<?php echo json_encode($this->everage) ?>');
      <?php } else { ?>
        let everage = '';
      <?php } ?>

      <?php if (!empty($this->month)) { ?>
        let month = JSON.parse('<?php echo json_encode($this->month) ?>');
      <?php } else { ?>
        let month = '';
      <?php } ?>
      //let cashout = JSON.parse('<?php echo json_encode($this->cashout) ?>');
      //let everage = JSON.parse('<?php echo json_encode($this->everage) ?>');
      //let month = JSON.parse('<?php echo json_encode($this->month) ?>');
      <?php
      // if (!$this->widget2) { 
      if ($this->widget1 == "hide") {
      ?>
        Highcharts.chart('graph', {
          chart: {
            type: 'column'
          },
          title: {
            text: 'Cashflow Forecast Chart'
          },
          xAxis: {
            categories: month
          },
          yAxis: {
            min: -30000000,
            title: {
              text: 'IDR'
            }
          },
          tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
          },
          plotOptions: {
            column: {
              stacking: 'normal'
            }
          },
          series: [{
            name: 'Cash In',
            data: cashin
          }, {
            name: 'Cash Out',
            data: cashout
          }, {
            type: 'spline',
            name: 'Average',
            data: everage,
            marker: {
              lineWidth: 2,
              lineColor: Highcharts.getOptions().colors[3],
              fillColor: 'white'
            }
          }]
        });
      <?php  } ?>

      $('i.fa-trash-alt').on('click', function(event) {
        //alert(event.target.id);
        var tag = '#widget' + event.target.id;
        $(tag).animate({
          padding: "0px",
          'margin-left': '-10px',
          'font-size': "0px"
        }, 500, function() {

          $(tag).remove();
        });

        $.ajax({

          url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'hidedash'), null, true) ?>",
          type: 'GET',
          data: {
            id: event.target.id
          },
          beforeSend: function() {
            // console.log(event.target.id);
          },
          success: function() {
            // console.log(event.target.id);
          }
        });


      });


      $('i.fa-circle-notch').on('click', function(event) {
        var tag = '#inquiry-' + event.target.id;
        $.ajax({

          url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiry'), null, true) ?>",
          type: 'GET',
          data: {
            id: event.target.id,
            data: event.target.data
          },

          beforeSend: function() {},
          success: function(data) {
            $(tag).html(data);
          },
        });
      });

      $(document).ready(function() {
        $('a.delete').click(function(e) {
          e.preventDefault();
          var el = this;
          var id = this.id;
          var splitid = id.split("_");

          // Delete id
          var deleteid = splitid[1];

          var parent = $(this).parent();
          // alert(deleteid);
          // alert(JSON.stringify(parent, null, 4));
          $.ajax({

            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'column'), null, true) ?>",
            type: 'GET',
            data: {
              id: deleteid
            },
            // dataType: "html",
            // data: {

            // data: 'ajax=1&report=' + parent.attr('id').replace('report-',''),
            beforeSend: function() {
              parent.animate({
                'backgroundColor': '#fb6c6c'
              }, 300);
            },
            success: function() {
              parent.slideUp(300, function() {
                $('#report-' + deleteid).remove();
                parent.remove();
              });
            }
          });
        });



      });


      // var grid = new Muuri('.grid', {
      //    layout: {fillGaps: true},
      //    dragEnabled: true,
      //    layoutOnInit: false,
      //    sortData: {
      //      id: function (item, element) {
      //        return parseFloat(element.getAttribute('data-id'));
      //      }
      //    },
      //    dragSortPredicate: {
      //      threshold: 50,
      //      action: 'swap'
      //    }
      //  });
      // grid.sort('id');
      initGrid();

      function initGrid() {
        var grid = new Muuri('.grid', {
          dragEnabled: true,
          layoutOnInit: false
        }).on('move', function() {
          saveLayout(grid);
        });

        var layout = window.localStorage.getItem('layout');
        if (layout) {
          loadLayout(grid, layout);
        } else {
          grid.layout(true);
        }
      }

      function serializeLayout(grid) {
        var itemIds = grid.getItems().map(function(item) {
          return item.getElement().getAttribute('data-id');
        });
        return JSON.stringify(itemIds);
      }

      function saveLayout(grid) {
        var layout = serializeLayout(grid);
        window.localStorage.setItem('layout', layout);
      }

      function loadLayout(grid, serializedLayout) {
        var layout = JSON.parse(serializedLayout);
        var currentItems = grid.getItems();
        var currentItemIds = currentItems.map(function(item) {
          return item.getElement().getAttribute('data-id')
        });
        var newItems = [];
        var itemId;
        var itemIndex;

        for (var i = 0; i < layout.length; i++) {
          itemId = layout[i];
          itemIndex = currentItemIds.indexOf(itemId);
          if (itemIndex > -1) {
            newItems.push(currentItems[itemIndex])
          }
        }

        grid.sort(newItems, {
          layout: 'instant'
        });
      }

  });

  $(document).ready(function() {
    // $('.customer-logos').slick({
    //   slidesToShow: 4,
    //   slidesToScroll: 1,
    //   autoplay: true,
    //   autoplaySpeed: 1000,
    //   arrows: false,
    //   dots: false,
    //     pauseOnHover: false,
    //     responsive: [{
    //     breakpoint: 768,
    //     settings: {
    //       slidesToShow: 3
    //     }
    //   }, {
    //     breakpoint: 520,
    //     settings: {
    //       slidesToShow: 2
    //     }
    //   }]
    // });
  });
</script>



<style type="text/css">
  .grid {
    position: relative;
  }

  .item {
    display: block;
    position: absolute;
    /*  width: 330px;
      height: 360px;*/
    margin: 5px;
    z-index: 1;
    background: #FFFFFF;
    /*color: #fff;*/
  }

  .item.muuri-dragging {
    z-index: 3;
  }

  .item.muuri-releasing {
    z-index: 2;
  }

  .item.muuri-hidden {
    z-index: 0;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .labelkurs {
    width: 26px;
    height: 17px;
    font-family: SegoeUI;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .labelrate {
    width: 38px;
    height: 21px;
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .labelup {
    width: 23px;
    height: 16px;
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #005587;
  }

  .Rectangle {

    width: 143px;

    height: 93px;

    opacity: 0.22;

    border-radius: 17px;

    background-color: #408b23;

  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }

  .slick-list:focus {
    outline: none;
  }

  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
  }

  .slick-track:before,
  .slick-track:after {
    display: table;

    content: '';
  }

  .slick-track:after {
    clear: both;
  }

  .slick-loading .slick-track {
    visibility: hidden;
  }

  .slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
  }

  [dir='rtl'] .slick-slide {
    float: right;
  }

  .slick-slide img {
    display: block;
  }

  .slick-slide.slick-loading img {
    display: none;
  }

  .slick-slide.dragging img {
    pointer-events: none;
  }

  .slick-initialized .slick-slide {
    display: block;
  }

  .slick-loading .slick-slide {
    visibility: hidden;
  }

  .slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }

  .slick-arrow.slick-hidden {
    display: none;
  }


  *.-morulus-customsb {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  *.-morulus-customsb>figure:first-child {
    margin: 0px !important;
    position: absolute;
    right: 4px !important;
    width: 4px !important;
    height: 100px;
    background-color: black;
  }

  *.-morulus-customsb>*:last-child {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-right: 20px;
  }

  @media (max-width: 1000px) {
    div.exch {
      max-width: 100%;
    }
  }
</style>
<form action="" method="POST" name="testForm" class="blur">

  <div class="grid">
    <div class="item row no-gutters content-box quick-menu col-3" style="display: none;">
      <div class="item-content" style="display:none">
        <div class="col-md-12 py-4" align="center">
          <a href="/multiaggregation/index/indextest" class="textTheme" style="text-decoration:none;">
            <!-- <i class="fa fa-money-check-alt" style="font-size:3rem;"></i> -->
            <?php if ($this->theme == "blue") { ?>
              <img src="/images/bluetheme/money-check-alt.png" style="margin-bottom:5px;" width="62" alt="">
            <?php } else if ($this->theme == "green") { ?>
              <img src="/images/greentheme/money-check-alt.png" style="margin-bottom:5px;" width="62" alt="">
            <?php } else if ($this->theme == "dark") { ?>
              <img src="/images/darkmodetheme/money-check-alt.png" style="margin-bottom:5px;" width="62" alt="">
            <?php } ?>
            <br />
            <span class="textGray"><?= $this->language->_('360 BALANCE OVERVIEW') ?></span>
          </a>
        </div>
      </div>
    </div>

    <div class="item row no-gutters content-box quick-menu col-3" style="max-width: 23.77%!important;display:none">
      <div class="item-content">
        <div class="col-md-12 py-4" align="center">
          <a href="/tools/submissionreport" class="textTheme" style="text-decoration:none;"><i class="fa fa-folder-open" style="font-size:3rem;"></i><br />
            <span class="textGray"><?= $this->language->_('FILE SHARING') ?></span>
          </a>
        </div>
      </div>
    </div>

    <div class="item row no-gutters content-box quick-menu col-3" style="max-width: 23.77%!important;display:none">
      <div class="item-content">
        <div class="col-md-12 py-4" align="center">
          <a href="/management/companydetail" class="textTheme" style="text-decoration:none;"><i class="fa fa-money-check" style="font-size:3rem;"></i><br />
            <span class="textGray"><?= $this->language->_('COMPANY DETAIL') ?></span>
          </a>
        </div>
      </div>
    </div>

    <div class="item row no-gutters content-box quick-menu col-3" style="max-width: 23.77%!important;display:none">
      <div class="item-content">
        <div class="col-md-12 py-4" align="center">
          <a href="/help" class="textTheme" style="text-decoration:none;"><i class="fa fa-book" style="font-size:3rem;"></i><br />
            <span class="textGray"><?= $this->language->_('USER GUIDE') ?></span>
          </a>
        </div>
      </div>
    </div>


    <?php if (!$this->widget2 && false) { ?>
      <div class="item row no-gutters content-box col-12" data-id="2" id="widget2">
        <div class="item-content">
          <div class="col-md-12">
            <!-- Section Header -->
            <div class="row no-gutters">

              <div class="col-sm-12 col-md-2">
                <h4>Accounts</h4>
              </div>

              <div class="col-md-9">
                <div class="row no-gutters">
                  <div class="col-sm-12 col-md-6">
                    <div id="accDropdown">
                      <button class="btn dropdown-toggle menu-button other-dropdown" type="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:80%">
                        All <i class="fa fa-angle-down pl-1"></i>
                      </button>
                      <div class="dropdown-menu acc-dropdown" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="#" bal=""> All</a>
                        <?php $x = 0;
                        //echo '<pre>';
                        //var_dump($this->accountList);die; 
                        if (!empty($this->accountList)) {
                          foreach ($this->accountList as $row) {
                            //  if ($x > 0) {
                            // for ($i = $x; $i >= 0; $i--) {
                            // if ($row == $this->accountList[$i]) {
                            //   continue;
                            if ($row['acct_name'] == '') {
                              $row['acct_name'] = '-';
                            }

                            // } else { 
                        ?>

                            <a class="dropdown-item" href="#" bal="<?= $row['balance'] ?>">[<?= $row['acct_ccy'] ?>] <?= $row['ACCT_NO'] ?> (<?= $row['acct_name'] ?>)</a>
                            <? php // }
                            //  }
                            //} else { 
                            ?>
                            <!-- <a class="dropdown-item" href="#" bal="<?= $row['balance'] ?>">[<?= $row['acct_ccy'] ?>] <?= $row['ACCT_NO'] ?> (<?= $row['acct_name'] ?>)</a> -->

                        <?php
                            //  $x++;
                            // }
                          }
                        } ?>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <div id="perDropdown">
                      <button class="btn dropdown-toggle menu-button other-dropdown" type="button" id="periodDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Daily <i class="fa fa-angle-down pl-3"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="periodDropdown">
                        <a class="dropdown-item" href="#">Weekly</a>
                        <a class="dropdown-item" href="#">Monthly</a>
                        <a class="dropdown-item" href="#">Yearly</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-1" align="right">
                <div id="2" class="detail-ellipsis"><i id="2" class="fa fa-trash-alt"></i></div>
              </div>
            </div>
            <!-- Section Header End -->

            <!-- Section Content Left -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-6 mb-3">
                <div id="chartContainer">

                </div>

                <div>

                  <div class="row no-gutters">
                    <div class="col-9 balance"><strong>Total Balance Rp 1.563.245.000,00</strong></div>
                    <div class="col-3"><a href="#" id="backButton" class="btn menu-button other-button invisible">Back</a></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div id="graph">

                </div>

              </div>
            </div>
            <!-- Section Content Left End -->
          </div>

        </div>
      </div>
    <?php }  ?>

    <?php if (!$this->widget7 && false) { ?>
      <div class="item row no-gutters no-gutter-left content-box col-12" data-id="7" id="widget7" style="width:100%;">
        <div class="item-content">
          <div class="col-md-12">
            <div class="row no-gutters">
              <div class="col-md-12">

                <!-- Section Header -->
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <h4>Credit Cards</h4>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <div class="dropdown" id="cardDropdown">
                      <button class="btn dropdown-toggle menu-button other-dropdown px-3" type="button" id="crdDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/permatalayout/assets/newlayout/img/mastercard.png" width="30" /><strong>5473 68** **** 0900</strong> <i class="fa fa-angle-down pl-2"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="crdDropdown">
                        <a class="dropdown-item" href="#"><img src="/assets/permatalayout/assets/newlayout/img/mastercard.png" width="30" /> 5473 68** **** 0900</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-1" align="right">
                    <div id="7" class="detail-ellipsis"><i id="7" class="fa fa-trash-alt"></i></div>
                  </div>
                </div>
                <!-- Section Header Ends -->

                <!-- Section Content -->
                <div class="row no-gutters mt-3">
                  <div class="col-sm-12 col-md-5">
                    <img src="/assets/themes/assets/newlayout/img/creditcard.png" style="padding-top: -35px;margin-top: -80px; margin-bottom:-65px">
                    <div class="card" style="display: none">
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__front-logo card__logo" src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/visa.png" style="height: 40px;">
                        <p class="card_numer">**** **** **** 6258</p>
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">Yose Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                          <p class="card__info">10/25</p>
                        </div>
                      </div>

                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">

                        </div>
                      </div>

                    </div>
                    <div class="my-4">
                      <a class="btn add-button" href="/tools/corporatecc/add">Apply Now</a>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-7 pl-2 table-responsive">
                    <table class="table table-row-border">
                      <tr>
                        <td class="sub-text">Credit Available</td>
                        <td align="right"><strong>Rp 19.825.470,00</strong></td>
                      </tr>
                      <tr>
                        <td class="sub-text">Remaining Credit</td>
                        <td align="right"><strong>Rp 18.765.270,00</strong></td>
                      </tr>
                      <tr>
                        <td class="sub-text">Minimum Payment</td>
                        <td align="right">
                          <strong>Rp 100.000,00</strong>
                          <div><a class="btn action-button" href="<?= $this->url(array('module' => 'payment', 'controller' => 'creditcard', 'action' => 'index', 'amount' => '100000', 'provInquiry' => 'N', 'orderId' => '5473684578640900', 'minPay' => '1'), null, true); ?>">Pay</a></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="sub-text">Total Bill</td>
                        <td align="right">
                          <strong>Rp 1.060.200,00</strong>
                          <div><a class="btn action-button" href="<?= $this->url(array('module' => 'payment', 'controller' => 'creditcard', 'action' => 'index', 'amount' => '1060200', 'provInquiry' => 'N', 'orderId' => '5473684578640900', 'totalPay' => '1'), null, true); ?>">Pay</a></div>
                        </td>
                      </tr>
                    </table>
                    <div style="text-align:right;"><a href="#" class="detail-link">More detail</a></div>
                  </div>
                </div>
                <!-- Section Content Ends -->

              </div>
            </div>
          </div>
        </div>
      </div>
    <?php }
    if (!$this->widget5 && false) { ?>
      <div class="item row no-gutters content-box col-6 exch" style="max-width: 56" data-id="5" id="widget5">
        <div class="item-content">
          <div class="col-md-12">

            <!-- Section Header -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-10">
                <h4>Exchange Rate</h4>
              </div>

              <div class="col-sm-12 col-md-2" align="right">
                <div id="5" class="detail-ellipsis"><i id="5" class="fa fa-trash-alt"></i></div>
              </div>
            </div>
            <!-- Section Header Ends -->


            <!-- Section Content -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" rowspan="2">Curency</th>
                  <th scope="col" colspan="2">e_rate</th>
                  <th scope="col" colspan="2">TT Counter</th>
                </tr>
                <tr>

                  <th scope="col">Buy</th>
                  <th scope="col">Sell</th>
                  <th scope="col">Buy</th>
                  <th scope="col">Sell</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">USD</th>
                  <td>14,551.00</td>
                  <td>14,535.00</td>
                  <td>14,551.00</td>
                  <td>14,535.00</td>
                </tr>
                <tr>
                  <th scope="row">SGD</th>
                  <td>10,632.36</td>
                  <td>10,532.36</td>
                  <td>10,632.36</td>
                  <td>10,532.36</td>
                </tr>
                <tr>
                  <th scope="row">EURO</th>
                  <td>16,667.46</td>
                  <td>16,567.46</td>
                  <td>16,667.46</td>
                  <td>16,567.46</td>
                </tr>
                <tr>
                  <th scope="row">AUD</th>
                  <td>10,528.42</td>
                  <td>10,428.42</td>
                  <td>10,528.42</td>
                  <td>10,428.42</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    <?php }  ?>
    <?php if ($this->widget3 && false) { ?>
      <div class="item row no-gutters content-box col-6 " style="max-width: 56%!important" data-id="3" id="widget3">
        <div class="item-content">
          <div class="col-md-12">

            <!-- Section Header -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-10">
                <h4>Approval</h4>
              </div>

              <div class="col-sm-12 col-md-2" align="right">
                <div id="3" class="detail-ellipsis"><i id="3" class="fa fa-trash-alt"></i></div>
              </div>
            </div>
            <!-- Section Header Ends -->


            <!-- Section Content -->
            <div class="row no-gutters row-app" id="approve" style=" height: 275px; overflow-y: scroll;display: block!important;">
              <?php
              if (!empty($this->waitingApproval)) {
                foreach ($this->waitingApproval as $row) {
              ?>
                  <div class="row no-gutters">
                    <div class="col-12 report-box">
                      <div class="row no-gutters">
                        <div class="col-sm-12 col-md-8 pl-2">
                          <strong><?= $this->language->_($row['payType']) ?></strong><br />
                          <?= $row['paySubj'] ?>
                        </div>
                        <div class="col-sm-12 col-md-4 pl-1">
                          <?php
                          require_once 'Crypt/AESMYSQL.php';
                          $AESMYSQL = new Crypt_AESMYSQL();
                          $rand = $this->token;
                          $encrypted_pwd = $AESMYSQL->encrypt($row['payReff'], $rand);
                          // $dt["payReff"] = urlencode($encrypted_pwd);
                          $encreff = urlencode($encrypted_pwd);
                          ?>
                          <a class="btn action-button" href="<?= $this->url(array('module' => 'paymentworkflow', 'controller' => 'approval', 'action' => 'index', 'payReff' => $encreff), null, true) ?>"><?= $this->language->_('Detail') ?></a>
                        </div>
                      </div>
                    </div>
                  </div>
                <?php
                }
              } else {
                ?>
                <div class="row no-gutters">
                  <div class="col-12 report-box">
                    <div class="row no-gutters">
                      <div class="col-sm-12" style="text-align: center;font-weight: bold;">-- <?= $this->language->_('No Transaction is Awaiting Approval') ?> --</div>
                    </div>
                  </div>
                </div>
              <?php } ?>
            </div>
          </div>

        </div>
      </div>
    <?php }  ?>
    <?php
    if (!$this->widget4 && false) { ?>
      <div class="item row no-gutters no-gutter-left content-box col-5" data-id="4" id="widget4">
        <div class="item-content">
          <div class="col-md-12">

            <!-- Section Header -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-10">
                <h4>Reports</h4>
              </div>

              <div class="col-sm-12 col-md-2" align="right">
                <div id="4" class="detail-ellipsis"><i id="4" class="fa fa-trash-alt"></i></div>
              </div>
            </div>
            <!-- Section Header Ends -->

            <?php if (!empty($this->reportlist)) { ?>
              <!-- Section Content -->
              <div class="row no-gutters" style=" height: 275px; overflow-x: scroll;display: block!important;">
                <?php foreach ($this->reportlist as $key => $value) {
                  # code...


                ?>
                  <div class="row no-gutters" id="<?php echo 'report-' . $value['CODE']; ?>">
                    <div id="muncul"></div>
                    <!-- <div class="col-12 report-box">
                      <div class="row no-gutters">
                        
                         <div class="col-sm-12 col-md-9 pl-2">
                          <strong><?php echo $value['REPORT_NAME']; ?></strong><br />
                          <?php
                          $colomn = '';
                          foreach ($this->colomnlist as $numb => $val) {
                            if ($val['COLM_REPORD_ID'] == $value['ID'])
                              $colomn .= $val['COLM_NAME'] . ', ';
                          }
                          if (strlen($colomn) >= 50) {
                            echo substr(rtrim($colomn, ', '), 0, 50);
                            echo '...';
                          } else {
                            echo rtrim($colomn, ', ');
                          }
                          ?>
                        </div> 
                       <div class="col-sm-12 col-md-3">
                          <a class="btn action-button" href="/reportcrm/reportview/index/report/<?php echo $value['CODE']; ?>"><i class="fa fa-eye"></i></a>&nbsp;
                          <a class="btn action-button" href="/reportcrm/reportview/index/report/<?php echo $value['CODE']; ?>/pdf/2"><i class="fa fa-download"></i></a>
                          <a class="btn action-button delete" href="/reportcrm/reportdelete/index/report/<?php echo $value['CODE']; ?>" id="report_<?php echo $value['CODE']; ?>" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash-alt"></i></a>
                        </div> 
                      </div>
                    </div> -->
                  </div>
                <?php

                }
                ?>
              </div>
            <?php
            } else {
            ?>
              <div class="row no-gutters">
                <div class="col-12 report-box">
                  <div class="row no-gutters">
                    <div class="col-sm-12" style="text-align: center;font-weight: bold;">-- <?= $this->language->_('No Account') ?> --</div>
                  </div>
                </div>
              </div>

            <?php
            }

            ?>



            <!-- Section Content Ends -->
          </div>

        </div>
      </div>
    <?php } ?>
    <?php if (!$this->widget6 && false) { ?>
      <div class="item row no-gutters no-gutter-left content-box col-5" data-id="6" id="widget6" style="display:none">
        <div class="item-content">
          <div class="col-md-12">

            <!-- Section Header -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-10">
                <h4>Top 5 Account</h4>
              </div>

              <div class="col-sm-12 col-md-2" align="right">
                <div id="6" class="detail-ellipsis"><i id="6" class="fa fa-trash-alt"></i></div>
              </div>
            </div>
            <!-- Section Header Ends -->


            <!-- Section Content -->
            <div class="row no-gutters" id="top5" style=" height: 275px; overflow-y: scroll;display: block!important;">
              <?php
              $x = 0;
              if (!empty($this->accountList)) {
                foreach ($this->accountList as $key => $row) {
              ?>
                  <?php
                  if ($x > 0) {
                    for ($i = $x; $i >= 0; $i--) {
                      if ($row == $this->accountList[$i]) {
                        continue;
                      } else { ?>
                        <div class="row no-gutters">
                          <div class="col-12 report-box">
                            <div class="row no-gutters">
                              <div class="col-sm-7 col-md-7 pl-2">


                                <a class="" href="/accountstatement/viewreport/view/ACCTSRC/<?= $row['acct_no'] ?>/periodtype/today" bal="<?= $row['balance'] ?>">[<?= $row['acct_ccy'] ?>] <?= $row['acct_no'] ?> (<?= $row['acct_name'] ?>)</a>

                              </div>
                              <div class="col-sm-5 col-md-5 pl-2" style="text-align: right;padding-right: 15px;">

                                <label style="text-align: right" id='inquiry-<?= $row['acct_no'] ?>'><?php echo Application_Helper_General::displayMoney($val['balance']); ?></label>
                                <i id="<?= $row['acct_no'] ?>" data="<?= $row['acct_ccy'] ?>" class="fa fa-circle-notch"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                    <?php }
                    }
                  } else { ?>
                    <div class="row no-gutters">
                      <div class="col-12 report-box">
                        <div class="row no-gutters">
                          <div class="col-sm-7 col-md-7 pl-2">


                            <a class="" href="/accountstatement/viewreport/view/ACCTSRC/<?= $row['acct_no'] ?>/periodtype/today" bal="<?= $row['balance'] ?>">[<?= $row['acct_ccy'] ?>] <?= $row['acct_no'] ?> (<?= $row['acct_name'] ?>)</a>

                          </div>
                          <div class="col-sm-5 col-md-5 pl-2" style="text-align: right;padding-right: 15px;">

                            <label style="text-align: right" id='inquiry-<?= $row['acct_no'] ?>'><?php echo Application_Helper_General::displayMoney($val['balance']); ?></label>
                            <i id="<?= $row['acct_no'] ?>" data="<?= $row['acct_ccy'] ?>" class="fa fa-circle-notch"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                  <?php
                    $x++;
                  } ?>
                  <!-- <div class="row no-gutters">
                    <div class="col-12 report-box">
                      <div class="row no-gutters">
                        <div class="col-sm-7 col-md-7 pl-2">
                          
                            
                            <a class="" href="/accountstatement/viewreport/view/ACCTSRC/<?= $row['acct_no'] ?>/periodtype/today" bal="<?= $row['balance'] ?>">[<?= $row['acct_ccy'] ?>] <?= $row['acct_no'] ?> (<?= $row['acct_name'] ?>)</a>
                            
                        </div>
                        <div class="col-sm-5 col-md-5 pl-2" style="text-align: right;padding-right: 15px;">
                        
                            <label style="text-align: right" id='inquiry-<?= $row['acct_no'] ?>' ><?php echo Application_Helper_General::displayMoney($val['balance']); ?></label>
                            <i  id="<?= $row['acct_no'] ?>" data="<?= $row['acct_ccy'] ?>" class="fa fa-circle-notch"></i>
                        </div>
                      </div>
                    </div>
                  </div> -->
                <?php

                }
              } else {
                ?>
                <div class="row no-gutters">
                  <div class="col-12 report-box">
                    <div class="row no-gutters">
                      <div class="col-sm-12" style="text-align: center;font-weight: bold;">-- <?= $this->language->_('No Account') ?> --</div>
                    </div>
                  </div>
                </div>
              <?php } ?>
            </div>
          </div>

        </div>
      </div>
    <?php } ?>

    <?php if (!$this->widget1 && false) { ?>
      <!-- <div class="item row no-gutters content-box col-12" data-id="1" id="widget1" style="display:none;">
        <div class="col-12">

          
          <div class="row no-gutters" style="padding-bottom: 9px;">
            <div class="col-11">
              <strong>Currency</strong><span style="sub-text">Exchange</span>
            </div>
            <div class="col-md-1" align="right">
              <div id="1" class="detail-ellipsis"><i id="1" class="fa fa-trash-alt"></i></div>
            </div>
          </div>

          
          <div class="">
            <div class="row no-gutters customer-logos" style="height: 109px !important;">
              <?php
              foreach ($this->kurslist as $key => $val) { ?>
                <div class="col-2 report-box slider " style="margin-left: 10px;flex: 0 0 18%;max-width: 18%;">
                  <table class="col-12" style="width: 80%;margin-left: 20px;">
                    <tr>
                      <td> <label class="labelkurs"><?php echo $val['KURS_CCY']; ?></label> </td>
                      <td rowspan="2">
                        <?php if ($val['KURS_GRAPH'] == '1') {
                          echo '<img src="/images/upper.PNG">';
                        } else {
                          echo '<img src="/images/upper.PNG">';
                        }
                        ?>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="labelrate"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="text-align: left">
                        <?php if ($val['KURS_GRAPH'] == '1') { ?>
                          <label class="labelup"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                        <?php } else if ($val['KURS_GRAPH'] == '2') { ?>
                          <label class="labelup"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                        <?php } else { ?>
                          <label class="labelup"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                        <?php } ?>
                      </td>
                    </tr>
                  </table>
                </div>
              <?php } ?>
            </div>
          </div>
        </div>
      </div> -->
    <?php }  ?>

    <?php if ($this->widget1 != "hide") { ?>
      <div class="item row no-gutters content-box col-12" data-id="8" id="widget1" style="width:100%;">
        <div class="item-content">
          <div class="col-md-12">
            <!-- Section Header -->
            <div class="row no-gutters">

              <div class="col-sm-12 col-md-4">
                <h4>Bank Garansi</h4>
              </div>

              <div class="col-md-8" align="right" style="display:none">
                <div id="8" class="detail-ellipsis"><i id="8" class="fa fa-trash-alt"></i></div>
              </div>

            </div>
            <!-- Section Header End -->

            <!-- Section Content Left -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-6 mb-3">
                <div id="chartContainer2">

                </div>

              </div>
              <div class="garis_verikal"></div>

              <div class="col-sm-12 col-md-6 mb-3">
                <div id="chartContainer3">

                </div>

              </div>
            </div>
            <!-- Section Content Left End -->
          </div>
        </div>
      </div>
    <?php }  ?>

    <?php if (!$this->widget9 && false) { ?>
      <div class="item row no-gutters content-box col-12" data-id="9" id="widget9" style="width:100%;">
        <div class="item-content">
          <div class="col-md-12">
            <!-- Section Header -->
            <!-- Section Header -->
            <div class="row no-gutters">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h4><?= $this->language->_('Budget Realization'); ?></h4>
                    <div id="testi"></div>
                  </div>
                  <div class="col-sm-2" style="padding-top:6px;" align="right"><b>Tahun Anggaran</b>
                  </div>
                  <div class="col-sm-2" align="right">
                    <div id="brDropdown" class="">
                      <button class="btn dropdown-toggle menu-button other-dropdown" type="button" id="brDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:80%">2021 <i class="fa fa-angle-down pl-2"></i></button>
                      <div class="dropdown-menu bg-dropdown" aria-labelledby="brDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(15px, 29px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="#" bal="2021"> 2021</a>
                        <a class="dropdown-item" href="#" bal="2020"> 2020</a>
                        <a class="dropdown-item" href="#" bal="2019"> 2019</a>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1" align="right">
                    <div id="8" class="detail-ellipsis"><i id="8" class="fa fa-trash-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Section Header End -->

            <!-- Section Content Left -->
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-6 mb-3">
                <b id="totalAnggaran" style="padding-left:32px;"></b>
                <div id="chartContainer4">

                </div>
              </div>
              <div class="garis_verikal"></div>

              <div class="col-sm-12 col-md-6 mb-3">
                <b id="totalSP2D" style="padding-left:32px;"></b>
                <div id="chartContainer5">

                </div>

              </div>
            </div>
            <!-- Section Content Left End -->
          </div>

        </div>
      </div>
    <?php } ?>

    <?php
    // if ($this->widget2 == "hide" && $this->widget7 == "hide" && $this->widget5 == "hide" && $this->widget4 == "hide" && $this->widget8 == "hide" && $this->widget9 == "hide") { 
    if ($this->widget1 == "hide") {
    ?>
      <div class="row">
        <div class="container">
          <BR>
          <div class="row justify-content-center">
            <BR>
            <!-- <h3>Selamat Datang</h3> -->

          </div>
          <div class="row justify-content-center" style="margin-top: 100px; margin-bottom: 100px; text-align: center; padding-horizontal: 10%;">
            <h5><?php echo $this->language->_($this->note) ?></h5>
          </div>
          <!-- <div class="row justify-content-center">
            <h3>Bpk/Ibu <?php echo $auth->userNameLogin; ?></h3>
          </div> -->
          <BR>
          <div class="row justify-content-center">
            <div class="clearfix"> <img src="<?= $this->baseUrl('../images/logo/logo-btn.png') ?>" width="400"> </div>
          </div>

        </div>
        <!-- <h3 style=" text-align: center;">Selamat Datang di Halaman Dashboard</h3> -->
        <!-- <p class="text-center">Center aligned text on all viewport sizes.</p> -->


        <div class="container">
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
        </div>
      </div>
    <?php } ?>


  </div>
  <!-- Center Section -->

  <!-- Credit Card & Report -->


</form>
<!-- Credit Card & Report -->
<!-- Center Section -->


<script>
  $(document).ready(function() {
    var defBal = "<?= $this->accountList[0]['balance'] ?>";
    $('.balance').html('<strong>' + defBal + '</strong>');

    $('.acc-dropdown a').click(function() {
      $(this).parents('#accDropdown').find('.btn').html($(this).text() + ' <i class="fa fa-angle-down pl-1"></i>');
      $('.balance').html('<strong>' + $(this).attr('bal') + '</strong>');
    });

  });
</script>

<script type="text/javascript">
  // $.ajax({
  //           url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'totalbudget')) ?>",
  //           type: 'GET',
  //           dataType: "JSON",
  //           data: {
  //               tahun: ptahun
  //             },



  //           success: function(data) {
  //              console.log("tes");
  //              console.log(data);





  //     }

  // });
</script>