<?php
if (Zend_Registry::isRegistered('language')) {
	$language = Zend_Registry::get('language');
}

?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('View Own Activity Report'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?=$this->language->_('View Own Activity Report')?></h5>

		<?php
		$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
		?>

		<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'be-activity'),null,true)?>" method="get">
			<table cellpadding="3" cellspacing="0" border="0">
				<tr>
					<th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('FROM',$this->language->_('From')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">
						<?php
						echo $this->datePicker("fDateFrom", $this->fDateFrom, array('dateFormat' => $this->jqueryDateFormat,
							'defaultDate' => 'new Date()',
							'chageMonth' => 'true',
							'changeYear' => 'true',
							'clearAnotherField' => 'true',
							'anotherField' => 'fDateFrom',
							'minDateID' => 'fDateFrom'));
							?>

							<script>
								$('#fDateFrom').datepicker({
									maxDate: function() {
										var date = new Date();
										date.setDate(date.getDate());
										return new Date(date.getFullYear(), date.getMonth(), date.getDate());
									},
									format: 'dd/mm/yyyy',
									uiLibrary: 'bootstrap4',
								});
							</script>
						</td>

						<td class="tbl-evencontent"><?php echo $this->formLabel('fDateTo',$this->language->_('To')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">
							<?php
							echo $this->datePicker("fDateTo", $this->fDateTo, array('dateFormat' => $this->jqueryDateFormat,
								'defaultDate' => 'new Date()',
								'chageMonth' => 'true',
								'changeYear' => 'true',
								'clearAnotherField' => 'true',
								'anotherField' => 'fDateTo',
								'minDateID' => 'fDateTo'));
								?>

								<script>
									$('#fDateTo').datepicker({
										minDate: function() {
											var val = document.getElementById('fDateFrom').value;
											var parts = val.split("/");
											console.log(parts);
											var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 
											mindate.setDate(mindate.getDate());
											return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
										},
										maxDate: function() {
											var date = new Date();
											date.setDate(date.getDate());
											return new Date(date.getFullYear(), date.getMonth(), date.getDate());
										},
										format: 'dd/mm/yyyy',
										uiLibrary: 'bootstrap4',
									});
								</script>
							</td>
						</tr>

						<tr>
							<td class="tbl-evencontent"><?php echo $this->formLabel('activity',$this->language->_('Activity Type')); ?></td>
							<td class="tbl-evencontent">:</td>
							<td class="tbl-evencontent" colspan="4"><select class="form-control col-md-12" name="SEARCH_ACTIVITY">
								<option value="">--- <?php echo $this->language->_('Any Value'); ?> ---</option>
								<?php foreach($this->activity as $key=>$value){?>
									<option value="<?php echo $key;?>" <?=($key==$this->active) ? 'selected' : ''?>><?php echo $this->language->_($value);?></option><?php }?>
									</select><?php 		//Zend_Debug::dump($this->activity); die;?>
								</td>
							</tr>
							<tr>
								<td colspan="6" align="left">
									<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array( 'class'=>'btngreen hov'))?>
									<?php //echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn'))?>
									<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'be-activity','clearfilter'=>'1'),null,true)?>'">
								</td>
							</tr>
						</table>
					</form>


				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<br />
					<div align="right">
						<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post">
							<!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?> -->
							<!-- <?php echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp; -->
							<!-- <?php }else{ ?> -->
							<!-- <?php echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov')); ?>&nbsp; -->
							<!-- <?php } ?> -->
							<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
								<!-- <?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp; -->
								<?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
							<?php }else{ ?>
								<!-- <?php echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov')); ?>&nbsp; -->
								<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
							<?php } ?>
							<!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
								echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
							}
							else{
								?>
								<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
								<?php
							}
							?> -->
						</form>
					</div>

					<br />
					<div class=table-responsive>
						<table  class="table table-sm table-striped">
							<tr>
								<th width="3%" valign="top" class="tablehead">No</th>
								<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
									'sortBy' => $this->sortBy,
									'sortDir' => $this->sortDir,
									'query_string_params' => $this->query_string_params
								)
							)?>
						</tr>
						<?php
						if(count($this->paginator) > 0){
							$i  = 0;
							$no = 1;
							$db = Zend_Db_Table::getDefaultAdapter();

							foreach($this->paginator as $row) {

								if($row['ACTIONDESC'] == 'CHCA' || $row['ACTIONDESC'] == 'ADCA'){
									$desc = substr($row['ACTION_FULLDESC'],0,26);	
								}else{
									$desc = $row['ACTION_FULLDESC'];	
								}
								$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

								$row_content = '<tr>
								<td class="'.$td_css.'">'.$counter.'</td>
								<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['LOG_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
								<td class="'.$td_css.'">'.$row['USER_ID'].'</td>
								<td class="'.$td_css.'">'.$row['USER_NAME'].'</td>
								<td class="'.$td_css.'">'.$row['ACTION_DESC'].'</td>
								<td class="'.$td_css.'">'.$desc.'</td>
								</tr>
								';
								echo $row_content;
								$i++;
								$counter++;
							}
						}
						else
						{
							echo '<tr><td colspan="9" class="tbl-evencontent" align="center">--- '.$this->language->_('No Data').' ---</td></tr>';
						}
						?>
					</table>
				</div>

				<br />
				<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>


			</div>
		</div>
