<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}

	/*form {
		display: none !important;
		visibility: hidden;
	}*/

	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}

	input.currency{ width: 200px; font-size: 10px; }
	ul { padding-left:10px; }
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
	b { font-weight:bold; font-size:11px }
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>

<!-- <script type="text/javascript">
.container {
	clear:both;
	border: 1px dashed gray;
	background-color:#f0f0f0;
	height: auto;
	padding: 8px;
}
</script> -->
<!-- <div class="row hidden" style="display:none">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Transaction Report'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Transaction Report'); ?>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
	                    <?php echo $this->language->_('Detail'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div> -->
<!-- <?if($this->pdf == false){?> -->
	<!-- <h5><?php echo $this->language->_('Transaction Detail'); ?></h5> -->
<!-- <?}else {?>
	<br /><h5><?php echo $this->language->_('Transaction Detail'); ?></h5>	<br />
<?}?> -->

<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<!-- <td valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td> -->
            <td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
			<td align="center" valign="middle"><strong><h5><?php echo $this->language->_('Transaction Detail'); ?></h5></strong></td>
			<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
		</tr>
</table>

<br>
<table cellpadding="3" cellspacing="0" border="0" class="tableform table-sm table-striped" width="100%">
	<?php
	// View Table Master Data
	//var_dump($this->tableMst);die;
	if (is_array($this->tableMst))
	{
		foreach($this->tableMst as $dataMst)
		{	
			if($dataMst["label"] == 'Payment Type'){
				$pstype=$dataMst["value"];
			}
		?>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent" nowrap="nowrap"><?php echo $this->language->_($dataMst["label"]); ?></td>
					<td class="tbl-evencontent" id="tbl-evencontent">:</td>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_($dataMst["value"]); ?></td>
			</tr>
<?php
		}
	}
	?>
</table>
<br />
<?php 
$ps_num = substr($this->transactionid, 0, -2);
// print_r($ps_num);die;
//var_dump($this->tableMst);
if($pstype == 'BG'){
echo $this->action('index',
							                                 'eformhistory',
							                                 'tools',
							                                 array('bgnumb' => $this->bgnumb));	
}else{
echo $this->action('index',
							                                 'paymenthistory',
							                                 'tools',
							                                 array('paymentref' => $ps_num));

}															 ?>
								
<br />
<br />

<?if($this->pdf == false){?>
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
		<!-- <?php
			require_once 'Crypt/AESMYSQL.php';
		        $AESMYSQL = new Crypt_AESMYSQL();
		        $rand = $this->token;
				$encrypted_trxid = $AESMYSQL->encrypt($this->transactionid, $rand);
         		$enctrxid = urlencode($encrypted_trxid); 

		// echo $this->formHidden('transactionid',$enctrxid); ?> -->

		<!-- <input type="submit" name="pdf" class="btngreen hov hidden" value="PDF"> -->
		<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa hidden">'; ?>&nbsp; -->
		<!-- <input class="btngreen hov hidden" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button"> -->
		<button class="btn-sm btngrad hov hidden" onclick="window.print();" type="button"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_('PRINT');?></button>
		<!-- <?php if(count($this->paginator)> 100) {
	      // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
	    }
	    else{
	    ?>
	      <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
	    <?php
	    }
	    ?> -->
</form>
<?}?>
<br />
<!-- 		END TRANSACTION INFORMATION					-->
