<?php 
require_once 'General/SystemBalance.php';
?>
<table border="0" cellpadding="0" cellspacing="0" width="100%"
	align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
						<?php
						if (!$this->isGroup) //jika tidak ada grup	
						{ 								
							echo '<table id="0" border="0" cellpadding="0" cellspacing="0" width="800px">
									<tr>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Account No').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Account Name').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Product Type').'</strong></th>';
							echo	'</tr>'; 
							$arr_value_tot_group =  array();
							$arr_display_tot_group =  array();
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$totalBalance = 0;
								foreach ( $this->resultdata as $row ) {
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									
									$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
									$systemBalance->setFlag(false);
									$systemBalance->checkBalance();
									
									if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
							          $arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
							        }
							        else {
							          $arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
							        }
									$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
									$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
									echo '	<tr>
												<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
												<td class="' . $td_css . '">' . $row ['ACCT_ALIAS_NAME'] . '</td>
												<td class="' . $td_css . '">' . $systemBalance->getCoreAccountName() . '</td>
												<td class="' . $td_css . '">' . $row ['CCY_ID'] . '</td>
												<td class="' . $td_css . '">' . $row ['ACCT_DESC'] . '</td>
												<td class="' . $td_css . '">'.$accountStatusModified.'</td>
										  		<td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>';
									echo	'</tr>'; 
									
									$i++;
								}
							} 
							else 
							{
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
							}
							
							if($arr_display_tot_group)
								$display_tot_group = implode("; ",$arr_display_tot_group);
							else
								$display_tot_group = '';
							echo '</table>';
							
						} 
						else //jika ada grup	
						{ 	
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$group = null;
								$arr_value_tot_group = array();
								
								
								$resultdataGroup =  array();
;								foreach ($this->resultdata as $rowGroup){
									$resultdataGroup[$rowGroup['GROUP_NAME']][] = $rowGroup; 
								}
								
								foreach ( $resultdataGroup as $groupname=>$rowPerGroup ) 
								{
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									$groupname = ($groupname) ? $groupname : 'OTHERS';
									
									echo '<br/><br /><b>' . $groupname . '</b><br /><table id="0" border="0" cellpadding="0" cellspacing="0" width="800px">										
												<tr>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Account No').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Product Type').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Plafond').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Outstanding').'</strong></th>';
									echo	'</tr>'; 
									
										if(count($rowPerGroup) > 0){
											$arr_value_tot_group =  array();
											foreach ($rowPerGroup as $row){
												
											$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
											$systemBalance->setFlag(false);
											$systemBalance->checkBalance();
												
												if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
													$arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
												}else{
													$arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
												}
												$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
												$model = new accountstatement_Model_Accountstatement();
												if($systemBalance->getCoreProductType() != NULL && $systemBalance->getCoreProductType() != 'N/A'){
													// 																		print_r($systemBalance->getCoreProductType());
													$product = $model->getProduct($systemBalance->getCoreProductType(),$row ['PRODUCT_CODE']);
													$product_name = $product['0']['PRODUCT_NAME'];
												}else{
													// 																		print_r('here1');
													$product_name = 'N/A';
												}
												$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
												echo '	<tr>
													<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
													<td class="' . $td_css . '">' . $product_name . '</td>
	 												<td class="' . $td_css . '">' . $row ['PLAFOND'] . '</td>
													<td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>';
												echo	'</tr>'; 
											}
										}else{
											echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
										}
							
										if($arr_display_tot_group)
											$display_tot_group = implode("; ",$arr_display_tot_group);
										else
											$display_tot_group = '';
										
									echo '</table>';
									$i++;
									$arr_value_tot_group =  array();	
									$arr_display_tot_group =  array();	
								} 
										
										
									
							} 
							else 
							{
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
							}
							
						}
			?>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
</td>
</tr>

<tr>
	<td>&nbsp;</td>
</tr>
</tbody>
</table>