<table border="0" cellpadding="0" cellspacing="0" width="100%"
	align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<table id='0' border='0' cellpadding='0' cellspacing='0' width='800px'>
								<tr>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Account No')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Product Type')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Plafond')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Outstanding')?></strong></th>
								</tr>
								<tr>
									<td class='tbl-oddcontent'>100345721001</td>
									<td class='tbl-oddcontent'>Pinjaman BJB</td>
									<td class='tbl-oddcontent'>100,000,000.00</td>
									<td class='tbl-oddcontent'>60,000,000.00</td>
								</tr>
								<tr>
									<td class='tbl-oddcontent'>1003457823004</td>
									<td class='tbl-oddcontent'>Pinjaman BJB</td>
									<td class='tbl-oddcontent'>150,000,000.00</td>
									<td class='tbl-oddcontent'>45,000,000.00</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>

<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>