<!--<html>
<div><img alt="LOGO-Header" src="/images/logo_bii.gif"></div>
</html>-->
<?php 
//parent::preDispatch($this->_request);
//$auth = Zend_Auth::getInstance();
	//if (!$auth->hasIdentity() && $this->_request->getControllerName()!=='login') {
	if (1!=1) {
		echo $this->language->_('Please login to access this facility');
	} else {
		echo $this->language->_('Menu');
	}
?>