<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>

<script type="text/javascript">
	function showPopUpWindow(pagesource)
	{
		var win = null;
	 	 var w = 765, h = 620;

		if (win && !win.close())
		{
			win.close();
		}

		LeftPosition=(screen.width)?(screen.width-w)/2:100;
		TopPosition=(screen.height)?(screen.height-h)/2:100;
		if($("input[name=benefType]:radio:checked").val() == 1){
			pagesource = pagesource;
		}
		else{
			var ccytemp = document.getElementById('CCY_HID').value;
			if(ccytemp != ""){
				pagesource = 'bankremittancepopup/index/currency/'+ccytemp;
			}else{
				pagesource = 'bankremittancepopup';
			}
			//pagesource =   'bankpopup';
			}
		settings='width=900,height=400,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
		win=window.open("/popup/"+pagesource,'sgo_popup_window',settings);
		win.focus();
	}

	function setCCY(){
		var ccy = document.getElementById('CURR_CODE').value;
		document.getElementById('CCY_HID').value = ccy;


		document.getElementById('BANK_NAME').value = "";
		document.getElementById('BENEFICIARY_BANK_CODE').value = "";
		document.getElementById('BENEFICIARY_BANK_NAME').value = "";
		document.getElementById('BENEFICIARY_BANK_ADD1').value = "";
		document.getElementById('BENEFICIARY_BANK_ADD2').value = "";
		document.getElementById('BENEFICIARY_BANK_CITY').value = "";
		document.getElementById('BENEFICIARY_BANK_COUNTRY').value = "";
		document.getElementById('BENEFICIARY_BANK_POB').value = "";
	}

	function showHide(){
		if($("input[name=benefType]:radio:checked").val() == 1){
			$(".SKNRTGS").show();
		}
		else{
			$(".SKNRTGS").hide();
		}
	}

	$(document).ready(function(){
		$(".SKNRTGS").show();
		//showHide();
		$("input[name=benefType]:radio").change(function(){
			//showHide();
		});
	});
</script>

<script type="text/javascript" charset="utf-8">
function checkSwift(){
//	alert($('#SWIFT_CODE').val());
//	$('#CITY_CODE').val("");
	swiftcode = $('#SWIFT_CODE').val();
	$('#CITY_CODE > *').hide();
	idclassShow = '#CITY_CODE > option.' + swiftcode;
	$(idclassShow).show();
}
function resetCity(){
	$('#CITY_CODE').val("");
}

</script>




<div class="row">
				<div class="col-md-12">
					<div class="page-bar">
							<ul class="page-breadcrumb">
									<li>
											<span><?php echo $this->language->_('Predefined Beneficiary'); ?></span>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
									</li>
									<li>
											<?php echo $this->language->_('Remittance Account'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
									</li>
									<li>
										 <?php echo $this->language->_('Add Remittance Account'); ?>
								 </li>
							</ul>
					</div>
				</div>
</div>
<script>
								function replaceText() {
								    var x = document.getElementById("ACBENEF").value;
								    document.getElementById("ACBENEF1").value = x.slice(-4);
								}
							</script>
<div class="row headerNew">
		<div class="col-md-12">
				<h5><?=$this->language->_('Add Beneficiary')?></h5>
				<?php if($this->success){ ?>
				<div class="successmsg"><?=$this->report_msg?></div><br />
				<?php }else if($this->error){ ?>
				<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
				<?php }
				else if($this->resulttoken){echo '<div class="errmsg">'.$this->language->_($this->resulttoken).'</div><br>';}
				?>
						<table width="100%">
							<tr>
									<td>
											<?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
									</td>
							</tr>
						</table>
						<form name="Form" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'addbeneficiary'),null,true)?>" method="post">
							  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="80%">
								<tr>
									<td width="40%" class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF',$this->language->_('Account Number')); ?><span class="errmsg">*</span></td>
									<td class="tbl-evencontent">:</td>
									<td class="tbl-evencontent" colspan="4"><?php echo $this->formText('ACBENEF',$this->ACBENEF,array('size'=>40,'maxlength'=>16,'onkeypress'=>'return forceNumber(event)','onkeyup'=>'replaceText()','autocomplete'=>'off','class'=>'form-control'))?></td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF_BANKNAME',$this->language->_('Account Name')); ?><span class="errmsg">*</span></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="4"><?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>35,'onkeypress'=>'return forceChar(event)','class'=>'form-control'))?></td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('CURR_CODE',$this->language->_('Currency')); ?><span class="errmsg">*</span></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="4">
										<?php
											$arrFirst = array();
											//$arrFirst[''] = '-- Select Currency --';
											//$this->ccyArr = array_merge($arrFirst, $this->ccyArr);
											//echo $this->formApp("SELECT_DATA", $this->lldCategoryArr, $this->LLD_CATEGORY, "LLD_CATEGORY");
											echo $this->formApp("SELECT_CCY", $this->ccyArr, $this->CURR_CODE, "CURR_CODE","onchange=\"$('#bankpop').removeAttr('disabled');setCCY();\"")." ";
										?>
										<?php echo $this->formHidden("CCY_HID", $this->CCY_HID);?>
								</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('CITIZENSHIP',$this->language->_('Citizenship')); ?><span class="errmsg">*</span></td>
									<td class="tbl-evencontent">:</td>
									<td class="tbl-evencontent">
									<?php
										$this->CITIZENSHIP = $this->CITIZENSHIP=='' ? 'R' : $this->CITIZENSHIP;
										echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident','NR'=>'Non Resident'))
										//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
										?>
								</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('NATIONALITY',$this->language->_('Nationality')); ?><span class="errmsg">*</span></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
									<?php
											$this->NATIONALITY = $this->NATIONALITY=='' ? 'W' : $this->NATIONALITY;
											echo $this->formRadio('NATIONALITY', $this->NATIONALITY, null, array('W'=>'WNI','N'=>'WNA'))
											//echo $this->formRadio('CITIZENSHIP', $this->CITIZENSHIP, null, array('R'=>'Resident'))
											?>
								</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('LLD_CATEGORY',$this->language->_('Category')); ?><span class="errmsg">*</span></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent"  colspan="4">
									<select name="LLD_CATEGORY" class="form-control">
											<option value="">-- Select Category --</option>
											<?php
											// $arrFirst = array();
											// $arrFirst[''] = '-- Select Category --';
											// $this->lldCategoryArr = array_merge($arrFirst, $this->lldCategoryArr);
											// echo $this->formSelect("LLD_CATEGORY", $this->LLD_CATEGORY, array(), $this->lldCategoryArr);

											foreach($this->lldCategoryArr as $key=>$val){
											$selected = ($this->LLD_CATEGORY == $key)? 'selected': '';
											echo '<option value="'.$key.'" '.$selected.'>'.$val.'</option>';
											}

											?>
									</select>
								</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('SELECT_DATA',$this->language->_('Identification Type')); ?></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent"  colspan="4">
									<?php
										$arrFirst = array();
										$arrFirst[''] = '-- Select ID Type --';
										$this->lldBeneIdentifArr = array_merge($arrFirst, $this->lldBeneIdentifArr);
										echo $this->formApp("SELECT_DATA", $this->lldBeneIdentifArr, $this->LLD_BENEIDENTIF, "LLD_BENEIDENTIF");

									?>
								</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('LLD_BENENUMBER',$this->language->_('Identification Number')); ?></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent"  colspan="4">
									<?php
										echo $this->formText('LLD_BENENUMBER',$this->LLD_BENENUMBER,array('class'=>'form-control','size'=>40,'maxlength'=>16));
									?>
								</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('ADDRESS',$this->language->_('Address')); ?></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="4"><?php echo $this->formText('ADDRESS',$this->ADDRESS,array('class'=>'form-control','size'=>40,'maxlength'=>150))?></td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('BANK_NAME',$this->language->_('Bank')); ?><span class="errmsg">*</span></td>
									<td class="tbl-evencontent">:</td>
									<td class="tbl-evencontent" colspan="2">
										<?php echo $this->formText('BANK_NAME',$this->BANK_NAME,array('class'=>'form-control','size'=>28,'maxlength'=>105,'readonly'=>true))?>
										<?php echo $this->formHidden('CLR_CODE',$this->CLR_CODE,null)?>

										<?php
										//										echo $this->formText('SWIFT_CODE',$this->SWIFT_CODE,null)
										//echo $this->formHidden('SWIFT_CODE',$this->SWIFT_CODE,array('size'=>28,'maxlength'=>35,'id'=>'SWIFT_CODE','onblur'=>'checkSwift()'))
										?>
										<?php echo $this->formHidden('BENEFICIARY_BANK_CODE',$this->CLR_CODE,null)?>
										<?php echo $this->formHidden('BENEFICIARY_BANK_NAME',$this->BANK_NAME,null)?>

										<?php echo $this->formHidden('BENEFICIARY_BANK_ADD1',$this->BANK_ADD1,null)?>
										<?php echo $this->formHidden('BENEFICIARY_BANK_ADD2',$this->BANK_ADD2,null)?>
										<?php echo $this->formHidden('BENEFICIARY_BANK_CITY',$this->BANK_CITY,null)?>
										<?php echo $this->formHidden('BENEFICIARY_BANK_COUNTRY',$this->BANK_COUNTRY,null)?>
										<?php echo $this->formHidden('BENEFICIARY_BANK_POB',$this->BANK_POB,null)?>
									</td>

										<td colspan="2"><input type="button" id="bankpop" class="btngreen hov" value="<?php echo $this->language->_('Bank Table'); ?>" onclick="showPopUpWindow('bankpopup');" class="inputbtn" <?=$this->bankpop?></td>

									<td>

									</td>
								</tr>
								<tr>
									<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF_EMAIL',$this->language->_('Email Address')); ?></td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="4">  <?php echo $this->formText('ACBENEF_EMAIL',$this->ACBENEF_EMAIL,array('class'=>'form-control','size'=>40))?></td>
								</tr>
								<tr>
									<td></td>
								</tr>
								<tr>
									<td>
										<div class="panel-heading headNew"

										"><?php echo $this->language->_('Notes');?></div>
										<div class="panel-body">
												<div class="form-group">
													<?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon');?> (;).<br>
														 <?php echo $this->language->_('For example');?> : wirda@gmail.com;gunawan@yahoo.com
												</div>
										</div>
									</td>
								</tr>
								<br>
								<tr>
									<td>
										<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'remittanceacct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
									</td>

								</tr>
								<?php if ($this->confirmPage == 1){}else{?>
											<?php if($this->tokentype == '1'){
											?>
											<div class="row">

													<div class="col-md-6">
													<div class="panel panel-default" style="margin-bottom:0px">
																								<!-- Default panel contents -->
																								<div class="panel-heading" style="
																										color: #fff;
																									height: 33px;
																									line-height: 14px;
																									font-size: 18px;
																									background-color: #005587;
																									border-color: #006520;

																								"><?php echo $this->language->_('Use Your Mobile Token'); ?>!</div>
																								<div class="panel-body">
																										<div class="form-group">
																											<?php echo $this->language->_('Release on behalf of'); ?>:<br/>
																											<a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'requestactivationcode','action'=>'index','user_id' => $user_id),null,true);?>',640,380)"><?php echo $this->language->_('Request mToken'); ?> </a>
																										</div>
																										<div class="form-group control-label col-md-12">
																		<font style='color:black'><?php echo $this->language->_('Enter Your Token'); ?> :</font>
																											<br/>

																		<span class="input-group-btn"><input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off" class="form-control"></span>

																										</div>

																								</div>
																							</div>
													</div>
													<div class="col-md-9">
													</div>
													</div>
											<?php
											}
											elseif($this->tokentype == '2'){?>

											<div class="row">

													<div class="col-md-6">
													<div class="panel panel-default" style="margin-bottom:0px">
																								<!-- Default panel contents -->
																								<div class="panel-heading" style="
																										color: #fff;
																									height: 33px;
																									line-height: 14px;
																									font-size: 14px;
																									background-color: #006520;
																									border-color: #006520;

																								"><?php echo $this->language->_('Use Your Token'); ?>!</div>
																								<div class="panel-body">
																										<div class="form-group">
																											<b><?= $user_id; ?></b>
																	<input name="userOnBehalf" value="<?= $user_id?>" type="hidden">
																	<?php echo $this->language->_('Challenge Code'); ?>:
																										</div>
																										<div class="form-group control-label col-md-12">
																											<span class="input-group-btn"><input name="challengeCodeReq2" id="ACBENEF2" size="2" value=<?=$random ?> style="text-align: right; font-weight: bold;width:60px; font-size: 16px;" type="text" readonly class="form-control"></span>
																											<span class="input-group-btn" style="width: 100%"><input name="challengeCodeReq" id="ACBENEF1" size="12" maxlength="20" value="<?= $this->challengeCodeReq1 ?>" style="text-align: left;width:100%; font-weight: bold; font-size: 16px;" readonly="readonly" type="text" class="form-control"></span>
																										</div>
																										<div class="form-group">
																											<?php echo $this->language->_('Response Token'); ?> APLI 2 :<br/>
																										</div>
																										<div class="form-group control-label col-md-12">
																											<input name="responseCodeReq" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center;width: 100%; font-weight: bold; font-size: 16px;" type="password" autocomplete="off" class="form-control">
																										</div>
																								</div>
																							</div>
													</div>
													<div class="col-md-9">
													</div>
													</div>
											<?php }elseif($this->tokentype == '3'){echo'<input name="challengeCodeReq" id="ACBENEF1" type="hidden">';}else{echo'<input name="challengeCodeReq" id="ACBENEF1" type="hidden">';}?>
										<?php }?>
										<br/>
										</table>
						</form>

		</div>
</div>
