<div class="row">
				<div class="col-md-12">
					<div class="page-bar">
							<ul class="page-breadcrumb">
									<li>
											<span><?php echo $this->language->_('Predefined Beneficiary'); ?></span>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
									</li>
									<li>
											<?php echo $this->language->_('Remittance Account'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
									</li>
									<li>
										 <?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_('Remittance Account'); ?>
								 </li>
							</ul>
					</div>
				</div>
</div>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="addbeneficiary" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editemail'),null,true)?>">
					
							<h5><?=$this->language->_('Destination Information')?></h5>
	            					<hr/>
						<div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Accountt Number');?></label>
						          <div class="col-md-9">
					                <?=$this->ACBENEF?><?php echo $this->formHidden('ACBENEF',$this->ACBENEF); ?><?=$this->ACBENEF_ALIAS?><?php echo $this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID); ?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Accountt Name');?></label>
						          <div class="col-md-9">
					                <?=$this->ACBENEF_BANKNAME?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Currency');?></label>
						          <div class="col-md-9">
					                <?=$this->CURR_CODE?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Citizenship');?></label>
						          <div class="col-md-9">
					                <?php $arrCitizen = array('R'=>'Resident','NR'=>'Non Resident');
											echo ($this->BENEFICIARY_RESIDENT) ? $arrCitizen[$this->BENEFICIARY_RESIDENT] : '';?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Nationality');?></label>
						          <div class="col-md-9">
					                <?php $arrCitizen1 = array('W'=>'WNI','N'=>'WNA');
											echo ($this->CITIZENSHIP) ? $arrCitizen1[$this->CITIZENSHIP] : '-';?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Category');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->LLD_CATEGORY) ? $this->LLD_CATEGORY : '-';?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Type');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->LLD_CATEGORY) ? $this->LLD_BENEIDENTIF : '-';?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Number');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->LLD_CATEGORY) ? $this->LLD_BENENUMBER : '-';?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Address');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->ADDRESS) ? $this->ADDRESS : '-';?>
					              </div>
					    </div>



					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Email');?></label>
						          <div class="col-md-9">
					                <?php echo $this->ACBENEF_EMAIL ?>
					              </div>
					    </div>


					    <div class="form-group row">
						    
						          <div class="col-md-9">
					       <h6> <?php echo $this->language->_('Destination Bank Information'); ?></h6>
					       <hr>
					               </div>
					    </div>



					    	<div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Code');?></label>
						          <div class="col-md-9">
					                <?=$this->SWIFT_CODE?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Name');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_NAME?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Address 1');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_ADDRESS1?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Address 2');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_ADDRESS2?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('City Name');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->BANK_CITY) ? $this->BANK_CITY : '-';?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('POB Number');?></label>
						          <div class="col-md-9">
					                <?=$this->POB_NUMBER?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Country');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_COUNTRY?>
					              </div>
					    </div>


							
									<div class="formbutton">
										<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'remittanceacct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">

									</div>
								
					</form>
				</td>
			</tr>
		</tbody>
	</table>
