<tr>
    <td><?= $this->language->_('Rekening Tujuan'); ?></td>
    <td><?= $this->detailTrx['BENEF_ACCT'] . ' (' . $this->detailTrx['TRA_CCY'] . ') ' . $this->detailTrx['BENEF_ACCT_NAME'] . ' / BANK BTN'; ?></td>
    <td><?= $this->detailTrx['BENEF_ACCT'] . ' (' . $this->detailTrx['TRA_CCY'] . ') ' . $this->detailTrx['BENEF_ACCT_NAME'] . ' / BANK BTN'; ?></td>
</tr>

<tr>
    <td><?= $this->language->_('Nominal Transfer'); ?></td>
    <td><?= $this->detailTrx['TRA_CCY'] . ' ' . number_format($this->detailTrx['TRA_AMOUNT'], 2); ?></td>
    <td><?= $this->detailTrx['TRA_CCY'] . ' ' . number_format($this->detailTrx['TRA_AMOUNT'], 2); ?></td>
</tr>