.fixed-top{
            background-color: transparent!important;
          }
		  
.Path-84 {


              height: 100%;
  position: fixed;

  top: 0;
}
.Path-83 {

  position: fixed;
  bottom: 0;

  right: 0;
}
.form-group, .form-control{
			/*padding-bottom:  0px!important;*/
			margin-bottom: 0.5rem!important;
		}

		input::placeholder {
			margin: 0 0 4px;
		}
		.inp {
            border: 1px solid gray;
            padding: 0 10px;
            width: 200px;
            height: 30px;
            font-size: 18px;
    }
        #embed-captcha {
            /*width: 300px;*/
            margin: 0 auto;
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
        #notice {
            color: red;
        }

        .geetest_holder.geetest_wind{
		      width: 100%!important;
		    }

		.google-login-btn {
			border-radius: 0.5rem;
		  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
		  	border: solid 1px white;
		 	color: rgba(17, 17, 17, 0.87);
		 	font-size:1.5rem;
		 	width: 100%;
		 	line-height: 1.17;
		 	padding-top: 10px;
		}		  