<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List Ongoing'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	label {
		font-size: 1.2em;
		margin-bottom: 0.3rem;
	}

	h5 {
		font-size: 1.10rem;
		line-height: unset;
		margin-bottom: 0;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	table {
		font-size: 14px !important;
	}

	.text-gray {
		color: gray !important;
	}

	.table-header {
		font-size: 16px !important;
		color: #fff !important;
		background-color: #0b549f !important;
	}

	#fa-angle-up:hover,
	#fa-angle-down:hover {
		color: #fff !important;
	}

	.hrline {
		width: 100px;
		border: none;
		border-bottom: 2px solid #0000003d;
	}

	.hrline.active {
		width: 100px;
		border: none;
		border-bottom: 2px solid #0b549f;
	}

	/* width */
	#workflow_process::-webkit-scrollbar {
		height: 10px;
		background-color: #ededed;
		border-radius: 10px;
	}

	/* Handle */
	#workflow_process::-webkit-scrollbar-thumb {
		background: lightgray;
		border-radius: 10px;
	}

	/* Handle on hover */
	#workflow_process::-webkit-scrollbar-thumb:hover {
		background: #c0c0c0;
	}

	.button-collapse-custom {
		background: none; 
		color: white; 
		border: none; 
		cursor: pointer; 
		padding-right: 2%;
	}

	.padding-header-cust {
		padding-left: 2%;
		background-color: #005587;
		height: 30px;
		border-radius: 3px !important;
		color: white;
		padding-top: 2px;
	}
</style>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->data['BG_REG_NUMBER'], $rand);
$encrypted_id = urlencode($encrypted);
$download = $this->language->_('Download');

$BG_REG_NUMBER = $this->data['BG_REG_NUMBER'];
// echo "<code>test = $test</code><BR>";

?>
<div class="row justify-content-center my-2">
	<div class="col-md-11">
		<h5><?= $this->language->_('Detail Pengajuan BG Dalam Proses') ?></h5>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="container-fluid content-box px-3 pt-3" style="border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
			<div style="overflow-x: auto;" id="workflow_process" class="pb-5">
				<table border="0" class="m-auto">

					<?php
					if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
						$makerAlign = "right";
						$makerHrStyle = "width: 25%;";
						$makerCircleStyle = 'padding-right: 10px;text-align:center;';
						$makerFontStyle = "padding-right: 17px;text-align:center;";

						$verifyAlign = "right";
						$verifyHrStyle = "width: 25%;";
						$verifyCircleStyle = 'padding-right: 10px;text-align:center;';
						$verifyFontStyle = "padding-right: 17px;text-align:center;";

						$releaserAlign = "left";
						$releaserCircleStyle = 'padding-left: 10px;text-align:center;';
						$releaserFontStyle = "padding-left: 12px;text-align:center;";
						$releaserText = "2";
					?>

					<?php



					} else {
						$makerAlign = "center";
						$releaserAlign = "center";
						$approverText = "3";
						$releaserText = "4";
					}

					if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
						$approverText = "2";
						$releaserText = "3";
					} elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
						$releaserText = "3";
					}

					?>


					<tr>
						<td align="center" class="px-5">
							<?php echo (!empty($this->makerStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
						</td>
						<td>
							<hr class="hrline active ?>">
						</td>
						<td align="center" class="px-5">
							<?php echo (!empty($this->approverStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
						</td>
						<td>
							<hr class="hrline active ?>">
						</td>
						<td align="center" class="px-5">
							<?php echo (!empty($this->releaserStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
						</td>
						<?php if ($this->isinsurance) { ?>
							<td>
								<hr class="hrline <?= $this->insuranceStatus; ?>">
							</td>
							<td align="center" class="px-5"><?php echo $this->insuranceNameCircle; ?></td>
						<?php } ?>
						<td>
							<hr class="hrline active">
						</td>
						<td align="center" class="px-5"><?php echo $this->verifyNameCircle; ?></td>
						<td>
							<hr class="hrline active">
						</td>

						<td align="center" class="px-5"><?php echo $this->bankReviewNameCircle; ?></td>
						<td>
							<hr class="hrline active">
						</td>
						<td align="center" class="px-5"><?php echo $this->bankApprover; ?></td>
						<td>
							<hr class="hrline active">
						</td>

						<!-- tahapan tanda tangan dst -->

						<td align="center" class="px-5">
							<?php echo (!empty($this->signPrepareStatus) ? $this->signPrepareNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
						</td>
						<td>
							<hr class="hrline active">
						</td>

						<td align="center" class="px-5">
							<?php if ($this->checkSign) { ?>
								<button style="cursor:default" class="btnCircleGroup active hovertext" disabled=""><i class="fas fa-check"></i> </button>
							<? } else { ?>
								<button class="btnCircleGroup" disabled></button>
							<?php } ?>
						</td>
						<td>
							<hr class="hrline active">
						</td>

						<td align="center" class="px-5">
							<button class="btnCircleGroup" disabled></button>
						</td>
					</tr>
					<tr>
						<td align="center" class="pt-2"><?= $this->language->_('Maker') ?></td>
						<td></td>

						<td align="center" class="pt-2"><?= $this->language->_('Approver') ?></td>
						<td></td>

						<td align="center" class="pt-2"><?= $this->language->_('Releaser') ?></td>
						<td></td>

						<?php
						if ($this->isinsurance) {
						?>
							<td align="center" class="pt-2">Principle Agreement</td>
							<td></td>
						<?php } ?>

						<td align="center"><?= $this->language->_('Bank Verification') ?></td>
						<td></td>

						<td align="center">Bank Reviewer</td>
						<td></td>

						<td align="center">Bank Approver</td>
						<td></td>

						<!-- tahapan pecnetakan -->
						<td align="center">Persiapan TTD</td>
						<td></td>

						<td align="center">TTD Bank</td>
						<td></td>

						<td align="center">Pencetakan</td>

					</tr>
					<tr>
						<td align="center"></td>
						<td></td>
						<td align="center"></td>
						<td></td>
						<td align="center"></td>
						<td></td>

						<?php
						if ($this->isinsurance) {
						?>
							<td></td>
							<td></td>
						<?php } ?>

						<td align="center"></td>
						<td></td>
						<td align="center"></td>
						<td></td>
						<td align="center"></td>
						<td></td>

						<!-- tahapan tanda tangan dst -->
						<td align="center"></td>
						<td></td>
						<td align="center"></td>
						<td></td>
						<td align="center"></td>

					</tr>
					<tr>
						<td align=center" class="pt-2">
							<?php echo $this->makerBy; ?>
						</td>
						<td></td>
						<td align=center" class="pt-2">
							<?php echo $this->approverBy; ?>
						</td>
						<td></td>
						<td align=center" class="pt-2">
							<?php echo $this->releaserBy; ?>
						</td>
						<td></td>

						<?php
						if ($this->isinsurance) {
						?>
							<td align=center" class="pt-2">
								<?php echo $this->insuranceApprovedBy; ?>
							</td>
							<td></td>
						<?php } ?>

						<td align="center">
							<?php echo $this->verifyApprovedBy; ?>
						</td>
						<td></td>

						<td align="center">
							<?php echo $this->bankReviewedBy; ?>
						</td>
						<td></td>

						<td align="center">
							<?php echo $this->bankApproverBy; ?>
						</td>
						<td></td>

						<!-- tahapan tanda tangan dst -->
						<td align="center">
							<?= $this->signPrepareBy; ?>
						</td>
						<td></td>
						<td align="center">
							<?= $this->signer1; ?>
						</td>
						<td></td>
						<td align="center">
							<?= ""; ?>
						</td>

					</tr>
				</table>
			</div>
			<a href="#" onclick="modalmoredetail();" style="position: absolute; right: 2%; bottom: 2%; top: 77%; font-size: 1.1rem;"><i class="fa fa-ellipsis-h"></i></a>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
				</center>
			</div>

			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-md-11 m-auto">
						<?php echo $this->action(
							'index',
							'eformhistory',
							'tools',
							array('bgnumb' => $this->BG_REG_NUMBER)
						); ?>

					</div>

				</div>

			</div>
			<div class="modal-footer">
				<center style="width:100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="row my-2">
			<div class="col-md-11">
				<h5 style="padding-left: 2%;"><?= $this->language->_('Detail Pengajuan Bank Garansi') ?></h5>
			</div>
		</div>

		<div style="padding-left: 2%;">
			<div class="row">

				<!-- Pengecekan No BG-->
				<?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2'])) {
					require_once 'Crypt/AESMYSQL.php';

					$AESMYSQL = new Crypt_AESMYSQL();
					$encryptedBgNumber = $AESMYSQL->encrypt($this->bgRegNumberOld, uniqid());
					$encodeEncrypted = urlencode($encryptedBgNumber);

					$lblBgNumber = implode('-', [substr($this->data['BG_OLD'], 0, 3), substr($this->data['BG_OLD'], 3, 6), substr($this->data['BG_OLD'], 9, 5), substr($this->data['BG_OLD'], 14, 4)]);

				?>
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('BG Reg Number') ?></label>
					</div>
					<div class="col-md-9">
						<label><span class="text-danger"><?= $this->BG_REG_NUMBER ?></span> (Amendemen dari BG No. <a href="javascript:void(0)" onclick="window.open('/bgreport/detail/index/bg/<?= $encodeEncrypted; ?>')"><?= $lblBgNumber; ?></a>)</label>
					</div>
				<?php } else { ?>
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('BG Reg Number') ?></label>
					</div>
					<div class="col-md-9">
						<label><strong><?= substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9)  ?></strong></label>
					</div>
				<?php }  ?>
				<!-- <div class="col-md-3">
			<label class="text-gray"><?= $this->language->_('BG Reg Number') ?> </label>
		</div>
		<div class="col-md-9">
			<label><strong><?= substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9)  ?> <?= $this->data['IS_AMANDEMENT'] ==  1 ? '(Amandemen dari BG no : <a href="#" onclick="amandementDetail();">' . substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9) . '</a> )' : '' ?></strong></label>
		</div> -->
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="text-gray">BG Number</label>
				</div>
				<div class="col-md-9">
					<label class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_NUMBER'], 9)  ?></strong></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<label class="text-gray">eForm Subject</label>
				</div>
				<div class="col-md-9">
					<label><strong><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></strong></label>
				</div>
			</div>


			<div class="row">
				<div class="col-md-3">
					<label class="text-gray"><?= $this->language->_("Bank Branch"); ?></label>
				</div>
				<div class="col-md-9">
					<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<label class="text-gray">Status</label>
				</div>
				<div class="col-md-9">
					<label><?= $this->arrStatus[$this->data['BG_STATUS']]; ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="text-gray"><?= $this->language->_('Suggestion Type') ?></label>
				</div>
				<div class="col-md-9">
					<label><?= $this->suggestion_type; ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="text-gray">Notes</label>
				</div>
				<div class="col-md-9">
					<label><?php echo $this->reason; ?></label>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('Principal Bank Garansi') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
							<?php
							$bg = [$this->data['CUST_CP'], $this->data['CUST_CONTACT_NUMBER'], $this->data['CUST_EMAIL']];
							$temp = [$this->tbgdata['CUST_CP'], $this->tbgdata['CUST_CONTACT_NUMBER'], $this->tbgdata['CUST_EMAIL']];
							if (!empty(array_diff($temp, $bg))) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
					<div class="d-flex align-items-center mr-1">
						<button type="button" onclick="javascript:openwindow('/preliminary/index/index/view/1/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>', 900, 600)" style="cursor: pointer; border-radius: 3px;">Lihat Dokumen</button>
					</div>
				</div>

				<div style="padding-left:2%">
					<div class="form-group row">
						<div class="col-sm-3">
							<label class="text-gray">Company</label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2">
					<h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
				</div>

				<div style="padding-left:2%">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Type of Bank Guarantee') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= ($this->data['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->data['USAGE_PURPOSE_DESC'])) : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2">
					<h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
							<?php
							$bg = [$this->data['BG_AMOUNT'], $this->data['TIME_PERIOD_START'], $this->data['TIME_PERIOD_END']];
							$temp = [$this->tbgdata['BG_AMOUNT'], $this->tbgdata['TIME_PERIOD_START'], $this->tbgdata['TIME_PERIOD_END']];
							if (!empty(array_diff($temp, $bg))) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
				</div>
				<div style="padding-left:2%;">

					<div class="row">
						<div class="col-sm-3">
							<label for="" class="text-gray">Bank Guarantee Nominal</label>
						</div>
						<div class="col-sm-7">
							<div class="input-group" id="">
								<label class="text-danger"><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray">Start From</label>
						</div>
						<div class="col-sm-9 form-inline" style="float:left">
							<label>
								<?php
								$date_start = strtotime($this->data['TIME_PERIOD_START']);
								$date_end = strtotime($this->data['TIME_PERIOD_END']);
								$diff = $date_end - $date_start;
								$day = ($diff / 60 / 60 / 24) + 1;
								if (empty($this->data['TIME_PERIOD_START'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_start);
								}
								echo ' <span class="mx-2">' . $this->language->_('to') . '</span> ';
								if (empty($this->data['TIME_PERIOD_END'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_end);
								}
								echo '<i class="ml-3 text-gray">(' . $day . ' ' . $this->language->_('days') . ')</i>';
								?>
							</label>
						</div>
					</div>
					<div class="form-group row" style="">
						<div class="col-sm-3">
							<label for="" class="text-gray">Claim Period</label>
						</div>
						<div class="col-sm-9">
							<?php
							$addday = '+ ' . $this->BG_CLAIM_PERIOD . ' day';
							$Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
							?>
							<!-- <label><?= date('d M Y', strtotime($this->data['BG_CLAIM_DATE'])) . PHP_EOL; ?></label> -->
							<label><?= date('d M Y', strtotime($Date2)) . PHP_EOL; ?> (<?= $this->language->_('batas tanggal klaim final akan mengikuti kebijakan bank yang terbaru saat BG diterbitkan'); ?>)</label>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2">
					<h5><?= $this->language->_('Obligee Bank Garansi') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
							<?php
							$bg = [
								$this->data['RECIPIENT_NAME'],
								$this->data['RECIPIENT_ADDRES'],
								$this->data['RECIPIENT_CITY'],
								$this->data['RECIPIENT_OFFICE_NUMBER'],
								$this->data['RECIPIENT_CP'],
								$this->data['RECIPIENT_CONTACT'],
								$this->data['RECIPIENT_EMAIL'],
							];
							$temp = [
								$this->tbgdata['RECIPIENT_NAME'],
								$this->tbgdata['RECIPIENT_ADDRES'],
								$this->tbgdata['RECIPIENT_CITY'],
								$this->tbgdata['RECIPIENT_OFFICE_NUMBER'],
								$this->tbgdata['RECIPIENT_CP'],
								$this->tbgdata['RECIPIENT_CONTACT'],
								$this->tbgdata['RECIPIENT_EMAIL'],
							];
							if (!empty(array_diff($temp, $bg))) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Recipient Name') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Phone Office Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
					<?php if ($this->data['SP_OBLIGEE_CODE']) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Special Obligee Code') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></label>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2">
					<h5><?= $this->language->_('Guarantee Transaction') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2'])) { ?>
							<?php if (!empty(array_diff($this->guarantedTransanctions, $this->guarantedTransanctionsT))) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
				</div>
				<?= $this->action('index', 'guarantedtransaction', 'eformworkflow', array('bgregnumber' => $this->data['BG_REG_NUMBER'])); ?>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('Kontra Garansi') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
							<?php if ($this->warranty_type == '1' && !empty($this->fullmemberT)) { ?>
								<?php if (!empty(array_diff_assoc($this->fullmemberA, $this->fullmemberT))) { ?>
									&nbsp;
									<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
								<?php } ?>
							<?php } elseif ($this->warranty_type == '2') {
								$owner = [];
								$ownertemp = [];
								if (!empty($this->owner1)) {
									array_push($owner, $this->owner1);
									array_push($owner, $this->amountowner1);
									array_push($ownertemp, $this->tamountowner1);
									array_push($ownertemp, $this->tamountowner1);
								}
								if (!empty($this->owner2)) {
									array_push($owner, $this->owner2);
									array_push($owner, $this->amountowner2);
									array_push($ownertemp, $this->tamountowner2);
									array_push($ownertemp, $this->tamountowner2);
								}
								if (!empty($this->owner3)) {
									array_push($owner, $this->owner3);
									array_push($owner, $this->amountowner3);
									array_push($ownertemp, $this->tamountowner3);
									array_push($ownertemp, $this->tamountowner3);
								} ?>
								<?php if (!empty(array_diff($temp, $bg))) { ?>
									&nbsp;
									<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
								<?php } ?>
							<?php } elseif ($this->warranty_type == '3' && !empty($this->bgdatamd)) { ?>
								<?php if (!empty(array_diff_assoc($this->bgdatamd, $this->bgdatamdeks))) { ?>
									&nbsp;
									<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
								<?php } ?>
							<?php } ?>
						<?php } ?> -->
					</h5>
					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
						<div class="d-flex align-items-center mr-1">
							<button type="button" onclick="javascript:$('#modalPersetujuanAsuransi').modal('show')" style="cursor: pointer; border-radius: 3px;">Lihat Persetujuan</button>
						</div>
					<?php } ?>
				</div>
				<div style="padding-left:2%;padding-right: 2%;">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray">Counter Warranty Type</label>
						</div>
						<div class="col-sm-9">
							<label><?php
									echo $this->warranty_type_text_new; ?></label>

						</div>
					</div>

					<!-- type1 -->
					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '1') { ?>
						<div id="wrType1">
							<?php if (in_array($this->data['CHANGE_TYPE'], [1, 2])) { ?>
								<div class="row mt-2">
									<div class="col-sm-12 pl-0" style="height: auto; position: relative;">
										<div class="padding-header-cust my-2">
											<div class="row">
												<div class="col-md-8">
													<h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
												</div>
											</div>
										</div>
										<div style="padding-left:2%" class="py-3 pb-4">

											<div class="d-flex justify-content-between align-items-center">
												<label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Eksisting'); ?> <span class="font-italic font-weight-normal">(Total : IDR <span class="text-danger"><?= $this->currency; ?> <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
												<button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
											</div>
											<div id="marginalDepositFC">
												<table id="marginalDepositFCTable" class="tableFile">
													<tbody>
														<tr>
															<td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
														</tr>
													</tbody>
												</table>
											</div>

											<div class="d-flex justify-content-between align-items-center mt-4">
												<label for="" class="text-body font-weight-bold"><?= $this->language->_('Top Up Marginal Deposit'); ?> <span class="font-italic font-weight-normal">(<?= $this->language->_('total jumlah ditambahkan'); ?> : <span class="text-danger" id="lbl_mdfceksis_new">N/A</span>)</span></span></label>
												<button type="button" class="btn btn-link" id="inquiryMdFcNew"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfcnew" style="width: 13px" class="hidden"></button>
											</div>
											<div id="marginalDepositFCNew">
												<table id="marginalDepositFCTableNew" class="tableFile">

												</table>
											</div>
										</div>
									</div>
								</div>
							<?php } else { ?>
								<div class="form-group row">
									<div class="col-sm-12 px-0 mt-1">
										<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Own Account </th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Type</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
												</tr>
											</thead>
											<?php foreach ($this->fullmember as $vl) { ?>
												<tr>
													<td>
														<?php
														if ($vl['FLAG'] == '1') {
															echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
														} else {
															echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
														?>
															<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
														<?php } ?>
													</td>
													<td>
														<?php echo $vl['ACCT']; ?>
													</td>
													<td><?php echo $vl['NAME']; ?></td>
													<td><?= $vl["TYPE"] ?: $vl['ACCT_DESC']; ?></td>
													<td><?= $vl["CURRENCY"] ?: $vl['CCY_ID']; ?></td>
													<td><?= number_format($vl['AMOUNT'], 2); ?>
													</td>
												</tr>

											<?php } ?>
										</table>
									</div>

								</div>
							<?php } ?>
							<?php
							if ($this->data['IS_AMANDEMENT'] == 1) {
							?>
								<div class="form-group row">

									<div class="col-sm-12">
										<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #1c1c1cab" colspan="6">
														<div style="color:white;font-weight:bold;">
															<h6>Jaminan Rekening Awal</h6>
														</div>
													</th>
												</tr>
											</thead>
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Own Account </th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Type</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
												</tr>
											</thead>
											<?php foreach ($this->fullmember as $vl) { ?>
												<tr>
													<td>
														<?php
														if ($vl['FLAG'] == '1') {
															echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
														} else {
															echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
														?>
															<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
														<?php } ?>
													</td>
													<td>
														<?php echo $vl['ACCT']; ?>
													</td>
													<td><?php echo $vl['NAME']; ?></td>
													<td>&nbsp;</td>
													<td>IDR</td>
													<td><?= number_format($vl['AMOUNT'], 2); ?>
													</td>
												</tr>

											<?php } ?>
										</table>
									</div>

								</div>
							<?php
							}
							?>

						</div>

					<?php } ?>

					<!-- type2 -->
					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '2') { ?>
						<div id="wrType2">
							<div id="listwr" style="width: 100%">
								<div id="wherelist-1">
									<!--<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray">Plafond Owner</label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->data["CUST_NAME"] . " " . "(" . $this->data["CUST_ID"] . ")"; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray">Counter Nominal</label>
										</div>
										<div class="col-sm-9">
											<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
										</div>
									</div>-->

									<?php if (!empty($this->owner1)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray">Plafond Owner</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner1; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray"><?= $this->language->_('Current Available Limit'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray"><?= $this->language->_('Counter Nominal'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format(str_replace(",", "", $this->amountowner1), 2); ?></label>
											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner2)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray">Plafond Owner 2</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner2; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>

											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner3)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray">Plafond Owner 3</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner3; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>

											</div>
										</div>
									<?php } ?>


								</div>
							</div>

						</div>

					<?php } ?>
					<!-- type3 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
						<div id="wrType3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Insurance Name</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->data['INSURANCE_NAME']; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Insurance Branch</label>
								</div>
								<div class="col-sm-9">
									<!-- <label>-</label> -->
									<label><?php echo $this->insuranceBranch; ?></label>
								</div>
							</div>

							<div class="modal fade" id="modalPersetujuanAsuransi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<center style="width:100%">
												<h4 class="modal-title textBlack" id="myModalLabel">Persetujuan Asuransi</h4>
											</center>
										</div>
										<div class="modal-body">
											<div style="padding-left:2%" class="mt-3">
												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label">Nomor Ijin Prinsip</label>
													</div>
													<div class="col-sm-8">
														<label><?= $this->principleData['Principle Agreement Number'] ?: '-' ?></label>
														<label>(<?= date('d M Y', strtotime($this->principleData['Principle Agreement Granted Date'])) ?>)</label>
														<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
															<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
																<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
															</svg>
														</a>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label">Nomor Kontra Garansi</label>
													</div>
													<div class="col-sm-8">
														<label><?= $this->principleData['Counter Guarantee Number'] ?: '-'; ?></label>
														<?php if ($this->principleData['Counter Guarantee Granted Date']) {?>
															<label>(<?= date('d M Y', strtotime($this->principleData['Counter Guarantee Granted Date'])); ?>)</label>
															<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
																<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
																</svg>
															</a>
														<?php } ?>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label">Persetujuan Format Khusus</label>
													</div>
													<div class="col-sm-8">
														<?= $this->principleData['Insurance Special Format Approval Document'] ? trim(str_replace([explode('_', $this->principleData['Insurance Special Format Approval Document'])[0], explode('_', $this->principleData['Insurance Special Format Approval Document'])[1], explode('_', $this->principleData['Insurance Special Format Approval Document'])[2], explode('_', $this->principleData['Insurance Special Format Approval Document'])[3]], '', ''), '_') : '-'; ?>
														<?php if ($this->principleData['Insurance Special Format Approval Document']) : ?>
															<a href="/eformworkflow/downloadfile/specialformatfileins/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
																<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
																	<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
																</svg>
															</a>
														<?php endif ?>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label">Marginal Deposit Prinsipal</label>
													</div>
													<div class="col-sm-8">
														<label><?= $this->principleData['Marginal Deposit Percentage'] ? implode(' ', [number_format($this->principleData['Marginal Deposit Percentage'], 2), '%', '(' . number_format($this->principleData['Marginal Deposit Percentage'] * $this->data['BG_AMOUNT'], 2) . ')']) : '-'; ?></label>
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label"><?= $this->language->_('Premi Asuransi'); ?></label>
													</div>
													<div class="col-sm-8">
														<label><?= $this->principleData['Principle Insurance Premium'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Premium'], 2) : '-'; ?></label>
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Administrasi Asuransi'); ?></label>
													</div>
													<div class="col-sm-8">
														<label><?= $this->principleData['Principle Insurance Administration'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Administration'], 2) : '-'; ?></label>
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														<label for="" class="text-gray col-form-label"><?= $this->language->_('Biaya Meterai Asuransi'); ?></label>
													</div>
													<div class="col-sm-8">
														<label><?= $this->principleData['Principle Insurance Stamp'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Stamp'], 2) : '-'; ?></label>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<center style="width:100%">
												<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
											</center>
										</div>
									</div>
								</div>

							</div>

							<!-- <div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Nomor Ijin Prinsip</label>
								</div>
								<div class="col-sm-9">
									<label><?= ($this->principleData["Principle Agreement Number"] ? ($this->principleData["Principle Agreement Number"] . " (" . date("d M Y", strtotime($this->principleData["Principle Agreement Granted Date"])) . ")") : '-'); ?></label>&nbsp;&nbsp;
									<?php if ($this->principleData["Principle Insurance Document"]) : ?>
										<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									<?php endif ?>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Nomor Kontra Garansi</label>
								</div>
								<div class="col-sm-9">
									<label><?= $this->principleData["Counter Guarantee Number"] ?: '-'; ?></label>
									<?php if ($this->principleData["Counter Guarantee Document"]) : ?>
										<label>(<?= Application_Helper_General::convertDate($this->principleData["Counter Guarantee Granted Date"], $this->viewDateFormat, $this->defaultDateFormat); ?>)</label>
										<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									<?php endif ?>
								</div>
							</div>

							<?php if (intval($this->data["BG_FORMAT"]) === 2) : ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray"><?= $this->language->_('Dokumen Persetujuan Format Khusus Asuransi'); ?></label>
									</div>
									<div class="col-sm-9 d-flex align-items-center">
										<?php
										$explodeFile = explode('_', $this->principleData["Insurance Special Format Approval Document"]);
										$joinName = join('_', [$explodeFile[0], $explodeFile[1], $explodeFile[2], $explodeFile[3]]);
										$realFileName = str_replace($joinName . "_", '', $this->principleData["Insurance Special Format Approval Document"]);
										?>
										<label class="mb-0 mr-2"><?= $this->principleData["Insurance Special Format Approval Document"] ? $realFileName : '-'; ?></label>
										<?php if ($this->principleData["Insurance Special Format Approval Document"]) : ?>
											<a href="/eformworkflow/downloadfile/specialformatfileins/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										<?php endif ?>
									</div>
								</div>
							<?php endif ?>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Nilai Jaminan</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Nomor Rekening Cabang</label>
								</div>
								<div class="col-sm-9">
									<label><?= $this->insuranceBranchAcct; ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Jasa Penjaminan</label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->principleData["Principle Insurance Premium"]) { ?>
										<label>IDR <?= number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
									<?php } else { ?>
										<label for="">-</label>
									<?php } ?>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Jasa Administrasi</label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->principleData["Principle Insurance Administration"]) { ?>
										<label>IDR <?= number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
									<?php } else { ?>
										<label for="">-</label>
									<?php } ?>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Bea Materai</label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->principleData["Principle Insurance Stamp"]) { ?>
										<label>IDR <?= number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
									<?php } else { ?>
										<label for="">-</label>
									<?php } ?>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Total</label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->principleData["Principle Insurance Stamp"]) { ?>
										<label>IDR <?= number_format(($this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"]), 2); ?></label>
									<?php } else { ?>
										<label for="">-</label>
									<?php } ?>
								</div>
							</div>

							<?php if (false) { ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="text-gray">Principal Agreement</label>
									</div>
									<div class="col-sm-9" style="padding-right: 0px;">
										<div class="input-group" id="">

											<label> <?php
													echo 'No. ' . $this->PrincipalAgreement; ?></label>
											<label><?php
													echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
											&nbsp;
											&nbsp;
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
										</div>
									</div>

								</div>
								<div class="row pt-1 pb-1">
									<div class="col-sm-3">
										<label for="" class="text-gray">Amount</label>
									</div>
									<div class="col-sm-9">
										<div class="input-group" id="">

											<label><?php
													echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

										</div>
									</div>
								</div>
							<?php } ?> -->
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<!-- Marginal Deposit Asuransi -->
		<?php if ($this->warranty_type == '3') { ?>
			<div class="row">
				<div class="col-md-12 <?= ($this->marginalDepositPercentage) ? 'mb-2' : '' ?>" style="height: auto; position: relative;">
					<div class="padding-header-cust my-2">
						<h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
					</div>
					<div style="padding-left:2%" class="mt-2 <?= ($this->marginalDepositPercentage) ? '' : 'hidden' ?>">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray"><?= $this->language->_('Permintaan MD') ?> </label>
							</div>
							<div class="col-sm-9 d-flex align-items-center">
								<?php
								$mdpercent = intval($this->marginalDepositPercentage);
								$percent = $mdpercent / 100;
								$mdamount = intval($this->bank_amount);
								$mdtotal = $mdamount * $percent;
								?>
								<input type="text" class="form-control" disabled style="font-size: 1.2em;;" value="<?= number_format($this->marginalDepositPercentage, 2)  ?> % Dari Nominal BG (<?= 'IDR ' . number_format($mdtotal, 2) ?>)">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12" style="height: auto; position: relative;">
					<div>
						<div class="d-flex justify-content-between align-items-center" style="padding-left:2%">
							<label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Eksisting'); ?> <span class="font-italic font-weight-normal">(Total :<span class="text-danger"><?= $this->currency; ?> <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
							<button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
						</div>
						<div id="marginalDepositFC">
							<table id="marginalDepositFCTable" class="tableFile">
								<tbody>
									<tr>
										<td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="d-flex justify-content-between align-items-center mt-2" style="padding-left:2%">
							<label for="" class="text-body font-weight-bold"><?= $this->language->_('Top Up Marginal Deposit'); ?> <span class="font-italic font-weight-normal">(<?= $this->language->_('total jumlah ditambahkan'); ?> : <span class="text-danger" id="lbl_mdfceksis_new">N/A</span>)</span></span></label>
							<button type="button" class="btn btn-link" id="inquiryMdFcNew"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfcnew" style="width: 13px" class="hidden"></button>
						</div>
						<div id="marginalDepositFCNew">
							<table id="marginalDepositFCTableNew" class="tableFile">

							</table>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('Biaya Provisi, Administrasi dan Lainnya') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
							<?php
							$bg = [$this->tbgdata['FEE_CHARGE_TO']];
							$temp = [$this->data['FEE_CHARGE_TO']];
							$diff = array_diff($temp, $bg);
							if (!empty($diff)) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
					<button type="button" class="button-collapse-custom" data-toggle="collapse" data-target="#biayaProvisi" aria-expanded="true" aria-controls="biayaProvisi">
						<i class="fa fa-angle-down"></i>
					</button>
				</div>
				<div id="accordionbiayaProvisi">
					<div id="biayaProvisi" class="collapse" aria-labelledby="biayaProvisi" data-parent="#accordionbiayaProvisi">
						<div style="padding-left:2%">
							<?php if ($this->feeDebited != 2) { ?>
		
								<div class="form-group row">
									<div class="col-sm-3 pr-0">
										<label for="" class="textGray"><?= $this->language->_('Rekening Pembebanan Biaya'); ?></label>
									</div>
									<div class="col-sm-9">
										<label class="font-weight-bold">
											<?php
											echo $this->acct . ' (' . $this->currency_type . ') / ' . $this->src_name;
											?>
										</label>
									</div>
								</div>
		
								<div id="tampil_provisi">
									<div class="form-group row">
										<div class="col-sm-3">
											<label class="textGray "><?= $this->language->_('Biaya Provisi Bank'); ?></label>
										</div>
										<div class="col-sm-9">
											<label id="biaya_provisi" class=""><?= $this->allToProvision[0] . '% (IDR ' . number_format($this->allToProvision[1], 2) . ')'; ?></label>
										</div>
									</div>
		
									<div class="form-group row">
										<div class="col-sm-3">
											<label class="textGray "><?= $this->language->_('Biaya Administrasi Bank'); ?></label>
										</div>
										<div class="col-sm-9">
											<label id="biaya_administrasi" class="">IDR <?= number_format($this->allToProvision[2]['adminFee'], 2); ?></label>
										</div>
									</div>
		
									<div class="form-group row">
										<div class="col-sm-3">
											<label class="textGray "><?= $this->language->_('Biaya Meterai Bank'); ?></label>
										</div>
										<div class="col-sm-9">
											<label id="biaya_meterai" class="">IDR <?= number_format($this->allToProvision[2]['stampFee'], 2); ?></label>
										</div>
									</div>
								</div>
								<div id="biaya_asuransi" class="<?= $this->data['COUNTER_WARRANTY_TYPE'] != '3' ? 'hidden' : ''; ?>">
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray"><?= $this->language->_('Premi Asuransi'); ?></label>
										</div>
										<div class="col-sm-9">
											<label><?= $this->principleData['Principle Insurance Premium'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Premium'], 2) : '-'; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray"><?= $this->language->_('Biaya Administrasi Asuransi'); ?></label>
										</div>
										<div class="col-sm-9">
											<label><?= $this->principleData['Principle Insurance Administration'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Administration'], 2) : '-'; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray"><?= $this->language->_('Biaya Meterai Asuransi'); ?></label>
										</div>
										<div class="col-sm-9">
											<label><?= $this->principleData['Principle Insurance Stamp'] ? 'IDR ' . number_format($this->principleData['Principle Insurance Stamp'], 2) : '-'; ?></label>
										</div>
									</div>
								</div>
							<?php } else { ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label class="textGray "><?= $this->language->_('Biaya'); ?></label>
									</div>
									<div class="col-sm-9">
										<label class="">(<?= $this->language->_('Ditentukan oleh Asuransi'); ?>)</label>
									</div>
								</div>
							<?php } ?>
		
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('Format dan Bahasa') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
							<?php
							$bg = [$this->tbgdata['BG_PUBLISH'], $this->tbgdata['BG_FORMAT']];
							$temp = [$this->data['BG_PUBLISH'], $this->data['BG_FORMAT']];
							$this->bankFormatNumber == 2
								? array_push($temp, $this->data['SPECIAL_FORMAT_DOC'])
								: array_push($temp, $this->data['BG_LANGUAGE']);
							$this->bankFormatNumber == 2
								? array_push($bg, $this->tgbdata['SPECIAL_FORMAT_DOC'])
								: array_push($bg, $this->tbgdata['BG_LANGUAGE']);
							$diff = array_diff($temp, $bg);
							if (!empty($diff)) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
					<button type="button" class="button-collapse-custom" data-toggle="collapse" data-target="#formatLanguage" aria-expanded="true" aria-controls="formatLanguage">
						<i class="fa fa-angle-down"></i>
					</button>
				</div>
				<div id="accordionFormatLanguage">
					<div id="formatLanguage" class="collapse" aria-labelledby="formatLanguage" data-parent="#accordionFormatLanguage">
						<div style="padding-left:2%">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Publishing Form</label>
								</div>
								<div class="col-sm-7">
									<label><?php echo $this->publishForm; ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Bank Guarantee Format</label>
								</div>
								<div class="col-sm-7">
									<label> <?= $this->bankFormat; ?> </label>
								</div>
							</div>
							<?php if ($this->bankFormatNumber == 2) { ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray">Sample Format (format.doc)</label>
									</div>
									<div class="col-sm-7">
										<label>
											<?php

											$special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
											$new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

											$new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
											echo $new_special_format;

											?>
											<a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										</label>
									</div>
								</div>
							<?php } ?>

							<?php if ($this->bankFormatNumber == 1) { ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray">Language<strong class="formreq">
												<font color="red">&nbsp;*</font>
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->languagetext; ?></label>
									</div>
								</div>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('Lampiran Dokumen') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->othersAttachmentT)) { ?>
							<?php
							$temp = [
								$this->othersAttachment[0]['BG_FILE'],
								$this->othersAttachment[0]['FILE_NOTE'],
								$this->othersAttachment[0]['INDEX'],
							];
							$bg = [
								$this->othersAttachmentT[0]['BG_FILE'],
								$this->othersAttachmentT[0]['FILE_NOTE'],
								$this->othersAttachmentT[0]['INDEX'],
							];
							if (!empty(array_diff($temp, $bg))) { ?>
								&nbsp;
								<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
							<?php } ?>
						<?php } ?> -->
					</h5>
					<div style="padding-right: 2%;">
						<?php if (empty($this->check8)) { ?>

						<?php } else { ?>
							<label>(<?= $this->language->_('Last Verified :') ?><?php
																				//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																				echo $this->verify8; ?>)</label>
						<?php } ?>
						<button type="button" class="button-collapse-custom" data-toggle="collapse" data-target="#lampiranDokumen" aria-expanded="true" aria-controls="lampiranDokumen">
							<i class="fa fa-angle-down"></i>
						</button>
					</div>
				</div>
				<div id="accordionLampiranDokumen">
					<div id="lampiranDokumen" class="collapse" aria-labelledby="lampiranDokumen" data-parent="#accordionLampiranDokumen">
						<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
							<thead>
								<tr>
									<th class="tablehead fth-header" style="background-color: #005587">File Name </th>
									<th class="tablehead fth-header" style="background-color: #005587">Bank Footnotes</th>
									<th class="tablehead fth-header" style="background-color: #005587">Action</th>
								</tr>
							</thead>
	
							<?php foreach ($this->othersAttachment as $file) {
	
								//trim file name 
								$x = 1;
								$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
								$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
								$fileName = substr($file["BG_FILE"], $getLength);
	
								// end trim file name
							?>
								<tr>
									<td><label for="" class="textGray col-form-label">Attachment<?= $x ?></label> </td>
									<td><input type="text" name="Footnotes" class="form-control" value="<?= $file["FILE_NOTE"]; ?>" id="autocomplete" readonly></td>
									<td><button type="button" onclick="location.href = '/eformworkflow/downloadfile/index/bgnumb/<?= $this->BG_REG_NUMBER ?>/download/<?= $file['INDEX'] ?>';" value="1" class="btn bg-transparent p-0 m-0 ml-2">
	
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
	
										</button></td>
	
								</tr>
							<?php
								$x++;
							} ?>
	
	
	
	
	
	
						</table>
					</div>
				</div>
			</div>
		</div>

		<?php if ($this->data["COUNTER_WARRANTY_TYPE"] != "1") { ?>
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust my-2 d-flex justify-content-between">
						<h5><?= $this->language->_('Informasi Fasilitas Penyediaan Dana SLIK OJK') ?></h5>
						<div style="padding-right: 2%;">
							<?php if (empty($this->check9)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify9; ?>)</label>
							<?php } ?>
							<button type="button" class="button-collapse-custom" data-toggle="collapse" data-target="#slikOjk" aria-expanded="true" aria-controls="slikOjk">
								<i class="fa fa-angle-down"></i>
							</button>
						</div>
					</div>
					<div id="accordionslikOjk">
						<div id="slikOjk" class="collapse" aria-labelledby="slikOjk" data-parent="#accordionslikOjk">
							<div style="padding-left:2%">
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray">Informasi SLIK OJK</label>
									</div>
		
									<div class="col-sm-7 d-flex align-items-center">
										<label class="m-0">
											<?php
											if (!empty($this->slikojk)) echo $this->slikojk;
											else echo "-";
											?>
										</label>&nbsp;&nbsp;
										<?php if (!empty($this->slikojk)) { ?>
											<a href="/eformworkflow/downloadfile/slikojk/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										<?php } ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>

		<?php if ($this->data["BG_FORMAT"] == "2") { ?>
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust my-2 d-flex justify-content-between">
						<h5><?= $this->language->_('Format Sertifikat Yang Disetujui') ?></h5>
						<div style="padding-right: 2%;">
							<?php if (empty($this->check10)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify10; ?>)</label>
							<?php } ?>
							<button type="button" class="button-collapse-custom" data-toggle="collapse" data-target="#formatSertifikat" aria-expanded="true" aria-controls="formatSertifikat">
								<i class="fa fa-angle-down"></i>
							</button>
						</div>
					</div>
					<div id="accordionformatSertifikat">
						<div id="formatSertifikat" class="collapse" aria-labelledby="formatSertifikat" data-parent="#accordionformatSertifikat">
							<div style="padding-left:2%">
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray">Format Disetujui</label>
									</div>
		
									<div class="col-sm-7 d-flex align-items-center">
										<label class="m-0">
											<?php if (!empty($this->agreeformat)) echo $this->agreeformat;
											else echo "-"; ?>
										</label>&nbsp;&nbsp;
										<?php if (!empty($this->agreeformat)) { ?>
											<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										<?php } ?>
									</div>
								</div>
		
		
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray">Memo Persetujuan Legal</label>
									</div>
		
									<div class="col-sm-7 d-flex align-items-center">
										<label class="m-0">
											<?php if (!empty($this->data["MEMO_LEGAL"])) {
												echo $this->memolegal;
											} else echo "-";
											?>
										</label>&nbsp;&nbsp;
										<?php if (!empty($this->data["MEMO_LEGAL"])) { ?>
											<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/2" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										<?php } ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
					<!-- <div >
						<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
					</div> -->
					<button type="button" class="button-collapse-custom" data-toggle="collapse" data-target="#sertifikatFinal" aria-expanded="true" aria-controls="sertifikatFinal">
						<i class="fa fa-angle-down"></i>
					</button>
				</div>
				<div id="accordionsertifikatFinal">
					<div id="sertifikatFinal" class="collapse" aria-labelledby="sertifikatFinal" data-parent="#accordionsertifikatFinal">
						<div style="padding-left:2%">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray">Sertifikat Bank Garansi </label>
								</div>
								<div class="col-sm-8 d-flex align-items-center">
									<label class="col-form-label">-</label>&nbsp;&nbsp;
									<?php if (false) { ?>
										<button onclick="location.href = 'javascript:void(0)';" name="download" value="1" class="btn bg-transparent p-0 m-0">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</button>
									<?php } ?>
								</div>
							</div>
						</div>
					</div>				
				</div>				
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust my-2 d-flex justify-content-between">
					<h5><?= $this->language->_('History') ?></h5>
					<div>
						<a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<div id="history-body">
							<table class="table-bordered" cellpadding="3" style="width:100%">
								<tr style="background-color:#ccc">
									<td><b><i><?= $this->language->_('User'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Action'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Note'); ?></i></b></td>
								</tr>
								<?php foreach ($this->dataHistory as $row) : ?>
									<tr style="background-color:#eee">
										<td><?= $row['USER_LOGIN']; ?></td>
										<td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
										<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
										<td><?= $row['BG_REASON'] ?: '-'; ?></td>
									</tr>
								<?php endforeach; ?>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<br>
		<label for="">&nbsp;<?= $this->language->_('The Preliminary Document is all set') ?>. <a href="javascript:void(0)" target="_blank" onclick="javascript:openwindow('/preliminary/index/index/view/1/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>',900,600);"><u><?= $this->language->_('Check Documents') ?></u></a></label>

	</div>
</div>

<?php
$back = $this->language->_('Back');
$amendment = $this->language->_('Amendment');
?>

<div class="col-md-12 mt-4" align="center">
	<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/bgreport/ongoing'" type="button">

	&nbsp;
	<!--<?= $this->formButton('download', $download, array('id' => '', 'class' => 'btn-sm btnwhite hov', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/download/4'")); ?>-->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/amendment/1'")); ?> -->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/amdetail/index/bg/$encrypted_id'")); ?> -->
	&nbsp;

	<!--<?= $this->formButton('amendment', $amendment, array('class' => 'btn-sm btngreen hov', 'onclick' => "location.href='/eform/amdetail/index/bgnumb/$BG_REG_NUMBER'")); ?>-->

</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row">
							<div class="col-sm-3">
								<label class="text-gray">Company</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>
<div class="modal fade" id="myModalAmandement" tabindex="-1" role="dialog" aria-labelledby="myModalAmandement">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Detail Bank Garansi</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row">
							<div class="col-sm-3">
								<label class="text-gray">Nomor Registrasi</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['BG_REG_NUMBER']; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Nomor BG</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BG_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Subjek eForm</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['SUBJECT'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Bank Cabang</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Status</label>
							</div>
							<div class="col-sm-9">
								<label>Selesai penjaminan - amandemen menjadi BG baru (BG No : <?= $this->data['BG_NUMBER'] ?: '-'; ?>)</label>
							</div>
						</div>

					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>
<script>
	$('.padding-header-cust').on('click', '.button-collapse-custom', function (obj) {
        $(this).find("i").toggleClass("fa-angle-down fa-angle-up");
    })
	
	$(document).ready(function() {
		$('#fa-angle-up').hide();
		$('#history-body').hide();

		// if ($('.textTheme').is(':visible')) {
		// 	$('.textTheme span').each(function(index, elem) {
		// 		let textLength = elem.textContent.length;
		// 		if (textLength > 13) {
		// 			let text = elem.textContent;
		// 			let shortenedText = text.substring(0, 13);
		// 			shortenedText += '...';
		// 			elem.textContent = shortenedText;

		// 			$(elem).addClass('text-truncate')
		// 		}
		// 	})
		// }

		$('#guarantedTransactions').parent().removeAttr('style').removeClass('py-3')
	});

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}

	$(document).ready(function() {
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	});

	function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#sertifikatBG').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	}

	async function inquiryMdFullCoverNew() {
		document.querySelector('#inquiryMdFcNew').querySelector('span').classList.add('hidden');
		document.querySelector('#inquiryMdFcNew').querySelector('img').classList.remove('hidden');

		await $.ajax({
			url: "<?= $this->url(array('module' => 'eform', 'controller' => 'amdetail', 'action' => 'mdfcnew'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
				bgregnumber: '<?= $this->BG_REG_NUMBER; ?>'
			},
			success: function(data) {
				$('#marginalDepositFCNew').html(data);
			},
			complete: () => {
				document.querySelector('#inquiryMdFcNew').querySelector('span').classList.remove('hidden');
				document.querySelector('#inquiryMdFcNew').querySelector('img').classList.add('hidden');
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log("Failed to get data");
			}
		});

		document.querySelector('#lbl_mdfceksis_new').innerText = new Intl.NumberFormat("en-EN", {
			style: 'currency',
			currency: 'IDR',
			minimumFractionDigits: 2,
			maximumFractionDigits: 2
		}).format(document.querySelector('#mdfceksisnew').value);
	}

	async function inquiryMdFullCover() {
		document.querySelector('#inquiryMdFc').querySelector('span').classList.add('hidden');
		document.querySelector('#inquiryMdFc').querySelector('img').classList.remove('hidden');

		await $.ajax({
			url: "<?= $this->url(array('module' => 'eform', 'controller' => 'amdetail', 'action' => 'mdfcold'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
				bgregnumber: '<?= $this->BG_REG_NUMBER; ?>'
			},
			success: function(data) {
				$('#marginalDepositFC').html(data);
			},
			complete: () => {
				document.querySelector('#inquiryMdFc').querySelector('span').classList.remove('hidden');
				document.querySelector('#inquiryMdFc').querySelector('img').classList.add('hidden');
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log("Failed to get data");
			}
		});

		document.querySelector('#lbl_mdfceksis').innerText = new Intl.NumberFormat("en-EN", {
			style: 'currency',
			currency: 'IDR',
			minimumFractionDigits: 2,
			maximumFractionDigits: 2
		}).format(document.querySelector('#mdfceksis').value);
	}

	function countProvision() {
		const kontra = '<?= $this->data['COUNTER_WARRANTY_TYPE']; ?>';
		const time_period_start = '<?= $this->data['TIME_PERIOD_START']; ?>';
		const time_period_end = '<?= $this->data['TIME_PERIOD_END']; ?>'
		const bg_amount = parseFloat('<?= $this->data['BG_AMOUNT']; ?>');
		const cust_id = '<?= $this->data['CUST_ID']; ?>';
		const usage_purpose = '<?= $this->data['USAGE_PURPOSE']; ?>';
		const usage_purpose_desc = '<?= $this->data['USAGE_PURPOSE_DESC']; ?>';
		const insurance_code = '<?= $this->data['BG_INSURANCE_CODE']; ?>';
		const previous_provision = '<?= $this->prevProv; ?>';
		const tipeUsulan = '<?= $this->data['CHANGE_TYPE']; ?>';

		const formattermoney = new Intl.NumberFormat("en-EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
			style: "currency",
			currency: "IDR"
		});

		$.ajax({
			url: "<?= $this->url(array('module' => 'eform', 'controller' => 'amdetail', 'action' => 'countprovision'), null, true) ?>",
			type: 'GET',
			dataType: "json",
			data: {
				kontra,
				time_period_start,
				time_period_end,
				bg_amount,
				cust_id,
				usage_purpose,
				usage_purpose_desc,
				insurance_code,
				previous_provision
			},
			success: function(data) {
				if (data.provisi || data.provisi === 0) {
					if (tipeUsulan == 2) {
						document.querySelector('#biaya_provisi').innerText = `${data.percentage_provisi}% (${formattermoney.format(0)})`;
					} else {
						document.querySelector('#biaya_provisi').innerText = `${data.percentage_provisi}% (${formattermoney.format(data.provisi)})`;
					}
					document.querySelector('#biaya_administrasi').innerText = `${formattermoney.format(data.administrasi)}`;
					document.querySelector('#biaya_meterai').innerText = `${formattermoney.format(data.meterai)}`;

					if (data.change_provision) document.querySelector('#provisionIconChange')?.classList.remove('hidden');
				} else {
					document.querySelector('#biaya_provisi').innerText = '-';
					document.querySelector('#biaya_administrasi').innerText = '-';
					document.querySelector('#biaya_meterai').innerText = '-';
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				document.querySelector('#biaya_provisi').innerText = '-';
				document.querySelector('#biaya_administrasi').innerText = '-';
				document.querySelector('#biaya_meterai').innerText = '-';
				console.log("Failed to get data, please try again");
			}
		});

	}

	const bankGuaranteeApplicant = () => {
		$("#myModalBankApp").modal();
	}
	const amandementDetail = () => {
		$("#myModalAmandement").modal();
	}

	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector('#inquiryMdFc')?.addEventListener('click', inquiryMdFullCover);
		document.querySelector('#inquiryMdFc')?.click();

		document.querySelector('#inquiryMdFcNew')?.addEventListener('click', inquiryMdFullCoverNew);
		document.querySelector('#inquiryMdFcNew')?.click();


		<?php if (in_array($this->data['CHANGE_TYPE'], [1, 2])) : ?>
			document.querySelector('#biaya_provisi').innerText = '-'
			document.querySelector('#biaya_administrasi').innerText = '-'
			document.querySelector('#biaya_meterai').innerText = '-'
			countProvision();
		<?php endif ?>
	});

	function modalmoredetail() {
		$("#myModalMoreDetail").modal();
	}
</script>