<b><?php echo $this->language->_('Payment');?> > <?php echo $this->language->_('Others Payment');?></b>
<br />
<br>
<!--<div class="successmsg">Payment Success</div><br/>-->
<div class="errmsg">
<?php 
	echo $this->language->_($this->ERROR_MSG_N);		
?>
</div><br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="3" class="tdform-sub"><?php echo $this->language->_('Others Payment');?></td></tr>
		<tr>
			<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Payment Ref');?>#</td>
			<td class="tbl-evencontent" width="10px">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['PS_NUMBER']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Date - Time');?></td>
			<td class="tbl-evencontent" width="10px">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['date']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Source Account');?></td>
			<td class="tbl-evencontent" width="10px">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['ACCTSRC']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Service Provider');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['operatorNama'];?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Customer ID');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['orderId']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Total Payment');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
			</td>
		</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:left">
				<?php
				$option = array('module'=>'payment','controller'=>'others');
				?>
									
				<input class="inputbtn" value="<?php echo $this->language->_('Back');?>" onclick="location.href='<?=$this->url($option,null,true)?>'" type="button">&nbsp;
					<input class="inputbtn" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button">
					<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>
				</div>
			</td>
		</tr>
	</table>
</form>