<b><?php echo $this->language->_('Payment');?> &gt; <?php echo $this->language->_('Others Payment');?></b><br /><br />
<br />

<?php
	if($this->error)
	{	?>
	<div class="alert alert-danger">
	<?php 
		echo $this->language->_('Error').": ".$this->language->_($this->ERROR_MSG);		
	?>
	</div><br />
<?php
	}
?>
<?php 
            if($this->token){
              if($this->hidetoken){ 
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
            }
          }
        ?>
<?php
	var_dump($this->paramSession);
 ?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group row ">
	                <div class="col-md-12">
	                <h5><?php echo $this->language->_('Others Payment');?></h5>
	                </div>
	        </div>
	        <?php if (!empty($this->ps_numb)){ ?>
		        <div class="form-group row ">
					<div class="col-sm-3">
						<label for=""><?php echo $this->language->_('Payment Ref'); ?>#</label>
					</div>
					<div class="col-sm-9">
					 	<?php  if(!$this->hidetoken){ ?>
						<b><?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {echo $this->language->_('auto generate');}?></b>

							<?php }else{
								echo '<b>';
	                      echo $this->ps_numb;
	                      echo '</b>';
	                     }   ?>
						
						<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>
					</div>
				</div>
			<?php } ?>
			<div class="form-group row ">
				<div class="col-sm-3">
					<label for=""><?php echo $this->language->_('Source Account'); ?></label>
				</div>
				<div class="col-sm-9">
				 	<?=$this->paramSession['ACCTSRC']?>
				</div>
			</div>

			<div class="form-group row ">
				<div class="col-sm-3">
					<label for=""><?php echo $this->language->_('Service Provider'); ?></label>
				</div>
				<div class="col-sm-9">
				 	<?=$this->paramSession['operatorNama'];?>
				</div>
			</div>

			<div class="form-group row ">
				<div class="col-sm-3">
					<label for=""><?php echo $this->language->_('Customer ID'); ?></label>
				</div>
				<div class="col-sm-9">
				 	<?=$this->paramSession['orderId']?>
				</div>
			</div>
			
			<div class="form-group row ">
				<div class="col-sm-3">
					<label for=""><?php echo $this->language->_('Customer Name'); ?></label>
				</div>
				<div class="col-sm-9">
				 	<?=$this->paramSession['custname']?>
				</div>
			</div>

			<div class="form-group row ">
				<div class="col-sm-3">
					<label for=""><?php echo $this->language->_('Total'); ?></label>
				</div>
				<div class="col-sm-9">
				 	<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>
				</div>
			</div>
		</div>
	</div>
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		
		
		
  	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
  	<tr>
		<td colspan="3">
			<div class="formbutton">
							<tr>
								<td nowrap="nowrap" valign="top">
									<fieldset>
									<?php $user_id = $this->userId;?>
									<?php if($this->tokentype == '1'){
										//sms token
									?>	
										<legend><span class="tdform-sub"> <?php echo $this->language->_('Use Your Mobile Token'); ?>!</span></legend>
										<br>
										<table border="0" cellpadding="2" cellspacing="2" width="100%">
											<tbody>
												<tr><td>
												
												<a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>'singlepayment','controller'=>'requestactivationcode','action'=>'index','user_id' => $user_id),null,true);?>',640,380)"><?php echo $this->language->_('Request mToken'); ?> </a>
												<br>
												<font style='color:black'><?php echo $this->language->_('Enter Your Token'); ?> :</font></td></tr>
												<tr><td>
												<input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
												</td></tr>
											</tbody>
										</table>
									<?php } 
									elseif($this->tokentype == '2'){
									//hard token
										?>
										<legend><span class="tdform-sub"> <?php echo $this->language->_('Use Your Token'); ?>!</span></legend>
										<br>
										<table border="0" cellpadding="2" cellspacing="2" width="100%">
											<tbody>
												<tr><td><?php echo $this->language->_('Response Token'); ?>  APPLI 2 :</td></tr>
												<tr><td><input name="responseCode" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off"></tr>
												
											</tbody>
										</table>
										<?php 
									}?>
									</fieldset>
								</td>
							</tr>
			</div>
		</td>
	</tr>
  	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:left">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'inputbtn'));?>
					<?php //echo $this->formSubmit('submit1', $this->language->_('Submit'),array('class' => 'inputbtn'));?>
					<?php if($this->tokentype == '1'){?>
					<input type="submit" class="inputbtn" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Next')?>"/>
					<input type="submit" class="inputbtn" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Next')?>" disabled style="display:none"/>
					<?php }
					elseif($this->tokentype == '2'){
						?>
						<input type="submit" class="inputbtn" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Next')?>"/>
						<input type="submit" class="inputbtn" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Next')?>" disabled style="display:none"/>
						<?php 
					}
					else{}
					?>
					
					<script>
					function submitbtn(){
						//document.getElementById("subbutton").disabled=true;
						document.getElementById("subbutton").style.display ="none";
						document.getElementById("Submit_id").style.display ="inline";
						//Validation code goes here
					}
					</script>
				</div>
			</td>
		</tr>
	</table> -->
	<?php 
            if(!$this->hidetoken){

            	?>
          <div class="row">
          
           <div class="col-md-12" align="center">
            <table width="40%">
                    <tbody>
                      <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

                      <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput mx-auto" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput mx-auto" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput mx-auto" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput mx-auto" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput mx-auto" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                       </tr>
                    </tbody>
                  </table>
            </div>
        </div> 
        <br/>
        <br>
		<?php }  ?> 

		<div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
				<div class="formbutton" style="float:left">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'btnwhite hov'));?>
					
  <?php 
           			 if(!$this->hidetoken){
           			 	if(!$this->token){
            			?>
            				<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
            			<?php
            		}else{
            	?>
              		 
				
					<button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>
					
					<script>
					function submitbtn(){
						//document.getElementById("subbutton").disabled=true;
						document.getElementById("subbutton").style.display ="none";
						document.getElementById("Submit_id").style.display ="inline";
						//Validation code goes here
					}
					</script>

					 <?php } } ?>
				</div>
			</div>
            <div class="col-md-4"></div>
        </div>  
</form>