<b><?php echo $this->language->_('Customer Setup'); ?> &gt; <?php echo $this->language->_('Customer'); ?> &gt; <?php echo $this->language->_('Detail'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Customer'); ?></div>
<?php 
if($this->cust_id)
{
  if($this->cust_bin_status == 1)       $status = $this->status_type['desc']['approved']; 
  else if($this->cust_bin_status == 2)  $status = $this->status_type['desc']['suspended']; 
  else if($this->cust_bin_status == 3)  $status = $this->status_type['desc']['delete']; 

?>

<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Customer Detail'); ?></strong></th></tr>
  
  <tr>
    <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
	<td width="3" class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3" width="300"><?php echo $this->formLabel('cust_id',$this->cust_id); ?></td>
  </tr>
  
  <tr>
   <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_name',$this->cust_name); ?></td>
  </tr>
  
  <tr>
   <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Bank Identification Number (BIN)')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin',$this->cust_bin); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_bin_status',$this->language->_('Status')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin_status',$this->language->_($status)); ?></td>
  </tr>
  
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_created',$this->language->_('Created Date')); ?></td>
    <td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_created',Application_Helper_General::convertDate($this->cust_created,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
  </tr>
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_createdby',$this->language->_('Created By')); ?></td>
    <td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_createdby',$this->cust_createdby); ?></td>
  </tr>
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_suggested',$this->language->_('Last Suggestion')); ?></td>
    <td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_suggested',Application_Helper_General::convertDate($this->cust_suggested,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_suggestedby',$this->language->_('Last Suggester')); ?></td>
    <td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_suggestedby',$this->cust_suggestedby); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_updated',$this->language->_('Last Approval')); ?></td>
    <td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_updated',Application_Helper_General::convertDate($this->cust_updated,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_updatedby',$this->language->_('Last Approver')); ?></td>
    <td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_updatedby',$this->cust_updatedby); ?></td>
  </tr>
  
</table>
<br />
<div><?php
  $backURL = $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true);
  echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backURL.'\'','class'=>'inputbtn'));

  echo '&nbsp;&nbsp;';
  
//  if($this->cust_bin_status != 3)
//  { 
//       if($this->cust_temp)
//       {
//	      if($this->hasPrivilege('BNUD'))
//		  {
//	       	  $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true);
//		      echo $this->formButton('edit',$this->language->_('Edit'),array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'inputbtn'));
//		  }
//		  else{
//		  	  echo'<input type="button" value="'.$this->language->_('Edit').'" disabled class="inputbtn">';
//		  }
//	      echo '&nbsp;&nbsp;';
//	      
//	      if($this->cust_bin_status == 1)
//	      {
//	      	if($this->hasPrivilege('BNSP'))
//		  	{
//		         $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true);
//		         //echo $this->formButton('deactivate','Suspended',array('onclick'=>'confirmation(\'Are you sure want to deactivate this Customer?\',\''.$btn_active.'\')','class'=>'inputbtn'));
//		         echo $this->formButton('deactivate',$this->language->_('Suspend'),array('onclick'=>'location.href=\''.$btn_active.'\'','class'=>'inputbtn'));
//		  	}
//		  	else{
//		  		 echo'<input type="button" value="'.$this->language->_('Suspend').'" disabled class="inputbtn">';
//		  	}
//	      }
//	      else if($this->cust_bin_status == 2)
//	      {
//	      	if($this->hasPrivilege('BNSP'))
//		  	{
//		         $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true);
//		         //echo $this->formButton('activate','Unsuspend',array('onclick'=>'confirmation(\'Are you sure want to activate this Customer?\',\''.$btn_active.'\')','class'=>'inputbtn'));
//		         echo $this->formButton('activate',$this->language->_('Unsuspend'),array('onclick'=>'location.href=\''.$btn_active.'\'','class'=>'inputbtn'));
//		  	}
//		  	else{
//		  		 echo'<input type="button" value="'.$this->language->_('Unsuspend').'" disabled class="inputbtn">';
//		  	}
//	      }
//	      
//	      echo '&nbsp;&nbsp;';
//	      if($this->hasPrivilege('BNUD'))
//		  {
//		      $btn_delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true);
//		      echo $this->formButton('delete',$this->language->_('Delete'),array('onclick'=>'confirmation(\''.$this->language->_('Delete this record?').'\',\''.$btn_delete.'\')','class'=>'inputbtn'));
//		  }
//		  else{
//		  	  echo'<input type="button" value="'.$this->language->_('Delete').'" disabled class="inputbtn">';
//		  }
//	  }
//	  else
//	  {
//	      echo $this->language->_('No changes allowed for this record while awaiting approval for previous change');
//	  }
//  }
  
  
  
  /*//if($this->hasPrivilege('cust_user_inp'))
 // {
    echo '&nbsp;&nbsp;';
    if($this->cust_status == 1 && $this->cust_temp)
    {
      $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id),null,true);
      echo $this->formButton('edit','Edit',array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'inputbtn'));
    }
    else
    {
      echo $this->formButton('edit','Edit',array('disabled'=>true,'class'=>'disabledbtn'));
    }
 // }
    
  
  //if($this->hasPrivilege('cust_user_inp'))
  //{
    echo '&nbsp;&nbsp;';
    if($this->cust_status == 1)
    {
      if($this->cust_temp)
      {
        $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('deactivate','Suspended',array('onclick'=>'confirmation(\'Are you sure want to deactivate this Customer?\',\''.$btn_active.'\')','class'=>'inputbtn'));
      }
      else
      {
        echo $this->formButton('deactivate','Suspended',array('disabled'=>true,'class'=>'disabledbtn'));
      }
    }
    else if($this->cust_status == 2)
    {
      if($this->cust_temp)
      {
        $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('activate','Unsuspend',array('onclick'=>'confirmation(\'Are you sure want to activate this Customer?\',\''.$btn_active.'\')','class'=>'inputbtn'));
      }
      else
      {
        echo $this->formButton('activate','Unsuspend',array('disabled'=>true,'class'=>'disabledbtn'));
      }
    }
    
    echo '&nbsp;&nbsp;';
    
    if($this->cust_temp)
    {
        $btn_delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('delete','Delete',array('onclick'=>'confirmation(\'Are you sure want to delete this Customer?\',\''.$btn_delete.'\')','class'=>'inputbtn'));
    }
    else
    {
        echo $this->formButton('delete','Delete',array('disabled'=>true,'class'=>'disabledbtn'));
    }*/
    
  //}
?></div>
<?php }else{ ?>
<div id="content">- no data -</div>
<?php } ?>
</div>

<!------------------------------------------------------------END Beneficiary User------------------------------------------------>
