<link rel="stylesheet" href="/js/year-calendar/year-calendar.min.css">
<script src="/js/year-calendar/year-calendar.min.js"></script>
<script type="text/javascript">
	Calendar.locales['id'] = {
		days: ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"],
		daysShort: ["Ming", "Sen", "Sel", "Rab", "kam", "Jum", "Sab"],
		daysMin: ["Mg", "Sn", "Sl", "Rb", "Km", "Jm", "Sb"],
		months: ["Januari", "Februari", "Maret", "April", "Mai", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
		monthsShort: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Agt", "Sep", "Okt", "Nov", "Des"],
		weekShort: 'W',
		weekStart: 1
	};
</script>

<style>
	#events-log {
		display: inline-block;
		vertical-align: top;
		width: 340px;
		/* background-color: #e5e5e5; */
		padding: 10px;
		min-height: 200px;
		border: 1px solid lightgray;
		border-radius: 10px;
	}

	#events-log div {
		line-height: 1;
	}

	#calendar {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 380px);
	}

	/* calendar style */

	.calendar .calendar-header {
		background-color: #f5f5f5;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		border: 0;
	}

	.calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
		border-bottom: 2px solid #2196f3;
	}

	.calendar table.month th.month-title {
		background-color: #0061A7;
		color: white;
		font-weight: 400;
	}

	.calendar table.month .day-header {
		padding-top: 4px;
		padding-bottom: 3px;
		border-bottom: 2px solid #FCDA31;
	}

	/* ---- */

	.calendar table td {
		font-size: 12px !important;
	}

	.calendar table.month td.day .day-content {
		padding: 3px 4px !important;
	}

	.calendar table.month th.day-header {
		font-size: 12px !important;
	}

	.calendar table.month th.month-title {
		font-size: 14px !important;
		/* background: lightgray !important; */
	}

	.day-start {
		/* background-color: #dc3545 !important; */
		color: white !important;
	}

	.month td:nth-child(6) {
		color: red
	}

	.month td:nth-child(7) {
		color: red
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Holiday Setting'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>
<br>
<form action="" method="post">
	<div class="row">
		<div class="col-md-8" id="calendar"></div>
		<div class="col-md-4" id="events-log">
			<div class="row">
				<div class="col-md-12">
					<h5><?php echo $this->language->_('Holiday Setting'); ?></h5>
				</div>
				<div class="col-md-6" style="display: none;">
					<select name="showdata" class="form-control" id="showdata">
						<option value="0">Show All Holiday</option>
						<?php foreach ($this->CCYData as $key => $value) { ?>
							<option value="<?= $value["CCY_ID"] ?>">Show <?= $value["CCY_ID"] ?> Only</option>
						<?php } ?>
					</select>
				</div>
			</div>
			<div class="row pt-1" style="display: none;">
				<div class="col-md-6">
					<h6>Sort</h6>
				</div>
				<div class="col-md-6">
					<select name="listsort" class="form-control" id="listsort">
						<option value="1"><?= $this->language->_('Date'); ?></option>
						<option value="2">Currencies</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<table class="table" id="myTable">
						<thead>
							<tr>
								<th scope="col" width="27%" style="display:none">YYMMDD</th>
								<th scope="col" width="27%"><?= $this->language->_('Date'); ?></th>
								<th scope="col" width="65%"><?= $this->language->_('Notes'); ?></th>
								<th scope="col" width="3%"></th>
							</tr>
						</thead>
						<tbody id="table1">
							<?php
							$arrMonth = array(
								'01' => 'Jan',
								'02' => 'Feb',
								'03' => 'Mar',
								'04' => 'Apr',
								'05' => 'Mei',
								'06' => 'Jun',
								'07' => 'Jul',
								'08' => 'Aug',
								'09' => 'Sep',
								'10' => 'Oct',
								'11' => 'Nov',
								'12' => 'Des',
							);
							?>
							<?php foreach ($this->listHoliday as $key => $val) {
								$p = explode("-", $val['HOLIDAY_DATE']);
								$yymmdd = $p[0] . $p[1] . $p[2];
							?>
								<tr class="<?= 'H' . $val['year'] ?>">
									<td style="display:none"><?= $yymmdd ?></td>
									<td><?= $arrMonth[$val['month']] . ' ' . $val['day'] ?></td>
									<td style="display:none"><?= $val['year'] . '-' . $val['month'] . '-' . $val['day'] ?></td>
									<td style="display:none"><?= $val['HOLIDAY_ID'] ?></td>
									<!-- <td><?= $val['HOLIDAY_CCY'] ?></td> -->
									<td>
										<div style="word-wrap: break-word;max-width:11vw;"><?= $val['HOLIDAY_DESCRIPTION'] ?></div>
									</td>
									<?php if ($this->tempcek) {
									?>
										<td></td>
									<?php } else {
									?>
										<td class="xremove"><a class="removelist"><i class='fa fa-times' style="color:red"></i></a></td>
									<?php } ?>
								</tr>
							<?php } ?>
						</tbody>
					</table>
					<input type="hidden" id="datesort" value="dsc">
					<input type="hidden" id="ccysort" value="asc">

					<br>
					<div id="nochange" style="display:none"><em>No changes allowed while waiting previous change approval</em></div>

					<?php if ($this->hasPrivilege('HDUD')) : ?>
						<div class="row" style="text-align:right;">
							<div class="col" id="addnew">
								<a onClick="holidaymodal();" href="#" style="font-size: 15px; font-weight: bold;">+ <?= $this->language->_('add new'); ?></a>
							</div>
						</div>
					<?php endif ?>


					<?php
					foreach ($this->listHoliday as $rowHoliday) {
						$counter++;
						$d = $rowHoliday["day"];
						$m = $rowHoliday["month"];
						$y = $rowHoliday["year"];
						$holiday_date_arr[$counter] = $y . '-' . $m . '-' . $d;
						$holiday_desc_arr[$counter] = $rowHoliday["HOLIDAY_DESCRIPTION"];
						$holiday_date_id[$counter] = $rowHoliday["HOLIDAY_ID"];
						$holiday_ccyid_arr[$counter] = $rowHoliday["HOLIDAY_CCY"];
					}

					$holiday_desc_text = implode('~|~', $holiday_desc_arr);
					$holiday_id = implode('~|~', $holiday_date_id);
					$holiday_ccyid = implode('~|~', $holiday_ccyid_arr);
					$holiday_date_text = implode('~|~', $holiday_date_arr);
					?>
					<input type="hidden" name="dates" id="dates" value="<?= $holiday_date_text ?>">
					<input type="hidden" name="datesdes" id="datesdes" value="<?= $holiday_desc_text ?>">
					<input type="hidden" name="datesid" id="dateid" value="<?= $holiday_id ?>">
					<input type="hidden" name="ccyid" id="ccyid" value="<?= $holiday_ccyid ?>">
					<input type="hidden" name="selectyear" id="selectyear" value="">

					<input type="hidden" name="remdates" id="remdates" value="">
				</div>
			</div>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12" style="text-align:center">
			<button type="button" onclick="location.href='/home/dashboard'" class="btnwhite hov"><?php echo $this->language->_('Back') ?></button>
			<?php if ($this->hasPrivilege('HDUD')) : ?>
				<button type="submit" class="btngreen hov" id="submit" name="submit"><?php echo $this->language->_('Send') ?></button>
			<?php endif ?>
		</div>
	</div>
</form>


<!-- modal add event -->
<div class="modal fade" id="holidaycal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Add New Holiday') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form name="addnew" action="" method="post">
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="col-form-label">Date</label>
						</div>
						<div class="col-sm-9">
							<input type='text' class='form-control' style="font-size:1.2em" name='dholiday' id='dholiday' readonly value="<?= $this->dholiday ?>" required>
						</div>
					</div>
					<div class="form-group row" style="display: none">
						<div class="col-sm-3">
							<label for="" class="col-form-label">CCY ID</label>
						</div>
						<div class="col-sm-9">
							<select name="ccyidnew" id="ccyidnew" class="form-control" style="font-size:1.2em;">
								<?php foreach ($this->CCYData as $key => $value) { ?>
									<option value="<?= $value["CCY_ID"] ?>"><?= $value["CCY_ID"] ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="col-form-label">Description</label>
						</div>
						<div class="col-sm-9">
							<?php echo $this->formTextarea('description', $this->description, array('cols' => '142', 'rows' => '2', 'maxlength' => '100', 'class' => 'form-control', 'style' => 'font-size:1.2em')); ?>
						</div>
					</div>
					<input type="hidden" name="addEvent" id="addEvent" value="1">
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
					<button type="button" class="btngreen hov" id="saveholiday" onclick=""><?php echo $this->language->_('Add') ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="delholiday" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Remove Holiday') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form name="eventremove" action="" method="post">
				<div class="modal-body">
					<label class="textBlack">Are you sure to remove this event ?</label>
					<input type="hidden" name="removeEvent" value="1">
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
					<button type="button" class="btngreen hov" id="removeholiday" onclick=""><?php echo $this->language->_('Submit') ?></button>
				</div>
			</form>
		</div>
	</div>
</div>


<script>
	$('#showdata').val("<?= $this->filter ?>");

	var err = "<?= $this->err ?>";

	if (err == '1') {
		alert("you suggesting with duplicate data");
	} else if (err == '2') {
		alert("You suggesting same data without any changes");
	}
	//when load page
	let calendar = null;
	const currentYear = new Date().getFullYear();
	// console.log("<?= json_encode($holiday_date_arr) ?>");

	<?php foreach ($this->listHoliday as $key => $val) { ?>
		$('.H<?= $val['year'] ?>').hide();
	<?php } ?>

	$('.H' + currentYear).show();
	$('#selectyear').val(currentYear);

	let pending = [];
	<?php if (!empty($this->listTempChange)) {
		foreach ($this->listTempChange as $row => $list) { ?>
			pending.push('<?= $list['KEY_FIELD'] . '-' ?>');
	<?php }
	}
	?>
	let yy = currentYear + '-';
	if (pending.includes(yy)) {
		$('.xremove').hide();
		$('#addnew').hide();
		$('#nochange').show();
		$('#submit').prop('disabled', true);
		$('#submit').addClass('disabled');
	}


	// Initialize calendar
	calendar = new Calendar('#calendar', {
		language: 'id',
		enableContextMenu: true,
		enableRangeSelection: true,
		// contextMenuItems:[
		// 		{
		// 				text: 'Update',
		// 				click: editEvent
		// 		},
		// 		{
		// 				text: 'Delete',
		// 				click: deleteEvent
		// 		}
		// ],
		style: "background",
		mouseOnDay: function(e) {
			if (e.events.length > 0) {
				var content = '';

				for (var i in e.events) {
					content += '<div class="event-tooltip-content">' +
						// '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>' +
						'<div class="event-location">' + e.events[i].location + '</div>' +
						'</div>';
				}

				$(e.element).popover({
					trigger: 'manual',
					container: 'body',
					html: true,
					content: content
				});

				$(e.element).popover('show');
			}
		},
		mouseOutDay: function(e) {
			if (e.events.length > 0) {
				$(e.element).popover('hide');
			}
		},
		dayContextMenu: function(e) {
			$(e.element).popover('hide');
		},
		enableRangeSelection: false,
		dataSource: [
			<?php $c = 0;
			foreach ($this->listHoliday as $key => $val) {
			?> {
					id: <?= $c ?>,
					name: "<?= $val['HOLIDAY_CCY'] ?>",
					location: "<?= $val['HOLIDAY_DESCRIPTION'] ?>",
					startDate: new Date(<?= $val['year'] ?>, <?= (int)$val['month'] - 1 ?>, <?= $val['day'] ?>),
					endDate: new Date(<?= $val['year'] ?>, <?= (int)$val['month'] - 1 ?>, <?= $val['day'] ?>),
					color: "#DC0714"

				},
			<?php
				$c++;
			}
			?>

		]
	})

	<?php
	if ($this->tempcek) {
	?>
		$('.xremove').hide();
		$('#submit').prop('disabled', true);
	<?php
	} else {
	?>
		// Register events
		document.querySelector('#calendar').addEventListener('clickDay', function(e) {
			// appendLog("Click on day: " + e.date.toLocaleDateString() + " (" + e.events.length + " events)")
			// let current_datetime = new Date(e.date.toLocaleDateString());
			let current_datetime = new Date(e.date);
			let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1).toString().padStart(2, "0") + "-" + current_datetime.getDate().toString().padStart(2, "0");
			let year_click = current_datetime.getFullYear() + '-';

			let tday = new Date();

			let listPending = [];
			<?php if (!empty($this->listTempChange)) {
				foreach ($this->listTempChange as $row => $list) { ?>
					listPending.push('<?= $list['KEY_FIELD'] . '-' ?>');
			<?php }
			}
			?>

			// console.log(listPending);
			// console.log(year_click);

			// console.log(tday, current_datetime);

			if (tday <= current_datetime) {
				// if (listPending.includes(year_click)) {} else {
				<?php if ($this->hasPrivilege('HDUD')) : ?>
					if (listPending.length > 0) {} else {
						$('#dholiday').val(formatted_date);
						// $('#ccyidnew').val('IDR');
						let isfilter = "<?= $this->filter ?>";
						if (isfilter != '0') {
							$('#ccyidnew').val(isfilter);
						} else {
							$('#ccyidnew').val('IDR');
						}
						$('#holidaycal').modal();
					}
				<?php endif ?>
			}
		})

	<?php } ?>

	// document.querySelector('#calendar').addEventListener('dayContextMenu', function(e) {
	//   appendLog("Right-click on day: " + e.date.toLocaleDateString() + " (" + e.events.length + " events)")
	// })

	// document.querySelector('#calendar').addEventListener('selectRange', function(e) {
	//   appendLog("Select a range: " + e.startDate.toLocaleDateString() + " - " + e.endDate.toLocaleDateString())
	// })

	document.querySelector('#calendar').addEventListener('yearChanged', function(e) {
		<?php foreach ($this->listHoliday as $key => $val) { ?>
			$('.H<?= $val['year'] ?>').hide();
		<?php } ?>
		const remDates = document.querySelector('#remdates').value.split('~|~');
		document.querySelectorAll('.H' + e.currentYear).forEach(item => {
			const getId = item.children[3].innerText;
			if (!remDates.includes(getId)) {
				item.style.display = 'table-row'
			}
		});
		// $('.H' + e.currentYear).show();
		$('#selectyear').val(e.currentYear);

		var theYear = new Date().getFullYear();
		if (e.currentYear < theYear) {
			$('.xremove').hide();
			$('#addnew').hide();
			$('#nochange').hide();
		} else {
			let ystring = e.currentYear + '-';
			let listPending2 = [];
			<?php if (!empty($this->listTempChange)) {
				foreach ($this->listTempChange as $row => $list) { ?>
					listPending2.push('<?= $list['KEY_FIELD'] . '-' ?>');
			<?php }
			}
			?>
			if (listPending2.includes(ystring)) {
				$('.xremove').hide();
				$('#addnew').hide();
				$('#nochange').show();
				$('#submit').prop('disabled', true);
				$('#submit').addClass('disabled');
				// $('#submit').hide();
			} else {
				$('.xremove').show();
				$('#addnew').show();
				$('#nochange').hide();
				$('#submit').show();
				$('#submit').prop('disabled', false);
			}
		}

		setTimeout(() => {
			document.querySelectorAll('[style="background-color: rgb(0, 97, 167);"]').forEach(item => {
				item.style.color = 'white'
			})
		}, 100);

		// $('#remdates').val('');

		// customize header of weekend
		// $('.day-header:contains("S")').css('color', 'red');
		// $(".month td:nth-child(7)").css("color", "red");
		// $(".month td:nth-child(1)").css("color", "red");

	})

	// document.querySelector('#calendar').addEventListener('renderEnd', function(e) {
	//   appendLog("Render end: " + e.currentYear)
	// })


	$('#dholiday').datepicker({
		minDate: function() {
			var cy = new Date();
			var currentYear = cy.getFullYear();
			var selectYear = $('#selectyear').val();

			if (currentYear == selectYear) {
				var date = new Date();
				date.setDate(date.getDate());
				return new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1);
			} else {
				var sd = selectYear + '-01-01';
				var date = new Date(sd);
				date.setDate(date.getDate());
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			}
		},
		maxDate: function() {
			var selectYear = $('#selectyear').val();
			var sd = selectYear + '-12-31';
			var date = new Date(sd);
			date.setDate(date.getDate());
			return new Date(date.getFullYear(), date.getMonth(), date.getDate());
		},
		format: 'yyyy-mm-dd',
		uiLibrary: 'bootstrap4'
	});

	$('#listsort').change(function() {
		var srt = $('#listsort').val();

		if (srt == '2') {
			sort_ccy();
		} else {
			sort_date();
		}
	})

	$('#saveholiday').on('click', function() {
		if ($('#dholiday').val() == '' || $('#ccyidnew').val() == '' || $('#description').val() == '') {
			alert("Field cannot be empty");
		} else {
			//validate
			let date_new = $('#dholiday').val();
			let ccy_new = $('#ccyidnew').val();
			let desc_new = $('#description').val();
			let id_new = "-";
			let data = 'date=' + date_new + '&ccy=' + ccy_new + '&desc=' + desc_new;

			$.ajax({
				type: "GET",
				// async: false,
				data: data,
				url: "<?= $this->url(array('module' => 'holidaysetting', 'controller' => 'index', 'action' => 'checkduplicate'), null, true) ?>",
				success: function(data) {
					let duplicate = data;

					if (duplicate == '1') {
						alert("You suggesting same data without any changes");
					} else {

						var val = document.getElementById('dates');
						if (val.value == '')
							arrayval = new Array();
						else
							arrayval = val.value.split('~|~');

						var desc = document.getElementById('datesdes');

						if (desc.value == '')
							arraydesc = new Array();
						else
							arraydesc = desc.value.split('~|~');

						var check_date_id = document.getElementById('dateid');

						if (check_date_id.value == '')
							arrayid = new Array();
						else
							arrayid = check_date_id.value.split('~|~');

						var ccyid = document.getElementById('ccyid');

						if (ccyid.value == '')
							arrayccy = new Array();
						else
							arrayccy = ccyid.value.split('~|~');

						arrayval.push($('#dholiday').val());
						arrayccy.push($('#ccyidnew').val());
						arraydesc.push($('#description').val());
						// arraydesc.push(desc_new);
						arrayid.push('-');

						var joined = arrayval.join('~|~');
						val.value = joined;

						var descjoined = arraydesc.join('~|~');
						desc.value = descjoined;

						var idjoined = arrayid.join('~|~');
						check_date_id.value = idjoined;

						var ccyjoined = arrayccy.join('~|~');
						ccyid.value = ccyjoined;

						saveEvent();
					}
				},
				error: function(data) {
					alert('Time out when checking event availablity');
				}
			});

			// var val=document.getElementById('dates');
			// if(val.value=='')
			// 	arrayval=new Array();
			// else
			// 	arrayval=val.value.split('~|~');

			// var desc=document.getElementById('datesdes');

			// if(desc.value=='')
			// 	arraydesc=new Array();
			// else
			// 	arraydesc=desc.value.split('~|~');	

			// var ccyid=document.getElementById('ccyid');

			// if(ccyid.value=='')
			// 	arrayccy=new Array();
			// else
			// 	arrayccy=ccyid.value.split('~|~');

			// arrayval.push($('#dholiday').val());
			// arrayccy.push($('#ccyidnew').val());
			// arraydesc.push($('#description').val());

			// var joined=arrayval.join('~|~');
			// val.value=joined;	

			// var descjoined=arraydesc.join('~|~');
			// desc.value=descjoined;	

			// var ccyjoined=arrayccy.join('~|~');
			// ccyid.value=ccyjoined;

			// saveEvent();
		}
		// $('#dholiday').val('');
		// $('#description').val('');
	});

	$(".removelist").click(function() {
		var $row = $(this).closest("tr"),
			$tds = $row.find("td:nth-child(4)");

		let dataSrc = calendar.getDataSource();

		const getDate = $row.find("td:nth-child(3)").text();

		var valrm = document.getElementById('remdates');
		//console.log(valrm.value)
		if (valrm.value == '')
			arrayvalrm = new Array();
		else
			arrayvalrm = valrm.value.split('~|~');

		$.each($tds, function() {
			arrayvalrm.push($(this).text());
			var joinedrm = arrayvalrm.join('~|~');
			valrm.value = joinedrm;
		});

		for (const key in dataSrc) {
			const cekDate = new Date(dataSrc[key].startDate);
			const fullDate = `${cekDate.getFullYear()}-${cekDate.getMonth()+1}-${cekDate.getDate()}`

			if (fullDate == getDate) {
				dataSrc[key].color = "#FCDA31"
			}
		}

		calendar.setDataSource(dataSrc);
		document.querySelectorAll('[style="background-color: rgb(0, 97, 167);"]').forEach(item => {
			item.style.color = 'white'
		})

		$(this).closest("tr").hide();

	});

	$('#showdata').change(function() {
		let filterVal = $('#showdata').val();
		let year = $('#selectyear').val();
		window.location.href = "/holidaysetting/index/index/filter/" + filterVal + "/cy/" + year;
	})

	var cy = "<?= $this->currentyear ?>";
	if (cy != "") {
		let cyear = '.year-title:contains("' + cy + '")'
		$(cyear).trigger('click');
	}

	// customize header of weekend
	// $('.day-header:contains("S")').css('color', 'red');
	// $(".month td:nth-child(7)").css("color", "red");
	// $(".month td:nth-child(1)").css("color", "red");

	// Function +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	function appendLog(log) {
		var logElt = document.createElement('div');
		logElt.textContent = log;
		document.querySelector('#events-log').appendChild(logElt);
	}

	function saveEvent() {
		var cc = $('#dholiday').val()
		var ccn = new Date(cc);

		var event = {
			id: "",
			name: $('#ccyidnew').val(),
			location: $('#description').val(),
			color: '#0061A7',
			text: 'white',
			startDate: ccn,
			endDate: ccn
		}

		var dataSource = calendar.getDataSource();

		if (event.id) {
			for (var i in dataSource) {
				if (dataSource[i].id == event.id) {
					dataSource[i].name = event.name;
					dataSource[i].location = event.location;
					dataSource[i].startDate = event.startDate;
					dataSource[i].endDate = event.endDate;
				}
			}
		} else {
			var newId = 0;
			for (var i in dataSource) {
				if (dataSource[i].id > newId) {
					newId = dataSource[i].id;
				}
			}

			newId++;
			event.id = newId;

			dataSource.push(event);
		}

		calendar.setDataSource(dataSource);
		document.querySelectorAll('[style="background-color: rgb(0, 97, 167);"]').forEach(item => {
			item.style.color = 'white'
		})
		$('#holidaycal').modal('hide');
	}

	$('#holidaycal').on('hidden.bs.modal', function(e) {
		$('#description').val('');
	})

	function holidaymodal() {

		let cy = new Date().getFullYear();
		let yy = $('#selectyear').val()
		if (yy > cy) {
			var nd = yy + '-01-01';
		} else {
			var current = new Date();
			var nd = current.getFullYear() + "-" + (current.getMonth() + 1).toString().padStart(2, "0") + "-" + `${current.getDate()+1}`.toString().padStart(2, "0");
		}
		$('#dholiday').val(nd);

		let isfilter = "<?= $this->filter ?>";
		if (isfilter != '0') {
			$('#ccyidnew').val(isfilter);

		} else {
			$('#ccyidnew').val('IDR');
		}

		$('#holidaycal').modal();
		// $('#holidaycal').modal();
		// $('#ccyidnew').val('IDR')
	}

	function deleteholiday() {
		$('#delholiday').modal();
	}

	function sort_ccy() {
		var table, rows, switching, i, x, y, shouldSwitch;
		table = document.getElementById("myTable");
		switching = true;
		while (switching) {
			switching = false;
			rows = table.rows;
			for (i = 1; i < (rows.length - 1); i++) {
				shouldSwitch = false;
				x = rows[i].getElementsByTagName("TD")[3];
				y = rows[i + 1].getElementsByTagName("TD")[3];
				if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
					shouldSwitch = true;
					break;
				}
			}
			if (shouldSwitch) {
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
			}
		}
	}

	function sort_date() {
		var table, rows, switching, i, x, y, shouldSwitch;
		table = document.getElementById("myTable");
		switching = true;
		while (switching) {
			switching = false;
			rows = table.rows;
			for (i = 1; i < (rows.length - 1); i++) {
				shouldSwitch = false;
				x = rows[i].getElementsByTagName("TD")[0];
				y = rows[i + 1].getElementsByTagName("TD")[0];
				if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
					shouldSwitch = true;
					break;
				}
			}
			if (shouldSwitch) {
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
			}
		}
	}

	document.addEventListener("DOMContentLoaded", () => {
		<?php if (!$this->hasPrivilege('HDUD')) : ?>
			document.querySelectorAll('.xremove').forEach(item => {
				item.style.display = 'none';
			});
		<?php endif ?>
	});
</script>