<?php 
$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?php echo $this->language->_('Master Report'); ?> &gt; <?php echo $this->language->_('Customer User List'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Customer User List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
   <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('custid',$this->language->_('Company Code')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="4"><select name="custid">
							<option value="">---<?php echo $this->language->_('Any Value'); ?>---</option>
							<?php foreach($this->var as $custlist){?>
							<option value="<?php echo $custlist['CUST_ID'];?>" <?=($custlist['CUST_ID']==$this->custid) ? 'selected' : ''?>><?php echo $custlist['CUST_ID'];?></option><?php }?>
						</select><?php 		//Zend_Debug::dump($this->var); die;?>
	  </td>
	  </tr>
   <tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('CompanyName',$this->language->_('Company Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('custname',$this->custname,array('size'=>'30')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('UserID',$this->language->_('User ID')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('userid',$this->userid,array('size'=>'30')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('username',$this->language->_('User Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('username',$this->username,array('size'=>'30')); ?></td>
		</tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php 
					//Zend_Debug::dump($this->paymentstatus);
					$options = array_combine(array_values($this->statusCode),array_values($this->statusDesc));
					//Zend_Debug::dump($options); die;
					array_unshift($options,'---'.$this->language->_('Any Value').'---');
					echo $this->formSelect('status',$this->status,array('id'=>'status'), $options);
				?></td>
    </tr>
    <tr>
      <td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
      </td>
    </tr>
  </table>
</form>
<br />
<div align="right">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<input class="inputbtn" value="<?php echo $this->language->_('PRINT');?>" onclick="window.print();" type="button">
	</form>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
      <th width="3%" valign="top">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
  	  <th valign="top"><?php echo $this->language->_('Action')?></th>
    </tr>
    <?php
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  echo '<tr>
              	  <td class="'.$td_css.'">'.$counter.'</td>
				  <td class="'.$td_css.'">'.$row['CUST_ID'].'</td>
				  <td class="'.$td_css.'">'.$row['CUST_NAME'].'</td>
				  <td class="'.$td_css.'">'.$row['USER_ID'].'</td>
				  <td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
				  <td class="'.$td_css.'">'.$row['TOKEN_ID'].'</td>
				  <td class="'.$td_css.'">'.$row['USER_EMAIL'].'</td>
				  <td class="'.$td_css.'">'.$row['USER_PHONE'].'</td>
				  <td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['USER_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				  <td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['USER_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				  <td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['USER_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				  <td class="'.$td_css.'">'.$row['USER_LOCKREASON'].'</td>		  
				  <td class="'.$td_css.'">'.$row['USER_STATUS'].'</td>';
				  ?>
				  <td class="<?=$td_css?>"><a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'customeruserlistdetail','action'=>'index','userid'=>$row['USER_ID'],'custid'=>$row['CUST_ID']),null,true);?>',800,800);"><?php echo $this->language->_('Detail')?></a></td>
				<?php echo '</tr>';
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>