<script type="text/javascript">
function detailbenef(url,acct)
{
  var test;
  var AcctValue = acct;
  var url = url+"?acct="+AcctValue;
  test = openwindow(url,640,780);
}

function addOption(theSel, theText, theValue)
{
  var newOpt = new Option(theText, theValue);
  var selLength = theSel.length;
  theSel.options[selLength] = newOpt;
}

function add(theSelFrom, theSelTo)
{
  var selLength = theSelFrom.length;
  var selLength2 = theSelTo.length;
  var selectedText = new Array();
  var selectedValues = new Array();
  var selectedCount = 0;
  var exist=false;
  var i;
  
  // Find the selected Options in reverse order
  // and delete them from the 'from' Select.
  for(i=selLength-1; i>=0; i--)
  {
    if(theSelFrom.options[i].selected)
    {
      selectedText[selectedCount] = theSelFrom.options[i].text;
      selectedValues[selectedCount] = theSelFrom.options[i].value;
     selectedCount++;
    }
  }
  for(i=selectedCount-1; i>=0; i--)
  {
	exist=false; 
	for(j=0;j<selLength2;j++)
	{
		if(selectedValues[i]==theSelTo.options[j].text)
		  exist=true;
	}
	if(exist==false)
  	  addOption(theSelTo, selectedValues[i], selectedValues[i]);
  }
  
}	

function rem(theSel) 
{
  var selIndex = theSel.selectedIndex;
  if (selIndex != -1) {
	for(i=theSel.length-1; i>=0; i--)
	{
	  if(theSel.options[i].selected)
	  {
		theSel.options[i] = null;
	  }
	}
	if (theSel.length > 0) {
	  theSel.selectedIndex = selIndex == 0 ? 0 : selIndex - 1;
	}
  }
}
	
function refreshwindow()
{
  // not loaded frames
  window.document.location.reload();
}

function verifiersubmit()
{
	var objs;
	var x;
	//find all option tag in page to become selected
	if (document.getElementsByTagName)
	{
	objs = document.getElementsByTagName("option");
	}
	else if (document.all)
	{ 
	objs = document.all.tags("option");
	}
	else if (document.layers)
	{
	objs = 	document.layers("option");
	}
	
	for(i=0;i<objs.length;i++)
	  objs[i].selected=true;
	  
	//alter the value of hidden fields
	var vals=document.getElementsByTagName('select');
	for(i=0;i<vals.length;i++)
	{
		//don't use select with name ulist
		if(vals[i].name!='ulist')
		{
		x=document.getElementById(vals[i].name.substr(1));
		x.value='';
		for(j=0;j<vals[i].length;j++)
			x.value = x.value + vals[i].options[j].value + ';';
		}
	}
}	

//akan di onload pertama kali
$(document).ready(function()
{   
	 hideAll();
});


function expandAll()
{
	regGroup_show();
	speGroup_show();
}

function hideAll()
{
	regGroup_hide();
	speGroup_hide();
}



function regGroup_show()
{
	$('#regGroup').show();
	//$('#buttonRegularGroupAcc').val('Hide');
	$('#buttonRegularGroupAcc').attr('Onclick','regGroup_hide()');
	$('#buttonRegularGroupAcc').hide();
	$('#buttonRegularGroupAccc').show();
	
}

function regGroup_hide()
{
	$('#regGroup').hide();
	//$('#buttonRegularGroupAcc').val('Expand');
	$('#buttonRegularGroupAcc').attr('Onclick','regGroup_show()');
	$('#buttonRegularGroupAcc').show();
	$('#buttonRegularGroupAccc').hide();
}

function speGroup_show()
{
	$('#speGroup').show();
	//$('#buttonspeGroup').val('Hide');
	$('#buttonspeGroup').attr('Onclick','speGroup_hide()');
	$('#buttonspeGroup').hide();
	$('#buttonspeGroupc').show();
}

function speGroup_hide()
{
	$('#speGroup').hide();
	//$('#buttonspeGroup').val('Expand');
	$('#buttonspeGroup').attr('Onclick','speGroup_show()');
	$('#buttonspeGroupc').hide();
	$('#buttonspeGroup').show();
}
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Approver Group'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Manage Group Member'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>
<div class="row content-box">
  <div class= "portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Approver Group Management'); ?></h5>
		<?php
			if($this->isapproval) 
			{
				echo '<div class="errmsg">'.$this->isapproval.'</div><br />';
				echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));
			}
			else
			{
		?>
		<?php if($this->success){ ?>
		<br /><div class="successmsg"><?=$this->report_msg?></div>
		<?php }else if($this->error){ ?>
		<br /><div class="errmsg"><?=html_entity_decode($this->report_msg)?></div>
		<?php } ?>

		<br />
			<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
				<tbody>
					<tr><td><b><?php echo $this->language->_('Manage Approver Group for'); ?> <?=$this->comp_name?></b></td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td>
		<form name="form1" id="form1" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
		  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="650" >
		    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('User List'); ?></strong></th></tr>
					<tr><td rowspan="2">&nbsp;</td></tr>
				 <tr>
				  <td>
				   <ul class="italictext"><?php echo $this->language->_('Note'); ?> : 
				  <li><?php echo $this->language->_('Displayed users are only users with'); ?> <strong>"<?php echo $this->language->_('Approve Payment'); ?>"</strong> <?php echo $this->language->_('Privileges'); ?>.</li>
				  <li><?php echo $this->language->_('To select more than one option, hold CTRL while clicking an option'); ?>.</li>
				  </ul>
				  <br>
				  <?php echo $this->language->_('Available User'); ?> <br><?php echo $this->formSelect('ulist',null,array('class'=>'form-control input-sm','multiple'=>true,'size'=>5),$this->listuser); ?>
				   </td>
				 </tr>
		  </table>
		</table>
		<br/><br/>
		<div> <a href="#" onclick="expandAll()"> <?php echo $this->language->_('Expand all Properties');?> </a> &nbsp;|&nbsp; <a href="#" onclick="hideAll()"> <?php echo $this->language->_('Hide all Properties');?> </a></div>
		<br/>

		<!-- -----------------Regular Group ---- -->

		<hr></hr>
		<table width="100%" border='0'>
		   <tr>
		      <td> <strong><?php echo $this->language->_('Regular Group'); ?></strong> </td>
		      <td align="right"> 
		      	<input type="button" class="btngreen hov" value="<?php echo $this->language->_('Expand'); ?>" onclick="regGroup_show()" id="buttonRegularGroupAcc"/> 
		      	<input type="button" class="btnwhite hov" value="<?php echo $this->language->_('Hide'); ?>" onclick="regGroup_hide()" id="buttonRegularGroupAccc"/> 
		      </td>
		   </tr>
		</table>
		<hr></hr>
		<div id="regGroup">
			<table class="table-sm table-bordered">
			 <tbody>
			 <tr><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 1</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_01',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_01',null,array('multiple'=>true,'size'=>5),$this->listgroup01); ?></td>
					</tr>		
					<tr>
					   <td><input name="add1" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_01);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem1" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_01);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 2</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_02',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_02',null,array('multiple'=>true,'size'=>5),$this->listgroup02); ?></td>
					</tr>		
					<tr>
					   <td><input name="add2" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_02);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem2" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_02);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 3</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_03',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_03',null,array('multiple'=>true,'size'=>5),$this->listgroup03); ?></td>
					</tr>		
					<tr>
					   <td><input name="add3" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_03);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem3" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_03);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 4</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_04',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_04',null,array('multiple'=>true,'size'=>5),$this->listgroup04); ?></td>
					</tr>		
					<tr>
					   <td><input name="add4" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_04);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem4" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_04);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 5</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_05',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_05',null,array('multiple'=>true,'size'=>5),$this->listgroup05); ?></td>
					</tr>		
					<tr>
					   <td><input name="add5" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_05);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem5" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_05);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td></tr>
			   <tr><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 6</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_06',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_06',null,array('multiple'=>true,'size'=>5),$this->listgroup06); ?></td>
					</tr>		
					<tr>
					   <td><input name="add6" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_06);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem6" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_06);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 7</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_07',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_07',null,array('multiple'=>true,'size'=>5),$this->listgroup07); ?></td>
					</tr>		
					<tr>
					   <td><input name="add7" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_07);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem7" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_07);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 8</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_08',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_08',null,array('multiple'=>true,'size'=>5),$this->listgroup08); ?></td>
					</tr>		
					<tr>
					   <td><input name="add8" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_08);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem8" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_08);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 9</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_09',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_09',null,array('multiple'=>true,'size'=>5),$this->listgroup09); ?></td>
					</tr>		
					<tr>
					   <td><input name="add9" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_09);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem9" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_09);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td><td valign="top">
				  <table style="border: medium none;" width="120">
					<tbody><tr>
					  <td class="boldtext"><?php echo $this->language->_('Group'); ?> 10</td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('N_'.$this->comp_id.'_10',null); ?>
					  <?php echo $this->formSelect('sN_'.$this->comp_id.'_10',null,array('multiple'=>true,'size'=>5),$this->listgroup10); ?></td>
					</tr>		
					<tr>
					   <td><input name="add10" value="+" onclick="add(document.form1.ulist, document.form1.sN_<?=$this->comp_id?>_10);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
							<input name="rem10" value="-" onclick="rem(document.form1.sN_<?=$this->comp_id?>_10);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
				 </tbody></table>
			   </td></tr>
			   <tr></tr>
			  </tbody>
			</table>
		</div>

		<!--------------------------------- Special Group ------------------------------->
		<hr></hr>
		<table width="100%" border='0'>
		   <tr>
		      <td> <strong><?php echo $this->language->_('Special Group'); ?></strong> </td>
		      <td align="right"> 
		      	<input type="button" class="btngreen hov" value="<?php echo $this->language->_('Expand');?>" onclick="speGroup_show()" id="buttonspeGroup"/> 
		      	<input type="button" class="btnwhite hov" value='<?php echo $this->language->_('Hide'); ?>' onclick="speGroup_hide()" id="buttonspeGroupc"/> 
		      </td>
		   </tr>
		</table>
		<hr></hr>
		<div id="speGroup">
			<table class="table-sm table-bordered" width="120">
				<tbody>
					<tr>
					  <td class="boldtext"><?php echo $this->language->_('Special Group'); ?></td>
					</tr>
					<tr>
					  <td class="tablevalue">
					  <?php echo $this->formHidden('S_'.$this->comp_id,null); ?>
					  <?php echo $this->formSelect('sS_'.$this->comp_id,null,array('multiple'=>true,'size'=>5),$this->listspecialgroup); ?></td>
					</tr>		
					<tr>
					 <td><input name="sadd1" value="+" onclick="add(document.form1.ulist, document.form1.sS_<?=$this->comp_id?>);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
						 <input name="srem1" value="-" onclick="rem(document.form1.sS_<?=$this->comp_id?>);" type="button" style="background-color:#006520; color:white;" class="inputbtn">
					   </td>
					</tr>
			 	</tbody>
			</table>
		</div>
				
			   <input name="uid" value="<?=$this->comp_id?>" type="hidden">
			   <br />
		   <input name="back" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?php echo $this->backURL; ?>/'" type="button" class="btnwhite hov">
		   <input name="submit" value="<?php echo $this->language->_('Submit'); ?>" type="submit" onclick="verifiersubmit();" class="btngreen hov"> <!--onclick="verifiersubmit();"-->
		   <!--  <input name="reset" value="<?php echo $this->language->_('Reset'); ?>" onclick="refreshwindow();" type="reset" class="inputbtn">-->
		   <input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$this->cust_id),null,true)?>'">
		   <input name="s" value="customer" type="hidden">
		   <input name="m" value="verifiereditmembersave" type="hidden">
		   <br />
					</td>
					</tr>
				</tbody>
			</table>
		</form>
		<?php } ?>
	</div>
</div>