<script type="text/javascript">
    $(document).ready(function() {
        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        });

    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Alur Penerbitan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Tahapan Tanda Tangan') ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Daftar Data Tahapan Tanda Tangan') ?></h5>
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
            <div class="panel panel-default ">
                <!-- Default panel contents -->

                <?php $aliasname = $this->language->_('Alias Name'); ?>
                <?php $beneficiaryaccount = $this->language->_('Beneficiary Accountt'); ?>
                <?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
                <?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
                <?php $setfilter = $this->language->_('Set Filter'); ?>
                <?php $clearfilter = $this->language->_('Clear Filter'); ?>
                <?php $nodata = $this->language->_('No Data'); ?>
                <?php $delete_lg = $this->language->_('Delete'); ?>

                <?php
                $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
                foreach ($this->filterlist as $key_name => $row) {
                    $optArr .=  '<option value="' . $key_name . '" >' . $this->language->_($row) . '</option>';
                }
                ?>

                <div class="row " id="logo-title" style="display: none">
                    <div class="portlet-body form col-md-12">
                        <div id="wheres" style="width: 100%">
                            <div id="where-<?= $ctr ?>">
                            </div>
                        </div>
                        <input type="hidden" id="wherectr" value="0" />
                        <br />
                        <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                        &nbsp;
                        <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                        &nbsp;
                        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                        <br />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <?php echo $this->language->_('Advanced Search'); ?>
                    </a>
                </div>
                <br>

            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div style="float:left">

            </div>
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
            <?php if (false) { ?>
                <div style="float:right; padding-left:5px;">
                    <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
                </div>
            <?php } ?>
            <form action="" method="post">
                <div style="float:right; padding-left:5px;">
                    <input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">
                </div>
            </form>
        </div>
    </div>

</div>
<?php if ($this->success) { ?>
    <div class="successmsg"><?= $this->report_msg ?></div><br />
<?php } else if ($this->error) { ?>
    <div class="errmsg"><?= $this->report_msg ?></div><br />
<?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed mt-2" id="fixTable">
    <table class="table table-sm table-striped headerNew" id="myTable">
        <tr height="50px">
            <th class="tablehead" width="3%" valign="top">No</th>
            <?php echo $this->partial(
                'tableheader.phtml',
                array(
                    'fields' => $this->fields,
                    'sortBy' => $this->sortBy,
                    'sortDir' => $this->sortDir,
                    'query_string_params' => $this->query_string_params
                )
            ) ?>


        </tr>
        <?php
        $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

        if (count($this->paginator) > 0) {
            $i = 0;

            foreach ($this->paginator as $row) {

                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                $attribut = array('class' => 'group_id', 'checked' => (isset($this->group_id[$row['GROUP_ID']])) ? true : false);


                if ($row['SUBJECT'] == '') {
                    $row['SUBJECT'] = '- no subject -';
                } else if ($row['SUBJECT'] == '1') {
                    $row['SUBJECT'] = 'Letter of Credit';
                } else if ($row['SUBJECT'] == '2') {
                    $row['SUBJECT'] = 'Surat Kredit Berdokumen Dalam Negeri';
                }

                $buttonSetting = $this->url(array('module' => 'signingstage', 'controller' => 'detail', 'action' => 'index', 'bgnumb' => $row['REG_NUMBER_ENCRYPTED']), null, true);
                $row['TYPE'] = 'BG';
                // if (substr($row['REG_NUMBER'], 0, 2) == "LC") {
                //     $row['TYPE'] = 'LC';
                //     $buttonSetting = $this->url(array('module' => 'eformworkflow', 'controller' => 'lcApprove', 'action' => 'index', 'LC_NUMBER' => $row['REG_NUMBER_ENCRYPTED']), null, true);
                // }

                if (isset($row['CCYID'])) {
                    $row['CCYID'] = $row['CCYID'];
                } else {
                    $row['CCYID'] = "IDR";
                }
                $label = '';
                if (!empty($row['BG_INSURANCE_CODE'])) {
                    $label = '(' . $row['BG_INSURANCE_CODE'] . ')';
                }

                if ($row['IS_AMENDMENT'] == 1) {
                    $type = 'Amendment Changes';
                } else if ($row['IS_AMENDMENT'] == 0) {
                    $type = "New";
                } else {
                    $type = "Amendment Draft";
                }

                $status = $this->arrStatus[$row["BG_STATUS"]];

                if ($row["BG_STATUS"] == 17) {
                    $signing_status = (empty($row["SIGNING_STATUS"])) ? 0 : $row["SIGNING_STATUS"];
                    $status = $this->arrStatus[$row["BG_STATUS"]] . " <br> (" . strval($signing_status) . "/2)";
                }

                echo
                '<tr>
                    <td class="' . $td_css . '" width="3%">' . $counter . '</td>
                    <td class="' . $td_css . '" width="20%">' . $row['REG_NUMBER'] . ' / <a href="' . $buttonSetting . '">' . $row['SUBJECT'] . '</a></td>
                    <td class="' . $td_css . '" width="10%">' . $row['CUST_NAME'] . '(' . $row['CUST_ID'] . ')</td>
                    <td class="' . $td_css . '" width="10%">' . $row['RECIPIENT_NAME'] . '</td>	
                    
                    
                    <td class="' . $td_css . '" width="10%">' . $row['BRANCH_NAME'] . '</td>
                    <td class="' . $td_css . '" width="10%">' . $this->arrWaranty[$row['COUNTER_WARRANTY_TYPE']] . '</td>
                    
                    <td class="' . $td_css . '" width="10%">' . $type . '</td>	
                    <td class="' . $td_css . '" width="10%"> <label style="text-align:left;width: 100%;">' . $status . '</label></td>

				</tr>';

                $i++;
                $counter++;
            }
        } else {
            echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_('No Data') . " --- </td></tr>";
        }
        ?>
    </table>
</div>


<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }

    // function modalslik(){
    // 	$("#myModalSLIK").modal();
    // }

    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name=\"wherecol[]\" style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });

        <?php if ($this->wherecol) { ?>
            document.querySelector("#sidebar-collapse").dispatchEvent(new Event("click"));

            const banyak_filter = parseInt(<?= count($this->wherecol); ?>);
            const filter_values = <?= json_encode($this->whereval) ?>;
            const filter_col = <?= json_encode($this->wherecol) ?>;

            for (let index = 0; index < parseInt(banyak_filter); index++) {
                document.querySelector("#addwhere").dispatchEvent(new Event("click"))
                document.querySelector(`#wherecol-${index}`).value = filter_col[index]
                document.querySelector(`#wherecol-${index}`).dispatchEvent(new Event("change"))
                let save_temp = document.querySelector(`#wherecol-${index}`).parentElement.parentElement.querySelector("[name='whereval[]']")
                save_temp.value = filter_values[index]
            }
        <?php } ?>
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', false);
        });

        $(colval).empty();
        if (colomnname == 'BG_PERIOD') {
            $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");


            $('#efdateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#efdateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });



        } else if (colomnname == 'BRANCH') {
            $(colval).append('<?= str_replace("\n", "", $this->formSelect('whereval[]', null, array("id" => "sel_branch", 'class' => 'form-control'), $this->sel_branch)); ?>');
            document.querySelector("#sel_branch").multiple = false;
        } else if (colomnname == 'COUNTER_TYPE') {
            $(colval).append('<?= str_replace("\n", "", $this->formSelect('whereval[]', null, array("id" => "count_type", 'class' => 'form-control'), $this->counter_type)); ?>');
            document.querySelector("#count_type").multiple = false;
        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='160'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>