<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>
<script type="text/javascript">
$(document).ready(function(){
	//typehelp
	var typehelp = $(".help_type").val();
    	if (typehelp == 1) {
          	$('#pdf2').show();
          	$('#video').hide();
      	}
      	else if (typehelp == 2) {
         	$('#pdf2').hide();
          	$('#video').show();
      	}

        $('.help_type').change(function() {
          	if (this.value == 1) {
              	$('#pdf2').show();
              	$('#video').hide();
          	}
          	else if (this.value == 2) {
             	$('#pdf2').hide();
              	$('#video').show();

          	}
        });

		var currencies = <?php echo $this->custarr; ?>;
	$('#autocomplete').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
	  $('#helpTopic').val(suggestion.CUST_ID);

    }
  });

});
</script>
<style type="text/css">

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */


    .input-group-prepend{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
        border-bottom-left-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: blue; color: white; }
.autocomplete-suggestions strong { font-weight: bold; color: orange; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


</style>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">

	               <li>
	                    <span><?php echo $this->language->_('User Guide'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span><?php echo $this->language->_('Add'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		if($this->errorMsg)
		{
			foreach($this->errorMsg as $key => $error)
			{
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}

		if($this->documentErr)
		{
			echo $this->formErrors($this->documentErr);
		}
		else if($this->helpTopicErr)
		{
			echo $this->formErrors($this->helpTopicErr);
		}
		else if($this->sourceFileNameErr)
		{
			echo $this->formErrors($this->sourceFileNameErr);
		}
	?>
	</div>
	<br />
	<?php
		}
		else if($this->success)
		{
	?>
		<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php
		}
	?>

<form name="acstat_query" enctype="multipart/form-data" method="post" action="">	
 <div class="row">
    <div class="col-sm-12">
	<div class="card-body form">
		<div class="form-group row pt-2">
			<div class="col-sm-12">
			<h5><?=$this->language->_('Add Dropbox')?></h5>
			</div>
		</div>
		<div class="form-group row pt-2">
			<div class="col-sm-12">
				<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
			</div>
		</div>

		<div class="form-group row pt-2">
			<div class="col-sm-2">
			<?php echo $this->formLabel('Help Topic*',$this->language->_('To Company')); ?>&nbsp;<span class="errmsg">*</span>
			</div>
			<div class="col-sm-6">
				<div class="input-group input-group-sm">
					<input type="text" name="COMPANY_TEXT" class="form-control" value="<?php echo $this->COMPANY_TEXT; ?>" id="autocomplete" >
					<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>
					<?php echo $this->formHidden('helpTopic',$this->helpTopic); ?>
				</div>	
			</div>	
		</div>
		<div class="form-group row pt-2" id="pdf2"> 
			<div class="col-sm-2">
				<?php echo $this->language->_('Upload File')?>&nbsp;<span class="errmsg">*</span>
			</div>
			<div class="col-sm-6">
				<br>
			    <?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
				<br><i> *) <?php echo $this->language->_('Only file in pdf format will be accepted')?></i>
			</div>	
		</div>
		<div class="form-group row pt-2" id="video" style="display:none;">
			<div class="col-sm-2">
				<?php echo $this->language->_('URL Link')?>&nbsp;<span class="errmsg">*</span>
			</div>
			<div class="col-sm-6">
				<?php  echo $this->formText('helpLink',$this->helpLink,array('size'=>'50','onfocus'=>'return noSpecialChar3(event);','class'=>'form-control')); ?>
			</div>	
		</div>
		<div class="form-group row pt-2">
			<div class="col-sm-2">
				<?php echo $this->language->_('Description')?>&nbsp;<span class="errmsg">*</span>
			</div>
			<div class="col-sm-6">
			<br>
			    <?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control')); echo '<br />';
				echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>
			</div>	
		</div>
		<div class="form-group row pt-2">
			<div class="col-sm-2">
				
			</div>
			<div class="col-sm-6">
				<div class="form-group row" style="width:100%" >
					<div class="col-md-12" style="text-align:center;">
						<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/dropbox\'', 'class' => 'btnwhite hov'));?>
						<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
						<?php echo $this->formSubmit('upload',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
						<!--<?php echo $this->formReset('reset', $this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->
				
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
</form>
<!--
<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
	<b><?php echo $this->language->_('General'); ?> > <?php echo $this->language->_('Help List'); ?> > <?php echo $this->language->_('Add'); ?> </b><br /><br />
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Help Management'); ?></div>
	<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		if($this->errorMsg)
		{
			foreach($this->errorMsg as $key => $error)
			{
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}

		if($this->documentErr)
		{
			echo $this->formErrors($this->documentErr);
		}
		else if($this->helpTopicErr)
		{
			echo $this->formErrors($this->helpTopicErr);
		}
		else if($this->sourceFileNameErr)
		{
			echo $this->formErrors($this->sourceFileNameErr);
		}
	?>
	</div>
	<br />
	<?php
		}
		else if($this->success)
		{
	?>
		<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php
		}
	?>

	<table align="left" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('New Help')?></strong></th></tr>
			<tr><td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></th></tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Help Topic')); ?><span class="errmsg">*</span></td>
				<td class="tbl-evencontent"><?php  echo $this->formText('helpTopic',$this->helpTopic,array('maxlength'=>'50','size'=>'50','onfocus'=>'return noSpecialChar3(event);')); ?></td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File')?><strong class="formreq">&nbsp;<span class="errmsg">*</span></strong></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
					<br /><br /><i> *) <?php echo $this->language->_('Only file in pdf format will be accepted')?></i></td>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Help Description')?></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeypress'=>'return noSpecialChar3(event);')); echo '<br />';
								echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>

				</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton">
						<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/helplist\'', 'class' => 'inputbtn'));?>
						<?php echo $this->formSubmit('upload',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
						<!--<?php echo $this->formReset('reset', $this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->

						<!--<input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>
 -->
