<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Customer Setup'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('User Limit Scheme'); ?>
											 <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
	                    <?php echo $this->language->_('Detail'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<?php 
	require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_custid = $AESMYSQL->encrypt($this->userlimitdetail['CUST_ID'], $rand);
    $enccustid = urlencode($encrypted_custid);

    $backURL = $this->url(array('module'=>'customer','controller'=>'view','action'=>'index', 'cust_id'=>$enccustid),null,true);
?>
<div class="row">
		<div class="col-md-8">
			<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="580px">
				<th colspan="3">
					<?php echo $this->language->_('User Limit Detail'); ?>
				</th>
			<?php if($this->userlimitdetail){	?>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Company Code'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=$this->userlimitdetail['CUST_ID']?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Company Name'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=$this->userlimitdetail['CUST_NAME']?></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('User ID'); ?></td>
					<td class="tbl-oddcontent" width="1%">:</td>
					<td class="tbl-oddcontent" width="69%"><?=$this->userlimitdetail['USER_LOGIN']?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('User Name'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=$this->userlimitdetail['USER_FULLNAME']?></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Account Number'); ?></td>
					<td class="tbl-oddcontent" width="1%">:</td> 
					<td class="tbl-oddcontent" width="69%"><?=$this->userlimitdetail['ACCT_NO']?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Account Name'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=$this->userlimitdetail['ACCT_NAME']?></td>
				</tr>
				<?php if($this->userlimitdetail['ACCT_CCY'] != 'IDR' && $this->userlimitdetail['ACCT_CCY'] != 'USD'){
					//var_dump($this->userlimitdetail);die;
					$ccy = Application_Helper_General::getCurrCode($this->userlimitdetail['CCY_ID']);
				}else{
					$ccy = $this->userlimitdetail['ACCT_CCY'];
				} ?>
				<tr>
					<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Currency'); ?></td>
					<td class="tbl-oddcontent" width="1%">:</td>
					<td class="tbl-oddcontent" width="69%"><?php echo $ccy; ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Max Limit'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=Application_Helper_General::displayMoney($this->userlimitdetail['MAXLIMIT'])?></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent" width="30%">Status</td>
					<td class="tbl-oddcontent" width="1%">:</td>
					<td class="tbl-oddcontent" width="69%"><?=$this->language->_($this->userlimitdetail['STATUS'])?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Created Date'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=Application_Helper_General::convertDate($this->userlimitdetail['CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Created By'); ?></td>
					<td class="tbl-oddcontent" width="1%">:</td>
					<td class="tbl-oddcontent" width="69%"><?=$this->userlimitdetail['CREATEDY']?></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Last Suggestion'); ?></td>
					<td class="tbl-oddcontent" width="1%">:</td>
					<td class="tbl-oddcontent" width="69%"><?=Application_Helper_General::convertDate($this->userlimitdetail['SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Last Suggester'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=$this->userlimitdetail['SUGGESTEDBY']?></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Last Approval'); ?></td>
					<td class="tbl-oddcontent" width="1%">:</td>
					<td class="tbl-oddcontent" width="69%"><?=Application_Helper_General::convertDate($this->userlimitdetail['UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Last Approver'); ?></td>
					<td class="tbl-evencontent" width="1%">:</td>
					<td class="tbl-evencontent" width="69%"><?=$this->userlimitdetail['UPDATEDBY']?></td>
				</tr>
				</table>
				<br />

				<?php
					echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backURL.'\'','class'=>'btnwhite hov'));

				    $encrypted_userid = $AESMYSQL->encrypt($this->userlimitdetail['USER_LOGIN'], $rand);
				    $encuserid = urlencode($encrypted_userid);

				    $encrypted_acct = $AESMYSQL->encrypt($this->acct_no, $rand);
				    $encacct = urlencode($encrypted_acct);
				?>
				<input type="button" onClick="location.href='<?=$this->url(array(
																	'module'=>$this->modulename,
																	'controller'=>'edit',
																	'action'=>'index',
																	'cust_id'=>$enccustid,
																	'user_id'=>$encuserid,
																	'acct_no'=>$encacct,
																	'type'=>$this->type,
																	'filter'=>'Filter'),
													null,true)?>'" class="btngreen hov" value="<?php echo $this->language->_('Edit/Reset');?>">

			<?php }else{ ?>
				<tr>
					<td class="tbl-oddcontent"><b><?php echo $this->language->_('Detail Not Found');?></b><br /><br /><br /></td>
				</tr>
				<tr>
					<td class="tbl-oddcontent">
					<?php
						echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backURL.'\'','class'=>'btnwhite hov'));
					?>
					</td>
				</tr>
				</table>
			<?php }?>

			<!-- 			END USER LIMIT DETAIL						-->

		</div>
</div>
<!-- 				USER LIMIT DETAIL			-->
