<?php $add = $this->language->_('Add')?>

<script type="text/javascript">
	$(document).ready(function(){
		$('div#sidebar-collapse').click(function(){
			  if ( $("#logo-title").is(":visible") ) { 
			    $("#logo-title").hide(); 
			    $("#logo-titles").hide(); 
			  } else if ( $("#logo-title").is(":hidden") ) { 
			    $("#logo-title").show(); 
			    $("#logo-titles").show(); 
			  }
			})

		$('#questStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#questEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#ansStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#ansEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
       
        $('#fixTable').fixTableHeader();


});
</script>



<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('FAQ')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Help')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>


<div class="row content-box">
<div class="portlet-body form col-md-12">
<h5><?=$this->language->_('Help')?></h5>
<form class="form-horizontal form-bordered form-row-stripped"  id="filterForm" name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<?php $questiondatefrom = $this->language->_('Question Date From'); ?>
	<?php $to = $this->language->_('To'); ?>
	<?php $answerdatefrom = $this->language->_('Answer Date From'); ?>
	<?php $category = $this->language->_('Category'); ?>
	<?php $setfilter = $this->language->_('Set Filter'); ?>
	<?php $clearfilter = $this->language->_('Clear Filter'); ?>
	<?php $nodata = $this->language->_('No Data'); ?>
	<?php $back = $this->language->_('Back'); ?>
	
<?php 
	$optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
	foreach($this->filterlist as $row){
		$optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
	}

	?>
	<div class="row " id="logo-titles" style="margin-left: 0px">
			<?php
			if(!empty($this->wherecol)){
				?>
				<script type="text/javascript">
					$(document).ready(function(){
					$("#logo-title").show(); 
				});

				</script>
				<?php
			}
			// print_r($this->wherecol);die;
			foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array("QUEST_DATE", "ANS_DATE");
                        $selectlist = array("CATEGORY");
                        $index = 0;
						


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                    		<script type="text/javascript">
                                    			$(document).ready(function(){
                                    			var colval = "#colvalue-s<?=$key?>";
                                    			var colomnname = "<?=$value?>";
                                    			// var colselect= "<?=$value?>";
                                    			var colselect = "colselect-s<?=$key?>";
    											var ncolselect = "#colselect-s<?=$key?>";
                                    			if(colomnname == 'CATEGORY'){

											            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'category'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: '<?=$this->whereval[$index]?>'
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });

											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }
											});

                                    		</script>
                                    	<?php
                                    		if($value == 'QUEST_DATE'){
                                    			// var_dump($this->whereval);die;
                                    			?>
                                    			<input type='text' class='form-control' name='questdate[]' id='questStart' readonly value="<?=$this->questStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='questdate[]' id='questEnd' value="<?=$this->questEnd?>" readonly required>
                                    			<?php
	                                    		}else if($value == 'ANS_DATE'){
												?>
												<input type='text' class='form-control' name='ansdate[]' id='ansStart' readonly value="<?=$this->ansStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='ansdate[]' id='ansEnd' value="<?=$this->ansEnd?>" readonly required>
												<?php

	                                    		}else if(!in_array($value, $selectlist)){
	                                    		?>
		                                        <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
		                                  		<?php }
		                                  		if (!in_array($value, $datetype)){
													// print_r($value);die;
													$index++;
												}
		                                  		 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

				<?php
			}
			?>

	</div>


	<div class="row " id="logo-title" style="display: none">
	<div class="portlet-body form col-md-12">
 	 <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
				<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                    	<div class="portlet-body form" style="display: none">
                    	                       
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                            					<option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                            				</select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>&nbsp;
				                                            <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
	</div>
	<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
	     <a href="#" class="sidebar-collapse-icon with-animation">
	         <?php echo $this->language->_('Advanced Search'); ?>               
	     </a>
	 </div>

      </form>
    </div>
</div>
<br/>

     <div style="float:left">    
            <?php
                $buttonNew = $this->url(array('module'=>$this->modulename,'controller'=>'create','action'=>'index'),null,true);          
                $buttonNew = ' <button type="button" class="btn-sm btngrad hov" onclick="location.href=\''.$buttonNew.'\'"><i class="fa fa-plus"></i>&nbsp;'.$add.'</button>';  
                echo $buttonNew;
            ?>
    </div>

    <br>
    <br>

	 <!-- <div class="panel panel-default"> -->
	
	<!-- 
	<table cellpadding="3" cellspacing="0" border="0">
		<tr>
			<td class="tdform-sub" colspan = "6"><?php echo $this->language->_('Filter'); ?></td>
		</tr>
		<tr>
			<td height="30px" class="tbl-evencontent">
			<?php 
				echo $this->formLabel('from',$questiondatefrom);
			?>
			</td>
			<td class="tbl-evencontent">:</td>
			<td height="30px" class="tbl-evencontent">
			<?php 
				echo $this->datePicker(
										"questionfrom",
										$this->questionfrom, 
										array(
												'dateFormat' => $this->jqueryDateFormat,
												'defaultDate'=>'new Date()',
												'showOn' => 'button',
												'buttonImage' => '/images/calendar.gif',
												'buttonImageOnly' => true,
												'changeMonth' => true,
												'changeYear' => true,
												'clearAnotherField'=>true,
												'anotherField'=>'questionto',
												'minDateID' => 'questionto'
											),
										 array(
												'readonly'=>'readonly'
												)
									);
			?>
			</td>
			<td height="30px" class="tbl-evencontent">
			<?php 
				echo $this->formLabel('to',$to);
			?>
			</td>
			<td class="tbl-evencontent">:</td>
			<td height="30px" class="tbl-evencontent">
			<?php
				echo $this->datePicker("questionto", 
										$this->questionto, 
										array(
												'dateFormat' => $this->jqueryDateFormat,
												'defaultDate'=>'new Date()',
												'showOn' => 'button',
												'buttonImage' => '/images/calendar.gif',
												'buttonImageOnly' => true,
												'changeMonth' => true,
												'changeYear' => true,
												'clearAnotherField'=>true,
												'anotherField'=>'questionfrom',
												'maxDateID' => 'questionfrom'
											),
										array(
												'readonly'=>'readonly'
											)
									);
			?>	
			</td>
		</tr>
		<tr>
			<td height="30px" class="tbl-evencontent">
			<?php 
				echo $this->formLabel('from',$answerdatefrom);
			?>
			</td>
			<td class="tbl-evencontent">:</td>
			<td height="30px" class="tbl-evencontent">
			<?php 
				echo $this->datePicker(
										"answerfrom",
										$this->answerfrom, 
										array(
												'dateFormat' => $this->jqueryDateFormat,
												'defaultDate'=>'new Date()',
												'showOn' => 'button',
												'buttonImage' => '/images/calendar.gif',
												'buttonImageOnly' => true,
												'changeMonth' => true,
												'changeYear' => true,
												'clearAnotherField'=>true,
												'anotherField'=>'answerto',
												'minDateID' => 'answerto'
											),
										 array(
												'readonly'=>'readonly'
												)
									);
			?>
			</td>
			<td height="30px" class="tbl-evencontent">
			<?php 
				echo $this->formLabel('to',$to);
			?>
			</td>
			<td class="tbl-evencontent">:</td>
			<td height="30px" class="tbl-evencontent">
			<?php
				echo $this->datePicker("answerto", 
										$this->answerto, 
										array(
												'dateFormat' => $this->jqueryDateFormat,
												'defaultDate'=>'new Date()',
												'showOn' => 'button',
												'buttonImage' => '/images/calendar.gif',
												'buttonImageOnly' => true,
												'changeMonth' => true,
												'changeYear' => true,
												'clearAnotherField'=>true,
												'anotherField'=>'answerfrom',
												'maxDateID' => 'answerfrom'
											),
										array(
												'readonly'=>'readonly'
											)
									);
			?>	
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"width = "100px"><?php echo $this->formLabel('Category',$category)?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->formSelect('category',$this->category,null,$this->questioncategoryArray);?></td>
		</tr>
		<tr>
			<td colspan="6" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter',$setfilter,array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('filter',$clearfilter,array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
	 -->
	 
<?php 
	if(count($this->paginator))
	{
?>
		<div align="right">
            <div style="float:right; padding-left:5px;">
            <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                                <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                            </div>
                    <input type="text" class="search form-control" placeholder="Search">
                </div>
            </div>
			<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
		</div>
		<br>
<?
	}
?>
<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped">
<thead>
    <tr class="headercolor">
        <th class="tablehead" width="3%" valign="top">
			No.
	    </th>
		<?php 
			echo $this->partial(
								'tableheader.phtml',array(
															'fields' => $this->fields,
															'sortBy' => $this->sortBy,
															'sortDir' => $this->sortDir,
															'query_string_params' => $this->query_string_params
      													)
    						   )
		?>
    </tr>
    </thead>
    <tbody>
	<?php
		if(count($this->paginator))
		{
			$i = 1;
			$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
			foreach($this->paginator as $row)
			{
				$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
				echo '	<tr>
							<td class="'.$td_css.'">'.$counter.'</td>
							<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['QUESTION_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
							<td class="'.$td_css.'">'.$this->language->_($row['CATEGORY']).'</td>
							<td class="'.$td_css.'"><textarea disabled rows="5" cols="60" style="overflow:auto;resize:none;color:black;font-family: Arial, Helvetica, sans-serif;">'.$row['QUESTION_Q'].'</textarea></td>
							<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['QUESTION_A_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
							<td class="'.$td_css.'"><textarea disabled rows="5" cols="60" style="overflow:auto;resize:none">'.$row['QUESTION_A'].'</textarea></td>
							<td class="'.$td_css.'">'.$row['BUSER_ID'].'</td>
						</tr>';				
				$i++;
				$counter++;
			}
		}
		else
		{
			echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
		}
	?>
    </tbody>
</table>
</div>
<br>

<?php 
	 $button = $this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true);
			echo $this->formButton('Back',$back,array('onclick'=>'location.href=\''.$button.'\'','class'=>'btnwhite hov'));
		
?>


<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
	function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
	var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'QUEST_DATE'  ){
        $(colval).append("<input type='text' class='form-control'  name='questdate[]' id='questStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='questdate[]' id='questEnd' readonly required>");
												                        $('#questStart').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                        $('#questEnd').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                    
    }else if( colomnname == 'ANS_DATE'){
        $(colval).append("<input type='text' class='form-control' name='ansdate[]' id='ansStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='ansdate[]' id='ansEnd' readonly required>");
 
												                    
												                        $('#ansStart').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                        $('#ansEnd').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                    
    }else if(colomnname == 'CATEGORY'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'category'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>