<?php 
require_once 'General/SystemBalance.php';
?>
<br>
<br>
<div class="col-md-12" align="center">
  <h3 class="homeCardText"><?=$this->language->_('Month : ').$this->formatedMonth; ?></h3>
</div>
<!-- <span class="text-center">Your current monthly balance appears below proportion of costs spent for each service you use.</span> -->

  <h2 class="homeCardText" style="text-align: center;">Total: IDR <?php echo Application_Helper_General::displayMoney($this->pdfTotalprice); ?></h2>
  <br/>
<table width="100%"  cellspacing="0" class="pdftable">
  <thead>
    <tr>
        <th><strong>Bank</strong></th>
        <th><strong>Service</strong></th>
        <th><strong>Total</strong></th>
        <th><strong>CCY</strong></th>
        <th><strong>Price</strong></th>
    </tr> 
  </thead>
  <tbody>
    <?php
    $i = 0;
    if(!empty($this->pdfServicelist)){
      foreach ($this->pdfServicelist as $key => $value) {
        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
          echo '<tr>';
          echo '<tr>  
                  <td class="'.$td_css.'">'.$this->DEBIT_BANKarr[$value['DIGI_BANK']].'</td>
                   <td class="'.$td_css.'">'.$this->serviceDesc[$this->serviceType[$value['DIGI_SERVICE']]].'</td>
                  <td class="'.$td_css.'">'.number_format($value['TOTALHIT']).'</td>
                  <td class="'.$td_css.'">IDR</td>
                  <td class="'.$td_css.'" style="text-align:right">'.Application_Helper_General::displayMoney($value['TOTALPRICE']).'</td>
                </tr>';
          $i++;

      }
    }
    ?>
  </tbody>
</table>