

<script type="text/javascript">
    function modal(elem){
        $("#myModal").modal();
    }

    function modalclose(elem){

        $("#myModal").modal('hide');
        $('.modal-backdrop').css({"position":"unset" });
    }
    function checkAll()
    {
        
        $(".checkAll").prop("checked", true);
    }

    function uncheckAll()
    {
      
        $(".checkAll").prop("checked", false);
    }


  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

      $('#myModal').on('shown.bs.modal', function(){
        $('.blur').css({"filter":"blur(10px)" });
      }).on('hidden.bs.modal', function(){
        $('.blur').css({"filter":"" });
      })

      $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
          $(".file-upload").removeClass('active');
          $("#noFile").text("No file chosen...");
        }
        else {
          $(".file-upload").addClass('active');
          $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
      });

            $('#fixTable').fixTableHeader();

            $(".allCheck").on("click",function(){
                if ($(this).is(":checked")) {
                    checkAll();
                    $(".delete_button").prop("disabled", false);
                }else{
                    uncheckAll();
                    $(".delete_button").prop("disabled",true);
                }
            });
            
            var checkboxes = $(".checkAll"),
                submitButt = $(".delete_button");

            checkboxes.change(function() {
                
                var isOneChecked = false;

                checkboxes.each(function() {
                    if ($(this).is(':checked')) {
                        isOneChecked = true;
                    }
                });
                
                if (isOneChecked) {
                    submitButt.prop("disabled",false);
                } else {
                    submitButt.prop("disabled",true);
                    $(".allCheck").prop("checked", false);
                }

            });
});

</script>


<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Account Information')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Account Aggregation')?></span>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Setting')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>


<h5><?=$this->language->_('Account Aggregation')?></h5>
<h6 class="greyFont"><?=$this->language->_('Manage &amp; Monitor all assets, accounts.')?></h6>


<br>
<div class="row">
  <div class="col-md-12">
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<table align="left" cellpadding="5">
  <tr>
    <td align="CENTER">
      <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post">
        <?php
          // $buttonNew = $this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true);
          // // $buttonNew = '<button class="btngrad hov" value="'.$this->language->_('Add').'" onclick="location.href=\''.$buttonNew.'\'"><i class="fa fa-search"></i></button>'
          // $buttonNew = ' <input type="button" class="btngrad hov" value="'.$this->language->_('Add').'" onclick="location.href=\''.$buttonNew.'\'">';
          // echo $buttonNew;
        ?>
        <button class="btngrad hov delete_button" disabled type="button"  onclick="location.href='domesticbank/import'"><i class="fa fa-trash-alt"></i>&nbsp;<?php echo $this->language->_('Delete'); ?></button>

        <?php
          // $buttonImport = $this->url(array('module'=>$this->modulename,'controller'=>'import','action'=>'index'),null,true);
          // $buttonImport = ' <input type="button" class="btngreen hov" value="'.$this->language->_('Import from File').'" onclick="location.href=\''.$buttonImport.'\'">';
          // echo $buttonImport;
        ?>
      </form>
    </td>
  </tr>
</table>
<!---------------------------CSV & PDF ------------------------------------------------------------------>
<table align="right">
  <tr >
    
      <td>
        <button  type="button" id="mymodal" onclick="modal();" class="btn-sm btngrad hov" data-toggle="modal" data-target="#myModal">
            <?php echo $this->language->_('Add Link'); ?>
          </button>
      </td>
      <td>
        <select name="ccy_idr" class="form-control">
          <option value="IDR">IDR</option>
          <option value="USD">USD</option>
        </select>
      </td>
  </tr>

</table>
    <table class="table table-sm table-striped">
            
            <thead>
            <tr>
                <th class="tablehead">
                    <input name="allCheck[]" class="allCheck" type="checkbox">
                </th>
                <!-- <th class="tablehead" scope="col">Comp Id</th> -->
                
                <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                        'sortBy' => $this->sortBy,
                                                                        'sortDir' => $this->sortDir,
                                                                        'query_string_params' => $query_string_params
                                                                        )
                                              )?>
            </tr>
            </thead>
            <tbody>
            <?php
            

                $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
            if(count($this->paginator) > 0)
            {   
                foreach($this->paginator as $row) {

                  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

                  


                  $checkBox ="<input name='mPayReff[]' type='checkbox' class='checkall' value='".$dataRow['payReff']."'>";


                  echo '<tr>
                      <td class="<?= $tdcss ?>">'.$checkBox.'</td>';
                  echo  '
                      <td class="'.$td_css.'">'.$row['DEBIT_BANK'].'</td>
                      <td class="'.$td_css.'">'.$row['DEBIT_ACCT'].'</td>
                      <td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
                      <td class="'.$td_css.'">'.' '.'</td>
                      <td class="'.$td_css.'">'.' '.'</td>
                      <td class="'.$td_css.'">'.' '.'</td>
                    </tr>';

                      $i++;
                              $counter++;
                    }
            }
            else
            {
             echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
            }
            ?>
            </tbody>
    </table>
    <table>
      
    <!-- <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div> -->
    </table>
</form>
</div>
<br>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btnwhite hov" type="button"  onclick="location.href='accountaggregation'"><?php echo $this->language->_('BACK'); ?></button>

  </div>
</div>

<!---------------------------END CSV & PDF ---------------------------------------------------------->


      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
          <?php if($this->success){ ?>
          <div class="successmsg"><?=$this->report_msg?></div><br />
          <?php }else if($this->error){ ?>
          <div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
          <?php } ?>
        </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
          <td class="contentarea" id="contentarea">

                  <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">

                  </div>
                </td>
            </tr>
<br />


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document" style="max-width: 650px">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Checking Account</h4><br>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" align="center">
            
              <form class="form-horizontal" action="index.html" method="post">
                <h5>Link to External Account</h5>
                  <table cellpadding="5" width="70%">
                   
                      <tr>
                        <td>Bank Name</td>
                        <td>
                          <?php
                            if ($this->confirmPage != 1)
                              // echo $this->formText('DEBIT_BANK',$this->DEBIT_BANK,array('class'=>'form-control','maxlength'=>'128'));
                             echo $this->formSelect('DEBIT_BANK',$this->DEBIT_BANK,array('id'=>'DEBIT_BANK','class'=>'form-control'), $this->DEBIT_BANKarr);
                            else
                              echo $this->DEBIT_BANK.$this->formHidden('DEBIT_BANK',$this->DEBIT_BANK);
                          ?>
                         </td>
                      </tr>
                      <tr>
                        <td>Account No</td>
                        <td>
                          <?php
                            if ($this->confirmPage != 1)
                              echo $this->formText('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT,array('class'=>'form-control','maxlength'=>'128'));
                            else
                              echo $this->DEBIT_ACCOUNT.$this->formHidden('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT);
                          ?>
                         </td>
                      </tr>
                      <tr>
                        <td>Account Name</td>
                        <td>
                          <?php
                            if ($this->confirmPage != 1)
                              echo $this->formText('ACCT_NAME',$this->ACCT_NAME,array('class'=>'form-control','maxlength'=>'128'));
                            else
                              echo $this->ACCT_NAME.$this->formHidden('ACCT_NAME',$this->ACCT_NAME);
                          ?>
                         </td>
                      </tr>
                      <tr>
                        <td>Alias Name</td>
                        <td>
                          <input type="text" name="acct_alias" class="form-control">
                         </td>
                      </tr>
                      <tr>
                        <td>Product Type</td>
                        <td>
                          <input type="text" name="prod_type" class="form-control">
                         </td>
                      </tr>
                      <tr>
                        <td>CCY</td>
                        <td>
                          <select name="ccy_idr" class="form-control">
                            <option value="IDR">IDR</option>
                            <option value="USD">USD</option>
                          </select>
                         </td>
                      </tr>
                  </table>
                  <br><br>
                  <div class="form-group">
                      <button type="button" class="btngreen hov" onclick="modalclose();" data-dismiss="modal">Close</button>
                      <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
                  </div>
              </form>
              
              <script type="text/javascript">
              function change(radio) {
                 if (radio.checked && radio.id === "yesCross") {
                    var d1 = document.getElementById("div1");
                    var d2 = document.getElementById("div2");
                    if (d2.style.display === "none") {
                       d2.style.display = "block";
                       d1.style.display = "none"

                    }
                    else {

                    }
                 } else {
                   var  d1 = document.getElementById("div1");
                   var  d2 = document.getElementById("div2");
                   if (d1.style.display === "none") {
                      d1.style.display = "block"
                      d2.style.display = "none";
                   }
                   else {

                   }
                 }
              }
              </script>

          </div>
        </div>



      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/changespassword" ><button type="button" class="btn btn-primary">Reset</button></a>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'QUEST_DATE'  ){
        $(colval).append("<input type='text' class='form-control'  name='questdate[]' id='questStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='questdate[]' id='questEnd' readonly required>");
                                                $('#questStart').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                                $('#questEnd').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>

<script type="text/javascript">
    function myFunction(div1) {
    var d1 = document.getElementById("div1");
    if (d1.style.display == "none") {
      d1.style.display == "block"
    }
    else {

    }
    }
</script>
