<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top:5px;
		min-width: 23px;
		height: 20px;
}

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Submission')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('LC or SKBDN')?></span>
								 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
						 <li>
                 <span class="inhouse"><?=$this->language->_('New')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">

        <div class="row">
            <div class="col-md-6">
                <h5><?=$this->language->_('Application Form for LC / SKBDN Issuance')?></h5>
            </div>
            <div class="col-md-6" style="float:right">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div>
        </div>
				<form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3">
                <label class="textGray">Register Number</label>
            </div>
            <div class="col-md-3">
                <label>auto generate by system</label>
            </div>
        </div>

        <div class="row">
						<div class="content-box col-md-12" style="padding-left: 2%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <h5><?=$this->language->_('LC / SKBDN Applicant Details')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">NPWP</label>
									</div>
									<div class="col-sm-9">
										<label>58.756.790.8-134.000</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">No. API</label>
									</div>
									<div class="col-sm-9">
										<label>WRE-164</label>
									</div>
								</div>
            </div>
        </div>
				<div class="row">
						<div class="content-box col-md-12" style="padding-left: 2%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <h5><?=$this->language->_('Beneficiary Details')?></h5>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Beneficiary Name</label>
										</div>
										<div class="col-sm-9">
											<?php echo $this->formText('benef_name',$this->benef_name,array('id'=>'benef_name','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;margin-left: 10px;width: 98%;'))?>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Beneficiary Address</label>
										</div>
										<div class="col-sm-9">
											<?php echo $this->formText('benef_address',$this->benef_address,array('id'=>'benef_address','size'=>40,'maxlength'=>128,'class'=>'form-control','style'=>'font-size:1.2em;margin-left: 10px;width: 98%;'))?>
										</div>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('General Details')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Credit Type<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<select name="credit_type" id="credit_type" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1">Letter of Credit</option>
                           <option value="2">Surat Kredit Berdokumen Dalam Negeri</option>
                      	</select>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Transferable<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<select name="transferable" id="transferable" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1">Transferable</option>
                           <option value="2">Non Transferable</option>
                      	</select>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirmation<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<select name="confirmation" id="confirmation" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1" selected>Without</option>
                           <option value="2">May Add</option>
                           <option value="3">Confirmed</option>
                      	</select>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Currency / Amount<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-5">
											<div class="input-group" id="">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<select name="ccyid" id="ccyid" style="background-color:#e9ecef;border-color:#e9ecef;font-weight: 500;margin-top: -2px;">
																<option value="IDR">IDR</option>
																<option value="USD" selected>USD</option>
																<option value="SGD">SGD</option>
																<option value="AUD">AUD</option>
																<option value="EUR">EUR</option>
																<option value="JPY">JPY</option>
																<option value="CAD">CAD</option>
																<option value="HKD">HKD</option>
																<option value="SEK">SEK</option>
																<option value="CNY">CNY</option>
																<option value="CHF">CHF</option>
																<option value="GBP">GBP</option>
																<option value="NZD">NZD</option>
															</select>
														</div>
													</div>
													
													<?php

													echo $this->formText("bank_amount", $this->bank_amount, array('id' => "bank_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)"));
													?>
											</div>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Tolerance<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-2">
											<label class="textGray"><input type="radio" name="tolerance" value="1">&nbsp;Not exceeding</label>
										</div>
										<div class="col-sm-7" style="float:left">
											<label class="textGray"><input type="radio" name="tolerance" value="2">&nbsp;(+)</label>
											<?php echo $this->formText('toleranceMax',$this->toleranceMax,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:38%', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
											<label class="textGray">% and (-)</label>
											<?php echo $this->formText('toleranceMin',$this->toleranceMin,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:35%', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Expiry Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<input type='text' style="font-size:1.2em" class='form-control' name='expiryDate' id='expiryDate' readonly required>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Expiry Place<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<input type="text" name="expiryPlace" id="expiryPlace" value="" style="font-size:1.2em;width:95%;float:left" class="form-control" >&nbsp;<a onClick="expiryModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Last Shipment Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<input type='text' style="font-size:1.2em" class='form-control' name='lastShipment' id='lastShipment' readonly required>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Shipment Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<input type="text" name="shipmentPeriod" id="shipmentPeriod" value="" style="font-size:1.2em;width:95%" maxlength="6" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Tenor<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<select name="tenor" id="tenor" class="form-control" style="font-size:1.2em">
                           <option value="1">Sight</option>
                           <option value="2">Usance</option>
                           <option value="3">Other</option>
                      </select>
										</div>
										<div class="col-sm-6" id="otherTenor" style="display:none">
											<div class="row">
												<div class="col-sm-4">
													<label class="textGray col-form-label">Partial Shipment</label>
												</div>
												<div class="col-sm-8">
													<select name="partial_shipment" id="partial_shipment" class="form-control" style="font-size:1.2em;width:88%">
														<option value="1" selected>Allowed</option>
														<option value="2">Not Allowed</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label class="textGray col-form-label">Transshipment</label>
												</div>
												<div class="col-sm-8">
													<select name="trans_shipment" id="trans_shipment" class="form-control" style="font-size:1.2em;width:88%">
														<option value="1">Allowed</option>
														<option value="2" selected>Not Allowed</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-6" id="usanceTenor" style="display:none">
											<label class="textGray">:&nbsp;</label>
											<?php echo $this->formText('usance',$this->usance,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:20%','onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)", "maxlength" => "2")); ?>
											<label>days after</label>
											<?php echo $this->formText('usance2',$this->usance2,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:20%','onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)", "maxlength" => "2")); ?>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Advising Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="advising_bank" id="advising_bank" class="form-control" style="font-size:1.2em;width:95%">
												<option value="1" selected>PHILLIP BANK - SWIFT: HDSBKHHPP</option>
											</select>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirming Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="confirming_bank" id="confirming_bank" class="form-control" style="font-size:1.2em;width:95%">
											<?php //foreach($this->listBank as $list){?>
												<?php foreach($this->listBank as $val){?>
													<option value="<?= $val['BANK_CODE']?>"><?=$val['BANK_NAME']?></option>
												<?php }?>
											<?php //}?>
											</select>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Place of Taking in Charge<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<input type="text" name="placeCharge" id="placeCharge" value="" style="font-size:1.2em;width:95%" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Port of Loading<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<input type="text" name="portLoading" id="portLoading" value="" style="font-size:1.2em;width:95%" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Place of Final Destination<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<input type="text" name="placeDestination" id="placeDestination" value="" style="font-size:1.2em;width:95%" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Port of Discharge<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<input type="text" name="portofDischarge" id="portofDischarge" value="" style="font-size:1.2em;width:95%" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Available With<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<label class="textGray"><input type="radio" name="availablewith" value="1">&nbsp;Any Bank</label>
										</div>
										<div class="col-sm-6" style="float:left">
											<label class="textGray"><input type="radio" name="availablewith" value="2">&nbsp;Other</label>
											<?php echo $this->formText('otherAvailable',$this->otherAvailable,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:80%')); ?>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">By<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-6">
											<select name="lcBy" id="lcBy" class="form-control" style="font-size:1.2em;width:90%;float:left;">
												<option value="1">Negotation</option>
												<option value="2">Acceptance</option>
												<option value="3" selected>Deferred Payment</option>
												<option value="4">Payment</option>
											</select>&nbsp;<a onClick="byModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Document Presentation Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-2" style="padding-right:0">
												<?php echo $this->formText('documentPeriod',$this->documentPeriod,array('class'=>'form-control col-md-4', 'style' => 'font-size:1.2em; width:45%; float:left;', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)", "maxlength" => "2")); ?>
												<label class="textGray" >&nbsp;&nbsp;days,&nbsp;&nbsp;after </label>
										</div>
										<div class="col-sm-7" style="padding-left:0">
												<select name="difered_payment" id="difered_payment" class="form-control" style="font-size:1.2em;width:95%">
													<option value="1" selected>delivery of goods but not exceeding the expiry date</option>
													<option value="2">proof of delivery goods but not exceeding the expired date</option>
												</select>
										</div>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Goods Details')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Description of Goods<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<?php
													echo $this->formTextarea('descGoods',$this->descGoods,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','style'=>'font-size:1.2em'));
										 		?>
										</div>
								</div>
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contract No.<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<input type="text" name="contractNo" id="contractNo" value="" style="font-size:1.2em" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">HS Code<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<input type="text" name="hsCode" id="hsCode" value="" style="font-size:1.2em" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Country Origin<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<input type="text" name="countryOrigin" id="countryOrigin" value="" style="font-size:1.2em" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Goods Volume<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<input type="text" name="goodsVolume" id="goodsVolume" value="" style="font-size:1.2em" class="form-control" >
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Unit Price<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<div class="input-group" id="">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<select name="ccyid2" id="ccyid2" style="background-color:#e9ecef;border-color:#e9ecef;font-weight: 500;margin-top: -2px;">
																<option value="IDR">IDR</option>
																<option value="USD" selected>USD</option>
																<option value="SGD">SGD</option>
																<option value="AUD">AUD</option>
																<option value="EUR">EUR</option>
																<option value="JPY">JPY</option>
																<option value="CAD">CAD</option>
																<option value="HKD">HKD</option>
																<option value="SEK">SEK</option>
																<option value="CNY">CNY</option>
																<option value="CHF">CHF</option>
																<option value="GBP">GBP</option>
																<option value="NZD">NZD</option>
															</select>
														</div>
													</div>
													
													<?php

													echo $this->formText("unitPrice", $this->unitPrice, array('id' => "unitPrice", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)"));
													?>
											</div>
										</div>
								</div>
								<div class="form-group row pb-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Trade Terms<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-1">
													<input type="radio" name="trade" style="vertical-align:middle;margin-top:10px" value="1">
												</div>
												<div class="col-sm-4" style="padding-left:2px;padding-right:0px;">
													<select name="trade_terms" id="trade_terms" class="form-control" style="font-size:1.2em">
														<option value="0" selected>---</option>
														<option value="1">EXW</option>
														<option value="2">FCA</option>
														<option value="3">CPT</option>
														<option value="4">CIP</option>
														<option value="5">DAT</option>
														<option value="6">DAP</option>
														<option value="7">DDP</option>
														<option value="8">FAS</option>
														<option value="9">FOB</option>
														<option value="10">CFR</option>
														<option value="11">CIF</option>
													</select>
												</div>
												<div class="col-sm-6" style="padding-left:7px;padding-right:0px;">
													<label class="textGray" >(Incoterms 2010)</label>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-1" style="padding-right:0px;">
													<input type="radio" name="trade" style="vertical-align:middle;margin-top:10px" value="2">
												</div>
												<div class="col-sm-10" style="padding-left:0px;padding-right:0px;">
													<label class="textGray">&nbsp;&nbsp;Others</label>
													<?php echo $this->formText('tradeOthers',$this->tradeOthers,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Documents Required')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><input type="checkbox" name="chkrequired[]" value="1">&nbsp;Signed commercial invoice in</label>
											<?php echo $this->formText('docReq1',$this->docReq1,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq2',$this->docReq2,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>

								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><input type="checkbox" name="chkrequired[]" value="2">&nbsp;Packing List in</label>
											<?php echo $this->formText('docReq3',$this->docReq3,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq4',$this->docReq4,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>

								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><input type="checkbox" name="chkrequired[]" value="3">&nbsp;Insurance Policy or Certificate in</label>
											<?php echo $this->formText('docReq5',$this->docReq5,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq6',$this->docReq6,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>

								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray">&nbsp;&nbsp;&nbsp;for</label>
											<?php echo $this->formText('docReq7',$this->docReq7,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">% from gross invoice value under clause:</label>
											<div class="row pt-2">
												<div class="col-sm-6">
													<label class="textGray" style="padding-left:4%"><input type="checkbox" name="chkrequired[]" value="4">&nbsp;Institute Cargo Clause</label>
												</div>
												<div class="col-sm-6">
													<label class="textGray"><input type="checkbox" name="chkrequired[]" value="5">&nbsp;Institute War Clause</label>
												</div>
											</div>
											<div class="row pt-2">
												<div class="col-sm-6">
													<label class="textGray" style="padding-left:4%"><input type="checkbox" name="chkrequired[]" value="6">&nbsp;Institute Strike Risk Clause (Cargo)</label>
												</div>
												<div class="col-sm-6">
													<label class="textGray"><input type="checkbox" name="chkrequired[]" value="7">&nbsp;Other</label>
													<?php echo $this->formText('docReq8',$this->docReq8,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:77%')); ?>
												</div>
											</div>
										</div>
								</div>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><input type="checkbox" name="chkrequired[]" value="8">&nbsp;Fullset of Bill Landing in</label>
											<?php echo $this->formText('docReq9',$this->docReq9,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq10',$this->docReq10,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">non negotiable copy, made out to the order of [maseter_bank_name], and notify to</label>
											<?php echo $this->formText('docReq11',$this->docReq11,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:95%')); ?>
										</div>
								</div>
								<div class="form-group row pt-2 pb-2">
									<div class="col-sm-12">
										<div class="row">
											<label class="textGray" style="padding-left:2%">Other Documents</label>
											<div class="col-sm-12" style="padding-left:4%">
												<label class="textGray">Certificate of Origin in</label>
												<?php echo $this->formText('docReq12',$this->docReq12,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq13',$this->docReq13,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">copy(ies), issued by</label>
												<?php echo $this->formText('docReq14',$this->docReq14,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12" style="padding-left:4%">
												<label class="textGray">Beneficiary's Certificate in</label>
												<?php echo $this->formText('docReq15',$this->docReq15,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq16',$this->docReq16,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">copy(ies), certify</label>
												<?php echo $this->formText('docReq17',$this->docReq17,array('class'=>'inputBorderless', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group row pt-2 pb-2">
									<div class="col-md-12" style="text-align:right">
											<a onclick="uploadfile()">+ Add Doc</a>
											<div class="file-upload" style="display:none">
												<div class="file-select">
													<div class="file-select-button" id="fileName">+ Add Doc</div>
													<div class="file-select-name textBlack" id="noFile"></div>
													<input type="file" name="uploadSource" id="chooseFile">
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Additional Condition')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row">
									<div class="col-sm-12 pt-2 pb-2">
											<?php
												echo $this->formTextarea('comment',$this->comment,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','style'=>'font-size:1.2em'));
											?>
									</div>	
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Charges')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Issuance<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="issuance" id="issuance" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1" selected>Applicant</option>
                           <option value="2">Beneficiary</option>
                      </select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Discrepancy<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="discrepancy" id="discrepancy" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1" selected>Applicant</option>
                           <option value="2">Beneficiary</option>
                      </select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirmation<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="confirmationCharge" id="confirmationCharge" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1" selected>Not Applicable</option>
                      </select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">All Charges outside the Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="chargesOutside" id="chargesOutside" class="form-control" style="font-size:1.2em;width:95%">
                           <option value="1">Applicant</option>
                           <option value="2">Beneficiary</option>
                      </select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Charge to Account<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<select name="chargetoAccount" id="chargetoAccount" class="form-control" style="font-size:1.2em;width:95%">
												<?php 
													if($this->systemType == "1"){
														foreach($this->AccArr as $k => $v){
												?>
														<option value="<?= $v["ACCT_NO"]?>" ><?= $v["ACCT_NO"] . " (IDR) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
												<?php }
													}else if($this->systemType == "2"){
														foreach($this->sourceAcct as $key => $val){
												?>
														<option value="<?= $val["ACCT_NO"]?>" ><?= $val["ACCT_NO"] . " (IDR) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
												<?php
														}		
													}else{
														foreach($this->sourceAcct as $key => $val){
												?>
													<option value="<?= $val["ACCT_NO"]?>" ><?= $val["ACCT_NO"] . " (IDR) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
												<?php }
												foreach($this->AccArr as $k => $v){
												?>
													<option value="<?= $v["ACCT_NO"]?>" ><?= $v["ACCT_NO"] . " (IDR) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
												<?php }
												}
												?>
											</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for=""><input type="checkbox" class="checkPolicy" name="chkagree" id="chkagree" value="">&nbsp;I Agree. <a href="#"><u>User Statement</u></a></label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for=""><input type="checkbox" class="checkPolicy" name="chkterms" id="chkterms" value="">&nbsp;I Accept. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal" ><u>Terms & Conditions</u></a></label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" align="center">
										<button type="button" name="back" id="back" value="back" onclick="location.href='/eform/lclist'" class="btnwhite hov">Back</button>
										<input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov disabled" disabled>
									</div>
								</div>
							</div>
						</div>
				</div>
				
				<!-- END -->
				</form>
		</div>
</div>

<!-- Modal -->
<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><?=$this->language->_('Terms and Conditions')?></h4>
      </div> 
      <div class="modal-body">
    <div style="height: 410px;overflow: scroll;">
        <?php echo $this->toc; ?>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><?=$this->language->_('Close')?></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="expiryplaceModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Expiry Place') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="textBlack">if not indicated, "in Beneficiary's Country" is applicable</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="byModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Available With') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="textBlack">if not indicated, any Bank by Negotiation is applicable</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function(){

	$('#expiryDate').datepicker({
		format: 'yyyy-mm-dd',
		uiLibrary: 'bootstrap4'
	});
	$('#lastShipment').datepicker({
		format: 'yyyy-mm-dd',
		uiLibrary: 'bootstrap4'
	});

	$('.checkPolicy').click(function(){

		var checkterms = $("input[name='chkterms']:checkbox");
		var checkagree = $("input[name='chkagree']:checkbox");

		if(checkterms.is(":checked") && checkagree.is(":checked")){
			$('#submit').prop('disabled', false);
			$('#submit').removeClass('disabled'); 
		} else {
			$('#submit').prop('disabled', true);
			$('#submit').addClass('disabled');
		}
	});

	$('#tenor').change(function() {
			var value = $(this).val();
			if(value === "2"){
				$('#otherTenor').hide()
				$('#usanceTenor').show()
			}else if(value === "3"){
				$('#otherTenor').show()
				$('#usanceTenor').hide()
			}else{
				$('#otherTenor').hide()
				$('#usanceTenor').hide()
			}
	});

	$("input[name=availablewith]").click(function(){
    var v = $('input[name="availablewith"]:checked').val();
    if(v == '1'){
			$('#otherAvailable').prop('disabled', true);  
			$('#otherAvailable').addClass('disabled'); 
		}else{
			$('#otherAvailable').prop('disabled', false);  
			$('#otherAvailable').removeClass('disabled');
		}
	});

	$("input[name=trade]").click(function(){
    var v = $('input[name="trade"]:checked').val();
    if(v == '1'){
			$('#tradeOthers').prop('disabled', true);  
			$('#tradeOthers').addClass('disabled'); 
		}else{
			$('#tradeOthers').prop('disabled', false);  
			$('#tradeOthers').removeClass('disabled');
		}
	});

	$("input[name=tolerance]").click(function(){
    var v = $('input[name="tolerance"]:checked').val();
    if(v == '1'){
			$('#toleranceMax').prop('disabled', true);  
			$('#toleranceMax').addClass('disabled'); 
			$('#toleranceMin').prop('disabled', true);  
			$('#toleranceMin').addClass('disabled'); 
		}else{
			$('#toleranceMax').prop('disabled', false);  
			$('#toleranceMax').removeClass('disabled');
			$('#toleranceMin').prop('disabled', false);  
			$('#toleranceMin').removeClass('disabled');
		}
	});

});

function expiryModal(){
	$('#expiryplaceModal').modal('show');
}

function byModal(){
	$('#byModal').modal('show');
}
function numberWithCommas(x,id) {
	const formattermoney = new Intl.NumberFormat('ID', {
		minimumFractionDigits: 0
	});
	var tag = '#'+id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
	var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		$(tag).val(x);
//return 
}

function uploadfile(){
	$('#chooseFile').trigger('click')
}
</script>