<?php 
	echo $this->form('formtext',array('action' =>'', 'method' => 'post'));
?>
<div id="tabheader"><?php echo $this->language->_('Repair Suggestion - Welcome Text'); ?></div>

<div class="errmsg">
	<?php
		if($this->wltError) 
			echo $this->formErrors($this->wltError);
			
		if($this->customError) 
			echo $this->formErrors($this->customError);
	?>
<div style="font-weight:bold;color:#99C;font-size:14px;"><?php echo ($this->msg_success); ?></div>
</div><br/>

<table class="tableform" width="400" border="0" cellpadding="2" cellspacing="2">
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Please Enter Welcome Text'); ?> <?php echo $this->language->_('(max 5000 characters)');?>:</strong></th>
</tr>
<tr class="tbl-evencontent">	
	<td><?php echo $this->formTextarea('welcometext',$this->suggestedText,array('id'=>'welcometext', 'cols'=>'60', 'rows'=>'5'))?></td>
	<?php echo $this->formHidden('welcometempid',$this->welcomeTempId,array('id'=>'welcometempid'));?>
	<td id="clearButtonDiv" valign="middle"><input type="button" id="clear-button" class="inputbtn" name="clear" value="<?php echo $this->language->_('Clear'); ?>" onclick="document.getElementById('welcometext').innerHTML=''"/></td>	
</tr>
</table>
<br/>
<div id="buttonDiv">
	<div id="buttonDiv">
	<input type="button" class="inputbtn" onclick="location.href='<?php echo $this->backURL?>'" value="Back">&nbsp;&nbsp;<input type="submit" id="button" class="inputbtn" name="submit" value="<?php echo $this->language->_('Submit'); ?>"/>
</div>
</div>
