<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
	<script language="javascript" type="text/javascript"><!--
	function doTransfer(ACBENEF_ID_NUMBER,ACBENEF_NAME,ACBENEF_PHONE)
	{
		
		//window.opener.document.payment.ACBENEF_FULL.value = ACBENEF+" ("+CURR_CODE+")"+" - "+ACBENEF_ALIAS+" - "+ACBENEF_BANKNAME;
		//window.opener.document.payment.ACBENEF_ID.value = ACBENEF_ID;
//		alert(SRCCCY);
		
		window.opener.document.Form.NRC.value = ACBENEF_ID_NUMBER;
		window.opener.document.Form.ACBENEF.value = ACBENEF_NAME;
		window.opener.document.Form.ACBENEF_PHONE.value = ACBENEF_PHONE;
		
		window.opener.document.Form.TRA_AMOUNT.removeAttribute("readonly");
		//window.opener.document.Form.accountadd.removeAttr("disabled");
		// <?php if(!$this->id_box){ $this->id_box == "";} ?>
		
		// window.opener.document.Form.ACBENEF<?php echo $this->id_box; ?>.value = ACBENEF;
		// window.opener.document.Form.ACBENEF_BANKNAME<?php echo $this->id_box; ?>.value = ACBENEF_BANKNAME;
				
		
		// var b = <?= $this->challengeCodeReq ?>+ACBENEF.slice(-4);
		// var length = b.length
		// if(length == '5'){
		// 	//alert('panjang 5');
		// 	//window.opener.document.Form.ACBENEF1<?php echo $this->id_box; ?>.value = <?= $random ?>+ACBENEF.slice(-4);
		// 	window.opener.document.Form.ACBENEF1<?php echo $this->id_box; ?>.value = ACBENEF.slice(-4);
		// }
		// else{
		// 	//alert('panjang 6');
		// 	//window.opener.document.Form.ACBENEF1<?php echo $this->id_box; ?>.value = <?= $this->challengeCodeReq ?>+ACBENEF.slice(-4);
		// 	window.opener.document.Form.ACBENEF1<?php echo $this->id_box; ?>.value = ACBENEF.slice(-4);
		// }
		
		// if (window.opener.document.Form.ACBENEF_EMAIL<?php echo $this->id_box; ?> != null)
		// { window.opener.document.Form.ACBENEF_EMAIL<?php echo $this->id_box; ?>.value = EMAIL; }

		
		//disable button if get benef from account book
		
	  opener.focus();
	  self.close();
	}
	--></script>

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Local Remittance Account'); ?></div>
<?php $aliasname = $this->language->_('Alias Name'); ?>
<?php $beneficiaryaccount = $this->language->_('Beneficiary NRC'); ?>
<?php $beneficiaryaccountname = $this->language->_('Beneficiary Name'); ?>
<?php $setfilter = $this->language->_('Set Filter'); ?>
<?php $clearfilter = $this->language->_('Clear Filter'); ?>
<?php $nodata = $this->language->_('No Data');?>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
				<div class="portlet-body form">
					
						<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
						  
						  	<div class="panel panel-default">
							  	<!-- Default panel contents -->
							  	<div class="panel-heading" style="
								    color: #fff;
								    background-color: #4da42f!important;
								    border-color: #4da42f;
								    border: 1;
								">								
									<strong><?php echo $this->language->_('Filter');?></strong>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<?php $bankname = $this->language->_('Bank Name'); ?>
		    							<label class="control-label col-md-2"><?php echo $this->formLabel('benef_acct',$beneficiaryaccount); ?></label>	
		    							<div class="col-md-4">
					                		<?php echo $this->formText('benef_acct',$this->benef_acct,array('class'=>'form-control'))?>
					             		</div>
					             		<div class="col-md-6">
	              						</div>
					              	</div>
					              	<div class="form-group">
										<?php $bankname = $this->language->_('Bank Name'); ?>
		    							<label class="control-label col-md-2"><?php echo $this->formLabel('bank_name',$beneficiaryaccountname); ?></label>	
		    							<div class="col-md-4">
					                		<?php echo $this->formText('bank_name',$this->bank_name,array('class'=>'form-control'))?>
					             		</div>
					             		<div class="col-md-6">
	              						</div>
					              	</div>
								</div>							
							</div>  						  
						    
						   <table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
						    <tr><td colspan="3" align="left">
						      <?php $setfilter = $this->language->_('Set Filter'); ?>
						      <?php $filter_clear = $this->language->_('Clear Filter'); ?>
						      <?php $nodata = $this->language->_('No Data'); ?>
							  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
							  <?php echo $this->formSubmit('filter_clear',$filter_clear,array('class'=>'btnwhite hov')); ?>
						    </td></tr>
						  </table>
						</form>
					
					</div>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">

<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
    <tr class="headercolor">
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
  {
          $i=0;
	  foreach($this->paginator as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		
		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>';		
				//<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
		echo '
				<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ID_NUMBER'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['BENEFICIARY_PHONE'].'\')">'.$row['BENEFICIARY_ID_NUMBER'].'</a></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_PHONE'].'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
	}
    ?>
</table>
<br />


<br />
						
			</td>
			</tr>
		</tbody>
	</table>