<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Approver Boundary Group Change Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<br />
<h2><?php echo $this->language->_('Boundary Group Member Changes for'); ?> <?php echo $this->custname['CUST_NAME']; ?></h2>
<hr />
<br />
<i><b><?php echo $this->language->_('Suggested Value'); ?></b></i>
<div class="portlet-body flip-scroll">
<table border="1" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed flip-content" width="100%">
	<tr class="headercolor">
	   	<th rowspan="2"><div align="center"><?php echo $this->language->_('Currency'); ?></div></th>
	    <th colspan="2"><div align="center"><?php echo $this->language->_('Boundary'); ?></div></th>
	    <th colspan="10"><div align="center"><?php echo $this->language->_('Group'); ?></div></th>
	    <th><div align="center"><?php echo $this->language->_('Overide By'); ?></div></th>
	</tr>
	<tr>
    	<th><div align ="center"><?php echo $this->language->_('Lower Boundary'); ?></div></th>
    	<th><div align ="center"><?php echo $this->language->_('Upper Boundary'); ?></div></th>
    	<th><div align ="center">G1</div></th>
    	<th><div align ="center">G2</div></th>
    	<th><div align ="center">G3</div></th>
    	<th><div align ="center">G4</div></th>
    	<th><div align ="center">G5</div></th>
    	<th><div align ="center">G6</div></th>
    	<th><div align ="center">G7</div></th>
    	<th><div align ="center">G8</div></th>
    	<th><div align ="center">G9</div></th>
    	<th><div align ="center">G10</div></th>
    	<th><div align ="center"><?php echo $this->language->_('Special'); ?></div></th>
    </tr>
  	<?php
		if(!empty($this->suglist))
		{
			$i = 1;
			foreach($this->suglist as $suglist)
			{
				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				$specialid = 'sug'.'special'.$i;
			?>
		<tr>
			<td class="<?php echo $td_css;?>"><?php echo $suglist['CCY_BOUNDARY']; ?></td>
			<td class="<?php echo $td_css;?>"><?php echo Application_Helper_General::displayMoney($suglist['BOUNDARY_MIN']); ?></td>
			<td class="<?php echo $td_css;?>"><?php echo Application_Helper_General::displayMoney($suglist['BOUNDARY_MAX']); ?></td>
			<?php 
				for($x=1;$x<11;$x++)
				{
					$nogroup = sprintf("%02d", $x);
					$groupid = 'sug'.'N_'.$this->custid.'_'.$nogroup.'-'.$i;
					echo '<td class="'.$td_css.'"><div align ="center">'.$this->$groupid.'</div></td>';
				}
			?>
			<td class="<?php echo $td_css;?>"><div align ="center"><?php echo $this->$specialid; ?></div></td>
		</tr>
	<?php
				$i++;
			}
		}else{?>
		<tr>
			<td colspan="13"><div align ="center"> -- <?php echo $this->language->_('No Data'); ?> -- </div></td>
		</tr>
	<?php } ?>
</table>
</div>
<br />
<br />
<i><b><?php echo $this->language->_('Current Value'); ?></b></i>
<?php if($this->enable)
{?>
<div class="portlet-body flip-scroll">
<table border="1" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed flip-content" width="100%">
	<tr class="headercolor">
	   	<th rowspan="2"><div align="center"><?php echo $this->language->_('Currency'); ?></div></th>
	    <th colspan="2"><div align="center"><?php echo $this->language->_('Boundary'); ?></div></th>
	    <th colspan="10"><div align="center"><?php echo $this->language->_('Group'); ?></div></th>
	    <th><div align="center"><?php echo $this->language->_('Overide By'); ?></div></th>
	</tr>
	<tr>
    	<th><div align ="center"><?php echo $this->language->_('Lower Boundary'); ?></div></th>
    	<th><div align ="center"><?php echo $this->language->_('Upper Boundary'); ?></div></th>
    	<th><div align ="center">G1</div></th>
    	<th><div align ="center">G2</div></th>
    	<th><div align ="center">G3</div></th>
    	<th><div align ="center">G4</div></th>
    	<th><div align ="center">G5</div></th>
    	<th><div align ="center">G6</div></th>
    	<th><div align ="center">G7</div></th>
    	<th><div align ="center">G8</div></th>
    	<th><div align ="center">G9</div></th>
    	<th><div align ="center">G10</div></th>
    	<th><div align ="center"><?php echo $this->language->_('Special'); ?></div></th>
    </tr>
  	<?php
  		$i = 1;
  		foreach($this->curlist as $curlist)
	  	{
		   	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  	$specialid = 'cur'.'special'.$i;
	  	?>
  	<tr>
  		<td class="<?php echo $td_css;?>"><?php echo $curlist['CCY_BOUNDARY']; ?></td>
    	<td class="<?php echo $td_css;?>"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MIN']); ?></td>
    	<td class="<?php echo $td_css;?>"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MAX']); ?></td>
  		<?php 
  			for($x=1;$x<11;$x++)
  			{
  				$nogroup = sprintf("%02d", $x);
  				$groupid = 'cur'.'N_'.$this->custid.'_'.$nogroup.'-'.$i;
  				echo '<td class="'.$td_css.'"><div align ="center">'.$this->$groupid.'</div></td>';
  			}
  		?>
  		<td class="<?php echo $td_css;?>"><div align ="center"><?php echo $this->$specialid; ?></div></td>
  	</tr>
  	<?php
  			$i++;
	  	}?>
</table>
</div>
<?php 
}
else
{
	echo '<br /><br /><i>'.$this->language->_('Boundary Group Member not yet set').'</i>';
}?>
<br />
<br />
<br />
  <?php 
		echo $this->action('index',
			                'tools',
			                'changemanagement',
			                array('changes_id' => $this->changes_id));
  ?>