<style>
    label {
        font-size: 1.2em;
    }

    .col-form-label {
        font-size: 1.2em;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    h5 {
        font-size: 1.4em !important;
    }
</style>

<?php if ($this->error) {  ?>
    <div class="alert alert-danger">
        <?= $this->language->_($this->error); ?>
    </div>
<?php } ?>

<form action="" method="POST" id="form_cek">
    <input type="hidden" id="save_bg_releaser" value="<?= $this->branchReleaserCode; ?>">
    <input type="hidden" name="bg_number" value="<?= $this->bg_number; ?>">
    <div class="row justify-content-center mb-2">
        <div class="col-11">
            <h5><?= $this->language->_('Pengajuan Cetak Ulang'); ?></h5>
        </div>
        <div class="col-11 mt-2 py-3" style="border: 1px solid black; border-radius: 15px;">
            <div class="row">
                <div class="col-12 pl-0">
                    <label class="text-body font-weight-bold" style="margin-left: 15px;font-size: 1rem"><?= $this->language->_('Detail Bank Garansi') ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nomor BG') ?></label>
                </div>
                <div class="col-8">
                    <label style="color: red;"><strong><?= substr($this->data["BG_NUMBER"], 0, 3) . "-" . substr($this->data["BG_NUMBER"], 3, 6) . "-" . substr($this->data["BG_NUMBER"], 9, 5) . "-" . substr($this->data["BG_NUMBER"], 14); ?></strong></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Subject eForm') ?></label>
                </div>
                <div class="col-8">
                    <label><strong><?= $this->data["BG_SUBJECT"]; ?></strong></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Prinsipal') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->data["PRINSIPAL"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Obligee') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->data["RECIPIENT_NAME"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->data["BG_BRANCH_NAME"]; ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nominal') ?></label>
                </div>
                <div class="col-8">
                    <label><?= $this->data["CURRENCY"] . " " . number_format($this->data["BG_AMOUNT"], 2); ?></label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status BG') ?></label>
                </div>
                <div class="col-8">
                    <label>Dalam Jaminan - <?= $this->language->_(ucwords($this->completionStatus[$this->data["COMPLETION_STATUS"]])) . " (" . (new DateTime($this->data["BG_UPDATED"]))->format("d M Y H:i:s") . ")"; ?></label>
                </div>
            </div>

            <?php if ($this->data["REPRINT"] == 3 && ($this->data["REJECT_REPRINT_NOTES"])) { ?>
                <div class="row">
                    <div class="col-4 pl-0">
                        <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan Penolakan') ?></label>
                    </div>
                    <div class="col-8">
                        <label><?= ucwords($this->data["REJECT_REPRINT_NOTES"]); ?></label>
                    </div>
                </div>
            <?php } ?>
        </div>

        <div class="col-11 mt-2 py-3">
            <div class="row">
                <div class="col-12 pl-0">
                    <label class="text-body font-weight-bold" style="margin-left: 15px;font-size: 1rem"><?= $this->language->_('Permintaan Cetak Ulang') ?></label>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan Cetak Ulang') ?></label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" value="<?= $this->principleData["Catatan Cetak Ulang"]; ?>" disabled>
                </div>
                <div class="col-1">
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Form Permintaan Cetak Ulang') ?><span class="text-danger">*</span></label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" value="<?= $this->principleData["form_permintaan_cetak_ulang"]; ?>" disabled>
                </div>
                <div class="col-1">
                    <?php  ?>
                    <a href="<?= $this->url(array('module' => 'reprintstage', 'controller' => 'detail', 'action' => 'showfile', "bgregnumber" => urldecode($this->bg_reg_number_encrypt), "file" => "1", "type" => "Form_Permintaan_Cetak_Ulang"), null, true) ?>" class="text-body" target="__blank">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Lampiran Bukti Dokumen') ?><span class="text-danger">*</span></label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" value="<?= $this->principleData["lampiran_bukti_dokumen"]; ?>" disabled>
                </div>
                <div class="col-1">
                    <a href="<?= $this->url(array('module' => 'reprintstage', 'controller' => 'detail', 'action' => 'showfile', "bgregnumber" => urldecode($this->bg_reg_number_encrypt), "file" => "2", "type" => "Lampiran_Bukti_Dokumen"), null, true) ?>" class="text-body" target="__blank">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-4 pl-0">
                    <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bukti Bayar') ?><span class="text-danger">*</span></label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" value="<?= $this->principleData["bukti_bayar"]; ?>" disabled>
                </div>
                <div class="col-1">
                    <a href="<?= $this->url(array('module' => 'reprintstage', 'controller' => 'detail', 'action' => 'showfile', "bgregnumber" => urldecode($this->bg_reg_number_encrypt), "file" => "3", "type" => "Bukti_Bayar"), null, true) ?>" class="text-body" target="__blank">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <?php if ($this->data["REPRINT"] == "2") { ?>
            <div class="col-11" style="height: auto; position: relative;">
                <div class="padding-header-cust d-flex" style="background-color: #0000ff;">
                    <div class="">
                        <h5><?= $this->language->_('Cabang Bank Pencetakan') ?></h5>
                    </div>
                </div>
                <div id="sertifikatBG">
                    <div class="form-group row pt-2">
                        <div class="col-sm-4">
                            <label class="textGray">Cabang Bank Pencetakan</label>
                        </div>
                        <div class="col-sm-7 d-flex align-items-center">
                            <input type="text" class="form-control" id="bank_publisher" readonly="" value="<?= $this->branchPublisher; ?>">
                            <input type="hidden" name="save_bg_publisher" id="save_bg_publisher" readonly="" value="<?= $this->branchPublisherCode; ?>">
                        </div>
                        <?php if ($this->changereleaser) { ?>
                            <div class="col-sm-1 d-flex align-items-center pl-0">
                                <button class="btngreen hov px-2" id="search_bg_publisher" type="button" style="min-width: auto !important; height: 27px">&nbsp;PILIH</button>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>



    <div class="row justify-content-center mt-3">
        <div class="col-11 d-flex justify-content-center" style="height: auto; position: relative;">
            <button type="button" class="btnwhite hov mr-2" id="kembali"><?php echo $this->language->_('KEMBALI') ?></button>
            <?php if ($this->data["REPRINT"] == "1" && $this->hasPrivilege("AARG")) { ?>
                <!-- <button type="submit" class="btnred hov mr-2" name="tolak" value="tolak" id="kirim"><?php echo $this->language->_('TOLAK') ?></button> -->
                <button type="button" class="btnred hov mr-2" id="tolak"><?php echo $this->language->_('TOLAK') ?></button>
                <button type="submit" class="btngreen hov" name="setuju" value="tolak" id="kirim"><?php echo $this->language->_('SETUJUI') ?></button>
            <?php } ?>
            <?php if ($this->data["REPRINT"] == "2") { ?>
                <button class="btngreen hov" id="btn_lanjut" type="button" value="pencetakan">&nbsp;LANJUT</button>
            <?php } ?>
        </div>
    </div>

    <div class="modal fade" id="dialog_lanjut" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="padding-header-cust d-flex">
                        <div class="col">
                            <h5>Konfirmasi Pencetakan</h5>
                        </div>
                    </div>
                    <div style="padding-left:2%" id="sertifikatBG">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="text-muted col-form-label">Nomor BG</label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center">
                                <label for="" class="col-form-label font-weight-bold"><?= $this->BG_NUMBER; ?></label>
                            </div>
                        </div>

                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="text-muted col-form-label">Dokumen Cetak</label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center">
                                <label for="" class="col-form-label mr-4"><?= $this->data["DOCUMENT_ID"] . ".pdf"; ?> (<span id="document_print_pages1"></span> halaman)</label>
                                <a href="/printstage/detail/showfinaldoc/bgnumb/<?= $this->encrypt_numb; ?>" class="text-body" target="__blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-body mr-1" style="height: 1.5rem; width: 1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                    </svg>
                                </a>
                                <a href="/printstage/detail/download/bgnumb/<?= $this->encrypt_numb; ?>" class="text-body">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="text-muted col-form-label">Cabang Bank Penerbit</label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center">
                                <label for="" class="col-form-label"><span id="cabang_bank_penerbit"><?= $this->branchReleaser; ?></span></label>
                            </div>
                        </div>

                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="text-muted col-form-label">Cabang Bank Pencetak</label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center">
                                <label for="" class="col-form-label"><span id="cabang_bank_pencetak"></span></label>
                                <button class="btn ml-2 mr-2 p-0 text-danger bg-transparent border border-danger" id="notif1" style="width:20px;height:20px;border-radius:100%;font-size: .75rem" type="button">i</button>
                                <div class="text-danger py-1 px-1 d-none" id="notif2" style="border: 3px solid #cdcdcd; width: 300px;">berbeda dengan kantor cabang penerbit</div>
                            </div>
                        </div>

                        <div class="form-group row pt-2" id="nomor_kertas_kolom">
                            <div class="col-sm-3">
                                <label for="" class="text-muted col-form-label">Nomor Kertas</label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center">
                                <input type="text" name="kode_kertas" max="2" id="kode_kertas" class="form-control" style="width: 50px">
                                <input type="text" name="nomor_kertas" id="nomor_kertas" class="form-control ml-1" style="width: 150px" onkeypress="return onlyNumberKey(event)">
                                <span class="ml-3 mr-3">-</span>
                                <input type="text" name="kode_kertas2" id="kode_kertas2" class="form-control" style="width: 50px" readonly="">
                                <input type="text" name="nomor_kertas2" id="nomor_kertas2" class="form-control ml-1" style="width: 150px" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('KEMBALI') ?></button>
                    <?php if ($this->hasPrivilege("RSBG")) { ?>
                        <button type="button" class="btngreen hov" id="btn_cetak"><?php echo $this->language->_('CETAK') ?></button>
                        <button type="submit" class="btngreen hov" id="btn_kirim" name="kirim" value="kirim"><?php echo $this->language->_('KIRIM') ?></button>
                    <?php } else { ?>
                        <button type="button" class="btngreen hov disabled" id="btn_cetak" disabled><?php echo $this->language->_('CETAK') ?></button>
                        <button type="submit" class="btngreen hov disabled" id="btn_kirim" name="kirim" value="kirim" disabled><?php echo $this->language->_('KIRIM') ?></button>
                    <? } ?>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Submission Notes') ?></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
                    <?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array(
                        'cols' => '40%', 'rows' => '4',
                        'onKeyDown' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
                        'onKeyUp' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
                        'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON3', 'style' => 'font-size:1.2em'
                    )) ?>
                    <br>
                    <div class="input-group">
                        <?php echo $this->formText('disable_note_len', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                        <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                    </div>
                    <div class="input-group">
                        <label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to reject this submission?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                    <button type="submit" class="btngreen hov" name="tolak" value="tolak"><?php echo $this->language->_('Submit') ?></button>
                </div>
            </div>
        </div>
    </div>

    <?php if ($this->hasPrivilege("RSBG")) { ?>
        <div class="modal fade" id="dialog_cetak" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="padding-header-cust d-flex">
                            <div class="col">
                                <h5>Konfirmasi Status Pencetakan</h5>
                            </div>
                        </div>
                        <div style="padding-left:2%" id="sertifikatBG">

                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Tanggal Cetak</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <label for="" class="col-form-label font-weight-bold"><?= date("d M Y"); ?> &nbsp;&nbsp; <span id="waktu_cetak"></span> (SME01)</label>
                                </div>
                            </div>

                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Nomor BG</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <label for="" class="col-form-label font-weight-bold"><?= $this->BG_NUMBER; ?></label>
                                </div>
                            </div>

                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Dokumen Cetak</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <label for="" class="col-form-label mr-4"><?= $this->data["DOCUMENT_ID"] . ".pdf"; ?> (<span id="document_print_pages2"></span> halaman)</label>
                                    <a href="/printstage/detail/showfinaldoc/bgnumb/<?= $this->encrypt_numb; ?>" class="text-body" target="__blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-body mr-1" style="height: 1.5rem; width: 1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </a>
                                    <a href="/printstage/detail/download/bgnumb/<?= $this->encrypt_numb; ?>" class="text-body">
                                        <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Cabang Bank Penerbit</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <label for="" class="col-form-label"><span id="cabang_bank_penerbit"><?= $this->branchReleaser; ?></span></label>
                                </div>
                            </div>

                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Cabang Bank Pencetak</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <label for="" class="col-form-label"><span id="cabang_bank_pencetak2"></span></label>
                                    <button class="btn ml-2 mr-2 p-0 text-danger bg-transparent border border-danger" id="notif_cetak1" style="width:20px;height:20px;border-radius:100%;font-size: .75rem" type="button">i</button>
                                    <div class="text-danger py-1 px-1 d-none" id="notif_cetak2" style="border: 3px solid #cdcdcd; width: 300px;">berbeda dengan kantor cabang penerbit</div>
                                </div>
                            </div>

                            <div class="form-group row pt-2" id="nomor_kertas_kolom">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Nomor Kertas</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <label for="" class="col-form-label text-danger font-weight-bold"><span id="cetak_start"></span> - <span id="cetak_end"></span></label>
                                </div>
                            </div>

                            <div class="form-group row pt-2" id="nomor_kertas_kolom">
                                <div class="col-sm-3">
                                    <label for="" class="text-muted col-form-label">Status Cetak</label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <input type="radio" name="cetak_status" id="cetak_sukses" value="1">
                                    <label class="col-form-label ml-2 mr-5" for="cetak_sukses">Sukses</label>
                                    <input type="radio" name="cetak_status" id="cetak_gagal" value="2">
                                    <label class="col-form-label ml-2 mr-5" for="cetak_gagal">Gagal</label>
                                </div>
                            </div>

                            <div class="mt-3" id="status_cetak" hidden>
                                <div class="form-group row pt-2" id="nomor_kertas_kolom">
                                    <div class="col-sm-3">
                                        <label for="" class="text-muted col-form-label">Catatan Kerusakan</label>
                                    </div>
                                    <div class="col-sm-9 d-flex align-items-center">
                                        <select name="catatan_kerusakan" id="catatan_kerusakan" class="form-control">
                                            <option value="Paper Jam">Paper Jam</option>
                                            <option value="Kertas Rusak">Kertas Rusak</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row pt-2" id="nomor_kertas_kolom" style="display: none;">
                                    <div class="col-sm-3">
                                        <label for="" class="text-muted col-form-label">Nomor Kertas Rusak</label>
                                    </div>
                                    <div class="col-sm-9 d-flex align-items-center">
                                        <input type="text" name="kode_kertas_rusak" max="2" id="kode_kertas_rusak" class="form-control" style="width: 50px" readonly>
                                        <input type="text" name="nomor_kertas_rusak" id="nomor_kertas_rusak" class="form-control ml-1" style="width: 150px" onkeypress="return onlyNumberKey(event)" readonly>
                                        <span class="ml-3 mr-3">-</span>
                                        <input type="text" name="kode_kertas_rusak2" id="kode_kertas_rusak2" class="form-control" style="width: 50px" readonly>
                                        <input type="text" name="nomor_kertas_rusak2" id="nomor_kertas_rusak2" class="form-control ml-1" style="width: 150px" onkeypress="return onlyNumberKey(event)" readonly>
                                    </div>
                                </div>

                                <div class="form-group row pt-2" id="nomor_kertas_kolom">
                                    <div class="col-sm-3">
                                        <label for="" class="text-muted col-form-label">Nomor Kertas Baru</label>
                                    </div>
                                    <div class="col-sm-9 d-flex align-items-center">
                                        <input type="text" name="kode_kertas_baru" max="2" id="kode_kertas_baru" class="form-control" style="width: 50px">
                                        <input type="text" name="nomor_kertas_baru" id="nomor_kertas_baru" class="form-control ml-1" style="width: 150px" onkeypress="return onlyNumberKey(event)">
                                        <span class="ml-3 mr-3">-</span>
                                        <input type="text" name="kode_kertas_baru2" id="kode_kertas_baru2" class="form-control" style="width: 50px" readonly>
                                        <input type="text" name="nomor_kertas_baru2" id="nomor_kertas_baru2" class="form-control ml-1" style="width: 150px" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <?php if (false) { ?>
                            <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('KEMBALI') ?></button>
                        <?php } ?>
                        <button type="button" class="btngreen hov" id="btn_cetak2" hidden><?php echo $this->language->_('CETAK') ?></button>
                        <button type="submit" class="btngreen hov" id="kirim_cetak" name="kirim_cetak" value="kirim_cetak"><?php echo $this->language->_('KIRIM') ?></button>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>

</form>
<input type="hidden" id="save_nomor_kertas_baru">
<input type="hidden" id="save_nomor_kertas_baru2">
<input type="hidden" id="save_kode_kertas_baru">
<script type="text/javascript">
    var total_halaman_pdf = <?= $this->total_halaman_pdf; ?>; //perlu diganti menjadi dinamis

    <?php if ($this->data["REPRINT"] == "2") { ?>
        var cetak_ke_dua = false;

        function onlyNumberKey(event) {
            var ASCIICode = (event.which) ? event.which : event.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }

    <?php } ?>

    function close_window() {
        return window.close();
    }

    function back() {
        window.location.href = "/reprintstage/list/"
    }

    function checkFile(object) {
        const fileExtension = object.target.files[0].name.split(".").pop();
        if (fileExtension != "pdf") {
            object.target.value = "";
            return alert("File harus berformat pdf");
        }
    }

    function check_all_file() {
        const form_minta_cetak_ulang = document.querySelector("#form_minta_cetak_ulang").value

        const lampiran_bukti_dokumen = document.querySelector("#lampiran_bukti_dokumen").value

        const bukti_bayar = document.querySelector("#bukti_bayar").value

        if (form_minta_cetak_ulang == "" || lampiran_bukti_dokumen == "" || bukti_bayar == "") {
            alert("Mohon upload semua file mandatory");
            return false
        }

        return true;
    }

    function cek_submit(object) {

        const form_data = new FormData(object.target);
        if (!check_all_file()) {
            object.preventDefault();
            return false;
        }

    }

    function getBgPublisher() {
        window.open("<?= $this->url(array('module' => 'printstage', 'controller' => 'detail', 'action' => 'getbgpublisher'), null, true) ?>", "", "width=842,height=665")
    }

    document.addEventListener("DOMContentLoaded", () => {

        document.querySelector("#document_print_pages1").innerText = total_halaman_pdf
        document.querySelector("#document_print_pages2").innerText = total_halaman_pdf

        document.querySelector("#notif1").addEventListener("mouseover", () => {
            document.querySelector("#notif2").classList.remove("d-none");
        })

        document.querySelector("#notif1").addEventListener("mouseleave", () => {
            document.querySelector("#notif2").classList.add("d-none");
        })

        document.querySelector("#notif_cetak1").addEventListener("mouseover", () => {
            document.querySelector("#notif_cetak2").classList.remove("d-none");
        })

        document.querySelector("#notif_cetak1").addEventListener("mouseleave", () => {
            document.querySelector("#notif_cetak2").classList.add("d-none");
        })

        const btn_kembali = document.querySelector("#kembali");
        btn_kembali.addEventListener("click", back);

        const btn_kirim = document.querySelector("#form_cek");

        const bg_publisher = document.querySelector("#search_bg_publisher");
        if (bg_publisher != null) {
            bg_publisher.addEventListener("click", getBgPublisher);
        }

        if (document.querySelector("#tolak") != null) {
            document.querySelector("#tolak").addEventListener("click", () => {
                $('#dialog_box').modal('show');
            })
        }

        document.querySelector("[name='tolak']").addEventListener("click", (event) => {
            if (document.querySelector("#PS_REASON3").value == "" || document.querySelector("#PS_REASON3").value == null) {
                event.preventDefault();
                alert("Isian catatan tidak boleh kosong");
            }
        })

        // tambahan baru ----------------------------------------------


        <?php if ($this->data["REPRINT"] == "2") { ?>

            document.querySelector("#btn_lanjut").addEventListener("click", () => {
                if (document.querySelector("#save_bg_publisher").value == "") {
                    alert("Anda belum memilih cabang bank pencetakan")
                } else {
                    document.querySelector("#cabang_bank_pencetak").innerText = document.querySelector("#bank_publisher").value
                    if (document.querySelector("#save_bg_publisher").value == document.querySelector("#save_bg_releaser").value) {
                        document.querySelector("#notif1").hidden = true
                        document.querySelector("#notif2").hidden = true
                        document.querySelector("#btn_kirim").hidden = true
                        document.querySelector("#btn_cetak").hidden = false
                        document.querySelector("#nomor_kertas_kolom").hidden = false
                    } else {
                        <?php if ($this->onlyprint) { ?>
                            document.querySelector("#btn_cetak").hidden = false
                            document.querySelector("#btn_kirim").hidden = true
                            document.querySelector("#notif1").hidden = false
                            document.querySelector("#notif2").hidden = false
                            document.querySelector("#notif2").innerText = "kantor cabang penerbitan berbeda dengan kantor penerbitan"
                            document.querySelector("#nomor_kertas_kolom").hidden = false
                        <?php } else { ?>
                            document.querySelector("#notif1").hidden = false
                            document.querySelector("#notif2").hidden = false
                            document.querySelector("#btn_kirim").hidden = false
                            document.querySelector("#btn_cetak").hidden = true
                            document.querySelector("#nomor_kertas_kolom").hidden = true
                        <?php } ?>
                    }
                    $('#dialog_lanjut').modal({
                        backdrop: "static",
                        show: true,
                        keyboard: false
                    });
                }
            })

            document.querySelector("#btn_cetak").addEventListener("click", () => {

                if (document.querySelector("#kode_kertas").value == "" || document.querySelector("#nomor_kertas").value == "") {
                    return alert("Silahkan lengkapi nomor kertas")
                }

                const kode_kertas = document.querySelector("#kode_kertas").value;
                const nomor_kertas_awal = document.querySelector("#nomor_kertas").value;
                const nomor_kertas_akhir = document.querySelector("#nomor_kertas2").value;
                const paper_branch = document.querySelector("#save_bg_publisher").value;

                $.ajax({
                    url: "<?= $this->url(array('module' => "printstage", 'action' => 'checkpaper')); ?>",
                    method: "GET",
                    dataType: "JSON",
                    data: {
                        kode_kertas: kode_kertas,
                        nomor_kertas_awal: nomor_kertas_awal,
                        nomor_kertas_akhir: nomor_kertas_akhir,
                        paper_branch: paper_branch,
                    },
                    success: function(response1) {
                        if (response1.status == "success") {
                            if (document.querySelector("#save_bg_publisher").value == document.querySelector("#save_bg_releaser").value) {
                                document.querySelector("#notif_cetak1").hidden = true
                                document.querySelector("#notif_cetak2").hidden = true
                            } else {
                                document.querySelector("#notif_cetak1").hidden = false
                                document.querySelector("#notif_cetak2").hidden = false
                            }

                            const today = new Date();
                            const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                            document.querySelector("#waktu_cetak").innerText = time;

                            document.querySelector("#kode_kertas_rusak").value = document.querySelector("#kode_kertas").value
                            document.querySelector("#nomor_kertas_rusak").value = document.querySelector("#nomor_kertas").value
                            document.querySelector("#kode_kertas_rusak2").value = document.querySelector("#kode_kertas2").value
                            document.querySelector("#nomor_kertas_rusak2").value = document.querySelector("#nomor_kertas2").value

                            $('#dialog_lanjut').modal("hide");
                            document.querySelector("#cabang_bank_pencetak2").innerText = document.querySelector("#bank_publisher").value
                            // document.querySelector("#cetak_start").innerText = document.querySelector("#kode_kertas").value + document.querySelector("#nomor_kertas").value
                            document.querySelector("#cetak_start").innerText = response1.data[1]
                            // document.querySelector("#cetak_end").innerText = document.querySelector("#kode_kertas2").value + document.querySelector("#nomor_kertas2").value
                            document.querySelector("#cetak_end").innerText = response1.data[2]
                            setTimeout(() => {
                                $('#dialog_cetak').modal({
                                    backdrop: "static",
                                    show: true,
                                    keyboard: false
                                });

                                const newIframe = document.createElement("iframe")
                                newIframe.src = "/printstage/detail/showfinaldoc/bgnumb/<?= $this->encrypt_numb; ?>"
                                newIframe.style.display = "none"
                                document.querySelector("body").appendChild(newIframe)
                                newIframe.contentWindow.print()
                            }, 500);
                        } else {
                            return alert(response1.data);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get escrow account, please try again");
                    }
                });


            })

            document.querySelector("#btn_cetak2").addEventListener("click", () => {

                if (document.querySelector("#kode_kertas_baru").value == "" || document.querySelector("#nomor_kertas_baru").value == "" || document.querySelector("#nomor_kertas_rusak").value == "" || document.querySelector("#nomor_kertas_rusak2").value == "") {
                    return alert("Silahkan lengkapi nomor kertas");
                }

                const nomor_kertas_awal = (cetak_ke_dua) ? document.querySelector("#save_nomor_kertas_baru") : document.querySelector("#nomor_kertas");
                const nomor_kertas_akhir = (cetak_ke_dua) ? document.querySelector("#save_nomor_kertas_baru2") : document.querySelector("#nomor_kertas2");
                const nomor_kertas_rusak_awal = document.querySelector("#nomor_kertas_rusak");
                const nomor_kertas_rusak_akhir = document.querySelector("#nomor_kertas_rusak2");
                const kode_kertas_rusak = document.querySelector("#kode_kertas_rusak");
                const catatan_kerusakan = document.querySelector("#catatan_kerusakan");

                if (parseInt(nomor_kertas_rusak_awal.value) > 0) {
                    if ((parseInt(nomor_kertas_rusak_awal.value) < parseInt(nomor_kertas_awal.value) || parseInt(nomor_kertas_rusak_awal.value) > parseInt(nomor_kertas_akhir.value))) {
                        alert("Nomor kertas rusak berada di luar range kertas yang dicetak \nMohon cek kembali");
                        return false;
                    }

                    if ((parseInt(nomor_kertas_rusak_akhir.value) < parseInt(nomor_kertas_awal.value) || parseInt(nomor_kertas_rusak_akhir.value) > parseInt(nomor_kertas_akhir.value))) {
                        alert("Nomor kertas rusak berada di luar range kertas yang dicetak \nMohon cek kembali");
                        return false;
                    }
                }

                const kode_kertas_baru = document.querySelector("#kode_kertas_baru").value;
                const nomor_kertas_awal_baru = document.querySelector("#nomor_kertas_baru").value;
                const nomor_kertas_akhir_baru = document.querySelector("#nomor_kertas_baru2").value;
                const paper_branch = document.querySelector("#save_bg_publisher").value;

                $.ajax({
                    url: "<?= $this->url(array('module' => "printstage", 'action' => 'checkpaper')); ?>",
                    method: "GET",
                    dataType: "JSON",
                    data: {
                        kode_kertas: kode_kertas_baru,
                        nomor_kertas_awal: nomor_kertas_awal_baru,
                        nomor_kertas_akhir: nomor_kertas_akhir_baru,
                        paper_branch: paper_branch,
                        kode_kertas_rusak: kode_kertas_rusak.value,
                        nomor_kertas_rusak_awal: nomor_kertas_rusak_awal.value,
                        nomor_kertas_rusak_akhir: nomor_kertas_rusak_akhir.value,
                        catatan_kerusakan: catatan_kerusakan.value

                    },
                    success: function(response1) {
                        if (response1.status == "success") {
                            if (document.querySelector("#save_bg_publisher").value == document.querySelector("#save_bg_releaser").value) {
                                document.querySelector("#notif_cetak1").hidden = true
                                document.querySelector("#notif_cetak2").hidden = true
                            } else {
                                document.querySelector("#notif_cetak1").hidden = false
                                document.querySelector("#notif_cetak2").hidden = false
                            }

                            document.querySelector("#kode_kertas_rusak").value = document.querySelector("#kode_kertas_baru").value
                            document.querySelector("#nomor_kertas_rusak").value = document.querySelector("#nomor_kertas_baru").value
                            document.querySelector("#kode_kertas_rusak2").value = document.querySelector("#kode_kertas_baru2").value
                            document.querySelector("#nomor_kertas_rusak2").value = document.querySelector("#nomor_kertas_baru2").value

                            $('#dialog_cetak').modal("hide");
                            document.querySelector("#cabang_bank_pencetak2").innerText = document.querySelector("#bank_publisher").value
                            // document.querySelector("#cetak_start").innerText = document.querySelector("#kode_kertas").value + document.querySelector("#nomor_kertas_baru").value
                            document.querySelector("#cetak_start").innerText = response1.data[1]
                            // document.querySelector("#cetak_end").innerText = document.querySelector("#kode_kertas2").value + document.querySelector("#nomor_kertas_baru2").value
                            document.querySelector("#cetak_end").innerText = response1.data[2]

                            // document.querySelector("#nomor_kertas_rusak").value = ""
                            // document.querySelector("#nomor_kertas_rusak2").value = ""
                            document.querySelector("#kode_kertas_baru").value = ""
                            document.querySelector("#kode_kertas_baru2").value = ""
                            document.querySelector("#nomor_kertas_baru").value = ""
                            document.querySelector("#nomor_kertas_baru2").value = ""
                            document.querySelector("#status_cetak").hidden = true
                            document.querySelector("input[name='cetak_status']:checked").checked = false

                            document.querySelector("#save_nomor_kertas_baru").value = nomor_kertas_awal_baru
                            document.querySelector("#save_nomor_kertas_baru2").value = nomor_kertas_akhir_baru
                            document.querySelector("#save_kode_kertas_baru").value = kode_kertas_baru

                            cetak_ke_dua = true;

                            setTimeout(() => {
                                $('#dialog_cetak').modal({
                                    backdrop: "static",
                                    show: true,
                                    keyboard: false
                                });

                                document.querySelector("iframe").contentWindow.print()
                            }, 500);
                        } else {
                            return alert(response1.data);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get escrow account, please try again");
                    }
                });


            })

            document.querySelector("#cetak_gagal").addEventListener("click", () => {
                if (event.target.checked) {
                    document.querySelector("#status_cetak").hidden = false
                    document.querySelector("#btn_cetak2").hidden = false
                    document.querySelector("#kirim_cetak").hidden = true
                    document.querySelector("#kode_kertas_rusak").required = true
                    document.querySelector("#kode_kertas_rusak2").required = true
                    document.querySelector("#nomor_kertas_rusak").required = true
                    document.querySelector("#nomor_kertas_rusak2").required = true
                    document.querySelector("#kode_kertas_baru").required = true
                    document.querySelector("#kode_kertas_baru2").required = true
                    document.querySelector("#nomor_kertas_baru").required = true
                    document.querySelector("#nomor_kertas_baru2").required = true
                }
            })

            document.querySelector("#cetak_sukses").addEventListener("click", () => {
                if (event.target.checked) {
                    document.querySelector("#status_cetak").hidden = true
                    document.querySelector("#btn_cetak2").hidden = true
                    document.querySelector("#kirim_cetak").hidden = false
                    document.querySelector("#kode_kertas_rusak").required = false
                    document.querySelector("#kode_kertas_rusak2").required = false
                    document.querySelector("#nomor_kertas_rusak").required = false
                    document.querySelector("#nomor_kertas_rusak2").required = false
                    document.querySelector("#kode_kertas_baru").required = false
                    document.querySelector("#kode_kertas_baru2").required = false
                    document.querySelector("#nomor_kertas_baru").required = false
                    document.querySelector("#nomor_kertas_baru2").required = false
                }
            })

            document.querySelector("#nomor_kertas").addEventListener("keyup", () => {
                const get_value = document.querySelector("#nomor_kertas").value;
                const sum_paper_number = parseInt(get_value) + total_halaman_pdf - 1;

                if (get_value != "") {
                    if (get_value.length == sum_paper_number.toString().length) {
                        document.querySelector("#nomor_kertas2").value = sum_paper_number
                    } else {
                        document.querySelector("#nomor_kertas2").value = "0".repeat(get_value.length - sum_paper_number.toString().length) + sum_paper_number.toString()
                    }
                }
            })

            document.querySelector("#kode_kertas").addEventListener("keyup", () => {
                document.querySelector("#kode_kertas2").value = document.querySelector("#kode_kertas").value
            })

            document.querySelector("#nomor_kertas_baru").addEventListener("keyup", () => {
                const get_value = document.querySelector("#nomor_kertas_baru").value;
                const sum_paper_number = parseInt(get_value) + total_halaman_pdf - 1;

                if (get_value != "") {
                    if (get_value.length == sum_paper_number.toString().length) {
                        document.querySelector("#nomor_kertas_baru2").value = sum_paper_number
                    } else {
                        document.querySelector("#nomor_kertas_baru2").value = "0".repeat(get_value.length - sum_paper_number.toString().length) + sum_paper_number.toString()
                    }
                }
            })

            document.querySelector("#kode_kertas_baru").addEventListener("keyup", () => {
                document.querySelector("#kode_kertas_baru2").value = document.querySelector("#kode_kertas_baru").value
            })


            document.querySelector("#kirim_cetak").addEventListener("click", (event) => {
                event.preventDefault();
                const nomor_kertas_awal = document.querySelector("#nomor_kertas");
                const nomor_kertas_akhir = document.querySelector("#nomor_kertas2");
                const nomor_kertas_rusak_awal = document.querySelector("#nomor_kertas_rusak");
                const nomor_kertas_rusak_akhir = document.querySelector("#nomor_kertas_rusak2");

                if (document.querySelectorAll("input[name='cetak_status']:checked").length < 1) {
                    event.preventDefault();
                    alert("Anda belum memilih status cetak");
                    return false;
                }

                if (document.querySelectorAll("input[name='cetak_status']:checked")[0].value == "1") {
                    document.querySelector("#form_cek").submit()
                    return true;
                }

                if (nomor_kertas_rusak_awal.value == "" || nomor_kertas_rusak_akhir.value == "") {
                    alert("Anda belum melengkapi nomor kertas rusak");
                    return false;
                }

                if (parseInt(nomor_kertas_rusak_awal.value) > 0) {
                    if ((parseInt(nomor_kertas_rusak_awal.value) < parseInt(nomor_kertas_awal.value) || parseInt(nomor_kertas_rusak_awal.value) > parseInt(nomor_kertas_akhir.value))) {
                        alert("Nomor kertas rusak berada di luar range kertas yang dicetak \nMohon cek kembali");
                        return false;
                    }

                    if ((parseInt(nomor_kertas_rusak_akhir.value) < parseInt(nomor_kertas_awal.value) || parseInt(nomor_kertas_rusak_akhir.value) > parseInt(nomor_kertas_akhir.value))) {
                        alert("Nomor kertas rusak berada di luar range kertas yang dicetak \nMohon cek kembali");
                        return false;
                    }
                }

                const kode_kertas_baru = document.querySelector("#kode_kertas_baru").value;
                const nomor_kertas_awal_baru = document.querySelector("#nomor_kertas_baru").value;
                const nomor_kertas_akhir_baru = document.querySelector("#nomor_kertas_baru2").value;
                const paper_branch = document.querySelector("#save_bg_publisher").value;

                $.ajax({
                    url: "<?= $this->url(array('module' => "printstage", 'action' => 'checkpaper')); ?>",
                    method: "GET",
                    dataType: "JSON",
                    data: {
                        kode_kertas: kode_kertas_baru,
                        nomor_kertas_awal: nomor_kertas_awal_baru,
                        nomor_kertas_akhir: nomor_kertas_akhir_baru,
                        paper_branch: paper_branch,
                    },
                    success: function(response1) {
                        if (response1.status != "success") {
                            return alert(response1.data);
                        } else {
                            document.querySelector("#form_cek").submit();
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get escrow account, please try again");
                    }
                })
            })

            $(window).keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

        <?php } ?>
    })
</script>