<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent">
						<p>
							<h2>
								<!--<?php echo $this->language->_('Emailed'); ?>-->
								<?=($this->status ==1) ? $this->language->_('Emailed sent success'): $this->language->_('Emailed sent failed'); ?>
							</h2>
						</p>
						<p align="center">
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>