<?php 
	$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<b><?php echo $this->language->_('Transaction Report'); ?> > <?php echo $this->language->_('LLD Report'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('LLD Report'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('COMPANYCODE',$this->language->_('Company Code')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php 
					echo $this->formSelect('COMPANYCODE',$this->COMPANYCODE,null,$this->listCustId); 
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('PAYMENTREF',$this->language->_('Payment Ref#')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('PAYMENTREF',$this->PAYMENTREF,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('TRANSACTIONID',$this->language->_('Transaction Ref')); ?>#</td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('TRANSACTIONID',$this->TRANSACTIONID,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('TRANSFERDATE',$this->language->_('Payment Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $this->language->_('From'); ?> &nbsp;
										<?php 
												echo $this->datePicker("TRANSFERFROM", $this->TRANSFERFROM,array('dateFormat' => $this->jqueryDateFormat,
																													'defaultDate' =>'new Date()',
																													'showOn' => 'button',
																													'buttonImage' => '/images/calendar.gif',
																													'buttonImageOnly' => true,
																													'changeMonth' => true,
																													'changeYear' => true,
																													'clearAnotherField' => true,
																													'anotherField' => 'TRANSFERTO',
																													'minDateID' => 'TRANSFERTO',
																													)); 
										?>
										&nbsp; <?php echo $this->language->_('To'); ?> &nbsp;
										<?php 
												echo $this->datePicker("TRANSFERTO", $this->TRANSFERTO,array('dateFormat' => $this->jqueryDateFormat,
																												'defaultDate' =>'new Date()',
																												'showOn' => 'button',
																												'buttonImage' => '/images/calendar.gif',
																												'buttonImageOnly' => true,
																												'changeMonth' => true,
																												'changeYear' => true,
																												'clearAnotherField' => true,
																												'anotherField' => 'TRANSFERFROM',
																												'maxDateID' => 'TRANSFERFROM',
																												)); 
										?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('ACCTSRC',$this->language->_('Source Account')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('ACCTSRC',$this->ACCTSRC,array('maxlength'=>'20','size'=>'20')); ?></td>
		</tr>
		<!-- ,'onkeypress'=>'return forceDecimalOCBC(event)' ,'onkeypress'=>'return forceDecimalOCBC(event)'-->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('BENEACCT',$this->language->_('Beneficiary Account')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('BENEACCT',$this->BENEACCT,array('maxlength'=>'20','size'=>'20')); ?></td>
		</tr>
		
		<!--<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('PAYTYPE',$this->language->_('Payment Type')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php
					
					$opt[""] = '-- '.$this->language->_('Any Value').' --';
						
					$arrPayType = $this->arrPayType;
					$optarrPayType  = $opt + $arrPayType;
					echo $this->formSelect('PAYTYPE',$this->PAYTYPE,array('id'=>'PAYTYPE'),$optarrPayType);
					
				?>
			</td>
		</tr>-->
		
		
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
				<input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
			</td>
		</tr>
	</table>
	<br />
</form>
	
<form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true).$this->qstring?>" method="post">	
	<table width="100%" border="0px">
		<tr style="height:30px;" align="right">
			<td>
				
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
				<?php	echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>
				<?php }else{ ?>
				<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>
				<?php } ?>
				
				<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
				<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
				<?php } ?>
				
				<?php // echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>
<!--				<input class="inputbtn" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button">-->
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
					echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'inputbtn','disabled'=>'disabled'));
				}
				else{
				?>
					<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;
				<?php 	
				}
				?>	
				<input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
			</td>
		</tr>
	</table>
</form>

<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br>
	
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	<tr>
		<th width="3%" valign="top">No</th>
		
		<?php 
			echo $this->partial('tableheader.phtml',array(
															'fields' => $this->fields,
															'sortBy' => $this->sortBy,
															'sortDir' => $this->sortDir,
															'query_string_params' => $this->query_string_params
															)
								);
		?>
		<th  valign="top">Action</th>
		<?php
			if(count ($this->paginator) > 0){
				$d = 0;
				
				foreach($this->paginator as $row){
							
					$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
					?><tr><?
					$detail = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'Lldreportdetail','action'=>'index','psnumber'=>$row['PS_NUMBER']),null,true).'">'.$this->language->_('Detail').'</a>';
					$PSNUMBER = $row["payref"];
							
					echo '
						<td class="'.$td_css.'">'.$counter.'</td>
						<td class="'.$td_css.'">'.$row["companycode"].'</td>
						<td class="'.$td_css.'">'.$row["companyname"].'</td>
						<td class="'.$td_css.'">'.$row["payref"].'</td>
						<td class="'.$td_css.'">'.$row["benebankname"].'</td>
						<td class="'.$td_css.'">'.$row["NOSTRO_NAME"].'</td>
						
						
						<td class="'.$td_css.'">'.$row["transferdate"].'</td>
						
						<td class="'.$td_css.'">'.$row["acctsrc"].'</td>
						<td class="'.$td_css.'">'.$row["beneacct"].'</td>
						<td class="'.$td_css.'">'.$row["traamount"].'</td>
						
						<td class="'.$td_css.'">'.$row["tramessage"].'</td>
						<td class="'.$td_css.'">'.$detail.'</td>
						
								 
					';
					$counter++;
					$d++;
				}
			}
			else
			{
			?>	<tr>
					<td class="tbl-evencontent" colspan="20" align="center">--- <?php echo $this->language->_('No Data'); ?> ---</td>
				</tr> <?php
			}
			?>
	</tr>
</table><br />

<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br>
	