<script type="text/javascript">
	function switchCheck(selThis){
			if($(selThis).is(":checked")){
				$(".group_id:enabled").attr("checked","checked");

			}else{
				$(".group_id:enabled").removeAttr("checked");
			};
	}
</script>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Account Group</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Approve Group')?></span>

                    </li>

                </ul>
            </div>
        </div>
    </div>
<br />

<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div><br />
<?php } ?>


<div align="right">
<!--<input class="inputbtn" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button">-->
		<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btngreen hov"><?PHP echo $this->language->_("Print")?></button>&nbsp;
</div>
<br>
<div class="row">
		<div class="col-md-12">
			<form name="tool_beneficiary_approve" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">

			<div class="portlet-body flip-scroll">
					<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-striped table-condensed flip-content">
					<tr class="headercolor">
						<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																																	'sortBy' => $this->sortBy,
																																	'sortDir' => $this->sortDir,
																																	'query_string_params' => $this->query_string_params
																																	)
													)?>
						<th width="3%" valign="top"><?php echo  $this->formCheckbox('checkAll', null,array('onclick' => 'switchCheck(this)')) ?></th>

					</tr>

					<?php
				$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

					if(count($this->paginator) > 0)
				{
								$i=0;

					foreach($this->paginator as $row) {

					$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
							$attribut=array('class' => 'group_id', 'checked' => (isset($this->group_id[$row['GROUP_ID']]))? true : false);

					echo '<tr>
							<td class="'.$td_css.'">'.$row['GROUP_NAME'].'</td>
							<td class="'.$td_css.'">'.$row['CREATEDBY'].'</td>
							<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['CREATE_DATETIME'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
							<td class="'.$td_css.'">'.$this->language->_($row['ACTION']).$this->formHidden("act[{$row['GROUP_ID']}]", $row['ACTION']).'</td>
							<td class="'.$td_css.'">'.$this->formCheckbox("group_id[{$row['GROUP_ID']}]", "1",$attribut).'</td>
						</tr>';

							$i++;
											$counter++;
						}
				}
				else {
					echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_('No Data')." --- </td></tr>";
				}
					?>
			</table>

			<div class="formbutton">
				<input class = "btnwhite hov" type="button" onclick="location.href='/home/index'" value = "<?php echo $this->language->_('Back')?>">
				<input type="submit" value="<?php echo $this->language->_('Approve')?>" name="submit_approve" class="btnwhite disabled" <?php if(!count($this->paginator)) echo 'disabled="disabled"';?>/>
				<input type="submit" value="<?php echo $this->language->_('Reject')?>" name="submit_reject" class="btnwhite disabled" <?php if(!count($this->paginator)) echo 'disabled="disabled"';?>/>
			</div>
			</div>
			<!-- <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
			<br /> -->

			</form>

		</div>
</div>
