<div class="errmsg">
 <?php
 if($this->errors){
	 foreach ($this->errors as $key => $val){
	 	echo $this->formErrors($val); 
	 }
 }
 ?>
</div>

<?php if(!$this->isError){ ?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Check Balance - Main Account'); ?></div>
<br/>

<b><?php echo $this->language->_('Main Account Information'); ?></b>

<br/>
<br/>
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	<tr>
		<th>
			<?php echo $this->language->_('CCY'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Acc No'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Acc Name'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Status'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Expiry Date'); ?>
		</th>
		<th>
			<?php echo $this->language->_('CR Limit'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Loan OS'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Hold Amount'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Unused CR Limit'); ?>
		</th>
	</tr>
<?php 
		$i=0;
		$row = $this->params;
			$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
?>
			<tr>
				<td class="<?php echo $td_css; ?>">
					&nbsp
				</td>
				<td class="<?=$td_css?>">
					&nbsp
				</td>
				<td class="<?=$td_css?>">
					&nbsp
				</td>
				<td class="<?=$td_css?>">
					&nbsp
				</td>
				<td class="<?=$td_css?>">
					&nbsp
				</td>
				<td class="<?=$td_css?>" align="right">
					&nbsp
				</td>
				<td class="<?=$td_css?>" align="right">
					&nbsp
				</td>
				<td class="<?=$td_css?>" align="right">
					&nbsp
				</td>
				<td class="<?=$td_css?>" align="right">
					&nbsp
				</td>
			</tr>
		
<?php 
			$i++;
?>				
</table>
<br/>
<br/>
<table width="300px" cellpadding="0" cellspacing="0" border="0" class="">
<tr>
	<td>
		<A href="javascript: self.close ()" class="inputbtn"><?php echo $this->language->_('Close'); ?></A>
	</td>
</tr>
</table>
<?php } ?>
