<script type="text/javascript">
$(document).ready(function(){
        $('div#sidebar-collapse').click(function(){
              if ( $("#logo-title").is(":visible") ) { 
                $("#logo-title").hide(); 
                $("#logo-titles").hide(); 
              } else if ( $("#logo-title").is(":hidden") ) { 
                $("#logo-title").show(); 
                $("#logo-titles").show(); 
              }
            })

        $('#lsdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#lsdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#ladateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#ladateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();
});
</script>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Customer Setup'); ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span><?php echo $this->language->_('User Limit Scheme'); ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Transaction Limit'); ?>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div class="container">
  <div style="text-align:center;" class="center">
      <h5 class=""><?=$this->language->_('User Limit Scheme')?></h5>
  </div>
</div>

<div style="padding: 5px 0px 5px;" class="container">
      <div   class="row">
      <div style="text-align:center" class="col-sm-6">
          <button class="btngreen hov" onclick="location.href='/userlimit/manageuserlimit'">Transaction Limit</button>
          <!-- javascript:DalamNegeri('dalamnegeri','luarnegeri') -->
      </div>
      <div style="text-align:center" class="col-sm-6">
        <button class="btnwhite hov" onclick="location.href='/userdailylimit/index'">Daily Limit</button>
      </div>

  </div>
</div>

<br>

<div class="row content-box">
    <div class= "portlet-body form col-md-12">
        <h5><?=$this->language->_('Transaction Limit')?></h5>
        <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
    <!----------------------------------------------------------FILTER------------------------------------------------------------------------------------>
    <?php 
    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
    foreach($this->filterlist as $row){
        $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
    }

    ?>
    <div class="row " id="logo-titles" style="margin-left: 0px">
            <?php
            if(!empty($this->wherecol)){
                ?>
                <script type="text/javascript">
                    $(document).ready(function(){
                    $("#logo-title").show(); 
                });

                </script>
                <?php
            }
            // print_r($this->whereval);die;
            foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array("PS_LATEST_SUGGESTION", "PS_LATEST_APPROVAL", "COMP_ID",'CCY','STATUS');
                        $selectlist = array('COMP_NAME','USER_ID','ACC_NUMBER','ACC_NAME','LATEST_SUGGESTER','LATEST_APPROVER');
                        $index = 0;
                        


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                var colval = "#colvalue-s<?=$key?>";
                                                var colomnname = "<?=$value?>";
                                                // var colselect= "<?=$value?>";
                                                var colselect = "colselect-s<?=$key?>";
                                                var ncolselect = "#colselect-s<?=$key?>";
                                                if(colomnname == 'COMP_ID'){
                                                        // alert(<?=$this->whereval[$key]?>);
                                                        $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?=$this->whereval[$key]?>'
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });

                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }else if(colomnname == 'CCY'){
                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?=$this->whereval[$key]?>'
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }else if(colomnname == 'STATUS'){
                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'status'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?=$this->whereval[$key]?>'
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        $(colselect).val('<?=$this->whereval[$index]?>');

                                                }
                                            });

                                            </script>
                                        <?php
                                            if($value == 'PS_LATEST_SUGGESTION'){
                                                // var_dump($this->whereval);die;
                                                ?>
                                                <input type='text' class='form-control' name='lsdate[]' id='lsdateStart' readonly value="<?=$this->lsdateStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='lsdate[]' id='lsdateEnd' value="<?=$this->lsdateEnd?>" readonly required>
                                                <?php
                                                }else if($value == 'PS_LATEST_APPROVAL'){
                                                ?>
                                                <input type='text' class='form-control' name='ladate[]' id='ladateStart' readonly value="<?=$this->ladateStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='ladate[]' id='ladateEnd' value="<?=$this->ladateEnd?>" readonly required>
                                                <?php

                                                }else if(in_array($value, $selectlist)){
                                                ?>
                                                <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                                                <?php }
                                                if (!in_array($value, $datetype)){
                                                    // print_r($value);die;
                                                    $index++;
                                                }
                                                 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

                <?php
            }
            ?>

    </div>


    <div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
     <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                        
                               </div>
            <div class="col-md-4">
            </div>
                               
    </div>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
         <a href="#" class="sidebar-collapse-icon with-animation">
             <?php echo $this->language->_('Advanced Search'); ?>               
         </a>
     </div>
</form>
</div>
        </div>
          <div class="row">
    
    <div class="portlet-body flip-scroll table-fixed" id="fixTable">
        <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th class="tablehead">No</th>
            <?php 
            // echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
            //                                             'sortBy' => $this->sortBy,
            //                                             'sortDir' => $this->sortDir,
            //                                             'query_string_params' => $this->query_string_params
            //                                            )
            //                )
                           ?>
            <th class="tablehead" valign="top">Company</th>
            <th class="tablehead" valign="top">User</th>
            <th class="tablehead" valign="top">Account Number</th>
            <th class="tablehead" valign="top">CCY</th>
            <th class="tablehead" valign="top" style="text-align: right !important;">Max Limit</th>
            <th class="tablehead" valign="top">Status</th>
            <th class="tablehead" valign="top">Last Suggested</th>
            <th class="tablehead" valign="top">Last Approved</th>

            <th class="tablehead"><?php echo $this->language->_('Action'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php
            if(count($this->paginator))
            {
                $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
                require_once 'Crypt/AESMYSQL.php';
                $AESMYSQL = new Crypt_AESMYSQL();
                $rand = $this->token;

                foreach($this->paginator as $row)
                {
                    $td_css = ($counter%2==0)?'tbl-evencontent':'tbl-oddcontent';
                    
                    if($row['CCY_ID']!='IDR' && $row['CCY_ID']!='USD' && $row['CCY_ID']!=''){
                      $row['CCY_ID'] = Application_Helper_General::getCurrCode($row['CCY_ID']);
                    }
        ?>
                    <tr>
                        <td class="<?=$td_css?>"><?=$counter?></td>
                        <td class="<?=$td_css?>"><?=$row['company']?></td>
                        <td class="<?=$td_css?>"><?=$row['user']?></td>
                        <td class="<?=$td_css?>"><?=$row['ACCT_NO']?>-<?=$row['ACCT_NAME']?></td>
                        <td class="<?=$td_css?>"><?=$row['CCY_ID']?></td>
                        <td class="<?=$td_css?>" style="text-align: right !important; width: 100px !important;"><?=Application_Helper_General::displayMoney($row['MAXLIMIT'])?></td>
                        <td class="<?=$td_css?>"><?=$this->language->_($row['STATUS'])?></td>
                        <td class="<?=$td_css?>"><?=$row['SUGGESTEDBY']?>&nbsp;<?=Application_Helper_General::convertDate($row['SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
                        <td class="<?=$td_css?>"><?=$row['UPDATEDBY']?>&nbsp;<?=Application_Helper_General::convertDate($row['UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
                        <td class="<?=$td_css?>">
                          <?php
                            $encrypted_acct = $AESMYSQL->encrypt($row['ACCT_NO'], $rand); 
                            $encacct = urlencode($encrypted_acct);

                            $encrypted_userid = $AESMYSQL->encrypt($row['USER_LOGIN'], $rand);
                            $encuserid = urlencode($encrypted_userid);

                            $encrypted_custid = $AESMYSQL->encrypt($row['companyID'], $rand);
                            $enccustid = urlencode($encrypted_custid);

                            $detailUserLimit = $this->url(array('module'=>'userlimit','controller'=>'userlimitdetail','action'=>'index','cust_id'=>$enccustid,'acct_no'=>$encacct,'user_login'=>$encuserid,'type'=>'list'),null,true);
                            $detailUserLimit = '<a href="'.$detailUserLimit.'">'.$this->language->_('Detail').'</a>';
                            echo $detailUserLimit;
                          ?>
                        </td>
                    </tr>
        <?php
                $counter++;
                }
            }
            else
            {
        ?>
                <tr>
                    <td colspan="16" align="CENTER">--- <?php echo $this->language->_('No Data'); ?> ---</td>

                </tr>
        <?php
            }
        ?>
        </tbody>
    </table>
    </div>

        <br />
        <div class="col-md-12">
<br>
    <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
</div>
        <br />
    </div>

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
    function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
    var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'PS_LATEST_SUGGESTION'  ){
        $(colval).append("<input type='text' class='form-control'  name='lsdate[]' id='lsdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='lsdate[]' id='lsdateEnd' readonly required>");
                                                                        $('#lsdateStart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#lsdateEnd').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                    
    }else if( colomnname == 'PS_LATEST_APPROVAL'){
        $(colval).append("<input type='text' class='form-control' name='ladate[]' id='ladateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='ladate[]' id='ladateEnd' readonly required>");
 
                                                                    
                                                                        $('#ladateStart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#ladateEnd').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                    
    }else if(colomnname == 'COMP_ID'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'CCY'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'STATUS'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'status'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
