<script>

$(document).ready(function() {
	update();
	 });

function update()
{
	var temp = $('.radiobut:checked').val();
	$("select.statUpdate").val(temp);
}	
</script>
<?php $this->layout()->setLayout('newpopup');
$disabled = $this->disabled;
if(!$this->hasPrivilege('EXUD'))
{
	$disabled = 'disabled';
}
//Zend_Debug::dump($this->result[0]['type'])?>

<h3><?php echo $this->language->_('Payment Exception Detail'); ?></h3>
<hr>
<h5><?php echo $this->language->_('Payment Information'); ?></h5>

<div class="row content-box" style="background-color: #dee2e6;">
	<div class="portlet-body form col-md-12">
		<table class="table-sm">
			<?php $amount = Application_Helper_General::displayMoney($this->total);?>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Payment Ref'); ?>#</td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result2['payref'];?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Payment Status'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->language->_($this->result2['paystatus']);?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result2['custid'].'-'.$this->result2['custname'];?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Payment Subject'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result2['paysubject'];?></td>
			</tr>
			<?php 
			if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
			{?>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Source Account'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result[0]['sourceacct'].' ['.$this->result[0]['sourceccy'].']'.' - '.$this->result[0]['sourcename'].' / '.$this->result[0]['sourcealname'];?></td>
			</tr>
			<?php 
			}
			else
			{?>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Beneficiary Account'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result[0]['benefacct'].' ['.$this->result[0]['benefccy'].']'.' - '.$this->result[0]['benefname'].' / '.$this->result[0]['benefalname'];?></td>
			</tr>
			<?php 
			}?>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Created Date'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['created'],$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Updated Date'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['updated'],$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Payment Date'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['paydate'],"dd MMM yyyy",$this->defaultDateFormat);?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Releaser'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result2['releaser']?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Challenge Code'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result2['ccode']?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Amount'); ?></td>
				<td class="tdform-even">:</td>
				<td class="tdform-odd"><?php echo $this->result2['sourceccy'].' '.$amount?></td>
			</tr>
		</table>
	</div>
</div>
<br />
<?php 
if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
{
	$exceptDesc = "";
	/* if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 0)
		$exceptDesc = "( Exception from source account to escrow account )";
	else if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 2)
		$exceptDesc = "( Exception from escrow account to beneficiary account )";
	else if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 3)
		$exceptDesc = "( Exception on reversal )"; */
	if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 2)
		$exceptDesc = "( Exception from Source account to Beneficiary account )";
?>
	<h5><?php echo $this->language->_('Transfer To'); ?> <?=$this->language->_($exceptDesc)?></h5>
<?php 
}
else
{?>
	<h5><?php echo $this->language->_('Transfer From'); ?></h5>
	
<?php 
}?>
<div class="table-responsive">
	<table class="table-sm table-striped table-bordered">
		<tr>
			<th valign="top">No</th>
			<th valign="top"><?php echo $this->language->_('Trans ID'); ?></th>
			<?php 
			if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
			{
			?>
				<th valign="top"><?php echo $this->language->_('Beneficiary Account'); ?></th>
			<?php 
			}
			else
			{?>
				<th valign="top"><?php echo $this->language->_('Source Account'); ?></th>
				
			<?php 
			}?>
			<th valign="top"><?php echo $this->language->_('Amount'); ?></th>
			<th valign="top"><?php echo $this->language->_('Message'); ?></th>
			<th valign="top">Status</th>
		</tr>
		<?php 
		if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 0)
		{
				echo '<tr>
							<td class="tbl-evencontent">1</td>
							<td class="tbl-evencontent">-</td>
							<td class="tbl-evencontent">'.$this->result[0]['sourceacct'].'</td>
							<td class="tbl-evencontent">'.$this->result[0]['sourceccy'].' '.Application_Helper_General::displayMoney($this->result[0]['payamt']).'</td>
							<td class="tbl-evencontent">-</td>
							<td class="tbl-evencontent">'.$this->language->_('Untransferred').'</td>
					</tr>';
		}
		else
		{
			$i = 1;
			foreach($this->result as $list)
			{
				if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
				{
					$benefalname = "";
					if(isset($list['benefalname']))
					{
						$benefalname = ' / '.$list['benefalname'];
					}
					$acct = $list['benefacct'].' ['.$list['benefccy'].']'.' - '.$list['benefname'].$benefalname;
				}
				else
				{
					$sourcealname = "";
					if(isset($list['sourcealname']))
					{
						$sourcealname = ' / '.$list['sourcealname'];
					}
					$acct = $list['sourceacct'].' ['.$list['sourceccy'].']'.' - '.$list['sourcename'].$sourcealname;
				}
				
				$amount2 = Application_Helper_General::displayMoney($list['transamt'] );
				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				$transferstatus = $list['status'];
				echo '<tr>
							<td class="'.$td_css.'">'.$i.'</td>
							<td class="'.$td_css.'">'.$list['transid'].'</td>
							<td class="'.$td_css.'">'.$acct.'</td>
							<td class="'.$td_css.'">'.$list['sourceccy'].' '.$amount2.'</td>
							<td class="'.$td_css.'">'.$this->language->_($list['message']).'</td>
							<td class="'.$td_css.'">'.$this->language->_($transferstatus).'</td>
					</tr>';
				$i++;
			}
		}
	?>
	</table>
</div>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml'),null,true)?>" method="post">
<h5><?php echo $this->language->_('PAYMENT AND TRANSACTION STATUS UPDATE'); ?></h5>
<b><?php echo $this->language->_('Update Payment Status to :'); ?></b><br />
<?php if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 3) { ?>
	<input class="radiobut" type="radio" checked="checked" value="5" name="radiobut" <?php echo $disabled?>>
	<span class="successmsg"><?php echo $this->language->_('Success'); ?></span>
	&nbsp;<?php echo $this->language->_('(Update reversal to success. Payment status will be updated to completed)'); ?>
	<hr>
	<input class="radiobut" type="radio" value="1" name="radiobut" <?php echo $disabled;?>>
	<span class="successmsg"><?php echo $this->language->_('Resend Reversal'); ?></span>
	&nbsp;<?php echo $this->language->_('(Resend reversal from escrow account to source account and update payment statust completed)'); ?>
<?php } else { ?>
	<input class="radiobut" type="radio" onclick="update();" checked="checked" value="6" name="radiobut" <?php echo $disabled?>>
	<span class="errmsg"><?php echo $this->language->_('Failed'); ?></span>
	&nbsp;(<?php echo $this->language->_('All transaction status will also be updated to failed'); ?>)
	<hr>
	<input class="radiobut" type="radio" onclick="update();" value="5" name="radiobut" <?php echo $disabled;?>>
	<span class="successmsg"><?php echo $this->language->_('Success'); ?></span>
<?php
	}
	if($this->result[0]['type'] == 4 && ($this->result[0]['sendfile'] == 0 || $this->result[0]['sendfile'] == 3))
		echo '';
	else
	{
?>
<?php echo $this->language->_('(Update transaction status below)'); ?>
<br />
<br />
<div class="table-responsive">
	<table class="table-sm table-striped table-bordered">
		<tr>
			<th valign="top">No</th>
			<th valign="top"><?php echo $this->language->_('Trans ID'); ?></th>
			<?php 
			if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
			{
			?>
				<th valign="top"><?php echo $this->language->_('Beneficiary Account'); ?></th>
			<?php 
			}
			else
			{?>
				<th valign="top"><?php echo $this->language->_('Source Account'); ?></th>
				
			<?php 
			}?>
			<th valign="top"><?php echo $this->language->_('Amount'); ?></th>
			<th valign="top"><?php echo $this->language->_('Message'); ?></th>
			<th valign="top"><?php echo $this->language->_('Status'); ?></th>
		</tr>
		<?php 
		if($this->result[0]['type'] == 4 && $this->result[0]['sendfile'] == 0)
		{
				echo '<tr>
							<td class="tbl-evencontent">1</td>
							<td class="tbl-evencontent">-</td>
							<td class="tbl-evencontent">'.$this->escrowAcct.'</td>
							<td class="tbl-evencontent">'.$this->result[0]['sourceccy'].' '.Application_Helper_General::displayMoney($this->result[0]['payamt']).'</td>
							<td class="tbl-evencontent">-</td>
							<td class="tbl-evencontent">Untransferred</td>
					</tr>';
		}
		else
		{
			$i = 1;
			foreach($this->result as $list)
			{
				if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
				{
					$benealname = "";
					if(isset($list['benealname']))
					{
						$benealname = ' / '.$list['benealname'];
					}
					$acct = $list['benefacct'].' ['.$list['benefccy'].']'.' - '.$list['benefname'].$benealname;
				}
				else
				{
					$sourcealname = "";
					if(isset($list['sourcealname']))
					{
						$sourcealname = ' / '.$list['sourcealname'];
					}
					$acct = $list['sourceacct'].' ['.$list['sourceccy'].']'.' - '.$list['sourcename'].$sourcealname;
				}
				
				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				$amount3 = Application_Helper_General::displayMoney($list['transamt'] );
				echo '<tr>
							<td class="'.$td_css.'">'.$i.'</td>
							<td class="'.$td_css.'">'.$list['transid'].'</td>
							<td class="'.$td_css.'">'.$acct.'</td>
							<td class="'.$td_css.'">'.$list['sourceccy'].' '.$amount3.'</td>
							<td class="'.$td_css.'">'.$list['message'].'</td>
							<td class="'.$td_css.'"><select class="statUpdate form-control" name="'.$list['transid'].'" '.$disabled.'>
									<option value="6">'.$this->language->_('Failed').'</option>
									<option value="5">'.$this->language->_('Success').'</option>
								</select></td>
					</tr>';
				$i++;
			}
		}
	 ?>
	</table>
</div>
<? } ?>
<br />
<br />
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov',$disabled=>$disabled)); ?>&nbsp;
<input type="button" value="<?php echo $this->language->_('Reset'); ?>" onclick="window.close()" class="btngreen hov"/>
</form>
<?php if($this->disabled)
{
	echo "<br /><i>*". $this->language->_('No changes allowed for this record while awaiting approval for previous change')."</i>";
}?>