<script>
	$( document ).ready(function(){
		showHide(<?=$this->providerType?>);
	});
	function changeService(e)
	{
		$("#serviceType1").val('');
		$("#serviceType2").val('');
		showHide($(e+"option:selected").val())
	}
	function showHide(id)
	{
		$(".serviceType").hide();
		$("#serviceType1").hide();
		$("#serviceType2").hide();
		if( id==1 || id == 2)
		{
			$("#serviceType"+id).show();
			$(".serviceType").show();
		}
	}
</script>

<b>Biller &gt; Add Biller</b><br /><br />
<div class="tabheader" id="tabheader">Add Biller</div>

<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			Add Biller
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%">&nbsp; Service Type</td>
		<td class="tbl-oddcontent">
		<?php echo $this->formSelect('providerType',$this->providerType,array('onChange'=>'changeService(this)'),$this->arrProviderType);?>
		<?php
			if(!empty($this->providerType_errMsg))
				echo "<div class='errmsg'>$this->providerType_errMsg</div>";
		?>
		</td>
	</tr>
	<tr class="serviceType">
		<td class="tbl-evencontent" width="100px">&nbsp; Biller Code</td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('providerCode',$this->providerCode);?>
		<?php
			if(!empty($this->providerCode_errMsg))
				echo "<div class='errmsg'>$this->providerCode_errMsg</div>";
		?>
		</td>
	</tr>
	<tr class="serviceType">
		<td class="tbl-evencontent">&nbsp; Biller Name</td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('providerName',$this->providerName);?>
		<?php
			if(!empty($this->providerName_errMsg))
				echo "<div class='errmsg'>$this->providerName_errMsg</div>";
		?>
		</td>
	</tr>
	<tr class="serviceType">
		<td class="tbl-evencontent">&nbsp; Service Catagories</td>
		<td class="tbl-oddcontent">
			<?php echo $this->formSelect('serviceType1',$this->serviceType1,null,array('--- Any Value---')+$this->arrServiceType[1]);?>
			<?php
				if(!empty($this->serviceType1_errMsg))
					echo "<div class='errmsg'>$this->serviceType1_errMsg</div>";
			?>
			<?php echo $this->formSelect('serviceType2',$this->serviceType2,null,array('--- Any Value---')+$this->arrServiceType[2]);?>
			<?php
				if(!empty($this->serviceType2_errMsg))
					echo "<div class='errmsg'>$this->serviceType2_errMsg</div>";
			?>
		</td>
	</tr>
</table>

<br />
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'biller','controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="Back">
&nbsp;
<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formSubmit('reset','Reset',array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{
		echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn')).'&nbsp;';
		echo $this->formSubmit('reset','Reset',array('class'=>'inputbtn'));
	}?>

</td></tr>
</table>
</form>