<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
	 //pengaturan error messages
	 <?php 
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>
});

</script>

<b><?php echo $this->language->_('Bank Table'); ?> > <?php echo $this->language->_('Online Bank Table'); ?> > <?php echo $this->language->_('Edit'); ?> </b><br /><br />

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<div class="subtopic"><h2><?php echo $this->language->_('Online Bank Table Management'); ?></h2></div>
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
					<?php } ?>

					<?php 
					    if(count($this->report_msg) > 0){ ?>
					    <div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
					<?php 
					     } 
					   ?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Edit Online Bank Table')?>
				</th>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="addbeneficiary" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						    <tr>
								<td class="tbl-evencontent" width="20%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk (*) are required')?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
							</tr>
						  
							<tr>
								<td class="tbl-evencontent" width="20%"><?php echo $this->language->_('Bank Code');?> <?php echo $this->language->_('(3 chars required)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('bank_code',$this->bank_code,array('size'=>40,'maxlength'=>3))?>
								    <div id="error_bank_code" class="errmsg"></div>
								</td>
						    </tr>
						
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Bank Name');?> <?php echo $this->language->_('(max 35 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">								   
								   <?php echo $this->formText('bank_name',$this->bank_name,array('size'=>60,'maxlength'=>35))?>
								   <div id="error_bank_name" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
									    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/onlinebank/index\'','class'=>'inputbtn')); ?>
										<?php echo $this->formHidden('bank_id',$this->bank_id) ?>
										<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
									    <input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','bank_id'=>$this->bank_id),null,true)?>'">
									    
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
