<table align="CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-logincontent">
						<p></p>
						<h2>
							<font color="red">User Status is Logged Out</font>
						</h2>
						<p></p>
						<p>&nbsp;</p>
						<p>Your account has been logged out by Administrator / System.<br> Please re-login</p>
						<p>&nbsp;</p>
						<p></p>
						<div><input class="btngreen hov" value="Go to login page" onclick="location.href = '/' " type="button"></div>
						<p></p>

					</div>
					
				</div>
			</td>
		</tr>
	</tbody>
</table>