<?php
if (Zend_Registry::isRegistered('language')) {
  $language = Zend_Registry::get('language');
}

?>

<?php
$optArr = '<option value="" >-- ' . $language->_('Any Value') . ' --</option>';
foreach ($this->filterlist as $row) {
  $optArr .=  '<option value="' . $row . '" class="' . $row . '" >' . $language->_($row) . '</option>';
}
// echo $optArr;die; 
?>

<script type="text/javascript">
  $(document).ready(function() {
    $('#fixTable').fixTableHeader();


    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });

  });

  $(document).ready(function() {
    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
        $("#logo-titles").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
        $("#logo-title").show();
      }
    });

    $("#addwhere").click(function() {
      var ctr = $("#wherectr").val();
      var optstr = '<?php echo $optArr; ?>';
      var wherecol = "#wherecol-" + ctr;
      $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' style='width:100%' id='wherecol-" + ctr + "' name='wherecol[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      ctr++;
      $("#wherectr").val(ctr);
    });
  });


  function getOpt(elem) {
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-" + ctr;
    var colselect = "colselect-" + ctr;
    var ncolselect = "#colselect-" + ctr;
    var $coll = $('.event_select');
    $coll.children().prop('disabled', false);
    $coll.each(function() {
      var val = this.value;
      if (val === 'original') return;
      $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
    });
    $(colval).empty("");

    if (colomnname == 'BG_STATUS') {
      $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
      var id = $("#tablename").find(":selected").val();
      $.ajax({

        url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'getstatus'), null, true) ?>",
        type: 'GET',
        dataType: "html",
        data: {
          id: id
        },
        success: function(data) {
          $(ncolselect).html(data);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });
    } else {
      $(colval).append("<input type='text' name='whereval[]' style='width:100%'  value='' maxlength='160'  class='form-control' >");
    }



    // var optsel = "whereopt-" + ctr;
    // document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    // if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
    //   document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
    //   document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
    //   document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
    //   document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    // }
    // if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
    //   document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    // } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
    //   document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    //   document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    // } else if (dttype == 'date' || dttype == 'datetime') {
    //   document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    //   document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
    //   document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
    //   document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
    //   document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    // }

    var colomn = '#whereopt-' + ctr;
    var data = $(colomn).val('EQUAL').change();

  }

  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#" + parentname).remove();
    var ctr = $("#listctr").val();
    ctr--;
    $("#listctr").val(ctr);
    if (ctr <= 3) {
      $("#addlist").show();
    }
  }
</script>


<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Report'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Bank Guarantee'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?= $this->language->_('Vendor BG List'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .input-medium {
    width: 240px !important;
  }
</style>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?= $this->language->_('Vendor BG List') ?></h5>
    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
      <div class="panel panel-default ">
        <!-- Default panel contents -->

        <!-- <?php $aliasname = $this->language->_('Alias Name'); ?>
              <?php $beneficiaryaccount = $this->language->_('Beneficiary Accountt'); ?>
              <?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
              <?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
              <?php $setfilter = $this->language->_('Set Filter'); ?>
              <?php $clearfilter = $this->language->_('Clear Filter'); ?>
              <?php $nodata = $this->language->_('No Data'); ?>
              <?php $delete_lg = $this->language->_('Delete'); ?> -->

        <?php
        $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
        foreach ($this->filterlist as $row) {
          $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
        }
        ?>
        <div class="row " id="logo-titles" style="margin-left: 0px">
          <?php if (!empty($this->wherecol)) { ?>
            <script type="text/javascript">
              $(document).ready(function() {
                $("#logo-title").show();
              });
            </script>

          <?php }
          foreach ($this->wherecol as $key => $value) {  ?>
            <div id="searchs" style="width: 100%">
              <?php
              $datetype = array("");
              $selectlist = array('BG_NUMBER', 'BG_SUBJECT');
              $index = 0;
              ?>
              <div id="where-<?= $key ?>">
                <?php if ($value != "TIME_PERIOD_END") { ?>
                  <div class="form-group row mt-12">
                    <div class="col-md-4 form-inline">

                      <select class='form-control event_select' id='wherecol-<?= $key ?>' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>
                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                        <?php foreach ($this->filterlist as $row) {
                          $colname = $row;

                          if ($value == $colname) {
                            $selected = "selected";
                          } else {
                            $selected = "";
                          } ?>
                          <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                        <?php } ?>
                      </select>

                    </div>

                    <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                      <script type="text/javascript">
                        $(document).ready(function() {
                          var colval = "#colvalue-<?= $key ?>";
                          var colomnname = "<?= $value ?>";
                          var colselect = "colselect-s<?= $key ?>";
                          var ncolselect = "#colselect-s<?= $key ?>";
                          if (colomnname == 'BG_STATUS') {
                            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                            var id = $("#tablename").find(":selected").val();
                            $.ajax({
                              url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'getstatus'), null, true) ?>",
                              type: 'GET',
                              dataType: "html",
                              data: {
                                id: "<?= $this->whereval[$key] ?>"
                              },
                              success: function(data) {
                                $(ncolselect).html(data);
                              },
                              error: function(xhr, ajaxOptions, thrownError) {
                                alert("Failed to get where column list, please try again");
                              }
                            });
                            $(colselect).val('<?= $this->whereval[$key] ?>');
                          }
                         

                          $('#wherectr').val('<?= (int)$key + 1; ?>');
                        });
                      </script>
                      
                      <?php
                      if (in_array($value, $selectlist)) { ?>
                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
                      <?php }
                      if (!in_array($value, $datetype)) {
                        $index++;
                      } ?>
                    </div>
                    <div class="col-md-2 form-inline">
                      <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                <?php } ?>

              </div>

            </div>

          <?php } ?>

        </div>


        <div class="row " id="logo-title" style="display: none">
          <div class="portlet-body form col-md-12">
            <div id="wheres" style="width: 100%">
              <div id="where-<?= $ctr ?>">
              </div>
            </div>
            <input type="hidden" id="wherectr" value="0" />
            <br />
            <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
            &nbsp;
            <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
            &nbsp;
            <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
            <br />
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
          <a href="#" class="sidebar-collapse-icon with-animation">
            <?php echo $this->language->_('Advanced Search'); ?>
          </a>
        </div>
        <br>

      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" id="searchtable" placeholder="Search">
        </div>
      </div>
      <div style="float:right; padding-left:5px;">
        <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
          // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
        } else {
        ?>
          <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
        <?php
        }
        ?>
      </div>
      <div style="float:right; padding-left:5px;">
        <form name="exportForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'csv' => true), null, true) ?>" method="post">
          <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
      <table class="table table-sm table-striped headerNew" id="myTable">
        <tr height="50px">
          <th class="tablehead fth-header" width="3%" valign="top">No</th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Reg No') . '# / ' . $this->language->_('Applicant'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('BG Number') . ' / ' . $this->language->_('Subject'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top" style="text-align: right;">
            <?= $this->language->_('BG Amount'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Branch'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Counter Type'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Start Date'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('End Date'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Status'); ?>
          </th>
        </tr>
        <?php if (count($this->paginator) > 0) : ?>
          <?php
          require_once 'Crypt/AESMYSQL.php';
          $AESMYSQL = new Crypt_AESMYSQL();
          $rand = $this->token;
          $i = 0;
          $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
          foreach ($this->paginator as $row) {
            $encrypted = $AESMYSQL->encrypt($row['BG_REG_NUMBER'], $rand);
            $encrypted_id = urlencode($encrypted);

            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
            $link = $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'detail', 'bgnumb' => $encrypted_id), null, true);
            if (empty($row['BG_INSURANCE_CODE'])) {
              $counterType = $row['COUNTER_WARRANTY_TYPE'];
            } else {
              $counterType = $row['COUNTER_WARRANTY_TYPE'] . ' (' . $row['BG_INSURANCE_CODE'] . ')';
            }

            echo '<tr>
            <td class="' . $td_css . '">' . $counter++ . '</td>
            <td class="' . $td_css . '">' . strtoupper($row['BG_REG_NUMBER']) . ' / ' . $row['CUST_NAME'] . '</td>
            <td class="' . $td_css . '">' . $row['BG_NUMBER'] . ' / <a href="' . $link . '">' . strtoupper($row['BG_SUBJECT']) . '</a></td>
            <td class="' . $td_css . '" style="text-align:right;">IDR ' . Application_Helper_General::displayMoneyplain($row['BG_AMOUNT']) . '</td>
            <td class="' . $td_css . '">' . $row['BRANCH_NAME'] . '</td>
            <td class="' . $td_css . '">' . $counterType . '</td>
            <td class="' . $td_css . '">' . date('d M Y', strtotime($row['TIME_PERIOD_START'])) . '</td>
            <td class="' . $td_css . '">' . date('d M Y', strtotime($row['TIME_PERIOD_END'])) . '</td>
            <td class="' . $td_css . '">' . $this->arrStatus[$row['BG_STATUS']] . '</td>
            </tr>';
            $i++;
          }
          ?>
        <?php else : ?>
          <tr>
            <td colspan="9" class="tbl-evencontent" align="center"> ---<?= $this->language->_('No Data'); ?>--- </td>
          </tr>
        <?php endif; ?>
      </table>
    </div>
  </div>
</div>
