<style type="text/css">
	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-size: 12px;
		width: 284px;
		text-transform: uppercase;
	}
	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color:white !important;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 18px;
		height: 47.5px;
		width: 284px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		color:white !important;
		border-color: #dee2e6 #dee2e6 #fff !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 14px;
		height: 47.5px;
		font-size: 14px;
		width: 284px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}
	.mybtn .buttonact {
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.mybtn .buttonnoact {
		background-color: #D1D0CE !important;
		color: #736F6E !important;
		border-color: #B6B6B4 !important;
	}
</style>

<script>
	$(document).ready(function()
	{
		if( '<?=$this->success?>' || '<?=$this->error?>' )
		{
			$("input").attr("disabled","disabled");
			$("select").attr("disabled","disabled");
			$("textarea").attr("disabled","disabled");
		}
	});
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Beranda'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Umum'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Pengaturan Umum'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Pengaturan Umun')?></h5>
		<!--<h6><?=$this->language->_('Manage front end, user account, notification template settings	')?></h6>-->
	</div>
</div>
<br>
	<!-- <div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btngreen hov col-md-3" name="button">Front End</button>
		<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btnwhite hov col-md-3" name="button">User and Password Policies</button>
		<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
	</div> -->

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" value="1" at="1" onclick="location.href='/generalsetting/foappsetting'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">TAMPILAN NASABAH</a>
			
		</li>
		
		<li class="nav-item">
			<a class="nav-link" value="3" at="3" onclick="location.href='/generalsetting/fousersetting'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">PENGATURAN USER DAN PASSWORD</a>
			
		</li>
		
		<li class="nav-item" style="display:none;">
			<a class="nav-link" value="2" at="2" onclick="location.href='/generalsetting/templatesetting'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Template Setting</a>
			
		</li>
		
	</ul>

	<br>

	<?php if($this->success){ ?>
		<div class="alert alert-success" role="alert"><?=$this->language->_($this->report_msg)?></div><br />
	<?php }else if(!empty($this->report_msg)){ ?>
		<div class="alert alert-danger" role="alert">

			<?=$this->language->_($this->report_msg)?>

			<?php if($this->errorfee){
				echo '<br><br>'.$this->errorfee;
			}?>

		</div>

	<?php } ?>
	<div class="row">
		<?php
		$buttonDataRecord = $this->url(array('module'=>'generalsetting','controller'=>'datarecord','action'=>'index'),null,true);
		$buttonTransactionTime = $this->url(array('module'=>'createnewhelp','controller'=>'index','action'=>'index'),null,true);
		$buttonTransactionLimit = $this->url(array('module'=>'createnewhelp','controller'=>'index','action'=>'index'),null,true);
		?>
		<div class="col-sm-3">
			<div class = "mybtn">
				<button onclick="location.href='/generalsetting/foappsetting'" class = "buttonact col-md-12">Pengaturan Tampilan Nasabah</button>
				<button onclick="location.href='<?php echo $buttonDataRecord; ?>'" class = "buttonnoact col-md-12">Pengaturan Parameter</button>
				<button onclick="location.href='/generalsetting/transactiontime'" class = "buttonnoact  col-md-12">Pengaturan SKN RTGS</button>
			</div>
		<!-- <div class="btn-group-vertical">
			<a href="/generalsetting/foappsetting" class=""> Frontend Global Setting</a>
			<a href="/generalsetting/datarecord" class="">Data Record Limitation</a>
			<a href="/generalsetting/transactiontime" class=" ">Transaction Time Setting</a>
			<a href="/generalsetting/transactionlimit" class=""> Transaction Limit Setting</a>
		</div> -->
	</div>
	<div class="col-sm-9">
		<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="post">
			<table cellpadding="10" cellspacing="0" width="100%">
				
				<tr>
					<td><?php echo $this->language->_('Aplikasi Nasabah'); ?></td>
					<td>:</td>
					<td>
						
					<select class="form-control col-md-6" name="isenabled"> 
						<?php 
							//$isenabled = '';
							foreach ($this->arr_isenabled as $key => $value) {

								$selected = '';
								if ($this->isenabled == $key) {
									$selected = 'selected';
								}

								$isenabled .= '<option value="'.$key.'" '.$selected.'>'.$this->arr_isenabled[$key].'</option>';
							}

							echo $isenabled;
						?>
					</select>
						<?php
						/*$options= array(
							'1' => $this->language->_('Enable'),
						);
						echo $this->formRadio('isenabled',$this->isenabled,null,$options);	?>
						&nbsp;
						<?php
						$options= array(
							'0' => $this->language->_('Disable'),
						);
						echo $this->formRadio('isenabled',$this->isenabled,null,$options); 
						*/
						?>
					</td>
					<td>
						<?php

						?>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Email Customer Care'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('master_bank_email',$this->master_bank_email,array('class'=>'form-control col-md-12'))?>
					</td>
					<td>
						<?php

						?>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Contact Customer Care'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('master_bank_telp',$this->master_bank_telp,array('class'=>'form-control col-md-12'))?>
					</td>
					<td>
						<?php

						?>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Text Notifikasi saat Aplikasi Nasabah Non Aktif'); ?></td>
					<td>:</td>
					<td>
						<?php  echo $this->formTextarea('disable_note',$this->disable_note,array('class' => 'form-control col-md-12','cols'=>'100','rows'=>'5',
							'onKeyDown'=>'textCounter(this.form.disable_note,this.form.disable_note_len,200)',
							'onKeyUp'=>'textCounter(this.form.disable_note,this.form.disable_note_len,200)',
							'onKeypress'=>''));
							?>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>
							<?php
							echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','class'=>'form-control col-md-12')); ?> <?php echo $this->language->_('char(s) left');
							?>
						</td>
					</tr>


					<tr>
						<td><?php echo $this->language->_('Teks Sambutan pada Halaman Beranda-Nasabah'); ?></td>
						<td>:</td>
						<td>
							<?php  echo $this->formTextarea('note',$this->note,array('class'=>'form-control col-md-12' , 'cols'=>'100','rows'=>'5',
								'onKeyDown'=>'textCounter(this.form.note,this.form.note_len,200)',
								'onKeyUp'=>'textCounter(this.form.note,this.form.note_len,200)',
								'onKeypress'=>''));
								?>
							</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
								<?php
								echo $this->formText('note_len', $this->note_len, array('readonly'=>'readonly','class'=>'form-control col-md-12')); ?> <?php echo $this->language->_('char(s) left');?>
							</td>
						</tr> 
						<!-- <tr style="display: none">
							<td>?php echo $this->language->_('System Type'); ?></td>
							<td>:</td>
							<td>
								<select class="form-control col-md-6" name="systemtype"> 
									?php
									
									foreach($this->systemarr as $key =>$val){ 
										$selectsystem = '';
										if($key == $this->system_type){
											$selectsystem = 'selected';
										}
										?>
										<option value="?php echo $key; ?>" ?php echo $selectsystem; ?> >?php echo $val; ?></option>
									?php } ?>
								</select>
							</td>
							<td>
								
							</td>
						</tr> -->
		<!-- <tr>
			<td><?php echo $this->language->_('Token Type'); ?></td>
			<td>:</td>
			<td>
				<select class="form-control col-md-6" name="tokentype"> 
					php 
						$tokenTypeOpt = '';
						foreach ($this->tokenTypeCode as $key => $value) {

							$selected = '';
							if ($this->tokentype == $value) {
								$selected = 'selected';
							}

							$tokenTypeOpt .= '<option value="'.$value.'" '.$selected.'>'.$this->tokenTypeDesc[$key].'</option>';
						}

						echo $tokenTypeOpt;
					?>
				</select>
			</td>
			<td>
				<?php

				?>
			</td>
		</tr> -->
		<tr>
			<td colspan="3">
				<div class="col-md-12">
					<table align="center">
						<tr>
							<?php
							$options = array('class'=>'btngreen hov');
							$options2 = array('class'=>'btnwhite hov');
							if( $this->success || $this->error )
							{
								$options = array_merge($options,array("disabled" => "disabled"));
							}
							?>
							<td >
								<?php //echo $this->formSubmit('submit','Submit',$options)?>&nbsp;
								<?php //echo $this->formReset('reset','Reset',$options)?>

								<?php
								if($this->hasPrivilege('STUD'))
								{
									?>
									<?php echo $this->formReset('reset',$this->language->_('Reset'),$options2)?>
									<?php echo $this->formSubmit('submit',$this->language->_('Submit'),$options)?>&nbsp;

									<?php
								}
								else{
									$submit = $this->language->_('Submit');
									$reset = $this->language->_('Reset');
									echo'<input type="button" value="'.$submit.'" disabled class="inputbtn"> &nbsp;';
									echo'<input type="button" value="'.$reset.'" disabled class="inputbtn">';
								}
								?>
							</td>
						</tr>
					</table>
				</div>


			</td>
		</tr>

	</table>
</form>




</div>
<br>

</div>
