<script type="text/javascript">
$(document).ready(function(){
	//typehelp
	var typehelp = $(".help_type").val();
    	if (typehelp == 1) {
          	$('#pdf2').show();
          	$('#video').hide();
      	}
      	else if (typehelp == 2) {
         	$('#pdf2').hide();
          	$('#video').show();
      	}

        $('.help_type').change(function() {
          	if (this.value == 1) {
              	$('#pdf2').show();
              	$('#video').hide();
          	}
          	else if (this.value == 2) {
             	$('#pdf2').hide();
              	$('#video').show();

          	}
        });

});
</script>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">

	               <li>
	                    <span><?php echo $this->language->_('Dropbox'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span><?php echo $this->language->_('Add'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		if($this->errorMsg)
		{
			foreach($this->errorMsg as $key => $error)
			{
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}

		if($this->documentErr)
		{
			echo $this->formErrors($this->documentErr);
		}
		else if($this->helpTopicErr)
		{
			echo $this->formErrors($this->helpTopicErr);
		}
		else if($this->sourceFileNameErr)
		{
			echo $this->formErrors($this->sourceFileNameErr);
		}
	?>
	</div>
	<br />
	<?php
		}
		else if($this->success)
		{
	?>
		<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php
		}
	?>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			<h5><?=$this->language->_('Add Dropbox')?></h5>
  			<tr>
  				<td colspan="5" class="tbl-evencontent">
  				<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
  				</td>
  			</tr>
  			<!-- <tr>
			    <td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Guide Type')); ?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			     	<select name="help_type" class="form-control help_type">
			     		<option value="1">PDF</option>
			     		<option value="2">Video</option>
			     	</select>
				</td>
			</tr> -->
			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('To Company')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent">
			      <?php
          			echo $this->formSelect('company',$this->arrcust,array('class' => 'form-control'),$this->arrcust);
      				?>
				</td>
			</tr>
			<tr id="pdf2" >
			    <td class="tbl-evencontent"><?php echo $this->language->_('Upload File')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent">
			    	<br>
			     	<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
					<br><i> *) <?php echo $this->language->_('File extension : csv, dbf, pdf, max file size : 1024 kB')?></i>
				</td>
			</tr>
			<tr id="video" style="display:none;">
			    <td class="tbl-evencontent"><?php echo $this->language->_('URL Link')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent">
			    	<?php  echo $this->formText('helpLink',$this->helpLink,array('size'=>'50','onfocus'=>'return noSpecialChar3(event);','class'=>'form-control')); ?>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Description')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			    	<br>
			     	<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control')); echo '<br />';
							echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>
				</td>
			</tr>
		</table>
		<br>
			<div class="formbutton">
				<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/dropbox\'', 'class' => 'btnwhite hov'));?>
				<?php echo $this->formSubmit('upload',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
				<!--<?php echo $this->formReset('reset', $this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->
				<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
			</div>
		</form>
	</div>
</div>

<!--
<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
	<b><?php echo $this->language->_('General'); ?> > <?php echo $this->language->_('Help List'); ?> > <?php echo $this->language->_('Add'); ?> </b><br /><br />
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Help Management'); ?></div>
	<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		if($this->errorMsg)
		{
			foreach($this->errorMsg as $key => $error)
			{
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}

		if($this->documentErr)
		{
			echo $this->formErrors($this->documentErr);
		}
		else if($this->helpTopicErr)
		{
			echo $this->formErrors($this->helpTopicErr);
		}
		else if($this->sourceFileNameErr)
		{
			echo $this->formErrors($this->sourceFileNameErr);
		}
	?>
	</div>
	<br />
	<?php
		}
		else if($this->success)
		{
	?>
		<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php
		}
	?>

	<table align="left" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('New Help')?></strong></th></tr>
			<tr><td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></th></tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Help Topic')); ?><span class="errmsg">*</span></td>
				<td class="tbl-evencontent"><?php  echo $this->formText('helpTopic',$this->helpTopic,array('maxlength'=>'50','size'=>'50','onfocus'=>'return noSpecialChar3(event);')); ?></td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File')?><strong class="formreq">&nbsp;<span class="errmsg">*</span></strong></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
					<br /><br /><i> *) <?php echo $this->language->_('Only file in pdf format will be accepted')?></i></td>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Help Description')?></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)',
								'onKeypress'=>'return noSpecialChar3(event);')); echo '<br />';
								echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>

				</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton">
						<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/helplist\'', 'class' => 'inputbtn'));?>
						<?php echo $this->formSubmit('upload',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
						<!--<?php echo $this->formReset('reset', $this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->

						<!--<input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>
 -->
