<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Suggestion Detail'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('User'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>
<?php
if ($this->changes_id) {

  //temp data
  $temp_status = array(
    1 => $this->status_type['desc']['approved'],
    2 => $this->status_type['desc']['suspended'],
    3 => $this->status_type['desc']['delete']
  );

  if (isset($temp_status[$this->user_status]))  $status = $temp_status[$this->user_status];
  else $status = null;

  $yesNo = array('1' => 'Yes', '0' => 'No');

  if (!is_null($this->user_failed_attempt) || $this->user_failed_attempt != '')  $user_failed_attempt = $yesNo[$this->user_failed_attempt];
  else  $user_failed_attempt = null;

  if (!is_null($this->user_is_locked) || $this->user_is_locked != '')   $user_is_locked = $yesNo[$this->user_is_locked];
  else   $user_is_locked = 'No';

  if (!is_null($this->user_is_login) ||  $this->user_is_login != '')    $user_is_login = $yesNo[$this->user_is_login];
  else   $user_is_login = null;



  //master data
  if (isset($temp_status[$this->m_user_status]))  $m_status = $temp_status[$this->m_user_status];
  else $m_status = null;

  if (!is_null($this->m_user_failed_attempt) || $this->m_user_failed_attempt != '')  $m_user_failed_attempt = $yesNo[$this->m_user_failed_attempt];
  else  $m_user_failed_attempt = null;

  if (!is_null($this->m_user_is_locked) || $this->m_user_is_locked != '')   $m_user_is_locked = $yesNo[$this->m_user_is_locked];
  else   $m_user_is_locked = 'No';

  if (!is_null($this->m_user_is_login) ||  $this->m_user_is_login != '')    $m_user_is_login = $yesNo[$this->m_user_is_login];
  else   $m_user_is_login = null;



  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

  //get suggestion type
  // $changesTypeDescArr = $this->suggestionType['desc'];
  // $changesTypeCodeArr = $this->suggestionType['code'];

  // $key = array_search($this->changes_type,$changesTypeCodeArr);
  // $changesType = $changesTypeDescArr[$key];
  //var_dump($this->changes_type);die;
?>


  <h5><?php echo $this->language->_('Change Information'); ?></h5>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br />
  <div class="row">
    <div class="col">
      <h5><?php echo $this->language->_('Suggestion Detail User'); ?></h5>
    </div>
    <?php if ($this->changes_type == 'E') { ?>
      <div class="col text-right">
        <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
      </div>
    <?php } ?>
  </div>
  <div class="row content-box">
    <div class="portlet-body form col-md-12">
      <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
        <?php if ($this->changes_type != 'E') { ?>
          <tr>
            <td colspan="4" class="tbl-evencontent"><b><?php echo $this->language->_('New User Detail'); ?></b></td>
          </tr>
        <?php } ?>
        <?php if ($this->changes_type == 'E') { ?>
          <tr class="diffRow">
            <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
            <td width="3" class="tbl-evencontent">&nbsp;</td>
            <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
            <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
          </tr>
        <?php } ?>
        <tbody>
          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', $this->language->_('User ID')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('user_id', $this->m_user_id, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?php echo $this->formLabel('user_id', $this->user_id, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->language->_('User Name')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->m_user_name, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_name', $this->user_name, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('company', $this->language->_('Company')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('company', $this->cust_name, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('company', $this->cust_name, array('class' => 'dataChange')); ?></td>
          </tr>

          <?php if ($this->changes_type != 'N') { ?>
            <tr>
              <td class="tbl-evencontent"><?php echo $this->formLabel('status', 'Status'); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('status', $this->language->_($m_status), array('class' => 'data')); ?></td> <?php } ?>
              <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('status', $this->language->_($status), array('class' => 'dataChange')); ?></td>
            </tr>
          <?php } ?>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', 'Email'); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_email, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_email, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone', $this->language->_('Phone Number')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone', $this->m_user_phone, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_phone', $this->user_phone, array('class' => 'dataChange')); ?></td>
          </tr>

          <!-- <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext', 'Ext'); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext', $this->m_user_ext, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_ext', $this->user_ext, array('class' => 'dataChange')); ?></td>
          </tr> -->

          <!-- <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext', 'Ext'); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext', $this->m_user_ext, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_ext', $this->user_ext, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('debit_number', $this->language->_('Debit Card Number')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('debit_number', $this->m_debitarr, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('debit_number', $this->debitarr, array('class' => 'dataChange')); ?></td>
          </tr> -->

          <!-- <tr>
              <td class="tbl-evencontent"><?php echo $this->formLabel('token_id', 'Token Id'); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('token_id', $this->m_token_id, array('class' => 'data')); ?></td> <?php } ?>
              <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('token_id', $this->token_id, array('class' => 'dataChange')); ?></td>
            </tr> -->

          <!-- <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('User is Email')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_($this->m_userIsEmail)); ?></td>  <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_($this->userIsEmail)); ?></td>
        </tr> -->

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_failed_attempt', $this->language->_('Failed login attempt(s)')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_failed_attempt', $this->language->_($m_user_failed_attempt), array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_failed_attempt', $this->language->_($user_failed_attempt), array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_is_locked', $this->language->_('Lock Status')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_is_locked', $this->language->_($m_user_is_locked), array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_is_locked', $this->language->_($user_is_locked), array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_islogin', $this->language->_('User is Logged in')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_islogin', $this->language->_($m_user_is_login), array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_islogin', $this->language->_($user_is_login), array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Login')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_lastlogin, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_lastlogin, array('class' => 'dataChange')); ?></td>
          </tr>



          <!-- <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Create Date')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_created, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_created, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Creator')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_createdby, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_createdby, array('class' => 'dataChange')); ?></td>
          </tr> -->

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Suggestion')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_suggested, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_suggested, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Suggester')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_suggestedby, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_suggestedby, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Approval')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_updated, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_updated, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Approver')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->m_user_updatedby, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_email', $this->user_updatedby, array('class' => 'dataChange')); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent" colspan="4"><br /></td>
          </tr>


          <!----- USER ROLE TEMP DATA ------->
          <tr class="diffRow">
            <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggested User Role'); ?></strong></th>
          </tr>

          <!----------------------------------------------------USER ROLE ---------------------------------------------------------->
          <tr class="diffRow">
            <td class="tbl-evencontent"><?php echo $this->formLabel('User_Role', $this->language->_('User Role')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_role', $this->language->_($this->user_role), array('class' => 'Sugg_userrole')); ?></td>
          </tr>
          <!--------------------------------------------------END USER ROLE -------------------------------------------------------->


          <!----------------------------------------------------PRIVILEGE ------------------------------------------------- -->
          <tr class="diffRow">
            <td colspan="4" class="tbl-oddcontent"><strong><?php echo $this->language->_('Privilege List'); ?></strong></td>
          </tr>

          <?php
          if (count($this->priviList) > 0) {
            foreach ($this->priviList as $privi) {
          ?>
              <tr>
                <td class="tbl-evencontent" colspan="4"><?php echo $this->formLabel('priv_sugg', $this->language->_($this->priviAll[$privi]), array('class' => 'sugg_' . $privi)); ?></td>
              </tr>
          <?php
            }
          } else {
            echo "<tr><td align='center' class='tbl-evencontent' colspan='4'>- " . $this->language->_('No Privilege') . " -</td></tr>";
          }
          ?>
          <!--------------------------------------------------  END PRIVILEGE --------------------------------------------------->
          <!----- END USER ROLE TEMP DATA ------->



          <tr>
            <td class="tbl-evencontent" colspan="4"><br /></td>
          </tr>
          <!----- USER ROLE MASTER DATA ------->
          <?php if ($this->changes_type == 'E') { ?>
            <tr class="diffRow">
              <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Current User Role'); ?></strong></th>
            </tr>

            <!----------------------------------------------------USER ROLE ---------------------------------------------------------->
            <tr>
              <td class="tbl-evencontent"><?php echo $this->formLabel('User_Role', $this->language->_('User Role')); ?></td>
              <td class="tbl-evencontent">:</td>
              <td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('user_role', $this->language->_($this->m_user_role), array('class' => 'Curr_userrole')); ?></td>
            </tr>
            <!--------------------------------------------------END USER ROLE -------------------------------------------------------->

            <!----------------------------------------------------PRIVILEGE ------------------------------------------------- -->
            <tr class="diffRow">
              <td colspan="4" class="tbl-oddcontent"><strong><?php echo $this->language->_('Privilege List'); ?></strong></td>
            </tr>

            <?php
            if (count($this->m_priviList) > 0) {
              foreach ($this->m_priviList as $privi) {
                if (isset($this->priviAll[$privi]) && !(empty($this->priviAll[$privi]))) {
            ?>
                  <tr>
                    <td class="tbl-evencontent" colspan="4"><?php echo $this->formLabel('priv_curr', $this->language->_($this->priviAll[$privi]), array('class' => 'curr_' . $privi)); ?></td>
                  </tr>
            <?php
                }
              }
            } else {
              echo "<tr><td align='center' class='tbl-evencontent' colspan='4'>- " . $this->language->_('No Privilege') . " -</td></tr>";
            } ?>

            <!--------------------------------------------------  END PRIVILEGE --------------------------------------------------->
          <?php } ?>
          <!----- END USER ROLE MASTER DATA ------->

          <?php if ($this->tempmaker && $this->changes_type != 'E') { ?>
            <tr class="diffRow">
              <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('User Limit'); ?></strong></th>
            </tr>
            <tr class="diffRow">
              <th class="tdform-sub"><strong><?php echo $this->language->_('Account Number'); ?></strong></th>
              <th class="tdform-sub"><strong><?php echo $this->language->_('Account Name'); ?></strong></th>
              <th class="tdform-sub"><strong><?php echo $this->language->_('Currency'); ?></strong></th>
              <th class="tdform-sub" colspan="2"><strong><?php echo $this->language->_('Max Limit'); ?></strong></th>
            </tr>
            <?php foreach ($this->tempmaker as $key => $value) {
              # code...
            ?>
              <tr>
                <td class="tbl-evencontent"><?php echo $value['ACCT_NO']; ?></td>
                <td class="tbl-evencontent"><?php echo $value['ACCT_NAME']; ?></td>
                <td class="tbl-evencontent"><?php echo 'IDR' ?></td>
                <td class="tbl-evencontent" colspan="2"><?php echo Application_Helper_General::displayMoney($value['MAXLIMIT']); ?></td>

              </tr>
          <?php }
          } ?>

          <tr>
            <td class="tbl-evencontent" colspan="4"><br /></td>
          </tr>
          <?php if ($this->tempdaily && $this->changes_type != 'E') { ?>
            <tr class="diffRow">
              <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Daily Limit'); ?></strong></th>
            </tr>
            <tr class="diffRow">
              <th class="tdform-sub" colspan="1"><strong><?php echo $this->language->_('Currency'); ?></strong></th>
              <th class="tdform-sub" colspan="3"><strong><?php echo $this->language->_('Max Limit'); ?></strong></th>
            </tr>
            <?php foreach ($this->tempdaily as $key => $value) {
              # code...
            ?>
              <tr>
                <td class="tbl-evencontent" colspan="1"><?php echo $value['CCY_ID']; ?></td>
                <td class="tbl-evencontent" colspan="3"><?php echo Application_Helper_General::displayMoney($value['DAILYLIMIT']); ?></td>

              </tr>
          <?php }
          } ?>
        </tbody>

      </table>
    </div>
  </div>

  <br />

  <div align="center">
    <?php
    echo $this->action(
      'index',
      'tools',
      'changemanagement',
      array('changes_id' => $this->changes_id)
    );
    ?>


    <?php
    /*     $btn_approve = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('approve','Approve',array('onclick'=>'location.href=\''. $btn_approve.'\'','class'=>'inputbtn'));

       echo '&nbsp;&nbsp;';
       $btn_reject = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('reject','Reject',array('onclick'=>'location.href=\''.  $btn_reject.'\'','class'=>'inputbtn'));

       echo '&nbsp;&nbsp;';
       $btn_request_repair = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('request_repair','Request Repair',array('onclick'=>'location.href=\''. $btn_request_repair.'\'','class'=>'inputbtn'));

       echo '<br/><br/>';
       $btn_repair = $this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index','changes_id'=>$this->changes_id),null,true);
       echo $this->formButton('repair','Repair',array('onclick'=>'location.href=\''. $btn_repair.'\'','class'=>'inputbtn'));*/
    ?>
  </div>


  <div>
    <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
    ?>

  </div>
  <?php if ($this->changes_type == 'E') { ?>
    <script>
      //user role diff
      if ($(".Sugg_userrole").text() != $(".Curr_userrole").text()) {
        $(".Sugg_userrole").css('background-color', '#fffe5c');
        $(this).addClass('diffRow');
      }
      $("table.table-sugg > tbody > tr").each(function() {
        var data = $(this).find(".data");
        var dataChange = $(this).find(".dataChange");
        if (data.text() != dataChange.text()) {
          dataChange.css('background-color', '#fffe5c');
          $(this).addClass('diffRow');
        }
      });

      $("#btnDiffOnly").click(function() {
        $("table.table-sugg > tbody > tr").each(function() {
          var className = $(this).attr('class');
          if (className != 'diffRow' && $(this).is(":visible")) {
            $(this).hide();
          } else {
            $(this).show();
          }
        });
      });

      //diff for Privilege list
      // suggested priv
      <?php
      if (count($this->priviList) > 0) {
        foreach ($this->priviList as $privi) {
      ?>
          var currentValue = $('.curr_<?= $privi ?>');
          var suggestedtValue = $('.sugg_<?= $privi ?>');
          if (currentValue.text() != suggestedtValue.text()) {
            suggestedtValue.css('background-color', '#fffe5c');
            suggestedtValue.attr('title', 'Added');
            suggestedtValue.closest('tr').addClass('diffRow');
          }
      <?php
        }
      }
      ?>
      // current priv
      <?php
      if (count($this->m_priviList) > 0) {
        foreach ($this->m_priviList as $privi) {
      ?>
          var currentValue = $('.curr_<?= $privi ?>');
          var suggestedtValue = $('.sugg_<?= $privi ?>');
          if (currentValue.text() != suggestedtValue.text()) {
            currentValue.css('background-color', '#ff2222');
            currentValue.attr('title', 'Removed');
            currentValue.closest('tr').addClass('diffRow');
          }
      <?php
        }
      }
      ?>
    </script>
  <?php }
} else { ?>
  <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>