<script>
  $(document).ready(function()
  {
    $(".tokeninput").keyup(function (e) {

        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
              $(this).prev().focus();
      }else{
          $(this).next().focus();
      }
    });

    $('#tokenmodal').on('shown.bs.modal', function() {
      // $('.firsttokenfield').trigger('focus');
      $('input[name=inputtoken1]').focus();
    });

  });
</script>


<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payment')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Electricity Payment')?>
                    </li>
                </ul>
            </div>
        </div>
</div>
<br />

<?php
	if($this->error)
	{	?>
	<div class="alert alert-danger">
	<?php 
		echo $this->language->_($this->ERROR_MSG);		
	?>
	</div><br />
<?php
	}
?>


<?php 
            if($this->token){
              if($this->hidetoken){ 
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
            }
          }
        ?>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
  <div class="row">
    <div class="col-md-8">
        <div class="form-group row ">
                <div class="col-md-12">
                <h5><?php echo $this->language->_('Electric Payment');?></h5>
                </div>
        </div>

        <?php if (!empty($this->ps_numb)){ ?>
              <div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('Source Account');?><?=$mandatory?></label>
                <div class="col-md-9">

                    <?php  if(!$this->hidetoken){ ?>
                    <b><?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {echo $this->language->_('auto generate');}?></b>

                        <?php }else{
                            echo '<b>';
                      echo $this->ps_numb;
                      echo '</b>';
                     }   ?>
                    
                    <?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>
                 </div>
                </div>
        <?php } ?> 

        <div class="form-group row ">
            <label class="control-label col-md-3"><?php echo $this->language->_('Source Account');?><?=$mandatory?></label>
            <div class="col-md-9">
            <?=$this->paramSession['ACCTSRC']?> [<?=$this->paramSession['ccy']?>] - <?=$this->paramSession['ACCT_NAME_DATA']?> (<?=$this->paramSession['ACCT_DESC']?>)
            </div>
        </div>
        
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Service Provider');?></label>
            <div class="col-md-9">
            <?php echo $this->formLabel('service',$this->paramSession['operatorNama']); ?>
            </div>
        </div>
        
        <?php 
        //if($this->paramSession['billerCode'] == 'PLN_POST'){
        if($this->paramSession['operator'] == '1003'){
        ?>
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('IDPEL/Meter Number');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['orderId']?>
            </div>
        </div>                                                        
        
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Customer Name');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['ACCT_NAME']?>
            </div>
        </div>                                                                                               
        
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Total Bill');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['total_bill']?>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('BL/TH');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['bill_period']?>
            </div>
        </div>
  
        <?php } 
        else{
          ?>
        
        
        <div class="form-group row " >
            <label class="control-label col-md-3"><?php echo $this->language->_('Register Number');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['customer_id']?>
            </div>
        </div>
        
        <div class="form-group row ">
            <label class="control-label col-md-3"><?php echo $this->language->_('Customer Name');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['ACCT_NAME']?>
            </div>
        </div>
                                                                
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Class');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['class']?>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Registration Date');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['registration_date']?>
            </div>
        </div>
        <!-- 
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Expired Date');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['expired_date']?>
            </div>
        </div>
        -->
        <?php 
        }
        ?>

        <div class="form-group row">
             <label class="control-label col-md-3"><?php echo $this->language->_('Amount');?></label>
             <div class="col-md-9">
             <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>
             </div>
        </div>

        <?php 
        if($this->paramSession['fee'] < 1)
        {
        }
        else{
        ?>
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Fee');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['fee'])?>
            </div>
        </div>
        <?php } ?>

        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Admin');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['admin_fee'])?>
            </div>
        </div>
        
        
        <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Total');?></label>
            <div class="col-md-9">
            <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
            </div>
        </div> 

        <br/><br/>
                                                        
        <?php $user_id = $this->userId;?>
    </div>
  </div>



    <?php 
            if(!$this->hidetoken){

                ?>
    <?php if($this->googleauth){

            ?>
              <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Google Auth Verify</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mx-3">
                    <div class="col-md-12" align="center">
                     <table width="100%">
                        <tbody>
                          <!-- <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                          <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                            <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden"> -->

                            <!--  <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                          <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                          <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

                           <!-- <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr> -->
                          <tr>
                            <td align="center">
                              <div class="input-group">
                                <center style="width: 100%">
                          <input class="tokeninput" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </center>
                              </div>
                            </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                    <input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
                  </div>
                </div>
              </div>
            </div>


            <?php
        }else{?>
              
        <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Token Verify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="col-md-12" align="center">
                 <table width="70%">
                    <tbody>
                      <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

                      <!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->
                      
                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                <input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
                <input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <br>
        <?php } } ?> 

	<table border="0" cellspacing="0" cellpadding="0" width="100%">

		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" align="center">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'btnwhite hov'));?>
                     <?php 
                 if(!$this->hidetoken){
                  if(!$this->token){
                  ?>
                    <input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
                  <?php
                }else{
              ?>
                    
        
          <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>
          
          <script>
          function submitbtn(){
            //document.getElementById("subbutton").disabled=true;
            document.getElementById("subbutton").style.display ="none";
            document.getElementById("Submit_id").style.display ="inline";
            //Validation code goes here
          }
          </script>

           <?php } } ?>
				</div>
			</td>
		</tr>
	</table>
</form>
</div>