<b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Charges Template List'); ?> &gt; <?php echo $this->language->_('Detail'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charges Template Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<br />
	<?php
   		//Zend_Debug::dump($this->templatedetail);die;	
        foreach($this->sugdetail as $sugdetail)
		{
			
		    $TEMPLATE_ID =  $sugdetail['TEMPLATE_ID'];
		    $TEMPLATE_NAME =  $sugdetail['TEMPLATE_NAME'];
			if ($sugdetail['CHARGES_TYPE'] == 1)
			{
			    $RTGSAMT = $sugdetail['CHARGES_AMT'];
				$RTGSCCY = $sugdetail['CHARGES_CCY'];
			}
			
			if ($sugdetail['CHARGES_TYPE'] == 2)
			{
			    $SKNAMT = $sugdetail['CHARGES_AMT'];
				$SKNCCY = $sugdetail['CHARGES_CCY'];
			}
		}
	?>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Charges Template Detail'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Template ID'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $TEMPLATE_ID;?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Template Name'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $TEMPLATE_NAME;?></td>
		</tr>
	</table>
	<br />
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr>
			<th><?php echo $this->language->_('Charges Type'); ?></th>
			<th>CCY</th>
			<th><?php echo $this->language->_('Charges Amount'); ?></th>
		</tr>
		<tr>
			<td class="tbl-evencontent">RTGS</td>
			<td class="tbl-evencontent"><?php echo $RTGSCCY; ?></td>
			<td class="tbl-evencontent"><?php echo Application_Helper_General::displayMoney($RTGSAMT); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent">RTGS</td>
			<td class="tbl-evencontent"><?php echo $SKNCCY; ?></td>
			<td class="tbl-evencontent"><?php echo Application_Helper_General::displayMoney($SKNAMT); ?></td>
		</tr>
	</table>
<br />
<br />
  	<?php 
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
  ?>