<script type="text/javascript">
    $(document).ready(function() {

        $('#fixTable').fixTableHeader();
        $('#fixTable2').fixTableHeader();

        $('#expiredStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#expiredEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#historyBtnShow').hide();
        $('#summaryBtnShow').hide();

        $('#creditsettlementModal').on('show.bs.modal', function(e) {

            var cust_bin = '<?php echo $this->data[0]['CUST_BIN'] ?>';
            var va_number = '<?php echo $this->data[0]['VA_NUMBER'] ?>';

            var data = 'cust_bin='+cust_bin+'&va_number='+va_number;

            $.ajax({
                type: "GET",
                data:data,
                url: "<?=$this->url(array('module'=>'virtualaccount','controller'=>'binecollectiondetail','action'=>'vacredithistory'),null,true)?>",
                beforeSend: function() {
                   var loading = '<td colspan="5" align="center">----- Loading -----</td>';
                   $('#creditSettlementTableBody').html(loading);
                },
                success:  function(data){
                    $('#creditSettlementTableBody').html(data);
                },
                error: function(data) {
                  alert("Failed to inquiry data");
                }
            });
        });
    });

    function historyShow() {
        $('#divHistory').show();
        $('#historyBtnHide').attr('Onclick', 'historyHide()');
        $('#historyBtnShow').hide();
        $('#historyBtnHide').show();

    }

    function historyHide() {
        $('#divHistory').hide();
        $('#historyBtnShow').attr('Onclick', 'historyShow()');
        $('#historyBtnHide').hide();
        $('#historyBtnShow').show();
    }

    function summaryShow() {
        $('#divSummary').show();
        $('#summaryBtnHide').attr('Onclick', 'summaryHide()');
        $('#summaryBtnShow').hide();
        $('#summaryBtnHide').show();

    }

    function summaryHide() {
        $('#divSummary').hide();
        $('#summaryBtnShow').attr('Onclick', 'summaryShow()');
        $('#summaryBtnHide').hide();
        $('#summaryBtnShow').show();
    }

    function notifPage(msg){

        $('#notifPage').html(msg);
        $('#notifPage').fadeIn("slow");
        $('#notifPage').delay('4000').fadeOut();

        $('#availabletosettleModal').modal('hide');
    }

    function notifModal(status, msg){

        if (status == 'error') {
            status = 'danger';
        }

        $('#availableCreditNotif').removeClass();
        $('#availableCreditNotif').addClass('alert alert-'+status);
        $('#availableCreditNotif').html(msg);
        $('#availableCreditNotif').fadeIn("slow");
    }

</script>

<style type="text/css">
    .vatitle{
        font-size: 1.2em;
    }

    .accordionDiv{
        background-color: #e0dede;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Bin'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?php echo $this->language->_('eCollection'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?php echo $this->language->_('Detail'); ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<h5><b><?php echo $this->language->_('eCollection Detail'); ?></b></h5>

<div class="alert alert-success col-md-12" style="text-align: center; position: absolute; top: 100px; z-index: 1000; display: none;" id="notifPage"></div>

<br>

<div class="row">
    <div class="col-md-6 vatitle">
        <table width="100%">
            <tr>
                <td width="10%" class="text-black-50"><?php echo $this->language->_('VA Number');?></td>
                <td width="50%" style="font-size: 1.5em;"><b><?php echo $this->data[0]['CUST_BIN'].'-'.$this->data[0]['VA_NUMBER'];?></b></td>
            </tr>
            <tr>
                <td width="10%" class="text-black-50"><?php echo $this->language->_('VA Name');?></td>
                <td width="50%"><?php echo $this->data[0]['VA_NAME']; ?></td>
                <!-- <td width="5%"><a href="javascript:;" title="edit" data-toggle="modal" data-target="#phoneModal"><i class="fa fa-edit"></i></a></td> -->
            </tr>
            <tr>
                <td width="10%" class="text-black-50"><?php echo $this->language->_('VA Status');?></td>
                <td width="50%"><?php echo $this->vaStatusArr[$this->data[0]['VA_STATUS']]; ?></td>
            </tr>
        </table>
    </div>  
    <div class="col-md-6" align="right">
        <div class="col-md-12 row d-flex justify-content-end">
            <div class="col-md-5 content-box mr-1">
                <h6 class="text-primary"><b><?php echo $this->language->_('Available Credit');?></b></h6>
                <h5 class="text-primary">IDR <?php echo Application_Helper_General::displayMoney($this->data[0]['AVAILABLE_CREDIT']); ?></h5>
            </div>
            <div class="col-md-5 content-box" align="right">
                <h6><b><?php echo $this->language->_('In Billing');?></b></h6>
                <h5>IDR <?php echo Application_Helper_General::displayMoney($this->totalBilling);  ?></h5>
            </div>
        </div>
    </div>  
</div>

<br>

<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?> method="post">
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="tablehead"><?php echo $this->language->_('VA ID') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Effective Date') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Expired Date') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('CCY') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Bill Amount') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Paid Amount') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Message') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Doc Status') ?></th>
                    <th class="tablehead"><?php echo 'Remarks' ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->data as $key => $value) { ?>

                    <?php 
                        if ($value['DOC_STATUS'] == '3') {
                            $textColor = 'errmsg';
                        }
                        else if($value['DOC_STATUS'] == '4'){
                            $textColor = 'text-black-50';
                        }
                        else{
                            $textColor = '';
                        }
                    ?>

                    <tr>
                        <td class="<?=$textColor?>">
                            <a href="javascript:openwindow('<?= $this->url(array('module' => 'binreport', 'controller' => 'binecollectiondetail', 'action' => 'vadetail', 'cust_bin' => $value['CUST_BIN'], 'va_id' => $value['VA_ID'], 'type' => 'static', 'cust_id' => $value['CUST_ID']), null, true) ?>',640,580);"><?php echo str_replace($value['CUST_BIN'], $value['CUST_BIN'].'-', $value['VA_ID']); ?></a>
                        </td>
                        <td class="<?=$textColor?>"><?php echo Application_Helper_General::convertDate($value['EF_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) ?></td>
                        <td class="<?=$textColor?>"><?php echo Application_Helper_General::convertDate($value['EXP_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) ?></td>
                        <td class="<?=$textColor?>"><?php echo $value['CCY'] ?></td>
                        <td class="<?=$textColor?>"><?php echo Application_Helper_General::displayMoney($value['INVOICE_AMOUNT']); ?></td>
                        <td class="<?=$textColor?>"><?php echo Application_Helper_General::displayMoney($value['SETTLED_AMOUNT']); ?></td>
                        <td class="<?=$textColor?>"><?php echo $value['MESSAGE'] ?></td>
                        <td class="<?=$textColor?>"><?php echo $value['DOCSTATUS'] ?></td>
                        <td class="<?=$textColor?>"><?php echo $value['REMARKS'] == '' ? '-' : $value['REMARKS']; ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

    <br>
    <br>

    <div class="col-md-12 p-0 accordionDiv">
        <table width="100%" border='0'>
          <tr>
            <td align="left">
                <h6 class="pt-2 pl-2"><b><?php echo $this->language->_('Payment History');?></b></h6>
            </td>
            <td align="right">
              <i class="iconCircle fas fa-chevron-down pt-2 mr-2 mt-1" onclick="historyShow()" id="historyBtnShow"></i>
              <i class="iconCircle fas fa-chevron-up pt-2 mr-2 mt-1" onclick="historyHide()" id="historyBtnHide"></i>
            </td>
          </tr>
        </table>
    </div>

    <div class="col-md-12 content-box" id="divHistory">
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable2">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="tablehead"><?php echo $this->language->_('VA ID') ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Payment Date') ?></th>
                        <th class="tablehead"><?php echo $this->language->_('CCY') ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Payment Amount') ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Trans. Channel') ?></th>
                        <th class="tablehead"><?php echo $this->language->_('Status') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (!empty($this->historyData)) { ?>
                        <?php foreach ($this->historyData as $key => $value) { ?>
                            <tr>
                                <td><?php echo str_replace($value['CUST_BIN'], $value['CUST_BIN'].'-', $value['VA_ID']); ?></td>
                                <td><?php echo Application_Helper_General::convertDate($value['PAYMENT_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) ?></td>
                                <td><?php echo $value['CCY'] ?></td>
                                <td><?php echo $value['AMOUNT'] == 0 ? '-' : Application_Helper_General::displayMoney($value['AMOUNT']); ?></td>
                                <td><?php echo Application_Helper_General::displayMoney($value['TRANS_CHANNEL']); ?></td>
                                <td><?php echo $value['STATUS'] == '1' ? 'Success' : ($value['STATUS'] == '2' ? 'Failed' : 'Suspect') ?></td>
                            </tr>
                        <?php } ?>
                    <?php } else{ ?>
                            <tr><td colspan="6" align="center"><?php echo $this->language->_('---- No Data ----') ?></td></tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

    <br>

    <div class="col-md-12 p-0 accordionDiv">
        <table width="100%" border='0'>
          <tr>
            <td align="left">
                <h6 class="pt-2 pl-2"><b><?php echo $this->language->_('Summary');?></b></h6>
            </td>
            <td align="right">
              <i class="iconCircle fas fa-chevron-down pt-2 mr-2 mt-1" onclick="summaryShow()" id="summaryBtnShow"></i>
              <i class="iconCircle fas fa-chevron-up pt-2 mr-2 mt-1" onclick="summaryHide()" id="summaryBtnHide"></i>
            </td>
          </tr>
        </table>
    </div>

    <div class="col-md-12 content-box" id="divSummary">
        <div class="col-md-12 row">
            <div class="col-md-6">
                <h6><b><?php echo $this->language->_('Total Amount');?></b></h6>
                
                <!-- hanya untuk width table, karena nambah td untuk viewlist dll jika ada -->
                <?php
                    $tableWidth = '70%';
                    if ($this->totalSettledWRemarks > 0 || $this->data[0]['AVAILABLE_CREDIT'] > 0 || $this->data[0]['CREDIT_SETTLEMENT'] < 0) {
                        $tableWidth = '80%';
                    } 
                ?>


                <table width="<?php echo $tableWidth; ?>">
                    <tr>
                        <td width="50%"><?php echo $this->language->_('Total Bill');?></td>
                        <td width="3%"><?php echo $this->data[0]['CCY'];?></td>
                        <td width="10%" style="text-align: right;"><?php echo Application_Helper_General::displayMoney($this->totalBilling); ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Total Paid');?></td>
                        <td width="5%"><?php echo $this->data[0]['CCY'];?></td>
                        <td style="text-align: right;"><?php echo Application_Helper_General::displayMoney($this->totalPaid); ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Total Settled With Remarks');?></td>
                        <td width="5%"><?php echo $this->data[0]['CCY'];?></td>
                        <td style="text-align: right;"><?php echo Application_Helper_General::displayMoney($this->totalSettledWRemarks); ?></td>
                        <?php if ($this->totalSettledWRemarks > 0) { ?>
                            <td><span class="pl-2" style="cursor: pointer;" data-toggle="modal" data-target="#totalwremarkModal"><u><?php echo $this->language->_('View list');?></u></span></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td class="text-danger"><strong><?php echo $this->language->_('Total Unsettled');?></strong></td>
                        <td class="text-danger" width="5%"><strong><?php echo $this->data[0]['CCY'];?></strong></td>
                        <td class="text-danger" style="text-align: right;"><strong><?php echo Application_Helper_General::displayMoney($this->totalUnSettled); ?></strong></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Total In Billing');?></td>
                        <td width="5%"><?php echo $this->data[0]['CCY'];?></td>
                        <td style="text-align: right;"><?php echo Application_Helper_General::displayMoney($this->totalInBilling); ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Available Credit');?></td>
                        <td width="5%"><?php echo $this->data[0]['CCY'];?></td>
                        <td style="text-align: right;" id="availableCreditAmount"><?php echo Application_Helper_General::displayMoney($this->data[0]['AVAILABLE_CREDIT']); ?></td>
                    </tr>
                    <tr id="creditSettlementTr">
                        <td><?php echo $this->language->_('Credit Settlement');?></td>
                        <td width="5%"><?php echo $this->data[0]['CCY'];?></td>
                        <td style="text-align: right;" id="creditSettlementAmount"><?php echo Application_Helper_General::displayMoney($this->data[0]['CREDIT_SETTLEMENT']); ?></td>
                        <?php if ($this->data[0]['CREDIT_SETTLEMENT'] > 0) { ?>
                            <td id="creditSettlementTd"><span class="pl-2" style="cursor: pointer;" data-toggle="modal" data-target="#creditsettlementModal"><u><?php echo $this->language->_('View list');?></u></span></td>
                        <?php } ?>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h6><b><?php echo $this->language->_('Total VA Document');?></b></h6>

                <table width="70%">
                    <tr>
                        <td width="50%"><?php echo $this->language->_('Invoice Document');?></td>
                        <td width="10%"><?php echo count($this->data); ?> Doc(s)</td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Settled with Fully Paid');?></td>
                        <td><?php echo $this->invoiceSettled; ?> Doc(s)</td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Settled With Remarks');?></td>
                        <td><?php echo $this->invoiceSettledWRemarks; ?> Doc(s)</td>
                    </tr>
                    <tr>
                        <td class="text-danger"><strong><?php echo $this->language->_('Unsettled Invoice');?></strong></td>
                        <td class="text-danger"><strong><?php echo $this->invoiceUnsettled; ?> Doc(s)</strong></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('In Billing Invoice');?></td>
                        <td><?php echo $this->invoiceInbilling; ?> Doc(s)</td>
                    </tr>
                    <tr>
                        <td><?php echo $this->language->_('Future Date Invoice');?></td>
                        <td><?php echo $this->invoiceFutureDate; ?> Doc(s)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <?php $btnBack = $this->url(array('module'=>$this->modulename,'controller'=>'binecollection','action'=>'index'),null,true); ?>

    <div class="col-md-12 mt-4" align="center">
        <button type="button" class="btnwhite hov" onclick="location.href='<?php echo $btnBack ?>'">&nbsp;<?php echo $this->language->_('Back')?>&nbsp;</button>
        <button name="pr" class="btnwhite disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_("Print")?></button>
    </div>


<?php if ($this->totalSettledWRemarks > 0) { ?>
<!-- ----------------------------------------------------------total w remarks modal------------------------------------------------------- -->
<div class="modal fade" id="totalwremarkModal" tabindex="-1" role="dialog" aria-labelledby="totalwremarkLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 65%;">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="totalwremarkLabel"><?php echo $this->language->_('All VA ID Settled with Remarks');?></h6>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th><?php echo $this->language->_('VA ID');?></th>
                    <th><?php echo $this->language->_('Message');?></th>
                    <th><?php echo $this->language->_('CCY');?></th> 
                    <th><?php echo $this->language->_('Bill Amount');?></th>
                    <th><?php echo $this->language->_('Paid Amount');?></th>
                    <th><?php echo $this->language->_('Updated Date');?></th>
                    <th><?php echo $this->language->_('Remarks');?></th>
                    <th><?php echo $this->language->_('Settled Amount');?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->settledWRemarksArr as $key => $value) { ?>
                    <tr>
                        <td><?php echo str_replace($value['CUST_BIN'], $value['CUST_BIN'].'-', $value['VA_ID']); ?></td>
                        <td><?php echo $value['MESSAGE'] ?></td>
                        <td><?php echo $value['CCY'] ?></td>
                        <td><?php echo Application_Helper_General::displayMoney($value['INVOICE_AMOUNT']); ?></td>
                        <td><?php echo Application_Helper_General::displayMoney($value['SETTLED_AMOUNT']); ?></td>
                        <td><?php echo Application_Helper_General::convertDate($value['UPDATED_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) ?></td>
                        <td><?php echo $value['REMARKS'] == '' ? '-' : $value['REMARKS']; ?></td>
                        <td><?php echo Application_Helper_General::displayMoney($value['SETTLED_AMOUNT']); ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<?php } ?>

 <!-- ----------------------------------------------------------credit settlement modal------------------------------------------------------- -->
<div class="modal fade" id="creditsettlementModal" tabindex="-1" role="dialog" aria-labelledby="creditsettlementLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="creditsettlementLabel"><?php echo $this->language->_('All Credit Settlement History');?></h6>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th><?php echo $this->language->_('Updated By');?></th>
                    <th><?php echo $this->language->_('Updated Date');?></th>
                    <th><?php echo $this->language->_('CCY');?></th>
                    <th><?php echo $this->language->_('Credit Settled');?></th>
                    <th><?php echo $this->language->_('Remarks');?></th>
                </tr>
            </thead>
            <tbody id="creditSettlementTableBody">
            </tbody>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</form> 