<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Customer'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Detail'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Bank Account'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Account Ordering'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>

<?php 
  //encrypt id
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
  $enccustid = urlencode($encrypted_custid);
?>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?php echo $this->language->_('Bank Account Management'); ?></h5>

    <script type="text/javascript" charset="utf-8">

      function resetData()
      {
    	   var content = '';
    	   
    	   <?php 
       			$i = 1;
       		    foreach($this->cust_acct as $acct)
       			{ 
     		?>

      		       content = content + '<option value="<?php echo $acct['ACCT_NO'] . '_' . $i; ?>" id="no<?php echo $i; ?>">' + 
               		                   '<?php echo $acct['ACCT_NO']; ?>  -  <?php echo $acct['ACCT_NAME']; ?> </option>';    
      
            <?php
                    $i++; 
                 } 
          	?>
    	  
            $('#order').html(content);

           
      }

      
      function moveOptionUp(acct)
      {
    	var split_acct = acct.value.split('_'); 
        var true_acct  = split_acct[0];
        var no         = split_acct[1];
        var acct_html  = $('#no'+no).html();

        var no_up          = no - 1;
        var split_acct_up  = $('#no'+no_up).val().split('_');
        var true_acct_up   = split_acct_up[0];	
        var acct_up_html   = $('#no'+no_up).html();
        
        $('#no'+no_up).val(true_acct + '_' + no_up);
        $('#no'+no_up).attr('selected','selected');
        $('#no'+no_up).html(acct_html);
        
        $('#no'+no).val(true_acct_up + '_' + no);
        $('#no'+no).attr('selected','');
        $('#no'+no).html(acct_up_html);

      }

      function moveOptionDown(acct)
      { 
    	    var split_acct = acct.value.split('_'); 
    	    var true_acct  = split_acct[0];
    	    var no         = split_acct[1];
    	    var acct_html  = $('#no'+no).html();

    	    var no_down          =  no - 1 + 2;
            var split_acct_down  = $('#no'+no_down).val().split('_');
    	    var true_acct_down   = split_acct_down[0];	
    	    var acct_down_html   = $('#no'+no_down).html();

    	    $('#no'+no_down).val(true_acct + '_' + no_down);
    	    $('#no'+no_down).attr('selected','selected');
    	    $('#no'+no_down).html(acct_html);
    	    
    	    $('#no'+no).val(true_acct_down + '_' + no);
    	    $('#no'+no).attr('selected','');
    	    $('#no'+no).html(acct_down_html);

      }

      function submit()
      {
    	 var count = <?php echo count($this->cust_acct); ?>  
    	
    	 for(i=1; i<=count; i++)
         {
    	     acct = $('#no'+i).val();
    	     name = 'acct_order' + i;
    		 $('#parameter').append("<input type='hidden' name="+ name + " value=" + acct + " />");
    		
         }

         

    	 $('#parameter').append("<input type='hidden' name='cust_id' value='<?php echo $enccustid; ?>' />");
    	 $('#parameter').append("<input type='hidden' name='count' value=<?php echo count($this->cust_acct); ?> />");
    	 
    	   
    	 //form_acct = document.getElementById('form_acct');
    	 //form_acct.submit();  

    	 $('#form_acct').submit();
      }
      

    //}
    </script>


    <?php 
    if($this->cust_id)
    {

    ?>
    <table cellpadding="3" cellspacing="0" border="0" class="tableform">
      <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Order Bank Account List')?></strong></th></tr>
      <tr>
    	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
    	<td class="tbl-evencontent">:</td>
    	<td class="tbl-evencontent"><?php echo $this->cust_id; ?></td>
      </tr>
      <tr>
    	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
    	<td class="tbl-evencontent">:</td>
    	<td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
      </tr>
    </table>


    <div class="successmsg"><?php echo $this->error_msg; ?></div>
    <hr>

    <form method="post"  id="form_acct" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'order','action'=>'index'),null,true)?>">
     <table cellpadding="3" cellspacing="0" border="0" class="tableform">
      <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Bank Account List')?></strong></th></tr>
      <tr>
    	<td class="tbl-evencontent">
    	    <ul class="italictext"><i><?php echo $this->language->_('Note')?> : </i>
    		  	<li><i><?php echo $this->language->_('Rearrange account by selecting account and clicking "Up" button to reorder account upwards and "Down" button to reorder account downwards')?>.</i></li>
    		  	<li><i><?php echo $this->language->_('After ordering, click "Submit" to save changes')?>.</i></li>
    		</ul>
    	    
    	    <table border="0">
    	        <tr>
    	           <td>
    	              <select style="padding-left:10px;" class="form-control" size="20" id="order" multiple="" name="order[]">
    	       			  <?php 
    	         			  $i = 1;
    	         		      foreach($this->cust_acct as $acct)
    	         			  { 
    	      		 	  ?>
    	       
                     	  <option value="<?php echo $acct['ACCT_NO'] . '_' . $i; ?>" id="no<?php echo $i; ?>">
                         		<?php echo $acct['ACCT_NO']; ?>  -  <?php echo $acct['ACCT_NAME']; ?> 
                     	  </option>    
                
                    	 <?php
                      		 $i++; 
    	              		} 
    	            	 ?>
                	 </select>
                  </td> 
              
                  <td>
                	<input type="button" class="btngreen hov" onclick="moveOptionUp(document.getElementById('order'));" value="<?php echo $this->language->_('Move Up')?>" name="btUp"> </br></br>
                	<input type="button" class="btnwhite hov" onclick="moveOptionDown(document.getElementById('order'));" value="<?php echo $this->language->_('Move Down')?>" name="btDown">
            
                	<div id="parameter">  </div>
                 </td>
              </tr> 
            </table>  
    	</td>
      </tr>
      
      
      

      
      
     
      </table>
    </form>

     <br />
     <div><?php

       $backButton =  $this->url(array('module'=>'customer','controller'=>'view','action'=>'index','cust_id'=>$enccustid),null,true);
       echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backButton.'\'','class'=>'btnwhite hov'));
        
      //if($this->hasPrivilege('cust_user_inp'))
     // {
        echo '&nbsp;&nbsp;';
        
       //if($this->acct_status == 1 && $this->acct_temp)
       //{
         // $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$this->acct_no),null,true);
          //echo $this->formButton('edit','Edit',array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'inputbtn'));
          echo $this->formButton('edit',$this->language->_('Submit'),array('onclick'=>'submit()','class'=>'btngreen hov'));
          
           echo '&nbsp;&nbsp;';
           //echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));
        //}
       /* else
        {
          echo $this->formButton('edit','Edit',array('disabled'=>true,'class'=>'disabledbtn'));
        }*/
     // }
        
    ?>
    <input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$enccustid),null,true)?>'">



    </div>
  </div>
</div>
<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('No Data')?> -</div>
<?php } ?>