<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){


});


</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Business Adapter')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Detail')?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Sample File')?></h5>
<br/>

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }

  .adapterTable tr{
    text-align: center;
  }
</style>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

  <h6><b><?php echo $this->dataAdapter[0]['PROFILE_NAME'] .' ('.$this->dataAdapter[0]['FILE_FORMAT'].')' ?></b></h6>

  <br>

    <h6 class="text-black-50"><b><?php echo $this->language->_('Source File Format') ?></b></h6>

      <div class="table-responsive">
        <table class="table mb-0" width="100%">
            <tr>
              <?php foreach ($this->headerData as $value) { ?>
                  
                  <th><b><?php echo $value; ?></b></th>

              <?php } ?>
            </tr>
            <?php $i=0; foreach ($this->valueData as $key => $value) { ?>

              <?php if ($i <= 1) { ?>
                <tr>
                    <?php foreach ($value as $key2 => $value2) { ?>
                        <td><?php echo $value2; ?></td>
                    <?php } ?>
                 </tr>
               <?php } ?>
            <?php $i++; } ?>
        </table>
      </div>

    <br>
    <small class="text-black-50 float-right"><?=$this->language->_('* Only beginning row of data showed')?></small>

    <br>
    <br>
    <br>
  
  <h6><b><?=$this->language->_('Business Profile Adapter Detail')?></b></h6>
    <?php if($value['PROFILE_ID']){ ?>
  <div class="row" id="tempDiv" style="margin-left: 15px;" >
        <div id="divContentshow" class="row p-3 flex-row flex-nowrap col-md-12 " style="border: 1px solid; border-radius: 5px; overflow-x: auto;background: #f6f6f6;">
    
      <table class="table adapterTable" style="">
      <tr> 
        <td>
          Show 
        </td>
        <td>
          <select id="templatetemp" name="templatetemp" class="form-control" onchange="template()">
            <option value='0'><?php echo $this->language->_('Select Template'); ?></option>
            <option value='1'><?php echo $this->language->_('Payroll Sample Template'); ?></option>
          </select>
        </td>
        <td colspan="2"></td>
      </tr>
      <tr id="headtemp" style="display:none">
        <th style=""><?php echo $this->language->_('Destination Acct.'); ?>
        <span class="errmsg">*</span>
        </th>
        <th style=""><?php echo $this->language->_('Amount'); ?>
        <span class="errmsg">*</span>
        </th>
        <th style=""><?php echo $this->language->_('Message'); ?>
        </th>
        <th style=""><?php echo $this->language->_('Additional Message'); ?>
        </th>
      </tr>
      <tr id="headtemp1" style="display:none">
        <td>190201900</td>
        <td>500000</td>
        <td>Aldi Tiansyah</td>
        <td>NIK 716743127412</td>
      </tr>
      
      <tr id="headtemp2" style="display:none">
        <td>38473893873</td>
        <td>7000000</td>
        <td>Riana</td>
        <td>NIK 128617826817</td>
      </tr>
      
      </table>
    </div>
  </div>
  <?php } ?>
  <br/>
  <label class="control-label" style="font-weight: bold;"><?php echo $this->language->_('Setup Business Profile Adapter'); ?></label>
  
      <div class="row " style="margin-left: 15px;">
        <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="border: 1px solid; border-radius: 5px; overflow-x: auto;">

            <?php foreach ($this->dataAdapter as $key => $value) { ?>
              <div class="col-3 pr-0 content ui-state-default"> <!-- data-id utk sort element -->
                <table class="table adapterTable">
                  <tr>
                    <th style="border-top: none;">
                      <input class="form-control mb-0" type="text" name="headerName" value="<?php echo $value['HEADER_NAME'] ?>" readonly /> &nbsp;
                    </th>
                  </tr>
                  <tr>

                    <?php 
                      $checked = '';
                      if ($value['MANDATORY'] == 1) { //if mandatory
                        $checked = 'checked';
                      }
                    ?>
                    <td>
                      <input type="checkbox" name="chkMandatory" value="index" <?php echo $checked ?> disabled/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- tempat tampilin header content -->
                      <?php echo '<p class="text-primary mb-0">'.$value['HEADER_FUNCTION'].'</p>'; ?>

                      <?php 

                          $headerContent = $value['HEADER_CONTENT'];
                          $arrHeaderContent = explode(',', $headerContent); 

                          if (!empty($arrHeaderContent)) {
                            foreach ($arrHeaderContent as $value2) {
                              echo '<p class="mb-0">'.$this->headerData[$value2].'</p>';
                            }
                          }
                          else{
                            echo '<p class="mb-0">'.$this->headerData[$headerContent].'</p>';
                          }

                      ?>

                    </td>
                  </tr>
                </table>
              </div> 
            <?php } ?>
      </div>

      <div class="col-md-6 mt-2"><div class="col-md-6 mt-2"><span class="errmsg">*</span>
  <span class="text-black-50"><?=$this->language->_('Mandatory')?></span><p class="text-black-50" style="display:none">* <input type="checkbox" checked disabled><?=$this->language->_(' to Set As Mandatory (must be filled) Field')?></p></div>
   </div>
   
   <div class="col-md-6 mt-2">
   <?php if(!empty($this->custlist)){
     ?>
   <label class="control-label" style="font-weight: bold;"><?php echo $this->language->_('Used By'); ?></label>
   <?php
     echo '<ul>';
     foreach($this->custlist as $val){
       ?>
       <li><?php echo $val['CUST_ID']; ?></li>
       <?
     }
     echo '</ul>';
     
     
   } ?>
   </div>
   </div>

   <br>
   <br>
   <br> 
   <br>
 
  <div class="col-md-12 mt-4" align="center">
  <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','profileid'=>$this->profileId),null,true)?>"  method="post">  
  <input type="hidden" name="profileId" value="<?php echo $this->profileId; ?>">
     <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/businessadapter\'', 'class' => 'btnwhite hov'));?>
   
   
   <?php 
   if(!$this->hidebutton){
   
   if($value['STATUS'] != '2' && $value['STATUS'] != '3' ){ ?>
   <?php if($this->hasPrivilege('UBPA')){?> 
   <button name="edit" id="edit" type="button" value="EDIT" onclick="location.href='/businessadapter/edit/index/profileid/<?php echo $value['PROFILE_ID']; ?>'" class="btnwhite hov">EDIT</button>
   
   <?php
   }
   if($this->hasPrivilege('SBPA')){?> 
   <?php echo $this->formSubmit('suspend',$this->language->_('Suspend'),array( 'class' => 'btnred hov'));
   }
   ?>
   
   <?php if($this->hasPrivilege('ABPA')){?> 
   <?php echo $this->formSubmit('delete',$this->language->_('Delete'),array( 'class' => 'btnred hov'));
   }
   ?>
   
   <?php }else if($value['STATUS'] == '2'){ ?>
   <?php if($this->hasPrivilege('SBPA')){?> 
    <?php echo $this->formSubmit('unsuspend',$this->language->_('Unsuspend'),array( 'class' => 'btnred hov'));?>
   <?php
   }
   }
   }
   ?>
   </form>
   </div>

<br>
<br>
<br>
<br>


