<div class="tabheader" id="tabheader">Suggestion Detail - Setup E-Commerce Payment Charges</div>
<?php if($this->changes_id){
	echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<?php
  if(count($this->temp_data)){
?>
<b>Suggested E-Commerce Payment : </b><hr />
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			E-Commerce Payment Detail
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; E-Commerce Code</td>
		<td class="tbl-oddcontent"><?php echo $this->temp_data['PROVIDER_CODE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; E-Commerce Name</td>
		<td class="tbl-oddcontent"><?php echo $this->temp_data['PROVIDER_NAME'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Domain</td>
		<td class="tbl-oddcontent"><?php echo $this->temp_data['PROVIDER_DOMAIN'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Key ID</td>
		<td class="tbl-oddcontent"><?php echo $this->temp_data['PROVIDER_KEY_ID'];?></td>
	</tr>
<?php
	if(count($this->master_data)){
?>	
	<tr>
		<td class="tbl-evencontent">&nbsp; E-Commerce Status</td>
		<td class="tbl-oddcontent"><?php echo $this->temp_data['PROVIDER_STATUS'];?></td>
	</tr>
<?PHP
	}
?>
	<tr>
		<td class="tbl-evencontent">&nbsp; Service Catagories</td>
		<td class="tbl-oddcontent"><?php echo $this->temp_data['SERVICE_TYPE'].' ( '.$this->temp_data['PROVIDER_TYPE'].' )';?></td>
	</tr>
</table>
  <?php
    }
  ?>
<br />
 <?php
	if(count($this->master_data)){
?>	
<b>Current E-Commerce Payment : </b><hr />
   
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			E-Commerce Payment Detail
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; E-Commerce Code</td>
		<td class="tbl-oddcontent"><?php echo $this->master_data['PROVIDER_CODE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; E-Commerce Name</td>
		<td class="tbl-oddcontent"><?php echo $this->master_data['PROVIDER_NAME'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" >&nbsp; Domain</td>
		<td class="tbl-oddcontent"><?php echo $this->master_data['PROVIDER_DOMAIN'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Key ID</td>
		<td class="tbl-oddcontent"><?php echo $this->master_data['PROVIDER_KEY_ID'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; E-Commerce Status</td>
		<td class="tbl-oddcontent"><?php echo $this->master_data['PROVIDER_STATUS'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Service Catagories</td>
		<td class="tbl-oddcontent"><?php echo $this->master_data['SERVICE_TYPE'].' ( '.$this->master_data['PROVIDER_TYPE'].' )';?></td>
	</tr>
</table>
  <?php
    }
	?>
<br />	

<?php 
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
  ?>
<?php }else{ ?>
<div id="content">--- No Data ---</div>
<?php } ?>