<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>

<style>
	label {
		font-size: 1.2em;
		margin-bottom: 0.3rem;
	}

	h5 {
		font-size: 1.10rem;
		line-height: unset;
		margin-bottom: 0;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}

	.hrline {
		width: 100px;
		border: none;
		border-bottom: 2px solid #0000003d;
	}

	.hrline.active {
		width: 100px;
		border: none;
		border-bottom: 2px solid #0b549f;
	}

	/* width */
	#workflow_process::-webkit-scrollbar {
		height: 10px;
		background-color: #ededed;
		border-radius: 10px;
	}

	/* Handle */
	#workflow_process::-webkit-scrollbar-thumb {
		background: lightgray;
		border-radius: 10px;
	}

	/* Handle on hover */
	#workflow_process::-webkit-scrollbar-thumb:hover {
		background: #c0c0c0;
	}

	.padding-header-cust {
		padding-left: 2%;
		background-color: #005587;
		height: 30px;
		border-radius: 3px !important;
		color: white;
		padding-top: 2px;
	}
</style>

<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="page-bar">
			<ul class="page-breadcrumb px-0">
				<li>
					<span><?= $this->language->_('Beranda') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Report') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<a href="/ongoingsubmission" class="inhouse"><?= $this->language->_('BG List Ongoing') ?></a>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail') ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row justify-content-center my-2">
	<div class="col-md-11">
		<?php if ($this->data['CHANGE_TYPE_CLOSE'] == 5) { ?>
			<h5><?= $this->language->_('Detail Pengajuan Pelepasan Marginal Deposit BG Dalam Proses') ?></h5>
		<?php } else { ?>
			<h5><?= $this->language->_('Detail Pengajuan Penutupan BG Dalam Proses') ?></h5>
		<?php } ?>
	</div>
</div>

<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-md-11 m-auto">
						<div class="portlet-body flip-scroll">
							<table border="0" width="100%" cellspacing="0" cellpadding="0" class="table table-sm table-striped">
								<tr class="headercolor tdform-sub" id="tdform-sub">
									<th class="tbl-headercontent tablehead"><?php echo $this->language->_('User'); ?></th>
									<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Action'); ?></th>
									<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Date/Time'); ?></th>
									<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Notes'); ?></th>
								</tr>
								<?php foreach ($this->dataHistory as $row) : ?>
									<tr>
										<td><?= ucfirst(strtolower($row['USER_FULLNAME'])) . ' (' . $row['USER_LOGIN'] . ')'; ?></td>
										<td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
										<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
										<td><?= $row['BG_REASON'] ?: '-'; ?></td>
									</tr>
								<?php endforeach; ?>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width:100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="container-fluid content-box px-3 py-2" style="border-radius: 10px; border-color: #80808059; height: auto; position: relative;">
			<div style="overflow-x: auto;" id="workflow_process" class="pb-5">
				<table border="0" class="m-auto">
					<!-- Order 1: Circle -->
					<tr>
						<!-- Pemeriksaan awal dokumen klaim -->
						<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') { ?>
							<?php if ($this->padkBy) { ?>
								<td align="center" class="px-5">
									<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
								</td>
								<td>
									<hr class="hrline<?= $this->padkBy ? ' active' : '' ?>">
								</td>
							<?php } ?>
						<?php } ?>

						<?php if ($this->data['CHANGE_TYPE_CLOSE'] != '3') { ?>
							<!-- Maker -->
							<td align="center" class="px-5">
								<?php if ($this->makerBy) { ?>
									<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
								<?php } else { ?>
									<button class="btnCircleGroup" disabled></button>
								<?php } ?>
							</td>
							<td>
								<hr class="hrline<?= $this->makerBy ? ' active' : '' ?>">
							</td>

							<!-- Approver -->
							<td align="center" class="px-5">
								<?php if ($this->approverBy) { ?>
									<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
								<?php } else { ?>
									<button class="btnCircleGroup" disabled></button>
								<?php } ?>
							</td>
							<td>
								<hr class="hrline<?= $this->approverBy ? ' active' : '' ?>">
							</td>

							<!-- Releaser -->
							<td align="center" class="px-5">
								<?php if ($this->releaserBy) { ?>
									<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
								<?php } else { ?>
									<button class="btnCircleGroup" disabled></button>
								<?php } ?>
							</td>
							<td>
								<hr class="hrline<?= $this->releaserBy ? ' active' : '' ?>">
							</td>
						<?php } ?>

						<!-- Bank Verification -->
						<td align="center" class="px-5">
							<?php if ($this->verifyByBank) { ?>
								<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
							<?php } else { ?>
								<button class="btnCircleGroup" disabled></button>
							<?php } ?>
						</td>
						<td>
							<hr class="hrline<?= $this->verifyByBank ? ' active' : '' ?>">
						</td>

						<!-- Bank Reviewer -->
						<td align="center" class="px-5">
							<?php if ($this->reviewByBank) { ?>
								<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
							<?php } else { ?>
								<button class="btnCircleGroup" disabled></button>
							<?php } ?>
						</td>
						<td>
							<hr class="hrline<?= $this->reviewByBank ? ' active' : '' ?>">
						</td>

						<!-- Bank Approver -->
						<td align="center" class="px-5">
							<?php if ($this->approveByBank) { ?>
								<button type="button" style="cursor: default;" class="btnCircleGroup active" disabled><i class="fas fa-check"></i></button>
							<?php } else { ?>
								<button class="btnCircleGroup" disabled></button>
							<?php } ?>
						</td>
						<!-- <td>
							<hr class="hrline<?= $this->approveByBank ? ' active' : '' ?>">
						</td> -->

						<!-- Bank Releaser -->
						<!-- <td align="center" class="px-5"><button class="btnCircleGroup" disabled></button></td> -->
					</tr>

					<!-- Order 2: Title -->
					<tr>
						<!-- Pemeriksaan awal dokumen klaim -->
						<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') { ?>
							<?php if ($this->padkBy) { ?>
								<td align="center" class="pt-2"><?= $this->language->_('Pemeriksaan Awal') ?></td>
								<td></td>
							<?php } ?>
						<?php } ?>

						<?php if ($this->data['CHANGE_TYPE_CLOSE'] != '3') { ?>
							<td align="center" class="pt-2"><?= $this->language->_('Pembuat') ?></td>
							<td></td>

							<td align="center" class="pt-2"><?= $this->language->_('Persetujuan Pengajuan') ?></td>
							<td></td>

							<td align="center" class="pt-2"><?= $this->language->_('Rilis Pengajuan') ?></td>
							<td></td>
						<?php } ?>

						<td align="center"><?= $this->language->_('Verifikasi Bank') ?></td>
						<td></td>

						<td align="center"><?= $this->language->_('Review Bank') ?> </td>
						<td></td>

						<td align="center"><?= $this->language->_('Persetujuan Bank') ?> </td>
						<!-- <td></td> -->

						<!-- <td align="center"><?= $this->language->_('Bank Releaser') ?> </td>
						<td></td> -->
					</tr>

					<!-- Order 3:  -->
					<tr>
						<!-- Pemeriksaan awal dokumen klaim -->
						<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') { ?>
							<?php if ($this->padkBy) { ?>
								<td align="center"></td>
								<td></td>
							<?php } ?>
						<?php } ?>

						<?php if ($this->data['CHANGE_TYPE_CLOSE'] != '3') { ?>
							<td align="center"></td>
							<td></td>

							<td align="center"><?= $this->policyBoundary ?></td>
							<td></td>

							<td align="center"></td>
							<td></td>
						<?php } ?>

						<td align="center"></td>
						<td></td>

						<td align="center"></td>
						<td></td>

						<td align="center"><?= $this->policyBoundaryBank; ?></td>
						<!-- <td></td> -->

						<!-- <td align="center"></td> -->
					</tr>

					<!-- Order 4: Data -->
					<tr>
						<!-- Pemeriksaan awal dokumen klaim -->
						<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') { ?>
							<?php if ($this->padkBy) { ?>
								<td align="center">
									<?= $this->padkBy ?: ''; ?>
								</td>
								<td></td>
							<?php } ?>
						<?php } ?>

						<?php if ($this->data['CHANGE_TYPE_CLOSE'] != '3') { ?>
							<td align="center" class="pt-2">
								<?= $this->makerBy ?: ''; ?>
							</td>
							<td></td>

							<td align="center" class="pt-2">
								<?= $this->approverBy ?: ''; ?>
							</td>
							<td></td>

							<td align="center" class="pt-2">
								<?= $this->releaserBy ?: ''; ?>
							</td>
							<td></td>
						<?php } ?>

						<td align="center">
							<?= $this->verifyByBank ?: ''; ?>
						</td>
						<td></td>

						<td align="center">
							<?= $this->reviewByBank ?: ''; ?>
						</td>
						<td></td>

						<td align="center">
							<?= $this->approveByBank ?: ''; ?>
						</td>
						<!-- <td></td> -->

						<!-- Release / Penyelesaian -->
						<!-- <td align="center">
							<?= ""; ?>
						</td>
						<td></td> -->
					</tr>
					<!-- Order 4: Data -->
				</table>
			</div>
			<a href="#" onclick="modalmoredetail();" style="position: absolute; right: 2%; bottom: 2%; top: 77%; font-size: 1.1rem;"><i class="fa fa-ellipsis-h"></i></a>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-md-11">
		<div style="padding-left:2%">
			<div class="row mb-2">
				<div class="col-md-6">

					<h5><?= $this->language->_('Detail Pengajuan Penutupan Bank Garansi') ?></h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('No Ref Pengajuan') ?></label>
				</div>
				<div class="col-md-9">
					<label><?= $this->data['CLOSE_REF_NUMBER']; ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('Penutupan atas Nomor BG') ?></label>
				</div>
				<div class="col-md-9">
					<label><strong class="text-danger"><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></strong> (<?= $this->data['BG_STATUS'] == '15' ? 'Status Aktif' : 'Status Berakhir' ?><?= $this->data['CHANGE_TYPE_CLOSE'] == '5' ? ' - ' . $this->suggestion_type[$this->data['CLOSING_TYPE']] : '' ?>)</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('Bentuk Penerbitan') ?></label>
				</div>
				<div class="col-md-9">
					<label><?= $this->publishDesc ?> <?= $this->nomorRefKertas ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('Subjek') ?></label>
				</div>
				<div class="col-md-9">
					<label><strong><?php echo $this->BG_SUBJECT; ?></strong></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_("Bank Cabang Penerbit"); ?></label>
				</div>
				<div class="col-md-9">
					<label><?php echo $this->branchname; ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('Tipe Usulan') ?></label>
				</div>
				<div class="col-md-9">
					<label><?php echo $this->suggestion_type[$this->data['CHANGE_TYPE_CLOSE']]; ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('Status Usulan') ?></label>
				</div>
				<div class="col-md-9">
					<label><?php echo $this->arrStatus[$this->data['SUGGESTION_STATUS']]; ?></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="textGray"><?= $this->language->_('Catatan') ?></label>
				</div>
				<div class="col-md-9">
					<label><?= $this->reasonClose ?: '-'; ?></label>
				</div>
			</div>
		</div>

		<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Syarat dan Ketentuan') ?></h4>
					</div>
					<div class="modal-body px-4">
						<?php
							if ($this->data['CHANGE_TYPE_CLOSE'] == '1') {
								echo $this->snkPenutupan;
							} else if ($this->data['CHANGE_TYPE_CLOSE'] == '5') {
								echo $this->snkPelepasanMd;
							} else {
								if ($sessionLanguage == 'id') {
									echo $this->snkPenerbitanInd;
								} else {
									echo $this->snkPenerbitanIng;
								}
							}
						?>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header justify-content-center border-0 pb-0">
						<h5 class="modal-title textBlack" id="myModalLabel"><?= $this->language->_('Principal Bank Garansi') ?></h5>
					</div>
					<div class="modal-body pt-0">
						<div class="row justify-content-center">
							<div class="col-md-11">
								<hr>
								<div class="form-group row">
									<div class="col-md-4">
										<label class="textGray"><?= $this->language->_('Perusahaan') ?></label>
									</div>
									<div class="col-md-8">
										<label class="font-weight-bold"><?= $this->compinfo['CUST_NAME']; ?> (<?= $this->data['CUST_ID']; ?>)</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label class="textGray"><?= $this->language->_('NPWP') ?></label>
									</div>
									<div class="col-md-8">
										<label> <?= $this->compinfo['CUST_NPWP']; ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label class="textGray"><?= $this->language->_('Alamat') ?></label>
									</div>
									<div class="col-md-8">
										<label> <?= $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label class="textGray"><?= $this->language->_('Kota') ?></label>
									</div>
									<div class="col-md-8 ">
										<label><?= $this->compinfo['CITY_NAME']; ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4 pr-0">
										<label class="textGray"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
									</div>
									<div class="col-md-8">
										<label><?= $this->compinfo['CUST_PHONE']; ?> </label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label class="textGray"><?= $this->language->_('Nama Kontak') ?></label>
									</div>
									<div class="col-md-8">
										<label><?= $this->data['CUST_CP']; ?> </label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4 pr-0">
										<label class="textGray"><?= $this->language->_('Nomor Telepon Kontak') ?></label>
									</div>
									<div class="col-md-8">
										<label><?= $this->data['CUST_CONTACT_NUMBER']; ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label class="textGray"><?= $this->language->_('Email Kontak') ?></label>
									</div>
									<div class="col-md-8">
										<label><?= $this->data['T_CUST_EMAIL']; ?> </label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer border-0">
						<center style="width: 100%">
							<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="row my-2">
			<div class="col-md-12">
				<div class="content-box m-0" style="width: 100%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;">
					<h5 class="mb-1">
						<?= $this->language->_('Principal Bank Garansi') ?>
					</h5>
					<div class="row">
						<div class="col-sm-3">
							<label class="textGray"><?= $this->language->_('Company') ?></label>
						</div>
						<div class="col-sm-9">
							<label><strong><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></strong></label>
						</div>
					</div>
					<div class="mb-2" style="text-align: right; margin-right: 0px;">
						<i style="position: absolute; right: 2%; bottom: 2%; color:blue; cursor:pointer; font-size: 1.1rem;" class="fa fa-ellipsis-h" data-toggle="modal" data-target="#myModalBankApp"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust<?= !in_array($this->data['CHANGE_TYPE_CLOSE'], [5]) ? ' bg-danger' : '' ?> my-2" style="border-radius: 3px;">
					<h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Jenis BG') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= ($this->data['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->data['USAGE_PURPOSE_DESC'])) : $this->arrbgType[$this->usage_purpose]; ?> </label>
							<?php if ($this->err) { ?>
								<div id="error_type_bg" class="errmsg py-2"><?= $this->errMsg; ?></div>
							<?php } ?>
							<span id="error_type_bg" class="errmsg py-2"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust<?= !in_array($this->data['CHANGE_TYPE_CLOSE'], [5]) ? ' bg-danger' : '' ?> my-2" style="border-radius: 3px;">
					<h5><?= $this->language->_('Nilai dan Masa Belaku Bank Garansi') ?></h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">
					<div class="row">
						<div class="col-md-3">
							<label class="textGray">Nominal Bank Garansi</label>
						</div>
						<div class="col-md-7">
							<div class="input-group" id="">
								<label class="text-danger"><strong><?php echo 'IDR ' . number_format($this->bank_amount, 2); ?></strong></label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray">Berlaku Sejak</label>
						</div>
						<div class="col-md-9 form-inline" style="float:left">
							<label>
								<?php echo $this->updateStart; ?>
								&nbsp;Hingga&nbsp;
								<?php echo $this->updateEnd; ?></label>
							&nbsp;&nbsp;&nbsp;
							<label class="textGray" id="daysTotal">&nbsp;</label>
							<?php echo $this->daysTotal; ?>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray">Batas Tanggal Klaim</label>
						</div>
						<div class="col-md-9">
							<?php
							$addday = '+ ' . $this->claim_period . ' day';
							$Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
							?>
							<!-- <label><?php echo Application_Helper_General::convertDate($Date2, $this->viewDateFormat, $this->defaultDateFormat); ?></label> -->
							<label><?= date('d M Y', strtotime($this->BG_CLAIM_DATE)); ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust<?= !in_array($this->data['CHANGE_TYPE_CLOSE'], [5]) ? ' bg-danger' : '' ?> my-2" style="border-radius: 3px;">
					<h5><?= $this->language->_('Obligee Bank Garansi') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Nama Obligee') ?></label>
						</div>
						<div class="col-md-9">
							<label class="font-weight-bold"><?= $this->recipent_name; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Alamat') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= $this->address; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Kota') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= $this->city; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= $this->phone; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Nama Kontak') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= $this->contact_person; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Nomor Telepon Kontak') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= $this->contact_number; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Email Kontak') ?></label>
						</div>
						<div class="col-md-9">
							<label><?= $this->contact_email; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust<?= !in_array($this->data['CHANGE_TYPE_CLOSE'], [5]) ? ' bg-danger' : '' ?> my-2" style="border-radius: 3px;">
					<h5><?= $this->language->_('Kontra Garansi') ?></h5>
				</div>
				<div style="padding-left:2%;">
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
						</div>
						<div class="col-md-9">
							<label><?php echo $this->warranty_type_text; ?></label>
						</div>
						<?php if ($this->data['COUNTER_WARRANTY_TYPE'] == '2') : ?>
							<?php if (!empty($this->owner1)) { ?>
								<div class="col-sm-3">
									<label class="textGray"><?= $this->language->_('Pemilik Plafound Limit') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->owner1; ?></label>
								</div>
							<?php } ?>

							<?php if (!empty($this->owner2)) { ?>
								<div class="col-sm-3">
									<label class="textGray"><?= $this->language->_('Pemilik Plafound Limit 2') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->owner2; ?></label>
								</div>
							<?php } ?>

							<?php if (!empty($this->owner3)) { ?>
								<div class="col-sm-3">
									<label class="textGray"><?= $this->language->_('Pemilik Plafound Limit 3') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->owner3; ?></label>
								</div>
							<?php } ?>
						<?php elseif ($this->data['COUNTER_WARRANTY_TYPE'] == '3') : ?>
							<div class="col-sm-3">
								<label class="textGray"><?= $this->language->_('Nama Asuransi') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data["CUST_NAME"]; ?></label>
							</div>
							<div class="col-sm-3">
								<label class="textGray"><?= $this->language->_('Cabang Asuransi') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->insuranceBranch ?></label>
							</div>
						<?php endif; ?>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust<?= !in_array($this->data['CHANGE_TYPE_CLOSE'], [5]) ? ' bg-danger' : '' ?> my-2" style="border-radius: 3px;">
					<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Tanggal Terbit') ?></label>
						</div>
						<div class="col-md-9">
							<label class="text-danger font-weight-bold"><?= date_format(date_create($this->data['BG_ISSUED']), 'j M Y')  ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Dokumen Final') ?></label>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-8 d-flex justify-content-start">
									<input type="text" class="form-control shadow-none mr-2" value="BG_NO_<?= str_replace('-', '', $this->data['BG_NUMBER']); ?>.pdf" disabled style="font-size: 1.2em; background-color: #fae8e8; border-color: #80808059;">
								</div>
								<div class="col-md-4 d-flex justify-content-end">
									<a href="/ongoingsubmission/ongoingclosing/showfinaldoc/bgnumb/<?= $this->bgnumb_enc; ?>" target="__blank" class="btn rounded bg-light px-2 py-0 w-100 mr-1 text-dark" style="cursor: pointer; border-color: #80808059;">
										<i class="fa fa-search text-primary"></i>
										&nbsp;
										PRATINJAU
									</a>
									<form action="" method="POST">
										<button type="submit" name="certfinal" value="1" class="btn rounded bg-light px-2 py-0 w-100" style="cursor: pointer; border-color: #80808059;">
											<i class="fa fa-download"></i>
											&nbsp;
											<?= $this->language->_('UNDUH') ?>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '1' || $this->data['CHANGE_TYPE_CLOSE'] == '3') : ?>
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust bg-danger mt-2" style="border-radius: 3px;">
						<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') : ?>
							<h5><?= $this->language->_('Lampiran Dokumen Klaim') ?></h5>
						<?php else : ?>
							<h5><?= $this->language->_('Lampiran Dokumen Penutupan') ?></h5>
						<?php endif ?>
					</div>
					<div>
						<table class="table table-sm mb-0" style="font-size: 1.1em;">
							<thead>
								<tr>
									<td><i><?= $this->language->_('Nama Dokumen') ?></i></td>
									<td><i><?= $this->language->_('Nama File') ?></i></td>
									<td class="text-center"><i><?= $this->language->_('Tindakan') ?></i></td>
								</tr>
							</thead>
							<tbody>
								<?php if (!empty($this->closeDocument)) { ?>
									<?php foreach ($this->closeDocument as $item) { ?>
										<tr class="table-secondary">
											<td><?= $item['FILE_NOTE'] ?></td>
											<td><?= $item["BG_FILE"] ?></td>
											<td class="text-center">
												<a href="/ongoingsubmission/ongoingclosing/downloadlampiran/bgfile/<?= $item['BG_FILE'] ?>" class="text-dark"><i class="fa fa-download"></i></a>
											</td>
										</tr>
									<?php } ?>
								<?php } else { ?>
									<tr>
										<td colspan="6" class="text-center">- tidak ada data -</td>
									</tr>
								<?php } ?>
							</tbody>
						</table>
						<p style="padding-left:2%; font-size: 1.2em;" class="font-italic my-1"><span class="text-danger">*</span> <?= $this->language->_('Semua lampiran dokumen asli wajib diserahkan ke Bank Cabang Penerbit') ?></p>
					</div>
				</div>
			</div>
		<?php endif; ?>

		<?php if ($this->data['COUNTER_WARRANTY_TYPE'] != '2' && !empty($this->totaleksisting)) : ?>
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust<?= !in_array($this->data['CHANGE_TYPE_CLOSE'], [5]) ? ' bg-danger' : '' ?> mt-2 mb-1" style="border-radius: 3px;">
						<h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
					</div>
				</div>
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust d-flex justify-content-between" style="color: #000; background-color: transparent;">
						<h5><?= $this->language->_('Marginal Deposit Eksisting') ?> <i class="font-weight-normal" style="font-size: 0.9em;">(total : <font class="text-danger" style="font-size: 0.9em;">IDR <?= $this->totaleksisting ? number_format($this->totaleksisting, 2) : '0.00' ?></font>)</i></h5>
						<a class="align-self-center" href="javascript:void(0)" onclick="refreshMarginalDeposit('<?= $this->data['BG_REG']; ?>')"><i class="fa fa-retweet" id="iconRefresh"></i><img src='/images/logo/35.gif' id='iconLoad' style='width: 13px;display:none'></a>
					</div>
					<span class="mt-1" id="tableMarginalDeposit"></span>
				</div>
				<?php if ($this->data['CHANGE_TYPE_CLOSE'] != '3') : ?>
					<?php if ($this->mdclose[0]['numberAccount']) : ?>
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust" style="color: #000; background-color: transparent;">
								<div class="d-flex align-items-center">
									<h5><?= $this->language->_('Pelepasan Dana Escrow ke Rekening Berikut') ?> <i class="font-weight-normal" style="font-size: 0.9em;">(total jumlah: <font class="text-danger" style="font-size: 0.9em;">IDR <?= number_format($this->totalclose, 2) ?></font>)</i></h5>
									<div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorMDNominal">
										<div class="d-flex justify-content-center text-danger">i</div>
										<div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: 0; left: 30px"><span id="errorMDNominal"></span></div>
									</div>
								</div>
							</div>
							<div class="mt-1">
								<table class="table table-sm mb-0" style="font-size: 1.1em;" id="guarantedTransactions">
									<thead>
										<tr style="background-color: #c0c2c4;">
											<td><i><?= $this->language->_('Rek Sendiri') ?></i></td>
											<td><i><?= $this->language->_('Nomor Rekening') ?></i></td>
											<td><i><?= $this->language->_('Nama Rekening') ?></i></td>
											<td><i><?= $this->language->_('Valuta') ?></i></td>
											<td><i><?= $this->language->_('Nominal') ?></i></td>
										</tr>
									</thead>
									<tbody>
										<?php if (!empty($this->mdclose)) { ?>
											<?php foreach ($this->mdclose as $key => $close) { ?>
												<tr class="table-secondary">
													<td><?= $close['ownAccount'] ?></td>
													<td>
														<span class="listrekeningMD"><?= $close['numberAccount'] ?></span>
														<div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorMD<?= $close['numberAccount'] ?>">
															<div class="d-flex justify-content-center text-danger">i</div>
															<div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: -12px; left: 30px"><span id="errorMD<?= $close['numberAccount'] ?>">Status rekening tidak aktif</span></div>
														</div>
													</td>
													<td><?= $close['nameAccount'] ?></td>
													<td><?= $close['ccyAccount'] ?></td>
													<td><?= number_format($close['amountTransaction'], 2) ?></td>
												</tr>
											<?php } ?>
										<?php } else { ?>
											<tr>
												<td colspan="6" class="text-center">- tidak ada data -</td>
											</tr>
										<?php } ?>
									</tbody>
								</table>
							</div>
						</div>
					<?php endif ?>
				<?php endif ?>
			</div>
		<?php endif ?>

		<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') : ?>
			<div class="row <?= !empty($this->totaleksisting) ? '' : 'mt-2' ?>">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust bg-danger" style="border-radius: 3px;">
						<h5><?= $this->language->_('Rekening Tujuan Pembayaran Klaim') ?></h5>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Bank Penerima') ?></label>
							</div>
							<div class="col-md-9">
								<label class="font-weight-bold"><?= $this->swiftCode ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Rekening Penerima') ?></label>
							</div>
							<div class="col-md-9 d-flex">
								<label class="font-weight-bold"><?= $this->nomorRekening ?></label>
								<div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorRek">
									<div class="d-flex justify-content-center text-danger">i</div>
									<div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: 0; left: 30px"><span id="errorRek"></span></div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Nama Penerima') ?></label>
							</div>
							<div class="col-md-9">
								<label><?= $this->namaRekening ?></label>
							</div>
						</div>
						<?php if (strtolower($this->swiftCodeParam) != 'btanidja') { ?>
							<div class="form-group row">
								<div class="col-md-3">
									<label class="textGray"><?= $this->language->_('Alamat Penerima') ?></label>
								</div>
								<div class="col-md-9">
									<label><?= $this->alamatRekening ?></label>
								</div>
							</div>
						<?php } ?>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Nominal Pembayaran') ?></label>
							</div>
							<div class="col-md-9">
								<label><?= $this->valutaTrasaksi . ' ' .  number_format($this->totalTransaksi, 2)  ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Berita') ?></label>
							</div>
							<div class="col-md-9">
								<label><?= $this->berita ?></label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust bg-danger" style="border-radius: 3px; background-color: #0000ff;">
						<h5><?= $this->language->_('Monitor Waktu Pemrosesan Klaim') ?></h5>
					</div>
					<div style="padding-left:2%" class="my-2">
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Tanggal Verifikasi Awal') ?></label>
							</div>
							<div class="col-md-9">
								<label><?= $this->data['CLAIM_FIRST_VERIFIED'] ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3 pr-0">
								<label class="textGray"><?= $this->language->_('Waktu Berjalan Sejak Verifikasi') ?></label>
							</div>
							<div class="col-md-9">
								<label><?= $this->timeDifference ?></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php endif; ?>
		<br>
		<div class="row">
			<div class="col-12">
				<label for="">Syarat dan Ketentuan Pengajuan. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><u>Lihat Syarat & Ketentuan</u></a></label>
			</div>
		</div>
		
		<br>

		<div class="row mb-5">
			<div class="col-md-12" align="center">
				<input class="btnwhite hov" value="<?php echo $this->language->_('KEMBALI') ?>" onclick="location.href='/ongoingsubmission'" type="button">
				&nbsp;&nbsp;
				<?php if ($this->hasPrivilege("COSP")) { ?>
					<?php if (!in_array($this->data['SUGGESTION_STATUS'], [7, 10, 11])) {
						echo "<button type='button' class='btn-sm btnred hov' data-toggle='modal' data-target='#myModalCancelData'>Batalkan</button>";
					} ?>
				<?php } ?>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalCancelData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<form name="canceldata" method="post" action="">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<label><strong><?= $this->language->_('Pembatalan Pengajuan') ?></strong></label>
					<br><br>
					<div class="row">
						<div class="col-md-3">
							<label class="textGray"><?= $this->language->_('Catatan Pembatalan') ?> <span class="text-danger">*</span></label>
						</div>
						<div class="col-md-9 pl-0">
							<textarea name="cancle-reason" id="cancle-rasen" cols="5" rows="3" class="form-control"></textarea>
						</div>
					</div>
				</div>
				<br>
				<div class="modal-footer border-0">
					<center style="width:100%">
						<button type="button" class="btnwhite hov text-uppercase" data-dismiss="modal"><?= $this->language->_('Tutup') ?></button>
						&nbsp;&nbsp;
						<button type="submit" class="btngreen hov text-uppercase"><?= $this->language->_('Kirim') ?></button>
					</center>
				</div>
			</div>
		</div>
	</form>
</div>

<input type="button" style="display:none;" id="forcelogout" onClick="window.location.href='<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'logout'), null, true); ?>'" class="btngreen hov" value="<?php echo $this->language->_('Repair'); ?>">
<script type="text/javascript">
	$(document).ready(function() {
		var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
		var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
		var total = (end - start) / (1000 * 60 * 60 * 24);
		if (start && end) {
			var total = total + 1;
			$('#daysTotal').html("(tenor : " + total + " hari)").addClass('font-italic')
		}

		<?php if ($this->data['COUNTER_WARRANTY_TYPE'] != '2') : ?>
			refreshMarginalDeposit('<?= $this->data['BG_REG'] ?>')
		<?php endif ?>

		<?php if ($this->data['CHANGE_TYPE_CLOSE'] != '3') : ?>
			checkValidasi('<?= $this->data['BG_REG'] ?>')
		<?php endif ?>

		<?php if ($this->data['CHANGE_TYPE_CLOSE'] == '3') : ?>
			inquiryRekeningKlaim();
		<?php endif ?>

		document.querySelector('#iconErrorRek')?.addEventListener('mouseover', () => {
			document.querySelector('#errorRek').parentElement.classList.remove('hidden');
			document.querySelector('#errorRek').parentElement.classList.add('d-inline-block');
		});

		document.querySelector('#iconErrorRek')?.addEventListener('mouseleave', () => {
			document.querySelector('#errorRek').parentElement.classList.add('hidden');
			document.querySelector('#errorRek').parentElement.classList.remove('d-inline-block');
		});

		document.querySelector('#iconErrorMD')?.addEventListener('mouseover', () => {
			document.querySelector('#errorMD').parentElement.classList.remove('hidden');
			document.querySelector('#errorMD').parentElement.classList.add('d-inline-block');
		});

		document.querySelector('#iconErrorMD')?.addEventListener('mouseleave', () => {
			document.querySelector('#errorMD').parentElement.classList.add('hidden');
			document.querySelector('#errorMD').parentElement.classList.remove('d-inline-block');
		});

		if ($('#error_validasi').is(':visible') || $('#iconErrorRek').is(':visible')) {
			$('#chkterms').attr('disabled', true);
		}

		// if ($('.textTheme').is(':visible')) {
		// 	$('.textTheme span').each(function(index, elem) {
		// 		let textLength = elem.textContent.length;
		// 		if (textLength > 13) {
		// 			let text = elem.textContent;
		// 			let shortenedText = text.substring(0, 13);
		// 			shortenedText += '...';
		// 			elem.textContent = shortenedText;

		// 			$(elem).addClass('text-truncate')
		// 		}
		// 	})
		// }

	});

	$('#chkterms').change(function(event) {
		if ($('#verifybutton').is(':visible')) {
			if (event.target.checked) {
				$('#verifybutton').attr('disabled', false).removeClass('disabled');
			} else {
				$('#verifybutton').attr('disabled', true).addClass('disabled');
			}
		}
	})

	function bankApp() {
		$("#myModalBankApp").modal();
	}

	function modalmoredetail() {
		$("#myModalMoreDetail").modal();
	}

	function rejectmodal() {
		$('#dialog_box').modal('show');
		$("#btn_delete_one").attr('onclick',
			'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#verifyForm");$("#verifyForm").submit();}'
		);
	}

	function repairmodal() {
		$('#dialogrepair_box').modal('show');
		$("#btn_delete_repair").attr('onclick',
			'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#verifyForm");$("#verifyForm").submit();}'
		);
	}

	function refreshMarginalDeposit(reqNumber) {
		$('#iconRefresh').hide();
		$('#iconLoad').show();
		$('#tableMarginalDeposit').html(`<table class="table table-sm" id="guarantedTransactions" style="font-size: 1.1em;"><thead><tr style="background-color: #c0c2c4;" class=""><td><i>Hold Seq</i></td><td><i>Nomor Rekening</i></td><td><i>Nama Rekening</i></td><td><i>Tipe</i></td><td><i>Valuta</i></td><td><i>Nominal</i></td></tr></thead><tbody><tr class="table-secondary"><td colspan="6" align="center">Sedang mengambil data ...</td></tr></tbody></table>`);
		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
				reqNumber: reqNumber,
			},
			complete: function() {
				$('#iconLoad').hide();
				$('#iconRefresh').show();
			},
			success: function(data) {
				$('#tableMarginalDeposit').html(data);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert("Failed to get where column list, please try again");
			}
		});

	}

	function inquiryRekeningKlaim() {
		const swiftcode = '<?= $this->swiftCodeParam ?: '' ?>';
		const acct_no = '<?= $this->nomorRekening ?: '' ?>';
		const acct_name = '<?= $this->namaRekening ?: '' ?>';
		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryrekeningklaim'), null, true) ?>",
			type: 'GET',
			dataType: "JSON",
			data: {
				acct_no: `${acct_no}`,
				swiftcode,
				acct_name
			},
			success: function(data) {
				if (data.response_code == "0000") {
					if (swiftcode.toLowerCase() == 'btanidja') {
						if (data.account_name != acct_name) {
							$('#iconErrorRek').show()
							$('#errorRek').text('Nama dan nomor rekening tidak sesuai')

						} else if (data.status != 1 && data.status != 4) {
							$('#iconErrorRek').show()
							$('#errorRek').text('Status rekening tidak aktif')

						} else if (data.type_desc === 'Deposito' || data.type === 'T') {
							$('#iconErrorRek').show()
							$('#errorRek').text('Transfer Dana hanya dapat ditujukan ke Rekening SACA')

						} else if (data.currency != 'IDR') {
							$('#iconErrorRek').show()
							$('#errorRek').text('Valuta rekening harus sama dengan valuta BG')

						} else {
							$('#iconErrorRek').hide()
							$('#errorRek').text('')
						}
					} else {
						if (data.valid) {
							$('#iconErrorRek').hide()
							$('#errorRek').text('')

						} else {
							$('#iconErrorRek').show()
							$('#errorRek').text(data.message)
						}
					}
				} else {
					$('#iconErrorRek').show()
					$('#errorRek').text('Akun tidak ditemukan')
				}

				if ($('#error_validasi').is(':visible') || $('#iconErrorRek').is(':visible') || $('#iconErrorMD').is(':visible')) {
					$('#chkterms').attr('disabled', true);
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.info(thrownError);
				$('#chkterms').attr('disabled', true);
				alert("Failed to get where column list, please try again");
			}
		});
	}

	function checkValidasi(bgNumber) {
		// begin validasi pelepasan dana
		var holdAmount = <?= $this->escrow ?: '0' ?>;
		var transferAmount = <?= $this->totalclose ?: '0' ?>;
		if (holdAmount != transferAmount) {
			$('#iconErrorMDNominal').removeClass('hidden').addClass('d-inline-block');
			$('#errorMDNominal').text('<?= $this->language->_('Jumlah Total Nominal Pelepasan harus sama dengan Nominal MD Giro Escrow Eksisting'); ?>');
		}
		// end validasi pelepanas dana

		// begin validasi rekening 
		$("#guarantedTransactions tr").each(function(index) {
			if (!index) return;
			const acctNo = $(this).find(".listrekeningMD").text();
			const iconErrorMD = $(`#iconErrorMD${acctNo}`);
			const errorMD = $(`#errorMD${acctNo}`);

			iconErrorMD?.on('mouseover', () => errorMD.parent().removeClass('hidden').addClass('d-inline-block'));
			iconErrorMD?.on('mouseleave', () => errorMD.parent().removeClass('d-inline-block').addClass('hidden'));
			if (acctNo != "") {
				$.ajax({
					url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
					type: 'GET',
					dataType: "JSON",
					data: {
						acct_no: acctNo,
					},
					success: function(data) {
						if (data.response_code != '0000') {
							iconErrorMD.removeClass('hidden').addClass('d-inline-block');
							errorMD.text("<?= $this->language->_('Status Rekening Tidak Aktif'); ?>");

							$("#chkterms").prop("disabled", true);
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("Failed to get where column list, please try again");
					}
				});
			}

		});

		// end validasi rekening
	}
</script>