<script type="text/javascript" src="/js/chart/enhance.js"></script>
<script type="text/javascript" src="/js/chart/excanvas.js"></script>
<script type="text/javascript" src="/js/chart/visualize.jQuery.js"></script>
<link rel="stylesheet" href="/css/chart/visualize.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/chart/visualize-light.css" type="text/css" media="screen">
<script type="text/javascript">
    $(function(){
        $('#data-chart').visualize({type: 'pie', height: '300px', width: '420px'});
        $('#data-chart').visualize({type: 'bar', width: '420px'});
        $('#data-chart').visualize({type: 'area', width: '420px'});
        $('#data-chart').visualize({type: 'line', width: '420px'});
    });  
</script>
<table id="data-chart">
    <caption>2009 Employee Sales by Department</caption>
    <thead>
        <tr>
            <td></td>
            <th scope="col">food</th>
            <th scope="col">auto</th>
            <th scope="col">household</th>
            <th scope="col">furniture</th>
            <th scope="col">kitchen</th>
            <th scope="col">bath</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mary</th>
            <td>190</td>
            <td>160</td>
            <td>40</td>
            <td>120</td>
            <td>30</td>
            <td>70</td>
        </tr>
        <tr>
            <th scope="row">Tom</th>
            <td>3</td>
            <td>40</td>
            <td>30</td>
            <td>45</td>
            <td>35</td>
            <td>49</td>
        </tr>
        <tr>
            <th scope="row">Brad</th>
            <td>10</td>
            <td>180</td>
            <td>10</td>
            <td>85</td>
            <td>25</td>
            <td>79</td>
        </tr>
        <tr>
            <th scope="row">Kate</th>
            <td>40</td>
            <td>80</td>
            <td>90</td>
            <td>25</td>
            <td>15</td>
            <td>119</td>
        </tr>        
    </tbody>
</table>