<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/head-icon-btn.ico">
  <title>Print Customer Detail | eBank Garansi BTN</title>
</head>
<style>
  body {
    font-size: 12px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-print-color-adjust: exact;
    /*chrome*/
    -moz-print-color-adjust: exact;
    /*mozila*/
    -o-print-color-adjust: exact;
    /*opera*/
    -ms-print-color-adjust: exact;
    /*ie*/
  }

  .box-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
  }

  table.bordered,
  table.bordered th,
  table.bordered td {
    border: 1px solid #999;
    border-collapse: collapse;
  }
</style>

<body onload="window.print();">

  <table width="100%" style="margin-bottom:30px">
    <tr>
      <td align="left" valign="middle">
        <img src="/images/logo/logo-btn.png" height="40px" border="0" />
      </td>
      <td align="right" valign="middle">
        <b><?= date('d F Y H:i:s'); ?></b>
      </td>
    </tr>
  </table>

  <p style="font-size:16px"><b><?= $this->language->_('Company Detail') . ' - ' . $this->compInfo['CUST_NAME']; ?></b></p>

  <p style="font-size:14px"><b><?= $this->language->_('Company Information'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">
    <tr>
      <td width="160"><?= $this->language->_('Customer Model'); ?></td>
      <td width="10">:</td>
      <td>
        <?php
        if ($this->compInfo['CUST_MODEL'] == 1) {
          echo $this->language->_('Applicant');
        } elseif ($this->compInfo['CUST_MODEL'] == 2) {
          echo $this->language->_('Insurance');
        } elseif ($this->compInfo['CUST_MODEL'] == 3) {
          echo $this->language->_('Special Obligee');
        } else {
          echo '-';
        }
        ?>
      </td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company Name'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_NAME'] ? $this->compInfo['CUST_NAME'] . ' (' . $this->compInfo['CUST_ID'] . ')' : '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company CIF'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_CIF'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company NPWP'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_NPWP'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company Type'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['COMPANY_TYPE_DESC'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Business Type'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['BUSINESS_ENTITY_DESC'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Go Public'); ?></td>
      <td width="10">:</td>
      <td><?= ($this->compInfo['GO_PUBLIC'] == "Y") ? 'Yes' : 'No'; ?></td>
    </tr>
    <?php if ($this->compInfo['DEBITUR_DESC'] != NULL &&  $this->compInfo['DEBITUR_DESC'] != ' - ') { ?>
      <tr>
        <td width="160"><?= $this->language->_('Golongan Debitur Code'); ?></td>
        <td width="10">:</td>
        <td><?= $this->compInfo['DEBITUR_DESC'] ?: '-'; ?></td>
      </tr>
    <?php } ?>
    <?php if ($this->compInfo['COLLECTIBILITY_CODE'] != NULL && $this->compInfo['COLLECTIBILITY_CODE'] != ' - ') { ?>
      <tr>
        <td width="160"><?= $this->language->_('Collectibility Code'); ?></td>
        <td width="10">:</td>
        <td><?= $this->compInfo['COLLECTIBILITY_CODE'] ?: '-'; ?></td>
      </tr>
    <?php } ?>
    <tr>
      <td width="160"><?= $this->language->_('Address'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_ADDRESS'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Kelurahan'); ?> / <?= $this->language->_('Kecamatan'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_VILLAGE'] ?: '-'; ?> / <?= $this->compInfo['CUST_DISTRICT'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Kabupaten'); ?> / <?= $this->language->_('City'); ?> - <?= $this->language->_('ZIP'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CITY_NAME'] ?: 'N/A'; ?> - <?= $this->compInfo['CUST_ZIP'] ?: 'N/A'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Country'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['COUNTRY_NAME'] ?: '-'; ?></td>
    </tr>
  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Contact Info'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">
    <tr>
      <td width="160"><?= $this->language->_('Contact Person'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_CONTACT'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Number'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_CONTACT_PHONE'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Email'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_EMAIL'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company Phone'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_PHONE'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company Website'); ?></td>
      <td width="10">:</td>
      <td><?= $this->compInfo['CUST_WEBSITE'] ?: '-'; ?></td>
    </tr>
  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Company Account'); ?></b></p>
  <table width="100%" cellpadding="5" class="bordered" style="margin-bottom:30px">
    <thead>
      <tr style="color:#fff; background-color:#0b549f">
        <td width="3%">No</td>
        <td><?= $this->language->_('Account Number'); ?></td>
        <td><?= $this->language->_('Account Name'); ?></td>
        <td><?= $this->language->_('Product Type'); ?></td>
        <td><?= $this->language->_('Currency'); ?></td>
      </tr>
    </thead>
    <tbody>
      <?php if ($this->accountInfo) : ?>
        <?php $no = 1;
        foreach ($this->accountInfo as $row) : ?>
          <tr>
            <td><?= $no++; ?></td>
            <td><?= $row['ACCT_NO']; ?></td>
            <td><?= strtoupper($row['ACCT_NAME']); ?></td>
            <td><?= strtoupper($row['ACCT_DESC']); ?></td>
            <td><?= $row['CCY_ID']; ?></td>
          </tr>
        <?php endforeach; ?>
      <?php else : ?>
        <tr>
          <td colspan="5" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
        </tr>
      <?php endif; ?>
    </tbody>
  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Submission Workflow'); ?></b></p>
  <div style="position: relative">
    <center>
      <table cellpadding="5" style="margin-bottom:30px">
        <tr>
          <td align="center">
            <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
          </td>
          <td align="center">
            <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
          </td>
          <?php if ($this->compInfo['CUST_APPROVER'] == 1) : ?>
            <td align="center">
              <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
            </td>
            <td align="center">
              <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
            </td>
          <?php endif; ?>
          <td align="center">
            <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
          </td>
        </tr>
        <tr>
          <td align="center">
            <i class="fas fa-marker imgWorkflow" style="font-size:20px;color:#007934"></i>
          </td>
          <td align="center">
            <!-- hanya jarak  -->
          </td>
          <?php if ($this->compInfo['CUST_APPROVER'] == 1) : ?>
            <td align="center">
              <i class="far fa-check-circle imgWorkflow" style="font-size:20px;color:#007934"></i>
            </td>
            <td align="center">
              <!-- hanya jarak  -->
            </td>
          <?php endif; ?>
          <td align="center">
            <i class="far fa-envelope imgWorkflow" style="font-size:20px;color:#007934"></i>
          </td>
        </tr>
        <tr>
          <td align="center">MAKER</td>
          <td align="center">
            <!-- hanya jarak  -->
          </td>
          <?php if ($this->compInfo['CUST_APPROVER'] == 1) : ?>
            <td align="center">APPROVER</td>
            <td align="center">
              <!-- hanya jarak  -->
            </td>
          <?php endif; ?>
          <td align="center">RELEASER</td>
        </tr>
        <tr>
          <td align="center">
            <img src="/images/icon/light/checked.png">
          </td>
          <td align="center">
            <!-- hanya jarak  -->
          </td>
          <?php if ($this->compInfo['CUST_APPROVER'] == 1) : ?>
            <td align="center">
              <img src="/images/icon/light/checked.png">
            </td>
            <td align="center">
              <!-- hanya jarak  -->
            </td>
          <?php endif; ?>
          <td align="center">
            <img src="/images/icon/light/checked.png">
          </td>
        </tr>
      </table>
    </center>
    <div class="box-disabled"></div>
  </div>

  <p style="text-align: center">Submission workflow is intended for bank guarantee applicant only</p>

  <?php if ($this->CUST_MODEL == '3') { ?>
    <p style="font-size:14px"><b><?= $this->language->_('Special Obligee'); ?></b></p>

    <table width="100%" cellpadding="5" class="bordered" style="margin-bottom:20px">
      <tr>
        <td width="200"><?= $this->language->_('Company'); ?></td>
        <td width="10">:</td>
        <td><b><?= strtoupper($this->specialObligee['CUST_NAME']) . ' (' . $this->specialObligee['CUST_ID'] . ')'; ?></b></td>
      </tr>
      <tr>
        <td><?= $this->language->_('Fee Sharing Account'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['SHARING_ACCT'] ?: '-'; ?></td>
      </tr>
      <tr>
        <td><?= $this->language->_('Underlying Document'); ?></td>
        <td>:</td>
        <td>
          <?= $this->specialObligee['PKS_NUMBER'] ?: '-'; ?>
          <?= $this->specialObligee['PKS_FILE'] ? '<button type="button" class="btn btn-sm btn-light ml-3" onclick="window.location.href=\'/management/companydetail/index/download/specialObligee\'">' . $this->language->_('Download') . '</button>' : ''; ?>
        </td>
      </tr>
      <tr>
        <td><?= $this->language->_('Agreement Start Date'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['PKS_START_DATE'] ? date('d M Y', strtotime($this->specialObligee['PKS_START_DATE'])) : '-'; ?>
        </td>
      </tr>
      <tr>
        <td><?= $this->language->_('Agreement Expired Date'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['PKS_EXP_DATE'] ? date('d M Y', strtotime($this->specialObligee['PKS_EXP_DATE'])) : '-'; ?>
        </td>
      </tr>
      <tr>
        <td><?= $this->language->_('Fee Sharing'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['SHARING_FEE'] ? $this->specialObligee['SHARING_FEE'] . '% (from bank provision fee paid)' : '-'; ?>
        </td>
      </tr>
      <tr>
        <td><?= $this->language->_('Agreement Status'); ?></td>
        <td>:</td>
        <td><?= $this->statusArr[$this->specialObligee['STATUS']] ?: '-'; ?></td>
      </tr>
      <tr>
        <td><?= $this->language->_('Last Suggested'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['LAST_SUGGESTED'] ? date('d M Y', strtotime($this->specialObligee['LAST_SUGGESTED'])) . ' (' . $this->specialObligee['LAST_SUGGESTEDBY'] . ')' : '-'; ?>
        </td>
      </tr>
      <tr>
        <td><?= $this->language->_('Last Reviewed'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['LAST_REVIEWED'] ? date('d M Y', strtotime($this->specialObligee['LAST_REVIEWED'])) . ' (' . $this->specialObligee['LAST_REVIEWEDBY'] . ')' : '-'; ?>
        </td>
      </tr>
      <tr>
        <td><?= $this->language->_('Last Approved'); ?></td>
        <td>:</td>
        <td><?= $this->specialObligee['LAST_APPROVED'] ? date('d M Y', strtotime($this->specialObligee['LAST_APPROVED'])) . ' (' . $this->specialObligee['LAST_APPROVEDBY'] . ')' : '-'; ?>
        </td>
      </tr>
    </table>

  <?php } else { ?>
    <!-- <p style="font-size:14px"><b><?= $this->language->_('Approval Matrix'); ?></b></p>
    <p style="margin-bottom:10px"><b><?= $this->language->_('Approver Group'); ?></b></p>
    <table width="100%" cellpadding="5" class="bordered" style="margin-bottom:20px">
      <thead>
        <tr style="color:#fff; background-color:#0b549f">
          <td align="center"><?= $this->language->_('Group ID'); ?></td>
          <td><?= $this->language->_('Group Name'); ?></td>
          <td><?= $this->language->_('Member'); ?></td>
        </tr>
      </thead>
      <tbody>
        <?php if ($this->groupUser) : ?>
          <?php foreach ($this->groupUser as $row) : ?>
            <tr>
              <td align="center"><?= $row['GID']; ?></td>
              <td><?= $row['GROUP_NAME']; ?></td>
              <td><?= $row['USER']; ?></td>
            </tr>
          <?php endforeach; ?>
        <?php else : ?>
          <tr>
            <td colspan="3" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
          </tr>
        <?php endif; ?>
      </tbody>
    </table> -->

    <!-- <p style="margin-bottom:10px"><b><?= $this->language->_('Approver Boundary'); ?></b></p>
    <table cellpadding="5" class="bordered" style="margin-bottom:30px">
      <thead>
        <tr style="color:#fff; background-color:#0b549f">
          <td colspan="6"><?= $this->language->_('Bank Guarantee'); ?></td>
        </tr>
        <tr>
          <td style="color:#999"><i><?= $this->language->_('Currency'); ?></i></td>
          <td style="color:#999" align="right"><i><?= $this->language->_('Amount Range From'); ?></i></td>
          <td style="color:#999">&nbsp;</td>
          <td style="color:#999" align="right"><i><?= $this->language->_('Amount Range To'); ?></i></td>
          <td style="color:#999"><i><?= $this->language->_('Policy'); ?></i></td>
        </tr>
      </thead>
      <tbody>
        <?php if ($this->dataBoundary) : ?>
          <?php foreach ($this->dataBoundary as $row) : ?>
            <tr>
              <td><?= $row['CCY_BOUNDARY']; ?></td>
              <td align="right"><?= Application_Helper_General::displayMoney($row['BOUNDARY_MIN']); ?></td>
              <td>-</td>
              <td align="right"><?= Application_Helper_General::displayMoney($row['BOUNDARY_MAX']); ?></td>
              <td><?= $row['POLICY']; ?></td>
            </tr>
          <?php endforeach; ?>
        <?php else : ?>
          <tr>
            <td colspan="6" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
          </tr>
        <?php endif; ?>
      </tbody>
    </table> -->

    <?php if ($this->lineFacility != NULL) { ?>
      <p style="font-size:14px"><b><?= $this->language->_('Line Facility'); ?></b></p>
      <table width="100%" cellpadding="5" class="bordered" style="margin-bottom:20px">
        <tr>
          <td width="250"><?= $this->language->_('Underlying Document'); ?></td>
          <td width="10">:</td>
          <td>
            <?= $this->lineFacility['PKS_NUMBER'] ?: '-'; ?>
            <?= $this->lineFacility['PKS_FILE'] ? '<button type="button" class="btn btn-sm btn-light ml-3" onclick="window.location.href=\'/management/companydetail/index/download/lineFacility\'">' . $this->language->_('Download') . '</button>' : ''; ?>
          </td>
        </tr>
        <tr>
          <td><?= $this->language->_('Facility Start Date'); ?></td>
          <td>:</td>
          <td><?= date('d M Y', strtotime($this->lineFacility['PKS_START_DATE'])) ?: '-'; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Facility Expired Date'); ?></td>
          <td>:</td>
          <td><?= date('d M Y', strtotime($this->lineFacility['PKS_EXP_DATE'])) ?: '-'; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Claim Payment Deadline (when default)'); ?></td>
          <td>:</td>
          <td><?= $this->lineFacility['CLAIM_DEADLINE'] ? $this->lineFacility['CLAIM_DEADLINE'] . ' day(s)' : '-'; ?></td>
        </tr>
        <tr class="financial" style="display:none">
          <td><?= $this->language->_('Document Submission Deadline'); ?></td>
          <td>:</td>
          <td><?= $this->lineFacility['DOC_DEADLINE'] ? $this->lineFacility['DOC_DEADLINE'] . ' day(s)' : '-'; ?></td>
        </tr>
        <tr class="financial" style="display:none">
          <td><?= $this->language->_('Fee Will be Debited from'); ?></td>
          <td>:</td>
          <td><?= ($this->lineFacility['FEE_DEBITED'] == 1) ? 'APPLICANT' : 'FINANCIAL INSTITUTION'; ?></td>
        </tr>
        <tr class="institution" style="display:none">
          <td><?= $this->language->_('Debited Account'); ?></td>
          <td>:</td>
          <td><?= $this->debitedAcctArr[$this->lineFacility['DEBITED_ACCOUNT']] ?: '-'; ?></td>
        </tr>
        <?php if ($this->compInfo['CUST_MODEL'] == 2) : // Insurance 
        ?>
          <tr>
            <td><?= $this->language->_('Escrow Account'); ?></td>
            <td>:</td>
            <td><?= $this->lineFacility['ESCROW_ACCT'] ?: '-'; ?></td>
          </tr>
        <?php endif; ?>
        <tr>
          <td><?= $this->language->_('Facility Plafond Limit'); ?></td>
          <td>:</td>
          <td>IDR <?= Application_Helper_General::displayMoneyplain($this->lineFacility['PLAFOND_LIMIT']) ?: 0; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Facility have been used'); ?></td>
          <td>:</td>
          <td class="text-danger" style="color:red;">(IDR <?= Application_Helper_General::displayMoneyplain($this->limit_used) ?: 0; ?>)</td>
        </tr>
        <tr>
          <td><?= $this->language->_('Available Limit'); ?></td>
          <td>:</td>
          <td>IDR <?= Application_Helper_General::displayMoneyplain($this->current_limit) ?: 0; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Ticket Size'); ?></td>
          <td>:</td>
          <td>
            <?php
            $percent10 = (10 / 100) * (float)$this->lineFacility['PLAFOND_LIMIT'];
            if ($this->lineFacility['TICKET_SIZE'] == 1) {
              echo '10% (IDR ' . Application_Helper_General::displayMoneyplain($percent10) . ')';
            } elseif ($this->lineFacility['TICKET_SIZE'] == 2) {
              echo 'Allowed to optimized Plafond Limit';
            } else {
              echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->lineFacility['TICKET_SIZE']);
            }
            ?>
          </td>
        </tr>
        <tr class="financial" style="display:none">
          <td><?= $this->language->_('Marginal Deposit'); ?></td>
          <td>:</td>
          <td>IDR
            <?php
            if ($this->lineFacility['TICKET_SIZE'] == 1) {
              echo $this->lineFacility['MARGINAL_DEPOSIT'] ? Application_Helper_General::displayMoneyplain($this->lineFacility['MARGINAL_DEPOSIT']) : 0;
            } else {
              $plafond_limit = $this->lineFacility['PLAFOND_LIMIT'];
              $marginal_deposit = $this->lineFacility['MARGINAL_DEPOSIT'];
              $percent = ((float)$marginal_deposit / 100) * (float)$plafond_limit;
              echo Application_Helper_General::displayMoneyplain($percent);
            }
            ?>
          </td>
        </tr>
        <tr>
          <td><?= $this->language->_('Bank Provision Fee'); ?></td>
          <td>:</td>
          <td><?= $this->lineFacility['FEE_PROVISION'] ? $this->lineFacility['FEE_PROVISION'] . '% (from BG Nominal)' : '-'; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Bank Administration Fee'); ?></td>
          <td>:</td>
          <td>IDR <?= Application_Helper_General::displayMoneyplain($this->lineFacility['FEE_ADMIN']) ?: 0; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Bank Stamp Fee'); ?></td>
          <td>:</td>
          <td>IDR <?= Application_Helper_General::displayMoneyplain($this->lineFacility['FEE_STAMP']) ?: 0; ?></td>
        </tr>
        <tr>
          <td><?= $this->language->_('Status'); ?></td>
          <td>:</td>
          <td><?= $this->statusArr[$this->lineFacility['STATUS']]; ?></td>
        </tr>
      </table>
    <?php } ?>
  <?php } ?>


</body>

</html>