<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/head-icon-btn.ico">
  <title>Print Bank Guarantee Detail | eBank Garansi BTN</title>
</head>
<style>
  body {
    font-size: 12px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-print-color-adjust: exact;
    /*chrome*/
    -moz-print-color-adjust: exact;
    /*mozila*/
    -o-print-color-adjust: exact;
    /*opera*/
    -ms-print-color-adjust: exact;
    /*ie*/
  }

  table.bordered,
  table.bordered th,
  table.bordered td {
    border: 1px solid #999;
    border-collapse: collapse;
  }
</style>

<!-- <body onload="window.print();"> -->

<body>

  <p style="font-size:16px"><b><?= $this->language->_('Bank Guarantee Detail'); ?></b></p>

  <p style="font-size:14px"><b><?= $this->language->_('Company Information'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">
    <tr>
      <td width="160"><?= $this->language->_('BG Number'); ?></td>
      <td width="10">:</td>
      <td>
        <?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?>
      </td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('eForm Subject'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Bank Branch'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['BRANCH_NAME'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Status'); ?></td>
      <td width="10">:</td>
      <td><?= $this->arrStatus[$this->data['BG_STATUS']]; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Suggestion Type'); ?></td>
      <td width="10">:</td>
      <td><?= $this->suggestion_type; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Notes'); ?></td>
      <td width="10">:</td>
      <td><?php echo $this->reason; ?></td>
    </tr>

  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Bank Guarantee Applicant'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">
    <tr>
      <td width="160"><?= $this->language->_('Company'); ?></td>
      <td width="10">:</td>
      <td><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('NPWP'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CUST_NPWP'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Address'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('City'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CITY_NAME'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Company Phone Number'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CUST_PHONE'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Person'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CUST_CP'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Number'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Email'); ?></td>
      <td width="10">:</td>
      <td><?= $this->data['CUST_EMAIL'] ?: '-'; ?></td>
    </tr>

  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Type of Bank Guarantee'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">
    <tr>
      <td width="160"><?= $this->language->_('Type of Bank Guarantee') ?></td>
      <td width="10">:</td>
      <td><?= empty($this->data['USAGE_PURPOSE']) ? '-' : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></td>
    </tr>

  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Bank Guarantee Nominal and Validity Period'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">

    <tr>
      <td width="160"><?= $this->language->_('Bank Guarantee Nominal') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Start From') ?></td>
      <td width="10">:</td>
      <td><?= date('d M Y', strtotime($this->data['TIME_PERIOD_START'])) ?> to <?= date('d M Y', strtotime($this->data['TIME_PERIOD_END'])); ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Claim Period') ?></td>
      <td width="10">:</td>
      <td><?php echo date('d M Y', strtotime($this->data['BG_CLAIM_DATE'])); ?></td>
    </tr>

  </table>


  <p style="font-size:14px"><b><?= $this->language->_('Bank Guarantee Recipient'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">

    <tr>
      <td width="160"><?= $this->language->_('Recipient Name') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Address') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('City') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Phone Office Number') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Person') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></td>
    </tr>
    <tr>
      <td width="160"><?= $this->language->_('Contact Number') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></td>
    </tr>

    <tr>
      <td width="160"><?= $this->language->_('Contact Email') ?></td>
      <td width="10">:</td>
      <td><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></td>
    </tr>
    <?php if ($this->data['SP_OBLIGEE_CODE']) { ?>

      <tr>
        <td width="160"><?= $this->language->_('Special Obligee Code') ?></td>
        <td width="10">:</td>
        <td><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></td>
      </tr>
    <?php } ?>
  </table>


  <p style="font-size:14px"><b><?= $this->language->_('Guarantee Transaction'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">
    <?php foreach ($this->underlyingDoc as $underlying) : ?>
      <tr>
        <td width="160"><?= $this->language->_('Procurement of Goods/Services') ?></td>
        <td width="10">:</td>
        <td><?= $this->comment; ?><?= $underlying['DOC_NAME'] ?: '-'; ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Document Type') ?></td>
        <td width="10">:</td>
        <td><?= $this->docTypeArr[$underlying['DOC_TYPE']]; ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Document Number') ?></td>
        <td width="10">:</td>
        <td><?= $underlying['DOC_NUMBER']; ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Document Date') ?></td>
        <td width="10">:</td>
        <td><?= $underlying['DOC_DATE'] ? date('d M Y', strtotime($underlying['DOC_DATE'])) : '-'; ?></td>
      </tr>
    <?php endforeach ?>
  </table>


  <p style="font-size:14px"><b><?= $this->language->_('Counter Warranty'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">

    <tr>
      <td width="160"><?= $this->language->_('Counter Warranty Type') ?></td>
      <td width="10">:</td>
      <td><?php echo $this->warranty_type_text_new; ?></td>
    </tr>

    <?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '2') { ?>
      <tr>
        <td width="160"><?= $this->language->_('Plafond Owner') ?></td>
        <td width="10">:</td>
        <td><?= $this->data["CUST_NAME"] . " " . "(" . $this->data["CUST_ID"] . ")"; ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Counter Nominal') ?></td>
        <td width="10">:</td>
        <td>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></td>
      </tr>
    <?php } ?>

    <?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
      <tr>
        <td width="160"><?= $this->language->_('Insurance Name') ?></td>
        <td width="10">:</td>
        <td><?= $this->data["INSURANCE_NAME"] ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Insurance Branch') ?></td>
        <td width="10">:</td>
        <td><?= $this->insuranceBranch ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Principle Agreement Number') ?></td>
        <td width="10">:</td>
        <td><?= $this->principleData["Principle Agreement Number"] . " (" . date('d M Y', strtotime($this->principleData["Principle Agreement Granted Date"])) . ")" ?></td>
      </tr>
      <tr>
        <td width="160"><?= $this->language->_('Counter Guarantee Number') ?></td>
        <td width="10">:</td>
        <td><?= $this->principleData["Counter Guarantee Number"] . " (" . date('d M Y', strtotime($this->principleData["Counter Guarantee Granted Date"])) . ")" ?></td>
      </tr>
    <?php } ?>

    <?php if ($this->data['COUNTER_WARRANTY_TYPE'] == '1') : ?>
      <table width="100%" class="table table-sm table-striped" id="fulltable" style="margin-bottom:30px">
        <thead>
          <tr height="45px">
            <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc; text-align: center;">No </th>
            <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc; text-align: center;">Account Number</th>
            <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc; text-align: center;">Account Name</th>
            <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc; text-align: center;">Type</th>
            <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc; text-align: center;">Currency</th>
            <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc; text-align: center;">Nominal</th>
          </tr>
        </thead>
        <?php
        $no = 1;
        foreach ($this->fullmember as $key => $vl) { ?>
          <?php if (strtolower($vl["M_ACCT_DESC"]) == "giro" || $vl["M_ACCT_TYPE"] == "D") continue; ?>
          <tr>
            <td style="text-align: center;">
              <?= $no; ?>
            </td>
            <td style="text-align: center;">
              <?= $vl["ACCT"]; ?>
            </td>
            <td style="text-align: center;"><?php echo $vl['NAME']; ?></td>
            <td style="text-align: center;"><?= $vl["M_ACCT_DESC"] ?: $vl["ACCT_DESC"]; ?></td>
            <td style="text-align: center;"><?= ($vl["ACCT_DESC"]) ? $this->escrowCurrency : $vl["CCY_ID"]; ?></td>
            <td style="text-align: center;">
              <?= number_format($vl['AMOUNT'], 2); ?>&nbsp;
            </td>
          </tr>

        <?php $no++;
        } ?>
      </table>
    <?php endif ?>
  </table>

  <p style="font-size:14px"><b><?= $this->language->_('Marginal Deposit Principal'); ?></b></p>
  <?php if ($this->data['COUNTER_WARRANTY_TYPE'] == '3' && !empty($this->bgdatamdsplit)) : ?>
    <table width="100%" class="table table-sm table-striped" id="fulltable" style="margin-bottom:30px">
      <thead>
        <tr height="45px">
          <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">No </th>
          <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
          <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
          <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Type</th>
          <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
          <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
        </tr>
      </thead>
      <?php
      $no = 1;
      foreach ($this->bgdatamdsplit as $key => $vl) { ?>
        <?php if (strtolower($vl["TYPE"]) == "giro" || $vl["TYPE"] == "D") continue; ?>
        <tr>
          <td><?= $no++ ?></td>
          <td><?= $vl['ACCT']; ?></td>
          <td><?= $vl['NAME']; ?></td>
          <td><?= ($vl["ACCT_DESC"]) ?: $vl['TYPE']; ?></td>
          <td><?= ($vl["ACCT_DESC"]) ? $this->escrowCurrency : $vl['CURRENCY']; ?></td>
          <td>
            <?= number_format($vl['AMOUNT'], 2); ?>
          </td>
        </tr>
      <?php } ?>
    </table>
  <?php endif ?>

  <p style="font-size:14px"><b><?= $this->language->_('Provision Fee, Administration and Other Expenses'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">

    <tr>
      <td width="160"><?= $this->language->_('All Fee are charge to') ?></td>
      <td width="10">:</td>
      <!-- <td><?php echo $this->acct . '(IDR) / ' . $this->bankname . ' / ' . $this->src_name; ?></td> -->
      <td><?php echo $this->acct . '(IDR) / ' . $this->src_name; ?></td>
    </tr>

    <tr>
      <td width="160"><?= $this->language->_('Bank Provision Fee') ?></td>
      <td width="10">:</td>
      <td>IDR <?= number_format($this->data["PROVISION_FEE"], 2) ?></td>
    </tr>

    <tr>
      <td width="160"><?= $this->language->_('Bank Administration Fee') ?></td>
      <td width="10">:</td>
      <td>IDR <?= number_format($this->data["ADM_FEE"], 2) ?></td>
    </tr>

    <tr>
      <td width="160"><?= $this->language->_('Bank Stamp Fee') ?></td>
      <td width="10">:</td>
      <td>IDR <?= number_format($this->data["STAMP_FEE"], 2) ?></td>
    </tr>


  </table>


  <p style="font-size:14px"><b><?= $this->language->_('Format and Language'); ?></b></p>
  <table width="100%" cellpadding="5" style="margin-bottom:30px">

    <tr>
      <td width="160"><?= $this->language->_('Publishing Form') ?></td>
      <td width="10">:</td>
      <td><?php echo $this->publishForm; ?></td>
    </tr>

    <tr>
      <td width="160"><?= $this->language->_('Bank Guarantee Format') ?></td>
      <td width="10">:</td>
      <td><?= $this->bankFormat; ?></td>
    </tr>

    <tr>
      <td width="160"><?= $this->language->_('Bahasa') ?></td>
      <td width="10">:</td>
      <td><?= $this->languagetext; ?></td>
    </tr>

  </table>


</body>

</html>