<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<title><?php echo $this->language->_('Transaction Inquiry');?></title>
<!-- 	<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: #fffbef; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
-webkit-print-color-adjust:exact; /*chrome*/ 
-moz-print-color-adjust:exact; /*mozila*/
-o-print-color-adjust:exact; /*opera*/
-ms-print-color-adjust:exact; /*ie*/
} 	
	</style> -->

	<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.headercolor {background-color: #ad1c10;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>	
    </head>
    <body onload="window.print();">
        <div class="portlet-body flip-scroll">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped table-condensed flip-content">
			<thead>
			<tr>
			<?php
				$countFields = count($this->header);
				$acct_stat_layout = $this->acct_stat_layout;
				if($acct_stat_layout == "1"){
					foreach ($this->header as $header)	{	?>
					<th id="tbl-headercontent" class="headercolor"><center><?= $header ?></center></th>
					<?php }	?>
				<?php }
				elseif($acct_stat_layout == "2"){
					?>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Date');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Description');?></center></th>
					<th id="tbl-headercontent" colspan="2" class="headercolor"><center><?php echo $this->language->_('Amount');?></center></th>
					<?php
				}
				elseif($acct_stat_layout == "1R"){
					?>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Date');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Description');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Debet');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Credit');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Balance');?></center></th>
					<?php
				}
				elseif($acct_stat_layout == "2R"){
					?>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Date');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Description');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('CCY');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Amount');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('DB/CR');?></center></th>
					<th id="tbl-headercontent" class="headercolor"><center><?php echo $this->language->_('Balance');?></center></th>
					<?php
				}
				?>


			</tr>
			</thead>
			<?php $nodata = $this->language->_('No Data');?>
			<?php
			if(count($this->dataDetails) > 0)
			{
				$i = 1;
				$maxBR   = 56;
				$countBR = 0;
				foreach($this->dataDetails as $row)
				{
					$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
					$content = "";
					$countBR += count(explode("<br />", $row['description']));
					if ($this->pdf && ($countBR > $maxBR) && $i > 1)
					{	$content .= '</table></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0">';
						$countBR = 0;	}
						if($acct_stat_layout == "1"){
								$content .= '<tr>
								<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
								<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>

								<td class="'.$td_css.'" align="right" width="15%">'.$row['debet'].'</td>
								<td class="'.$td_css.'" align="right" width="15%">'.$row['credit'].'</td>
								';
						}
						elseif($acct_stat_layout == "2"){
								$content .= '<tr>
								<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
								<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
								<td class="'.$td_css.'" align="right" width="15%">'.$row['amount'].'</td>
								<td class="'.$td_css.'" align="right" width="15%">'.$row['type'].'</td>
								';
						}
						elseif($acct_stat_layout == "1R"){
								$content .= '<tr>
								<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
								<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
								<td class="'.$td_css.'" align="right" width="15%">'.$row['debet'].'</td>
								<td class="'.$td_css.'" align="right" width="15%">'.$row['credit'].'</td>
								<td class="'.$td_css.'" align="right" width="15%">'.$row['balance'].'</td>
								';
						}
						elseif($acct_stat_layout == "2R"){
								$content .= '<tr>
								<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
								<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
								<td class="'.$td_css.'" align="center">'.$row['ccy'].'</td>
								<td class="'.$td_css.'" align="right" width="10%">'.$row['amount'].'</td>
								<td class="'.$td_css.'" align="right" width="10%">'.$row['type'].'</td>
								';
								$content .= '<td class="'.$td_css.'" align="right">'.$row['balance'].'</td>';
						}

					//<td class="'.$td_css.'" align="center" width="10%">'.$row['ccy'].'</td>

					if($this->PERIOD =='history')
						//$content .= '<td class="'.$td_css.'" align="right">'.$row['balance'].'</td>';

					$content .= '</tr>';
					echo $content;
					$i++;
				}
			}
			else
			{
				if($acct_stat_layout == '2R'){
					echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
				}
				else{
					echo '<tr><td colspan="'.$countFields.'" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
				}
			}
			?>
		</table>
		</div>
		<br>
		<div class="table-scrollable">
			<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-striped table-condensed flip-content" width="50%">
				<tr><th colspan="2" class="headercolor"><strong><?php echo $this->language->_('Information');?></strong></th></tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Account');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?=$this->ACCTSRC.' ('.$this->ACCTSRC_NAME.' / '.$this->ccy.')'?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Opening Balance');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->openingBalance)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Closing Balance');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->closingBalance)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Total Debit');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalDebet)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Total Credit');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalKredit)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Start Date');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?= $this->DATE_FROM_view ?><input type='hidden' name='history_from' value='<?= $this->DATE_FROM ?>'></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('End Date');?></td>
					<td class="tbl-evencontent" width="69%" align="right"><?= $this->DATE_TO_view ?><input type='hidden' name='history_to' value='<?= $this->DATE_TO ?>'></td>
				</tr>
			</table>
		</div>
    </body>
</html>