<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<link rel="shortcut icon" href="/favicon111.ico">
	<title>Corporate - Internet Banking</title>
	<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: #fffbef; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
-webkit-print-color-adjust:exact; /*chrome*/ 
-moz-print-color:exact; /*mozila*/
-o-print-color:exact; /*opera*/
-ms-print-color:exact; /*ie*/
} 	
	</style>	
    </head>
    <body onload="window.print();">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
				
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
						<td align="center" valign="middle"><strong><?=$this->appInfo['name'].' - '.$this->appInfo['bankname'];?></strong></td>
						<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
					</tr>
				</table>
				<div class="errmsg">
				<?php echo $this->messageSuccess;?>						
				</div><br />
				<?php if($this->msgCutBi == '1'){
					?>
						<div class="errmsg">
						<?php echo $this->language->_('Your transaction is exceeded cut off time SKN / RTGS, it will be processed next working day');?>						
						</div><br />
					<?php 
				}?>
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="tdform-sub" id="tdform-sub" colspan="2"><?php echo $this->language->_('Transfer From');?></td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Payment Ref');?>#</td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->PS_NUMBER?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Date - Time');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->PS_CREATED?></td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Source Account');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->SOURCE_ACCOUNT?> [<?php echo $this->PS_CCY?>] - <?php echo $this->SOURCE_ACCOUNT_NAME?> / <?php echo $this->SOURCE_ACCOUNT_NAME?> (<?php echo $this->ACCT_DESC?>)<?php echo $this->SOURCE_ACCOUNT?> [<?php echo $this->PS_CCY?>]								
							</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Currency/Amount');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->PS_CCY;?> <?php echo $this->TRA_AMOUNT?>							
								</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Transfer Type');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php 
								if($this->TRANSFER_TYPE == 'OL'){
									echo 'ONLINE';
								}
								else{
									echo $this->TRANSFER_TYPE;
								}
									
								?>							
								</td>
						</tr>
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Message');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->TRA_MESSAGE;?> 
							</td>
						</tr>
						
						<tr>
							<td colspan="2">&nbsp;</td>
						</tr>
						
						<tr>
							<td class="tdform-sub" id="tdform-sub" colspan="2"><?php echo $this->language->_('Transfer To');?></td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_ACCOUNT?> [<?php echo $this->BENEFICIARY_ACCOUNT_CCY?>]							
							</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account Name');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_ACCOUNT_NAME?>							
								</td>
						</tr>
						<?php if($this->TRANSFER_TYPE != 'OL'){?>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Beneficiary Address');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_ADDRESS?>							
								</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Citizenship');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
							<?php $citizenship = ($this->BENEFICIARY_RESIDENT == 'R')?'Resident':'Non Resident';?>
								<?php echo $citizenship?>							
								</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Nationality');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
							<?php $nationality = ($this->BENEFICIARY_CITIZENSHIP == 'W')?'WNI':'WNA';?>
								<?php echo $nationality?>							
								</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Beneficiary Category');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_CATEGORY?>							
								</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Beneficiary Identification Type');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_ID_TYPE?>							
								</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Beneficiary Identification Number');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_ID_NUMBER?>							
								</td>
						</tr>
						<?php }?>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Bank');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_BANK_NAME?>							
								</td>
						</tr>
						<?php if($this->TRANSFER_TYPE != 'OL'){?>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('City');?> </td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_CITY_CODE?>							
								</td>
						</tr>
						<?php }?>
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Email');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->BENEFICIARY_EMAIL;?>						
							</td>
						</tr>
						<tr>
							<td colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td class="tdform-sub" id="tdform-sub" colspan="2"><?php echo $this->language->_('Transfer Date');?></td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Payment Date');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->PS_EFDATE;?>
							</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Payment Type');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent">
								<?php echo $this->paymentType;?>										
							</td>
						</tr>
					</tbody>
				</table>
		</tbody>
	</table>

    </body>
</html>