<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
    <link rel="shortcut icon" href="/favicon111.ico">
	<title>Corporate - Internet Banking</title>
       
        <style>
        input.currency{ width: 200px; font-size: 10px; }
        ul { padding-left:10px; }
        h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
        body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
        b { font-weight:bold; font-size:11px }
        td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
        a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
        /* .tbl-evencontent { background-color: #fffbef; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } */
        .tbl-evencontent { padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
        /* .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } */
        .tdform-sub {background-color: #003f6e;padding: 4px 4px 4px 4px; font-weight: bold; color: white; height: 20px; text-align: left; }
        .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
        .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
        body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
        -webkit-print-color-adjust:exact; /*chrome*/
        -moz-print-color-adjust:exact; /*mozila*/
        -o-print-color-adjust:exact; /*opera*/
        -ms-print-color-adjust:exact; /*ie*/
        }

        </style>
    </head>
    <body onload="window.print();">
    	<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
                        <td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
						<td align="center" valign="middle"><strong><?=$this->language->_($this->data_caption)?></strong></td>
						<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
					</tr>
		</table>
        <br> 
        <?php if(count($this->data_filter) > 1){
            foreach($this->data_filter as $fil){
                echo "<h5>".$fil."</h5>";
            }
        }
        else{
            echo "<h5>Filter : None</h5>";
        }
        ?>
        <!-- <?php if ($this->data_filter[4] == 1) { ?>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="padding: 4px 4px 4px 4px; vertical-align: top; font-size: 11px;"><strong><?=$this->language->_($this->data_filter[0])?></strong></td>
                </tr>
                <tr>
                    <td style="padding: 4px 4px 4px 4px; vertical-align: top; font-size: 11px;"><strong><?=$this->language->_($this->data_filter[1])?></strong></td>
                </tr>
                <tr>
                    <td style="padding: 4px 4px 4px 4px; vertical-align: top; font-size: 11px;"><strong><?=$this->language->_($this->data_filter[2])?></strong></td>
                </tr>
                <tr>
                    <td style="padding: 4px 4px 4px 4px; vertical-align: top; font-size: 11px;"><strong><?=$this->language->_($this->data_filter[3])?></strong></td>
                </tr>
            </table>
            <br>
        <?php } ?> -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <?PHP
                        foreach($this->data_header as $key){
                            echo '<th class="tdform-sub">'.$this->language->_($key['label']).'</th>';
                        }
                    ?>
                </tr>
            </thead>
            <tbody>
                <?PHP
                 if(count($this->data_content) > 0){
                    foreach($this->data_content as $row){
                        echo '<tr>';
                        foreach($this->data_header as $key){
                            // For joined table
                            $field = explode(".", $key['field']);
                            $field = (isset($field[1])) ? $field[1] : $field[0];

                            switch($key['format']){
                                case 'changes_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getChangesStatus($row[$field]).'</td>';
                                    break;
                                case 'currency' :
                                    echo '<td align="right" class="tbl-evencontent">'.SGO_Helper_GeneralFunction::displayCurrency($row[$field]).'</td>';
                                    break;
                                case 'date' :
                                    $data = empty($row[$field]) ? '-' : date('j-M-Y', strtotime($row[$field]));
                                    echo '<td class="tbl-evencontent">'. $data .'</td>';
                                    break;
                                case 'datetime' :
                                    $data = empty($row[$field]) ? '-' : date('j-M-Y H:i:s', strtotime($row[$field]));
                                    echo '<td class="tbl-evencontent">'. $data .'</td>';
                                    break;
                                case 'documentMatchingStatus' :
                                    if($row['AMOUNT'] == $row['OUTSTANDING_AMOUNT'])
                                        $status = SGO_Helper_GeneralFunction::language('Not Matched');
                                    else if($row['AMOUNT'] != $row['OUTSTANDING_AMOUNT'] && intval($row['OUTSTANDING_AMOUNT']) != 0)
                                        $status = SGO_Helper_GeneralFunction::language('Few Matched');
                                    else
                                        $status = SGO_Helper_GeneralFunction::language('Matched');
                                    echo '<td class="tbl-evencontent">'.$status.'</td>';
                                    break;
                                case 'doc_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getDocStatus($row[$field]).'</td>';
                                    break;
                                case 'master_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getMasterStatus($row[$field]).'</td>';
                                    break;
                                case 'sms_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getSmsStatus($row[$field]).'</td>';
                                    break;
                                case 'sub_tx_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getSubTransactionStatus($row[$field]).'</td>';
                                    break;
                                case 'time' :
                                    echo '<td class="tbl-evencontent">'.date('H:i:s', strtotime($row[$field])).'</td>';
                                    break;
                                case 'tx_channel' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getTransactionChannel($row[$field]).'</td>';
                                    break;
                                case 'tx_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getTransactionStatus($row[$field]).'</td>';
                                    break;
                                case 'user_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getUserStatus($row[$field]).'</td>';
                                    break;
                                case 'has_status' :
                                    echo '<td class="tbl-evencontent">'.SGO_Helper_GeneralFunction::getMasterHasStatus($row[$field]).'</td>';
                                    break;
                                case 'step_status' :
                                    echo '<td class="tbl-evencontent">'.$this->language->_(SGO_Scheme_GeneralRegistry::getTxStatusDesc($row[$field])).'</td>';
                                    break;
                                case 'loan_status' :
                                    echo '<td class="tbl-evencontent">'.$this->language->_(SGO_Scheme_GeneralRegistry::getDocStatusDesc($row[$field])).'</td>';
                                    break;
                                case 'doc_type' :
                                    echo '<td class="tbl-evencontent">'. SGO_Helper_GeneralFunction::getDocType($row[$field]).'</td>';
                                    break;
                                case 'bbs_product_type' :
                                    echo '<td class="tbl-evencontent">'. SGO_Helper_BbsFunction::getBBSProductType($row[$field]).'</td>';
                                    break;
                                case 'bbs_commission_status' :
                                    echo '<td class="tbl-evencontent">'. SGO_Helper_BbsFunction::getBBSCommissionStatus($row[$field]).'</td>';
                                    break;

                                default :
                                    $show = (isset($key['language'])) ? $this->language->_($row[$field]) : $row[$field];
                                    echo '<td class="tbl-evencontent">'.$show.'</td>';
                                    break;
                            }
                        }
                        echo '</tr>';
                    }
                 }
                else{
                	echo '<tr><td colspan="'.count($this->data_header).'" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
                }
                ?>
            </tbody>
        </table>
    </body>
</html>
