<?PHP
    $language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<link rel="shortcut icon" href="/favicon111.ico">
	<title>myONLINE</title>
	<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tbl-oddcontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
-webkit-print-color-adjust:exact; /*chrome*/ 
-moz-print-color-adjust:exact; /*mozila*/
-o-print-color-adjust:exact; /*opera*/
-ms-print-color-adjust:exact; /*ie*/
} 	
	</style>	
    </head>
    <body onload="window.print();" onfocus="window.close()" onblur="window.close()">
    			<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
						<td align="center" valign="middle"><strong><?=$this->appInfo['name'].' - '.$this->appInfo['bankname'];?></strong></td>
						<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
					</tr>
				</table>
				<br>
       <?php 
			if (Zend_Registry::isRegistered('language')){
				$language = Zend_Registry::get('language');
			}
			
			$psNumber = $this->psnumber;
		    //$getPaymentDetail 	= new paymentreport_Model_Paymentreport();
		    //$pslipdetail = $getPaymentDetail->getPslipDetail($psNumber);
// 		    var_dump($pslipdetail);die;
		    /*$htmldataDetailDetail = '';
		    foreach($pslipdetail as $pslipdetaillist)
		    {
		        if($pslipdetaillist['PS_FIELDTYPE'] == 1){
		            $value = Application_Helper_General::displayMoney($pslipdetaillist['PS_FIELDVALUE']);
		        }elseif($pslipdetaillist['PS_FIELDTYPE'] == 2){
		            $value = Application_Helper_General::convertDate($pslipdetaillist['PS_FIELDVALUE'],$this->view->displayDateTimeFormat,$this->view->defaultDateFormat);
		        }elseif($pslipdetaillist['PS_FIELDTYPE'] == 3){
		            $value = $pslipdetaillist['PS_FIELDVALUE'];
		        }else{
		            $value = NULL;
		        }
		        
		        if($pslipdetaillist['PS_FIELDNAME']=='Credit Card No'){
					$cc = chunk_split($pslipdetaillist['PS_FIELDVALUE'], 4, '-');
					$credit = substr($cc, 0, -1);
					
					$value = $credit;
		        }
	
		        $htmldataDetailDetail .='
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_($pslipdetaillist['PS_FIELDNAME']).'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$language->_($value).'</td>
				</tr>';
		    }*/
		// print_r($this->param);die;
		    $htmldataDetail .=
		    '<table border="1" cellspacing="0" cellpadding="0" class="tableform" width="550px">
		    <tr><th colspan="6" class="tdform-sub"><strong>Bin Detail</strong></th></tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('BIN').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['CUST_BIN'].'</td>
					<td class="tbl-evencontent">&nbsp; '.$language->_('BIN Name').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['BIN_NAME'].'</td>
				</tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('BIN Status').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['CUST_BIN'].'</td>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Approved Date').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.Application_Helper_General::convertDate($this->param['APPROVED_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				</tr>
				</table>
				<br/>
				<br/>
				<table border="1" cellspacing="0" cellpadding="0" class="tableform" width="550px">
				<tr><th colspan="5" class="tdform-sub"><strong>Account Detail</strong></th></tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Bank').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['BANK_NAME'].'</td>
				</tr>
    			<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Branch').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['BRANCH_NAME'].'</td> 
				</tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Account Number').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['ACCT_NO'].'</td> 
				</tr>';
			
				$htmldataDetail .=
		        '<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Account Name').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['ACCT_NAME'].'</td> 
				</tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Account Alias Name').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['ACCT_ALIAS_NAME'].'</td> 
				</tr>
			</table>';
	        
		    $datapdf 	=
		    "<h2>".$language->_('Customer BIN')."</h2><hr></hr>
			".$htmldataDetail;
	
		    echo $datapdf = "<tr><td>".$datapdf."</td></tr>";
		?>
    </body>
</html>