<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<link rel="shortcut icon" href="/favicon111.ico">
	<title>myONLINE</title>
	<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tbl-oddcontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
-webkit-print-color-adjust:exact; /*chrome*/ 
-moz-print-color-adjust:exact; /*mozila*/
-o-print-color-adjust:exact; /*opera*/
-ms-print-color-adjust:exact; /*ie*/
} 	
	</style>	
    </head>
    <body onload="window.print();" onfocus="window.close()" onblur="window.close()">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
				
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
						<td align="center" valign="middle"><strong><?=$this->appInfo['name'].' - '.$this->appInfo['bankname'];?></strong></td>
						<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
					</tr>
				</table>
				<br>
				<div class="errmsg">
				<?php echo $this->messageSuccess;?>						
				</div><br />
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="tdform-sub" id="tdform-sub" colspan="2"><?php echo $this->language->_('Loan Account Detail');?></td>
						</tr>
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Account Number');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->acct_no?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Currency');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->ccy_id?></b>
							</td>
						</tr> 
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Product Type');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>LOAN</b>
							</td>
						</tr> 
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Status');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->status?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Plafond');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo 'IDR '.$this->plafond?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Number of Installments (Months)');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->numberOfInstallment?></b>
							</td>
						</tr> 
						
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Outstanding');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo 'IDR '.$this->outstanding?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Interest Obligations');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo 'IDR '.$this->interestObligations?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Installment');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo 'IDR '.$this->installment?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Total Payment');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo 'IDR '.$this->totalPayment?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Interest Arrears');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo 'IDR '.$this->interestArrears?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Arrears in Installments');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->arrearsInInstallments?></b>
							</td>
						</tr> 
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Payment of Fines');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->paymentOfFines?></b>
							</td>
						</tr>
						
												
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Term Loans Time (Months)');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo $this->termsLoansTimes?></b>
							</td>
						</tr> 
						
												
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Created Date');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo Application_Helper_General::convertDate($this->accountCreateDate, $this->_dateDBFormat, $this->_dateDisplayFormat)?></b>
							</td>
						</tr> 
						
												
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Due Date');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo Application_Helper_General::convertDate($this->dueDate, $this->_dateDBFormat, $this->_dateDisplayFormat)?></b>
							</td>
						</tr>
						
						<tr>
							<td class="tbl-evencontent" id="tbl-evencontent" width="250"><?php echo $this->language->_('Next Payment Date');?></td>
							<td class="tbl-evencontent" id="tbl-evencontent"><b>
								<?php echo Application_Helper_General::convertDate($this->nextPaymentDate, $this->_dateDBFormat, $this->_dateDisplayFormat)?></b>
							</td>
						</tr>  
						
					</tbody>
				</table>
		</tbody>
	</table>

    </body>
</html>