<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('CMS Mobile')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?php echo $this->language->_('Deactivate')?></span>
                    <?php echo (($this->confirmPage == 1 && empty($this->resultPage))? " " .$this->language->_('Confirmation'): ""); ?>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
  	<div class="portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Deactivate') ?></h5>

		<div class="row">
			<div class="col-sm-4">
				&nbsp;
			</div>
			<div class="col-sm-4" align="center">
			<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
				<?php 
				$actual_link = "http://$_SERVER[HTTP_HOST]";
		// echo $actual_link;die;
				if(empty($this->qrcode)){
						echo $this->formSubmit('filter','DEACTIVATE',array('class'=>'btngreen hov')); 
				}else{


				
				?>
				<div class="caption" style="font-size:35px">
		                                <i class="fa fa-check-square-o font-green"></i>
		                                <span class="caption-subject bold font-green uppercase"> PROCESS SUCCESS</span>
		                                
		                            </div>
		            <?php
		        }
		            ?>               
			</form>
		</div>
		<div class="col-sm-4">
			&nbsp;
			</div>
		</div>
		<?php 
		if(empty($this->qrcode)){

		}else{
			?>

			<div class="row">
			
										<div class="formbutton" align ="left">
											<input class = "btnwhite hov" type="button" onclick="location.href='/mobile/deactive'" value = "<?php echo $this->language->_('Back')?>">
										</div>
									
			</div>
			<?php
		}
			?>
	</div>
</div>