<script>
function iNumFrmtUS(number,object) {
  if (object!='')
    document.getElementById(object).value = number.replace(/\,/g,'');
  else
    return number.replace(/\,/g,'');
}
</script>

<?php 
    require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
    $enccustid = urlencode($encrypted_custid);

    $encrypted_acct = $AESMYSQL->encrypt($this->acct_no, $rand);
    $encacct = urlencode($encrypted_acct);

    $encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
    $encuserid = urlencode($encrypted_userid);
?>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('User Limit Scheme'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Detail'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Edit / Delete'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>

<?php
if($this->cust_id){
?>
<div class="row content-box">
  <div class= "portlet-body form col-md-12">
  <h5><?php echo $this->language->_('User Limit Scheme'); ?></h5>
    <table cellpadding="3" cellspacing="0" border="0" class="tableform">
      <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Add/Edit User Limit for the following user'); ?></strong></th></tr>
      <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User Login')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->user_id; ?></td>
      </tr>
      <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('Company Code')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->cust_id; ?></td>
      </tr>
      <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
      </tr>
    </table>
  </div>
</div>
<br />
<?php 
  if($this->isapproval)  echo '<div class="errmsg">'.$this->isapproval.'</div>';
      
  else
  { 
?>
<div><em><?php echo $this->language->_('Add/Edit User Limit for the following Accounts.'); ?><br />
    <?php echo $this->language->_('Note : fill limit field with empty value or zero to remove user limit'); ?>
    </em></div>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>

<br />
<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$enccustid,'user_id'=>$encuserid,'acct_no'=>$encacct),null,true)?>">
  <div class="table-responsive">
    <table class="table table-sm table-striped">
      <tr>
        <th width="3%" valign="top" class="tablehead">No</th>
        <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                   )
                     )?>    
        <th valign="top" class="tablehead"><?php echo $this->language->_('Max Limit'); ?></th>
      </tr>
    <?php
    if(count($this->data))
    {
      $i = 0;
      $counter = 1;
      foreach($this->data as $row)
      {
      $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent'; 
          
      $option = array('maxlength'=>13,
              'class'=>'form-control',
              'size'=>25,
              'onfocus'=>'iNumFrmtUS(this.value,this.id)',
              'onblur'=>'NumFrmtUS(this.value,this.id)',
              'onkeypress'=>'return forceDecimalOCBC(event)');
      
      if($this->maxlimit)
        $maxlimit = Application_Helper_General::displayMoney($this->maxlimit[$row['ACCT_NO']]);
      else
        $maxlimit = $row['MAXLIMIT']? Application_Helper_General::displayMoney($row['MAXLIMIT']) : Application_Helper_General::displayMoney(0);
      
    if($row['CCY_ID']!='IDR' && $row['CCY_ID']!='USD' && $row['CCY_ID']!=''){
      $row['CCY_ID'] = Application_Helper_General::getCurrCode($row['CCY_ID']);
    }
    
      echo '<tr>
                <td class="'.$td_css.'">'.$counter.'</td>
          <td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
          <td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
          <td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
          <td class="'.$td_css.'">'.$this->formText("maxlimit[{$row['ACCT_NO']}]",$maxlimit,$option).'<div class="errmsg">'.$this->errorMsg[$row['ACCT_NO']].'</div></td>
          </tr>';
        $i++;
        $counter++;
      }
    }else{ echo '<tr><td colspan="7" class="tbl-evencontent" align="center">'. $this->language->_('No Record Found (company does not have source account)').' </td></tr>'; }
    ?>
    </table>
  </div>
<?php } ?>

<br />
       <?php if($this->type == 'list') { ?>
                <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'userlimitdetail','action'=>'index','cust_id'=>$enccustid,'acct_no'=>$encacct, 'user_login'=>$encuserid,'type'=>'list'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
       <?php } else { ?>
                  <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'new','action'=>'index','cust_id'=>$enccustid),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
       <?php } ?>
      
      
      <?php if(!$this->isapproval) { ?> <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>&nbsp;&nbsp;  <?php } ?>
    <?php if(!$this->isapproval) { ?> <input name="reset" value="<?php echo $this->language->_('Reset'); ?>" onclick="refreshwindow();" type="reset" class="btngreen hov"> <?php } ?>
</form>

<?php 
}
else
{
?>
<div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<br />

<?php  if($this->type == 'list') { ?>
                <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'userlimitdetail','action'=>'index','acct_no'=>$encacct, 'user_login'=>$encuserid,'type'=>'list'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
       <?php } else { ?>
                  <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'new','action'=>'index','cust_id'=>$enccustid),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
       <?php } ?>



<?php } ?>