
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Predefined Beneficiary');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Local Remittance Account');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php echo $this->language->_('Delete Local Remittance Account');?>
                    
                </li>
                
            </ul>
        </div>
    </div>
</div>
<br />

<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div><br />
<?php } ?>

<form class="form-horizontal form-bordered form-row-stripped" name="addbeneficiary" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete'),null,true)?>">
  <div class="card">
    <div class="portlet-body form">
      <div class="card-header cardhead text-white"><?php echo $this->language->_('Delete Beneficiary')?></div>

      <script>
        function replaceText() {
            var x = document.getElementById("ACBENEF").value;
            document.getElementById("ACBENEF1").value = x.slice(-4);
        }
      </script>
                                                    
      <script>
        function replaceText() {
            var x = document.getElementById("ACBENEF").value;
            document.getElementById("ACBENEF1").value = x.slice(-4);
        }
      </script>

      <div class="form-group row">
            <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Account Name'); ?>&nbsp;:</label>
            <div class="col-md-9">
              <?php echo $this->formHidden('ACBENEF',$this->ACBENEF); ?>
              <?php echo $this->formHidden('benef_id_text',$this->benef_id_text); ?>
              <?php echo $this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID); ?>
            <?=$this->ACBENEF_NAME?><?php echo $this->formHidden('STATUS',$this->STATUS); ?>
            </div>
      </div>

      <div class="form-group row">
          <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Beneficiary NRC'); ?>&nbsp;:</label>
          <div class="col-md-9">
          <?=$this->LLD_BENENUMBER?>
          </div>
      </div>

      <div class="form-group row">
          <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Phone'); ?>&nbsp;:</label>
          <div class="col-md-9">
          <?=$this->ACBENEF_PHONE?>
          </div>
      </div>

      <div class="form-group row">
          <label class="control-label col-md-3"></label>
          <div class="col-md-9">
            <div class="formbutton">
              <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'localremittanceacct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
              <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
            </div>
          </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="card">
      <div class="portlet-body form">
        <div class="card-header cardhead text-white"><?php echo $this->language->_('Notes')?></div>
        <div class="form-group">
          <label class="control-label col-md-1">
            
          </label>
          <div class="col-md-11">
            <?php echo $this->language->_('If Account is not approved, then it will be deleted rightaway');?>.<br />
            <?php echo $this->language->_('If Account approved, then it will need approval to be deleted');?>.  
          </div>
        </div>
      </div>
  </div>
</form>

	
