<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })
});
</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Predefined Beneficiary'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Local Remittance Account'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="" align="center">
                <h5><?=$this->language->_('Beneficiary List')?></h5>
            </div>
        </div>
    </div>
    <div class="container">
        <br><br>
        <div class="row col-md-12">
                <button  onclick="location.href='/predefinedbeneficiary/inhouseacct'" class="btnwhite hov col-md-3 " type="button" name="button" ><?=$this->language->_('In House Account')?></button>
                <button  onclick="location.href='/predefinedbeneficiary/domesticcct'" class="btnwhite hov col-md-3" type="button" name="button"><?=$this->language->_('Domestic Account')?></button>
                <button  onclick="location.href='/predefinedbeneficiary/remittanceacct'" class="btnwhite hov col-md-3 " type="button" name="button"><?=$this->language->_('Valas Account')?></button>
                <button  onclick="location.href='/predefinedbeneficiary/localremittanceacct'" class="btngreen hov col-md-3" type="button" name="button" disabled><?=$this->language->_('Local Remittance Account')?></button>
        </div>
    </div>
    <br><br>

<div class="row ">
	 <div class="portlet-body form col-md-12">
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
            <?php $aliasname = $this->language->_('Alias Name'); ?>
            <?php $beneficiaryaccount = $this->language->_('Destination Name'); ?>
            <?php $beneficiaryaccountname = $this->language->_('NRC'); ?>
            <?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
            <?php $setfilter = $this->language->_('Set Filter'); ?>
            <?php $clearfilter = $this->language->_('Clear Filter'); ?>
            <?php $nodata = $this->language->_('No Data'); ?>
            <?php $delete_lg = $this->language->_('Delete'); ?>

<?php
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
                        $selectlist = array('BENEFICIARY_ACCOUNT','BENEFICIARY_NAME');
                        $index = 0;



                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                                          var ncolselect = "#colselect-s<?=$key?>";
                                                  if(colomnname == 'CURR_CODE' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
                                                  $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                  var id = $("#tablename").find(":selected").val();
                                                  $.ajax({
                                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
                                                  type: 'GET',
                                                  dataType: "html",
                                                  data: {
                                                      id: <?=$this->whereval[$index]?>
                                                  },
                                                  success: function(data) {
                                                      $(ncolselect).html(data);
                                                  },
                                                  error: function(xhr, ajaxOptions, thrownError)
                                                  {
                                                      alert("Failed to get where column list, please try again");
                                                  }
                                              });
                                                  $(colselect).val('<?=$this->whereval[$index]?>');

                                          }
                                      });

                                        </script>
                                      <?php
                                      // print_r($value);
                                      // print_r($selectlist);die;
                                          if(in_array($value, $selectlist)){
                                          ?>
                                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btn btn-sm btn-success mt-1" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-sm btn-success mt-1')); ?>
                &nbsp;
        <input type="button" name="clearfilter" class="btn btn-sm btn-success mt-1" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>



                               </div>
            <div class="col-md-4">
            </div>

  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
   </div>
  <br/>









        </form>
    </div>
</div>

<br />
<div class="row">
<div class="col-md-12">
<?php
	$option = array('module'=>'predefinedbeneficiary','controller'=>'localremittanceacct','action'=>'addbeneficiary');
?>
  <table align="left">
    <tr>
      <td>
          <button class="btngrad hov"  type="button" onclick="location.href='<?=$this->url($option,null,true)?>'"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add'); ?></button>
      </td>
    </tr>
  </table>
  <table align="right">
      <tr>
        <td>
          <div class="input-group input-group-sm">
          <div class="input-group-prepend">
                <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
              </div>
          <input type="text" class="search form-control" placeholder="Search">
        </div>
        </td>
      </tr>
  </table>

  <br />
  <br />
  <div class="content-filter2">
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>''),null,true)?>"><span <?php if(!$this->alpha || $this->alpha=='') echo 'class="subtopic"';?>><?php echo $this->language->_('ALL');?></span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'A'),null,true)?>"><span <?php if($this->alpha=='A') echo 'class="subtopic"';?>>A</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'B'),null,true)?>"><span <?php if($this->alpha=='B') echo 'class="subtopic"';?>>B</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'C'),null,true)?>"><span <?php if($this->alpha=='C') echo 'class="subtopic"';?>>C</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'D'),null,true)?>"><span <?php if($this->alpha=='D') echo 'class="subtopic"';?>>D</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'E'),null,true)?>"><span <?php if($this->alpha=='E') echo 'class="subtopic"';?>>E</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'F'),null,true)?>"><span <?php if($this->alpha=='F') echo 'class="subtopic"';?>>F</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'G'),null,true)?>"><span <?php if($this->alpha=='G') echo 'class="subtopic"';?>>G</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'H'),null,true)?>"><span <?php if($this->alpha=='H') echo 'class="subtopic"';?>>H</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'I'),null,true)?>"><span <?php if($this->alpha=='I') echo 'class="subtopic"';?>>I</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'J'),null,true)?>"><span <?php if($this->alpha=='J') echo 'class="subtopic"';?>>J</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'K'),null,true)?>"><span <?php if($this->alpha=='K') echo 'class="subtopic"';?>>K</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'L'),null,true)?>"><span <?php if($this->alpha=='L') echo 'class="subtopic"';?>>L</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'M'),null,true)?>"><span <?php if($this->alpha=='M') echo 'class="subtopic"';?>>M</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'N'),null,true)?>"><span <?php if($this->alpha=='N') echo 'class="subtopic"';?>>N</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'O'),null,true)?>"><span <?php if($this->alpha=='O') echo 'class="subtopic"';?>>O</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'P'),null,true)?>"><span <?php if($this->alpha=='P') echo 'class="subtopic"';?>>P</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'Q'),null,true)?>"><span <?php if($this->alpha=='Q') echo 'class="subtopic"';?>>Q</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'R'),null,true)?>"><span <?php if($this->alpha=='R') echo 'class="subtopic"';?>>R</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'S'),null,true)?>"><span <?php if($this->alpha=='S') echo 'class="subtopic"';?>>S</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'T'),null,true)?>"><span <?php if($this->alpha=='T') echo 'class="subtopic"';?>>T</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'U'),null,true)?>"><span <?php if($this->alpha=='U') echo 'class="subtopic"';?>>U</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'V'),null,true)?>"><span <?php if($this->alpha=='V') echo 'class="subtopic"';?>>V</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'W'),null,true)?>"><span <?php if($this->alpha=='W') echo 'class="subtopic"';?>>W</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'X'),null,true)?>"><span <?php if($this->alpha=='X') echo 'class="subtopic"';?>>X</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'Y'),null,true)?>"><span <?php if($this->alpha=='Y') echo 'class="subtopic"';?>>Y</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'Z'),null,true)?>"><span <?php if($this->alpha=='Z') echo 'class="subtopic"';?>>Z</span></a>&nbsp;&nbsp;&nbsp;
	</div>

  <div class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" class="tableform">
        <tr>
          <td>
            <?php if($this->success){ ?>
            <div class="successmsg"><?=$this->report_msg?></div><br />
            <?php }else if($this->error){ ?>
            <div class="errmsg"><?=$this->report_msg?></div><br />
            <?php } ?>
          </td>
        </tr>
        <tr>
        <td class="contentarea" id="contentarea">
  <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
  <br />
  <div class="portlet-body flip-scroll">
  <div class="table-responsive">
      <table width="100%" cellpadding="2" cellspacing="0"  class="table table-sm table-striped">
      <tr class="headercolor">
      <th class="tablehead" width="3%" valign="top"> <?php echo $this->language->_('No'); ?></th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
                                                        )
                )?>

      </tr>

      <?php
      $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

      if(count($this->paginator) > 0)
      {
      $i=0;
      //Zend_Debug::dump($this->paginator);die;
      foreach($this->paginator as $row) {

      $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

      $button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete','benef_id'=>$row['BENEFICIARY_ID']),null,true);
      $button =  '<input class = "btn btn-sm btn-warning mt-1" type="button" onclick="javascript:confirmation(\''.$this->language->_('Are you sure want to delete this beneficiary account').'?\',\''.$button.'\');" value = '.$delete_lg.'>';

      if($row['BENEFICIARY_ISAPPROVE_disp']=='Approved') $benefId = $row['BENEFICIARY_ACCOUNT'];
      else $benefId = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'detail','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">'.$row['BENEFICIARY_ACCOUNT'].'</a>';

      if($row['BENEFICIARY_EMAIL']) $email = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editemail','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">'.$row['BENEFICIARY_EMAIL'].'</a>';
      else $email = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editemail','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">N/A</a>';

      $address = $row['BENEFICIARY_ADDRESS']?$row['BENEFICIARY_ADDRESS']:'N/A';
      $clearingcode = $row['CLR_CODE']?$row['CLR_CODE']:'N/A';

      $bankname = $row['BANK_NAME']?$row['BANK_NAME']:'N/A';
      //<td class="'.$td_css.'">'.$row['BENEFICIARY_CITIZENSHIP_disp'].'</td>
      //<td class="'.$td_css.'">'.$address.'</td>

      if ($row['BENEFICIARY_RESIDENT']=='R') $citizen = 'Resident';
      else $citizen = 'Non Resident';

      if ($row['BENEFICIARY_CITIZENSHIP']=='W') $nationality = 'WNI';
      else $nationality = 'WNA';

      $delete = '';
      if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = 'Request to delete';
      else $delete = $button;

      echo '<tr>
      <td class="'.$td_css.'">'.$counter.'</td>';
      //<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
      echo	'
      <td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
      <td class="'.$td_css.'">'.$row['BENEFICIARY_ID_NUMBER'].'</td>
      <td class="'.$td_css.'">'.$row['BENEFICIARY_PHONE'].'</td>
      <td class="'.$td_css.'">'.$row['BENEFICIARY_ISAPPROVE_disp'].'</td>
      ';
      //<td class="'.$td_css.'">'.$this->language->_($row['BENEFICIARY_ISAPPROVE_disp']).'</td>
      echo	'	<td class="'.$td_css.'">'.$delete.'</td>
      </tr>';

      $i++;
            $counter++;
      }
      }
      else {
      echo '<tr><td colspan=11 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
      }
      ?>
      <!-- <td class="'.$td_css.'">'.$clearingcode.'</td> -->

      </table>
  </div>


      <div class="formbutton">
        <input class = "btnwhite hov" type="button" onclick="location.href='/home/index'" value = "<?php echo $this->language->_('Back'); ?>">
      </div>

  </div>
  <br />




    <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
    <br />

          </td>
          </tr>
      </table>
  </div>
  </div>
</div>


<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });
    // alert(colomnname);
    $(colval).empty();
   if(colomnname == 'PS_CCY' ||colomnname == 'CURR_CODE' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
      // alert();
            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'ISFAVORITE'){

         $(colval).append("<input type='checkbox' name='whereval[]'  value='' maxlength='20'  class='form-control' >");
    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
