<style>
	@media print {

		.hidden,
		.hidden * {
			display: none !important;
			visibility: hidden;
		}

		button {
			display: none !important;
			visibility: hidden;
		}

		.hiddenLogo,
		.hiddenLogo * {
			display: inline !important;
			visibility: show;
		}

		input.currency {
			width: 200px;
			font-size: 10px;
		}

		ul {
			padding-left: 10px;
		}

		h2 {
			color: #5B0000;
			font-size: 16px;
			font-weight: bold
		}

		body .ui-helper-hidden-accessible {
			position: fixed
		}

		body {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			background-color: white;
		}

		b {
			font-weight: bold;
			font-size: 11px
		}

		td {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #000000;
			text-decoration: none;
		}

		a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #000000;
			text-decoration: underline;
		}

		.tbl-evencontent {
			background-color: none;
			padding: 1px 1px 1px 1px;
			border-bottom: 1px solid #A9A9A9;
			border-right: 1px solid #A9A9A9;
			border-left: 1px solid #A9A9A9;
			border-top: 1px solid #A9A9A9;
			vertical-align: top;
			font-size: 10px;
		}

		.tbl-oddcontent {
			background-color: none;
			padding: 1px 1px 1px 1px;
			border-bottom: 1px solid #A9A9A9;
			border-right: 1px solid #A9A9A9;
			border-left: 1px solid #A9A9A9;
			border-top: 1px solid #A9A9A9;
			vertical-align: top;
			font-size: 10px;
		}

		.tdform-sub {
			background-color: #0c67a0;
			padding: 4px 4px 4px 4px;
			border-bottom: 0px solid #A9A9A9;
			border-top: 1px solid #A9A9A9;
			;
			border-right: 1px solid #A9A9A9;
			;
			border-left: 1px solid #A9A9A9;
			vertical-align: top;
			font-weight: bold;
			color: white;
		}

		.tdform-odd {
			background-color: #FFFFFF;
			padding: 4px 4px 4px 4px;
			border: 1px solid;
			vertical-align: top;
		}

		.errmsg {
			font-weight: bold;
			font-size: 11px;
			color: #FF0000
		}

		body {
			font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
			/* chrome */
			-webkit-print-color-adjust: exact;
			/* mozila */
			-moz-print-color-adjust: exact;
			/* opera */
			-o-print-color-adjust: exact;
			/* ie */
			-ms-print-color-adjust: exact;
		}
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Customer Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('File Sharing List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<h5><?= $this->language->_('File Sharing List Detail'); ?></h5>
<div class="row content-box mb-3">
	<div class="col-md-12">
		<table class="table-striped my-3" cellpadding="5" style="width:100%">
			<tr>
				<td width="200"><?= $this->language->_('Company Code'); ?></td>
				<td width="10">:</td>
				<td><?= $this->data['CUST_ID']; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Company Name'); ?></td>
				<td>:</td>
				<td><?= $this->data['CUST_NAME']; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('File Description'); ?></td>
				<td>:</td>
				<td><?= $this->data['FILE_DESCRIPTION']; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Uploaded By'); ?></td>
				<td>:</td>
				<td><?= $this->data['FILE_UPLOADEDBY']; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Uploaded Date'); ?></td>
				<td>:</td>
				<td><?= $this->data['FILE_UPLOADED_TIME']; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Downloaded By'); ?></td>
				<td>:</td>
				<td><?= $this->data['FILE_DOWNLOADEDBY'] ?: '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('File Is Deleted'); ?></td>
				<td>:</td>
				<td><?= $this->data['FILE_DELETED']; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Deleted By'); ?></td>
				<td>:</td>
				<td><?= $this->data['FILE_DELETEDBY'] ?: '-'; ?></td>
			</tr>
		</table>
	</div>
</div>
<?php
$id = $this->data['FILE_ID'];
$back = $this->language->_('Back');
$pdf = $this->language->_('PDF');
$print = $this->language->_('Print');
?>
<?= $this->formButton('back', $back, array('id' => 'pdf', 'class' => 'btn mr-2', 'onclick' => "location.href='/filesharingreport'")); ?>
<?= $this->formButton('pdf', $pdf, array('class' => 'btn mr-2', 'onclick' => "location.href='/filesharingreport/index/detail/pdf/$id'")); ?>
<!-- <button onclick="openwindow(
	'<?php
		echo $this->url(array(
			'print' => 1,
			'data_filter' => $this->data_filter
		)) . $this->qstring ?>', screen.width, screen.height
	);
	return false;" class="btn mr-2">
	<i class="fa fa-print"></i> <?php echo $this->language->_("Print") ?>
</button> -->