
<style type="text/css">
	.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.amsify-select-tag{
	font-size: 0.8rem;
}

.amsify-suggestags-input{
	font-size: 0.8rem;
}
.tab-color{
	background-color: #007934!important;
	color: white!important;
}
</style>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span>Account Group</span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="inhouse"><?=$this->language->_('Manage Group Changes')?></span>
	                </li>

            	</ul>
        	</div>
      	</div>
    </div>

<br />
<script type="text/javascript">
	$(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
});
</script>
<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>


<?php
$count = count($this->data);
// print_r($count);die;
if(empty($count)){
  $total = '1';
}else{
  $total = $count;
}
?>
<input type="number" id="count" value="<?php echo $total ?>" style="visibility: hidden;">


<form name="Form" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'manageacctgroup'),null,true)?>" method="post">



<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<link rel="stylesheet" type="text/css" href="/css/amsify.suggestags.css">
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<script type="text/javascript" src="/js/jquery.amsify.suggestags.js"></script>


		<?php
		$sugest = '';
		$suggest = array();
		// echo "<pre>";
		// print_r($this->dataact);die;
		foreach($this->dataact as $key=>$row){
		// foreach($this->data as $row) {
				if(!empty($this->data[$key+1])){
					$sugest .= $row['ACCT_NO'].',';
					// $suggest[] = $row['ACCT_NO'];
					$suggest[] = $row['ACCT_NO'].'-'.$row['ACCT_ALIAS_NAME'];
				}else{
					$sugest .= $row['ACCT_NO'].',';
					// $suggest[] = $row['ACCT_NO'];
					$suggest[] = $row['ACCT_NO'].'-'.$row['ACCT_ALIAS_NAME'];
				}

		}
		// print_r($sugest);die;
		?>



<input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/>
<input type="hidden" id="sg" value="<?php foreach ($suggest as $val) echo $val.','; ?> ">



<div class="row">
	<div class="col-md-12">
		  <h5><?=$this->language->_('Account Group List')?></h5>

		  	<div class="table-responsive">
			    <table width="90%" align="center" id="wheres" class="table table-sm homeCardText">
			        <tr>
			            <th valign="top" style="width: 20%; text-align: center;">Group Name</th>
			            <th valign="top"></th>
			            <th valign="top">Accounts</th>
			            <th valign="top">Action</th>
			        </tr>
			       	<?php
			       		// echo "<pre>";
			       		// print_r($this->data);die;
			       		 foreach ($this->data as $key => $value) {

			       		?>
			       			<tr id="card<?php echo $key; ?>">
			       				<td><input type='text' class='nav-link active form-control' name='groupname[]' value='<?php echo $value['GROUP_NAME'];?>' style='background-color: transparent;border: 0px;margin-top: 10px; text-align: center;' /></td>
			       				<td width="20px"> <i style="margin-top: 10px;" class="fa fa-user-circle"></i> </td>
			       				<td>
			       					<?php
			       							if(!empty($value['acct'])){
			       								$listacct = '';
			       								$arracct = explode(",", $value['acct']);
			       								foreach ($arracct as $no => $val) {
			       									foreach($this->dataact as $numb =>$row){
			       										if($val == $row['ACCT_NO']){
			       											$acct = $val.'-'.$row['ACCT_ALIAS_NAME'];
			       											$listacct .= $acct.',';
			       										}
					       							}
			       								}
					       							
			       							}

			       							// var_dump($listacct);
			       							 // var_dump($key);
			       					?>
									<input style="box-sizing: border-box;
												-webkit-box-sizing: border-box;
												-moz-box-sizing: border-box;
												outline: none;
												display: block;
												width: 100%;
												padding: 7px;
												border: none;
												border-bottom: 1px solid #ddd;
												background: transparent;	"  type="text" class="control" name="color[]" id="color<?php echo $key; ?>" value="<?php echo $listacct?>" />
								</td>
								<td><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(<?php echo $key; ?>)'><i class='fa fa-times'></i></button></td>
			       			</tr>

			       			<script type="text/javascript">
								$(document).ready(function(){
								            	// console.info(suggest);
								                var key = '<?php echo $key?>';
								            $("input[id='color"+key+"']").amsifySuggestags({
								              type : 'amsify',
								              suggestions: suggest,
								              afterAdd:function(value){
								                //after add
								                suggest = arrayRemove(suggest, value);
								                $('#sg').val(suggest);
								                // console.info(suggest);
								                // console.info(suggest);

								              /*  sg = arrayRemove(sg, value);
								                $('#sg').val(sg);*/
								                
								              },
								              afterRemove:function(value){
								                //after remove
								                // var arrsug = $("input[id='color"+key+"']").val();
								                // console.info(arrsug);
								                suggest.push(value);
								                // console.info(suggest);
								                 // alert(suggest);
								                 // suggest = suggest;
								                $('#sg').val(suggest);
								                // console.info(suggest);
								               // refresharr();
								                // var suggest = suggest.split(",");
								                // console.info(suggest);
								              }
								            });

								          });
/*
								function returnAcct(val){
									var splitval = val.split(",");
									var value = "";
									for (var i = 0; i < splitval.length; i++) {
										if (splitval[i].includes("-")) {
											var splitval2 = splitval[i].split("-");
											value += splitval2[0];
										}
										value += splitval[i];
									}

									return value;						
								}*/

							</script>



			       	<?php 
			       		/*$tempColor[$value["GROUP_NAME"]] = $value["acct"];*/
			      	 } 
			      	 ?>
			    </table>
			</div>

<button type="button" class="btngrad hov" id="addwhere" onclick="myFunction();"><i class="fa fa-plus">&nbsp;</i>Add</button>
<br><br>

</div>
<br>
<div class="col-md-12">
<div class="card">
<!-- Default panel contents -->
<div class="card-header cardhead text-white">
		<?php echo $this->language->_('Notes');?>
</div>
<div class="card-body">
		<div class="container textBlack">
																	<?php
											echo $this->language->_('If you find the button is disabled, means this Group Account waiting for approval or you are not privilege')
										?>.
		</div>
</div>
</div>
<br/><br/>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

	<tr>
		<td class="button-area" id="button-area" colspan="5">
			<div class="formbutton">
				<input class = "btnwhite hov" type="button" onclick="location.href='/accountgroup/acctgrouplist'" value="<?php echo $this->language->_('Back')?>">
				<input type="submit" value="<?php echo $this->language->_('Submit')?>" name="submit" class="btngreen hov"/>
			</div>
		</td>
	</tr>
</tbody>
</table>
</div>



</form>
</div>

<script type="text/javascript">
	function refresharr(){
		var suggestarr = $('#sg').val();
		var sugarr = suggestarr.split(",");
		// console.info(sugarr);

		// document.cookie = "mysuggest = " + sugarr
		<?php
			// if(!empty($_COOKIE['mysuggest'])){
			// 	// var_dump($_COOKIE);
		 //     $suggest= $_COOKIE['mysuggest'];
			// }
		?>
	}
</script>

<script type="text/javascript">
	// let bool = '<?php echo $sugest ?>'.split(',');
	let suggest = JSON.parse('<?php echo json_encode($suggest) ?>');
	// console.info(suggest);
</script>



<script type="text/javascript">

	function arrayRemove(arr, value) {
		// alert(value);
	   return arr.filter(function(ele){
	       return ele != value;
	   });

	}
	
	/*var data = $('#sg').val();
	var count = data.split(',');
	var sg = [];

	for (var i = 0; i < count.length; i++) {
		sg.push(count[i]);
	}*/

	// $('input[name="color"]').amsifySuggestags({
	// 	type : 'amsify',
	// 	suggestions: suggest,
	// 	afterAdd:function(value){
	// 		//after add
	// 		suggest = arrayRemove(suggest, value);
	// 		$('#sg').val(suggest);
	// 		console.info(suggest);

	// 		sg = arrayRemove(sg, value);
	// 		$('#sg').val(sg);
			
	// 	},
	// 	afterRemove:function(value){
	// 		//after remove
	// 		suggest.push(value);
	// 		$('#sg').val(suggest);
	// 		console.info(suggest);
	// 		/*sg.push(value);
	// 		$('#sg').val(sg);*/
	// 	}
	// });

	function refresh(){
		/*var params = {
			type : 'amsify',
			suggestions: suggest
		};
		$('input[name="color"]').amsifySuggestags(params, 'refresh');*/

		$('input[name="color"]').amsifySuggestags({
			type : 'amsify',
			suggestions: suggest,
		}, 'refresh');
	}


	// $('input[id="color"]').amsifySuggestags({
	// 	type : 'amsify',
	// 	suggestions: suggest

	// });

	function myFunction() {
		// alert();

	}

	function removeParent(elem){
    // var parentname = elem.parentNode.parentNode.id;
    // alert(elem);
    // document.getElementById(parentname).remove();
    $("#card"+elem).remove();
}


	$("#addwhere").click(function() {
        var ctr = $("#count").val();
        // alert(ctr);
        ctr+1;


         $("#wheres").append("<tr id='card"+ctr+"'><td><input type='text' class='nav-link active form-control' name='groupname[]' value='' style='background-color: transparent;border: 0px;color: black; margin-top: 10px; text-align: center;' /></td><td width='20px'> <i style='margin-top: 10px;' class='fa fa-user-circle'></i> </td><td><input style='box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;display: block;width: 100%;padding: 7px;border: none;border-bottom: 1px solid #ddd;background: transparent;'type='text' class='control' name='color[]' id='color"+ctr+"' value=''/></td><td><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent("+ctr+")'><i class='fa fa-times'></i></button></td></tr>");
/*
        $("#wheres").append("<div class='card' id='card"+ctr+"'><div class='card-header cardhead text-white'><input type='text' class='nav-link active form-control' name='groupname[]' value='' style='background-color: transparent;border: 0px;color: white;' /></div><div class='card-body'><div class='row' id='where4 '><div class='container' style='width: 100%;min-height: 100px;'><div class='row'><div class='col-md-11'><div class='form-group responsive'><table class='col-md-12'><tr><td width='20px'> <i style='padding-bottom:15px' class='fa fa-user-circle'></i> </td><td><input style='box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;display: block;width: 100%;padding: 7px;border: none;border-bottom: 1px solid #ddd;background: transparent;	'  type='text' class='control' name='color' id='color"+ctr+"' value=''/></td></tr></table></div></div><div class='col-md-1'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent("+ctr+")'><i class='fa fa-times'></i></button></div></div></div></div></div></div>");*/

        // var wherecol = "#wherecol-"+ctr;
        // $("#wheres").append("<div class='row' id='where-"+ctr+"'><div clas='content-box item' style='width: 100%;min-height: 100px;'><ul class='nav nav-tabs'><li class='nav-item'><input type='text' class='nav-link active form-control' name='groupname[]' value=''/></li></ul><div class='row'><div class='col-md-11'><div class='form-group'><input type='text' style='min-height: 60px' class='form-control' name='color[]' id='color"+ctr+"' value=''/></div></div><div class='col-md-1'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent("+ctr+")'><i class='fa fa-times'></i></button></div></div></div></div>");
            // $('#wheres').append("<script>$('input[id='color']').amsifySuggestags({type : 'amsify',suggestions: suggest});<\/script>");
             var key = ctr;
								            $("input[id='color"+key+"']").amsifySuggestags({
								              type : 'amsify',
								              suggestions: suggest,
								              afterAdd:function(value){
								                //after add
								                suggest = arrayRemove(suggest, value);
								                $('#sg').val(suggest);
								                // console.info(suggest);

								              /*  sg = arrayRemove(sg, value);
								                $('#sg').val(sg);*/
								                
								              },
								              afterRemove:function(value){
								                //after remove
								                suggest.push(value);
								                $('#sg').val(suggest);
								                // console.info(suggest);
								                /*sg.push(value);
								                $('#sg').val(sg);*/
								              }
								            });
        ctr++;
           // $(document).ready(function(){

								            	// console.info(suggest);
								               
								          // });

    });
</script>
