<script language="javascript" type="text/javascript">
    function doTransfer() {
        console.log("test");
        var branch_code = [];
        var branch_name = [];
        $('table tbody tr').each(function() {
            var $tr = $(this);
            if ($tr.find('input[class="list"]').is(':checked')) {
                var $columns1 = $tr.find('td');
                var $columns2 = $tr.find('td').next('td');

                //console.log($tr.find('td'));
                branch_code.push($columns1.next('td').html());
                branch_name.push($columns2.next('td').html());

            }
        });

        //alert(all)
        window.opener.document.filterForm.branch_code_coverage.value = branch_code;
        window.opener.document.filterForm.branch_name_coverage.value = branch_name;
        window.opener.updateBrachName();

        opener.focus();
        self.close();
    }
</script>


<script>
    function checkAll() {
        $("div.check").hide();
        $("div.uncheck").show();
        $(".list").prop("checked", true);
    }

    function uncheckAll() {
        $("div.check").show();
        $("div.uncheck").hide();
        $(".list").prop("checked", false);
    }

    $(document).ready(function() {
        $("div.uncheck").hide();
        //$('#fixTable').fixTableHeader();
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        $(".checkAll").on("click", function() {
            if ($(this).is(":checked")) {
                checkAll();
                $(".tambah_button").prop("disabled", false);
            } else {
                uncheckAll();
                $(".tambah_button").prop("disabled", true);
            }
        });

        var checkboxes = $(".list"),
            submitButt = $(".tambah_button");

        checkboxes.change(function() {

            var isOneChecked = false;

            checkboxes.each(function() {
                if ($(this).is(':checked')) {
                    isOneChecked = true;
                }
            });

            if (isOneChecked) {
                submitButt.prop("disabled", false);
            } else {
                submitButt.prop("disabled", true);
                $(".checkAll").prop("checked", false);
            }

        });

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

        const save_coverage = window.opener.document.querySelector("#branch_name_coverage_display").value.split(',')

        Array.from(document.querySelector("table").children[0].children).forEach(item => {
            if (save_coverage.includes(item.children[2].textContent)) {
                if (item.children[0].querySelector("input[type='checkbox']")) {
                    item.children[0].querySelector("input[type='checkbox']").checked = true
                }
            } else {
                if (item.children[0].querySelector("input[type='checkbox']")) {
                    item.children[0].querySelector("input[type='checkbox']").checked = false
                }
            }
        })

    });
</script>
<div class="portlet-body flip-scroll table-responsive table-fixed" id="myTable">
    <div class="form-group">
        <div style="float:left">
            <h6><b>CAKUPAN AREA</b></h6>
        </div>
        <div style="float:right; padding-left:5px;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
            </div>
        </div>
    </div>
    </br>
    </br>
    <table class="table table-sm table-striped">
        <tr>
            <th width="5%" class="tablehead">
                <?php echo "Pilih"; //$this->formCheckbox('checkAll', '',array('class'=>'checkAll'));
                ?>
            </th>
            <?php echo $this->partial(
                'tableheader.phtml',
                array(
                    'fields' => $this->fields,
                    'sortBy' => $this->sortBy,
                    'sortDir' => $this->sortDir,
                    'query_string_params' => $this->query_string_params
                )
            ) ?>

        </tr>

        <?php
        $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

        if (count($this->paginator) > 0) {
            $i = 0;
            $z = 900;
            $y = 900;
            foreach ($this->selectold as $selectold) {
                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                // $attribut = array('class' => 'list','checked'=>'checked','disabled'=>'disabled');
                $attribut = array('class' => 'list', 'checked' => 'checked');
                echo '<tr>
            <td class="' . $td_css . '">' . $this->formCheckbox("req_id[$y]", $selectold['BRANCH_CODE'], $attribut) . '</td>
            <td class="' . $td_css . ' branch_code">' . $selectold['BRANCH_CODE'] . '</td>
            <td class="' . $td_css . '">' . $selectold['BRANCH_COVERAGE_NAME'] . '</td>
            <td class="' . $td_css . '">' . $selectold['BANK_COVERAGE_ADDRESS'] . '</td>
            <td class="' . $td_css . '">' . $selectold['CONTACT'] . '</td>
         </tr>';
                $z++;
                $y++;
            }
            foreach ($this->paginator as $row) {
                //var_dump($this->branch_name_coverage);
                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                if (array_key_exists($row['BRANCH_NAME'], $this->branch_name_coverage)) {
                    $attribut = array('class' => 'list', 'checked' => 'checked');
                } else {
                    $attribut = array('class' => 'list');
                }

                echo '<tr>
                    <td class="' . $td_css . '">' . $this->formCheckbox("req_id[$i]", $row['BRANCH_CODE'], $attribut) . '</td>
					<td class="' . $td_css . ' branch_code">' . $row['BRANCH_CODE'] . '</td>
                    <td class="' . $td_css . '">' . $row['BRANCH_NAME'] . '</td>
					<td class="' . $td_css . '">' . $row['BANK_ADDRESS'] . '</td>
					<td class="' . $td_css . '">' . $row['CONTACT'] . '</td>
				 </tr>';


                $i++;
                $counter++;
            }
        } else {
            echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> -- No Data -- </td></tr>';
        }
        ?>
    </table>
</div>
<br />

<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
<div align="center">
    <button onclick="doTransfer()" class="btngreen hov tambah_button">Tambah</button>

</div>