<form name="payment" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="padding: 0pt 0pt 0pt 20px;">
					<img src="biller_001_view.php_files/logo_garuda.gif" alt="Garuda Indonesia">
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<div class="tdform-sub"><?php echo $this->language->_('Client Form'); ?></div>
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr><td colspan="3">&nbsp;</td></tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent" width="150px">
									<?php echo $this->language->_('Enter Payment Code'); ?><strong class="formreq">&nbsp;*&nbsp;</strong>
								</td>
								<td class="tbl-evencontent" id="tbl-evencontent">: </td>
								<td class="tbl-evencontent" id="tbl-evencontent">
									<input name="BOOKING_CODE" size="13" maxlength="13" class="textbox_std1" onkeypress="this.value=ignoreSpaces(this.value); return checkNumber(event); return false;" type="text">
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="tbl-evencontent">: </td>
								<td class="tbl-evencontent" id="tbl-evencontent">
									<select name="ACCTSRC">	
										<option selected="selected" value=""><?php echo $this->language->_('select source account'); ?></option>
										<option value="1290001537~JOSHUA ADISETYA DHARMAWAN~IDR"><?php echo $this->language->_('1290001537 '); ?>[IDR] - <?php echo $this->language->_('JOSHUA ADISETYA DHARMAWAN'); ?></option>
										<option value="1290001523~VENNY~IDR"><?php echo $this->language->_('1290001523 '); ?>[IDR] -<?php echo $this->language->_(' VENNY'); ?></option>
									</select>
								</td>
							</tr>
							<tr><td colspan="3">&nbsp;</td></tr>
							<tr>
								<td class="button-area" id="button-area" colspan="3">
									<div class="formbutton">
										<input class="inputbtn" value="next" onclick=" JavaScript:proceed('create-step2', '', '');this.disabled = true;" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
