<script type="text/javascript">

</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Special Charges Setting'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>
<h5><?=$this->language->_('Special Charges Settings')?></h5>
<h6>Manage special charge setting</h6>
<style>
.accordionDiv{
  background-color: #e0dede;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
}

.iconCircle{
  margin-right: 8px;
  margin-top: 5px;
  background-color: #85878a;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed !important;
}
</style>


<div class="row">
  
    
    
    
    
    
  <div class="col-md-12">
           

          <div class="col-md-12 p-0 mb-4 mt-1" style="background-color: #ffffff !important;" id="realDiv">
      
             
            <table class="col-md-12 table table-sm">
      <tr>
        <th>Transfer Type</th>
        <th>Global Charges (Default Charges)</th>
        <th>Special Charges</th>
      </tr>
                <tr>
                  <th width="45%">Inhouse (IDR)</th>
                  <td>IDR <?php echo Application_Helper_General::displayMoney($this->pbglobal) ?></td>
          <td>IDR <?php echo Application_Helper_General::displayMoney($this->pbspecial) ?></td>
                </tr>
        <?php foreach ($this->domglobal as $valm) { ?>
                <tr>
                  <th width="45%"><?php echo $this->pstype[$valm['CHARGES_TYPE']]; ?></th>
                  <td><?php echo $valm['CHARGES_CCY'].' '.Application_Helper_General::displayMoney($valm['CHARGES_AMT']); ?></td>
          <td>
          <?php foreach ($this->domspecial as $vals) {
              if($vals['CHARGES_TYPE'] == $valm['CHARGES_TYPE']){
                
            ?>
              <?php echo $vals['CHARGES_CCY'].' '.Application_Helper_General::displayMoney($vals['CHARGES_AMT']); ?>
          <?php 
            }
          } ?>
          </td>
                </tr> 
        <?php } ?>
               
            </table>
      <input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'charges','controller'=>'setcompanychargesdetail','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="btnwhite hov" value="Back">
    &nbsp;&nbsp;
      <?php  
    //var_dump($this->edit);
    if($this->edit == '1'){ 
    $btn_edit = $this->url(array('module' => 'charges', 'controller' => 'specialchargeedit', 'action' => 'index'), null, true);
        echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btnwhite hov '.$this->changestatuspb ,'disable'=> $this->changestatuspb));
    
    }else{
    ?>
      <div class="errmsg"><i>*<?php echo $this->language->_('No changes allowed for this record while awaiting approval for previous change'); ?></i></div>
    <?
    }
    ?>
    <div class="errmsg"><?php echo $this->errorpb ?></div>
        
          </div>
        </div>  

</div>
