<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Customer Setup'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Customer User'); ?>
        </li>
        <li>
          <?php echo $this->language->_('Detail'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>
<?php

require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;

$encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
$enccustid = urlencode($encrypted_custid);

$encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
$encuserid = urlencode($encrypted_userid);

if ($this->cust_id && $this->user_id) {
  $temp_status = array(
    1 => $this->status_type['desc']['approved'],
    2 => $this->status_type['desc']['suspended'],
    3 => $this->status_type['desc']['delete']
  );

  if (isset($temp_status[$this->user_status]))  $status = $temp_status[$this->user_status];
  else $status = ' N/A ';

  $yesNo = array('1' => $this->language->_('Yes'), '0' => $this->language->_('No'), '' => $this->language->_('No'));

  if (!is_null($this->user_is_webservices) || $this->user_is_webservices != '')  $user_is_webservices = $yesNo[$this->user_is_webservices];
  else  $user_is_webservices = ' N/A ';

  /*if(!is_null($this->user_failed_attempt) || $this->user_failed_attempt != '')  $user_failed_attempt = $yesNo[$this->user_failed_attempt];
  else  $user_failed_attempt = ' N/A ';*/

  if (empty($this->user_failed_attempt))  $user_failed_attempt = 0;
  else  $user_failed_attempt = $this->user_failed_attempt;

  if (!is_null($this->user_is_locked) || $this->user_is_locked != '') {
    $user_is_locked = $yesNo[$this->user_is_locked];
    if ($this->user_is_locked) $user_is_locked .= '<br />' . $this->lock_reason;
  } else {
    $user_is_locked = ' No ';
  }

  if (!is_null($this->user_is_login) ||  $this->user_is_login != '')    $user_is_login = $yesNo[$this->user_is_login];
  else   $user_is_login = ' No ';

?>


  <!----- message success utk reset password ------>
  <?php if ($this->resetMsgSucces) { ?>
    <div class="successmsg"><?= $this->resetMsgSucces ?></div><br />
  <?php } ?>
  <!--- END message success utk reset password ------>

  <h5><?= $this->language->_('Customer User') ?></h5>
  <div class="row content-box">
    <div class="portlet-body form col-md-8">
      <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="600px">

        <tr>
          <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Profile'); ?></strong></th>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('companycode', $this->language->_('Company Code')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('companycode', $this->cust_id); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('company', $this->language->_('Company Name')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('company', $this->cust_name); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', $this->language->_('User ID')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('user_id', $this->user_id); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->language->_('User Name')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_name', $this->user_name); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('status', 'Status'); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('status', $this->language->_($status)); ?></td>
        </tr>


        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', 'Email'); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->user_email); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone', $this->language->_('Phone Number')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone', $this->user_phone); ?></td>
        </tr>

        <!-- <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext', $this->language->_('Extension')); ?></td>
        <td class="tbl-evencontent"><label>:</label></td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext', $this->user_ext); ?></td>
        </tr>
		<tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_debitnumber', 'User Debit Card Number'); ?></td>
        <td class="tbl-evencontent"><label>:</label></td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_debitnumber', $this->debitarr); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('token_id', 'Token ID'); ?></td>
        <td class="tbl-evencontent"><label>:</label></td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('token_id', $this->token_id); ?></td>
        </tr> -->

        <!--   <tr>
          <td class="tbl-evencontent"><?php //echo $this->formLabel('user_is_webservices','Webservice User'); 
                                      ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php //echo $this->formLabel('user_is_webservices',$user_is_webservices); 
                                    ?></td>
        </tr> -->

        <!-- <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('User is Email')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->userIsEmail); ?></td>
        </tr> -->

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_failed_attempt', $this->language->_('Failed login attempt(s)')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_failed_attempt', $user_failed_attempt); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_is_locked', $this->language->_('User is Locked')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent">
            <?php echo $user_is_locked; ?>
          </td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_islogin', $this->language->_('User is Logged in')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_islogin', $user_is_login); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Login')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', Application_Helper_General::convertDate($this->user_lastlogin, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
        </tr>



        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Created Date')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', Application_Helper_General::convertDate($this->user_created, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Created By')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->user_createdby); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Suggestion')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', Application_Helper_General::convertDate($this->user_suggested, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Suggester')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->user_suggestedby); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Approval')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', Application_Helper_General::convertDate($this->user_updated, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->language->_('Last Approver')); ?></td>
          <td class="tbl-evencontent"><label>:</label></td>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', $this->user_updatedby); ?></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row content-box">
    <div class="portlet-body form col-md-8">
      <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="600px">
        <!----------------------------------------------------USER ROLE ---------------------------------------------------------->

        <?php if ($this->user_role) { ?>
          <tr>
            <td class="tbl-evencontent" colspan="3"><?php echo $this->language->_($this->user_role); ?></td>
          </tr>
        <?php } ?>
        <!--------------------------------------------------END USER ROLE -------------------------------------------------------->





        <td class="tbl-evencontent" colspan="3"><b><?php echo $this->language->_('Privilege List'); ?></b></td>

        <!----------------------------------------------------PRIVILEGE ---------------------------------------------------------->
        <tr>
          <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Function'); ?></strong></th>
        </tr>


        <?php
        if (count($this->priviList) > 0) {
          foreach ($this->priviList as $privi) {
            if (isset($this->priviAll[$privi]) && !(empty($this->priviAll[$privi]))) {
        ?>
              <tr>
                <td class="tbl-evencontent" colspan="3"><?php echo $this->language->_($this->priviAll[$privi]); ?></td>
              </tr>
        <?php
            }
          }
        } else {
          echo "<tr><td align='center' class='tbl-evencontent' colspan='3'>-" . $this->language->_('No Privilege') . " -</td></tr>";
        }
        ?>
      </table>

      <!--------------------------------------------------  END PRIVILEGE --------------------------------------------------->
      </table>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-12">
      <div>
        <?php
        //$backButton =  $this->url(array('module'=>'user','controller'=>'custlist','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'' . $this->backURL . '\'', 'class' => 'btnwhite hov'));

        //if($this->hasPrivilege('cust_user_inp'))
        //{
        echo '&nbsp;&nbsp;';

        if ($this->user_status != 3) {
          if ($this->user_temp) {
            if ($this->hasPrivilege('CSUD')) {
              $btn_delete = $this->url(array('module' => $this->modulename, 'controller' => 'delete', 'action' => 'index', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
              echo $this->formButton('delete', $this->language->_('Delete'), array('onclick' => 'confirmation(\'' . $this->language->_('Delete this record?') . '\',\'' . $btn_delete . '\')', 'class' => 'btnwhite hov'));
            } else {
              echo '<input type="button" value="' . $this->language->_('Delete') . '" disabled class="btnwhite disabled" style="cursor: not-allowed">';
            }
            echo '&nbsp;&nbsp;';
            if ($this->hasPrivilege('CSUD')) {
              $btn_edit = $this->url(array('module' => $this->modulename, 'controller' => 'edit', 'action' => 'index', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
              echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btngreen hov'));
            } else {
              echo '<input type="button" value="' . $this->language->_('Edit') . '" disabled class="btnwhite disabled" style="cursor: not-allowed">';
            }

            echo '&nbsp;&nbsp;';
            if ($this->user_status == 1) {
              if ($this->hasPrivilege('CSSP')) {
                $btn_suspend = $this->url(array('module' => $this->modulename, 'controller' => 'deactivate', 'action' => 'index', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
                echo $this->formButton('deactivate', $this->language->_('Suspend'), array('onclick' => 'confirmation(\'Suspend this user?\',\'' . $btn_suspend . '\')', 'class' => 'btngreen hov'));
                // echo $this->formButton('deactivate', $this->language->_('Suspend'), array('onclick' => 'location.href=\'' . $btn_suspend . '\'', 'class' => 'btngreen hov'));
              } else {
                echo '<input type="button" value="' . $this->language->_('Suspend') . '" disabled class="btnwhite disabled" style="cursor: not-allowed">';
              }
            } else if ($this->user_status == 2) {
              if ($this->hasPrivilege('CSSP')) {
                if ($this->user_pass) {
                  $btn_unsuspend = $this->url(array('module' => $this->modulename, 'controller' => 'activate', 'action' => 'index', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
                  echo $this->formButton('activate', $this->language->_('Unsuspend'), array('onclick' => 'confirmation(\'Unsuspend this user?\',\'' . $btn_unsuspend . '\')', 'class' => 'btngreen hov'));
                  // echo $this->formButton('activate', $this->language->_('Unsuspend'), array('onclick' => 'location.href=\'' . $btn_unsuspend . '\'', 'class' => 'btngreen hov'));
                } else {
                  echo '<input type="button" value="' . $this->language->_('Unsuspend') . '" readonly class="btnwhite disabled" style="cursor: not-allowed" data-toggle="tooltip" data-placement="top" title="' . $this->language->_('Tidak diperkenankan melakukan Unsuspend. Menunggu aktivasi Akun oleh User') . '">';
                }
              } else {
                echo '<input type="button" value="' . $this->language->_('Unsuspend') . '" disabled class="btnwhite disabled" style="cursor: not-allowed">';
              }
              echo '&nbsp;&nbsp;';
            }
          } else {
            echo $this->language->_('No changes allowed for this record while awaiting approval for previous change.');
          }

          //btn new resend
          if ($this->user_temp) {
            if ($this->statusreset) {
              if ($this->hasPrivilege('CSRP')) {
                if (empty($this->user_pass)) {
                  $btn_pass = $this->url(array('module' => $this->modulename, 'controller' => 'view', 'action' => 'resend', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
                  // echo $this->formButton('resendpass', $this->language->_('Resend Password'), array('onclick' => 'location.href=\'' . $btn_pass . '\'', 'class' => 'btnwhite hov'));
                  echo $this->formButton('resendpass', $this->language->_('Resend Password'), array('class' => 'btnwhite hov'));
                  echo '&nbsp;&nbsp;';
                  echo '<span class="text-danger" id="timerResendPassword"></span>';
                }
              }
            }
          }


          echo '&nbsp;&nbsp;';

          if ($this->user_islogin == 1) {
            if ($this->hasPrivilege('CSFL')) {
              $btn_forceLog = $this->url(array('module' => $this->modulename, 'controller' => 'forcelog', 'action' => 'index', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
              echo $this->formButton('force_logout', $this->language->_('Force Logout'), array('onclick' => 'confirmation(\'Are you sure want to force logout this User?\',\'' . $btn_forceLog . '\')', 'class' => 'btngreen hov'));
            } else {
              echo '<input type="button" value="' . $this->language->_('Force Logout') . '" disabled class="btnwhite disabled">';
            }
          }

          echo '&nbsp;&nbsp;';
          echo '<br /><br />';
          // if($this->statusreset || $this->user_is_locked == 1)
          if ($this->statusreset) {
            if ($this->hasPrivilege('CSRP')) {
              if (empty($this->user_pass)) {
                //  $btn_pass = $this->url(array('module'=>$this->modulename,'controller'=>'view','action'=>'resend','cust_id'=>$enccustid,'user_id'=>$encuserid),null,true); 
                // echo $this->formButton('resendpass',$this->language->_('Resend Password'),array('onclick'=>'location.href=\''.$btn_pass.'\'','class'=>'btnwhite hov'));
              } else {
                $btn_pass = $this->url(array('module' => $this->modulename, 'controller' => 'Unlockandreset', 'action' => 'index', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true);
                echo $this->formButton('resetpass', $this->language->_('Unlock/Reset Password'), array('onclick' => 'location.href=\'' . $btn_pass . '\'', 'class' => 'btngreen hov'));
              }
            } else {
              echo '<input type="button" value="' . $this->language->_('Unlock/Reset Password') . '" disabled class="btnwhite disabled">';
            }
          } else {
            echo '<i>';
            echo $this->language->_('Can not request unlock/Reset Password. (Currently waiting previous request approval)');
            echo '</i>';
          }
        }




        /* if($this->user_status == 1 && $this->user_temp)
         {
           $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
           echo $this->formButton('edit','Edit',array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'btnwhite disabled'));
         }
         else
         {
           echo $this->formButton('edit','Edit',array('disabled'=>true,'class'=>'disabledbtn'));
         }
      // }

       //if($this->hasPrivilege('cust_user_inp'))
       //{
         echo '&nbsp;&nbsp;';

         if($this->user_status == 1)
         {
           if($this->user_temp)
           {
             $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
             echo $this->formButton('deactivate','Suspended',array('onclick'=>'confirmation(\'Are you sure want to deactivate this User?\',\''.$btn_active.'\')','class'=>'btnwhite disabled'));
           }
           else
           {
             echo $this->formButton('deactivate','Suspended',array('disabled'=>true,'class'=>'disabledbtn'));
           }
         }
         else if($this->user_status == 2)
         {
           if($this->user_temp)
           {
             $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
             echo $this->formButton('activate','Unsuspend',array('onclick'=>'confirmation(\'Are you sure want to activate this User?\',\''.$btn_active.'\')','class'=>'btnwhite disabled'));
           }
           else
           {
             echo $this->formButton('activate','Unsuspend',array('disabled'=>true,'class'=>'disabledbtn'));
           }
         }
       //}


        echo '&nbsp;&nbsp;';

        if($this->user_temp)
        {
            $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
            echo $this->formButton('delete','Delete',array('onclick'=>'confirmation(\'Are you sure want to delete this User?\',\''.$btn_active.'\')','class'=>'btnwhite disabled'));
        }
        else
        {
            echo $this->formButton('delete','Delete',array('disabled'=>true,'class'=>'disabledbtn'));
        }*/




        /* if($this->hasPrivilege('cust_user_app'))
       {
         $btn_pass = $this->url(array('module'=>$this->modulename,'controller'=>'resetpass','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
         echo '<br /><br />';
         echo $this->formButton('resetpass','Reset Password',array('onclick'=>'location.href=\''.$btn_pass.'\'','class'=>'btnwhite disabled'));

         if($this->user_islogin == strtoupper($this->login_type['code']['yes']))
         {
           $btn_login = $this->url(array('module'=>$this->modulename,'controller'=>'forcelog','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
           echo '&nbsp;&nbsp;';
           echo $this->formButton('forcelog','Force Logout',array('onclick'=>'location.href=\''.$btn_login.'\'','class'=>'btnwhite disabled'));
         }
       }*/
        ?></div>
    <?php } else { ?>
      <div id="content">- no data -</div>
    <?php } ?>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      $('[data-toggle="tooltip"]').tooltip();
    });

    $('#resendpass').click(function() {
      $(this).addClass('disabled').attr('disabled', true);

      $.ajax({
        url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'view', 'action' => 'resend', 'cust_id' => $enccustid, 'user_id' => $encuserid), null, true) ?>",
        type: 'GET',
        dataType: "html",
        success: function(data) {},
        error: function(err) {
          console.log(err)
        }
      });

      let count = 60,
        timer = setInterval(function() {
          $("#timerResendPassword").text(`Dapat kirim ulang password dalam ${count--} detik`);
          if (count < 0) {
            $("#timerResendPassword").text('');
            $('#resendpass').removeClass('disabled').attr('disabled', false);
            clearInterval(timer)
          };
        }, 1000);

    })
  </script>