	<script language="javascript" type="text/javascript">
	function doTransfer(cust_acct,cust_name,cust_sid,cust_sre,cust_address,cust_state,cust_city,cust_zip,cust_country,cust_phone,cust_email)
	{
		//alert(user_id);
		//window.opener.document.payment.ACBENEF_FULL.value = ACBENEF+" ("+CURR_CODE+")"+" - "+ACBENEF_ALIAS+" - "+ACBENEF_BANKNAME;
		//window.opener.document.payment.ACBENEF_ID.value = ACBENEF_ID;
		
		//window.opener.document.Form.cust_id.value = cust_id;
		// window.opener.document.Form.ACTSRC.value = cust_cif;
		// window.opener.document.Form.ACTSRC.value = cust_acct;
		window.opener.document.Form.ACTSRC.value = cust_acct;
		window.opener.document.Form.ACCT_NAME.value = cust_name;
		window.opener.document.Form.SID.value = cust_sid;
		window.opener.document.Form.SRE.value = cust_sre;
		window.opener.document.Form.ADDRESS.value = cust_address;
		window.opener.document.Form.STATE.value = cust_state;
		window.opener.document.Form.CITY.value = cust_city;
		window.opener.document.Form.ZIPCODE.value = cust_zip;
		window.opener.document.Form.COUNTRY.value = cust_country;
		window.opener.document.Form.EMAIL.value = cust_email;
//		//window.opener.document.Form.user_country.value = user_country;
		window.opener.document.Form.PHONE.value = cust_phone;
		
	  opener.focus();
	  self.close();
	}
	</script>
<?php 
//echo '<a href="javascript:doTransfer(\''.$useridNew.'\',\''.$this->paramSession['Cif'].'\',\''.$this->paramSession['Email'].'\',\''.$this->paramSession['AccountName'].'\',\''.$this->paramSession['Phone'].'\',\''.$this->paramSession['Address'].'\',\''.$this->paramSession['State'].'\')" class="inputbtn">'.$this->language->_('Submit').'</a>';
?>

<b><?php echo $this->language->_('RDN Investor'); ?> &gt; <?php echo $this->language->_('Add RDN Investor'); ?> </b><br>
<h3><?php echo $this->language->_('Add RDN Investor'); ?></h3>
<font color='red'><b><?php echo $this->message;?></b></font><br>
<?php $useridNew = $this->useridNew;?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Search CIF'); ?></strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Account Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php echo $this->paramSession['acct_no'];?>
	  </td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Investor Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	   <?php echo $this->paramSession['AccountName'];?>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('SID')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	 
	   <?php echo $this->paramSession['SID'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('SRE')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	
	  <?php echo $this->paramSession['SRE'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Address')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php echo $this->paramSession['Address'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('State/Province')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	 
	  <?php echo $this->paramSession['State'];?>
	  </td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('City')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php echo $this->paramSession['City'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Zip Code')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  
	  <?php echo $this->paramSession['Zipcode'];?>
	  </td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Country')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  
	  <?php echo $this->paramSession['Country'];?>
	  </td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Phone Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  
	  <?php echo $this->paramSession['Phone'];?>
	  </td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Email')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  
	  <?php echo $this->paramSession['Email'];?>
	  </td>
    </tr>
    
    <tr><td colspan="3" align="left">
      
	  <?php echo $this->formSubmit('back',$this->language->_('Back'),array('class'=>'inputbtn')); ?>
	  <?php echo $this->formReset('next',$this->language->_('Submit'),array('class'=>'inputbtn','Onclick'=>"javascript:doTransfer(\"".$this->paramSession["acct_no"]."\",\"".$this->paramSession["AccountName"]."\",\"".$this->paramSession["SID"]."\",\"".$this->paramSession["SRE"]."\",\"".$this->paramSession["Address"]."\",\"".$this->paramSession["State"]."\",\"".$this->paramSession["City"]."\",\"".$this->paramSession["Zipcode"]."\",\"".$this->paramSession["Country"]."\",\"".$this->paramSession["Phone"]."\",\"".$this->paramSession["Email"]."\")")); ?>
	  <?php 
	  //user_id,user_cif,email,user_fullname,user_mobile_phone,user_address,user_country
	  //echo '<a href="javascript:doTransfer(\''.$useridNew.'\',\''.$this->paramSession['Cif'].'\',\''.$this->paramSession['Email'].'\',\''.$this->paramSession['AccountName'].'\',\''.$this->paramSession['Phone'].'\',\''.$this->paramSession['Address'].'\',\''.$this->paramSession['City'].'\',\''.$this->paramSession['State'].'\')" class="inputbtn"><font color="white">'.$this->language->_('Submit').'</font></a>';
	  ?> 
    </td></tr>
  </table>
</form>
