	<script language="javascript" type="text/javascript">
	function tutup()
	{
	  self.close();
	}
	</script>
	
<b><?php echo $this->language->_('Customer Setup'); ?> &gt; <?php echo $this->language->_('Customer'); ?> &gt; <?php echo $this->language->_('Add Customer'); ?> &gt; <?php echo $this->language->_('Populate Data'); ?></b><br>
<h3><?php echo $this->language->_('Customer Management'); ?></h3>
<font color='red'><b><?php echo $this->language->_($this->message);?></b></font><br><br>


<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="5" cellspacing="0" border="0" class="tableform" width="500px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Search CIF'); ?></strong></th></tr>
    <tr>
    	<td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Account Number'),array('class'=>'m-0')); ?><span class="errmsg">&nbsp;*</span>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  
//	  echo $this->formText("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30,'onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"AlnumOnly(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"));
	  echo $this->formText('acct_no',$this->acct_no,array('maxlength'=>20,'size'=>30,'onfocus'=>'forceCurrency(this.value,this.id)','onkeypress'=>'return forceCurrency(event)','class'=>'form-control'));
	  
	   ?>
	  </td>
    </tr>

    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('back',$this->language->_('Back'),array('class'=>'btnwhite hov mt-4','onclick'=>'javascript:tutup()')); ?>
	  <?php //echo $this->formSubmit('next',$this->language->_('Next'),array('class'=>'inputbtn')); ?>
	  
	  	<input type="submit" name='next' class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Next')?>"/>
		<input type="submit" class="btngreen hov" id="Submit_id" name="next" value="<?php echo $this->language->_('Next')?>" disabled style="display:none"/>
		<script>
		function submitbtn(){
			document.getElementById("subbutton").style.display ="none";
			document.getElementById("Submit_id").style.display ="inline";
		}
		</script>
	  
	  
      <?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
    </td></tr>
  </table>
</form>