<script type="text/javascript">
  $(document).ready(function(){

      $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
          $(".file-upload").removeClass('active');
          $("#noFile").text("No file chosen...");
        }
        else {
          $(".file-upload").addClass('active');
          $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
      });

  });
  
</script>
<script language="javascript" type="text/javascript">
  function tutup()
  {
    self.close();
  }
</script>

<div class="tabheader" style="color: grey !important;" id="tabheader">
  <?php echo $this->language->_('Transaction > RDN Transfer > Manage > Document Detail'); ?>
</div>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

<!-- <?php

    $PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'newbatchpayment','controller'=>'document','action'=>'download','PS_FILE'=>$this->ps_file),null,true).'">'.'<u style="color: blue; text-align: right;"><i>'.$this->language->_('download').'</i></u>'.'</a>';
    
  ?> -->
  <h5><?php echo $this->language->_('Document Upload Detail');?></h5>

  <br>
  <div>

    <?php

    if ($this->ps_type == 22) {
      $paymenttype = 'Many to many';
      $effectivedate = '-';
      $paymentsubject = 'No payment subject';
    }else{
      $paymenttype = $this->paymentType['desc'][$this->paymentTypeFlip[$this->ps_type]];
      $effectivedate = Application_Helper_General::convertDate($this->ef_date,$this->viewDateFormat,$this->defaultDateFormat);
      $paymentsubject = $this->ps_subject;
    }


    ?>
    
    <table cellpadding="0" cellspacing="0" border="0" class="table table-sm" style="width:500px">
     
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('Transfer_Type',$this->language->_('Transfer Type')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent">RDN</td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('File_Upload_ID',$this->language->_('Payment Subject')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent"><?=$paymentsubject?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('Last_Uploaded_By',$this->language->_('Last Uploaded By')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent"><?php echo $this->pdfUserlist[$this->upload_by].' ('.Application_Helper_General::convertDate($this->ps_uploaded,$this->displayDateTimeFormat,$this->defaultDateFormat).')'; ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('User_Role',$this->language->_('Effective Date')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent"><?=$effectivedate?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('User_Role',$this->language->_('Total Amount/Data')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent"><?php echo $this->ps_ccy.' '.Application_Helper_General::displayMoney($this->total_amount).' ('.number_format($this->ps_tot).')'; ?></td>
      </tr>
       <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('User_Role',$this->language->_('Success Amount/Data')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent"><?php echo $this->ps_ccy.' '.Application_Helper_General::displayMoney($this->success_amount).' ('.number_format($this->ps_suc).')'; ?></td>
      </tr>
       <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('User_Role',$this->language->_('Failed Amount/Data')); ?></td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent" style="color: red !important;"><?php echo $this->ps_ccy.' '.Application_Helper_General::displayMoney($this->failed_amount).' ('.number_format($this->ps_fai).')'; ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent">
            
          <?=$this->download2?>
          
        </td>
        <td class="tbl-evencontent"></td>
        <td class="tbl-evencontent"></td>
      </tr>
    </table>
</div>
<br>

<?php 
if ($this->validation == 1) { ?>
    
  <div align="center">
    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/rdntrans/bulkcredit\'','class'=>'btnwhite hov')); ?>
  </div>
  <br>
  <br>

<?php
}else{
 ?>   

  <form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'document'),null,true)?>" enctype="multipart/form-data">
      
      <input type="hidden" name="ps_type" value="<?=$this->ps_type; ?>"/>
      <input type="hidden" name="ps_subject" value="<?=$this->ps_subject; ?>"/>
      <input type="hidden" name="ef_date" value="<?=$this->ef_date; ?>"/>
      <input type="hidden" name="bs_id" value="<?=$this->bs_id; ?>"/>
      <input type="hidden" name="source_acct" value="<?=$this->source_acct; ?>"/>
      <input type="hidden" name="file_id" value="<?=$this->file_id; ?>"/>
      <input type="hidden" name="beneficiary_acct" value="<?=$this->beneficiary_acct; ?>"/>
      <input type="hidden" name="beneficiary_name" value="<?=$this->beneficiary_name; ?>"/>
      <input type="hidden" name="beneficiary_ccy" value="<?=$this->beneficiary_ccy; ?>"/>
      <div>
          <div>
              <h5><?php echo $this->language->_('Reupload Document');?></h5>
          </div>
       
          <div class="form-group row">
                    
            <div class="col-md-6">
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div>
                    <input type="file" name="PS_FILE" id="chooseFile">
                  </div>
                </div>
            </div>
          </div>
            
      </div>
      <br>
      <div align="center">
        
          <!-- <?php echo $this->formSubmit('Cancel',$this->language->_('Cancel'),array('class'=>'btnwhite hov','onclick'=>'javascript:tutup()')); ?> -->
          <?php echo $this->formButton('Cancel',$this->language->_('Cancel'),array('onclick'=>'location.href=\'/newbatchpayment/index\'','class'=>'btnwhite hov')); ?>
          <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>

      </div>
    <br>
    <br>
  </form>

<?php
}
?>