<?php 
require_once 'General/SystemBalance.php';
?>

<table class="table-sm table-responsive tableform" style="width:100%">
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('Deposit Number'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['accountNo']?></td>
  </tr>
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('Account Name'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['accountName']?></td>
  </tr>
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('CCY'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['currency']?></td>
  </tr>
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('Amount'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['amount']?></td>
  </tr>
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('Interest Rate'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['interestRate']?></td>
  </tr>
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('Start Date'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['createDate']?></td>
  </tr>
  <tr>
    <td style="width: 150px;"><?php echo $this->language->_('Period'); ?></td>
    <td style="width: 350px;"><?= $this->dDeposit['createDate'] . ' - ' . $this->dDeposit['dueDate']?></td>
  </tr>
</table>
