<h3><?=$this->language->_('Holiday Changes Detail')?></h3>
<?php
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('class' => 'col-md-12' , 'changes_id' => $this->changes_id));
?>
<br />

<br /><br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<Strong><?php echo $this->language->_('Proposed Holiday List'); ?></Strong><hr />

<div class="table-responsive">
  <table width="50%" cellpadding="2" cellspacing="0" border="0" class="table-sm table-striped tableform">
      <tr>
        <th><strong><?php echo $this->language->_('Date'); ?></strong></th>
        <th><strong><?php echo $this->language->_('Description'); ?></strong></th>
      </tr>
      <?php if(!$this->newdata){?>
      <tr>
        <td class="tbl-evencontent" colspan="2" align="center"><div> - </div></td>
      </tr>
       <?php }else{
            $i = 0;
        $counter = 1;
            foreach($this->newdata as $row){
        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';?>
      <tr>
        <td class="<?=$td_css?>" ><?php //echo Application_Helper_General::convertDate($row['HOLIDAY_DATE'],'Y F d','yyyy-MM-d');
                                                   echo date('Y F d',strtotime($row['HOLIDAY_DATE'])); ?></td>
        <td class="<?=$td_css?>" ><?=$row['HOLIDAY_DESCRIPTION']?></td>
      </tr>
      <?php }}?>
  </table>
</div>

</form>
<br />
<br />
  <?php
	echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
	?>
