<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
    //pengaturan error messages
	<?php 
	     foreach($this->custAcct_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>

	  
});

function resetData()
{ 
	$('#acct_email').val('<?php echo $this->acct_email; ?>');
	 
}


</script>




<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Suggestion'); ?> - <?php echo $this->language->_('Customer'); ?></div>
<?php

if($this->changes_id)
{
 
?>


<?php if(count($this->custAcct_msg) > 0){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
<?php } ?>


<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Repair Suggestion Customer'); ?></strong></th></tr>
  <tr><td colspan="5" class="tbl-evencontent"><b><?php echo $this->language->_('Customer'); ?></b></td></tr>

<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index'),null,true)?>">
 
   <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_("Approver's Note"); ?></td>
      <td class="tbl-evencontent"></td>
      <td colspan="3" class="tbl-evencontent">N/A</td>
   </tr>
 
 
   <tr>
	  <td class="tbl-evencontent">&nbsp;</td>
	  <td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
   </tr>
    
    
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->language->_('Account Number')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->acct_no); ?></td>
    </tr>
    
     <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->language->_('Currency')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->ccy_id); ?></td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->cust_name); ?></td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email',$this->language->_('Email Address')); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	     <?php echo $this->formText('acct_email',$this->acct_email,array('maxlength'=>128,'size'=>50)); ?>
	     <div id="error_acct_email" class="errmsg"></div>
	  </td>
    </tr>
  
  	<tr>
		<td class="tbl-evencontent" colspan="3">
			<div id="notesPage">
				<div class="tdform-sub">Notes:</div>
				<div class="tbl-evencontent">																		
					<?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon (;).');?><br>
					<?php echo $this->language->_('For example');?> : wirda@gmail.com;gunawan@yahoo.com
				</div>
			</div>
     	</td>
	</tr>
</table>

<br />


<div><?php
  echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));
  echo '&nbsp;&nbsp;';
  echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn'));
  echo '&nbsp;&nbsp;';
  
  //echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));
  //echo '&nbsp;&nbsp;';
   
  echo $this->formHidden('changes_id',$this->changes_id);
 //echo $this->formHidden('cust_id',$this->cust_id);
    
?>
  <input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','changes_id'=>$this->changes_id),null,true)?>'">
</div>
</form>


<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>