<script type="text/javascript">

$(document).ready(function () {

    $(".tokeninput").keyup(function (e) {

        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
              // $(this).prev().prop("disabled", false);
              // $(this).next().prop("disabled", true);
              $(this).prev().focus();

      }else{
          // $(this).next().prop("disabled", false);
          $(this).next().focus();
          // $(this).prop("disabled", true);

      }
    });

    $('#tokenmodal').on('shown.bs.modal', function() {
      $('.firsttokenfield').trigger('focus');
    });

});
</script>

<div class="row hiddenprint">
    <div class="col-md-12">
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <span>Cheque Management</span>
                  <i class="fa fa-angle-right pl-1 pr-1"></i>
              </li>

              <li>
                  <span class="inhouse"><?=$this->language->_('Incoming')?></span>
              </li>

          </ul>
      </div>
    </div>
</div>

<br />
<?php if($this->error){ ?>
<div class="errmsg">
<?php 
		echo $this->msg_failed;
?>
</div>
<?php } ?>
<?php 
// if($this->user_id){	
?>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">

  <!-- Default panel contents -->
<div class="card-header cardhead text-white"><strong><?php echo $this->language->_('Cheque Detail');?></strong></div>

<div class="panel-body p-3">  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Source Account No');?></label>
	     <div class="col-md-9">
	       <?php echo $this->datetime ?>
	     </div>
  	</div>
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Product Type');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Posting Date');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Disburse Date');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('CH / BG No');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Amount');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Description');?></label>
	    <div class="col-md-9">
	           <?php echo $this->datetime ?>
	           </div>
  	</div>
  	
  	<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Status');?></label>
	    <div class="col-md-9">
       <?php 
  			$arrFirstStat 				= array();
  			$arrFirstStat['0'] 			= $this->language->_('-- Please Select --');
  			$this->StatsList = array_merge($arrFirstStat, $this->StatusArr);
  			echo $this->formSelect('status',$this->status,array('id'=>'status','class'=>'form-control'), $this->StatsList);
			 ?>
	  </div>
</div>
  	
  	
</div>

</div>

</div>
</div>
<div class="row">
  <div class="col-sm-3">

	
		<?php if($this->tokentype == '1'){}elseif($this->tokentype == '2'){?>
				<!-- <div class="row">
						<div class="col-md-12">
						<div class="panel panel-default" style="margin-bottom:0px">
                  <div class="panel-heading" style="
                	    color: #fff;
                    height: 33px;
                    line-height: 14px;
                    font-size: 14px;
                    background-color: #337ab7;
                    border-color: #337ab7;
                	    
                	"><?php echo $this->language->_('Use Your Token'); ?>!</div>
                	<div class="panel-body">
                			<div class="form-group row ">
                				<?php echo $this->language->_('Release on behalf of'); ?>:<br/>
                				<?= $user_id; ?><br/>
                				<input name="userOnBehalf" value="<?= $user_id?>" type="hidden">
                			</div>
                			<div class="form-group row ">
                			<?php echo $this->language->_('Challenge Code'); ?>:
                			</div>
                			<div class="form-group row  control-label col-md-12">
                				
                		  <?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
                		    <span class="input-group-btn"><input name="challengeCodeReq2" id="ACBENEF2" size="2" value=<?=$random ?> style="text-align: right; font-weight: bold;width:60px; font-size: 16px;" type="text" class="form-control" readonly></span>
                			<span class="input-group-btn" style="width:100%"><input name="challengeCodeReq" id="ACBENEF1" size="4" maxlength="20" value="<?= $this->challengeCodeReq ?>" style="text-align: left;width:100%; font-weight: bold;   font-size: 16px;" readonly="readonly" class="form-control" type="text"></span>
                			</div>
                			<div class="form-group row ">
                			<?php echo $this->language->_('Response Token'); ?> APLI 2 :
                			</div>
                			<div class="form-group row  control-label col-md-12">
                				
                				<input name="responseCodeReq" id="responseCodeReq" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" class="form-control" autocomplete="off">
            						<input name="responseCodeReqPlain" id="responseCodeReqPlain" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center;display:none; font-weight: bold; font-size: 16px;" type="password" autocomplete="off" class="form-control">
            						<input name="responseCode" id="responseCode" type="hidden">
            						<input name="responseCodePlain" id="responseCodePlain" type="hidden">
                			</div>
                	</div>
                </div>
						</div>
						<div class="col-md-9">
						</div>
						</div> -->



          <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="col-md-12" align="center">
                 <table width="70%">
                    <tbody>
                      <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

                      <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput firsttokenfield mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit('filter',$this->language->_('Activation'),array('class'=>'btngreen hov')); ?>
              </div>
            </div>
          </div>
        </div>
				<?php }elseif($this->tokentype == '3'){}else{}?>
				<br/>       



</div>
</div>

<table cellpadding="3" cellspacing="0" border="0" class="" >
    <tr><td colspan="3" align="left">
    <?php
       echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/dashboard'", 'class' => 'btnwhite hov'));
      ?>
      <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Activation'); ?></button>
    </td></tr>
  </table>
  </form>
  </div>


<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>