<?php 
	$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<script type="text/javascript">
function submitform()
{
	document.forms["form"].submit();
	//alert("Value is sumitted");
}

</script>

<b><?php echo $this->language->_('Transaction Report'); ?> > <?php echo $this->language->_('Limit Monitoring Report'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Limit Monitoring Report'); ?></div>
<form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir,),null,true)?>" method="get">
	
	
	<table cellpadding="3" cellspacing="0" border="1" class="tableform" width="60%">
		<tr><th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('COMMUNITYCODE',$this->language->_('Community Code')); ?></td>
				<td class="tbl-evencontent">
					<?php
						$arrCommunity = $this->arrCommunity;
						$opt[""] = '-- '.$this->language->_('Any Value').' --';
						$optarrCommunity  = $opt + $arrCommunity;
						echo $this->formSelect('COMMUNITYCODE',$this->COMMUNITYCODE,array('id'=>'COMMUNITYCODE'),$optarrCommunity);
					?>
				</td>
					
				<td class="tbl-evencontent"><?php echo $this->formLabel('COMMUNITYNAME',$this->language->_('Community Name')); ?></td>
				<td class="tbl-evencontent"><?php  echo $this->formText('COMMUNITYNAME',$this->COMMUNITYNAME,array('maxlength'=>'30','size'=>'30')); ?></td>
				
			</tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('PRINCIPALCODE',$this->language->_('Principal Code')); ?></td>
				<td class="tbl-evencontent">
					<?php
						$arrPrincipal = $this->arrPrincipal;
						$opt[""] = '-- '.$this->language->_('Any Value').' --';
						$optarrPrincipal  = $opt + $arrPrincipal;
						echo $this->formSelect('PRINCIPALCODE',$this->PRINCIPALCODE,array('id'=>'PRINCIPALCODE'),$optarrPrincipal);
					?>
				</td>
					
				<td class="tbl-evencontent"><?php echo $this->formLabel('PRINCIPALNAME',$this->language->_('Principal Name')); ?></td>
				<td class="tbl-evencontent"><?php  echo $this->formText('PRINCIPALNAME',$this->PRINCIPALNAME,array('maxlength'=>'30','size'=>'30')); ?></td>
			
			</tr>
			
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('LIMITSTATUS',$this->language->_('Limit Status')); ?></td>
				<td class="tbl-evencontent">
					<?php
						$arrLimit = $this->arrLimit;
						$opt[""] = '-- '.$this->language->_('Any Value').' --';
						$optarrLimit  = $opt + $arrLimit;
						echo $this->formSelect('LIMITSTATUS',$this->LIMITSTATUS,array('id'=>'LIMITSTATUS'),$optarrLimit);
					?>
				</td>
				
				<td class="tbl-evencontent" colspan = "2"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('USDEXCHANGE',$this->language->_('USD Exchange Rate *')); ?></td>
				<td class="tbl-evencontent" colspan="3">
					<?php 
						echo $this->formText('USDEXCHANGE',$this->USDEXCHANGE,array('type'=>'text', 'size'=>'23','maxlength'=>'25', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)"));
						//echo $this->formSelect('PRINCIPALCODE',$this->PRINCIPALCODE,array('id'=>'PRINCIPALCODE'),$optarrPrincipal); 
					?>
					
					&nbsp;&nbsp;<span style="color:red; font-style:italic;">*<?php echo $this->language->_('Please Fill in the USD Exchange Rate First'); ?></span>
					
				</td>
				
			</tr>
			<tr>
				<td colspan="4" align="left" class="tbl-evencontent">
					<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
					<input type="button" class="inputbtn" value="Clear Filter" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
					
				</td>
			</tr>
	</table><br />
	
	<table width="100%" border="0px">
		<tr style="height:30px;" align="right">
			<td>
				
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
				<?php	echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>
				<?php }else{ ?>
				<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>
				<?php } ?>
				
				<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
				<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
				<?php } ?>
				
				<input class="inputbtn" value="Print" onclick="window.print();" type="button">
			</td>
		</tr>
	</table>
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->paramstring))?>
	</div><br>
	<?
		//echo "<pre>";
		//print_r($this->paramstring);
		//echo "<br />";
		//print_r($this->paramstring);
	?>
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
		<tr>
			<th width="3%" valign="top" rowspan="2">No</th>
			
<?php       //build query string

$config = Zend_Registry::get('config');
	
$asc_img_path  = $config['sorting']['defaults']['ascImgPath'];
$desc_img_path = $config['sorting']['defaults']['descImgPath'];
$active_asc_img_path  = $config['sorting']['defaults']['activeAscImgPath'];
$active_desc_img_path = $config['sorting']['defaults']['activeDescImgPath'];

if(is_array($this->paramstring))
{
	$qstring='?';
	foreach($this->paramstring as $key=>$val)
	{
		//$val = generateParam($val);
		$qstring.=$key.'='.$val.'&';
	}
	$qstring=substr($qstring,0,-1);
}
//else $qstring='';
//echo "qstring: ";
//Zend_Debug::Dump($qstring);

foreach($this->fields as $fieldKey => $fieldValue) {

    if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'asc') {
    	$asc_img = $active_asc_img_path;
    	$asc_need_link = false;
    }
    else {
    	$asc_img = $asc_img_path;
    	$asc_need_link = true;
    }
   	if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'desc') {
   		$desc_img = $active_desc_img_path;
   		$desc_need_link = false;
   	}
   	else {
   		$desc_img = $desc_img_path;
   		$desc_need_link = true;
   	}
?>
<th valign="top" rowspan="2">
   	<?=$fieldValue['label']?><br /><span style="white-space:nowrap">
   	<?php
   	if($asc_need_link && $fieldValue['sortable']) {
   	?>
   		<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img?>" /></a> 
   	<?php 
   	}
   	else {
   		if($fieldValue['sortable']) {
   	?>
		<img border="0" src="<?=$asc_img?>" />
   	<?php 
   		}
   		else {
   	?>
   		&nbsp;
   	<?php 		
   		}
    }
   	?>
   	<?php
   	if($desc_need_link && $fieldValue['sortable']) {
   	?>
   		<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img?>" /></a> 
   	<?php 
   	}
   	else {
   		if($fieldValue['sortable']) {
   	?>
   		<img border="0" src="<?=$desc_img?>" />
   	<?php 
   		}
   		else {
   	?>
    	&nbsp;
    <?php 		
    	}
    }
    ?>
    </span>
</th>
<?php }?>	
<th colspan="4" style="text-align:center;"><?php echo $this->language->_('Community'); ?></th>
<th colspan="4" style="text-align:center;"><?php echo $this->language->_('Company'); ?></th>
</tr>
<tr>
 <th><?php echo $this->language->_('Limit'); ?></th>
 <th><?php echo $this->language->_('Utilization'); ?></th>
 <th><?php echo $this->language->_('Remain Limit'); ?></th>
 <th><?php echo $this->language->_('Status'); ?></th>
 
 <th><?php echo $this->language->_('Limit'); ?></th>
 <th><?php echo $this->language->_('Utilization'); ?></th>
 <th><?php echo $this->language->_('Remain Limit'); ?></th>
 <th><?php echo $this->language->_('Status'); ?></th>
 
 
 </tr>
				<?php											
					if(count ($this->data) > 0){
						$i = 1;
						$d = 0;
						
						foreach($this->data as $row){
							
							$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
							
							echo '<tr>
							  <td class="'.$td_css.'">'.$counter.'</td>
							  <td class="'.$td_css.'">'.$row['commname'].'</td>
							  <td class="'.$td_css.'">'.$row['anchorname'].'</td>
							  <td class="'.$td_css.'" style="text-align:right;">'.$row['limitcomm'].'</td>		  
							  <td class="'.$td_css.'" style="text-align:right;">'.$row['uticomm'].'</td>		  
							  <td class="'.$td_css.'" style="text-align:right;">'.$row['remainlimit'].'</td>		  
							  <td class="'.$td_css.'">'.$row['statuscomm'].'</td>		  
							  <td class="'.$td_css.'" style="text-align:right;">'.$row['limitcompany'].'</td>		  
							  <td class="'.$td_css.'" style="text-align:right;">'.$row['uticompany'].'</td>		  
							  <td class="'.$td_css.'" style="text-align:right;">'.$row['remainlimitcompany'].'</td>		  
							  <td class="'.$td_css.'">'.$row['statuscompany'].'</td>';
							
							$i++;
							$counter++;
							$d++;
						}
						
					}
					else
					{
						//echo "empty";
				?>		<tr>
							<td class="tbl-evencontent" colspan="11" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
						</tr> <?php
					}
				?>	
				
				
		</tr>
	</table><br />
	
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->paramstring))?>
	</div><br>
	
</form>
