<b><?php echo $this->language->_('Release Payment'); ?> &gt; <?php echo $this->language->_('Set Up Auto Release'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Setting Payment Auto Release'); ?></div>
<table  width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
  <td>
      <?php if(isset($this->save))
  {?><div class="successMsg"><h2><?php echo $this->language->_('Switch Set Successfully'); ?><h2></div><?php }?>
	  <br><br><span style="font-size:14px;">Autorelease is currently : </span>
	  <span style="font-size:14px; font-weight:bold; color: #CC0000">
	  <?php 
	  if($this->value == "0")
	  {?>OFF<?php } 
	  else {?>ON<?php }?></span>
	  <br><br>
	  <?php 
	  if($this->value == "1")
	  {?> 
	  <a onclick="return confirm('Proceed?');" href="?s=1&amp;m=chargesswitchsave" style="font-size:14px;font-weight:bold;">Switch Autorelease Off</a>
	  <?php }
	  else 
	  {?>
	  <a onclick="return confirm('Proceed?');" href="?s=0&amp;m=chargesswitchsave" style="font-size:14px;font-weight:bold;">Switch Autorelease On</a>     
     <?php }?>
     </td>
</tr>
</tbody></table>