<form name="biller_lion_repair" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
			<td style="padding: 0pt 0pt 0pt 20px;">
				<img src="biller_lion_repair.php_files/logo_lionair.gif" alt="Lion Air">
			</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td colspan="3" class="filterarea" id="filterarea">
					<div class="tdform-sub"><?php echo $this->language->_('Filter'); ?></div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Created From'); ?>&nbsp;&nbsp;
						<input name="CREATE_START" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_lion_repair.CREATE_START,document.biller_lion_repair.CREATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_repair.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						<?php echo $this->language->_('To'); ?>&nbsp;&nbsp;
						<input name="CREATE_END" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_lion_repair.CREATE_START,document.biller_lion_repair.CREATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_repair.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						<?php echo $this->language->_('Payment Date From'); ?>&nbsp;&nbsp;
						<input name="EFDATE_START" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_lion_repair.EFDATE_START,document.biller_lion_repair.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_repair.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						<?php echo $this->language->_('To'); ?>&nbsp;&nbsp;
						<input name="EFDATE_END" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_lion_repair.EFDATE_START,document.biller_lion_repair.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_repair.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
					</div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Payer ID'); ?>&nbsp;&nbsp;
						<input name="TA_CODE" size="20" maxlength="10" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('Payer Description'); ?>&nbsp;&nbsp;
						<input name="TA_NAME" size="20" maxlength="10" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('Payment Ref'); ?>#&nbsp;&nbsp;
						<input name="SEARCH_PAYMENT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">														
					</div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Source Acct'); ?>#&nbsp;&nbsp;
						<input name="DEBET_ACCT" size="20" maxlength="10" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('CCY'); ?>&nbsp;&nbsp;
						<input name="SEARCH_CCY" size="20" maxlength="10" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<input class="inputbtn" value="set filter" onclick="JavaScript:proceed('', '', '1');" type="button">
						<input class="inputbtn" value="clear filter" onclick="location.href='biller_lion_repair.php?fl3nc=1&amp;r=ux53p2d6l3haehnv&amp;param=3peXlKiqqJymmqPPtJfex5nK2t3X19jddMF_tbS7gbXNwJzbm9Hm48TMlJWcmHKChGhpZw%3d%3d'" type="button">
					</div>
				</td>													
			</tr>
			<tr>
				<td colspan="3" class="filterarea-line">
					<img src="biller_lion_repair.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td colspan="3" class="contentarea" id="contentarea" valign="midle" align="right">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3" class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>															
								<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref'); ?>#<a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=eo92r0firu7eybeo&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTY2NHd7qTXm9iM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=kk341aav97pf6njb&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTY2NHd7qTXm9iM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>														
								<td class="tbl-evencontent"><?php echo $this->language->_('Create Date'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=5w38qezj3zbfxwg9&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxy5TY2NHS65zWqsvKjaW0yrS7upek0tK4uoOGcJWomQ%3d%3d"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=8gw974xgi92gzo1y&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxy5TY2NHS65zWqsvKjaW0yrS7upek0tK4uoOGcJiaqZo%3d"><img src="biller_lion_repair.php_files/ico_rdesc.gif"></a></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Source Acct'); ?>#<a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=t692vyet0vdbkisy&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65qbqbW4q3e317LPx4uxy8eizKSV"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=08w891iwhys57jr5&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65qbqbW4q3e317LPx4uxy8eiz5allg%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Source Account Name'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=rdoeyl3ago0vo7zy&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65rUmMfU0qDG5dWc24e0vbi3ynOLkoeEiIt1mqnN"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=nssz0ny2is4t4khq&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65rUmMfU0qDG5dWc24e0vbi3ynOLkoeEiIt1nZvd2g%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Payer ID'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=ukx625ovxnkdw3nq&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUn8qM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=wppbfd7va9ukcd4f&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUn8qM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Payer Description'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=vwhvo6x7ireo1ik4&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUmsvZyqTO6OTf16aI7MK3r3aEknaOlYqHi4qn2OTO"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=avinemlembzun1aw&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUmsvZyqTO6OTf16aI7MK3r3aEknaOlYqHi4qn29bexA%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>		
								<td class="tbl-evencontent"><?php echo $this->language->_('Payment Date'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=dyz540tb27k29hr1&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxy5TY2NHU35vWqsuM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=937ey1wvxin0al2o&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxy5TY2NHU35vWqsuM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('CCY'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=f9g05xuurdcr3xo7&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL2uTh2JrkmsuM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=wndfv6ajmhqb7i6z&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL2uTh2JrkmsuM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Amount'); ?><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=rzkd0g8ghjr5raq6&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTc19PO2qTkq9TajaW0yrS7upek0tK4uoOGcJWomQ%3d%3d"><img src="biller_lion_repair.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_repair.php?fl3nc=1&amp;r=a9ydps9e47jvs28z&amp;param=0aGTmplyZ12rn5vL6-bdxp3No7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTc19PO2qTkq9TajaW0yrS7upek0tK4uoOGcJiaqZo%3d"><img src="biller_lion_repair.php_files/ico_desc.gif"></a></td>																
								<td class="tbl-evencontent"><?php echo $this->language->_('Repair'); ?></td>
							</tr>
							<tr>
								<td class="tbl-headercontent" colspan="9" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="9">
									<div class="formbutton">
										<input class="inputbtn" value="cancel" onclick="location.href='partner_screen.php?fl3nc=1&amp;r=t3ziy3ht03s8xuu1&amp;param=3pShoKSUl5qbopqnw76bkWU%3d'" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
