<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('My Profile')?></a></li>
  <li><?php echo $this->language->_('My Activity Report')?></li>
  
</ol>
</b>
<br />
<div class="portlet-body form">
<form id="filterForm" name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" style="
	    color: #fff;
	    background-color: #337ab7;
	    border-color: #337ab7;
	    border: 1;
	">
	
	<strong><?php echo $this->language->_('Filter');?></strong></div>
<div class="panel-body">
	 
	<div class="form-group">
	    <label class="control-label col-md-3"><span><?php echo $this->language->_('Date From');?><span class="errmsg">*</span></label>
	          <div class="col-md-9">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-end-date="+0d">
                                                        <input name="fDateFrom" id="fDateFrom" value="<?php echo $this->fDateFrom?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
				
  	</div>
  	
  	<div class="form-group">
	    <label class="control-label col-md-3"><span><?php echo $this->language->_('Date To');?><span class="errmsg">*</span></label>
	                                         <div class="col-md-9">
                                                    <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-end-date="+0d">
                                                        <input name="fDateTo" id="fDateTo" value="<?php echo $this->fDateTo?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
		
  	</div>
  	
  	<div class="form-group">
	    <label class="control-label col-md-3"><span><?php echo $this->formLabel('activity',$this->language->_('Activity Type')); ?></span></label>
	                                         <div class="col-md-9">
                                                    <select name="SEARCH_ACTIVITY" class="form-control">
										<option value="">--- <?php echo $this->language->_('Any Value'); ?> ---</option>
										<?php foreach($this->activity as $key=>$value){?>
										<option value="<?php echo $key;?>" <?=($key==$this->active) ? 'selected' : ''?>><?php echo $this->language->_($value);?></option><?php }?>
									</select>
                                                    
                                                </div>
		
  	</div>

  </div>
  
  
  <div class="panel-body">
  <div class="col-sm-6">
   <?php $setfilter = $this->language->_('Set Filter')?>
	  <?php $clearfilter = $this->language->_('Clear Filter')?>
	  
	  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btn btn-warning')); ?>
	  <?php echo $this->formSubmit('filter',$clearfilter,array('class'=>'btn btn-warning')); ?>
   
    	</div>
    </div>
    </div>
</form>
</div>
<br />
<br />
<script>
function prnt(){
	w=window.open();
	w.document.write($('#filterForm').html());
	w.print();
	w.close();
}
</script>
<?php 
//echo $this->applicationSetting['max_page_download_pdf'];
//echo'<br>';
//echo count($this->paginator); //jumlah paging mis: 2, 3, 4 halaman next
?>
<div align="right">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btn btn-warning','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'btn btn-warning')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btn btn-warning','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-warning')); ?>&nbsp;
		<?php } ?>
<!--		<input class="inputbtn" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button">-->
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
			echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btn btn-warning','disabled'=>'disabled'));
		}
		else{
		?>
			<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn btn-warning"><?PHP echo $this->language->_("Print")?></button>&nbsp;
		<?php 	
		}
		?>
<!--        <input class="inputbtn" value="<?php echo $this->language->_('Print')?>" onclick="prnt();" type="button">-->
		
	</form>
</div>
<br />
<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>

<div class="portlet-body flip-scroll">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-bordered table-striped table-condensed flip-content">	
	<thead class="headercolor">
	
		<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          	'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
															'query_string_params' => $this->query_string_params
                                                            ));?>
	
	</thead>						
		
<?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
    {
          $i=0;
          
	      foreach($this->paginator as $row) 
	      {
	  
		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	
		    echo '<tr>
					<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['LOG_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
					<td class="'.$td_css.'">'.$this->language->_($row['FPRIVI_DESC']).'</td>
					<td class="'.$td_css.'">'.$this->language->_($row['ACTION_FULLDESC']).'</td>
				  </tr>';
						
			$i++;
            $counter++;
  	  }
  }
  else 
  {		
  	   $nodata = $this->language->_('No Data');
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
  }
?>
</table>
</div>
<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>
