<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Dokumen Tertunda'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	table {
		font-size: 14px !important;
	}

	.text-gray {
		color: gray !important;
	}

	.table-header {
		font-size: 16px !important;
		color: #fff !important;
		background-color: #0b549f !important;
	}

	#fa-angle-up:hover,
	#fa-angle-down:hover {
		color: #fff !important;
	}
</style>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->data['BG_NUMBER'], $rand);
$encrypted_id = urlencode($encrypted);
$download = $this->language->_('Download');

$BG_REG_NUMBER = $this->data['BG_REG_NUMBER'];
// echo "<code>test = $test</code><BR>";

?>
<form enctype="multipart/form-data" id="pendingdocument" name="pendingdocument" method="post">
	<?php echo $this->formHidden('bgnumber', $this->data['BG_NUMBER']) ?>


	<div class="row justify-content-center mt-3">
		<div class="col-md-11">
			<div class="row">
				<div class="col-md-6">
					<h5 style="margin-left: 15px;"><?= $this->language->_('Detail Bank Garansi') ?></h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Nomor Registrasi') ?> </label>
				</div>
				<div class="col-md-9">
					<label><strong><?= substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9, 5)  ?>
							<!-- (Amandemen dari BG no : <a href="#" onclick="amandementDetail();"><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></a> ) -->

						</strong></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;">Nomor BG</label>
				</div>
				<div class="col-md-9">
					<label class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></strong></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;">Subjek eForm</label>
				</div>
				<div class="col-md-9">
					<label><strong><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></strong></label>
				</div>
			</div>


			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_("Cabang Bank"); ?></label>
				</div>
				<div class="col-md-9">
					<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;">Status</label>
				</div>
				<div class="col-md-9">
					<label><?= $this->arrStatus[$this->data['BG_STATUS']]; ?></label>
				</div>
			</div>
			<!-- <div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Suggestion Type') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->suggestion_type; ?></label>
			</div>
		</div> -->

			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Tanggal Mulai') ?></label>
				</div>
				<div class="col-md-9">
					<label><?= date('d M Y', strtotime($this->data["BG_ISSUED"])); ?></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Tanggal Kontra Garansi') ?></label>
				</div>
				<div class="col-md-9">
					<?php
					$now = date('Y-m-d');
					if ($now > $this->data["BG_CG_DEADLINE"]) {
						echo "<label style='color:red;'>" . date('d M Y', strtotime($this->data['BG_CG_DEADLINE'])) . "</label>
					<i class='fas fa-exclamation-circle' style='color:red'></i>";
					} else {
						echo "<label>" . date('d M Y', strtotime($this->data['BG_CG_DEADLINE'])) . "</label>";
					}
					?>
				</div>
			</div>
			<!-- 
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Notes</label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->reason; ?></label>
			</div>
		</div> -->
			<div class="row">
				<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
					<h5><?= $this->language->_('Prinsipal Bank Garansi') ?></h5>
					<div class="row">
						<div class="col-sm-3">
							<label class="textGray">Perusahaan</label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
						</div>
					</div>
					<div class="row" style="text-align: right;margin-right: 0px;">
						<div class="col-md-12" style="height: auto; position: relative;">
							<a href="#" onclick="bankGuaranteeApplicant();"><i class="fas fa-ellipsis-h"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="display:none;">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Company</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
					</div>

					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Jaminan Bank Garansi') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= ($this->data['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->data['USAGE_PURPOSE_DESC'])) : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?></h5>
					</div>
					<div style="padding-left:2%; padding-top:2px;">

						<div class="row pt-1">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Nominal Bank Garansi</label>
							</div>
							<div class="col-sm-7">
								<div class="input-group" id="">
									<label class="text-danger"><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></label>
								</div>
							</div>
						</div>
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Berlaku Sejak</label>
							</div>
							<div class="col-sm-9 form-inline" style="float:left">
								<label>
									<?php
									$date_start = strtotime($this->data['TIME_PERIOD_START']);
									$date_end = strtotime($this->data['TIME_PERIOD_END']);
									$diff = $date_end - $date_start;
									$day = $diff / 60 / 60 / 24;
									if (empty($this->data['TIME_PERIOD_START'])) {
										echo '-';
									} else {
										echo date('d M Y', $date_start);
									}
									echo ' <span class="mx-2">' . $this->language->_('to') . '</span> ';
									if (empty($this->data['TIME_PERIOD_END'])) {
										echo '-';
									} else {
										echo date('d M Y', $date_end);
									}
									echo '<i class="ml-3 text-gray">(' . $day . ' ' . $this->language->_('days') . ')</i>';
									?>
								</label>
							</div>
						</div>
						<div class="form-group row" style="">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Batas Waktu Klaim</label>
							</div>
							<div class="col-sm-9">
								<label>
									<?=
									// date('d M Y', strtotime('+' . $this->data['BG_CLAIM_PERIOD'] . ' days', strtotime($this->data['TIME_PERIOD_END']))) . PHP_EOL;
									date('d M Y', strtotime($this->data['BG_CLAIM_DATE']));
									?>
								</label>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Obligee Bank Garansi') ?></h5>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Nama Obligee') ?></label>
							</div>
							<div class="col-sm-9">
								<label><strong><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></strong></label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Alamat') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Kota') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></label>

							</div>
						</div>
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Nama Kontak') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></label>

							</div>
						</div>
						<div class="form-group row pb-1">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Nomor Telepon Kontak') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></label>

							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Email Kontak') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></label>
							</div>
						</div>
						<!-- <?php if ($this->data['SP_OBLIGEE_CODE']) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Special Obligee Code') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></label>
							</div>
						</div>
					<?php } ?> -->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Transaksi Yang Dijaminkan') ?></h5>
					</div>
					<?= $this->action('index', 'guarantedtransaction', 'eformworkflow', array('bgregnumber' => $this->data['BG_REG_NUMBER'])); ?>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Kontra Garansi') ?></h5>
					</div>
					<div style="padding-left:2%;padding-right: 2%;">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Jenis Kontra Garansi</label>
							</div>
							<div class="col-sm-6">
								<label><?php
										echo $this->warranty_type_text_new; ?></label>

							</div>
							<div class="col-sm-3">
								<button style="position: absolute; right: 8px; border-radius: 5px; padding-left: 20px; padding-right: 20px;" onclick="modalmoredetail();" type="button">Lihat Persetujuan</button>
							</div>
						</div>



						<div id="wrType3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Nama Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->data["INSURANCE_NAME"]; ?></label>

								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Insurance Branch</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->data["INSURANCE_BRANCH"]; ?></label>
									<!-- <label><?php echo $this->insuranceBranch; ?></label> -->
								</div>
							</div>



							<!-- <?php if (false) { ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Principal Agreement</label>
									</div>
									<div class="col-sm-9" style="padding-right: 0px;">
										<div class="input-group" id="">

											<label> <?php
													echo 'No. ' . $this->PrincipalAgreement; ?></label>
											<label><?php
													echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
											&nbsp;
											&nbsp;
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
										</div>
									</div>

								</div>
								<div class="row pt-1 pb-1">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Amount</label>
									</div>
									<div class="col-sm-9">
										<div class="input-group" id="">

											<label><?php
													echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

										</div>
									</div>
								</div>
							<?php } ?> -->
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="row mt-3">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<div class="row">
						<div class="col-md-6">
							<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?></h5>
						</div>
					</div>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2 pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">All Fee are charge to<strong class="formreq">
									<font color="red">&nbsp;*</font>
								</strong></label>
						</div>
						<div class="col-sm-9">
							<label><?php
									echo $this->acct . '(IDR) / ' . $this->bankname . ' / ' . $this->src_name; ?></label>
						</div>
					</div>
					<?php if ($this->warranty_type != '3') { ?>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bank Provision Fee</label>
							</div>
							<div class="col-sm-7">
								<label><?= number_format($this->cash_collateral["CHARGES_PCT"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2) ?>)</label>

							</div>
						</div>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bank Administration Fee</label>
							</div>
							<div class="col-sm-7">
								<label>IDR <?= number_format($this->data["ADM_FEE"], 2) ?></label>

							</div>
						</div>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bank Stamp Fee</label>
							</div>
							<div class="col-sm-7">
								<label>IDR <?= number_format($this->data["STAMP_FEE"], 2) ?></label>

							</div>
						</div>
					<?php } else { ?>
						<div class="form-group row">
							<div class="col-sm-3"><label for="" class="text-gray col-form-label">Total Fee</label></div>
							<div class="col-sm-9"><label>(as determined by insurance)</label></div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div> -->

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Format dan Bahasa') ?></h5>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bentuk Penerbitan</label>
							</div>
							<div class="col-sm-7">
								<label><?php echo $this->publishForm; ?></label>
							</div>
						</div>

						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Format Bank Garansi</label>
							</div>
							<div class="col-sm-7">
								<label> <?= $this->bankFormat; ?> </label>
							</div>
						</div>
						<!-- <?php if ($this->bankFormatNumber == 2) { ?> -->
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Sample Format (format.doc)</label>
							</div>
							<div class="col-sm-7">
								<label>
									<?php

									$special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
									$new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

									$new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
									echo $new_special_format;

									?>
									<a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</label>
							</div>
						</div>
						<!-- <?php } ?> -->

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bahasa<strong class="formreq">
										<font color="red">&nbsp;*</font>
									</strong></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->languagetext; ?></label>
							</div>
						</div>
						<br>

					</div>
				</div>
			</div>


			<?php if (false) : ?>
				<div class="row">
					<div class="col-md-12 mb-3" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Dokumen Lampiran Lainnya') ?></h5>
						</div>
						<!-- <div style="padding-left:2%" class="mt-3">
						<?php $noattach = 1; ?>

						<?php foreach ($this->othersAttachment as $file) {

							//trim file name 

							$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
							$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
							$fileName = substr($file["BG_FILE"], $getLength);

							// end trim file name
						?>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Attachment <?php echo $noattach++; ?></label>
								</div>
								<div class="col-sm-9 d-flex align-items-center">
									<label class="m-0"><?= $fileName; ?></label>
									<button type="button" onclick="location.href = '/eform/downloadfile/index/bgnumb/<?= '268312345601F4201' ?>/download/<?= $file['INDEX'] ?>';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>

									</button>
								</div>
							</div>
						<?php } ?>

					</div> -->


						<div style="padding-left:2%" class="mt-3">
							<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
								<thead>
									<tr height="45px">
										<th class="tablehead fth-header" style="background-color: #005587">File Name </th>
										<th class="tablehead fth-header" style="background-color: #005587">Bank Footnotes</th>
										<th class="tablehead fth-header" style="background-color: #005587">Action</th>
									</tr>
								</thead>

								<?php foreach ($this->othersAttachment as $file) {

									//trim file name 
									$x = 1;
									$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
									$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
									$fileName = substr($file["BG_FILE"], $getLength);

									// end trim file name
								?>
									<tr>
										<td><label for="" class="textGray col-form-label">Attachment<?= $x ?></label> </td>
										<td><input type="text" name="Footnotes" class="form-control" value="<?= $file["FILE_NOTE"]; ?>" id="autocomplete" readonly></td>
										<td><button type="button" onclick="location.href = '/eformworkflow/downloadfile/index/bgnumb/<?= $this->BG_REG_NUMBER ?>/download/<?= $file['INDEX'] ?>/onrisk/1';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>

											</button></td>

									</tr>
								<?php
									$x++;
								} ?>






							</table>


						</div>
					</div>
				</div>
				<br>
			<?php endif ?>

			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust" style="background-color: #0000ff;">
						<h5><?= $this->language->_('Sertifikat Kontra Garansi') ?></h5>
					</div>

					<?php if ($this->need_cg_doc) { ?>
						<div style="padding-left:2%" class="mt-3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Nomor Kontra Garansi<span class="text-danger">*</span></label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->disableCg) { ?>
										<input type="text" class="form-control" value="<?= $this->cgOnTemp; ?>" disabled>
										<input type="hidden" name="cg_number" value="<?= $this->cgOnTemp; ?>">
									<?php } else { ?>
										<?php if ($this->counterGuaranteeNumber) { ?>
											<input type="text" class="form-control" value="<?= $this->counterGuaranteeNumber; ?>" disabled>
											<input type="hidden" name="cg_number" value="<?= $this->counterGuaranteeNumber; ?>">
										<?php } else { ?>
											<input type="text" class="form-control" name="cg_number" required>
										<?php } ?>
									<?php } ?>
								</div>
							</div>
						</div>

						<div style="padding-left:2%" class="mt-3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Unggah Dokumen<span class="text-danger">*</span></label>
								</div>
								<div class="col-sm-9">
									<div class="file-upload">
										<div class="file-select">
											<div class="file-select-button" id="fileName">Choose File</div>
											<div class="file-select-name" id="noFile">No file chosen...</div>
											<input type="file" name="chooseFile" id="chooseFile" required>
										</div>
									</div>
									<!-- <input type="file" name="chooseFile" id="chooseFile" required> -->
									<!-- <?php echo $this->formFile('document', $this->document, array('size' => 50)); ?> -->
								</div>
							</div>
						</div>

					<?php } else { ?>
						<div style="padding-left:2%" class="mt-3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Nomor Kontra Garansi<span class="text-danger">*</span></label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->disableCg) { ?>
										<input type="text" class="form-control" value="<?= $this->cgOnTemp; ?>" disabled>
										<input type="hidden" name="cg_number" value="<?= $this->cgOnTemp; ?>">
									<?php } else { ?>
										<?php if ($this->counterGuaranteeNumber) { ?>
											<input type="text" class="form-control" value="<?= $this->counterGuaranteeNumber; ?>" disabled>
											<input type="hidden" name="cg_number" value="<?= $this->counterGuaranteeNumber; ?>">
										<?php } else { ?>
											<input type="text" class="form-control" name="cg_number" required>
										<?php } ?>
									<?php } ?>
								</div>
							</div>
						</div>

						<div style="padding-left:2%" class="mt-3">
							<div class="form-group row pb-1">
								<div class="col-sm-3">

									<label for="" class="text-gray col-form-label">Dokumen Kontra Garansi</label>
								</div>
								<div class="col-sm-9 d-flex align-items-center">
									<!--<label><?= $this->counterGuaranteeNumber; ?></label>
									<label class="px-5">(<?= date('d M Y', strtotime($this->data["CG_GRANTED_DATE"])); ?>)</label>-->
									<label><?= $this->get_cg_doc['PS_FIELDVALUE']; ?></label>
									<?php 
									if($this->need_cg_doc == false){
									?>
									<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/0" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
									<?php
									}else{
									?>
									<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
									<?php
									}
									?>
									
								</div>
							</div>

						</div>
					<?php } ?>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust" style="background-color: #0000ff;">
						<h5><?= $this->language->_('Ceklist Dokumen Sertifikat Kontra Garansi') ?></h5>
					</div>
					<div style="padding-left:2%" class="mt-3">

						<div class="form-group row">
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Nama Asuransi</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Kantor Cabang Bank</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Nomor Bank Garansi</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Nomor Kontra Garansi</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Nomor Ijin Prinsip</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Jenis Bank Garansi</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Nilai Bank Garansi</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Nilai Penjaminan</label>
							</div>
							<div class="col-sm-12">
								<input type="checkbox" class="compulsory" />
								<label for="" class="text-gray col-form-label">Jangka Waktu Bank Garansi</label>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!-- <div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div style="padding-left:2%" id="sertifikatBG">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Format Disetujui </label>
						</div>
						<div class="col-sm-8 d-flex align-items-center">
							<label class="col-form-label">temp.pdf</label>&nbsp;&nbsp;
							<button onclick="location.href = 'javascript:void(0)';" name="download" value="1" class="btn bg-transparent p-0 m-0">
								<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>						
		<div class="row mt-4">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('History') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-12">
						<div id="history-body">
							<table class="table-bordered" cellpadding="3" style="width:100%">
								<tr style="background-color:#ccc">
									<td><b><i><?= $this->language->_('User'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Action'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Note'); ?></i></b></td>
								</tr>
								<?php foreach ($this->dataHistory as $row) : ?>
									<tr style="background-color:#eee">
										<td><?= $row['USER_LOGIN']; ?></td>
										<td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
										<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
										<td><?= $row['BG_REASON'] ?: '-'; ?></td>
									</tr>
								<?php endforeach; ?>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div> -->
			<!-- <br>
                        <label for="">&nbsp;<?= $this->language->_('The Preliminary Document is all set') ?>. <a href="/preliminary" target="_blank"><u><?= $this->language->_('Check Documents') ?></u></a></label> -->

		</div>
	</div>

	<?php
	$back = $this->language->_('Back');
	$amendment = $this->language->_('Amendment');
	?>

	<div class="col-md-12 mt-4" align="center">
		<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Kembali') ?>" onclick="location.href='/pendingdocument'" type="button">
		<?php if ($this->need_cg_doc == false) { ?>
			&nbsp;

			<input type="button" name='reject' class="btn-sm btnred hov" id="reject" onclick="rejectmodal()" value="<?php echo $this->language->_('DOKUMEN DITOLAK') ?>" />
		<?php } ?>

		&nbsp;
		<!-- <input class="btn-sm btnblue hov" value="<?php echo $this->language->_('Send') ?>" onclick="location.href='/bgreport'" type="button"> -->
		<input type="button" class="btn-sm btngreen hov disabled" id="continue" value="<?php echo $this->language->_('DOKUMEN LENGKAP') ?>" onclick="confirmModal()" disabled />


		<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title textBlack"><?php echo $this->language->_('Catatan Penolakan Dokumen Kontra Garansi') ?></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Wajib diisi') ?>:</p>
						<?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array(
							'cols' => '40%', 'rows' => '4',
							'onKeyDown' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
							'onKeyUp' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
							'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON3', 'style' => 'font-size:1.2em'
						)) ?>
						<br>
						<div class="input-group">
							<?php echo $this->formText('disable_note_len', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
							<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
						</div>
						<div class="input-group">
							<label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Anda yakin ingin melakukan penolakan Dokumen Kontra Garansi?</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Batal') ?></button>
						<button type="submit" class="btngreen hov" id="btn_delete_one" name="reject" value="reject"><?php echo $this->language->_('Kirim') ?></button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="confirm_dialog" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header" style="justify-content: center; align-items: center">
						<div style="width: 100%;position: relative; text-align: center;">
							<h5 class="modal-title textBlack"><?php echo $this->language->_('Konfirmasi Dokumen Lengkap') ?></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;top:0; right:0;">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="modal-body">
						<div style="font-size: .85rem;">
							<p>Sertifikat Kontra Garansi Asuransi sudah benar dan memenuhi ketentuan persyaratan yang berlaku</p>
							<br>
							<p style="margin-bottom: 0 !important">Klik Lanjut untuk melakukan pembaharuan status kelengkapan data.</p>
							<p>Lanjutkan ?</p>
						</div>
					</div>
					<div class="modal-footer" style="justify-content: center; align-items: center">
						<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Batal') ?></button>
						<button type="submit" class="btngreen hov" id="btn_delete_one" name="approve" value="<?php echo $this->language->_('DOKUMEN LENGKAP') ?>"><?php echo $this->language->_('Lanjut') ?></button>
					</div>
				</div>
			</div>
		</div>

</form>
<!-- <button id="continue" type="submit">Continue</button> -->
<!--<?= $this->formButton('download', $download, array('id' => '', 'class' => 'btn-sm btnwhite hov', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/download/4'")); ?>-->
<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/amendment/1'")); ?> -->
<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/amdetail/index/bg/$encrypted_id'")); ?> -->
&nbsp;

<!--<?= $this->formButton('amendment', $amendment, array('class' => 'btn-sm btngreen hov', 'onclick' => "location.href='/eform/amdetail/index/bgnumb/$BG_REG_NUMBER'")); ?>-->

</div>

<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Persetujuan Asuransi</h4>
				</center>
			</div>

			<div class="modal-body">
				<div style="padding-left:2%" class="mt-3">
					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Nomor Ijin Prinsip</label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->principleAgreementNumber; ?></label>
							<label>(<?= date('d M Y', strtotime($this->principleAgreementDate)); ?>)</label>
							<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->data['BG_REG_NUMBER']; ?>/download/1/onrisk/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
								<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
								</svg>
							</a>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Nomor Kontra Garansi</label>
						</div>
						<div class="col-sm-8">
							<label><?= $this->counterGuaranteeNumber; ?></label>
							<!-- <label class="px-5">(<?= date('d M Y', strtotime($this->data["CG_GRANTED_DATE"])); ?>)</label>
									<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a> -->
						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Premi Asuransi</label>
						</div>
						<div class="col-sm-8">
							<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2) ?></label>

						</div>
					</div>
					<!--<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Nomor Rekening Cabang</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->norekCabang; ?></label>

								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Jasa Penjaminan</label>
								</div>
								<div class="col-sm-9">
									<label sty>IDR <?= number_format($this->principleInsurancePremium, 2) ?></label>

								</div>
							</div>-->

					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Bea Administrasi Asuransi</label>
						</div>
						<div class="col-sm-8">
							<label>IDR <?= number_format($this->principleInsuranceAdm, 2) ?></label>

						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4">
							<label for="" class="text-gray col-form-label">Bea Materai Asuransi</label>
						</div>
						<div class="col-sm-8">

							<label>IDR <?= number_format($this->principleInsuranceStamp, 2) ?></label>

						</div>
					</div>

					<!--<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Total</label>
								</div>
								<div class="col-sm-9">
									<?php
									$totals = $this->principleInsurancePremium + $this->principleInsuranceAdm + $this->principleInsuranceStamp;
									?>
									<label>IDR <?= number_format($totals, 2) ?></label>


								</div>
							</div>-->
				</div>
			</div>
			<div class="modal-footer">
				<center style="width:100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Company</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="myModalAmandement" tabindex="-1" role="dialog" aria-labelledby="myModalAmandement">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Detail Bank Garansi</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Nomor Registrasi</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['BG_REG_NUMBER']; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Nomor BG</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BG_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Subjek eForm</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['SUBJECT'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Bank Cabang</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Status</label>
							</div>
							<div class="col-sm-9">
								<label>Selesai penjaminan - amandemen menjadi BG baru (BG No : <?= $this->data['BG_NUMBER'] ?: '-'; ?>)</label>
							</div>
						</div>

					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>



<script>
	function rejectmodal() {

		$('#dialog_box').modal('show');

		$("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#pendingdocument");$("#pendingdocument").submit();}');
	}


	function confirmModal() {
		$('#confirm_dialog').modal('show');
	}

	var checkBoxes = $('input.compulsory'),
		submitButton = $('#continue');

	checkBoxes.change(function() {
		submitButton.attr("disabled", checkBoxes.is(":not(:checked)"));
		if (checkBoxes.is(":not(:checked)")) {
			submitButton.addClass('disabled');
		} else {

			<?php if ($this->need_cg_doc) { ?>

				const btn_submit = document.querySelector("#continue");
				let cg_num = document.querySelector("input[name='cg_number']");
				const cg_file = document.querySelector("#chooseFile");
				let check_cg_num = false

				if (cg_num.value != "" && cg_file.value != "") {
					submitButton.removeClass('disabled');
				} else {
					submitButton.addClass('disabled');
				}
			<?php } else { ?>
				submitButton.removeClass('disabled');
			<?php } ?>
		}
	});


	$('#chooseFile').bind('change', function() {
		var filename = $("#chooseFile").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFile").text("No file chosen...");
		} else {
			$(".file-upload").addClass('active');
			$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
		}
	});

	$(document).ready(function() {
		$('#fa-angle-up').hide();
		$('#history-body').hide();

		if (document.querySelector("input[name='cg_number']") != null) {
			document.querySelector("input[name='cg_number']").addEventListener("keyup", checkAll);
		}

		<?php if ($this->need_cg_doc) { ?>
			document.querySelector("#chooseFile").addEventListener("change", checkAll);
		<?php } ?>

	});

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}

	$(document).ready(function() {
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();

		$('#confirm_dialog').on('hide.bs.modal', function(e) {});

		$('#confirm_dialog').on('show.bs.modal', function(e) {

		})
	});

	function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#sertifikatBG').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	}

	const bankGuaranteeApplicant = () => {
		$("#myModalBankApp").modal();
	}

	const amandementDetail = () => {
		$("#myModalAmandement").modal();
	}

	function checkAll() {
		const btn_submit = document.querySelector("#continue");
		let cg_num = document.querySelector("input[name='cg_number']");
		const cg_file = document.querySelector("#chooseFile");
		let check_cg_num = false

		if (cg_num == null) {
			cg_num.value = "exists";
		}

		if (cg_num.value != "" && cg_file.value != "") {

			var checkBoxes = $('input.compulsory'),
				submitButton = $('#continue');

			checkBoxes.change(function() {
				submitButton.attr("disabled", checkBoxes.is(":not(:checked)"));
				if (checkBoxes.is(":not(:checked)")) {
					btn_submit.classList.add("disabled");
					btn_submit.setAttribute("disabled", "");
				} else {
					btn_submit.classList.remove("disabled");
					btn_submit.removeAttribute("disabled");
				}
			});

		} else {
			btn_submit.classList.add("disabled");
			btn_submit.setAttribute("disabled", "");
		}
	}

	function modalmoredetail() {
		$("#myModalMoreDetail").modal();
	}
</script>