<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){
    $('#chooseFile').bind('change', function () {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });

    //sortable
    jq("#divContent").sortable({
      items : '.ui-state-default'
    }); 

    // function getOrder() {

    //   var itemOrder = jq('#divContent').sortable("toArray", {attribute: 'data-id'});
    //   return itemOrder;
    // }

    $('.submitBtn').click(function(e){

      e.preventDefault();

      //get order and put to input hidden
      // var itemOrder = getOrder();
      // $('#headerOrder').val(itemOrder.toString());

      //submit form
      this.form.submit()
    });    

    //add header content
    $('.addContent').click(function(){

      var counter = $('#header_counter').val();

      counter++;

      var row = '<div class="col-3 pr-0 content ui-state-default"  data-id="'+counter+'">'+
        '<table class="table adapterTable">'+
          '<tr>'+
            '<th style="border-top: none;">'+
              '<div class="input-group">'+
                '<input class="form-control mb-0" type="text" name="label['+counter+']" required /> &nbsp;'+
                '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;"></i>'+
              '</div>'+
            '</th>'+
          '</tr>'+
          '<tr><td><input type="checkbox" name="chkMandatory['+counter+']" value="index" /></td></tr>'+
          '<tr><td><ul id="sortableContent'+counter+'" class="p-0 mb-0"></ul><a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" data-index="'+counter+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
          '<input class="form-control mb-0" type="hidden" name="content['+counter+']" />'+
          '<input class="form-control mb-0" type="hidden" name="function['+counter+']" /></td></tr>'+
        '</table>'+
      '</div>';

      if (counter >= 3) {
        $('#divContent').removeClass('col-md-12').addClass('col-md-12');
        $('#addContentDiv').hide();
        $('#divContent2').show();
      }

      $('#header_counter').val(counter);
		
      $("#afterContent").before(row);
    });

    //triggered when modal is about to be shown
  $('#headermodal').on('show.bs.modal', function(e) {

      var index = $(e.relatedTarget).data('index');

      var headerContentVal =  $('input[name="content['+index+']"]').val();
      var headerFunctionVal =  $('input[name="function['+index+']"]').val();

      //check if headerContent is empty or not, if !empty then get value of header content and checked to modal
      if (headerContentVal != '') {
        var arrHeaderContentVal = headerContentVal.split(",");

        if(arrHeaderContentVal != ''){
          $("input[name='chkHeader']").each(function(index) {
            var val = $(this).val();
            if (arrHeaderContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
        else{
           $("input[name='chkHeader']").each(function(index) {
            var val = $(this).val();
            if (headerContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
      }

      //check if headerfunction is empty or not, if !empty then get value of header function and checked to modal
      if (headerFunctionVal != '') {
        
          $("input[name='chkFunction']").prop('checked', true);

          $('select[name="selectFunction"]').val(headerFunctionVal);
        
      }

      //utk kasih tau di dlm modal klo index yg dipilih saat ini yg index ini
      $('#contentIndex').val(index);
  });

  //triggered when modal is about to be dismiss
  $('#headermodal').on('hide.bs.modal', function(e) {

      //uncheck checkbox modal
      $("input[name='chkHeader']").prop("checked", false);
      $("input[name='chkFunction']").prop("checked", false);
  });

  //jquery sortable utk content yg sudah ada
  var dataAdapter = <?php echo json_encode($this->dataAdapter) ?>;

  if (dataAdapter.length !== 0) {
    $.each(dataAdapter, function(idx, val) {

      jq('#sortableContent'+idx+'').sortable({
        create: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="content['+idx+']"]').val(contentOrder);
         },
          update: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="content['+idx+']"]').val(contentOrder);
         }
      });
    });  
  }



  //tombol save dalam modal
  $('#saveHeaderContent').click(function(){
      var index = $('#contentIndex').val();

      var contentIndex = [];
      var contentText = [];

      var headerData = <?php echo json_encode($this->headerData) ?>;

      //get content index dan text dari array headerData
      $.each($("input[name='chkHeader']:checked"), function(){
          contentIndex.push($(this).val());
          contentText.push(headerData[$(this).val()]);
      });

      var text = '';
      var textFunction = '';

      //if function checked, print selected text to text
       if ($('input[name="chkFunction"]').prop('checked')) {
        var selectedFunctionText = $('select[name="selectFunction"]').children("option:selected").text();
        var selectedFunctionVal = $('select[name="selectFunction"]').children("option:selected").val();

        textFunction += '<p class="mb-0 text-primary textFunction">'+selectedFunctionText+'<span class="text-danger" onClick="removeHeaderFunction(this)" style="cursor: pointer;" data-headerindex="'+index+'""> x</span></p></li>';
       }

      if (contentIndex.length !== 0) {
        $.each(contentText, function(idx, val) {

          text += '<li id="'+contentIndex[idx]+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'+index+'" data-contentindex="'+contentIndex[idx]+'"> x</span></p></li>';
        });  
      }
      

      //hide tombol add
      // $('input[name="headerContent'+index+'"]').siblings('.toogleModal').remove();

      //remove text added before first
       $('input[name="content['+index+']"]').siblings('ul').children('li').remove();
       $('input[name="content['+index+']"]').siblings('.textFunction').remove();
       // $('input[name="content['+index+']"]').siblings('.textContent').remove();

      //tampilin text ke tempat diatas add modal
      $('input[name="content['+index+']"]').siblings('ul').append(text);
      $('input[name="content['+index+']"]').siblings('ul').before(textFunction);

      jq('#sortableContent'+index+'').sortable({
        create: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="content['+index+']"]').val(contentOrder);
         },
          update: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="content['+index+']"]').val(contentOrder);
         }
      });

      // var contentVal = $('input[name="content['+index+']"]').val().split(',');

      // if (contentVal.length !== 0) {
      //     var diff = $(contentIndex).not(contentVal).get();

      //     if (diff.length !== 0) {
      //       contentVal.push(diff);

      //       $('input[name="content['+index+']"]').val(contentVal.toString());
      //     }
      // }

      $('input[name="content['+index+']"]').val(contentIndex.toString());

      //assign selected function value to hidden input 
      if ($('input[name="chkFunction"]').prop('checked')) {
        var selectedFunction = $('select[name="selectFunction"]').children("option:selected").val();
        $('input[name="function['+index+']"]').val(selectedFunction); 
      }

      //uncheck checkbox modal
      $("input[name='chkHeader']").prop("checked", false);
      $("input[name='chkFunction']").prop("checked", false);
  });
  
  <?php
      if($this->dataAdapter[0]['TEMPLATE_TYPE'] == '1'){
        ?>
        //template(1);
      <?php } ?>
});

function removeContent(selected){

  $(selected).closest('.content').remove();

  var counter = $('#header_counter').val();
  counter--;

  $('#header_counter').val(counter);

  //refresh sortable setelah penambahan item
  jq('#divContent').sortable('refresh');
}

function template(val){
   //alert(val);
      //var headerData = <?php echo json_encode($this->headerData) ?>;
	  var headerData = ["Destination Acct.","Amount","Message","Additional Message"];
      var html = '';
    
    $('#headtemp').show();
    $('#headtemp1').show();
    $('#headtemp2').show();
  
      $('#divContent').children('.content').remove();

      $.each(headerData, function(idx, val) {
        //console.log(idx);
        html += '<div class="col-3 pr-0 content ui-state-default">'+
          '<table class="table adapterTable">'+
            '<tr>'+
              '<th style="border-top: none;">'+
                '<div class="input-group">'+
                  '<input class="form-control mb-0" type="text" name="label['+idx+']" value="'+val+'" required /> &nbsp;'+
                  '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;"></i>'+
                '</div>'+
              '</th>'+
            '</tr>'+
            '<tr><td><input type="checkbox" name="chkMandatory['+idx+']" value="index" /></td></tr>'+
            '<tr><td><ul id="sortableContent'+idx+'" class="p-0 mb-0">'+
            '<li id="'+idx+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'+idx+'" data-contentindex="'+idx+'"> x</span></p></li>'+
            '</ul>'+
            '<a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" data-index="'+idx+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
            '<input class="form-control mb-0" type="hidden" name="content['+idx+']" value="'+idx+'" />'+
            '<input class="form-control mb-0" type="hidden" name="function['+idx+']" /></td></tr>'+
          '</table>'+
        '</div>';
      });

      if (headerData.length >= 3) {
        $('#divContent').removeClass('col-md-12').addClass('col-md-12');
        $('#addContentDiv').hide();
        $('#divContent2').show();
      }

      $('#header_counter').val(headerData.length);

      $("#afterContent").before(html);
  
}

function removeHeaderContent(selected){

  var contentIndex = $(selected).attr("data-contentindex");
  var headerIndex = $(selected).attr("data-headerindex");

  var headerContent = $('input[name="content['+headerIndex+']"]');

  var contentIndexVal = headerContent.val();

  var arrcontentIndexVal = contentIndexVal.split(",");

  arrcontentIndexVal.splice($.inArray(contentIndex, arrcontentIndexVal), 1);

  //remove from headerContent
  headerContent.val(arrcontentIndexVal.toString());

  $(selected).closest('p').remove();
}

function removeHeaderFunction(selected){

  var headerIndex = $(selected).attr("data-headerindex");
  var headerFunction = $('input[name="function['+headerIndex+']"]');

  headerFunction.val(null);

  $(selected).closest('p').remove();
}


</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Business Adapter')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Edit Business Adapter Profile')?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Edit Business Adapter Profile')?></h5>
<br/>

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }

  .adapterTable tr{
    text-align: center;
  }
</style>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data" method="post">
      <h6 class="text-black-50"><b><?php echo $this->fileName; ?></b></h6>
      <div class="table-responsive">
        <table class="table mb-0" width="100%">
            <tr>
              <?php foreach ($this->headerData as $value) { ?>
                  
                  <th><b><?php echo $value; ?></b></th>

              <?php } ?>
            </tr>
            <?php $i=0; foreach ($this->valueData as $key => $value) { ?>

              <?php if ($i <= 1) { ?>
                <tr>
                    <?php foreach ($value as $key2 => $value2) { ?>
                        <td><?php echo $value2; ?></td>
                    <?php } ?>
                 </tr>
               <?php } ?>
            <?php $i++; } ?>
        </table>
    </div>
      <p class="text-black-50"><?=$this->language->_('* Sample File Format')?></p>

    <br>

    <h6><b><?=$this->language->_('Convert New Setup File')?></b></h6>
    <br>
    <div class="form-group row ">
        <div class="col-md-8">
          <input type="text" name="profileName" class="inputBorderless col-md-6" value="<?php echo $this->dataAdapter[0]['PROFILE_NAME'] ?>" placeholder="<?=$this->language->_('Input Adapter Profile Name Here')?>">
        </div>
        <div class="col-md-4 input-group" style="display:none">
            <h6 class="pt-1 mr-2"><?=$this->language->_('Save File Format As')?></h6>
            <select name="fileType" class="form-control col-md-6">
              <?php 
                $file_format = $this->dataAdapter[0]['FILE_FORMAT'];

                $selectedCsv = '';
                $selectedJson = '';
                $selectedXml = '';
                $selectedTxt = '';
                $selectedXls = '';
                $selectedXlsx = '';

                if ($file_format == 'csv') {
                  $selectedCsv = 'selected';
                }
                else if($file_format == 'json'){
                  $selectedJson = 'selected';
                }
                else if($file_format == 'xml'){
                  $selectedXml = 'selected';
                }
                else if($file_format == 'txt'){
                  $selectedTxt = 'selected';
                }
                else if($file_format == 'xls'){
                  $selectedXls = 'selected';
                }
                else if($file_format == 'xlsx'){
                  $selectedXlsx = 'selected';
                }
              ?>
                <option value="csv" <?php echo $selectedCsv ?>><?php echo $this->language->_('.csv'); ?></option>
                <option value="json" <?php echo $selectedJson ?>><?php echo $this->language->_('.json'); ?></option>
                <option value="xml" <?php echo $selectedXml ?>><?php echo $this->language->_('.xml'); ?></option>
                <option value="txt" <?php echo $selectedTxt ?>><?php echo $this->language->_('.txt'); ?></option>
                <option value="xls" <?php echo $selectedXls ?>><?php echo $this->language->_('.xls'); ?></option>
                <option value="xlsx" <?php echo $selectedXlsx ?>><?php echo $this->language->_('.xlsx'); ?></option>
            </select>
        </div>
    </div>
   
  <div class="row" style="margin-left: 15px;">
        <div id="divContentshow" class="row p-3 flex-row flex-nowrap col-md-12 " style="border: 1px solid; border-radius: 5px; overflow-x: auto;background: #f6f6f6;">
    
      <table class="table adapterTable" style="">
      <tr> 
        <td>
          Show 
        </td>
        <td>
    <?php
      if($this->dataAdapter[0]['TEMPLATE_TYPE'] == '1'){
        $checked1 = 'selected';
      }
    ?>
          <select id="templatetemp" name="templatetemp" class="form-control" onchange="template(this.options[this.selectedIndex].value)">
            <option value='0'><?php echo $this->language->_('Select Template'); ?></option>
            <option value='1' <?php echo $checked1 ?> ><?php echo $this->language->_('Payroll Sample Template'); ?></option>
          </select>
        </td>
        <td colspan="2" style="width: 400px;"></td>
      </tr>
      <tr id="headtemp" style="display:none">
        <th style=""><?php echo $this->language->_('Destination Acct.'); ?>
        <span class="errmsg">*</span>
        </th>
        <th style=""><?php echo $this->language->_('Amount'); ?>
        <span class="errmsg">*</span>
        </th>
        <th style=""><?php echo $this->language->_('Message'); ?>
        </th>
        <th style=""><?php echo $this->language->_('Additional Message'); ?>
        </th>
      </tr>
      <tr id="headtemp1" style="display:none">
        <td>190201900</td>
        <td>500000</td>
        <td>Aldi Tiansyah</td>
        <td>NIK 716743127412</td>
      </tr>
      
      <tr id="headtemp2" style="display:none">
        <td>38473893873</td>
        <td>7000000</td>
        <td>Riana</td>
        <td>NIK 128617826817</td>
      </tr>
      
      </table>
    </div>
  </div>
  
  <br/>

    <input type="hidden" name="profileId" value="<?php echo $this->profileId; ?>">

    <input type="hidden" name="headerCounter" id="header_counter" value="<?php echo count($this->dataAdapter) - 1; ?>"> 
    <!-- initial value 0 -->
    <!-- <input type="hidden" name="headerOrder" id="headerOrder" value="<?php echo $this->dataAdapter[0]['HEADER_ORDER']; ?>">  -->
    <!-- untuk simpan order sortable -->

    <div class="row " style="margin-left: 15px;">
        <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="border: 1px solid; border-radius: 5px; overflow-x: auto;width:100%">

            <?php foreach ($this->dataAdapter as $key => $value) { ?>
              <div class="col-3 pr-0 content ui-state-default"> <!-- data-id utk sort element -->
                <table class="table adapterTable">
                  <tr>
                    <th style="border-top: none;">
                    <div class="input-group">
                      <input class="form-control mb-0" type="text" name="label[<?php echo $key ?>]" value="<?php echo $value['HEADER_NAME'] ?>" required /> &nbsp;
                      <i class="fa fa-times fa-1x text-danger mt-2" onClick="removeContent(this)" style="cursor: pointer;"></i>
                      <!-- <input type="hidden" name="headerIndex<?php echo $value ?>" value="<?php echo $value ?>" /> -->
                    </div>
                    </th>
                  </tr>
                  <tr>

                    <?php 
                      $checked = '';
                      if ($value['MANDATORY'] == 1) { //if mandatory
                        $checked = 'checked';
                      }
                    ?>
                    <td>
                      <input type="checkbox" name="chkMandatory[<?php echo $key ?>]" value="1" <?php echo $checked ?> />
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <!-- tempat utk tampilin subject yang dipilih -->

                        <!-- tempat tampilin header function -->
                        <?php 
                          $headerFunction = $value['HEADER_FUNCTION'];
                          if(!empty($headerFunction)){
                            echo '<li id="'.$key.'" class="textFunction default" style="list-style: none; cursor: pointer;"><p class="text-primary mb-0">'.$value['HEADER_FUNCTION'].'<span class="text-danger" onClick="removeHeaderFunction(this)" style="cursor: pointer;" data-headerindex="'.$key.'"> x</span></p></li>';
                          } 

                        ?>

                        <!-- tempat tampilin header content -->
                        <ul id="sortableContent<?php echo $key ?>" class="p-0 m-0">

                        <?php 
                          $headerContent = $value['HEADER_CONTENT'];
                          $arrHeaderContent = explode(',', $headerContent); 

                          if (count($arrHeaderContent) > 1) {
                            foreach ($arrHeaderContent as $value2) {
                              echo '<li id="'.$value2.'" class="textContent default" style="list-style: none; cursor: pointer;"><p class="mb-0">'.$this->headerData[$value2].'<span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'.$key.'" data-contentindex="'.$key.'"> x</span></p></li>';
                            }
                          } 
                          else{
                            
                            echo '<li id="'.$headerContent.'" class="textContent default" style="list-style: none; cursor: pointer;"><p class="mb-0 textContent">'.$this->headerData[$headerContent].'<span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'.$key.'" data-contentindex="'.$headerContent.'"> x</span></p></li>';
                          }
                          
                        ?>

                        </ul>

                        <a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" data-index="<?php echo $key ?>"><span><i class="fa fa-plus text-primary"></i></span> Add</a>

                        <!-- simpan index checkbox subject2 yang dipilih di modal -->
                        <input class="form-control mb-0" type="hidden" name="content[<?php echo $key; ?>]" value="<?php echo $headerContent; ?>"/>
                        <input class="form-control mb-0" type="hidden" name="function[<?php echo $key; ?>]" value="<?php echo $headerFunction; ?>"/>
                    </td>
                  </tr>
                </table>
              </div>

            <?php } ?>
            
           <!-- put content after this -->
          <div id="afterContent"></div>

          <div class="col-md-1" id="addContentDiv">
             <table class="adapterTable">
                <tr>
                  <th>
                    <i class="fa fa-plus-circle fa-3x pt-2 addContent" style="cursor: pointer;display:none"></i>
                  </th>
                </tr>
             </table>
           </div>
        </div>
        <div class="col-md-1 pl-4" id="divContent2" style="display: none;">
          <table class="adapterTable">
            <tr>
              <th>
                <i class="fa fa-plus-circle fa-3x pt-4 addContent" style="cursor: pointer;display:none"></i>
              </th>
            </tr>
          </table>
        </div>


      <div class="col-md-6 mt-2"><span class="errmsg">*</span>
  <span class="text-black-50"><?=$this->language->_('Mandatory')?></span>
    </div>
      <div class="col-md-6 mt-2" style="display:none"><p class="text-black-50">* <input type="checkbox" checked disabled><?=$this->language->_(' to Set As Mandatory (must be filled) Field')?></p></div>
   </div>


   <!-- ----------------------------------------------------modal----------------------------------------------------------- -->

   <div class="modal fade" id="headermodal" tabindex="-1" role="dialog" aria-labelledby="headermodal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Choose Subject')?></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="row">
                  <div class="col-md-6">

                    <div class="input-group">
                      <input type="checkbox" name="chkFunction">&nbsp;
                      <select name="selectFunction" class="form-control col-md-8">
                        <?php echo $this->functionOpt; ?>
                      </select>  
                    </div>

                     <br>

                    <?php $i=1; foreach ($this->headerData as $key => $value) { ?> 
                        
                      <?php if($i <= $this->halfHeaderCount) { ?>

                          <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value; ?>
                          <br>
                        
                      <?php } ?>

                      <?php $i++; } ?>
                  </div>
                  <div class="col-md-6">
                      
                     <?php $i=1; foreach ($this->headerData as $key => $value) { ?> 
                        
                        <?php if($i >= $this->halfHeaderCount + 1 && $i <= $this->headerCount) { ?>

                            <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value; ?>
                            <br>

                        <?php } ?>

                      <?php $i++; } ?>

                  </div>
                </div>
              </div>

              <!-- utk simpan index mana yg tekan add modal -->
              <input type="hidden" name="contentIndex" id="contentIndex">

              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderContent">Save</button>
              </div>
            </div>
          </div>
        </div>

   <br>
   <br>

  <div class="col-md-12 mt-4" align="center">
    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/businessadapter\'', 'class' => 'btnwhite hov'));?>
  <?php echo $this->formButton('reset',$this->language->_('Reset'),array('onclick' => 'location.reload()', 'class' => 'btnwhite hov'));?>
  
    
    <button name="submitBtn" class="btngreen hov submitBtn"><?=$this->language->_('Submit')?></button>
     
   </div>
</form>

<br>
<br>


