<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Bank Table'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span><?php echo $this->language->_('Domestic Bank'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Import from File'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Domestic Bank Management'); ?></h5>
		<?php 
		if($this->errorMsg)
		{?>
			<div class="errmsg">
			<?php	
			foreach($this->errorMsg as $key => $value)
			{
				echo $this->language->_($value).'</br>';
			}
				echo "</div></br>";
		}?>
		
		<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			<table class="table-sm">
				<tr>
					<th colspan="2" class="tdform-sub"><strong><?php echo $this->language->_('Import'); ?></strong></th>
				</tr>
				<tr>
					<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File'); ?> <?php echo $this->language->_('(.txt only)'); ?></td>
					<td class="tbl-evencontent" id="tbl-evencontent">
						<?php echo $this->formFile('document', $this->document, array('class'=>'form-control','size' => 50)); ?>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><i><?php echo $this->language->_('File Format : Clearing Code(7)RTGS Code(15)Bank Name(100)'); ?><!-- Workfield Code(1)City(4)Province Code(4)Branch Code(4)Branch Name(30) --></i></td>
				</tr>
				<tr>
					<td colspan="2" align="left">
						<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/domesticbank/index'", 'class' => 'btnwhite hov'));?>
						<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
						<!--<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
					-->
						<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
						
						</td>
				</tr>
			</table>
		</form>
			
	</div>
</div>