<?php
	if($this->suksess)
	{
?>
		<script type="text/javascript" charset="utf-8">
			 window.opener.location.reload(true);
        	 window.close();
		</script>
<?php
	}
?>
<?php $customerservice = $this->language->_('Customer Service'); ?>
<?php $answerquestion = $this->language->_('Edit Question'); ?>
<?php $category = $this->language->_('Category'); ?>
<?php $user = $this->language->_('User ID'); ?>
<?php $date = $this->language->_('Date'); ?>
<?php $question = $this->language->_('Question'); ?>
<?php $answer = $this->language->_('Edit'); ?>
<?php $submit = $this->language->_('Submit'); ?>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $customerservice?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $answerquestion?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php
	if($this->failErr)
	{ 
?>
		<div class="errmsg">
		<?php 
			if($this->failErr) 
				echo $this->formErrors($this->failErr);
		?>
		</div>
		<br />
<?php
	} 
?>
<br>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<div class="table-responsive">
		<table class="table-sm" cellpadding="3" cellspacing="0" border="0" width = "450px">
			<input type = "hidden" id="invoicetypeHidden" name="QUESTION_ID" value="<?php echo $this->QUESTION_ID; ?>">
			<tr><td colspan="3" class="tdform-sub" style="background-color: #006520; color:white;"><?php echo $answerquestion?></td></tr>
			<tr><td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td></tr>
			<tr>
				<td height="30px" class="tbl-evencontent"><?php echo $this->formLabel('category',$category); ?></td>
				<td class="tbl-evencontent" width = "10px" align="CENTER">:</td>
				<td height="30px" class="tbl-evencontent" width = "350px">
					<?=$this->language->_($this->arr['CATEGORY'])?>
				</td>
			</tr>
			<tr>
				<td height="30px" class="tbl-evencontent"><?php echo $this->formLabel('User Id',$user); ?></td>
				<td class="tbl-evencontent" width = "10px" align="CENTER">:</td>
				<td height="30px" class="tbl-evencontent" width = "350px">
					<?=$this->arr['USER_ID']?>
				</td>
			</tr>
			<tr>
				<td height="30px" class="tbl-evencontent"><?php echo $this->formLabel('Date',$date); ?></td>
				<td class="tbl-evencontent" width = "10px" align="CENTER">:</td>
				<td height="30px" class="tbl-evencontent" width = "350px">
					<?=Application_Helper_General::convertDate($this->arr['QUESTION_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat)?>
				</td>
			</tr>
			<tr>
				<td height="30px" class="tbl-evencontent"><?php echo $this->formLabel('Question',$question); ?></td>
				<td class="tbl-evencontent" width = "10px" align="CENTER">:</td>
				<td height="30px" class="tbl-evencontent" width = "350px">
					<textarea disabled rows="5" cols="60" style="overflow:auto;resize:none;font-family: Arial, Helvetica, sans-serif;"><?=$this->arr['QUESTION_Q']?></textarea>
				</td>
			</tr>
			<tr>
				<td height="30px" class="tbl-evencontent"><?php echo $this->formLabel('Answer',$this->language->_('Answer')); ?><span class="errmsg">*</span></td>
				<td class="tbl-evencontent" align="CENTER">:</td>
				<td height="30px" class="tbl-evencontent">
				<?php echo $this->formTextarea("answer",$this->arr['QUESTION_A'],array('class'=>'col-md-12','cols'=>'50','rows'=>'5','size'=>'255'))?>
				<?php
					if($this->answerErr) 
					{
				?>
						<div class="errmsg">
				<?php
							echo $this->formErrors($this->answerErr);
				?>
						</div>
				<?php
					}
				?>
				</td>
			</tr>
		</table>
	</div>
	<br>
	<div>		
		<?=$this->formSubmit('submit', $submit,array('class' => 'btngreen hov'));?>
	</div>
</form>