<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>
<script language="javascript" type="text/javascript">
	$(document).ready(function(){
		
		$("#PrincipalAgreement").text($.session.get("PrincipalAgreement"));
		$("#InsuranceName").text($.session.get("InsuranceName"));
		$("#PolicyHolder").text($.session.get("PolicyHolder"));
		$("#currency_type").text($.session.get("currency_type"));
		$("#bank_amount").text($.session.get("bank_amount"));
		$("#updateStart").text($.session.get("updateStart"));
		$("#updateEnd").text($.session.get("updateEnd"));
		

	})
 
	function tutup()
	{
		
	  self.close();
	}

	function kirim(){

		self.opener.setData($.session.get("updateStart"),$.session.get("updateEnd"),$.session.get("bank_amount"));
		self.close();
	
	}
	</script>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Insurance Inquiry'); ?></strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Insurance Name')); ?>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <label id="InsuranceName"></label>
	  </td>
    </tr>
	<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Principal Agreement Number')); ?>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
		  <label id="PrincipalAgreement"></label>
	  </td>
    </tr>
	<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('PolicyHolder',$this->language->_('Policy Holder')); ?>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <label id="PolicyHolder"></label>
	  </td>
    </tr>
	<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Start Date')); ?>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <label id="updateStart"></label>
	  </td>
    </tr>

	<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('End Date')); ?>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <label id="updateEnd"></label>
	  </td>
    </tr>

	<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Amount')); ?>
      </td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <label id="currency_type"></label>&nbsp;<label id="bank_amount"></label>
	
	  </td>
    </tr>

    <tr><td colspan="3" align="center">
	  <?php echo $this->formSubmit('back',$this->language->_('Close'),array('class'=>'btnwhite hov','onclick'=>'javascript:tutup()')); ?>
	  <?php //echo $this->formSubmit('next',$this->language->_('Next'),array('class'=>'inputbtn')); ?>
	  
	  	<!--<input type="submit" name='next' class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>-->
		  <!--<input type="submit" name='next' class="btngreen hov" onClick='kirim()' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/> -->
		   <input type="submit" name='next' class="btngreen hov" style="display:<?php echo $this->headbtn ?>;" onClick='kirim()' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
		<script>
		function submitbtn(){
			document.getElementById("subbutton").style.display ="none";
			document.getElementById("Submit_id").style.display ="inline";
		}
		</script>
    </td></tr>
  </table>
</form>