<script>
  function checkAll() {
    $("div.check").hide();
    $("div.uncheck").show();
    $(".list").prop("checked", true);
  }

  function uncheckAll() {
    $("div.check").show();
    $("div.uncheck").hide();
    $(".list").prop("checked", false);
  }

  $(document).ready(function() {
    $("div.uncheck").hide();
    $('#fixTable').fixTableHeader();
    $(".req_id_all").on("click", function() {
      if ($(this).is(":checked")) {
        checkAll();
        $(".delete_button").removeAttr("disabled");
      } else {
        uncheckAll();
        $(".delete_button").attr("disabled", true);
      }
    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
        $("#logo-titles").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
        $("#logo-titles").show();
      }
    })

    $('#questStart').datepicker({
      format: 'dd/mm/yyyy',
      uiLibrary: 'bootstrap4'
    });
    $('#questEnd').datepicker({
      format: 'dd/mm/yyyy',
      uiLibrary: 'bootstrap4'
    });

    $(".checkAll").on("click", function() {
      if ($(this).is(":checked")) {
        checkAll();
        $(".delete_button").prop("disabled", false);
      } else {
        uncheckAll();
        $(".delete_button").prop("disabled", true);
      }
    });

    var checkboxes = $(".list"),
      submitButt = $(".delete_button");

    checkboxes.change(function() {

      var isOneChecked = false;

      checkboxes.each(function() {
        if ($(this).is(':checked')) {
          isOneChecked = true;
        }
      });

      if (isOneChecked) {
        submitButt.prop("disabled", false);
      } else {
        submitButt.prop("disabled", true);
        $(".checkAll").prop("checked", false);
      }

    });

  });
</script>
<?php
$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Communication Center'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?php echo $this->language->_('Dropbox'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<?php if ($this->error) { ?>
  <div class="errmsg">
    <?php echo $this->language->_('Error'); ?>: <?php echo $this->language->_('Please check selection'); ?>
  </div><br />
<?php } ?>


<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Dropbox List') ?></h5>

        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">


            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row => $val) {
                $optArr .=  '<option value="' . $val . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var ctrfilter = <?= count($this->wherecol); ?>;
                            $("#logo-title").show();
                            $("#where-").hide();
                            $("#wherectr").val(ctrfilter)
                        });
                    </script>
                <?php
                }

                //print_r($this->wherecol);//die;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array('QUEST_DATE');
                        $selectlist = array("CODE", "NAME", "UPLOADED_BY");
                        $index = 0;



                        ?>
                        <div id="where-<?= $key ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row => $val) {
                                            $colname = $val;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $val ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-s<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-s<?= $key ?>";
                                            var ncolselect = "#colselect-s<?= $key ?>";
                                        });
                                    </script>
                                    <?php
									  if ($value == 'QUEST_DATE') {
									  ?>
										<input type='text' class='form-control' name='questdate[]' id='questStart' readonly value="<?= $this->DATE_START ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='questdate[]' id='questEnd' value="<?= $this->DATE_END ?>" readonly required>
									  
                                    <?php
                                    } else if (in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                        <div id="where-<?= $ctr ?>">

                        </div>
                        <?php //}}
                        ?>
                    </div>
                    <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                    <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">



                </div>
            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>
        </form>
    </div>
</div>



<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
  <div class="form-group">
    <div style="float:left">
      <?php
      $buttonNewHelp = $this->url(array('module' => 'dropbox', 'controller' => 'add',), null, true);
      ?>
      <?php
      if ($this->paginator) {
      ?>
        <?php
        if ($this->hasPrivilege('DSUD')) {
        ?>
          <button type="button" class="btn-sm btngrad hov" onclick="location.href='<?php echo $buttonNewHelp; ?>'"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add') ?></button>
        <?php
          echo $this->formSubmit('delete', $this->language->_('Delete'), array('class' => 'btn-sm btngrad hov delete_button', 'disabled' => 'disabled'));
        } else {
        ?>
          <button type="button" class="btn-sm btngrad disabled" disabled><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add') ?></button>
        <?php
          echo $this->formSubmit('delete', $this->language->_('Delete'), array('class' => 'btn-sm btngrad hov delete_button disabled', 'disabled' => 'disabled'));
        }
        ?>
      <?php
      }
      ?>

    </div>

  </div>
  <br>
  <br>
  <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
    <table class="table table-sm table-striped">
      <thead>
        <tr height="45px">
          <th width="5%" class="tablehead"><?php echo $this->formCheckbox('checkAll', '', array('class' => 'checkAll')); ?></th>
          <th class="tablehead" width="30%"><?php echo $this->language->_('File Name / Description'); ?></th>
          <th class="tablehead" width="20%"><?php echo $this->language->_('Share to Company'); ?></th>
          <th class="tablehead" width="15%"><?php echo $this->language->_('Last Updated'); ?></th>
          <th width="10%" class="tablehead"><?php echo $this->language->_('Action'); ?></th>
        </tr>
      </thead>
      <tbody>
        <?php
        if (count($this->paginator)) {
          $i = 0;
          foreach ($this->paginator as $row) {
            $filetype = substr($row['FILE_SYSNAME'], -3);
            if ($filetype = 'csv') {
              $filetype = 'CSV';
            } elseif ($filetype = 'pdf') {
              $filetype = 'PDF';
            }
            $td_css = ($i % 2 == 0) ? ' tbl-evencontent' : 'tbl-oddcontent';
            $i++;
            $button1 = '<a class="btnround" title="Edit" href="' . $this->url(array('module' => 'dropbox', 'controller' => 'edit', 'action' => 'index', 'filter' => 'edit', 'FILE_ID' => $row['FILE_ID']), null, true) . '"><i class="fa fa-edit" style="color:#ffffff"></i></a>';
            if ($this->hasPrivilege('DSDL')) {
              $button = '<a class="btnround" title="Download" href="' . $this->url(array('module' => 'datasubmision', 'controller' => 'index', 'action' => 'index', 'filter' => 'download', 'FILE_ID' => $row['FILE_ID']), null, true) . '"><i class="fas fa-file-download" style="color:#ffffff"></i></a>';
            } else {
              $button = '<font color="grey">' . $this->language->_('Download') . '</font>';
            }
            $attribut = array('class' => 'list');
            echo '<tr>
                              <td class="' . $td_css . '">' . $this->formCheckbox("req_id[$i]", $row['FILE_ID'], $attribut) . '</td>
                              <td class="' . $td_css . '">' . $row['FILE_NAME'] . ' - ' . $row['FILE_DESCRIPTION'] . '</td>
                              <td class="' . $td_css . '" >' . $this->escape($row['CUST_NAME']) . '<br>(' . $this->escape($row['CUST_ID']) . ')</td>
                              <td class="' . $td_css . '">' . $row['FILE_UPLOADEDBY'] . ' - ' . Application_Helper_General::convertDate($row['FILE_UPLOADED_TIME'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
                              <td class="' . $td_css . ' pl-3 row">' . $button1 . ' &nbsp; &nbsp ' . $button . '</td>
                            </tr>';
            $counter++;
          }
        } else {
        ?>
          <tr>
            <td colspan="9" class="tbl-evencontent" align="center"> --- <?php echo $this->language->_('No Data') ?> --- </td>
          </tr>
        <?php
        }
        ?>
      </tbody>
    </table>
  </div>

  <br />
  <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>

</form>


<script type="text/javascript">
  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#" + parentname).remove();
  }
  $(document).ready(function() {

    $("#addwhere").click(function() {
      var ctr = $("#wherectr").val();
      var optstr = '<?php echo $optArr; ?>';
      var wherecol = "#wherecol-" + ctr;
      $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      ctr++;
      $("#wherectr").val(ctr);
    });
  });

  function getOpt(elem) {
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-" + ctr;
    var colselect = "colselect-" + ctr;
    var ncolselect = "#colselect-" + ctr;
    var $coll = $('.event_select');
    $coll.children().prop('disabled', false);
    $coll.each(function() {
      var val = this.value;
      if (val === 'original') return;
      $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
    });

    $(colval).empty();
    if (colomnname == 'QUEST_DATE') {
      $(colval).append("<input type='text' class='form-control'  name='questdate[]' id='questStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='questdate[]' id='questEnd' readonly required>");
      $('#questStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#questEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });

    } else {
      $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-" + ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
      document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
      document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
      document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
      document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
      document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    } else if (dttype == 'date' || dttype == 'datetime') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
      document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
      document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
      document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
      document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-' + ctr;
    var data = $(colomn).val('EQUAL').change();

  }
</script>