<b><?php echo $this->language->_('Predefined Beneficiary  '); ?>&gt;<?php echo $this->language->_(' BII Account'); ?></b><br /><br />
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('alias',$this->language->_('Alias Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('alias',$this->alias)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_acct',$this->language->_('Beneficiary Account')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('benef_acct',$this->benef_acct)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_name',$this->language->_('Beneficiary Account Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('benef_name',$this->benef_name)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_ccy',$this->language->_('CCY')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formSelect('benef_ccy',$this->benef_ccy,null,$this->ccy)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('favorit',$this->language->_('Favorite')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formCheckbox('favorit',null, array('checked' => $this->favorit))?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn')); ?>
	  <?php // echo $this->formButton('filter','Clear',array('class'=>'inputbtn','onClick'=>'this.form.reset();')); ?>
    </td></tr>
  </table>
</form>
  <br />
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'setfavorite'),null,true)?>" method="post">
<?php
	$option = array('module'=>'predefinedbeneficiary','controller'=>$this->controllername,'action'=>'addbeneficiary');
	$import = array('module'=>'predefinedbeneficiary','controller'=>$this->controllername,'action'=>'importbeneficiary');
?>
<input class = "inputbtn" type="button" onclick="location.href='<?=$this->url($option,null,true)?>'" value = "Add">
<!--<input class="inputbtn" value="Import From File" onclick="location.href='<?=$this->url($import,null,true)?>'" type="button">-->
<?php echo $this->formSubmit('submit','Set Favorite',array('class'=>'inputbtn')); ?>
  <br />
  <br />
  <div class="content-filter2">
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>''),null,true)?>"><span <?php if((!$this->alpha || $this->alpha=='') && !$this->fav) echo 'class="subtopic"';?>>ALL</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','fav'=>'fav'),null,true)?>"><span <?php if($this->fav) echo 'class="subtopic"';?>>FAV</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'A'),null,true)?>"><span <?php if($this->alpha=='A') echo 'class="subtopic"';?>>A</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'B'),null,true)?>"><span <?php if($this->alpha=='B') echo 'class="subtopic"';?>>B</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'C'),null,true)?>"><span <?php if($this->alpha=='C') echo 'class="subtopic"';?>>C</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'D'),null,true)?>"><span <?php if($this->alpha=='D') echo 'class="subtopic"';?>>D</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'E'),null,true)?>"><span <?php if($this->alpha=='E') echo 'class="subtopic"';?>>E</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'F'),null,true)?>"><span <?php if($this->alpha=='F') echo 'class="subtopic"';?>>F</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'G'),null,true)?>"><span <?php if($this->alpha=='G') echo 'class="subtopic"';?>>G</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'H'),null,true)?>"><span <?php if($this->alpha=='H') echo 'class="subtopic"';?>>H</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'I'),null,true)?>"><span <?php if($this->alpha=='I') echo 'class="subtopic"';?>>I</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'J'),null,true)?>"><span <?php if($this->alpha=='J') echo 'class="subtopic"';?>>J</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'K'),null,true)?>"><span <?php if($this->alpha=='K') echo 'class="subtopic"';?>>K</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'L'),null,true)?>"><span <?php if($this->alpha=='L') echo 'class="subtopic"';?>>L</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'M'),null,true)?>"><span <?php if($this->alpha=='M') echo 'class="subtopic"';?>>M</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'N'),null,true)?>"><span <?php if($this->alpha=='N') echo 'class="subtopic"';?>>N</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'O'),null,true)?>"><span <?php if($this->alpha=='O') echo 'class="subtopic"';?>>O</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'P'),null,true)?>"><span <?php if($this->alpha=='P') echo 'class="subtopic"';?>>P</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'Q'),null,true)?>"><span <?php if($this->alpha=='Q') echo 'class="subtopic"';?>>Q</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'R'),null,true)?>"><span <?php if($this->alpha=='R') echo 'class="subtopic"';?>>R</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'S'),null,true)?>"><span <?php if($this->alpha=='S') echo 'class="subtopic"';?>>S</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'T'),null,true)?>"><span <?php if($this->alpha=='T') echo 'class="subtopic"';?>>T</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'U'),null,true)?>"><span <?php if($this->alpha=='U') echo 'class="subtopic"';?>>U</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'V'),null,true)?>"><span <?php if($this->alpha=='V') echo 'class="subtopic"';?>>V</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'W'),null,true)?>"><span <?php if($this->alpha=='W') echo 'class="subtopic"';?>>W</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'X'),null,true)?>"><span <?php if($this->alpha=='X') echo 'class="subtopic"';?>>X</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'Y'),null,true)?>"><span <?php if($this->alpha=='Y') echo 'class="subtopic"';?>>Y</span></a>&nbsp;&nbsp;&nbsp;
		<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','alpha'=>'Z'),null,true)?>"><span <?php if($this->alpha=='Z') echo 'class="subtopic"';?>>Z</span></a>&nbsp;&nbsp;&nbsp;
	</div>
</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
  {
          $i=0;
          
	  foreach($this->paginator as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete','benef_id'=>$row['BENEFICIARY_ID']),null,true);
		$button =  '<input class = "inputbtn" type="button" onclick="javascript:confirmation(\'Are you sure want to delete this beneficiary account?\',\''.$button.'\');" value = "Delete">';  
		   
		if($row['BENEFICIARY_ISAPPROVE_disp']=='Approved') $benefId = $row['BENEFICIARY_ACCOUNT'];
		else $benefId = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editbeneficiary','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">'.$row['BENEFICIARY_ACCOUNT'].'</a>';
		  
		if($row['BENEFICIARY_EMAIL']) $email = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editemail','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">'.$row['BENEFICIARY_EMAIL'].'</a>';
		else $email = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editemail','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">N/A</a>';
				  
		$fav =array('checked' => ($row['ISFAVORITE']==1)? true : false);
		$delete = '';
		if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = 'Request to delete';
		else $delete = $button;
		
		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
				<td class="'.$td_css.'">'.$benefId.'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$email.'</td>
				<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
				<td class="'.$td_css.'"><center>'.$this->formCheckBox("isfavorite[{$row['BENEFICIARY_ID']}]",null, $fav).'</center></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_BANKSTATUS_disp'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_ISAPPROVE_disp'].'</td>
				<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['BENEFICIARY_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				<td class="'.$td_css.'">'.$delete.'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> ---'.$this->language->_(' No Data ').'--- </td></tr>';
	}
    ?>
</table>
<br />

<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="8">
								<div id="notesPage">
								<div class="tdform-sub"><?php echo $this->language->_('Notes'); ?>:</div>
								<div class="tbl-oddcontent">
									<?php echo $this->language->_('Click on '); ?><b><?php echo $this->language->_('Account Number '); ?></b> 
									<?php echo $this->language->_('to edit.'); ?>
									<br>
									<?php echo $this->language->_('Approved Account can not be modified, except deleted.'); ?>
									<br>
									<?php echo $this->language->_('If you find the button is disabled, means you are not privilege.'); ?>
								</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td class="button-area" id="button-area" colspan="8">
								<div class="formbutton">
									<input class = "inputbtn" type="button" onclick="location.href='/home/index'" value = "Back">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			</tr>
		</tbody>
	</table>
</form>