<script type="text/javascript" charset="utf-8">

	function enableCustId()
	{
		$('.custId').hide();
		if($("#operator").val() != '')
		{
			$('.custId').show();
			paymentCheck();
		}
	}

	function paymentCheck()
	{
		$('#payment').attr('disabled', 'disabled');
		//$('#operator').removeAttr('disabled');
		if($("input.radioCheck:checked").val() == '2')
		{
			$('#payment').removeAttr('disabled');
			//$('#operator').attr('disabled', 'disabled');
			$('#operatorHidden').attr('value', $('#operator').val());
			<?php
				foreach($this->paymentList AS $arr)
				{
			?>
					selected = "";
					if('<?=$arr['REF_NO']?>' == '<?php echo $this->payment?>')
					{
						selected = "selected";
					}
					if($('#operator').val()==<?=$arr['PROVIDER_ID']?>)
					{
						$('#payment').append("<option value='<?=$arr['REF_NO']?>'"+selected+"> <?=$arr['REF_NO']?></option>");
					}
			<?php
				}
			?>
		}
	}

	function modalpayment(){
		// alert();
    $("#myModalApproval").modal();
  }

	$(document).ready(function()
	{
		$('#payment').attr('disabled', 'disabled');
		if($("input.radioCheck:checked").val() == '2')
		{
			$('#payment').removeAttr('disabled');
			if('<?=$this->payment?>')
			{
				paymentCheck();
			}
		}
		enableCustId();

		$(".tokeninput").keyup(function (e) {

	        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
	              $(this).prev().focus();
	      }else{
	          $(this).next().focus();
	      }
	    });

	    $('#tokenmodal').on('shown.bs.modal', function() {
            $('.firsttokenfield').trigger('focus');
          });

	    <?php if ($this->repurchase) { ?>
	    	var repurchaseOrderId = "<?php echo $this->repurchaseOrderId ?>";
	    	$('#orderId').val(repurchaseOrderId);
	    <?php } ?>
	});
</script>

<script type="text/javascript">
	$(function() {
	    $('#operator').change(function() {
	    	document.getElementById('orderId').value = '';
	        this.form.submit();
	    });
	});
</script>

<style>

.switcher {
  display: inline-block;
  height: 30px;
  margin-top:3px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 200px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #007934;
  border-radius: 30px;
  left: 5px;
  top: 0px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked + .switcher__label {
  color: #fff;
}

.switcher__input--yang:checked ~ .switcher__toggle {
  left: 100px;
}
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  /*padding: 40px;*/
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 105px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
</style>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payment')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('PAM Payment')?>
                    </li>
                </ul>
            </div>
        </div>
</div>

<?php if($this->ERROR_MSG_N){?>
<div class="alert alert-danger">
<?php echo $this->language->_($this->ERROR_MSG_N);?>
</div><br>
<?php }?>

<?php
	if($this->responseCodeReqErr)
	{
?>
		<div class="alert alert-danger">
<?php
			echo $this->formErrors($this->responseCodeReqErr);
?>
		</div>
<?php
	}
?>

<?php
	$mandatory = ($this->confirmPage != 1)? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>": "";
?>
<h5 style="margin-bottom: 0px;font-size: 18px;"><?=$this->language->_('Payment')?></h5>

<h5 style="color:#b3b3b3;font-size: 18px;"><?=$this->language->_('PAM')?></h5> 

<br>

<div class="portlet-body form" style="border: 0px solid #ddd;">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" id="submitForm">
	<?php echo $this->formHidden('randomTransact',$this->randomTransact,array('maxlength'=>'128','size'=>'40','readOnly'=>true)); ?>
	<?php if ($this->confirmPage == 0){
		echo $this->formHidden('confirmPage',0);
	?>

	   <!-- paymentlist -->
	   <?php echo $this->partial('paymentlist.phtml')?>

       <a class="btnwhite hov card" href="#" onclick="modalpayment();" style="border: 1px solid rgba(0,0,0,.125);"><i class="fa fa-shopping-cart navbar-icons" style="margin-top: 4px;"></i>&nbsp;<?php echo $this->language->_('Payment List'); ?></a>

<br>
<br>


<div class="row">
	<div class="col-md-7">
		<div class="form-group row ">
               <!--  <div class="col-md-12">
                <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                </div> -->
      	</div>
		<div class="form-group">
		<label class="control-label"><?php echo $this->language->_('Subject');?></label>
		<div class="row">
			<div class="col-md-9">
				<?= $this->formText("subject", $this->subject, array('class' => 'form-control')); ?>
				</div>
		</div>
		</div>
      	<div class="form-group">
    		<label class="control-label"><?php echo $this->language->_('Source Account');?><?=$mandatory?></label>
    		<div class="row">
	          	<div class="col-md-9">
	            <?php
						if ($this->confirmPage != 1)
							echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");
						else
							echo $this->ACCTSRC_view.$this->formHidden('ACCTSRC',$this->ACCTSRC);

						if($this->ACCTSRCErr)
						{
							echo '<div class="errmsg">'.$this->formErrors($this->ACCTSRCErr).'</div>';

						}

						if($this->xACCTSRC){
							echo "<div class='errmsg'> ".$this->xACCTSRC." </div>";
						}
					?>

	          	</div>
	        </div>
	    </div>
	    <div class="form-group">
			<label class="control-label"><?php echo $this->language->_('Service Provider');?><?=$mandatory?></label>
			<div class="row">
				<div class="col-md-9">
                <?php echo $this->formSelect('operator',$this->operator,array('onchange'=>'enableCustId()','class'=>'form-control mb-2'),$this->providerArr); ?>
					<input type="checkbox" name="cek" value="1" <?php if($this->cek==1){echo('checked');}?>><?php echo $this->language->_('Add To Payment List');?>
					<?php

						if($this->operatorErr)
						{
					?>
							<div class="errmsg">
					<?php
								echo $this->formErrors($this->operatorErr);
					?>
							</div>
					<?php
						}
					?>
            	</div>
			</div>
    	</div>
    	<div class="custId form-group" style="display:none">
            <label class="control-label"> <?php echo $this->language->_('Service Provider');?><?=$mandatory?></label>
            <div class="row">
            	<div class="col-md-9">
					<table>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td style="font-size: 10px;">
								<label for="radioCheck" class="radio m-0">
									<input type="radio" name="radioCheck" id="radioCheck" class="hidden radioCheck" value="1" <?php if($this->radioCheck==1){echo('checked');}?> onchange = "paymentCheck()" />
								    <span class="label"></span><?php echo $this->language->_('New Entry');?>
								</label>
							</td>
						</tr>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td>
								<div>
									<table>
										<tr>
											<td width='30px'>&nbsp;</td>
											<td style="font-size: 10px;"><?php echo $this->language->_('Billing ID');?></td>
											<td> : </td>
											<td>
												<?php
													echo $this->formText('orderId',$this->orderId,array('maxlength'=>'16','size'=>'30','class'=>'line pt-0'));

													if($this->orderIdErr)
													{
												?>
														<div class="errmsg">
												<?php
															echo $this->formErrors($this->orderIdErr);
												?>
														</div>
												<?php
													}
												?>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td style="font-size: 10px;">
								<label for="radioCheck2" class="radio m-0">
									<input type="radio" name="radioCheck" id="radioCheck2" class="hidden radioCheck" value="2" <?php if($this->radioCheck==2){echo('checked');}?> onchange = "paymentCheck()" />
								    <span class="label"></span><?php echo $this->language->_('From Payment List');?>
								</label>
							</td>
						</tr>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td>
								<div>
									<table width="100%">
										<tr>
											<td width='30px'>&nbsp;</td>
											<td style="font-size: 10px;"><?php echo $this->language->_('From Payment List');?></td>
											<td> : </td>
											<td>

												<?php
													echo '<select name="payment" id="payment" class="form-control">
															<option value="">-- '.$this->language->_('Please Select').' --</option>';
													echo '</select>';
													if($this->paymentErr)
													{
												?>
														<div class="errmsg">
												<?php
															echo $this->formErrors($this->paymentErr);
												?>
														</div>
												<?php
													}
												?>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
		     		</div>
            </div>
   		</div>	
   		<?php if($this->provInquiry == 'N'){?>
        <div class="form-group">
            <label class="control-label"> <?php echo $this->language->_('Total Payment');?><?=$mandatory?></label>
            <div class="row">
	            <div class="col-md-9">
	                <?php
					echo $this->formText("amount",$this->amount,array('id'=>"TRAAMOUNT",'maxlength'=>'20','class' =>'currency qty form-control', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)","class"=>"form-control"));
					?>
					<?
						if($this->amountErr)
						{
					?>
							<div class="errmsg">
					<?php
								echo $this->formErrors($this->amountErr);
					?>
							</div>
					<?php
						}
					?>
	            </div>
            </div>
        </div>

		<?php } ?>
	</div>

	<div class="col-md-5">
		<div class="form-group row">
            <h6><?php echo $this->language->_('History')?></h6>
        </div>
        <div class="form-group row">
        	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        		<table class="table table-sm table-striped" id="myTable">
        			<thead>
        				<tr>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Date')?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('ID')?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Amount')?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Action')?></th>
        				</tr>
        			</thead>
        			<tbody>
        				<?php foreach ($this->historyData as $row) { ?>
	        				<tr>
	        					<td><?php echo Application_Helper_General::convertDate($row['PS_EFDATE'], 'dd MMMM y') ?></td>
	        					<td><?php echo $row['BILLER_ORDER_ID'] ?></td>
	        					<td><?php echo Application_Helper_General::displayCurrency($row['PS_TOTAL_AMOUNT']); ?></td>
	        					<td><button type="button" class="iconCircle" title="Repurchase" onclick="repurchasing(this)" data-orderid="<?php echo $row['BILLER_ORDER_ID']; ?>" data-operator="<?php echo $row['PS_BILLER_ID']; ?>" ><i class="fas fa-shopping-cart" style="padding-right: 2px;"></i></button></td>
	        				</tr>
        				<?php } ?>

        				<input type="hidden" name="repurchase" id="repurchase" value="0">
        				<input type="hidden" name="repurchaseOrderId" id="repurchaseOrderId" value="">
        		</table>
        	</div>
        </div>
	</div>
		
</div>

<br/>
<?php if($this->token){ ?>
        <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="col-md-12" align="center">
                 <table width="70%">
                    <tbody>
                      <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

                      <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput firsttokenfield mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
               	<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
               	<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
              </div>
            </div>
          </div>
        </div>

        <?php 
          } ?>
		<input type = "hidden" id="operatorHidden" name="operatorHidden" value="">
		<div class="portlet-body form">
          <!-- Default panel contents -->

        	<!-- <div class="card-header cardhead text-white"><?php echo $this->language->_('PAM Payment');?></div> -->
        	<div class="portlet-body form">
            <!-- BEGIN FORM-->




                <div class="form-group row pt-2">
                	<label class="control-label col-md-4"></label>
                	<div class="col-md-8">
                		<div class="formbutton" style="float:left">
							<?php $option = array('module'=>'home'); ?>
							<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?=$this->url($option,null,true)?>'" type="button">
							<?php //$this->formSubmit('submit', $this->language->_('Next'),array('class' => 'inputbtn'));?>

							<?php
							
							 if($this->operator){?>
								 <?php if(!$this->token){
								  ?>
								 		<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
								 <?php }else{ 
								 	?>
								 		<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
								 		<!-- <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button> -->
								 	<?php
								 }?>
								
							<?php }?>
							<script>
							function submitbtn(){
								document.getElementById("subbutton").style.display ="none";
								document.getElementById("Submit_id").style.display ="inline";
							}
							</script>
						</div>
                	</div>
                </div>

            </div>
		</div>
		      <br/>




	<?php
	}
	//halaman next
	elseif($this->confirmPage == 1){
		echo $this->formHidden('confirmPage',1);
	?>
	<?php
	if($this->error)
	{	?>
	<div class="errmsg">
	<?php
		echo $this->language->_($this->ERROR_MSG);
	?>
	</div><br />
	<?php
		}
	?>


	<div class="portlet-body form">
      <!-- Default panel contents -->
      <div class="card-header cardhead text-white"><?php echo $this->language->_('PAM Payment');?></div>
    	<div class="portlet-body form">
        <!-- BEGIN FORM-->

            <div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('Source Account');?><?=$mandatory?></label>
                <div class="col-md-9">
                <?=$this->paramSession['ACCTSRC']?> [<?=$this->paramSession['ccy']?>] - <?=$this->paramSession['ACCT_NAME_DATA']?> (<?=$this->paramSession['ACCT_DESC']?>)
                </div>
            </div>

		    <div class="form-group row">
			    <label class="control-label col-md-3"><?php echo $this->language->_('Service Provider');?></label>
			          <div class="col-md-9">
		                <?php echo $this->formLabel('service',$this->paramSession['operatorNama']); ?>

		              </div>
		    </div>

	        <div class="form-group row">
			    <label class="control-label col-md-3"><?php echo $this->language->_('Customer ID');?></label>
			          <div class="col-md-9">
		                <?=$this->paramSession['orderId']?>

		              </div>
		    </div>
		    <?php if($this->paramSession['ACCT_NAME']){?>
		    <div class="form-group row">
			    <label class="control-label col-md-3"><?php echo $this->language->_('Customer Name');?></label>
			          <div class="col-md-9">
		                <?=$this->paramSession['ACCT_NAME']?>

		              </div>
		    </div>
		    <?php } ?>
	        <div class="form-group row">
			    <label class="control-label col-md-3"><?php echo $this->language->_('Amount');?></label>
			          <div class="col-md-9">
		                <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>

		              </div>
		    </div>


			<?php
			if($this->paramSession['fee'] < 1)
			{
			}
			else{
			?>
		    <div class="form-group row">
			    <label class="control-label col-md-3"><?php echo $this->language->_('Fee');?></label>
			          <div class="col-md-9">
		                <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['fee'])?>

		              </div>
		    </div>
		    <?php } ?>
		    <div class="form-group row">
			    <label class="control-label col-md-3"><?php echo $this->language->_('Total');?></label>
			          <div class="col-md-9">
			            <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>

			          </div>
			</div>

	   </div>
	</div>
	<br/>
	<br/>

	<?php $user_id = $this->userId;?>

		<table border="0" cellspacing="0" cellpadding="0">

			<tr>
				<td class="button-area" id="button-area" colspan="3">
					<label class="control-label col-md-4"></label>
			                	<div class="col-md-8">
					<div class="formbutton" style="float:left">
						<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'btnwhite hov'));?>
						<?php //echo $this->formSubmit('submit1', $this->language->_('Submit'),array('class' => 'inputbtn'));?>


						<input type="submit" class="btngreen hov" name="submit1" onClick='trfEncryptPay();submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
						<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
						<script>
						function submitbtn(){
							//document.getElementById("subbutton").disabled=true;
							document.getElementById("subbutton").style.display ="none";
							document.getElementById("Submit_id").style.display ="inline";
							//Validation code goes here
						}
						</script>
					</div>
					</div>
			        </div>
				</td>
			</tr>
		</table>
	<?php }?>




</form>
</div>

<script type="text/javascript">
	function repurchasing(selected){
			
		var sourceAcct = $('#ACCTSRC').val();

		if (sourceAcct == '') {
			alert("<?php echo $this->language->_('Please select source account first'); ?>");
			return false;
		}

		var orderId = $(selected).data('orderid');
		var operator = $(selected).data('operator');

		$('#operator').val(operator);
		$('#repurchase').val('1');
		$('#repurchaseOrderId').val(orderId);

		$('#submitForm').submit();
	}
</script>