.amsify-suggestags-area
.amsify-suggestags-input-area-default {
	cursor: pointer;
    border: 1px solid #cccccc;
    min-height: 20px;
    padding: 8px 5px;
}

.amsify-suggestags-area
.amsify-suggestags-input-area {
	text-align: left;
	height: auto;
}

.amsify-suggestags-area
.amsify-suggestags-input-area:hover {
	cursor: text;
}

.amsify-suggestags-area
.amsify-suggestags-input-area
.amsify-suggestags-input {
	max-width: 200px;
	padding: 0px 4px;
	border: 0;
}

.amsify-suggestags-area
.amsify-suggestags-input-area
.amsify-suggestags-input:focus {
	outline: 0;
}

.amsify-focus {
	border-color: #2b8b2a;
		outline: 0;
		box-shadow:  0 1px #006520;
}

.amsify-focus-light {
	border-color: #cacaca;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 189, 189, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 189, 189, 0.6);
}

.amsify-suggestags-area
.amsify-suggestags-label {
	cursor: pointer;
	min-height: 20px;
}

.amsify-toggle-suggestags {
	float: right;
	cursor: pointer;
}

.amsify-suggestags-area .amsify-suggestags-list {
	display: none;
	position: absolute;
	background: white;
	border: 1px solid #dedede;
	z-index: 1;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list {
	list-style: none;
	padding: 3px 0px;
	max-height: 150px;
    overflow-y: auto;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-list-item {
	text-align: left;
    cursor: pointer;
    padding: 0px 10px;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-list-item:active {
	background: #717171;
    color: white;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-list-group {
	text-align: left;
    padding: 0px 10px;
    font-weight: bold;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-item-pad {
    padding-left: 30px;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-item-noresult {
    display: none;
    color: #ff6060;
    font-weight: bold;
    text-align: center;
}

.amsify-suggestags-area
.amsify-suggestags-list
.amsify-select-input {
	display: none;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.active {
	background: #d9d8d8;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-item-pad.active {
	font-weight: normal;
}

.amsify-suggestags-input-area
.amsify-select-tag {
    padding: 2px 7px;
    margin: 0px 4px 1px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
}

.amsify-suggestags-input-area
.amsify-select-tag.col-bg {
	background: #d8d8d8;
    color: black;
}

/*.amsify-suggestags-input-area
.amsify-select-tag:hover {
	background: #737373;
    color: white;
}*/

.amsify-suggestags-input-area
.disabled.amsify-select-tag {
    background: #eaeaea;
    color: #b9b9b9;
    pointer-events: none;
}

.amsify-suggestags-input-area
.flash.amsify-select-tag {
    background-color: #f57f7f;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.amsify-suggestags-input-area
.amsify-remove-tag {
	cursor: pointer;
}
