
<script>
  $(document).ready(function()
  {
    $(".tokeninput").keyup(function (e) {

        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
              $(this).prev().focus();
      }else{
          $(this).next().focus();
      }
    });
	
	$('#tokenmodal').on('shown.bs.modal', function() {
        $('.firsttokenfield').trigger('focus');
      });

      $('#tokenmodal').on('shown.bs.modal', function() {
        $('.firsttokenfield').trigger('focus');
      });

      $('.tokeninput').prop('autocomplete', 'off');
  });
  
  function tokenModal() { 
    $('#tokenmodal').modal('show');
    $('#tokenmodal').on('shown.bs.modal', function (){
      
      $('input[name=inputtoken1]').focus();
    });
  }
</script>

<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
<div class="row hiddenprint">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Predefined beneficiary')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?=$this->language->_('Approve Beneficiary')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?=$this->language->_('Approve')?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<br />

<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div>
<?php } 
	else if($this->resulttoken){echo '<div class="errmsg">'.$this->language->_($this->resulttoken).'</div><br>';}
?>
<div class="portlet-body form">
<form name="form" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'approve'),null,true)?>" method="post">

<div class="portlet-body flip-scroll">
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-striped table-condensed flip-content">
	<tr class="headercolor">	
<?php 
	foreach ($this->headers as $header)
	{	?>
		<th class="tablehead"><?php echo $header; ?></th>		<?php 	
	}	
	?>
		<!--<th><?php echo $this->language->_('Status'); ?></th>-->
	</tr>	

<!--<?php 	
	$numFields = count($this->headers) + 1;
	if(!empty($this->data))
	{
		$no = 0;
		foreach($this->data as $d => $dataRow)
		{
			$tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
			$tdcss = (empty($this->valErrorMsg[$d])) ? $tdcss: "tbl-error";	?>			
			<tr>	<?php 
				
			foreach($dataRow as $keyVal => $dataVal)
			{		
				$attr = ($keyVal == "amount")? " align='right'": "";	?>
				
				<td class="<?= $tdcss; ?>" <?= $attr;?>><?php echo $this->language->_($dataVal); ?></td>
				
<?php		}	
			
			$urlError  = $this->url(array('module'=>'popup','controller'=>'index','action'=>'multiapprove','line' => $d),null,true);
			$statusMsg = (empty($this->valErrorMsg[$d]))? "Ready to Approve": "Can't approve this payment <a style='cursor:pointer' onClick=\"showPopUpWindow('$urlError');\">[DETAIL]</a>";
			
?>
				<td class="<?= $tdcss; ?>">
					<?php echo $this->language->_($statusMsg); ?>
					<input name="mPayReff[]" type="hidden" value="<?php echo $dataRow['payReff']; ?>">
				</td>
			</tr>	
			
<?php 
			$no++;
		}
	}
	else
	{
?>
		<tr>
			<td class="tbl-evencontent" colspan="<?php echo $numFields;?>" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
		</tr>
<?php
	}
?>
-->

<?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
  {
          $i=0;
		  
	  foreach($this->paginator as $row) {
	  //var_dump($row);
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
        $attribut=array('class' => 'benef_id', 'checked' => (isset($this->benef_id[$row['BENEFICIARY_ID']]))? true : false);
		
		$email = $row['BENEFICIARY_EMAIL']?$row['BENEFICIARY_EMAIL']:'N/A';
		$bankName = $row['BANK_NAME']?$row['BANK_NAME']:$this->appInfo['bankname'];
		
							//$email = $row['BENEFICIARY_EMAIL']?$row['BENEFICIARY_EMAIL']:'N/A';
							//$bankName = $row['BANK_NAME']?$row['BANK_NAME']:$this->appInfo['bankname'];

							$benefCekName = "-";
							$override = "-";
							$color = "";
							if ($row['ACTION_disp'] == "Add" && !empty($row['BENEFICIARY_NAME_CEK'])){
								$benefCekName = $row['BENEFICIARY_NAME_CEK'];
								$override = "-";	

								if ($row['BENEFICIARY_NAME'] != $row['BENEFICIARY_NAME_CEK']){
									$color = "color:red";
									$override_cek = $this->overide[$row['BENEFICIARY_ID']];
									if($override_cek == '1'){
										$override = 'Y';
									}
									if($override_cek == '2'){
										$override = 'N';
									}
									
									//$override = $this->formSelect("override[{$row['BENEFICIARY_ID']}]",null,array('id'=>'override'), $this->optoverride);
								}						
							}
		
		// table content
		echo '<tr>				
				<td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$bankName.'</td>
				
				<td class="'.$td_css.'">'.$this->language->_($row['BENEFICIARY_TYPE_disp']).'</td>
				<td class="'.$td_css.'">'.$this->language->_($row['ACTION_disp']).$this->formHidden("act[{$row['BENEFICIARY_ID']}]", $row['ACTION_disp']).'</td>
				<td class="'.$td_css.'"><span style="'.$color.'">'.$benefCekName.'</span></td>
				<td class="'.$td_css.'">'.$override.'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> ---'.$this->language->_('No Data').'--- </td></tr>';
	}
    ?>

</table>
</div>
<br>

	
	
	<?php
														if ($this->googleauth) {
															if ($this->popauth) {
																$errorMsgView = '';
														?>

																<script type="text/javascript">
																	$(document).ready(function() {
																		$("#tokenmodal").modal();
																	});
																</script>
															<?php
															}
														}
															?>


	<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Google Auth Verify</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>   
            <div class="modal-body mx-3">
			<div class="errmsg"><?php
																													if ($this->popauth) {
																														echo $errorMsgView;
																													}
																													?></div>
																													
				 <?php  if($this->popauth){ ?>
					 <div class="errmsg">
						  <?php echo $this->language->_('Incorrect token'); echo ' ( '; echo $this->language->_('you have '); echo $this->tokenfail; echo $this->language->_(' more chances'); echo ' )'; ?>
					  </div>
					  <?php } ?>
              <div class="col-md-12" align="center">
                <table width="100%">
                  <tbody>
                    <!-- <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">
 -->
                    <!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->
					 
                    <tr>
                      <td align="center">
					  <?php if ($this->googleauth) { ?>
                        <div class="input-group">
                          <center style="width: 100%">
                          <input class="tokeninput firsttokenfield" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </center>
                        </div>
					  <?php }else{ ?>
							<h6 class="text-danger mt-4">Google Auth hasn't been registered</h6>
					  <?php } ?>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <?php if ($this->tokenError) { ?>
                  <h6 class="text-danger mt-4"><?php echo $this->language->_($this->error_msg); ?></h6>
                <?php } ?>

              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
			  <?php
					$submitAttr = array('class' => 'btngreen hov');
					 if ($this->googleauth) {
						 ?>
							<input type="submit" value="<?php echo $this->language->_('Approve')?>" name="submit_approve" class="btngreen hov" />
						 <?php
			  //echo $this->formSubmit('release', $this->language->_('Approve'), $submitAttr);
					}
		  ?>
              <?php //echo $this->formButton('release', $this->language->_('Release'), array('class' => 'btngreen hov', "onclick" => "proceed('release');this.form.back.disabled=true; "));  ?>
            </div>
          </div>
        </div>
      </div>
	
	<tr>
		<td>
		
		</td>
	</tr>
	
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr style="height:30px">
		<td align="left">
			<?php 
			//$allowApprove = ($this->allowApprove == true)? "id": "disabled";	
			$allowApprove = "id";
			?>
			<input type="hidden" name="process" value= "">
			<?php echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"window.location='".$this->backURL."'")); ?>

			<?php 
		
				if ($this->googleauth) {
					if(!$this->nogoauth){
						?>
						<button class="btngreen hov" type="button" onclick="tokenModal();" >&nbsp;<?php echo $this->language->_('Submit'); ?></button>
						<?php
					}else{
					?>
						<button class="btngreen hov" type="button" data-toggle="modal" data-target="#notokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>
					<?php 
					}
				}else{
					?>
					<button class="btngreen hov" type="button" data-toggle="modal" data-target="#notokenmodal">&nbsp;<?php echo $this->language->_('Authorize'); ?></button>
					<?php
					//echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
				}
				
				?>
		</td>
	</tr>
</table>
</form>
</div>

<div class="modal fade" id="notokenmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><?php echo $this->language->_('Warning') ?></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <h4><?php echo $this->language->_('Google Auth not been registered yet') ?></h4>
      
      <br>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
      
    </div>
    </div>
  </div>
</div>