<script type="text/javascript">
	function switchCheck(selThis){
			if($(selThis).is(":checked")){

				$(".benef_id:enabled").attr("checked","checked");

			}else{
				$(".benef_id:enabled").removeAttr("checked");
			};
	}
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
        }
      })

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
        var value = this.value.toLowerCase().trim();

        $("#myTable tr").each(function(index) {
            if (!index) return;
            $(this).find("td").each(function() {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });
});
</script>
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Approval Request')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Beneficiary Changes')?></span>

                </li>

            </ul>
        </div>
    </div>
</div>
<?php
 
 ?>
<?php if($this->success){ ?>
<div class="successmsg"><?=$this->language->_($this->report_msg)?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
<?php } ?>
<div class="content-box">
    <div class="row ">
      <div class="portlet-body form col-md-12">
				<h5><span><?php echo $this->language->_('Approve Destination Account'); ?></span></h5>
				<br>

				<form name="filter" class="form-horizontal form-bordered form-row-stripped" method="get" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
					<?php
						$optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
						foreach($this->filterlist as $row){
							$optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
						}

						?>
						<div class="row " id="logo-titles" style="margin-left: 0px">
								<?php
								if(!empty($this->wherecol)){
									?>
									<script type="text/javascript">
										$(document).ready(function(){
										$("#logo-title").show();
									});

									</script>
									<?php
								}
								// print_r($this->wherecol);die;
								foreach ($this->wherecol as $key => $value) {
									?>
										<div id="searchs" style="width: 100%">
											<?php
													$datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
													$selectlist = array('BENEFICIARY_TYPE');
													$index = $key;



											?>
											<div id="where-<?=$ctr?>">
													<div class="form-group row mt-12">
															<div class="col-md-3 form-inline">
																	<select class='form-control event_select' id='wherecol-<?=$ctr?>' style='width:100%' name='whereco[]' onchange='getOpt(this)'>
																			<option value="">-- <?=$this->language->_('Any Value')?> --</option>
																			<?php

																			 foreach($this->filterlist as $row){
																					$colname = $row;
																					if($value==$colname){
																							$selected = "selected";
																					}
																					else{
																							$selected = "";
																					}
																			?>
																					<option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
																			<?php }?>
																	</select>
															</div>
															<!-- <div class="col" style="display: none">
																	<select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

																			<?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
																					<option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
																					<option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
																					<option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
																					<option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
																			<?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
																					<option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
																					<option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
																			<?php }elseif(in_array($dttype, array('date','datetime'))){?>
																					<option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
																					<option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
																					<option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
																					<option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
																					<option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
																			<?php }?>
																	</select>
															</div> -->
															<div class="col-md-3 form-inline" id='colvalue-s<?=$key?>'>
																	<script type="text/javascript">
																		$(document).ready(function(){
																		var colval = "#colvalue-s<?=$key?>";
																		var colomnname = "<?=$value?>";
																		// var colselect= "<?=$value?>";
																		var colselect = "colselect-s<?=$key?>";
																		var ncolselect = "#colselect-s<?=$key?>";
																						if(colomnname == 'BENEFICIARY_TYPE'){
																						$(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' style='width:100%' ></select>");
																						var id = $("#tablename").find(":selected").val();
																						$.ajax({
																						url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'benetype'),null,true)?>",
																						type: 'GET',
																						dataType: "html",
																						data: {
																								id: <?=$this->whereval[$index]?>
																						},
																						success: function(data) {
																							
																								$(ncolselect).html(data);
																						},
																						error: function(xhr, ajaxOptions, thrownError)
																						{
																								alert("Failed to get where column list, please try again");
																						}
																				});
																						$(colselect).val('<?=$this->whereval[$index]?>');

																		}
																});

																	</script>
																<?php
																// print_r($value);
																// print_r($selectlist);die;
																		if(!in_array($value, $selectlist)){
																		?>
																			<input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
																		<?php }
																		if (!in_array($value, $datetype)){
																				// print_r($value);die;
																				$index++;
																			}
																		 ?>
															</div>
															<div class="col-md-2 form-inline">
																	<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
															</div>
													</div>
											</div>

										</div>

									<?php
								}
								?>

						</div>

						<div class="row " id="logo-title" style="display: none">
							<div class="portlet-body form col-md-12">
							 <div id="wheres" style="width: 100%">
								<div id="where-<?=$ctr?>">
										<!-- <div class="form-group row mt-12">
												<div class="col-md-3 form-inline">
														<select class='form-control event_select' id='wherecol-<?=$ctr?>' name='whereco[]' onchange='getOpt(this)'>
																<option value="">-- <?=$this->language->_('Any Value')?> --</option>
																<?php

																 foreach($this->filterlist as $row){
																		$colname = $row;
																		if($val==$colname){
																				$selected = "selected";
																		}
																		else{
																				$selected = "";
																		}
																?>
																		<option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
																<?php }?>
														</select>
												</div>
												<div class="col" style="display: none">
														<select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

																<?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
																		<option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
																		<option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
																		<option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
																		<option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
																<?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
																		<option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
																		<option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
																<?php }elseif(in_array($dttype, array('date','datetime'))){?>
																		<option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
																		<option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
																		<option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
																		<option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
																		<option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
																<?php }?>
														</select>
												</div>
												<div class="col-md-3 form-inline" id='colvalue-<?=$ctr?>'>
														<input class='form-control' type='text' name='whereval[]' value=''/>
												</div>
												<div class="col-md-2 form-inline">
														<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
												</div>
										</div> -->
								</div>
																<?php //}}?>
							</div>
							<!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
							<input type="hidden" id="wherectr" value="0"/>
							<br/>
							<button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
							&nbsp;
							<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
							&nbsp;
								<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


							<br/>



							</div>


						</div>
						<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">

								 <a href="#" class="sidebar-collapse-icon with-animation">
										 <?php echo $this->language->_('Advanced Search'); ?>
								 </a>
						 </div>
						</div>
						</div>
						</div>

						
				</form>
				<form name="tool_beneficiary_approve" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
					
					<div class="row mb-2">
						<div class="col-md-9">
								<label>*<?PHP echo $this->language->_("Name Checking is result of the beneficiary's name checking through online bank system")?></label>

							</div>
							<div align="right" class="col-md-3">
								<table>
									<tr>
										<td style="display:none">
											<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btngrad hov"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
										</td>
										<td>
											<div class="input-group input-group-sm">
											<div class="input-group-prepend">
														<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
													</div>
											<input type="text" class="search form-control" id="searchtable" placeholder="Search">
										</div>
										</td>
									</tr>
								</table>

							</div>
					</div>


				<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
					<table class="table table-sm table-striped headerNew" id="myTable">
					<thead>
						<tr class="headercolor">
							<th class="tablehead" width="3%" valign="top">
								
								<?php echo $this->formCheckbox('checkAll', '',array('onclick'=>'if($(this).is(":checked")){$(".checkAll").prop("checked", true);update();}else{$(".checkAll").prop("checked", false);};'));?>
									
							</th>
							<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
							'sortBy' => $this->sortBy,
							'sortDir' => $this->sortDir,
							'query_string_params' => $this->query_string_params
								)
							)?>
							<th class="tablehead">Override</th>
						</tr>
					</thead>
					<tbody>
						<?php
					$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

						if(count($this->paginator) > 0)
					{
									$i=0;

						foreach($this->paginator as $row) {

							$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
							$attribut=array('class' => 'checkAll', 'checked' => (isset($this->benef_id[$row['BENEFICIARY_ID']]))? true : false);

							$email = $row['BENEFICIARY_EMAIL']?$row['BENEFICIARY_EMAIL']:'N/A';
							$bankName = $row['BANK_NAME']?$row['BANK_NAME']:$this->appInfo['bankname'];

							$benefCekName = "-";
							$override = "-";
							$color = "";
							if ($row['ACTION_disp'] == "Add" && !empty($row['BENEFICIARY_NAME_CEK'])){
								$benefCekName = $row['BENEFICIARY_NAME_CEK'];
								$override = "-";	

								if ($row['BENEFICIARY_NAME'] != $row['BENEFICIARY_NAME_CEK']){
									$color = "color:red";
									$override = $this->formSelect("override[{$row['BENEFICIARY_ID']}]",null,array('id'=>'override'), $this->optoverride);
								}						
							}

							// table content
							echo '<tr>
									<td class="'.$td_css.'">'.$this->formCheckbox("benef_id[{$row['BENEFICIARY_ID']}]", "1",$attribut).'</td>';
									//<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
							echo '  <td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].'</td>
									<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
									<td class="'.$td_css.'">'.$bankName.'</td>
									<td class="'.$td_css.'">'.$this->language->_($row['BENEFICIARY_TYPE_disp']).'</td>
									<td class="'.$td_css.'">'.$this->language->_($row['ACTION_disp']).$this->formHidden("act[{$row['BENEFICIARY_ID']}]", $row['ACTION_disp']).'</td>
									<td class="'.$td_css.'"><span style="'.$color.'">'.$benefCekName.'</span></td>
									<td class="'.$td_css.'">'.$override.'</td>
								</tr>';

									$i++;
													$counter++;
						}
					}
					else {
						echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> ---'.$this->language->_('No Data').'--- </td></tr>';
					}
						?>
					</tbody>
					</table>
					</div>

					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td class="button-area" id="button-area" colspan="8">
								<div class="formbutton">
								<?php
								//$multiRejectURL  = $this->url(array('module'=>$this->modulename,'controller'=>'multi','action'=>'reject'),null,true);
								//$multiApproveURL = $this->url(array('module'=>$this->modulename,'controller'=>'multi','action'=>'approve'),null,true);
								?>
									<!-- <input class="btnwhite hov" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/home/index'" type="button"> -->
									<?php //echo $this->formButton('multiReject',$this->language->_('verify multiple reject'),array('class'=>'inputbtn', "onClick" => "changeAction('".$multiRejectURL."');", "id")); ?>
									<?php //echo $this->formButton('multiApprove',$this->language->_('verify multiple approve'),array('class'=>'inputbtn', "onClick" => "changeAction('".$multiApproveURL."');", "id")); ?>


									<input type="submit" value="<?php echo $this->language->_('Reject')?>" name="submit_reject" class="btnred hov" <?php if(!count($this->paginator)) echo 'disabled="disabled"';?>/>
									<input type="submit" value="<?php echo $this->language->_('Approve')?>" name="submit_approve" class="btngreen hov" <?php if(!count($this->paginator)) echo 'disabled="disabled"';?>/>


								</div>
							</td>
							</tr>
							</tbody>
						</table>

				</form>







<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control' id='wherecol-" + ctr + "' style='width:100%' name='whereco[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      	ctr++;
      	$("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    // $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });
    // alert(colomnname);
    $(colval).empty();
   if(colomnname == 'BENEFICIARY_TYPE' ){
      // alert();
            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'benetype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'ISFAVORITE'){

         $(colval).append("<input type='checkbox' name='whereval[]'  value='' maxlength='20' style='width:100%' class='form-control' >");
    }else{
         $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20' style='width:100%' class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
