<script type="text/javascript">
	function confirmDelete(link)
	{
		var x=confirm("Are you sure want to delete this account ?");
		if (x)
			location.href=link;
	}
</script>
<b> <?php echo $this->language->_('General'); ?> &gt; <?php echo $this->language->_('Escrow Account'); ?></b><br /><br />
<div class="tabheader" id="tabheader"> <?php echo $this->language->_('Escrow Account'); ?> </div>

<?php
	if($this->error)
	{
		echo '<div class="errmsg">'.$this->msg.'</div>';
	}
	else if($this->success)
	{
		echo '<div class="successmsg">'.$this->msg.'</div>';
	}
?>
<?php 
	// if($this->hasPrivilege('ECST'))
	// { 
?>
<?=$this->formButton('Add','Add',array('class'=>'inputbtn','onClick'=>'location.href="/escrow/set"'))?>
<?php 
	// } 
?>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableform">		
	<tr>
		<th width="3%" valign="top">No</th>
		<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
									'query_string_params' => $this->query_string_params
                                                            )
    	  );?>
	</tr>
							
							<?php

    if(count($this->data) > 0)
    {
		$counter=1;
		
	      foreach($this->data as $row) 
	      {
			if(array_key_exists($row['M_KEY1'],$this->tempData))
			{
				$buttonDelete = '<i>Request To Delete</i>';
			}
			else
			{
				$link = $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'delete','ccy'=>$row['M_KEY1'],'acct'=>$row['M_KEY2']),null,true);
				$buttonDelete = '<input type="button" class="inputbtn" value="Delete" onclick="confirmDelete(\''.$link.'\');">';  
			}
			
			$curr = (isset($this->CCYData[$row['M_KEY1']])) ? $this->CCYData[$row['M_KEY1']] : $row['M_KEY1'];
		    $td_css = ($counter%2==0)?'tbl-evencontent':'tbl-oddcontent';
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">'.$curr.'</td>
					<td class="'.$td_css.'">'.$row['M_KEY2'].'</td>
					<td class="'.$td_css.'">'.$row['M_KEY3'].'</td>
					<td class="'.$td_css.'">'.$buttonDelete.'</td>
				  </tr>';
            $counter++;
  	  }
  }
  else 
  {
	   echo '<tr><td colspan=5 class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
  }
?>		
</table>