
<table width="300px" cellpadding="0" cellspacing="0" border="0" class="">
<tr>
	<th width="300px">
		<?php echo $this->language->_('Error Message List'); ?>
	</th>
</tr>
<?php if($this->report_msg)
		  {
			$i = 0;
			foreach($this->report_msg as $errMsg)
			{
				$td_css = (++$i%2==0)?'tbl-evencontent':'tbl-oddcontent';
?>
<tr>
	<td class="<?=$td_css?>">
		<div class="errmsg">
			<?=$errMsg?>
		</div>
	</td>
</tr>
<?php }}else{?>
<tr>
	<td class="<?=$td_css?>" align="center">
		<div class="errmsg">
			--<?php echo $this->language->_(' No Error '); ?>--
		</div>
	</td>
</tr>
<?php }?>
<tr>
	<td>
	<br />
		<!--
		<div align="center">
			<input type="button" onClick="window.close()" value="close" class="inputbtn">
		</div>
		-->
	</td>
</tr>
</table>
