<script type="text/javascript">
    $(document).ready(function() {
       
        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
          var value = this.value.toLowerCase().trim();

          $("#myTable tr").each(function(index) {
              if (!index) return;
              $(this).find("td").each(function() {
                  var id = $(this).text().toLowerCase().trim();
                  var not_found = (id.indexOf(value) == -1);
                  $(this).closest('tr').toggle(!not_found);
                  return not_found;
              });
          });
        });

    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Transaction Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('VA Cash In Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('VA Payment'); ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row col-md-12 d-flex justify-content-center">
    <button type="button" onclick="location.href='/binreport/payment'" class="btngreen hov col-md-3" name="button">VA Payment</button>
    <button type="button" onclick="location.href='/binreport/statement'" class="btnwhite hov col-md-3" name="button">VA Statement</button>
    <button type="button" onclick="location.href='/binreport/summary'" class="btnwhite hov col-md-3" name="button">VA Summary</button>
</div>
<br>
<div class="row content-box">
    <div class="portlet-body form col-md-12">
    <h5><?= $this->language->_('VA Payment Reports') ?></h5>
        <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
            <a href="#" class="sidebar-collapse-icon with-animation">
                <?php echo $this->language->_('Advanced Search'); ?>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />

        <div class="form-group">
            <div style="float:right; padding-left:5px;">
                <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
                    <div class="input-group input-group-sm">

                        <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                    </div>
                </form>

            </div>
        </div>
        <br>
        <br />
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped" id="myTable">
                <thead>
                    <tr>
                        <th class="tablehead" width="3%" valign="top">No</th>
                        <?php echo $this->partial(
                            'tableheader.phtml',
                            array(
                                'fields' => $this->fields,
                                'sortBy' => $this->sortBy,
                                'sortDir' => $this->sortDir,
                                'query_string_params' => $this->query_string_params
                            )
                        ) ?>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>