<style>
label{
    font-size: 1.2em;
}

.col-form-label{
        font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.iconCircle {
        background-color: lightgray;
        color: red;
        margin-top:5px;
        min-width: 23px;
        height: 20px;
}
.padding-header-cust{
  padding-left:2%;
  background-color:#1d3f6e;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
                        <li>
                 <span><?=$this->language->_('Approval Request')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                    <span class="inhouse"><?=$this->language->_('Auto Debit Changes')?></span>
                                    <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                    <span class="inhouse"><?=$this->language->_('Detail')?></span>
                                    <!-- <i class="fa fa-angle-right pl-1 pr-1"></i> -->
             </li>


         </ul>
     </div>
   </div>
</div>

<br>
<form action="" method="post">
<div class="row justify-content-center">
    <div class="col-md-11">

        <div class="row">
            <div class="col-md-6">
                <h5><?=$this->language->_('Changes Information')?></h5>
            </div>
            <!-- <div class="col-md-6" style="float:right">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div> -->
        </div>
                <form action="" method="post" enctype="multipart/form-data">
        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Suggested By</label>
            </div>
            <div class="col-md-3">
                <label><?= $this->BUSER_NAME . ' (' . $this->DIR_SUGESTEDBY . ')' ?></label>
            </div>
        </div>

        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Suggested Date</label>
            </div>
            <div class="col-md-3">
                <label><?= Application_Helper_General::convertDate($this->DIR_SUGESTED,$this->displayDateTimeFormat,$this->defaultDateFormat) ?></label>
            </div>
        </div>

        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Suggestion Data</label>
            </div>
            <div class="col-md-3">
                <label><?= $this->CHANGES_INFORMATION ?></label>
            </div>
        </div>

        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Underlying Document</label>
            </div>
            <div class="col-md-9">
						<?php
							require_once 'Crypt/AESMYSQL.php';
							$AESMYSQL = new Crypt_AESMYSQL();
							$rand = $this->token;
							$encrypted_pwd = $AESMYSQL->encrypt($this->DOC_ID, $rand);
							
							$encreff = urlencode($encrypted_pwd);
						?>
						<label>Document Ref# - </label>
						<a style="font-size:1.2em" href ='/directdebit/changesdetail/index/FILE_ID/<?php echo $encreff?>/' name="download" id="download"><?= $this->DOCUMENT_REFF ?></a>
						
            </div>
        </div>
        <br>
                <div class="row">
                        <div class="col-md-12" style="height: auto; position: relative;">
                            <div class="padding-header-cust">
                                <h5><?= $this->CHANGES_INFORMATION ?> Detail</h5>
                            </div>
                            <div style="padding-left:2%">
                                <div class="form-group row pt-2">
                                        
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-3">
                        <label class="textGray">Company</label>
                    </div>
                    <div class="col-md-9">
                        <label><?= $this->COMP_NAME ?> (<?= $this->COMP_ID ?>)</label>
                    </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-3">
                        <label class="textGray">Client Ref#</label>
                    </div>
                    <div class="col-md-9">
                        <label><?= $this->CLIENT_REFF ?></label>
                    </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-3">
                        <label class="textGray">Client Name</label>
                    </div>
                    <div class="col-md-9">
                        <label><?= $this->CLIENT_NAME ?></label>
                    </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-3">
                        <label class="textGray">Debited Account</label>
                    </div>
                    <div class="col-md-9">
                        <label><?= $this->DEBIT_ACCT ?> (<?= $this->DIR_CCY ?>)</label>
                    </div>
                </div>
                <br>
                <br>
                <br>
            
                <div class="row-md-12">
                    <div class= "portlet-body form col-md-12" align="center">
                        
                        <button type="button" name="back" id="back" value="back" onclick="location.href='/directdebit/approve'" class="btnwhite hov">Back</button>
                        <input type="submit" name="reject" id="reject" value="Reject" class="btnred hov" />
												<input type="submit" name="approve" id="approve" value="Approve" class="btngreen hov" />
                    </div>
                </div>

                

    </div>
</div>
</form>