<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 13px;
		width: 13px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
<script>
	$(document).ready(function() {

		// if( '<?= $this->success ?>' || '<?= $this->error ?>' )
		// {
		// 	$("input").attr("disabled","disabled");
		// 	$("textarea").attr("disabled","disabled");
		// }
	});
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Biaya BG'); ?>

				</li>

			</ul>
		</div>
	</div>
</div>

<?php if ($this->errormsg == 1) { ?>
	<div class="alert alert-danger" role="alert">
		Data telah ada di database
	</div>
<?php } ?>

<div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Biaya Umum Layanan Bank Garansi') ?></h5>
	</div>
</div>
<br>

<form name="Form" method="post" id="formbiaya" action="<?= $this->url(array('module' => "linefacility", 'controller' => "cashcollateral", 'action' => 'index'), null, true) ?>">
	<div id="monthlyfee">
		<div class="row">
			<div class="col-md-12">
				<div class="mb-4">
					<div class="mb-3">
						<span><strong>Biaya Umum</strong></span>
					</div>
					<table class="table-sm table-bordered">
						<thead>
							<tr>
								<th style="background-color: #002260; color: white">Biaya Umum</th>
								<th style="background-color: #002260; color: white">Valuta</th>
								<th style="background-color: #002260; color: white">Nominal</th>
							</tr>
						</thead>
						<tr style="background-color: #f3f3f3">
							<td><?= $this->language->_('Biaya Provisi Minimum') ?></td>
							<td>IDR</td>
							<td>
								<?= $this->formText('MINPROV01', (number_format($this->all_data["MINPROV01"]["CHARGES_AMT"], 2)) ?: "500,000.00", [
									"class" => "form-control col-md-12", "onfocus" => "reverseFormatNumber(this)", "onblur" => "numberWithCommas2(this.value,this.id)", "onkeypress" => "return forceCurrency(event)", "style" => "width: 200px"
								]) ?>

							</td>
						</tr>
						<tr style="background-color: #f3f3f3">
							<td><?= $this->language->_('Biaya Administrasi') ?></td>
							<td>IDR</td>
							<td>
								<?= $this->formText('ADM01', (number_format($this->all_data["ADM01"]["CHARGES_AMT"], 2)) ?: "250,000.00", [
									"class" => "form-control col-md-12", "onfocus" => "iNumFrmt(this.value,this.id)", "onblur" => "numberWithCommas2(this.value,this.id)", "onkeypress" => "return forceCurrency(event)", "style" => "width: 200px"
								]) ?>

							</td>
						</tr>
						<tr style="background-color: #f3f3f3">
							<td><?= $this->language->_('Biaya Meterai') ?></td>
							<td>IDR</td>
							<td>
								<?= $this->formText('METERAI01', (number_format($this->all_data["METERAI01"]["CHARGES_AMT"], 2)) ?: "10,000.00", [
									"class" => "form-control col-md-12", "onfocus" => "iNumFrmt(this.value,this.id)", "onblur" => "numberWithCommas2(this.value,this.id)", "onkeypress" => "return forceCurrency(event)", "style" => "width: 200px"
								]) ?>
							</td>
						</tr>
					</table>
				</div>
				<div class="mb-4">
					<div class="mb-3">
						<span><strong>Pengenaan Biaya Provisi Bank Garansi Kontra Garansi Full Cover (untuk semua jenis jaminan)</strong></span>
					</div>
					<table class="table-sm table-bordered" id="wrtype1">
						<thead>
							<tr>
								<th style="background-color: #002260; color: white">Jangka Dari (hari)</th>
								<th style="background-color: #002260; color: white">Hingga (hari)</th>
								<th style="background-color: #002260; color: white">Full Cover (%)</th>
							</tr>
						</thead>
						<tr style="background-color: #f3f3f3">
							<td>
								<input type="text" name="CASHCOL001[]" id="CASHCOL001_1" value="<?= ($this->all_data["CASHCOL001"]["TENOR_FROM"]) ?: "1"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL001[]" id="CASHCOL001_2" value="<?= ($this->all_data["CASHCOL001"]["TENOR_TO"]) ?: "90"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL001[]" id="CASHCOL001_3" value="<?= ($this->all_data["CASHCOL001"]["CHARGES_PCT"]) ?: "0.25"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas2(this.value,this.id); onlyOneHundred(event)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
						</tr>
						<tr style="background-color: #f3f3f3">
							<td>
								<input type="text" name="CASHCOL002[]" id="CASHCOL002_1" value="<?= ($this->all_data["CASHCOL002"]["TENOR_FROM"]) ?: "91"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL002[]" id="CASHCOL002_2" value="<?= ($this->all_data["CASHCOL002"]["TENOR_TO"]) ?: "180"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL002[]" id="CASHCOL002_3" value="<?= ($this->all_data["CASHCOL002"]["CHARGES_PCT"]) ?: "0.5"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas2(this.value,this.id); onlyOneHundred(event)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
						</tr>
						<tr style="background-color: #f3f3f3">
							<td>
								<input type="text" name="CASHCOL003[]" id="CASHCOL003_1" value="<?= ($this->all_data["CASHCOL003"]["TENOR_FROM"]) ?: "181"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL003[]" id="CASHCOL003_2" value="<?= ($this->all_data["CASHCOL003"]["TENOR_TO"]) ?: "270"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL003[]" id="CASHCOL003_3" value="<?= ($this->all_data["CASHCOL003"]["CHARGES_PCT"]) ?: "0.75"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas2(this.value,this.id); onlyOneHundred(event)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
						</tr>
						<tr style="background-color: #f3f3f3">
							<td>
								<input type="text" name="CASHCOL004[]" id="CASHCOL004_1" value="<?= ($this->all_data["CASHCOL004"]["TENOR_FROM"]) ?: "271"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL004[]" id="CASHCOL004_2" value="<?= ($this->all_data["CASHCOL004"]["TENOR_TO"]) ?: "360"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
							<td>
								<input type="text" name="CASHCOL004[]" id="CASHCOL004_3" value="<?= ($this->all_data["CASHCOL004"]["CHARGES_PCT"]) ?: "1"; ?>" class="form-control col-md-12" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas2(this.value,this.id); onlyOneHundred(event)" onkeypress="return forceCurrency(event)" style="width: 200px">
							</td>
						</tr>
					</table>
				</div>

				<div class="mb-4">
					<div class="mb-3">
						<span><strong>Pengenaan Biaya Provisi Bank Garansi Kontra Garansi Asuransi</strong></span>
					</div>
					<table class="my-3 table-sm table-bordered" cellpadding="5">
						<thead>
							<tr style="background-color: #f3f3f3">
								<td style="background-color: #002260;" class="text-white font-weight-bold">Jenis Jaminan</td>
								<td style="background-color: #002260;" class="text-white font-weight-bold">Aktif</td>
								<td style="background-color: #002260" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
								<td style="background-color: #002260" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
							</tr>
						</thead>
						<tbody>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Pembayaran</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="INS01" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN01"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN01"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSBUMN01"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSBUMN01" id="INSBUMN01" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSNONBUMN01"]["CHARGES_PCT"]) ?: "1.75"; ?>" name="INSNONBUMN01" id="INSNONBUMN01" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Penawaran</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="INS02" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN02"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN02"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="INSBUMN02" id="INSBUMN02" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSNONBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="INSNONBUMN02" id="INSNONBUMN02" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Pelaksanaan</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="INS03" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN03"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN03"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSBUMN03"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN03" id="INSBUMN03" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSNONBUMN03"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN03" id="INSNONBUMN03" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Uang Muka</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="INS04" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN04"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN04"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSBUMN04"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN04" id="INSBUMN04" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSNONBUMN04"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN04" id="INSNONBUMN04" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Pemeliharaan</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="INS05" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN05"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN05"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSBUMN05"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN05" id="INSBUMN05" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSNONBUMN05"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN05" id="INSNONBUMN05" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Lainnya (SP2D)</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="INS06" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN06"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN06"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSBUMN06"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN06" id="INSBUMN06" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["INSNONBUMN06"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN06" id="INSNONBUMN06" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="mb-4">
					<div class="mb-3">
						<span><strong>Pengenaan Biaya Provisi Bank Garansi Kontra Garansi Line Facility Debitur</strong></span>
					</div>
					<table class="my-3 table-sm table-bordered" cellpadding="5">
						<thead>
							<tr style="background-color: #f3f3f3">
								<td style="background-color: #002260;" class="text-white font-weight-bold">Jenis Jaminan</td>
								<td style="background-color: #002260;" class="text-white font-weight-bold">Aktif</td>
								<td style="background-color: #002260" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
								<td style="background-color: #002260" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
							</tr>
						</thead>
						<tbody>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Pembayaran</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="LF01" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN01"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN01"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFBUMN01"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFBUMN01" id="LFBUMN01" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFNONBUMN01"]["CHARGES_PCT"]) ?: "1.75"; ?>" name="LFNONBUMN01" id="LFNONBUMN01" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Penawaran</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="LF02" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN02"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN02"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="LFBUMN02" id="LFBUMN02" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFNONBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="LFNONBUMN02" id="LFNONBUMN02" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Pelaksanaan</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="LF03" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN03"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN03"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFBUMN03"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN03" id="LFBUMN03" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFNONBUMN03"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN03" id="LFNONBUMN03" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Uang Muka</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="LF04" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN04"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN04"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFBUMN04"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN04" id="LFBUMN04" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFNONBUMN04"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN04" id="LFNONBUMN04" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Pemeliharaan</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="LF05" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN05"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN05"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFBUMN05"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN05" id="LFBUMN05" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFNONBUMN05"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN05" id="LFNONBUMN05" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
							<tr style="background-color: #f3f3f3">
								<td>Jaminan Lainnya (SP2D)</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="LF06" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN06"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN06"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFBUMN06"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN06" id="LFBUMN06" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
								<td><input type="text" class="form-control provision_percentage" value="<?= ($this->all_data["LFNONBUMN06"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN06" id="LFNONBUMN06" style="width: 200px;" onkeypress="return forceCurrency(event);" onblur="numberWithCommas2(this.value, this.id)"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<br><br>
				<div align="center">
					<!--<button onClick="window.location.href='<?php echo $this->url(array('module' => 'charges', 'controller' => 'chargesglobal', 'action' => 'index'), null, true); ?>'" type="button" class="btnwhite hov" name="button">Back</button>-->
					<button onclick="window.location.href='/companycharges/cashcollateral/'" type="button" class="btnwhite hov" name="button">KEMBALI</button>
					<button onclick="resetdata();" type="button" class="btnwhite hov" name="button">Reset</button>
					<button type="submit" class="btngreen hov" name="button">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	function numberWithCommas(x, id) {
		const formattermoney = new Intl.NumberFormat('ID', {
			minimumFractionDigits: 0
		});
		var tag = '#' + id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
		// var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		var x = formattermoney.format(x);
		$(tag).val(x);
		//return 
	}

	function checkjaminan(object) {
		const parent = object.parentElement.parentElement.parentElement
		const save_jaminan = parent.querySelectorAll("input[type='text']");

		save_jaminan.forEach(item => {
			if (object.checked) {
				item.readOnly = false;
				item.style.color = "#000"
				if (item.value) {
					item.value = item.value
				} else {
					item.value = "0.00"
				}
			} else {
				item.readOnly = true;
				item.style.color = "#b3b2b2"
				if (item.value) {
					item.value = item.value
				} else {
					item.value = "0.00"
				}
			}
		})
	}

	function numberWithCommas2(x, id) {
		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});
		var tag = '#' + id;
		var x = formattermoney.format(x);
		$(tag).val(x);
	}

	function resetdata() {
		document.querySelectorAll("input[type='text']").forEach(item => {
			item.value = '';
		})
	}

	function reverseFormatNumber(element) {
		var group = new Intl.NumberFormat("EN").format(1111).replace(/1/g, "");
		var decimal = new Intl.NumberFormat("EN").format(1.1).replace(/1/g, "");
		var reversedVal = element.value.replace(new RegExp("\\" + group, "g"), "");
		reversedVal = reversedVal.replace(new RegExp("\\" + decimal, "g"), ".");
		let save = Number.isNaN(reversedVal) ? 0 : reversedVal;
		element.value = save;
	}

	function onlyOneHundred(event) {

		const object = event.target;
		const save_value = parseFloat(object.value.replace(/,/g, ""));

		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});

		if (isNaN(save_value)) {
			object.value = formattermoney.format(0);
			return true;
		}

		if (save_value > 100) {
			object.value = formattermoney.format(100);
		} else {
			object.value = formattermoney.format(save_value);
		}
	}

	function cannotZero(event) {
		const elem = event.target;
		const save_value = elem.value;

		if (isNaN(save_value)) {
			elem.value = "1";
			return;
		}

		if (save_value == 0 || save_value == "0") {
			elem.value = "1";
			return;
		}

	}

	function checkAfter(event) {
		const elem = event.target;
		const save_value = elem.value;

		const elem_sebelah = elem.parentElement.parentElement.querySelectorAll("input[type='text']")[1];
		console.log(elem_sebelah.value)
	}

	function forceCurrency(evt) {
		// Only ASCII character in that range allowed
		var ASCIICode = (evt.which) ? evt.which : evt.keyCode
		if (ASCIICode > 31 && (ASCIICode < 46 || ASCIICode > 57 || ASCIICode == 47))
			return false;
		return true;
	}

	document.addEventListener("DOMContentLoaded", () => {
		document.querySelectorAll(".provision_percentage").forEach(item => {
			const test = item;
			item.addEventListener("blur", onlyOneHundred);
		})

		document.querySelectorAll("input[type='checkbox']").forEach(item => {
			item.dispatchEvent(new Event("change"));
		})

		document.querySelector("#formbiaya").addEventListener("submit", (event) => {

			const save_input = document.querySelectorAll("input[type='text']");
			let valid = true

			for (let inputtext of save_input) {
				if (inputtext.value == "") {
					valid = false
				}
			}

			if (!valid) {
				event.preventDefault();
				alert("Masih ada data yang kosong\nSilahkan periksa kembali data")
			}
		})

		const first_input = document.querySelector("#wrtype1").querySelector("tbody").children[0].querySelectorAll("input[type='text']")[0];
		first_input.addEventListener("blur", cannotZero)
		first_input.addEventListener("blur", checkAfter)
	})
</script>