<div class="row">
    <div class="well">
	    <h3>Registrasi Permata Online (Bisnis)</h3>
	    <hr>
	    <div class="row">
			<form action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'document'),null,true)?>" name="formReg" id="formReg" class="form-horizontal" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<div>
					<ul class="nav nav-tabs" role="tablist" id="tab_head_big">
						<li role="presentation" class="disabled tab_head_small_li" id="tab_company"><a href="javascript:void(0);" aria-controls="company" role="tab" data-toggle="tab" id="company_big" class="tab_head_small_a">Data Perusahaan</a></li>
						<li role="presentation" class="disabled tab_head_small_li" id="tab_user"><a href="javascript:void(0);" aria-controls="user" role="tab" data-toggle="tab" id="user_big" class="tab_head_small_a">Data User</a></li>
						<li role="presentation" class="disabled tab_head_small_li" id="tab_norek"><a href="javascript:void(0);" aria-controls="norek" role="tab" data-toggle="tab" id="norek_big" class="tab_head_small_a">No Rekening</a></li>
						<li role="presentation" class="active tab_head_small_li" id="tab_doc"><a href="javascript:void(0);" aria-controls="doc" role="tab" data-toggle="tab" id="doc_big" class="tab_head_small_a">File Pendukung</a></li>
						<li role="presentation" class="disabled tab_head_small_li" id="tab_review"><a href="javascript:void(0);" aria-controls="review" role="tab" data-toggle="tab" id="review_big" class="tab_head_small_a">Review</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active container_tab" id="doc" style="padding:10px;">
							<div class="form-group form-group-sm">
								<label for="" class="col-lg-5 col-sm-5 control-label" style="text-align:left;">
									<?=$this->language->_('Please fill in the form below, fields marked with asterisk (*) are required')?>
								</label>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label" style="text-align:left;">
									Document Requirement :<br/>
									- Format file pdf/jpg/jpeg<br/>
									- File size max. 1 Mb
								</label>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Akta Pendirian')?>*</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formFile('akta_pp', $this->akta_pp);?>
									<div class="errmsg"><?=$this->error_akta_pp?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Akta Perubahan Terakhir')?>*</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formFile('akta_pt', $this->akta_pt);?>
									<div class="errmsg"><?=$this->error_akta_pt?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('SIUP / TDP')?>*</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formFile('siup_tdp', $this->siup_tdp);?>
									<div class="errmsg"><?=$this->error_siup_tdp?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('ID (KTP/SIM/PASPOR)')?>*</label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formFile('id_pihak', $this->id_pihak);?>
									<div class="errmsg"><?=$this->error_id_pihak?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Others')?></label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formFile('other_doc', $this->other_doc);?>
									<div class="errmsg"><?=$this->error_other_doc?></div>
								</div>
							</div>
							
							<br/>
							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"></label>
								<div class="col-lg-5 col-sm-6">
									<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'account'),null,true)?>" class="btn btn-primary"><?=$this->language->_('Back')?></a>&nbsp;&nbsp;
									<button type="button" class="btn btn-primary" onclick="checkField();"><?=$this->language->_('Next')?></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function checkField(){
		var aktapp = $('#akta_pp').val();
		var aktapt = $('#akta_pt').val();
		var siup = $('#siup_tdp').val();
		var idpihak = $('#id_pihak').val();
		var fields;

		if(!aktapp)
			fields = "Akta Pendirian";

		if(!aktapt){
			if(fields)
				fields += ", Akta Perubahan Terakhir";
			else
				fields = "Akta Perubahan Terakhir";
		}

		if(!siup){
			if(fields)
				fields += ", SIUP/TDP";
			else
				fields = "SIUP/TDP";
		}

		if(!idpihak){
			if(fields)
				fields += ", ID";
			else
				fields = "ID";
		}

		if(fields)
			alert("File "+fields+" belum dipilih");
		else
			formReg.submit();
	}
</script>