	<h3 class="text-center"><?= $this->language->_($this->master_bank_app_name . ' - Online Registration ') ?></h3>
	<hr>
	<div class="row">
		<div class="col-12 d-flex flex-column" style="gap: 10px">
			<div class="text-center">
				<?php echo $this->language->_('Data sudah diperbaiki, menunggu proses persetujuan selanjutnya dari Bank.') ?>
			</div>
			<div class="d-flex justify-content-center">
				<a href="<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), null, true) ?>" class="btn btn-sm btn-primary"><?= $this->language->_('Back') ?></a>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('div')[1].className = '';
		});
	</script>