<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
	<b><?php echo $this->language->_('General > Help List'); ?> > <?php echo $this->language->_('Add'); ?></b><br /><br />
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Upload Help File'); ?></div>
	<?php if($this->error){ ?>
	<div class="errmsg">
	<?php	
		if($this->errorMsg)
		{
			foreach($this->errorMsg as $key => $error)
			{
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}
		
		if($this->documentErr) 
		{
			echo $this->formErrors($this->documentErr);
		}
		else if($this->helpTopicErr) 
		{
			echo $this->formErrors($this->helpTopicErr);
		}
		else if($this->sourceFileNameErr) 
		{
			echo $this->formErrors($this->sourceFileNameErr);
		}
	?>
	</div>
	<br />
	<?php 
		}
		else if($this->success)
		{ 
	?>
		<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php 
		} 
	?>
	
	<table align="left" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Upload Help File'); ?></strong></th></tr>
			<tr><th colspan="3" class="tbl-evencontent"><strong><?php echo $this->language->_('Please fill in the form below. fields marked with asterisk'); ?> (*) <?php echo $this->language->_('required'); ?></strong></th></tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Help Topic*')); ?></td>
				<td class="tbl-evencontent"><?php  echo $this->formText('helpTopic',$this->helpTopic,array('maxlength'=>'50','size'=>'50','onfocus'=>'return noSpecialChar3(event);')); ?></td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File'); ?><strong class="formreq">&nbsp;*</strong></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
					<br /><br /><i> *) Only file in pdf format will be accepted</i></td>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Help Description'); ?></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)', 
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)', 
								'onKeypress'=>'return noSpecialChar3(event);')); echo '<br />';		  
								echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> char(s) left
					
				</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton">
						<?php echo $this->formButton('back','Back',array('onclick' => 'location.href= \'/helplist\'', 'class' => 'inputbtn'));?>&nbsp;
						<?php echo $this->formSubmit('upload','Submit',array('class'=>'inputbtn')); ?>
						<?php echo $this->formReset('reset', 'Reset',array('class'=>'inputbtn')); ?>
						
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>
