<script>
	function update()
	{
		var temp = $('input:radio[name=radiobut]:checked').val();
		if(temp == '3')
		{
			$("div.statUpdate").html('Success');
		}
		if(temp == '4')
		{
			$("div.statUpdate").html('Failed');
		}
	}


	$(document).ready(function(){
		update();
	}); 	
</script>
<?php $this->layout()->setLayout('popup');
$disabled = $this->disabled;
if(!$this->hasPrivilege('EXUD'))
{
	$disabled = 'disabled';
}
?>

<div class="tabheader" id="tabheader">Payment Exception Detail</div>
<h2>Information</h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="600">
	<tr>
		<td class="tdform-even">&nbsp; Community</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['comcode'].' - '.$this->result2['comname'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Scheme</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['schemename'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Member</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['member'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Ref#</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['payref'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Status</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['paystatus'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Type</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['paytype'];?></td>
	</tr>
</table>
<br />
<br />
<h2>Document Information</h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="600">
<?php $amount = $this->result2['sourceccy'].' '.Application_Helper_General::displayMoney( $this->result2['invoiceamt'] );?>
	<tr>
		<td class="tdform-even">&nbsp; Invoice No</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['invoiceno'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Invoice Amount</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $amount;?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Invoice Maturity Date</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['invoicemd'],"dd MMM yyyy",$this->defaultDateFormat);?></td>
	</tr>
</table>
<br />
<br />
<h2>Payment Information</h2>
<?php $amount2 = $this->result2['sourceccy'].' '.Application_Helper_General::displayMoney($this->result2['transamt'] );?>
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="600">
	<tr>
		<td class="tdform-even">&nbsp; Payment Amount</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $amount2;?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Date</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['paydate'],"dd MMM yyyy",$this->defaultDateFormat);?></td>
	</tr>
</table>
<br />
<br />
<h2>Transfer From</h2>
<table width="600" cellpadding="2" cellspacing="0" border="1"
	class="tableform">
	<tr>
		<th valign="top">Trans ID</th>
		<th valign="top">Source Account</th>
		<th valign="top">Amount</th>
		<th valign="top">Message</th>
		<th valign="top">Status</th>
	</tr>
	<?php 
	echo '<tr>
				<td class="tbl-evencontent">'.$this->result2['feeid'].'</td>
				<td class="tbl-evencontent">'.$this->source.'</td>
				<td class="tbl-evencontent">'.$amount2.'</td>
				<td class="tbl-evencontent">'.$this->result2['message'].'</td>
				<td class="tbl-evencontent">'.$this->result2['status'].'</td>
		  	</tr>';
	?>
</table>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<h2>PAYMENT AND TRANSACTION STATUS UPDATE</h2>
<b>Update Payment Status to :</b><br />
<input type="radio" onclick="update();" checked="checked" value="4" name="radiobut">
<span class="errmsg">Failed</span>
&nbsp;(All transaction status will also be updated to failed)
<hr>
<input type="radio" onclick="update();" value="3" name="radiobut">
<span class="successmsg">Success</span>
&nbsp;(Update transaction status below) 
<table width="600" cellpadding="2" cellspacing="0" border="1"
	class="tableform">
	<tr>
		<th valign="top">Trans ID</th>
		<th valign="top">Source Account</th>
		<th valign="top">Amount</th>
		<th valign="top">Message</th>
		<th valign="top">Status</th>
	</tr>
	
	<?php 
	echo '<tr>
				<td class="tbl-evencontent">'.$this->result2['feeid'].'</td>
				<td class="tbl-evencontent">'.$this->source.'</td>
				<td class="tbl-evencontent">'.$amount2.'</td>
				<td class="tbl-evencontent">'.$this->result2['message'].'</td>
				<td class="tbl-evencontent"><div class="statUpdate"></div></td>
		  	</tr>';
	?>
</table>
<br />
<input type="button" value="Close" onclick="window.close()" class="inputbtn"/>&nbsp;
<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn',$disabled=>$disabled)); ?>
</form>
<?php if($this->disabled)
{
	echo "<br /><i>*No changes allowed for this record while awaiting approval for previous change</i>";
}?>