<script type="text/javascript">
	function switchCheck(selThis){
			if($(selThis).is(":checked")){
				$(".benef_id:enabled").attr("checked","checked");
				
			}else{
				$(".benef_id:enabled").removeAttr("checked");
			};
	}
</script>
<b><?php echo $this->language->_('Predefined beneficiaryy'); ?> &gt; <?php echo $this->language->_('SKN/RTGS Acct'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Waiting for Approval'); ?></div>

<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div><br />
<?php } ?>

<form name="tool_beneficiary_approve" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea">
				<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top"><?php echo  $this->formCheckbox('checkAll', null,array('onclick' => 'switchCheck(this)')) ?></th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
  {
          $i=0;
		  
	  foreach($this->paginator as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
        $attribut=array('class' => 'benef_id', 'checked' => (isset($this->benef_id[$row['BENEFICIARY_ID']]))? true : false);
		$action = '';
		if($row['BENEFICIARY_ISREQUEST_DELETE']) $action = 'Delete';
		else if(!$row['BENEFICIARY_ISAPPROVE'])  $action = 'Add';
		
		$address = $row['BENEFICIARY_ADDRESS']?$row['BENEFICIARY_ADDRESS']:'N/A';
		
		$bankname = $row['BANK_NAME']?$row['BANK_NAME']:'N/A';
		
		echo '<tr>
				<td class="'.$td_css.'">'.$this->formCheckbox("benef_id[{$row['BENEFICIARY_ID']}]", "1",$attribut).'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$address.'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_CITIZENSHIP'].'</td>
				<td class="'.$td_css.'">'.$bankname.'</td>
				<td class="'.$td_css.'">'.$row['ACTION'].$this->formHidden("act[{$row['BENEFICIARY_ID']}]", $row['ACTION']).'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> ---'.$this->language->_(' No Data ').'--- </td></tr>';
	}
    ?>
</table>
<br />

<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td class="button-area" id="button-area" colspan="8">
							<div class="formbutton">
								<input class = "inputbtn" type="button" onclick="location.href='/home/index'" value = "Cancel">
								<input type="submit" value="Reject" name="submit" class="inputbtn" <?php if(!count($this->paginator)) echo 'disabled="disabled"';?>/>
								<input type="submit" value="Approve" name="submit" class="inputbtn" <?php if(!count($this->paginator)) echo 'disabled="disabled"';?>/>
								<input class="inputbtn" value="Print" onclick="window.print();" type="button">
							</div>
						</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>