<table cellpadding="3" cellspacing="0" border="0" width = "100%">
	<tr>
		<td colspan="3" width = "50%">
			<table cellpadding="3" cellspacing="0" border="0" width = "100%">
				<tr>	
					<td colspan="3" class="tdform-sub" width = "44%"><span align="center"><strong><?php echo $this->language->_('Check Connection Other Application'); ?></strong></span></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->formLabel('DatabaseConnection',$this->language->_('Database Connection'));?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						 <?=$this->CHECKDATABASE?> Execution Time <?=substr($this->time, 0, 6)?> <?php echo $this->language->_('Second'); ?>
					</td>
				</tr>
				<?php
					/*
						<tr>
							<td class="tbl-evencontent"><b><?php echo $this->formLabel('CoOLPAY1Connection','CoOLPAY1 Connection')?></b></td>
							<td class="tbl-evencontent" align="center">:</td>
							<td class="tbl-evencontent">
								<?php echo $this->CHECK ." Executed Time ". $this->conn_coolpay1 ." Second"; ?></b>
							</td>
						</tr>
					*/
				?>				
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->formLabel('ESBConnection',$this->language->_('ESB Connection'));?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?php echo $this->CHECKESB .$this->language->_('Executed Time'). substr($this->timeESB, 0, 6) .$this->language->_('Micro Second'); ?></b>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->formLabel('SMTPConnection',$this->language->_('SMTP Connection'));?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?php echo $this->CHECKSMTP .$this->language->_('Executed Time'). substr($this->timeSMTP, 0, 6) .$this->language->_('Micro Second'); ?></b>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->formLabel('FileServerConnection',$this->language->_('File Server Connection')); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?php echo $this->CHECKfileServer .$this->language->_('Executed Time'). substr($this->timefileServer, 0, 6) .$this->language->_('Micro Second'); ?></b>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->formLabel('XCOMConnection',$this->language->_('XCOM Connection')); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?php echo $this->CHECKXCOM .$this->language->_('Executed Time'). substr($this->timeXCOM, 0, 6) .$this->language->_('Micro Second'); ?></b>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->formLabel('UserOnline',$this->language->_('User Online')." (Concurent)")?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?php echo $this->totalLogin;?> <?php echo $this->language->_('User Loging'); ?> <br> <?php echo $this->language->_('Execution Time'); ?> <?=substr($this->time_login, 0, 6);?> <?php echo $this->language->_('Second'); ?></td>
				</tr>
			</table>
		</td>
		<td>&nbsp;</td>
		<td colspan="3" width = "50%">
			<table cellpadding="3" cellspacing="0" border="0" width = "100%">
				<tr>	
					<td colspan="3" class="tdform-sub" width = "44%"><span align="center"><strong><?php echo $this->language->_('System Vital'); ?></strong></span></td>
				</tr>
				<tr>	
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Canonical Hostname'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?php echo $this->hostname; ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Listening IP'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?php echo $this->iphostname; ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Kernel Version'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?=$this->kernel;?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Distro Name'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?=$this->distro;?>
						<?php//echo substr($this->osversion, 0, 61)."<br>".substr($this->osversion, 62, 45); ?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Uptime'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?php 
							$arraTemp = explode(",", $this->uptime);
							for($i=0;$i<=count($arraTemp) - 5;$i++)
							{
								echo $arraTemp[$i];
							}
						?>
						Hours
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Current User'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
					<?php 
						$in = count($arraTemp) - 4;
						echo $arraTemp[$in];
					?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Load Average'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
						<?php 
							$in = count($arraTemp) - 3;
							for($i=$in;$i<=count($arraTemp);$i++)
							{
								if($i==3)
								{
									echo substr($arraTemp[$i], 15);
								}
								else
								{
									echo $arraTemp[$i];
								}
							}
							
						?>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<table cellpadding="3" cellspacing="0" border="0" width = "100%">
	<tr>
		<td colspan="3" width = "50%">
			<table cellpadding="3" cellspacing="0" border="0" width = "100%">
				<tr>
					<td colspan="3" class="tdform-sub" width = "44%"><span align="center"><strong><?php echo $this->language->_('Hardware Information'); ?></strong></span></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Processor'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?=substr($this->processor, 12)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Model'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?=substr($this->model, 12)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('CPU Speed'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?=substr($this->cpu, 11)?> Mhz</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('Cacha Size'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?=substr($this->cache, 13)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('System Bogomips'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?=substr($this->bogomips, 11)?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('IDE Devices'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent"><?php echo $this->hostname; ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('SCSI Devices'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
					<?php 
						for($i=0;$i<=count($this->scsi);$i++)
						{
							if($this->scsi[$i]['vendor'])
							{
								echo("- ".$this->scsi[$i]['vendor']." - ".$this->scsi[$i]['model']." (".$this->scsi[$i]['type'].")");
								echo("<br>");
							}
						}
					?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><b><?php echo $this->language->_('USB Devices'); ?></b></td>
					<td class="tbl-evencontent" align="center">:</td>
					<td class="tbl-evencontent">
					<?php 
						for($i=0;$i<=count($this->usb);$i++)
						{
							if($this->usb[$i])
							{
								echo("- ".$this->usb[$i]."<br>");
							}
						}
					?>
					</td>
				</tr>
			</table>
		<td>&nbsp;</td>
		<td colspan="3" width = "50%">
			<table cellpadding="3" cellspacing="0" border="0" width = "100%">
				<tr>	
					<td colspan="4" class="tdform-sub" width = "100%"><span align="center"><strong><?php echo $this->language->_('Network Usage'); ?></strong></span></td>
				</tr>
				<tr>
					<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Device'); ?></b></td>
					<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Received'); ?></b></td>
					<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Sent'); ?></b></td>
					<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Err/Drop'); ?></b></td>
				</tr>
				<?php
					for($i=0;$i<=count($this->networkDevice);$i++)
					{
						if($this->networkDevice[$i]['interface'])
						{
				?>
							<tr>
								<td class="tbl-evencontent"><b><?=$this->networkDevice[$i]['interface']?></b></td>
								<td class="tbl-evencontent" align = "right"><?=$this->networkDevice[$i]['received']?> MB</td>
								<td class="tbl-evencontent" align = "right"><?=$this->networkDevice[$i]['send']?> MB</td>
								<td class="tbl-evencontent" align = "right"><?=$this->networkDevice[$i]['err']?> kB / <?=$this->networkDevice[$i]['drop']?> kB</td>
							</tr>
				<?php
						}
					}
				?>
				<tr>	
					<td colspan="4" >&nbsp;</td>
				</tr>
				<tr>	
					<td colspan="4" class="tdform-sub" width = "100%"><span align="center"><strong><?php echo $this->language->_('Other Server Process Information'); ?></strong></span></td>
				</tr>
				<tr>
					<td colspan="4" class="tbl-evencontent" width = "100%">
						<pre><?=$this->serverProcessInformation?></pre>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<table cellpadding="3" cellspacing="0" border="0" width = "100%">
	<tr>
		<td colspan="5" class="tdform-sub" width = "44%"><span align="center"><strong><?php echo $this->language->_('Memory Usage'); ?></strong></span></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="center" width = "15%"><b><?php echo $this->language->_('Type'); ?></b></td>
		<td class="tbl-evencontent" align="center" width = "120px"><b><?php echo $this->language->_('Percent Capacity'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Free'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Used'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Size'); ?></b></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="left"><b><?php echo $this->language->_('Physical Memory'); ?></b></td>
		<td class="tbl-evencontent">
			<div>
				<span style="width:<?=$this->memoryUsage['ram']['percent']?>px; background-color :<?=($this->memoryUsage['ram']['percent']<='80')?"GREEN":("RED");?>; float:left">&nbsp;</span>
				<b><?=$this->memoryUsage['ram']['percent']?> %</b>
			</div>
		</td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['ram']['free']?> kB</b></td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['ram']['used']?> kB</b></td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['ram']['total']?> kB</b></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="left"><b>- <?php echo $this->language->_('Kernel'); ?> + <?php echo $this->language->_('Applications'); ?></b></td>
		<td class="tbl-evencontent">
			<div>
				<span style="width:<?=$this->memoryUsage['ram']['app_percent']?>px; background-color :<?=($this->memoryUsage['ram']['app_percent']<='80')?"GREEN":("RED");?>; float:left">&nbsp;</span>
				<b><?=$this->memoryUsage['ram']['app_percent']?> %</b>
			</div>
		</td>
		<td class="tbl-evencontent" align="Right">&nbsp;</td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['ram']['app']?> kB</b></td>
		<td class="tbl-evencontent" align="Right">&nbsp;</td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="left"><b>- <?php echo $this->language->_('Buffers'); ?></b></td>
		<td class="tbl-evencontent">
			<div>
				<span style="width:<?=$this->memoryUsage['ram']['buffers_percent']?>px; background-color :<?=($this->memoryUsage['ram']['buffers_percent']<='80')?"GREEN":("RED");?>; float:left">&nbsp;</span>
				<b><?=$this->memoryUsage['ram']['buffers_percent']?> %</b>
			</div>
		</td>
		<td class="tbl-evencontent" align="Right">&nbsp;</td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['ram']['buffers']?> kB</b></td>
		<td class="tbl-evencontent" align="Right">&nbsp;</td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="left"><b>- <?php echo $this->language->_('cached'); ?></b></td>
		<td class="tbl-evencontent">
			<div>
				<span style="width:<?=$this->memoryUsage['ram']['cached_percent']?>px; background-color :<?=($this->memoryUsage['ram']['cached_percent']<='80')?"GREEN":("RED");?>; float:left">&nbsp;</span>
				<b><?=$this->memoryUsage['ram']['cached_percent']?> %</b>
			</div>
		</td>
		<td class="tbl-evencontent" align="Right">&nbsp;</td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['ram']['cached']?> kB</b></td>
		<td class="tbl-evencontent" align="Right">&nbsp;</td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="left"><b><?php echo $this->language->_('Disk Swap'); ?></b></td>
		<td class="tbl-evencontent">
			<div>
				<span style="width:<?=$this->memoryUsage['swap']['percent']?>px; background-color :<?=($this->memoryUsage['swap']['percent']<='80')?"GREEN":("RED");?>; float:left">&nbsp;</span>
				<b><?=$this->memoryUsage['swap']['percent']?> %</b>
			</div>
		</td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['swap']['free']?> kB</b></td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['swap']['used']?> kB</b></td>
		<td class="tbl-evencontent" align="Right"><b><?=$this->memoryUsage['swap']['total']?> kB</b></td>
	</tr>
</table>
<br>
<table cellpadding="3" cellspacing="0" border="0" width = "100%">
	<tr>
		<td colspan="7" class="tdform-sub" width = "44%"><span align="center"><strong><?php echo $this->language->_('Mounted File System'); ?></strong></span></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Mount'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Type'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Partition'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Percent Capacity'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Free'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Used'); ?></b></td>
		<td class="tbl-evencontent" align="center"><b><?php echo $this->language->_('Size'); ?></b></td>
	</tr>
	<?php
		for($i=0;$i<=count($this->mount);$i++)
		{
			if($this->mount[$i]['Mount'])
			{
	?>
				<tr>
					<td class="tbl-evencontent" align = "left"><b><?=$this->mount[$i]['Mount']?></b></td>
					<td class="tbl-evencontent" align = "left"><?=$this->mount[$i]['Type']?></td>
					<td class="tbl-evencontent" align = "left"><?=$this->mount[$i]['Partition']?></td>
					<td class="tbl-evencontent" align = "right"><?=$this->mount[$i]['Percent']?></td>
					<td class="tbl-evencontent" align = "right"><?=$this->mount[$i]['Free']?></td>
					<td class="tbl-evencontent" align = "right"><?=$this->mount[$i]['Used']?></td>
					<td class="tbl-evencontent" align = "right"><?=$this->mount[$i]['Size']?></td>
				</tr>
	<?php
			}
		}
	?>
</table>
