<script>
	$(document).ready(function()
	{
		if( '<?=$this->success?>' || '<?=$this->error?>' )
		{
			$("input").attr("disabled","disabled");
			$("textarea").attr("disabled","disabled");
		}
	});
</script>

<style type="text/css">
	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-size: 12px;
		width: 250px;
		text-transform: uppercase;
	}
	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color:white !important;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 18px;
		height: 47.5px;
		width: 250px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		color:white !important;
		border-color: #dee2e6 #dee2e6 #fff !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 14px;
		height: 47.5px;
		font-size: 14px;
		width: 250px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.mybtn .buttonact {
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.mybtn .buttonnoact {
		background-color: #D1D0CE !important;
		color: #736F6E !important;
		border-color: #B6B6B4 !important;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Beranda'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Umum'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Pengaturan Umum'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Pengaturan Umun')?></h5>
		<!--<h6><?=$this->language->_('Manage front end, user account, notification template settings	')?></h6>-->
	</div>
</div>
<br>
	<!-- <div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btngreen hov col-md-3" name="button">Front End</button>
		<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btnwhite hov col-md-3" name="button">User and Password Policies</button>
		<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
	</div> -->

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" value="1" at="1" onclick="location.href='/generalsetting/foappsetting'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">TAMPILAN NASABAH</a>
			
		</li>
		
		<li class="nav-item">
			<a class="nav-link" value="3" at="3" onclick="location.href='/generalsetting/fousersetting'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">PENGATURAN USER DAN PASSWORD</a>
	</li>

	<li class="nav-item" style="display:none;">
		<a class="nav-link" value="2" at="2" onclick="location.href='/generalsetting/templatesetting'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Template Setting</a>

	</li>

</ul>
<!-- <div class="row"> -->

<!-- <div class="row col-md-12 d-flex justify-content-center">
	<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btngreen hov col-md-3" name="button">Front End</button>
	<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btnwhite hov col-md-3" name="button">User and Password Policies</button>
	<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
</div> -->

<!-- <br> -->
<br>
<div class="row col-md-12 d-flex justify-content-center">
	<div class="col-md-12">
		<?php if($this->success){ ?>
			<div class="alert alert-success" role="alert"><?=$this->language->_($this->report_msg)?></div><br />
		<?php }else if(!empty($this->report_msg)){ ?>
			<div class="alert alert-danger" role="alert">

				<?=$this->language->_($this->report_msg)?>

				<?php if($this->errorfee){
					echo '<br><br>'.$this->errorfee;
				}?>

			</div>

		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 pt-4">
		<div class = "mybtn">
			<button onclick="location.href='/generalsetting/foappsetting'" class = "buttonnoact col-md-12">Pengaturan Tampilan Nasabah</button>
			<button onclick="location.href='/generalsetting/datarecord'" class = "buttonnoact col-md-12">Pengaturan Parameter</button>
			<button onclick="location.href='/generalsetting/transactiontime'" class = "buttonact  col-md-12">Pengaturan SKN RTGS</button>
		</div>
	</div>
	<div class="col-sm-9 pt-3">
		<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="post">

			<table cellpadding="10" cellspacing="0" width="100%">
				<!-- <tr style="display:none;">
					<td>?php echo $this->language->_('Max future date'); ?></td>
					<td>:</td>
					<td>
						?php echo $this->formText('range_futuredate',$this->range_futuredate,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
						<div class="errmsg">?=$this->xrange_futuredate;?></div>
					</td>

					<td>day(s)</td>
				</tr>

				<tr style="display:none;">
					<td>?php echo $this->language->_('Max Account Statement Period'); ?></td>
					<td>:</td>
					<td>
						?php echo $this->formText('range_statement',$this->range_statement,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
						<div class="errmsg">?=$this->xrange_statement;?></div>
					</td>
					<td>day(s)</td>
				</tr>

				<tr style="display:none;">
					<td>?php echo $this->language->_('Max Transaction History Period'); ?></td>
					<td>:</td>
					<td>
						?php echo $this->formText('range_reporthistory',$this->range_reporthistory,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
						<div class="errmsg">?=$this->xrange_reporthistory;?></div>
					</td>

					<td>day(s)</td>
				</tr> -->

		<!-- <tr>
			<td><php echo $this->language->_('OTP Registration Expiration'); ?></td>
			<td>:</td>
			<td>
				<php echo $this->formText('otp_exp_regist',$this->otp_exp_regist,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
				<div class="errmsg"><=$this->xotp_exp_regist;?></div>
			</td>
			
			<td>hour(s)</td>
		</tr> -->
		
		<!--<tr>
			<td><?php echo $this->language->_('OTP Transaction Expiration'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('otp_exp_trx',$this->otp_exp_trx,array('class' => 'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
				<div class="errmsg"><?=$this->xotp_exp_trx;?></div>
			</td>
			
			<td>Menit</td>
		</tr>-->
		
		<!-- <tr style="display:none;">
			<td>?php echo $this->language->_('Daily Running Balance Time '); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('start_running_balance',$this->start_running_balance,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">?=$this->xstart_running_balance;?></div>
			</td>
			<td>To</td>
			<td>
				?php echo $this->formText('cut_off_running_balance',$this->cut_off_running_balance,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">?=$this->xcut_off_running_balance;?></div>
			</td>

		</tr> -->
		<!-- <tr style="display:none;">
			<td>?php echo $this->language->_('Starting time for Remittance payments'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('starting_time_remittance',$this->starting_time_remittance,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">?=$this->xstarting_time_remittance;?></div>
			</td>

		</tr> -->
		<!-- <tr style="display:none;">
			<td>?php echo $this->language->_('Cut off time for Remittance payments'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('cut_off_time_remittance',$this->cut_off_time_remittance,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">?=$this->xcut_off_time_remittance;?></div>
			</td>

		</tr> -->
		<tr>
			<td><?php echo $this->language->_('Batas Waktu Pembayaran SKN'); ?></td>
			<td>:</td>
			<td>
			<input id="cut_off_time_skn" value="<?=$this->cut_off_time_skn;?>" type="text" name="cut_off_time_skn" class="form-control input-small time">
				<?php //echo $this->formText('cut_off_time_skn',$this->cut_off_time_skn,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg"><?=$this->xcut_off_time_skn;?></div>
			</td>

		</tr>
		<tr>
			<td><?php echo $this->language->_('Batas Waktu Pembayaran RTGS'); ?></td>
			<td>:</td>
			<td>
			<input id="cut_off_time_rtgs" value="<?=$this->cut_off_time_rtgs;?>" type="text" name="cut_off_time_rtgs" class="form-control input-small time">
				<?php// echo $this->formText('cut_off_time_rtgs',$this->cut_off_time_rtgs,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg"><?=$this->xcut_off_time_rtgs;?></div>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->language->_('Batas Transaksi SKN (IDR)'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('min_amount_skn',Application_Helper_General::displayMoney($this->min_amount_skn),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg"><?=$this->xmin_amount_skn;?></div>
			</td>
			<td> - </td>
			<td>
				<?php echo $this->formText('max_amount_skn',Application_Helper_General::displayMoney($this->max_amount_skn),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)		?>
				<div class="errmsg"><?=$this->xmax_amount_skn;?></div>
			</td>

		</tr>
		<tr>
			<td><?php echo $this->language->_('Batas Transaksi RTGS (IDR)'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('min_amount_rtgs',Application_Helper_General::displayMoney($this->min_amount_rtgs),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg"><?=$this->xmin_amount_rtgs;?></div>
			</td>
			<td> - </td>
			<td>
				<?php 	echo $this->formText('max_amount_rtgs',Application_Helper_General::displayMoney($this->max_amount_rtgs),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)	?>
				<div class="errmsg"><?=$this->xmax_amount_rtgs;?></div>
			</td>

		</tr>
		<tr>
			<td><?php echo $this->language->_('Biaya SKN (IDR)'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('global_charges_skn',Application_Helper_General::displayMoney($this->global_charges_skn),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg"><?=$this->xglobal_charges_skn;?></div>
			</td>
			
		</tr>
		<tr>
			<td><?php echo $this->language->_('Biaya RTGS (IDR)'); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->formText('global_charges_rtgs',Application_Helper_General::displayMoney($this->global_charges_rtgs),array('class' => 'form-control col-md-12','onfocus'=>"iNumFrmtUS(this.value,this.id)", 'onblur'=>"NumFrmtUS(this.value,this.id)",'onkeypress'=>"return forceCurrency(event)"),$optionCurrency)?>
				<div class="errmsg"><?=$this->xglobal_charges_rtgs;?></div>
			</td>


		</tr>

		<!-- <tr style="display: none">
			<td>?php echo $this->language->_('BI Payments Cut Off Time'); ?></td>
			<td>:</td>
			<td>
				?php echo $this->formText('cut_off_time_bi',$this->cut_off_time_bi,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">?=$this->xcut_off_time_bi;?></div>
			</td>
		</tr> -->
		<!-- <tr style="display:none;">
			<td>?php echo $this->language->_('RTGS - KSEI Payments Cut Off Time'); ?></td>
			<td>:</td>
			<td>
				php echo $this->formText('cot_rtgs_ksei',$this->cot_rtgs_ksei,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">?=$this->xcot_rtgs_ksei;?></div>
			</td>
		</tr>
		<tr style="display:none;">
			<td>php echo $this->language->_('Bulk Payments Cut Off Time'); ?></td>
			<td>:</td>
			<td>
				php echo $this->formText('cut_off_time_bulkpayments',$this->cut_off_time_bulkpayments,array('class'=>'form-control col-md-12','maxlength'=>8))?>
				<div class="errmsg">=$this->xcut_off_time_bulkpayments;?></div>
			</td>
		</tr> -->
		<!-- <tr style="display:none;">
			<td> echo $this->language->_('Cancel Local Remittance Payment Slip (after no activity in number of days'); ?></td>
			<td>:</td>
			<td>
				 echo $this->formText('cancel_local_remittance',$this->cancel_local_remittance,array('class'=>'form-control col-md-12','maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
				<div class="errmsg">$this->xcancel_local_remittance;?></div>
			</td>
		</tr> -->
		<tr style="display:none;">
			<td><?php echo $this->language->_('Enable/Disable Auto Release Payment'); ?></td>
			<td>:</td>
			<td>
				<?php
				$options= array(
					'1' => $this->language->_('Enable'),
				);
				echo $this->formRadio('auto_release_payment',$this->auto_release_payment,null,$options);	?>
			</td>
			<td colspan="2">
				<?php
				$options= array(
					'0' => $this->language->_('Disable'),
				);
				echo $this->formRadio('auto_release_payment',$this->auto_release_payment,null,$options);
				?>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="col-md-12">
					<table align="center">
						<tr>
							<?php
							$options = array('class'=>'btngreen hov');
							$options2 = array('class'=>'btnwhite hov');
							if( $this->success || $this->error )
							{
								$options = array_merge($options,array("disabled" => "disabled"));
							}
							?>
							<td >
								<?php //echo $this->formSubmit('submit','Submit',$options)?>&nbsp;
								<?php //echo $this->formReset('reset','Reset',$options)?>

								<?php
								if($this->hasPrivilege('STUD'))
								{
									?>
									<?php echo $this->formReset('reset',$this->language->_('Reset'),$options2)?>
									<?php echo $this->formSubmit('submit',$this->language->_('Submit'),$options)?>&nbsp;

									<?php
								}
								else{
									$submit = $this->language->_('Submit');
									$reset = $this->language->_('Reset');
									echo'<input type="button" value="'.$submit.'" disabled class="inputbtn"> &nbsp;';
									echo'<input type="button" value="'.$reset.'" disabled class="inputbtn">';
								}
								?>
							</td>
						</tr>
					</table>


				</div>
			</td>
		</tr>

	</table>




</form>
</div>



</div>

<!-- </div> -->

<script type="text/javascript">
$(document).ready(function () {

	var $cut_off_time_skn = $('#cut_off_time_skn').timepicker({
										timeFormat: 'HH:mm:ss',
										change: function (e) {
											document.getElementById("cut_off_time_skn").value = $cut_off_time_skn.value()+':00';
										
										}
									});
	var $cut_off_time_rtgs = $('#cut_off_time_rtgs').timepicker({
										timeFormat: 'HH:mm:ss',
										change: function (e) {
											document.getElementById("cut_off_time_rtgs").value = $cut_off_time_rtgs.value()+':00';
										
										}
									});



});
</script>