<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{
	 //pengaturan error messages
	 <?php
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php
	     }
	   ?>
});

</script>


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Bank Table'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Nostro Bank'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
										 <?php echo $this->language->_('Add'); ?>
								 </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
		<div class="portlet-body form col-md-12">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
				<tbody>
					<tr>
						<td class="filterarea" id="filterarea">
							<div class="subtopic"><h2><?php echo $this->language->_('Nostro Bank Management');?></h2></div>
						</td>
					</tr>
					<tr>
						<td>
							<?php if($this->success){ ?>
							<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
							<?php } ?>

							<?php
									if(count($this->report_msg) > 0){ ?>
									<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
							<?php
									 }
								 ?>

							<?php if($this->notunique){ ?>
								<div class="errmsg"><?php echo $this->language->_('Error : Nostro bank has been registered.');?></div><br />
							<?php } ?>
						</td>
					</tr>
					<tr>
						<th class="filterarea" id="filterarea">
							<?php echo $this->language->_('New Nostro Bank');?>
						</th>
					</tr>
					<tr>
						<td id="contentarea">
							<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
							<table border="0" cellpadding="5" cellspacing="0" width="70%">
								<tbody>
										<tr>
										<td class="tbl-evencontent" width="35%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
									</tr>

									<tr>
										<td class="tbl-evencontent" width="35%"><?php echo $this->language->_('Currency');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
												<?php echo $this->formSelect('ccy',$this->ccy,array('class' => 'form-control col-md-12' ),$this->ccyArr); ?>
												<div id="error_ccy" class="errmsg"></div>
										</td>
										</tr>

									<!--<tr>
										<td class="tbl-evencontent"><?php //echo $this->language->_('Country');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
												<?php //echo $this->formText('country_name',$this->country_name,array('size'=>40,'maxlength'=>128,'readonly'=>'readonly'))?>
												<div id="error_country_name" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php //echo $this->language->_('Beneficiary Bank');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php //echo $this->formText('benef_bank',$this->benef_bank,array('size'=>60,'maxlength'=>150,'readonly'=>'readonly'))?>
											 <?php //echo $this->formHidden('bank_code',$this->bank_code)?>
											 <input class="inputbtn" value="<?php //echo $this->language->_('Remittance Bank Table'); ?>" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'populateremittance','action'=>'index'),null,true)?>', 750)" type="button">
											 <div id="error_benef_bank" class="errmsg"></div>
											 <div id="error_bank_code" class="errmsg"></div>
										</td>
									</tr>-->
									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Nostro Bank Name');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('nostro_name',$this->nostro_name,array('class' => 'form-control col-md-12' , 'size'=>40,'maxlength'=>50,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_nostro_name" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Nostro Swift Code');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('nostro_swiftcode',$this->nostro_swiftcode,array('class' => 'form-control col-md-12' ,'size'=>40,'maxlength'=>11,'onkeypress'=>'return forceAlnumOCBC(event)'))?>
											 <div id="error_nostro_swiftcode" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td class="button-area" id="button-area" colspan="2">
											<div class="formbutton">

													<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/nostrobank/index\'','class'=>'btnwhite hov')); ?>
												<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
												<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btngreen hov"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
</div>
