
<?php
$loginUrl = $this->gClient->createAuthUrl();
?>
<script>
function refreshCaptcha()
{
	var imgs = '<?=$this->serverUrl()?>/tools/generatecaptcha';
	$.post(imgs,{},
	function(data){
		$("div#captcha").html(data);
	});
	$("#capInput").val('');
}
</script>

<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
<script src="/js/gt.js"></script>
<?php

$this->headScript()->appendFile('/keyboard/docs/js/jquery-latest-slim.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery-migrate-3.1.0.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery-ui-custom.min.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.js');
$this->headScript()->appendFile('/keyboard/js/jquery.mousewheel.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-typing.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-autocomplete.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-caret.js');
$this->headScript()->appendFile('/keyboard/docs/js/bootstrap.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/demo.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery.tipsy.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/prettify.js');





// $this->headLink()->appendStylesheet('/keyboard/docs/css/demo.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/tipsy.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/prettify.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/jquery-ui.min.css');
$this->headLink()->appendStylesheet('/keyboard/css/keyboard.css');


	// print_r($this->language);die;
?>
<div class="row no-gutters">
  <div class="col-md-7">
    <h4><?php echo $this->language->_('Secure Login');?></h4>
  </div>
  <div class="col-md-5" align="right">
    <a href="/registerechannel" class="btn register-btn"><?=$this->language->_('REGISTER')?></a>
  </div>
</div>

<form action="" method="post">
<?php echo $this->formHidden('randomTransact',$this->randomTransact,array('maxlength'=>'128','size'=>'40','readOnly'=>true));?>
<div class="row mt-3">
  <div class="col-md-12">
  	<?php
		if(isset($this->errors))
		{
	?>
			<div class="alert alert-danger" role="alert">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span class="sr-only">Error:</span>
				<?php echo $this->errors;?>
			</div>
	<?php
		}
	?>
	<style type="text/css">
		.form-group, .form-control{
			/*padding-bottom:  0px!important;*/
			margin-bottom: 0.5rem!important;
		}

		input::placeholder {
			margin: 0 0 4px;
		}
		.inp {
            border: 1px solid gray;
            padding: 0 10px;
            width: 200px;
            height: 30px;
            font-size: 18px;
    }
        #embed-captcha {
            /*width: 300px;*/
            margin: 0 auto;
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
        #notice {
            color: red;
        }

        .geetest_holder.geetest_wind{
		      width: 100%!important;
		    }

		.google-login-btn {
			border-radius: 0.5rem;
		  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
		  	border: solid 1px white;
		 	color: rgba(17, 17, 17, 0.87);
		 	font-size:1.5rem;
		 	width: 100%;
		 	line-height: 1.17;
		 	padding-top: 10px;
		}


	</style>

	<?php
	// echo '<pre>';
	// var_dump($this->language);die;

	 if($this->confirmPage == 1){?>
    <div class="form-group">
      <?php
      	$companycode = $this->language->_('Company Code');
      echo $this->formText('custId',$this->custId,array('class'=>'form-control form-control-lg','tabindex'=>'1','autocomplete'=>'off','onkeyup'=>'javascript:this.value = this.value.toUpperCase();','style'=>'height:50px','placeholder'=>$companycode));?>
    </div>

    <div class="form-group">
      <?php
      	$userid = $this->language->_('User Id');
      	echo $this->formText('userId',$this->userId,array('class'=>'form-control form-control-lg','tabindex'=>'1','autocomplete'=>'off','onkeyup'=>'javascript:this.value = this.value.toUpperCase();','style'=>'height:50px','placeholder'=>$userid));?>
    </div>

    <div class="form-group">
      	<input type="password" name="password" class="form-control form-control-lg" id="password" tabindex="2" onkeypress="capLock(event)" autocomplete="off" placeholder="<?php echo $this->language->_('Password');?>"  style="height: 50px" />
      	<input id="text" type="text" placeholder=" Enter something..." style="display: none">


			<img id="password-opener" class="tooltip-tipsy" title="Click to open the virtual keyboard" src="keyboard/css/images/keyboard.svg" style="float: right;margin-top: -45px;position: relative;z-index: 2;margin-right: 10px;">


		<div id="divMayus"><?php echo $this->language->_('Caps Lock is on');?></div>
    </div>

		<div class="form-group">
    		 <div id="embed-captcha"></div>
		    <p id="wait" class="show">Loading</p>
		    <p id="notice" class="hide">Klik tombol untuk memverifikasi</p>


    </div>
		<?php  if($this->reqcap){ ?>
    <div class="form-group"><b><?php echo $this->language->_('Captcha');?></b></div>
		<div id="captcha" class="form-group">
			<img src="<?php echo $this->captImgDir . $this->captchaId; ?>.png" alt=""/><br/>
			<input type="hidden" value="<?php echo $this->captchaId; ?>" name="captcha[id]"/>
		</div>
		<div class="form-group"><a href="javascript:refreshCaptcha();" class="sub-text"><b><?php echo $this->language->_('Refresh Captcha');?></b></a>
		<input type="text" name="captcha[input]" id="#capInput" class='form-control form-control-lg' onkeyup="javascript:this.value = this.value.toUpperCase();" maxlength="4" tabindex="3" placeholder="<?php echo $this->language->_('Input Captcha');?>" />
		</div>
	<?php } ?>
	<?php //echo 'here';die;?>

	
    <?php
		echo $this->formHidden('confirmPage',1);
		echo $this->formHidden('tokenAuth',$this->tokenAuth);
	}else{
		echo $this->formHidden('confirmPage',2);
		echo $this->formHidden('tokenAuth',$this->tokenAuth);
		echo $this->formHidden('custId',$this->custId);
		echo $this->formHidden('userId',$this->userId);
	?>
	<script>
	function trfLogin()
	{
		var textAM=document.getElementById("custId").value;
		var passAM=document.getElementById("randomTransact").value;
		var sizeAM=256;
		var encrypAM=AES.encrypt(textAM,passAM,sizeAM);
		document.getElementById("custId").value=textAM;
		$('#custId').hide();

		var textAM=document.getElementById("userId").value;
		var passAM=document.getElementById("randomTransact").value;
		var sizeAM=256;
		var encrypAM=AES.encrypt(textAM,passAM,sizeAM);
		document.getElementById("userId").value=textAM;
		$('#userId').hide();

		var textAM=document.getElementById("password").value;
		if(textAM == ''){
			return false;
		}
		var passAM=document.getElementById("randomTransact").value;
		var sizeAM=256;
		var encrypAM=AES.encrypt(textAM,passAM,sizeAM);
		document.getElementById("password").value=encrypAM;
	}
	</script>

    <div class="form-group">
      	<input type="password" name="password" class="form-control form-control-lg" id="password" tabindex="2" onkeypress="capLock(event)" autocomplete="off" placeholder="Password" />
		<div id="divMayus"><?php echo $this->language->_('Caps Lock is on');?></div>
    </div>

    <div class="form-group" style="text-align:center;">
    <?php if (!(empty($this->tokenAuth))) {?>
		<b><?php echo $this->language->_('Challenge Code')?></b>
		<br/>
		<input name="challengeCode" maxlength="6" value="<?= $this->challengeCode ?>" readonly="readonly" type="text">
		<br/>
		<b><?php echo $this->language->_('Response Token APLI 1')?></b>
		<input name="responseCode" maxlength="6" onkeypress="return forceNumberOCBC(event);" type="password" autocomplete="off" class="form-control form-control-lg">
	<?php }else{ ?>
		<div class="pb-1"><b><?php echo $this->language->_('Captcha');?></b></div>
		<div id="captcha" class="pb-1">
			<img src="<?php echo $this->captImgDir . $this->captchaId; ?>.png" alt=""/><br/>
			<input type="hidden" value="<?php echo $this->captchaId; ?>" name="captcha[id]"/>
		</div>
		<div class="pb-2"><a href="javascript:refreshCaptcha();" class="sub-text"><b><?php echo $this->language->_('Refresh Captcha');?></b></a></div>
		<input type="text" name="captcha[input]" id="#capInput" class='form-control form-control-lg' onkeyup="javascript:this.value = this.value.toUpperCase();" maxlength="4" tabindex="3" placeholder="<?php echo $this->language->_('Input Captcha');?>" />
	<?php }?>
	</div>
	<?php } ?>
	<br/>
	<input type="submit" class="btn login-btn" name="user_submitbutton" onClick='submitbtn(this)' id="user_submitbutton" value="<?php echo $this->language->_('LOGIN')?>"/>
	<input type="submit" class="btn login-btn" id="user_submitbutton_show" name="user_submitbutton_show" value="<?php echo $this->language->_('LOGIN')?>" disabled style="display:none"/>
	<script>
	function submitbtn(){
		$("#user_submitbutton").hide();
		$("#user_submitbutton_show").show();
	}
	</script>
	<br/>
	
	<div class="form-group" style="background-color: white;margin-top: 10px;">
	<button type="button" class="btn google-login-btn bg-transparent" name="user_submitbutton" onClick='window.location = "<?php echo $loginUrl; ?>"' id="user_submitbutton" style="width: 100%;height: 50px;"><img src="/assets/themes/assets/newlayout/img/googleicon.png" style="height: 30px">&nbsp;<?php echo $this->language->_('Login with Google')?></button>
	</div>

    <div class="mt-4 mb-2" align="center">
      <a href="/tools/forgotpassword/" class="forgot-password"><?php echo $this->language->_('FORGOT PASSWORD');?></a>
    </div>
  </div>
</div>
</form>


<script type="text/javascript">

    var handlerEmbed = function (captchaObj) {
        $("#embed-submit").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });

        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });

        captchaObj.onSuccess(function () {
	        var result = captchaObj.getValidate();

    	});

    	captchaObj.onError(function () {

    	});


    };
  $.ajax({
        // 获取id，challenge，success（是否启用failback）
        // ur;: "<?=$this->url(array('module'=>'default','controller'=>'startrecapcha','action'=>'index'),null,true)?>"
       url : "/default/startrecapcha",
        // url: "../web/StartCaptchaServlet.php?t=" + (new Date()).getTime(), // 加随机数防止缓存
       type: "get",
       dataType: "json",
       success: function (data) {
           console.log(data);
           initGeetest({
               gt: data.gt,
               challenge: data.challenge,
                new_captcha: data.new_captcha,
                product: "popup",
                lang: 'en', // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerEmbed);
        },
			error: function(xhr, ajaxOptions, thrownError)
			{
				console.info(thrownError);
				// $("#load"+acct).hide();
				// alert("Failed to get where column list, please try again");
			}
    });


	$("#divMayus").hide();
	$('#password').keypress(function(e) {
		var s = String.fromCharCode( e.which );
		if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {
			$("#divMayus").show();
		}
		else
		{
			$("#divMayus").hide();
		}
	});
</script>
