<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) { 
          $("#logo-title").hide(); 
          $("#logo-titles").hide(); 
        } else if ( $("#logo-title").is(":hidden") ) { 
          $("#logo-title").show(); 
          $("#logo-titles").show(); 
        }
      })

    $('#fixTable').fixTableHeader();

});
</script>
<style>

.printlogo {
  width:60%;
}
@media print{
    .hidden, .hidden * {
    display: none !important;
    visibility: hidden;
  }

  button {
    display: none !important;
    visibility: hidden;
  }

  /*form {
    display: none !important;
    visibility: hidden;
  }*/

  .hiddenLogo, .hiddenLogo * {
    display: inline !important;
    visibility: show;
  }

  input.currency{ width: 200px; font-size: 10px; }
  ul { padding-left:10px; }
  h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
  body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
  b { font-weight:bold; font-size:11px }
  td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
  a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
  .tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
  .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
  .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
  body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  -webkit-print-color-adjust:exact; /*chrome*/
  -moz-print-color-adjust:exact; /*mozila*/
  -o-print-color-adjust:exact; /*opera*/
  -ms-print-color-adjust:exact; /*ie*/
  }

  .Path-85 {
    opacity:0.4;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .Path-83 {
    opacity:0.4;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .name {
      display:none;
  }
  .print-name {
      display:block;
  }
  .otherbtn {
      display:none;
  }
  .filter {
      display:none;
  }
}

</style>
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
  <tr>
    <td valign="left"><div style="padding: 0px 20px 0px 0px"><img class="printlogo" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" border="0"/></div></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
  <tr>
    <td align="center" valign="middle"><strong><?php echo $this->language->_('Account Group');?> - </strong></td>
    <td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
  </tr>
</table>

<div class="row name">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?=$this->language->_('Account Group')?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="inhouse"><?=$this->language->_('Account Group Changes')?></span>
	                </li>
	                
            	</ul>
        	</div>
      	</div>
</div>

<div class="content-box filter">
<div class="portlet-body form no-gutters">

<h5><?=$this->language->_('Source Account Group')?></h5>

<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">


<?php 
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show(); 
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array();
                        $selectlist = array('ACCT_NUM','ACCT_NAME','ACCT_GROUP');
                        $index = 0;
            


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                                          var ncolselect = "#colselect-s<?=$key?>";
                                                  
                                      });

                                        </script>
                                      <?php
                                      // print_r($value);
                                      // print_r($selectlist);die;
                                          if(!in_array($value, $selectlist)){
                                          ?>
                                            <input class='form-control' type='text' style='width:100%'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' style='width:100%' type='text' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
               
                

                <br/>

                                             
                      
                               </div>
            <div class="col-md-4">
            </div>
                               
  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>               
       </a>
   </div>
 
  <br />


</form>
</div>
</div>

<br>
			

<div class="form-group otherbtn">
        <div style="float:left;">
          <?php
            $option = array('module'=>'accountgroup','controller'=>'acctgrouplist','action'=>'manageacctgroup');
          ?>
          <div class="input-group">

          <?php if($this->disabledmanage){ ?>

                <input class="btn-sm btngrad" type="button" onclick="location.href='<?=$this->url($option,null,true)?>'" value="<?php echo $this->language->_('Manage')?>" disabled>
               
          <?php }else{ ?>
                
                <input class="btn-sm btngrad hov" type="button" onclick="location.href='<?=$this->url($option,null,true)?>'" value="<?php echo $this->language->_('Manage')?>">

          <?php  } ?>

<?php
        if($this->disabledmanage){
            ?>
              <div class="errmsg" style="padding-left: 20px;padding-top: 5px;"><?= $this->language->_($this->disabled_msg)?></div>
            <?php
        }

?>
        </div>
        </div>
        <div style="float:right; padding-left:5px;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" placeholder="Search">
            </div>
        </div>
        <div style="float:right; padding-left:10px;">
            <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
                <?php echo $this->formHidden('sortby',$this->sortBy); ?>
                <?php echo $this->formHidden('sortdir',$this->sortDir); ?>
                <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
                <?php echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp;
                <?php }else{ ?>
                <?php echo $this->formSubmit('pdf','PDF',array('class'=>'btnwhite hov')); ?>&nbsp;
                <?php } ?>
            <!--    <input class="inputbtn" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button">-->
                <!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
                  echo '<button  class="btngrad disabled" onclick="window.print();" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
                }
                else{
                ?> -->
                  <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp; -->
                  <!-- <button onclick="window.print();" class="btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
                <?php   
                }
                ?> -->

                <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
                echo '<button class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
                }
                else{
                ?>
                  <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
                <?php
                }
                ?>
            </form>
        </div>
    </div>

			<?php if($this->success){ ?>
			<div class="successmsg"><?=$this->report_msg?></div><br />
			<?php }else if($this->error){ ?>
			<div class="errmsg"><?=$this->report_msg?></div><br />
			<?php } ?>
	
<br>
<br>

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped headerNew">
<thead>
    <tr class="headercolor">
    	<th width="3%" valign="top" class="tablehead fth-header">No</th>
			<?php 
				echo $this->partial('tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
									);
			?>
    </tr>
</thead>
<tbody>
    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
  {
          $i=0;
          
	  foreach($this->paginator as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$alias = $row['ACCT_ALIAS_NAME']?$row['ACCT_ALIAS_NAME']:'N/A';
		$groupname = $row['GROUP_NAME']?$row['GROUP_NAME']:'N/A';
		
		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>';
				//<td class="'.$td_css.'">'.$alias.'</td>
		echo '<td class="'.$td_css.'">'.$groupname.'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> --- ".$this->language->_('No Data')." --- </td></tr>";
	}
    ?>
    </tbody>
</table>
</div>
<br />

<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br>

						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="display: none"><tr><td colspan="5" >&nbsp;</td></tr>
							
							<tr>
								<td class="button-area" id="button-area" colspan="5">
									<div class="formbutton">
										<input class = "btnwhite hov" type="button" onclick="location.href='/home/index'" value="<?php echo $this->language->_('Back')?>">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
	

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
	function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
	var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'USER_ID'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereuser'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>