<?php
	$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
	if(is_array($query_string_params))
	{
		$qstring='?';
		foreach($query_string_params as $key=>$val)
			$qstring.=$key.'='.$val.'&';
		$qstring=substr($qstring,0,-1);
	}
	else
	{
		$qstring='';
	}
	$jqueryDateFormat = $this->dateJqueryFormat;

	$changesTypeDescArr = $this->suggestionType['desc'];
	$changesTypeCodeArr = $this->suggestionType['code'];
	$changesFilterArr = array_flip($changesTypeCodeArr);
	foreach($changesFilterArr as $key=>$val)
	{
		$changesFilterArr[$key] = $changesTypeDescArr[$val];
	}
	//Zend_Debug::dump($changesTypeCodeArr);
	$changesFilterArr = array_merge(array('' => '-- '.$this->language->_('Any Value').' --'),$changesFilterArr);
	$listSuggestData  = array(
								'User List'=>'User List',
								'General Setting'=>'General Setting',
								'Currency Setting'=>'Currency Setting',
								'Holiday Setting'=>'Holiday Setting',
								'Customer'=>'Customer',
								'Bank Account'=>'Bank Account',
								'User Account'=>'User Account',
								'User Limit'=>'User Limit',
								'User Daily Limit'=>'User Daily Limit',
								'Approver Group'=>'Approver Group',
								'Approver Group Boundary'=>'Approver Group Boundary',
								'Backend User'=>'Backend User',
								'Backend Group'=>'Backend Group',
						//		'COA Account'=>'COA Account',
								'Charges Template'=>'Charges Template',
								'Charges'=>'Charges',
								'System Balance'=>'System Balance',
								'Global Scheme Parameter'=>'Global Scheme Parameter',
								'Scheme Configuration'=>'Scheme Configuration',
								'Physical Document Configuration'=>'Physical Document Configuration',
								'Root Community'=>'Root Community',
								'Principal'=>'Principal',
								'Community'=>'Community',
								'Member'=>'Member',
							);
	ksort($listSuggestData);
	$listSuggestData = array('all'=>'--'.$this->language->_('Any Value').'--')+$listSuggestData;
?>
<div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Changes Request List')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>

                    <li>
                        <span class="inhouse"><?=$this->language->_('Changes Request List')?></span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

<div class="tabheader" id="tabheader"> <h5><?php echo $this->language->_('Notification'); ?></h5>  </div>
<?php
	if($this->updated)
	{
		if(is_array($this->updatedId) && count($this->updatedId) && is_array($this->updatedStatus) && count($this->updatedStatus))
		{
			$msgArr = array();
			foreach ($this->updatedId as $key => $value)
			{
				$msg = null;
				$msg = $this->msgSuccess.' '.$this->language->_('Suggest Data').' : '.$value;
				if(isset($this->successRemark[$key]))
					$msg .= ', '.$this->successRemark[$key];
				$msgArr[$key] = $msg;
			}

			echo '<br /><div class="successmsg">'.$this->language->_('Updated suggestion').'(s):</div>';
			echo $this->formErrors($msgArr,array('class'=>'successmsg'));
		}

		if(is_array($this->failedId) && count($this->failedId))
		{
			$msgArr = array();
			foreach ($this->failedId as $key => $value)
			{
				$msgArr[$key] = $this->failedMessage[$key].', '.$this->language->_('Suggest Data').': '.$value;
			}

			echo '<br /><div class="errmsg">'.$this->language->_('Failed suggestion update').'(s):</div>';
			echo $this->formErrors($msgArr,array('class'=>'errmsg'));
		}

	}

	if($this->success)
	{
?>
		<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php
	}
	else if($this->error)
	{
?>
		<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php
	}
?>
<br />
<?=$this->form('formAct',array('name'=>'actForm',
			   'action' => $this->url(array('module' => Zend_Controller_Front::getInstance()->getRequest()->getModuleName(),
    										'controller' => Zend_Controller_Front::getInstance()->getRequest()->getControllerName(),
    										'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName())
    					  		    		).$qstring,
			   'method' => 'post'));?>
			   <div class="table-responsive portlet-body flip-scroll">
<table width="100%" cellpadding="1" cellspacing="0" border="1" class="table table-striped table-bordered table-condensed flip-content">
    <tr class="headercolor">
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
    														'sortBy' => $this->sortBy,
    														'sortDir' => $this->sortDir,
    														'query_string_params' => $query_string_params
    														)
    							  )?>
    	<th valign="top" class="tablehead"><?php echo $this->language->_('Status'); ?></th>
    </tr>
<?php

	if(count($this->paginator) > 0)
    {
    	$counter  = 0;
    	foreach($this->paginator as $row)
		{
    		if($counter % 2 == 0 )
    			$css = 'tbl-evencontent';
    		else
    			$css = 'tbl-oddcontent';

    		if($this->arrayChangesError[$row['CHANGES_ID']]!='Succes')
			{
    			$styleError ='style="background-color:red"';
				if(!$this->tokenerr)
				{
					$description =  $this->arrayChangesError[$row['CHANGES_ID']];
				}
				else
				{
					$description = $this->language->_('Your Suggestion has been expired. Please try again');
				}
	    	}
			else
			{
	    		$styleError ='';
	    		$description = $this->language->_('Success');
	    	}
    		//$displayDate = new Zend_Date($row['CREATED'],$databaseDefaultDateFormat);
    		//$changesCreated = $displayDate->toString($displayDateFormat);
    		//$changesCreated = $this->Date($row['CREATED']);
    		$changesCreated = Application_Helper_General::convertDate($row['CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat);
			$key 			= array_search($row['CHANGES_TYPE'],$changesTypeCodeArr);
    		$changesType 	= $changesTypeDescArr[$key];

    		//create actionArray (dropdown) values


    		//if suggestion type is Activate or Deactivate, then it's not possible to request repair

    		if(isset($this->note[$row['CHANGES_ID']]))
    			$reason = $this->note[$row['CHANGES_ID']];
    		else
    			$reason = $row['CHANGES_REASON'];


    		if($row['CHANGES_STATUS']== "RR")
			{
    			$suggestionStatus = $this->language->_('Request Repaired');
    		}
			else
			{
    			if($row['READ_STATUS']==0)
				{
    				$suggestionStatus = $this->language->_('Unread Suggestion');
    			}
				else if ($row['READ_STATUS']==1)
				{
    				$suggestionStatus = $this->language->_('Read Suggestion');
    			}
				else if ($row['READ_STATUS']==2)
				{
    				$suggestionStatus = $this->language->_('Repaired Suggestion');
    			}
    		}

    		if($description =='Success')
			{
    			//$suggestionStatus = 'Granted Suggestion';

				if($this->action == 'Reject'){
					$suggestionStatus = $this->language->_('Rejected Suggestion');
				}
				else if($this->action == 'Request Repair'){
					$suggestionStatus = $this->language->_('Request Repaired');
				}
				else{
    				$suggestionStatus = $this->language->_('Granted Suggestion');
				}

    		}


?>

			<tr >
				<td class="<?=$css?>" <?=$styleError?>><?php echo $this->formHidden('change_id[]', $row['CHANGES_ID'],array());?><?=$row['DISPLAY_TABLENAME']?></td>
				<!-- <td class="<?=$css?>" <?=$styleError?>><?=$row['COMPANY_CODE']?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$row['COMPANY_NAME']?></td> -->
				<td class="<?=$css?>" <?=$styleError?>><?=$row['KEY_FIELD']?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$row['KEY_VALUE']?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$changesCreated?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$row['CREATED_BY']?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$changesType?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$suggestionStatus?></td>
				<td class="<?=$css?>" <?=$styleError?>><?=$description?></td>
			</tr>
<?php
			$counter++;
    	}
    }
    else
	{
?>
		<tr>
			<td colspan="11" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td>
		</tr>
<?php
    }
?>
</table>
</div>
<br />
<?php
	if(count($this->paginator))
	{
?>
		<br />

		<div align="left">
			<?php
				if(is_array($this->arrayChangesError) && count($this->arrayChangesError) > 0)
				{
					$attributeButton = array('class' => 'btn btn-warning','disabled'=>'disabled');
				}
				else
				{
					$attributeButton = array('class' => 'btn btn-warning');
				}
			?>
			<input type="button" onclick='location.href="/changemanagement"' value="Back" class='btnwhite hov'>
			<br/>
		</div>
<?php
	}
?>
</form>
