<script src="https://cdn.rawgit.com/igorescobar/jQuery-Mask-Plugin/1ef022ab/dist/jquery.mask.min.js"></script>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Home'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Submission'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Preliminary Document'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Update'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  ul.errors {
    list-style: none;
    padding-left: 0;
  }

  table {
    font-size: 14px !important;
  }

  table td {
    vertical-align: top;
  }

  button.is-invalid {
    border-color: #dc3545 !important;
  }

  .input-medium {
    width: 320px !important;
  }

  .input-date {
    width: 120px !important;
  }

  .input-file {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }

  .gj-datepicker {
    width: 160px !important;
  }

  .input-group-append {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
  }

  .headercolor {
    color: #fff;
    background-color: #0b549f !important;
  }

  .btn-sm {
    padding: .10rem .5rem !important;
    border-color: #ccc !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
  }
</style>

<div class="row mb-3">
  <div class="col-md-12">
    <h5><?= strtoupper($this->language->_('Preliminary Document Preparation For Slik OJK - Update')); ?></h5>
    <p><b><?= $this->language->_('This initial documents is used for reporting purpose to OJK'); ?>.</b></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form id="form" method="post" action="" enctype="multipart/form-data">
      <div id="mainContent">
        <table width="100%" cellpadding="5" class="mb-4">
          <tr>
            <td width="280"><?= $this->language->_('Customer relationship with Bank BTN'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td width="10">:</td>
            <td>
              <select name="relationship" id="relationship" class="form-control" style="width:100%">
                <option value="">-- <?= strtoupper($this->language->_('Select Relationship')); ?> --</option>
                <?php foreach ($this->relationshipArr as $key => $value) : ?>
                  <option value="<?= $key; ?>" <?= ($this->data['RELATIONSHIP'] == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
                <?php endforeach; ?>
              </select>
              <small id="relationship_err" class="text-danger"></small>
            </td>
          </tr>
          <tr class="headercolor">
            <td colspan="3"><b><?= $this->language->_('Business Entity'); ?></b></td>
          </tr>
          <tr>
            <td><?= $this->language->_('Company'); ?></td>
            <td>:</td>
            <td><b><?= strtoupper($this->cust_name); ?></b></td>
          </tr>
          <tr>
            <td><?= $this->language->_('NPWP'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="npwp" id="npwp" onkeypress='javascript:return forceNumber(event);' class="npwp form-control input-medium" value="<?= $this->data['NPWP']; ?>">
                <button type="button" style="display:none;" class="btn btn-sm btn-light" onclick="modal_npwp()"><i class="fas fa-folder-plus"></i></button>
              </div>
              <small id="npwp_err" class="text-danger"></small>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('NPWP File'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <?php if ($this->data["NPWP_FILE"]) { ?>
                  <div id="npwp_lama">
                    <button type="button" onclick='document.querySelector("#npwp_file").click()'>Pilih File</button>
                    <span class="pl-2 ml-2"><?= $this->data["NPWP_FILE"]; ?></span>
                  </div>
                  <input type="hidden" name="npwp_check" id="npwp_check" value="<?= ($this->data['NPWP_FILE']) ? "1" : "0"; ?>">
                <? } ?>
                <input type="file" name="npwp_file" id="npwp_file" class="form-control input-medium" accept="application/pdf" <?= ($this->data["NPWP_FILE"]) ? 'style="display: none;"' : ''; ?>>
              </div>
              <small id="npwp_file_err" class="text-danger"></small>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('Akta Pendirian'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_number" id="sk_number" class="form-control input-medium" value="<?= $this->data['PENDIRIAN_NUMBER']; ?>">
                <button type="button" class="btn btn-sm btn-light" style="display:none;" onclick="modal_sk_number()"><i class="fas fa-folder-plus"></i></button>
              </div>
              <small id="sk_number_err" class="text-danger"></small>
            </td>
          </tr>

          <tr>
            <td><?= $this->language->_('File Akta Pendirian'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <?php if ($this->data["PENDIRIAN_NUMBER_FILE"]) { ?>
                  <div id="akta_pendirian_lama">
                    <button type="button" onclick='document.querySelector("#sk_number_file").click()'>Pilih File</button>
                    <span class="pl-2 ml-2"><?= $this->data["PENDIRIAN_NUMBER_FILE"]; ?></span>
                  </div>
                  <input type="hidden" name="npwp_check" id="akta_pendirian_check" value="<?= ($this->data['PENDIRIAN_NUMBER_FILE']) ? "1" : "0"; ?>">
                <?php } ?>
                <input type="file" name="sk_number_file" id="sk_number_file" class="form-control input-medium" accept="application/pdf" <?= ($this->data["PENDIRIAN_NUMBER_FILE"]) ? 'style="display: none;"' : ''; ?>>
              </div>
              <small id="sk_number_file_err" class="text-danger"></small>
            </td>
          </tr>

          <tr>
            <td><?= $this->language->_('Akta Pendirian Date'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_date" id="sk_date" class="form-control input-date" value="<?= $this->data['PENDIRIAN_DATE']; ?>" readonly>
              </div>
              <small id="sk_date_err" class="text-danger"></small>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('Akta Pendirian Place'); ?>&nbsp;<small class="text-danger">*</small></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_place" id="sk_place" class="form-control input-medium" value="<?= $this->data['PENDIRIAN_PLACE']; ?>" onkeydown="return (event.key.match(/^\d+$/)) ? false : true">
                <!-- return (this.value.match(/^[A-Za-z]+$/)) ? true : false -->
              </div>
              <small id="sk_place_err" class="text-danger"></small>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('Akta Perubahan Terakhir'); ?></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_change" id="sk_change" class="form-control input-medium" value="<?= $this->data['PERUBAHAN_NUMBER']; ?>">
                <!-- <button type="button" class="btn btn-sm btn-light" onclick="modal_sk_change()"><i class="fas fa-folder-plus"></i></button> -->
              </div>
            </td>
          </tr>

          <tr>
            <td><?= $this->language->_('SK Pengesahan File'); ?></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <?php if ($this->data["PERUBAHAN_FILE"]) { ?>
                  <div id="akta_perubahan_terakhir_lama">
                    <button type="button" onclick='document.querySelector("#sk_change_file").click()'>Pilih File</button>
                    <span class="pl-2 ml-2"><?= $this->data["PERUBAHAN_FILE"]; ?></span>
                  </div>
                  <input type="hidden" name="akta_perubahan_terakhir_check" id="akta_perubahan_terakhir_check" value="<?= ($this->data['PERUBAHAN_FILE']) ? "1" : "0"; ?>">
                <?php } ?>
                <input type="file" name="sk_change_file" id="sk_change_file" class="form-control input-medium" accept="application/pdf" <?= ($this->data["PERUBAHAN_FILE"]) ? 'style="display: none;"' : ''; ?>>
              </div>
            </td>
          </tr>

          <tr>
            <td><?= $this->language->_('Akta Perubahan Date'); ?></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_change_date" id="sk_change_date" class="form-control input-date" value="<?= $this->data['PERUBAHAN_DATE']; ?>" readonly>
              </div>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('SK Pengesahan'); ?></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_pengesahan" id="sk_pengesahan" class="form-control input-medium" value="<?= $this->data['SK_PERUBAHAN_NUMBER']; ?>">
                <!-- <button type="button" class="btn btn-sm btn-light" onclick="modal_sk_pengesahan()"><i class="fas fa-folder-plus"></i></button> -->
              </div>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('SK Pengesahan File'); ?></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <?php if ($this->data["SK_PERUBAHAN_FILE"]) { ?>
                  <div id="sk_perubahan_lama">
                    <button type="button" onclick='document.querySelector("#sk_change_file").click()'>Pilih File</button>
                    <span class="pl-2 ml-2"><?= $this->data["SK_PERUBAHAN_FILE"]; ?></span>
                  </div>
                  <input type="hidden" name="sk_perubahan_check" id="sk_perubahan_check" value="<?= ($this->data['SK_PERUBAHAN_FILE']) ? "1" : "0"; ?>">
                <?php } ?>
                <input type="file" name="sk_pengesahan_file" id="sk_pengesahan_file" class="form-control input-medium" accept="application/pdf" <?= ($this->data["SK_PERUBAHAN_FILE"]) ? 'style="display: none;"' : ''; ?>>
              </div>
            </td>
          </tr>
          <tr>
            <td><?= $this->language->_('SK Pengesahan Date'); ?></td>
            <td>:</td>
            <td>
              <div class="d-flex">
                <input type="text" name="sk_pengesahan_date" id="sk_pengesahan_date" class="form-control input-date" value="<?= $this->data['SK_PERUBAHAN_DATE']; ?>" readonly>
              </div>
            </td>
          </tr>
        </table>
        <p><b><?= $this->language->_('Susunan Pengurus dan Pemegang Saham'); ?></b></p>
        <table id="tableMember" width="100%" cellpadding="5" class="table-striped mb-2">
          <thead>
            <tr class="headercolor" style="border:1px solid #0b549f">
              <td><?= $this->language->_('Nama Pengurus'); ?></td>
              <td><?= $this->language->_('Entity'); ?></td>
              <td><?= $this->language->_('Citizenship'); ?></td>
              <td><?= $this->language->_('Positions'); ?></td>
              <td width="60"><?= $this->language->_('Share'); ?> %</td>
              <td><?= $this->language->_('Status Pengurus'); ?></td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <?php if ($this->dataMember) : ?>
              <?php foreach ($this->dataMember as $index => $row) : ?>
                <tr>
                  <td>
                    <input type="text" name="name[]" id="name<?= $index; ?>" class="form-control" value="<?= $row['NAME']; ?>">
                  </td>
                  <td>
                    <select name="entity_id[]" id="entity_id<?= $index; ?>" class="form-control">
                      <option value="">-- <?= $this->language->_('Select Entity') ?> --</option>
                      <?php foreach ($this->entityArr as $key => $val) : ?>
                        <option value="<?= $key; ?>" <?= ($row['ENTITY_ID'] == $key) ? 'selected' : ''; ?>><?= $val; ?></option>
                      <?php endforeach; ?>
                    </select>
                  </td>
                  <td>
                    <select name="citizenship[]" id="citizenship<?= $index; ?>" class="form-control">
                      <option value="">-- <?= $this->language->_('Select Citizenship') ?> --</option>
                      <?php foreach ($this->citizenshipArr as $key => $val) : ?>
                        <option value="<?= $key; ?>" <?= ($row['CITIZENSHIP'] == $key) ? 'selected' : ''; ?>><?= $val; ?></option>
                      <?php endforeach; ?>
                    </select>
                  </td>
                  <td>
                    <select name="position[]" id="position<?= $index; ?>" class="form-control">
                      <option value="">-- <?= $this->language->_('Select Positions') ?> --</option>
                      <?php foreach ($this->positionArr as $key => $val) : ?>
                        <option value="<?= $key; ?>" <?= ($row['POSITION'] == $key) ? 'selected' : ''; ?>><?= $val; ?></option>
                      <?php endforeach; ?>
                    </select>
                  </td>
                  <td>
                    <input type="text" name="share[]" id="share<?= $index; ?>" class="form-control" value="<?= $row['SHARE']; ?>">
                  </td>
                  <td>
                    <select name="status[]" id="status<?= $index; ?>" class="form-control">
                      <option value="">-- <?= $this->language->_('Select Status') ?> --</option>
                      <?php foreach ($this->statusArr as $key => $val) : ?>
                        <option value="<?= $key; ?>" <?= ($row['STATUS'] == $key) ? 'selected' : ''; ?>><?= ucwords($val); ?></option>
                      <?php endforeach; ?>
                    </select>
                  </td>
                  <td>
                    <?php if ($index != 0) : ?>
                      <button type="button" class="btn btn-sm btn-light text-danger" onclick="remove_row(this)"><i class="fas fa-times"></i></button>
                    <?php else : ?>
                      &nbsp;
                    <?php endif; ?>
                  </td>
                </tr>
              <?php endforeach; ?>
            <?php else : ?>
              <tr>
                <td>
                  <input type="text" name="name[]" id="name0" class="form-control">
                </td>
                <td>
                  <select name="entity_id[]" id="entity_id0" class="form-control">
                    <option value="">-- <?= $this->language->_('Select Entity') ?> --</option>
                    <?php foreach ($this->entityArr as $key => $val) : ?>
                      <option value="<?= $key; ?>"><?= $val; ?></option>
                    <?php endforeach; ?>
                  </select>
                </td>
                <td>
                  <select name="citizenship[]" id="citizenship0" class="form-control">
                    <option value="">-- <?= $this->language->_('Select Citizenship') ?> --</option>
                    <?php foreach ($this->citizenshipArr as $key => $val) : ?>
                      <option value="<?= $key; ?>"><?= $val; ?></option>
                    <?php endforeach; ?>
                  </select>
                </td>
                <td>
                  <select name="position[]" id="position0" class="form-control">
                    <option value="">-- <?= $this->language->_('Select Positions') ?> --</option>
                    <?php foreach ($this->positionArr as $key => $val) : ?>
                      <option value="<?= $key; ?>"><?= $val; ?></option>
                    <?php endforeach; ?>
                  </select>
                </td>
                <td>
                  <input type="text" name="share[]" id="share0" class="form-control" value="<?= $row['SHARE']; ?>">
                </td>
                <td>
                  <select name="status[]" id="status0" class="form-control">
                    <option value="">-- <?= $this->language->_('Select Status') ?> --</option>
                    <?php foreach ($this->statusArr as $key => $val) : ?>
                      <option value="<?= $key; ?>"><?= ucwords($val); ?></option>
                    <?php endforeach; ?>
                  </select>
                </td>
                <td>&nbsp;</td>
              </tr>
            <?php endif; ?>
          </tbody>
        </table>
        <div align="right" class="mb-4">
          <button type="button" class="btn btn-sm btngrad" onclick="add_input()"><i class="fas fa-plus mr-2"></i><?= $this->language->_('Add'); ?></button>
        </div>
      </div>

      <div id="nextContent">
        <table id="tableMemberDetail" width="100%" cellpadding="5">
          <tbody></tbody>
        </table>
      </div>
      <!-- 
      <div class="modal fade" style="display:none;" id="modal_npwp" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><?= $this->language->_('NPWP'); ?></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="npwp_file"><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></label>
                <input type="file" name="npwp_file" id="npwp_file" class="form-control input-file">
                <small id="npwp_file_err" class="text-danger"></small>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
              <?= $this->formButton('submit_npwp_file', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="modal fade" style="display:none;" id="modal_sk_number" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><?= $this->language->_('Akta Pendirian & SK'); ?></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="sk_number_file"><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></label>
                <input type="file" name="sk_number_file" id="sk_number_file" class="form-control input-file">
                <small id="sk_number_file_err" class="text-danger"></small>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
              <?= $this->formButton('submit_sk_number_file', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="modal fade" id="modal_sk_change" style="display:none;" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><?= $this->language->_('Akta Perubahan Terakhir & SK'); ?></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="sk_change_file"><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></label>
                <input type="file" name="sk_change_file" id="sk_change_file" class="form-control input-file">
                <small id="sk_change_file_err" class="text-danger"></small>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
              <?= $this->formButton('submit_sk_change_file', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="modal fade" id="modal_sk_pengesahan" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><?= $this->language->_('SK Pengesahan'); ?></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="sk_pengesahan_file"><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></label>
                <input type="file" name="sk_pengesahan_file" id="sk_pengesahan_file" class="form-control input-file">
                <small id="sk_pengesahan_file_err" class="text-danger"></small>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
              <?= $this->formButton('submit_sk_pengesahan_file', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
            </div>
          </div>
        </div>
      </div> -->

      <center>
        <?= $this->formButton('cancel', $this->language->_('CANCEL'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/preliminary"']); ?>
        <?= $this->formButton('prev', $this->language->_('PREVIOUS'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'btn_prev()']); ?>
        <?= $this->formButton('next', $this->language->_('NEXT'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'btn_next()']); ?>
        <?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class' => 'btngreen hov']); ?>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    // Format nomor HP.
    $('.npwp').mask('00.000.000.0-000.000');
  });
  $(document).ready(function() {

    document.querySelector("#npwp_file").addEventListener("change", (event) => {
      console.log(event.target.files[0])

      if (event.target.value) {
        document.querySelector("#npwp_lama").remove();
        document.querySelector("#npwp_file").style.display = "block"
        document.querySelector("#npwp_check").remove();

        return;
      }
    })

    document.querySelector("#sk_number_file").addEventListener("change", (event) => {
      console.log(event.target.files[0])

      if (event.target.value) {
        document.querySelector("#akta_pendirian_lama").remove();
        document.querySelector("#sk_number_file").style.display = "block"
        document.querySelector("#akta_pendirian_check").remove();

        return;
      }
    })

    document.querySelector("#sk_change_file").addEventListener("change", (event) => {
      console.log(event.target.files[0])

      if (event.target.value) {
        document.querySelector("#akta_perubahan_terakhir_lama").remove();
        document.querySelector("#sk_change_file").style.display = "block"
        document.querySelector("#akta_perubahan_terakhir_check").remove();

        return;
      }
    })

    document.querySelector("#sk_pengesahan_file").addEventListener("change", (event) => {
      console.log(event.target.files[0])

      if (event.target.value) {
        document.querySelector("#sk_perubahan_lama").remove();
        document.querySelector("#sk_pengesahan_file").style.display = "block"
        document.querySelector("#sk_perubahan_check").remove();

        return;
      }
    })

    $('#nextContent').hide();
    $('#prev').hide();
    $('#submit').hide();

    $('#sk_date').datepicker({
      maxDate: function() {
        var date = new Date();
        date.setDate(date.getDate());
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      },

      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4',
    });

    $('#sk_change_date').datepicker({
      maxDate: function() {
        var date = new Date();
        date.setDate(date.getDate());
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      },
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });
    $('#sk_pengesahan_date').datepicker({
      maxDate: function() {
        var date = new Date();
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      },
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });

    $('#submit_npwp_file').click(function() {
      var npwp_file = $('#npwp_file').val();
      if (npwp_file == '') {
        $('#npwp_file').addClass('is-invalid');
        $('#npwp_file_err').text('<?= $this->language->_('NPWP File cannot be empty'); ?>');
        return false;
      } else {
        $('#npwp_file').removeClass('is-invalid');
        $('#npwp_file_err').text('');
        $('#modal_npwp').modal('hide');
        // alert('<?= $this->language->_('NPWP File upload successfully'); ?>');
      }
    });

    $('#submit_sk_number_file').click(function() {
      var sk_number_file = $('#sk_number_file').val();
      if (sk_number_file == '') {
        $('#sk_number_file').addClass('is-invalid');
        $('#sk_number_file_err').text('<?= $this->language->_('Akta Pendirian & SK File cannot be empty'); ?>');
        return false;
      } else {
        $('#sk_number_file').removeClass('is-invalid');
        $('#sk_number_file_err').text('');
        $('#modal_sk_number').modal('hide');
        // alert('<?= $this->language->_('Akta Pendirian & SK File upload successfully'); ?>');
      }
    });

    $('#submit_sk_change_file').click(function() {
      var sk_change_file = $('#sk_change_file').val();
      if (sk_change_file == '') {
        $('#sk_change_file').addClass('is-invalid');
        $('#sk_change_file_err').text('<?= $this->language->_('Akta Perubahan Terakhir & SK File cannot be empty'); ?>');
        return false;
      } else {
        $('#sk_change_file').removeClass('is-invalid');
        $('#sk_change_file_err').text('');
        $('#modal_sk_change').modal('hide');
        // alert('<?= $this->language->_('Akta Perubahan Terakhir & SK File upload successfully'); ?>');
      }
    });

    $('#submit_sk_pengesahan_file').click(function() {
      var sk_pengesahan_file = $('#sk_pengesahan_file').val();
      if (sk_pengesahan_file == '') {
        $('#sk_pengesahan_file').addClass('is-invalid');
        $('#sk_pengesahan_file_err').text('<?= $this->language->_('SK Pengesahan File cannot be empty'); ?>');
        return false;
      } else {
        $('#sk_pengesahan_file').removeClass('is-invalid');
        $('#sk_pengesahan_file_err').text('');
        $('#modal_sk_pengesahan').modal('hide');
        // alert('<?= $this->language->_('SK Pengesahan File upload successfully'); ?>');
      }
    });

    $('#form').submit(function(event) {



      var error = false;
      var totalRow = $('#tableMember >tbody >tr').length;
      for (var i = 0; i < totalRow; i++) {


        var ktp = $('#ktp' + i).val();
        if (ktp == '') {
          $('#ktp' + i).addClass('is-invalid');
          $('#ktp' + i).focus();
          $('#ktp' + i + '_err').text('<?= $this->language->_('KTP cannot be empty'); ?>');
          error = true;
        } else {
          $('#ktp' + i).removeClass('is-invalid');
          $('#ktp' + i + '_err').text('');
        }

        var ktp_file = $('#ktp_file' + i).val();
        if (ktp_file == '') {
          $('#ktp_file' + i).addClass('is-invalid');
          $('#ktp_file' + i).focus();
          $('#ktp_file' + i + '_err').text('<?= $this->language->_('File KTP cannot be empty'); ?>');
          error = true;
        } else {
          $('#ktp_file' + i).removeClass('is-invalid');
          $('#ktp_file' + i + '_err').text('');
        }

        var address = $('#address' + i).val();
        if (address == '') {
          $('#address' + i).addClass('is-invalid');
          $('#address' + i).focus();
          $('#address' + i + '_err').text('<?= $this->language->_('Address cannot be empty'); ?>');
          error = true;
        } else {
          $('#address' + i).removeClass('is-invalid');
          $('#address' + i + '_err').text('');
        }

        var subdistrict = $('#subdistrict' + i).val();
        if (subdistrict == '') {
          $('#subdistrict' + i).addClass('is-invalid');
          $('#subdistrict' + i).focus();
          $('#subdistrict' + i + '_err').text('<?= $this->language->_('Kelurahan cannot be empty'); ?>');
          error = true;
        } else {
          $('#subdistrict' + i).removeClass('is-invalid');
          $('#subdistrict' + i + '_err').text('');
        }

        var district = $('#district' + i).val();
        if (district == '') {
          $('#district' + i).addClass('is-invalid');
          $('#district' + i).focus();
          $('#district' + i + '_err').text('<?= $this->language->_('Kecamatan cannot be empty'); ?>');
          error = true;
        } else {
          $('#district' + i).removeClass('is-invalid');
          $('#district' + i + '_err').text('');
        }

        var city = $('#city' + i).val();
        if (city == '') {
          $('#city' + i).addClass('is-invalid');
          $('#city' + i).focus();
          $('#city' + i + '_err').text('<?= $this->language->_('Kabupaten/Kota cannot be empty'); ?>');
          error = true;
        } else {
          $('#city' + i).removeClass('is-invalid');
          $('#city' + i + '_err').text('');
        }

        if (error == true) {
          return false;
          event.preventDefault();
        }

        var entity_id = $('#entity_id' + i).val();
        var citizenship = $('#citizenship' + i).val();
        var ktp_file = $('#ktp_file' + i).val();
        if (ktp_file == '') {
          $('#btn_ktp' + i).addClass('is-invalid');
          $('#ktp_file' + i).addClass('is-invalid');
          $('#ktp_file' + i).focus();
          if (citizenship == 2) {
            var msg_err = '<?= $this->language->_('Paspor File cannot be empty'); ?>';
          } else if (entity_id == 'B') {
            var msg_err = '<?= $this->language->_('NPWP File cannot be empty'); ?>';
          } else {
            var msg_err = '<?= $this->language->_('KTP File cannot be empty'); ?>';
          }
          $('#ktp_file' + i + '_err').text(msg_err);
          modal_ktp(i);
          error = true;
          return false;
        } else {
          $('#btn_ktp' + i).removeClass('is-invalid');
          $('#ktp_file' + i).removeClass('is-invalid');
          $('#ktp_file' + i + '_err').text('');
        }

        if (error == true) {
          return false;
          event.preventDefault();
        }


      }

    });
  });

  function btn_next() {
    let valid = true;
    var relationship = $('#relationship').val();
    if (relationship == '') {
      $('#relationship').addClass('is-invalid');
      $('#relationship').focus();
      $('#relationship_err').text('<?= $this->language->_('The field cannot be empty'); ?>');
      // return false;
      valid = false
    } else {
      $('#relationship').removeClass('is-invalid');
      $('#relationship_err').text('');
    }

    var npwp = $('#npwp').val();
    if (npwp == '') {
      $('#npwp').addClass('is-invalid');
      $('#npwp').focus();
      $('#npwp_err').text('<?= $this->language->_('NPWP cannot be empty'); ?>');
      // return false;
      valid = false
    } else {
      $('#npwp').removeClass('is-invalid');
      $('#npwp_err').text('');
    }

    var npwp_file = $('#npwp_file').val();
    if (!document.querySelector("#npwp_check")) {
      if (npwp_file == '') {
        $('#npwp_file').addClass('is-invalid');
        $('#npwp_file').focus();
        $('#npwp_file_err').text('<?= $this->language->_('NPWP File cannot be empty'); ?>');
        valid = false
        //modal_npwp();
        // return false;
      } else {
        $('#npwp_file').removeClass('is-invalid');
        $('#npwp_file_err').text('');
      }
    }

    var sk_number = $('#sk_number').val();
    if (sk_number == '') {
      $('#sk_number').addClass('is-invalid');
      $('#sk_number').focus();
      $('#sk_number_err').text('<?= $this->language->_('SK cannot be empty'); ?>');
      // return false;
      valid = false
    } else {
      $('#sk_number').removeClass('is-invalid');
      $('#sk_number_err').text('');
    }

    var sk_number_file = $('#sk_number_file').val();
    if (!document.querySelector("#akta_pendirian_check")) {
      if (sk_number_file == '') {
        $('#sk_number_file').addClass('is-invalid');
        $('#sk_number_file').focus();
        $('#sk_number_file_err').text('<?= $this->language->_('SK File cannot be empty'); ?>');
        //modal_sk_number();
        // return false;
        valid = false
      } else {
        $('#sk_number_file').removeClass('is-invalid');
        $('#sk_number_file_err').text('');
      }
    }

    var sk_place = $('#sk_place').val();
    if (sk_place == '') {
      $('#sk_place').addClass('is-invalid');
      $('#sk_place').focus();
      $('#sk_place_err').text('<?= $this->language->_('Akta Pendirian Place cannot be empty'); ?>');
      // return false;
      valid = false
    } else {
      $('#sk_place').removeClass('is-invalid');
      $('#sk_place_err').text('');
    }


    var sk_date = $('#sk_date').val();
    if (sk_date == '') {
      $('#sk_date').addClass('is-invalid');
      $('#sk_date').focus();
      $('#sk_date_err').text('<?= $this->language->_('Akta Pendirian Date cannot be empty'); ?>');
      // return false;
      valid = false
    } else {
      $('#sk_date').removeClass('is-invalid');
      $('#sk_date_err').text('');
    }



    var tableMember = $('#tableMember >tbody >tr');
    var totalRow = tableMember.length;
    var percent = 0;
    var error = false;
    for (var i = 0; i < totalRow; i++) {
      var name = $('#name' + i).val();
      if (name == '') {
        $('#name' + i).addClass('is-invalid');
        error = true;
      } else {
        $('#name' + i).removeClass('is-invalid');
      }
      var entity_id = $('#entity_id' + i).val();
      if (entity_id == '') {
        $('#entity_id' + i).addClass('is-invalid');
        error = true;
      } else {
        $('#entity_id' + i).removeClass('is-invalid');
      }
      var citizenship = $('#citizenship' + i).val();
      if (citizenship == '') {
        $('#citizenship' + i).addClass('is-invalid');
        error = true;
      } else {
        $('#citizenship' + i).removeClass('is-invalid');
      }
      var position = $('#position' + i).val();
      if (position == '') {
        $('#position' + i).addClass('is-invalid');
        error = true;
      } else {
        $('#position' + i).removeClass('is-invalid');
      }
      var share = $('#share' + i).val();
      if (share == '') {
        $('#share' + i).addClass('is-invalid');
        error = true;
      } else {
        $('#share' + i).removeClass('is-invalid');
      }
      var status = $('#status' + i).val();
      if (status == '') {
        $('#status' + i).addClass('is-invalid');
        error = true;
      } else if (status == '2') {
        // $('#status' + i).addClass('is-invalid');
        // errorStatus = true;
      } else {
        $('#status' + i).removeClass('is-invalid');
        errorStatus = false;
        error = false;
      }
      var share = $('#share' + i).val();
      percent = parseFloat(percent) + parseFloat(share);
    }
    if (error) {
      alert('<?= $this->language->_('There is incomplete input, please check again'); ?>');
      // return false;
      valid = false
    }

    // if (errorStatus) {
    // alert('<?= $this->language->_('Status Non Active not allow'); ?>');
    // return false;
    // valid = false
    // }

    percent.toFixed(2);
    if (percent != 100) {
      alert('<?= $this->language->_('Total Share must be 100%'); ?>');
      for (var i = 0; i < totalRow; i++) {
        $('#share' + i).addClass('is-invalid');
      }
      // return false;
      valid = false
    } else {
      for (var i = 0; i < totalRow; i++) {
        $('#share' + i).removeClass('is-invalid');
      }
    }

    if (!valid) {
      return false;
    }

    var dataMember = <?= json_encode($this->dataMember); ?>;
    var positionArr = <?= json_encode($this->positionArr); ?>;
    var cityArr = <?= json_encode($this->cityArr); ?>;

    var optionCity = '';
    optionCity += '<option value="">--- <?= $this->language->_('Select Kabupaten/Kota'); ?> ---</option>';
    for (var key in cityArr) {
      optionCity += '<option value="' + key + '">' + cityArr[key] + '</option>';
    }

    var rowMember = $('.rowMember').length;
    if (rowMember == 0) {
      var i = 0;
    } else if (totalRow > rowMember) {
      var i = rowMember;
    }

    var html = '';
    for (i = i; i < totalRow; i++) {
      html += '<tr class="headercolor rowMember">' +
        '<td colspan="3"><b >' + (i + 1) + '.&nbsp;&nbsp;<span id="memberName' + i + '"></span> - <span id="memberPosition' + i + '"></span></b></td>' +
        '</tr>' +
        '<tr>' +
        '<td><span id="label_ktp' + i + '"></span>&nbsp;<small class="text-danger">*</small></td>' +
        '<td>:</td>' +
        '<td>' +
        '<div class="d-flex">' +
        '<input type="text" name="ktp[]" id="ktp' + i + '" class="form-control input-medium">' +
        // '<button type="button" id="btn_ktp' + i + '" class="btn btn-sm btn-light" title="Upload KTP File" onclick="modal_ktp(' + i + ')"><i class="fas fa-folder-plus"></i></button>' +
        '</div>' +
        '<small id="ktp' + i + '_err" class="text-danger"></small>' +
        // '<div class="modal fade" id="modal_ktp'+i+'" tabindex="-1" aria-hidden="true" data-backdrop="static">'+
        //   '<div class="modal-dialog modal-dialog-centered">'+
        //     '<div class="modal-content">'+
        //       '<div class="modal-header">'+
        //         '<h5 class="modal-title"><span id="ktpName'+i+'"></span></h5>'+
        //         '<button type="button" class="close" data-dismiss="modal" aria-label="Close">'+
        //           '<span aria-hidden="true">&times;</span>'+
        //         '</button>'+
        //       '</div>'+
        //       '<div class="modal-body">'+
        //         '<input type="file" id="ktp_file'+i+'" name="ktp_file[]" class="form-control input-file">'+
        //         '<small id="ktp_file'+i+'_err" class="text-danger"></small>'+
        //       '</div>'+
        //       '<div class="modal-footer justify-content-center">'+
        //         '<?= $this->formButton("close", $this->language->_("Close"), ["class" => "btnwhite hov", "data-dismiss" => "modal"]); ?>'+
        //         '<button id="submit_ktp_file'+i+'" type="button" value="Submit" class="btngreen hov">Submit</button>'+
        //       '</div>'+
        //     '</div>'+
        //   '</div>'+
        // '</div>'+
        // '<\script>'+
        //   'function modal_ktp(index){'+
        //     'var ktp_file = $("#ktp_file"+index).val();'+
        //     'if(ktp_file != ""){'+
        //       '$("#submit_ktp_file"+index).hide()'+
        //     '}'+
        //     '$("#modal_ktp"+index).modal("show");'+
        //     '$("#submit_ktp_file"+index).click(function(){'+
        //       'var ktp_file = $("#ktp_file"+index).val();'+
        //       'if(ktp_file == ""){'+
        //         '$("#ktp_file"+index).addClass("is-invalid");'+
        //         '$("#ktp_file"+index+"_err").text("<?= $this->language->_('File cannot be empty'); ?>");'+
        //         'return false;'+
        //       '}else{'+
        //         '$("#ktp_file"+index).removeClass("is-invalid");'+
        //         '$("#ktp_file"+index+"_err").text("");'+
        //         '$("#modal_ktp"+index).modal("hide");'+
        //       '}'+
        //     '});'+
        //   '}'+
        // '<\/script>'+
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Upload KTP&nbsp;<small class="text-danger">*</small></td>' +
        '<td>:</td>' +
        '<td>' +
        '<input type="file" id="ktp_file' + i + '" name="ktp_file[]" class="form-control input-medium">' +

        // '<input type="text" name="address[]" id="address'+i+'" class="form-control input-medium">'+
        '<small id="ktp_file' + i + '_err" class="text-danger"></small>' +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td><?= $this->language->_('Address'); ?>&nbsp;<small class="text-danger">*</small></td>' +
        '<td>:</td>' +
        '<td>' +
        '<input type="text" name="address[]" id="address' + i + '" class="form-control input-medium">' +
        '<small id="address' + i + '_err" class="text-danger"></small>' +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td><?= $this->language->_('Kelurahan'); ?>&nbsp;<small class="text-danger">*</small></td>' +
        '<td>:</td>' +
        '<td>' +
        '<input type="text" name="subdistrict[]" id="subdistrict' + i + '" class="form-control input-medium">' +
        '<small id="subdistrict' + i + '_err" class="text-danger"></small>' +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td><?= $this->language->_('Kecamatan'); ?>&nbsp;<small class="text-danger">*</small></td>' +
        '<td>:</td>' +
        '<td>' +
        '<input type="text" name="district[]" id="district' + i + '" class="form-control input-medium">' +
        '<small id="district' + i + '_err" class="text-danger"></small>' +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td><?= $this->language->_('Kabupaten/Kota'); ?>&nbsp;<small class="text-danger">*</small></td>' +
        '<td>:</td>' +
        '<td>' +
        '<select name="city[]" id="city' + i + '" class="form-control input-medium">' + optionCity + '</select>' +
        '<small id="city' + i + '_err" class="text-danger"></small>' +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td colspan="3">&nbsp;</td>' +
        '</tr>';
    }

    $('#tableMemberDetail >tbody').append(html);

    for (i = 0; i < totalRow; i++) {
      if (i < dataMember.length) {
        $('#ktp' + i).val(dataMember[i].ID_NUMBER);
        $('#address' + i).val(dataMember[i].ADDRESS);
        $('#subdistrict' + i).val(dataMember[i].KELURAHAN);
        $('#district' + i).val(dataMember[i].KECAMATAN);
        $('#city' + i).val(dataMember[i].KAB_CITY);
      }

      var entity_id = $('#entity_id' + i).val();
      var citizenship = $('#citizenship' + i).val();
      var name = $('#name' + i).val();
      var position = positionArr[$('#position' + i).val()];
      $('#memberName' + i).text(name);
      if (citizenship == 2) {
        var msg_err = 'Upload Paspor for ' + name;
        $('#label_ktp' + i).text('Paspor');
      } else if (entity_id == 'B') {
        var msg_err = 'Upload NPWP for ' + name;
        $('#label_ktp' + i).text('NPWP');
      } else {
        var msg_err = 'Upload KTP for ' + name;
        $('#label_ktp' + i).text('KTP');
      }
      $('#ktpName' + i).text(msg_err);
      $('#memberPosition' + i).text(position);
    }

    $('#nextContent').show();
    $('#prev').show();
    $('#submit').show();
    $('#mainContent').hide();
    $('#next').hide();
  }

  function btn_prev() {
    $('#mainContent').show();
    $('#next').show();
    $('#nextContent').hide();
    $('#prev').hide();
    $('#submit').hide();
  }

  function modal_npwp() {
    var npwp_file = $('#npwp_file').val();
    if (npwp_file != '') {
      $('#submit_npwp_file').hide();
    }
    $('#modal_npwp').modal('show');

  }

  function modal_sk_number() {
    var sk_number_file = $('#sk_number_file').val();
    if (sk_number_file != '') {
      $('#submit_sk_number_file').hide();
    }
    $('#modal_sk_number').modal('show');
  }

  function modal_sk_change() {
    var sk_change_file = $('#sk_change_file').val();
    if (sk_change_file != '') {
      $('#submit_sk_change_file').hide();
    }
    $('#modal_sk_change').modal('show');
  }

  function modal_sk_pengesahan() {
    var sk_pengesahan_file = $('#sk_pengesahan_file').val();
    if (sk_pengesahan_file != '') {
      $('#submit_sk_pengesahan_file').hide();
    }
    $('#modal_sk_pengesahan').modal('show');
  }

  function add_input() {
    var tableMember = $('#tableMember >tbody >tr');
    var totalRow = tableMember.length;

    var entityArr = '<option value="">-- <?= $this->language->_('Select Entity') ?> --</option>';
    <?php foreach ($this->entityArr as $key => $val) : ?>
      entityArr += '<option value="<?= $key; ?>"><?= $val; ?></option>';
    <?php endforeach; ?>

    var citizenshipArr = '<option value="">-- <?= $this->language->_('Select Citizenship') ?> --</option>';
    <?php foreach ($this->citizenshipArr as $key => $val) : ?>
      citizenshipArr += '<option value="<?= $key; ?>"><?= $val; ?></option>';
    <?php endforeach; ?>

    var positionArr = '<option value="">-- <?= $this->language->_('Select Positions') ?> --</option>';
    <?php foreach ($this->positionArr as $key => $val) : ?>
      positionArr += '<option value="<?= $key; ?>"><?= $val; ?></option>';
    <?php endforeach; ?>

    var statusArr = '<option value="">-- <?= $this->language->_('Select Status') ?> --</option>';
    <?php foreach ($this->statusArr as $key => $val) : ?>
      statusArr += '<option value="<?= $key; ?>"><?= ucfirst($val); ?></option>';
    <?php endforeach; ?>

    var html = '<tr>' +
      '<td>' +
      '<input type="text" name="name[]" id="name' + totalRow + '" class="form-control">' +
      '</td>' +
      '<td>' +
      '<select name="entity_id[]" id="entity_id' + totalRow + '" class="form-control">' + entityArr + '</select>' +
      '</td>' +
      '<td>' +
      '<select name="citizenship[]" id="citizenship' + totalRow + '" class="form-control">' + citizenshipArr + '</select>' +
      '</td>' +
      '<td>' +
      '<select name="position[]" id="position' + totalRow + '" class="form-control">' + positionArr + '</select>' +
      '</td>' +
      '<td>' +
      '<input type="text" name="share[]" id="share' + totalRow + '" class="form-control">' +
      '</td>' +
      '<td>' +
      '<select name="status[]" id="status' + totalRow + '" class="form-control">' + statusArr + '</select>' +
      '</td>' +
      '<td>' +
      '<button type="button" class="btn btn-sm btn-light text-danger" onclick="remove_row(this)"><i class="fas fa-times"></i></button>' +
      '</td>' +
      '</tr>';
    $('#tableMember').append(html);
    $('#tableMemberDetail >tbody >tr').remove();
  }

  function remove_row(obj) {
    obj.closest('tr').remove();
    $('#tableMemberDetail >tbody >tr').remove();

    var tableMember = $('#tableMember >tbody >tr');
    var totalRow = tableMember.length;

    var name = $('input[name="name[]"]');
    var entity_id = $('select[name="entity_id[]"]');
    var citizenship = $('select[name="citizenship[]"]');
    var position = $('select[name="position[]"]');
    var share = $('input[name="share[]"]');
    var status = $('select[name="status[]"]');

    for (i = 0; i < totalRow; i++) {
      $(name[i]).removeAttr('id');
      $(name[i]).attr('id', 'name' + i);
      $(entity_id[i]).removeAttr('id');
      $(entity_id[i]).attr('id', 'entity_id' + i);
      $(citizenship[i]).removeAttr('id');
      $(citizenship[i]).attr('id', 'citizenship' + i);
      $(position[i]).removeAttr('id');
      $(position[i]).attr('id', 'position' + i);
      $(share[i]).removeAttr('id');
      $(share[i]).attr('id', 'share' + i);
      $(status[i]).removeAttr('id');
      $(status[i]).attr('id', 'status' + i);
    }
  }
</script>