	<script language="javascript" type="text/javascript">
	function doTransfer(ACBENEF,ACBENEF_NAME)
	{
		window.opener.document.payment.ACBENEF.value 			= ACBENEF;
		//window.opener.document.payment.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
		//window.opener.document.payment.ACBENEF_ALIASLABEL.value 		= ALIAS;
		window.opener.document.payment.ACBENEF_BANKNAME.value 	= ACBENEF_NAME;
		window.opener.document.payment.CURR_CODE.value 			= 'IDR';
		
		

		// window.opener.resetCity();
		// window.opener.checkSwift();
		
		opener.focus();
		self.close();
	}
	</script>

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Debit Card List'); ?></div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
				<div class="portlet-body form">
					
						<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
						  
						  	<div class="card">
									<div class="card-header cardhead">
											<strong style="color:white"><?php echo $this->language->_('Filter');?></strong>
									</div>
									<div class="card-body">
									<div class="form-group">
										<?php $bankname = $this->language->_('Bank Name'); ?>
		    							<label class="control-label col-md-2"><?php echo $this->formLabel('bank_name',$bankname); ?></label>	
		    							<div class="col-md-4">
					                		<?php echo $this->formText('bank_name',$this->bank_name,array('class'=>'form-control'))?>
					             		</div>
					             		<div class="col-md-6">
	              						</div>
					              	</div>
					              	<div class="form-group">
										<?php $city = $this->language->_('City'); ?>
		    							<label class="control-label col-md-2"><?php echo $this->formLabel('city',$city); ?></label>	
		    							<div class="col-md-4">
					                		<?php echo $this->formText('city',$this->city,array('class'=>'form-control'))?>
					             		</div>
					             		<div class="col-md-6">
	              						</div>
					              	</div>
								</div>							
							
						    
						   <table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
						    <tr><td colspan="3" align="left">
						      <?php $setfilter = $this->language->_('Set Filter'); ?>
						      <?php $filter_clear = $this->language->_('Clear Filter'); ?>
						      <?php $nodata = $this->language->_('No Data'); ?>
							  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
							  <?php echo $this->formSubmit('filter_clear',$filter_clear,array('class'=>'btnwhite hov')); ?>
						    </td></tr>
						  </table>
						  </div>  						  
						</form>
					
					</div>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>								
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
    <tr class="headercolor">
    	<th width="3%" valign="top" class="tablehead">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
    {
          $i=0;
          
	      foreach($this->paginator as $row) 
	      {
	  
		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['VA_NUMBER'].'\', \''.$row['CUST_NAME'].'\')">'.$row['REG_NUMBER'].'</a></td>
					<td class="'.$td_css.'">'.$row['VA_NUMBER'].'</td>
				 </tr>';
						
			$i++;
            $counter++;
  	  }
  }
  else 
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --'.$this->language->_('No Data').'-- </td></tr>';
  }
?>
</table>
<br />

						
			</td>
			</tr>
		</tbody>
	</table>
