<b><?php echo $this->language->_('Tools'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Change Password'); ?></div>
<div class="errmsg">
<?php
	echo $this->message;
?>
</div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong>Reset All Password</strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('User ID',$this->language->_('User ID')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('userId',$this->userId,array('maxlength'=>'20','size'=>'50','onkeyup'=>'javascript:this.value = this.value.toUpperCase();')); ?></td>
		</tr>		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Password',$this->language->_('Password')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('password',$this->password,array('maxlength'=>'20','size'=>'50','onkeyup'=>'noSpace(this); javascript:this.value = this.value.toUpperCase();')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="3"><?php echo $this->formSubmit('Submit','Submit',array('class'=>'inputbtn')); ?></td>
		</tr>
	</table>
	<br />

</form>
<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>