<!-- begin history -->
<!-- <tr><td class="texthistory"><b><?php echo $this->language->_('History'); ?></b></td></tr> -->
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
	<td>
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="tableform table-sm table-striped">
		<tr>
			<th class="tbl-headercontent"><?php echo $this->language->_('Cust ID'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('User'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('Date/Time'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('Amount Rate'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('Action'); ?></th>
		</tr>
  		<?php
				if(is_array($this->paymentHistory) && count($this->paymentHistory)==0){
					?>
<tr><td class="tbl-evencontent" colspan="4" align="center">There is	currently no data in this section</td></tr>
				<?php
				} else {
					$j = 0;
                    $arrStatus = array('A'=>'Approve','C'=>'Create','U'=>'Update Rate','D'=>'Deal', 'R' => 'Reject');
					foreach ($this->paymentHistory as $History) {
						
						$USER_LOGIN = ($History ['CUST_ID']) ? $History['CUST_ID'] : "N/A";
						$USER_ID = ($History ['CREATEDBY']) ? $History['CREATEDBY'] : "N/A";
						$DATE_TIME = ($History ['RATE_DATETIME']) ? $History ['RATE_DATETIME']  : "N/A";
						$AMOUNT = ($History ['AMOUNT_RATE']) ? $History ['AMOUNT_RATE']  : "N/A";
						$ACTION = ($History ['ACTION']) ? $History ['ACTION']  : "N/A";
						$j ++;
						$bgcolor = ($j % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
						
                        // $status = $arrStatus[$row['ACTION']];
                        ?>
						<tr>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $USER_LOGIN?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $USER_ID?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $DATE_TIME ?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo Application_Helper_General::displayMoney($AMOUNT)?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $arrStatus[$ACTION]?></td>
</tr>
				<?php
					}
				}
				?>
  	</table>
	</td>
</tr>
<!-- end history -->