<!-- begin approved by -->
<tr><td class="texthistory"><b><?php echo $this->language->_('Approved By'); ?></b></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tr>
  		<th class="tbl-headercontent"><?php echo $this->language->_('User'); ?></th>
  		<th class="tbl-headercontent"><?php echo $this->language->_('Approve Date'); ?></th>
  	</tr>
  	<?php
		if(is_array($this->paymentApprovalHistory) && count($this->paymentApprovalHistory)==0){
			?>
		<tr><td class="tbl-evencontent" colspan="2" align="center"><?php echo $this->language->_('There is	currently no data in this section'); ?></td></tr>
	<?php
		} else {
			$j = 0;
			foreach ($this->paymentApprovalHistory as $ApprovedBy) {
				
				$USER_LOGIN = ($ApprovedBy['USER_LOGIN']) ? $ApprovedBy['USER_LOGIN'] : "N/A";
				$DATE_TIME = ($ApprovedBy ['SLIPVERIFIER_DATETIME']) ? $ApprovedBy ['SLIPVERIFIER_DATETIME']  : "N/A";
				$j ++;
				$bgcolor = ($j % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
				?>
				<tr><td class="<?php echo $bgcolor?>"><?php echo $USER_LOGIN?></td>
					<td class="<?php echo $bgcolor?>"><?php echo $this->Date($DATE_TIME, $this->dateTimeDisplayFormat);?></td></tr>
	<?php
		}
	}
	?>
  </table></td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<!-- end approved by -->