<div class="blur">

  <?php $expand = $this->language->_('Expand'); ?>
  <?php $hide = $this->language->_('Hide'); ?>

  <div class="row">
    <div class="col-md-12">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <span><?php echo $this->language->_('Administrator'); ?></span>
            <i class="fa fa-angle-right pl-1 pr-1"></i>
          </li>
          <li>
            <span><?php echo $this->language->_('Bank Approval Matrix'); ?></span>

          </li>

        </ul>
      </div>
    </div>
  </div>

  <h5><?= $this->language->_('Bank Approval Matrix') ?></h5>
  <!-- <h6 class="greyFont"><?= $this->language->_('Manage Group, User, Policy, And Approval Schema') ?></h6> -->



  <!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail'); ?> - <?php echo $this->language->_('Manage Approver Group'); ?></div><br /> -->

  <br />
  <?php if ($this->error) {  ?>
    <div class="alert alert-danger"><?php echo $this->language->_($this->error); ?></div>
  <?php } ?>
  <!-- <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
    <tr>
      <th colspan="3" class="tdform-sub"><?php echo $this->language->_('Detail of Approver Group Member Change Request for'); ?> <?= $this->cust_name ?></th>
    </tr>
  </table><br /> -->


  <table cellpadding="5" border="0" width="100%">
    <tr>
      <td valign="top">
        <div>
          <!-- <strong><?php echo $this->language->_('Current Value'); ?></strong> -->
          <button href="javascript:void(0)" id="btn_modal_info" class="btn-sm btngrad hov" style="float: right;"><b>Info</b></button>
          </a>
        </div>
        <br />
        <table cellpadding="3" cellspacing="0" border="1" class="table table-sm table-striped table-sugg" width="100%">
          <tbody>
            <tr class="diffRow">
              <th colspan="5" class="card-header cardhead" style="color: #FFFFFF"><?php echo $this->language->_('Approver Group'); ?></th>
            </tr>


            <?php
            if (!empty($this->datalama)) {

              foreach ($this->datalama as $key => $value) {
                // print_r($value);

                $difstyleCurrent = "";
                $diffRow = "";
                if ($this->datalama[$key] != $this->databaru[$key]) {
                  $difstyleCurrent = "background-color:#fffe5c";
                  $diffRow = "diffRow";
                }

                $group = explode('_', $this->datalamagroup[$key]);
                $alphabet = array(1 => 'A', 2 => 'B', 3 => 'C', 4 => 'D', 5 => 'E', 6 => 'F', 7 => 'G', 8 => 'H', 9 => 'I', 10 => 'J', 11 => 'K', 12 => 'L', 13 => 'M', 14 => 'N', 15 => 'O', 16 => 'P', 17 => 'Q', 18 => 'R', 19 => 'S', 20 => 'T', 21 => 'U', 22 => 'V', 23 => 'W', 24 => 'X', 25 => 'Y', 26 => 'Z');

            ?>
                <tr class="<?= $diffRow ?>">
                  <td class="tablehead">
                    <?php
                    if ($group[2] == '') {
                      echo 'SG - ' . $key;
                    } else {
                      echo $alphabet[(int) $group[2]] . ' - ' . $key;
                    }

                    ?>
                  </td>
                </tr>
                <tr class="<?= $diffRow ?>">
                  <td style="">
                    <!--<?= $difstyleCurrent ?>-->
                    <div class="row" style="padding-left: 20px;padding-right: 20px">
                      <?php
                      if (isset($value)) {
                        // $printUser = '<ul>';
                        foreach ($value as $user) {
                      ?>

                          <div class="col-md-1" style="min-width:180px;max-width:180px;text-align: center;border: solid 1px #007934;
border-radius: 0.625rem;background-color: #e3e3e3">
                            <?php echo $user; ?>
                          </div>

                      <?php
                        }
                      } else
                        echo '<p>' . $this->language->_('No Member') . '</p>';
                      ?>
                    </div>
                    <?php
                    // $groupIndex = 'N_'.$this->cust_id.'_01';  
                    // if(isset($value)) 
                    // {
                    //   $printUser = '<ul>';
                    //   foreach($value as $user)
                    //   {
                    //      $printUser .= '<li>'.$user.'</li>';
                    //   }
                    //   $printUser .= '</ul>';
                    //   echo $printUser;
                    // }
                    // else
                    //   echo '<p>'.$this->language->_('No Member').'</p>';
                    ?>
                  </td>
                </tr>
              <?php

              }
            } else {
              ?>
              <tr>
                <td>
                  <?php echo '<p>' . $this->language->_('No Group') . '</p>'; ?>
                </td>
              </tr>

            <?php } ?>


          </tbody>
        </table>
        <script>
          // $("table.table-sugg > tbody > tr").each(function() {
          //   var data = $(this).find(".data");
          //   var dataChange = $(this).find(".dataChange");
          //   if (data.text() != dataChange.text()) {
          //     dataChange.css('background-color', '#fffe5c');
          //     $(this).addClass('diffRow');
          //   }
          // });

          $("#btnDiffOnly").click(function() {
            $("table.table-sugg > tbody > tr").each(function() {
              var className = $(this).attr('class');
              if (className != 'diffRow' && $(this).is(":visible")) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
            //Untuk stripped table after update row
            //$("tr:visible").each(function(index) {
            //$(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
            //});
          });
        </script>
        <br />

        <?php
        // print_r($this->curlistccy);die;
        if (!empty($this->curlistccy)) {
          foreach ($this->curlistccy as $key => $value) {

        ?>
            <script type="text/javascript">
              function newtab<?php echo $key; ?>_hide() {
                // $('#newtab3').show();
                //$('#buttonAppGroup').val('Hide');
                // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                $('#tabtable<?php echo $key; ?>').hide();
                $('#buttonnewtab<?php echo $key; ?>').show();
                $('#buttonnewtab<?php echo $key; ?>s').hide();
              }

              function newtab<?php echo $key; ?>_show() {
                // $('#newtab3').show();
                //$('#buttonAppGroup').val('Hide');
                // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                $('#tabtable<?php echo $key; ?>').show();
                $('#buttonnewtab<?php echo $key; ?>').hide();
                $('#buttonnewtab<?php echo $key; ?>s').show();
              }
            </script>

            <table width="100%" border='0' class="table table-sm table-striped">
              <tr>
                <td> <strong id="newtab2title" style="font-size: 15pt;"><?php echo $this->paymenttype[$value['TRANSFER_TYPE']] . ' - ' . $value['CCY_BOUNDARY'] ?></strong></td>
                <td align="right" style="padding-top: 10px;">
                  <i style="font-size: 23px; cursor: pointer;" class="fas fa-angle-down" onclick="newtab<?php echo $key; ?>_show()" id="buttonnewtab<?php echo $key; ?>"></i>
                  <i style="font-size: 23px; cursor: pointer; display: none" class="fas fa-angle-up" onclick="newtab<?php echo $key; ?>_hide()" id="buttonnewtab<?php echo $key; ?>s"></i>

                </td>
              </tr>
            </table>



            <table class="table table-sm table-striped" id="tabtable<?php echo $key; ?>" style="display: none">
              <tr>
                <th rowspan="2" class="tablehead">
                  <div align="center"><?php echo $this->language->_('Currency'); ?></div>
                </th>
                <th colspan="2" class="tablehead">
                  <div align="center"><?php echo $this->language->_('Boundary'); ?></div>
                </th>
                <th rowspan="2" class="tablehead">
                  <div align="center"><?php echo $this->language->_('Policy'); ?></div>
                </th>
              </tr>
              <tr class="tablehead">
                <th>
                  <div align="center"><?php echo $this->language->_('Lower Boundary'); ?></div>
                </th>
                <th>
                  <div align="center"><?php echo $this->language->_('Upper Boundary'); ?></div>
                </th>
              </tr>
              <?php
              if (!empty($this->curlist)) {
                $i = 1;
                foreach ($this->curlist as $curlist) {
                  $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                  $specialid = 'sug' . 'special' . $i;
                  if ($curlist['CCY_BOUNDARY'] == $value['CCY_BOUNDARY'] && $curlist['TRANSFER_TYPE'] == $value['TRANSFER_TYPE']) {
              ?>
                    <tr>
                      <td class="<?php echo $td_css; ?>" align="center"><?php echo $curlist['CCY_BOUNDARY']; ?></td>
                      <td class="<?php echo $td_css; ?>" align="center"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MIN']); ?></td>
                      <td class="<?php echo $td_css; ?>" align="center"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MAX']); ?></td>
                      <td class="<?php echo $td_css; ?>" align="center"><?php echo $curlist['POLICY']; ?></td>
                    </tr>
              <?php
                  }
                }
              }
              ?>
            </table>




        <?php
          }
        }
        ?>





      </td>
    </tr>
  </table><br />


  <?php if ($this->hasPrivilege('UBAM')) { ?>
    <br />
    <div class="portlet-body form" style="text-align:center">
      <?php

      if ($this->hasPrivilege("UBAM")) {
        if (!$this->error) { ?>
          <input class="btngreen hov" type="button" onclick="location.href='<?= $this->url(array('module' => 'bgapprovalmatrix', 'controller' => 'newapprovalgroup', 'action' => 'index'), null, true) ?>'" value="<?php echo $this->language->_('Update'); ?>">&nbsp;&nbsp;
      <?php }
      } ?>
    </div>
  <?php } ?>


  <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <br>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <label class="textGray">Last Updated By</label>
                </div>
                <div class="col-sm-8">
                  <label><?= $this->curlist[0]["LU_NAME"]; ?> ( <?= $this->curlist[0]["LASTUPDATEDBY"]; ?> )</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label class="textGray">Last Suggested</label>
                </div>
                <div class="col-sm-8">
                  <label><?= date("d M Y H:i:s", strtotime($this->curlist[0]["CREATED"])) ?></label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label class="textGray">Last Updated</label>
                </div>
                <div class="col-sm-8">
                  <label><?= date("d M Y H:i:s", strtotime($this->curlist[0]["LASTUPDATED"])) ?></label>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
        <div class="modal-footer">
          <center style="width: 100%">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
          </center>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function show_modal_info() {
      $("#modalInfo").modal("show");
    }

    document.addEventListener("DOMContentLoaded", () => {
      const btn_modal_info = document.querySelector("#btn_modal_info");
      btn_modal_info.addEventListener("click", show_modal_info);
    })
  </script>