<?php 
	echo $this->form('formtext',array('action' =>'', 'method' => 'post'));
?>
<b><?php echo $this->language->_('Table'); ?> &gt; <?php echo $this->language->_('Application Setting'); ?> &gt; <?php echo $this->language->_('Welcome Text'); ?></b><br /><br />
<div id="tabheader"><?php echo $this->language->_('Edit Welcome Text'); ?></div>
<?php if($this->error){ ?>
<div class="errmsg">
	<?php
		if($this->wltError) 
			echo $this->formErrors($this->wltError);
	?>
</div><br/>
<?php } ?>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong><?php echo $this->language->_('New Customer User Account Print Template'); ?></strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div><?php echo $this->language->_('New Customer User Account Print Template'); ?></div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul><li>[[user_login]] : <?php echo $this->language->_('Frontend user login name'); ?>
	<li>[[user_cleartext_password]] : <?php echo $this->language->_('Frontend user password'); ?>
    <li>[[comp_accid]] : <?php echo $this->language->_('Frontend user company id'); ?>
    <li>[[comp_name]] : <?php echo $this->language->_('Frontend user company name'); ?>
    <li>[[user_email]] : <?php echo $this->language->_('Frontend user e-mail address'); ?>
    <li>[[user_fullname]] : <?php echo $this->language->_('Frontend user fullname'); ?>
    <li>[[user_phone]] : <?php echo $this->language->_('Frontend user phone number'); ?>
    <li>[[user_ext]] : <?php echo $this->language->_('Frontend user phone extension'); ?>
    <li>[[token_id]] : <?php echo $this->language->_('Frontend user token id'); ?>
    <li>[[user_status_name]] : <?php echo $this->language->_('Frontend user status'); ?></ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text1',$this->VarSuggestedText[0]); ?>
			
		</td>
	</tr>
</table>
<br>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>New Customer User Account e-mail Template </strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>New Customer User Account e-mail Template </div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul><li>[[user_login]] : Frontend user login name
	<li>[[user_cleartext_password]] : Frontend user password
    <li>[[comp_accid]] : Frontend user company id
    <li>[[comp_name]] : Frontend user company name
    <li>[[user_email]] : Frontend user e-mail address
    <li>[[user_fullname]] : Frontend user fullname
    <li>[[user_phone]] : Frontend user phone number
    <li>[[user_ext]] : Frontend user phone extension
    <li>[[token_id]] : Frontend user token id
    <li>[[user_status_name]] : Frontend user status</ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text2',$this->VarSuggestedText[1]); ?>
			
		</td>
	</tr>
</table>

<br>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>Customer User Reset Password Print Template </strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>Customer User Reset Password Print Template </div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul><li>[[user_login]] : Frontend user login name
	<li>[[user_cleartext_password]] : Frontend user password
    <li>[[comp_accid]] : Frontend user company id
    <li>[[comp_name]] : Frontend user company name
    <li>[[user_email]] : Frontend user e-mail address
    <li>[[user_fullname]] : Frontend user fullname
    <li>[[user_phone]] : Frontend user phone number
    <li>[[user_ext]] : Frontend user phone extension
    <li>[[token_id]] : Frontend user token id
    <li>[[user_status_name]] : Frontend user status</ul></div>
		</td>	
		<td height="200">
			
				<?php echo $this->formTextarea('text3',$this->VarSuggestedText[2]); ?>
			
		</td>
	</tr>
</table>

<br>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>Customer User Reset Password e-mail Template </strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>Customer User Reset Password e-mail Template </div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul><li>[[user_login]] : Frontend user login name
	<li>[[user_cleartext_password]] : Frontend user password
    <li>[[comp_accid]] : Frontend user company id
    <li>[[comp_name]] : Frontend user company name
    <li>[[user_email]] : Frontend user e-mail address
    <li>[[user_fullname]] : Frontend user fullname
    <li>[[user_phone]] : Frontend user phone number
    <li>[[user_ext]] : Frontend user phone extension
    <li>[[token_id]] : Frontend user token id
    <li>[[user_status_name]] : Frontend user status</ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text4',$this->VarSuggestedText[3]); ?>
			
		</td>
	</tr>
</table>
<br>
<br>
<div id="tabheader">Email Template Backend Setting</div>



<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>New Backend User Account Print Template</strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>New Backend User Account Print Template</div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul>
	
	<li>[[buser_login]] : Backend user login name
	<li>[[buser_cleartext_password]] : Backend user password
	<li>[[buser_email]] : Backend user e-mail address
	<li>[[buser_name]] : Backend user fullname
	<li>[[buser_desc]] : Backend user description
	<li>[[agroup_desc]] : Backend Group Name
	<li>[[buser_status_name]] : Backend user status
	
	</ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text5',$this->VarSuggestedText[4]); ?>
			
		</td>
	</tr>
</table>
<br>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>New Backend User Account e-mail Template  </strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>New Customer User Account e-mail Template </div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul>
		<li>[[buser_login]] : Backend user login name
	<li>[[buser_cleartext_password]] : Backend user password
	<li>[[buser_email]] : Backend user e-mail address
	<li>[[buser_name]] : Backend user fullname
	<li>[[buser_desc]] : Backend user description
	<li>[[agroup_desc]] : Backend Group Name
	<li>[[buser_status_name]] : Backend user status
	</ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text6',$this->VarSuggestedText[5]); ?>
			
		</td>
	</tr>
</table>

<br>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>Backend User Reset Password Print Template  </strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>Customer User Reset Password Print Template </div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul>
		<li>[[buser_login]] : Backend user login name
	<li>[[buser_cleartext_password]] : Backend user password
	<li>[[buser_email]] : Backend user e-mail address
	<li>[[buser_name]] : Backend user fullname
	<li>[[buser_desc]] : Backend user description
	<li>[[agroup_desc]] : Backend Group Name
	<li>[[buser_status_name]] : Backend user status
	</ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text7',$this->VarSuggestedText[6]); ?>
			
		</td>
	</tr>
</table>

<br>
<table class="tableform" width="900" border="0" cellpadding="2" cellspacing="2">	
	<tr>
		<th class="tdform-sub" colspan= 2 ><strong>Backend User Reset Password e-mail Template </strong></th>
	</tr>
	<tr class="tbl-evencontent">	
		<td height="200" width="320">
		<div>Customer User Reset Password e-mail Template </div>
	<br>
    <div>Special Tags :</div>
    <div><ul><ul>
		<li>[[buser_login]] : Backend user login name
	<li>[[buser_cleartext_password]] : Backend user password
	<li>[[buser_email]] : Backend user e-mail address
	<li>[[buser_name]] : Backend user fullname
	<li>[[buser_desc]] : Backend user description
	<li>[[agroup_desc]] : Backend Group Name
	<li>[[buser_status_name]] : Backend user status
	</ul></div>
		</td>	
		<td height="200">
			
				  <?php echo $this->formTextarea('text8',$this->VarSuggestedText[7]); ?>
			
		</td>
	</tr>
</table>


<br/>
<div id="buttonDiv"></div>
<input type="button" onClick="location.href='<?=$this->backURL?>'" class="inputbtn" value="Back">&nbsp;&nbsp;<input type="submit" class="inputbtn" name="submit" value="Submit">