<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){

    //sortable
    jq("#divContent").sortable({
      items : '.ui-state-default'
    }); 

    // function getOrder() {

    //   var itemOrder = jq('#divContent').sortable("toArray", {attribute: 'data-id'});
    //   return itemOrder;
    // }

    //add header content
    $('.addContent').click(function(){

      var counter = $('#header_counter').val();

      counter++;

      var row = '<div class="col-3 pr-0 content ui-state-default">'+
        '<table class="table adapterTable">'+
          '<tr>'+
            '<th style="border-top: none;">'+
              '<div class="input-group">'+
                '<input class="form-control mb-0" type="text" name="label['+counter+']" required /> &nbsp;'+
                '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;"></i>'+
              '</div>'+
            '</th>'+
          '</tr>'+
          '<tr><td><ul id="sortableContent'+counter+'" class="p-0 mb-0"></ul><a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" data-index="'+counter+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
          '<input class="form-control mb-0" type="hidden" name="content['+counter+']" />'+
          '<input class="form-control mb-0" type="hidden" name="function['+counter+']" /></td></tr>'+
        '</table>'+
      '</div>';

      if (counter >= 3) {
        $('#divContent').removeClass('col-md-12').addClass('col-md-11');
        $('#addContentDiv').hide();
        $('#divContent2').show();
      }

      $('#header_counter').val(counter);

      $("#afterContent").before(row);
    });

    //triggered when modal is about to be shown
  $('#headermodal').on('show.bs.modal', function(e) {

      var index = $(e.relatedTarget).data('index');

      var headerContentVal =  $('input[name="content['+index+']"]').val();
      var headerFunctionVal =  $('input[name="function['+index+']"]').val();

      //check if headerContent is empty or not, if !empty then get value of header content and checked to modal
      if (headerContentVal != '') {
        var arrHeaderContentVal = headerContentVal.split(",");

        if(arrHeaderContentVal != ''){
          $("input[name='chkHeader']").each(function(index) {
            var val = $(this).val();
            if (arrHeaderContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
        else{
           $("input[name='chkHeader']").each(function(index) {
            var val = $(this).val();
            if (headerContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
      }

      //check if headerfunction is empty or not, if !empty then get value of header function and checked to modal
      if (headerFunctionVal != '') {
        
          $("input[name='chkFunction']").prop('checked', true);

          $('select[name="selectFunction"]').val(headerFunctionVal);
        
      }

      //utk kasih tau di dlm modal klo index yg dipilih saat ini yg index ini
      $('#contentIndex').val(index);
  });

  //triggered when modal is about to be dismiss
  $('#headermodal').on('hide.bs.modal', function(e) {

      //uncheck checkbox modal
      $("input[name='chkHeader']").prop("checked", false);
      $("input[name='chkFunction']").prop("checked", false);
  });
  
  


  //tombol save dalam modal
  $('#saveHeaderContent').click(function(){
      var index = $('#contentIndex').val();

      var contentIndex = [];
      var contentText = [];

      var headerData = <?php echo json_encode($this->headerData) ?>;

      //get content index dan text dari array headerData
      $.each($("input[name='chkHeader']:checked"), function(){
          contentIndex.push($(this).val());
          contentText.push(headerData[$(this).val()]);
      });

      var text = '';
      var textFunction = '';

      //if function checked, print selected text to text
       if ($('input[name="chkFunction"]').prop('checked')) {
        var selectedFunctionText = $('select[name="selectFunction"]').children("option:selected").text();
        var selectedFunctionVal = $('select[name="selectFunction"]').children("option:selected").val();

        textFunction += '<p class="mb-0 text-primary textFunction">'+selectedFunctionText+'<span class="text-danger" onClick="removeHeaderFunction(this)" style="cursor: pointer;" data-headerindex="'+index+'""> x</span></p></li>';
       }

      if (contentIndex.length !== 0) {
        $.each(contentText, function(idx, val) {

          text += '<li id="'+contentIndex[idx]+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'+index+'" data-contentindex="'+contentIndex[idx]+'"> x</span></p></li>';
        });  
      }
      

      //hide tombol add
      // $('input[name="headerContent'+index+'"]').siblings('.toogleModal').remove();

      //remove text added before first
       $('input[name="content['+index+']"]').siblings('ul').children('li').remove();
       $('input[name="content['+index+']"]').siblings('.textFunction').remove();
       // $('input[name="content['+index+']"]').siblings('.textContent').remove();

      //tampilin text ke tempat diatas add modal
      $('input[name="content['+index+']"]').siblings('ul').append(text);
      $('input[name="content['+index+']"]').siblings('ul').before(textFunction);

      jq('#sortableContent'+index+'').sortable({
        create: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="content['+index+']"]').val(contentOrder);
         },
          update: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="content['+index+']"]').val(contentOrder);
         }
      });

      var contentVal = $('input[name="content['+index+']"]').val().split(',');

      if (contentVal.length !== 0) {
          var diff = $(contentIndex).not(contentVal).get();

          if (diff.length !== 0) {
            contentVal.push(diff);

            $('input[name="content['+index+']"]').val(contentVal.toString());
          }
      }

      //assign selected function value to hidden input 
      if ($('input[name="chkFunction"]').prop('checked')) {
        var selectedFunction = $('select[name="selectFunction"]').children("option:selected").val();
        $('input[name="function['+index+']"]').val(selectedFunction);
      }

      //uncheck checkbox modal
      $("input[name='chkHeader']").prop("checked", false);
      $("input[name='chkFunction']").prop("checked", false);
  });

  //duplicate button on click
  $('.duplicate').click(function(){
      var headerData = <?php echo json_encode($this->headerData) ?>;
      var html = '';

      $('#divContent').children('.content').remove();

      $.each(headerData, function(idx, val) {
        console.log(idx);
        html += '<div class="col-3 pr-0 content ui-state-default">'+
          '<table class="table adapterTable">'+
            '<tr>'+
              '<th style="border-top: none;">'+
                '<div class="input-group">'+
                  '<input class="form-control mb-0" type="text" name="label['+idx+']" value="'+val+'" required /> &nbsp;'+
                  '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;"></i>'+
                '</div>'+
              '</th>'+
            '</tr>'+
            '<tr><td><ul id="sortableContent'+idx+'" class="p-0 mb-0">'+
            '<li id="'+idx+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'+idx+'" data-contentindex="'+idx+'"> x</span></p></li>'+
            '</ul>'+
            '<a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" data-index="'+idx+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
            '<input class="form-control mb-0" type="hidden" name="content['+idx+']" value="'+idx+'" />'+
            '<input class="form-control mb-0" type="hidden" name="function['+idx+']" /></td></tr>'+
          '</table>'+
        '</div>';
      });

      if (headerData.length >= 3) {
        $('#divContent').removeClass('col-md-12').addClass('col-md-11');
        $('#addContentDiv').hide();
        $('#divContent2').show();
      }

      $('#header_counter').val(headerData.length);

      $("#afterContent").before(html);
  });

});

function removeContent(selected){

  $(selected).closest('.content').remove();

  var counter = $('#header_counter').val();
  counter--;

  $('#header_counter').val(counter);

  //refresh sortable setelah penambahan item
  jq('#divContent').sortable('refresh');
}

function template(val){
   
      //var headerData = <?php echo json_encode($this->headerData) ?>;
    var headerData = ["Destination Acct.","Amount","Message","Additional Message"];
      var html = '';

    var templateVal = $('#templatetemp').val()
    console.log(templateVal)
    if (templateVal == '0'){
      $('#labelSetup').hide();
      $('#divContent').hide();
      $('#headtemp').hide();
      $('#headtemp1').hide();
      $('#headtemp2').hide();
    }else{
    
    $('#headtemp').show();
    $('#headtemp1').show();
    $('#headtemp2').show();
    $('#labelSetup').show();
    $('#divContent').show();
  
      $('#divContent').children('.content').remove();

      $.each(headerData, function(idx, val) {
        //console.log(idx);
        html += '<div class="col-3 pr-0 content ui-state-default">'+
          '<table class="table adapterTable">'+
            '<tr>'+
              '<th style="border-top: none;">'+
                '<div class="input-group">'+
                  '<input class="form-control mb-0" type="text" name="label['+idx+']" value="'+val+'" required readonly/> &nbsp;'+
                  '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;display:none"></i>'+
                '</div>'+
              '</th>'+
            '</tr>'+
            //'<tr><td><input type="checkbox" name="chkMandatory['+idx+']" value="index" /></td></tr>'+
            '<tr><td><ul id="sortableContent'+idx+'" class="p-0 mb-0">'+
            //'<li id="'+idx+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderContent(this)" style="cursor: pointer;" data-headerindex="'+idx+'" data-contentindex="'+idx+'"> x</span></p></li>'+
            '</ul>'+
            '<a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" style="" data-index="'+idx+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
            '<input class="form-control mb-0" type="hidden" name="content['+idx+']" value="" />'+
            '<input class="form-control mb-0" type="hidden" name="function['+idx+']" /></td></tr>'+
          '</table>'+
        '</div>';
      });

      if (headerData.length >= 3) {
        $('#divContent').removeClass('col-md-12').addClass('col-md-12');
        $('#addContentDiv').hide();
        $('#divContent2').show();
      }

      $('#header_counter').val(headerData.length);

      $("#afterContent").before(html);
    }
  
}

function removeHeaderContent(selected){

  var contentIndex = $(selected).attr("data-contentindex");
  var headerIndex = $(selected).attr("data-headerindex");

  var headerContent = $('input[name="content['+headerIndex+']"]');

  var contentIndexVal = headerContent.val();

  var arrcontentIndexVal = contentIndexVal.split(",");

  arrcontentIndexVal.splice($.inArray(contentIndex, arrcontentIndexVal), 1);

  //remove from headerContent
  headerContent.val(arrcontentIndexVal.toString());

  $(selected).closest('p').remove();
}

function removeHeaderFunction(selected){

  var headerIndex = $(selected).attr("data-headerindex");
  var headerFunction = $('input[name="function['+headerIndex+']"]');

  headerFunction.val(null);

  $(selected).closest('p').remove();
}


</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('Utilities')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('File Adapter')?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('File Adapter')?></h5>
<h6 class="homeCardText"><?=$this->language->_('Convert Company File Adapter')?></h6>
<br/>

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }

  .adapterTable tr{
    text-align: center;
  }
</style>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" enctype="multipart/form-data" method="post">
      <h6 class="text-black-50"><b><?php echo $this->fileName; ?></b></h6>
      <div class="table-responsive">
        <table class="table mb-0" width="100%">
            <tr>

              <!-- if not mtfile (mt101, mt940) -->
              <?php if (!$this->mtFile) {  ?>
                
                  <?php 
          //var_dump($this->headerData);
          foreach ($this->headerData as $key => $value) { 
            if($this->total > $key){
          ?>
                      
                      <th><b><?php echo $value; ?></b></th>

                  <?php }
          } 
          ?>
                </tr>
                <?php $i=0; foreach ($this->valueData as $key => $value) { ?>

                  <?php 
          
          
          if ($i <= 2) { ?>
                    <tr>
                        <?php foreach ($value as $key2 => $value2) {
              if($this->total > $key2){ 
              ?>
                            <td><?php echo $value2; ?></td>
                        <?php }
              }
            ?>
                     </tr>
                   <?php }
          
           ?>
                <?php $i++; } ?>


              <!-- if mtfile -->
              <?php } else {  ?>

                  <?php foreach ($this->headerData as $key => $value) {
            if($this->total > $key){
            ?>
                      
                      <th><b><?php echo $value; ?></b></th>

            <?php }
            } ?>

                  <?php $i=0; foreach ($this->data as $key => $value) {
            
            ?>

                      <?php if ($i < 2) { ?>
                          <tr>
                            <?php foreach ($value as $key2 => $value2) {
                if($this->total > $key2){
                ?>
                              <td><?php echo $value2; ?></td>
                            <?php } 
              }
              ?>
                          </tr>
                      <?php } ?>

                   <?php $i++; }
            
           ?>

              <?php } ?>
        </table>
    </div>
      <p class="text-black-50"><?=$this->language->_('* Sample File Format')?></p>

    <br>
  
  
    <h6><b><?=$this->language->_('Convert to New Setup File')?></b></h6>
    <br>
    <div class="form-group row ">
        <div class="col-md-6">
          <input type="text" name="fileName" class="inputBorderless col-md-6" placeholder="<?=$this->language->_('Input new setup file name here')?>" required>
        </div>
        <div class="col-md-6 input-group">
          <button type="button" class="btngreen hov duplicate mr-2"><?=$this->language->_('Duplicate Result')?></button>
            <h6 class="pt-1 mr-2"><?=$this->language->_('Save File Format As')?></h6>
            <select name="fileType" class="form-control col-md-6">
                <option value="csv"><?php echo $this->language->_('.csv'); ?></option>
                <option value="xls"><?php echo $this->language->_('.xls'); ?></option>
                <option value="xlsx"><?php echo $this->language->_('.xlsx'); ?></option>
                <option value="json"><?php echo $this->language->_('.json'); ?></option>
                <option value="xml"><?php echo $this->language->_('.xml'); ?></option>
                <option value="txt"><?php echo $this->language->_('.txt'); ?></option>
            </select>
        </div>
    </div>
  <br/>
  <div class="row" style="margin-left: 15px;">
        <div id="divContentshow" class="row p-3 flex-row flex-nowrap col-md-12 " style="border: 1px solid; border-radius: 5px; overflow-x: auto;background: #f6f6f6;">
    
      <table class="table adapterTable" style="">
      <tr> 
        <td>
          Show 
        </td>
        <td>
          <select id="templatetemp" name="templatetemp" class="form-control" onchange="template()">
            <option value='0'><?php echo $this->language->_('Select Template'); ?></option>
            <option value='1'><?php echo $this->language->_('Payroll Sample Template'); ?></option>
          </select>
        </td>
        <td colspan="2" style="width:400px"></td>
      </tr>
      <tr id="headtemp" style="display:none">
        <th style=""><?php echo $this->language->_('Destination Acct.'); ?>
        <span class="errmsg">*</span>
        </th>
        <th style=""><?php echo $this->language->_('Amount'); ?>
        <span class="errmsg">*</span>
        </th>
        <th style=""><?php echo $this->language->_('Message'); ?>
        </th>
        <th style=""><?php echo $this->language->_('Additional Message'); ?>
        </th>
      </tr>
      <tr id="headtemp1" style="display:none">
        <td>190201900</td>
        <td>500000</td>
        <td>Aldi Tiansyah</td>
        <td>NIK 716743127412</td>
      </tr>
      
      <tr id="headtemp2" style="display:none">
        <td>38473893873</td>
        <td>7000000</td>
        <td>Riana</td>
        <td>NIK 128617826817</td>
      </tr>
      
      </table>
    </div>
  </div>
  
  <br/>

    <?php if (!$this->mtFile) { ?>

    <input type="hidden" name="headerCounter" id="header_counter" value="0"> <!-- initial value 0 -->
    <!-- <input type="hidden" name="headerOrder" id="headerOrder">  -->
    <!-- untuk simpan order sortable -->

    <div class="row pl-3" style="margin-left: 0px;">
        <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="border: 1px solid; border-radius: 5px; overflow-x: auto;display:none">
          <div class="col-3 pr-0 content ui-state-default"> <!-- data-id utk sort element -->
            <table class="table adapterTable">
              <tr>
                <th style="border-top: none;">
                  <div class="input-group">
                    <input class="form-control mb-0" type="text" name="label[0]" required /> &nbsp;

                    <i class="fa fa-times fa-1x text-danger mt-2" onClick="removeContent(this)" style="cursor: pointer;"></i>
                  </div>
                </th>
              </tr>
              <tr>
                <td>

                  <!-- tempat utk tampilin subject yang dipilih -->
                  <ul id="sortableContent0" class="p-0 m-0">
                       
                  </ul>

                  <a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#headermodal" data-index="0" style="display:none"><span><i class="fa fa-plus text-primary"></i></span> Add</a>


                <!-- simpan index checkbox subject2 yang dipilih di modal -->
                <input class="form-control mb-0" type="hidden" name="content[0]" />
                <input class="form-control mb-0" type="hidden" name="function[0]" />
                </td>
              </tr>
            </table>
          </div>

          <!-- put content after this -->
          <div id="afterContent"></div>

          <div class="col-md-1" id="addContentDiv">
           <table class="adapterTable">
              <tr>
                <th>
                  <i class="fa fa-plus-circle fa-3x pt-2 addContent" style="cursor: pointer;display:none"></i>
                </th>
              </tr>
           </table>
         </div>
      </div>
      <div class="col-md-1 pl-4" id="divContent2" style="display: none;">
        <table class="adapterTable">
          <tr>
            <th>
              <i class="fa fa-plus-circle fa-3x pt-4 addContent" style="cursor: pointer;display:none"></i>
            </th>
          </tr>
        </table>
      </div>

      <div class="col-md-6 mt-2"><p class="text-black-50"><?=$this->language->_('* Click and drag to set column position')?></p></div>
   </div>


   <!-- ----------------------------------------------------modal----------------------------------------------------------- -->

   <div class="modal fade" id="headermodal" tabindex="-1" role="dialog" aria-labelledby="headermodal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Choose Subject')?></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="row">
                  <div class="col-md-6">

                    <div class="input-group">
                      <input type="checkbox" name="chkFunction">&nbsp;
                      <select name="selectFunction" class="form-control col-md-8">
                        <?php echo $this->functionOpt; ?>
                      </select>  
                    </div>

                     <br>

                    <?php $i=1; foreach ($this->headerData as $key => $value) { ?> 
                        
                      <?php if($i <= $this->halfHeaderCount) { ?>

                          <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value; ?>
                          <br>
                        
                      <?php } ?>

                      <?php $i++; } ?>
                  </div>
                  <div class="col-md-6">
                      
                     <?php $i=1; foreach ($this->headerData as $key => $value) { ?> 
                        
                        <?php if($i >= $this->halfHeaderCount + 1 && $i <= $this->headerCount) { ?>

                            <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value; ?>
                            <br>

                        <?php } ?>

                      <?php $i++; } ?>

                  </div>
                </div>
              </div>

              <!-- utk simpan index mana yg tekan add modal -->
              <input type="hidden" name="contentIndex" id="contentIndex">

              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderContent">Save</button>
              </div>
            </div>
          </div>
        </div>

<?php } ?>        

   <br>
   <br>
   <br>
   <br>

  <div class="col-md-12 mt-4" align="center">
     <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/adapter3\'', 'class' => 'btnwhite hov'));?>
        <input type='submit' id="submitBtn" class='btngreen hov' name='finish' value='Download' />
   </div>
</form>

<br>
<br>
<br>
<br>


