
     <link rel="stylesheet" href="/css/form_builder.css"/>


    <!-- CSS Files -->

    <link href="/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->

<link rel="stylesheet" type="text/css" href="/css/dragtable.css" />
<!-- <script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.min.js"></script> -->
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.dragtable.js"></script>

<!-- only for jquery.chili-2.2.js -->
<script src="/js/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="/js/jquery.chili-2.2.js"></script>





<!-- <script src="/js/bootstrap.min.js" type="text/javascript"></script> -->
 <script src="/js/jquery.bootstrap.js" type="text/javascript"></script>

<script src="/js/material-bootstrap-wizard.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<style type="text/css">


.container-fluid {
    padding-top: 4rem!important;
}

.myWizard{
    width: 100%!important;
}

.form_builder .nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.form_builder .nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.form_builder .nav-sidebar .active a:hover {
    background-color: #428bca;
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.form_builder .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.form_builder ul {
    font-size: 18px;
    display: block !important;
}
.form_builder ul li {
    padding: 10px;
    cursor: pointer;
}
.form_builder ul li a {
    text-decoration: none;
    cursor: pointer;
}

.form_builder_field {
    margin: 20px 10px;
    padding: 10px;
    background: #eee;
    width: 92%!important;
}

.form_builder .bal_builder {
    padding: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.remove_bal_field {
    cursor: pointer;
}

.form-check-input {
    margin-right: 8px;
}

.placeholder {
    width: 100%;
    background-color: #bfb;
    border: 1px dashed #666;
    margin-bottom: 5px;
}
.form_builder_area {
    width:100%;
    min-height:50px;
    position: absolute
}

.mt-radio {
    display: block;
}
.mt-radio p {
    display: inline;
}
.mt-checkbox {
    display: block;
}
.mt-checkbox p {
    display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
    cursor: pointer;
}

.fileContentsDiv{
    background-color: #ded6d6bd;
    overflow-x: auto;
}

.fileContentsDiv span{
  font-family: "Courier New", Courier, monospace;
}

.charHover:hover{
    color: red;
    font-size: 20px;
}

.selectedChar{
  border-top: 1px solid red;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: black;
    color: white;
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    $('#chooseFile').bind('change', function () {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }

      // var fileNameSplit = filename.split('.');
      // console.log(fileNameSplit[1])
    });

    var advancedOption =  $('input[name="advancedOption"]').val();

    if (advancedOption == 1) {
      var allowedExtensions = /(\.csv|\.txt)$/i;
      if(!allowedExtensions.exec(filename)){
          alert('Please upload file having extensions .*csv or .*txt only.');
          $('#chooseFile').val('');
          $("#noFile").text("No file chosen...");
          return false;
      }
    }

    $("#openAdvanced").click(function(){
        $("#advancedDiv").show();
        $("#openAdvanced").hide();
        $('input[name="advancedOption"]').val(1);

        var filename = $("#chooseFile").val();

        var advancedOption =  $('input[name="advancedOption"]').val();

        if (filename != '') {
            var allowedExtensions = /(\.csv|\.txt)$/i;
            if(!allowedExtensions.exec(filename)){
                alert('Please upload file having extensions .*csv or .*txt only.');
                $('#chooseFile').val('');
                $("#noFile").text("No file chosen...");
                return false;
            }
        }
          
    }); 

    $("#closeAdvanced").click(function(){
        $("#advancedDiv").hide();
        $("#openAdvanced").show();
        $('input[name="advancedOption"]').val(0);
    }); 

    //inisialisasi row character menjadi tag span
    $('.charposition').each(function(){
          var elParent = $(this);
          var characters = $(this).text().split('');
          elParent.html('');
          $.each(characters, function(idx, value){
              var span = '<span class="charHover" onClick="characterOnClick(this)" data-title="'+idx+'" >'+value+'</span>';
              
              elParent.append(span);
          });
      });

      $('.btnNext').click(function(){

          var row = $(this).data('row');
          var limit = 2;

          var nextRow = row + 1;

          $('.btnPrev').show();

          $('#row'+row+'').parent().hide();

          $('#row'+nextRow+'').parent().show();

          $(this).data('row', nextRow);
          $('.btnPrev').data('row', nextRow);

          if (nextRow == limit) {
              $(this).hide();
              $('.btnSubmit').show();
          }
          else{
              $(this).show();
              $('.btnSubmit').hide();
          }
      });

      $('.btnPrev').click(function(){
          var row = $(this).data('row');

          var prevRow = row - 1;

          $('.btnPrev').show();

          if (prevRow == 1) {
              $('.btnPrev').hide();
          }

          $('#row'+row+'').parent().hide();

          $('#row'+prevRow+'').parent().show();

          $(this).data('row', prevRow);

          $('.btnNext').data('row', prevRow);

          
          $('.btnNext').show();
          $('.btnSubmit').hide();
          
      });

  });

  function characterOnClick(selected) {
      var el = $(selected);
      var elParent = $(selected).parent();
      var index = elParent.data('index');

      var counterstartindex = $('input[name="counterstartindex'+index+'"]').val();
      var counterendindex = $('input[name="counterendindex'+index+'"]').val();

      var position = el.prevAll().length;
      // console.log(selected.innerHTML + ':' + position);

      //input hidden utk pembatas
      var rowIndex = $('#row'+index+'');
      var rowIndexVal = $('#row'+index+'').val();

      //string dari source utk jadi patokkan index2 yang dipilih
      var rowString = <?php echo json_encode($this->fileContents) ?>;
      var rowStringSplit = rowString[index-1].split('');

      // console.log(rowStringSplit);

      //if hidden input is not empty
      if (rowIndexVal != '') {
          var rowIndexValArr = rowIndexVal.split(',');

          //get last item in array
          var lastitem = rowIndexValArr[rowIndexValArr.length - 1];
          
          //push index to array
          var pushItem = position - counterstartindex;
          rowIndexValArr.push(pushItem);   

          var rowIndexValue = rowIndexValArr.toString();

          var startIndex = parseInt(lastitem) + 1;
          var endIndex = parseInt(position - counterendindex);

          counterstartindex++;
          counterendindex++;

          $('input[name="counterstartindex'+index+'"]').val(counterstartindex);
          $('input[name="counterendindex'+index+'"]').val(counterendindex);

      }
      //if hidden input is empty
      else{
          var pushItem = position;
          var rowIndexValue = pushItem;

          //get array from index 0 to last index
          var startIndex = 0;
          var endIndex = parseInt(position) + 1;
      }

      //get array from chosen index to last index
      var label = rowStringSplit.slice(startIndex, endIndex);

      var fixLengthType = <?php echo (!empty($this->fixLengthType) ? $this->fixLengthType : '1'); ?>;

      if (fixLengthType !== 3) {
        var input = '<input class="form-control mb-0" type="text" name="label[]" value="'+label.join('')+'" required />';
      }
      else{
        var input = '<input class="form-control mb-0" type="text" name="label[]" value="" placeholder="Input header name" required />';
      }

      //if header
      if (index == 1) {
          var htmlData = '<div class="col-3 pr-0 content" style="width: 180px;">'+
            '<table class="table">'+
              '<tr>'+
                '<th style="border-top: none;">'+
                  '<div class="input-group">'+
                    input+
                    '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;" data-index="'+index+'" data-position="'+pushItem+'"></i>'+
                  '</div>'+
                '</th>'+
              '</tr>'+
              '<tr><td class="pl-4">'+label.join('')+'</td></tr>'+
            '</table>'+
          '</div>';
      }
      else{

          var labelVal = [];
          $('input[name^="label"]').each(function(idx){
              labelVal.push(this.value);
          });

          var counterContent = $('input[name="counterContent'+index+'"]');
          var counterContentVal = counterContent.val();

          var contentInt = parseInt(counterContentVal) + 1;

          //if exceed amount of header
          if (labelVal.length < contentInt) {
              alert('Exceed Amount of Header');

              var counterstartindex =  $('input[name="counterstartindex'+index+'"]').val();
              var counterendindex = $('input[name="counterendindex'+index+'"]').val();

              counterstartindex--;
              counterendindex--;

              $('input[name="counterstartindex'+index+'"]').val(counterstartindex);
              $('input[name="counterendindex'+index+'"]').val(counterendindex);

              return false;
          }

          var htmlData = '<div class="col-3 pr-0 content" style="width: 180px;">'+
            '<table class="table">'+
              '<tr>'+
                '<th style="border-top: none;">'+
                  '<div class="input-group">'+
                    '<p class="m-0 ml-2">'+labelVal[counterContentVal]+'</p>'+
                    // '<input type="hidden" name="value['+index+']['+counterContentVal+']" value="'+label.join('')+'" />'+
                    '<i class="fa fa-times fa-1x text-danger mt-1 ml-1" onClick="removeContent(this)" style="cursor: pointer;" data-index="'+index+'" data-position="'+pushItem+'" data-content="1"></i>'+
                  '</div>'+
                '</th>'+
              '</tr>'+
              '<tr><td class="pl-4">'+label.join('')+'</td></tr>'+
            '</table>'+
          '</div>';

          counterContentVal++;
          counterContent.val(counterContentVal);

      }

       //insert to hidden input
      rowIndex.val(rowIndexValue);

      //insert new span with pipe
      $(selected).after('<span class="text-danger"> | </span>');

      //remove tag i from old html
      $('#divContent'+index+'').find('i').remove();

      var oldHTML = $('#divContent'+index+'').html();

      $('#divContent'+index+'').html(oldHTML + htmlData);
  };

  function removeContent(selected){

    var index = $(selected).data('index'); //index row ke brp
    var position = $(selected).data('position'); //position character

    var content = $(selected).data('content'); //indicator yang mark kalau ini bkn row 1 (header)

    if (content == 1) {
      var counterContent = $('input[name="counterContent'+index+'"]');
      var counterContentVal = counterContent.val();

      counterContentVal--;
      counterContent.val(counterContentVal);
    }

    var rowIndex = $('#row'+index+'');
    var rowIndexVal = rowIndex.val();
    
    var rowIndexValArr = rowIndexVal.split(',');

    var removeCounter = rowIndexValArr.length;

    //if input hidden not empty
    if (rowIndexValArr.length !== 0) {
      for( var i = 0; i < rowIndexValArr.length; i++){ 
         if ( rowIndexValArr[i] == position) {
          var previousIndex = rowIndexValArr[i-1];
         }
      }
    }
    //if input hidden is only contain 1 item
    else{
      var previousIndex = 0;
    }

    //pop last index of array
    rowIndexValArr.pop(); 

    rowIndex.val(rowIndexValArr.toString());

    //add x icon to prev box
    if (content == 1) {
      $(selected).closest('.content').prev().find('p').after('<i class="fa fa-times fa-1x text-danger mt-1 ml-1" onClick="removeContent(this)" style="cursor: pointer;" data-index="'+index+'" data-position="'+previousIndex+'"></i>');
    }
    else{
      $(selected).closest('.content').prev().find('input').after('<i class="fa fa-times fa-1x text-danger ml-1" onClick="removeContent(this)" style="cursor: pointer; margin-top: 12px;" data-index="'+index+'" data-position="'+previousIndex+'"></i>');
    }


    //remove current content box
    $(selected).closest('.content').remove();

    var arr = [];
    $('#row'+index+'div span').each(function() {
      arr.push($(this).text());
    });
    
    var spliceIndex = position + removeCounter;
    arr.splice(spliceIndex, 1);

    var newHtml = '';
    var idx = 0;
    for(var i=0; i<arr.length; i++){
      if (arr[i] !== ' | ') {
          newHtml += '<span class="charHover" onClick="characterOnClick(this)" data-title="'+idx+'">'+arr[i]+'</span>';
          idx++;
      }
      else{
          newHtml += '<span class="text-danger">'+arr[i]+'</span>';
      }
    }

    //assign new text
    $('#row'+index+'div').html(newHtml);

     var counterstartindex = $('input[name="counterstartindex'+index+'"]').val();
     var counterendindex = $('input[name="counterendindex'+index+'"]').val();

     counterstartindex--;
     counterendindex--;

     $('input[name="counterstartindex'+index+'"]').val(counterstartindex);
     $('input[name="counterendindex'+index+'"]').val(counterendindex);

    //if there is no chosen
    if (rowIndexValArr.length == 0) {
     $('input[name="counterstartindex'+index+'"]').val(1);
     $('input[name="counterendindex'+index+'"]').val(0);
    }

  }

</script>

<?php
$auth = Zend_Auth::getInstance()->getIdentity();

if ($auth->_userTheme == 'dark') {
  $mandatory = "<strong class='formreq' style='color:#ffffff;'>&nbsp;*&nbsp;</strong>";
}else{
  $mandatory = "<strong class='formreq' style='color:red;'>&nbsp;*&nbsp;</strong>";
}
?>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Utilities</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('File Adapter')?></span>
                    </li>
                    <li>
                        <?php echo (($this->confirmPage == 1 && empty($this->resultPage))? $this->language->_('Confirmation'): ""); ?>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
<div class="wizard-container">
                        <div class="backstyle wizard-card" data-color="theme" id="wizardProfile">
<form name="payment" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data" id="formdata">

    <div class="wizard-header">
        <h3 class="homeCardText">
            File Adapter
        </h3>
        <h5>Manage File Adapter</h5>
    </div>
    <div class="wizard-navigation">
        <ul>
        <li><a href="#about" data-toggle="tab">Upload</a></li>
        <li><a href="#account" data-toggle="tab">Colomn</a></li>
        <li><a href="#address" data-toggle="tab">Filter</a></li>
        </ul>
    </div>

        <div class="tab-content" style="min-height: 150px;">
        <div class="tab-pane" id="about">
        <br/>
        <?php if($this->error){ ?>
            <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
        <?php } ?>
<style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style>

<div class="form-group row">
    <label class="col-md-2 mt-1 homeCardText"><?php echo $this->language->_('Upload File'); ?><?=$mandatory?></label>
    <div class="col-md-6">
        <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Choose File</div>
            <div class="file-select-name" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
            <input type="file" name="CSV" id="chooseFile" onchange="return fileValidation()">
          </div>
        </div>
    </div>
  
  <div class="col-md-4">
            <button type="button" class="btngrad hov" id="openAdvanced"><span><i class="fas fa-cog"></i>&nbsp;</span>Adv Option</button>
        </div>
  
</div>

<input type="hidden" name="advancedOption" value="0">

<div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="col-md-12" id="advancedDiv" style="display: none;">
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-times" style="font-size: 20px; cursor: pointer;" id="closeAdvanced"></i>
                    </div>
                    <div class="col-md-11">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                      <table>
                                        <tr>
                                          <td style="width: 170px;">
                                            <input type="radio" name="radType" value="1" class="mt-1"> <?php echo $this->language->_('Delimited With (*csv, *txt) '); ?>
                                          </td>
                                          <td>
                                            <input type="text" name="delimitedWith" class="form-control" style="height: 22px;width: 50px !important;">
                                          </td>
                                        </tr>
                                      </table>
                                         
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-8">
                                  <div class="input-group">
                                    <table>
                                      <tr>
                                        <td style="width: 170px;">
                                            <input type="radio" name="radType" value="2" class="mt-1"> <?php echo $this->language->_('Fix Length (*csv, *txt)'); ?>
                                        </td>
                                        <td>
                                            <select name="fixLengthType" class="form-control" style="margin-top: -2px;width: 160px !important;">
                                                <option value="1"><?php echo $this->language->_('With Header'); ?></option>
                                                <option value="2"><?php echo $this->language->_('With Footer'); ?></option>
                                                <option value="3"><?php echo $this->language->_('Data Only'); ?></option>
                                                <option value="4"><?php echo $this->language->_('With Header & Footer'); ?></option>
                                            </select>
                                        </td>
                                      </tr>
                                    </table>
                                    
                                  </div>
                                </div>
                
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                      <table>
                                        <tr>
                                          <td style="width: 170px;">
                                              <input type="checkbox" name="checkStartRow" value="1" class="mt-1" style="display:none"> <?php echo $this->language->_('Start from row: '); ?>
                                          </td>
                                          <td>
                                              <input type="text" name="startRow" class="form-control" style="height: 22px;width: 50px !important;" value="<?php echo $this->startRow; ?>">
                                          </td>
                      <td style="width: 100px;">
                                              <?php echo $this->language->_('Colomn'); ?>
                                          </td> 
                      <td>
                                              <input type="text" name="startColomn" class="form-control" style="height: 22px;width: 50px !important;" value="<?php echo $this->startColomn; ?>">
                                          </td>
                                        </tr>
                                      </table>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div> 
            </div>
            
        </div>
    </div>


<br>

<!-- <button onclick="abortRead();" class="btn btn-warning">Cancel read</button>
 -->
<div id="progress_bar"><div class="percent">0%</div></div>

<script>
  var reader;
  var progress = document.querySelector('.percent');

  function abortRead() {
    // alert();
    // reader.abort();
  }

  function errorHandler(evt) {
    switch(evt.target.error.code) {
      case evt.target.error.NOT_FOUND_ERR:
        alert('File Not Found!');
        break;
      case evt.target.error.NOT_READABLE_ERR:
        alert('File is not readable');
        break;
      case evt.target.error.ABORT_ERR:
        break; // noop
      default:
        alert('An error occurred reading this file.');
    };
  }

  function updateProgress(evt) {
    // evt is an ProgressEvent.
    if (evt.lengthComputable) {
      var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
      // Increase the progress bar length.
      if (percentLoaded < 100) {
        progress.style.width = percentLoaded + '%';
        progress.textContent = percentLoaded + '%';
      }
    }
  }

  function handleFileSelect(evt) {
    // Reset progress indicator on new file selection.
    progress.style.width = '0%';
    progress.textContent = '0%';

    reader = new FileReader();
    reader.onerror = errorHandler;
    reader.onprogress = updateProgress;
    reader.onabort = function(e) {
      alert('File read cancelled');
    };
    reader.onloadstart = function(e) {
      document.getElementById('progress_bar').className = 'loading';
    };
    reader.onload = function(e) {
      // Ensure that the progress bar displays 100% at the end.
      progress.style.width = '100%';
      progress.textContent = '100%';
      setTimeout("document.getElementById('progress_bar').className='';", 2000);
    }

    // Read in the image file as a binary string.
    reader.readAsBinaryString(evt.target.files[0]);
  }

    $("#formdata").validate({
        rules: {
            CSV: {
                required: true,
                extension: "csv"
            },
        }
    });
</script>




    </div>

    <div class="tab-pane" id="address">

    </div>
</div>
<div class="wizard-footer">
    <div class="pull-right" style="float: left !important;margin-left: 20px;margin-bottom: 20px;">

        <input type='submit' id="submitbtn" class='btn btn-next btn-fill btn-success btn-wd' name='finish' value='Upload' />
    </div>

    <div class="pull-left" style="float: left !important;margin-left: 20px;margin-bottom: 20px;">
        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
    </div>
    <div class="clearfix"></div>
</div>





    <input name="process" value="" type="hidden">
    <input name="num" value="" type="hidden">
    <input name="page" value="" type="hidden">
    <input name="titleForm" value="Import File" type="hidden">




</form>
</div>
</div>

<?php if($this->fixLength) { ?>
    <script type="text/javascript">
    $(document).ready(function(){

      $(function() {
        $("#fixLengthModal").modal({backdrop: 'static', keyboard: false});
      });
    });
    </script>
<?php } ?>

<!-- Modal -->
<div class="modal fade" id="fixLengthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <?php 
          if ($this->fixLengthType == 1) {
            $fixLengthType = 'With Header';
          }
          else if($this->fixLengthType == 2){
            $fixLengthType = 'With Footer';
          }
          else if($this->fixLengthType == 3){
            $fixLengthType = 'Data Only';
          }
          else if($this->fixLengthType == 4){
            $fixLengthType = 'With Header & Footer';
          }
        ?>

        <h4 class="modal-title" id="myModalLabel"><?php echo $this->language->_('Fix Length Configuration ').'( '.$fixLengthType.' )'; ?></h4>
      </div>
      <div class="modal-body">
        <form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">

        <?php if ($this->fixLengthType != 3) { ?>
            
          <h6 class="text-black-50"><b><?php echo $this->language->_('File Contents *(Only get 2 row of data to use as paramater configuration )'); ?></b></h6>

          <div class="fileContentsDiv shadow p-4">
              <?php 
                  $i = 1;
                  foreach ($this->fileContents as $key => $value) {
                    if ($i <= 2) {
                      echo '<span>'.$i.'.'.$value.'</span><br>';
                    }
                    $i++;
                  } 
              ?>
          </div>

          <br>
          <br>

        <?php } ?>

        <?php $i = 1; foreach ($this->fileContents as $key => $value) { ?>

            <!-- if with header -->
            <?php if ($this->fixLengthType == 1) { ?>

              <?php if ($i <= 2) { ?>

                <?php if ($i == 1) {  ?>
                    <div>
                        <h6 class="text-black-50"><b><?php echo $this->language->_('Row '.$i.' Configuration (Header)'); ?></b></h6>

                        <div class="charposition fileContentsDiv shadow p-4 flex-row flex-nowrap col-md-12" id="row<?php echo $i ?>div" data-index="<?php echo $i; ?>" style="overflow-x: auto;min-height: 150px;"><?php echo $value; ?></div>

                        <input type="hidden" name="row<?php echo $i ?>" id="row<?php echo $i ?>">

                        <!-- utk counter index start dan end dari posisi character -->
                        <input type="hidden" name="counterstartindex<?php echo $i ?>" value="1">
                        <input type="hidden" name="counterendindex<?php echo $i ?>" value="0">

                        <br>
                        <br>
                        <br>

                        <div class="row pl-4">
                          <div id="divContent<?php echo $i ?>" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="overflow-x: auto;">


                          </div>
                        </div>
                    </div>

                <?php }else { ?>

                    <div style="display: none;">
                        <h6 class="text-black-50"><b><?php echo $this->language->_('Row '.$i.' Configuration'); ?></b></h6>

                        <div class="charposition fileContentsDiv shadow p-4 flex-row flex-nowrap col-md-12" id="row<?php echo $i ?>div" data-index="<?php echo $i; ?>" style="overflow-x: auto;min-height: 150px;"><?php echo $value; ?></div>

                        <input type="hidden" name="row<?php echo $i ?>" id="row<?php echo $i ?>">

                        <!-- utk counter index start dan end dari posisi character -->
                        <input type="hidden" name="counterstartindex<?php echo $i ?>" value="1">
                        <input type="hidden" name="counterendindex<?php echo $i ?>" value="0">

                        <!-- utk counter content sudah ke brp  -->
                        <input type="hidden" name="counterContent<?php echo $i ?>" value="0">

                        <br>
                        <br>
                        <br>

                        <div class="row pl-4">
                          <div id="divContent<?php echo $i ?>" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="overflow-x: auto;">


                          </div>
                        </div>
                    </div>

                 <?php } ?>

              <?php } ?>

              <!-- if data only -->
              <?php } else if ($this->fixLengthType == 3) { ?>

                    <!-- just pick one row to configure -->
                    <?php if ($i == 1) {  ?>

                      <div>
                          <h6 class="text-black-50"><b><?php echo $this->language->_('Row Configuration'); ?></b></h6>

                          <div class="charposition fileContentsDiv shadow p-4 flex-row flex-nowrap col-md-12" id="row<?php echo $i ?>div" data-index="<?php echo $i; ?>" style="overflow-x: auto;min-height: 150px;"><?php echo $value; ?></div>

                          <input type="hidden" name="row<?php echo $i ?>" id="row<?php echo $i ?>">

                          <!-- utk counter index start dan end dari posisi character -->
                          <input type="hidden" name="counterstartindex<?php echo $i ?>" value="1">
                          <input type="hidden" name="counterendindex<?php echo $i ?>" value="0">

                          <br>
                          <br>
                          <br>

                          <div class="row pl-4">
                            <div id="divContent<?php echo $i ?>" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="overflow-x: auto;">


                            </div>
                          </div>
                      </div>

                    <?php } ?>

              <?php } ?>

          <?php $i++; } ?>


        <br>
        <br>
        <br>

        <div class="col-md-12" align="center">

            <?php if ($this->fixLengthType != 3) { ?>
              <button type="button" class="btnwhite hov btnPrev" data-row="1" style="display: none;"><?php echo $this->language->_('Previous'); ?></button>
              <button type="button" class="btngreen hov btnNext" data-row="1"><?php echo $this->language->_('Next'); ?></button>
              <input type="submit" name="fixLengthSubmit" class="btngreen hov btnSubmit" value="<?php echo $this->language->_('Submit'); ?>" style="display: none;">
            <?php } else{ ?>
              <input type="submit" name="fixLengthSubmit" class="btngreen hov btnSubmit" value="<?php echo $this->language->_('Submit'); ?>">
            <?php } ?>
           
        </div>

        </form>

      </div>
    </div>
  </div>
</div>
