<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}
.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
}
.padding-header-cust{
  padding-left:2%;
  background-color:#005587;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: blue; color: white; }
.autocomplete-suggestions strong { font-weight: bold; color: orange; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-selected { background: #295687; color: white;}
</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Customer Management')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span><?=$this->language->_('Notional Pooling')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span><?=$this->language->_('Group List')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Register')?></span>
             </li>
             

         </ul>
     </div>
   </div>
</div>


<?php // ?>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?=$this->language->_('Notional Pooling Group Registration')?></h5>
            </div>
        </div>
				<form action="" method="post" enctype="multipart/form-data">
					<div class="row">
							<div class="col-md-12" style="height: auto; position: relative;">
								<div class="padding-header-cust">
									<h5><?=$this->language->_('Grouping to Company')?></h5>
								</div>
								<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label textGray"><?php echo $this->language->_('Company Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									<div class="col-sm-9 pt-2">

										<?php  
											if ($this->confirmPage != 1){
										?>
										<div class="input-group input-group-sm">
											
											<input type="text" name="COMPANY_NAME" class="form-control" value="<?php echo $this->COMPANY_NAME; ?>" id="autocomplete">
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>
										</div>
									
										<?php
												// echo $this->formText('COMPANY_NAME',$this->COMPANY_NAME,array('class'=>'form-control','maxlength'=>'128','id'=>'autocomplete')); 
											}else
												echo $this->COMPANY_NAME.$this->formHidden('COMPANY_NAME',$this->COMPANY_NAME);
										?>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-sm-3 col-form-label textGray"><?php echo $this->language->_('Company Code'); ?></label>
									<div class="col-sm-9 pt-2">
										<?php  
											if ($this->confirmPage != 1)
												echo $this->formText('COMPANY_ID',$this->COMPANY_ID,array('class'=>'form-control','maxlength'=>'128', 'readonly'=>'readonly', "style"=>"font-size:1.2em;")); 
											else
												echo $this->COMPANY_ID.$this->formHidden('COMPANY_ID',$this->COMPANY_ID);
										?>
									</div>
								</div>
									
							</div>
						</div>
				</div>

        <div class="row pt-2">
						<div class="col-md-12" style="height: auto; position: relative;">
								<div class="padding-header-cust">
                	<h5><?=$this->language->_('Notional Pooling Account')?></h5>
								</div>
								<div style="padding-left:2%; padding-top:2px;">
									<div class="form-group row">
											<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Bank Name</label>
											</div>
											<div class="col-sm-9">
												<label for="">BANK MANDIRI</label>
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Notional Pooling Grup ID</label>
											</div>
											<div class="col-sm-9">
												<label for="">auto generate by system</label>
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Upload Documents</label><strong class="formreq"><font color="red">&nbsp;*</font></strong>
											</div>
											<div class="col-sm-9">
												<div class="file-upload">
													<div class="file-select">
														<div class="file-select-button" id="fileName">Choose File</div>
														<div class="file-select-name textBlack" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
														<input type="file" name="uploadSource" id="chooseFile">
													</div>
												</div>
											</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="text-align:right">
											<?php $file = '/template/BO_Notional_Pooling_Upload_File.csv'; ?>
											<a href="<?= $file?>">Download Template</a>
										</div>
									</div>
									<div class="form-group row pt-2">
											<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Underlying Document</label><strong class="formreq"><font color="red">&nbsp;*</font></strong>
											</div>
											<div class="col-sm-9">
												<div class="row">
													<div class="col-sm-4">
														<label><input type="radio" name="underlying_doc" value="1" checked="checked">&nbsp;Use Existing <span id="reff">- DocReff#</span></label>
													</div>
													
													<div class="existdoc col-sm-7">
														<?php
														echo $this->formText('exisdoc_underlying', $this->exisdoc_underlying, array('class' => 'form-control', 'maxlength' => '16', 'onkeypress' => 'return forceNumber(event)','readonly'=>'readonly', 'autocomplete' => 'off', $templatePriv => $templatePriv));
														echo $this->formHidden('doc_id', $this->doc_id, array('class' => 'form-control'));
														?>
													</div>
													<div class="existdoc col-sm-1" style="padding:0px;">	
															<!-- <a href="#" style="font-size:20px" onclick="showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'documentunderlying', 'action' => 'index', 'moduleid' => '1'), null, true) ?>', 750)"><i class="fas fa-folder-open"></i></a> -->
															<a href="#" id="linkshow1" style="font-size:20px"><i class="fas fa-folder-open"></i></a>
															<a href="#" id="linkshow2" style="font-size:20px;display:none" onclick="showpopUp()"><i class="fas fa-folder-open"></i></a>
													</div>
													
												</div>
												
												<div class="row">
													<div class="col-sm-4">
														<label><input type="radio" name="underlying_doc" value="2">&nbsp;New Document</label>
													</div>
													<div style="display:none" class="newdoc col-sm-8">
														<div class="file-upload">
															<div class="file-select">
																<div class="file-select-button" id="fileName2">Choose File</div>
																<div class="file-select-name textBlack" id="noFile2"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
																<input type="file" name="uploadDoc" id="chooseFile2">
															</div>
														</div>
													</div>
												</div>
												<div class="newdoc row pt-2" style="display:none">
													<div class="col-sm-4">
														<label for="">Document Description</label>
													</div>
													<div class="col-sm-8">
														<?php echo $this->formText('doc_desc',$this->doc_desc,array('id'=>'doc_desc','class'=>'form-control','style'=>'font-size:1.2em;'))?>
													</div>
												</div>
											</div>
									</div>
								</div>
						</div>
				</div>

				<br>
				<br>
				<div class="row">
					<div class="col-md-12" align="center">
						<input class="btnwhite hov" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/nationalpoolinggroup/'" type="button">&nbsp;
						<input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov" >
					</div>
				</div>
				</form>
		</div>
</div>


<script src="//code.jquery.com/jquery.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	
	$('#chooseFile').bind('change', function () {
		var filename = $("#chooseFile").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFile").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
		}
	});

	$('#chooseFile2').bind('change', function () {
		var filename = $("#chooseFile2").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFile2").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFile2").text(filename.replace("C:\\fakepath\\", ""));
		}
	});

	$("input[name=underlying_doc]").click(function(){
    var v = $('input[name="underlying_doc"]:checked').val();
    if(v == '1'){
			$('.existdoc').show()
			$('#reff').show()
			$('.newdoc').hide()
		}else{
			$('.existdoc').hide()  
			$('#reff').hide()  
			$('.newdoc').show()  
		}
	});

	$('#comp_code').change(function(){

		var dataString = 'code=' + this.value;
		$.ajax({
			type: "GET",
			data: dataString,
			dataType: 'text',
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'cust'), null, true) ?>",
			success: function(data) {
				console.log(data);
				// var dataArr = JSON.parse(data);
				// console.log(dataArr);

				$('#comp_name').val(data);
			},
			error: function(data) {
				console.log(data);
				console.log('error');
				// error_modal("Failed to get data");

			}
		});
	})

	var currencies = <?php echo $this->custarr; ?>;
	$('#autocomplete').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
      // var content = '<strong>화폐명:</strong> ' + suggestion.value + ' <br> <strong>기호:</strong> ' + suggestion.data;

      // $('#outputcontent').html(content);
      // document.getElementById('COMPANY_NAME').value
      $('#COMPANY_ID').val(suggestion.CUST_ID);
      $('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
	  $('#linkshow1').hide();
	  $('#linkshow2').show();
    }
  });

})

function showpopUp(){

	var custid = $('#COMPANY_ID').val()
	showPopUpWindow('/popup/documentunderlying/index/moduleid/1/custid/'+custid+'/',600,450)
}

</script>