<style type="text/css">
  .roundChk label {
    cursor: default;
  }
</style>
<div class="card">
  <div class="card-header cardhead text-white">
    <b><?php echo $this->language->_('Transaction Detail') ?></b>
  </div>
  <div class="card-body">
    <table width="100%" class="table table-striped table-condensed flip-content">
      <?php
      // View Table Master Data
      if (is_array($this->tableMst)) {
        //View File dihidden untuk PAYROLL
        if ($this->pslip["PS_CATEGORY"] == "BULK PAYMENT" && !$this->pdf && $this->pslip["PS_TYPE"] != "11") {
          // download trx bulk file
          $downloadURL = $this->url(array('module' => 'display', 'controller' => 'viewdetail', 'action' => 'downloadtrx', 'csv' => '1', 'payReff' => $this->PS_NUMBER), null, true);
          $this->tableMst[7]["label"] = $this->language->_('View File');
          $this->tableMst[7]["value"] = $this->formButton('download', $this->language->_('download'), array('class' => 'btn btn-warning', 'onclick' => "window.location = '" . $downloadURL . "';"));
        }
        //Zend_Debug::dump($this->tableMst);
        foreach ($this->tableMst as $dataMst) {



      ?>
          <tr>
            <td class="tbl-evencontent" id="tbl-evencontent" nowrap="nowrap" width="20%"><?php echo $dataMst["label"]; ?></td>
            <td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_($dataMst["value"]); ?></td>
          </tr>
      <?php
        }
      }
      ?>
    </table>
  </div>
</div>

<br>
<br>

<div class="col-md-12" align="center">
  <button class="btnwhite hov" onclick="closeDetail()"><?php echo $this->language->_('Close'); ?></button>
</div>

<script type="text/javascript">
  function closeDetail() {
    window.close();
  }
</script>