<script type="text/javascript">
function refreshwindow()
{
  // not loaded frames
  window.location.reload();
}
</script>


<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Submission'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Perliminary Document'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Update'); ?></span>
                      
                  </li>
                  
              </ul>
          </div>
        </div>
</div>

<br />

<h5><?php echo $this->language->_('Preliminary document preparation update'); ?></h5>
<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('User Limit Scheme'); ?></div> -->

<?php 
  require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
    $encuserid = urlencode($encrypted_userid);
?>

<?php if(count($this->error) > 0){ ?>
	<div class="alert alert-danger"><?php echo $this->language->_($this->errorMsg);?></div><br />
<?php } ?>
<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$encuserid),null,true)?>" enctype="multipart/form-data">

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" align="center">
        <h5 class="modal-title textBlack">Upload NPWP</h5>
        <br>
        
          <div class="file-upload col-md-6">
            <div class="file-select">
              <div class="file-select-button" id="fileName">Choose File</div>
              <div class="file-select-name" id="noFile">No file chosen...</div>
              <input type="file" name="DOC_FILE[]" id="chooseFile" onKeypress="return noSpecialChar(event);">
            </div>
          </div>
          <br><br>
          <div class="col-md-6">
            <button type="button" class="btnwhite hov" onclick="modalclose();" name="button">CLOSE</button>
            
          </div>
        
      </div>
      
    </div>

  </div>
</div>


<div class="modal fade" id="myModalSK" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" align="center">
        <h5 class="modal-title textBlack">Upload SK</h5>
        <br>
        

         
          <div class="file-upload col-md-6">
            <div class="file-select">
              <div class="file-select-button" id="fileName">Choose File</div>
              <div class="file-select-name" id="noFile">No file chosen...</div>
              <input type="file" name="DOC_FILE[]" id="chooseFile" onKeypress="return noSpecialChar(event);">
            </div>
          </div>
          <br><br>
          <div class="col-md-6">
            <button type="button" class="btnwhite hov" onclick="modalskclose();" name="button">CLOSE</button>
            
          </div>
        
      </div>
      
    </div>

  </div>
</div>

<div class="modal fade" id="myModalSKLast" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" align="center">
        <h5 class="modal-title textBlack">Upload Akta Perubahan</h5>
        <br>
        

         
          <div class="file-upload col-md-6">
            <div class="file-select">
              <div class="file-select-button" id="fileName">Choose File</div>
              <div class="file-select-name" id="noFile">No file chosen...</div>
              <input type="file" name="DOC_FILE[]" id="chooseFile" onKeypress="return noSpecialChar(event);">
            </div>
          </div>
          <br><br>
          <div class="col-md-6">
            <button type="button" class="btnwhite hov" onclick="modalsklastclose();" name="button">CLOSE</button>
            
          </div>
        
      </div>
      
    </div>

  </div>
</div>

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
    <tbody>
      <tr>
        <td class="contentarea" id="contentarea">
          <div class="portlet light form-fit bordered">
            <div class="backstyle">
              <div class="card-header cardhead">
                <strong style="color: white;"><?php echo $this->language->_('Business Entity');?></strong>
              </div>
              <div class="card-body form ">
                
				<div class="form-group row">
                <div class="col-sm-3">
                  <?php echo $this->formLabel('cust_id',$this->language->_('Company')); ?>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->cust_name; ?>
                </div>
				</div>
				
				<div class="form-group row">
                 <div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('NPWP')); ?><span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8 input-group">
                  <?php echo $this->formText('NPWP', $this->NPWP, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
				  
				  <button type='button' class='btn btn-sm' id=''  onclick='modalnpwp()'><i class="fas fa-folder-plus"></i></button>
                </div>
				</div>
				
				<div class="form-group row">
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Akta Pendirian')); ?> & <?php echo $this->formLabel('user_name',$this->language->_('SK')); ?><span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8 input-group">
                  <?php echo $this->formText('AKTASK', $this->AKTASK, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
				  <button type='button' class='btn btn-sm' id=''  onclick='modalsk()'><i class="fas fa-folder-plus"></i></button>
                </div>
				</div>
				
				<div class="form-group row">
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Estabilishment Date')); ?>(<?php echo $this->formLabel('user_name',$this->language->_('according to Akta')); ?>)
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="ESDATE" id="ESDATE" value="<?php echo $this->ESDATE; ?>" style="font-size: 1.2em;" readonly>
				  <script>
					$('#ESDATE').datepicker({
					  
					  minDate: function() {
						var date = new Date();
						date.setDate(date.getDate() + 1);
						return new Date(date.getFullYear(), date.getMonth(), date.getDate());
					  },
					  //disableDaysOfWeek: [0, 6],
					  format: 'dd/mm/yyyy',
					  uiLibrary: 'bootstrap4'
					});
				  </script>
                </div>
				</div>
				
				<div class="form-group row">
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Estabilishment Place')); ?>(<?php echo $this->formLabel('user_name',$this->language->_('according to Akta')); ?>)
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->formText('ESPLACE', $this->ESPLACE, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
                </div>
				</div>
				
				<div class="form-group row">
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Akta Perubahan Terakir')); ?> & <?php echo $this->formLabel('user_name',$this->language->_('SK')); ?>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8 input-group">
                  <?php echo $this->formText('LASTAKTA', $this->LASTAKTA, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
				  <button type='button' class='btn btn-sm' id=''  onclick='modalsklast()'><i class="fas fa-folder-plus"></i></button>
                </div>
				</div>
				
                
              </div>
            </div>
            <br>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <h5><?php echo $this->language->_('Board of the Management and/or Owner of the Business Entity'); ?></h5>

<?php
								$total = 1;
							?>
							<input type="hidden" name="counterList" id="counterList" value="0">
							<input type="number" id="count2" value="<?php echo $total ?>" style="visibility: hidden;">
							<input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden; ;">
<div class="portlet-body form">

  <table class="table table-striped" id="fulltable" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
        <th class="tablehead">Name</th>
        <th class="tablehead">Entity</th>
        <th class="tablehead">Citizenship</th>
        <th class="tablehead">Positions</th>
        <th class="tablehead">Share %</th>
		<th class="tablehead">Status</th>
    </tr>
     <tr>
			<td>
				<?php echo $this->formText('NAME[]', $this->NAME, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
			</td>
			<td>
				<select name="entity[]" id="entity1" class="form-control" style="font-size:1.2em;" >
				<option value="" >--Select Entity--</option>
												<?php foreach($this->entityArr as $ky => $vl){ ?>
													
													<option value="<?php echo $ky; ?>" ><?php echo $vl; ?></option>
												<?php } ?>
				</select>
			</td>
			<td>
				<select name="citizen[]" id="citizen1" class="form-control" style="font-size:1.2em;" >
				<option value="" >--Select Citizenship--</option>
												<?php foreach($this->citizenArr as $ky => $vl){ ?>
													
													<option value="<?php echo $ky; ?>" ><?php echo $vl; ?></option>
												<?php } ?>
				</select>
			</td>
			<td>
				<select name="position[]" id="position1" class="form-control" style="font-size:1.2em;" >
												<?php foreach($this->positionArr as $ky => $vl){ ?>
													
													<option value="<?php echo $ky; ?>" ><?php echo $vl; ?></option>
												<?php } ?>
				</select>
			</td>
			<td>
				<?php echo $this->formText('SHARE[]', $this->SHARE1, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
			</td>
			<td>
				<select name="status[]" id="status1" class="form-control" style="font-size:1.2em;" >
				<option value="" >--Select Status--</option>
												<?php foreach($this->statusArr as $ky => $vl){ ?>
													
													<option value="<?php echo $ky; ?>" ><?php echo $vl; ?></option>
												<?php } ?>
				</select>
			</td>
	</tr>
      
                 
    </table>
	<div class="row" style="width:100%"><span onclick="incrementValue()" style="width:100%;text-align:right;color:#007bff;cursor: pointer;text-decoration: underline;">+Add</span></div>
    <br />
	<div class="portlet-body form" style="text-align:center">
    <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'index','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Cancel'); ?>">&nbsp;&nbsp;
    
    <input type="submit" value="<?php echo $this->language->_('Next'); ?>" name="submit" class="btngreen hov"/>
    </div>
    

</div>
</form>
<script>

$("table").on('click', '.btnremove', function() {
                   $(this).closest("tr").remove();
                  });

	function modalnpwp(elem) {
    $("#myModal").modal();
  }
  
  function modalclose(elem) {

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }


  function modalsk(elem) {
    $("#myModalSK").modal();
  }
  
  function modalskclose(elem) {

    $("#myModalSK").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }
  
  function modalsklast(elem) {
    $("#myModalSKLast").modal();
  }
  
  function modalsklastclose(elem) {

    $("#myModalSKLast").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }
  
  
  

	function incrementValue()
    {
      
        var cList = $('#counterList').val()

        $('#counterList').val(1 +(+cList))

        if(document.getElementById("count").value < 25){
            document.getElementById('count').stepUp(1);
            document.getElementById('count2').stepUp(1);


            var count = document.getElementById("count").value;
            var i = document.getElementById("count2").value;
            //alert(i);
            if(i!=1){
            // alert(count);
            var table = document.getElementById("fulltable");
            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
        
            cell1.innerHTML = "<input type='text' name='NAME[]' id='NAME"+i+"' value='' class='form-control' maxlength='128' style='font-size: 1.2em;'>";
   
            cell2.innerHTML = "<select name='entity[]' id='entity"+i+"' class='form-control' style='font-size:1.2em;'></select>";
			var newSelect = $("#entity1 option").clone();
			var selectid = '#entity'+i;
			$(selectid).append(newSelect);
			
            cell3.innerHTML = "<select name='citizen[]' id='citizen"+i+"' class='form-control' style='font-size:1.2em;'></select>";
			var newSelect = $("#citizen1 option").clone();
			var selectid = '#citizen'+i;
			$(selectid).append(newSelect);
			cell4.innerHTML = "<select name='position[]' id='position"+i+"' class='form-control' style='font-size:1.2em;'></select>";
			var newSelect = $("#position1 option").clone();
			var selectid = '#position'+i;
			$(selectid).append(newSelect);
			
            cell5.innerHTML = "<input type='text' name='SHARE[]' id='SHARE"+i+"' value='' class='form-control' style='font-size: 1.2em;'>";
			
			cell6.innerHTML = "<select name='status[]' id='status"+i+"' class='form-control' style='font-size:1.2em;'></select><button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove'  onclick='removebox("+i+")'><i class='fa fa-times'></i></button>";
			var newSelect = $("#status1 option").clone();
			var selectid = '#status'+i;
			$(selectid).append(newSelect);
			

            //var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
           }
            // alert(j);
            // table.rows[j].deleteCell(3);  

            
        }
    }
	
	function removebox(val){
  
  
    var tag = '#count2d'+val;
    var count = $(tag).val();
    var newcount = count-1;
	$(tag).val(newcount);
	var tag = '#counterList';
    var count = $(tag).val();
    var newcount = count-1;
    //alert(count);
    //alert(newcount);
    $(tag).val(newcount);
	
	var tag = '#count'+val;
    var count = $(tag).val();
    var newcount = count-1;
	$(tag).val(newcount);
  
    
  }
				</script>
