<script type="text/javascript">
function refreshwindow()
{
  // not loaded frames
  window.location.reload();
}
</script>


<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Submission'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Perliminary Document'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Update'); ?></span>
                      
                  </li>
                  
              </ul>
          </div>
        </div>
</div>

<br />

<h5><?php echo $this->language->_('Preliminary document preparation update'); ?></h5>
<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('User Limit Scheme'); ?></div> -->

<?php 
  require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
    $encuserid = urlencode($encrypted_userid);
?>
 

<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next','cust_id'=>$this->cust_id,'user_id'=>$encuserid),null,true)?>" enctype="multipart/form-data">


<?php 
//var_dump($this->data);
foreach($this->data['NAME'] as $ky => $vl){ ?>
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
    <tbody>
      <tr>
        <td class="contentarea" id="contentarea">
          <div class="portlet light form-fit bordered">
            <div class="backstyle">
              <div class="card-header cardhead">
                <strong style="color: white;"><?php echo $ky+1; ?>. <?php echo $vl ?>&nbsp;(<?php echo $this->positionArr[$this->data['position'][$ky]] ?>)</strong>
              </div>
              <div class="card-body form ">
                <?php
				$hide = '';
					if($this->data['entity'][$ky] == 'M'){
							$hide = 'style="display:none"';	
					?>
						
							
						<?php } ?>
				<div class="form-group row" <?php echo $hide; ?>>
                <div class="col-sm-3">
				<?php if($this->data['citizen'][$ky] == '2'){ ?>
                  <?php echo $this->formLabel('user_name',$this->language->_('Paspor')); ?>
				<?php }else if($this->data['entity'][$ky] == 'B'){ ?>
					<?php echo $this->formLabel('user_name',$this->language->_('NPWP')); ?>
				<?php }else{ ?>
					<?php echo $this->formLabel('user_name',$this->language->_('KTP')); ?>
				<?php } ?>
				<span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8 input-group">
                  <?php echo $this->formText('KTP[]', $this->KTP, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
				  
				  <button type='button' class='btn btn-sm' id=''  onclick='modalktp<?php echo $ky ?>()'><i class="fas fa-folder-plus"></i></button>
                </div>
				</div>
				<script>
					function modalktp<?php echo $ky ?>(elem) {
						$("#myModal<?php echo $ky ?>").modal();
					  }
					  
					  function modalclose<?php echo $ky ?>(elem) {

						$("#myModal<?php echo $ky ?>").modal('hide');
						$('.modal-backdrop').css({
						  "position": "unset"
						});
					  }
				</script>
				
				<div class="modal fade" id="myModal<?php echo $ky; ?>" role="dialog">
				  <div class="modal-dialog modal-lg">

					<!-- Modal content-->
					<div class="modal-content">

					  <div class="modal-body" align="center">
						<?php if($this->data['citizen'][$ky] == '2'){ ?>
						<h5 class="modal-title textBlack">Upload Paspor</h5>
						  
						<?php }else if($this->data['entity'][$ky] == 'B'){ ?>
						<h5 class="modal-title textBlack">Upload NPWP</h5>
							
						<?php }else{ ?>
						<h5 class="modal-title textBlack">Upload KTP</h5>
							
						<?php } ?>
						
						<br>
						

						 
						  <div class="file-upload col-md-6">
							<div class="file-select">
							  <div class="file-select-button" id="fileName">Choose File</div>
							  <div class="file-select-name" id="noFile">No file chosen...</div>
							  <input type="file" name="KTP_FILE[]" id="chooseFile" onKeypress="return noSpecialChar(event);">
							</div>
						  </div>
						  <br><br>
						  <div class="col-md-6">
							<button type="button" class="btnwhite hov" onclick="modalclose<?php echo $ky ?>();" name="button">CLOSE</button>
							
						  </div>
						
					  </div>
					  
					</div>

				  </div>
				</div>
				
				<div class="form-group row" <?php echo $hide; ?> >
                 <div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Address')); ?><span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->formText('ADDRESS[]', $this->ADDRESS, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
                </div>
				</div>
				
				<div class="form-group row" >
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Kelurahan')); ?> <span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->formText('SUBDISTRICT[]', $this->SUBDISTRICT, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
				  
                </div>
				</div>
				
				
				<div class="form-group row">
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Kecamatan')); ?> <span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->formText('DISTRICT[]', $this->DISTRICT, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;")); ?>
				  
                </div>
				</div>
				
				
				
				<div class="form-group row">
				<div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('Kota')); ?><span class="errmsg">*</span>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <select name="CITY[]" id="CITY" class="form-control" style="font-size:1.2em;" >
												<?php
												$no = 0;
												foreach($this->cityArr as $key => $val){
													
														if(empty($val)){
															
															?>
															</optgroup>
															<optgroup label="<?php echo $key; ?>">
															<?php
														}else{
													?>
													
													<option value="<?php echo $val; ?>" ><?php echo $key; ?></option>
												<?php
														}
													//if(empty($val)){
															?>
															
															<?php
														//}
														$no++;
												} ?>
				</select>
                </div>
				</div>
				
				
				
                
              </div>
            </div>
            <br>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <?php } ?>
  <br/>

<div class="portlet-body form" style="text-align:center">

	
    
    <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'preliminary','controller'=>'edit','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Cancel'); ?>">&nbsp;&nbsp;
    
    <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
    
    

</div>
</form>
<script>

$("table").on('click', '.btnremove', function() {
                   $(this).closest("tr").remove();
                  });

	function modalnpwp(elem) {
    $("#myModal").modal();
  }
  
  function modalclose(elem) {

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }


  function modalsk(elem) {
    $("#myModalSK").modal();
  }
  
  function modalskclose(elem) {

    $("#myModalSK").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }
  
  function modalsklast(elem) {
    $("#myModalSKLast").modal();
  }
  
  function modalsklastclose(elem) {

    $("#myModalSKLast").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }
  
  
  

	function incrementValue()
    {
      
        var cList = $('#counterList').val()

        $('#counterList').val(1 +(+cList))

        if(document.getElementById("count").value < 25){
            document.getElementById('count').stepUp(1);
            document.getElementById('count2').stepUp(1);


            var count = document.getElementById("count").value;
            var i = document.getElementById("count2").value;
            //alert(i);
            if(i!=1){
            // alert(count);
            var table = document.getElementById("fulltable");
            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
        
            cell1.innerHTML = "<input type='text' name='NAME[]' id='NAME"+i+"' value='' class='form-control' maxlength='128' style='font-size: 1.2em;'>";
   
            cell2.innerHTML = "<select name='entity[]' id='entity"+i+"' class='form-control' style='font-size:1.2em;'></select>";
			var newSelect = $("#entity1 option").clone();
			var selectid = '#entity'+i;
			$(selectid).append(newSelect);
			
            cell3.innerHTML = "<select name='citizen[]' id='citizen"+i+"' class='form-control' style='font-size:1.2em;'></select>";
			var newSelect = $("#citizen1 option").clone();
			var selectid = '#citizen'+i;
			$(selectid).append(newSelect);
			cell4.innerHTML = "<select name='position[]' id='position"+i+"' class='form-control' style='font-size:1.2em;'></select>";
			var newSelect = $("#position1 option").clone();
			var selectid = '#position'+i;
			$(selectid).append(newSelect);
			
            cell5.innerHTML = "<input type='text' name='SHARE[]' id='SHARE"+i+"' value='' class='form-control' style='font-size: 1.2em;'>";
			
			cell6.innerHTML = "<select name='status[]' id='status"+i+"' class='form-control' style='font-size:1.2em;'></select><button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove'  onclick='removebox("+i+")'><i class='fa fa-times'></i></button>";
			var newSelect = $("#status1 option").clone();
			var selectid = '#status'+i;
			$(selectid).append(newSelect);
			

            //var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
           }
            // alert(j);
            // table.rows[j].deleteCell(3);  

            
        }
    }
	
	function removebox(val){
  
  
    var tag = '#count2d'+val;
    var count = $(tag).val();
    var newcount = count-1;
	$(tag).val(newcount);
	var tag = '#counterList';
    var count = $(tag).val();
    var newcount = count-1;
    //alert(count);
    //alert(newcount);
    $(tag).val(newcount);
	
	var tag = '#count'+val;
    var count = $(tag).val();
    var newcount = count-1;
	$(tag).val(newcount);
  
    
  }
				</script>
