<?php 
$reportTitle = $this->language->_("Dashboard");
$path = array(
    $this->language->_('Dashboard')
);
//echo $this->partial('breadcrumbs.phtml',array('title'=>$reportTitle,'crumbs'=>$path));

//echo $this->partial('portlet-open.phtml',array('portletTitle' => "Information"));
?>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Tools')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('System Monitoring')?></span>
                 
             </li>
             

         </ul>
     </div>
   </div>
</div>

<?php 

function setBgColor($value){
    if($value <= 60){
        return 'bg-success';
    }else if($value > 60 && $value < 80){
        return 'bg-warning';
    }else{
        return 'bg-danger';
    }
}
$bgCpuUsage = setBgColor($this->cpuUsage);
$bgMemoryUsage = setBgColor($this->memoryUsage);
$bgDiskUsage = setBgColor($this->diskUsage);

?>
<div class="col-md-12">
        <h5>System Monitoring</h5>
        
    </div>
    <br/>

<div class="row">
    <div class="col-lg-6">
        <h6>CPU Usage</h6>
        <?php //echo $this->partial('portlet-open.phtml',array('portletTitle' => "CPU Usage"));?>
        <div class="progress" style="height: 35px;">
            <div class="progress-bar progress-bar-striped <?php echo $bgCpuUsage; ?>" role="progressbar" style="width: <?php echo $this->cpuUsage; ?>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><?php echo $this->cpuUsage; ?>%</div>
        </div>
        <hr>
        <h5>Details:</h5>
        <hr>
        <pre><?php echo $this->cpuDetaiPercentage;?></pre>
        <hr>
        <pre><?php echo $this->cpuSpecDetail; ?> </pre>
        
        <hr>
        <h5>Top CPU Usage:</h5>
        <pre><?php echo $this->topCPUUsage;?></pre>
        
        <?php //echo $this->partial('portlet-close.phtml',array('hideButton' => true)); ?>
    </div>

    <div class="col-lg-6">
        <h6>Memory Usage</h6>
        <?php //echo $this->partial('portlet-open.phtml',array('portletTitle' => "Memory Usage"));?>
        <div class="progress" style="height: 35px;">
            <div class="progress-bar progress-bar-striped <?php echo $bgMemoryUsage; ?>" role="progressbar" style="width: <?php echo $this->memoryUsage; ?>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><?php echo $this->memoryUsage; ?>%</div>
        </div>
        <hr>
        <h5>Details:</h5>
        <pre> <?php echo $this->memoryUsageDetail;?></pre>
        <hr>
        <?php
        $count = 0; 
        foreach($this->memoryTotal as $data){
            echo $data.'<br/>';
            $count++;
            if($count >6)break;
        }
        ?>
        <hr>
        <h5>Top Memory Usage:</h5>
        <pre><?php echo $this->topMemUsage;?></pre>
        <?php //echo $this->partial('portlet-close.phtml',array('hideButton' => true)); ?>
    </div>
</div>
<hr> 
<div class="row">
    <div class="col-lg-6">
        <h6>Disk Usage</h6>
        <?php //echo $this->partial('portlet-open.phtml',array('portletTitle' => "Disk Usage"));?>
        <div class="progress" style="height: 35px;">
            <div class="progress-bar progress-bar-striped <?php echo $bgDiskUsage; ?>" role="progressbar" style="width: <?php echo $this->diskUsage; ?>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><?php echo $this->diskUsage; ?>%</div>
        </div>
        <hr>
        <div style="display: inline;">
            Disk Total: <b><?php echo $this->diskDetail['diskTotal'] ?> | </b> 
            Disk Free: <b><?php echo $this->diskDetail['diskFree'] ?> | </b>
            Disk Usage: <b><?php echo $this->diskDetail['diskUsage'] ?> | </b>
        </div>
        <hr>
        <h5>Details: </h5>
        <pre> <?php echo $this->diskTopUsageDetail;?></pre>
        <br>
        <h5>Top 10 Large File: </h5>
        <pre id="topLargeFile"> Loading...</pre>
        <?php //echo $this->partial('portlet-close.phtml',array('hideButton' => true)); ?>
        
    </div>
</div>
<?php

//echo $this->partial('portlet-close.phtml',array('hideButton' => true)); 
?>

<?php $this->inlineScript()->captureStart();
?>

$(document).ready(function() {

    $.ajax({
        url:"<?php echo $this->urlAjax; ?>", //the page containing php script
        type: "post", //request type,
        dataType: 'json',
        success:function(result){
            $('#topLargeFile').text(result.topLarge.replace(/\r\n/g));
        }
    });
});

<?php
$this->inlineScript()->captureEnd();
?>