<?php 
$mandatory = "<strong class='formreq' style='color:red;'>&nbsp;*</strong>";
?>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) { 
          $("#logo-title").hide(); 
          $("#logo-titles").hide(); 
        } else if ( $("#logo-title").is(":hidden") ) { 
          $("#logo-title").show(); 
          $("#logo-titles").show(); 
        }
      })
    


    $('#document').bind('change', function () {
      var filename = $("#document").val();
      var testname = filename.substr(0, 45);
      
      if (/^\s*$/.test(testname)) {
        $("#file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        var filenamenew = testname;

        $("#file-upload").addClass('active');
        $("#noFile").text(filenamenew.replace("C:\\fakepath\\", ""));
      }
    });
   
   var currencies = <?php echo $this->custarr; ?>;
	$('#autocomplete').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
      $('#COMPANY_ID').val(suggestion.CUST_ID);
	  $('#COMPANY_NAME').val(suggestion.CUST_NAME);
      $('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
    }
  });
   
   
});

 function removerow(e)
    {
	  $(e).parents('tr').remove();	
      //if(document.getElementById("count").value >= 0){
		  if(false){
        var table = document.getElementById("grouptable");
        var ibefore = document.getElementById("count2").value;
        table.deleteRow(ibefore);

        document.getElementById('count').stepDown(1);
        document.getElementById('count2').stepDown(1);
        // alert(ibefore)
        document.getElementById('countdel').stepDown(1);

        //tambah delete button di row sebelumnya
        var iafter = document.getElementById("count2").value;
        console.log(iafter)
        if(iafter != 1){
          // alert(iafter+1);
          // table.rows[iafter].insertCell(3);
          // table.rows[iafter].cells[4].innerHTML = "";
          table.rows[iafter].cells[3].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
        }
      }
    }

 function incrementValue()
    {

        var cList = $('#counterList').val()

        $('#counterList').val(1 +(+cList))

        if(document.getElementById("count").value < 25){
            document.getElementById('count').stepUp(1);
            document.getElementById('count2').stepUp(1);


            var count = document.getElementById("count").value;
            var i = document.getElementById("count2").value;
            //alert(i);
            //if(i!=1){
            // alert(count);
            var table = document.getElementById("grouptable");
			
            var row = table.insertRow(table.rows.length);
            //var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(0);
            var cell3 = row.insertCell(1);
            var cell4 = row.insertCell(2);
			var cell5 = row.insertCell(3);
            // table.rows[count+1].insertCell(3);
            //  table.rows[count+1].cells[4].innerHTML = "";
             //table.rows[i-1].cells[3].innerHTML = "";

            //cell1.innerHTML = count;
            
            cell2.innerHTML = "<input type='hidden' name='docid[]' id='docid"+i+"'  class='form-control' readonly='readonly'><i>auto generate</i>";

            
            cell3.innerHTML = " <input type='text' name='docdesc[]' id='docdesc"+i+"' value='' class='form-control' >";
			//cell4.innerHTML = " <div class='file-upload' id='file-upload"+i+"'><div class='file-select'><div class='file-select-button' id='fileName'>Choose File</div><div class='file-select-name' id='noFile"+i+"'>No file chosen...</div><input type='file' name='document[]' id='document"+i+"' ></div></div>";
			cell4.innerHTML = "<input type='file' name='document[]' id='document"+i+"' class='form-control-file'>";
            cell5.innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow(this)'><i class='fa fa-times'></i></button>";

           
			
           

           //}
            // alert(j);
            // table.rows[j].deleteCell(3);  

            
        }
		
    }
	
	function cloneEl(el) {
		  var clo = el.cloneNode(true);
		  return clo;
		}
</script>

<style type="text/css">

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */


    .input-group-prepend{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
        border-bottom-left-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: blue; color: white; }
.autocomplete-suggestions strong { font-weight: bold; color: orange; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


</style>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Tools');?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?php echo $this->language->_('Submission Document');?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?php echo $this->language->_('Add');?></span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>




<div class="portlet-body form headerNew">


<br/>
<form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="">

        
        <div class="row">
          <div class="col-sm-12">
            <!-- <form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action=""> -->
              
                
                      <div class="portlet light form-fit bordered">
                      <?php if($this->error){ ?>
                            <div class="errmsg"><?php echo $this->errormsg; ?></div>
                      <?php } ?>
                        <div class="">
                          
                          <div class="card-body form">
                             
                            <div class="form-group row pt-2">
                              <div class="col-sm-3">
                                <label class="textBlack" for=""><?php echo $this->language->_('Module'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                              </div>
                              <div class="col-sm-9">
							   
                                <?php 
								echo $this->formSelect('filemodule', $this->filemodule, array('id' => 'filemodule', 'class' => 'form-control'), $this->arrModule);
                                ?>
                              </div>
                            </div>
                            <div class="form-group row pt-2">
                              <div class="col-sm-3">  
                                <label class="textBlack" for=""><?php echo $this->language->_('Company'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                              </div>
                              <div class="col-sm-9">
                                <div class="input-group input-group-sm">
											
											<input type="hidden" name="COMPANY_NAME" class="form-control" value="<?php echo $this->COMPANY_NAME; ?>" >
											<input type="text" name="COMPANY_TEXT" class="form-control" value="<?php echo $this->COMPANY_TEXT; ?>" id="autocomplete" >
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>
											<?php echo $this->formHidden('COMPANY_ID',$this->COMPANY_ID); ?>
										</div>
                                
                              </div>
                            </div>
								<div class="form-group row">
									<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped" id="grouptable">
										<tr class="headercolor">
												<!--<th width="3px" valign="top" class="tablehead">
												<?php echo $this->language->_('No');?>
												</th> -->
												<th  valign="top" class="tablehead">
												<?php echo $this->language->_('Document Reff');?>
												</th>
												<th  valign="top" class="tablehead">
												<?php echo $this->language->_('Document Description');?>
												</th>
												<th  valign="top" class="tablehead">
												<?php echo $this->language->_('Submission Document');?><strong class="formreq"><font color=red>&nbsp;*</font></strong>
												</th>
												<th  valign="top" class="tablehead">
												<?php echo $this->language->_('Action');?>
												</th>
										</tr>
										<?php if(!empty($this->docdesc)){
											foreach($this->docdesc as $val){
											
											?>
												<tr>
													<!-- <td style="padding-top: 10px;">1 -->
														

													</td>
													<td style="padding-top: 10px;">
													<i>auto generate</i>
													<?php
															  echo $this->formHidden('docid[]','',array('id'=>'docid','class'=>'form-control','readonly'=>'readonly'));
														?>
													</td>
													<td style="padding-top: 10px;">
														<?php
															  echo $this->formText('docdesc[]',$val,array('id'=>'docdesc','class'=>'form-control'));
														?>	
														
													</td>
													<td style="padding-top: 10px;">
													<input type='file' name='document[]' id='document' class='form-control-file' value="<?php echo $this->description ?>" >
														
													  </td>
													<td style="padding-top: 10px;">
														<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow(this)'><i class='fa fa-times'></i></button>
													</td>
												</tr>
										<?php 
											}
										}else{ ?>
										<tr>
											<!-- <td style="padding-top: 10px;">1 -->
												

											</td>
											<td style="padding-top: 10px;">
											<i>auto generate</i>
											<?php
													  echo $this->formHidden('docid[]','',array('id'=>'docid','class'=>'form-control','readonly'=>'readonly'));
												?>
											</td>
											<td style="padding-top: 10px;">
												<?php
													  echo $this->formText('docdesc[]','',array('id'=>'docdesc','class'=>'form-control'));
												?>	
												
											</td>
											<td style="padding-top: 10px;">
											<input type='file' name='document[]' id='document' class='form-control-file' value="<?php echo $this->description ?>" >
												<!-- <div class="file-upload">
												  <div class="file-select">
													<div class="file-select-button" id="fileName">Choose File</div>
													<div class="file-select-name" id="noFile">No file chosen...</div>
													<input type="file" name="document[]" id="document" value="<?php echo $this->description ?>">
												  </div>
												</div> -->
											  </td>
											<td style="padding-top: 10px;">
												<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow(this)'><i class='fa fa-times'></i></button>
											</td>
										</tr>
										<?php } ?>
										</table>
								</div>
								<div class="form-group row" style="text-align:right;width:100%" >
								<div class="col-md-6">
								<?php
								$count = count($this->listgroup1);
								// print_r($count);die;
								if(empty($count)){
								  $total = '1';
								}else{
								  $total = $count-2;
								}
								?>
								<input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden; ;">
								<?php
									$count = count($this->listgroup1);
									// print_r($count);die;
									if(empty($count)){
									  $total = '1';
									}else{
									  $total = $count;
									}
									?>
									<input type="number" id="count2" value="<?php echo $total ?>" style="visibility: hidden;">

								<input type="hidden" name="counterList" id="counterList" value="0">
								</div>
								<div class="col-md-6">
								 <!-- <button style="" onclick="incrementValue()" type="button" class="btngreen hov" ><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button> -->
									<a href='#' onclick="incrementValue()" ><?php echo $this->language->_('Add New')?></a>
									</div>
								</div>
								
								<div class="form-group row" style="width:100%" >
									<div class="col-md-12" style="text-align:center;">
									<?php echo $this->formButton('cancel', $this->language->_('Cancel'), array('onclick' => "location.href='/tools/submission'", 'class' => 'btnwhite hov'));?>
									<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
									</div>
								</div>
                          </div>
						  
						  
						  
                        </div>
                      <br>
                  </div>
               
            </div>
        </div>
        
        
        <br>
        
      
   
</form>


</div>


