<?php $this->layout()->setLayout('newpopup');?>
<div class="tabheader" id="tabheader"> <h5><?php echo $this->language->_('Set'); ?>/<?php echo $this->language->_('Edit Realtime Charges Detail'); ?></h5> </div>
<h6><?php echo $this->language->_('Changes Information'); ?></h6>
<?php
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>

<div class="row">
	<div class="col-md-6">
	<h2><?php echo $this->language->_('Suggested Monthly Charges'); ?></h2>
	<br />
	<table border="1" cellspacing="0" cellpadding="0" class="col-md-12 table table-sm">
	<?php
	$i = 1;
	foreach($this->result2 as $list)
	{
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		echo '<tr>
				<td class="'.$td_css.'">Inhouse';
		echo '</td>
				<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($list['AMOUNT']).'</td>
			  </tr>';
		$i++;
	}
	?>
	<?php
	$i = 1;
	foreach($this->result2other as $list)
	{
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		echo '<tr>
				<td class="'.$td_css.'">'.$this->pstype[$list['CHARGES_TYPE']];
		echo '</td>
				<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($list['CHARGES_AMT']).'</td>
			  </tr>';
		$i++;
	}
	?>
	</table>
	</div>

	<div class="col-md-6">
	
	<h2><?php echo $this->language->_('Current Monthly Charges'); ?></h2>
	<br />
	<table border="1" cellspacing="0" cellpadding="0" class="col-md-12 table table-sm">
	<?php
	$i = 1;
	foreach($this->result3 as $list)
	{
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		echo '<tr>
				<td class="'.$td_css.'">Inhouse';
		echo '</td>
				<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($list['AMOUNT']).'</td>
			  </tr>';
		$i++;
	}
	?>
	<?php
	$i = 1;
	foreach($this->result3other as $list)
	{
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		echo '<tr>
				<td class="'.$td_css.'">'.$this->pstype[$list['CHARGES_TYPE']];
		echo '</td>
				<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($list['CHARGES_AMT']).'</td>
			  </tr>';
		$i++;
	}
	?>
	</table>
	
	</div>
</div>

<br />
  <br />
  <?php
		echo $this->action('index',
			                'tools',
			                'changemanagement',
			                array('changes_id' => $this->changes_id));
  ?>
