<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span class="valas"><?=$this->language->_('Approval Matrix')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Approver Boundary')?></span>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<br>

  <div class="container">
      <div style="text-align:center; padding: 25px 0px;" class="center">
          <h5 class=""><?=$this->language->_('Approval Matrix')?></h5>
      </div>
  </div>

  <div style="padding: 20px 0px;" class="container">
      <div   class="row">
          <div style="text-align:center" class="col-sm-6">
            <button style="width: 50%;" class="btngreen hov"><a style="color: white;" href="/appgroup/index/newappgroup">Approver Group</a></button>
          </div>
          <div style="text-align:center" class="col-sm-6">
            <button style="width: 50%;" class="btngreen hov"><a style="color: white;" href="/authorizationmatrix/index/newappboundary">Approver Boundary</a></button>
          </div>

      </div>
  </div>

  <!-- enter submit button -->

    <!-- search form -->
    <div class="container">
        <div class="col-md-12">
         <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                      </div>
                          <?php echo $this->formText('appbound',$this->appbound,array('class'=>'form-control navbar-search-box' , 'placeholder'=>'Masukan company code atau company name' , 'aria-describedby'=>'search' , 'size'=>'45' , 'id'=>'searchappbound'))?>
                      </div>
                  </div>
            <br/>
            <table cellpadding="3" cellspacing="0" border="0" class="tableform" >
              <tr><td colspan="3" align="left">
              <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('type'=>'button' , 'style' => 'display:none' , 'class'=>'btn btn-warning', 'id'=>'submit' )); ?>
              <?php// echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btn btn-warning')); ?>
              </td></tr>
            </table>
          </form>
    </div>
    <br>

    <table align="left" cellpadding="5">
      <tr style="height:30px">
        <td colspan="12" align="CENTER">
          <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">      
                    
          </form>       
        </td>
      </tr>
    </table>

    <!-- tabel atm -->
    <div  class="container">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <tbody>
            <tr>
                <?php if($this->success){ ?>
                <div class="successmsg"><?=$this->report_msg?></div><br />
                <?php }else if($this->error){ ?>
                <div class="errmsg"><?=$this->report_msg?></div><br />
                <?php } ?>
            </tr>
            <tr>
            <td class="contentarea" id="contentarea">
            <div align="right">
              <?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
            </div>
      <br />



    <div class="portlet-body flip-scroll">
        <table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
          <tr>
             <th width="3%" valign="top" style="background-color: #0a3918; color:white">No.</th>
              <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                    'sortBy' => $this->sortBy,
                                                                    'sortDir' => $this->sortDir,
                                                                    'query_string_params' => $this->query_string_params
                                                                    )
                            )?>
              <th width="16%" valign="top" style="background-color: #0a3918; color:white"><?php echo $this->language->_('Action'); ?></th>

            </tr> 

            <?php
            $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
            if($this->hasPrivilege('BMUD'))
            {
              $disabled = '';
            }
            else
            {
              $disabled = 'disabled';
            }
              if(count($this->paginator) > 0)
                {
                      $i=0;

                foreach($this->paginator as $row) {

                $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

                $manage = $this->formButton('manage',$this->language->_('Manage Boundary Member'),array('onclick'=>"location.href='".$this->url(array('module'=>$this->modulename,'controller'=>'manage','action'=>'index','cust_id'=>$row['CUST_ID']))."'",'class'=>'btngreen hov',$disabled=>$disabled));

                echo '<tr>
                    <td class="'.$td_css.'">'.$counter.'</td>
                    <td class="'.$td_css.'">'.$row['CUST_ID'].'</td>
                    <td class="'.$td_css.'">'.$row['CUST_NAME'].'</td>
                    <td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['BOUNDARY_MIN']) . ' - ' . Application_Helper_General::displayMoney($row['BOUNDARY_MAX']) .'</td>
                    <td class="'.$td_css.'">'. $row['CCY_BOUNDARY'] .'</td>
                    <td class="'.$td_css.'">'.$manage.'</td>
                  </tr>';

                    $i++;
                            $counter++;
                  }
              }
              else {
                echo '<tr><td colspan=13 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
              }
                ?>
                    </table>
                    </div>
                  <br />

                <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
                <br />
                            
                 </td>
                  </tr>
        </tbody>
      </table>
    </div>