<style media="screen">
	.indicator.online {
		background: #28B62C;
		display: inline-block;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		-webkit-animation: pulse-animation 2s infinite linear;
	}

	.indicator.offline {
		background: #FF4136;
		display: inline-block;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		-webkit-animation: pulse-animation 2s infinite linear;

	}

	.indicator.warning {
		background: #F7CF32;
		display: inline-block;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		-webkit-animation: pulse-animation 2s infinite linear;
	}

	/* width */
	#fixTable::-webkit-scrollbar {
		width: 5px;
		background-color: #f2f2f2;
	}

	/* Handle */
	#fixTable::-webkit-scrollbar-thumb {
		background: lightgray;
		border-radius: 10px;
	}

	/* Handle on hover */
	#fixTable::-webkit-scrollbar-thumb:hover {
		background: #c0c0c0;
	}
</style>
<link href="/css/select2_353.min.css" rel="stylesheet" />
<script src="/js/select2_353.min.js"></script>
<?php
if (Zend_Registry::isRegistered('language')) {
	$language = Zend_Registry::get('language');
}
?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List') ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content-box" style="margin-left: 1px; margin-right: 1px;">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('Bank Guarantee List') ?></h5>
		<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<?php
				$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
				foreach ($this->filterlist as $row => $keyFilter) {
					$optArr .=  '<option value="' . $keyFilter . '" >' . $this->language->_($row) . '</option>';
				} ?>
				<div class="row " id="logo-titles" style="margin-left: 0px">
					<?php if (!empty($this->wherecol)) { ?>
						<script type="text/javascript">
							$(document).ready(function() {
								$("#logo-title").show();
								$('select[name="wherecol[]"]').each(function(index, elem) {
									$('#'+elem.id).select2({
										placeholder: 'Cari',
										allowClear: true,
									});
								})
							});
						</script>
					<?php } ?>

					<?php foreach ($this->wherecol as $key => $value) { ?>
						<div id="searchs" style="width: 100%">
							<?php
							$selectlist = array(
								'BG_SUBJECT',
								'BG_NUMBER',
								'CUST_ID',
								'OBLIGEE_NAME',
								'BRANCH_NAME',
								'COUNTER_WARRANTY_TYPE',
								'BG_STATUS',
							);
							$index = 0;
							?>
							<div id="where-<?= $key ?>">
								<div class="form-group row mt-12">
									<div class="col-md-4 form-inline">
										<select class='form-control event_select select2 w-100 p-0' id='wherecol-<?= $key ?>' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>
											<?php foreach ($this->filterlist as $row => $keyFilter) {
												$colname = $keyFilter;
												if ($value == $colname) {
													$selected = "selected";
												} else {
													$selected = "";
												} ?>
												<option value="<?= $keyFilter ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
											<?php } ?>
										</select>
									</div>

									<div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
										<script type="text/javascript">
											$(document).ready(function() {
												var colval = "#colvalue-<?= $key ?>";
												var colomnname = "<?= $value ?>";
												var colselect = "colselect-s<?= $key ?>";
												var ncolselect = "#colselect-s<?= $key ?>";

												if (colomnname == 'CUST_ID') {
													$(colval).append("<select class='form-control select2custid w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
													$(ncolselect).html(`<?= $this->optionPrincipal ?>`).val('<?= $this->whereval[$key] ?>');
													$('.select2custid').select2({
														placeholder: 'Cari',
														allowClear: true,
													});
												}

												if (colomnname == 'BRANCH_NAME') {
													$(colval).append("<select class='form-control select2branch w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
													$(ncolselect).html(`<?= $this->optionBranch ?>`).val('<?= $this->whereval[$key] ?>');
													$('.select2branch').select2({
														placeholder: 'Cari',
														allowClear: true,
													});
												}

												if (colomnname == 'COUNTER_WARRANTY_TYPE') {
													$(colval).append("<select class='form-control select2warranty w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
													$(ncolselect).html(`<?= $this->optionWarranty ?>`).val('<?= $this->whereval[$key] ?>');
													$('.select2warranty').select2({
														placeholder: 'Cari',
														allowClear: true,
													});
												}

												if (colomnname == 'BG_STATUS') {
													$(colval).append("<select class='form-control select2bgstatus w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
													$(ncolselect).html(`<?= $this->optionBgStatus ?>`).val('<?= $this->whereval[$key] ?>');
													$('.select2bgstatus').select2({
														placeholder: 'Cari',
														allowClear: true,
													});
												}

												$('#wherectr').val('<?= (int)$key + 1; ?>');
											});
										</script>
										<?php if ($value == 'CUST_ID') { ?>
										<?php } else if ($value == 'BRANCH_NAME') { ?>
										<?php } else if ($value == 'COUNTER_WARRANTY_TYPE') { ?>
										<?php } else if ($value == 'BG_STATUS') { ?>
										<?php } else if (in_array($value, $selectlist)) { ?>
											<input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
										<?php } ?>
									</div>
									<div class="col-md-2 form-inline px-0">
										<button type='button' class='px-2 py-1 bg-danger border-0 text-white rounded' id='removewhere' style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16); cursor: pointer;" onclick='removeParent(this)'><i class="fa fa-times"></i></button>
									</div>
								</div>
							</div>
						</div>
					<?php } ?>
				</div>

				<div class="row " id="logo-title" style="display: none;margin-left: 0px">
					<div id="wheres" style="width: 100%">
						<div id="where-<?= $ctr ?>"></div>
					</div>
					<input type="hidden" id="wherectr" value="0" />
					<div class="mt-3">
						<button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
						&nbsp;
						<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
						&nbsp;
						<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>'">
					</div>
				</div>
				<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon with-animation">
						<?php echo $this->language->_('Advanced Search'); ?>
					</a>
				</div>
				<br>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div style="float:right; padding-left:5px;">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
					</div>
					<input type="text" class="search form-control shadow-none" id="searchtable" placeholder="Search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;">
				</div>
			</div>

			<form name="exportForm" method="post">
				<div style="float:right; padding-left:5px;">
					<input type="submit" value="Export Files" name="xlsx" id="csv" class="fa hov" style="cursor: pointer;text-transform: uppercase;font-weight: normal;">
					<?= $this->formHidden('filter', $this->filter, array('class' => 'form-control input-medium')); ?>
					<?= $this->formHidden('fbgnumb', $this->fbgnumb, array('class' => 'form-control input-medium')); ?>
					<?= $this->formHidden('subject', $this->subject, array('class' => 'form-control input-medium')); ?>
					<?= $this->formHidden('fbgregnumb', $this->fbgregnumb, array('class' => 'form-control input-medium')); ?>
					<?= $this->formHidden('status', $this->status, array('class' => 'form-control input-medium')); ?>
				</div>
			</form>

			<div style="float:right; padding-left:5px;">
				<?php if ($this->hasPrivilege("SLIK")) { ?>
					<input type="button" value="SLIK" name="slikmodal" onclick="modalslik();" id="slikmodal" class="fa" style="min-width: 86px;
						height: 30px;
						border-radius: 8px;
						-webkit-backdrop-filter: blur(30px);
						backdrop-filter: blur(30px);
						box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
						background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
						font-size: 13px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						cursor: pointer;
					">
				<?php } ?>
			</div>
		</div>
	</div>
</div>

<?php if ($this->success) { ?>
	<div class="successmsg"><?= $this->report_msg ?></div><br />
<?php } else if ($this->error) { ?>
	<div class="errmsg"><?= $this->report_msg ?></div><br />
<?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed mt-2" id="fixTable">
	<table class="table table-sm table-striped headerNew" id="myTable">
		<tr height="40px">
			<th class="tablehead fth-header" width="3%" valign="top">No</th>
			<th class="tablehead fth-header" valign="top" width="25%"><?= $this->language->_('Nomor BG'); ?> / <?= $this->language->_('Subjek'); ?><span style="white-space:nowrap"></span></th>
			<th class="tablehead fth-header" valign="top" width="20%"><?= $this->language->_('Principal'); ?><span style="white-space:nowrap"></span></th>
			<th class="tablehead fth-header" valign="top" width="20%"><?= $this->language->_('Obligee'); ?><span style="white-space:nowrap"></span></th>
			<th class="tablehead fth-header" valign="top" width="10%"><?= $this->language->_('Bank Cabang'); ?><span style="white-space:nowrap"></span></th>
			<th class="tablehead fth-header" valign="top"><?= $this->language->_('Jenis Kontra'); ?><span style="white-space:nowrap"></span></th>
			<th class="tablehead fth-header text-center" valign="top" width="10%"><?= $this->language->_('Status BG'); ?><span style="white-space:nowrap"></span></th>
		</tr>

		<?php
		require_once 'Crypt/AESMYSQL.php';
		$AESMYSQL = new Crypt_AESMYSQL();
		$rand = $this->token;
		$counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

		if (count($this->paginator) > 0) {
			$i = 0;
			foreach ($this->paginator as $row) {
				$td_css     = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
				$attribut   = array('class' => 'group_id', 'checked' => (isset($this->group_id[$row['GROUP_ID']])) ? true : false);

				if ($row['BG_NUMBER'] == '') {
					$row['BG_NUMBER'] = '-';
				}

				if ($row['BG_SUBJECT'] == '') {
					$row['BG_SUBJECT'] = '- no subject -';
				}

				if (empty($row['BG_INSURANCE_CODE'])) {
					$counterType = $this->arrWarrantyType[$row['COUNTER_WARRANTY_TYPE']];
				} else {
					$counterType = $this->arrWarrantyType[$row['COUNTER_WARRANTY_TYPE']] . ' (' . $row['BG_INSURANCE_CODE'] . ')';
				}

				$encrypted = $AESMYSQL->encrypt($row['BG_REG_NUMBER'], $rand);
				$encrypted_id = urlencode($encrypted);

				$link = $this->url(array('module' => 'bgreport', 'controller' => 'detail', 'action' => 'index', 'bg' => $encrypted_id), null, true);

				$today = date("Y-m-d");
				$date = $row['TIME_PERIOD_END'];

				switch ($row['CLOSING_TYPE']) {
					case 1:
						$penutupan = 'Habis Masa';
						break;
					case 2:
						$penutupan = 'Permintaan Principal';
						break;
					case 3:
						$penutupan = 'Klaim Obligee';
						break;
				}

				$penutupan = $this->arrClosingType[$row['CLOSING_TYPE']];

				if ($this->arrStatus[$row['BG_STATUS']] == "On Risk") {
					$indicator = '<div id="indi' . $row['BG_REG_NUMBER'] . '"><span class="indicator online" title="Dalam Jaminan"></span></div>';
				} else if ($this->arrStatus[$row['BG_STATUS']] == "Off Risk") {
					$indicator = '<div id="indi' . $row['BG_REG_NUMBER'] . '"><span class="indicator offline" title="Selesai Penjaminan - ' . $penutupan . '"></span></div>';
				} else {
					$indicator = '<div id="indi' . $row['BG_REG_NUMBER'] . '"><span class="indicator offline" title="Selesai Penjaminan - ' . $penutupan . '"></span></div>';
				}

				echo '<tr data-bgnumber="' . $row['BG_NUMBER'] . '">
                    <td class="' . $td_css . '">' . $counter . '</td>
                    <td class="' . $td_css . '">' . $row['BG_NUMBER'] . ' / <a href="' . $link . '">' . $row['BG_SUBJECT'] . '</a></td>
                    <td class="' . $td_css . '">' . $row['CUST_NAME'] . '</td>
                    <td class="' . $td_css . '">' . $row['RECIPIENT_NAME'] . '</td>
                    <td class="' . $td_css . '">' . $row['BRANCH_NAME'] . '</td>
                    <td class="' . $td_css . '">' . $counterType . '</td>
                    <td class="' . $td_css . ' text-center">' . $indicator . '</td>
                </tr>';

				$i++;
				$counter++;
			}
		} else {
			echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_('No Data') . " --- </td></tr>";
		}
		?>
	</table>
</div>

<br>

<div align="right" class="my-4"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>

<br>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div style="float:right; padding-left:5px;">
				<table>
					<tr>
						<td>
							<form name="exportForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'slik', 'action' => 'index'), null, true) ?>" method="post">
								<div class="modal fade" id="myModalSLIK" tabindex="-1" role="dialog" aria-labelledby="myModalSLIK">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<center style="width:100%">
													<h4 class="modal-title textBlack" id="myModalLabel">Kertas Kerja SLIK OJK</h4>
												</center>
											</div>
											<div class="modal-body">
												<br>
												<div class="row">
													<div class="col-sm-2"></div>
													<div class="col-sm-8">
														<table style="width:100%">
															<tr>
																<td style="width:250px;">Bulan</td>
																<?php $bulan = strtotime("-1 Months"); ?>
																<td><input class="form-control" name="bulan" id="bulan" value="<?= date("M", $bulan); ?>" readonly>
																	<!-- <?php echo $this->formSelect('bulan', $this->bulan, array('id' => 'bulan', 'class' => 'form-control'), $bulan); ?></td> -->
															</tr>
															<tr>
																<td style="width:250px;">Tahun</td>
																<?php
																$tahun = array(
																	'2020' => '2020',
																	'2021' => '2021',
																	'2022' => '2022',
																	'2023' => '2023',
																	'2024' => '2024'
																);
																?>
																<td>
																	<input class="form-control" name="tahun" id="tahun" value="<?= date("Y", strtotime('-1 Months')); ?>" readonly>
																	<!-- <?php echo $this->formSelect('tahun', $this->tahun, array('id' => 'tahun', 'class' => 'form-control'), $tahun); ?></td> -->
															</tr>
														</table>
													</div>
													<div class="col-sm-2"></div>
												</div>
											</div>
											<div class="modal-footer">
												<center style="width:100%">
													<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
													<button type="submit" name="xls" id="xls" value="xls" class="btngreen hov">Download</button>
												</center>
											</div>
										</div>
									</div>
								</div>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function modalslik() {
		$("#myModalSLIK").modal();
	}

	function exportCsv() {
		let bgNumbers = []
		$('#myTable tr').each(function(index, elem) {
			if ($(elem).is(':visible') && index > 0) {
				bgNumbers.push($(elem).data('bgnumber'))
			}
		})

		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'exportcsv'), null, true) ?>",
			type: 'GET',
			data: {
				bgNumber: bgNumbers,
			},
			success: function(data) {
				var downloadLink = document.createElement('a');
				downloadLink.href = URL.createObjectURL(new Blob([data]));
				downloadLink.setAttribute('download', 'Customer List BG.csv');
				downloadLink.click();
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert("Failed to get where column list, please try again");
			}
		})
	}

	$(document).ready(function() {
		$('#fixTable').fixTableHeader();

		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();
			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

	});

	$('div#sidebar-collapse').click(function() {
		if ($("#logo-title").is(":visible")) {
			$("#logo-title").hide();
			$("#logo-titles").hide();
		} else if ($("#logo-title").is(":hidden")) {
			$("#logo-title").show();
			$("#logo-title").show();
		}
	});

	$("#addwhere").click(function() {
		var ctr = $("#wherectr").val();
		var optstr = '<?php echo $optArr; ?>';
		var wherecol = "#wherecol-" + ctr;
		$("#wheres").append(`
			<div id='where-${ctr}'>
				<div class='form-group row mt-12'>
					<div class='col-md-4 form-inline'>
						<select class='form-control event_select w-100 p-0' style='width:100%' id='wherecol-${ctr}' name='wherecol[]' onchange='getOpt(this)'>${optstr}</select>
					</div>
					<div style='display:none'>
						<select class='form-control' id='whereopt-${ctr}' name='whereopt[]'></select>
					</div>
					<div class='col-md-6 form-inline' id='colvalue-${ctr}'>
						<input class='form-control' type='text' style='width:100%' name='whereval[]' disabled/>
					</div>
					<div class='col-md-2 form-inline px-0'>
						<button type='button' class='px-2 py-1 bg-danger border-0 text-white rounded' id='removewhere' style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16); cursor: pointer;" id='removewhere' onclick='removeParent(this)'>
							<i class='fa fa-times'></i>
						</button>
					</div>
				</div>
			</div>
		`);

		ctr++;
		$("#wherectr").val(ctr);

		$(`#wherecol-${ctr - 1}`).select2({
			placeholder: 'Cari',
			allowClear: true,
		});
	});
	
	function getOpt(elem) {
		var id = elem.id;
		var temp = id.split('-');
		var ctr = temp[1];
		
		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];
		
		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-s" + ctr;
		var ncolselect = "#colselect-s" + ctr;

		var $coll = $('.event_select');
		$coll.children().prop('disabled', false);
		$coll.each(function() {
			var val = this.value;
			if (val === 'original') return;
			$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
		});
		
		$(colval).empty();
		
		if (colomnname == 'CUST_ID') {
			$(colval).append("<select class='form-control select2custid w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			$(ncolselect).html(`<?= $this->optionPrincipal ?>`);
			$('.select2custid').select2({
				placeholder: 'Cari',
				allowClear: true,
			});

		} else if (colomnname == 'BRANCH_NAME') {
			$(colval).append("<select class='form-control select2branch w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			$(ncolselect).html(`<?= $this->optionBranch ?>`);
			$('.select2branch').select2({
				placeholder: 'Cari',
				allowClear: true,
			});
		} else if (colomnname == 'COUNTER_WARRANTY_TYPE') {
			$(colval).append("<select class='form-control select2warranty w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			$(ncolselect).html(`<?= $this->optionWarranty ?>`);
			$('.select2warranty').select2({
				placeholder: 'Cari',
				allowClear: true,
			});

		} else if (colomnname == 'BG_STATUS') {
			$(colval).append("<select class='form-control select2bgstatus w-100 p-0' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			$(ncolselect).html(`<?= $this->optionBgStatus ?>`);
			$('.select2bgstatus').select2({
				placeholder: 'Cari',
				allowClear: true,
			});

		} else {
			$(colval).append("<input type='text' name='whereval[]' style='width:100%'  value='' maxlength='160'  class='form-control' >");
		}

		var colomn = '#whereopt-' + ctr;
		var data = $(colomn).val('EQUAL').change();
	}

	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
		var ctr = $("#wherectr").val();
		ctr--;
		$("#wherectr").val(ctr);
	}
</script>