<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?=$this->language->_('Virtual Payment');?></a></li>
  <li><a href="#" style="font-size: 11px;"><?=$this->language->_('VP Transaction');?></a></li>
  <li><?php echo $this->language->_('Detail'); ?></li>
  
</ol>
</b>

<br/>
<br/>
<table cellpadding="" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content" style="width:50%;min-width: 400px;">
	<?php
	// print_r($this->data);die;
	echo '<tr><th colspan="6" class="tdform-sub"><strong>Company BIN Detail</strong></th></tr>';
	echo '<tr>
				<td class="tbl-evencontent">'.$this->language->_('BIN').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_BIN'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Company Code').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_ID'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('BIN Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['BIN_NAME'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Company Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_NAME'].'</td>
			</tr>
			<tr>
				
			</tr>';

	?>

</table>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Uploaded Detail'); ?></strong></th></tr>
	<?php 
	// print_r($this->optStatus[$this->data['VP_STATUS']]);die;
	if (is_array($this->data) && count($this->data)){
			echo '<tr>
				<td class="tbl-evencontent">'.$this->language->_('VP Transaction ID').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_TRANSACTION_ID'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('VA Status').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optStatus[$this->data['VP_STATUS']].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('VA Number').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_NUMBER'].'</td>
				<td class="tbl-evencontent" colspan="3" ></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Invoice Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['INVOICE_NAME'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder SMS').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['NOTIFICATION_SMS'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Invoice Desc').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['INVOICE_DESC'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder Email').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['NOTIFICATION_EMAIL'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Uploaded Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>
				<td class="tbl-evencontent">'.$this->language->_('Uploaded By').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_CREATEDBY'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Updated Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>
				<td class="tbl-evencontent">'.$this->language->_('Updated By').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_UPDATEBY'].'</td>
			</tr>
			

			
			';
			?>
			
			<?php 
			
	}else{
		echo '<tr>
			<td class="tbl-evencontent" colspan="3"> --- '.$this->language->_('No Data').' --- </td>
		</tr>';
	}
	?>
	
</table>
</div>
<br>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Bill Detail'); ?></strong></th></tr>			

			<?php
			// print_r($this->Duedate);die;
			if($this->data['DUE_DATE_TYPE'] == '0'){
				$duedate = 'No due date';
				// echo '' ; die;
			}else{
				$duedate = substr(Application_Helper_General::convertDate($this->Duedate,$this->displayDateTimeFormat,$this->defaultDateFormat),0,11)." ".$this->data['VP_TIME'];
			}

			echo '
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Effective Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.substr(Application_Helper_General::convertDate($this->data['VP_EFDATE'],$this->displayDateTimeFormat,$this->defaultDateFormat),0,11).'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Due Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$duedate.'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CCY'].' '.Application_Helper_General::displayMoney($this->data['AMOUNT']).'</td>
				<td class="tbl-evencontent">'.$this->language->_('Full Paid').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optPaid[$this->data['PAID_STATUS']].'</td>
			</tr>'; ?>
		</table>	
	</div>	
<h3>Payment Detail</h3>
<br />
<?php
if (is_array($this->data) && count($this->data)){
?>
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content" >
	<tr>
		<th><?php echo $this->language->_('Payment Date'); ?></th>
		<th><?php echo $this->language->_('VP Transaction ID'); ?></th>
		<th><?php echo $this->language->_('VA Number'); ?></th>
		<th><?php echo $this->language->_('CCY'); ?></th>
		<th><?php echo $this->language->_('Payment'); ?></th>
		<th><?php echo $this->language->_('Payment Status'); ?></th>
		<th><?php echo $this->language->_('Transaction Channel'); ?></th>
	</tr>
	<?php
	$no = 0;
	$total = 0;
	foreach ($this->dataall as $key => $value) {
		echo '<tr>
		<td class="tbl-evencontent">'.$value['VP_CREATED'].'</td>
		<td class="tbl-evencontent">'.$value['VP_TRANSACTION_ID'].'</td>
		<td class="tbl-evencontent">'.$value['VP_NUMBER'].'</td>
		<td class="tbl-evencontent">'.$value['CCY'].'</td>
		<td class="tbl-evencontent">'.Application_Helper_General::displayMoney($value['AMOUNT']).'</td>
		<td class="tbl-evencontent">Success</td>
		<td class="tbl-evencontent">CMS</td>
		</tr>';
		$total = $total+$value['AMOUNT'];
		$no++;
	}
	?>
	
</table>
<br />
<?php
}
?>
<h5 style="font-weight:bold">Total&nbsp;<?php echo $no ?>&nbsp; Payment(s), amount IDR &nbsp;<?php echo Application_Helper_General::displayMoney($total) ?></h5>
<?php if (is_array($this->data) && count($this->data)){?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','reff'=>$this->data['VP_NUMBER']),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="button-area" id="button-area" colspan="3">
			<?if($this->pdf == false){?>
				<div class="formbutton" style="float:left">
				<?php 
				$val = '<a href="'.$this->url(array('module'=>'virtualpayment','controller'=>'view','action'=>'edit','reff'=>$this->data['VP_NUMBER']),null,true).'"><input type="button" value="Edit" class="btn btn-warning"></a>';
				//echo $val;
				if($this->history){
					echo $this->formButton(
							'back',
							$this->language->_('Back'),
							array(
									'class'=>'btn btn-warning',
									'onClick'=>'javascript:window.location.href="'.
									$this->url(
											array(
													'module'=>$this->modulename,
													'controller'=>'transaction',
													//'action'=>'detail'
											),
											null,
											true
									).'";'
							)
					);
				}
				else{
					echo $this->formButton(
							'back',
							$this->language->_('Back'),
							array(
									'class'=>'btn btn-warning',
									'onClick'=>'javascript:window.location.href="'.
									$this->url(
											array(
													'module'=>$this->modulename,
													'controller'=>'detail',
													//'action'=>'detail'
											),
											null,
											true
									).'";'
							)
					);
				}
				?>
			
<!--					<input type="submit" name="submit" value="<?php echo $this->language->_('Back');?>" class="inputbtn"/>-->
					
					<?php 
					//	echo $this->formSubmit('pdf',$this->language->_('PDF'),array('class'=>'btn btn-warning'));
					?>

<!--					<button onclick="openwindow('<?PHP echo $this->url(array('printtrxxx' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
					<?php 
					if($this->data['PAID_STATUS'] == 1)
					{
					}
					elseif($this->data['PAID_STATUS'] == 3)
					{
					}
					elseif($this->data['PAID_STATUS'] == 2)
					{
//						echo $this->formSubmit('cancelVirtualPayment',$this->language->_('Cancel Virtual Payment'),array('class'=>'inputbtn')); 
						?>
						<?php $confirm =  $this->language->_('Are You Sure Will be Cancel This Payment')?>
						<?php 
						if($this->hasPrivilege('CVPT'))
						{
							?>
								<input type="submit" name="cancelVirtualPayment" id="cancelVirtualPayment" value="<?php echo $this->language->_('Cancel Virtual Payment')?>" class="btn btn-warning hidden" onclick="return confirm('<?php echo $confirm?>')">
							<?php 
						}else{
							 ?>
							 	<input type="submit" value="<?php echo $this->language->_('Cancel Virtual Payment')?>" class="btn btn-warning hidden" disabled>
							 <?php 
						}
					}
					?>
					<?php }?>
					
				</div>
			</td>
		</tr>
	</table>
</form>
<?php }?>
