<b>Table > User</b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('User'); ?></div>
<?php
if($this->cust_id){
  $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
  $user_status = array_flip($this->status_type['code']);
  $option_status = array(''=>'-- All --',
  						 $this->status_type['code']['active']=>$this->status_type['desc']['active'],
  						 $this->status_type['code']['inactive']=>$this->status_type['desc']['inactive'],
  						 $this->status_type['code']['suspended']=>$this->status_type['desc']['suspended'],
  						 $this->status_type['code']['disable']=>$this->status_type['desc']['disable']);
?>
<?php if($this->cust_status==$this->status_type['code']['active']){ ?>
<div><a href="<?=$this->btn_add?>" class="inputbtn"><?=$this->change_type['desc']['new']?></a></div><br />
<?php } ?>
<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('uid',$this->language->_('User ID')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('uid',$this->uid,array('class'=>'currency')); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('uname',$this->language->_('User Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('uname',$this->uname,array('class'=>'currency')); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formSelect('status',$this->status,null,$option_status); ?></td>
    </tr>
    <tr>
      <td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter','Filter',array('class'=>'inputbtn')); ?>&nbsp;
	  <?php echo $this->formSubmit('filter','Display All',array('class'=>'inputbtn')); ?>
      </td>
    </tr>
  </table>
</form>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>
<?php if($this->filter){ ?>
<br />
  <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
  <br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
      <th width="3%" valign="top"><?php echo $this->language->_('No'); ?></th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
  	  <th valign="top">Action</th>
    </tr>
<?php
if(count($this->paginator) > 0){
  $i = 0;
  foreach($this->paginator as $row){
	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	$button1 = $this->btn_view.$row['USER_ID'];
	$button1 = '<a href="'.$button1.'" class="inputbtn">'.$this->language->_('View').'/'.$this->language->_('Edit').'</a>';
	
	/*
	if($row['USER_STATUS']==$this->status_type['code']['active']){ 
		$status = $this->status_type['desc']['active']; 
	}
	else{ 
		$status = $this->status_type['desc']['inactive']; 
	}
	*/
	$status = '&nbsp;';
	if(array_key_exists($row['USER_STATUS'],$user_status))$status = $this->status_type['desc'][$user_status[$row['USER_STATUS']]];
	
	if($row['USER_HASTOKEN']==$this->ynstatus_type['code']['yes']){ 
		$has_token = $this->ynstatus_type['desc']['yes']; 
	}
	else{ 
		$has_token = $this->ynstatus_type['desc']['no']; 
	}
		
	if($this->cust_status==$this->status_type['code']['active']){
	  
      if($row['USER_STATUS']==$this->status_type['code']['active']){
      	$button2 ='<a href="'.$this->url(array('module' => 'user','controller'=>'active','action'=>'index','user_id'=>$row['USER_ID'],'user_status'=>$this->status_type['code']['inactive']),null,true).'" onclick=\'return confirm("Are you sure want to '.$this->change_type['desc']['deactivate'].' this User?");\' class="inputbtn">'.$this->change_type['desc']['deactivate'].'</a>';
	  }else{
		$button2 ='<a href="'.$this->url(array('module' => 'user','controller'=>'active','action'=>'index','user_id'=>$row['USER_ID'],'user_status'=>$this->status_type['code']['active']),null,true).'" onclick=\'return confirm("Are you sure want to '.$this->change_type['desc']['activate'].' this User?");\' class="inputbtn">'.$this->change_type['desc']['activate'].'</a>';
	  }
	  if($row['FGROUP_NAME'] == 'Sysadmin')
  	  	$button2 = '';
	}
	else{ 
		$button1 = '';
		$button2 = '';  
	}
		  
	echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['USER_ID'].'</td>
			<td class="'.$td_css.'">'.$row['USER_NAME'].'</td>
			<td class="'.$td_css.'">'.$row['FGROUP_NAME'].'</td>
			<td class="'.$td_css.'">'.$status.'</td>
			<td class="'.$td_css.'">'.$has_token.'</td>
			<td class="'.$td_css.'">'.$button1.'&nbsp;&nbsp;'.$button2.'</td>
		  </tr>';
    $i++;
    $counter++;
  }
}else{ echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> - '.$this->language->_('no data').' - </td></tr>'; }
?>
</table>&nbsp;
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<?php
  }
}else{
?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>