<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Suggestion Detail'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Customer'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  table th,
  table td {
    border-top: 0 !important;
  }
</style>

<h5><?= $this->language->_('Change Information'); ?></h5>

<?= $this->action('message', 'tools', 'changemanagement', array('changes_id' => $this->changes_id)); ?>

<?php
if ($this->error) {  ?>
  <div class="alert alert-danger">
    <?php
    echo $this->language->_($this->ERROR_MSG);
    ?>
  </div><br />
<?php
}
?>

<br>
<div class="row">
  <div class="col">
    <h5><?= $this->language->_('Suggestion Detail Customer'); ?></h5>
  </div>
  <?php if ($this->changes_type == 'E') : ?>
    <div class="col text-right">
      <button id="btnDiffOnly" type="button" class="btngreen hov"><?= $this->language->_('Show Difference Only'); ?></button>
    </div>
  <?php endif; ?>
</div>

<div class="row">
  <div class="portlet-body form col-md-12">
    <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
      <?php if ($this->changes_type != 'E') { ?>
        <tr>
          <td colspan="4" class="tbl-evencontent"><b><?= $this->language->_('New Customer Detail'); ?></b></td>
        </tr>
      <?php } ?>
      <?php if ($this->changes_type == 'E') { ?>
        <tr class="diffRow">
          <td width="200" class="tbl-evencontent"><b><?= $this->language->_('Field Name'); ?></b></td>
          <td width="3" class="tbl-evencontent">&nbsp;</td>
          <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Current Value'); ?></b></td>
          <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Suggested Value'); ?></b></td>
        </tr>
      <?php } ?>
      <tbody>
        <tr class="diffRow" style="background-color:#003f6e">
          <td colspan="4" style="color:#fff"><?= $this->language->_('Company Detail'); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_model', $this->language->_('Customer Model')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_model', $this->m_cust_model, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_model', $this->cust_model, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_id', $this->language->_('Customer Code')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_id', $this->m_cust_id, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_id', $this->cust_id, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_cif', $this->language->_('Company CIF')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_cif', $this->m_cust_cif, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_cif', $this->cust_cif, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_name', $this->language->_('Company Name')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_name', $this->m_cust_name, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_name', $this->cust_name, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_npwp', $this->language->_('Company NPWP')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_npwp', $this->m_cust_npwp, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_npwp', $this->cust_npwp, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_type', $this->language->_('Company Type')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_type', $this->m_cust_type, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_type', $this->cust_type, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('business_type', $this->language->_('Economic Sector')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('business_type', $this->m_business_type, array('class' => 'data')); ?></td> <?php } ?>
          <!-- <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('business_type', $this->business_type, array('class' => 'dataChange')); ?></td> -->
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('business_type', $this->business_type, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('go_public', $this->language->_('Go Public')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('go_public', $this->m_go_public, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('go_public', $this->go_public, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('go_public', $this->language->_('Grup BUMN')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('grup_bumn', $this->m_grup_bumn, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('grup_bumn', $this->grup_bumn, array('class' => 'dataChange')); ?></td>
        </tr>
        <?php if ($this->cust_model == 'Applicant' || $this->cust_model == 'Insurance') : ?>
          <tr>
            <td class="tbl-evencontent">
              <?= ($this->cust_model == 'Applicant') ? $this->formLabel('debitur_code', $this->language->_('Golongan Debitur Code')) : $this->formLabel('penjamin_code', $this->language->_('Kode Golongan Penjamin')); ?>
            </td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('debitur_code', $this->m_debitur_code, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('debitur_code', $this->debitur_code, array('class' => 'dataChange')); ?></td>
          </tr>
        <?php endif; ?>
        <?php if ($this->cust_model == 'Applicant' || $this->cust_model == 'Insurance') : ?>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('collect_code', $this->language->_('Collectibility Code')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('collect_code', $this->m_collect_code, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('collect_code', $this->collect_code, array('class' => 'dataChange')); ?></td>
          </tr>
        <?php endif; ?>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_address', $this->language->_('Address')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_address', $this->m_cust_address, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_address', $this->cust_address, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_village', $this->language->_('Kelurahan')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_village', $this->m_cust_village, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_village', $this->cust_village, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_district', $this->language->_('Kecamatan')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_district', $this->m_cust_district, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_district', $this->cust_district, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_city', $this->language->_('Kabupaten/City')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_city', $this->m_cust_city, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_city', $this->cust_city, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_zip', $this->language->_('Zip')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_zip', $this->m_cust_zip, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_zip', $this->cust_zip, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('country_code', $this->language->_('Country')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('country_code', $this->m_country_code, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('country_code', $this->country_code, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr class="diffRow">
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="diffRow" style="background-color:#003f6e">
          <td colspan="4" style="color:#fff"><?= $this->language->_('Contact Info'); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_contact', $this->language->_('Contact Person')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_contact', $this->m_cust_contact, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_contact', $this->cust_contact, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_contact_phone', $this->language->_('Contact Number')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_contact_phone', $this->m_cust_contact_phone, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_contact_phone', $this->cust_contact_phone, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_email', $this->language->_('Contact Email')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_email', $this->m_cust_email, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_email', $this->cust_email, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_phone', $this->language->_('Company Phone')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_phone', $this->m_cust_phone, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_phone', $this->cust_phone, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('cust_website', $this->language->_('Company Website')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_website', $this->m_cust_website, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_website', $this->cust_website, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr class="diffRow">
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="diffRow" style="background-color:#003f6e">
          <td colspan="4" style="color:#fff"><?= $this->language->_('Company Account'); ?></td>
        </tr>
        <tr class="diffRow">
          <td colspan="4">
            <table width="100%">
              <tr>
                <td><b><i><?= $this->language->_('Account Number'); ?></i></b></td>
                <td><b><i><?= $this->language->_('Account Name'); ?></i></b></td>
                <td><b><i><?= $this->language->_('Type'); ?></i></b></td>
                <td><b><i><?= $this->language->_('Currency'); ?></i></b></td>
              </tr>
              <?php if (count($this->accountInfo) > 0) : ?>
                <?php foreach ($this->accountInfo as $row) : ?>
                  <tr>
                    <td><?= $row['ACCT_NO']; ?></td>
                    <td><?= $row['ACCT_NAME']; ?></td>
                    <td><?= $row['ACCT_DESC']; ?></td>
                    <td><?= $row['CCY_ID']; ?></td>
                  </tr>
                <?php endforeach; ?>
              <?php else : ?>
                <tr>
                  <td colspan="4" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
                </tr>
              <?php endif; ?>
            </table>
          </td>
        </tr>
        <?php if ($this->cust_model == 'Applicant') : ?>
          <tr class="diffRow">
            <td colspan="4">&nbsp;</td>
          </tr>
          <tr class="diffRow" style="background-color:#003f6e">
            <td colspan="4" style="color:#fff"><?= $this->language->_('Submission Workflow'); ?></td>
          </tr>
          <tr class="diffRow">
            <td colspan="4" align="center">
              <table>
                <tr style="background-color:#fff">
                  <td align="center">
                    <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
                  </td>
                  <td align="center">
                    <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                  </td>
                  <?php if ($this->cust_approver == 1) : ?>
                    <td align="center">
                      <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
                    </td>
                    <td align="center">
                      <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                    </td>
                  <?php endif; ?>
                  <td align="center">
                    <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
                  </td>
                </tr>
                <tr>
                  <td align="center">MAKER</td>
                  <td align="center">
                    <!-- hanya jarak  -->
                  </td>
                  <?php if ($this->cust_approver == 1) : ?>
                    <td align="center">APPROVER</td>
                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>
                  <?php endif; ?>
                  <td align="center">RELEASER</td>
                </tr>
                <tr style="background-color:#fff">
                  <td align="center">
                    <img src="/images/check.png" style="width:20px; height:20px" id="checkMakerImg">
                  </td>
                  <td align="center">
                    <!-- hanya jarak  -->
                  </td>
                  <?php if ($this->cust_approver == 1) : ?>
                    <td align="center">
                      <img src="/images/check.png" style="width:20px; height:20px" id="checkMakerImg" class="insurance">
                    </td>
                    <td align="center">
                      <!-- hanya jarak  -->
                    </td>
                  <?php endif; ?>
                  <td align="center">
                    <img src="/images/check.png" style="width:20px; height:20px" id="checkReleaserImg">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <?php endif; ?>
      </tbody>
    </table>
  </div>
</div>

<br>
<div align="center">
  <?php
  echo $this->action(
    'index',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>
</div>
<!-- <div class="row" id="btn_action">
  <div class="col-md-12 d-flex justify-content-center">
    <form action="" method="post">
      <?php
      if ($this->changes_status != 'RR') {
        // if($this->hasPrivilege('ALFC')){
        echo $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1']);
        echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'rejectmodal()']);
        echo $this->formSubmit('submit_request_repair', $this->language->_('Request Repair'), ['class' => 'btnwhite hov mr-1']);
        // }
      }
      // if($this->hasPrivilege('RPFC')){
      echo $this->formButton('submit_repair', $this->language->_('Repair'), ['class' => 'btngreen hov mr-1', 'onclick' => "window.location.href='/customer/suggestiondetail/repair/changes_id/$this->changes_id'"]);
      // }
      ?>
    </form>
  </div>
</div> -->
<form name="exportForm" id="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">

  <div class="modal fade" id="dialogreject_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Notes') ?>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
          <?php echo $this->formTextarea('PS_REASON_REPAIR', null, array(
            'cols' => '40%', 'rows' => '4',
            'onKeyDown' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
            'onKeyUp' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
            'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON2', 'style' => 'font-size:1.2em'
          )) ?>
          <br>
          <div class="input-group">
            <?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
            <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
          <button type="button" class="btngreen hov" id="btn_reject"><?php echo $this->language->_('Submit') ?></button>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  function rejectmodal() {

    $('#dialogreject_box').modal('show');
    $("#btn_reject").attr('onclick',
      'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogreject_box").modal("hide");$("<input>", {type: "hidden",name: "submit_reject",value: "true"}).appendTo("#exportForm");$("#exportForm").submit();}'
    );
  }
</script>
<?php if ($this->is_request_repair || $this->is_reject || $this->is_approve) : ?>
  <script>
    $('#btn_action').remove();
    window.opener.location.reload(true);
  </script>
<?php endif; ?>

<?php if ($this->changes_type == 'E') { ?>
  <script>
    //user role diff
    if ($(".Sugg_userrole").text() != $(".Curr_userrole").text()) {
      $(".Sugg_userrole").css('background-color', '#fffe5c');
      $(this).addClass('diffRow');
    }
    $("table.table-sugg > tbody > tr").each(function() {
      var data = $(this).find(".data");
      var dataChange = $(this).find(".dataChange");
      if (data.text() != dataChange.text()) {
        dataChange.css('background-color', '#fffe5c');
        $(this).addClass('diffRow');
      }
    });

    $("#btnDiffOnly").click(function() {
      $("table.table-sugg > tbody > tr").each(function() {
        var className = $(this).attr('class');
        if (className != 'diffRow' && $(this).is(":visible")) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    });

    //diff for Privilege list
    // suggested priv
    <?php
    if (count($this->priviList) > 0) {
      foreach ($this->priviList as $privi) {
    ?>
        var currentValue = $('.curr_<?= $privi ?>');
        var suggestedtValue = $('.sugg_<?= $privi ?>');
        if (currentValue.text() != suggestedtValue.text()) {
          suggestedtValue.css('background-color', '#fffe5c');
          suggestedtValue.attr('title', 'Added');
          suggestedtValue.closest('tr').addClass('diffRow');
        }
    <?php
      }
    }
    ?>
    // current priv
    <?php
    if (count($this->m_priviList) > 0) {
      foreach ($this->m_priviList as $privi) {
    ?>
        var currentValue = $('.curr_<?= $privi ?>');
        var suggestedtValue = $('.sugg_<?= $privi ?>');
        if (currentValue.text() != suggestedtValue.text()) {
          currentValue.css('background-color', '#ff2222');
          currentValue.attr('title', 'Removed');
          currentValue.closest('tr').addClass('diffRow');
        }
    <?php
      }
    }
    ?>
  </script>
<?php } ?>