<b><?php echo $this->language->_('Payment');?> &gt; <?php echo $this->language->_('Cable TV Payment');?></b><br /><br />

<!--<div class="successmsg">Payment Success</div>-->
<div class="errmsg">
<?php 
	echo $this->language->_($this->paramSession['paymentMessage']);		
?>
</div>
<br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="3" class="tdform-sub"><?php echo $this->language->_('Cable TV Payment');?></td></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Payment Reff#',$this->language->_('Payment Ref').'#'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['PSNumber']?></td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Source Account');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['ACCTSRC']?> [<?=$this->paramSession['ccy']?>] - <?=$this->paramSession['ACCT_NAME_DATA']?> (<?=$this->paramSession['ACCT_TYPE']?>)</td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Date - Time');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->formLabel('datetime',$this->paramSession['date']); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Service Provider');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $this->formLabel('service',$this->paramSession['operatorNama']); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Customer ID');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?=$this->paramSession['orderId']?></td>
		</tr>
		<?php if($this->paramSession['ACCT_NAME']){?>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Customer Name');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['ACCT_NAME']?>
			</td>
		</tr>
		<?php } ?>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Total Payment');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
			</td>
		</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:left">
					<input type="submit" name="submit" value="<?php echo $this->language->_('Back');?>" class="inputbtn"/>
					<input type="button" value="<?php echo $this->language->_('Print');?>" onClick="window.print();" class="inputbtn">
					
					<?php echo $this->formSubmit('pdf',$this->language->_('PDF'),array('class'=>'inputbtn')); ?>

					
				</div>
			</td>
		</tr>
	</table>
</form>