<style>
    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }

    .autocomplete-selected {
        background: blue;
        color: white;
    }

    .autocomplete-suggestions strong {
        font-weight: bold;
        color: orange;
    }

    .autocomplete-group {
        padding: 2px 5px;
    }

    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }
</style>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>

<form action="" method="GET">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group row">
                <div class="col-sm-6">
                    <h6><b>Pejabat Pembubuh Tanda Tangan</b></h6>
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-sm-6">
                    <h6><b>Filter</b></h6>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="" class="textGray col-form-label" style="font-size: 1rem">Bank Cabang</label>
                </div>
                <div class="col-sm-7 d-flex align-items-center">
                    <input type="text" class="form-control" id="autocomplete">
                    <input type="hidden" name="bank_branch">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="" class="textGray col-form-label" style="font-size: 1rem">Nama User</label>
                </div>
                <div class="col-sm-7 d-flex align-items-center">
                    <input type="text" class="form-control" name="cust_name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="" class="textGray col-form-label" style="font-size: 1rem">Nama Group Privilege</label>
                </div>
                <div class="col-sm-7 d-flex align-items-center">
                    <?= $this->formSelect("bgroup", "", ["class" => "form-control"], $this->allGroup); ?>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" name="back" id="back" class="btn-sm btnwhite hov" onclick="location.href='/signatureregistration/detail/getsign/who/1'">TAMPIL SEMUA</button>
                    <button type="submit" name="filter" id="filter" value="1" class="btngreen hov">FILTER</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <h6 class="text-danger">TTD <?= strval($this->who); ?></h6>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="tablehead">No</th>
                    <th class="tablehead">Id User</th>
                    <th class="tablehead">Nama User</th>
                    <th class="tablehead">Bank Cabang</th>
                    <th class="tablehead">ID Grup Privilege</th>
                    <th class="tablehead">Nama Grup Privilege</th>
                    <th class="tablehead">Tindakan</th>
                </tr>
            </thead>
            <tbody>
                <?php $counter = 1;
                if (count($this->paginator) > 0) {
                    foreach ($this->paginator as $data) { ?>
                        <tr>
                            <td><?= $counter; ?></td>
                            <td>
                                <?= $data["BUSER_ID"]; ?>
                                <input type="hidden" name="buser_id" value="<?= $data['BUSER_ID']; ?>">
                            </td>
                            <td>
                                <?= $data["BUSER_NAME"]; ?>
                                <input type="hidden" id="buser_name" value="<?= $data['BUSER_NAME']; ?>">
                                <input type="hidden" id="buser_email" value="<?= $data['BUSER_EMAIL']; ?>">
                            </td>
                            <td><?= $data["BRANCH_NAME"]; ?></td>
                            <td><?= $data["BGROUP_ID"]; ?></td>
                            <td><?= $data["BGROUP_DESC"]; ?></td>
                            <td>
                                <a href="javascript:void(0)" class="text-body" onclick="sendbuser(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 1.5rem; height: 1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    <?php $counter += 1;
                    }
                } else { ?>
                    <tr>
                        <td colspan="7" class="tbl-evencontent fth-footer" align="center"> ---No Data --- </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function sendbuser(event) {
        const getbuserid = event.parentElement.parentElement.querySelector("input[name=buser_id]").value
        const getbusername = event.parentElement.parentElement.querySelector("#buser_name").value
        const getbuseremail = event.parentElement.parentElement.querySelector("#buser_email").value
        window.opener.document.querySelector("<?= "#ttd" . $this->who . "user"; ?>").value = `${getbusername} (${getbuserid})`
        window.opener.document.querySelector("<?= "#ttd" . $this->who . "userid"; ?>").value = getbuserid
        window.opener.document.querySelector("<?= "#ttd" . $this->who . "useremail"; ?>").value = getbuseremail
        window.close()
    }
    document.addEventListener("DOMContentLoaded", () => {
        // when dom all loaded

        var currencies = <?php echo $this->brancharr; ?>;
        $('#autocomplete').autocomplete({
            lookup: currencies,
            onSelect: function(suggestion) {
                document.querySelector("input[name=bank_branch]").value = suggestion.ID;
                // $('#COMPANY_ID').val(suggestion.CUST_ID);
                // $('#COMPANY_NAME').val(suggestion.CUST_NAME);
                // $('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
            }
        });

    })
</script>