<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?=$this->language->_('Virtual Payment');?></a></li>
  <li><a href="#" style="font-size: 11px;"><?=$this->language->_('Payment Upload List');?></a></li>
  <li><?php echo $this->language->_('Detail'); ?></li>
  
</ol>
</b>

<br/>
<br/>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'edit','reff'=>$this->data['VP_NUMBER']),null,true)?>" method="post">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content" style="width:50%;min-width: 400px;">
	<?php

	echo '<tr>
				<td class="tbl-evencontent">'.$this->language->_('BIN').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_BIN'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Company Code').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_ID'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('BIN Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_ID'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Company Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_NAME'].'</td>
			</tr>';

	?>

</table>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Uploaded Detail'); ?></strong></th></tr>
	<?php 
	if (is_array($this->data) && count($this->data)){
echo '
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('VP Transaction ID').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_BIN'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('VA Status').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optStatus[$this->data['VP_STATUS']].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('VA Number').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_NUMBER'].'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Invoice Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['INVOICE_NAME'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder SMS').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->formText('NOTIFICATION_SMS',$this->data['NOTIFICATION_SMS'],array('class'=>'form-control')).'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Invoice Description').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['INVOICE_DESC'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder Email').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->formText('NOTIFICATION_EMAIL',$this->data['NOTIFICATION_EMAIL'],array('class'=>'form-control')).'</td>


				
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Uploaded Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>
				<td class="tbl-evencontent">'.$this->language->_('Uploaded By').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>

				
			</tr>
			<tr>
				
				<td class="tbl-evencontent">'.$this->language->_('Updated Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>
			
				<td class="tbl-evencontent">'.$this->language->_('Updated By').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>

				
			</tr>
			</table>';
?>
</div>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Setup Detail'); ?></strong></th></tr>
	<?php
	if(!empty($this->data['REPEAT_UNTIL_TIMES'])){
				$until = $this->data['REPEAT_UNTIL_TIMES'].' Times';
			}else if(!empty($this->data['REPEAT_UNTIL_DATE'])){
				$until = 'Date '.$this->data['REPEAT_UNTIL_DATE'];
			}
		echo '<tr>
				<td class="tbl-evencontent">'.$this->language->_('Repeat').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optRepeat[$this->data['REPETITION']].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Repeat Every').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optDay[$this->data['REPEAT_EVERY']].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Repeat until').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$until.'</td>
				<td class="tbl-evencontent" colspan="3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Due Date Set After').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optDay[$this->data['REPEAT_EVERY']] .' '.$this->data['REPEAT_UNTIL_DATE'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder Notification').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'; ?>

				<select name = "remain_notif" id = "remain_notif" class="form-control">
                                        					<option value=""> --<?php echo $this->language->_(' Any Value '); ?>-- </option>

                                        					<option value="0"><?php echo $this->language->_('None'); ?></option>
                                        					<option value="1"><?php echo $this->language->_('15 Minutes'); ?></option>
                                        					<option value="2"><?php echo $this->language->_('30 Minutes'); ?></option>
                                        					<option value="3"><?php echo $this->language->_('1 Hours'); ?></option>
                                        					<option value="4"><?php echo $this->language->_('2 Hours'); ?></option>
                                        					<option value="5"><?php echo $this->language->_('1 Day'); ?></option>
                                        					<option value="6"><?php echo $this->language->_('2 Days'); ?></option>
                                        					<option value="7"><?php echo $this->language->_('1 Weeks'); ?></option>
                                        					<option value="8"><?php echo $this->language->_('1 Months'); ?></option>
                                        					</select>
                                        					 <?php echo '</td>
			</tr>

			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Virtual Account After Due Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optVapPayment[$this->data['VP_AFTER']].'</td>
				<td class="tbl-evencontent" colspan="3"></td>
			</tr>
			</table>
			';
?>
</div>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Bill Detail'); ?></strong></th></tr>			

			<?php
			// print_r($this->optPaid);die;
			echo '
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Effective Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.Application_Helper_General::convertDate($this->data['VP_EFDATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				<td class="tbl-evencontent">'.$this->language->_('Bill Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optVaType[$this->data['VP_TRANSFER_TYPE']].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Due Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.Application_Helper_General::convertDate($this->data['DUE_DATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				<td class="tbl-evencontent">'.$this->language->_('CCY').'/'.$this->language->_('Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CCY'].''.SGO_Helper_GeneralFunction::displayCurrency($this->data['AMOUNT']).'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Payment Input Method').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optVaType[$this->data['VP_TRANSFER_TYPE']].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Fully Paid').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optPaid[$this->data['PAID_STATUS']].'</td>
			</tr>
			
			';?>

			
			<?php 
			
	}else{
		echo '<tr>
			<td class="tbl-evencontent" colspan="3"> --- '.$this->language->_('No Data').' --- </td>
		</tr>';
	}
	?>
	
</table>
</div>
<br>
<table cellpadding="3" cellspacing="0" border="0" >
	<strong><?php echo $this->language->_('Total 1 Payment(s), Amount');?> <?php echo SGO_Helper_GeneralFunction::displayCurrency($this->data['AMOUNT']);?></strong>
</table>
<br />
<?php
if (is_array($this->data) && count($this->data)){
?>
<!--<table cellpadding="3" cellspacing="0" border="0" >
	<tr>
		<th><?php echo $this->language->_('User'); ?></th>
		<th><?php echo $this->language->_('Action'); ?></th>
		<th><?php echo $this->language->_('Date/Time'); ?></th>
		<th><?php echo $this->language->_('Reason'); ?></th>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?=$this->user?></td>
		<td class="tbl-evencontent"><?php echo $this->language->_('Maker'); ?></td>
		<td class="tbl-evencontent"><?=date('d-m-Y H:i:s')?></td>
		<td class="tbl-evencontent">N/A</td>
	</tr>
</table>
<br />-->
<?php
}
?>

<table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">	<tbody>
							<tr>
								<td>&nbsp;</td>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true);?>'" class="btn btn-warning" value="<?php echo $this->language->_('Cancel')?>" />&nbsp;&nbsp;
										<input type="submit" class="btn btn-warning" id="Submit_id" name="submit" value="<?php echo $this->language->_('Submit')?>" />
									</div>
								</td>
							</tr>
						</tbody>
					</table>
</form>


