<?PHP
$this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
	@media print {

		.hidden,
		.hidden * {
			display: none !important;
			visibility: hidden;
		}

		button {
			display: none !important;
			visibility: hidden;
		}

		/*form {
		display: none !important;
		visibility: hidden;
	}*/

		.hiddenLogo,
		.hiddenLogo * {
			display: inline !important;
			visibility: show;
		}

		input.currency {
			width: 200px;
			font-size: 10px;
		}

		ul {
			padding-left: 10px;
		}

		h2 {
			color: #5B0000;
			font-size: 16px;
			font-weight: bold
		}

		body .ui-helper-hidden-accessible {
			position: fixed
		}

		body {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			background-color: white;
		}

		b {
			font-weight: bold;
			font-size: 11px
		}

		td {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #000000;
			text-decoration: none;
		}

		a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #000000;
			text-decoration: underline;
		}

		.tbl-evencontent {
			background-color: none;
			padding: 1px 1px 1px 1px;
			border-bottom: 1px solid #A9A9A9;
			border-right: 1px solid #A9A9A9;
			border-left: 1px solid #A9A9A9;
			border-top: 1px solid #A9A9A9;
			vertical-align: top;
			font-size: 10px;
		}

		.tbl-oddcontent {
			background-color: none;
			padding: 1px 1px 1px 1px;
			border-bottom: 1px solid #A9A9A9;
			border-right: 1px solid #A9A9A9;
			border-left: 1px solid #A9A9A9;
			border-top: 1px solid #A9A9A9;
			vertical-align: top;
			font-size: 10px;
		}

		.tdform-sub {
			background-color: #0c67a0;
			padding: 4px 4px 4px 4px;
			border-bottom: 0px solid #A9A9A9;
			border-top: 1px solid #A9A9A9;
			;
			border-right: 1px solid #A9A9A9;
			;
			border-left: 1px solid #A9A9A9;
			vertical-align: top;
			font-weight: bold;
			color: white;
		}

		.tdform-odd {
			background-color: #FFFFFF;
			padding: 4px 4px 4px 4px;
			border: 1px solid;
			vertical-align: top;
		}

		.errmsg {
			font-weight: bold;
			font-size: 11px;
			color: #FF0000
		}

		body {
			font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
			-webkit-print-color-adjust: exact;
			/*chrome*/
			-moz-print-color-adjust: exact;
			/*mozila*/
			-o-print-color-adjust: exact;
			/*opera*/
			-ms-print-color-adjust: exact;
			/*ie*/
		}


	}

	.roundChk label{
		cursor: default !important;
	}

	.label{
		margin-bottom: 0px !important;
	}
</style>

<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0" /></div>


<?php
	require_once 'Crypt/AESMYSQL.php';
					$AESMYSQL = new Crypt_AESMYSQL();
					$rand = $this->token;
					$encrypted_pwd = $AESMYSQL->encrypt($this->PS_NUMBER, $rand);
					// $dt["payReff"] = urlencode($encrypted_pwd);
					$encreff = urlencode($encrypted_pwd);

?>

<?php if ($this->pdf == false) {	?>
	<style type="text/css">
		#dhtmltooltip {
			position: absolute;
			left: -300px;
			width: 150px;
			border: 1px solid black;
			padding: 2px;
			background-color: lightyellow;
			visibility: hidden;
			z-index: 100;
			/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
			/*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
		}

		#dhtmlpointer {
			position: absolute;
			left: -300px;
			z-index: 101;
			visibility: hidden;
		}
	</style>

	<!-- ------------------------- begin ToolTip ------------------------- -->
	<script type="text/javascript">

		function modalbene(){
			$("#myModalApproval").modal();
		}

		function modalmoredetail(){
			$("#myModalMoreDetail").modal();
		}
		
		function modaldetail(){
			$("#myModalDetail").modal();
		}
		
		
		/***********************************************
		 * Cool DHTML tooltip script II- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
		 * This notice MUST stay intact for legal use
		 * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
		 ***********************************************/

		var offsetfromcursorX = 12 //Customize x offset of tooltip
		var offsetfromcursorY = 10 //Customize y offset of tooltip

		var offsetdivfrompointerX = 10 //Customize x offset of tooltip DIV relative to pointer image
		var offsetdivfrompointerY = 14 //Customize y offset of tooltip DIV relative to pointer image. Tip: Set it to (height_of_pointer_image-1).

		document.write('<div id="dhtmltooltip"></div>') //write out tooltip DIV
		document.write('<img id="dhtmlpointer" src="/images/arrow2.gif">') //write out pointer image

		var ie = document.all
		var ns6 = document.getElementById && !document.all
		var enabletip = false
		if (ie || ns6)
			var tipobj = document.all ? document.all["dhtmltooltip"] : document.getElementById ? document.getElementById("dhtmltooltip") : ""

		var pointerobj = document.all ? document.all["dhtmlpointer"] : document.getElementById ? document.getElementById("dhtmlpointer") : ""

		function ietruebody() {
			return (document.compatMode && document.compatMode != "BackCompat") ? document.documentElement : document.body
		}

		function ddrivetip(thetext, thewidth, thecolor) {
			if (ns6 || ie) {
				if (typeof thewidth != "undefined") tipobj.style.width = thewidth + "px"
				if (typeof thecolor != "undefined" && thecolor != "") tipobj.style.backgroundColor = thecolor
				tipobj.innerHTML = thetext
				enabletip = true
				return false
			}
		}

		function positiontip(e) {
			if (enabletip) {
				var nondefaultpos = false
				var curX = (ns6) ? e.pageX : event.clientX + ietruebody().scrollLeft;
				var curY = (ns6) ? e.pageY : event.clientY + ietruebody().scrollTop;
				//Find out how close the mouse is to the corner of the window
				var winwidth = ie && !window.opera ? ietruebody().clientWidth : window.innerWidth - 20
				var winheight = ie && !window.opera ? ietruebody().clientHeight : window.innerHeight - 20

				var rightedge = ie && !window.opera ? winwidth - event.clientX - offsetfromcursorX : winwidth - e.clientX - offsetfromcursorX
				var bottomedge = ie && !window.opera ? winheight - event.clientY - offsetfromcursorY : winheight - e.clientY - offsetfromcursorY

				var leftedge = (offsetfromcursorX < 0) ? offsetfromcursorX * (-1) : -1000

				//if the horizontal distance isn't enough to accomodate the width of the context menu
				if (rightedge < tipobj.offsetWidth) {
					//move the horizontal position of the menu to the left by it's width
					tipobj.style.left = curX - tipobj.offsetWidth + "px"
					nondefaultpos = true
				} else if (curX < leftedge)
					tipobj.style.left = "5px"
				else {
					//position the horizontal position of the menu where the mouse is positioned
					tipobj.style.left = curX + offsetfromcursorX - offsetdivfrompointerX + "px"
					pointerobj.style.left = curX + offsetfromcursorX + "px"
				}

				//same concept with the vertical position
				if (bottomedge < tipobj.offsetHeight) {
					tipobj.style.top = curY - tipobj.offsetHeight - offsetfromcursorY + "px"
					nondefaultpos = true
				} else {
					tipobj.style.top = curY + offsetfromcursorY + offsetdivfrompointerY + "px"
					pointerobj.style.top = curY + offsetfromcursorY + "px"
				}
				tipobj.style.visibility = "visible"
				if (!nondefaultpos)
					pointerobj.style.visibility = "visible"
				else
					pointerobj.style.visibility = "hidden"
			}
		}

		function hideddrivetip() {
			if (ns6 || ie) {
				enabletip = false
				tipobj.style.visibility = "hidden"
				pointerobj.style.visibility = "hidden"
				tipobj.style.left = "-1000px"
				tipobj.style.backgroundColor = ''
				tipobj.style.width = ''
			}
		}

		document.onmousemove = positiontip
	</script>
<?php }	?>
<div class="row hiddenprint">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Transaction Workflow') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Review') ?></span>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Detail') ?></span>
				</li>

			</ul>
		</div>
	</div>
</div>

<!-- <form name="exportPdf" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
	<?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf', '  PDF is too large (function is disabled)', array('class' => 'btngrad disabled', 'disabled' => 'disabled')); ?>&nbsp;
	<?php } else { ?>
		<?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngrad', 'style' => 'cursor: pointer;')); ?>&nbsp;
	<?php } ?>

</form> -->

<div class="container">
  <div class="row">
    <div class="col-md-6" align="left">
        <h5><b><?php echo $this->language->_('Review Authorization Detail')?></b></h5>
    </div>
    <div class="col-md-6" align="right">
      <form name="exportForm" class="form-horizontal form-bordered form-row-stripped" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?> method="post">
        <div style="float:right; padding-left:10px;">
          <div class="wrapper">
              <i class="fa fa-print iconins"></i>
              <input type="submit" name="pdf" class="btngrad hov" value="<?php echo $this->language->_('Print') ?>" > 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>

<form name="approveForm" id="reviewForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
	<input type="hidden" name="payReff" value="<?php echo $encreff; ?>">
	<input type="hidden" name="process" value="">

	<div class="container-fluid content-box" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
		<table width="100%" border="0">

			<?php
			if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
				$makerAlign = "right";
				$makerHrStyle = "width: 25%;";
				$makerCircleStyle = 'padding-right: 10px;';
				$makerFontStyle = "padding-right: 17px;";

				$releaserAlign = "left";
				$releaserCircleStyle = 'padding-left: 10px;';
				$releaserFontStyle = "padding-left: 12px;";
				$releaserText = "2";
			?>

				<style type="text/css">
					#makerCircle {
						margin-top: 10%;
					}

					#releaserCircle {
						margin-top: 10%;
					}
				</style>

			<?php



			} else {
				$makerAlign = "center";
				$releaserAlign = "center";
				$approverText = "3";
				$releaserText = "4";
			}

			if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
				$approverText = "2";
				$releaserText = "3";
			} elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
				$releaserText = "3";
			}

			?>


			<tr>
				<td align="<?php echo $makerAlign; ?>" style="<?php echo $makerCircleStyle ?>"><?php echo (!empty($this->makerStatus) ? $this->makerNameCircle : '<button class="btnCircle" disabled>1</button>') ?></td>
				<td style="<?php echo $makerHrStyle; ?>">
					<hr class="hrline <?= $this->makerStatus; ?>">
				</td>
				<?php if ($this->cust_reviewer == 1) { ?>
					<td align="center"><?php echo $this->reviewerNameCircle; ?></td>
					<td>
						<hr class="hrline <?= $this->reviewStatus; ?>">
					</td>
				<?php } ?>

				<?php if ($this->cust_approver == 1) { ?>
					<td align="center"><?php echo $this->approverNameCircle; ?></td>
					<td>
						<hr class="hrline <?= $this->approveStatus; ?>">
					</td>
				<?php } ?>

				<td align="<?php echo $releaserAlign; ?>" style="<?php echo $releaserCircleStyle ?>"><?php echo $this->releaserNameCircle; ?></td>
			</tr>
			<tr>
				<td align="<?php echo $makerAlign; ?>" style="<?php echo $makerFontStyle; ?>">Maker</td>
				<td></td>

				<?php if ($this->cust_reviewer == 1) { ?>
					<td align="center">Reviewer</td>
					<td></td>
				<?php } ?>

				<?php if ($this->cust_approver == 1) { ?>
					<td align="center">Approver</td>
					<td></td>
				<?php } ?>

				<td align="<?php echo $releaserAlign; ?>" style="<?php echo $releaserFontStyle; ?>">Releaser</td>
			</tr>
			<tr>
				<td align="center"></td>
				<td></td>

				<?php if ($this->cust_reviewer == 1) { ?>
					<td align="center"></td>
					<td></td>
				<?php } ?>

				<?php if ($this->cust_approver == 1) { ?>
					<td align="center"><?php echo $this->policyBoundary; ?></td>
					<td></td>
				<?php } ?>

				<td align="center"></td>
			</tr>
			<tr>
				<td align="<?php echo $makerAlign; ?>">
					<?php echo $this->makerApprovedBy; ?>
				</td>
				<td></td>

				<?php if ($this->cust_reviewer == 1) { ?>
					<td align="center">
						<?php echo $this->reviewerApprovedBy; ?>
					</td>
					<td></td>
				<?php } ?>

				<?php if ($this->cust_approver == 1) { ?>
					<td align="center">
						<?php
						if (!empty($this->approverApprovedBy)) {
							foreach ($this->approverApprovedBy as $row => $value) {
								echo $value;
							}
						}
						?>
					</td>
					<td></td>
				<?php } ?>
				<td align="<?php echo $releaserAlign; ?>">
					<?php echo $this->releaserApprovedBy; ?>
				</td>
			</tr>

			<!-- if group lebih dari 3 -->
			<!-- <?php if ($count > 2) { ?>
		<tr>
			<td></td>
			<td></td>

			<?php if ($this->cust_reviewer == 1) { ?>
				<td></td>
				<td></td>
			<?php } ?>

			<?php if ($this->cust_approver == 1) { ?>
				<td style="padding-left: 8px;">
					<?php
								$count = 0;
								foreach ($this->approverNameCircle as $row => $value) {
									foreach ($value as $key => $values) {
										if ($count > 2 && $count < 6) {
											echo $values;
										}
										$count++;
									}
								}
					?> 
				</td>
			<?php } ?>

			<td></td>
			<td></td>
		</tr>
		<?php } ?> -->
		</table>
		<br>
		<br>
		<a href="#" onclick="modalmoredetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>
		
	</div>

	<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  
	    <div class="modal-dialog modal-lg" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
			<center style="width:100%">
	          <h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
			  </center>
	        </div>

	        <div class="modal-body">
	          <br>
	          <div class="row">
	            <div class="col-sm-1"></div>
	            <div class="col-sm-10">

	            	<?php echo $this->action('index',
                        'paymenthistory',
                        'tools',
    				array('paymentref' => $this->PS_NUMBER)); ?>


	            </div>
	            <div class="col-sm-1"></div>

	          </div>

	        </div>
	        <div class="modal-footer">
	          <center style="width:100%">
	          <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
			  </center>
	        </div>
	      </div>
	    </div>
	  
	</div>


	<?php
	if (is_array($this->tableMst)) {
		//View File dihidden untuk PAYROLL
		if ($this->pslip["PS_CATEGORY"] == "BULK PAYMENT" && !$this->pdf && $this->pslip["PS_TYPE"] != "11") {
			// download trx bulk file
			$downloadURL = $this->url(array('module' => 'display', 'controller' => 'viewdetail', 'action' => 'downloadtrx', 'csv' => '1', 'payReff' => $encreff), null, true);
			$this->tableMst[10]["label"] = $this->language->_('View File');
			$this->tableMst[10]["value"] = $this->formButton('download', $this->language->_('download'), array('class' => 'btn btn-warning','style'=>'height: 25px;!important', 'onclick' => "window.location = '" . $downloadURL . "';"));
		}
		 //Zend_Debug::dump($this->tableMst);die;
		foreach ($this->tableMst as $dataMst) {
			if ($dataMst['label'] == 'Source Account') {
				$sourceFrom = $dataMst['value'];

				$sourceFromExplode = explode(" ", $sourceFrom);

				$sourceFromExplodeComp = explode(" - ", $dataMst['value']);

				$sourceFromExplodeCompSlash = explode("/", $sourceFromExplodeComp[1]);
			} elseif ($dataMst['label'] == 'Payment Ref#') {
				$payreffFrom = $dataMst['value'];
			} elseif ($dataMst['label'] == 'Created Date') {
				$CreatedFrom = $dataMst['value'];
			} else if ($dataMst['label'] == 'Source Bank Name') {
				$bankNameFrom = $dataMst['value'];
			}else if ($dataMst['label'] == 'Source Alias') {
				$aliasFrom = $dataMst['value'];
			}else if ($dataMst['label'] == 'Beneficiary Alias') {
				$aliasTo = $dataMst['value'];
			}
		}
	}
	
	//echo '<pre>';
	 //var_dump($this->pslip);//die;
	if (is_array($this->tableDtl)) {
		foreach ($this->tableDtl as $dataDtl) {
			$sourceTo = $dataDtl['ACBENEF'];
			$sourceToName = $dataDtl['ACBENEF_NAME'];
			$ccyTo = $dataDtl['ACBENEF_CCY'];
			if($this->pslip["PS_CCY"] == 'USD'){
				$amountTo = $dataDtl['TRA_AMOUNT'].' ( IDR '.$dataDtl['EQ_AMOUNT'].')'; 
			}else{
				$amountTo = $dataDtl['TRA_AMOUNT'];
			}

			if($dataDtl['TRANSFER_TYPE'] == '3' || $dataDtl['TRANSFER_TYPE'] == '4' || $dataDtl['TRANSFER_TYPE'] == '7' || $dataDtl['TRANSFER_TYPE'] == '8'){
				$amountTo = $dataDtl['TRA_AMOUNT'];
			}
			
			//if($this->pslip["PS_CCY"] == 'USD'){
				
			//}

			$bankNameTo = $dataDtl['BENEF_ACCT_BANK_CODE'];
		}
	}
	
	if($this->pslip['PS_TYPE'] == '11'){
		$amountTo = Application_Helper_General::displayMoneyplain($this->pslip['totalamount']);
	}

	//var_dump($amountTo);die;
	//var_dump($this->tableDtl);die;
	if($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17'){
		$ccyTo = "IDR";
	}
	
	if(empty($ccyTo)){
		$ccyTo = 'IDR';
	}

	?>

	<?php // if (!$this->bulkdetail) { ?>
		<div class="content-box content-box" style="padding-left: 0; padding-right: 0;">
			<div class="col-md-12" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
				<div class="row">
					<div class="col-md-6" style="padding-top: 15px;">
						<table style="width: 100%">
							<?php if($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT"){
								?>
								<tr>
									<th><b>Sweep From</b></th>
								</tr>
								<?php
							}else{
								?>
								<tr>
									<th><b>Transfer From</b></th>
								</tr>
								<?php
							} ?>
							
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Bank Name</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php 
								echo $bankNameFrom; ?></strong></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Account Number</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php
								//echo '<pre>';
									//var_dump($this->pslip);die;
								echo (($this->pslip["PS_TYPE"] == '5' || ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT" && $this->pslip["PS_TXCOUNT"] > 1)) ? 'From Many Account' : '<strong>'.$sourceFromExplode[0].'</strong>'); ?></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Account Name</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo (($this->pslip["PS_TYPE"] == '5' || ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT" && $this->pslip["PS_TXCOUNT"] > 1)) ? '-' : $sourceFromExplodeCompSlash[0]); ?></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Account Alias</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo (($this->pslip["PS_TYPE"] == '5' || ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT" && $this->pslip["PS_TXCOUNT"] > 1)) ? '-' : $aliasFrom);?></td>
							</tr>
							<!-- <tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Payment ref#</td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $payreffFrom; ?></td>
							</tr>
							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Created Date</td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $CreatedFrom; ?></td>
							</tr> -->
						</table>
					</div>
					<div class="col-md-6 mb-3" style="padding-top: 15px;">
						<table style="width: 100%">
							<?php if($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT"){
								?>
								<tr>
									<th><b>Sweep To</b></th>
								</tr>
								<?php
							}else if( $this->pslip['PS_TYPE'] == '17' || $this->pslip['PS_TYPE'] == '16' ){
								?>
								<tr>
									<th><b>Biller Information</b></th>
								</tr>
							<?php }else{?>
								<tr>
									<th><b>Transfer To</b></th>
								</tr>
								<?php
							} ?>
							<?php if($this->pslip["PS_TYPE"] == '4' || $this->pslip["PS_TYPE"] == '11' || $this->pslip["PS_TYPE"] == '25' || $this->pslip["PS_TYPE"] == '31' || $this->pslip["PS_TYPE"] == '38' ){$str = '-';}else{ if($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17' ||  $this->pslip["PS_TYPE"] == '11' ||  $this->pslip["PS_TYPE"] == '25'  ||  $this->pslip["PS_TYPE"] == '26'  ){$str = '-';}else{$str = $sourceTo;}} ?>

							<?php if($this->pslip["PS_TYPE"] == '17' || $this->pslip['PS_TYPE'] == '16'){?>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Biller Type</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->billertype; ?></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Provider Name</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->billername; ?></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Billing ID</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->billerid;  ?></td>
							</tr>
							<?php if($this->billertype == 'Electricity Purchase' || $this->billertype == 'PAM Payment' || $this->billertype == 'Handphone Purchase' || $this->billertype == 'Phone Payment' ){?>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Customer Name</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->billercust;  ?></td>
							</tr>
							<?php }?>
							<?php }else{?>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Bank Name</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo (($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17' || $this->pslip["PS_TYPE"] == '4' || $this->pslip["PS_TYPE"] == '11' || $this->pslip["PS_TYPE"] == '31' || $this->pslip["PS_TYPE"] == '25' ) ? '-' : $bankNameTo); ?></strong></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Account Number</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $str; ?></strong></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Account Name</td>
								<?php
									if($this->pslip["PS_TYPE"] == '38'){
										$sourceToName = 'ESCROW';
									}
								?>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo (($this->pslip["PS_TYPE"] == '4' ||  $this->pslip["PS_TYPE"] == '11' ||  $this->pslip["PS_TYPE"] == '25'  ||  $this->pslip["PS_TYPE"] == '26' ) ? 'From Many Account' : ($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17') ? '-' : $sourceToName); ?></td>
							</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;width: 145px;">Account Alias</td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $aliasTo; ?></td>
							</tr>
							<?php } ?>
							<!-- <tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Amount</td>
								
								<td style="color: red; font-size: 15px;"><strong><?php echo (($this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '20') ? ' - ' : $ccyTo . ' ' . $amountTo); ?> </strong></td>
							</tr>
							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Payment Type</td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->payType; ?> </strong></td>
							</tr> -->
						</table>
					</div>
					<?php  if($this->pslip["PS_TYPE"] != '19' && $this->pslip["PS_TYPE"] != '20'  && $this->pslip["PS_TYPE"] != '11' && $this->pslip["PS_TYPE"] != '31'  && $this->pslip["PS_TYPE"] != '4' ||  $this->pslip["PS_TYPE"] == '25' || $this->pslip["PS_TYPE"] == '26'){
				
						?>

						<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  
								    <div class="modal-dialog modal-lg" role="document">
								      <div class="modal-content">
								        <div class="modal-header">
										
										<?php if($this->pslip["PS_TYPE"] == '17'  ){ 
												if($this->pslip['PS_BILLER_ID'] == '1158'){
													?>
												<h4 class="modal-title textBlack" id="myModalLabel">SSP (Surat Setoran Pajak)</h4>	
												
													<?php
												}else{
										?>
										<center style="width:100%">
												<h4 class="modal-title textBlack" id="myModalLabel">Biller Information</h4>
												</center>
										<?php
												}
										} else {?>
										<center style="width:100%">
								          <h4 class="modal-title textBlack" id="myModalLabel">Beneficiary Detail</h4>
										  </center>
										<?php } ?>
										  
								        </div>

								        <div class="modal-body">
								          <br>
								          <div class="row">
								            <div class="col-sm-1"></div>
								            <div class="col-sm-10">

								            	<?php 
								            		 //$numFields = count($this->fields);
													 
													 if($this->pslip['PS_BILLER_ID'] == '1158'){
														 foreach($this->tableDetail as $val){
															 ?>
																<div class="form-group row">
																<?php if($val['value'] == 'bold'){
																	$val['value'] = '';
																	?>
																<strong class="col-sm-6 textBlack"><label style="margin-bottom: 0px !important" ><?php echo $this->language->_($val['label']); ?></label></strong>
																<?php }else{ ?>
												                <label style="margin-bottom: 0px !important" class="col-sm-6 textBlack"><?php echo $this->language->_($val['label']); ?></label>
																<?php } ?>
												                <div class="col-md-6 textBlack <?= $ispadding ?>">
												                <label style="margin-bottom: 0px !important" class="col-sm-12 textBlack"  ><?php echo $val['value']; ?> </label>
												                </div>
												              </div>
															 <?php
														 }
														//echo '<pre>';
														//var_dump($this->tableDetail);die;	
														 
													 }else{
										          if (!empty($this->fields)) {
										            foreach ($this->fields as $count_dtl => $dataDtlRow) { 
										              //$bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
										              //$persen = ($dataDtlRow['BALANCE_TYPE'] == 2) ? " " : "&nbsp;";
										            ?>
										              <tr> <?php
																//var_dump($count_dtl);
																//var_dump($this->tableDtl);die;
										                    if (is_array($this->tableDtl)) {
										                      foreach ($this->tableDtl as $key_dtl => $dataDtl) {
										                        $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE") ? " align='right'" : "";
									
										                        $persenView = ($key_dtl == "TRA_AMOUNT") ? $persen : "";
										                        $style = ($key_dtl == "BALANCE_TYPE") ? " style='display:none;'" : "";
										                    ?>
										                    
										                    
										                <?php
										                      } ?>

										                      <div class="form-group row">
												                <label style="margin-bottom: 0px !important" class="col-sm-6 textBlack"><?php echo $this->language->_($dataDtlRow); ?></label>
												                <div class="col-md-6 textBlack <?= $ispadding ?>">
												                <label style="margin-bottom: 0px !important" class="col-sm-12 textBlack"  ><?php echo $this->language->_($this->tableDtl[0][$count_dtl]); ?> </label>
												                </div>
												              </div>

										                    <?php }

										                ?>
										              </tr>
										          <?php
										            }
										          }
												}
								            	?>


								            </div>
								            <div class="col-sm-1"></div>

								          </div>





								        </div>
								        <div class="modal-footer">
								          <center style="width:100%">
								          <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
										  </center>
								        </div>
								      </div>
								    </div>
								  
								</div>

						<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  
								    <div class="modal-dialog modal-lg" role="document">
								      <div class="modal-content">
								        <div class="modal-header">
											<center style="width:100%">
								          <h4 class="modal-title textBlack" id="myModalLabel">Transaction Detail</h4>
										  </center>
								        </div>

								        <div class="modal-body">
								          <br>
								          <div class="row">
								            <div class="col-sm-1"></div>
								            <div class="col-sm-10">

								            	<?php 
												//var_dump($this->pslip['PS_CCY']);die;
								            		 //$numFields = count($this->fields);
										          if (!empty($this->fieldsdetail)) {
										            foreach ($this->fieldsdetail as $count_dtl => $dataDtlRow) {
										              //$bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
										              //$persen = ($dataDtlRow['BALANCE_TYPE'] == 2) ? " " : "&nbsp;";
										            ?>
										              <tr> <?php
																//var_dump($count_dtl);
																//echo '<pre>';
																//var_dump($count_dtl);die;
										                    if (is_array($this->tableDtl)) {
										                      foreach ($this->tableDtl as $key_dtl => $dataDtl) {
										                        $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE") ? " align='right'" : "";
									
										                        $persenView = ($key_dtl == "TRA_AMOUNT") ? $persen : "";
										                        $style = ($key_dtl == "BALANCE_TYPE") ? " style='display:none;'" : "";
																if($count_dtl == "TRA_AMOUNT" || $count_dtl == "TOTAL_CHARGES" || $count_dtl == "PS_TOTAL_AMOUNT"  || $count_dtl == "TOTAL"){
										                    ?>
															
																<div class="form-group row">
																	<label class="col-sm-6 textBlack"><?php echo $this->language->_($dataDtlRow); ?></label>
																	<div class="col-md-6 textBlack <?= $ispadding ?>">
																	<label class="col-sm-12 textBlack"  ><?php echo $this->pslip['PS_CCY'].' '; echo ($this->tableDtl['0'][$count_dtl]) ? $this->tableDtl['0'][$count_dtl] : 0; ?> </label>
																	</div>
																  </div>
										                    
																<?php }else{
																	if(!empty($this->tableDtl['0'][$count_dtl])){
																	?>
																		<div class="form-group row">
																			<label class="col-sm-6 textBlack"><?php echo $this->language->_($dataDtlRow); ?></label>
																			<div class="col-md-6 textBlack <?= $ispadding ?>">
																			<label class="col-sm-12 textBlack"  ><?php echo ($this->tableDtl['0'][$count_dtl]) ? $this->tableDtl['0'][$count_dtl] : '-'; ?> </label>
																			</div>
																		  </div>
																	<?php
																	}
																}
										                      }
										                    }
										                ?>
										              </tr>
										          <?php
										            }
										          }
          
								            	?>

								            <?php if ( $this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '20') { ?>
								            	<br>
								            	<p class="textBlack">Notes:<br><span style='color:red;'>* </span><?php echo $this->language->_('Your sweep transfer will be executed if the amount is equal or greater than minimum transfer amount') ?></p>
								            <?php } ?>
								            
								            </div>
								            <div class="col-sm-1"></div>

								          </div>
								          
								        </div>
								        <div class="modal-footer">
								          <center style="width:100%">
								          <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
										  </center>
								        </div>
								      </div>
								    </div>
								  
								</div>

	
					<?php if(  $this->pslip['PS_TYPE'] != '16' && $this->pslip['PS_TYPE'] != '38' ){ ?>
					<a href="#" onclick="modalbene();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a> 
					<?php } ?>
					<?php } ?>
				</div>
			</div>
		</div>
	<?php// } else { ?>
		<!-- <div class="" style="padding-left: 0; padding-right: 0;">
			<div class="col-md-12" style="padding-left: 3%; border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
				<div class="row">
					<div class="col-md-6" style="padding-top: 15px;">
						<table style="width: 100%">
							<tr>
								<th><b><?php echo $this->transtype ?></b></th>
							</tr>
							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Ref'); ?>#</td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $payreffFrom; ?></strong></td>
							</tr>
							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Created Date'); ?></td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $CreatedFrom; ?></td>
							</tr>
							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Date'); ?></td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->trxdate ?></td>
							</tr>
							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Subject'); ?></td>
								
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php if($this->trxsubject==''){echo '- no subject -';}else{ echo $this->trxsubject;} ?></td>
							</tr>
						</table>
					</div>
					<div class="col-md-6" style="padding-top: 15px;">
						<table style="width: 100%">
							<?php if ($this->pstype == '5') {
							?> 
								<tr>
									<th><b>Transfer TO</b></th>
								</tr>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Account'); ?></td>
									
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->sourceacc; ?></strong></td>
								</tr>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Account Name'); ?></td>
									
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->sourcename; ?></td>
								</tr>
							<?php
							} else { ?>
								<tr>
									<th><b>Transfer From</b></th>
								</tr>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Account'); ?></td>
									
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $sourceFromExplode[0]; ?></strong></td>
								</tr>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Account Name'); ?></td>
									
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $sourceFromExplodeCompSlash[0]; ?></td>
								</tr>
							<?php
							}
							?>



							<tr>
								<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Total Transaction'); ?></td>
								
								<td style="color: grey"><?php echo $this->trxcount; ?></td>
							</tr>
							<?php if ($this->PS_TYPE == '4' && $this->ACCT_CCY != 'IDR') {
							?>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Total Amount'); ?></td>
									
									<td style="color: red; font-size: 15px;"><strong><?php echo 'IDR ' . Application_Helper_General::displayMoney($this->trxamount) . ' (' . $this->ACCT_CCY . ' ' . Application_Helper_General::displayMoney($this->AMOUNT_IDR) . ')'; ?> </strong></td>
								</tr>
							<?php
							} else { ?>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Total Amount'); ?></td>
									
									<td style="color: red; font-size: 15px;"><strong><?php echo $this->trxccy . ' ' . Application_Helper_General::displayMoney($this->trxamount); ?> </strong></td>
								</tr>
							<?php } ?>
						</table>
					</div>
					<?php
					$downloadURL = $this->url(array('module' => 'display', 'controller' => 'viewdetail', 'action' => 'downloadtrx', 'csv' => '1', 'payReff' =>  $payreffFrom), null, true);
					echo $this->formButton('download', $this->language->_('download'), array('style' => 'position: absolute; right: 1%; bottom: 2%;', 'class' => 'btnwhite hov', 'onclick' => "window.location = '" . $downloadURL . "';"));
					?>

				</div>
			</div>
		</div>
	-->

	<?php // } ?>
	
	<?php 
		
	if($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT"){
								?>
			<div class="content-box" style="padding-left: 0; padding-right: 0;">
				<div class="col-md-12" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
					<div class="row">
						<div class="col-md-6" style="padding-top: 15px;">
							<table style="width: 100%">
								
									<tr>
										<th colspan="2"><b>Transaction Summary</b></th>
									</tr>
									
								<tr>
									<td class="homeCardText" style="width: 160px;padding-top: 5px!important;padding-bottom: 5px!important;">Payment Type</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->payType; ?> </strong></td>
								</tr>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Payment Ref#</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $payreffFrom; ?></td>
								</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Subject'); ?></td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php if($this->trxsubject==''){echo '- no subject -';}else{ echo $this->trxsubject;} ?></td>
							</tr>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Trans#</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php 
															if($this->trans > 1){
																echo $this->trans.'  '.$this->formButton('download', $this->language->_('download'), array('class' => 'btngrad hov','style'=>'height: 25px;!important', 'onclick' => "window.location = '" . $this->downloadurl . "';"));
															}else{
																echo 1;
															}
									?></td>
								</tr>
							<!-- <tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Date'); ?></td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->trxdate ?></td>
							</tr> -->
								<?php 
									
								if(!$this->bulkdetail){ ?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Message</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->message; ?></td>
								</tr>
								<?php } ?>
								<!-- <tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Additional Message</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->addmessage; ?></td>
								</tr> -->
							</table>
						</div>
						<div class="col-md-6 mb-3" style="padding-top: 15px;">
							<table style="width: 100%">
								
									<tr>
										<th colspan="2"><b>&nbsp;</b></th>
									</tr>
								

								<tr>
									<td class="homeCardText" style="width: 160px;padding-top: 5px!important;padding-bottom: 5px!important;">Frequently</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->frequen; ?> </td>
								</tr>
								<?php if(!$this->futuretrx){
									//var_dump($this->frequen);die;
									if($this->frequen == 'Monthly'){
										?>
										
										<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Repeat on date</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php 
										
									echo $this->datemonth; ?> </td>
								</tr>
										<?php
									}else{
									?>
									
								
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Repeat on</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">
											<div class="input-group">
										<div class="roundChk" style="margin-left: -15px;">
											<input type="checkbox" class="checkboxday" id="checkbox6" value="0" name="report_day[]" disabled="disabled" <?php echo $this->check0; ?> />
											<label for="checkbox6" style="height: 25px!important;">S</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox" value="1" name="report_day[]" disabled="disabled" <?php echo $this->check1; ?> />
											<label for="checkbox" style="height: 25px!important;">M</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox1" value="2" name="report_day[]" disabled="disabled" <?php echo $this->check2; ?> />
											<label for="checkbox1" style="height: 25px!important;">T</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox2" value="3" name="report_day[]" disabled="disabled" <?php echo $this->check3; ?> />
											<label for="checkbox2" style="height: 25px!important;">W</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox3" value="4" name="report_day[]" disabled="disabled" <?php echo $this->check4; ?> />
											<label for="checkbox3" style="height: 25px!important;">T</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox4" value="5" name="report_day[]" disabled="disabled" <?php echo $this->check5; ?> />
											<label for="checkbox4" style="height: 25px!important;">F</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox5" value="6" name="report_day[]" disabled="disabled" <?php echo $this->check6; ?> />
											<label for="checkbox5" style="height: 25px!important;">S</label>
										</div>
									</div>

									</td>
								</tr>
								<?php }
								}
								?>
								<?php if(!$this->futuretrx){ ?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Start from</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php 
										
									echo Application_Helper_General::convertDate($this->sweepdata['PS_PERIODIC_STARTDATE'], 'dd MMM yyyy').' To '.Application_Helper_General::convertDate($this->sweepdata['PS_PERIODIC_ENDDATE'], 'dd MMM yyyy'); ?> </td>
								</tr>
								<?php }else{ ?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Date'); ?></td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->trxdate ?></td>
								</tr>
								
								<?php }?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Time</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo date('h:i A', strtotime($this->eftime)); ?> </td>
								</tr>

								<?php if($this->frequen != '1x'){ ?>
									<tr>
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Payment Date</td>
										
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->trxdate; ?> </td>
									</tr>
								<?php } ?>
								
								<tr>
								<?php
								//echo '<pre>';
								//		var_dump($this->pslip);die;
								if($this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '23'  || $this->pslip["PS_TYPE"] == '30'){ ?>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Remain on source</td>
								<?php }else{
										if($this->pslip['PS_SWEEP_TYPE'] == '1'){
											?>
											<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Remain on source</td>
											<?php
										}else{
									?>	
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Maintains Beneficiary</td>
										<?php }
								} ?>

								<?php if($this->pslip["PS_TXCOUNT"] > '1'){ ?>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo '-'; ?> </td>
								<?php }else if($this->pslip["PS_TXCOUNT"] == '1'){ 

									if ($this->pslip["PS_TYPE"] == '20' && $this->frequen == 'Daily') { ?>

										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"> - <button class="btngrad hov" type="button" class="toogleModal text-primary" data-toggle="modal" data-target="#poolingConfirmModal"><?php echo $this->language->_('View Config'); ?></button>
										</td>
										
									<?php }else{ ?>

										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo 'IDR '.Application_Helper_General::displayMoney($this->TRA_REMAIN); ?> </td>

									<?php } ?>

								<?php } ?>
									
									<!-- <td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo 'IDR '.$this->remain; ?> </td> -->
								</tr>

								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Minimum Transfer</td>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo 'IDR '.Application_Helper_General::displayMoney($this->PS_MIN_AMOUNT); ?> </td>
								</tr>

								<?php
								if ($this->PS_SWEEP_TYPE == '1' && $this->pslip["PS_TYPE"] == '23') { ?>

									<tr>
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">If sweep exceed RTGS</td>
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Split if amount exceed RTGS limit </td>
									</tr>

								<?php }else if($this->PS_SWEEP_TYPE == '0' && $this->pslip["PS_TYPE"] == '23'){ ?>

									<tr>
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">If sweep exceeds SKN</td>
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Cancel if amount exceed SKN limit  </td>
									</tr>

								<?php } ?>
								

								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Status</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->paystatus; ?> </strong></td>
								</tr>
								<!-- <tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Amount</td>
									
									<td style="color: red; font-size: 15px;"><strong><?php echo (($this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '20') ? ' - ' : $ccyTo . ' ' . $amountTo); ?> </strong></td>
								</tr>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Payment Type</td>
									
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->payType; ?> </strong></td>
								</tr> -->
							</table>
						</div>
						<!-- <?php 
						if ($this->PS_TYPE != '19' || $this->PS_TYPE != '19') {
							if($this->pslip["PS_TXCOUNT"] == '1'){ ?>
								<a href="#" onclick="modaldetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>
						<?php 
							}
						} ?> -->
					</div>
				</div>
			</div>	

			<div class="modal fade" id="poolingConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document" style="max-width: 1024px!important">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title textBlack" id="myModalLabel"><?php echo $this->language->_('Beneficiary Maintain Balance') ?></h4>
			      </div>
			      <div class="modal-body">
			      	<div class="container col-md-12 mt-5">
			      		<div class="">
					        <table class="table table-bordered table-responsive-sm mb-0">
					            <thead>
						            <tr>
						            	<?php if(!empty($this->pooling_sun_view)){ ?>
						                <th class="text-center textBlack">Sun</th>
						            	<?php } ?>
						            	<?php if(!empty($this->pooling_mon_view)){ ?>
						                <th class="text-center textBlack">Mon</th>
						                <?php } ?>
						                <?php if(!empty($this->pooling_tue_view)){ ?>
						                <th class="text-center textBlack">Tue</th>
						                <?php } ?>
						                <?php if(!empty($this->pooling_wed_view)){ ?>
						                <th class="text-center textBlack">Wed</th>
						                <?php } ?>
						                <?php if(!empty($this->pooling_thu_view)){ ?>
						                <th class="text-center textBlack">Thu</th>
						                <?php } ?>
						                <?php if(!empty($this->pooling_fry_view)){ ?>
						                <th class="text-center textBlack">Fri</th>
						                <?php } ?>
						                <?php if(!empty($this->pooling_sat_view)){ ?>
						                <th class="text-center textBlack">Sat</th>
						                <?php } ?>
						            </tr>
					            </thead>

					            <tbody>
					            	<tr>
					            		<?php if(!empty($this->pooling_sun_view)){ ?>
					            		<td class="textBlack" align="center" id="sun">
					            			<?php echo $this->pooling_sun_view; ?>
					            			<!-- <input type="hidden" name="pooling_sun" value="<?php echo $this->pooling_sun; ?>"> -->
					            		</td>
					            		<?php } ?>
					            		<?php if(!empty($this->pooling_mon_view)){ ?>
					            		<td class="textBlack" align="center" id="mon">
					            			<?php echo $this->pooling_mon_view; ?>
					            			<!-- <input type="hidden" name="pooling_mon" value="<?php echo $this->pooling_mon; ?>"> -->
					            		</td>
					            		<?php } ?>
					            		<?php if(!empty($this->pooling_tue_view)){ ?>
					            		<td class="textBlack" align="center" id="tue">
					            			<?php echo $this->pooling_tue_view; ?>
					            			<!-- <input type="hidden" name="pooling_tue" value="<?php echo $this->pooling_tue; ?>"> -->
					            		</td>
					            		<?php } ?>
					            		<?php if(!empty($this->pooling_wed_view)){ ?>
					            		<td class="textBlack" align="center" id="wed">
					            			<?php echo $this->pooling_wed_view; ?>
					            			<!-- <input type="hidden" name="pooling_wed" value="<?php echo $this->pooling_wed; ?>"> -->
					            		</td>
					            		<?php } ?>
					            		<?php if(!empty($this->pooling_thu_view)){ ?>
					            		<td class="textBlack" align="center" id="thu">
					            			<?php echo $this->pooling_thu_view; ?>
					            			<!-- <input type="hidden" name="pooling_thu" value="<?php echo $this->pooling_thu; ?>"> -->
					            		</td>
					            		<?php } ?>
					            		<?php if(!empty($this->pooling_fry_view)){ ?>
					            		<td class="textBlack" align="center" id="fry">
					            			<?php echo $this->pooling_fry_view; ?>
					            			<!-- <input type="hidden" name="pooling_fry" value="<?php echo $this->pooling_fry; ?>"> -->
					            		</td>
					            		<?php } ?>
					            		<?php if(!empty($this->pooling_sat_view)){ ?>
					            		<td class="textBlack" align="center" id="sat">
					            			<?php echo $this->pooling_sat_view; ?>
					            			<!-- <input type="hidden" name="pooling_sat" value="<?php echo $this->pooling_sat; ?>"> -->
					            		</td>
					            		<?php } ?>
					            	</tr>
					            </tbody>
					        </table>
					    </div>
					    </div>
					 </div>
			      <div class="modal-footer">
			        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
	  		</div>

	<?php }else{
		?>
		
		
		
		<div class="content-box" style="padding-left: 0; padding-right: 0;">
				<div class="col-md-12" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
					<div class="row">
						<div class="col-md-6" style="padding-top: 15px;">
							<table style="width: 100%">
								
									<tr>
										<th><b>Transaction Summary</b></th>
									</tr>
									
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Payment Type</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->payType; ?> </strong></td>
								</tr>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Payment Ref#</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $payreffFrom; ?></td>
								</tr>
							<tr>
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Subject'); ?></td>
								
								<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php if($this->trxsubject==''){echo '- no subject -';}else{ echo $this->trxsubject;} ?></td>
							</tr>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Trans#</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php 
															if($this->trans > 1){
																echo $this->trans.' &nbsp;&nbsp;&nbsp; '.$this->formButton('download', $this->language->_('download'), array('class' => 'btngrad hov','style'=>'height: 25px;!important', 'onclick' => "window.location = '" . $this->downloadurl . "';"));
															}else{
																echo '1';
															}
									?></td>
								</tr>
							
								
								<?php 
									
								if($this->pslip["PS_TYPE"] == '11' || $this->pslip["PS_TYPE"] == '25' || $this->bulkdetail){
									//var_dump($this->pslip["PS_TYPE"]);
									?>
									
									<?php 
								}else{ ?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Message</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->message; ?></td>
								</tr>
								
								<?php } ?>
								<!-- <tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Additional Message</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->addmessage; ?></td>
								</tr> -->
							</table>
						</div>
						<div class="col-md-6 mb-3" style="padding-top: 15px;">
							<table style="width: 100%">
								
									<tr>
										<th><b>&nbsp;</b></th>
									</tr>
								

								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Frequently</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->frequen; ?> </strong></td>
								</tr>
								<?php if(!$this->futuretrx){
									//var_dump($this->frequen);die;
									if($this->frequen == 'Monthly'){  
										?>
										 
										<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Repeat on date</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php 
										
									echo $this->datemonth; ?> </td>
								</tr>
										<?php
									}else{
									?>
									
								
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Repeat on</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">
											<div class="input-group">
										<div class="roundChk" style="margin-left: -15px;">
											<input type="checkbox" class="checkboxday" id="checkbox6" value="0" name="report_day[]" disabled="disabled" <?php echo $this->check0; ?> />
											<label for="checkbox6" style="height: 25px!important;">S</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox" value="1" name="report_day[]" disabled="disabled" <?php echo $this->check1; ?> />
											<label for="checkbox" style="height: 25px!important;">M</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox1" value="2" name="report_day[]" disabled="disabled" <?php echo $this->check2; ?> />
											<label for="checkbox1" style="height: 25px!important;">T</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox2" value="3" name="report_day[]" disabled="disabled" <?php echo $this->check3; ?> />
											<label for="checkbox2" style="height: 25px!important;">W</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox3" value="4" name="report_day[]" disabled="disabled" <?php echo $this->check4; ?> />
											<label for="checkbox3" style="height: 25px!important;">T</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox4" value="5" name="report_day[]" disabled="disabled" <?php echo $this->check5; ?> />
											<label for="checkbox4" style="height: 25px!important;">F</label>
										</div>
										<div class="roundChk">
											<input type="checkbox" class="checkboxday" id="checkbox5" value="6" name="report_day[]" disabled="disabled" <?php echo $this->check6; ?> />
											<label for="checkbox5" style="height: 25px!important;">S</label>
										</div>
									</div>

									</td>
								</tr>
								<?php }
								}
								?>
								<?php if(!$this->futuretrx){ ?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Start from</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php 
										
									echo Application_Helper_General::convertDate($this->sweepdata['PS_PERIODIC_STARTDATE'], 'dd MMM yyyy').' To '.Application_Helper_General::convertDate($this->sweepdata['PS_PERIODIC_ENDDATE'], 'dd MMM yyyy'); ?> </td>
								</tr>
								<?php }else{ ?>
								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Payment Date'); ?></td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->trxdate ?></td>
								</tr>

								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_(' '); ?></td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">&nbsp;</td>
								</tr>
								
								<?php }?>

								<?php if($this->frequen != '1x'){ ?>
									<tr>
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Payment Date</td>
										
										<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->trxdate; ?> </td>
									</tr>
								<?php } ?>

								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Amount</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important; color: red; font-size: 15px;"><strong><?php echo (($this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '20') ? ' - ' : $this->pslip["PS_CCY"] . ' ' . $amountTo); ?> </strong></td>
								</tr>


								<tr>
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">Status</td>
									
									<td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->paystatus; ?> </strong></td>
								</tr>
								<!-- <tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Amount</td>
									
									<td style="color: red; font-size: 15px;"><strong><?php echo (($this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '20') ? ' - ' : $ccyTo . ' ' . $amountTo); ?> </strong></td>
								</tr>
								<tr>
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;">Payment Type</td>
									
									<td style="color: grey;padding-top: 5px!important;padding-bottom: 5px!important;"><strong><?php echo $this->payType; ?> </strong></td>
								</tr> -->
							</table>
						</div>
						<?php if($this->pslip["PS_CATEGORY"] != 'BULK PAYMENT' && $this->pslip["PS_CATEGORY"] != 'SWEEP PAYMENT'){ ?>
						<a href="#" onclick="modaldetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a> 
						<?php } ?>
					</div>
				</div>
			</div>	
		
		
		
		
		
		
		<?php
	} ?>			

	<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Notes') ?></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  
				<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
				<?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeyUp'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON3','style'=>'font-size: 1.2em !important')) ?>
								
				<br>
				<div class="input-group">
					<?php echo $this->formText('disable_note_len', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
					<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
				</div> 
			</div>
			<div class="modal-footer">
			  <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			  <button type="button" class="btngreen hov" id="btn_delete_one"><?php echo $this->language->_('Submit') ?></button>
			</div>
		  </div>
		</div>
	  </div>
	  
	  
	  <div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  	<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
				<?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeyUp'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON2','style'=>'font-size: 1.2em !important')) ?>
				<br>
				<div class="input-group">
					<?php echo $this->formText('disable_note_len2', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
					<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			  <button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
			</div>
		  </div>
		</div>
	  </div>
	
	<div class="container">
		<div class="row">
			
				<?php if ($this->pdf == false) {	?>
					<div class="col-md-3">
					<fieldset class="hiddenprint <?php echo $this->repairbtn; ?>" style="display:none">
												<div class="portlet-body form" style="display:none">
													<!-- Default panel contents -->
													
												</div>

												<br>

												<?php
												/*$repairAttr = array('class' => 'btnwhite hov', "onclick" => "proceed('repair');");
												if ($this->allowRepair == false) {
													$repairAttr["disabled"] = "disabled";
												}

												 echo $this->formSubmit('repair',$this->language->_('Repair'), $repairAttr);  */
												?>
												<?php
												$rejectAttr = array('class' => 'btnred hov', "onclick" => "proceed('reject');");
												if ($this->allowReject == false) {
													$rejectAttr["disabled"] = "disabled";
												}

												//echo $this->formSubmit('reject', $this->language->_('Reject'), $rejectAttr); ?>

												<!-- <p><?php echo $this->language->_('Reason of Repair/Rejection') ?>:</p> -->
												
												<?php echo $this->formTextarea('PS_REASON', $this->PS_REASON, array('class' => 'form-control', 'cols' => '40%', 'rows' => '4')) ?>
												<br>
												<!-- <input readonly="readonly" name="x_len" size="2" value="128" class="form-control" style="width:60px" type="text"> <?php echo $this->language->_('char(s) left'); ?> -->
											</fieldset>
					</div>
				
					<div class="col-md-6" align="center">
						<div id="borderArea">
						<br><br>
							<table border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
									</tr>
									<tr>
										<td nowrap="nowrap" valign="top">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td nowrap="nowrap">
															<?php
																

															 ?>
														
															
															<?php 
															$pstype 		= $this->pslip["payType"];
															$log 			= json_decode($this->pslip["LOG"]);
															$typeOfTrans 	= empty($log->TypeOfTrans)?'':$log->TypeOfTrans;
															require_once 'Crypt/AESMYSQL.php';
															$AESMYSQL = new Crypt_AESMYSQL();
															$rand = $this->token;
															$encrypted_pwd = $AESMYSQL->encrypt($this->pslip['PS_NUMBER'], $rand);
															
															$encreff = urlencode($encrypted_pwd);
															//echo '<pre>';
															//var_dump($this->pslip);die;
															if ($pstype == $this->language->_('In House')){
																	if($this->pslip['transfer_type']=='8' || $this->pslip['transfer_type']=='7'){
																		$PS_NUMBERlink =  $this->url(array('module'=>'singlepayment','controller'=>'withinvalas','action'=>'index','PS_NUMBER'=>$encreff),null,true);
																	}else{
																		$PS_NUMBERlink = $this->url(array('module'=>'singlepayment','controller'=>'within','action'=>'index','PS_NUMBER'=>$encreff),null,true);
																	}


															}else if($typeOfTrans == $this->language->_('Handphone Purchase')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'purchasing','controller'=>'handphone','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Electricity Purchase')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'purchasing','controller'=>'electricity','action'=>'index','PS_NUMBER'=>$encreff),null,true);

															else if($typeOfTrans == $this->language->_('Electricity Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'electricity','action'=>'index','PS_NUMBER'=>$encreff),null,true);

															else if($typeOfTrans == $this->language->_('PAM Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'pam','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Phone Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'phone','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Internet Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'internet','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Credit Card Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'creditcard','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Cable TV Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'cabletv','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Installment Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'installment','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Insurance Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'insurance','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($typeOfTrans == $this->language->_('Ticket Payment')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'ticket','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															//else if($typeOfTrans == $this->language->_('Tax Payment')."")
														//			$PS_NUMBERlink = $this->url(array('module'=>'payment','controller'=>'tax','action'=>'index','PS_NUMBER'=>$encreff),null,true);

															else if($pstype == $this->language->_('Multi Credit')."")
																	$PS_NUMBERlink = $this->url(array('module'=>'multicredit','controller'=>'form','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($pstype == $this->language->_('Multi Debit'))
																	$PS_NUMBERlink = $this->url(array('module'=>'multidebet','controller'=>'form','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if( preg_match("/".$this->language->_('Domestic')."/","$pstype"))
																	$PS_NUMBERlink = $this->url(array('module'=>'singlepayment','controller'=>'domestic','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($pstype == $this->language->_('Remittance (OUR)') || $pstype == $this->language->_('Remittance (SHA)'))
																	$PS_NUMBERlink = $this->url(array('module'=>'singlepayment','controller'=>'remittance','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($pstype == $this->language->_('Disbursement - PB'))
																	$PS_NUMBERlink = $this->url(array('module'=>'sp2d','controller'=>'index','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($this->pslip['PS_TYPE'] == '21')
																	$PS_NUMBERlink = $this->url(array('module'=>'opentransfer','controller'=>'domestic','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else if($this->pslip['PS_TYPE'] == '2')
																	$PS_NUMBERlink = $this->url(array('module'=>'singlepayment','controller'=>'domestic','action'=>'index','PS_NUMBER'=>$encreff),null,true);
															else	$PS_NUMBERlink = '';
															?>
															
															<?php
															//var_dump($this->pslip);
															$repairAttr = array('class' => 'btnwhite hov', "onclick" => "proceed('repair');");
															if ($this->allowRepair == false) {
																$repairAttr["disabled"] = "disabled";
															}

															// echo $this->formSubmit('repair',$this->language->_('Repair'), $repairAttr); 
															?>
															<?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "window.location='" . $this->backURL . "'")); ?>&nbsp;
															


															<?php
															$repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
															
															if ($this->allowRepair == false) {
																$repairAttr["disabled"] = "disabled";
																$repairAttr["hidden"] = "hidden";
															}
															if($PS_NUMBERlink != ''){
																
															echo $this->formButton('repair',$this->language->_('Request Repair'), $repairAttr); 
															}
															?>
															<?php $this->allowRepair == false ? '' : "&nbsp;";?>
															
															<?php
															if($PS_NUMBERlink != ''){
														//	 echo $this->formButton('Repair', $this->language->_('Repair'), array('class' => 'btnwhite hov', "onclick" => "window.location='" . $PS_NUMBERlink . "'")); 
															?>&nbsp;
															<?php
															}
															$rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
															if ($this->allowReject == false) {
																$rejectAttr["disabled"] = "disabled";
															}
 
															echo $this->formButton('reject', $this->language->_('Reject'), $rejectAttr); ?>&nbsp;
															<?php

															$submitAttr = array('class' => 'btngreen hov');
															// if ($this->valError == true)
															// {	$submitAttr["disabled"] = "disabled";			}
															echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
															// echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-sm btn-success mt-1'));
															?>
														</td>
													</tr>
													<?php
													if ($this->valError == true)	// error approve validation
													{	?>
														<tr>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>
																<div id="notesPage2">
																	<div class="subtopic"><?php echo $this->language->_('Warning'); ?>:</div>
																	<div class="notesPageContent"><?php echo $this->valErrorMsg; ?><br><br></div>
																</div>
															<?php 	}	?>

															<!-- approve token field section -->

															<!-- <div id="approveField" style="display: none;">
															<strong><?php echo $this->language->_('Use Your Token'); ?>!</strong>
															
															<br>
															<table style="background-color: white;" border="0" cellpadding="2" cellspacing="2" width="100%">
																<tbody>
																	<tr><td><?php echo $this->language->_('Release on behalf of'); ?>:</td></tr>
																	<tr><td><b><?= $this->userOnBehalf; ?></b></td></tr>
																		<input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">
																	<tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
																	<tr><td><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>
																	<tr><td><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr>
																	<tr><td><input class="form-control" name="responseCode" size="12" maxlength="6" onkeypress="return forceNumberOCBC(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off"></td></tr>
																	<tr><td><br>
																		<?php
																		$submitAttr = array('id' => 'btnapprove', 'class' => 'btngreen hov', "onclick" => "proceed('approve');");
																		if ($this->valError == true) {
																			$submitApprove["disabled"] = "disabled";
																		}
																		echo $this->formButton('approve', $this->language->_('Approve'), $submitApprove);
																		?>
																		</td>
																	</tr>
																</tbody>
															</table>
															</div>
 -->

															<!-- repair or reject field section -->
															<fieldset class="<?php echo $this->repairbtn ?>" id="rejrepfieldset" style="display: none;">
																<legend><span class="texthistory" id="rejrepspan"><?php echo $this->language->_('Repair or Reject'); ?></span></legend>

																<p id="rejrepp"><?php echo $this->language->_('Reason of Repair/Rejection'); ?>:</p>
																<?php echo $this->formTextarea('PS_REASON', $this->PS_REASON, array('class' => 'form-control', 'cols' => '40%', 'rows' => '4')); ?>
																<br>
																<div class="row">
																	<div class="col-md-2">
																		<input readonly="readonly" name="x_len" size="2" class="form-control" style="width:60px" value="128" type="text"> <?php echo $this->language->_('char(s) left'); ?>
																	</div>
																	<div class="col-md-6">
																		<?php
																		$submitRepair = array('id' => 'btnrepair', 'class' => 'btngreen hov', "onclick" => "proceed('repair');", 'style' => "display:none;");

																		if ($this->allowRepair == false) {
																			$submitRepair["disabled"] = "disabled";
																		}

																		echo $this->formSubmit('repair', $this->language->_('Submit'), $submitRepair);
																		?>

																		<?php
																		$submitReject = array('id' => 'btnreject', 'class' => 'btngreen hov', "onclick" => "proceed('reject');", 'style' => "display:none;");

																		if ($this->allowRepair == false) {
																			$submitReject["disabled"] = "disabled";
																		}

																		echo $this->formSubmit('repair', $this->language->_('Submit'), $submitReject);
																		?>
																	</div>
																</div>
															</fieldset>
															<br>
															<br>

															</td>
														</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				<?php }	?>
				
			
		</div>
	</div>
</form>

<script type="text/javascript">

	function rejectmodal() {

		$('#dialog_box').modal('show');
    
		$("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#reviewForm");$("#reviewForm").submit();}'); 
	}
	
	
	function repairmodal() {

		$('#dialogrepair_box').modal('show');

    
		$("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
	}
	/*function onApprove(){

		if ($('#approveField').css('display') == 'none') {
			$('#approveField').show();

			$('#showApprove').css("background-color","red");
			$('#showApprove').css("color","white");
			$('#showApprove').text("Close");

			$('#rejrepfieldset').hide();
			$('#btnrepair').hide();
			$('#btnreject').hide();

			$('#showRepair').css("background-color","white");
			$('#showRepair').css("color","black");
			$('#showRepair').text("Repair");

			$('#showReject').css("background-color","white");
			$('#showReject').css("color","black");
			$('#showReject').text("Reject");
		}
		else{
			$('#approveField').hide();

			$('#btnrepair').hide();
			$('#btnreject').hide();
			$('#btnapprove').hide();

			$('#showApprove').css("background-color","#003f6e");
			$('#showApprove').css("color","white");
			$('#showApprove').text("Approve");
		}
	}*/



	function onRepair() {
		if ($('#rejrepfieldset').css('display') == 'none') {
			$('#rejrepspan').text("Repair");
			$('#rejrepp').text("Reason of Repair");
			$('#rejrepfieldset').show();
			$('#btnrepair').show();

			$('#showRepair').css("background-color", "red");
			$('#showRepair').css("color", "white");
			$('#showRepair').text("Close");

			/*$('#approveField').hide();

			$('#showApprove').css("background-color","#006520");
			$('#showApprove').css("color","white");
			$('#showApprove').text("Approve");*/
		} else {
			$('#rejrepfieldset').hide();
			$('#btnrepair').hide();
			$('#btnreject').hide();

			$('#showRepair').css("background-color", "white");
			$('#showRepair').css("color", "black");
			$('#showRepair').text("Repair");
		}
	}

	function onReject() {
		if ($('#rejrepfieldset').css('display') == 'none') {
			$('#rejrepspan').text("Reject");
			$('#rejrepp').text("Reason of Reject");
			$('#rejrepfieldset').show();
			$('#btnreject').show();

			$('#showReject').css("background-color", "red");
			$('#showReject').css("color", "white");
			$('#showReject').text("Close");

			/*$('#approveField').hide();

			$('#showApprove').css("background-color","#006520");
			$('#showApprove').css("color","white");
			$('#showApprove').text("Approve");*/
		} else {
			$('#rejrepfieldset').hide();
			$('#btnrepair').hide();
			$('#btnreject').hide();

			$('#showReject').css("background-color", "white");
			$('#showReject').css("color", "black");
			$('#showReject').text("Reject");
		}
	}
</script>