<script type="text/javascript">
  $(document).ready(function(){
		console.log(<?= json_encode($this->wherecol)?>)
		console.log(<?= json_encode($this->whereval)?>)
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) { 
          $("#logo-title").hide(); 
          $("#logo-titles").hide(); 
        } else if ( $("#logo-title").is(":hidden") ) { 
          $("#logo-title").show(); 
          $("#logo-titles").show(); 
        }
      })

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
        var value = this.value.toLowerCase().trim();

        $("#myTable tr").each(function(index) {
            if (!index) return;
            $(this).find("td").each(function() {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });
});
</script>

<div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Beneficiary')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    
                    <li>
                        <span class="inhouse"><?=$this->language->_('Beneficiary Linkage')?></span>
                    </li>
                    
                </ul>
            </div>
        </div>
   </div>

<div class="content-box">

<h5>Beneficiary Linkage List</h5>

<div class="portlet-body form"> 
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<?php 
    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
    foreach($this->filterlist as $row){
        $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
    }

    ?>
    <div class="row " id="logo-titles" style="margin-left: 0px">
            <?php
            if(!empty($this->wherecol)){
                ?>
                <script type="text/javascript">
                    $(document).ready(function(){
                    $("#logo-title").show(); 
                });

                </script>
                <?php
            }
            // print_r($this->wherecol);die;
            foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array();
                        $selectlist = array("USER_ID",'CURR_CODE','BENEFICIARY_TYPE');
                        $index = 0;
                        


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='whereco[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <!-- <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div> -->
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                var colval = "#colvalue-s<?=$key?>";
                                                var colomnname = "<?=$value?>";
                                                // var colselect= "<?=$value?>";
                                                var colselect = "colselect-s<?=$key?>";
                                                var ncolselect = "#colselect-s<?=$key?>";
                                                if(colomnname == 'USER_ID'){

                                                        $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereuser'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?=$this->whereval[$key]?>'
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });

                                                        $(colselect).val('<?=$this->whereval[$key]?>');

                                                }else if(colomnname == 'CURR_CODE'){

                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?=$this->whereval[$key]?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        // document.getElementById(colselect).value = '<?=$this->whereval[$key]?>';
                                                        $(colselect).val('<?=$this->whereval[$key]?>');

                                                }else if(colomnname == 'BENEFICIARY_TYPE'){

                                                        $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                        var id = $("#tablename").find(":selected").val();
                                                        $.ajax({
                                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'benetype'),null,true)?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?=$this->whereval[$key]?>'
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError)
                                                        {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                        $(colselect).val('<?=$this->whereval[$key]?>');

                                                }
                                            });

                                            </script>
                                        <?php
                                                if(!in_array($value, $selectlist)){
                                                ?>
                                                	<input class='form-control' type='text' style='width:100%'  name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                                <?php }
                                                if (!in_array($value, $datetype)){
                                                    // print_r($value);die;
                                                    $index++;
                                                }
                                                 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

                <?php
            }
            ?>

    </div>


    <div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
     <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <!--<div class="form-group row mt-12">
                                     <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div> 
                                </div>-->
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                        <div class="portlet-body form" style="display: none">
                                               
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                                <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                            </select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>&nbsp;
                                                            <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
    </div>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
         <a href="#" class="sidebar-collapse-icon with-animation">
             <?php echo $this->language->_('Advanced Search'); ?>               
         </a>
     </div>
     <br>
     </div>
     </div>

    <?php if($this->success){ ?>
    <div class="successmsg"><?=$this->report_msg?></div><br />
    <?php }else if($this->error){ ?>
    <div class="errmsg"><?=$this->report_msg?></div><br />
    <?php } ?>
    <?php
        $button = $this->url(array('module'=>'linkagebeneficiary','controller'=>'manage','action'=>'managelinkbenef'),null,true);
    ?>


    <div class="form-group">
        <div style="float:left;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <?php
                        if($this->hasPrivilege('BMBU'))
                        {
                    ?>
                            <input type="button" class="btngrad" value="<?php echo $this->language->_('Manage');?>" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important;" onclick="location.href='<?php echo $button; ?>'">&nbsp;
                    <?
                        }
                        else
                        {
                    ?>
                            <input disabled='disabled' type="button" class="btngrad disabled" value="<?php echo $this->language->_('Manage')?>" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important;" onclick="location.href='<?php echo $button; ?>'">&nbsp;
                    <?php
                        }
                    ?>
                </div>
            </div>
        </div>
        <div style="float:right; padding-left:5px;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
            </div>
        </div>
        <div style="float:right; padding-left:10px;">
            <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">

                <?php if ($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
                    <!-- <?php echo $this->formSubmit('csv', 'Export Files is too large (function is disabled)', array('class' => 'btn btn-warning', 'disabled' => 'disabled')); ?>&nbsp; -->
                    <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
                <?php } else { ?>
                    <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btn btn-warning')); ?>&nbsp; -->
                    <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
                <?php } ?>
            
                <!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
                
                <?php echo '<input type="submit" value="&#xf1c1 PDF is too large (function is disabled)" name="pdf" id="csv" class="fa hov" disabled>'; ?>&nbsp; -->
                <?php// echo $this->formSubmit('pdf','&#xf1c1 PDF is too large (function is disabled)',array('class'=>'btngrad disabled','disabled'=>'disabled')); ?>
                
                <!-- <?php }else{ ?> -->
                
                <?php //echo $this->formSubmit('pdf','&#xf1c1 PDF',array('class'=>'btngrad','style'=>'cursor: pointer;')); ?>
                <!-- <?php echo '<input type="submit" value="&#xf1c1 PDF" name="pdf" id="csv" class="fa hov">'; ?>&nbsp;
                <?php } ?> -->

                <!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
                    echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btngrad disabled','disabled'=>'disabled'));
                }
                else{
                ?>
                    <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btngrad" style="cursor: pointer;"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>
                <?php   
                }
                ?> -->
            </form>
        </div>
    </div>

<br />
<br>

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped" id="myTable">
<thead>
    <tr class="headercolor">
        <th width="3%" valign="top" class="tablehead">No</th>
        <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
                                  )?>       
        
    </tr>
</thead>
<tbody>
    <?php
        /*print_r($this->paginator);die;*/
        $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
        
        if(count($this->paginator) > 0)
        {

              $i=0;
              //echo '<pre>';
              //var_dump($this->paginator);die;
            foreach($this->paginator as $row) 
            {
          
                $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                
                if($row['BANK_NAME'] == ''){
                            $row['BANK_NAME'] = $this->app_bank;
                        }
                        
                if($row['BENEFICIARY_ALIAS'] == ''){
                            $row['BENEFICIARY_ALIAS'] = '-';
                        }

                // <td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>';
                // echo '<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
                    
                echo '<tr>
                        <td class="'.$td_css.'">'.$counter.'</td>
                        <td class="'.$td_css.'">'.$row['USER_FULLNAME'].' ('.$row['USER_ID'].')</td>
                        <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
                        <td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].' ('.$row['CURR_CODE'].')</td>
                        <td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
                        <td class="'.$td_css.'">'.$this->language->_($row['BENEFICIARY_TYPE']).'</td>
                    </tr>';
                            
                    $i++;
                    $counter++;
            }
        }
        else 
        {
            echo '<tr><td colspan=10 class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
        }
    ?>
</tbody>
</table>
</div>
<div align="right">
    <?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>


<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control' id='wherecol-" + ctr + "' style='width:100%' name='whereco[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      ctr++;
      $("#wherectr").val(ctr);

    });
});
    function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
    var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        // $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'USER_ID'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereuser'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'BENEFICIARY_TYPE'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'benetype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'CURR_CODE'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>