<script type="text/javascript">
$(document).ready(function(){
	$('#fixTable').fixTableHeader();
});
</script>

<script type="text/javascript">
	function switchCheck(selThis)
	{
		if($(selThis).is(":checked"))
		{
			alert();
			var checkbox = document.getElementsByClassName('benef_id');
			checkbox.checked = true;
			// $(".benef_id:enabled").attr("checked","checked");
		}
		else
		{
			var checkbox = document.getElementsByClassName('benef_id');
			checkbox.checked = false;
			// $(".benef_id:enabled").removeAttr("checked");
		};
	}
</script>

   <div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Beneficiary')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Beneficiary Linkage')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span><?=$this->language->_('Manage')?></span>
                    </li>
                </ul>
            </div>
        </div>
   </div>
    

<?php 
	if($this->error)
	{
?>
	<div class="errmsg">
	<?php 
		if($this->user_idErr) 
			echo $this->formErrors($this->user_idErr); 
		if($this->benefErr) 
			echo $this->formErrors($this->benefErr);
	?>
	</div>
	<br />
<?php
	}
?>
<div class="portlet-body form"> 
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'managelinkbenef'),null,true)?>" method="get">
	
	<h5><?php echo $this->language->_('Manage Beneficiary Linkage'); ?></h5>
	<br>
	<div align="center">
	
                                            
                    	
                    	                          <div class="form-group row ">
                                                            <label class="control-label col-md-3" align="right"><?php echo $this->language->_('Pick User') ?></label>
                                                            <div class="col-md-6">
                                                            <?php echo $this->formSelect('user_id',$this->user_id,array('class'=>'form-control'),$this->userArr); ?>
                                                            </div>
                                                            <div class="col-md-3" align="left">
                                                                <?php echo $this->formSubmit('filter',$this->language->_('PILIH'),array('class'=>'btngreen hov')); ?>
                                                            </div>
                                                 </div>
                                                   
                              
	</div>
	
	<br>
<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped headerNew">
<thead>
		<tr class="headercolor">
			<th width="3%" valign="top" class="tablehead">
				<input name="allCheck[]" onclick="if($(this).is(':checked')){$('.benef_id').prop('checked', true);}else{$('.benef_id').prop('checked', false);}" type="checkbox">
				<?php //echo  $this->formCheckbox('checkAll', null,array('onclick' => 'switchCheck(this)', $this->disabled => $this->disabled)) ?>
					

				</th>
			<?php 
				echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
																)
			)?>
		</tr>
		</thead>
		<tbody>
		<?php
			if(count($this->data) > 0)
			{
				$i=0;
			//echo '<pre>';
			//var_dump($this->data);die;
				foreach($this->data as $row) 
				{

					$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
					$cek = FALSE;
					if($this->check == true)
					{
						if($row['CHECK'] == 1)
						{
							$cek = TRUE;
						}
					}
						$attribut=array('class' => 'benef_id', 'checked' => $cek);

						if($row['BANK_NAME'] == ''){
							$row['BANK_NAME'] = $this->app_bank;
						}

						// table content
						// <td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
						// <td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
						echo '	<tr>
						<td class="'.$td_css.'">'.$this->formCheckbox("benef_id[".$i."]", "1",$attribut).'<input type="hidden" name="benef_acc['.$i.']" value="'.$row['BENEFICIARY_ID'].'"></td>
						<td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
						<td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].' ('.$row['CURR_CODE'].')</td>
						
						<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>';
						echo '<td class="'.$td_css.'">'.$this->language->_($this->benefdesc[$this->benefcode[$row['BENEFICIARY_TYPE']]]).'</td>
						</tr>';

						$i++;
				}
				$i--;
			}
			else 
			{
				echo '<tr><td colspan=10 class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
			}
		?>
		<input type="hidden" name="i" value="<?php echo $i?>">
		</tbody>
	</table>
</div>

  <br>

<div class="row" style="display: none">
   <div class="col-sm-5">
    <div class="card">
      <div class="card-header cardhead">
        <strong style="color: white;"><?php echo $this->language->_('Notes'); ?></strong>
      </div>
      <div class="card-body form ">
        <div class="form-group row pt-2">
          <div class="col-sm-12">
            &bull; <?php echo $this->language->_('Tick checkbox in front of beneficiary to set.'); ?> <br>
            <!-- &bull; <?php echo $this->language->_('Allowed file extension/type: dbf csv pdf');?> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		
		<tr>
			<td class="button-area" id="button-area" colspan="5">
				<div class="formbutton" align="center">
					<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">
					<?php echo $this->formSubmit('submit',$this->language->_('Set Linkage'),array('class'=>'btngreen hov', $this->disabled => $this->disabled)); ?>
					<?php echo $this->errtemp;?>
				</div>
			</td>
		</tr>
	</table>
</form>
</div>
