<?php 
//$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?php echo $this->language->_('Account Information'); ?> &gt; <?php echo $this->language->_('Others Inquiry'); ?> &gt; <?php echo $this->language->_('Exchange Rate'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Exchange Rate'); ?></div>
<div>[ <?php echo $this->language->_('Data Updated :'); ?> <?php echo $this->resultdataUpdate;?> ]</div>


<!--Kurs Devisa Umum-->
<b><h2><?php echo $this->language->_('Kurs Devisa Umum');?></h2></b>
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  	<tr>
      <th width="5%" valign="top">No</th>
      <!-- <th width="30%" valign="top">Kurs</th>
      <th width="30%" valign="top">Jual</th>
      <th width="30%" valign="top">Beli</th> -->
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>
  	</tr>
    <?php
      if(count($this->devumum))
      {
        $i = 0;
        $counter = 1;
        //Zend_Debug::dump($this->paginator);die;
        foreach($this->devumum as $row)
        {
    		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
    		  echo '<tr>
                  	  <td class="'.$td_css.'">'.$counter.'</td>
    				  <td class="'.$td_css.'">'.$row['Kurs'].'</td>
    				  <td class="'.$td_css.'">'.$row['Sell'].'</td>
    				  <td class="'.$td_css.'">'.$row['Buy'].'</td>';
    				  ?>
    				<?php echo '</tr>';
    				
    		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="4" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
<br />

<!--Kurs Bank Notes-->
<b><h2><?php echo $this->language->_('Kurs Bank Notes');?></h2></b>
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  	<!--
  	<tr>
  		<th colspan='7'><?php echo $this->dateNow;?></th>
  	</tr>
    -->
    <tr>
      <th width="5%" valign="top">No</th>
      <!-- <th width="30%" valign="top">Kurs</th>
      <th width="30%" valign="top">Jual</th>
      <th width="30%" valign="top">Beli</th> -->
      
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
  	  
  	</tr>
    <?php
      if(count($this->banknotes))
      {
        $i = 0;
        $counter = 1;
        foreach($this->banknotes as $row)
        {
        	
    		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
    		  echo '<tr>
                  	  <td class="'.$td_css.'">'.$counter.'</td>
    				  <td class="'.$td_css.'">'.$row['Kurs'].'</td>
    				  <td class="'.$td_css.'">'.$row['Sell'].'</td>
    				  <td class="'.$td_css.'">'.$row['Buy'].'</td>';
    				  ?>
    				<?php echo '</tr>';
    				
    		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="4" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>