<form action="" method="POST">
    <div class="modal fade" id="dialog_password" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="padding-header-cust d-flex">
                        <div class="col">
                            <h5 class="text-center">Konfirmasi Ativasi User Admin</h5>
                        </div>
                    </div>
                    <div style="padding-left:2%" class="d-flex align-items-center flex-column pt-3">
                        <div style="font-size: 1.1rem;" class="mb-3">User : <span class="font-weight-bold"><?= $this->userId; ?></span></div>
                        <?php if ($this->error["wrong_password"]) { ?>
                            <div class="text-danger" style="font-size: 1.1rem;"><?= $this->error["wrong_password"]; ?></div>
                        <?php } ?>
                        <div style="font-size: 1.1rem;">Silahkan masukkan password Anda untuk konfirmasi penambahan User baru</div>
                        <div class="col-8 pt-2" style="position: relative;">
                            <input type="password" name="password_to_ldap" class="form-control text-center" autocomplete="off" required>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer" id="tampil_password">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer; display: none" id="sembunyi_password">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <!-- <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('TUTUP') ?></button> -->
                    <button type="submit" class="btngreen hov" id="kirim_cetak" name="kirim_cetak" value="kirim_cetak"><?php echo $this->language->_('KONFIRMASI') ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $('#dialog_password').modal({
        backdrop: "static",
        show: true,
        keyboard: false
    });

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector("#tampil_password").addEventListener("mouseover", (event) => {
            document.querySelector("[name='password_to_ldap']").setAttribute("type", "text");
            event.target.style.display = "none"
            document.querySelector("#sembunyi_password").style.display = "block"
        })

        document.querySelector("#sembunyi_password").addEventListener("mouseleave", (event) => {
            document.querySelector("[name='password_to_ldap']").setAttribute("type", "password");
            event.target.style.display = "none"
            document.querySelector("#tampil_password").style.display = "block"
        })
    })
</script>