<script>
function refreshCaptcha()
{
	var imgs = '<?=$this->serverUrl()?>/tools/generatecaptcha';
	$.post(imgs,{},
	function(data){
		$("div#captcha").html(data);
	});
	$("#capInput").val('');
}
</script>

<!-- <script type="text/javascript">
	$(document).ready(function() {

		$('input').prop('autocomplete', 'off');

		$('.toggle-password').on('mouseover', function() {
		    $(this).toggleClass("fa-eye fa-eye-slash");
		    var input = $($(this).attr("toggle"));
		    input.attr("type", "text");
		}).on('mouseout', function() {
		    $(this).toggleClass("fa-eye fa-eye-slash");
		    var input = $($(this).attr("toggle"));
		    input.attr("type", "password");
		});

	});

	function noSpace(obj) {
	 	obj.value = obj.value.replace (/\s/g, "");
	 	setTimeout(function() { $(obj).val(''); }, 60000);
	}
</script> -->

<style type="text/css">
	.footer{
		bottom: 0px!important;

		position: fixed!important;
	}

	.foot{
		position: fixed;bottom: 50px;right: 39px;
	}

	/*.field-icon {
	  float: right;
	  margin-right: 8px;
	  margin-top: -10px;
	  position: relative;
	  z-index: 2;
	  cursor:pointer;
	}*/
</style>

<?php

$this->headScript()->appendFile('/keyboard/docs/js/jquery-latest-slim.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery-migrate-3.1.0.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery-ui-custom.min.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.js');
$this->headScript()->appendFile('/keyboard/js/jquery.mousewheel.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-typing.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-autocomplete.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-caret.js');
$this->headScript()->appendFile('/keyboard/docs/js/bootstrap.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/demo.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery.tipsy.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/prettify.js');





// $this->headLink()->appendStylesheet('/keyboard/docs/css/demo.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/tipsy.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/prettify.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/jquery-ui.min.css');
$this->headLink()->appendStylesheet('/keyboard/css/keyboard.css');


	// print_r($this->language);die;
?>

<div class="row no-gutters">
	<?php if($this->accDisplay){
		?>
		<div class="col-md-7">
    <h4>Invalid Url</h4>
  </div>
	<?php }else{ ?>
  <div class="col-md-7">
    <h4>Create New Password</h4>
  </div>
  <?php } ?>
</div>
<div class="row">
<div class="col-2">
	&nbsp;
	</div>
<div class="col-8">
<form action="" method="post">
<?php echo $this->formHidden('randomTransact',$this->randomTransact,array('maxlength'=>'128','size'=>'40','readOnly'=>true));?>
<div class="row mt-3">
  <div class="col-md-12">
  	<?php
		if(isset($this->error_conpass) || isset($this->error_newpass))
		{
	?>
			<div class="alert alert-danger" role="alert">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span class="sr-only">Error:</span>
				<?php echo $this->error_newpass;?>
				<?php echo $this->error_conpass;?>
			</div>
	<?php 
		}
	?>
	<style type="text/css">
		.form-group, .form-control{
			/*padding-bottom:  0px!important;*/
			margin-bottom: 0.5rem!important;
		}

		input::placeholder {
			margin: 0 0 4px;
		}
	</style>
	
	<?php if($this->accDisplay){
		?>
		<div class="form-group row content-box">
			<center style="width: 100%">
				Link Already Expired or Already Used<br/>
        		Thank you
        		<br/><br/>
	        	<input onclick='location.href="<?=$this->url(array('module'=>'home','controller'=>'dashboard','action'=>'index'),null,true)?>"' class="btngreen hov" type="button" value="<?=$this->language->_('Back')?>">
        	</center>
		</div>
		<?php
	}else{
	?>
	<br/>

<div class="form-group row">
	<small id="emailHelp" class="form-text text-muted" style="font-size: 100%!important">
					<?php echo $this->language->_('Please fill in the form below to change password');?>
					<br>
					<?php echo $this->language->_('Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
					<br>
					<br>
					<?php echo $this->language->_('Password format requirements :');?>
					
					<br>&bull;<?php echo $this->language->_('has to be at least');?> <?=$this->minlengthpass?> <?php echo $this->language->_('characters long and max');?> <?=$this->maxlengthpass?> <?php echo $this->language->_('long');?>
					<br>&bull;<?php echo $this->language->_('may only contain alphanumeric characters (no whitespaces and special characters allowed)');?>
					<br>&bull;<?php echo $this->language->_('has to be a combination of letters and numbers (contains at least 1 uppercase character, 1 lowercase character and 1 number)');?><br>
					<br><br>
				
	</div>
    <div class="form-group row">
		<label for="" class="col-sm-3 col-form-label"><?=$this->language->_('New Password')?></label>
		<div class="col-sm-9 input-group" id="show_hide_password">
				<input type="password" name="pass" class="form-control" id="password" tabindex="2" autocomplete="off" placeholder="Password" style="height: 50px" />
				<!-- <span toggle="#old_password" class="fa fa-lg fa-eye-slash field-icon toggle-password"></span> -->
		      	<!-- <input id="text" type="text" placeholder=" Enter something..." style="display: none">
				<img id="password-opener" class="tooltip-tipsy" title="Click to open the virtual keyboard" src="/keyboard/css/images/keyboard.svg" style="float: right;margin-top: -45px;position: relative;z-index: 2;margin-right: 10px;"> -->
				<div class="input-group-addon" style="margin-left: -52px;z-index: 20;">
				  
					<a href="#"><i class="fa fa-eye-slash" aria-hidden="true" style="margin-top: 10px; color: #868c97;font-size: 1rem;font-weight: 400;line-height: 1.5;"></i></a>
					
				  </div>
			<!-- <div id="divMayus1"><?php echo $this->language->_('Caps Lock is on');?></div> -->
				<!-- <div id="error_newpass" class="errmsg"><?php echo $this->error_newpass;?></div> -->
			<!-- </div> -->
		</div>
	</div>

	<div class="form-group row">
		<label for="" class="col-sm-3 col-form-label"><?=$this->language->_('Confirm Password')?></label>
		<div class="col-sm-9 input-group" id="show_hide_password_confirm">
			<input type="password" name="confirm_pass" class="form-control" id="confirm_pass" tabindex="2" autocomplete="off" placeholder="Password" style="height: 50px" />
			<!-- <span toggle="#new_password" class="fa fa-lg fa-eye-slash field-icon toggle-password"></span> -->
			<div class="input-group-addon" style="margin-left: -52px;z-index: 20;">				  
				<a href="#"><i class="fa fa-eye-slash" aria-hidden="true" style="margin-top: 10px; color: #868c97;font-size: 1rem;font-weight: 400;line-height: 1.5;"></i></a>
			  </div>
		<!-- <div id="divMayus"><?php echo $this->language->_('Caps Lock is on');?></div> -->
			<!-- <div id="error_conpass" class="errmsg"><?php echo $this->error_conpass;?></div> -->
		<!-- </div> -->
	</div>

    
    <?php
		echo $this->formHidden('confirmPage',1);
		echo $this->formHidden('tokenAuth',$this->tokenAuth);
	 ?>
	<br/>
	<input type="submit" class="btn login-btn" name="user_submitbutton" onClick='submitbtn(this)' id="user_submitbutton" value="<?php echo $this->language->_('Confirm')?>" style="width: 26%;margin-left: 30%;" />
	<input type="submit" class="btn login-btn" id="user_submitbutton_show" name="user_submitbutton_show" value="<?php echo $this->language->_('Confirm')?>" disabled style="display:none;width: 26%;margin-left: 30%;"/>
	<script>
	function submitbtn(){
		$("#user_submitbutton").hide();
		$("#user_submitbutton_show").show();
	}
	</script>
<?php } ?>
    
  </div>
</div>
</form>
</div>

<div class="col-2">
	</div>
	</div>

<script type="text/javascript">

$(document).ready(function() {
    $("#show_hide_password a").on('mouseover', function(event) {
        event.preventDefault();
        // if($('#show_hide_password input').attr("type") == "text"){
            
        // }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
        // }
    }).on('mouseout', function(event) {
		event.preventDefault();
    		$('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
    });	
	
	
	$("#show_hide_password_confirm a").on('mouseover', function(event) {
        event.preventDefault();
        // if($('#show_hide_password_confirm input').attr("type") == "text"){
            
        // }else if($('#show_hide_password_confirm input').attr("type") == "password"){
            $('#show_hide_password_confirm input').attr('type', 'text');
            $('#show_hide_password_confirm i').removeClass( "fa-eye-slash" );
            $('#show_hide_password_confirm i').addClass( "fa-eye" );
        // }
    }).on('mouseout', function(event) {
		event.preventDefault();
    		$('#show_hide_password_confirm input').attr('type', 'password');
            $('#show_hide_password_confirm i').addClass( "fa-eye-slash" );
            $('#show_hide_password_confirm i').removeClass( "fa-eye" );
    });
});

	$("#divMayus").hide();
	    $('#password').keypress(function(e) {
	      var s = String.fromCharCode(e.which);
	      if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
	        $("#divMayus").show();
	      } else {
	        $("#divMayus").hide();
	      }
	    });

   

    $(document).ready(function() {

      $('input').prop('autocomplete', 'off');
      
    /*  $('.toggle-password').on('mousedown', function() {
          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          input.attr("type", "text");
      }).on('mouseup', function() {
          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          input.attr("type", "password");
      }); */
    });


</script>
