<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('General'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Remittance Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Detail')?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Set / Edit '.$this->title)?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php if($this->error){ ?>
<div class="errmsg">
<?php
		echo $this->language->_($this->msg_failed);
?>
</div>
<?php } ?>
<?php
if($this->id=='6'){
?>
<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?php echo $this->language->_($this->title) ?></h5>

		<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','custid'=>$this->custid,'id'=>$this->id),null,true)?>">
		  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
		    <tr>
		    	<th class="tdform-sub"><strong><?php echo $this->language->_('CCY')?></strong></th>
		    	<th colspan="1" class="tdform-sub"><strong><?php echo $this->language->_('Amount')?></strong></th>
		    </tr>
		    	<?php
					$optionCurrency = array('maxlength'=>20,
									  'size'=>12,
									  'class'=>'currency form-control',
									  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
									  'onblur'=>'NumFrmtUS(this.value,this.id)',
									  'onkeypress'=>'return forceCurrency(event)');

				?>
			<?php
		// 	print_r($this->paginator);die;
			if(count($this->paginator) > 0){
		        $i = 0;
		//         echo "<pre>";
		//         print_r($this->curencylist);die;
		//         print_r(count($this->paginator));
		        for ($i=0;$i<2;$i++)
		        {

				  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		// 		  if($this->paginator[$i]['CCY_ID']==)
				  $charges = $this->paginator[$i]['CHARGE_AMT'];
				  if($charges==''){
				  	$charges = 0;
				  }
				  echo '<tr>
						  <td class="'.$td_css.'"><input type="hidden" name="ccy[]" value="'.$this->curencylist[$i]['CCY_ID'].'" >'.$this->curencylist[$i]['CCY_ID'].'</td>
						  <td class="'.$td_css.'">'.$this->formText('amount'.$this->curencylist[$i]['CCY_ID'],Application_Helper_General::displayMoney($charges),$optionCurrency).'</td>'
						  ?>

						  <?php echo '</tr>';
		// 		$i++;

		  	  }
		    }else{
			  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
			}
		  ?>
		    <tr>
				<td class="button-area" id="button-area" colspan="3">
					<div class="formbutton">

					    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/remittancechanges/detail/index/custid/'.$this->custid.'\'','class'=>'btnwhite hov')); ?>
						<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
						<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btngreen hov"/>
					</div>
				</td>
			</tr>
		  </table>



		</form>
	</div>
</div>
<?php }
?>

<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>
