<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.padding-header-cust{
  padding-left:2%;
  background-color:#005587;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}

.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top:5px;
		min-width: 23px;
		height: 20px;
}

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
            <li>
                 	<span class="inhouse"><?=$this->language->_('LC or SKBDN')?></span>
				 	<i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('LC List')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Detail')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">

        <div class="row">
            <div class="col-md-6">
                <h5><?=$this->language->_('Application Form for LC / SKBDN Issuance')?></h5>
            </div>
            <!-- <div class="col-md-6" style="float:right">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div> -->
        </div>
				<form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3">
                <label class="textGray">Register Number</label>
            </div>
            <div class="col-md-3">
                <label><?= $this->lc_number ?></label>
            </div>
        </div>

        <div class="row">
						<div class="content-box col-md-12" style="padding-left: 2%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <h5><?=$this->language->_('LC / SKBDN Applicant Details')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">NPWP</label>
									</div>
									<div class="col-sm-9">
										<label>58.756.790.8-134.000</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">No. API</label>
									</div>
									<div class="col-sm-9">
										<label>WRE-164</label>
									</div>
								</div>
            </div>
        </div>
				<div class="row">
						<div class="content-box col-md-12" style="padding-left: 2%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <h5><?=$this->language->_('Beneficiary Details')?></h5>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Beneficiary Name</label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->benef_name?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Beneficiary Address</label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->benef_address?></label>
										</div>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Bank Guarantee Recipient')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Credit Type<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->credit_type_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Transferable<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->transferable_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirmation<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->confirmation_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Currency / Amount<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-5">
											<!-- <label for="form-label"><?= '(' . $this->ccyid . ') ' . $this->bank_amount?></label> -->
											<label for="form-label"><?= '(IDR) ' . $this->bank_amount?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Tolerance<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<?php if($this->tolerance == '1'){?>
										<div class="col-sm-2">
											<label class="textGray">&nbsp;Not exceeding</label>
										</div>
										<?php } else if($this->tolerance == '2'){?>
										<div class="col-sm-7" style="float:left">
											<label class="textGray">&nbsp;(+)</label>
											<?php echo $this->formText('toleranceMax',$this->toleranceMax,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:38%')); ?>
											<label class="textGray">% and (-)</label>
											<?php echo $this->formText('toleranceMin',$this->toleranceMin,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:35%')); ?>
										</div>
										<?php }?>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Expiry Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<label for="form-label"><?= $this->expiryDate?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Expiry Place<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->expiryPlace?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Last Shipment Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->lastShipment?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Shipment Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->shipmentPeriod?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Tenor<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<label for="form-label"><?= $this->tenor_text?></label>
										</div>
										<?php if($this->tenor == '2'){ ?>
										<div class="col-sm-6" id="usanceTenor">
											<label class="textGray">:&nbsp;</label>
											<?php echo $this->formText('usance',$this->usance,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:20%')); ?>
											<label>days after</label>
											<?php echo $this->formText('usance2',$this->usance2,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:20%')); ?>
										</div>

										<?php }else if($this->tenor == '3'){ ?>
										<div class="col-sm-6" id="otherTenor">
											<div class="row">
												<div class="col-sm-4">
													<label class="textGray col-form-label">Partial Shipment</label>
												</div>
												<div class="col-sm-8">
													<label for="form-label"><?= $this->partial_shipment?></label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label class="textGray col-form-label">Transshipment</label>
												</div>
												<div class="col-sm-8">
													<label for="form-label"><?= $this->trans_shipment?></label>
												</div>
											</div>
										</div>
										<?php } ?>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Advising Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->advBank_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirming Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->confirming_bank?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Place of Taking in Charge<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->placeCharge?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Port of Loading<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->portLoading?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Place of Final Destination<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->placeDestination?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Port of Discharge<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->portofDischarge?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Available With<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<?php if($this->availablewith == '1'){?>
										<div class="col-sm-3">
											<label class="textGray">&nbsp;Any Bank</label>
										</div>
										<?php } else if($this->availablewith == '2'){?>
										<div class="col-sm-6" style="float:left">
											<label class="textGray">&nbsp;Other</label>
											<?php echo $this->formText('otherAvailable',$this->otherAvailable,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:80%')); ?>
										</div>
										<?php }?>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">By<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-6">
											<label for="form-label"><?= $this->lcBy_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Document Presentation Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9" style="padding-right:0">
												<label for="form-label"><?= $this->documentPeriod . ' days after ' . $this->difered_payment_text ?></label>
										</div>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Goods Details')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Description of Goods<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<?php
													echo $this->formTextarea('descGoods',$this->descGoods,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','readonly'=>'readonly','style'=>'font-size:1.2em'));
										 		?>
										</div>
								</div>
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contract No.<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->contractNo?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">HS Code<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->hsCode?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Country Origin<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->countryOrigin?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Goods Volume<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->goodsVolume?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Unit Price<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<!-- <label for="form-label"><?= '(' . $this->ccyid2 . ') ' . $this->unitPrice?></label> -->
											<label for="form-label"><?= '(IDR) ' . $this->unitPrice?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Trade Terms<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<?php if($this->trade == '1'){?>
										<div class="col-sm-9">
											<div class="row">
												<div class="col-sm-12">
													<label for="form-label"><?= $this->trade_terms_text . ' (Incoterms 2010)';?></label>
												</div>
											</div>
										</div>
										<?php } else if($this->trade == '2'){?>
										<div class="col-sm-9">
											<div class="row">
												<div class="col-sm-12" style="padding-left:0px;padding-right:0px;">
													<label class="textGray">&nbsp;Others</label>
													<?php echo $this->formText('tradeOthers',$this->tradeOthers,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												</div>
											</div>
										</div>
										<?php }?>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Documents Required')?></h5>
							</div>
							<div style="padding-left:2%">
								<?php if($this->checkp1){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
                        <label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Signed commercial invoice in</label>
												<?php echo $this->formText('docReq1',$this->docReq1,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq2',$this->docReq2,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												<label class="textGray">copy(ies)</label>
										</div>
								</div>
								<?php } ?>
								<?php if($this->checkp2){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Packing List in</label>
											<?php echo $this->formText('docReq3',$this->docReq3,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq4',$this->docReq4,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>
								<?php }?>
								<?php if($this->checkp3){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Insurance Policy or Certificate in</label>
											<?php echo $this->formText('docReq5',$this->docReq5,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq6',$this->docReq6,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray">&nbsp;&nbsp;&nbsp;for</label>
											<?php echo $this->formText('docReq7',$this->docReq7,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">% from gross invoice value under clause:</label>
											<div class="row pt-2">
												<?php if($this->checkp4){ ?>
												<div class="col-sm-6">
													<label style="padding-left:4%" class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Institute Cargo Clause</label>
												</div>
												<?php }?>
												<?php if($this->checkp5){ ?>
												<div class="col-sm-6">
													<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Institute War Clause</label>
												</div>
											</div>
											<div class="row pt-2">
												<?php }?>
												<?php if($this->checkp6){ ?>
												<div class="col-sm-6">
													<label style="padding-left:4%" class="textGray" for=""><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Institute Strike Risk Clause (Cargo)</label>
												</div>
												<?php }?>
												<?php if($this->checkp7){ ?>
												<div class="col-sm-6">
													<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Other</label>
													<?php echo $this->formText('docReq8',$this->docReq8,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:77%')); ?>
												</div>
												<?php }?>
											</div>
										</div>
								</div>
								<?php }?>
								<?php if($this->checkp8){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Fullset of Bill Landing in</label>
											<?php echo $this->formText('docReq9',$this->docReq9,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq10',$this->docReq10,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">non negotiable copy, made out to the order of [maseter_bank_name], and notify to</label>
											<?php echo $this->formText('docReq11',$this->docReq11,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:95%')); ?>
										</div>
								</div>
								<div class="form-group row pt-2 pb-2">
									<div class="col-sm-12">
										<div class="row">
											<label class="textGray" style="padding-left:2%">Other Documents</label>
											<div class="col-sm-12" style="padding-left:4%">
												<label class="textGray">Certificate of Origin in</label>
												<?php echo $this->formText('docReq12',$this->docReq12,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq13',$this->docReq13,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">copy(ies), issued by</label>
												<?php echo $this->formText('docReq14',$this->docReq14,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12" style="padding-left:4%">
												<label class="textGray">Beneficiary's Certificate in</label>
												<?php echo $this->formText('docReq15',$this->docReq15,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq16',$this->docReq16,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">copy(ies), certify</label>
												<?php echo $this->formText('docReq17',$this->docReq17,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
											</div>
										</div>
									</div>
								</div>
								<?php }?>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Additional Condition')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row">
									<div class="col-sm-12 pt-2 pb-3">
											<?php
												echo $this->formTextarea('comment',$this->comment,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','readonly'=>'readonly','style'=>'font-size:1.2em'));
											?>
									</div>	
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Charges')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Issuance<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->issuance_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Discrepancy<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->discrepancy_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirmation<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->confirmationCharge_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">All Charges outside the Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->chargesOutside_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Charge to Account<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->chargetoAccount?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" align="center">
										<button type="button" name="back" id="back" value="back" onclick="location.href='/lcrequest'" class="btnwhite hov">Back</button>
										&nbsp;
										<?php 
											$repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
											echo $this->formButton('repair',$this->language->_('Request Repair'), $repairAttr);
										?>
										&nbsp;
										<button name="cancel" type="button" id="reject" onClick="rejectmodal()" class="btn-sm btnred hov">Reject</button>
										&nbsp;
										<button name="claim" type="button" id="approve" onClick="approvemodal()" class="btn-sm btngreen hov">Approve</button>
										
									</div>
								</div>
							</div>
						</div>
				</div>
				
				<!-- END -->
				</form>
		</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalReject" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Bank Guarantee Request') ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <p class="textBlack" style="font-size: 14px;"><span style='color:red;'>*</span><?php echo $this->language->_('must be filled') ?></p>
        <?php echo $this->formTextarea('rejectNotes', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
                'onKeyDown'=>'textCounter(this.form.rejectNotes,this.form.disable_note_len2,128)',
                'onKeyUp'=>'textCounter(this.form.rejectNotes,this.form.disable_note_len2,128)',
                'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'rejectNotes', 'style' => 'font-size: 14px;')) ?>
        <br>
        <div class="input-group">
          <?php echo $this->formText('disable_note_len2', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
          <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
        </div> 
      </div>
      <div class="row">
          <div class="col" style="text-align: center;">
            <label style="color:red;">Are you sure to reject this request?</label>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('No') ?></button>
        <button type="button" class="btngreen hov" id="btn_submit_reject"><?php echo $this->language->_('Yes') ?></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?></p>
      <?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
              'onKeyDown'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
              'onKeyUp'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
              'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON2')) ?>
      <br>
      <div class="input-group">
        <?php echo $this->formText('disable_note_len2', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
        <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
      <button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalApprove" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title textBlack"><?php echo $this->language->_('Approve Bank Guarantee Request') ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="textBlack" style="font-size: 14px;"><span style='color:red;'>*</span><?php echo $this->language->_('must be filled') ?></p>
        <table style="width:100%">
          
          <tr> 
            <td>
              <?php echo $this->formLabel('bgnumber',$this->language->_('Bank Guarantee Number'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><font color="red">*</font>
            <td colspan="2">
              <?php echo $this->formText('bg_number', $this->bg_number, array('maxlength' => 20, 'class' => 'form-control required col-md-12 input', 'oninput' => 'this.className="form-control input"', 'style' => 'font-size: 14px;')); ?>         
            </td>
          </tr>
          <tr> 
            <td>
              <?php echo $this->formLabel('upload_doc',$this->language->_('Upload Document'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><font color="red">*</font>
            </td>
            <td colspan="2">
              <div class="file-upload">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">Choose File</div>
                  <div class="file-select-name textBlack" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
                  <input type="file" name="uploadSource" id="chooseFile">
                </div>
              </div>          
            </td>
          </tr>
        </table>
        <br>
        <!-- <div class="row">
          <div class="col" style="text-align: center;">
            <label style="color:red;">Are you sure to approve this request?</label>
          </div>
        </div> -->
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
        <button type="button" class="btngreen hov" id="btn_submit_approve"><?php echo $this->language->_('Submit') ?></button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){

	$('#expiryDate').datepicker({
		format: 'yyyy-mm-dd',
		uiLibrary: 'bootstrap4'
	});
	$('#lastShipment').datepicker({
		format: 'yyyy-mm-dd',
		uiLibrary: 'bootstrap4'
	});

	$('#tenor').change(function() {
			var value = $(this).val();
			if(value === "2"){
				$('#otherTenor').hide()
				$('#usanceTenor').show()
			}else if(value === "3"){
				$('#otherTenor').show()
				$('#usanceTenor').hide()
			}else{
				$('#otherTenor').hide()
				$('#usanceTenor').hide()
			}
		});

});

function rejectmodal(){
  $('#modalReject').modal('show');

  // $("#btn_submit_reject").attr('onclick', 'if($("#rejectNotes").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#approveForm");$("#approveForm").submit();}');
}

function approvemodal(){
  $('#modalApprove').modal('show');

  // $("#btn_submit_approve").attr('onclick', 'if($("#bg_number").val() == "" || $("#chooseFile").val() == ""){alert("Please fill the Bank Guarantee Number and Upload Document");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "approve",value: "approve"}).appendTo("#approveForm");$("#approveForm").submit();}');  
}

function repairmodal() {

$('#dialogrepair_box').modal('show');

// $("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#approveForm");$("#approveForm").submit();}');
}
</script>