<!-- <b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Monthly Fee'); ?> &gt; <?php echo $this->language->_('Monthly Transaction Account'); ?></b><br /><br /> -->

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Set Company Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                 <li>
	                    <span class="valas" ><?php echo $this->language->_('Monthly Fee'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Monthly Transaction Account'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->result[0]['CUST_ID'], $rand);
  $enccustid = urlencode($encrypted_custid);
?>

<div class="row content-box">
	  <div class="portlet-body form col-md-12">
      	<h5><?=$this->language->_('Company Charges')?></h5>
      	<br>
      	<table cellpadding="3" cellspacing="0" border="1" class="tableform" width="80%">
      	<tr><th colspan="3" class="tdform-sub filterarea tablehead"><strong><?php echo $this->language->_('Charges Type'); ?> : <?php echo $this->language->_('Monthly per Account'); ?></strong></th></tr>
        <tr>
	    <tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
			<td class="tdform-odd"><?php echo $this->result[0]['CUST_ID'];?></td>
		</tr>
		<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
			<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'];?></td>
		</tr>
		<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
			<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
		</tr>
		</table>
	</div>
</div>

<i>
<?php echo $this->language->_('Set/Edit Charge Amount for the following Accounts'); ?>.<br />
<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill charge amount with zero (0) to unset charge account'); ?><br />
</i>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="100%">
   <tr>
   	<th rowspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Account')?></div></th>
    <th colspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Number of Transaction')?></div></th>
    <th rowspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Charges per Month')?></div></th>
    <th rowspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Charges Account');?></div></th>
  </tr>
  <tr>
    <th class="tablehead"><div align="center"><?php echo $this->language->_('From')?></div></th>
    <th class="tablehead"><div align="center"><?php echo $this->language->_('To')?></div></th>
  </tr>
  <?php
  if($this->resultaccount)
  {
	$option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency form-control',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
	$option2 = array('maxlength'=>10,
  						  'size'=>15,
  						  'class' => 'form-control',
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
	$option3 = array('maxlength'=>19,
  						  'class'=>'desc',
  						  'size'=>25,
  						  'class' => 'form-control',
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
	  $y = 0;
	  foreach($this->resultaccount as $list)
	  {
	   $x = 0;
	   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
	   $idfrom = $list['ACCT_NO'].'from'.$x;
	   $idto = $list['ACCT_NO'].'to'.$x;
	   $idamt = $list['ACCT_NO'].'amount'.$x;
	   $rowmaxid = 'rowmax'.$list['ACCT_NO'];
	   $rowmax = $this->$rowmaxid;
	   //Zend_Debug::dump($rowmax);die;
	   $rowspan = 5+$rowmax;
	   $acct = $list['ACCT_NO'];
	   $cekacct = 'cek'.$list['ACCT_NO'];
	   $errfrom = 'err'.$idfrom;
	   $errto = 'err'.$idto;
	   $erramt = 'err'.$idamt;
	   $erracct = 'err'.'cek'.$list['ACCT_NO'];
	   $err2 = $list['ACCT_NO'].'err2'.$x;
	  	?>
	  	<tr>
	  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>" align="center" valign="middle"><br /><br /><br /><br /><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
	  	<td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2); ?></td>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>"><br /><br /><br /><br />
	  	
		<?php  
		echo'<select class="form-control" name="'.$list['ACCT_NO'].'">';
			echo '<option value="'.$list['ACCT_NO'].'">'.$list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'.'</option>'; 
		echo'</select>';
		?>

		<?php
		if($this->$erracct)
		{
			echo '<br /><span class="errmsg">'.$this->$erracct.'</span>';
		}
		?>
	  	</td>
	  	</tr>
	  	<?php 
	  	if($this->$errfrom || $this->$erramt || $this->$err2)
	  	{
	  		//echo $this->$err2; die;
	  		echo '<tr>
	  				<td class="'.$td_css.'" colspan="3">';
	  		
	  		if($this->$erramt)
	  		{
	  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		if($this->$errfrom)
	  		{
	  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		for($z=$x;$z>=0;$z--)
	  		{
	  			$errto2 = $errto.$z;
	  			if($this->$errto2)
	  			{
	  				echo '<span class="errmsg">'.$this->$errto2.'</span>';
	  				echo '<br /><br />';
	  			}
	  		}
	  		echo '</td>
	  			 </tr>';
	  	}
	  	$x++;?>
	  <?php 
	  for($i=1;$i<5;$i++)
	  {
	  	$idfrom = $list['ACCT_NO'].'from'.$x;
	   	$idto = $list['ACCT_NO'].'to'.$x;
	   	$idamt = $list['ACCT_NO'].'amount'.$x;
	   	$errfrom = 'err'.$idfrom;
	   	$erramt = 'err'.$idamt;
	   	$errto = 'err'.$idto;
	   	$err2 = $list['ACCT_NO'].'err2'.$x;
	   	//Zend_Debug::dump($this->$errto);die;
	  ?>
	  <tr>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2);?></td>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	  </tr>
	  <?php 
	  	if($this->$errfrom || $this->$erramt || $this->$err2)
	  	{
	  		//echo $this->$idto;die;
	  		echo '<tr>
	  				<td class="'.$td_css.'" colspan="3">';;
	  		
	  		if($this->$erramt)
	  		{
	  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		if($this->$errfrom)
	  		{
	  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	  			echo '<br /><br />';
	  		}
	  		for($z=$x;$z>=0;$z--)
	  		{
	  			$errto2 = $errto.$z;
	  			
	  			if($this->$errto2)
	  			{
	  				echo '<span class="errmsg">'.$this->$errto2.'</span>';
	  				echo '<br /><br />';
	  			}
	  		}
	  		
	  		echo '</td>
	  			 </tr>';
	  	}
	  	?>
	  <?php 
	  $x++;}
	  $y++;}
  }
  else
  {
  	echo '<tr><td class="tbl-evencontent" colspan="5">'.$this->language->_('No Data').' ('.$this->language->_('company does not have source account').')</td></tr>';
  }?>
</table> 
<br />
<table width="100%">
	<tr align="left">
		<td  align="left">
			<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'monthlyfee','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">
			&nbsp;
			<?php
			if($this->resultaccount)
			{
				if($this->changestatus)
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
					<br /><br />
					<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
				}
				else
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov'));
				}
			}?>
		</td>
	</tr>
</table>
</form>



<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges'); ?></div>
<br />
<h2><?php echo $this->language->_('Charges Type'); ?> : <?php echo $this->language->_('Monthly per Account'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
	</tr>
</table>
<i>
<?php echo $this->language->_('Set/Edit Charge Amount for the following Accounts'); ?>.<br />
<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill charge amount with zero (0) to unset charge account'); ?><br />
</i>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="100%">
   <tr>
   	<th rowspan="2"><?php echo $this->language->_('Account')?></th>
    <th colspan="2"><?php echo $this->language->_('Number of Transaction')?></th>
    <th rowspan="2"><div align="center"><?php echo $this->language->_('Charges per Month')?></div></th>
    <th rowspan="2"><?php echo $this->language->_('Charges Account');?> </th>
  </tr>
  <tr>
    <th><?php echo $this->language->_('From')?></th>
    <th><?php echo $this->language->_('To')?></th>
  </tr>
  <?php
  if($this->resultaccount)
  {
	$option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
	$option2 = array('maxlength'=>10,
  						  'size'=>15,
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
	$option3 = array('maxlength'=>19,
  						  'class'=>'desc',
  						  'size'=>25,
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
	  $y = 0;
	  foreach($this->resultaccount as $list)
	  {
	   $x = 0;
	   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
	   $idfrom = $list['ACCT_NO'].'from'.$x;
	   $idto = $list['ACCT_NO'].'to'.$x;
	   $idamt = $list['ACCT_NO'].'amount'.$x;
	   $rowmaxid = 'rowmax'.$list['ACCT_NO'];
	   $rowmax = $this->$rowmaxid;
	   //Zend_Debug::dump($rowmax);die;
	   $rowspan = 5+$rowmax;
	   $acct = $list['ACCT_NO'];
	   $cekacct = 'cek'.$list['ACCT_NO'];
	   $errfrom = 'err'.$idfrom;
	   $errto = 'err'.$idto;
	   $erramt = 'err'.$idamt;
	   $erracct = 'err'.'cek'.$list['ACCT_NO'];
	   $err2 = $list['ACCT_NO'].'err2'.$x;
	  	?>
	  	<tr>
	  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>" align="center" valign="middle"><br /><br /><br /><br /><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
	  	<td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2); ?></td>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>"><br /><br /><br /><br />
	  	
		<?php  
		echo'<select name="'.$list['ACCT_NO'].'">';
			echo '<option value="'.$list['ACCT_NO'].'">'.$list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'.'</option>'; 
		echo'</select>';
		?>
		
		<?php
		if($this->$erracct)
		{
			echo '<br /><span class="errmsg">'.$this->$erracct.'</span>';
		}
		?>
	  	</td>
	  	</tr>
	  	<?php 
	  	if($this->$errfrom || $this->$erramt || $this->$err2)
	  	{
	  		//echo $this->$err2; die;
	  		echo '<tr>
	  				<td class="'.$td_css.'" colspan="3">';
	  		
	  		if($this->$erramt)
	  		{
	  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		if($this->$errfrom)
	  		{
	  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		for($z=$x;$z>=0;$z--)
	  		{
	  			$errto2 = $errto.$z;
	  			if($this->$errto2)
	  			{
	  				echo '<span class="errmsg">'.$this->$errto2.'</span>';
	  				echo '<br /><br />';
	  			}
	  		}
	  		echo '</td>
	  			 </tr>';
	  	}
	  	$x++;?>
	  <?php 
	  for($i=1;$i<5;$i++)
	  {
	  	$idfrom = $list['ACCT_NO'].'from'.$x;
	   	$idto = $list['ACCT_NO'].'to'.$x;
	   	$idamt = $list['ACCT_NO'].'amount'.$x;
	   	$errfrom = 'err'.$idfrom;
	   	$erramt = 'err'.$idamt;
	   	$errto = 'err'.$idto;
	   	$err2 = $list['ACCT_NO'].'err2'.$x;
	   	//Zend_Debug::dump($this->$errto);die;
	  ?>
	  <tr>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2);?></td>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	  </tr>
	  <?php 
	  	if($this->$errfrom || $this->$erramt || $this->$err2)
	  	{
	  		//echo $this->$idto;die;
	  		echo '<tr>
	  				<td class="'.$td_css.'" colspan="3">';;
	  		
	  		if($this->$erramt)
	  		{
	  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		if($this->$errfrom)
	  		{
	  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	  			echo '<br /><br />';
	  		}
	  		for($z=$x;$z>=0;$z--)
	  		{
	  			$errto2 = $errto.$z;
	  			
	  			if($this->$errto2)
	  			{
	  				echo '<span class="errmsg">'.$this->$errto2.'</span>';
	  				echo '<br /><br />';
	  			}
	  		}
	  		
	  		echo '</td>
	  			 </tr>';
	  	}
	  	?>
	  <?php 
	  $x++;}
	  $y++;}
  }
  else
  {
  	echo '<tr><td class="tbl-evencontent" colspan="5">'.$this->language->_('No Data').' ('.$this->language->_('company does not have source account').')</td></tr>';
  }?>
</table> 
<br />
<table width="100%">
	<tr align="left">
		<td  align="left">
			<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'monthlyfee','action'=>'index','custid'=>$enccustid),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back')?>">
			&nbsp;
			<?php
			if($this->resultaccount)
			{
				if($this->changestatus)
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
					<br /><br />
					<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
				}
				else
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn'));
				}
			}?>
		</td>
	</tr>
</table>
</form> -->