<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<style>
    label {
        font-size: 1.2em;
    }

    .col-form-label {
        font-size: 1.2em;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    .tableFile {
        width: 100%;
        font-size: 16px;
    }

    .tableFile th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
        padding: 7px 0;
    }

    .tableFile td {
        background-color: #efefef;
        font-weight: normal;
        border-bottom: 2px solid #c2c2c2;
        padding: 7px 0;
    }

    .tableFile td:first-child {
        padding-left: 10px;
    }

    .tableFile th:first-child {
        padding-left: 10px;
    }

    .tableFile tr:last-child td {
        border-bottom: 0;
    }

    .tableFile th:last-child {
        text-align: center;
    }

    #guarantedTransactions {
        width: 100%;
        font-size: 16px;
    }

    #guarantedTransactions th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
    }

    #guarantedTransactions td {
        background-color: #efefef;
        font-weight: normal;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Alur Penutupan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Persetujuan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel">Principal Bank Garansi Detail</h4>
                </center>

            </div>

            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Perusahaan</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">NPWP</label>
                            </div>
                            <div class="col-sm-9">
                                <label> <?php echo $this->getBG['CUST_NPWP']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Address</label>
                            </div>
                            <div class="col-sm-9">
                                <label> <?php echo $this->getBG['CUST_ADDRESS']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">City</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CITY_NAME']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Company Office Number') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_PHONE']; ?> </label>

                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Contact Person') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_CP']; ?> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Contact Number</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_CONTACT_NUMBER']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Contact Email') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['BG_CUST_EMAIL']; ?> </label>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-1"></div>

                </div>





            </div>
            <div class="modal-footer">
                <center style="width: 100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid content-box" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
    <table width="100%" border="0">

        <?php
        if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
            $makerAlign = "right";
            $makerHrStyle = "width: 25%;";
            $makerCircleStyle = 'padding-right: 10px;text-align:center;';
            $makerFontStyle = "padding-right: 17px;text-align:center;";

            $releaserAlign = "left";
            $releaserCircleStyle = 'padding-left: 10px;text-align:center;';
            $releaserFontStyle = "padding-left: 12px;text-align:center;";
            $releaserText = "2";

            $principleCircleStyle = "padding-left: 10px;text-align:center;";
            $principleFontStyle = "padding-left: 12px;text-align:center;";
        ?>

            <style type="text/css">
                #makerCircle {
                    margin-top: 10%;
                }

                #releaserCircle {
                    margin-top: 10%;
                }
            </style>

        <?php



        } else {
            $makerAlign = "center";
            $releaserAlign = "center";
            $approverText = "3";
            $releaserText = "4";
        }

        if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
            $approverText = "2";
            $releaserText = "3";
        } elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
            $releaserText = "3";
        }

        ?>


        <tr>
            <td align="<?php echo $makerAlign; ?>" style="<?php echo $makerCircleStyle ?>">
                <?php echo (!empty($this->makerStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
            </td>

            <td style="<?php echo $makerHrStyle; ?>">
                <hr class="hrline <?= $this->makerStatus; ?>">
            </td>



            <td align="center"><?php echo $this->approverNameCircle; ?></td>

            <td>
                <hr class="hrline <?= $this->approveStatus; ?>">
            </td>


            <td align="<?php echo $releaserAlign; ?>" style="<?php echo $releaserCircleStyle ?>">
                <?php echo $this->releaserNameCircle; ?></td>



        </tr>
        <tr>
            <td align="<?php echo $makerAlign; ?>" style="<?php echo $makerFontStyle; ?>"><?= $this->language->_('Maker') ?></td>
            <td></td>




            <td align="center"><?= $this->language->_('Approver') ?></td>
            <td></td>


            <td align="<?php echo $releaserAlign; ?>" style="<?php echo $releaserFontStyle; ?>"><?= $this->language->_('Releaser') ?></td>

        </tr>
        <tr>
            <td align="center"></td>
            <td></td>




            <td align="center"><?php echo $this->policyBoundary; ?></td>
            <td></td>


            <td align="center"></td>
        </tr>
        <tr>
            <td align="<?php echo $makerAlign; ?>">
                <?php echo $this->makerApprovedBy; ?>
            </td>
            <td></td>




            <td align="center">
                <?php
                if (!empty($this->approverApprovedBy)) {
                    foreach ($this->approverApprovedBy as $row => $value) {
                        echo $value;
                    }
                }
                ?>
            </td>
            <td></td>

            <td align="<?php echo $releaserAlign; ?>">
                <?php echo $this->releaserApprovedBy; ?>
            </td>

        </tr>

        <!-- if group lebih dari 3 -->
        <!-- <?php if ($count > 2) { ?>
		<tr>
			<td></td>
			<td></td>

			<?php if ($this->cust_reviewer == 1) { ?>
				<td></td>
				<td></td>
			<?php } ?>

			<?php if ($this->cust_approver == 1) { ?>
				<td style="padding-left: 8px;">
					<?php
                        $count = 0;
                        foreach ($this->approverNameCircle as $row => $value) {
                            foreach ($value as $key => $values) {
                                if ($count > 2 && $count < 6) {
                                    echo $values;
                                }
                                $count++;
                            }
                        }
                    ?> 
				</td>
			<?php } ?>

			<td></td>
			<td></td>
		</tr>
		<?php } ?> -->
    </table>
    <br>
    <br>
    <a href="#" onclick="modalmoredetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>

</div>

<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
                </center>
            </div>

            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">


                        <table class="table-bordered" cellpadding="3" style="width:100%">
                            <tr style="background-color:#ccc">
                                <td><b><i><?= $this->language->_('User'); ?></i></b></td>
                                <td><b><i><?= $this->language->_('Action'); ?></i></b></td>
                                <td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
                                <td><b><i><?= $this->language->_('Note'); ?></i></b></td>
                            </tr>
                            <?php foreach ($this->dataHistory as $row) : ?>
                                <tr style="background-color:#eee">
                                    <td><?= $row['USER_LOGIN']; ?></td>
                                    <td><?= $this->arrbgclosinghistory[$row['HISTORY_STATUS']]; ?></td>
                                    <td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
                                    <td><?= $row['BG_REASON'] ?: '-'; ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>



                    </div>
                    <div class="col-sm-1"></div>

                </div>

            </div>
            <div class="modal-footer">
                <center style="width:100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>

</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?= $this->language->_('Detail Pengajuan Penutupan Bank Garansi') ?></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('No Ref Pengajuan') ?></label>
            </div>
            <div class="col-md-9">
                <label><?= $this->getBG['CLOSE_REF_NUMBER']; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Penutupan atas Nomor BG') ?></label>
            </div>
            <div class="col-md-9">
                <label class="text-danger font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?></label>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bentuk Penerbit') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->publishDesc; ?> <?= $this->nomorRefKertas; ?></label>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Subjek') ?></label>
            </div>
            <div class="col-md-9">
                <label style="font-weight:bold;"><?php echo $this->getBG['BG_SUBJECT']; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Tipe Usulan</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->arrbgclosingType[$this->getBG['CHANGE_TYPE']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Suggestion Type') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->arrbgclosingStatus[$this->getBG['SUGGESTION_STATUS']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Notes</label>
            </div>
            <div class="col-md-9">
                <label>-</label>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?= $this->language->_('Principal Bank Garansi') ?> </h5>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="textGray">Perusahaan</label>
                    </div>
                    <div class="col-sm-9">
                        <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
                    </div>
                </div>
                <!--<a href="#" onclick="bankApp();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>-->
                <!-- BEGIN PERBAIKAN TO 14 Juni 2023 -->
               <i  style="position: absolute; right: 1%; bottom: 2%; color:blue; cursor:pointer;" class="fa fa-ellipsis-h" data-toggle="modal" data-target="#myModalBankApp"></i>
                <!-- END PERBAIKAN TO 14 Juni 2023 -->
            </div>
        </div>
        <form action="" id="ApproveForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'Approvedetail', 'bgnumb' => $this->BG_REG_NUMBER), null, true) ?>">
            <!-- <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?= $this->language->_('Usage Purpose') ?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
                
                <div class="form-group row">
                    <?php if ($this->checkp1) {
                    ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Bidding Guarantee</label>
                    </div>
					 <?php
                    } ?>
                    <?php if ($this->checkp2) { ?><div class="col-sm-5">
                        <label for="">
						   
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Advance Payment Guarantee</label>
                    </div>
					<?php
                    } ?>
                    <?php if ($this->checkp3) {
                    ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Performance Bond</label>
                    </div><?php
                        } ?>
                    <?php if ($this->checkp4) {
                    ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Maintenance Guarantee</label>
                    </div>
					<?php
                    } ?>
                </div>
				<?php if ($this->checkp5) {
                ?>
                <div class="form-group row pb-2">
                    <div class="col-sm-10">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Others :</label>
											<label><?php echo $$this->others; ?>		</label>				
                    </div>
                </div>
				<?php
                } ?>
							</div>
            </div>
        </div> -->

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
                    </div>

                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Jenis BG') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?= ($this->getBG['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->getBG['USAGE_PURPOSE_DESC'])) : $this->arrbg[$this->getBG['USAGE_PURPOSE']]; ?> </label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%; padding-top:2px;">

                        <div class="row pt-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label">Nominal Bank Garansi</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="input-group" id="">
                                    <label class="text-danger" id="bank_amount_lbl" style="font-weight:bold;"><?= $this->bgCurrency . " " . number_format($this->BG_AMOUNT, 2) ?></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label">Berlaku Sejak</label>
                            </div>
                            <div class="col-sm-9 form-inline" style="float:left">
                                <label><?php echo $this->updateStart; ?>
                                    &nbsp;To&nbsp;
                                    <?php echo $this->updateEnd; ?></label>
                                &nbsp;&nbsp;&nbsp;
                                <label class="textGray" id="daysTotal">&nbsp;</label>
                                <?php echo $this->daysTotal; ?>


                            </div>
                        </div>
                        <div class="form-group row" style="">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label">Batas Tanggal Klaim</label>
                            </div>
                            <div class="col-sm-9">
                                <?php
                                $addday = '+ ' . $this->claim_period . ' day';
                                $Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
                                ?>
                                <!-- <label><?php echo Application_Helper_General::convertDate($Date2, $this->viewDateFormat, $this->defaultDateFormat); ?></label> -->

                                <label><?= date('d M Y', strtotime($this->BG_CLAIM_DATE)); ?></label>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Obligee Bank Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Nama Obligee') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_NAME']; ?> </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Alamat') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_ADDRES']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Kota') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_CITY']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_CONTACT']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Nama Kontak') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_CP']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Nomor Telepon Kontak') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_OFFICE_NUMBER']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label"><?= $this->language->_('Email Kontak') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_EMAIL']; ?> </label>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                    </div>
                    <?php if ($this->counterWarrantyType == '1') : ?>
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>

                    <?php if ($this->counterWarrantyType == '2') : ?>
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Pemilik Plafond Limit') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL" class="textGray"><?php echo $this->getBG['CUST_NAME'] ?></label>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>

                    <?php if ($this->counterWarrantyType == '3') : ?>
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Nama Asuransi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label class="col-form-label"><?= $this->language->_($this->insuraceName); ?></label>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label"><?= $this->language->_('Asuransi Cabang') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label class="col-form-label"><?= $this->language->_($this->insuranceBranch); ?></label>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>

                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust d-flex" style="background-color:#dc3545;">
                        <div class="col">
                            <h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
                        </div>
                    </div>
                    <div style="padding-left:2%" id="sertifikatBG">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label">Tanggal Terbit </label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center">
                                <label for="" class="col-form-label text-danger font-weight-bold"><?php echo $this->bgIssuedDate; ?></label>
                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray col-form-label">Dokumen Final </label>
                            </div>
                            <div class="col-sm-9 d-flex align-items-center" style="gap: 10px;">
                                <input type="text" class="form-control" value="BG_<?= $this->bgdata['BG_NUMBER']; ?>.pdf" disabled style="font-size: 1.2em; margin-left: -13px; background-color: #FFE6EB;">
                                <button class="btnwhite hov" style="border-radius: 6px !important; height: 27px !important;" type="button" onclick="javascript:window.open(`/bgclosingworkflow/approvedetail/showcertificate/bgnumb/<?= urlencode($AESMYSQL->encrypt($this->bgdata['BG_NUMBER'], uniqid())); ?>`)"><i class="fa fa-search pr-1" style="color: #0D85F1; font-size: 14px;"></i> PRATINJAU</button>
                                <button class="btnwhite hov" style="border-radius: 6px !important; height: 27px !important;" type="button" onclick="javascript:window.open(`/bgclosingworkflow/approvedetail/downloadcertificate/bgnumb/<?= urlencode($AESMYSQL->encrypt($this->bgdata['BG_NUMBER'], uniqid())) ?>`)"><i class="fa fa-download pr-1 text-body" font-size: 14px;"></i>DOWNLOAD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php if ($this->changeType == '1') : ?>

                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust" style="background-color:#dc3545;">
                            <h5><?= $this->language->_('Lampiran Dokumen Penutupan') ?>
                            </h5>
                        </div>
                        <div style="padding-left:2%; padding-top:2px;" class="py-3">
                            <table id="guarantedTransactions">
                                <thead>
                                    <th>Nama Dokumen</th>
                                    <th>Nama File</th>
                                    <th class="inputFormat">Tindakan</th>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->lampiranDokumen as $key => $value) { ?>
                                        <tr>
                                            <td><?= $value['FILE_NOTE']; ?></td>
                                            <td><?= $value['BG_FILE']; ?></td>
                                            <td align="center" class="inputFormat">
                                                <button onclick="location.href = '/bgclosingworkflow/Approvedetail/downloadlampiran/bgfile/<?php echo $value['BG_FILE']; ?>';" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" type="button">
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <strong class="formreq">
                                <font color="red">&nbsp;*</font>
                            </strong> <label for="" class="textGray col-form-label"><?= $this->language->_('Semua Lampiran Dokumen asli wajib diserahkan ke Bank Cabang Penerbit') ?></label>
                        </div>
                    </div>

                </div>
            <?php endif ?>

            <?php if ($this->counterWarrantyType != '2' && $this->holdAmount != '0') : ?>
                <div class="row">
                    <div class="col-md-12 pb-5" style="height: auto; position: relative;" id="transaksi_container">
                        <div class="padding-header-cust" style="background-color:#dc3545;">
                            <h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
                        </div>
                        <div style="padding-left:2%; padding-top:2px;" class="py-2">
                            <label for="" class="text-body font-weight-bold">Marginal Deposit Eksisting </label> <label style="font-style: italic;">(total : </label> <label class="text-danger" style="font-style: italic;">IDR <?= number_format($this->holdAmount, 2); ?></label><label style="font-style: italic;">)</label>
                            <input type="hidden" id="holdAmount" value="<?= $this->escrow; ?>">
                            <input type="hidden" id="transferAmount" value="<?= $this->transferAmount; ?>">
                            <div style="float:right">
                                <a href="javascript:void(0)" onclick="refreshMarginalDeposit('<?= $this->getBG['BG_REG_NUMBER']; ?>')"><i class="fa fa-retweet" id="iconRefresh"></i><img src='/images/logo/35.gif' id='iconLoad' style='width: 13px;display:none'></a>
                            </div>
                            <span id="tableMarginalDeposit"></span>

                            <?php if ($this->jumlahAccount > 0) : ?>
                                <div class="col-sm-12">
                                    <strong class="formreq">
                                        <font color="red">&nbsp;*</font>
                                    </strong> <label for="" class="textGray col-form-label"><?= $this->language->_('Rekening Tipe Deposito dan Saving akan dilakukan pelepasan dana ditahan (tanpa pemindahan dana)') ?></label>
                                </div>
                                <label for="" class="text-body font-weight-bold">Pelepasan Dana Escrow ke Rekening Berikut</label> <label style="font-style: italic;"> (total jumlah : </label> <label class="text-danger"><span id="totalPelepasanDana" class="text-danger"><?= $this->totalPelepasanDana; ?></span></label><label style="font-style: italic;">)
                                </label>
                                <label>
                                    <div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorMD">
                                        <div class="d-flex justify-content-center text-danger">i</div>
                                        <div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: 0; left: 30px"><span id="errorMD"></span></div>
                                    </div>
                                </label>
                                <?php
                                $total = 1;
                                ?>
                                <?php echo $this->listAccount; ?>

                            <?php endif ?>
                        </div>

                    </div>

                </div>
            <?php endif ?>
            <?php if ($this->klaimErr) : ?>
                <label for="" id="error_validasi" class="text-body font-weight-bold text-danger"><i class="iconCircle fas pt-1 fa-info"></i>&nbsp;<span class=" text-danger">Data dalam pengajuan Klaim. Tidak diperkenankan untuk melakukan Penutupan Bank Garansi</span></label>
            <?php endif ?>
            <div class="row">
                <div class="col-md-12">
                    <label for=""><input type="checkbox" name="chkterms" id="chkterms" value="">&nbsp;<?= $this->language->_('Saya Setuju pada syarat dan ketentuan yang berlaku.') ?>. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><u><?= $this->language->_('Lihat Syarat & Ketentuan') ?></u></a></label>
                </div>
            </div>

            <?php if ($this->reqrepair) { ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2 pb-1">
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label">Notes</label>
                                </div>
                                <div class="col-sm-9">
                                    <label><?php
                                            echo $this->reason; ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>


            <div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Terms and Conditions') ?>
                            </h4>
                        </div>
                        <div class="modal-body px-4">
                            <?php
                                if ($this->getBG['CHANGE_TYPE'] == '1') {
                                    echo $this->snkPenutupan;
                                } else if ($this->getBG['CHANGE_TYPE'] == '5') {
                                    echo $this->snkPelepasanMd;
                                } else {
                                    if ($sessionLanguage == 'id') {
                                        echo $this->snkPenerbitanInd;
                                    } else {
                                        echo $this->snkPenerbitanIng;
                                    }
                                }
                            ?>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title textBlack">
                                <?php echo $this->language->_('Reject Submission Notes') ?></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
                            <?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array(
                                'cols' => '40%', 'rows' => '4',
                                'onKeyDown' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
                                'onKeyUp' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
                                'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON3', 'style' => 'font-size:1.2em'
                            )) ?>
                            <br>
                            <div class="input-group">
                                <?php echo $this->formText('disable_note_len', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                                <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                            </div>
                            <div class="input-group">
                                <label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are
                                    you sure to reject this submission?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                            <button type="button" class="btngreen hov" id="btn_delete_one"><?php echo $this->language->_('Submit') ?></button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex">
                                <div class="col-3">
                                    <?= $this->language->_("Catatan Perbaikan"); ?><span style='color:red;'>*</span>
                                </div>
                                <div class="col-9">
                                    <?= $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array(
                                        'cols' => '40%', 'rows' => '4',
                                        'onKeyDown' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
                                        'onKeyUp' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
                                        'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON2', 'style' => 'font-size:1.2em'
                                    )); ?>
                                </div>
                            </div>
                            <br>
                            <div class="d-flex">
                                <div class="col-3">&nbsp</div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                                        <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                            <button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" align="center">
                    <!-- <button name="back" id="back" class="btn-sm btnwhite hov"
                        onClick="location.href='/eformworkflow/approve'" value="1">Back</button> -->
                    <input class="btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/bgclosingworkflow/approve'" type="button">
                    <?php

                    if ($this->validbtn == false) {

                    ?>

                        &nbsp;&nbsp;
                        <?php
                        if ($this->boundaryExist && $this->inOfBoundary) {
                            $repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
                            echo $this->formButton('repair', $this->language->_('Request Repair'), $repairAttr);
                        }
                        ?>
                        &nbsp;&nbsp;
                        <?php
                        if ($this->boundaryExist && $this->inOfBoundary) {
                            $rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
                            echo $this->formButton('reject', $this->language->_('Reject'), $rejectAttr);
                        }
                        ?>

                        &nbsp;&nbsp;
                        <?php

                        if ($this->boundaryExist && $this->inOfBoundary) {
                            $submitAttr = array('class' => 'btngreen hov disabled', "disabled" => "disabled", "title" => $title_error);
                            echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
                        }
                        //}
                        ?>
                    <?php
                    }
                    ?>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label class="textBlack">Provision Fee 1% from BG Nominal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="textBlack">Administration Fee IDR 500,000</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript">
    function showToc() {
        $('#tocModal').modal('show');
    }

    function provisionModal() {
        $('#provisionModal').modal('show');
    }

    function bankApp() {
        $("#myModalBankApp").modal();
    }

    function modalmoredetail() {
        $("#myModalMoreDetail").modal();
    }

    function openInsurance() {

        var insuranceName = '<?php echo $this->insuranceName; ?>';
        var PrincipalAgreement = '<?php echo $this->PrincipalAgreement; ?>';
        var bankAmount = '<?php echo $this->bank_amount ?>';
        var PolicyHolder = '<?php echo $this->compinfo['CUST_NAME']; ?>';
        var updateStart = '<?php echo $this->paDateStart; ?>';
        var updateEnd = '<?php echo $this->paDateEnd; ?>';

        $.session.delete("InsuranceName");
        $.session.set("InsuranceName", insuranceName);

        $.session.delete("PrincipalAgreement");
        $.session.set("PrincipalAgreement", PrincipalAgreement);

        $.session.delete("PolicyHolder");
        $.session.set("PolicyHolder", PolicyHolder);

        $.session.delete("bankAmount");
        $.session.set("bankAmount", bankAmount);

        $.session.delete("updateStart");
        $.session.set("updateStart", updateStart);

        $.session.delete("updateEnd");
        $.session.set("updateEnd", updateEnd);




        (new showPopUpWindow(
            '<?= $this->url(array('module' => 'popup', 'controller' => 'insurancepopup', 'action' => 'index', 'Approve' => '1'), null, true) ?>',
            750));

    }

    $(document).ready(function() {
        var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
        var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
        var total = (end - start) / (1000 * 60 * 60 * 24);

        <?php if ($this->getBG['CHANGE_TYPE_CLOSE'] == '5') : ?>
            document.querySelectorAll('.padding-header-cust').forEach(item => {
                item.style.backgroundColor = '#005587';
            });
        <?php endif ?>

        if (start && end) {
            var total = total + 1;
            $('#daysTotal').html("(" + total + " days)")
        }

        checkValidasi('<?php echo $this->getBG['BG_NUMBER']; ?>');

        <?php if ($this->counterWarrantyType != '2') : ?>
            // GET MARGINAL DEPOSIT
            refreshMarginalDeposit('<?php echo $this->getBG['BG_REG_NUMBER']; ?>');
        <?php endif ?>

        document.querySelector("#chkterms").addEventListener("change", (event) => {
            if (event.target.checked) {
                document.querySelector("#approve").disabled = false
                document.querySelector("#approve").classList.remove("disabled")
            } else {
                document.querySelector("#approve").disabled = true
                document.querySelector("#approve").classList.add("disabled")
            }
        })

        $('#bg_number').mask('AAA-AAAAAA-AAAAA-AAAA');

        document.querySelector('#iconErrorMD')?.addEventListener('mouseover', () => {
            document.querySelector('#errorMD').parentElement.classList.remove('hidden');
            document.querySelector('#errorMD').parentElement.classList.add('d-inline-block');
        });
        document.querySelector('#iconErrorMD')?.addEventListener('mouseleave', () => {
            document.querySelector('#errorMD').parentElement.classList.add('hidden');
            document.querySelector('#errorMD').parentElement.classList.remove('d-inline-block');
        });




        // let headerList = $('.padding-header-cust h5');
        // headerList.each(function(){
        //     let list = $(this).text().replace(/\s/g, '').replace(/,/g, '');
        // })
        // $.ajax({
        // 	url: "<?= $this->url(array('module' => 'eformworkflow', 'controller' => 'headerhandle', 'action' => 'index'), null, true) ?>",
        // 	type: 'GET',
        // 	data: {
        // 		bgregnumber: '<?= $this->data['BG_REG_NUMBER'] ?>',
        //         header_name: 'TypeofBankGuarantee'
        // 	},
        // 	success: function(data) {
        //         console.log(data)
        // 	},
        // });

    });

    function checkValidasi(bgNumber) {
        // begin validasi pelepasan dana
        let valid = true;
        var holdAmount = $("#holdAmount").val();
        var transferAmount = $("#transferAmount").val();
        if (holdAmount != transferAmount) {
            document.querySelector('#iconErrorMD').classList.add('d-inline-block');
            document.querySelector('#iconErrorMD').classList.remove('hidden');
            document.querySelector('#errorMD').innerText = '<?= $this->language->_('Jumlah Total Nominal Pelepasan harus sama dengan Nominal MD Giro Escrow Eksisting'); ?>';
            valid = (valid == true) ? false : valid;
            // $('#error_validasi').hide();
        }
        // end validasi pelepanas dana

        // begin validasi rekening 
        $("#guarantedTransactions tr").each(function(index) {
            if (!index) return;
            $(this).find("td.listrekeningMD").each(function() {
                var acct_no = $(this).text().toLowerCase().trim();


                $.ajax({
                    url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
                    type: 'GET',
                    dataType: "JSON",
                    data: {
                        acct_no: acct_no,
                    },
                    success: function(data) {
                        if (data.response_code != '0000') {
                            document.querySelector('#iconErrorMD' + acct_no).classList.add('d-inline-block');
                            document.querySelector('#iconErrorMD' + acct_no).classList.remove('hidden');
                            document.querySelector('#errorMD' + acct_no).innerText = '<?= $this->language->_('Status Rekening Tidak Aktif'); ?>';
                            $("#chkterms").attr("disabled", true);
                            document.querySelector('#iconErrorMD' + acct_no)?.addEventListener('mouseover', () => {
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.remove('hidden');
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.add('d-inline-block');
                            });
                            document.querySelector('#iconErrorMD' + acct_no)?.addEventListener('mouseleave', () => {
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.add('hidden');
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.remove('d-inline-block');
                            });
                            valid = (valid == true) ? false : valid;
                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get where column list, please try again");
                    }
                });
            });
        });
        // end validasi rekening

        // if (valid) {
        //     $.ajax({
        //         url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'checkValidasi'), null, true) ?>",
        //         type: 'GET',
        //         dataType: "JSON",
        //         data: {
        //             bgNumber: bgNumber,
        //         },
        //         success: function(data) {
        //             if (data.status == true) {
        //                 $('#error_validasi').show();
        //                 $("#chkterms").prop("disabled", true);
        //             } else {
        //                 $('#error_validasi').hide();
        //                 $("#chkterms").prop("disabled", false);
        //             }
        //         },
        //         error: function(xhr, ajaxOptions, thrownError) {
        //             alert("Failed to get where column list, please try again");
        //         }
        //     });
        // } else {
        //     $("#chkterms").prop("disabled", true);
        // }

    }

    function refreshMarginalDeposit(reqNumber) {
        $('#iconRefresh').hide();
        $('#iconLoad').show();
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                reqNumber: reqNumber,
            },
            complete: function() {
                $('#iconLoad').hide();
                $('#iconRefresh').show();
            },
            success: function(data) {
                $('#tableMarginalDeposit').html(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
            }
        });

    }


    function rejectmodal() {

        $('#dialog_box').modal('show');

        $("#btn_delete_one").attr('onclick',
            'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#ApproveForm");$("#ApproveForm").submit();}'
        );
    }


    function repairmodal() {

        $('#dialogrepair_box').modal('show');


        $("#btn_delete_repair").attr('onclick',
            'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#ApproveForm");$("#ApproveForm").submit();}'
        );
    }
</script>