<script type="text/javascript">
$(document).ready(function(){
	$('#fixTable').fixTableHeader();

	$("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#fixTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });
});
</script>

		<script>
		function checkAll(source){
				if($(source).is(":checked")){
					$(".check_box:enabled").attr("checked","checked");
				}else{
					$(".check_box:enabled").removeAttr("checked");
				};
		}
		

		function CheckCheckAll()
		{
			var checkBoxes = document.getElementsByClassName( 'check_box' );
    		var isChecked = false;
			for (var i = 0; i < checkBoxes.length; i++) {
					if ( checkBoxes[i].checked ) {
						isChecked = true;
					};
				};
				if ( isChecked ) {
						$('#filter_reject').prop('disabled', false);
						$('#filter_approve').prop('disabled', false);
						$('#filter_reject').removeClass("disabled");
						$('#filter_approve').removeClass("disabled");
					} else {
						$('#filter_reject').prop('disabled', 'disabled');
						$('#filter_approve').prop('disabled', 'disabled');
						$('#filter_reject').addClass("disabled");
						$('#filter_approve').addClass("disabled");
					}
			}
	</script>

<!-- <b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('User')?></a></li>
  <li><?php echo $this->language->_('Approve Reset Password')?></li>

</ol>
</b> -->

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Approval Request'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Reset Password'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>
<br />
<div class="content-box">
  <div class="row">
    <div class="portlet-body form col-md-12">
      <h5><?= $this->language->_('Approve User Reset Password') ?></h5> 
	  <br>     
    </div>
  </div>
</div>


<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
	<div class="errmsg"><?=$this->report_msg?></div><br />
<?php } ?>
<?php
	if($this->allowUpdate)
	{
?>
<div class="form-group">
		<div style="float:right; padding-left:5px;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
            </div>
        </div>
	</div>
	<br>
	<br>
<form name="Form" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
		<table class="table table-sm table-striped">
		<thead>
		<tr class="headercolor">
			<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
																)
										)?>
			<th width="3%" valign="center" class="tablehead fth-header">
				<input name="allbox" id="allbox" type="checkbox" value="Check All" onclick="if($(this).is(':checked')){$('.check_box').prop('checked', true);$('#filter_reject').prop('disabled', false);$('#filter_approve').prop('disabled', false);$('#filter_reject').removeClass('disabled');$('#filter_approve').removeClass('disabled');}else{$('.check_box').prop('checked', false);$('#filter_reject').prop('disabled', 'disabled');$('#filter_approve').prop('disabled', 'disabled');$('#filter_reject').addClass('disabled');$('#filter_approve').addClass('disabled');}" />
			</th>
		</tr>
		</thead>
		<tbody>
		<?php
		if(count($this->paginator) > 0 && $this->button)
		{
				$i=0;

			foreach($this->paginator as $row)
			{
				$USER_ID = isset($row['USER_ID']) ? $row['USER_ID'] : "N/A";
				$USER_FULLNAME = isset($row['USER_FULLNAME']) ? $row['USER_FULLNAME'] : "N/A";
				$USER_RPWD_ISBYBO = ($row['USER_RPWD_ISBYBO'] != null) ? $row['USER_RPWD_ISBYBO'] : 0;
				$USER_RPWD_ISBYUSER = ($row['USER_RPWD_ISBYUSER'] != null) ? ' - '.$row['USER_RPWD_ISBYUSER'] : -1;

				$arrUSER_RPWD_ISBYBO = array(0=>"Frontend", 1=>"Backend");
				$dispUSER_RPWD_ISBYBO = in_array($USER_RPWD_ISBYBO, array_keys($arrUSER_RPWD_ISBYBO)) ? $arrUSER_RPWD_ISBYBO[$USER_RPWD_ISBYBO] : "N/A";

				$attribut=array('class' => 'check_box', 'checked' => (isset($this->user_id[$USER_ID]))? true : false, 'onClick' => 'CheckCheckAll()');

				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				echo '<tr>
				 <td class="'.$td_css.'">'.$USER_ID.'</td>
				 <td class="'.$td_css.'">'.$USER_FULLNAME.'</td>
				 <td class="'.$td_css.'">'.$dispUSER_RPWD_ISBYBO.$USER_RPWD_ISBYUSER.'</td>
				 <td class="'.$td_css.'"  align="left">
					'.$this->formCheckbox("user_id[{$USER_ID}]", "1",$attribut).'
				 </td>
				</tr>';
				//<input type="checkbox" name="'.$USER_ID.'" value="1" onClick="CheckCheckAll();">
				$i++;
			}

		?>
		<?php
					}else
		{
			 echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> '.$this->language->_('there is currently no data in this section').' </td></tr>';
		?>
		<?}?>
		</tbody>
	</table>
	</div>
	<table>
	<tr style="height:30px">
		<td align="CENTER">
			<?php echo $this->formSubmit('filter_reject',$this->language->_('Reject'),array('class'=>'btnred hov disabled','disabled' => '')); ?>
			<?php echo $this->formSubmit('filter_approve',$this->language->_('Approve'),array('class'=>'btngreen hov disabled','disabled' => '')); ?>
		</td>
	</tr>
	</table>
</form>





<?php
	}else
	{
?>
<div class="tbl-evencontent" style="border-top: 1px solid #eceadc;" align="center">
			<strong><i><?php echo $this->language->_('Warning'); ?> :</br>
			<?php echo $this->language->_('Can not save data for User ID'); ?> : <?=$this->user?></br>
			<?php echo $this->language->_('It could be caused by'); ?> :</br></br></i></strong>
			<?php echo $this->language->_('No value has been supplied for description'); ?></br>
			<input type="button" value="Back" onClick="location.href = ('/user/approveresetpwd')" class="inputbtn">
</div>
<?php
	}
?>
