<!-- <b><?php echo $this->language->_('Tracking Report'); ?> &gt; <?php echo $this->language->_('File Sharing Report'); ?> &gt; <?php echo $this->language->_('Detail'); ?></b><br /><br /> -->

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Tracking Report');?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span><?php echo $this->language->_('File Sharing Report');?></span>
	                     <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Detail');?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>


<h5 style="color:#006520;"><?php echo $this->language->_('File Sharing Report Detail');?></h5>
<table cellpadding="3" cellspacing="0" border="1" class="tableform table-striped" width="500px">
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Company Code',$this->language->_('Company Code')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['CUST_ID']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Company Name',$this->language->_('Company Name')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['CUST_NAME']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('FileName',$this->language->_('File Name')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['FILE_NAME']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('File Description',$this->language->_('File Description')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['FILE_DESCRIPTION']?></td>
	</tr>
		<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Uploaded By',$this->language->_('Uploaded By')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['USER_LOGIN']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Uploaded time',$this->language->_('Uploaded Date')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=Application_Helper_General::convertDate($this->data['FILE_UPLOADED_TIME'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
	</tr>
		<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Downloaded',$this->language->_('Downloaded')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['FILE_DOWNLOADED']?> <?php echo $this->language->_('time(s)');?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Last Download By',$this->language->_('Last Download By')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['FILE_DOWNLOADEDBY']?></td>
	</tr>
		<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('File is Deleted',$this->language->_('File is Deleted')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent">
			<?php
				$status = "No";
				if($this->data['FILE_DELETED']==1)
				{
					$status = $this->language->_("yes");
				}
				echo($status);
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('Deleted By',$this->language->_('Deleted By')); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?=$this->data['FILE_DELETEDBY']?></td>
	</tr>
</table>
<br />
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<table width="500px" border="0px">
		<tr style="height:30px;" align="left">
			<td>
				<?php echo $this->formHidden('FILE_ID',$this->FILE_ID); ?>
				<!-- <input type="submit" name="pdf" class="btngreen hov" value="PDF"> -->
				<?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa hidden">'; ?>&nbsp;
				<!-- <input class="btngreen hov" value="<?php echo $this->language->_('PRINT');?>" onclick="window.print();" type="button"> -->
				<button class="btn-sm btngrad hov hidden" onclick="window.print();" type="button"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_('PRINT');?></button>
			</td>
		</tr>
	</table>
</form>