<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Escrow Account'); ?></div>
<?php 
	if($this->resultdata)
	{
		$temp_status = array(
												strtoupper($this->status_type['code']['approved'])=>$this->status_type['desc']['approved'],
												strtoupper($this->status_type['code']['suspended'])=>$this->status_type['desc']['suspended'],
												strtoupper($this->status_type['code']['delete'])=>$this->status_type['desc']['delete']
											);
	                  
		if(array_key_exists($this->acct_status,$temp_status))
		{
			$status = $temp_status[$this->acct_status]; 
		}
		else
		{ 
			$status = $this->status_type['desc']['approved']; 
		}

		//get status
		if($this->changes_status== "RR"){;
			$suggestionStatus = $this->language->_('Request Repaired');
		}else{
			if($this->read_status==0){
				$suggestionStatus = $this->language->_('Unread Suggestion');
			}elseif ($this->read_status==1){
				$suggestionStatus = $this->language->_('Read Suggestion');
			}
		}
    
	// get suggestion type
	$changesTypeDescArr = $this->suggestionType['desc']; 
	$changesTypeCodeArr = $this->suggestionType['code']; 
   
	$key = array_search($this->CHANGES_TYPE,$changesTypeCodeArr);
	$changesType = $changesTypeDescArr[$key];

  
?>

<h2>Change Information</h2>
<?php 
  echo $this->action('message',
                     'tools',
                     'changemanagement',
                     array('changes_id' => $this->changes_id));
?>

<br/>

<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail Escrow Account');?></strong></th></tr>

  <tr><td colspan="3" class="tbl-evencontent"><b><?=$changesType?> <?php echo $this->language->_('Escrow Account Detail');?></b></td></tr>
 
   <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('Currency',$this->language->_('Currency')); ?></td>
	<td class="tbl-evencontent">:</td>
	<!--<td class="tbl-evencontent"><?php echo $this->formLabel('ccy',$this->CCYData[$this->resultdata['M_KEY1']]); ?></td>-->
	<td class="tbl-evencontent"><?php echo $this->formLabel('ccy',$this->resultdata['M_KEY1']); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->language->_('Account Number')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->resultdata['M_KEY2']); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->language->_('Account Name')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->resultdata['M_KEY3']); ?></td>
  </tr>

   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('create_date',$this->language->_('Create Date')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('create_date',$this->resultdata['M_CREATED']); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->language->_('Creator')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->resultdata['M_CREATEDBY']); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion',$this->language->_('Last Suggestion')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion',$this->resultdata['M_SUGGESTED']); ?></td>
  </tr>
  
 <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor',$this->language->_('Last Suggester')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor',$this->resultdata['M_SUGGESTEDBY']); ?></td>
  </tr>
  

  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval',$this->language->_('Last Approval')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('last_approval',$this->resultdata['M_UPDATED']); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver',$this->language->_('Last Approver')); ?></td>
 	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('last_approver',$this->resultdata['M_UPDATEDBY']); ?></td>
  </tr>
 
</table>
<br />


<?php 
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<div>

</div>
<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data');?> -</div>
<?php } ?>