<script type="text/javascript" charset="utf-8">
	function enableCustId() {
		$('.custId').hide();
		if ($("#operator").val() != '') {
			$('.custId').show();
			paymentCheck();
		}
	}

	function paymentCheck() {
		$('#payment').attr('disabled', 'disabled');
		//$('#operator').removeAttr('disabled');
		if ($("input#radioCheck:checked").val() == '2') {
			$('#payment').removeAttr('disabled');
			//$('#operator').attr('disabled', 'disabled');
			$('#operatorHidden').attr('value', $('#operator').val());
			<?php
			foreach ($this->paymentList as $arr) {
			?>
				selected = "";
				if ('<?= $arr['REF_NO'] ?>' == '<?php echo $this->payment ?>') {
					selected = "selected";
				}
				if ($('#operator').val() == <?= $arr['PROVIDER_ID'] ?>) {
					$('#payment').append("<option value='<?= $arr['REF_NO'] ?>'" + selected + "> <?= $arr['REF_NO'] ?></option>");
				}
			<?php
			}
			?>
		}
	}

	function modalpayment() {
		// alert();
		$("#myModalApproval").modal();
	}

	$(document).ready(function() {
		$('#payment').attr('disabled', 'disabled');
		if ($("input#radioCheck:checked").val() == '2') {
			$('#payment').removeAttr('disabled');
			if ('<?= $this->payment ?>') {
				paymentCheck();
			}
		}
		enableCustId();

		$(".tokeninput").keyup(function(e) {

			if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
				$(this).prev().focus();
			} else {
				$(this).next().focus();
			}
		});

		$('#tokenmodal').on('shown.bs.modal', function() {
			$('.firsttokenfield').trigger('focus');
		});
	});
</script>

<script type="text/javascript">
	$(function() {
		$('#operator').change(function() {
			document.getElementById('orderId').value = '';
			this.form.submit();
		});
	});
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Transaction') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('MPN G2') ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<?php if ($this->ERROR_MSG_N) { ?>
	<div class="alert alert-danger">
		<?php echo $this->language->_($this->ERROR_MSG_N); ?>
	</div><br>
<?php } ?>

<?php
if ($this->responseCodeReqErr) {
?>
	<div class="alert alert-danger">
		<?php
		echo $this->formErrors($this->responseCodeReqErr);
		?>
	</div>
<?php
}
?>

<?php
$mandatory = ($this->confirmPage != 1) ? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>" : "";
?>
<h5 style="margin-bottom: 0px;font-size: 18px;"><?= $this->language->_('MPN G2') ?></h5>

<h5 style="color:#b3b3b3;font-size: 18px;"><?= $this->language->_('Government e-Tax') ?></h5>

<br>
<div class="row">
	<div class="col-md-6">
		<div class="portlet-body form" style="border: 0px solid #ddd;">
			<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">

				<!-- <input type = "hidden" id="operatorHidden" name="operatorHidden" value=""> -->

				<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">

								<h4 class="modal-title" id="myModalLabel">Payment List</h4>
							</div>
							<div class="modal-body">
								<br>
								<div class="card">
									<style type="text/css">
										.card {
											/*//	height: 80px!important;*/
											font-size: 9.4px;
											border: 0px solid rgba(0, 0, 0, .125);
										}
									</style>
									<div class="row">
										<table align="center">
											<tr>
												<td align="center" width="100px"><a href="/payment/electricity"><img src="/images/icon/light/Group 692.png"></a></td>
												<td align="center" width="100px"><a href="/payment/pam"><img src="/images/icon/light/Group 1100.png"></a></td>
												<td align="center" width="100px"><a href="/payment/phone"><img src="/images/icon/light/phone-call (1).png"></a></td>
												<td align="center" width="100px"><a href="/payment/internet"><img src="/images/icon/light/worlwide.png"></a></td>
												<td align="center" width="100px"><a href="/payment/newtax"><img src="/images/icon/light/Group 1062.png"></a></td>
												<td align="center" width="100px"><a href="/payment/creditcard"><img src="/images/icon/light/Symbol 99.png"></a></td>
											</tr>
											<tr>
												<td align="center">Electricity</td>
												<td align="center">PAM</td>
												<td align="center">Phone</td>
												<td align="center">Internet</td>
												<td align="center">Tax</td>
												<td align="center">Credit Card</td>
											</tr>
											<tr>
												<td colspan="8" height="20px"></td>
											</tr>
											<tr>
												<td align="center" width="100px"><a href="/payment/cabletv"><img src="/images/icon/light/Group 706.png"></a></td>
												<td align="center" width="100px"><a href="/payment/installment"><img src="/images/icon/light/Group 1099.png"></a></td>
												<td align="center" width="100px"><a href="/payment/insurance"><img src="/images/icon/light/Group 1101.png"></a></td>
												<td align="center" width="100px"><a href="/payment/education"><img src="/images/icon/light/Group 1102.png"></a></td>
												<td align="center" width="100px"><a href="/payment/ticket"><img src="/images/icon/light/Group 699.png"></a></td>
												<td align="center" width="100px"><a href="/payment/others"><img src="/images/icon/light/Group 1103.png"></a></td>
											</tr>
											<tr>
												<td align="center">Cable TV</td>
												<td align="center">Installment</td>
												<td align="center">Insurance</td>
												<td align="center">Education</td>
												<td align="center">Ticket</td>
												<td align="center">Others</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a class="btnwhite hov card" href="#" onclick="modalpayment();" style="border: 1px solid rgba(0,0,0,.125);margin-left: 3%;"><i class="fa fa-shopping-cart navbar-icons" style="margin-top: 4px;"></i>&nbsp;<?php echo $this->language->_('Payment List'); ?></a>
					</div>
					<div class="col-md-6 text-right">
						<a class="btnwhite hov card" href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'bulk'), null, true) ?>" style="border: 1px solid rgba(0,0,0,.125);margin-left: 3%;"><i class="fa fa-file navbar-icons" style="margin-top: 4px;"></i>&nbsp;<?php echo $this->language->_('Bulk'); ?></a>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<label class="control-label col-md-3"><?php echo $this->language->_('Payment Subject'); ?></label>
							<div class="col-md-9">
								<!-- <input class="form-control" type="text" name="idNumber"> -->
								<?php
								echo $this->formText('paymentSubject', $this->paymentSubject, array('maxlength' => '16', 'size' => '30', 'class' => 'form-control'));

								if ($this->paymentSubjectErr) {
								?>
									<div class="errmsg">
										<?php
										echo $this->formErrors($this->paymentSubjectErr);
										?>
									</div>
								<?php
								}
								?>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><?= $mandatory ?></label>
							<div class="col-md-9">
								<?php
								if ($this->confirmPage != 1)
									echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");
								else
									echo $this->ACCTSRC_view . $this->formHidden('ACCTSRC', $this->ACCTSRC);

								if ($this->ACCTSRCErr) {
									echo '<div class="errmsg">' . $this->formErrors($this->ACCTSRCErr) . '</div>';
								}
								?>
							</div>
						</div>

						<div class="custId form-group row ">
							<label class="control-label col-md-3"> <?php echo $this->language->_('Billing ID'); ?><?= $mandatory ?></label>
							<div class="col-md-9">
								<table>

									<tr>
										<td><input type="radio" name="radioCheck" id="radioCheck" value="1" <?php if ($this->radioCheck == 1) {
											echo ('checked');
											} ?> onchange="paymentCheck()">&nbsp;<?php echo $this->language->_('Generate New'); ?>
										</td>
									</tr>

									<tr>
										<td>
											<input type="radio" name="radioCheck" id="radioCheck" value="2" <?php if ($this->radioCheck == 2) {
												echo ('checked');
											} ?> onchange="paymentCheck()">&nbsp;<?php echo $this->language->_('ID Number'); ?>
										</td>
										<td>
											<!-- <input class="form-control" type="text" name="idNumber" style="width: 270px;"> -->
											<?php
											echo $this->formText('idNumber', $this->idNumber, array('maxlength' => '16', 'size' => '30', 'class' => 'form-control'));

											if ($this->idNumberErr) {
											?>
												<div class="errmsg">
													<?php
													echo $this->formErrors($this->idNumberErr);
													?>
												</div>
											<?php
											}
											?>
										</td>
									</tr>

								</table>
							</div>
						</div>

						<?php if ($this->operator) { ?>
							<div class="form-group row" style="display: none">
								<label class="control-label col-md-4"><?php echo $this->language->_('Year'); ?></label>
								<div class="col-md-8">
									<?php echo $this->formSelect('tahun', $this->tahun, array('class' => 'form-control'), $this->tahunArr); ?>
									<?php
									if ($this->tahunErr) {
									?>
										<div class="errmsg">
											<?php
											echo $this->formErrors($this->tahunErr);
											?>
										</div>
									<?php
									}
									?>

								</div>
							</div>
						<?php } ?>

						<?php if ($this->provInquiry == 'N') { ?>
							<div class="form-group row " style="display: none">
								<label class="control-label col-md-4"> <?php echo $this->language->_('Total Payment'); ?><?= $mandatory ?></label>
								<div class="col-md-8">
									<?php
									echo $this->formText("amount", $this->amount, array('id' => "TRAAMOUNT", 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)", "class" => "form-control"));
									?>
									<?
									if ($this->amountErr) {
									?>
										<div class="errmsg">
											<?php
											echo $this->formErrors($this->amountErr);
											?>
										</div>
									<?php
									}
									?>

								</div>
							</div>

						<?php } ?>

						<?php if ($this->token) { ?>

							<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header text-center">
											<h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body mx-3">
											<div class="col-md-12" align="center">
												<table width="100%">
													<tbody>
														<tr>
															<td align="center">
																<h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5>
															</td>
														</tr>
														<tr>
															<td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td>
														</tr>
														<input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">

														<tr>
															<td><?php echo $this->language->_('Challenge Code'); ?>:</td>
														</tr>
														<tr>
															<td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td>
														</tr>

														<tr>
															<td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td>
														</tr>
														<tr>
															<td align="center">
																<div class="input-group">
																	<center style="width: 100%">
                          <input class="tokeninput" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </center>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="modal-footer d-flex justify-content-center">
											<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
											<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit') ?>" />
											<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit') ?>" disabled style="display:none" />
										</div>
									</div>
								</div>
							</div>

						<?php
						}
						?>

						<div class="portlet-body form">

							<div class="portlet-body form">

								<div class="form-group row pt-2">
									<label class="control-label col-md-4"></label>
									<div class="col-md-8">
										<div class="formbutton" style="float:left">
											<?php $option = array('module' => 'home'); ?>
											<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?= $this->url($option, null, true) ?>'" type="button">

											<input name="next" type="submit" class="btngreen hov" value="<?php echo $this->language->_('Next'); ?>" />

											<?php if ($this->operator) {
											?>
												<?php if (!$this->token) {
												?>
													<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit') ?>" />
												<?php } else {
												?>
													<button class="btngreen hov" type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button>
												<?php
												} ?>
											<?php } ?>

											<script>
												function submitbtn() {
													document.getElementById("subbutton").style.display = "none";
													document.getElementById("Submit_id").style.display = "inline";
												}
											</script>

										</div>
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group row">
			<h6><?php echo $this->language->_('History') ?></h6>
		</div>
		<div class="form-group row">
			<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
				<table class="table table-sm table-striped" id="myTable">
					<thead>
						<tr>
							<th valign="top" class="tablehead"><?php echo $this->language->_('Date') ?></th>
							<th valign="top" class="tablehead"><?php echo $this->language->_('Phone Number') ?></th>
							<th valign="top" class="tablehead"><?php echo $this->language->_('Amount') ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach ($this->historyData as $row) { ?>
							<tr>
								<td><?php echo Application_Helper_General::convertDate($row['PS_EFDATE'], 'dd MMMM y') ?></td>
								<td><?php echo $row['BILLER_ORDER_ID'] ?></td>
								<td><?php echo Application_Helper_General::displayCurrency($row['PS_TOTAL_AMOUNT']); ?></td>
							</tr>
						<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>