<b><?php echo $this->language->_('Reports');?> &gt; <?php echo $this->language->_('Payment Report');?> &gt; <?php echo $this->language->_('Detail');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('View Payment');?></div>
<h2><?php echo $this->language->_('Transfer From');?></h2>
<hr></hr>
<?php echo $this->templateDetail;?>
<br />
<br />
<?php if($this->templateTransaction){?>
<h2><?php echo $this->language->_('Transfer To');?></h2>
<hr></hr>
<?php echo $this->templateTransaction;?>
<br />
<br />
<?php }?>
<h2><?php echo $this->language->_('History');?></h2>
<hr></hr>
<?php echo $this->templateHistory;?>
<br />
<br />
<div class="formbutton" align="left">



<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<input class = "inputbtn" type="button" onclick="location.href='/paymentreport/index'" value="<?php echo $this->language->_('Back');?>">
<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
<input class="inputbtn" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button">
<!-- <input class="inputbtn" value="Cancel Future Date"  type="submit">-->
<?php $this->templateForm;?>
<?php $this->formSubmit('cfd','Cancel Future Date',array('class'=>'inputbtn')); 

echo $this->templateForm;
//$paystatus = $detail[0]['PS_STATUS'];

?>&nbsp;

</form>
</div>