<div class="card">
  <div class="card-header cardhead text-white">
	<?php if($this->sp2d){ ?>
	<b><?php echo $this->language->_('SP2D Detail') ?></b>
	<?php }else{ ?>
    <b><?php echo $this->language->_('Beneficiary Detail') ?></b>
	<?php } ?>
  </div>
  <div class="card-body">
    <table width="100%" class="table table-striped table-condensed flip-content">
      <?php
      // View Table Master Data
      if (is_array($this->tableMst)) {
       
        foreach ($this->tableMst as $dataMst) {



      ?>
          <tr>
            <td class="tbl-evencontent textBlack" id="tbl-evencontent" nowrap="nowrap" width="20%"><?php echo $dataMst["label"]; ?></td>
            <td class="tbl-evencontent textBlack" id="tbl-evencontent"><?php echo $this->language->_($dataMst["value"]); ?></td>
          </tr>
      <?php 
        }
      }
      ?>
    </table> 
  </div>
</div>

<br>
<br>

<div class="col-md-12" align="center">
    <button class="btnwhite hov" onclick="closeDetail()"><?php echo $this->language->_('Close'); ?></button>
</div>

<script type="text/javascript">
  function closeDetail(){
    window.close();
  }
</script>