<?php $addnew = $this->language->_('Add New'); ?>
<?php $setfilter = $this->language->_('Set Filter'); ?>
<?php $filterclear = $this->language->_('Clear Filter'); ?>
<?php $to = $this->language->_('To'); ?>
<?php $from = $this->language->_('From'); ?>
<?php $nodata = $this->language->_('No Data'); ?>
<?php $action = $this->language->_('Action')?>


<?php $banktable = $this->language->_('Agent')?>
<?php $general = $this->language->_('General')?>


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $general ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $banktable ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php if($this->error){?>
<div class="alert alert-danger"><?=$this->report_msg?></div>
<?php }elseif($this->success){?>
<div class="alert alert-info"><?=$this->report_msg?></div>
<?php }?>


<div class="row content-box">
	  <div class="portlet-body form col-md-12">
      	<h5><?php echo $banktable?></h5>
      	<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get" class="">
          <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="80%">
              <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter')?></strong></th></tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('user_id','ID Agen'); ?></td>
                <td class="tbl-evencontent">:</td>
                <td class="tbl-evencontent" colspan="8"><?php  echo $this->formText('user_id',$this->user_id,array('class'=>'form-control')); ?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('agentName','Nama Agen'); ?></td>
                <td class="tbl-evencontent">:</td>
                <td class="tbl-evencontent" colspan="8"><?php  echo $this->formText('agent_name',$this->agent_name,array('class'=>'form-control')); ?></td>
              </tr>
               <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('mobilePhone','Nomor Ponsel'); ?></td>
                <td class="tbl-evencontent">:</td>
                <td class="tbl-evencontent" colspan="8"><?php  echo $this->formText('mobilephone',$this->mobilephone,array('class'=>'form-control')); ?></td>
                <td class="tbl-evencontent">Area Layanan</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="6">
					<?php echo $this->formSelect('service_area',$this->service_area,array('class'=>'form-control'),$this->areaArr);?>
				</td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestion','Tanggal Disarankan')?>	</td>
                <td class="tbl-evencontent">:</td>
               	<td class="tbl-evencontent" colspan="3">
					<?php
						echo $this->datePicker("latestSuggestionFrom", $this->latestSuggestionFrom, array('dateFormat' => $this->jqueryDateFormat,
																					'defaultDate' =>'new Date()',
																					'showOn' => 'button',
																					'buttonImage' => '/images/calendar.gif',
																					'buttonImageOnly' => true,
																					'changeMonth' => true,
																					'changeYear' => true,
																					'clearAnotherField' => true,
																					'anotherField' => 'latestSuggestionTo',
																					'minDateID' => 'latestSuggestionTo'));
					?>

					<script>
						$('#latestSuggestionFrom').datepicker({
							format: 'dd/mm/yyyy',
							uiLibrary: 'bootstrap4',
						});
					</script>
				</td>
				<td class="tbl-evencontent"><?php echo $this->language->_('To')?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="3">
					<?php
						echo $this->datePicker("latestSuggestionTo", $this->latestSuggestionTo, array('dateFormat' => $this->jqueryDateFormat,
																						'defaultDate' =>'new Date()',
																						'showOn' => 'button',
																						'buttonImage' => '/images/calendar.gif',
																						'buttonImageOnly' => true,
																						'changeMonth' => true,
																						'changeYear' => true,
																						'clearAnotherField' => true,
																						'anotherField' => 'latestSuggestionFrom',
																						'maxDateID' => 'latestSuggestionFrom'));
					?>

					<script>
						$('#latestSuggestionTo').datepicker({
							format: 'dd/mm/yyyy',
							uiLibrary: 'bootstrap4',
						});
					</script>
				</td>
				  <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestor','Disarankan Oleh')?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent" colspan="6">
					 <?php echo $this->formText('latestSuggestor',$this->latestSuggestor,array('class'=>'form-control')); ?>
				  </td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('latestApproval','Tanggal Disetujui')?></td>
                <td class="tbl-evencontent">:</td>
               	<td class="tbl-evencontent" colspan="3">
					<?php
						echo $this->datePicker("latestApprovalFrom", $this->latestApprovalFrom, array('dateFormat' => $this->jqueryDateFormat,
																							'defaultDate' =>'new Date()',
																							'showOn' => 'button',
																							'buttonImage' => '/images/calendar.gif',
																							'buttonImageOnly' => true,
																							'changeMonth' => true,
																							'changeYear' => true,
																							'clearAnotherField' => true,
																							'anotherField' => 'latestApprovalTo',
																							'minDateID' => 'latestApprovalTo'));
					?>

					<script>
						$('#latestApprovalFrom').datepicker({
							format: 'dd/mm/yyyy',
							uiLibrary: 'bootstrap4',
						});
					</script>
				</td>
				<td class="tbl-evencontent"><?php echo $this->language->_('To')?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="3">
					<?php
						echo $this->datePicker("latestApprovalTo", $this->latestApprovalTo, array('dateFormat' => $this->jqueryDateFormat,
																							'defaultDate' =>'new Date()',
																							'showOn' => 'button',
																							'buttonImage' => '/images/calendar.gif',
																							'buttonImageOnly' => true,
																							'changeMonth' => true,
																							'changeYear' => true,
																							'clearAnotherField' => true,
																							'anotherField' => 'latestApprovalFrom',
																							'maxDateID' => 'latestApprovalFrom'));
					?>

					<script>
						$('#latestApprovalTo').datepicker({
							format: 'dd/mm/yyyy',
							uiLibrary: 'bootstrap4',
						});
					</script>
				</td>
				 <td class="tbl-evencontent"><?php echo $this->formLabel('latestApprover','Disetujui Oleh')?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent" colspan="6">
					 <?php echo $this->formText('latestApprover',$this->latestApprover,array('class'=>'form-control')); ?>
				  </td>
              </tr>
              <tr>
	              <td colspan="3" align="left">
	               	<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
					<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
	              </td>
              </tr>
          </table>
        </form>
    </div>
</div>


<!-- 
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get" class="">
	<table cellpadding="3" cellspacing="0" border="0" style="width:100%;" class="tableform">
		<tr><th colspan="8" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('user_id','ID Agen'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="3"><?php  echo $this->formText('user_id',$this->user_id,array('class'=>'form-control input-small')); ?></td>

			<td class="tbl-evencontent" colspan="3"></td>
			
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('agentName','Nama Agen'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="3"><?php  echo $this->formText('agent_name',$this->agent_name,array('class'=>'form-control input-small')); ?></td>

			<td class="tbl-evencontent" colspan="3"></td>
			
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('mobilePhone','Nomor Ponsel'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="3"><?php  echo $this->formText('mobilephone',$this->mobilephone,array('class'=>'form-control input-small')); ?></td>

			<td class="tbl-evencontent">Area Layanan</td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php echo $this->formSelect('service_area',$this->service_area,array('class'=>'form-control input-medium'),$this->areaArr);?>
			</td>
		</tr>

		<tr>
		   <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestion','Tanggal Disarankan')?></td>
		   <td class="tbl-evencontent">:</td>
		   <td class="tbl-evencontent" nowrap="nowrap" colspan="3">
		   	<?php 
												echo $this->datePicker("latestSuggestionFrom", $this->latestSuggestionFrom,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'latestSuggestionTo',
																										'minDateID' => 'latestSuggestionTo'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To')?> &nbsp;
										<?php 
												echo $this->datePicker("latestSuggestionTo", $this->latestSuggestionTo,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'latestSuggestionFrom',
																										'maxDateID' => 'latestSuggestionFrom'
																										)); 
										?>
   			
		  </td>

		  <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestor','Disarankan Oleh')?></td>
		  <td class="tbl-evencontent">:</td>
		  <td class="tbl-evencontent" nowrap="nowrap">
			 <?php echo $this->formText('latestSuggestor',$this->latestSuggestor,array('class'=>'form-control input-small')); ?>
		  </td>
	   </tr>


		<tr>
		   <td class="tbl-evencontent"><?php echo $this->formLabel('latestApproval','Tanggal Disetujui')?></td>
		   <td class="tbl-evencontent">:</td>
		   <td class="tbl-evencontent" nowrap="nowrap" colspan="3">
		   		<?php 
												echo $this->datePicker("latestApprovalFrom", $this->latestApprovalFrom,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'latestApprovalTo',
																										'minDateID' => 'latestApprovalTo'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To')?> &nbsp;
										<?php 
												echo $this->datePicker("latestApprovalTo", $this->latestApprovalTo,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'latestApprovalFrom',
																										'maxDateID' => 'latestApprovalFrom'
																										)); 
										?>
		      			
		  </td>

		  <td class="tbl-evencontent"><?php echo $this->formLabel('latestApprover','Disetujui Oleh')?></td>
		  <td class="tbl-evencontent">:</td>
		  <td class="tbl-evencontent" nowrap="nowrap">
			 <?php echo $this->formText('latestApprover',$this->latestApprover,array('class'=>'form-control input-small')); ?>
		  </td>
	   </tr>
		<tr>
			<td colspan="8" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter',$setfilter,array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('filter_clear',$filterclear,array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
</form> -->
	<br/>

	<div class="form-group">
		<?php //if($this->hasPrivilege('ALPA')){ ?>
		<div style="float:left">
			<button type="button" onClick="window.location='<?=$this->url(array('module'=>'agent','controller' => 'new','action'=>'index'),null,true)?>'" class="btn-sm btngrad hov"><i class="fa fa-plus"></i>&nbsp;<?php echo $addnew?></button>
		</div>
		<div style="float:right; padding-left:5px;">
	        <div class="input-group input-group-sm">
	                <div class="input-group-prepend">
	                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
	                        </div>
	                <input type="text" class="search form-control" placeholder="Search">
	            </div>
	    </div>
		<?php //} ?>
		<div style="float:right; padding-left:10px;">
			<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
				<!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
				<?php echo $this->formSubmit('pdf',$this->language->_('PDF is Too Large (Function is Disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov')); ?>&nbsp;
				<?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">';?>
				<?php } ?>
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov')); ?> -->
				<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">'?>
				<input class="btngreen hov" style="display:none" value="<?php echo $print?>" onclick="window.print();" type="button">
			</form>
		</div>
	</div>
	
<br>
<br>

<div class="portlet light bordered">
    <div class="portlet-body">
<table id="table-pagination" data-toggle="table" data-pagination="true" data-search="true" class="tableform" width="100%">
	<thead>
 	<tr>
    	<th width="3%" valign="top" style="background-color: #0a3918; color:white">No.</th>
    		<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
    												   )
  						   )?>
  		<th width="3%" valign="top" style="background-color: #0a3918; color:white"><?php echo $action?></th>
  	</tr>
  	</thead>
  	<tbody>
	<?php

	if(count($this->paginator))
	{
		$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;

		$i = 0;
		  foreach($this->paginator as $row)
		  {

				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				$detail = '<a href="'.$this->url(array('module'=>'agent','controller' => 'view','action'=>'index','user_id'=>$row['USER_ID']),null,true).'" class="btn btn-sm green-dark" >'.$row['USER_ID'].'</a>';

				$btn_delete = $this->url(array('module'=>'agent','controller' => 'delete','action'=>'index','user_id'=>$row['USER_ID']),null,true);
       // if($this->hasPrivilege('SLPA'))
          $btndelete =  $this->formButton('delete','Delete',array('onclick'=>'confirmation(\'Hapus agen?\',\''.$btn_delete.'\')','class'=>'inputbtn'));
				echo '<tr>
			            <td class="'.$td_css.'">'.$counter.'</td>
			            <td class="'.$td_css.'">'.$row['BRANCH_NAME'].'</td>';
				echo '<td class="'.$td_css.'">'.$detail.'</td>
						<td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
						<td class="'.$td_css.'">'.$row['USER_MOBILE_PHONE'].'</td>
						<td class="'.$td_css.'">'.$row['USER_EMAIL'].'</td>
						
						
						<td class="'.$td_css.'">'.$row['USER_SERVICE_AREA'].'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['USER_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
						<td class="'.$td_css.'">'.$row['USER_SUGGESTEDBY'].'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['USER_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
						<td class="'.$td_css.'">'.$row['USER_UPDATEDBY'].'</td>
						<td class="'.$td_css.' ">'.$btndelete.'</td>
					  </tr>';
			    $i++;
			    $counter++;
	  	}
	}
	?>
	  </tbody>
	  </table>
	  
	</div></div>
