<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}

	/*form {
		display: none !important;
		visibility: hidden;
	}*/

	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}

	input.currency{ width: 200px; font-size: 10px; }
	ul { padding-left:10px; }
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
	b { font-weight:bold; font-size:11px }
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Master Report'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Benefiary List'); ?>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
	                    <?php echo $this->language->_('Detail'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<?php
if($this->acct){
?>
  <div class="table-responsive">
    <table cellpadding="3" cellspacing="0" border="0" class="table-sm table-striped" width="100%">
      <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Beneficiary Detail'); ?></strong></th></tr>
      <tr>
      <td class="tbl-evencontent" width="150px"><?php echo $this->formLabel('comp_code',$this->language->_('Company Code')); ?></td>
      <td class="tbl-evencontent" width="5px">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('comp_code',$this->comp_code); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('comp_name',$this->language->_('Company Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('comp_name',$this->comp_name); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('account',$this->language->_('Beneficiary Account')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('account',$this->account); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('account_name',$this->language->_('Beneficiary Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('account_name',$this->account_name); ?></td>
      </tr>
  <!--     <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('account_alias',$this->language->_('Beneficiary Alias')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('account_alias',$this->account_alias); ?></td>
      </tr> -->
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('benef_type',$this->language->_('Type')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_type',$this->benef_type); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('ccy',$this->language->_('Currency')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy',$this->ccy); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('benef_address',$this->language->_('Beneficiary Address')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_address',$this->benef_address); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('citizenship',$this->language->_('Citizenship')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('citizenship',$this->citizenship); ?></td>
      </tr>
     <!--
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('Resident Status',$this->language->_('Resident Status')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('residentStatus',$this->residentStatus); ?></td>
      </tr>
       -->
  <!--     <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('city',$this->language->_('City')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('city',$this->city); ?></td>
      </tr> -->
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('email',$this->language->_('Email')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('email',$this->email); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Bank Code')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->bank_code); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Bank Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->bank_name); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Bank Address 1')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->bank_address1); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Bank Address 2')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->bank_address2); ?></td>
      </tr>
  <!--     <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Identical Status')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->identical); ?></td>
      </tr> -->
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Beneficiary Citizenship')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->benef_citizenship); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Beneficiary Category')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->benef_category); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Beneficiary Identification Type')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->benef_id_type); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Bank Identification Number')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->benef_id_no); ?></td>
      </tr>
  <!--     <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->language->_('Transactor Relationship')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank',$this->transactor_rel); ?></td>
      </tr> -->
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('created_date',$this->language->_('Created Date')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('created_date',Application_Helper_General::convertDate($this->created_date,'d-MMM-yyyy HH:mm:ss','yyyy-MM-dd HH:mm:ss')); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('created_by',$this->language->_('Created By')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('created_by',$this->created_by); ?></td>
      </tr>
      <!--<tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Bank Status')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->status); ?></td>
      </tr>-->
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('approve',$this->language->_('Approved Status')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('approve',$this->language->_($this->approve)); ?></td>
      </tr>
  <!--     <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('delete',$this->language->_('Request to Delete')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('delete',$this->language->_($this->delete)); ?></td>
      </tr> -->
    </table>
  </div>

  <br/>
<div>
  <style media="screen">
    #pdf {
      min-width: 86px;
      height: 30px;
      border-radius: 8px;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
      background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
    }
  </style>
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
		<?php echo $this->formHidden('acct',$this->account); ?>
		<?php echo $this->formHidden('cust_id',$this->comp_code); ?>
    <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa hidden">'; ?>&nbsp;
    <button onclick="window.print();" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
</form>
<br/>
<br/>
</div>
<?php }else{ ?>
<div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<?php } ?>
