<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;">My Profile</a></li>
  <li>Request Token</li>
  
</ol>
</b>
<br />
<?php if($this->error){ ?>
<div class="errmsg">
<?php 
		echo $this->msg_failed;
?>
</div>
<?php } ?>
<?php 
if($this->user_id){	
?>
<form method="post" action="">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" style="
	    color: #fff;
	    background-color: #337ab7;
	    border-color: #337ab7;
	    border: 1;
	">
	
	<strong><?php echo $this->language->_('Request Token');?></strong></div>
<div class="panel-body">
	 <div class="form-group">
	    
	    <small id="emailHelp" class="form-text text-muted">
	    
	    
	    <?php echo $this->language->_('Please fill in the form below to request token');?>
		<br>
		<?php echo $this->language->_('Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
		<br>
	    <br>
	    <!-- 
	    <?php echo $this->language->_('Password format requirements :');?>
		
	    <br>&bull;<?php echo $this->language->_('has to be at least');?> <?=$this->minlengthpass?> <?php echo $this->language->_('characters long and max');?> <?=$this->maxlengthpass?> <?php echo $this->language->_('long');?>
	    <br>&bull;<?php echo $this->language->_('may only contain alphanumeric characters (no whitespaces and special characters allowed)');?>
	    <br>&bull;<?php echo $this->language->_('has to be a combination of letters and numbers (contains at least 1 uppercase character, 1 lowercase character and 1 number)');?><br>
	     -->
	    </small>
	  </div>
	  <!-- 
	<div class="form-group">
	    <label for="exampleInputPassword1"><span><?php echo $this->language->_('Old Password');?><span class="errmsg">*</span></label>
	    
			<input type="password" name="old_password" id="old_password" class="form-control" value="<?=$this->old_password?>" onkeyup="noSpace(this);"/>
			
			<div class="errmsg">
			<?=isset($this->errDesc['oldpass'])?$this->errDesc['oldpass']:''?>
			</div>
			<div id="divMayusOld"><?php echo $this->language->_('Caps Lock is on')?>.</div>
			<script type="text/javascript">
				$("#divMayusOld").hide();
				$('#old_password').keypress(function(e) { 
					var s = String.fromCharCode( e.which );
					if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {
						$("#divMayusOld").show();
					}
					else
					{
						$("#divMayusOld").hide();
					}
				});
			</script>
			<?php echo $this->formHidden('pin',$this->pin);?>		
  	</div>
	 -->
  	
  	<div class="form-group">
		    <label for="exampleInputPassword1"><?php echo $this->language->_('Total Token');?><span class="errmsg">*</span></label>
		    
			<input type="text" name="new_password" id="new_password" class="form-control" value="<?=$this->new_password?>" onkeyup="noSpace(this);">
			
			<div class="errmsg">
			<?=isset($this->errDesc['newpass'])?$this->errDesc['newpass']:''?>
			</div>
			<div id="divMayus"><?php echo $this->language->_('Caps Lock is on')?>.</div>
			<script type="text/javascript">
				$("#divMayus").hide();
				$('#new_password').keypress(function(e) { 
					var s = String.fromCharCode( e.which );
					if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {
						$("#divMayus").show();
					}
					else
					{
						$("#divMayus").hide();
					}
				});
			</script>
			
  	</div>
	
	<!-- 
	<div class="form-group">
	
		    <label for="exampleInputPassword1"><?php echo $this->language->_('Confirm Password');?><span class="errmsg">*</span></label>
		    
			<input type="password" name="confirm_password" class="form-control" id="confirm_password" value="<?=$this->confirm_password?>" onkeyup="noSpace(this);">
			
			<div class="errmsg">
			<?=isset($this->errDesc['conpass'])?$this->errDesc['conpass']:''?>
			</div>
				<div id="divMayusConfirm"><?php echo $this->language->_('Caps Lock is on')?>.</div>
				<script type="text/javascript">
					$("#divMayusConfirm").hide();
					$('#confirm_password').keypress(function(e) { 
						var s = String.fromCharCode( e.which );
						if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {
							$("#divMayusConfirm").show();
						}
						else
						{
							$("#divMayusConfirm").hide();
						}
					});
				</script>
				
  	</div>
  </div>
   -->
  
  <div class="panel-body">
  <div class="col-sm-6">
    <?php
       echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/index'", 'class' => 'btn btn-warning','style'=>'font-size: 15px;'));
      ?>
  <?php
      echo $this->formSubmit('submit',$this->language->_('Confirm'),array('class'=>'btn btn-warning'));
    ?>
    	</div>
    </div>
    </div>
</form>

<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data')?> -</div>
<?php } ?>

<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>