<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List Ongoing'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	table {
		font-size: 14px !important;
	}

	.text-gray {
		color: gray !important;
	}

	.table-header {
		font-size: 16px !important;
		color: #fff !important;
		background-color: #0b549f !important;
	}

	#fa-angle-up:hover,
	#fa-angle-down:hover {
		color: #fff !important;
	}
</style>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->data['BG_REG_NUMBER'], $rand);
$encrypted_id = urlencode($encrypted);
$download = $this->language->_('Download');

$BG_REG_NUMBER = $this->data['BG_REG_NUMBER'];
// echo "<code>test = $test</code><BR>";

?>

<div class="row justify-content-center mt-3">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Bank Guarantee Detail') ?></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('BG Reg Number') ?> </label>
			</div>
			<div class="col-md-9">
				<label><strong><?= substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9)  ?> <?= $this->data['IS_AMANDEMENT'] ==  1 ? '(Amandemen dari BG no : <a href="#" onclick="amandementDetail();">' . substr($this->data['BG_REG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_REG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_REG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_REG_NUMBER'], 9) . '</a> )' : '' ?></strong></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">BG Number</label>
			</div>
			<div class="col-md-9">
				<label class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 4) . "-" . substr($this->data['BG_NUMBER'], 4, 3) . "-" . substr($this->data['BG_NUMBER'], 7, 2) . "-" . substr($this->data['BG_NUMBER'], 9)  ?></strong></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">eForm Subject</label>
			</div>
			<div class="col-md-9">
				<label><strong><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></strong></label>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_("Bank Branch"); ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Status</label>
			</div>
			<div class="col-md-9">
				<label><?= $this->arrStatus[$this->data['BG_STATUS']]; ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Suggestion Type') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->suggestion_type; ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Notes</label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->reason; ?></label>
			</div>
		</div>
		<div class="row">
			<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
				<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
				<div class="row">
					<div class="col-sm-3">
						<label class="text-gray">Company</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
					</div>
				</div>
				<div class="row" style="text-align: right;margin-right: 0px;">
					<div class="col-md-12" style="height: auto; position: relative;">
						<a href="#" onclick="bankGuaranteeApplicant();"><i class="fas fa-ellipsis-h"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="display:none;">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label class="text-gray">Company</label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Type of Bank Guarantee') ?></h5>
				</div>

				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Type of Bank Guarantee') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= empty($this->data['USAGE_PURPOSE']) ? '-' : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?></h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">

					<div class="row pt-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Bank Guarantee Nominal</label>
						</div>
						<div class="col-sm-7">
							<div class="input-group" id="">
								<label class="text-danger"><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Start From</label>
						</div>
						<div class="col-sm-9 form-inline" style="float:left">
							<label>
								<?php
								$date_start = strtotime($this->data['TIME_PERIOD_START']);
								$date_end = strtotime($this->data['TIME_PERIOD_END']);
								$diff = $date_end - $date_start;
								$day = $diff / 60 / 60 / 24;
								if (empty($this->data['TIME_PERIOD_START'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_start);
								}
								echo ' <span class="mx-2">' . $this->language->_('to') . '</span> ';
								if (empty($this->data['TIME_PERIOD_END'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_end);
								}
								echo '<i class="ml-3 text-gray">(' . $day . ' ' . $this->language->_('days') . ')</i>';
								?>
							</label>
						</div>
					</div>
					<div class="form-group row" style="">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Claim Period</label>
						</div>
						<div class="col-sm-9">
							<label><?= date('d M Y', strtotime($this->data['BG_CLAIM_DATE'])) . PHP_EOL; ?></label>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Recipient') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Recipient Name') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Phone Office Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
					<?php if ($this->data['SP_OBLIGEE_CODE']) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Special Obligee Code') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></label>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Guarantee Transaction') ?></h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label class="text-gray"><?= $this->language->_('Procurement of Goods/Services') ?></label>
						</div>
						<div class="col-sm-9 d-flex align-items-center">
							<label class="col-form-label"><?= $this->comment; ?><?= $this->data['SERVICE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Document Type</label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->docTypeArr[$this->data['GT_DOC_TYPE']]; ?></label>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Document Number</label>
						</div>
						<div class="col-sm-9 d-flex align-items-center">
							<label class="m-0"><?= $this->data['GT_DOC_NUMBER'] ?: '-'; ?></label>&nbsp;&nbsp;<button onclick="location.href = '/eform/index/detail/bg/<?= explode('/', $this->url())[5]; ?>/download/1/onrisk/0';" name="download" value="1" class="btn bg-transparent p-0 m-0">
								<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
								</svg>
							</button>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Document Date</label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['GT_DOC_DATE'] ? date('d M Y', strtotime($this->data['GT_DOC_DATE'])) : '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Counter Warranty') ?></h5>
				</div>
				<div style="padding-left:2%;padding-right: 2%;">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Counter Warranty Type</label>
						</div>
						<div class="col-sm-9">
							<label><?php
									echo $this->warranty_type_text_new; ?></label>

						</div>
					</div>
					<!-- type1 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '1') { ?>
						<div id="wrType1">
							<div class="form-group row">
								<div class="col-sm-12">
									<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
										<thead>
											<tr height="45px">
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Own Account </th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Type</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
											</tr>
										</thead>
										<?php foreach ($this->fullmember as $vl) { ?>
											<tr>
												<td>
													<?php
													if ($vl['FLAG'] == '1') {
														echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
													} else {
														echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
													?>
														<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
													<?php } ?>
												</td>
												<td>
													<?php echo $vl['ACCT']; ?>
												</td>
												<td><?php echo $vl['NAME']; ?></td>
												<td><?= $vl["TYPE"]; ?></td>
												<td><?= $vl["CURRENCY"]; ?></td>
												<td><?= number_format($vl['AMOUNT'], 2); ?>
												</td>
											</tr>

										<?php } ?>
									</table>
								</div>

							</div>
							<?php
							if ($this->data['IS_AMANDEMENT'] == 1) {
							?>
								<div class="form-group row">

									<div class="col-sm-12">
										<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #1c1c1cab" colspan="6">
														<div style="color:white;font-weight:bold;">
															<h6>Jaminan Rekening Awal</h6>
														</div>
													</th>
												</tr>
											</thead>
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Own Account </th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Type</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
												</tr>
											</thead>
											<?php foreach ($this->fullmember as $vl) { ?>
												<tr>
													<td>
														<?php
														if ($vl['FLAG'] == '1') {
															echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
														} else {
															echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
														?>
															<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
														<?php } ?>
													</td>
													<td>
														<?php echo $vl['ACCT']; ?>
													</td>
													<td><?php echo $vl['NAME']; ?></td>
													<td>&nbsp;</td>
													<td>IDR</td>
													<td><?= number_format($vl['AMOUNT'], 2); ?>
													</td>
												</tr>

											<?php } ?>
										</table>
									</div>

								</div>
							<?php
							}
							?>

						</div>

					<?php } ?>
					<!-- type2 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '2') { ?>
						<div id="wrType2">
							<div id="listwr" style="width: 100%">
								<div id="wherelist-1">
									<!--<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Plafond Owner</label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->data["CUST_NAME"] . " " . "(" . $this->data["CUST_ID"] . ")"; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Counter Nominal</label>
										</div>
										<div class="col-sm-9">
											<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
										</div>
									</div>-->

									<?php if (!empty($this->owner1)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner1; ?></label>
											</div>
										</div>
										<?php if (false) : ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="text-gray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
												</div>
												<div class="col-sm-9">
													<label class="col-form-label">IDR <?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
												</div>
											</div>
										<?php endif ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Counter Nominal'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label">IDR <?php echo $this->currency_type . ' ' . number_format(str_replace(",", "", $this->amountowner1), 2); ?></label>
											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner2)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 2</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner2; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>

											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner3)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 3</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner3; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>

											</div>
										</div>
									<?php } ?>


								</div>
							</div>

						</div>

					<?php } ?>
					<!-- type3 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
						<div id="wrType3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Insurance Name</label>
								</div>
								<div class="col-sm-9">
									<label><?php
											echo $this->insuranceName; ?></label>

								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Insurance Branch</label>
								</div>
								<div class="col-sm-9">
									<!-- <label>-</label> -->
									<label><?php echo $this->insuranceBranch; ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Nomor Ijin Prinsip</label>
								</div>
								<div class="col-sm-9">
									<label>
										<?php if (!empty($this->principleData["Principle Agreement Number"])) echo $this->principleData["Principle Agreement Number"];
										else echo "-";
										?>
									</label>&nbsp;&nbsp;
									<?php if (!empty($this->principleData["Principle Agreement Number"])) { ?>
										<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									<?php } ?>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Nomor Kontra Garansi</label>
								</div>
								<div class="col-sm-9">
									<label><?= (!empty($this->principleData["Counter Guarantee Number"])) ? $this->principleData["Counter Guarantee Number"] : "-"; ?></label>
									<?php if (false) : ?>
										<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									<?php endif ?>
								</div>
							</div>

							<?php if (false) : ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Nilai Jaminan</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Nomor Rekening Cabang</label>
									</div>
									<div class="col-sm-9">
										<label><?= "-"; ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Jasa Penjaminan</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Jasa Administrasi</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Bea Materai</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Total</label>
									</div>
									<div class="col-sm-9">
										<label>IDR <?= number_format(($this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"]), 2); ?></label>
									</div>
								</div>
							<?php endif ?>
							<?php if (false) { ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Principal Agreement</label>
									</div>
									<div class="col-sm-9" style="padding-right: 0px;">
										<div class="input-group" id="">

											<label> <?php
													echo 'No. ' . $this->PrincipalAgreement; ?></label>
											<label><?php
													echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
											&nbsp;
											&nbsp;
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
										</div>
									</div>

								</div>
								<div class="row pt-1 pb-1">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Amount</label>
									</div>
									<div class="col-sm-9">
										<div class="input-group" id="">

											<label><?php
													echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

										</div>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<div class="row">
						<div class="col-md-6">
							<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?></h5>
						</div>
					</div>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2 pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">All Fee are charge to<strong class="formreq">
									<font color="red">&nbsp;*</font>
								</strong></label>
						</div>
						<div class="col-sm-9">
							<label><?php
									echo $this->acct . '(IDR) / ' . $this->src_name; ?></label>
						</div>
					</div>

					<?php if ($this->warranty_type != 3) { ?>
						<?php if (false) : ?>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Provision Fee</label>
								</div>
								<div class="col-sm-7">
									<label><?= number_format($this->cash_collateral["CHARGES_PCT"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?>)</label>

								</div>
							</div>

							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Administration Fee</label>
								</div>
								<div class="col-sm-7">
									<label>IDR <?= number_format($this->data["ADM_FEE"], 2); ?></label>

								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Stamp Fee</label>
								</div>
								<div class="col-sm-7">
									<label>IDR <?= number_format($this->data["STAMP_FEE"], 2); ?></label>

								</div>
							</div>
						<?php endif ?>
					<?php } else { ?>
						<?php if (false) : ?>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Biaya Provisi Bank</label>
								</div>
								<div class="col-sm-9">
									<label>
										<?= number_format($this->provision_insurance["FEE_PROVISION"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2); ?>)
									</label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Biaya Administrasi Bank</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->data["ADM_FEE"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Bea Materai Bank</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->data["STAMP_FEE"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Jasa Penjaminan Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->principleData["Principle Insurance Premium"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Jasa Administrasi Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->principleData["Principle Insurance Administration"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Bea Materai Asuransi</label>
								</div>
								<div class="col-sm-9">
									<label>IDR <?= number_format($this->principleData["Principle Insurance Stamp"], 2); ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">TOTAL</label>
								</div>
								<div class="col-sm-9">
									<label>
										IDR <?= number_format($this->data["PROVISION_FEE"] + $this->data["ADM_FEE"] + $this->data["STAMP_FEE"] + $this->principleData["Principle Insurance Premium"] + $this->principleData["Principle Insurance Administration"] + $this->principleData["Principle Insurance Stamp"], 2); ?>
									</label>
								</div>
							</div>
						<?php endif ?>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Format and Language') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Publishing Form</label>
						</div>
						<div class="col-sm-7">
							<label><?php echo $this->publishForm; ?></label>
						</div>
					</div>

					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Bank Guarantee Format</label>
						</div>
						<div class="col-sm-7">
							<label> <?= $this->bankFormat; ?> </label>
						</div>
					</div>
					<?php if ($this->bankFormatNumber == 2) { ?>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Sample Format (format.doc)</label>
							</div>
							<div class="col-sm-7">
								<label>
									<?php

									$special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
									$new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

									$new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
									echo $new_special_format;

									?>
									<a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</label>
							</div>
						</div>
					<?php } ?>

					<?php if ($this->bankFormatNumber == 1) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Language<strong class="formreq">
										<font color="red">&nbsp;*</font>
									</strong></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->languagetext; ?></label>
							</div>
						</div>
					<?php } ?>
					<br>

				</div>
			</div>
		</div>



		<?php if (count($this->othersAttachment) > 0) { ?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<div class="col">
							<h5><?= $this->language->_('Others Attachment Documents') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check8)) { ?>

							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?php
																					//var_dump($this->arrbgType);	var_dump($this->usage_purpose);die;	
																					echo $this->verify8; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%" class="mt-3">
						<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
							<thead>
								<tr height="45px">
									<th class="tablehead fth-header" style="background-color: #005587">File Name </th>
									<th class="tablehead fth-header" style="background-color: #005587">Bank Footnotes</th>
									<th class="tablehead fth-header" style="background-color: #005587">Action</th>
								</tr>
							</thead>

							<?php foreach ($this->othersAttachment as $file) {

								//trim file name 
								$x = 1;
								$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
								$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
								$fileName = substr($file["BG_FILE"], $getLength);

								// end trim file name
							?>
								<tr>
									<td><label for="" class="textGray col-form-label">Attachment<?= $x ?></label> </td>
									<td><input type="text" name="Footnotes" class="form-control" value="<?= $file["FILE_NOTE"]; ?>" id="autocomplete" readonly></td>
									<td><button type="button" onclick="location.href = '/eformworkflow/downloadfile/index/bgnumb/<?= $this->BG_REG_NUMBER ?>/download/<?= $file['INDEX'] ?>';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button></td>

								</tr>
							<?php
								$x++;
							} ?>






						</table>


					</div>
				</div>
			</div>
		<?php } ?>

		<?php if ($this->data["COUNTER_WARRANTY_TYPE"] != "1") { ?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<div class="col">
							<h5><?= $this->language->_('Informasi Fasilitas Penyediaan Dana SLIK OJK') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check9)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify9; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%" class="mt-2">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Informasi SLIK OJK</label>
							</div>

							<div class="col-sm-7 d-flex align-items-center">
								<label class="m-0">
									<?php
									if (!empty($this->slikojk)) echo $this->slikojk;
									else echo "-";
									?>
								</label>&nbsp;&nbsp;
								<?php if (!empty($this->slikojk)) { ?>
									<a href="/eformworkflow/downloadfile/slikojk/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>

		<?php if ($this->data["BG_FORMAT"] == "2") { ?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<div class="col">
							<h5><?= $this->language->_('Format Sertifikat Yang Disetujui') ?></h5>
						</div>
						<div class="col" style="text-align:right;">
							<?php if (empty($this->check10)) { ?>
							<?php } else { ?>
								<label>(<?= $this->language->_('Last Verified :') ?><?= $this->verify10; ?>)</label>
							<?php } ?>
						</div>
					</div>
					<div style="padding-left:2%" class="mt-2">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Format Disetujui</label>
							</div>

							<div class="col-sm-7 d-flex align-items-center">
								<label class="m-0">
									<?php if (!empty($this->agreeformat)) echo $this->agreeformat;
									else echo "-"; ?>
								</label>&nbsp;&nbsp;
								<?php if (!empty($this->agreeformat)) { ?>
									<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								<?php } ?>
							</div>
						</div>


						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Memo Persetujuan Legal</label>
							</div>

							<div class="col-sm-7 d-flex align-items-center">
								<label class="m-0">
									<?php if (!empty($this->data["MEMO_LEGAL"])) {
										echo $this->memolegal;
									} else echo "-";
									?>
								</label>&nbsp;&nbsp;
								<?php if (!empty($this->data["MEMO_LEGAL"])) { ?>
									<a href="/eformworkflow/downloadfile/agreeformat/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/2" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div style="padding-left:2%" id="sertifikatBG">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Sertifikat Bank Garansi </label>
						</div>
						<div class="col-sm-8 d-flex align-items-center">
							<label class="col-form-label">-</label>&nbsp;&nbsp;
							<?php if (false) { ?>
								<button onclick="location.href = 'javascript:void(0)';" name="download" value="1" class="btn bg-transparent p-0 m-0">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</button>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('History') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-12">
						<div id="history-body">
							<table class="table-bordered" cellpadding="3" style="width:100%">
								<tr style="background-color:#ccc">
									<td><b><i><?= $this->language->_('User'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Action'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Note'); ?></i></b></td>
								</tr>
								<?php foreach ($this->dataHistory as $row) : ?>
									<tr style="background-color:#eee">
										<td><?= $row['USER_LOGIN']; ?></td>
										<td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
										<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
										<td><?= $row['BG_REASON'] ?: '-'; ?></td>
									</tr>
								<?php endforeach; ?>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<label for="">&nbsp;<?= $this->language->_('The Preliminary Document is all set') ?>. <a href="/preliminary" target="_blank"><u><?= $this->language->_('Check Documents') ?></u></a></label>

	</div>
</div>

<?php
$back = $this->language->_('Back');
$amendment = $this->language->_('Amendment');
?>

<div class="col-md-12 mt-4" align="center">
	<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/bgreport/ongoing'" type="button">

	&nbsp;
	<!--<?= $this->formButton('download', $download, array('id' => '', 'class' => 'btn-sm btnwhite hov', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/download/4'")); ?>-->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/amendment/1'")); ?> -->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/amdetail/index/bg/$encrypted_id'")); ?> -->
	&nbsp;

	<!--<?= $this->formButton('amendment', $amendment, array('class' => 'btn-sm btngreen hov', 'onclick' => "location.href='/eform/amdetail/index/bgnumb/$BG_REG_NUMBER'")); ?>-->

</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Company</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>
<div class="modal fade" id="myModalAmandement" tabindex="-1" role="dialog" aria-labelledby="myModalAmandement">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<center style="width:100%">
					<h4 class="modal-title textBlack" id="myModalLabel">Detail Bank Garansi</h4>
				</center>
			</div>
			<div class="modal-body">
				<br>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label class="text-gray">Nomor Registrasi</label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->data['BG_REG_NUMBER']; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Nomor BG</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BG_NUMBER'] ?: '-'; ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Subjek eForm</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['SUBJECT'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Bank Cabang</label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray">Status</label>
							</div>
							<div class="col-sm-9">
								<label>Selesai penjaminan - amandemen menjadi BG baru (BG No : <?= $this->data['BG_NUMBER'] ?: '-'; ?>)</label>
							</div>
						</div>

					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<center style="width: 100%">
					<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				</center>
			</div>
		</div>
	</div>

</div>
<script>
	$(document).ready(function() {
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	});

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}

	$(document).ready(function() {
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	});

	function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#sertifikatBG').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	}

	const bankGuaranteeApplicant = () => {
		$("#myModalBankApp").modal();
	}
	const amandementDetail = () => {
		$("#myModalAmandement").modal();
	}
</script>