<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Kontra Garansi') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                </div>
                <div class="col-sm-9">
                    <label>
                        <?= $this->arrbgcg[$this->bgdata['COUNTER_WARRANTY_TYPE']]; ?>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>