<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust" style="background-color: #0000FF;">
            <h5><?= $this->language->_('Pernyataan Pejabat Bank') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:10px;">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" name="pejabat_statement" id="statement-check">
                    <label for="" class="col-form-label"><?= $this->language->_('Saya telah melakukan verifikasi terhadap semua data dan dokumen klaim. Semua persyaratan telah dilengkapi') ?></label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 " align="center">
        <input class="btnwhite hov" value="<?php echo $this->language->_('Kembali') ?>" onclick="location.href='/<?= $this->modulename; ?>/repair'" type="button">
        <input type="button" value="<?= $this->language->_('Reset') ?>" class="btnwhite hov" onclick="location.reload()">
        <input type="submit" id="kirim" value="<?= $this->language->_('Kirim') ?>" class="btngreen hov disabled" disabled>
        <input type="hidden" name="persetujuan" value="1">
    </div>
</div>

<script type="text/javascript">
    function validateAll(event) {
        event.preventDefault();
        const acct = document.querySelector('[name="acct_number_klaim"]').value;
        const swiftCode = document.querySelector('#bank_receive').value;
        const acctNameClaim = document.querySelector('[name="acct_name_klaim"]');

        const btnKirim = document.querySelector('#kirim');

        const requiredValidate = checkRequired();

        const getClaimNotifElem = document.querySelector('#alertAcctClaim');
        getClaimNotifElem.classList.add('hidden');
        getClaimNotifElem.classList.remove('mt-3');
        getClaimNotifElem.querySelector('#errorMessage').innerText = '';

        if (!requiredValidate) {
            alert('<?= $this->language->_('Ada data yang salah atau tidak lengkap, mohon periksa kembali data'); ?>');
            return;
        }

        // DISABLED BUTTON
        btnKirim.setAttribute('disabled', true);
        btnKirim.classList.add('disabled');
        btnKirim.value = '<?= $this->language->_('Kirim') ?> ...';

        $.ajax({
            type: "get",
            url: "/bgclosingworkflow/repairdetail/validateacct",
            data: {
                acct: acct,
                swiftcode: swiftCode,
                acctname: acctNameClaim.value,
                valuta: '<?= urlencode($AESMYSQL->encrypt($this->bgdatadetail['currency'], uniqid())); ?>',
            },
            dataType: "JSON",
            success: function(response) {
                const valid = response.valid;
                if (valid) {
                    // sukses

                    getClaimNotifElem.classList.add('hidden');
                    getClaimNotifElem.classList.remove('mt-3');
                    getClaimNotifElem.querySelector('#errorMessage').innerText = '';

                    // document.querySelector('[name="acct_number_klaim"]').value = response.account_name

                    document.forms.repairForm.submit();
                } else {

                    getClaimNotifElem.classList.remove('hidden');
                    getClaimNotifElem.classList.add('mt-3');
                    getClaimNotifElem.querySelector('#errorMessage').innerText = response.message;

                    alert('<?= $this->language->_('Ada data yang salah atau tidak lengkap, mohon periksa kembali data'); ?>');

                    // ENABLED BUTTON JIKA ADA DATA SALAH
                    btnKirim.removeAttribute('disabled');
                    btnKirim.classList.remove('disabled');
                    btnKirim.value = '<?= $this->language->_('Kirim') ?>';
                }
            },
        });


    }

    function checkRequired() {
        const acctNumbClaim = document.querySelector('[name="acct_number_klaim"]');
        const acctNameClaim = document.querySelector('[name="acct_name_klaim"]');
        const swiftCode = document.querySelector('#bank_receive').value;
        const nominalPembayaran = document.querySelector('[name="nominal_pembayaran"]');
        const alamatPenerima = document.querySelector('[name="acct_address_klaim"]');

        let valid = true;

        if (acctNumbClaim.value == '') {
            valid = false;
            acctNumbClaim.nextElementSibling?.remove();

            const errorNumb = document.createElement('small');
            errorNumb.classList.add('text-danger');
            errorNumb.classList.add('font-weight-bold');
            errorNumb.innerText = '<?= $this->language->_('Nomor rekening tidak boleh kosong'); ?>'

            acctNumbClaim.after(errorNumb)
        } else {
            if (swiftCode.toLowerCase() == 'btanidja') {
                const lengthAcct = acctNumbClaim.value.length;

                if (lengthAcct != 16) {
                    valid = false;
                    acctNumbClaim.nextElementSibling?.remove();

                    const errorLength = document.createElement('small');
                    errorLength.classList.add('text-danger');
                    errorLength.classList.add('font-weight-bold');
                    errorLength.innerText = '<?= $this->language->_('Nomor rekening harus 16 digit'); ?>';

                    acctNumbClaim.after(errorLength)
                }
            } else {
                acctNumbClaim.nextElementSibling?.remove();
            }
        }

        if (acctNameClaim.value == '') {
            acctNameClaim.nextElementSibling?.remove();

            const errorName = document.createElement('small');
            errorName.classList.add('text-danger');
            errorName.classList.add('font-weight-bold');
            errorName.innerText = '<?= $this->language->_('Nama rekening tidak boleh kosong'); ?>'

            acctNameClaim.after(errorName)

            valid = false;
        } else {
            acctNameClaim.nextElementSibling?.remove();
        }

        if (parseFloat(nominalPembayaran.value) == 0) {
            nominalPembayaran.nextElementSibling?.remove();

            const errorNominal = document.createElement('small');
            errorNominal.classList.add('text-danger');
            errorNominal.classList.add('font-weight-bold');
            errorNominal.innerText = '<?= $this->language->_('Nominal Pembayaran tidak boleh kosong'); ?>'

            nominalPembayaran.after(errorNominal);

            valid = false;
        } else {
            nominalPembayaran.nextElementSibling?.remove();
        }

        if (swiftCode.toLowerCase() != 'btanidja') {
            alamatPenerima.nextElementSibling?.remove();

            // if (alamatPenerima.value == '') {
            //     const errorAlamat = document.createElement('small');
            //     errorAlamat.classList.add('text-danger');
            //     errorAlamat.classList.add('font-weight-bold');
            //     errorAlamat.innerText = '<?= $this->language->_('Alamat penerima tidak boleh kosong'); ?>'

            //     alamatPenerima.after(errorAlamat);

            //     valid = false;
            // } else {
            //     alamatPenerima.nextElementSibling?.remove();
            // }
        } else {
            alamatPenerima.nextElementSibling?.remove();
        }

        return valid;
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#statement-check').addEventListener('change', (event) => {
            const target = event.target;

            if (target.checked) {
                document.querySelector('#kirim').classList.remove('disabled');
                document.querySelector('#kirim').removeAttribute('disabled');
            } else {
                document.querySelector('#kirim').classList.add('disabled');
                document.querySelector('#kirim').setAttribute('disabled', 'disabled');

            }
        });

        document.querySelector('#repairForm').addEventListener('submit', validateAll);
    });
</script>