<style>
    textarea {
        resize: none;
    }

    .select2-container {
        padding: 0 !important;
    }

    .select2-container .select2-choice.is-invalid {
        border: 1px solid red !important;
    }
</style>

<link href="/css/select2_353.min.css" rel="stylesheet" />

<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust" style="background-color: #0000FF;">
            <h5><?= $this->language->_('Rekening Tujuan Pembayaran Klaim') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="hidden" id="alertAcctClaim">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span id="errorMessage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Bank Penerima') ?> <strong class="text-danger">*</strong></label>
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                    <div style="width: 100%;">
                        <select name="bank_receive" id="bank_receive" class="form-control" style="width: 100%;font-size: 16px;">
                            <option value=""></option>
                            <?php foreach ($this->selectAllBank as $value) { ?>
                                <option value="<?= $value['SWIFT_CODE']; ?>" <?= ($value['SWIFT_CODE'] == $this->detailTrfKlaim['swift_code'] ? 'selected' : ''); ?>><?= $value['BANK_NAME']; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Rekening Penerima') ?> <strong class="text-danger">*</strong></label>
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                    <div style="width: 100%;">
                        <input type="text" name="acct_number_klaim" id="" maxlength="16" class="form-control" onkeypress="return forceNumberOCBC(event)" value="<?= $this->detailTrfKlaim['beneficiary_account_number']; ?>" style="font-size: 16px">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Nama Penerima') ?> <strong class="text-danger">*</strong></label>
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                    <div style="width: 100%;">
                        <input type="text" name="acct_name_klaim" id="" class="form-control" onkeypress="return forceAlnum(event)" value="<?= $this->detailTrfKlaim['beneficiary_account_name']; ?>" style="font-size: 16px">
                    </div>
                </div>
            </div>
            <div class="form-group row" id="alamat_penerima">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Alamat Penerima') ?></label>
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                    <div style="width: 100%;">
                        <input type="text" name="acct_address_klaim" id="" class="form-control" value="<?= $this->detailTrfKlaim['beneficiary_address']; ?>" style="font-size: 16px" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Nominal Pembayaran') ?></label>
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                    <div style="width: 100%;">
                        <input type="text" class="form-control" name="nominal_pembayaran" onkeypress="return forceNumberOwn(event)" onfocus="focusCurrency(event)" onblur="currencyFormat(event)" value="<?= number_format($this->detailTrfKlaim['transaction_amount'], 2); ?>" style="font-size: 16px">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Berita') ?></label>
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                    <div style="width: 100%;">
                        <textarea rows="5" class="form-control" disabled style="font-size: 16px"><?= $this->detailTrfKlaim['remark_' . $this->getIndexKlaim]; ?></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/select2_353.min.js"></script>

<script type="text/javascript">
    function forceAlnum(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;

        if (charCode == 8 || (charCode >= 48 && charCode <= 57) || (charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || charCode == 13 || charCode == 32)
            return true;
        return false;
    }

    function checkAddress(event) {
        const target = event.target;

        if (target.value.toLowerCase() == 'btanidja') {
            document.querySelector('#alamat_penerima').classList.add('hidden');
        } else {
            document.querySelector('#alamat_penerima').classList.remove('hidden');
        }
    }

    function focusCurrency(event) {
        const elem = event.target;

        elem.value = elem.value.replace(/,/g, '');
    }

    function currencyFormat(event) {
        const elem = event.target;

        const formatter = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        elem.value = isNaN(Math.round(elem.value.replace(/,/g, '') * 100) / 100) ? formatter.format(0) : formatter.format(Math.round(elem.value.replace(/,/g, '') * 100) / 100);
    }

    function forceNumberOwn(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        console.log(charCode);
        if ((charCode >= 48 && charCode <= 57) || charCode == 8 || charCode == 13 || charCode == 39 || charCode == 37 || charCode == 190 || charCode == 46)
            return true;
        return false;
    }

    document.addEventListener('DOMContentLoaded', () => {
        $(`#bank_receive`).select2({
            placeholder: '<?= $this->language->_('Pilih Bank'); ?>',
            allowClear: true,
        });
        $('.select2-search-choice-close').remove();

        $('#bank_receive').on('change', checkAddress);
        document.querySelector('#bank_receive').dispatchEvent(new Event('change'));
    });
</script>