<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Tanggal Terbit') ?></label>
                </div>
                <div class="col-sm-9">
                    <label class="text-danger font-weight-bold">
                        <?= date('d M Y', strtotime($this->bgdata['BG_ISSUED'])); ?>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Dokumen Final') ?></label>
                </div>
                <div class="col-sm-9">
                    <div class="d-flex" style="gap: 15px;">
                        <input type="text" class="form-control" value="BG_<?= $this->bgdata['BG_NUMBER']; ?>.pdf" disabled style="font-size: 1.2em; margin-left: -13px; background-color: #FFE6EB;">
                        <button class="btnwhite hov" style="border-radius: 6px !important; height: auto !important;" type="button" onclick="javascript:window.open(`/bgclosingworkflow/repairdetail/showcertificate/bgnumb/${location.href.split('/').pop()}`)"><i class="fa fa-search pr-1" style="color: #0D85F1; font-size: 14px;"></i> PRATINJAU</button>
                        <button class="btnwhite hov" style="border-radius: 6px !important; height: auto !important;" type="button" onclick="javascript:window.open(`/bgclosingworkflow/repairdetail/downloadcertificate/bgnumb/${location.href.split('/').pop()}`)"><i class="fa fa-download pr-1 text-body" font-size: 14px;"></i>DOWNLOAD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>