<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust" style="background-color: #0000FF;">
            <h5><?= $this->language->_('Monitor Waktu Pemrosesan Klaim') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Tanggal Verifikasi Awal') ?></label>
                </div>
                <div class="col-sm-9">
                    <?php
                    $getVerificationBankHistory = array_filter($this->getAllHistoryClose, function ($history) {
                        // KODE VERIFIKASI BANK = 4
                        return $history['HISTORY_STATUS'] == '13' || $history['HISTORY_STATUS'] == '21';
                    });

                    $getVerificationBankHistory = end($getVerificationBankHistory);
                    ?>
                    <label>
                        <?= ($this->tempBgClose['CLAIM_FIRST_VERIFIED'] != '0000-00-00 00:00:00') ? date('d M Y @ H:i:s', strtotime($this->tempBgClose['CLAIM_FIRST_VERIFIED'])) : '-'; ?>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Waktu Berlalu Sejak Verifikasi') ?></label>
                </div>
                <div class="col-sm-9">
                    <?php
                    $lastVerif = new DateTime($this->tempBgClose['CLAIM_FIRST_VERIFIED']);
                    $timeDifferenceSinceVerif = $lastVerif->diff(new DateTime(date('Y-m-d H:i:s')));
                    ?>
                    <input type="text" class="form-control text-danger" value="<?= ($this->tempBgClose['CLAIM_FIRST_VERIFIED'] != '0000-00-00 00:00:00') ? $timeDifferenceSinceVerif->days . ' hari ' . $timeDifferenceSinceVerif->h . ' jam ' . $timeDifferenceSinceVerif->i . ' menit' : '-'; ?>" disabled style="font-size: 1.2em; background-color: #FFE6EB;">

                </div>
            </div>
        </div>
    </div>
</div>