<b><?=$this->titleCaption;?> > <?php echo $this->language->_('Payment Report Detail'); ?></b><br /><br />

<?php 
$this->jqueryDateFormat = 'yy-mm-dd';
?>

<form name="filterForm" action="<?php echo $this->url(array('page' => '1')); ?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr><th colspan="7" class="tdform-sub"><strong>Filter</strong></th></tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('paymentDate',$this->language->_('Payment Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->language->_('From'); ?> &nbsp;
										<?php 
												echo $this->datePicker("paymentDateStart", $this->paymentDateStart,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'paymentDateEnd',
																										'minDateID' => 'paymentDateEnd'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To'); ?> &nbsp;
										<?php 
												echo $this->datePicker("paymentDateEnd", $this->paymentDateEnd,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'paymentDateStart',
																										'maxDateID' => 'paymentDateStart'
																										)); 
										?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('lastUpdate',$this->language->_('Last Update')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->language->_('From'); ?> &nbsp;
										<?php 
												echo $this->datePicker("lastUpdateStart", $this->lastUpdateStart,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'lastUpdateEnd',
																										'minDateID' => 'lastUpdateEnd'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To'); ?> &nbsp;
										<?php 
												echo $this->datePicker("lastUpdateEnd", $this->lastUpdateEnd,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'lastUpdateStart',
																										'maxDateID' => 'lastUpdateStart'
																										)); 
										?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('institusi',$this->language->_('Institusi')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $this->formText('institusi',$this->institusi,array()); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('sync',$this->language->_('Synchronize')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php echo $this->formSelect('sync',$this->sync,array(), $this->optSync); ?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('paymentType',$this->language->_('Payment Type')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php echo $this->formSelect('paymentType',$this->paymentType,array(), $this->optPaymentType); ?>
			</td>
		</tr>
		<tr>
			<td colspan="7" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
				<input type="button" name="clearfilter" class="inputbtn" value="Clear Filter" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>$this->actionname),null,true)?>'">
				
			</td>
			
		</tr>
	</table>
</form>
<br />

<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br>

<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	<tr>
		<?php 
			echo $this->partial('tableheader.phtml',
				array(
					'fields' => $this->fields,
					'sortBy' => $this->sortBy,
					'sortDir' => $this->sortDir,
					'query_string_params' => $this->query_string_params
				)
			);
		?>
	</tr>
	
	<?php
		$numFields = count($this->fields);
		$id = NULL;
		if(!empty($this->paginator) && count($this->paginator) > 0){
			foreach ($this->paginator as $arr){
				echo '<tr>';
				foreach($arr as $key => $val){					
					$attr = 'align:left;';
					if($key == 'ID'){
						$id = $val;
						$val = NULL;
					}
					if($key == 'PAYREFF'){
						$val = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'view','reff'=>$val),null,true).'/id/'.$id.'">'.$val.'</a>';
					}
					if($key == 'SYNC'){
						$val = $this->optSync[$val];
					}
					if ($key == 'AMOUNT'){
						$val = SGO_Helper_GeneralFunction::displayCurrency($val);
					}
					if ($key == 'TRX_DATE'){
						$val = date('d-m-Y',strtotime($val));
					}if ($key == 'LAST_UPDATE'){
						$val = date('d-m-Y H:i:s',strtotime($val));
					}if($key == 'PAID_STATUS'){
						$val = $this->optSync[$val];
					}
					
					if (!(is_null($val))){
						echo '<td style="text-align:'.($key == 'AMOUNT' ? 'right':'left').'">'.$val.'</td>';
					}
				}
				echo '</tr>';
			}
		}else{
			echo '<tr>
				<td class="tbl-evencontent" colspan="'.$numFields.'" align="center"> --- '.$this->language->_('No Data').' --- </td>
			</tr>';
		}
		?>
</table>
<br>

<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>