<b><?=$this->titleCaption;?> > <?php echo $this->language->_('Biller Offline'); ?> (<?php echo $this->language->_('Upload Invoice'); ?> )</b><br /><br />

<form name="filterForm" action="<?php echo $this->url(array('page' => '1','uploaded' => '1')); ?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr>
			<td colspan="4">
				<div id="notesPage" style="width:550px;">
					<div class="tdform-sub"><?php echo $this->language->_('Format'); ?>: &nbsp;
						<span style="font-size:11px;font-style:normal;"><a href="/template/Virtual_Payment_Template.csv" style="color:#F4C301;"><u>download template</u></a></span>
					</div>
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Please upload comma delimited'); ?> (,) <?php echo $this->language->_('file'); ?> <br>
						"COMP_ID","INSTITUTIONS_ID","INVOICE_NAME","INVOICE_DESC","CCY","AMOUNT","AREA"
						,"BENEFICIARY_ACCOUNT","BENEFICIARY_NAME"
						<br>
						"ABC001","10051","B123ABC","","IDR","100000","JAKARTA BARAT","991234567","DISPENDA BARAT"
						"ABC001","10061","Toko Pak Adi","","IDR","100000","JAKARTA UTARA","991234567","DISPENDA UTARA"
						"ABC001","10071","Lapak Unang","","IDR","100000","JAKARTA UTARA","991234567","DISPENDA UTARA"
						<br>
					</div>
					<div> &nbsp;</div>
					<div class="tdform-sub"><?php echo $this->language->_('Notes'); ?>:</div>
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Import will generate list from file'); ?>.
						<br>
						<?php echo $this->language->_('Click'); ?> "<?php echo $this->language->_('Download Template'); ?>" <?php echo $this->language->_('to download template'); ?>
						<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored'); ?> 
						(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
						<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>.
					</div>
				</div>
			</td>
		</tr>
							
		<tr><th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Upload'); ?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('institusi',$this->language->_('Institusi')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><input name="uploadFile" size="30" type="file"></td>
			<td class="tbl-evencontent">
				<?php echo $this->formSubmit('uploadBtn','Upload',array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
</form>

<?php 
if (!(empty($this->uploaded))){
	echo '<br />';
	echo '<div class="successmsg">'.$this->uploadText.'</div>';
	echo '<br />';
}
?>

<br />
<!--<form name="filterForm" action="<?php echo $this->url(array('page' => '1')); ?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr><th colspan="7" class="tdform-sub"><strong>Filter</strong></th></tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('institusi',$this->language->_('Institusi')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $this->formText('institusi',$this->institusi,array()); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('invoice',$this->language->_('Invoice No')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $this->formText('invoice',$this->invoice,array()); ?></td>
		</tr>
		<tr>
			<td colspan="7" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
				<input type="button" name="clearfilter" class="inputbtn" value="Clear Filter" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>$this->actionname),null,true)?>'">
			</td>
			
		</tr>
	</table>
</form>
--><br />

<?php 
if (!(empty($this->uploaded))){
	?>
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
	
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
		<tr>
			<?php 
				echo $this->partial('tableheader.phtml',
					array(
						'fields' => $this->fields,
						'sortBy' => $this->sortBy,
						'sortDir' => $this->sortDir,
						'query_string_params' => $this->query_string_params
					)
				);
			?>
		</tr>
		
		<?php
			$numFields = count($this->fields);
			
			if(!empty($this->paginator) && count($this->paginator) > 0){
				$total = 0;
				foreach ($this->paginator as $arr){
					echo '<tr>';
					foreach($arr as $key => $val){
						$attr = 'align:left;';
						if($key == 'SYNC'){
							$val = $this->optSync[$val];
						}if ($key == 'AMOUNT'){
							$total += $val;
							$val = SGO_Helper_GeneralFunction::displayCurrency($val);
						}if ($key == 'TRX_DATE' || $key == 'LAST_UPDATE'){
							$val = date('d-m-Y',strtotime($val));
						}	
						
						echo '<td style="text-align:'.($key == 'AMOUNT' ? 'right':'left').'">'.$val.'</td>';
					}
					echo '</tr>';
				}
			}else{
				echo '<tr>
					<td class="tbl-evencontent" colspan="'.$numFields.'" align="center"> --- '.$this->language->_('No Data').' --- </td>
				</tr>';
			}
			?>
	</table>
	<br>
	
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div>
	<?php
}
?>