<b><?=$this->language->_($this->titleCaption);?> > <?php echo $this->language->_('Tax'); ?></b><br /><br />
<?php 
if(isset($this->error)){
	foreach ($this->error as $data => $arr){
		foreach ($arr as $key => $val){
			echo '<div class="errmsg">&bull;&nbsp;'.$this->language->_($val).'</div>';
		}
	}
}
?>
<br />
<form name="filterForm" action="<?=$this->url(array('page' => '1')); ?>" method="post">
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Tax Payment'); ?></strong></th></tr>
		<tr><td colspan="7" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td></tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('sourceAccount',$this->language->_('Source Account')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?=$this->formSelect('sourceAccount',$this->sourceAccount,array(),$this->acctList);?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('typeOfTax',$this->language->_('Type of Tax')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?=$this->formSelect('typeOfTax',$this->typeOfTax,array(),$this->taxList);?>
				<?=$this->formCheckbox('addToPaymentList', '', array(), array());?>
				<?=$this->formLabel('addToPaymentList',$this->language->_('Add to Payment List'));?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('payment',$this->language->_('Payment')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?=$this->formText('payment',$this->newEntry,array('autocomplete'=>'off'));?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('payment',$this->language->_('Payment List')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?=$this->formSelect('payment',$this->payment,array('disabled' => true),array());?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('period',$this->language->_('Period')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?=$this->formSelect('period',$this->period,array(),$this->monthList);?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('years',$this->language->_('Years')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?=$this->formSelect('years',$this->years,array(),$this->yearsList);?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" colspan="2"><?=$this->formLabel('amount',$this->language->_('Amount')); ?><span class="errmsg">&nbsp;*</span></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?=$this->formText('amount',$this->amount,array('autocomplete'=>'off')); ?></td>
		</tr>
		<tr>
			<td colspan="7" align="left" class="tbl-evencontent">
				<input type="button" name="cancel" class="inputbtn" value="<?php echo $this->language->_('Cancel');?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>$this->actionname),null,true)?>'">
				<?=$this->formSubmit('filter',$this->language->_('Confirm'),array('class'=>'inputbtn')); ?>
			</td>
			
		</tr>
	</table>
</form>