<b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Monthly Fee'); ?> &gt; <?php echo $this->language->_('Monthly Transaction Account'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges Setting'); ?></div>
<br />
<h2><?php echo $this->language->_('Charges Type'); ?> : <?php echo $this->language->_('Monthly per Account'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
	</tr>
</table>
<i>
<?php echo $this->language->_('Set/Edit Charge Amount for the following Accounts'); ?>.<br />
<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill charge amount with zero (0) to unset charge account'); ?><br />
</i>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="100%">
   <tr>
   	<th rowspan="2"><?php echo $this->language->_('Account'); ?></th>
    <th colspan="2"><?php echo $this->language->_('Number of Transaction'); ?></th>
    <th rowspan="2"><div align="center"><?php echo $this->language->_('Charges per Month'); ?></div></th>
    <th rowspan="2"><?php echo $this->language->_('Account Charges'); ?></th>
  </tr>
  <tr>
    <th><?php echo $this->language->_('From'); ?></th>
    <th><?php echo $this->language->_('To'); ?></th>
  </tr>
  <?php
  $option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
  $option2 = array('maxlength'=>10,
  						  'size'=>15,
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
  $option3 = array('maxlength'=>19,
  						  'class'=>'desc',
  						  'size'=>25,
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
  $y = 0;
  foreach($this->resultaccount as $list)
  {
   $x = 0;
   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idfrom = $list['ACCT_NO'].'from'.$x;
   $idto = $list['ACCT_NO'].'to'.$x;
   $idamt = $list['ACCT_NO'].'amount'.$x;
   $rowmaxid = 'rowmax'.$list['ACCT_NO'];
   $rowmax = $this->$rowmaxid;
   //Zend_Debug::dump($rowmax);die;
   $rowspan = 5+$rowmax;
   $acct = $list['ACCT_NO'];
   $cekacct = 'cek'.$list['ACCT_NO'];
   $errfrom = 'err'.$idfrom;
   $errto = 'err'.$idto;
   $erramt = 'err'.$idamt;
   $erracct = 'err'.$cekacct;
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>" align="center" valign="middle"><br /><br /><br /><br /><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
  	<td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2); ?></td>
    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
    <td class="<?php echo $td_css;?>" align="center"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>"><br /><br /><br /><br />
  	
  	<?php  
	echo'<select name="'.$list['ACCT_NO'].'">';
		echo '<option value="'.$list['ACCT_NO'].'">'.$list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'.'</option>'; 
	echo'</select>';
	?>
	
  	<?php 
//  	echo '<select name="'.$acct.'">';
//  					echo '<option value="">---Please Select---</option>';
//					foreach($this->resultlist as $list2)
//					{
//						echo '<option value="'.$list2['ACCT_NO'].'"';
//						if($list2['ACCT_NO']==$this->$cekacct)
//						{
//							echo 'selected';
//						}
//						echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
//					}
//						echo '</select>';
	?>
	<?php 
	if($this->$erracct)
	{
		echo '<br /><span class="errmsg">'.$this->$erracct.'</span>';
	}
	?>
  	</td>
  	</tr>
  	<?php 
  	if($this->$errfrom || $this->$erramt)
  	{
  		echo '<tr>
  				<td class="'.$td_css.'" colspan="3">';
  		
  		if($this->$erramt)
  		{
  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
  			echo '<br /><br />';
  		}
  		
  		if($this->$errfrom)
  		{
  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
  			echo '<br /><br />';
  		}
  		
  		for($y=$x;$y>=0;$y--)
  		{
  			$errto2 = $errto.$y;
  			if($this->$errto2)
  			{
  			echo '<span class="errmsg">'.$this->$errto2.'</span>';
  			echo '<br /><br />';
  			}
  		}
  		echo '</td>
  			 </tr>';
  	}
  	?>
  <?php 
  $x++;
  for($i=1;$i<5;$i++)
  {
  	$idfrom = $list['ACCT_NO'].'from'.$x;
   	$idto = $list['ACCT_NO'].'to'.$x;
   	$idamt = $list['ACCT_NO'].'amount'.$x;
   	$errfrom = 'err'.$idfrom;
   	$erramt = 'err'.$idamt;
   	$errto = 'err'.$idto;
   	//Zend_Debug::dump($this->$idfrom);die;
  ?>
  <tr>
    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2); ?></td>
    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
  </tr>
  <?php 
  	if($this->$errfrom || $this->$erramt)
  	{
  		echo '<tr>
  				<td class="'.$td_css.'" colspan="3">';;
  		
  		if($this->$erramt)
  		{
  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
  			echo '<br /><br />';
  		}
  		
  		if($this->$errfrom)
  		{
  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
  			echo '<br /><br />';
  		}
 		
  		for($y=$x;$y>=0;$y--)
  		{
  			$errto2 = $errto.$y;
  			if($this->$errto2)
  			{
  			echo '<span class="errmsg">'.$this->$errto2.'</span>';
  			echo '<br /><br />';
  			}
  		}
  		
  		echo '</td>
  			 </tr>';
  	}
  	?>
  <?php 
  $x++;}
  $y++;}?>
</table>
<br />
<table width="100%">
<tr align="left"><td  align="left">
<?php if($this->changestatus)
{ ?>
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
<br /><br />
<?php 
echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
}
else
{?>
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
<?php }?>
</td></tr>
</table>
</form>