<?php if ($this->counterWarrantyType == 1) { ?>
    <div class="row">
        <div class="col-md-12" style="height: auto; position: relative;">
            <div class="padding-header-cust my-2">
                <h5><?= $this->language->_('Kontra Garansi') ?></h5>
            </div>
            <div style="padding-left:2%">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>

<?php if ($this->counterWarrantyType == 2) { ?>
    <div class="row">
        <div class="col-md-12" style="height: auto; position: relative;">
            <div class="padding-header-cust my-2">
                <h5><?= $this->language->_('Kontra Garansi') ?></h5>
            </div>
            <div style="padding-left:2%">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                    </div>
                </div>
            </div>
            <div style="padding-left:2%">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Pemilik Plafond Limit') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label id="COUNTER_WARRANTY_TYPE_LBL"><?php echo $this->getBG['CUST_NAME'] ?></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>

<?php if ($this->counterWarrantyType == 3) { ?>
    <div class="row">
        <div class="col-md-12" style="height: auto; position: relative;">
            <div class="padding-header-cust my-2" style="border-radius: 3px;">
                <h5><?= $this->language->_('Kontra Garansi') ?></h5>
            </div>
            <div class="pl-3">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Nama Asuransi') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label><?= $this->getBG['INS_NAME']; ?></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Cabang Asuransi') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label><?= $this->insuranceBranch; ?></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>