<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<style>
    #laporan_transaksi {
        width: 100%;
    }

    #laporan_transaksi thead tr th {
        width: 1%;
        white-space: nowrap;
        background-color: #CCCCCC;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
    }

    #laporan_transaksi tbody tr td {
        width: 1%;
        white-space: pre-line;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
    }

    #laporan_transaksi tbody tr:nth-child(odd) td {
        background-color: #E6E6E6;
    }

    #laporan_transaksi tbody tr:hover td {
        /* background-color: #a3a3a3; */
        background-color: #005587;
        color: #ffffff;
    }

    #laporan_transaksi tbody tr:hover td:nth-child(1) a {
        text-decoration: none;
        color: #FCDA31;
    }

    #laporan_transaksi tbody tr td:last-child,
    #laporan_transaksi thead tr th:last-child {
        text-align: center;
    }

    .traStatus {
        height: 20px;
        width: 20px;
        border-radius: 999999px;
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2 d-flex">
            <h5><?= $this->language->_('Laporan Transaksi') ?></h5>
            <div class="col" style="text-align: right;">
                <span class="cursor-pointer" id="laporan_transaksi_btn"><i class="fa fa-angle-down"></i></span>
            </div>
        </div>
        <div class="mb-3 pl-3 pr-3 hidden" id="table_laporan_transaksi">
            <div class="form-group row pl-3">
                <table id="laporan_transaksi">
                    <thead>
                        <tr>
                            <th><?= $this->language->_('TraRef#'); ?></th>
                            <th><?= $this->language->_('Service'); ?></th>
                            <th><?= $this->language->_('HoldSeq'); ?></th>
                            <th><?= $this->language->_('Rekening Sumber'); ?></th>
                            <th><?= $this->language->_('Rekening Tujuan'); ?></th>
                            <th><?= $this->language->_('Jumlah'); ?></th>
                            <th><?= $this->language->_('Status'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->dataHistoryTransaction as $key => $value) :
                            $getTrxSeq = str_replace($this->getBG['CLOSE_REF_NUMBER'], '', $value['TRANSACTION_ID']);
                            switch ($value['TRA_STATUS']) {
                                case 1:
                                    $traStatus = 'bg-success';
                                    break;
                                case 2:
                                    $traStatus = 'bg-success';
                                    break;
                                case 3:
                                    $traStatus = 'bg-warning';
                                    break;
                                case 4:
                                    $traStatus = 'bg-danger';
                                    break;
                                case 5:
                                    $traStatus = 'bg-secondary';
                                    break;
                                default:
                                    $traStatus = 'bg-primary';
                                    break;
                            }
                        ?>
                            <tr>
                                <td><a href="javascript:void(0)" onclick="javascript:openTrx(this)" data-trxid="<?= urlencode($AESMYSQL->encrypt($value['TRANSACTION_ID'], uniqid())); ?>"><?= 'PREF-' . $getTrxSeq; ?></a></td>
                                <td><?= $this->arrListService[$value['SERVICE']]; ?></td>
                                <td><?= $value['HOLD_SEQUENCE'] ?: '-'; ?></td>
                                <td><?= trim(implode(' ', [$value['SOURCE_ACCT'], '(' . $value['SOURCE_ACCT_CCY'] . ')', '/', $value['SOURCE_ACCT_NAME']])); ?></td>
                                <td><?= $value['BENEF_ACCT'] ? (!in_array($value['SERVICE'], [7, 8]) ? trim(implode(' ', [$value['BENEF_ACCT'], '(' . $value['TRA_CCY'] . ')', '/', $value['BENEF_ACCT_NAME']])) : trim(implode(' ', [$value['BENEF_ACCT'], '(' . $value['TRA_CCY'] . ')', '/', $this->beneficiaryBankName, '/', $value['BENEF_ACCT_NAME']]))) : '-'; ?></td>
                                <td><?= ($value['TRA_AMOUNT'] != '0') ? implode(' ', [$value['TRA_CCY'], number_format($value['TRA_AMOUNT'], 2)]) : '-'; ?></td>
                                <td>
                                    <div class="d-inline-block <?= $traStatus; ?> traStatus" data-toggle="tooltip" data-placement="top" title="<?= in_array($value['TRA_STATUS'], [1, 2, 5, 6]) ? $this->arrStatusTransaction[$value['TRA_STATUS']] : implode(' - ', [$this->arrStatusTransaction[$value['TRA_STATUS']], $value['RESPONSE_DESC']]); ?>"></div>
                                </td>
                            </tr>
                        <?php endforeach ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function openTrx(elem) {
        const this_button = elem;
        const dataAttr = this_button.dataset;
        const trxId = dataAttr.trxid;

        const screenWidth = window.screen.width / 1.5;
        const screenHeight = window.screen.height;

        openwindow(`/bgclosingworkflow/claimobligeedetail/trxdetail/trxid/${trxId}`, screenWidth, screenHeight);
    }

    document.addEventListener('DOMContentLoaded', () => {
        $('[data-toggle="tooltip"]').tooltip();
        document.querySelector('#laporan_transaksi_btn').addEventListener('click', (event) => {
            const this_span = document.querySelector('#laporan_transaksi_btn').querySelector('i');
            const tabel_laporan_trx = document.querySelector('#table_laporan_transaksi');

            if (this_span.classList.contains('fa-angle-down')) {
                this_span.classList.remove('fa-angle-down');
                this_span.classList.add('fa-angle-up');

                tabel_laporan_trx.classList.remove('hidden');
            } else {
                this_span.classList.remove('fa-angle-up');
                this_span.classList.add('fa-angle-down');

                tabel_laporan_trx.classList.add('hidden');
            }
        });
    });
</script>