<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<style>
    .tableFile {
        width: 100%;
        font-size: 16px;
    }

    .tableFile th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
        padding: 7px 0;
    }

    .tableFile td {
        background-color: #efefef;
        font-weight: normal;
        border-bottom: 2px solid #c2c2c2;
        padding: 7px 0;
    }

    .tableFile td:first-child {
        padding-left: 10px;
    }

    .tableFile th:first-child {
        padding-left: 10px;
    }

    .tableFile tr:last-child td {
        border-bottom: 0;
    }

    .tableFile th:last-child {
        text-align: center;
    }

    #marginalDepositFCTable th:last-child {
        text-align: left;
    }

    #fcTableAdd td:last-child {
        padding-right: 7px;
    }

    #fcTableAdd td:nth-child(5),
    #fcTableAdd th:nth-child(5) {
        text-align: right;
    }

    #fcTableAdd th:nth-child(5) {
        padding-left: 7px;
    }

    .select2-container {
        padding: 0 !important;
    }

    .select2-container .select2-choice.is-invalid {
        border: 1px solid red !important;
    }

    .sixteenth_px {
        font-size: 16px;
    }
</style>

<link href="/css/select2_353.min.css" rel="stylesheet" />
<script src="/js/select2_353.min.js"></script>

<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Konfirmasi Sumber Dana Pembayaran Klaim') ?></h5>
        </div>
        <div class="pt-2 pl-3">
            <div class="existing-md mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Eksisting'); ?> <span class="font-italic font-weight-normal">(Total : <span class="text-danger">IDR <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
                    <button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
                </div>

                <div id="marginalDepositFC">
                    <table id="marginalDepositFCTable" class="tableFile">
                        <tbody>
                            <tr>
                                <td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // inquiry md fc
    async function inquiryMdFullCover() {
        document.querySelector('#inquiryMdFc').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryMdFc').querySelector('img').classList.remove('hidden');

        await $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'approvedetail', 'action' => 'mdfc'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                bgregnumber: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_REG_NUMBER'], uniqid())); ?>'
            },
            success: function(data) {
                $('#marginalDepositFC').html(data);
            },
            complete: () => {
                document.querySelector('#inquiryMdFc').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryMdFc').querySelector('img').classList.add('hidden');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });

        document.querySelector('#lbl_mdfceksis').innerText = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        }).format(document.querySelector('#mdfceksis').value);
    }

    document.addEventListener('DOMContentLoaded', () => {
        $('[data-toggle="tooltip"]').tooltip();

        // click inquiry md fullcover
        document.querySelector('#inquiryMdFc')?.addEventListener('click', inquiryMdFullCover);
        document.querySelector('#inquiryMdFc')?.click();

        // click inquiry md fullcover
        document.querySelector('#inquiry_escrow_release')?.addEventListener('click', inquiryEscrowRelease);
    });
</script>