<!-- PERBAIKAN MODAL -->
<div class="modal fade" id="permintaanPerbaikan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><?= $this->language->_('Permintaan Perbaikan Konfirmasi Penyelesaian'); ?></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-3">
                        <label><?= $this->language->_('Jenis Permintaan'); ?></label>
                    </div>
                    <div class="col-9">
                        <label class="font-weight-bold"><?= $this->language->_('Perbaikan Konfirmasi Penyelesaian'); ?></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label><?= $this->language->_('Catatan'); ?> <span class="text-danger font-weight-bold">*</span></label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <textarea class="form-control" id="perbaikanreason" rows="5" style="font-size: 16px;"></textarea>
                            <input type="text" class="form-control mt-1" id="perbaikancounter" value="100" style="width: 50px;" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                <form method="POST" id="perbaikanform">
                    <input type="hidden" name="perbaikan" value="1">
                    <button type="submit" class="btngreen hov"><?= $this->language->_('Kirim'); ?></button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function wordLimit(event) {
        const totalChar = event.target.value.length;
        const reason = event.target.value;

        document.querySelector(`#${event.target.nextElementSibling.id}`).value = (100 - totalChar) <= 0 ? 0 : 100 - totalChar;

        return event.target.value = reason.substr(0, 100);
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#perbaikanreason').onkeyup = wordLimit;

        document.querySelector('#perbaikanform').addEventListener('submit', (event) => {
            event.preventDefault();

            const getReason = document.querySelector('#perbaikanreason').value;

            if (getReason == '') {
                alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
                return false;
            }

            const reason = document.createElement("input");
            reason.setAttribute("type", "hidden");
            reason.setAttribute("name", "reason");
            reason.setAttribute("value", getReason)

            event.target.appendChild(reason);

            document.forms.perbaikanform.submit();
        });
    });
</script>