<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2">
            <h5><?= $this->language->_('Monitor Waktu Pemprosesan Klaim') ?></h5>
        </div>
        <div id="sertifikatBG" class="mb-3 pl-3">
            <div class="form-group row pt-2">
                <div class="col-md-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Tanggal Verifikasi Awal'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center" style="font-weight:bold;">
                    <label>
                        <?php
                        $historyVerif = array_filter(array_column($this->dataHistory, 'HISTORY_STATUS'), function ($item) {
                            return $item == '21';
                        });

                        $getDataVerif = $this->dataHistory[array_keys($historyVerif)[0]];
                        // $dateTimeVerif = $getDataVerif['DATE_TIME'];
                        $dateTimeVerif = $this->getBG['CLAIM_FIRST_VERIFIED'];
                        ?>
                        <?= date('d M Y @H:i:s', strtotime($dateTimeVerif)); ?>
                    </label>
                </div>
            </div>

            <?php if ($this->getBG['PS_STATUS'] == '5') :
                function compareByTimeStamp($time1, $time2)
                {
                    if (strtotime($time1) < strtotime($time2))
                        return 1;
                    else if (strtotime($time1) > strtotime($time2))
                        return -1;
                    else
                        return 0;
                }

                $lastFinish = array_column($this->dataHistoryTransaction, 'TRA_TIME');
                usort($lastFinish, 'compareByTimeStamp');
            ?>
                <div class="form-group row pt-2">
                    <div class="col-md-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label"><?= $this->language->_('Tanggal Proses Selesai'); ?></label>
                    </div>
                    <div class="col-sm-8 d-flex align-items-center" style="font-weight:bold;">
                        <label>
                            <?= date('d M Y @H:i:s', strtotime($lastFinish[0])); ?>
                        </label>
                    </div>
                </div>
            <?php endif ?>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_(($this->getBG['PS_STATUS'] != 5) ? 'Waktu Berlalu sejak Verifikasi' : 'Waktu Penyelesaian Klaim'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center text-danger" style="font-weight:bold;">
                    <label>
                        <?php

                        $historyVerif = array_filter(array_column($this->dataHistory, 'HISTORY_STATUS'), function ($item) {
                            return $item == '21';
                        });

                        $getDataVerif = $this->dataHistory[array_keys($historyVerif)[0]];
                        // $dateTimeVerif = $getDataVerif['DATE_TIME'];
                        $dateTimeVerif = $this->getBG['CLAIM_FIRST_VERIFIED'];

                        $lastVerif = new DateTime($dateTimeVerif);
                        $timeDifferenceSinceVerif = ($this->getBG['PS_STATUS'] == 5) ? $lastVerif->diff(new DateTime(date('Y-m-d H:i:s', strtotime($lastFinish[0])))) : $lastVerif->diff(new DateTime(date('Y-m-d H:i:s')));
                        ?>
                        <input type="text" class="form-control text-danger" value="<?= ($timeDifferenceSinceVerif->days == 0 && $timeDifferenceSinceVerif->h == 0 && $timeDifferenceSinceVerif->i == 0) ? '-' : (($timeDifferenceSinceVerif->days == 0) ? '' : (str_pad($timeDifferenceSinceVerif->days, 2, '0', STR_PAD_LEFT) . ' hari  ')) . (($timeDifferenceSinceVerif->h == 0) ? '' : (str_pad($timeDifferenceSinceVerif->h, 2, '0', STR_PAD_LEFT) . ' jam  ')) . (($timeDifferenceSinceVerif->i == 0) ? '' : (str_pad($timeDifferenceSinceVerif->i, 2, '0', STR_PAD_LEFT) . ' menit')); ?>" disabled style="font-size: 16px;background-color: #FFE6EB;">
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>