<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<style>
    .tableFile {
        width: 100%;
        font-size: 16px;
    }

    .tableFile th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
        padding: 7px 0;
    }

    .tableFile td {
        background-color: #efefef;
        font-weight: normal;
        border-bottom: 2px solid #c2c2c2;
        padding: 7px 0;
    }

    .tableFile td:first-child {
        padding-left: 10px;
    }

    .tableFile th:first-child {
        padding-left: 10px;
    }

    .tableFile tr:last-child td {
        border-bottom: 0;
    }

    .tableFile th:last-child {
        text-align: center;
    }

    #marginalDepositFCTable th:last-child {
        text-align: left;
    }

    #fcTableAdd td:last-child {
        padding-right: 7px;
    }

    #fcTableAdd td:nth-child(5),
    #fcTableAdd th:nth-child(5) {
        text-align: right;
    }

    #fcTableAdd th:nth-child(5) {
        padding-left: 7px;
    }

    .select2-container {
        padding: 0 !important;
    }

    .select2-container .select2-choice.is-invalid {
        border: 1px solid red !important;
    }

    .sixteenth_px {
        font-size: 16px;
    }

    .existing-md {
        padding-bottom: 20px;
        border-bottom: 2px dashed #CCCCCC;
    }

    #marginalDepositInsTable thead th,
    #marginalDepositInsTable tbody tr td {
        width: 1%;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px;
    }

    /* #marginalDepositInsTable tbody tr {
        animation: move 1s ease-in-out;
    } */

    @keyframes move {
        from {
            transform: translateY(-100%);
        }
    }

    .input-amount-use {
        font-size: 16px;
    }
</style>

<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2">
            <h5><?= $this->language->_('Konfirmasi Sumber Dana Pembayaran Klaim') ?> (<span class="font-italic">total : <?= implode(' ', [$this->bgdetaildata['currency'], number_format($this->dataListAccount['Transaction Amount'], 2)]); ?></span>)</h5>
        </div>
        <div id="sertifikatBG" class="mb-3 pl-3">

            <!-- PERMINTAAN TAMBAHAN MD -->
            <div class="form-group row mt-2">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Permintaan Tambahan MD'); ?>
                    </label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <div class="w-100">
                        <input type="text" class="form-control" style="font-size: 16px;" value="<?= ($this->bgdetaildata['marginal deposit percentage']) ? implode(' ', [$this->bgdetaildata['marginal deposit percentage'], '%', 'dari Nominal BG', '(' . $this->bgdetaildata['currency'] . ' ' . number_format(($this->getBG['BG_AMOUNT'] * $this->bgdetaildata['marginal deposit percentage']) / 100, 2) . ')']) : '-'; ?>" disabled>
                    </div>
                </div>
            </div>

            <div class="pt-2">
                <div class="existing-md mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Principal'); ?> <span class="font-italic font-weight-normal">(Total : <span class="text-danger">IDR <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
                        <button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
                    </div>

                    <div id="marginalDepositFC">
                        <table id="marginalDepositFCTable" class="tableFile">
                            <tbody>
                                <tr>
                                    <td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- SUMBER DANA PEMBAYARAN -->
            <div class="form-group row mt-2">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Sumber Dana Pembayaran'); ?>
                        <span class="text-danger font-weight-bold">*</span>
                    </label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <div class="w-100">
                        <select name="sumber_dana_type" id="sumber_dana_type" class="form-control" style="font-size: 16px;<?= $this->getBG['PS_STATUS'] == '3' ? 'appearance: none;' : ''; ?>" disabled>
                            <option value="1"><?= $this->language->_('Rekening Asuransi'); ?></option>
                            <option value="2"><?= $this->language->_('Marginal Deposit Asuransi'); ?></option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- MARGINAL DEPOSIT ASURANSI -->
            <div id="md_asuransi" class="hidden">
                <div class="pt-2">
                    <div class="existing-md mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <label for="" class="text-body font-weight-bold">
                                <?= $this->language->_('Marginal Deposit Asuransi'); ?> <span class="font-italic font-weight-normal">(Total : <span class="text-danger">IDR <span id='lbl_mdins'>N/A</span></span>)</span>
                                <span id="minus_amount_for_md" class="hidden ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;" class="text-danger" data-toggle="tooltip" data-placement="right" title="<?= $this->language->_('nominal masih kurang'); ?>">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>
                                </span></label>
                            <button type="button" class="btn btn-link" id="inquiryMdIns"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
                        </div>

                        <div id="marginalDepositIns">
                            <table class="tableFile">
                                <tbody>
                                    <tr>
                                        <td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-3 hidden" id="label_minus_amount">
                            <label class="font-italic">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;" class="text-danger">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>
                                </span>
                                <?= $this->language->_('Marginal Deposit Asuransi tidak mencukupi, kekurangan akan dipenuhi melalui KMK Asuransi'); ?>
                            </label>
                        </div>
                    </div>

                    <!-- KMK ASURANSI -->
                    <div class="hidden" id="need_kmk_div">
                        <div>
                            <label for="" class="text-body font-weight-bold">
                                <?= $this->language->_('KMK Asuransi'); ?> <span class="font-italic font-weight-normal">(Total : <span class="text-danger">IDR <span id='lbl_kmk_need'>N/A</span></span>)</span>
                                <input type="hidden" id="send_kmk_amount" value="">
                                <span id="minus_amount_for_md" class="hidden ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;" class="text-danger" data-toggle="tooltip" data-placement="right" title="<?= $this->language->_('nominal masih kurang'); ?>">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>
                                </span>
                            </label>
                        </div>
                        <div class="form-group row mt-2">
                            <div class="col-sm-4 d-flex align-items-center">
                                <label for="" class="text-gray col-form-label">
                                    <?= $this->language->_('Rekening Sumber Dana'); ?>
                                    <span class="text-danger font-weight-bold"> *</span>
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center" style="font-weight:bold;gap: 10px;">
                                    <div class="w-75">
                                        <input type="text" class="form-control" style="font-size: 16px;" id="disabledrekkmkasuransi" value="<?= $acctFee; ?>" disabled>
                                    </div>

                                    <!-- INPUT REKENING BEBAN BIAYA -->
                                    <input type="hidden" name="kmkasuransi_acct_name">
                                    <input type="hidden" name="kmkasuransi_acct_number">
                                    <input type="hidden" name="kmkasuransi_acct_currency">
                                    <input type="hidden" name="kmkasuransi_acct_produk">
                                    <input type="hidden" name="kmkasuransi_acct_tipe">

                                    <div>
                                        <span style="cursor: pointer;" onclick="javascript:showdetailrekkmkasuransi()">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div>
                                        <button class="btngreen hov <?= ($this->getBG['PS_STATUS'] == '3') ? 'hidden' : '' ?>" type="button" id="btnkmkasuransi"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SELAIN MD ASURANSI -->
            <!-- REKENING ASURANSI -->
            <div id="rekening_asuransi">
                <div class="form-group row mt-2">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label">
                            <?= $this->language->_('Rekening Sumber Dana'); ?>
                            <span class="text-danger font-weight-bold"> *</span>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="d-flex align-items-center" style="font-weight:bold;gap: 10px;">
                            <div class="w-75">
                                <input type="text" class="form-control" style="font-size: 16px;" id="disabledreksumberlf" value="<?= $acctFee; ?>" disabled>
                            </div>

                            <!-- INPUT REKENING BEBAN BIAYA -->
                            <input type="hidden" name="lfsumber_acct_name">
                            <input type="hidden" name="lfsumber_acct_number">
                            <input type="hidden" name="lfsumber_acct_currency">
                            <input type="hidden" name="lfsumber_acct_produk">
                            <input type="hidden" name="lfsumber_acct_tipe">

                            <div>
                                <span style="cursor: pointer;" onclick="javascript:showdetailreklf()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                    </svg>
                                </span>
                            </div>
                            <div>
                                <button class="btngreen hov disabled <?= $this->getBG['PS_STATUS'] == '3' ? 'hidden' : ''; ?>" type="button" id="btnreksumberlf" disabled><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NOMINAL PEMBAYARAN -->
            <div class="form-group row mt-2">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Nominal Pembayaran'); ?>
                    </label>
                </div>
                <div class="col-sm-8">
                    <div class="d-flex align-items-center" style="font-weight:bold;gap: 10px;">
                        <div class="w-75">
                            <input type="text" id="nominal_bayar" class="form-control" style="font-size: 16px;" value="<?= implode(' ', [$this->bgdetaildata['currency'], number_format($this->dataListAccount['Transaction Amount'], 2)]); ?>" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="reksumberlf" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Rekening Sumber Dana'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8">
                            <div id="acctnumberreksumberlfdiv" class="d-flex align-items-center" style="gap: 10px">
                                <input type="text" class="form-control" onkeydown="return forceNumberOwn(event)" style="font-size: 16px;" id="acctnumberreksumberlf" maxlength="16" autocomplete="off">
                                <button class="btngreen hov" type="button" id="inquiryreksumberlf"><span id="btnlabelrekbeban"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></span> <img src="/images/logo/35.gif" id="loadinginqrekbeban" style="width: 13px" class="hidden"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctrekpembebanan">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label>
                                <span id="valutaacctrekpembebanan">-</span>
                                <span id="error_valuta_ins" class="hidden">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px; height: 20px;" class="text-danger" data-toggle='tooltip' data-placement="right" title="<?= $this->language->_('Bukan IDR'); ?>">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>

                                </span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctrekpembebanan">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctrekpembebanan">-</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Batal'); ?></button>
                    <button type="button" class="btngreen hov" id="btn_pilih_sumber_lf"><?= $this->language->_('Pilih'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailreksumberlf" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Detail Rekening Sumber Dana'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nomoracctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account Number'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account Name'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="valutaacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account CCY'] : '-'; ?></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- KMK ASURANSI -->
<div class="modal fade" id="kmkasuransi" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Rekening KMK Asuransi'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8">
                            <div id="acctnumberrekkmkasuransidiv" class="d-flex align-items-center" style="gap: 10px">
                                <input type="text" class="form-control" onkeydown="return forceNumberOwn(event)" style="font-size: 16px;" id="acctnumberrekkmkasuransi" maxlength="16" autocomplete="off">
                                <button class="btngreen hov" type="button" id="inquiryrekkmkasuransi"><span id="btnlabelrekbeban"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></span> <img src="/images/logo/35.gif" id="loadinginqrekbeban" style="width: 13px" class="hidden"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctrekkmkasuransi">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label>
                                <span id="valutaacctrekkmkasuransi">-</span>
                                <span id="error_valuta_kmk_asuransi" class="hidden">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px; height: 20px;" class="text-danger" data-toggle='tooltip' data-placement="right" title="<?= $this->language->_('Bukan IDR'); ?>">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>

                                </span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctrekkmkasuransi">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctrekkmkasuransi">-</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Batal'); ?></button>
                    <button type="button" class="btngreen hov" id="btn_pilih_kmk_asuransi"><?= $this->language->_('Pilih'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailrekkmkasuransi" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Detail Rekening KMK Asuransi'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nomoracctrekkmkasuransi_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account Number'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctrekkmkasuransi_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account Name'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="valutaacctrekkmkasuransi_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account CCY'] : '-'; ?></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctrekkmkasuransi_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctrekkmkasuransi_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    async function inquiryMdFullCover() {
        document.querySelector('#inquiryMdFc').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryMdFc').querySelector('img').classList.remove('hidden');

        await $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'approvedetail', 'action' => 'mdfc'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                bgregnumber: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_REG_NUMBER'], uniqid())); ?>'
            },
            success: function(data) {
                $('#marginalDepositFC').html(data);
            },
            complete: () => {
                document.querySelector('#inquiryMdFc').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryMdFc').querySelector('img').classList.add('hidden');

                document.querySelector('#btnreksumberlf').removeAttribute('disabled');
                document.querySelector('#btnreksumberlf').classList.remove('disabled');

                <?php if ($this->getBG['PS_STATUS'] != '3') : ?>
                    document.querySelector('#sumber_dana_type').removeAttribute('disabled');
                <?php endif ?>

                <?php if ($this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3') : ?>
                    document.querySelector('#sumber_dana_type').value = '<?= $this->dataListAccount_ins['Sumber Dana Pembayaran']; ?>';
                    document.querySelector('#sumber_dana_type').dispatchEvent(new Event('change'));
                <?php endif ?>

                // PERBAIKAN
                <?php if (($this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3' || $this->getBG['PS_STATUS'] == '4')) : ?>
                    <?php if ($this->dataListAccount_ins['Sumber Dana Pembayaran'] == '1') { ?>
                        document.querySelector('#acctnumberreksumberlf').value = '<?= $this->dataListAccount['Charge Account Number']; ?>';
                        inquiryreksumberlf('', true, '<?= $this->dataListAccount_ins['Source Account Number'] ?>');
                        <?php } else {
                        if ($this->kmkAcctNumber['PS_FIELDVALUE']) {
                        ?>
                            kmkasuransi('', true, '<?= $this->kmkAcctNumber['PS_FIELDVALUE'] ?>');
                    <?php }
                    } ?>
                <?php endif ?>
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });

        document.querySelector('#lbl_mdfceksis').innerText = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        }).format(document.querySelector('#mdfceksis').value);
    }

    async function inquiryMdAsuransi() {
        document.querySelector('#inquiryMdIns').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryMdIns').querySelector('img').classList.remove('hidden');

        const bg_amount = parseFloat('<?= $this->dataListAccount['Transaction Amount']; ?>');
        const top_up_md_percentage = parseInt('<?= $this->bgdetaildata['marginal deposit pecentage'] ?: 0; ?>');
        const top_up_md_amount = parseFloat(document.querySelector('#mdfceksis').value);

        await $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => ($this->getBG['PS_STATUS'] != '2') ? (($this->getBG['PS_STATUS'] == '3') ? 'mdinsapprove' : 'mdins') : 'mdinsrepair'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                bgregnumber: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_REG_NUMBER'], uniqid())); ?>'
            },
            success: function(data) {
                $('#marginalDepositIns').html(data);
            },
            complete: () => {
                document.querySelector('#inquiryMdIns').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryMdIns').querySelector('img').classList.add('hidden');

                document.querySelector('#checkmdinsall')?.removeEventListener('change', checkAllMdIns);
                document.querySelector('#checkmdinsall')?.addEventListener('change', checkAllMdIns);

                document.querySelectorAll('.md-ins-check').forEach(item => {
                    item?.removeEventListener('change', checkAllChecked);
                    item?.addEventListener('change', checkAllChecked);

                    item?.removeEventListener('change', fillAmountMd);
                    item?.addEventListener('change', fillAmountMd);
                });

                document.querySelectorAll('.input-amount-use').forEach(item => {
                    // item?.removeEventListener('blur', currencyFormat);
                    // item?.addEventListener('blur', currencyFormat);

                    // item?.removeEventListener('focus', focusCurrency);
                    // item?.addEventListener('focus', focusCurrency);

                    item?.removeEventListener('keyup', checkAmountSelf);
                    item?.addEventListener('keyup', checkAmountSelf);
                });
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });

        // const total_eksis = Math.round((top_up_md_amount * parseFloat(top_up_md_percentage) / 100) + parseFloat(Math.round(document.querySelector('#amountmdinsurance').value * 100) / 100));
        const total_eksis = Math.round(parseFloat(Math.round(document.querySelector('#amountmdinsurance').value * 100) / 100));

        // const sisa_yang_dibutuhkan = bg_amount - top_up_md_amount;
        const sisa_yang_dibutuhkan = bg_amount;

        // console.log(bg_amount);
        // console.log(top_up_md_amount);

        localStorage.setItem('sisa_yang_dibutuhkan', sisa_yang_dibutuhkan);

        let needKmk = false;

        if (total_eksis > bg_amount) {
            // TIDAK MEMBUTUHKAN KMK
            document.querySelector('#label_minus_amount').classList.add('hidden');
            document.querySelectorAll('.md-ins-check').forEach(item => {
                <?php if ($this->getBG['PS_STATUS'] != 2 && $this->dataListAccount_ins['Sumber Dana Pembyaran'] != 2) { ?>
                    item?.removeAttribute('disabled');
                    item?.dispatchEvent(new Event('change'));
                    <?php } else {
                    if ($this->getBG['PS_STATUS'] == 2 && $this->dataListAccount_ins['Sumber Dana Pembyaran'] != 2) { ?>
                        item?.removeAttribute('disabled');
                        item?.dispatchEvent(new Event('change'));
                    <?php } ?>
                <?php } ?>
            });

            document.querySelectorAll('.input-amount-use').forEach(item => {
                item?.dispatchEvent(new Event('keyup'));
            });

            document.querySelector('#need_kmk_div').classList.add('hidden');

            const nominal_bayar = '<?= implode(' ', [$this->bgdetaildata['currency'], number_format($this->dataListAccount['Transaction Amount'], 2)]); ?>';

            document.querySelector('#nominal_bayar').value = nominal_bayar;

            // const createerror = document.createElement('')
        } else {
            // BUTUH KMK
            document.querySelector('#label_minus_amount').classList.remove('hidden');

            document.querySelector('#need_kmk_div').classList.remove('hidden');

            const nominal_bayar = '<?= implode(' ', [$this->bgdetaildata['currency'], number_format($this->dataListAccount['Transaction Amount'] - $this->tambahan, 2)]); ?>';

            document.querySelector('#nominal_bayar').value = nominal_bayar;

            document.querySelectorAll('.md-ins-check').forEach(item => {
                item?.setAttribute('disabled', 'disabled');
                item.checked = true;
                item.dispatchEvent(new Event('change'));
            });

            <?php if ($this->getBG['PS_STATUS'] != 3) : ?>
                document.querySelector('#checkmdinsall').checked = true;
                document.querySelector('#checkmdinsall')?.setAttribute('disabled', 'disabled');
            <?php endif ?>
            // document.querySelector('#checkmdinsall').dispatchEvent(new Event('change'));

            document.querySelectorAll('.input-amount-use').forEach(item => {
                item?.removeEventListener('focus', focusCurrency);
                item?.setAttribute('readonly', 'readonly');
            });

            document.querySelector('#lbl_kmk_need').innerText = new Intl.NumberFormat("en-EN", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            }).format(Math.round((bg_amount - total_eksis) * 100) / 100);

            document.querySelector('#send_kmk_amount').value = Math.round((bg_amount - total_eksis) * 100) / 100;

            needKmk = true;
        }

        const createNeedKmk = document.createElement('input');
        createNeedKmk.setAttribute('name', 'need_kmk');
        createNeedKmk.setAttribute('type', 'hidden');
        createNeedKmk.setAttribute('value', (needKmk ? 1 : 0));
        document.querySelector('#need_kmk_div').appendChild(createNeedKmk);

        document.querySelector('#lbl_mdins').innerText = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        }).format(document.querySelector('#amountexist') ? document.querySelector('#amountexist').value : document.querySelector('#amountmdinsurance').value);

        checkAmountMdIns(needKmk);
    }

    function checkAllMdIns(event) {
        const target = event.target;

        document.querySelectorAll('.md-ins-check').forEach(item => {
            item.checked = target.checked;
            item.dispatchEvent(new Event('change'));
        });

        // document.querySelectorAll('.md-ins-check').forEach(item => {
        //     item.dispatchEvent(new Event('change'));
        // });
    }

    function checkAllChecked() {
        let allChecked = true;

        document.querySelectorAll('.md-ins-check').forEach(item => {
            allChecked &&= item.checked;
        });

        document.querySelector('#checkmdinsall').checked = allChecked;
    }

    function showdetailreklf() {
        $('#detailreksumberlf').modal({
            backdrop: 'static',
            keyboard: false,
        });
    }

    function showdetailrekkmkasuransi() {
        $('#detailrekkmkasuransi').modal({
            backdrop: 'static',
            keyboard: false,
        });
    }

    <?php if ($this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5) : ?>

        function downloadmemo() {
            window.open(`/bgclosingworkflow/claimobligeedetail/downloadmemo/closerefnumber/<?= urlencode($AESMYSQL->encrypt($this->getBG['CLOSE_REF_NUMBER'], uniqid())); ?>`);
        }
    <?php endif ?>

    async function inquiryreksumberlf(event, beban = false, acctnumber = false) {

        document.querySelector('#inquiryreksumberlf').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryreksumberlf').querySelector('img').classList.remove('hidden');

        document.querySelector('#inquiryreksumberlf').classList.add('disabled');
        document.querySelector('#inquiryreksumberlf').setAttribute('disabled', 'disabled');

        const acctNumber = acctnumber ? acctnumber : document.querySelector('#acctnumberreksumberlf').value;
        const typeSourceAcct = document.querySelector('#sumber_dana_type').value;

        if (!acctNumber) {
            alert('<?= $this->language->_('Nomor Rekening Tidak Boleh Kosong'); ?>');
            document.querySelector('#inquiryreksumberlf').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryreksumberlf').querySelector('img').classList.add('hidden');

            document.querySelector('#inquiryreksumberlf').classList.remove('disabled');
            document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
            return;
        }

        if (acctNumber.length != 16) {
            alert('<?= $this->language->_('Nomor Rekening Harus 16 Digit'); ?>');
            document.querySelector('#inquiryreksumberlf').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryreksumberlf').querySelector('img').classList.add('hidden');

            document.querySelector('#inquiryreksumberlf').classList.remove('disabled');
            document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
            return;
        }

        document.querySelector('#acctnumberreksumberlf').setAttribute('disabled', 'disabled');

        await $.ajax({
            url: `<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirypembebananbiayains'), null, true) ?>`,
            type: 'GET',
            dataType: "JSON",
            data: {
                bgnumber: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_NUMBER'], uniqid())); ?>',
                acctnumber: acctNumber,
                owneracct: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_INSURANCE_CODE'], uniqid())); ?>',
                amount: parseFloat('<?= $this->dataListAccount['Transaction Amount']; ?>') - parseFloat(document.querySelector('#mdfceksis').value)
            },
            success: function(data) {
                if (data.error) {
                    document.querySelector('#acctnumberreksumberlf').removeAttribute('disabled');
                    document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
                    document.querySelector('#inquiryreksumberlf').classList.remove('disabled');

                    if (document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();
                    }

                    const error_rekening = document.createElement('small');
                    error_rekening.classList.add('text-danger', 'font-weight-bold', 'error-validasi');
                    error_rekening.innerText = data.result;

                    document.querySelector('#acctnumberreksumberlfdiv').after(error_rekening);

                } else {

                    document.querySelector('#nameacctrekpembebanan').innerText = data.result.account_name;
                    document.querySelector('#valutaacctrekpembebanan').innerText = data.result.currency;
                    document.querySelector('#tipeacctrekpembebanan').innerText = data.result.type_desc;
                    document.querySelector('#produkacctrekpembebanan').innerText = `${data.result.product_type} - ${data.result.produc_desc}`;

                    if (document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();
                    }

                    if (data.result.currency.toLowerCase() !== 'idr') {
                        document.querySelector('#acctnumberreksumberlf').removeAttribute('disabled');
                        document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
                        document.querySelector('#inquiryreksumberlf').classList.remove('disabled');

                        document.querySelector('#inquiryreksumberlf').classList.remove('disabled');
                        document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');

                        document.querySelector('#btn_pilih_sumber_lf').classList.add('disabled');
                        document.querySelector('#btn_pilih_sumber_lf').setAttribute('disabled', 'disabled');

                        $('[data-toggle="tooltip"]').tooltip();

                        document.querySelector('#error_valuta_ins').classList.remove('hidden');
                    } else {
                        document.querySelector('#inquiryreksumberlf').setAttribute('disabled', 'disabled');
                        document.querySelector('#inquiryreksumberlf').classList.add('disabled');

                        document.querySelector('#btn_pilih_sumber_lf').classList.remove('disabled');
                        document.querySelector('#btn_pilih_sumber_lf').removeAttribute('disabled');

                        document.querySelector('#error_valuta_ins').classList.add('hidden');

                        localStorage.setItem('number_sourcelf', acctNumber);
                        localStorage.setItem('name_sourcelf', data.result.account_name);
                        localStorage.setItem('currency_sourcelf', data.result.currency);
                        localStorage.setItem('type_sourcelf', data.result.type);
                        localStorage.setItem('type_desc_sourcelf', data.result.type_desc);
                        localStorage.setItem('product_sourcelf', data.result.product_type);
                        localStorage.setItem('product_desc_sourcelf', data.result.produc_desc);

                        // JIKA PERBAIKAN
                        if (beban) pilihreksourcelf();
                    }


                }
            },
            complete: () => {
                document.querySelector('#inquiryreksumberlf').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryreksumberlf').querySelector('img').classList.add('hidden');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });
    }

    async function kmkasuransi(event, beban = false, acctnumber = false) {

        document.querySelector('#inquiryrekkmkasuransi').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryrekkmkasuransi').querySelector('img').classList.remove('hidden');

        document.querySelector('#inquiryrekkmkasuransi').classList.add('disabled');
        document.querySelector('#inquiryrekkmkasuransi').setAttribute('disabled', 'disabled');

        const acctNumber = acctnumber ? acctnumber : document.querySelector('#acctnumberrekkmkasuransi').value;

        if (!acctNumber) {
            alert('<?= $this->language->_('Nomor Rekening Tidak Boleh Kosong'); ?>');
            document.querySelector('#inquiryrekkmkasuransi').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryrekkmkasuransi').querySelector('img').classList.add('hidden');

            document.querySelector('#inquiryrekkmkasuransi').classList.remove('disabled');
            document.querySelector('#inquiryrekkmkasuransi').removeAttribute('disabled');
            return;
        }

        if (acctNumber.length != 16) {
            alert('<?= $this->language->_('Nomor Rekening Harus 16 Digit'); ?>');
            document.querySelector('#inquiryrekkmkasuransi').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryrekkmkasuransi').querySelector('img').classList.add('hidden');

            document.querySelector('#inquiryrekkmkasuransi').classList.remove('disabled');
            document.querySelector('#inquiryrekkmkasuransi').removeAttribute('disabled');
            return;
        }

        const endpoint = 'inquiryloan';

        await $.ajax({
            url: `<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername), null, true) ?>/${endpoint}`,
            type: 'GET',
            dataType: "JSON",
            data: {
                bgnumber: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_NUMBER'], uniqid())); ?>',
                acctnumber: acctNumber,
                owneracct: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_INSURANCE_CODE'], uniqid())); ?>',
                amount: '<?= urlencode($AESMYSQL->encrypt($this->dataListAccount['Transaction Amount'], uniqid())); ?>',
                kmk_amount: document.querySelector('#send_kmk_amount').value
            },
            success: function(data) {
                if (data.error) {
                    document.querySelector('#acctnumberrekkmkasuransi').removeAttribute('disabled');
                    document.querySelector('#inquiryrekkmkasuransi').removeAttribute('disabled');
                    document.querySelector('#inquiryrekkmkasuransi').classList.remove('disabled');

                    if (document.querySelector('#acctnumberrekkmkasuransidiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberrekkmkasuransidiv').nextElementSibling?.remove();
                    }

                    const error_rekening = document.createElement('small');
                    error_rekening.classList.add('text-danger', 'font-weight-bold', 'error-validasi');
                    error_rekening.innerText = data.result;

                    document.querySelector('#acctnumberrekkmkasuransidiv').after(error_rekening);

                } else {

                    document.querySelector('#nameacctrekkmkasuransi').innerText = data.result.account_name;
                    document.querySelector('#valutaacctrekkmkasuransi').innerText = data.result.currency;
                    document.querySelector('#tipeacctrekkmkasuransi').innerText = data.result.type_desc;
                    document.querySelector('#produkacctrekkmkasuransi').innerText = `${data.result.product_type} - ${data.result.produc_desc}`;

                    if (document.querySelector('#acctnumberrekkmkasuransidiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberrekkmkasuransidiv').nextElementSibling?.remove();
                    }

                    if (data.result.currency.toLowerCase() !== 'idr') {
                        document.querySelector('#acctnumberrekkmkasuransi').removeAttribute('disabled');
                        document.querySelector('#inquiryrekkmkasuransi').removeAttribute('disabled');
                        document.querySelector('#inquiryrekkmkasuransi').classList.remove('disabled');

                        document.querySelector('#inquiryrekkmkasuransi').classList.remove('disabled');
                        document.querySelector('#inquiryrekkmkasuransi').removeAttribute('disabled');

                        document.querySelector('#btn_pilih_kmk_asuransi').classList.add('disabled');
                        document.querySelector('#btn_pilih_kmk_asuransi').setAttribute('disabled', 'disabled');

                        $('[data-toggle="tooltip"]').tooltip();

                        document.querySelector('#error_valuta_kmk_asuransi').classList.remove('hidden');
                    } else {
                        document.querySelector('#inquiryrekkmkasuransi').setAttribute('disabled', 'disabled');
                        document.querySelector('#inquiryrekkmkasuransi').classList.add('disabled');

                        document.querySelector('#btn_pilih_kmk_asuransi').classList.remove('disabled');
                        document.querySelector('#btn_pilih_kmk_asuransi').removeAttribute('disabled');

                        document.querySelector('#error_valuta_kmk_asuransi').classList.add('hidden');

                        localStorage.setItem('number_kmkasuransi', acctNumber);
                        localStorage.setItem('name_kmkasuransi', data.result.account_name);
                        localStorage.setItem('currency_kmkasuransi', data.result.currency);
                        localStorage.setItem('type_kmkasuransi', data.result.type);
                        localStorage.setItem('type_desc_kmkasuransi', data.result.type_desc);
                        localStorage.setItem('product_kmkasuransi', data.result.product_type);
                        localStorage.setItem('product_desc_kmkasuransi', data.result.produc_desc);

                        // JIKA PERBAIKAN
                        if (beban) pilihrekkmkasuransi();
                    }


                }
            },
            complete: () => {
                document.querySelector('#inquiryrekkmkasuransi').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryrekkmkasuransi').querySelector('img').classList.add('hidden');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });
    }

    function pilihreksourcelf() {
        if (document.querySelector('#nameacctrekpembebanan').innerText.toLowerCase() == '-') {
            alert('<?= $this->language->_('Silahkan Inquiry Rekening Terlebih Dahulu'); ?>');
            return;
        }

        document.querySelector('[name="lfsumber_acct_number"]').value = localStorage.getItem('number_sourcelf');
        document.querySelector('[name="lfsumber_acct_name"]').value = localStorage.getItem('name_sourcelf');
        document.querySelector('[name="lfsumber_acct_currency"]').value = localStorage.getItem('currency_sourcelf');
        document.querySelector('[name="lfsumber_acct_produk"]').value = localStorage.getItem('product_sourcelf');
        document.querySelector('[name="lfsumber_acct_tipe"]').value = localStorage.getItem('type_sourcelf');

        document.querySelector('#nomoracctreksumberlf_detail').innerText = localStorage.getItem('number_sourcelf');
        document.querySelector('#nameacctreksumberlf_detail').innerText = localStorage.getItem('name_sourcelf');
        document.querySelector('#valutaacctreksumberlf_detail').innerText = localStorage.getItem('currency_sourcelf');
        document.querySelector('#tipeacctreksumberlf_detail').innerText = localStorage.getItem('type_desc_sourcelf');
        document.querySelector('#produkacctreksumberlf_detail').innerText = `${localStorage.getItem('product_sourcelf')} - ${localStorage.getItem('product_desc_sourcelf')}`;


        document.querySelector('#disabledreksumberlf').value = `${localStorage.getItem('number_sourcelf')} (${localStorage.getItem('currency_sourcelf')}) / ${localStorage.getItem('name_sourcelf')}`;
        $('#reksumberlf').modal('hide');

        document.querySelector('#disabledreksumberlf').nextElementSibling?.remove();
    }

    function pilihrekkmkasuransi() {
        if (document.querySelector('#nameacctrekkmkasuransi').innerText.toLowerCase() == '-') {
            alert('<?= $this->language->_('Silahkan Inquiry Rekening Terlebih Dahulu'); ?>');
            return;
        }

        document.querySelector('[name="kmkasuransi_acct_number"]').value = localStorage.getItem('number_kmkasuransi');
        document.querySelector('[name="kmkasuransi_acct_name"]').value = localStorage.getItem('name_kmkasuransi');
        document.querySelector('[name="kmkasuransi_acct_currency"]').value = localStorage.getItem('currency_kmkasuransi');
        document.querySelector('[name="kmkasuransi_acct_produk"]').value = localStorage.getItem('product_kmkasuransi');
        document.querySelector('[name="kmkasuransi_acct_tipe"]').value = localStorage.getItem('type_kmkasuransi');

        document.querySelector('#nomoracctrekkmkasuransi_detail').innerText = localStorage.getItem('number_kmkasuransi');
        document.querySelector('#nameacctrekkmkasuransi_detail').innerText = localStorage.getItem('name_kmkasuransi');
        document.querySelector('#valutaacctrekkmkasuransi_detail').innerText = localStorage.getItem('currency_kmkasuransi');
        document.querySelector('#tipeacctrekkmkasuransi_detail').innerText = localStorage.getItem('type_desc_kmkasuransi');
        document.querySelector('#produkacctrekkmkasuransi_detail').innerText = `${localStorage.getItem('product_kmkasuransi')} - ${localStorage.getItem('product_desc_kmkasuransi')}`;


        document.querySelector('#disabledrekkmkasuransi').value = `${localStorage.getItem('number_kmkasuransi')} (${localStorage.getItem('currency_kmkasuransi')}) / ${localStorage.getItem('name_kmkasuransi')}`;
        $('#kmkasuransi').modal('hide');

        document.querySelector('#disabledrekkmkasuransi').nextElementSibling?.remove();
    }

    function lfsumbertype(event) {

        const type = event.target.value;

        document.querySelector('#disabledreksumberlf').value = '';
        document.querySelector('#disabledrekkmkasuransi').value = '';

        document.querySelector('#disabledreksumberlf').nextElementSibling?.remove();
        document.querySelector('#disabledrekkmkasuransi').nextElementSibling?.remove();

        localStorage.setItem('number_sourcelf', '');
        localStorage.setItem('name_sourcelf', '');
        localStorage.setItem('currency_sourcelf', '');
        localStorage.setItem('type_sourcelf', '');
        localStorage.setItem('type_desc_sourcelf', '');
        localStorage.setItem('product_sourcelf', '');
        localStorage.setItem('product_desc_sourcelf', '');

        document.querySelector('[name="lfsumber_acct_number"]').value = localStorage.getItem('number_sourcelf');
        document.querySelector('[name="lfsumber_acct_name"]').value = localStorage.getItem('name_sourcelf');
        document.querySelector('[name="lfsumber_acct_currency"]').value = localStorage.getItem('currency_sourcelf');
        document.querySelector('[name="lfsumber_acct_produk"]').value = localStorage.getItem('product_sourcelf');
        document.querySelector('[name="lfsumber_acct_tipe"]').value = localStorage.getItem('type_sourcelf');

        document.querySelector('#nomoracctreksumberlf_detail').innerText = '-';
        document.querySelector('#nameacctreksumberlf_detail').innerText = '-';
        document.querySelector('#valutaacctreksumberlf_detail').innerText = '-';
        document.querySelector('#tipeacctreksumberlf_detail').innerText = '-';
        document.querySelector('#produkacctreksumberlf_detail').innerText = '-';

        if (type == 1) {
            document.querySelector('#rekening_asuransi').classList.remove('hidden');
            document.querySelector('#md_asuransi').classList.add('hidden');
        } else {
            document.querySelector('#rekening_asuransi').classList.add('hidden');
            document.querySelector('#md_asuransi').classList.remove('hidden');

            document.querySelector('#inquiryMdIns')?.click();
        }
    }

    function forceNumberOwn(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode >= 48 && charCode <= 57) || charCode == 8 || charCode == 13 || charCode == 39 || charCode == 37 || charCode == 190)
            return true;
        return false;
    }

    function fillAmountMd(event) {
        let parentTr = event.target;
        const target = event.target;

        while (true) {
            parentTr = parentTr.parentElement;
            //
            if (parentTr.tagName.toLowerCase() == 'tr') break;
        }

        parentTr.querySelector('.input-amount-use').value = '';

        const sisa_yang_dibutuhkan = parseFloat(localStorage.getItem('sisa_yang_dibutuhkan'));
        const amount = isNaN(Math.round(parentTr.querySelector('.input-amount-use').dataset.amount.replace(/,/g, '') * 100) / 100) ? 0 : (Math.round(parentTr.querySelector('.input-amount-use').dataset.amount.replace(/,/g, '') * 100) / 100);

        let getAllAmountMd = 0;

        document.querySelectorAll('.input-amount-use').forEach(item => {
            getAllAmountMd += isNaN(parseFloat(item.value.replace(/,/g, ''))) ? 0 : parseFloat(item.value.replace(/,/g, ''));
        });

        document.querySelectorAll('.md-ins-check').forEach(item => {
            if (item.checked) {
                let parentTemp = item.parentElement;
                while (true) {
                    parentTemp = parentTemp.parentElement;
                    //
                    if (parentTemp.tagName.toLowerCase() == 'tr') break;
                }

                document.querySelectorAll('#marginalDepositInsTable tbody tr')[0].insertAdjacentElement('beforebegin', parentTemp);
            }
        });

        if (target.checked) {

            parentTr.style.animation = 'move 1s ease-in-out';
            document.querySelectorAll('#marginalDepositInsTable tbody tr')[0].insertAdjacentElement('beforebegin', parentTr);
            parentTr.addEventListener('animationend', removeAnimation);

            const formatter = new Intl.NumberFormat("en-EN", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            });

            if (amount > sisa_yang_dibutuhkan) {

                disabledIfEnough(target);

                parentTr.querySelector('.input-amount-use').value = formatter.format(sisa_yang_dibutuhkan - getAllAmountMd);

                getAllAmountMd += (sisa_yang_dibutuhkan - getAllAmountMd);
            } else {

                parentTr.querySelector('.input-amount-use').value = formatter.format(amount);

                getAllAmountMd += (amount);
            }

            parentTr.querySelector('.input-amount-use').dispatchEvent(new Event('blur'));
            parentTr.querySelector('.input-amount-use').dispatchEvent(new Event('keyup'));
        } else {
            if (getAllAmountMd >= sisa_yang_dibutuhkan) {
                disabledIfEnough(target);
            } else {
                enabledIfNotEnough(target);
            }
        }

        checkEnoughAllMd(sisa_yang_dibutuhkan);

        // !target.checked && parentTr.querySelector('.input-amount-use').setAttribute('disabled', 'disabled');

        checkAmountMdIns();
    }

    function removeAnimation(event) {
        const target = event.target;
        target.style.animation = '';

        target.removeEventListener('animationend', removeAnimation);
    }

    function disabledIfEnough(target) {
        document.querySelectorAll('.md-ins-check').forEach(item => {
            if (item != target && !item.checked) item.setAttribute('disabled', 'disabled');
        });

        document.querySelector('#checkmdinsall').setAttribute('disabled', 'disabled');
    }

    function enabledIfNotEnough(target) {
        document.querySelectorAll('.md-ins-check').forEach(item => {
            if (item != target) item.removeAttribute('disabled');
        });

        document.querySelector('#checkmdinsall').removeAttribute('disabled');
    }

    function checkEnoughAllMd(sisa_yang_dibutuhkan) {

        const formatter = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        document.querySelectorAll('.md-ins-check').forEach(item => {

            if (item.checked) {

                let getAllAmountMd = 0;

                document.querySelectorAll('.input-amount-use').forEach(item => {
                    getAllAmountMd += isNaN(parseFloat(item.value.replace(/,/g, ''))) ? 0 : parseFloat(item.value.replace(/,/g, ''));
                });

                if (sisa_yang_dibutuhkan > getAllAmountMd) {
                    let parentTr = item.parentElement;

                    while (true) {
                        parentTr = parentTr.parentElement;
                        if (parentTr.tagName.toLowerCase() == 'tr') break;
                    }

                    const amount = parseFloat(parentTr.querySelector('.input-amount-use').dataset.amount);

                    if (amount > sisa_yang_dibutuhkan) {
                        const selfAmount = parseFloat(parentTr.querySelector('.input-amount-use').value.replace(/,/g, ''));
                        parentTr.querySelector('.input-amount-use').value = formatter.format(sisa_yang_dibutuhkan - getAllAmountMd + selfAmount);

                        item.dispatchEvent(new Event('change'));
                    }
                }
            }
        });
    }

    function currencyFormat(event) {
        const elem = event.target;

        const formatter = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        elem.value = isNaN(Math.round(elem.value.replace(/,/g, '') * 100) / 100) ? formatter.format(0) : formatter.format(Math.round(elem.value.replace(/,/g, '') * 100) / 100);
    }

    function focusCurrency(event) {
        const elem = event.target;

        elem.value = elem.value.replace(/,/g, '');
    }

    function checkAmountSelf(event) {
        let parentTr = event.target;

        while (true) {
            parentTr = parentTr.parentElement;
            //
            if (parentTr.tagName.toLowerCase() == 'tr') break;
        }

        const elem = event.target;
        const max_amount = parseFloat(event.target.dataset.amount);
        const amount = isNaN(Math.round(elem.value * 100) / 100) ? 0 : Math.round(elem.value * 100) / 100;

        if (amount > max_amount) {
            const error = document.createElement('small');
            error.classList.add('text-danger', 'font-weight-bold', 'error-validasi');
            error.innerText = 'nominal tidak mencukupi';

            parentTr.querySelector('.for-error').childElementCount && parentTr.querySelector('.for-error').removeChild(parentTr.querySelector('.for-error').children[0]);
            parentTr.querySelector('.for-error').appendChild(error)
        } else {
            parentTr.querySelector('.for-error').childElementCount && parentTr.querySelector('.for-error').removeChild(parentTr.querySelector('.for-error').children[0]);
        }

        checkAmountMdIns();
    }

    function checkAmountMdIns(needkmk = false) {

        const bg_amount = Math.round(parseFloat('<?= $this->dataListAccount['Transaction Amount']; ?>') * 100) / 100;
        let totalAmount = 0;

        document.querySelectorAll('.input-amount-use').forEach(item => {
            totalAmount += isNaN(Math.round(item.value.replace(/,/g, '') * 100) / 100) ? 0 : Math.round(item.value.replace(/,/g, '') * 100) / 100;
        });

        while (true) {
            if (document.querySelector('#mdfceksis').value) {
                totalAmount += parseFloat(document.querySelector('#mdfceksis').value);
                break;
            }
        }

        <?php if ($this->getBG['PS_STATUS'] != 3) : ?>
            // PAS ATAU LEBIH
            if (totalAmount >= bg_amount) {
                document.querySelector('#minus_amount_for_md').classList.add('hidden');
                document.querySelector('#minus_amount_for_md').classList.remove('error-validasi');
            }
            // KURANG
            else {
                document.querySelector('#minus_amount_for_md').classList.remove('hidden');
                document.querySelector('#minus_amount_for_md').classList.add('error-validasi');
            }

            if (needkmk) {
                document.querySelector('#minus_amount_for_md').classList.add('hidden');
                document.querySelector('#minus_amount_for_md').classList.remove('error-validasi');
            }
        <?php endif ?>

    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btnreksumberlf')?.addEventListener('click', () => {
            $('#reksumberlf').modal({
                backdrop: 'static',
                keyboard: false,
            });
        });

        document.querySelector('#btnkmkasuransi')?.addEventListener('click', () => {
            $('#kmkasuransi').modal({
                backdrop: 'static',
                keyboard: false,
            });
        });

        $('[data-toggle="tooltip"]').tooltip();

        document.querySelector('#inquiryMdFc')?.addEventListener('click', inquiryMdFullCover);
        document.querySelector('#inquiryMdFc')?.click();

        document.querySelector('#inquiryMdIns')?.addEventListener('click', inquiryMdAsuransi);

        document.querySelector('#inquiryrekkmkasuransi')?.addEventListener('click', kmkasuransi);

        $('#reksumberlf').on('show.bs.modal', () => {

            document.querySelector('#acctnumberreksumberlf').removeAttribute('disabled');
            document.querySelector('#acctnumberreksumberlf').value = '';
            document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
            document.querySelector('#inquiryreksumberlf').classList.remove('disabled');

            document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();

            document.querySelector('#nameacctrekpembebanan').innerText = '-';
            document.querySelector('#valutaacctrekpembebanan').innerText = '-';
            document.querySelector('#tipeacctrekpembebanan').innerText = '-';
            document.querySelector('#produkacctrekpembebanan').innerText = '-';

            document.querySelector('#error_valuta_ins').classList.add('hidden');
            document.querySelector('#btn_pilih_sumber_lf').classList.remove('disabled');
            document.querySelector('#btn_pilih_sumber_lf').removeAttribute('disabled');
        });

        $('#kmkasuransi').on('show.bs.modal', () => {

            document.querySelector('#acctnumberrekkmkasuransi').removeAttribute('disabled');
            document.querySelector('#acctnumberrekkmkasuransi').value = '';
            document.querySelector('#inquiryrekkmkasuransi').removeAttribute('disabled');
            document.querySelector('#inquiryrekkmkasuransi').classList.remove('disabled');

            document.querySelector('#acctnumberrekkmkasuransidiv').nextElementSibling?.remove();

            document.querySelector('#nameacctrekkmkasuransi').innerText = '-';
            document.querySelector('#valutaacctrekkmkasuransi').innerText = '-';
            document.querySelector('#tipeacctrekkmkasuransi').innerText = '-';
            document.querySelector('#produkacctrekkmkasuransi').innerText = '-';

            document.querySelector('#error_valuta_kmk_asuransi').classList.add('hidden');
            document.querySelector('#btn_pilih_kmk_asuransi').classList.remove('disabled');
            document.querySelector('#btn_pilih_kmk_asuransi').removeAttribute('disabled');
        });

        document.querySelector('#sumber_dana_type')?.addEventListener('change', lfsumbertype);

        document.querySelector('#btn_pilih_sumber_lf')?.addEventListener('click', pilihreksourcelf);
        document.querySelector('#btn_pilih_kmk_asuransi')?.addEventListener('click', pilihrekkmkasuransi);

        document.querySelector('#inquiryreksumberlf').addEventListener('click', inquiryreksumberlf);
    });
</script>