<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<?php if ($this->detailTrx['TRA_STATUS'] == '2') : ?>
    <div class="row">
        <div class="col-12">
            <div class="pl-3">
                <div class="form-group row">
                    <div class="col-sm-12 d-flex align-items-center" style="background-color: #FFCCE6; border-radius: 5px; border: 2px solid #C6BDC1">
                        <label for="" class="text-gray col-form-label font-weight-bold" style="font-size: 16px;"><?= $this->language->_('Pembaharuan Status Transaksi Manual'); ?></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label font-italic text-danger" style="font-size: 16px;"><?= $this->language->_('TraRef# '); ?><span class="font-weight-bold"><?= $this->detailTrx['TRANSACTION_ID']; ?></span><?= $this->language->_(' status transaksi diubah manual menjadi Sukses dengan lampiran Memo seperti di bawah ini.'); ?></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;"><?= $this->language->_('Memo Pembaharuan Status'); ?></label>
                    </div>
                    <div class="col-sm-8 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;">
                            <?php
                            $explodeNamaFile = explode('_', $this->detailTrx['UPDATE_MEMO_FILE']);
                            $namaFile = str_replace([$explodeNamaFile[0], $explodeNamaFile[1], $explodeNamaFile[2], $explodeNamaFile[3]], '', $this->detailTrx['UPDATE_MEMO_FILE']);
                            $namaFile = trim($namaFile, '_');
                            ?>
                            <span><?= $namaFile; ?></span>
                            <?php

                            ?>
                            <span onclick="javascript:window.location.href ='/<?= implode('/', [$this->modulename, $this->controllername, 'memofile', 'trxid', urlencode($AESMYSQL->encrypt($this->detailTrx['TRANSACTION_ID'], uniqid()))]); ?>'" style="cursor: pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px; height: 20px;">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;"><?= $this->language->_('Catatan Pembaharuan Status'); ?></label>
                    </div>
                    <div class="col-sm-8 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;">
                            <?= $this->detailTrx['UPDATE_REMARKS']; ?>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;"><?= $this->language->_('Waktu Pembaharuan'); ?></label>
                    </div>
                    <div class="col-sm-8 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;">
                            <?= date('d M Y H:i:s', strtotime($this->detailTrx['UPDATE_APPROVED'])); ?>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;"><?= $this->language->_('Tanggal Unggah Memo'); ?></label>
                    </div>
                    <div class="col-sm-8 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;">
                            <?= date('d M Y H:i:s', strtotime($this->detailTrx['UPDATE_MEMO_FILE_TIME'])) . ' (' . $this->detailTrx['UPDATE_MEMO_FILE_BY'] . ')' ?>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;"><?= $this->language->_('Tanggal Persetujuan'); ?></label>
                    </div>
                    <div class="col-sm-8 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label" style="font-size: 16px;">
                            <?= date('d M Y H:i:s', strtotime($this->detailTrx['UPDATE_APPROVED'])) . ' (' . $this->detailTrx['UPDATE_APPROVEDBY'] . ')' ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>

<div class="d-flex justify-content-center mt-3" style="gap: 10px;">
    <button type="button" class="btnwhite hov" id="__trx_detail_close"><?= $this->language->_('Kembali'); ?></button>

    <?php if (($this->detailTrx['TRA_STATUS'] == '4' || $this->detailTrx['TRA_STATUS'] == '5' || $this->detailTrx['TRA_STATUS'] == '3' || $this->detailTrx['TRA_STATUS'] == '6') && $this->getBG['TYPE'] != 6) : ?>
        <button type="button" class="btngreen hov <?= $this->progress ? 'disabled' : ''; ?>" id="__trx_detail_modal" <?= $this->progress ? 'disabled' : ''; ?>><?= $this->language->_('Pembaharuan Status'); ?></button>
    <?php endif ?>

    <?php if ($this->detailTrx['TRA_STATUS'] == '1' ||  $this->detailTrx['TRA_STATUS'] == '2') : ?>
        <button type="button" class="btnwhite hov" onclick="javascript:window.location.href = '<?= $this->url(['pdf' => '1']); ?>'"><?= $this->language->_('PDF'); ?></button>
    <?php endif ?>
</div>

<?php if ($this->detailTrx['TRA_STATUS'] == '4' && $this->progress) : ?>
    <div class="text-center mt-2">
        <span class="text-danger" style="font-size: 16px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 25px; height: 25px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
            <?= $this->language->_('Data sedang dalam proses Usulan Pembaharuan Status Manual'); ?>
        </span>
    </div>
<?php endif ?>

<div class="modal fade" id="__usulan_pembaharuan_status" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <form method="POST" id="__pembaharuanstatusform" action="<?= $this->url(['module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'trxchangestatus']); ?>" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><?= $this->language->_('Pengajuan Usulan Pembaharuan Status Transaksi Secara Manual'); ?></h6>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-3">
                            <label><?= $this->language->_('Unggah Memo .pdf'); ?> <strong class="text-danger">*</strong></label>
                        </div>
                        <div class="col-9">
                            <input type="file" class="form-control" name="memo" id="__memo" style="height: initial;" accept=".pdf">
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-3">
                            <label><?= $this->language->_('Catatan'); ?> <span class="text-danger font-weight-bold">*</span></label>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <textarea class="form-control" id="__catatanpembaharuan" name="catatan" rows="5" style="font-size: 16px;"></textarea>
                                <input type="text" class="form-control mt-1" id="__catatancounter" value="100" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="text-center">
                                <span class="text-danger" style="font-size: 16px;"><?= $this->language->_('Status Transaksi akan diusulkan untuk diubah menjadi Sukses. Apakah Anda yakin untuk melanjutkan ?'); ?></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                    <button type="submit" class="btngreen hov" id="__btn_lanjut"><?= $this->language->_('Lanjut'); ?></button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function closethiswindow() {
        window.close();
    }

    function showmodalpembaharuanstatus() {
        $('#__usulan_pembaharuan_status').modal({
            backdrop: 'static',
            keyboard: false,
        });
    }

    function validatefile(event, allowedex, allowedsize) {
        const inputfile = event.target;
        const file = inputfile.files[0];

        if (file.name.split('.').pop().toLowerCase() != allowedex) {
            alert('<?= $this->language->_('File yang diperbolehkan hanya bertipe pdf'); ?>');
            inputfile.value = '';
            return false;
        }

        if (file.size > allowedsize * 1000000) {
            alert(`Maksimal file ${allowedsize} MB`);
            inputfile.value = '';
            return false;
        }
    }

    function wordLimit(event) {
        const totalChar = event.target.value.length;
        const reason = event.target.value;

        document.querySelector(`#${event.target.nextElementSibling.id}`).value = (100 - totalChar) <= 0 ? 0 : 100 - totalChar;

        return event.target.value = reason.substr(0, 100);
    }

    function validatepembaharuan(event) {
        event.preventDefault();
        const file = document.querySelector('#__memo').value;
        const catatan = document.querySelector('#__catatanpembaharuan').value;

        if (file == '') {
            alert('<?= $this->language->_('File tidak boleh kosong'); ?>');
            return false;
        }

        if (catatan == '') {
            alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
            return false;
        }

        return true;
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#__trx_detail_close').addEventListener('click', closethiswindow);

        document.querySelector('#__trx_detail_modal').addEventListener('click', showmodalpembaharuanstatus);

        document.querySelector('#__memo').addEventListener('change', (event) => {
            validatefile(event, 'pdf', 10);
        });

        document.querySelector('#__catatancounter').style.width = `${(document.querySelector('#__catatancounter').value.length + 1) * 15}px`;
        document.querySelector('#__catatanpembaharuan').onkeyup = wordLimit;

        document.querySelector('#__pembaharuanstatusform').addEventListener('submit', event => {
            const valid = validatepembaharuan(event);

            if (!valid) return false;

            document.querySelector('#__btn_lanjut').classList.add('disabled');
            document.querySelector('#__btn_lanjut').setAttribute('disabled', 'disabled');
            event.target.submit();
        });
    });
</script>