<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2">
            <h5><?= $this->language->_('Detail Transaksi') ?></h5>
        </div>
        <div id="sertifikatBG" class="mb-3 pl-3">
            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Referensi Transaksi / TraRef#'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center text-danger" style="font-weight:bold;">
                    <label><?= $this->detailTrx['TRANSACTION_ID']; ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Jenis Servis'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <label class="font-weight-bold"><?= $this->language->_($this->arrListService[$this->detailTrx['SERVICE']]); ?></label>
                </div>
            </div>

            <div class="form-group row mt-3">
                <div class="col-sm-12 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label font-weight-bold"><?= $this->language->_('Rekening Sumber'); ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Rekening Sumber'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <label><?= trim(implode(' ', [$this->detailTrx['SOURCE_ACCT'], '(' . $this->detailTrx['SOURCE_ACCT_CCY'] . ')', '/', $this->detailTrx['SOURCE_ACCT_NAME'], '/', 'BANK BTN'])) ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Tipe Rekening'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <label><?= strtoupper($this->sourceAcctInfo['type_desc']) ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Produk Rekening'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <label><?= implode(' ', [strtoupper($this->sourceAcctInfo['product_type']), '-', $this->sourceAcctInfo['produc_desc']]) ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Waktu Pembaharuan'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <label><?= date('d M Y H:i:s', strtotime($this->detailTrx['UPDATE_APPROVED'])) ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Tanggal Transaksi'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <label><?= date('d M Y', strtotime($this->detailTrx['TRA_TIME'])) ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label"><?= $this->language->_('Status'); ?></label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <?php
                    switch ($this->detailTrx['TRA_STATUS']) {
                        case 1:
                            $traStatus = 'bg-success';
                            break;
                        case 2:
                            $traStatus = 'bg-success';
                            break;
                        case 3:
                            $traStatus = 'bg-warning';
                            break;
                        case 4:
                            $traStatus = 'bg-danger';
                            break;
                        case 5:
                            $traStatus = 'bg-secondary';
                            break;
                        default:
                            $traStatus = 'bg-primary';
                            break;
                    }
                    ?>
                    <label><?= $this->arrStatusTransaction[$this->detailTrx['TRA_STATUS']]; ?></label>
                    <div class="d-inline-block <?= $traStatus; ?> traStatus ml-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>