


<b><?php echo $this->language->_('Bank Table')?> > <?php echo $this->language->_('Online Bank Table')?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Online Bank Table')?></div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter')?></strong></th></tr>
   	<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank_code',$this->language->_('Bank Code')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('bank_code',$this->bank_code)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank_name',$this->language->_('Bank Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('bank_name',$this->bank_name)?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
    </td></tr>
  </table>
  
<br/>
<table align="left" cellpadding="5">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">			
				<?php 					
					$buttonNew = $this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true);		  
					$buttonNew = ' <input type="button" class="inputbtn" value="'.$this->language->_('Add').'" onclick="location.href=\''.$buttonNew.'\'">';  
					echo $buttonNew;	
				?>
				
				<?php 					
					$buttonImport = $this->url(array('module'=>$this->modulename,'controller'=>'import','action'=>'index'),null,true);		  
					$buttonImport = ' <input type="button" class="inputbtn" value="'.$this->language->_('Import from File').'" onclick="location.href=\''.$buttonImport.'\'">';  
					echo $buttonImport;	
				?>					
			</form>				
		</td>
	</tr>
</table>
<!---------------------------CSV & PDF ------------------------------------------------------------------>
<table align="right">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">	
				<?php 
				      //jika jumlah paging lbh besar dari max page di setting, maka tombol pdf disable
				      if(count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) 
				      { 
                         echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'inputbtn','disabled'=>'disabled')) . '&nbsp';
                      }
				      else echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); 
				 ?>
				
				
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>
<!--				<input class="inputbtn"  value="<?php echo $this->language->_('PRINT')?>" onclick="window.print();" type="button">-->
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
					echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'inputbtn','disabled'=>'disabled'));
				}
				else{
				?>
					<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;
				<?php 	
				}
				?>
			</form>				
		</td>
	</tr>
</table>
<!---------------------------END CSV & PDF ----------------------------------------------------------> 
  
</form>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>								
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>
		<th width="10%" valign="top"><?php echo $this->language->_('Action'); ?></th>
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
    {
          $i=0;
          
	      foreach($this->paginator as $row) 
	      {
	  
		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		    $delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','bank_id'=>$row['BANK_ID']),null,true);
		    $delete = '<a href="javascript:confirmation(\''.$this->language->_('Are you sure want to delete this domestic bank?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
		    
		    $edit   = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','bank_id'=>$row['BANK_ID']),null,true).'">'.$this->language->_('Edit').'</a>';

		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>';
			foreach($this->fields as $field)
				echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';
			echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>
				  </tr>';
						
			$i++;
            $counter++;
  	  }
  }
  else 
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
  }
?>
</table>
<br />

<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						
			</td>
			</tr>
		</tbody>
	</table>
