<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Administrator'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Backend Group'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
 	                    <?php echo $this->language->_('Detail'); ?>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
 	                </li>
                  <li>
 	                    <?php echo $this->language->_('Edit'); ?>
 	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php 
	require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_groupid = $AESMYSQL->encrypt($this->groupid, $rand);
    $encgroupid = urlencode($encrypted_groupid);
?>

<h5><?=$this->language->_('Edit Backend Group')?></h5> 
<?php if(!$this->change)
{?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<div class="row content-box">
    <div class="portlet-body form col-md-12">

    </div>
</div>
<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-borderless">
    <tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Edit Backend Group'); ?></strong></th></tr>
    <tr>
    	<td colspan="5" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
    </tr>
   <tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('groupid',$this->language->_('Group ID')); ?><span class="errmsg">*</span></td>
		<td class="tbl-evencontent" colspan ="4">
			<?php
				$attr = array('maxlength'=>'6',
									'size'=>'40',
                  'class' => 'form-control col-md-8',
									'onkeypress'=>'return forceAlnumOCBC(event)',
									'disabled'=>true);
				echo $this->formText('groupiddisable',$this->groupid,$attr); ?>
			<div class="errmsg"><?=$this->xgroupid?></div>
		</td>
    </tr>
 	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('groupname',$this->language->_('Group Name')); ?><span class="errmsg">*</span></td>
		<td class="tbl-evencontent" colspan ="4">
			<?php
					$attr = array('maxlength'=>'32',
                    'class' => 'form-control col-md-8',
										'size'=>'40',
										);
					echo $this->formText('groupname',$this->groupname,$attr);?>
			<div class="errmsg"><?=$this->xgroupname?></div>
		</td>
    </tr>
    <!-- <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('callcenter',$this->language->_('Call Center Menu')); ?><span class="errmsg">*</span></td>
      <td class="tbl-evencontent pt-2" colspan ="4">
         <label class="switch" style="margin-bottom: 0;"> 
            <?php
            if($this->callcenter == 1){
              $checked = 'checked';
            }else{
              $checked = '';
            }
           ?>
            <input type="checkbox" name="callcenter" value="1" <?php echo $checked; ?> >
            <span class="slider round"></span>
          </label>
      </td>
    </tr> -->
	<tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Privilege List');?></strong>
	<div class="errmsg"><?php echo $this->errcheckbox?></div></th></tr>
	<!-- <tr>
		<td class="tbl-evencontent" colspan="5">
			<?php 
			$attribut=array(
													'class' => 'check_box',
													'checked' => (($this->callcenter)=="1")? true : false,
													//'disabled' => true 
													);				
							$isi = ''.$this->formCheckbox('callcenter','1',$attribut).$this->language->_('Call Center Menu').'';
							echo $isi;
			?>

		</td>
	</tr> -->
	<tr>
				<?php
				$counter = 0;
				$i = 0;
//				foreach($this->privil as $row)
//				{
//					$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
//					$attribut=array(
//											'class' => 'check_box',
//											'checked' => (($this->$row['BPRIVI_ID'])=="1")? true : false,
//											);
//					$isi = '<td class="'.$td_css.'" >'.$this->formCheckbox($row['BPRIVI_ID'],'1',$attribut).$this->language->_($row['BPRIVI_DESC']).'</td>';
//					if($counter%5 == 0)
//					{
//						$isi = '</tr><tr>'.$isi;
//					}
//					echo $isi;
//					$counter++;
//					if($counter%5 == 0)
//					{
//						$i++;
//					}
//				}


foreach($this->privil as $row)
				{
//					$privilege[$row['BPRIVI_MODULEID']][] = $row;
					if($row['BPRIVI_ID'] != 'CLAN'){
						$privilege[$row['BPRIVI_MODULEID']][] = $row;
					}
				}

				$groupPrivilegeList = array();

				foreach($privilege as $key=>$row)
					{
						$groupPrivilege = preg_replace("/[^a-zA-Z0-9]|\s/", "", $key);
						$groupPrivilegeList[] = $groupPrivilege;

						echo '<tr><td  class="tbl-oddcontent" colspan="5"><b>'.$this->language->_($key).'</b></td></tr>';
						$attribut=array(
													'class' => 'check_box_group_'.$groupPrivilege,
													'checked' => false
													//'disabled' => true
													);
						foreach ($row as $value) {
							$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';


							foreach ($this->prev as $numb => $val) {
								if($val['BPRIVI_ID'] == $value['BPRIVI_ID'])
								{
												$attribut=array(
													'class' => 'check_box',
													'checked' => true,
													// 'disabled' => true
													);
												break;
								}
							}


							$isi = '<td class="'.$td_css.'" >'.$this->formCheckbox($value['BPRIVI_ID'],'1',$attribut).$this->language->_($value['BPRIVI_DESC']).'</td>';
							$attribut = array();
							if($counter%5 == 0)
							{
								$isi = '</tr><tr>'.$isi;
							}

//							$isi = '<td class="tbl-evencontent" '.$colspan.'>'.$this->formCheckbox($value['BPRIVI_ID'],'1',$attribut).$value['BPRIVI_DESC'].'</td>';
//							if($counter%4 == 0)
//							{
//								$isi = '</tr><tr>'.$isi;
//							}
							echo $isi;
							$counter++;
							if($counter%6 == 0)
							{
								$i++;
							}
						}
					}
				?>
				</tr>
  </table>
 <br />
<?php if($this->groupid == 'BAAPPV' || $this->groupid == 'BAMAKR')
{?>
 	<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'detail','action'=>'index','groupid'=>$encgroupid),null,true);?>'" class="btnwhite hov" value="Back">
<?php
}
else
{?>
	<input type="hidden" name="groupid" id="groupid" value="<?php echo $encgroupid;?>" />
	<?php
	if($this->hasPrivilege('BGED') || !$this->change)
	{
		$editdisabled = "";
	}
	else
	{
		$editdisabled = "'disabled'=>'disabled'";
	}?>
	<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'detail','action'=>'index','groupid'=>$encgroupid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">&nbsp;
	<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov',$editdisabled)); ?>&nbsp;
	<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov',$editdisabled)); ?>&nbsp;
	</form>
	<?php }
	if($this->change)
	{?>
	<i>*<?php echo $this->language->_('No changes allowed for this record while awaiting approval for previous change'); ?></i>
	<br /><br />
	<?php }
}?>
