<b>Purchasing > Others</b>
<br />
<?php
	$mandatory = ($this->confirmPage != 1)? "<strong class='formreq'>&nbsp;*</strong>": "";
?>
<br>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="3" class="tdform-sub">Purchase Others</td></tr>
		<tr>
			<td class="tbl-evencontent" ><?php echo $this->formLabel('Source Account','Source Account'); ?><?=$mandatory?></td>
			<td class="tbl-evencontent" >:</td>
			<td class="tbl-evencontent" id="tbl-evencontent">
				<?php  
					if ($this->confirmPage != 1)
						echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");	
					else
						echo $this->ACCTSRC_view.$this->formHidden('ACCTSRC',$this->ACCTSRC);
					if($this->ACCTSRCErr)
					{
						echo '<div class="errmsg">'.$this->formErrors($this->ACCTSRCErr).'</div>';
				
					}
					
					if($this->xACCTSRC){
						echo "<div class='errmsg'> ".$this->xACCTSRC." </div>";
					}
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Service Provider','Service Provider'); ?><?=$mandatory?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php echo $this->formSelect("operator", $this->operator, null, $this->otherArr);?>
				<?php
				
					if($this->operatorErr)
					{
				?>
						<div class="errmsg">
				<?php
							echo $this->formErrors($this->operatorErr);
				?>
						</div>
				<?php
					}
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Card No','Card No'); ?><?=$mandatory?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php
					echo $this->formText('noKartu',$this->noKartu,array('maxlength'=>'50','size'=>'30')); 
				
					if($this->noKartuErr)
					{
				?>
						<div class="errmsg">
				<?php
							echo $this->formErrors($this->noKartuErr);
				?>
						</div>
				<?php
					}
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Voucher Nominal','Voucher Nominal'); ?><?=$mandatory?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<select name="nominal">
					<option value=""> --- Please Select --- </option>
					<option value="100000" <?php if($this->nominal=='100000'){?> selected = "selected" <?php } ?> >IDR 100.000,-</option>
					<option value="200000" <?php if($this->nominal=='200000'){?> selected = "selected" <?php } ?> >IDR 200.000,-</option>
					<option value="300000" <?php if($this->nominal=='300000'){?> selected = "selected" <?php } ?> >IDR 300.000,-</option>
					<option value="400000" <?php if($this->nominal=='400000'){?> selected = "selected" <?php } ?> >IDR 400.000,-</option>
					<option value="500000" <?php if($this->nominal=='500000'){?> selected = "selected" <?php } ?> >IDR 500.000,-</option>
				</select>
				<?php
					if($this->nominalErr)
					{
				?>
						<div class="errmsg">
				<?php
							echo $this->formErrors($this->nominalErr);
				?>
						</div>
				<?php
					}
				?>
			</td>
		</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:right">
					<?php echo $this->formSubmit('submit', 'Cancel',array('class' => 'inputbtn'));?>
					<?php echo $this->formSubmit('submit', 'Next',array('class' => 'inputbtn'));?>
				</div>
			</td>
		</tr>
	</table>
</form>