<style>
.fc .fc-col-header-cell-cushion{
	font-size: 16px !important;
}
.fc .fc-daygrid-day.fc-day-today{
	background-color:#FFF2CC !important;
}
.fc .fc-col-header-cell-cushion {
    color: #23527c !important;
}
.fc .fc-daygrid-day-number {
    color: black !important;
    font-size: 14px !important;
}
.fc .fc-toolbar-title{
  color:white !important;
  float:left;
  padding-left:10px;
  padding-right:10px;
}
.fc .fc-prev-button.fc-button.fc-button-primary{
  float:left;
  border-radius: 50%;
  background-color:white;
  padding: 5px 5px;
}
.fc .fc-next-button.fc-button.fc-button-primary{
  float:left;
  border-radius: 50%;
  background-color:white;
  padding: 5px 5px;
}
.fc .fc-icon{
  color:gray;
}
.fc .fc-header-toolbar{
  background-color: #23527c;
  margin-bottom: 0px;
}
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
  margin-bottom:0px !important;
  height:50px;
}
.fc .fc-daygrid-day-number{
  font-weight: bold;
}
.fc .fc-bg-event.fc-event.fc-event-start.fc-event-end.fc-event-future{
  background:#ff0018ed;
}
.fc .fc-bg-event.fc-event.fc-event-start.fc-event-end.fc-event-past{
  background:#ff0018ed;
}
.fc .fc-day.fc-day-sun {   
  background:#f2baba; 
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.1/main.min.js"></script>

</div>	
</div>	
</div>	

	<div class="row">
  	<div class="col-sm-12" style="background-color: white;">
      <div class="screencontent" id="screencontent">
				<div id="historyCalendar"></div>
				<div class="row mb-3 mt-2">	
					<div class="col-sm-4">
						<div style="height: 20px; width: 40px; background-color: #007bff; border-radius: 20%;display: inline-block;"></div><span class="align-top textBlack"> Sweep History</span>
					</div>
					<div class="col-sm-4">
						<div style="height: 20px; width: 40px; background-color: green; border-radius: 20%;display: inline-block;"></div><span class="align-top textBlack"> Parabolic Algorithm</span>
					</div>
					<div class="col-sm-4">
						<div style="height: 20px; width: 40px; background-color: gray; border-radius: 20%;display: inline-block;"></div><span class="align-top textBlack"> Linear Algorithm</span>
					</div>
				</div>
			</div>
		</div>
	</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
	<?php
			$hCalendar = $this->historyCal;
			
			ksort($hCalendar);
			// check last day
			// var_dump($hCalendar);
			$hDay = array_slice($hCalendar, -30);
			
			$tDay = date("Y-m-d");
			$thereeDate = date ("Y-m-d", strtotime("-90 days", strtotime($tDay)));
			$defineKey = array_search($thereeDate,array_keys($hCalendar));
			$lengthH = count($hCalendar) - $defineKey;
			$threeM = array_slice($hCalendar, -$lengthH);
			ksort($threeM);

			// var_dump($threeM);
			// check date not available in 3 mth
			$hmin1 = date('Y-m-d', strtotime('-1 days', strtotime($tDay)));
			while (strtotime($thereeDate) < strtotime($hmin1)) {
				$thereeDate = date ("Y-m-d", strtotime("+1 days", strtotime($thereeDate)));
				$allDate[] = $thereeDate;
			}
			// var_dump($allDate);
			foreach($threeM as $key => $value) {  
				$checkdate[] = $key;  
			}

			foreach($allDate as $value){
				if (in_array($value, $checkdate , TRUE)){ 
				}else{
						$missDate[] = $value;
				}
			}

			foreach($missDate as $i){
				$valmissDate[]= "0";
			}

			if($missDate){
				$allmisDate = array_combine($missDate,$valmissDate);
				$allHistory = array_merge($threeM,$allmisDate);
				$hCalendar = array_merge($hCalendar,$allmisDate);
			}else{
				$allHistory = $threeM;
			}
			// var_dump($allHistory);
			end($hCalendar);
			$last = key($hCalendar);
			// check last date for predict
			// var_dump($last);
			if($last == date('Y-m-d', strtotime('-1 days', strtotime($tDay))) ){
				$cParameter = 1;
				$pDay = date('Y-m-d', strtotime('-30 days', strtotime($last)));
				while (strtotime($pDay) < strtotime($last)) {
					$pDay = date ("Y-m-d", strtotime("+1 day", strtotime($pDay)));
					$cDate[] = $pDay;
				}
				// // check missing date in hDay
				// foreach($hDay as $keyDate => $value){
				// 	if (in_array($keyDate, $cDate, TRUE)){ 
				// 	}else{
				// 			$missDate[] = $keyDate;
				// 			$cParameter = 0;
				// 	}
				// }
			}else{
				$cParameter = 0;		
			}

			// Start Function
			function period($lastmonth, $c){
				$x = $c;
				foreach($lastmonth as $key => $value){
						$x++;
						if($x % 7 == 0){
								$datePeriod[] = $key;
								$amountPeriod[] = $value;   
						}
				}
				$period = array_combine($datePeriod, $amountPeriod);
				return $period;
			}

			function getLabel($lab){
					foreach ($lab as $key => $value){
							$label[] = $key; 
					}
					return $label;
			}

			function get_y($gety){
					foreach ($gety as $key => $value){
							$y[] = $value;
					}
					return $y;
			}

			function getX_odd($a){
					$odd = $a-1;
					for ($i=-$odd; $i<=$odd; $i++){
							$x[] = $i;
					}
					return $x;
			}

			function getX_even($a){
					$odd = $a;
					for ($i=-$odd-1; $i<=$odd; $i++){
							$i = $i+1;
							$x[] = $i;
					}
					return $x;
			}

			function quadratic($n){
					return ($n * $n);
			}

			function xy($a,$b){
					return ($a * $b);
			}

			function x2y($x2, $y){
					return ($x2 * $y);
			}

			function x4($n){
					return ($n * $n * $n *$n);
			}

			function getPredlin($xPred, $a, $b){
					$predict = $a+($b*$xPred);
					return $predict;
			}

			function getPredpar($xPred, $a, $b, $c){
					$predict = $a+($b*$xPred)+($c*pow($xPred,2));
					return $predict;
			}

			function linmonthpredEven($X, $a, $b){
				for($mPredic=1;$mPredic<=8;$mPredic++){
						$mPredic = $mPredic+1;
						$xxpred = end($X) + $mPredic;
						$fcdlineven[] = round(($a+($b*$xxpred)), -4);
					}
				return $fcdlineven;
			}

			function linmonthpredOdd($X, $a, $b){
				for($mPredic=1;$mPredic<=4;$mPredic++){
						$xxpred = end($X) + $mPredic;
						$fcdlinodd[] = round(($a+($b*$xxpred)), -4);
					}
				return $fcdlinodd;
			}

			function parmonthpredEven($X, $a, $b, $c){
				for($mPredic=1;$mPredic<=8;$mPredic++){
						$mPredic = $mPredic+1;
						$xxpred = end($X) + $mPredic;
						$fcdpareven[] = round(($a+($b*$xxpred)+($c*pow($xxpred,2))), -4);
					}
				return $fcdpareven;
			}

			function parmonthpredOdd($X, $a, $b, $c){
				for($mPredic=1;$mPredic<=4;$mPredic++){
						$xxpred = end($X) + $mPredic;
						$fcdparodd[] = round(($a+($b*$xxpred)+($c*pow($xxpred,2))), -4);
					}
				return $fcdparodd;
			}

			function getmonthday($last){
				for($mn=1;$mn<=4;$mn++)
						{
							$last = date('Y-m-d', strtotime('+7 days', strtotime($last)));
							$ppDay[] = $last;
						}
				return $ppDay;
			}

			// start Calculate
			$linearMonthpred = array();
			$parabolicMonthpred = array();
				for($i=4; $i>=-2; $i--){

					// start forecast
					$ccc=$i;
					$dataForecast = period($allHistory,$ccc);
					
					// echo "<br>";

					$label = getLabel($dataForecast);
					$var_y = get_y($dataForecast);
					
					// check ndata
					$nData = count($label);
					
					if($nData % 2 == 0){
							$nx= $nData-1;
							$var_X = getX_even($nx);
							$var_X2 = array_map('quadratic', $var_X);
							$var_Xy = array_map('xy', $var_X, $var_y);
							$var_a  = array_sum($var_y)/$nData;
							$var_b  = array_sum($var_Xy)/array_sum($var_X2);

							$var_xPred = end($var_X) + 2;
							$forecastDay = getPredlin($var_xPred, $var_a, $var_b);

							// parabolic
							$var_X2y = array_map('x2y', $var_X2, $var_y);
							$var_X4 = array_map('x4', $var_X);
							$var_bpar = array_sum($var_Xy)/array_sum($var_X2);
							$var_cpar = ((array_sum($var_X2)*array_sum($var_y)) - ($nData*array_sum($var_X2y))) / ((pow(array_sum($var_X2),2)) + ($nData * array_sum($var_X4)));
							$var_apar  = (array_sum($var_y)/$nData) - ($var_cpar*(array_sum($var_X2)/$nData));

							$forecastDayparabolic = getPredpar($var_xPred, $var_apar, $var_bpar, $var_cpar);
							// monthly predict
							$fcdlin = linmonthpredEven($var_X, $var_a, $var_b);
							$fcdpar = parmonthpredEven($var_X, $var_apar, $var_bpar, $var_cpar);

							
					}else{
							$nx = (round($nData/2));
							$var_X = getX_odd($nx);
							$var_X2 = array_map('quadratic', $var_X);
							$var_Xy = array_map('xy', $var_X, $var_y);
							$var_a  = array_sum($var_y)/$nData;
							$var_b  = array_sum($var_Xy)/array_sum($var_X2);

							$var_xPred = end($var_X) + 1;
							$forecastDay = getPredlin($var_xPred, $var_a, $var_b);
							
							// parabolic
							$var_X2y = array_map('x2y', $var_X2, $var_y);
							$var_X4 = array_map('x4', $var_X);
							$var_bpar = array_sum($var_Xy)/array_sum($var_X2);
							$var_cpar = ((array_sum($var_X2)*array_sum($var_y)) - ($nData*array_sum($var_X2y))) / ((pow(array_sum($var_X2),2)) + ($nData * array_sum($var_X4)));
							$var_apar  = (array_sum($var_y)/$nData) - ($var_cpar*(array_sum($var_X2)/$nData));

							$forecastDayparabolic = getPredpar($var_xPred, $var_apar, $var_bpar, $var_cpar);
							
							// monthly predict
							$fcdlin = linmonthpredOdd($var_X, $var_a, $var_b);
							$fcdpar = parmonthpredOdd($var_X, $var_apar, $var_bpar, $var_cpar);
					}
					// echo "<br>";
					// echo "<br>";
					// lastday
					$lastForecast = end($label);
					$predDay = date('Y-m-d', strtotime('+7 days', strtotime($lastForecast)));
					
					$predMonthday = getmonthday($lastForecast);
					$predMonthlin = array_combine($predMonthday, $fcdlin);
					$predMonthpar = array_combine($predMonthday, $fcdpar);

					$predictDay[] = $predDay;
					$forecastAmount[] = $forecastDay;
					$forecastAmountpar[] = $forecastDayparabolic;

					$linearMonthpred = array_merge($linearMonthpred, $predMonthlin);
					$parabolicMonthpred = array_merge($parabolicMonthpred, $predMonthpar);

					
				}//end loop
				
				$listForecast = array_combine($predictDay, $forecastAmount);
				ksort($listForecast);

				$listForecastpar = array_combine($predictDay, $forecastAmountpar);
				ksort($listForecastpar);

				ksort($linearMonthpred);
				ksort($parabolicMonthpred);

				// var_dump($parabolicMonthpred);
				
				// store to json for view in calendar
				foreach($hCalendar as $key => $value){
					$sc[] = array(
						'title' => 'IDR '.Application_Helper_General::displayMoney(round($value,-4)),
						'start' => $key,
						'color' => '#007bff'
					);
				}
				foreach($linearMonthpred as $key => $value){
					if($value < 0){
						$dataFclin[] = array(
							'title' => 'N/A',
							'start' => $key,
							'color' => 'gray'
						);
					}else{
						$dataFclin[] = array(
							'title' => 'IDR '.Application_Helper_General::displayMoney($value),
							'start' => $key,
							'color' => 'gray'
						);
					}
					
				}
				foreach($parabolicMonthpred as $key => $value){
					if($value < 0){
						$dataFcpar[] = array(
							'title' => 'N/A',
							'start' => $key,
							'color' => 'green'
						);
					}else{
						$dataFcpar[] = array(
							'title' => ' IDR '.Application_Helper_General::displayMoney($value),
							'start' => $key,
							'color' => 'green'
						);
					}
				}

				$sweepHistory = json_encode($sc);
				$forecastingLin = json_encode($dataFclin);
				$forecastingPar = json_encode($dataFcpar);
				
	?>


		var calendarEl = document.getElementById('historyCalendar');
		var historyCalendar = new FullCalendar.Calendar(calendarEl, {
			headerToolbar: {
			left: '',
			center: 'prev,title,next',
			right: ''
			}, 
			contentHeight: 'auto',
			events: [
						<?php 
							$holiday = $this->holidayData;

							$holidayDate = trim($holiday, '[]');
							$sweepHistory = trim($sweepHistory, '[]');
							$forecastingLin = trim($forecastingLin, '[]');
							$forecastingPar = trim($forecastingPar, '[]');
							echo $holidayDate;
							echo ',';
							echo $sweepHistory;
							echo ',';
							echo $forecastingPar; 
							echo ',';
							echo $forecastingLin; 
						?>
			]
		});
		historyCalendar.render();
});
</script>