<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Corporate Debit Card'); ?></div>

<?php if ($this->cust_id) {


  //data temp
  if ($this->cust_status == 1)       $status = $this->status_type['desc']['approved'];
  else if ($this->cust_status == 2)  $status = $this->status_type['desc']['suspended'];
  else if ($this->cust_status == 3)  $status = $this->status_type['desc']['delete'];

  $yesNo = array('0' => 'No', '1' => 'Yes');
  $yesNo_mode = array('N' => 'No', 'Y' => 'Yes', '' => 'No');
  if ((!is_null($this->cust_admfee_status) || $this->cust_admfee_status != '') && isset($yesNo[$this->cust_admfee_status])) $cust_admfee_status = $yesNo[$this->cust_admfee_status];
  else {
    $cust_admfee_status = null;
  }

  if ((!is_null($this->cust_charges_status) || $this->cust_charges_status != '') && isset($yesNo[$this->cust_charges_status])) $cust_charges_status = $yesNo[$this->cust_charges_status];
  else  $cust_charges_status = null;

  if ((!is_null($this->cust_token_auth) || $this->cust_token_auth != '') && isset($yesNo_mode[$this->cust_token_auth])) $cust_token_auth = $yesNo_mode[$this->cust_token_auth];
  else  $cust_token_auth = null;


 if ((!is_null($this->cust_special) || $this->cust_special != '') && isset($yesNo_mode[$this->cust_special])) $cust_special = $yesNo_mode[$this->cust_special];
  else  $cust_special = null;




  if ((!is_null($this->country_code) || $this->country_code != '') && isset($this->countryArr[$this->country_code])) {
    $country_code = $this->countryArr[$this->country_code];
  } else $country_code = '';




  //master data
  if ($this->m_cust_status == 1)       $m_status = $this->status_type['desc']['approved'];
  else if ($this->m_cust_status == 2)  $m_status = $this->status_type['desc']['suspended'];
  else if ($this->m_cust_status == 3)  $m_status = $this->status_type['desc']['delete'];

  if ((!is_null($this->m_cust_admfee_status) || $this->m_cust_admfee_status != '') && isset($yesNo[$this->m_cust_admfee_status])) $m_cust_admfee_status = $yesNo[$this->m_cust_admfee_status];
  else  $m_cust_admfee_status = null;

  if ((!is_null($this->m_cust_charges_status) || $this->m_cust_charges_status != '') && isset($yesNo[$this->m_cust_charges_status])) $m_cust_charges_status = $yesNo[$this->m_cust_charges_status];
  else  $m_cust_charges_status = null;

  if ((!is_null($this->m_cust_token_auth) || $this->m_cust_token_auth != '') && isset($yesNo_mode[$this->m_cust_token_auth])) $m_cust_token_auth = $yesNo_mode[$this->m_cust_token_auth];
  else  $m_cust_token_auth = null;

  if ((!is_null($this->m_cust_special) || $this->m_cust_special != '') && isset($yesNo_mode[$this->m_cust_special])) $m_cust_special = $yesNo_mode[$this->m_cust_special];
  else  $m_cust_special = null;


//  if(){
//	  $m_cust_service_type = 'Financial';
//  }


  if ((!is_null($this->m_country_code) || $this->m_country_code != '') && isset($this->countryArr[$this->m_country_code])) {
    $m_country_code = $this->countryArr[$this->m_country_code];
  } else $m_country_code = '';

  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

  //get suggestion type
  $changesTypeDescArr = $this->suggestionType['desc'];
  $changesTypeCodeArr = $this->suggestionType['code'];

  $key = array_search($this->changes_type, $changesTypeCodeArr);
  $changesType = $changesTypeDescArr[$key];



?>


  <h3><?php echo $this->language->_('Change Information'); ?></h3>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br />
  <br />
	<?php
	if($this->changes_type == 'N'){
		?>
		
<table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped  table-sugg" style="width:100%">
<thead>
  <tr style="background-color: #f2f2f2;"><th colspan="4" class="tdform-sub"><h5><?php echo $this->language->_('Suggestion Detail Corporate Debit Card'); ?>&nbsp;-&nbsp;<?php echo $this->language->_('Add'); ?></h5></th></tr>
</thead>
<tbody>

 <?php if($this->changes_type == 'N') {?>
  <tr>
  <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name')?></b></td>
  <td width="3"   class="tbl-evencontent">&nbsp;</td>
	<td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value')?></b></td>
  </tr>
 <?php }
	else $colspan = 'colspan="2"';
 ?>

  <tr>
  <td class="tbl-evencontent" style="width:30%"><?php echo $this->formLabel('branch_code','Customer Code'); ?></td>
  <td class="tbl-evencontent">:</td>
  <?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent" width="400px">
  <?php echo $this->formLabel('branch_code',$this->branchCode); ?></td> <?php } ?>
  <td class="tbl-evencontent" width="400px" <?=$colspan?> ><?php echo $this->formLabel('branch_code',$this->cust_id); ?></td>
  </tr>

  <tr>
  <td class="tbl-evencontent" style="width:30%"><?php echo $this->formLabel('branch_name','Customer Name'); ?></td>
  <td class="tbl-evencontent">:</td>
  <?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent" width="400px">
  <?php echo $this->formLabel('branch_name',$this->branchName); ?></td> <?php } ?>
  <td class="tbl-evencontent" width="400px" <?=$colspan?> ><?php echo $this->formLabel('branch_name',$this->cust_name); ?></td>
  </tr>
  <tr>
  <td class="tbl-evencontent" style="width:30%"><?php echo $this->formLabel('branch_name','Registration Reff'); ?></td>
  <td class="tbl-evencontent">:</td>
  <?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent" width="400px">
  <?php echo $this->formLabel('branch_name',$this->branchName); ?></td> <?php } ?>
  <td class="tbl-evencontent" width="400px" <?=$colspan?> ><?php echo $this->formLabel('branch_name',$this->reg_ref); ?></td>
  </tr>
  <tr>
  <td class="tbl-evencontent" style="width:30%"><?php echo $this->formLabel('branch_name','Card Ownership'); ?></td>
  <td class="tbl-evencontent">:</td>
  <?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent" width="400px">
  <?php echo $this->formLabel('branch_name',$this->branchName); ?></td> <?php } ?>
  <td class="tbl-evencontent" width="400px" <?=$colspan?> ><?php echo $this->formLabel('branch_name',$this->ownership); ?></td>
  </tr>
  <tr>
  <td class="tbl-evencontent" style="width:30%"><?php echo $this->formLabel('branch_name','EDC'); ?></td>
  <td class="tbl-evencontent">:</td>
  <?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent" width="400px">
  <?php echo $this->formLabel('branch_name',$this->branchName); ?></td> <?php } ?>
  <td class="tbl-evencontent" width="400px" <?=$colspan?> ><?php echo $this->formLabel('branch_name',$this->edc); ?></td>
  </tr>
  <tr>
  <td class="tbl-evencontent" style="width:30%"><?php echo $this->formLabel('branch_name','ATM'); ?></td>
  <td class="tbl-evencontent">:</td>
  <?php if($this->changes_type == 'E') {?> <td class="tbl-evencontent" width="400px">
  <?php echo $this->formLabel('branch_name',$this->branchName); ?></td> <?php } ?>
  <td class="tbl-evencontent" width="400px" <?=$colspan?> ><?php echo $this->formLabel('branch_name',$this->purchase); ?></td>
  </tr>
</table>
			<br/>
		
		
		<br/>
				
		
		
		<?php
	}else if($this->changes_type == 'L'){
		?>
	
	<table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped  table-sugg" style="width:100%">
<thead>
  <tr style="background-color: #f2f2f2;"><th colspan="4" class="tdform-sub"><h5><?php echo $this->language->_('Suggestion Detail Corporate Debit Card'); ?>&nbsp;-&nbsp;<?php echo $this->language->_('Delete'); ?></h5></th></tr>
</thead>
</table>
<h5><?= $this->language->_('Corporate Debit Card') ?>&nbsp;-&nbsp;<?= $this->language->_('Feature Deactivation') ?></h5>

    <div class="container-fluid" style="padding-left: 0; padding-right: 0;padding-top:0px!important;padding-bottom:0px!important">
      <div class="col-md-12" style=" border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
        <div class="row">
          <div class="col-md-12" style="padding-top: 15px;">
            <table style="width:100%!important">
              
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Registration Reff</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['REG_NUMBER']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Customer</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['CUST_NAME']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">VA Number</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['VA_NUMBER']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Card  Ownership</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['DEBIT_TYPE'].'( EDC : '.$this->data['DEBIT_EDC'].' / ATM : '.$this->data['DEBIT_ATM'].' )'; ?></td>
              </tr>
			  
             
            </table>
          </div>
        </div>
      </div>
    </div>
	
	
    <div class="container-fluid" style="padding-left: 0; padding-right: 0;padding-top: 20px;padding-bottom:0px!important">
      <div class="col-md-12" style=" border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
        <div class="row">
          <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
            <table style="width:100%">
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Credit Balance</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><b class="errmsg" style="font-size: 1.5em;"><?php echo $this->balance; ?> </b><label style="font-size: 1.2em;">(Last Update :<?php echo $this->lastupdate; ?>)</label></td>
              </tr>

              
             
            </table>
          </div>
         
        </div>
      </div>
    </div>
	<br/>
	<h5><?= $this->language->_('Transfer all the credit balance to') ?></h5>
        <div class="row">
          <div class="col-md-12" style="padding-top: 15px;padding-left: 25px;">
            <table style="width:100%!important">
              
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Bank</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->bankarr[$this->data['WITHDRAW_BANKCODE']]; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Account Number</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['WITHDRAW_ACCOUNT']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Email</td>
                <td class="tbl-evencontent" width="1%">:</td>
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['WITHDRAW_EMAIL']; ?></td>
              </tr>
              
			  
             
            </table>
          </div>
          

        </div>
    
	
		<?php
	}else{
	?>


  <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
    <tr class="diffRow">
      <th colspan="<?= ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U' ) ? '3' : '3' ?>" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail Corporate Debit Card'); ?>&nbsp;-&nbsp;<?php echo $this->changes_name; ?></strong></th>
      <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?>
        <th style="float:right">
          <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
        </th>
      <?php } ?>
    </tr>
    <tbody>
      <?php if ($this->changes_type != 'E' && $this->changes_type != 'S' && $this->changes_type != 'U') { ?>
        <tr>
          <td colspan="<?= ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') ? '4' : '3' ?>" class="tbl-evencontent"><b><?php echo $this->language->_('New Corporate Debit Card Detail'); ?></b></td>
        </tr>
      <?php } ?>

      <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?>
        <tr class="diffRow">
          <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
          <td width="3" class="tbl-evencontent">&nbsp;</td>
          <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
          <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
        </tr>
      <?php } ?>
			
      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_id', $this->language->_('Customer Code')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_cust_id, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->cust_id, array('class' => 'dataChange')); ?></td>
      </tr>

		<tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_cif', $this->language->_('Customer Name')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_cif', $this->m_cust_name, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_cif', $this->cust_name, array('class' => 'dataChange')); ?></td>
      </tr>

	      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_name', $this->language->_('Registration Reff')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->m_reg_ref, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->reg_ref, array('class' => 'dataChange')); ?></td>
      </tr>
      
      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_name', $this->language->_('Master Account')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('va_number', $this->m_va_number, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('va_number', $this->va_number, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_name', $this->language->_('Account Name')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('va_name', $this->m_va_name, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('va_name', $this->va_name, array('class' => 'dataChange')); ?></td>
      </tr>
		  <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_workfield', $this->language->_('Card Ownership')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_securities', $this->language->_($this->m_ownership), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_securities', $this->language->_($this->ownership), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_code', $this->language->_('EDC')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_code', $this->m_edc, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_code', $this->edc, array('class' => 'dataChange')); ?></td>
      </tr>
		
		<tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_type', $this->language->_('ATM')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->m_purchase, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->purchase, array('class' => 'dataChange')); ?></td>
      </tr>
      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_type', $this->language->_('Status')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->m_status, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->status, array('class' => 'dataChange')); ?></td>
      </tr>

		
	  
    </tbody>


  </table>
  <br>

  <?php 
  //if ($this->system_type == '1'){

    if (!empty($this->dataUser)) { ?>
      <table>
        <div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="bankAcc">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th class="tablehead"><?php echo $this->language->_('Account Number'); ?></th>
                <th class="tablehead"><?php echo $this->language->_('Account Name'); ?></th>
                <th class="tablehead"><?php echo $this->language->_('Currency'); ?></th>
                <th class="tablehead"><?php echo $this->language->_('Type'); ?></th>
              </tr>
            </thead>
            <?php
            // echo "<pre>";
            // var_dump($this->dataUser);

            foreach($this->dataUser as $key => $row){
               $i = $i + 1;
              // $acct_source = 3;
              // $acct_desc   = $row->planName;

              // if ($row->ccy == '000') {
              //   $cekIDR = 'IDR';
              // }

              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
              
                  if($row['accountNo'] == ''){
                  }
                  else{
                      // echo '<tr>
                      //         <td class="'.$td_css.'">'.$row->accountNo.'</td><td class="'.$td_css.'"><input type="hidden" name="accountName'.$row->accountNo.'" value="'.$row->accountName.'">'.$row->accountName.'</td><td class="'.$td_css.'"><input type="hidden" name="ccy'.$row->accountNo.'" value="'.$row->ccy.'">'.$row->ccy.'</td><td class="'.$td_css.'"><input type="hidden" name="acct_desc'.$row->accountNo.'" value="'.$acct_desc.'"><input type="hidden" name="productType'.$row->accountNo.'" value="'.$row->productType.'">'.$acct_desc.'<input type="hidden" name="planCode'.$row->accountNo.'" value="'.$row->planCode.'"><input type="hidden" name="ccy'.$row->ccy.'" value="'.$row->planCode.'"><input type="hidden" name="productName'.$row->accountNo.'" value="'.$acct_desc.'"></td></tr>';

                      echo '<tr>
                              <td class="'.$td_css.'">'.$row['accountNo'].'</td>
                              <td class="'.$td_css.'">'.$row['accountName'].'</td>
                              <td class="'.$td_css.'">'.$row['ccy'].'</td>
                              <td class="'.$td_css.'">'.$row['productType'].'</td>
                            </tr>';

                  }
              // }
          }
            ?>
          </table>

        <?php } 
    //}
      ?>
  <br />
  <?php if (!empty($this->userdata)) { ?>
    <table>
      <div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="bankAcc">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th class="tablehead" width="3%" valign="top">No</th>
              <th class="tablehead"><?php echo $this->language->_('Admin Name'); ?></th>
              <th class="tablehead"><?php echo $this->language->_('Email'); ?></th>
              <th class="tablehead"><?php echo $this->language->_('Phone'); ?></th>
              <th class="tablehead"><?php echo $this->language->_('Token'); ?></th>
            </tr>
          </thead>
          <?php
          $counter = 1;
          foreach ($this->userdata as $key => $row) {

          ?>
            <tr>
              <?php

              $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
              echo '
          <td class="' . $td_css . '">' . $counter . '</td>
          <td class="' . $td_css . '">' . $row['USER_FULLNAME'] . '</td>
          <td class="' . $td_css . '">' . $row['USER_EMAIL'] . '</td>
          <td class="' . $td_css . '">' . $row['USER_PHONE'] . '</td>
          <td class="' . $td_css . '">' . $row['TOKEN_ID'] . '</td>';
              $counter++;
              ?>
            </tr>
          <?php
          }
          ?>
        </table>

      <?php } 
	  

}	?>


      <!-- button navigasi -->
      <?php
      echo $this->action(
        'index',
        'tools',
        'changemanagement',
        array('changes_id' => $this->changes_id)
      );
      ?>





      <div>
        <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
        ?>

      </div>
      <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?>
        <script>
          $("table.table-sugg > tbody > tr").each(function() {
            var data = $(this).find(".data");
            var dataChange = $(this).find(".dataChange");
            if (data.text() != dataChange.text()) {
              dataChange.css('background-color', '#fffe5c');
              $(this).addClass('diffRow');
            }
          });

          $("#btnDiffOnly").click(function() {
            $("table.table-sugg > tbody > tr").each(function() {
              var className = $(this).attr('class');
              if (className != 'diffRow' && $(this).is(":visible")) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
            //Untuk stripped table after update row
            $("tr:visible").each(function(index) {
              $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
            });
          });
        </script>
      <?php }
    } else { ?>
      <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
    <?php } ?>


<script type="text/javascript">
  
  function account() {
    var n = document.getElementById("cust_cif").value;
    console.info(n);
    var currency = "#account";
    $.ajax({
      url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'cifaccount'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      data: {
        id: n
      },
      success: function(data) {
        console.info(data);
        $(currency).html(data);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.info(thrownError);
        console.info(xhr);
        console.info(ajaxOptions);
        alert("Failed to get where column list, please try again");
      }
    });
  }

</script>