<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent" style="border-top: 1px solid #eceadc;">
						<p></p><h2><font color="red"><?php echo $this->language->_('Not Authorized'); ?></font></h2><p></p>
						<p align="center">
						<?php echo $this->language->_('Sorry, you are not authorized for this page'); ?>.
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>