<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span>Transfer</span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Virtual Account') ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row" style="display: none">
  <div class="col-md-12">
    <style type="text/css">
      .nav-tabs .nav-link {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 170px;
        text-align: center;
      }

      .nav-tabs .nav-link:hover {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
      }

      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        color: white;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 14px;
        height: 47.5px;
        font-size: 17px
      }
    </style>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" id="inhouse-tab" href="/singlepayment/within" role="tab" at="1" value="1" aria-controls="inhouse" aria-selected="true"><?php echo $this->language->_('In House'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="domestic-tab" href="/singlepayment/domestic" role="tab" at="4" value="4" aria-controls="domestic" aria-selected="false"><?php echo $this->language->_('Domestic'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="valas-tab" href="/singlepayment/remittance" role="tab" at="3" value="3" aria-controls="valas" aria-selected="false"><?php echo $this->language->_('Valas'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="va-tab" href="/singlepayment/newvirtualaccount" role="tab" at="2" value="2" aria-controls="va" aria-selected="false"><?php echo $this->language->_('Virtual Accounts'); ?></a>
      </li>
    </ul>
  </div>

</div>

<?php if ($this->ERROR_MSG) { ?>

  <div class="alert alert-danger mt-4">
    <?php 
      foreach ($this->ERROR_MSG as $error) {
        echo '<li>'.$this->language->_('Error') . ": " . $this->language->_($error).'</li>';    
      }
    ?>
  </div>
<?php } ?>

<div class="row pt-2">
  <div class="col-md-12 portlet-body form">
    <div class="row">
      <div class="col-md-10">
        <h5><?= $this->language->_('Virtual Account Payment') ?> </h5>
      </div>
      <div class="col-md-2">
        <a class="btnwhite hov card" href="#" onclick="modalapproval();" style="text-transform: none; padding-top:5px;"><img src="/images/icon/light/checked.png"></i>&nbsp;<?php echo $this->language->_('Approval Matrix'); ?></a>
      </div>
    </div>

    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'next'), null, true) ?>" method="post">
      <div class="col-md-10 offset-md-1 pt-3">
        <div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_('Source Account'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <?= $this->paramSession['ACCTSRC'] ?> [<?= $this->CustCCY ?>] - <?= $this->CustName ?> / <?= $this->CustAliasName ?>
            </div>
          </div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_('Virtual Account'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <?= $this->paramSession['VANUMBER'] ?>
            </div>
          </div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_(' Name'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <?= $this->vaData[0]['VA_NAME'] ?>
            </div>
          </div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_('Company / Product Name'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <?= $this->vaData[0]['CUST_NAME'] ?>
            </div>
          </div>
        </div>
        <div>
          <table class="table table-sm table-striped" id="myTable">
            <thead>
              <tr class="headercolor">

                <?php if ($this->vaData[0]['PARTIAL_TYPE'] == '1' && $this->vaData[0]['BILLING_TYPE'] == '3') { ?> <!-- if billing method = selected, 0=total, 1=FIFO, 2=LIFO, 3=selected -->
                  <th valign="top" class="tablehead"><?php echo $this->formCheckbox('check', '', array('checked' => 'checked')); ?></th>
                <?php } else if($this->vaData[0]['PARTIAL_TYPE'] != '1' && $this->vaData[0]['BILLING_TYPE'] == '3'){ ?>
					<th valign="top" class="tablehead"></th> <!-- th biar seimbang aja -->
	            <?php } ?>

                <?php if ($this->vaData[0]['BILLING_TYPE'] != '3') { ?>
                  <th width="3%" valign="top" class="tablehead">No</th>
                <?php } ?>
                <th class="tablehead" valign="top"><?php echo $this->vaData[0]['VA_TYPE'] == 0 ? 'VA Number' : 'VA ID' ?></th>
                <th class="tablehead" valign="top">Message</th>
                <th class="tablehead" valign="top">Expired Time</th>
                <th class="tablehead" valign="top">CCY</th>
                <th class="tablehead" valign="top">Amount</th>
                <th class="tablehead" valign="top">Charge</th>
              </tr>
            </thead>
            <tbody>
                <?php
                    $totalInBilling = 0; 
                    foreach ($this->vaData as $key => $value) { 
                      $totalInBilling += $value['IN_BILLING'];
                ?>
                    <tr>
                      <?php if ($this->vaData[0]['PARTIAL_TYPE'] == '1' && $this->vaData[0]['BILLING_TYPE'] == '3') { ?> <!-- if partial type = no, billing method = selected -->
                        <td><?php echo $this->formCheckbox('check2[]', $key, array('class' => 'checkAll', 'data-amount' => $value['IN_BILLING'], 'checked' => 'checked')); ?></td>
                      <?php } else if($this->vaData[0]['PARTIAL_TYPE'] != '1' && $this->vaData[0]['BILLING_TYPE'] == '3'){ ?>
						<td><input type="radio" name="radio2[]" class="radio2" value="<?php echo $key; ?>" data-amount="<?php echo $value['IN_BILLING']; ?>" /></td>
                      <?php } ?>

                      <?php if ($this->vaData[0]['BILLING_TYPE'] != '3') { ?>
                        <td><?php echo $key+1; ?></td>
                      <?php } ?>
                      <td><?php echo $this->vaData[0]['VA_TYPE'] == 0 ? $value['VA_NUMBER'] : $value['VA_ID']; ?></td>
                      <td><?php echo $value['MESSAGE'] ?></td>
                      <td><?php echo Application_Helper_General::convertDate($value['EXP_DATE'],"dd MMM yyyy HH:mm:ss "); ?></td>
                      <td><?php echo $value['CCY'] ?></td>
                      <td><?php echo Application_Helper_General::displayMoney($value['IN_BILLING']); ?></td>
                      <td><?php echo Application_Helper_General::displayMoney($value['BUYER_FEE']); ?></td>
                    </tr>
                <?php } ?>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
        <?php if ($this->vaData[0]['BILLING_TYPE'] != '3') { ?> 
          <div class="content-box row" style="background-color: #eaeaea;">
          	<div class="col-md-4">
              <?php echo $this->language->_('Total In Billing'); ?>
            </div>
            <div class="col-md-8 row text-right pr-0">
                <div class="col-md-7"></div>
                <div class="col-md-2"><h6>IDR</h6></div>
                <div class="col-md-2 pr-0"><h6><?php echo Application_Helper_General::displayMoney($totalInBilling); ?></h6></div>
            </div>

            <?php if ($this->vaData[0]['PARTIAL_TYPE'] == '2') { //if partial type = over then show available credit ?> 
	            <div class="col-md-4">
	              <?php echo $this->language->_('Available Credit'); ?>
	            </div>
	            <div class="col-md-8 row text-right pr-0">
	                <div class="col-md-7"></div>
	                <div class="col-md-2"><h6>IDR</h6></div>
	                <div class="col-md-2 pr-0"><h6><?php echo $this->vaCreditData['AVAILABLE_CREDIT'] == '0' ? '-' : '('.Application_Helper_General::displayMoney($this->vaCreditData['AVAILABLE_CREDIT']).')'; ?></h6></div>
	            </div>

	            <div class="col-md-4">
	              <?php echo $this->language->_('Total Amount'); ?>
	            </div>
	            <div class="col-md-8 row text-right pr-0">
	                <div class="col-md-7"></div>
	                <div class="col-md-2"><h6>IDR</h6></div>
	                <div class="col-md-2 pr-0"><h6 id="totalAmount"><?php echo Application_Helper_General::displayMoney($this->totalAmount); ?></h6></div>
	            </div>
            <?php } ?>
          </div>
        <?php } ?>


        <!--------------------------------- untuk partial type over dan selected ------------------------------------------------------- -->
        <?php if ($this->vaData[0]['PARTIAL_TYPE'] == '2' && $this->vaData[0]['BILLING_TYPE'] == '3') { ?> 
          <div class="content-box row" style="background-color: #eaeaea;">
          	<div class="col-md-4">
              <?php echo $this->language->_('Total In Billing'); ?>
            </div>
            <div class="col-md-8 row text-right pr-0">
                <div class="col-md-7"></div>
                <div class="col-md-2"><h6>IDR</h6></div>
                <div class="col-md-2 pr-0"><h6 id="totalInBilling">-</h6></div>
            </div>

            <?php if ($this->vaData[0]['PARTIAL_TYPE'] == '2') { //if partial type = over then show available credit ?> 
	            <div class="col-md-4">
	              <?php echo $this->language->_('Available Credit'); ?>
	            </div>
	            <div class="col-md-8 row text-right pr-0">
	                <div class="col-md-7"></div>
	                <div class="col-md-2"><h6>IDR</h6></div>
	                <div class="col-md-2 pr-0"><h6><?php echo $this->vaCreditData['AVAILABLE_CREDIT'] == '0' ? '-' : '('.Application_Helper_General::displayMoney($this->vaCreditData['AVAILABLE_CREDIT']).')'; ?></h6></div>
	            </div>

	            <div class="col-md-4">
	              <?php echo $this->language->_('Total Amount'); ?>
	            </div>
	            <div class="col-md-8 row text-right pr-0">
	                <div class="col-md-7"></div>
	                <div class="col-md-2"><h6>IDR</h6></div>
	                <div class="col-md-2 pr-0"><h6 id="totalAmountDisp">-</h6></div>
	            </div>
            <?php } ?>
          </div>
        <?php } ?>
        <!---------------------------------End untuk partial type over dan selected ------------------------------------------------------- -->


        <?php if ($this->vaData[0]['BILLING_TYPE'] == '3' || $this->vaData[0]['PARTIAL_TYPE'] == '0' || $this->vaData[0]['PARTIAL_TYPE'] == '2') { ?>
        <div class="content-box row">
            <div class="col-md-4">
              <?php echo $this->language->_('Total Amount to pay'); ?>
            </div>
            <div class="col-md-8 row text-right pr-0">
              <div class="col-md-7"></div>
              <div class="col-md-2"><h6>IDR</h6></div>

                <?php if ($this->vaData[0]['PARTIAL_TYPE'] == '0' || $this->vaData[0]['PARTIAL_TYPE'] == '2') { //if yes or over ?>

                	<!-- //if available credit lebih besar (bs cover total inbilling), maka bayar pakai available credit -->
                    <?php if (($this->totalAmount - $this->vaCreditData['AVAILABLE_CREDIT'] < 0) && $this->vaData[0]['BILLING_TYPE'] != '3') { ?>

                   		<div class="col-md-2 pr-0"><h5><?php echo Application_Helper_General::displayMoney($this->totalAmount); ?></h5></div>
                   		<div class="col-md-11 pr-0"><small class="text-black-50">* Settled using available credit</small></div>
                  		<?= $this->formHidden('amounttopay', $this->totalAmount)  ?>
                   	
                    <?php }else{ ?>
                    	<div id="amountToPayDiv" class="col-md-3">
                   			<?php echo $this->formText('amounttopay', $this->amounttopay, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
                   		</div>
                    <?php } ?>

                    <!-- if partial type = over dan billing method = selected, ada hidden total amount, if available credit lebih besar dripada in billing, muncul ini -->
                   	<?php if ($this->vaData[0]['PARTIAL_TYPE'] == '2' && $this->vaData[0]['BILLING_TYPE'] == '3') { ?> 
                   		<div id="amountToPayOverSelected" style="display: none;">
		                    <div class="col-md-2 pr-0"><h5 id="amounttopayDisp"></h5></div>
		                   	<div class="col-md-12 pr-0"><small class="text-black-50">* Settled using available credit</small></div>
		                  	<?= $this->formHidden('amounttopayoverselected', $this->totalAmount)  ?>
	                  	</div>
                  	<?php } ?>


                <?php }else{ ?>
                  <div class="col-md-2 pr-0"><h5 id="totalAmount"><?php echo Application_Helper_General::displayMoney($this->totalAmount); ?></h5></div>
                  <?= $this->formHidden('amount', $this->totalAmount)  ?>
              <?php } ?>
            </div>
          </div>
      	<?php } ?>

      </div>
      <div class="row md-5">
        <div class="col-md-12" align="center">
          <?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "window.location='/singlepayment/newvirtualaccount'"));  ?>
          <input type="submit" name="submit" value="<?php echo $this->language->_('Next'); ?>" class="btngreen hov" />
        </div>
      </div>
    </form>
  </div>


<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Approval List</h4>
      </div>
      <div class="modal-body">
        <br>
        <div class="card">
          <div class="card-header cardhead text-white" align="center">
            <strong>Approval Group</strong>
          </div>
          <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped" width="100%">
            <tr>
              <th class="tablehead" valign="top">Group ID</th>
              <th class="tablehead" valign="top">Group Name</th>
              <th class="tablehead" valign="top">Username</th>
            </tr>
            <tbody>
              <?php
              if ($this->selectUsergroup) {
                foreach ($this->selectUsergroup as $key => $value) {
                  // $spesial = 'S_'.$this->cust_id;
                  // if($value['GROUP_USER_ID']==$special){
              ?>
                  <tr>
                    <td><?php echo $value['GID'] ?></td>
                    <td><?php echo $value['GROUP_NAME'] ?></td>
                    <td><?php echo $value['USER'] ?></td>
                  </tr>
              <?php
                  // }
                }
              } else {
                echo '<tr>
                        <td class="tbl-evencontent" colspan="5" align="center">' . $this->language->_('No Data') . '</td>
                      </tr>';
              }
              ?>
            </tbody>
          </table>
        </div>


        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="contentarea" id="contentarea">
            <div class="card">
              <div class="card-header cardhead text-white" align="center">
                <strong>Approval Matrix</strong>
              </div>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-sm table-striped">
                <tr class="headercolor" style="background-color: #003f6e; color:white">
                  <th width="3%" valign="top" class="tablehead">No.</th>
                  <th class="tablehead"><?php echo $this->language->_('Transfer Type') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Currency') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Boundary') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Policy') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('User') ?></th>
                </tr>
                <tbody>
                  <?php
                  if ($this->hasPrivilege('UABG')) {
                    $disabled = '';
                  } else {
                    $disabled = 'disabled';
                  }
                  $i = 1;
                  if (count($this->dataBoundary) > 0) {
                    foreach ($this->dataBoundary as $row) {
                      echo '<tr>
                            <td>' . $i . '</td>
                            <td>' . $row['TRANSFER_TYPE'] . '</td>
                                    <td>' . $row['CURRENCY'] . '</td>
                            <td>' . $row['BOUNDARY'] . '</td>
                            <td>' . $row['GROUP_NAME'] . '</td>
                            <td>' . $row['USERS'] . '</td>
                            </tr>';

                      $i++;
                    }
                  } else {
                    echo '<tr>
                                <td class="tbl-evencontent" colspan="5" align="center">' . $this->language->_('No Data') . '</td>
                              </tr>';
                  }
                  ?>
                </tbody>
              </table>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var amount = '<?php echo $this->totalAmount; ?>';
  var counter = '<?php echo count($this->vaData); ?>';

  const formattermoney = new Intl.NumberFormat('en-US', {
      minimumFractionDigits: 2
  });

  function modalapproval() {
    $("#myModalApproval").modal();
  }

  $(document).on('click', '.radio2', function(e) {
  	var invAmount = parseInt($(this).data('amount'));

  	<?php if($this->vaData[0]['PARTIAL_TYPE'] == '2' && $this->vaData[0]['BILLING_TYPE'] == '3'){ ?>
  		var availableCredit = parseInt('<?php echo $this->vaCreditData['AVAILABLE_CREDIT'] ?>');

  		if (availableCredit >= invAmount) {

  			$('#totalInBilling').text(formattermoney.format(invAmount));
	  		$('#totalAmountDisp').text(formattermoney.format(invAmount));

	  		$('#amountToPayDiv').hide();

	  		$('#amountToPayOverSelected').show();

	  		$('#amounttopayDisp').text(formattermoney.format(invAmount));
	  		$('#amounttopayoverselected').val(invAmount);

  		}
  		else{

  			$('#amountToPayDiv').show();
  			$('#amountToPayOverSelected').hide();

  			var totalAmount = invAmount - availableCredit;

	  		if (totalAmount < 0) {
	  			var totalAmountDisp = invAmount;
	  		}
	  		else{
	  			var totalAmountDisp = totalAmount;
	  		}

	  		$('#totalInBilling').text(formattermoney.format(invAmount));
	  		$('#totalAmountDisp').text(formattermoney.format(totalAmountDisp));
	  		$('#amounttopay').val(formattermoney.format(totalAmountDisp));
  		}

  	<?php }else{ ?>

    	$('#amounttopay').val(formattermoney.format(invAmount));
	<?php } ?>
  });
  

  $(document).on('click', '.checkAll', function(e) {
    var invAmount = $(this).data('amount');

    if ($(this).is(":checked")) {
      amount = parseFloat(amount) + parseFloat(invAmount);
      counter++;
    }
    else{
      amount = parseFloat(amount) - parseFloat(invAmount);
      counter--;
    }

    if (counter == '<?php echo count($this->vaData); ?>') {
      $('#check').prop('checked', true);
    }
    else{
      $('#check').prop('checked', false);
    }

    $("#totalAmount").text(formattermoney.format(amount));
    $('#amount').val(amount);
  });

  $(document).on('click', '#check', function(e) {

    if ($(this).is(":checked")) {
      $('.checkAll').prop('checked', true);
      var checkAll = $('.checkAll');

      $('.checkAll').each(function(i, obj) {
          amount = parseFloat(amount) + parseFloat($(obj).data('amount'));
      });
    }
    else{
      $('.checkAll').prop('checked', false);
      amount = 0;
    }

    $("#totalAmount").text(formattermoney.format(amount));
    $('#amount').val(amount);
  });
</script>