<?php 
require_once 'General/SystemBalance.php';
?>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<td align="center" valign="middle"><strong><?php echo $this->language->_('Deposit Inquiry');?> - </strong></td>
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>
<b class="hidden"><?php echo $this->language->_('Account Information'); ?>	&gt; <?php echo $this->language->_('Deposit Inquiry'); ?></b><br /><br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<table border="0" cellpadding="0" cellspacing="0" width="100%"
	align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="tdform-sub" id="tdform-sub">
						<div><?php echo $this->language->_('Deposit Inquiry'); ?></div>
						</td>
					</tr>
					<tr>
						<td class="button-area" id="button-area" >
						<br/>
						<div width="100%" class="formbutton" style="float:right">
							<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn hidden')); ?>
							<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn hidden')); ?>
							<input class="inputbtn hidden" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button"></div>
<!--								<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
		
						</td>
					</tr>
					<tr>
						<td>
						<?php
						if (!$this->isGroup) //jika tidak ada grup	
						{ 								
							echo "<br/><table id='0' border='0' cellpadding='0' cellspacing='0' width='800px'>
									<tr>
										<th class='tdform-sub'><strong>".$this->language->_('Deposit No')."</strong></th>
										
										<th class='tdform-sub'><strong>".$this->language->_('CCY')."</strong></th>
										<th class='tdform-sub'><strong>".$this->language->_('Interest Rate')."</strong></th>
										<th class='tdform-sub'><strong>".$this->language->_('Amount')."</strong></th>
										<th class='tdform-sub'><strong>".$this->language->_('Create Date')."</strong></th>
										<th class='tdform-sub' align='center'><strong>".$this->language->_('Due Date')."</strong></th>";
							echo '</tr>'; 
							
							$arr_value_tot_group =  array();
							$arr_display_tot_group =  array();
							
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$totalBalance = 0;
								foreach ( $this->resultdata as $row ) {
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									
									$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
									$systemBalance->setFlag(false);
									$systemBalance->checkBalance();
									
									if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
							          $arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
							        }
							        else {
							          $arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
							        }
									$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
									$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
									$model = new accountstatement_Model_Accountstatement();
									if($systemBalance->getCoreProductType() != NULL || $systemBalance->getCoreProductType() != 'N/A'){
										// 					print_r('here');
										$product = $model->getProduct($systemBalance->getCoreProductType(),$row ['PRODUCT_CODE']);
										$product_name = $product['0']['PRODUCT_NAME'];
									}else{
										// 					print_r('here1');
										$product_name = 'N/A';
									}
									
									echo '	<tr>
												<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
												
												<td class="' . $td_css . '">' . $systemBalance->getCoreAccountName() . '</td>
												<td class="' . $td_css . '">' . $row ['CCY_ID'] . '</td>
												<td class="' . $td_css . '">' . $systemBalance->getCoreAccountTypeDesc() . '</td>
												<td class="' . $td_css . '">'.$accountStatusModified.'</td>
										  		<td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>';
									echo '</tr>'; 
									
									$i++;
								}
							} 
							else 
							{
								echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
							}
							
							if($arr_display_tot_group)
								$display_tot_group = implode("; ",$arr_display_tot_group);
							else
								$display_tot_group = '';
							echo "</table>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>".$this->language->_('TOTAL AVAILABLE BALANCE')." : ".$display_tot_group."</b>";
							
						} 
						else //jika ada grup	
						{ 	
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$group = null;
								$arr_value_tot_group = array();
								
								
								$resultdataGroup =  array();
								foreach ($this->resultdata as $rowGroup){
									$resultdataGroup[$rowGroup['GROUP_NAME']][] = $rowGroup; 
								}
								
								foreach ( $resultdataGroup as $groupname=>$rowPerGroup ) 
								{
									$arr_display_tot_group = array();
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									$groupname = ($groupname) ? $groupname : 'OTHERS';
									$selectorGroupId = "GROUP_".str_replace(' ','_',$groupname);
									echo '<br/><br /><b><a href="#'.$selectorGroupId.'" onclick="$(\'#'.$selectorGroupId.'\').toggle();">' . $groupname . '</a></b><br /><table id="'.$selectorGroupId.'" style="display:none" class ="tablegroupaccount" border="0" cellpadding="0" cellspacing="0" width="800px">										
												<tr>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Deposit No').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Interest Rate').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Amount').'</strong></th>
													<th id="tbl-headercontent"><strong>'.$this->language->_('Create Date').'</strong></th>
												<th id="tbl-headercontent" align="center"><strong>'.$this->language->_('Due Date').'</strong></th>';
									echo	'</tr>'; 
									
										if(count($rowPerGroup) > 0){
											$arr_value_tot_group =  array();
											foreach ($rowPerGroup as $row){
												
											$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
											$systemBalance->setFlag(false);
											$systemBalance->checkBalanceDeposit();
												
												if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
													$arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
												}else{
													$arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
												}
												$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
												$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
												
												$model = new accountstatement_Model_Accountstatement();
// 												print_r($row);die;
												if($systemBalance->getCoreProductType() != NULL && $systemBalance->getCoreProductType() != 'N/A'){
// 																		print_r($systemBalance->getCoreProductType());
													$product = $model->getProduct($systemBalance->getCoreProductType(),$row ['PRODUCT_CODE']);
													$product_name = $product['0']['PRODUCT_NAME'];
												}else{
// 																		print_r('here1');
													$product_name = 'N/A';
												}
												
												$row['INRATE'] = $systemBalance->getCoreAccountInrate();
												$row['AVAILABLE_AMOUNT'] = $systemBalance->getCoreAccountAmount();
												$row['CREATEDATE'] = $systemBalance->getCoreAccountCreateDate();
												$row['DUEDATE'] = $systemBalance->getCoreAccountDueDate();
// 												print_r($row);die;
												if($row['INRATE']==''){
													$row['INRATE'] = 'N/A';
												}
												if($row['AVAILABLE_AMOUNT']==''){
													$row['AVAILABLE_AMOUNT'] = 'N/A';
												}
												if($row['CREATEDATE']==''){
													$row['CREATEDATE'] = 'N/A';
												}
												if($row['DUEDATE']==''){
													$row['DUEDATE'] = 'N/A';
												}
												echo '<tr>
													<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
													<td class="' . $td_css . '">' .  $row ['CCY_ID']. '</td>
													<td class="' . $td_css . '">' . $row ['INRATE'] . '</td>
													<td class="' . $td_css . '" align="right">' . Application_Helper_General::displayMoney($row['AVAILABLE_AMOUNT']) . '</td>
													<td class="' . $td_css . '">'.$row['CREATEDATE'].'</td>
													<td class="' . $td_css . '">'.$row['DUEDATE'].'</td>';
												echo '</tr>'; 
											}
										}else{
											echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
										}
							
										if($arr_display_tot_group)
											$display_tot_group = implode("; ",$arr_display_tot_group);
										else
											$display_tot_group = '';
										
									echo '</table>';
									$i++;
									$arr_value_tot_group =  array();	
									$arr_display_tot_group =  array();	
								} 
										
										
									
							} 
							else 
							{
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
							}
							
						}
			?>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
	<div>
			<input class="inputbtn hidden" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/home/index'" type="button"> 
	</div>
	</br>
	</br>
</td>
</tr>

<tr>
	<td>&nbsp;</td>
</tr>
</tbody>
</table>
</form>
