<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges'); ?></div>
<br />
<h2><?php echo $this->language->_('Charges Type'); ?> : <?php echo $this->language->_('Realtime'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<?php foreach ($this->result as $result)
	{
		?>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $result['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $result['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $result['CUST_ID'].'-'.$result['CUST_NAME'];?></td>
	</tr>
	<?php }?>
</table>
<i>
<?php echo $this->language->_('Set/Edit Charge Amount for the following Accounts'); ?>.<br />
<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill charge amount with zero'); ?> (0) <?php echo $this->language->_('to unset charges'); ?>,<br />
<?php echo $this->language->_('any non numeric value will be converted to zero'); ?> (0)
</i>
<br />
<br />
<h2>Daily Limit</h2>
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<tr>
		<th valign="top">Account</th>
		<th valign="top">Charges per Transaction</th>
	</tr>
		<?php 
	$i = 1;
	foreach($this->result as $list)
	{
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		echo '<tr>
				<td class="'.$td_css.'">'.$list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')</td>
				<td class="'.$td_css.'">'.$list['DAILYLIMIT'].'</td>
			  </tr>';
	}
	?>
</table>