<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
	 $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked','checked');
	 $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked','checked');
	 $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked','checked');

     //pengaturan error messages
	 <?php 
	   if(!is_null($this->customer_msg) || $this->customer_msg != '') 
	   {
	       foreach($this->customer_msg as $key => $error)
	       {
	   ?>
	           $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	 <?php      
	       } 
	   }
	   ?>
});



function resetData()
{ 
	 $('#cust_id').val('<?php echo $this->cust_id; ?>');
	 $('#cust_name').val('<?php echo $this->cust_name; ?>');
	 $('#cust_type').val('<?php echo $this->cust_type; ?>');
	 $('#cust_workfield').val('<?php echo $this->cust_workfield; ?>');
	 $('#cust_address').val('<?php echo $this->cust_address; ?>');
	 $('#cust_city').val('<?php echo $this->cust_city; ?>');
	 $('#cust_zip').val('<?php echo $this->cust_zip; ?>');
	 $('#cust_province').val('<?php echo $this->cust_province; ?>');
	 $('#country').val('<?php echo $this->country; ?>');
	 $('#cust_contact').val('<?php echo $this->cust_contact; ?>');
	 $('#cust_phone').val('<?php echo $this->cust_phone; ?>');
	 $('#cust_ext').val('<?php echo $this->cust_ext; ?>');
	 $('#cust_fax').val('<?php echo $this->cust_fax; ?>');
	 $('#cust_email').val('<?php echo $this->cust_email; ?>');
	 $('#cust_website').val('<?php echo $this->cust_website; ?>');
	 $('#country_code').val('<?php echo $this->country_code; ?>');

	 $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked','checked');
	 $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked','checked');
	 $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked','checked');
	 
}


</script>



<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Suggestion - Customer BIN'); ?></div>
<?php

if($this->changes_id)
{
  if($this->cust_hidden){ $option_max15 = array('disabled'=>true); $option_max40 = array('disabled'=>true); $option_max20 = array('disabled'=>true); }
  else{ $option_max15 = array('maxlength'=>15); $option_max40 = array('maxlength'=>40); $option_max20 = array('maxlength'=>20); }
  $option_max40['size'] = 43;
  $option_max20['size'] = 23;
  $option_max40_open = array('size'=>43,'maxlength'=>40);
  if($this->changes_type==strtoupper($this->change_type['code']['new'])){ 
?>



<?php } ?>
<?php if($this->error){ ?>
<div class="errmsg"><?=$this->customer_msg?></div><br />
<?php } ?>


<?php if(count($this->customer_msg) > 0){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
<?php } ?>



<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Repair Suggestion Customer BIN'); ?></strong></th></tr>
  <tr><td colspan="5" class="tbl-evencontent"><b><?php echo $this->language->_('Customer BIN'); ?></b></td></tr>

<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index'),null,true)?>">
 
  <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_('Approver`s Note'); ?></td>
      <td class="tbl-evencontent"></td>
      <td colspan="3" class="tbl-evencontent"><?php echo $this->changes_reason; ?></td>
  </tr>
 
 
  <tr>
      <td class="tbl-evencontent"></td>
      <td class="tbl-evencontent"></td>
      <td colspan="3" class="tbl-evencontent"><b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></b></td>
  </tr>

  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php
	  //echo $this->formText('cust_id',$this->cust_id,array('disabled'=>true));
	  echo $this->formLabel('cust_id',$this->cust_id);
	  echo $this->formHidden('cust_id',$this->cust_id);
	  echo $this->formHidden('cust_bin_status',$this->cust_bin_status);
	?>
	</td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('bin',$this->language->_('BIN')); ?>&nbsp;<span class="errmsg">*</span></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3">
       <?php echo $this->formText('bin',$this->bin,array('maxlength'=>5,'size'=>60,'onfocus'=>'return forceNumberOCBC(event)','onblur'=>'return forceNumberOCBC(event)','onkeypress'=>'return forceNumberOCBC(event)'));?>
       <div id="error_bin" class="errmsg"></div>
    </td>
  </tr>
  
</table>

<br />


<div><?php
  // echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));
  // echo '&nbsp;&nbsp;';
  echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn'));
  echo '&nbsp;&nbsp;';
  
  ////echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));
  //echo '&nbsp;&nbsp;';
  
  echo $this->formHidden('changes_id',$this->changes_id);
  echo $this->formHidden('cust_hidden',$this->cust_hidden);
  echo $this->formHidden('save_customer','ya');
?>
  <input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','changes_id'=>$this->changes_id),null,true)?>'">
</div>
</form>


<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>