<?php $back   = $this->language->_('BACK'); ?>
<?php $prev   = $this->language->_('PREVIOUS'); ?>
<?php $next   = $this->language->_('NEXT'); ?>
<?php $submit = $this->language->_('SUBMIT'); ?>
<?php $balance_inquiry = $this->language->_('BALANCE INQUIRY'); ?>

<?php
if ($this->cust_hidden) {
  $option_max15 = array('disabled' => true);
  $option_max40 = array('disabled' => true);
  $option_max20 = array('disabled' => true);
} else {
  $option_max15 = array('maxlength' => 15);
  $option_max40 = array('maxlength' => 40);
  $option_max20 = array('maxlength' => 20);
}

$option_max40['size'] = 43;
$option_max20['size'] = 23;
$option_max40_open = array('size' => 60, 'maxlength' => 40);
?>

<style type="text/css">
  .admintab {
    display: none;
  }

  .group {
    position: relative;
    margin-bottom: 45px;
  }

  .inputMaterial {
    font-size: 13px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
  }

  .inputMaterial:focus {
    outline: none;
  }

  .labelMaterial {
    color: #999;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  .inputMaterial:focus~.labelMaterial,
  .inputMaterial:valid~.labelMaterial {
    top: -20px;
    font-size: 10px;
    color: #5264AE;
  }

  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 300px;
  }

  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* active state */
  .inputMaterial:focus~.bar:before,
  .inputMaterial:focus~.bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  .inputMaterial:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from {
      background: #5264AE;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  @-moz-keyframes inputHighlighter {
    from {
      background: #5264AE;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  @keyframes inputHighlighter {
    from {
      background: #5264AE;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  .imgSepia {
    filter: grayscale(100%);
  }

  .box-disabled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: not-allowed;
    }
</style>

<!-- <script type="text/javascript">
  function changeService(e) {
    console.log(e.value);
    if (e.value == '0') {
      $("#cust_code").val('');
      $("#cust_codetab").hide();
    } else {
      $("#cust_codetab").show();
      // showHide($(e+"option:selected").val())
    }

  }
  //akan di onload pertama kali
  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });

    // transtabcheck();

    <?php if ($this->tokenadmin1) { ?>
  //alert();
  var tokenadmin1chk = document.getElementById("tokenadmin1chk");
  tokenadmin1chk.checked = true;
  tokenadmin1Checkbox();
<?php }
    if ($this->tokenadmin2) { ?>
  var tokenadmin2chk = document.getElementById("tokenadmin2chk");
  tokenadmin2chk.checked = true;
  tokenadmin2Checkbox();
<?php } ?>
<?php if ($this->cust_review == '1') { ?>

  $('#cust_review').prop('checked', true);
  $('#cust_review').prop('disabled', false);
<?php } else { ?>
  $('#cust_review').prop('checked', false);
  $('#cust_review').prop('disabled', false);
<?php }

if ($this->cust_approver == '1') { ?>
  $('#cust_approver').prop('checked', true);
  $('#cust_approver').prop('disabled', false);
<?php } else { ?>
 $('#cust_approver').prop('checked', false);
 $('#cust_approver').prop('disabled', false);
<?php } ?>



var chk = document.getElementById("cust_role_adm");
var chk2 = document.getElementById("chkadminuser");
var admintab = document.getElementsByClassName('admintab');
var adminuser = document.getElementById('adminuser');
var dualcontrollswitch = document.getElementById('dualcontrollswitch');
var dualcontroll = document.getElementById('dualcontroll');

var admin1Field1 = document.getElementById('admin1Field1');
var admin1Field2 = document.getElementById('admin1Field2');
var admin1Field3 = document.getElementById('admin1Field3');

var admin2Field1 = document.getElementById('admin2Field1');
var admin2Field2 = document.getElementById('admin2Field2');
var admin2Field3 = document.getElementById('admin2Field3');

<?php
if (!empty($this->cust_role_adm)) {
?>
 for (var i = 0; i < admintab.length; i++) {
  admintab[i].style.display = 'block';
}

adminuser.style.display = "block";
adminuser.style.marginLeft = "3%";

dualcontroll.style.display = "block";

admin1Field1.className += " input";
admin1Field2.className += " input";
admin1Field3.className += " input";

admin2Field1.className += " input";
admin2Field2.className += " input";
admin2Field3.className += " input";
<?php
} else {
?>
  dualcontroll.style.display = "none";
  adminuser.style.marginLeft = "30%";

  var tokenadmin1chk = document.getElementById("tokenadmin1chk");
  var tokenadmin2chk = document.getElementById("tokenadmin2chk");
      // var tokenadmin3chk = document.getElementById("tokenadmin3chk");

      var admin1field4 = document.getElementById("admin1Field4");
      var admin2field4 = document.getElementById("admin2Field4");

      tokenadmin1chk.checked = false;
      tokenadmin1chk.style.display = "none";
      tokenadmin2chk.checked = false;
      tokenadmin2chk.style.display = "none";
      // tokenadmin3chk.checked = false;

      admin1field4.style.display = "none";
      admin2field4.style.display = "none";

      admin2Field1.className = "form-control";
      admin2Field2.className = "form-control";
      admin2Field3.className = "form-control";


    <?php }
  if ($this->same_release) {
    ?>
      document.getElementById("cust_approver").disabled = true;
      document.getElementById("cust_review").disabled = true;
      document.getElementById("cust_review").checked = false;
      document.getElementById("cust_approver").checked = false
    <?php     } else { ?>
              // document.getElementById("cust_approver").disabled = false;
              // document.getElementById("cust_review").disabled = false;
              // document.getElementById("cust_review").checked = false;
              // document.getElementById("cust_approver").checked = false;

    // transtabcheck();
    <?php

  }

  if ($this->cust_securities == '1') {
    ?>
    $("#cust_codetab").show();
    <?php
  }
  if ($this->cust_finance == '3') {
    ?>
              // $(".companyLimit_div").hide();
              $(".companyLimit_div").show();
              $("#comp_limit1").prop('disabled', false);
              $("#comp_limit2").prop('disabled', false);
              <?php
            } else {
              ?>
              $(".companyLimit_div").show();
              <?php
            }
            // var_dump($this->cust_role_adm);
            if (!empty($this->cust_role_adm)) {
              // echo 'die';die;
              ?>
            // roleuser();
                  // $('#dualcontroll').show();
                  <?php
                } else {
                  ?>
        // $('#dualcontroll').show();
        // roleuser();
        // var dualcontroll = document.getElementById('dualcontroll');
        // dualcontroll.style.display = "none";
        // var dualcontroll = document.getElementById('dualcontroll');
        //   var adminuser = document.getElementById('adminuser');
        //   dualcontroll.style.display = "block";
        //   adminuser.style.display = "block";
        //   adminuser.style.marginLeft = "3%";
                  // $('#dualcontroll').hide();
                  <?php
                }

                  ?>


                adminusercheck();
                $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked', 'checked');
                $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked', 'checked');
                $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked', 'checked');

    //pengaturan error messages
    <?php
    if (!is_null($this->customer_msg) || $this->customer_msg != '') {
      foreach ($this->customer_msg as $key => $error) {
    ?>
        $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
        <?php
      }
    }
        ?>




  });


function resetData() {
  $('#cust_id').val('<?php echo $this->cust_id; ?>');
  $('#cust_name').val('<?php echo $this->cust_name; ?>');
  $('#cust_type').val('<?php echo $this->cust_type; ?>');
  $('#cust_workfield').val('<?php echo $this->cust_workfield; ?>');
  $('#cust_address').val('<?php echo $this->cust_address; ?>');
  $('#cust_city').val('<?php echo $this->cust_city; ?>');
  $('#cust_zip').val('<?php echo $this->cust_zip; ?>');
  $('#cust_province').val('<?php echo $this->cust_province; ?>');
  $('#country').val('<?php echo $this->country; ?>');
  $('#cust_contact').val('<?php echo $this->cust_contact; ?>');
  $('#cust_phone').val('<?php echo $this->cust_phone; ?>');
  $('#cust_ext').val('<?php echo $this->cust_ext; ?>');
  $('#cust_fax').val('<?php echo $this->cust_fax; ?>');
  $('#cust_email').val('<?php echo $this->cust_email; ?>');
  $('#cust_website').val('<?php echo $this->cust_website; ?>');
  $('#country_code').val('<?php echo $this->country_code; ?>');
  $('#cust_limit_idr').val('<?php echo $this->cust_limit_idr; ?>');
  $('#cust_limit_usd').val('<?php echo $this->cust_limit_usd; ?>');

  $('#CUST_SPECIAL_<?php echo $this->cust_special; ?>').attr('checked', 'checked');
  $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked', 'checked');
  $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked', 'checked');
  $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked', 'checked');
}
</script> -->



<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Customer Setup'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Customer'); ?>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Add'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>


<?php if ($this->success) { ?>
  <div class="successmsg"><?= $this->customer_msg ?></div><br />
<?php } ?>

<?php if (count($this->customer_msg) > 0) { ?>
  <div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
<?php } ?>


<h5><?= $this->language->_('Tambah Nasabah - Perbaikan') ?></h5>
<!-- <h6 class="greyFont"><?= $this->language->_('Add new customer information') ?></h6> -->

<br>

<div class="row content-box">
  <div class="col-md-12 portlet-body table-responsive form">
    <div class="text-center mb-3">
      <button class="custindicator mb-1" disabled><?= $this->language->_('Company Detail'); ?></button>
      <button class="custindicator mb-1" disabled><?= $this->language->_('Contact Info'); ?></button>
      <button class="custindicator mb-1" disabled><?= $this->language->_('Company Account'); ?></button>
      <button class="custindicator mb-1" disabled><?= $this->language->_('Submission Workflow'); ?></button>
      <button class="custindicator mb-1" disabled><?= $this->language->_('Review'); ?></button>
    </div>

    <div class="container">
      <form name="Form" action="" method="post">
        <div class="custTab">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Customer Model'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?php
              echo $this->formText('cust_model', $this->language->_($this->cust_model), array('class' => 'form-control col-md-12 input', 'readonly' => 'true'));
              ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Customer Code'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?php
              echo $this->formText('cust_id', $this->cust_id, array('class' => 'form-control col-md-12 input', 'readonly' => 'true'));
              ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Company CIF'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?php echo $this->formHidden('cust_cifd', $this->cust_cif, array('maxlength' => 20, 'class' => 'form-control col-md-12 ', 'oninput' => 'this.className="form-control input"')); ?>
              <?php echo $this->formText('cust_cif', $this->cust_cif, array('maxlength' => 20, 'class' => 'form-control col-md-12 input', 'oninput' => 'this.className="form-control input"', 'readonly' => "true")); ?>
              <?php echo $this->formHidden('acct_no', $this->acct_no, array('maxlength' => 20, 'class' => 'form-control col-md-12 ', 'oninput' => 'this.className="form-control input"')); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Company Name'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_name', $this->cust_name, ['class' => 'form-control', 'readonly' => true]); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Company NPWP'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_npwp', $this->cust_npwp, ['class' => 'form-control', 'readonly' => true]); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Company Type'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <select name="cust_type" id="cust_type" class="form-control">
                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                <?php foreach ($this->cust_typeArr as $row) : ?>
                  <option value="<?= $row['COMPANY_TYPE_CODE']; ?>" data-desc="<?= $row['COMPANY_TYPE_DESC']; ?>" <?= ($this->cust_type == $row['COMPANY_TYPE_CODE']) ? 'selected' : ''; ?>><?= strtoupper($row['COMPANY_TYPE_DESC']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_cust_type" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Economic Sector'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <select name="business_type" id="business_type" class="form-control">
                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                <?php foreach ($this->business_typeArr as $row) : ?>
                  <option value="<?= $row['BUSINESS_ENTITY_CODE']; ?>" data-desc="<?= $row['BUSINESS_ENTITY_DESC']; ?>" <?= ($this->business_type == $row['BUSINESS_ENTITY_CODE']) ? 'selected' : ''; ?>><?= strtoupper($row['BUSINESS_ENTITY_DESC']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_business_type" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Go Public'); ?>&nbsp;<small class="text-danger">*</small></label>

            <div class="col-sm-9">
              <select name="go_public" id="go_public" class="form-control">
                <?php foreach ($this->go_publicArr as $row) : ?>
                  <option value="<?= $row['VALUE']; ?>" data-desc="<?= $row['DESC']; ?>" <?= ($this->go_public == $row['VALUE']) ? 'selected' : ''; ?>><?= strtoupper($row['DESC']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_go_public" class="errmsg"></div>

            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Grup BUMN'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <select name="grup_bumn" id="grup_bumn" class="form-control">
                <?php foreach ($this->bumn_grupArr as $row) : ?>
                  <option value="<?= $row['VALUE']; ?>" data-desc="<?= $row['DESC']; ?>" <?= ($this->grup_bumn == $row['VALUE']) ? 'selected' : ''; ?>><?= strtoupper($row['DESC']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_grup_bumn" class="errmsg"></div>
            </div>
          </div>

          <!-- <div class="form-group row applicant">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Golongan Debitur Code'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <select name="debitur_code" id="debitur_code" class="form-control">
                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                <?php foreach ($this->debitur_codeArr as $row) : ?>
                  <option value="<?= $row['DEBITUR_CODE']; ?>" data-desc="<?= $row['DEBITUR_DESC']; ?>" <?= ($this->debitur_code == $row['DEBITUR_CODE']) ? 'selected' : ''; ?>><?= $row['DEBITUR_CODE'] . ' - ' . strtoupper($row['DEBITUR_DESC']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_debitur_code" class="errmsg"></div>
            </div>
          </div> -->

          <?php if (strtolower($this->cust_model) == 'pemohon' || strtolower($this->cust_model) == 'asuransi') { ?>
            <div class="form-group row debitur_code">
              <label class="col-sm-3 col-form-label"><?= $this->language->_('Kode Golongan Penjamin'); ?>&nbsp;<small class="text-danger">*</small></label>
              <div class="col-sm-9">
                <select name="debitur_code" id="debitur_code" class="form-control col-md-12 input" data-live-search="true">
                  <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                  <?php foreach ($this->debitur_codeArr as $row) : ?>
                    <option value="<?= $row['DEBITUR_CODE']; ?>" data-desc="<?= $row['DEBITUR_DESC']; ?>" <?= ($this->debitur_code == $row['DEBITUR_CODE']) ? 'selected' : ''; ?>><?= $row['DEBITUR_CODE'] . ' - ' . strtoupper($row['DEBITUR_DESC']); ?></option>
                  <?php endforeach; ?>
                </select>
                <div id="error_debitur_code" class="errmsg"></div>
              </div>
            </div>
          <?php } ?>

          <div class="form-group row collectibility_code">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Collectibility Code'); ?></label>
            <div class="col-sm-9">
              <select name="collectibility_code" id="collectibility_code" class="form-control">
                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                <?php foreach ($this->collectibility_codeArr as $row) : ?>
                  <option value="<?= $row['CODE']; ?>" data-desc="<?= $row['DESCRIPTION']; ?>" <?= ($this->collectibility_code == $row['CODE']) ? 'selected' : ''; ?>><?= $row['CODE'] . ' - ' . strtoupper($row['DESCRIPTION']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_collectibility_code" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Address'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_address', $this->cust_address, ['class' => 'form-control']); ?>
              <div id="error_cust_address" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Kelurahan'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_village', $this->cust_village, ['class' => 'form-control']); ?>
              <div id="error_cust_village" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Kecamatan'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_district', $this->cust_district, ['class' => 'form-control']); ?>
              <div id="error_cust_district" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Kabupaten/City'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <select name="cust_city" id="cust_city" class="form-control">
                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                <?php foreach ($this->cust_cityArr as $row) : ?>
                  <option value="<?= $row['CITY_CODE']; ?>" data-desc="<?= $row['CITY_NAME']; ?>" <?= ($this->cust_city == $row['CITY_CODE']) ? 'selected' : ''; ?>><?= strtoupper($row['CITY_NAME']); ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_cust_city" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Zip'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_zip', $this->cust_zip, ['class' => 'form-control', 'maxlength' => '5', 'onkeypress' => 'cekNumb(event)']); ?>
              <div id="error_cust_zip" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Country'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <select name="country_code" id="country_code" class="form-control">
                <option value="">--- <?= $this->language->_('Pilih'); ?> ---</option>
                <?php foreach ($this->country_codeArr as $row) : ?>
                  <option value="<?= $row['COUNTRY_CODE']; ?>" data-desc="<?= $row['COUNTRY_NAME']; ?>" <?= ($this->country_code == $row['COUNTRY_CODE']) ? 'selected' : ''; ?>><?= $row['COUNTRY_NAME']; ?></option>
                <?php endforeach; ?>
              </select>
              <div id="error_country_code" class="errmsg"></div>
            </div>
          </div>
        </div>
        <!-- END Tab Company Detail -->

        <div class="custTab">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label cust_contact_not"><?= $this->language->_('Contact Person'); ?></label>
            <label class="col-sm-3 col-form-label cust_contact_req"><?= $this->language->_('Contact Person'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_contact', $this->cust_contact, ['class' => 'form-control']); ?>
              <div id="error_cust_contact" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label cust_contact_phone_not"><?= $this->language->_('Contact Number'); ?></label>
            <label class="col-sm-3 col-form-label cust_contact_phone_req"><?= $this->language->_('Contact Number'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_contact_phone', $this->cust_contact_phone, ['class' => 'form-control', 'onfocus' => 'return forceNumberOCBC(event)', 'onblur' => 'return forceNumberOCBC(event)', 'onkeypress' => 'return forceNumberOCBC(event)']); ?>
              <div id="error_cust_contact_phone" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Contact Email'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_email', $this->cust_email, ['class' => 'form-control']); ?>
              <div id="error_cust_email" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label cust_phone_not"><?= $this->language->_('Company Phone'); ?></label>
            <label class="col-sm-3 col-form-label cust_phone_req"><?= $this->language->_('Company Phone'); ?>&nbsp;<small class="text-danger">*</small></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_phone', $this->cust_phone, ['class' => 'form-control', 'onfocus' => 'return forceNumberOCBC(event)', 'onblur' => 'return forceNumberOCBC(event)', 'onkeypress' => 'return forceNumberOCBC(event)']); ?>
              <div id="error_cust_phone" class="errmsg"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?= $this->language->_('Company Website'); ?></label>
            <div class="col-sm-9">
              <?= $this->formText('cust_website', $this->cust_website, ['class' => 'form-control']); ?>
              <div id="error_cust_website" class="errmsg"></div>
            </div>
          </div>
        </div>
        <!-- END Tab Contact Info -->

        <div class="custTab">
          <div id="account"></div>
        </div>
        <!-- END Tab Company Account -->

        <div class="custTab">
          <div id="same_user" class="form-group applicant">
            <!-- <input type="checkbox" name="cust_same_user" id="cust_same_user" value="1"> <?= $this->language->_('Maker and Releaser as same person'); ?> -->
          </div>
          <div class="row content-box" style="position:relative; overflow:hidden;">
            <table align="center" cellpadding="3" cellspacing="0" border="0" class="tableform">
              <tr>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
                </td>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                </td>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
                </td>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                </td>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
                </td>
              </tr>
              <tr>
                <td align="center">
                  <i class="fas fa-marker imgWorkflow" style="font-size:20px;color:#007934"></i>
                </td>
                <td align="center"><!-- hanya jarak  --></td>
                <td align="center">
                  <i class="far fa-check-circle imgWorkflow" style="font-size:20px;color:#007934"></i>
                </td>
                <td align="center"><!-- hanya jarak  --></td>
                <td align="center">
                  <i class="far fa-envelope imgWorkflow" style="font-size:20px;color:#007934"></i>
                </td>
              </tr>
              <tr>
                <td align="center">MAKER</td>
                <td align="center"><!-- hanya jarak  --></td>
                <td align="center">APPROVER</td>
                <td align="center"><!-- hanya jarak  --></td>
                <td align="center">RELEASER</td>
              </tr>
              <tr>
                <td align="center">
                  <input type="checkbox" value="maker" name="check_maker" id="check_maker" disabled style="display: none">
                  <img src="/images/check.png" style="width: 13px;height: 13px" id="checkMakerImg">
                </td>
                <td align="center"><!-- hanya jarak  --></td>
                <td align="center">
                  <?php $checked = ($this->approver == '1') ? 'checked' : ''; ?>
                  <input type="checkbox" class="applicant" value="1" name="cust_approver" id="cust_approver" <?= $checked; ?>>
                  <img src="/images/check.png" style="width: 13px;height: 13px" id="checkApproverImgImg" class="insurance">
                </td>
                <td align="center"><!-- hanya jarak  --></td>
                <td align="center">
                  <input type="checkbox" value="releaser" name="check_releaser" id="check_releaser" disabled style="display: none">
                  <img src="/images/check.png" style="width: 13px;height: 13px" id="checkReleaserImg">
                </td>
              </tr>
            </table>
            <div class="box-disabled"></div>
          </div>
          <p class="text-center is_intended"><?= $this->language->_('Submission workflow is intended for bank guarantee applicant only'); ?></p>
          <script type="text/javascript">
            $('#cust_same_user').click(function() {
              if (this.checked) {
                $('#cust_approver').attr('disabled', true);

              } else {
                $('#cust_approver').attr('disabled', false);
              }
            });
            $('#cust_approver').click(function() {
              $('#same_user').toggle();
            });
          </script>
        </div>
        <!-- END Tab Submission Workflow -->

        <div class="custTab">
          <table id="review" width="100%" cellpadding="3" cellspacing="0">
            <tr>
              <td colspan="3"><b style="font-size:18px"><?= $this->language->_('COMPANY DETAIL'); ?></b></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Customer Type'); ?></td>
              <td> : </td>
              <td><label id="label_cust_model"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Customer Code'); ?></td>
              <td> : </td>
              <td><label id="label_cust_id"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Company CIF'); ?></td>
              <td> : </td>
              <td><label id="label_cust_cif"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Company Name'); ?></td>
              <td> : </td>
              <td><label id="label_cust_name"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Company NPWP'); ?></td>
              <td> : </td>
              <td><label id="label_cust_npwp"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Company Type'); ?></td>
              <td> : </td>
              <td><label id="label_cust_type"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Business Type'); ?></td>
              <td> : </td>
              <td><label id="label_business_type"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Go Public'); ?></td>
              <td> : </td>
              <td><label id="label_go_public"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Grup BUMN'); ?></td>
              <td> : </td>
              <td><label id="label_grup_bumn"></label></td>
            </tr>
            <?php if($this->temp_cust_model != '3') { ?>
              <tr>
                <td width="200px"><?= $this->temp_cust_model == '2' ? $this->language->_('Kode Golongan Penjamin') : $this->language->_('Golongan Debitur Code'); ?></td>
                <td> : </td>
                <td><label id="label_debitur_code"></label></td>
              </tr>
            <?php } ?>
            <tr class="collectibility_code">
              <td width="200px"><?= $this->language->_('Collectibility Code'); ?></td>
              <td> : </td>
              <td><label id="label_collectibility_code"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Address'); ?></td>
              <td> : </td>
              <td><label id="label_cust_address"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Kelurahan'); ?></td>
              <td> : </td>
              <td><label id="label_cust_village"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Kecamatan'); ?></td>
              <td> : </td>
              <td><label id="label_cust_district"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Kabupaten/City'); ?></td>
              <td> : </td>
              <td><label id="label_cust_city"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Zip'); ?></td>
              <td> : </td>
              <td><label id="label_cust_zip"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Country'); ?></td>
              <td> : </td>
              <td><label id="label_country_code"></label></td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="3"><b class="mt-4" style="font-size:18px"><?= $this->language->_('CONTACT INFO'); ?></b></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Contact Person'); ?></td>
              <td> : </td>
              <td><label id="label_cust_contact"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Contact Number'); ?></td>
              <td> : </td>
              <td><label id="label_cust_contact_phone"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Contact Email'); ?></td>
              <td> : </td>
              <td><label id="label_cust_email"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Company Phone'); ?></td>
              <td> : </td>
              <td><label id="label_cust_phone"></label></td>
            </tr>
            <tr>
              <td width="200px"><?= $this->language->_('Company Website'); ?></td>
              <td> : </td>
              <td><label id="label_cust_website"></label></td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr class="companyAccountReview">
              <td colspan="3"><b class="mt-4" style="font-size:18px"><?= $this->language->_('COMPANY ACCOUNT'); ?></b></td>
            </tr>
            <tr class="companyAccountReview">
              <td colspan="3">
                <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
                  <thead>
                    <tr class="headercolor">
                      <th class="tablehead"><?= $this->language->_('Account Number'); ?></th>
                      <th class="tablehead"><?= $this->language->_('Currency'); ?></th>
                      <th class="tablehead"><?= $this->language->_('Account Type'); ?></th>
                      <th class="tablehead"><?= $this->language->_('Product Type'); ?></th>
                    </tr>
                  </thead>
                  <tbody id="accountReview">
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr class="submissionReview">
              <td colspan="3"><b class="mt-4" style="font-size:18px"><?= $this->language->_('SUBMISSION WORKFLOW'); ?></b></td>
            </tr>

            <tr class="submissionReview">

              <td colspan="3">
                <div id="same_user" class="form-group applicant">
                  <!-- <img src="/images/check.png" style="width: 13px;height: 13px" id="checkSamePersonImg"><?= $this->language->_('Maker and Releaser as same person'); ?> -->
                </div>
                <div class="row content-box">

                  <table align="center" cellpadding="3" cellspacing="0" border="0" class="tableform">
                    <tr>
                      <td align="center">
                        <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
                      </td>
                      <td align="center">
                        <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                      </td>
                      <td align="center" class="custapprover">
                        <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
                      </td>
                      <td align="center" class="custapprover">
                        <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                      </td>
                      <td align="center">
                        <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <i class="fas fa-marker imgWorkflow" style="font-size:20px;color:#007934"></i>
                      </td>
                      <td align="center"><!-- hanya jarak  --></td>
                      <td align="center" class="custapprover">
                        <i class="far fa-check-circle imgWorkflow" style="font-size:20px;color:#007934"></i>
                      </td>
                      <td align="center" class="custapprover"><!-- hanya jarak  --></td>
                      <td align="center">
                        <i class="far fa-envelope imgWorkflow" style="font-size:20px;color:#007934"></i>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">MAKER</td>
                      <td align="center"><!-- hanya jarak  --></td>
                      <td align="center" class="custapprover">APPROVER</td>
                      <td align="center" class="custapprover"><!-- hanya jarak  --></td>
                      <td align="center">RELEASER</td>
                    </tr>
                    <tr>
                      <td align="center">
                        <img src="/images/check.png" style="width: 13px;height: 13px" id="checkMakerImg">
                      </td>
                      <td align="center"><!-- hanya jarak  --></td>
                      <td align="center" class="custapprover">
                        <img src="/images/check.png" style="width: 13px;height: 13px" id="checkApproverImg">
                      </td>
                      <td align="center" class="custapprover"><!-- hanya jarak  --></td>
                      <td align="center">
                        <img src="/images/check.png" style="width: 13px;height: 13px" id="checkReleaserImg">
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- END Tab Review -->

        <div class="d-flex justify-content-center mt-2">
          <button type="button" id="btnBack" class="btnwhite hov mr-2" onclick="location.href='/customer'"><?= $back; ?></button>
          <button type="button" id="btnPrev" class="btnwhite hov mr-2" onclick="nextPrev(-1)"><?= $prev; ?></button>
          <button type="button" id="btnNext" class="btngreen hov" onclick="nextPrev(1)"><?= $next; ?></button>
          <?= $this->formSubmit('submit', $submit, ['class' => 'btngreen hov']); ?>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    checkCustModel();

    $('#date_from').datepicker({
      format: 'dd/mm/yyyy',
      uiLibrary: 'bootstrap4'
    });
    $('#date_to').datepicker({
      format: 'dd/mm/yyyy',
      uiLibrary: 'bootstrap4'
    });

    var typingTimer;
    var doneTypingInterval = 2000;
    var $input = $('#cust_id');

    $input.on('keyup', function() {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    $input.on('keydown', function() {
      clearTimeout(typingTimer);
    });
  });

  function cekNumb(event) {
		if (event.key.length === 1 && !/\d/.test(event.key)) {
			event.preventDefault();
		}
	}

  function doneTyping() {
    $.ajax({
      url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'checkcustid'), null, true) ?>",
      type: "GET",
      dataType: "JSON",
      data: {
        cust_id: $('#cust_id').val()
      },
      beforeSend: function() {
        $("#attempStatus").remove();
        $('#cust_id').after('<p id="attempStatus">Sedang melakukan pengecekan Kode customer</p>');
      },
      success: function(data) {
        $("#attempStatus").remove();
        if (data.status == "Y") {
          $("#attempStatus").remove();
          $('#cust_id').removeClass('is-invalid');
          $('#btnNext').removeClass('disabled');
          $('#btnNext').removeAttr('disabled');
        } else {
          $('#cust_id').addClass('is-invalid');
          $('#cust_id').after('<p id="attempStatus" class="fw-bold text-danger">' + data.msg + '</p>');

          $('#btnNext').addClass('disabled');
          $('#btnNext').attr('disabled', 'true');
        }
        // console.log(data);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert("Failed to get where column list, please try again");
      }
    });
  }



  var currentTab = 0;
  showTab(currentTab);


  function checkCustModel() {

    var cust_model = "<?php echo $this->temp_cust_model; ?>";

    // console.log(cust_model);
    // console.log('sini');

    if (cust_model == 1) { // Applicant
      $('.collectibility_code').show();
      $('.applicant').show();
      $('.insurance').hide();
      $('.obligee').hide();
      $('.cust_contact_not').show();
      $('.cust_contact_req').hide();
      $('.cust_contact_phone_not').show();
      $('.cust_contact_phone_req').hide();
      $('.cust_phone_not').show();
      $('.cust_phone_req').hide();
      $('.box-disabled').hide();
      $('.is_intended').hide();
    } else if (cust_model == 2) { // Insurance
      $('.collectibility_code').show();
      $('.applicant').hide();
      $('.insurance').show();
      $('.obligee').hide();
      $('.cust_contact_not').hide();
      $('.cust_contact_req').show();
      $('.cust_contact_phone_not').hide();
      $('.cust_contact_phone_req').show();
      $('.cust_phone_not').hide();
      $('.cust_phone_req').show();
      $('.box-disabled').show();
      $('.is_intended').show();
    } else if (cust_model == 3) { // Special Obligee
      $('.collectibility_code').hide();
      $('.applicant').hide();
      $('.insurance').hide();
      $('.obligee').show();
      $('.cust_contact_not').show();
      $('.cust_contact_req').hide();
      $('.cust_contact_phone_not').show();
      $('.cust_contact_phone_req').hide();
      $('.cust_phone_not').hide();
      $('.cust_phone_req').show();
      $('.box-disabled').show();
      $('.is_intended').show();
    }
  }

  function showTab(currentTab) {
    var indicatorTab = $('.custindicator');
    $.each(indicatorTab, function(index, value) {
      value.style.display = "none";
    });
    var custTab = $('.custTab');
    $.each(custTab, function(index, value) {
      value.style.display = "none";
    });

    custTab[currentTab].style.display = "block";

    $.each(indicatorTab, function(index, value) {
      value.style.display = "inline";
      if (index == currentTab) {
        value.classList.add('active');
      } else {
        value.classList.remove('active');
      }
    });

    if (currentTab == 0) {
      $('#btnBack').show();
      $('#btnPrev').hide();
    } else {
      $('#btnBack').hide();
      $('#btnPrev').show();
    }

    if (currentTab == (custTab.length - 1)) {
      $('#submit').show();
      $('#btnNext').hide();
    } else {
      $('#submit').hide();
      $('#btnNext').show();
    }
  }

  function nextPrev(n) {
    if (n == 1) {
      var cust_model = $('#cust_model').val();
      if (cust_model == '') {
        alert('Customer Model harus dipilih');
        $('#cust_model').addClass('is-invalid');
        $('#cust_model').focus();
        return false;
      }
      var cust_id = $('#cust_id').val();
      if (cust_id == '') {
        alert('Customer Code cannot be empty');
        $('#cust_id').addClass('is-invalid');
        $('#cust_id').focus();
        return false;
      } else {
        if (cust_id.length < 5 || cust_id.length > 12) {
          alert('Invalid Format Company Code');
          $('#cust_id').addClass('is-invalid');
          $('#cust_id').focus();
          return false;
        } else {
          $('#cust_id').removeClass('is-invalid');
        }
      }
      var cust_cif = $('#cust_cif').val();
      if (cust_cif == '') {
        alert('Company CIF cannot be empty');
        $('#cust_cif').addClass('is-invalid');
        return false;
      } else {
        $('#cust_cif').removeClass('is-invalid');
      }
      var cust_name = $('#cust_name').val();
      if (cust_name == '') {
        alert('Company Name cannot be empty');
        $('#cust_name').addClass('is-invalid');
        return false;
      } else {
        $('#cust_name').removeClass('is-invalid');
      }
      var cust_npwp = $('#cust_npwp').val();
      if (cust_npwp == '') {
        alert('Company NPWP cannot be empty');
        $('#cust_npwp').addClass('is-invalid');
        return false;
      } else {
        $('#cust_npwp').removeClass('is-invalid');
      }
      var cust_type = $('#cust_type').val();
      if (cust_type == '') {
        alert('Company Type cannot be empty');
        $('#cust_type').addClass('is-invalid');
        return false;
      } else {
        $('#cust_type').removeClass('is-invalid');
      }
      var business_type = $('#business_type').val();
      if (business_type == '') {
        alert('Business Type cannot be empty');
        $('#business_type').addClass('is-invalid');
        return false;
      } else {
        $('#business_type').removeClass('is-invalid');
      }
      // Applicant
      // if ($('#cust_model_1').is(':checked')) {
      <?php if (strtolower($this->cust_model) == 'pemohon' || strtolower($this->cust_model) == 'asuransi') { ?>
        var debitur_code = $('#debitur_code').val();
        if (debitur_code == '') {
          alert('Debitur Code cannot be empty');
          $('#debitur_code').addClass('is-invalid');
          return false;
        } else {
          $('#debitur_code').removeClass('is-invalid');
        }
        // var collectibility_code = $('#collectibility_code').val();
        // if (collectibility_code == '') {
        //   alert('Collectibility Code cannot be empty');
        //   $('#collectibility_code').addClass('is-invalid');
        //   return false;
        // } else {
        //   $('#collectibility_code').removeClass('is-invalid');
        // }
      <?php } ?>
      // }
      // Insurance
      // if ($('#cust_model_2').is(':checked')) {
      //   var collectibility_code = $('#collectibility_code').val();
      //   if (collectibility_code == '') {
      //     alert('Collectibility Code cannot be empty');
      //     $('#collectibility_code').addClass('is-invalid');
      //     return false;
      //   } else {
      //     $('#collectibility_code').removeClass('is-invalid');
      //   }
      // }
      var cust_address = $('#cust_address').val();
      if (cust_address == '') {
        alert('Address cannot be empty');
        $('#cust_address').addClass('is-invalid');
        return false;
      } else {
        $('#cust_address').removeClass('is-invalid');
      }
      var cust_village = $('#cust_village').val();
      if (cust_village == '') {
        alert('Kelurahan cannot be empty');
        $('#cust_village').addClass('is-invalid');
        return false;
      } else {
        $('#cust_village').removeClass('is-invalid');
      }
      var cust_district = $('#cust_district').val();
      if (cust_district == '') {
        alert('Kecamatan cannot be empty');
        $('#cust_district').addClass('is-invalid');
        return false;
      } else {
        $('#cust_district').removeClass('is-invalid');
      }
      var cust_city = $('#cust_city').val();
      if (cust_city == '') {
        alert('Kabupaten/City cannot be empty');
        $('#cust_city').addClass('is-invalid');
        return false;
      } else {
        $('#cust_city').removeClass('is-invalid');
      }
      var cust_zip = $('#cust_zip').val();
      if (cust_zip == '') {
        alert('Zip cannot be empty');
        $('#cust_zip').addClass('is-invalid');
        return false;
      } else {
        $('#cust_zip').removeClass('is-invalid');
      }
      var country_code = $('#country_code').val();
      if (country_code == '') {
        alert('Country cannot be empty');
        $('#country_code').addClass('is-invalid');
        return false;
      } else {
        $('#country_code').removeClass('is-invalid');
      }

      if (currentTab == 1) {
        // Insurance
        if ($('#cust_model').val() == 2) {
          var cust_contact = $('#cust_contact').val();
          if (cust_contact == '') {
            alert('Contact Person cannot be empty');
            $('#cust_contact').addClass('is-invalid');
            return false;
          } else {
            $('#cust_contact').removeClass('is-invalid');
          }
          var cust_contact_phone = $('#cust_contact_phone').val();
          if (cust_contact_phone == '') {
            alert('Contact Number cannot be empty');
            $('#cust_contact_phone').addClass('is-invalid');
            return false;
          } else {
            $('#cust_contact_phone').removeClass('is-invalid');
          }
          var cust_phone = $('#cust_phone').val();
          if (cust_phone == '') {
            alert('Company Phone cannot be empty');
            $('#cust_phone').addClass('is-invalid');
            return false;
          } else {
            $('#cust_phone').removeClass('is-invalid');
          }
        }
        // Insurance
        if ($('#cust_model').val() == 3) {
          var cust_phone = $('#cust_phone').val();
          if (cust_phone == '') {
            alert('Company Phone cannot be empty');
            $('#cust_phone').addClass('is-invalid');
            return false;
          } else {
            $('#cust_phone').removeClass('is-invalid');
          }
        }
        var cust_email = $('#cust_email').val();
        if (cust_email == '') {
          alert('Contact Email cannot be empty');
          $('#cust_email').addClass('is-invalid');
          $('#cust_email').focus();
          return false;
        } else {
          if (validateEmail(cust_email)) {
            $('#cust_email').removeClass('is-invalid');
          } else {
            alert('Contact Email invalid format');
            $('#cust_email').addClass('is-invalid');
            $('#cust_email').focus();
            return false;
          }
          var cust_website = $('#cust_website').val();
          if (cust_website != '') {
            if (validateURL(cust_website)) {
              $('#cust_website').removeClass('is-invalid');
            } else {
              alert('Company Website invalid format');
              $('#cust_website').addClass('is-invalid');
              $('#cust_website').focus();
              return false;
            }
          }
        }
        account();
      }

      if (currentTab == 2 || currentTab == 3) {
        var i = 0;
        var cekbok = $('.cekbok');
        $.each(cekbok, function(index, element) {
          $(element).parent('td').parent('tr').appendTo('#accountReview');
          if ($(element).is(':checked')) {
            $(element).parent('td').hide();
            i++;
          } else {
            $(element).parent('td').parent('tr').hide();
          }
        });
      }

      checkCustModel();

      currentTab = currentTab + n;
      showTab(currentTab);
    } else {
      var cekbok = $('.cekbok');

      $.each(cekbok, function(index, element) {
        $(element).parent('td').parent('tr').appendTo('#accountBody');
        $(element).parent('td').parent('tr').show();
        $(element).parent('td').show();
      });

      currentTab = currentTab + n;
      showTab(currentTab);
    }
  }

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function validateURL(string) {
    var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
    return (res !== null);
  };

  function showError(event) {
      event.target.nextElementSibling.style.display = 'inline-block'
  }

  function hideError(event) {
      event.target.nextElementSibling.style.display = 'none'
  }

  function account() {
    $('#account').html('<center><img src="/images/logo/35.gif" id="load1801300002185" style="width: 13px; display: block;"></center>');
    var cust_cif = document.getElementById("cust_cif").value;
    $.ajax({
      url: "<?= $this->url(array('action' => 'cifaccount')); ?>",
      type: "GET",
      dataType: "html",
      data: {
        cust_cif: document.querySelector("[name='cust_cifd']").value,
        // cust_cif: 'W007312' //cust_cif
      },
      success: function(data) {
        $('#account').html(data);
        document.querySelectorAll('.special_rate').forEach(item => {
            item.removeEventListener('mouseenter', showError);
            item.addEventListener('mouseenter', showError);

            item.removeEventListener('mouseleave', hideError);
            item.addEventListener('mouseleave', hideError);
        })
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert("Failed to get where column list, please try again");
      }
    });
  }

  $('#btnNext').click(function() {
    // COMPANY DETAIL

    var cust_model = '<?php echo $this->temp_cust_model; ?>';

    if (cust_model == 1) {
      cust_model = "Applicant";
      $('.businessReview').hide();
      $('#checkApproverImg').hide();
      if ($('#cust_approver').is(':checked')) {
        $('#cust_approver_review').attr('checked', true);
        $('.custapprover').show();
        $('#checkApproverImg').show();
      }
      if ($('#cust_same_user').is(':checked')) {

        $('#checkSamePersonImg').show();
      } else {
        $('#checkSamePersonImg').hide();
      }
    } else if (cust_model == 2) {
      cust_model = "Insurance";

      $('.submissionReview').hide();
      $('.obligeeContent').hide();
    } else {
      cust_model = "Special Obligee";

      $('.submissionReview').hide();

      var fee_sharing = $('#fee_sharing').val();
      $('#label_fee_sharing').text(fee_sharing + '% (from Provision Fee)');

      var transfer_to = $('#transfer_to').val();
      $('#label_transfer_to').text(transfer_to);

      var acct_number = $('#acct_number').val();
      $('#label_acct_number').text(acct_number);

      var acct_name = $('#acct_name').val();
      $('#label_acct_name').text(acct_name);

      if ($('#obligee_confirm').is(':checked')) {
        $('.obligee_confirm').show();
      }
    }

    $('#label_cust_model').text(cust_model);

    var cust_id = $('#cust_id').val();
    $('#label_cust_id').text(cust_id);

    var cust_cif = $('#cust_cif').val();
    $('#label_cust_cif').text(cust_cif);

    var cust_name = $('#cust_name').val();
    $('#label_cust_name').text(cust_name);

    var cust_npwp = $('#cust_npwp').val();
    $('#label_cust_npwp').text(cust_npwp);

    var cust_type = $('#cust_type').find('option:selected');
    var cust_type_desc = cust_type.data('desc');
    $('#label_cust_type').text(cust_type_desc);

    var business_type = $('#business_type').find('option:selected');
    var business_type_desc = business_type.data('desc');
    $('#label_business_type').text(business_type_desc);

    var go_public = $('#go_public').val();

    if (go_public == "Y") {
      go_public = "Ya";
    } else {
      go_public = "Tidak";
    }

    $('#label_go_public').text(go_public);

    var grup_bumn = $('#grup_bumn').val();

    if (grup_bumn == "Y") {
      grup_bumn = "Ya";
    } else {
      grup_bumn = "Tidak";
    }

    $('#label_grup_bumn').text(grup_bumn);

    var debitur_code = $('#debitur_code').find('option:selected');
    var debitur_code_desc = debitur_code.data('desc');
    var debitur_code_val = debitur_code.val();
    $('#label_debitur_code').text(debitur_code_val + ' - ' + debitur_code_desc);

    var collectibility_code = $('#collectibility_code').find('option:selected');
    var collectibility_code_desc = collectibility_code.data('desc') != undefined ? collectibility_code.data('desc') : '';
    var collectibility_code_val = collectibility_code.val();
    $('#label_collectibility_code').text(collectibility_code_val + ' - ' + collectibility_code_desc);

    var cust_address = $('#cust_address').val();
    $('#label_cust_address').text(cust_address);

    var cust_village = $('#cust_village').val();
    $('#label_cust_village').text(cust_village);

    var cust_district = $('#cust_district').val();
    $('#label_cust_district').text(cust_district);

    var cust_city = $('#cust_city').find('option:selected');
    var cust_city_desc = cust_city.data('desc');
    $('#label_cust_city').text(cust_city_desc);

    var cust_zip = $('#cust_zip').val();
    $('#label_cust_zip').text(cust_zip);

    var country_code = $('#country_code').find('option:selected');
    var country_code_desc = country_code.data('desc');
    $('#label_country_code').text(country_code_desc);
    // END COMPANY DETAIL

    // CONTACT INFO
    var cust_contact = $('#cust_contact').val();
    $('#label_cust_contact').text(cust_contact);

    var cust_contact_phone = $('#cust_contact_phone').val();
    $('#label_cust_contact_phone').text(cust_contact_phone);

    var cust_email = $('#cust_email').val();
    $('#label_cust_email').text(cust_email);

    var cust_phone = $('#cust_phone').val();
    $('#label_cust_phone').text(cust_phone);

    var cust_website = $('#cust_website').val();
    $('#label_cust_website').text(cust_website);
    // END CONTACT INFO

    // SUBMISSION WORKFLOW
  });
</script>