<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Submission') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Bank Guarantee') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('New') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>

					<span class="inhouse"><?= $this->language->_('Confirm') ?></span>
				</li>

			</ul>
		</div>
	</div>
</div>

<br>
<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Application for Issuance of Bank Guarantee') ?></h5>
			</div>
			<?php if (false) { ?>
				<div class="col-md-6" style="float:right">
					<button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
				</div>
			<?php } ?>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;">Register Number</label>
			</div>
			<div class="col-md-3">
				<label>auto generate by system</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;">eForm Subject</label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->subject; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;">Bank Branch</label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->branchname; ?></label>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
				<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">Company</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">NPWP</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->compinfo['CUST_NPWP']; ?></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">Address</label>
					</div>
					<div class="col-sm-9">
						<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">City</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->compinfo['CITY_NAME']; ?></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">Office Phone Number</label>
					</div>
					<div class="col-sm-9">
						<label><?= $this->compinfo['CUST_PHONE']; ?></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<label class="textGray">Contact Person</label>
					</div>
					<div class="col-sm-9">
						<label><?php echo $this->CUST_CP; ?></label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label for="" class="textGray col-form-label">Contact Number<strong class="formreq"> </strong></label>
					</div>
					<div class="col-sm-4">
						<label><?php echo $this->CUST_CONTACT_NUMBER; ?></label>
					</div>
					<div class="col-sm-1">
						<label for="" class="textGray col-form-label">Email<strong class="formreq"> </strong></label>
					</div>
					<div class="col-sm-4">
						<label><?php echo $this->CUST_EMAIL; ?></label>
					</div>
				</div>
			</div>
		</div>
		<?php
		if (count($this->error) > 0) { ?>
			<div class="errmsg"><?php echo $this->errormsg; ?></div><br />
		<?php } ?>
		<form action="" method="post">
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Usage Purpose') ?></h5>
					</div>
					<div style="padding-left:2%; padding-top:2px;">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label">Type of Bank Guarantee<strong class="formreq"></strong></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->BG_PURPOSE_DESC; ?> </label>
								</select>
							</div>
						</div>

						<!--<div class="form-group row">
					
                   <?php if ($this->BG_PURPOSE) {
					?><div class="col-sm-4">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Bidding Guarantee</label>
                    </div>
					 <?php
					} ?>
					   <?php if ($this->checkp3) {
						?><div class="col-sm-4">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Performance Bond</label>
                    </div><?php
						} ?>
					<?php if ($this->checkp6) {
					?><div class="col-sm-4">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Payment Guarantee</label>
                    </div>
					 <?php
					} ?>
							</div>

                    
                </div>
				<div class="form-group row">
				<?php if ($this->checkp2) { ?><div class="col-sm-5">
                        <label for="">
						   
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Advance Payment Guarantee</label>
                    </div>
					<?php
				} ?>
                    
                    <?php if ($this->checkp4) {
					?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Maintenance Guarantee</label>
                    </div>
					<?php
					} ?>

					</div>
				<?php if ($this->checkp5) {
				?>
                <div class="form-group row pb-2">
                    <div class="col-sm-10">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Others :</label>
											<label><?php echo $$this->others; ?>		</label>				
                    </div>
                </div>
				<?php
				} ?>
				
            </div>-->
					</div>

					<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Nominal<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->currency_type . ' ' . $this->bank_amount; ?></label>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Time Period From<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->updateStart; ?>
											&nbsp;To&nbsp;
											<?php echo $this->updateEnd; ?>
										</label>
										&nbsp;&nbsp;&nbsp;
										<label class="textGray" id="daysTotal">&nbsp;</label>
										<?php echo $this->daysTotal; ?>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Claim Period<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-4">
										<?php

										$addday = '+ ' . $this->BG_CLAIM_PERIOD . ' day';
										$Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
										?>
										<label><?php echo Application_Helper_General::convertDate($Date2, $this->viewDateFormat, $this->defaultDateFormat); ?></label>
									</div>
									<?php if (false) { ?>
										<div class="col-sm-5">
											<label class="textGray">(min. 14 to max. 30 calendar days)</label>
										</div>
									<?php } ?>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?= $this->language->_('Bank Guarantee Recipient') ?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Recipient Name<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->recipent_name; ?> </label>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Address<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->address; ?> </label>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">City<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->city; ?> </label>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Office Phone Number<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">

										<label><?php echo $this->RECIPIENT_OFFICE_NUMBER; ?> </label>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Contact Person<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->RECIPIENT_CP; ?> </label>


									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Contact Number<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-4">
										<label><?php echo $this->RECIPIENT_CONTACT; ?> </label>

									</div>
									<div class="col-sm-1">
										<label for="" class="textGray col-form-label">Email<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-4">
										<label><?php echo $this->RECIPIENT_EMAIL; ?> </label>


									</div>
								</div>



							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?= $this->language->_('Guarantee Transaction') ?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<label style="display:none;" class="textGray">(According to Tender Invitation, SPPBJ, SPK / Agreement, PO or others documents)</label>
								<!--<div class="form-group row">
									<div class="col-sm-12">
										<?php //echo $this->comment; 
										?> 
										<?php
										echo $this->formTextarea('comment', $this->comment, array('cols' => '152', 'rows' => '4', 'maxlength' => '200', 'class' => 'form-control', 'readonly' => 'readonly', 'style' => 'font-size:1.2em'));
										?>
									</div>	
								</div>
								<br/>-->
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Procurement of Goods/Services<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->SERVICE; ?> </label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Document Type<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->GT_DOC_DESC; ?> </label>

										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Document Number<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-3">
										<label><?php echo $this->GT_DOC_NUMBER; ?> </label>

									</div>
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Document Date<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-3">
										<label><?php echo $this->GT_DOC_DATE; ?> </label>
									</div>
								</div>
								<?php if ($this->fileName) { ?>
									<div class="form-group row pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Underlying Document<strong class="formreq">
												</strong></label>
										</div>
										<div class="col-sm-9">
											<a href="/eform/bg/confirm/download/1"><label><?php echo $this->fileName; ?></label> </a>
										</div>
									</div>
								<?php } ?>


							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?= $this->language->_('Counter Warranty') ?></h5>
							</div>
							<div style="padding-left:2%;padding-right: 2%;">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Counter Warranty Type</label>
									</div>
									<div class="col-sm-9">
										<label><?php
												echo $this->warranty_type_text; ?></label>

									</div>
								</div>
								<!-- type1 -->

								<?php if ($this->warrantyType == '1') { ?>
									<div id="wrType1">
										<?php
										//for($i=0;$i<$this->jml_account_number;$i++){
										//	$account_number = 'account_number'.$i;
										//	$account_name = 'account_name'.$i;
										//	$amount = 'amount'.$i;
										?>
										<div class="form-group row">
											<div class="col-sm-12">

												<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
													<thead>
														<tr height="45px">
															<th class="tablehead fth-header" style="background-color: #005587">Own Account </th>
															<th class="tablehead fth-header" style="background-color: #005587">Account Number</th>
															<th class="tablehead fth-header" style="background-color: #005587">Account Name</th>
															<th class="tablehead fth-header" style="background-color: #005587">Type</th>
															<th class="tablehead fth-header" style="background-color: #005587">Currency</th>
															<th class="tablehead fth-header" style="background-color: #005587">Nominal</th>
														</tr>
													</thead>
													<?php if (!empty($this->acctSplit)) {
														foreach ($this->acctSplit as $vl) {
													?>
															<tr>
																<td>
																	<div class="form-group row">
																		<?php
																		if ($vl['flag'] == '1') {
																			echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
																		} else {
																			echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
																		?>
																			<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="Account owner must attach a signed power of attorney and lien. Template file can be found in Drop Box menu."></i>
																		<?php } ?>
																	</div>
																</td>
																<td>
																	<?php echo $vl['acct']; ?>
																</td>
																<td>
																	<?php echo $vl['acct_name']; ?>
																</td>
																<td>
																	<?= $vl["type"]; ?>
																</td>
																<td>
																	<?= $vl["currency"]; ?>
																</td>
																<td>
																	<?php echo $vl['amount']; ?>
																</td>
															</tr>
													<?php }
													}
													?>
												</table>

											</div>

										</div>

										<!-- <div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Number</label>
											</div>
											<div class="col-sm-9">
												<label><?php
														echo $this->$account_number; ?></label>
												
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Name</label>
											</div>
											<div class="col-sm-9">
												<label><?php
														echo $this->$account_name; ?></label>
												
											</div>
									</div>
									
									<div class="row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<label><?php
															echo $this->currency_type . ' ' . str_replace('.00', '', Application_Helper_General::displayMoneyplain($this->$amount)); ?></label>
													
												</div>
											</div>
									</div> -->
										<?php
										//	}
										?>


									</div>

								<?php } ?>
								<!-- type2 -->

								<?php if ($this->warrantyType == '2') { ?>
									<div id="wrType2">
										<div id="listwr" style="width: 100%">
											<div id="wherelist-1">
												<?php if (!empty($this->owner1)) { ?>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label">Plafond Owner 1</label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->owner1; ?></label>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label"><?= $this->language->_('Counter Nominal'); ?></label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->currency_type . ' ' . number_format(str_replace(",", "", $this->data["bank_amount"]), 2); ?></label>
														</div>
													</div>
												<?php } ?>


												<?php if (!empty($this->owner2)) { ?>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label">Plafond Owner 2</label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->owner2; ?></label>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label">Current Available Limit</label>
														</div>
														<div class="col-sm-9">
															<div class="input-group" id="">
																<div class="input-group-prepend">
																	<div class="input-group-text">
																		<strong>
																			<span id="spanCurramountowner1_1">IDR</span>
																			<span id="spanCurramountowner1_2" style="display:none;">USD</span>
																		</strong>
																	</div>
																</div>
																<label><?php echo $this->currency_type . ' ' . str_replace('.00', '', Application_Helper_General::displayMoneyplain($this->amountowner1_limit)); ?></label>
															</div>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label">Counter Nominal</label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->currency_type . ' ' . str_replace('.00', '', Application_Helper_General::displayMoneyplain($this->amountowner2)); ?></label>

														</div>
													</div>
												<?php } ?>


												<?php if (!empty($this->owner3)) { ?>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label">Plafond Owner 3</label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->owner3; ?></label>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-3">
															<label for="" class="textGray col-form-label">Amount</label>
														</div>
														<div class="col-sm-9">
															<label><?php echo $this->currency_type . ' ' . str_replace('.00', '', Application_Helper_General::displayMoneyplain($this->amountowner3)); ?></label>

														</div>
													</div>
												<?php } ?>


											</div>
										</div>

									</div>

								<?php } ?>
								<!-- type3 -->

								<?php if ($this->warrantyType == '3') { ?>
									<div id="wrType3">
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Insurance Name</label>
											</div>
											<div class="col-sm-9">
												<label><?php
														echo $this->insuranceName; ?></label>

											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Insurance Branch</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->insurance_branch; ?></label>
											</div>
										</div>

										<?php if (false) { ?>
											<div class="row pt-1">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Principal Agreement</label>
												</div>
												<div class="col-sm-6" style="padding-right: 0px;">
													<div class="input-group" id="">

														<label><?php
																echo 'No.' . $this->PrincipalAgreement; ?> <?php echo '(Date : ' .
																												$this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>

													</div>
												</div>
											</div>

											<div class="row pt-1 pb-1">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<div class="input-group" id="">

														<label><?php
																echo $this->currency_type . ' ' . str_replace('.00', '', Application_Helper_General::displayMoneyplain($this->insurance_amount)); ?></label>

													</div>
												</div>
											</div>
										<?php } ?>
									</div>
								<?php } ?>
							</div>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<div class="row">
									<div class="col-md-8">
										<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?></h5>
									</div>
									<div class="col-md-4" style="display:none">
										<a style="float:right;padding-right: 5px;" onClick="provisionModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
									</div>
								</div>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2 pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq">

											</strong></label>
									</div>
									<div class="col-sm-9">
										<label>
											<?php
											echo $this->acct . ' (' . $this->currency_type . ') / ' . $this->src_name; ?>
										</label>

									</div>
								</div>
								<?php if ($this->warrantyType == 1 || $this->warrantyType == 2) {
									if (false) {
								?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Provision Fee</label>
											</div>
											<div class="col-sm-9">
												<label>IDR <?= $this->data["provision_fee_input"]; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Administration</label>
											</div>
											<div class="col-sm-9">
												<label>IDR <?= $this->data["administration_fee_input"]; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Materai</label>
											</div>
											<div class="col-sm-9">
												<label>IDR <?= $this->data["stamp_fee_input"]; ?></label>
											</div>
										</div>
									<?php }
								} else {
									if (false) { ?>
										<div class="form-group row">
											<div class="col-sm-3"><label for="" class="textGray col-form-label">Total Fee</label></div>
											<div class="col-sm-9"><label>(as determined by insurance)</label></div>
										</div>
								<?php
									}
								} ?>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?= $this->language->_('Format and Language') ?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Publishing Form<strong class="formreq">

											</strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php
												echo $this->BG_PUBLISH_DESC; ?></label>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Format<strong class="formreq">

											</strong></label>
									</div>
									<div class="col-sm-7">
										<label><?php
												echo $this->bankFormat; ?></label>

									</div>
								</div>
								<?php
								//var_dump($this->bankFormat);
								if ($this->bankFormat == "Bank Standard") {
								?>
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Language<strong class="formreq">

												</strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php
													echo $this->languagetext; ?></label>

										</div>
									</div>
								<?php } else { ?>
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Special Format File<strong class="formreq">
												</strong></label>
										</div>
										<div class="col-sm-9">
											<a href="/eform/bg/confirm/download/specialformatfile">
												<label><?= $this->data["specialFormatFile"]; ?></label>
											</a>

										</div>
									</div>
								<?php } ?>
								<br>

							</div>
						</div>
					</div>

					<?php if ($this->othersAttachment) { ?>
						<div class="row">
							<div class="col-md-12 mb-3" style="height: auto; position: relative;">
								<div class="padding-header-cust">
									<h5><?= $this->language->_('Others Attachment Documents') ?></h5>
								</div>
								<div style="padding-left:2%" class="mt-3">
									<?php foreach ($this->othersAttachment as $key => $file) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Attachment</label>
											</div>
											<div class="col-sm-9">
												<a href="/eform/bg/confirm/download/<?= $key + 2 ?>"><label><?= $file; ?></label> </a>
											</div>
										</div>
									<?php } ?>

								</div>
							</div>
						</div>
					<?php } ?>

					<div class="row">
						<div class="col-md-12" align="center">
							<input class="btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/eform/bg'" type="button">&nbsp;
							<input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov">
						</div>
					</div>
		</form>

	</div>
</div>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack">Provision Fee 1% from BG Nominal</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="textBlack">Administration Fee IDR 500,000</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
			</div>
		</div>
	</div>
</div>

<script>
	function provisionModal() {
		$('#provisionModal').modal('show');
	}

	$(document).ready(function() {

		var start = new Date('<?php echo $this->updatedate['0']; ?>');
		var end = new Date('<?php echo $this->updatedate['1']; ?>');
		var total = (end - start) / (1000 * 60 * 60 * 24);

		if (start && end) {
			var total = total + 1;
			$('#daysTotal').html("(" + total + " days)")
		}

		$('#updateStart').datepicker({
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});
		$('#updateEnd').datepicker({
			minDate: function() {
				var val = document.getElementById('updateStart').value;
				var dateend = new Date(val);
				dateend.setDate(dateend.getDate());
				return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		$('#paDate').datepicker({
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});



		$('#updateEnd').change(function() {
			var start = new Date($('#updateStart').val());
			var end = new Date($('#updateEnd').val());
			var total = (end - start) / (1000 * 60 * 60 * 24);

			if (start && end) {
				var total = total + 1;
				$('#daysTotal').html("(" + total + " days)")
			}
		});

		$('#chkterms').change(function() {
			var chkterms = $("input[name='chkterms']:checkbox");
			if (chkterms.is(":checked")) {
				$('#submit').prop('disabled', false);
				$('#submit').removeClass('disabled');
			} else {
				$('#submit').prop('disabled', true);
				$('#submit').addClass('disabled');
			}
		});

		$("#addlist").click(function() {
			var ctr = $("#listctr").val();
			if (ctr <= 3) {
				$("#listwr").append('<div id="wherelist-' + ctr + '"><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Plafond Owner ' + ctr + '</label></div><div class="col-sm-9"><input type="text" name="owner' + ctr + '" id="owner' + ctr + '" value="" class="form-control" style="font-size:1.2em;width:95%;float:left;" placeholder=""><button type="button" class="btn-sm" id="removewhere" onclick="removeParent(this)" style="background-color: transparent;color: red;border-color: transparent;"><i class="fa fa-times"></i></button></div></div><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Amount</label></div><div class="col-sm-9"><input type="text" name="amountowner' + ctr + '" id="amountowner' + ctr + '" value="" class="form-control" style="font-size:1.2em;width:95%" placeholder=""></div></div></div></div>');
				ctr++;
				$("#listctr").val(ctr);
			}
		});

	})

	function numberWithCommas(x, id) {
		const formattermoney = new Intl.NumberFormat('ID', {
			minimumFractionDigits: 0
		});
		var tag = '#' + id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
		var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		$(tag).val(x);
		//return 
	}


	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
		console.log(parentname);
	}
</script>