<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>
<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}

	input#paDateStart+.input-group-append {
		background: #ccc;
		pointer-events: none;
	}

	input#paDateEnd+.input-group-append {
		background: #ccc;
		pointer-events: none;
	}

	.autocomplete-suggestions {
		border: 1px solid #999;
		background: #FFF;
		overflow: auto;
	}

	.autocomplete-suggestion {
		padding: 2px 5px;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;
	}

	.autocomplete-selected {
		background: blue;
		color: white;
	}

	.autocomplete-suggestions strong {
		font-weight: bold;
		color: orange;
	}

	.autocomplete-group {
		padding: 2px 5px;
	}

	.autocomplete-group strong {
		display: block;
		border-bottom: 1px solid #000;
	}

	.autocomplete-selected {
		background: #295687;
		color: white;
	}
</style>

<div class="blur">
	<div class="row">
		<div class="col-md-12">
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<span><?= $this->language->_('Submission') ?></span>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
					</li>
					<li>
						<span class="inhouse"><?= $this->language->_('Bank Guarantee') ?></span>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
					</li>
					<li>
						<span class="inhouse"><?= $this->language->_('New') ?></span>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<!-- cash collateral -->

	<input type="hidden" id="charges_pct" value="<?= $this->cash_collateral["CHARGES_PCT"]; ?>" disabled>
	<input type="hidden" id="charges_adm" value="<?= $this->cash_collateral["CHARGES_ADM"]; ?>" disabled>
	<input type="hidden" id="charges_stamp" value="<?= $this->cash_collateral["CHARGES_STAMP"]; ?>" disabled>

	<!-- end cash collateral -->

	<!-- linefacility -->

	<input type="hidden" id="linefct_pct" value="<?= $this->linefacility["FEE_PROVISION"]; ?>" disabled>
	<input type="hidden" id="linefct_adm" value="<?= $this->linefacility["FEE_ADMIN"]; ?>" disabled>
	<input type="hidden" id="linefct_stamp" value="<?= $this->linefacility["FEE_STAMP"]; ?>" disabled>

	<!-- end linefacility -->

	<?php if (count($this->report_msg) > 0) { ?>
		<div class="alert alert-danger"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
	<?php } ?>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-11">
			<div class="row">
				<div class="col-md-9">
					<h5 style="margin-left: 15px;"><?= $this->language->_('Application for Issuance of Bank Guarantee') ?></h5>
				</div>
				<div class="col-md-3" style="float:right;display:none">
					<button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
				</div>
			</div>
			<form action="" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-3">
						<label class="textGray" style="margin-left: 15px;">Register Number</label>
					</div>
					<div class="col-md-3">
						<label style="
				    margin-left: 10px;
				">auto generate by system</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label class="textGray" style="margin-left: 15px;">eForm Subject</label>
					</div>

					<div class="col-sm-9">
						<?php echo $this->formText('subject', $this->subject, array('id' => 'subject', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;margin-left: 10px;width: 98%;')) ?>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label class="textGray" style="margin-left: 15px;">Branch Trade Service</label>
					</div>

					<div class="col-sm-9">
						<?php
						echo $this->formSelect('branch', $this->BRANCH, array('class' => 'form-control', 'style' => 'font-size:1.2em;margin-left: 10px;width: 98%;'), $this->branchArr);

						?>

					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
						</div>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label class="textGray">Company</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label class="textGray">NPWP</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->compinfo['CUST_NPWP']; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label class="textGray">Address</label>
								</div>
								<div class="col-sm-9">
									<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label class="textGray">City</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->compinfo['CITY_NAME']; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label class="textGray">Office Phone Number</label>
								</div>
								<div class="col-sm-9">
									<label><?= $this->compinfo['CUST_PHONE']; ?></label>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Contact Person<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<?php echo $this->formText('CUST_CP', $this->CUST_CP, array('id' => 'CUST_CP', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_CUST_CP" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Contact Number<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-4">
									<?php echo $this->formText('CUST_CONTACT_NUMBER', $this->CUST_CONTACT_NUMBER, array('id' => 'CUST_CONTACT_NUMBER', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_CUST_CONTACT_NUMBER" class="errmsg"></div>
								</div>
								<div class="col-sm-1">
									<label for="" class="textGray col-form-label">Email<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-4">
									<?php echo $this->formText('CUST_EMAIL', $this->CUST_EMAIL, array('id' => 'CUST_EMAIL', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_CUST_EMAIL" class="errmsg"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Type of Bank Guarantee') ?></h5>
						</div>
						<div style="padding-left:2%; padding-top:2px; display:none;">
							<label class="textGray"><strong class="formreq">
									<font color="red">&nbsp;*</font>
								</strong>There must be at least 1 purpose selected</label>
						</div>
						<div style="padding-left:2%; padding-top:2px;">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Type of Bank Guarantee<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">

									<select name="BG_PURPOSE" id="BG_PURPOSE" class="form-control" style="font-size:1.2em" onchange="checkpurpose();">
										<option value="">-- Choose One --</option>
										<?php
										foreach ($this->arrbgType as $k => $v) {
										?>
											<option value="<?= $k; ?>"><?= $v; ?></option>
										<?php
										}
										?>
									</select>
									<input type="text" name="others" id="others" value="<?php echo $this->others ?>" onkeyup="change()" class="form-control " style="margin-top: 7px;font-size: 1.2em;width: 91%!important;display:none;">
									<div id="error_BG_PURPOSE" class="errmsg"></div>
								</div>
							</div>

							<!--<div class="form-group row pt-2">
									<div class="col-sm-4">
										<label for=""><input type="checkbox" name="chkpurpose[]" value="1">&nbsp;Bidding Guarantee</label>
									</div>
									<div class="col-sm-4">
										<label for=""><input type="checkbox" name="chkpurpose[]" value="3">&nbsp;Performance Bond</label>
									</div>
									<div class="col-sm-4">
										<label for=""><input type="checkbox" name="chkpurpose[]" value="6">&nbsp;Payment Guarantee</label>
									</div>
									
								</div>
								<div class="form-group row">
									<div class="col-sm-4">
										<label for=""><input type="checkbox" name="chkpurpose[]" value="2">&nbsp;Advance Payment Guarantee</label>
									</div>
									<div class="col-sm-4">
										<label for=""><input type="checkbox" name="chkpurpose[]" value="4">&nbsp;Maintenance Guarantee</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-12"> 
										<label for=""><input type="checkbox" name="chkpurpose[]" id="checkothers" value="5" onclick="checkother()">&nbsp;Others</label>
									
																<input type="text" name="others" id="others" value="<?php echo $this->others ?>" onkeyup="change()" class="inputBorderless " style="font-size: 1.2em;width: 91%!important;display:none;">                
									</div>
								</div>-->
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?></h5>
						</div>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Bank Guarantee Nominal<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-7">
									<div class="input-group" id="">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<select name="currency_type" id="currency_type" style="box-shadow: none;font-size: 16px;font-weight: bold;" class="form-control" style="font-size:1.2em">
													<option value="1">IDR</option>
													<option value="2">USD</option>
												</select>
											</div>
										</div>

										<?php

										echo $this->formText("bank_amount", $this->bank_amount, array('id' => "bank_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "reverseFormatNumber(this)", 'onblur' => "numberWithCommas2(this.value,this.id);", "onkeypress" => "return forceCurrencyOCBC(event)"));
										?>
										<div id="error_bank_amount" class="errmsg"></div>
									</div>
								</div>
							</div>
							<div class="form-group row pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Time Period From<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9 form-inline" style="float:left">
									<input type='text' style="font-size:1.2em" class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;
									<input type='text' style="font-size:1.2em" class='form-control' name='updatedate[]' id='updateEnd' readonly required>
									<label class="textGray" id="daysTotal">&nbsp;</label>
									<?php echo $this->formHidden('totalday', $this->totalday, array('id' => 'totalday')); ?>
									<div id="error_updatedate" class="errmsg"></div>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Claim Period<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-8">
									<label class="textGray">max. <?= $this->maxCalendarLimit; ?> of calendar days from due date</label>
									<?php echo $this->formHidden('BG_CLAIM_PERIOD', $this->BG_CLAIM_PERIOD, array('id' => 'BG_CLAIM_PERIOD', 'readonly' => 'readonly', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;', 'placeholder' => '')) ?>
									<div id="error_BG_CLAIM_PERIOD" class="errmsg"></div>
								</div>
								<div class="col-sm-5">

								</div>
							</div>

						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Bank Guarantee Recipient') ?></h5>
						</div>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Recipient Name<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<?php echo $this->formText('recipent_name', $this->recipent_name, array('id' => 'recipent_name', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_recipent_name" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Address<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<?php echo $this->formText('address', $this->address, array('id' => 'address', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_address" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">City<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">

									<?php echo $this->formText('city', $this->city, array('id' => 'city', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_city" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Office Phone Number<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">

									<?php echo $this->formText('RECIPIENT_OFFICE_NUMBER', $this->RECIPIENT_OFFICE_NUMBER, array('id' => 'RECIPIENT_OFFICE_NUMBER', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_RECIPIENT_OFFICE_NUMBER" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Contact Person<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">

									<?php echo $this->formText('RECIPIENT_CP', $this->RECIPIENT_CP, array('id' => 'RECIPIENT_CP', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_RECIPIENT_CP" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Contact Number<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-4">
									<?php echo $this->formText('RECIPIENT_CONTACT', $this->RECIPIENT_CONTACT, array('id' => 'RECIPIENT_CONTACT', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_RECIPIENT_CONTACT" class="errmsg"></div>
								</div>
								<div class="col-sm-1">
									<label for="" class="textGray col-form-label">Email<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-4">
									<?php echo $this->formText('RECIPIENT_EMAIL', $this->RECIPIENT_EMAIL, array('id' => 'RECIPIENT_EMAIL', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_RECIPIENT_EMAIL" class="errmsg"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Guaranted Transactions') ?></h5>
						</div>
						<div style="padding-left:2%; padding-top:2px;">
							<label style="display:none;" class="textGray">(According to Tender Invitation, SPPBJ, SPK / Agreement, PO or others documents)</label>
							<!--<div class="form-group row" >
									<div class="col-sm-12">
										
										<?php
										echo $this->formTextarea('comment', $this->comment, array('cols' => '152', 'rows' => '4', 'maxlength' => '200', 'class' => 'form-control', 'style' => 'font-size:1.2em'));
										?>
									</div>	
									
								</div>
								<br/>-->
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Procurement of Goods/Services<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<?php echo $this->formText('SERVICE', $this->SERVICE, array('id' => 'SERVICE', 'size' => 40, 'maxlength' => 160, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_SERVICE" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Document Type<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<select name="GT_DOC_TYPE" id="GT_DOC_TYPE" class="form-control" style="font-size:1.2em">
										<option value="">-- Choose One --</option>
										<?php
										foreach ($this->arrbgdoc as $k => $v) {
										?>
											<option value="<?= $k; ?>"><?= $v; ?></option>
										<?php
										}
										?>
									</select>
									<div id="error_GT_DOC_TYPE" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Document Number<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-3">
									<?php echo $this->formText('GT_DOC_NUMBER', $this->GT_DOC_NUMBER, array('id' => 'GT_DOC_NUMBER', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
									<div id="error_GT_DOC_NUMBER" class="errmsg"></div>
								</div>
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Document Date<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-3">
									<input type='text' style="font-size:1.2em" class='form-control' name='GT_DOC_DATE' id='GT_DOC_DATE' readonly required>
									<div id="error_GT_DOC_DATE" class="errmsg"></div>
								</div>
							</div>


							<div class="form-group row pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Underlying Document<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<div class="file-upload underDocument">
										<div class="file-select">
											<div class="file-select-button" id="fileName">Choose File</div>
											<div class="file-select-name textBlack" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
											<input type="file" name="uploadSource" id="chooseFile">
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Counter Warranty') ?></h5>
						</div>
						<div style="padding-left:2%;padding-right: 2%;">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Counter Warranty Type</label>
								</div>
								<div class="col-sm-9">
									<select name="warranty_type" id="warranty_type" class="form-control" style="font-size:1.2em">
										<option value="">-- Choose One --</option>
										<?php
										foreach ($this->arrbgcg as $k => $v) {
										?>
											<option value="<?= $k; ?>"><?= $v; ?></option>
										<?php
										}
										?>

									</select>
								</div>
							</div>
							<!-- type1 -->
							<div id="wrType1">
								<input type="hidden" id="provision_fee_input" name="provision_fee_input">
								<input type="hidden" id="administration_fee_input" name="administration_fee_input">
								<input type="hidden" id="stamp_fee_input" name="stamp_fee_input">
								<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
									<thead>
										<tr height="45px">
											<th class="tablehead fth-header" style="background-color: #005587">Own Account </th>
											<th class="tablehead fth-header" style="background-color: #005587">Account Number</th>
											<th class="tablehead fth-header" style="background-color: #005587">Account Name</th>
											<th class="tablehead fth-header" style="background-color: #005587">Type</th>
											<th class="tablehead fth-header" style="background-color: #005587">Currency</th>
											<th class="tablehead fth-header" style="background-color: #005587">Nominal</th>
											<th class="tablehead fth-header" style="background-color: #005587">&nbsp;</th>

										</tr>
									</thead>
									<?php
									$arrOwn = array();
									$arrOwn[0]['id'] = '1';
									$arrOwn[0]['name'] = 'Y';
									$arrOwn[1]['id'] = '0';
									$arrOwn[1]['name'] = 'N';
									?>
									<tr>
										<td>
											<div class="form-group row">
												<select name="flselect_own[]" id="select_own" class="form-control" style="font-size:1.2em;width: 60%;margin-left: 15px;" onchange="setsource('select_account_number','flname','flselect_account_manual','flname_manual','select_own','icwarning')" required>
													<?php foreach ($arrOwn as $vl) { ?>
														<option value="<?php echo $vl['id']; ?>"><?php echo $vl['name']; ?></option>
													<?php } ?>
												</select>
												&nbsp;
												<i class='fas fa-exclamation-circle' style='color:red;display:none;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="Account owner must attach a signed power of attorney and lien. Template file can be found in Drop Box menu."></i>
											</div>
										</td>

										<td>
											<!--<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Number</label>
											</div>
											<div class="col-sm-9"> -->
											<?php
											echo $this->formText("flselect_account_manual[]", $this->flselect_account_manual, array('id' => "flselect_account_manual", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "display:none;text-align: left;font-size: 1.2em;"));
											?>
											<select name="flselect_account_number[]" id="select_account_number" class="form-control" style="font-size:1.2em" onchange="setname('flname','select_account_number')" required>
												<option value="">- select account -</option>
												<?php
												if ($this->systemType == "1") {
													foreach ($this->AccArr as $k => $v) {
												?>
														<option value="<?= $v["ACCT_NO"] ?>"><?= $val["ACCT_NO"] ?></option>
													<?php }
												} else if ($this->systemType == "2") {
													foreach ($this->sourceAcct as $key => $val) {
													?>
														<option value="<?= $val["ACCT_NO"] . "|" . $val["ACCT_NAME"] ?>"><?= $val["ACCT_NO"] ?></option>
													<?php
													}
												} else {
													foreach ($this->sourceAcct as $key => $val) {
													?>
														<option value="<?= $val["ACCT_NO"] . "|" . $val["ACCT_NAME"] ?>"><?= $val["ACCT_NO"]  ?></option>
													<?php }
													foreach ($this->AccArr as $k => $v) {
													?>
														<option value="<?= $v["ACCT_NO"] . "|" . $v["ACCT_NAME"] ?>" data-account="<?= $v["ACCT_NO"]; ?>" data-currency="<?= $v["CCY_ID"]; ?>" data-accttype="<?= $v["DESC"]; ?>"><?= $v["ACCT_NO"] ?></option>
												<?php }
												}
												?>

											</select>

											<select name="select_account_numberUSD" id="select_account_numberUSD" class="form-control" style="font-size:1.2em;display:none;">
												<?php
												if ($this->systemType == "1") {
													foreach ($this->AccArrUSD as $k => $v) {
												?>
														<option value="<?= $v["ACCT_NO"] . "|" . $v["ACCT_BANK"] ?>"><?= $v["ACCT_NO"] . " (USD) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
													<?php }
												} else if ($this->systemType == "2") {
													foreach ($this->sourceAcct as $key => $val) {
													?>
														<option value="<?= $val["ACCT_NO"] . "|" . $v["ACCT_BANK"] ?>"><?= $val["ACCT_NO"] . " (USD) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
													<?php
													}
												} else {
													foreach ($this->sourceAcct as $key => $val) {
													?>
														<option value="<?= $val["ACCT_NO"] . "|" . $v["ACCT_BANK"] ?>"><?= $val["ACCT_NO"] . " (USD) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
													<?php }
													foreach ($this->AccArrUSD as $k => $v) {
													?>
														<option value="<?= $v["ACCT_NO"] . "|" . $v["ACCT_BANK"] ?>"><?= $v["ACCT_NO"] . " (USD) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
												<?php }
												}
												?>
											</select>

											<!--<?php echo $this->formText('account_number', $this->account_number, array('id' => 'account_number', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;')) ?>
												
												<?php echo $this->formText('account_name', $this->account_name, array('id' => 'account_name', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;', 'placeholder' => '')) ?>-->
											<!--		</div>
									</div> -->
											<!--<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Name</label>
											</div>
											<div class="col-sm-9">
												
												
											</div>
									</div>-->
										</td>
										<td>
											<!--<div class="row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															<span id="spanCurramount_1">IDR</span>
															<span id="spanCurramount_2" style="display:none;">USD</span>
														</strong>
													</div>
												</div> -->
											<?php

											echo $this->formText("flname[]", $this->flname, array('id' => "flname", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', 'readonly' => 'readonly', "style" => "text-align: left;font-size: 1.2em;"));
											?>
											<select name="flname_manual[]" id="flname_manual" class="form-control" style="display:none;font-size:1.2em">
												<option value="">- select pengurus -</option>
												<?php
												foreach ($this->preliminaryMemberArr as $k => $v) {
												?>
													<option value="<?= $v["NAME"] ?>"><?= $v["NAME"] ?></option>
												<?php }	?>
											</select>
											<!--</div>
											</div>
									</div>
								</div> -->
										</td>
										<td>
											<label for="" class="textGray col-form-label acct-type">-</label>
										</td>
										<td>
											<label for="" class="textGray col-form-label counter-currency">-</label>
										</td>
										<td>
											<input type="text" name="flamount[]" id="flamount1" value="" maxlength="20" autocomplete="off" class="form-control" style="text-align: left;font-size: 1.2em;width: 90%" onfocus="reverseFormatNumber(this)" onblur="numberWithCommas2(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event)" required>

											<label class="form-label" id="validasiAmount1" style="color: red;font-size: 10px;text-align: right;display:none"></label>
											<span id="refreshBalance1"></span>
										</td>
										<td>
										</td>
									</tr>


								</table>
								<div class="row" style="width:100%"><span onclick="incrementValue()" style="width:100%;text-align:right;color:#007bff;cursor: pointer;text-decoration: underline;">+ Add</span></div>
							</div>
							<!-- type2 -->
							<div id="wrType2" style="display:none">
								<div id="listwr" style="width: 100%">
									<div id="wherelist-1">
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Plafond Owner</label>
											</div>
											<div class="col-sm-9">

												<?php echo $this->formText('owner1', $this->owner1, array('id' => 'owner1', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'readonly' => 'readonly', 'style' => 'font-size:1.2em;width:100%;float:left;', 'placeholder' => '')) ?>
												<!--<button type="button" class="btn-sm" id="removewhere" onclick="removeParent(this)" style="background-color: transparent;color: red;border-color: transparent;"><i class="fa fa-times"></i></button>-->
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<strong>
																<span id="spanCurramountowner1_1">IDR</span>
																<span id="spanCurramountowner1_2" style="display:none;">USD</span>
															</strong>
														</div>
													</div>
													<?php echo $this->formText('amountowner1_limit', number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")", array('id' => 'amountowner1_limit', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;float:left;', 'readonly' => 'readonly', 'placeholder' => '', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)")) ?>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Counter Nominal</label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<strong>
																<span id="spanCurramountowner1_1">IDR</span>
																<span id="spanCurramountowner1_2" style="display:none;">USD</span>
															</strong>
														</div>
													</div>
													<?php echo $this->formText('amountowner1', $this->amountowner1, array('id' => 'amountowner1', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;float:left;', 'readonly' => 'readonly', 'placeholder' => '')) ?>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">

											</div>
											<div class="col-sm-9">
												<label id="counter_nominal_limit" class="text-danger font-italic"></label>

											</div>
										</div>
									</div>
								</div>
								<input type="hidden" id="listctr" value="2" />
								<!--<button type="button" class="btn-sm btngrad hov" id='addlist' style="float:right" value="1">+ Add New</button>-->

							</div>
							<!-- type3 -->
							<div id="wrType3" style="display:none">
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Insurance Name</label>
									</div>
									<div class="col-sm-9">
										<div class="input-group input-group-sm">
											<?= $this->formSelect('insuranceName', "", array('class' => 'form-control', "id" => "insuranceName", "style" => "font-size:1.2em"), $this->simpanInsurance); ?>
											<!-- <select name="insuranceName" id="insuranceName" class="form-control" style="font-size:1.2em">
												<option value="">- select insurance-</option>
												<option value="ASKRINDO01">ASKRINDO</option>
												<option value="ASEI">ASEI</option>
												<option value="JASINDO">JASINDO</option>
												<option value="JAMKRINDO">JAMKRINDO</option>
												<option value="SINARMAS">SINARMAS</option>
												<option value="ACA">ACA</option>
												<option value="BOSOWA">BOSOWA</option>
												<option value="ASKRIDA">ASKRIDA</option>
												<option value="RAYA">RAYA</option>
												<option value="ASPAN">ASPAN</option>
											</select> -->
										</div>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Insurance Branch</label>
									</div>
									<div class="col-sm-9">
										<div class="input-group input-group-sm">
											<select name="insuranceBranch" id="insuranceBranch" class="form-control" style="font-size:1.2em">
												<option value="">-- Choose one --</option>


											</select>
											<!--<input type="text" name="insuranceName" id="insuranceName" class="form-control" value="<?php echo $this->insuranceName; ?>">
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>-->
										</div>
									</div>
								</div>
								<?php if (false) { ?>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-6" style="padding-right: 0px;">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															No.
														</strong>
													</div>
												</div>
												<?php echo $this->formText('PrincipalAgreement', $this->PrincipalAgreement, array('id' => 'PrincipalAgreement', 'size' => 40, 'maxlength' => 128, 'class' => 'form-control', 'style' => 'font-size:1.2em;', 'placeholder' => '')) ?>
												<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
											</div>
										</div>
									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label"></label>
										</div>
										<div class="col-sm-9 form-inline" style="float:left">
											<input type='text' style="font-size:1.2em" value="<?php echo $this->paDateStart; ?>" class='form-control' name='paDate[]' id='paDateStart' readonly required>&nbsp;s/d&nbsp;
											<input type='text' style="font-size:1.2em" value="<?php echo $this->paDateEnd; ?>" class='form-control' name='paDate[]' id='paDateEnd' readonly required>
										</div>
									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															<span id="spanCurrinsurance_amount_1">IDR</span>
															<span id="spanCurrinsurance_amount_2" style="display:none;">USD</span>
														</strong>
													</div>
												</div>
												<?php
												echo $this->formText("insurance_amount", $this->insurance_amount, array('id' => "insurance_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', 'readonly' => 'readonly', "style" => "text-align: left;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"));
												?>
											</div>
										</div>
									</div>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
				<script>
					function checkpurpose() {
						var e = document.getElementById("BG_PURPOSE");
						var purpose = e.value;
						if (purpose == 'F4299') {
							$('#others').show();
						} else {
							$('#others').hide();
						}
					}

					function setname(label, from) {

						var i = document.getElementById("count2").value;

						var x = document.getElementById(from).value;
						const dataAccount = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).getAttribute("data-account");

						const dataCurrency = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).getAttribute("data-currency");
						document.querySelector(`#${from}`).parentElement.parentElement.querySelector(".counter-currency").innerText = dataCurrency;

						const acctType = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).dataset.accttype;
						document.querySelector(`#${from}`).parentElement.parentElement.querySelector(".acct-type").innerText = acctType;

						if (acctType == "DEPOSITO") {
							/*const temp1 = document.querySelector(`#${from}`).parentElement.parentElement.querySelectorAll("input")[2];
							temp1.readOnly = true
							temp1.style.setProperty("width", `${temp1.parentElement.offsetWidth - 10 - 40}px`);
							temp1.classList.add("d-inline");
							const inquirybutton = document.querySelector(".inquiry-button"+i).cloneNode();
							inquirybutton.classList.remove("d-none");
							inquirybutton.appendChild(document.querySelector(".inquiry-button"+i).childNodes[1].cloneNode())

							const linkurl = document.createElement("a");
							linkurl.setAttribute("href", "javascript:;")
							linkurl.setAttribute("onclick", "inquiryDeposito('"+dataAccount+"','"+i+"')");
							linkurl.appendChild(inquirybutton);
							temp1.parentElement.appendChild(linkurl);*/

							temp1 = document.querySelector(`#${from}`).parentElement.parentElement.querySelectorAll("input")[2];
							temp1.readOnly = true
							temp1.value = "";
							temp1.style.setProperty("width", `90%`);
							temp1.classList.add("d-inline");
							$("#validasiAmount" + i).hide();
							$("#refreshBalance" + i).show();

							$("#refreshBalance" + i).html("<a href='javascript:;' id='refresh" + dataAccount + "' title='refresh' onclick='inquiryDeposito(" + dataAccount + "," + i + ")'><i class='fa fa-sync'></i></a><i class='fa fa-check' hidden></i>&nbsp;<img src='/images/logo/35.gif' id='load" + dataAccount + "' style='width: 13px;display:none'>")

						} else {
							const temp2 = document.querySelector(`#${from}`).parentElement.parentElement.querySelectorAll("input")[2];

							temp2.readOnly = false
							// temp2.style.removeProperty("width");
							temp2.value = "";
							temp2.classList.remove("d-inline");
							temp2.setAttribute("onblur", "inquiryAccountBalance('" + dataAccount + "','" + i + "'); numberWithCommas2(this.value,this.id);");

							$("#flamount" + i).val('');
							$("#refreshBalance" + i).hide();

							//temp2.nextElementSibling.remove();
						}

						const myArray = x.split("|");
						$('#' + label).val(myArray[1]);
					}

					function setsource(acct, name, manualinput, manualinputName, from, icon) {
						var x = document.getElementById(from).value;
						console.log(x);
						if (x == '0') {
							$('#' + acct).hide();
							$('#' + acct).removeAttr('required');
							$('#' + manualinput).val('');
							$('#' + manualinput).show();
							$('#' + manualinputName).show();
							//$('#'+name).attr('readonly', false);
							$('#' + name).val('');
							$('#' + name).hide();

							$('#' + icon).show();
						} else {
							$('#' + acct).show();
							$('#' + acct).attr('required');
							$('#' + manualinput).val('');
							$('#' + manualinputName).val('');
							$('#' + manualinput).hide();
							$('#' + manualinputName).hide();
							$('#' + name).show();
							$('#' + name).attr('readonly', true);
							$('#' + icon).hide();
						}
					}

					function incrementValue() {

						var getTableBody = document.querySelector("#fulltable").children[1];
						var elemCount = getTableBody.childElementCount;
						var alreadyChoose = [];
						var getSelectOwn
						var getSelectAccNumber

						if (elemCount == 1) {
							getSelectOwn = document.querySelector("#select_own")
							getSelectAccNumber = document.querySelector("#select_account_number")
						} else {
							getSelectOwn = document.querySelector("#select_own" + elemCount)
							getSelectAccNumber = document.querySelector("#select_account_number" + elemCount)
						}

						// cek sudah diisi atau belum
						if (getSelectOwn.value == 1) {
							if (getSelectAccNumber.value == "") {
								return alert("isi terlebih dahulu yang terakhir");
							}
						}

						getTableBody.childNodes.forEach(element => {
							if (element.hasChildNodes()) {
								alreadyChoose.push(element.querySelectorAll("select")[1].value)
							}
						});

						var cList = $('#counterList').val()

						$('#counterList').val(1 + (+cList))

						if (document.getElementById("count").value < 25) {
							document.getElementById('count').stepUp(1);
							document.getElementById('count2').stepUp(1);


							var count = document.getElementById("count").value;
							var i = document.getElementById("count2").value;
							//alert(i);
							if (i != 1) {
								// alert(count);
								var table = document.getElementById("fulltable");
								var row = table.insertRow(i);
								var cell1 = row.insertCell(0);
								var cell2 = row.insertCell(1);
								var cell3 = row.insertCell(2);
								var cell4 = row.insertCell(3);
								var cell5 = row.insertCell(4);
								var cell6 = row.insertCell(5);
								var cell7 = row.insertCell(6);

								cell1.innerHTML = "<div class='form-group row'><select name='flselect_own[]' id='select_own" + i + "' class='form-control' style='font-size:1.2em;width:60%;margin-left:15px' onchange='setsource(`select_account_number" + i + "`,`flname" + i + "`,`flselect_account_manual" + i + "`,`flname_manual" + i + "`,`select_own" + i + "`,`icwarning" + i + "`)' required><option value='1'>Y</option><option value='0'>N</option></select>&nbsp;<i class='fas fa-exclamation-circle' style='color:red;display:none;font-size:25px' id='icwarning" + i + "'  data-toggle='tooltip' data-placement='top' title='Account owner must attach a signed power of attorney and lien. Template file can be found in Drop Box menu.'></i></div>";

								cell2.innerHTML = "<select name='flselect_account_number[]' id='select_account_number" + i + "' class='form-control' onchange='setname(`flname" + i + "`,`select_account_number" + i + "`)' style='font-size:1.2em' required></select><input type='text' name='flselect_account_manual[]' id='flselect_account_manual" + i + "' value='' autocomplete='off' class='form-control' style='display:none;text-align: left; font-size: 1.2em;'>";
								var newSelect = $("#select_account_number option").clone();

								//newSelect.val("");

								var selectid = '#select_account_number' + i;

								//$('#select1 option').clone().appendTo('#select2');
								//console.log(selectid);
								//console.log(newSelect);
								$(selectid).append(newSelect);
								cell3.innerHTML = "<input type='text' name='flname[]' id='flname" + i + "' maxlength='20' autocomplete='off' class='form-control' readonly='readonly' style='text-align: left;font-size: 1.2em;' required> <select name='flname_manual[]' id='flname_manual" + i + "' class='form-control' style='display:none;text-align: left; font-size: 1.2em;'></select>";

								var newflname_manual = $("#flname_manual option").clone();
								var flname_manual = '#flname_manual' + i;
								$(flname_manual).append(newflname_manual);

								cell4.innerHTML = "<label for='' class='textGray col-form-label acct-type'>-</label>";
								cell5.innerHTML = "<label for='' class='textGray col-form-label counter-currency'>-</label>";
								cell6.innerHTML = "<input type='text' name='flamount[]' id='flamount" + i + "' value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: left;font-size: 1.2em;width: 90%' onfocus='reverseFormatNumber(this)' onblur='numberWithCommas2(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event)' required> <label class='form-label' id='validasiAmount" + i + "' style='color: red;font-size: 10px;text-align: right;display:none'></label><span id='refreshBalance" + i + "'></span>";
								$('[data-toggle="tooltip"]').tooltip();

								var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow(this)'><i class='fa fa-times'></i></button>";
								cell7.innerHTML = delbtncheck;
							}
							// alert(j);
							// table.rows[j].deleteCell(3);  


						}

						alreadyChoose.forEach(e => {
							if (getTableBody.lastChild.querySelector(`option[value="${e}"]`) != null) {
								getTableBody.lastChild.querySelector(`option[value="${e}"]`).style.display = "none"
							}
						});

						document.querySelectorAll("select[name='flselect_account_number[]']").forEach((elem) => {
							let getOldValue
							elem.addEventListener("focus", () => {
								getOldValue = elem.value
							})
							elem.addEventListener("change", () => {
								elem.blur()
								alreadyChoose.push(elem.value)
								alreadyChoose = alreadyChoose.filter(function(item) {
									return item != getOldValue
								})

								document.querySelectorAll("select[name='flselect_account_number[]']").forEach((element) => {
									element.querySelector(`option[value="${getOldValue}"]`).style.display = "block"
									alreadyChoose.forEach((x) => {
										if (element.value != x) {
											if (element.querySelector(`option[value="${x}"]`) != null) {
												element.querySelector(`option[value="${x}"]`).style.display = "none"
											}
										}
									})
								})
							})
						})
					}

					function removerow(element) {
						if (document.getElementById("count").value >= 0) {
							var table = document.getElementById("fulltable");

							let getValue = element.parentElement.parentElement.querySelector("select[name='flselect_account_number[]']").value

							var table = document.getElementById("fulltable");

							document.querySelectorAll("select[name='flselect_account_number[]']").forEach((e) => {
								e.querySelector(`option[value="${getValue}"]`).style.display = "block"
							})

							var ibefore = document.getElementById("count2").value;
							table.deleteRow(ibefore);

							document.getElementById('count').stepDown(1);
							document.getElementById('count2').stepDown(1);
							// alert(ibefore)
							document.getElementById('countdel').stepDown(1);

							//tambah delete button di row sebelumnya
							var iafter = document.getElementById("count2").value;
							console.log(iafter)

						}
					}
				</script>

				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<div class="row">
								<div class="col-md-8">
									<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?></h5>
								</div>
								<div class="col-md-4">
									<a style="float:right;padding-right: 5px;" onClick="provisionModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
								</div>
							</div>
						</div>
						<?php
						$total = 1;
						?>
						<input type="number" name="counterList" id="counterList" value="0" style="visibility:hidden;">
						<input type="number" id="count2" value="<?php echo $total ?>" style="visibility:hidden;">
						<input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden;">
						<div style="padding-left:2%;margin-top: -25px;">
							<div class="form-group row pt-2 pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div id="insurance-type1" class="col-sm-9">
									<div class="">
										<select name="acct" id="acct" class="form-control" style="font-size:1.2em">
											<?php
											if ($this->systemType == "1") {
												foreach ($this->AccArr as $k => $v) {
											?>
													<option value="<?= $v["ACCT_NO"] ?>"><?= $v["ACCT_NO"] . " (IDR) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
												<?php }
											} else if ($this->systemType == "2") {
												foreach ($this->sourceAcct as $key => $val) {
												?>
													<option value="<?= $val["ACCT_NO"] ?>"><?= $val["ACCT_NO"] . " (IDR) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
												<?php
												}
											} else {
												foreach ($this->sourceAcct as $key => $val) {
												?>
													<option value="<?= $val["ACCT_NO"] ?>"><?= $val["ACCT_NO"] . " (IDR) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
												<?php }
												foreach ($this->AccArr as $k => $v) {
												?>
													<option value="<?= $v["ACCT_NO"] ?>"><?= $v["ACCT_NO"] . " (IDR) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
											<?php }
											}
											?>
										</select>

										<select name="acctUSD" id="acctUSD" class="form-control" style="font-size:1.2em; display:none;">
											<?php
											if ($this->systemType == "1") {
												foreach ($this->AccArrUSD as $k => $v) {
											?>
													<option value="<?= $v["ACCT_NO"] ?>"><?= $v["ACCT_NO"] . " (USD) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
												<?php }
											} else if ($this->systemType == "2") {
												foreach ($this->sourceAcct as $key => $val) {
												?>
													<option value="<?= $val["ACCT_NO"] ?>"><?= $val["ACCT_NO"] . " (USD) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
												<?php
												}
											} else {
												foreach ($this->sourceAcct as $key => $val) {
												?>
													<option value="<?= $val["ACCT_NO"] ?>"><?= $val["ACCT_NO"] . " (USD) " . " / " . $val["ACCT_BANK"] . " / " . $val["ACCT_NAME"] ?></option>
												<?php }
												foreach ($this->AccArrUSD as $k => $v) {
												?>
													<option value="<?= $v["ACCT_NO"] ?>"><?= $v["ACCT_NO"] . " (USD) " . " / " . $v["ACCT_BANK"] . " / " . $v["ACCT_NAME"] ?></option>
											<?php }
											}
											?>
										</select>
									</div>
								</div>
								<div id="insurance-type2" class="pl-3" style="display: none;">
									<div>
										<label for="" class="font-weight-bold" id="getInsuranceName"></label>
									</div>
								</div>
							</div>
							<div id="choice_counter_warranty"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Format and Language') ?></h5>
						</div>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Publishing Form<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-9">
									<select name="BG_PUBLISH" id="BG_PUBLISH" class="form-control" style="font-size:1.2em">
										<option value="">-- Choose One --</option>
										<?php
										foreach ($this->arrbgpublish as $k => $v) {
										?>
											<option value="<?= $k; ?>"><?= $v; ?></option>
										<?php
										}
										?>
									</select>
									<div id="error_BG_PUBLISH" class="errmsg"></div>
								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Bank Guarantee Format<strong class="formreq">
											<font color="red">&nbsp;*</font>
										</strong></label>
								</div>
								<div class="col-sm-3">
									<label class="textGray"><input type="radio" name="bankFormat" checked value="1">&nbsp;Bank Standard</label>
								</div>
								<div class="col-sm-4">
									<label class="textGray"><input type="radio" name="bankFormat" value="2">&nbsp;Special Format (with bank approval)</label>
								</div>
							</div>
							<div id="specialFormat" style="display:none;">
								<div class="form-group row pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Sample Format (format .doc)<font color="red">&nbsp;*</font></label>
									</div>
									<div class="col-sm-9">
										<div class="file-upload">
											<div class="file-select">
												<div class="file-select-button">Choose File</div>
												<div class="file-select-name textBlack"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
												<input type="file" name="specialFormatFile" id="specialFormatFile">
											</div>
										</div>
									</div>
								</div>
							</div>



							<div id="bahasa">
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Language<strong class="formreq">
												<font color="red">&nbsp;*</font>
											</strong></label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="language" checked value="1">&nbsp;Indonesian</label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="language" value="2">&nbsp;English</label>
									</div>
									<div class="col-sm-3">
										<label class="textGray"><input type="radio" name="language" value="3">&nbsp;Billingual</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Others Attachment Documents') ?></h5>
						</div>
						<div style="padding-left:2%">
							<div class="allAttachment">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Attachment<strong class="formreq">
											</strong></label>
									</div>
									<div class="col-sm-8">
										<div class="file-upload">
											<div class="file-select">
												<div class="file-select-button" id="fileName">Choose File</div>
												<div class="file-select-name textBlack"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
												<input type="file" name="othersAttachment[]" class="othersAttachment" accept=".png,.jpg,.jpeg,.pdf">
											</div>
										</div>
										<div id="error_BG_PUBLISH" class="errmsg"></div>
									</div>
									<div class="col-sm-1 d-flex justify-content-center align-items-center">
										<button type="button" class="btn btn-sm btn-danger removeAttachment"><i class="fa fa-times"></i></button>
									</div>
								</div>
							</div>
							<div class="text-right mt-2 addAttachment">
								<a href="javascript:void(0)" id="addAttachment">+ Add</a>
							</div>
							<br>
							<label for=""><input type="checkbox" name="chkpremi" id="chkpremi" value="">&nbsp;The Preliminary Document is all set. <a href="javascript:void(0)" onclick="javascript:openwindow('/preliminary/index/index/view/1',900,600);"><u>Check Documents</u></a></label>
							<br>
							<label for=""><input type="checkbox" name="chkterms" id="chkterms" value="" disabled>&nbsp;I Accept. <a href="javascript:void(0);" data-toggle="modal" data-target="#tocModal"><u>Terms & Conditions</u></a></label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" align="center">
						<input class="btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/eform'" type="button">&nbsp;
						<input type="submit" name="submit" id="submit" value="Confirm" class="btngreen hov disabled" disabled>
					</div>
				</div>
			</form>

		</div>
	</div>

	<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Terms and Conditions') ?></h4>
				</div>
				<div class="modal-body">
					<div style="height: 410px;overflow: scroll;">
						<?php

						if ($sessionLanguage == 'id') {
							echo $this->toc_ind;
						} else {
							echo $this->toc_eng;
						}

						?>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<label class="textBlack">Provision Fee 1% from BG Nominal</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="textBlack">Administration Fee IDR 500,000</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if (count($this->report_msg) == "") { ?>
	<div class="modal fade show" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 19px;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<!-- <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Header</h4>
			</div> -->
				<div class="modal-body">
					<div class="alert alert-warning text-center" role="alert">
						Company Preliminary Document last updated on <br> <?= $this->lastApproved . ' (by ' . $this->lastApprovedBy . ')'; ?>
					</div>
					<p class="text-center">Is your company's Preliminary Document up to date ?</p>
				</div>
				<div class="modal-footer">
					<a href="/preliminary"><button type="button" class="btnwhite hov">Update</button></a>
					<button type="button" class="btngreen hov" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
<?php } ?>


<svg xmlns="http://www.w3.org/2000/svg" class="inquiry-button1 d-none" style="width: 1.5rem;height:1.5rem;" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
	<path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
</svg>

<!--<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>-->
<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>

<script>
	function provisionModal() {
		$('#provisionModal').modal('show');
	}

	function daysInYear(year) {
		return ((year % 4 === 0 && year % 100 > 0) || year % 400 == 0) ? 366 : 365;
	}

	function checkother() {
		var checkBox = document.getElementById("checkothers");
		var others = document.getElementById("others");
		if (checkBox.checked == true) {
			others.style.display = "block";
		} else {
			others.style.display = "none";
		}
	}

	function setData(startDate, EndDate, Amount) {

		$("#paDateStart").val(startDate);
		$("#paDateEnd").val(EndDate);

		var warranty_type = $("#warranty_type").val();
		if (warranty_type === "1") {
			$("#amount").val(Amount);
		} else if (warranty_type === "2") {
			$("#amountowner1").val(Amount);
		} else if (warranty_type === "3") {
			$("#insurance_amount").val(Amount);
		}

	}

	function openInsurance() {

		var insuranceName = $("#insuranceName").val();
		var PrincipalAgreement = $("#PrincipalAgreement").val();
		var bank_amount = $("#bank_amount").val();

		var currency_type = $("#currency_type").val();

		if (currency_type === "1") {
			$.session.delete("currency_type");
			$.session.set("currency_type", "IDR");

		} else {
			$.session.delete("currency_type");
			$.session.set("currency_type", "USD");
		}

		var PolicyHolder = '<?php echo $this->compinfo['CUST_NAME']; ?>';

		var updateStart = $("#updateStart").val();

		var updateEnd = $("#updateEnd").val();

		$.session.delete("InsuranceName");
		$.session.set("InsuranceName", insuranceName);

		$.session.delete("PrincipalAgreement");
		$.session.set("PrincipalAgreement", PrincipalAgreement);

		$.session.delete("PolicyHolder");
		$.session.set("PolicyHolder", PolicyHolder);

		$.session.delete("bank_amount");
		$.session.set("bank_amount", bank_amount);

		$.session.delete("updateStart");
		$.session.set("updateStart", updateStart);

		$.session.delete("updateEnd");
		$.session.set("updateEnd", updateEnd);

		(new showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'insurancepopup', 'action' => 'index'), null, true) ?>', 750));

	}

	$(document).ready(function() {
		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		})
		//pengaturan error messages
		<?php
		foreach ($this->report_msg as $key => $error) {
		?>
			$('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
		<?php
		}
		?>

		<?php
		foreach ($this->valid as $key => $value_valid) {
		?>
			$('#<?php echo $key; ?>').val('<?php echo $value_valid; ?>');
		<?php
		}
		?>

		document.querySelector("#insuranceName").addEventListener("change", (event) => {
			$.ajax({
				url: "<?= $this->url(array('module' => 'eform', 'controller' => 'bg', 'action' => 'insurancebranch'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					custid: event.target.value
				},
				success: function(data) {
					// console.log(data)
					$("#insuranceBranch").html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
		})

		document.querySelector("#submit").addEventListener("click", (event) => {
			if (document.querySelector("#warranty_type").value === '1') {
				const get_all_amount = document.querySelectorAll("input[name='flamount[]']");
				let total = 0;
				for (let index = 0; index < get_all_amount.length; index++) {
					total += parseFloat(document.querySelectorAll("input[name='flamount[]']")[index].value.replace(/,/g, ""));
				}

				if (total < parseFloat(document.querySelector("#bank_amount").value.replace(/,/g, ""))) {
					event.preventDefault();
					alert("Error: the counter amount must be equal to or more than the BG amount, please add more");
				}

				if (document.querySelector("#warranty_type").value == "3") {
					if (document.querySelector("#insuranceName").value == "-") {
						event.preventDefault();
						alert("Anda belum memilih insurance name")
					}
					if (document.querySelector("#insuranceBranch").value == "-") {
						event.preventDefault();
						alert("Anda belum memilih insurance branch")
					}
				}
			}
		})


		/*var currencies = [{"value":"ASKRINDO","ASURANSI_NAME":"ASKRINDO"},{"value":"ASEI","ASURANSI_NAME":"ASEI"},{"value":"JASINDO","ASURANSI_NAME":"JASINDO"},{"value":"JAMKRINDO","ASURANSI_NAME":"JAMKRINDO"},{"value":"SINARMAS","ASURANSI_NAME":"SINARMAS"},{"value":"ACA","ASURANSI_NAME":"ACA"},{"value":"BOSOWA","ASURANSI_NAME":"BOSOWA"},{"value":"ASKRIDA","ASURANSI_NAME":"ASKRIDA"},{"value":"RAYA","ASURANSI_NAME":"RAYA"},{"value":"ASPAN","ASURANSI_NAME":"ASPAN"}];
	
	$('#insuranceName').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
      // var content = '<strong>화폐명:</strong> ' + suggestion.value + ' <br> <strong>기호:</strong> ' + suggestion.data;
	
      // $('#outputcontent').html(content);
      // document.getElementById('COMPANY_NAME').value
      $('#insuranceName').val(suggestion.ASURANSI_NAME);
      //$('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
	  //$('#linkshow1').hide();
	  //$('#linkshow2').show();
    }
  });*/

		const id_for_cash_collateral = ["#bank_amount", "#updateStart", "#updateEnd"];
		id_for_cash_collateral.forEach((id_element) => {
			if (id_element = "#bank_amount") {
				document.querySelector(id_element).addEventListener("keydown", (e) => {
					setTimeout(() => {
						var chkpremi = $("input[name='chkpremi']:checkbox");
						var chkterms = $("input[name='chkterms']:checkbox");
						let counter_warranty = document.querySelector("#warranty_type");

						if ($('#warranty_type').val() == '2') {
							if (parseFloat($('#amountowner1_limit').val().replace(/,/g, '')) >= parseFloat(e.srcElement.value.replace(/,/g, ''))) {
								if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
									$('#submit').prop('disabled', false);
									$('#submit').removeClass('disabled');
									document.querySelector("#counter_nominal_limit").textContent = ""
								} else {
									$('#submit').prop('disabled', true);
									$('#submit').addClass('disabled');
									document.querySelector("#counter_nominal_limit").textContent = ""
								}
							} else {
								$('#submit').prop('disabled', true);
								$('#submit').addClass('disabled');
								document.querySelector("#counter_nominal_limit").textContent = "The available limit is not sufficient"
							}
						} else {
							if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
								$('#submit').prop('disabled', false);
								$('#submit').removeClass('disabled');
							} else {
								$('#submit').prop('disabled', true);
								$('#submit').addClass('disabled');
							}
						}
					}, 100);
				})
			}
			document.querySelector(id_element).addEventListener("blur", () => {
				// hitung cash collateral
				if (document.body.contains(document.querySelector("#provision_fee"))) {
					let formatter_money = new Intl.NumberFormat("EN", {
						minimumFractionDigits: 2,
						maximumFractionDigits: 2,
					});
					const get_warranty_type = document.querySelector("#warranty_type").value;
					if (get_warranty_type == '1') {
						var provision_admin = document.querySelector("#charges_adm").value;
						var provision_stamp = document.querySelector("#charges_stamp").value;
						var provision_percetage = document.querySelector("#charges_pct").value;
					} else if (get_warranty_type == '2') {
						var provision_admin = document.querySelector("#linefct_adm").value;
						var provision_stamp = document.querySelector("#linefct_stamp").value;
						var provision_percetage = document.querySelector("#linefct_pct").value;
					}
					setTimeout(() => {
						document.querySelector("#administration_fee").textContent = formatter_money.format(provision_admin)
						document.querySelector("#administration_fee_input").value = formatter_money.format(provision_admin)
						document.querySelector("#stamp_fee").textContent = formatter_money.format(provision_stamp)
						document.querySelector("#stamp_fee_input").value = formatter_money.format(provision_stamp)
						if (document.querySelector("#bank_amount").value != "" && document.querySelector("#updateStart").value != "" && document.querySelector("#updateEnd").value != "") {
							let start = new Date($('#updateStart').val());
							let end = new Date($('#updateEnd').val());
							let total_day = ((end - start) / (1000 * 60 * 60 * 24)) + 1;

							const total_provision_fee = parseFloat(((document.querySelector("#bank_amount").value.replace(/,/g, '') * provision_percetage.replace(/,/g, '')) / 100) * (total_day / daysInYear(date.getFullYear)))
							document.querySelector("#provision_fee").textContent = formatter_money.format(total_provision_fee)
							document.querySelector("#provision_fee_input").value = formatter_money.format(total_provision_fee)
						} else {
							document.querySelector("#provision_fee").textContent = "-"
						}
					}, 1000);
				}
			})
		})
		$('#wrType1').hide()
		$('#wrType2').hide()
		$('#wrType3').hide()

		$('#chooseFile').bind('change', function() {
			var filename = $("#chooseFile").val();
			if (/^\s*$/.test(filename)) {
				$(".underDocument").removeClass('active');
				$("#noFile").text("No file chosen...");
			} else {
				$(".underDocument").addClass('active');
				$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
			}
		});

		$('#chooseFile2').bind('change', function() {
			var filename = $("#chooseFile2").val();
			if (/^\s*$/.test(filename)) {
				$(".file-upload").removeClass('active');
				$("#noFile2").text("No file chosen...");
			} else {
				$(".file-upload").addClass('active');
				$("#noFile2").text(filename.replace("C:\\fakepath\\", ""));
			}
		});

		const setFileName = () => {
			document.querySelectorAll(".othersAttachment").forEach(element => {
				let previousSibling = element.previousElementSibling;
				element.addEventListener("change", () => {

					if (!window.FileReader) { // This is VERY unlikely, browser support is near-universal
						console.log("The file API isn't supported on this browser yet.");
						return;
					}

					var input = element;
					if (!input.files) { // This is VERY unlikely, browser support is near-universal
						console.error("This browser doesn't seem to support the `files` property of file inputs.");
					} else if (!input.files[0]) {
						console.log("Please select a file before clicking 'Load'");
					} else {
						var file = input.files[0];
						if (file.size > 1048576) {
							input.value = "";
							previousSibling.parentElement.parentElement.classList.remove("active");
							previousSibling.textContent = "No file choosen...";
							return alert("Your file size more than 1 MB, it should be lower than 1 MB")
						}
						if (file.type != "image/png" && file.type != "image/jpeg" && file.type != "application/pdf") {
							input.value = "";
							previousSibling.parentElement.parentElement.classList.remove("active");
							previousSibling.textContent = "No file choosen...";
							return alert("Your file type is not supported. Supported file (png, jpg, jpeg, pdf)")
						}
						if (/^\s*$/.test(element.value)) {
							previousSibling.parentElement.parentElement.classList.remove("active");
							previousSibling.textContent = "No file choosen...";
						} else {
							previousSibling.parentElement.parentElement.classList.add("active");
							previousSibling.textContent = element.value.replace("C:\\fakepath\\", "");
						}
					}
				})
			});
		};

		setFileName();

		let getAllAttachment = document.querySelector(".allAttachment");
		const removeAttachment = () => {
			document.querySelectorAll(".removeAttachment").forEach(element => {
				element.addEventListener("click", () => {
					element.parentElement.parentElement.remove();
					let countElementExist = getAllAttachment.childElementCount;
					document.querySelector("#addAttachment").style.display = "block";
				})
			});
		};

		removeAttachment();

		document.querySelector("#addAttachment").addEventListener("click", () => {
			let countElementExist = getAllAttachment.childElementCount;
			if (countElementExist == 5) {
				return 0;
			}
			getAllAttachment.insertAdjacentHTML('beforeend', '<div class="form-group row pt-2"> <div class="col-sm-3"> <label for="" class="textGray col-form-label">Attachment<strong class="formreq"> </strong></label> </div> <div class="col-sm-8"> <div class="file-upload"> <div class="file-select"> <div class="file-select-button" id="fileName">Choose File</div> <div class="file-select-name textBlack"><?php echo $this->language->_('Upload Your File Here...'); ?></div> <input type="file" class="othersAttachment" name="othersAttachment[]" accept=".png,.jpg,.jpeg,.pdf"> </div> </div> <div id="error_BG_PUBLISH" class="errmsg"></div> </div> <div class="col-sm-1 d-flex justify-content-center align-items-center"> <button type="button" class="btn btn-sm btn-danger removeAttachment"><i class="fa fa-times"></i></button> </div> </div>')

			if (countElementExist + 1 == 5) {
				document.querySelector("#addAttachment").style.display = "none";
			}
			removeAttachment();
			setFileName();
		});

		<?php if (count($this->report_msg) == "") { ?>
			// show modal at the first time
			$(function() {
				$("#warning").modal({
					backdrop: 'static',
					keyboard: false
				});
			});

			$('#warning').on('shown.bs.modal', function() {
				$('.blur').css({
					"filter": "blur(10px)"
				});
			}).on('hidden.bs.modal', function() {
				$('.blur').css({
					"filter": ""
				});
			})
			// end show modal at the first time
		<?php } ?>

		$('#updateStart').datepicker({
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		$('#updateEnd').datepicker({
			minDate: function() {
				var val = document.getElementById('updateStart').value;
				var dateend = new Date(val);
				dateend.setDate(dateend.getDate());
				return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		$('#GT_DOC_DATE').datepicker({
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		$('#paDateStart').datepicker({
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		$('#paDateEnd').datepicker({
			minDate: function() {
				var val = document.getElementById('paDateStart').value;
				var dateend = new Date(val);
				dateend.setDate(dateend.getDate());
				return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
			},
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		$('#currency_type').change(function() {
			var value = $(this).val();
			//console.log(value);
			if (value === "1") {
				$('#spanCurrinsurance_amount_1').show()
				$('#spanCurrinsurance_amount_2').hide()

				$('#spanCurramount_1').show()
				$('#spanCurramount_2').hide()

				$('#spanCurramountowner1_1').show()
				$('#spanCurramountowner1_2').hide()

				$('#select_account_number').show()
				$('#select_account_numberUSD').hide()

				$('#acct').show()
				$('#acctUSD').hide()



			} else if (value === "2") {

				$('#spanCurrinsurance_amount_2').show()
				$('#spanCurrinsurance_amount_1').hide()

				$('#spanCurramount_2').show()
				$('#spanCurramount_1').hide()

				$('#spanCurramountowner1_2').show()
				$('#spanCurramountowner1_1').hide()

				$('#select_account_numberUSD').show()
				$('#select_account_number').hide()

				$('#acctUSD').show()
				$('#acct').hide()
			}
		});

		$('#warranty_type').change(function() {
			var value = $(this).val();
			//console.log(value);
			if (value === "2") {
				$('#wrType1').hide()
				$('#wrType2').show()
				$('#wrType3').hide()
				document.querySelectorAll("[name='flamount[]']").forEach((element) => {
					element.required = false;
				});
				$('#select_account_number').attr('required');
				document.querySelectorAll("[name='flselect_account_number[]']").forEach((element) => {
					element.required = false;
				});
				$('#choice_counter_warranty').html('<div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Bank Provision Fee</label></div><div class="col-sm-9"><label>' + document.querySelector("#linefct_pct").value + '% (IDR <span id="provision_fee"></span>)</label></div></div><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Bank Administration Fee</label></div><div class="col-sm-9"><label>IDR <span id="administration_fee"></span></label></div></div><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Bank Stamp Fee</label></div><div class="col-sm-9"><label>IDR <span id="stamp_fee"></span></label></div></div>');

				if (document.body.contains(document.querySelector("#provision_fee"))) {
					// hitung provision fee dari cash collateral
					let formatter_money = new Intl.NumberFormat("EN", {
						minimumFractionDigits: 2,
						maximumFractionDigits: 2,
					});
					const get_warranty_type = document.querySelector("#warranty_type").value;

					var provision_admin = document.querySelector("#linefct_adm").value;
					var provision_stamp = document.querySelector("#linefct_stamp").value;
					var provision_percetage = document.querySelector("#linefct_pct").value;

					setTimeout(() => {
						document.querySelector("#administration_fee").textContent = formatter_money.format(provision_admin)
						document.querySelector("#administration_fee_input").value = formatter_money.format(provision_admin)
						document.querySelector("#stamp_fee").textContent = formatter_money.format(provision_stamp)
						document.querySelector("#stamp_fee_input").value = formatter_money.format(provision_stamp)
						if (document.querySelector("#bank_amount").value != "" && document.querySelector("#updateStart").value != "" && document.querySelector("#updateEnd").value != "") {
							let start = new Date($('#updateStart').val());
							let end = new Date($('#updateEnd').val());
							let total_day = ((end - start) / (1000 * 60 * 60 * 24)) + 1;

							const total_provision_fee = parseFloat(((document.querySelector("#bank_amount").value.replace(/,/g, '') * provision_percetage.replace(/,/g, '')) / 100) * (total_day / daysInYear(date.getFullYear)))
							document.querySelector("#provision_fee").textContent = formatter_money.format(total_provision_fee)
							document.querySelector("#provision_fee_input").value = formatter_money.format(total_provision_fee)
						} else {
							document.querySelector("#provision_fee").textContent = "-"
						}
					}, 1000);

				}
			} else if (value === "3") {
				$('#wrType1').hide()
				$('#wrType2').hide()
				$('#wrType3').show()
				// $('#select_account_number').removeAttr('required');
				document.querySelectorAll("[name='flamount[]']").forEach((element) => {
					element.required = false;
				});
				$('#select_account_number').attr('required');
				document.querySelectorAll("[name='flselect_account_number[]']").forEach((element) => {
					element.required = false;
				});
				$('#choice_counter_warranty').html('<div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Total Fee</label></div><div class="col-sm-9"><label>(as determined by insurance)</label></div></div>');

				document.querySelector("#administration_fee_input").value = "";
				document.querySelector("#stamp_fee_input").value = "";
				document.querySelector("#provision_fee_input").value = "";

			} else if (value === "1") {
				$('#wrType1').show()
				$('#wrType2').hide()
				$('#wrType3').hide()
				$('#select_account_number').attr('required');
				document.querySelectorAll("[name='flamount[]']").forEach((element) => {
					element.required = true;
				});
				$('#select_account_number').attr('required');
				document.querySelectorAll("[name='flselect_account_number[]']").forEach((element) => {
					element.required = true;
				});
				$('#choice_counter_warranty').html('<div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Bank Provision Fee</label></div><div class="col-sm-9"><label>' + document.querySelector("#charges_pct").value + '% (IDR <span id="provision_fee"></span>)</label></div></div><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Bank Administration Fee</label></div><div class="col-sm-9"><label>IDR <span id="administration_fee"></span></label></div></div><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Bank Stamp Fee</label></div><div class="col-sm-9"><label>IDR <span id="stamp_fee"></span></label></div></div>');

				if (document.body.contains(document.querySelector("#provision_fee"))) {
					// hitung provision fee dari cash collateral
					let formatter_money = new Intl.NumberFormat("EN", {
						minimumFractionDigits: 2,
						maximumFractionDigits: 2,
					});
					const get_warranty_type = document.querySelector("#warranty_type").value;

					var provision_admin = document.querySelector("#charges_adm").value;
					var provision_stamp = document.querySelector("#charges_stamp").value;
					var provision_percetage = document.querySelector("#charges_pct").value;

					setTimeout(() => {
						document.querySelector("#administration_fee").textContent = formatter_money.format(provision_admin)
						document.querySelector("#administration_fee_input").value = formatter_money.format(provision_admin)
						document.querySelector("#stamp_fee").textContent = formatter_money.format(provision_stamp)
						document.querySelector("#stamp_fee_input").value = formatter_money.format(provision_stamp)
						if (document.querySelector("#bank_amount").value != "" && document.querySelector("#updateStart").value != "" && document.querySelector("#updateEnd").value != "") {
							let start = new Date($('#updateStart').val());
							let end = new Date($('#updateEnd').val());
							let total_day = ((end - start) / (1000 * 60 * 60 * 24)) + 1;

							const total_provision_fee = parseFloat(((document.querySelector("#bank_amount").value.replace(/,/g, '') * provision_percetage.replace(/,/g, '')) / 100) * (total_day / daysInYear(date.getFullYear)))
							document.querySelector("#provision_fee").textContent = formatter_money.format(total_provision_fee)
							document.querySelector("#provision_fee_input").value = formatter_money.format(total_provision_fee)
						} else {
							document.querySelector("#provision_fee").textContent = "-"
						}
					}, 1000);

				}
			} else {
				$('#wrType1').hide()
				$('#wrType2').hide()
				$('#wrType3').hide()
				document.querySelectorAll("[name='flamount[]']").forEach((element) => {
					element.required = false;
				});
				$('#select_account_number').attr('required');
				document.querySelectorAll("[name='flselect_account_number[]']").forEach((element) => {
					element.required = false;
				});
				$('#choice_counter_warranty').html('');
			}
		});

		$('#insuranceName').change(() => {
			let get_value = $("#insuranceName").val();
			if (get_value == 'SINARMAS') {
				$('#insurance-type2').show();
				$('#insurance-type1').hide();
				document.querySelector("#getInsuranceName").textContent = document.querySelector("#insuranceName").options[document.querySelector("#insuranceName").selectedIndex].text
			} else {
				$('#insurance-type2').hide();
				$('#insurance-type1').show();
			}
		})


		$('#updateEnd').change(function() {
			var start = new Date($('#updateStart').val());
			var end = new Date($('#updateEnd').val());
			var total = (end - start) / (1000 * 60 * 60 * 24);

			if (start && end) {
				var total = total + 1;
				$('#daysTotal').html("(" + total + " days)")
			}
		});

		$('#warranty_type').change(function() {
			var chkpremi = $("input[name='chkpremi']:checkbox");
			var chkterms = $("input[name='chkterms']:checkbox");
			let counter_warranty = document.querySelector("#warranty_type");

			if ($('#warranty_type').val() == '2') {
				if (parseFloat($('#amountowner1_limit').val().replace(/,/g, '')) >= parseFloat($('#amountowner1').val().replace(/,/g, ''))) {
					if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
						$('#submit').prop('disabled', false);
						$('#submit').removeClass('disabled');
						document.querySelector("#counter_nominal_limit").textContent = ""
					} else {
						$('#submit').prop('disabled', true);
						$('#submit').addClass('disabled');
						document.querySelector("#counter_nominal_limit").textContent = ""
					}
				} else {
					$('#submit').prop('disabled', true);
					$('#submit').addClass('disabled');
					document.querySelector("#counter_nominal_limit").textContent = "The available limit is not sufficient"
				}
			} else {
				if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
					$('#submit').prop('disabled', false);
					$('#submit').removeClass('disabled');
				} else {
					$('#submit').prop('disabled', false);
					$('#submit').addClass('disabled');
				}
			}
		});

		$('#chkterms').change(function() {
			var warranty_type = $("#warranty_type").val();

			var chkpremi = $("input[name='chkpremi']:checkbox");
			var chkterms = $("input[name='chkterms']:checkbox");
			let counter_warranty = document.querySelector("#warranty_type");

			if ($('#warranty_type').val() == '2') {
				if (parseFloat($('#amountowner1_limit').val().replace(/,/g, '')) >= parseFloat($('#amountowner1').val().replace(/,/g, ''))) {
					if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
						$('#submit').prop('disabled', false);
						$('#submit').removeClass('disabled');
						document.querySelector("#counter_nominal_limit").textContent = ""
					} else {
						$('#submit').prop('disabled', true);
						$('#submit').addClass('disabled');
						document.querySelector("#counter_nominal_limit").textContent = ""
					}
				} else {
					$('#submit').prop('disabled', true);
					$('#submit').addClass('disabled');
					document.querySelector("#counter_nominal_limit").textContent = "The available limit is not sufficient"
				}
			} else {
				if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
					$('#submit').prop('disabled', false);
					$('#submit').removeClass('disabled');
				} else {
					$('#submit').prop('disabled', true);
					$('#submit').addClass('disabled');
				}
			}

		});

		$('#chkpremi').change(function() {

			var chkpremi = $("input[name='chkpremi']:checkbox");
			var chkterms = $("input[name='chkterms']:checkbox");
			if (chkpremi.is(":checked")) {
				chkterms.prop('disabled', false);
			} else {
				chkterms.prop('disabled', true);
				chkterms.prop("checked", false);

			}
			let counter_warranty = document.querySelector("#warranty_type");

			if ($('#warranty_type').val() == '2') {
				if (parseFloat($('#amountowner1_limit').val().replace(/,/g, '')) >= parseFloat($('#amountowner1').val().replace(/,/g, ''))) {
					if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
						$('#submit').prop('disabled', false);
						$('#submit').removeClass('disabled');
						document.querySelector("#counter_nominal_limit").textContent = ""
					} else {
						$('#submit').prop('disabled', true);
						$('#submit').addClass('disabled');
						document.querySelector("#counter_nominal_limit").textContent = ""
					}
				} else {
					$('#submit').prop('disabled', true);
					$('#submit').addClass('disabled');
					document.querySelector("#counter_nominal_limit").textContent = "The available limit is not sufficient"
				}
			} else {
				if (chkterms.is(":checked") && chkpremi.is(":checked") && counter_warranty.value != "") {
					$('#submit').prop('disabled', false);
					$('#submit').removeClass('disabled');
				} else {
					$('#submit').prop('disabled', true);
					$('#submit').addClass('disabled');
				}
			}

		});

		$("#addlist").click(function() {
			var ctr = $("#listctr").val();
			if (ctr <= 3) {
				$("#listwr").append('<div id="wherelist-' + ctr + '"><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Plafond Owner ' + ctr + '</label></div><div class="col-sm-9"><input type="text" name="owner' + ctr + '" id="owner' + ctr + '" value="" class="form-control" style="font-size:1.2em;width:95%;float:left;" placeholder=""><button type="button" class="btn-sm" id="removewhere" onclick="removeParent(this)" style="background-color: transparent;color: red;border-color: transparent;"><i class="fa fa-times"></i></button></div></div><div class="form-group row"><div class="col-sm-3"><label for="" class="textGray col-form-label">Amount</label></div><div class="col-sm-9"><div class="input-group" id=""><div class="input-group-prepend"><div class="input-group-text"><strong>IDR</strong></div></div><input type="text" name="amountowner' + ctr + '" id="amountowner' + ctr + '" value="" class="form-control" onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event)" style="font-size:1.2em;" placeholder=""></div></div></div></div></div>');
				if (ctr == 3) {
					$("#addlist").hide();
				}
				ctr++;
				$("#listctr").val(ctr);
				var elmnt = document.getElementById("listwr");
				elmnt.scrollIntoView();

			} else {

			}
		});


		$("input[name$='bankFormat']").click(function() {
			var valu = $(this).val();

			if (valu == '2') {
				$('#bahasa').hide()
				$('#specialFormat').show()
				document.querySelector("#specialFormatFile").required = true

				const element = document.querySelector("#specialFormatFile")
				const previousSiblings = element.previousElementSibling;
				element.addEventListener("change", () => {

					if (!window.FileReader) { // This is VERY unlikely, browser support is near-universal
						console.log("The file API isn't supported on this browser yet.");
						return;
					}

					var input = element;
					if (!input.files) { // This is VERY unlikely, browser support is near-universal
						console.error("This browser doesn't seem to support the `files` property of file inputs.");
					} else if (!input.files[0]) {
						console.log("Please select a file before clicking 'Load'");
					} else {
						var file = input.files[0];
						if (file.size > 1048576) {
							input.value = "";
							previousSiblings.parentElement.parentElement.classList.remove("active");
							previousSiblings.textContent = "No file choosen...";
							return alert("Your file size more than 1 MB, it should be lower than 1 MB")
						}
						if (file.name.split('.').pop() != "doc" && file.name.split('.').pop() != "docx") {
							input.value = "";
							previousSiblings.parentElement.parentElement.classList.remove("active");
							previousSiblings.textContent = "No file choosen...";
							return alert("Your file type is not supported. Supported file (doc, docx)")
						}
						if (/^\s*$/.test(element.value)) {
							previousSiblings.parentElement.parentElement.classList.remove("active");
							previousSiblings.textContent = "No file choosen...";
						} else {
							previousSiblings.parentElement.parentElement.classList.add("active");
							previousSiblings.textContent = element.value.replace("C:\\fakepath\\", "");
						}
					}
				})

			} else {
				$('#bahasa').show()
				$('#specialFormat').hide()
				document.querySelector("#specialFormatFile").required = false
				const element = document.querySelector("#specialFormatFile")
				const previousSiblings = element.previousElementSibling;
				element.value = "";
				previousSiblings.parentElement.parentElement.classList.remove("active");
				previousSiblings.textContent = "No file choosen...";
			}
		});



	})

	function numberWithCommas(x, id) {
		const formattermoney = new Intl.NumberFormat("ID", {
			minimumFractionDigits: 0,
		});

		var tag = '#' + id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
		var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");


		$(tag).val(x);

		$("#amountowner1").val(x);
		//$("#insurance_amount").val(x);
		$("#amount").val(x);

		//return 
	}

	function numberWithCommas2(x, id) {
		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});

		var tag = '#' + id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
		// var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		var x = formattermoney.format(x);


		$(tag).val(x);

		$("#amountowner1").val(x);
		//$("#insurance_amount").val(x);
		$("#amount").val(x);

		//return 
	}

	function reverseFormatNumber(element) {
		var group = new Intl.NumberFormat("EN").format(1111).replace(/1/g, "");
		var decimal = new Intl.NumberFormat("EN").format(1.1).replace(/1/g, "");
		var reversedVal = element.value.replace(new RegExp("\\" + group, "g"), "");
		reversedVal = reversedVal.replace(new RegExp("\\" + decimal, "g"), ".");
		let save = Number.isNaN(reversedVal) ? 0 : reversedVal;
		element.value = save;
	}



	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
		var ctr = $("#listctr").val();
		ctr--;
		$("#listctr").val(ctr);
		if (ctr <= 3) {
			$("#addlist").show();
		}
		console.log(parentname);
	}

	// inquiry deposito
	function inquiryDeposito(acct, id) {

		if (document.querySelector("#bank_amount").value == "") {
			return alert("Bank Guarantee Nominal belum di input");
		}

		$("#load" + acct).show();
		$("#refresh" + acct).hide();
		var amount = "#flamount" + id;
		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryDeposito'), null, true) ?>",
			type: 'GET',
			dataType: "JSON",
			data: {
				acct_no: acct,
			},
			success: function(data) {
				console.log(data);
				console.log(data.balance);
				$("#load" + acct).hide();
				$("#refresh" + acct).show();
				$(amount).val(data.balance);
				document.querySelector("#flamount" + id).onblur()

				let bg_amount;
				if (isNaN(parseFloat(document.querySelector("#bank_amount").value))) {
					bg_amount = 0
				} else {
					bg_amount = parseFloat(document.querySelector("#bank_amount").value)
				}

				const get_all_amount = document.querySelectorAll("input[name='flamount[]']");
				let total = 0;
				for (let index = 0; index < get_all_amount.length; index++) {
					total += parseFloat(document.querySelectorAll("input[name='flamount[]']")[index].value.replace(/,/g, ""));
				}

				if (total < parseFloat(document.querySelector("#bank_amount").value.replace(/,/g, ""))) {
					console.log("kurang")
				} else {
					console.log("pas / berlebih")
					document.querySelector("#flamount" + id).parentElement.parentElement.querySelector("i[class='fa fa-check']").hidden = false
					document.querySelector("#flamount" + id).parentElement.parentElement.querySelector("i[class='fa fa-sync']").hidden = true
				}

			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.info(thrownError);
				$("#load" + acct).hide();
				$("#refresh" + acct).show();
				alert("Failed to get where column list, please try again");
			}
		});

	}

	// inquiry balance

	function inquiryAccountBalance(acct, id) {


		var amount = "#flamount" + id;
		var flamount = $("#flamount" + id).val().replace(/,/g, '');
		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryAccountBalance'), null, true) ?>",
			type: 'GET',
			dataType: "JSON",
			data: {
				acct_no: acct,
			},
			success: function(data) {
				console.log(data);
				console.log(data.balanceactive);
				if (parseInt(flamount) > parseInt(data.balanceactive)) {
					$("#validasiAmount").hide();

					$("#validasiAmount" + id).html("Error : Max Limit Balance");
					$("#chkterms").addClass("disabled");
					$("#validasiAmount" + id).show();

					$(amount).val(data.balanceactive);
				} else {
					$("#validasiAmount" + id).hide();
					$("#chkterms").removeClass("disabled");
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.info(thrownError);
				alert("Failed to get where column list, please try again");
			}
		});

	}
</script>