	<h3><?=$this->language->_($this->master_bank_app_name.' - Online Registration ')?></h3>
    <hr>
    <div class="wizard-container">
		<div class="card wizard-card-front" data-color="green" id="wizardProfile">
			<center>
				<?php echo $this->language->_($this->master_bank_app_name.' - Online Registration Success.<br/>
				User ID and Password will be sent in maximum 14 working days<br/>
        		Thank you')?>
        		<br/><br/>
	        	<a href="<?=$this->url(array('module'=>'default','controller'=>'index','action'=>'index'),null,true)?>" class="btn btn-sm btn-primary"><?=$this->language->_('Back')?></a>
        	</center>
		</div>
	</div>