<?PHP
$this->language = Zend_Registry::get('language');

$reportTitle = $this->language->_("Log File");
$path = array(
    $this->language->_('Report'),
    $this->language->_('Technical Report'),
    $this->language->_('Log File'),
    $reportTitle
);


//echo $this->partial('breadcrumbs.phtml',array('title'=>$reportTitle,'crumbs'=>$path));
//echo $this->partial('portlet-open.phtml',array('portletTitle' => "Filter Log", 'formType' => "submit")); 
?>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Tools')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('System Log')?></span>
                 
             </li>
             

         </ul>
     </div>
   </div>
</div>
<div class="row content-box">
      <div class="portlet-body form col-md-12">
        <h5><?=$this->language->_('System Log')?></h5>
 <form name="filterForm" action="/technicalreport/log/index" method="get">
    
    
 
    <div class="form-group row">
        <div class="col-sm-3">
            <label for=""><?php echo $this->language->_('Log');?><span class="errmsg">*</span></label>
        </div>
        <div class="col-sm-9">
            <select name="logFolder" class="form-control" id="logFolder">
                                                    <option value="<?php echo $this->logdir ?>">Log</option>
                                                </select>
        </div>
    
        

        
        
            <?php //echo $this->formSelect('logFolder',$this->paymentType,array('id'=>'logFolder','class'=>'form-control'), $this->optPayType); ?>
            <?php

           /*     echo $this->partial('selectbox.phtml',array(
                            'label' => 'Log Folder',
                            'name'  => 'logFolder',
                            'list' => $this->listLog,
                            'value' => $this->logFolder,
                            'isForUpdateForm' => true
                        )
                ); */
            ?>
       
    </div>

<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
</form>
</div>
</div>
<?php

/*
$button = $this->partial('button.phtml', array(
    'btnType' => 'BTN_SUBMIT',
    'name' => "submit",
    'value' => "Submit"
));

echo $this->partial('portlet-close.phtml',array('hideButton' => true, 'customHtml' => $button, 'formType' => "submit")); 

echo $this->partial('portlet-open.phtml',array('portletTitle' => $reportTitle));
*/
?>
<table cellpadding="2" cellspacing="0" class="table table-striped table-bordered table-hover table-checkable" id="html_table">
    <thead>
        <tr>
            <th>Files</th>
        </tr>
    </thead>
    <tbody>
        <?php
            if(count($this->file_array) > 0){
                $i=1;
                foreach($this->file_array as $file){
                    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                    echo '<tr>
                        <td class="'.$td_css.'">
                            <a href="/technicalreport/log/downloadfile/file_name/'.$file.'" target="_blank">'.$file.'</a>
                        </td>
                    </tr>';
                    $i++;
                }
            }
        ?>
    </tbody>
</table>
<?php //echo $this->partial('portlet-close.phtml'); ?>