<?php

$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if(is_array($query_string_params))
{
  $qstring='?';
  foreach($query_string_params as $key=>$val)
    $qstring.=$key.'='.$val.'&';
  $qstring=substr($qstring,0,-1);
}
else
  $qstring='';
?>

<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 

$destination = LIBRARY_PATH.'/data/temp/';
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.headercolor {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}

	

}

</style>

<main role="main">
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img src="/images/LOGO/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<!-- <td align="center" valign="middle"><strong><?php echo $this->language->_('Transaction Inquiry');?> - </strong></td> -->
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'statement','action'=>'view'),null,true)?>" method="post">
<?php if ($this->pdf == false)	{?>
<b><font class="hidden"><?php echo $this->language->_('Account Information');?>	&gt; <?php echo $this->language->_('Transaction Inquiry');?></font></b>
<br class="hidden"/><br class="hidden"/><br class="hidden"/><br class="hidden"/>


<div align="right">
	<table>
	<tr style="height:0px">
		<td colspan="12" align="CENTER">
			<?php 
			if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { 
			//if(count($this->paginator)> 1) { 
			?>
			<?php	echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'btn btn-warning','disabled'=>'disabled')); ?>
			<?php }
			else{ ?>
			<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'btn btn-warning')); ?>
			<?php } ?>
			<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-warning')); ?>
			<?php 
			if(count($this->paginator)> 1) {
			//if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {  
				echo $this->formSubmit('pdf','Print',array('class'=>'btn btn-warning','disabled'=>'disabled')); 
			}
			else
			{
			?>
<!--				<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
					<!-- <input class="btn btn-warning" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button"> -->
					<!--<button onclick="openwindow('<?PHP echo $this->url(array('printaccstat' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn btn-warning"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
			<?php }?>
		</td>
	</tr>
	</table>
	<label class="hidden">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</label>
</div><br class="hidden"/>
<?php }	?>
<br class="hidden"/>
<div class="errmsg hidden"><?php echo $this->messageError;?></div>
<br class="hidden"/>

<table width="30%">
	
	<tr>
		<td><b>Account No</b></td>
		<td>:</td>
		<td style="color:#007934;"><?=$this->ACCTSRC;?> - <?=$this->ACCT_NAME;?></td>
	</tr>
	<tr>
		<td><b>Page</b></td>
		<td>:</td>
		<td style="color:#007934;"><?=$this->page?></td>
	</tr>
	<tr>
		<td><b>Period</b></td>
		<td>:</td>
		<td style="color:#007934;"><?=$this->PERIOD;?></td>
	</tr>

	<tr>
		<td><b>Currency</b></td>
		<td>:</td>
		<td style="color:#007934;"><?=$this->ccy;?></td>
	</tr>
</table>
<br>
<br>
<div class="portlet-body flip-scroll">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped table-condensed flip-content">
	<thead>
	<tr>
	<?php
		$countFields = count($this->header);
		$acct_stat_layout = $this->acct_stat_layout;
		if($acct_stat_layout == "1"){
			foreach ($this->header as $header)	{	?>
			<td id="tbl-headercontent" class="headercolor"><center><b><?= $header ?></b></center></td>
			<?php }	?>
		<?php }
		elseif($acct_stat_layout == "2"){
			?>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Date');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Description');?></b></center></td>
			<td id="tbl-headercontent" colspan="2" class="headercolor"><center><b><?php echo $this->language->_('Amount');?></b></center></td>
			<?php
		}
		elseif($acct_stat_layout == "1R"){
			?>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Date');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Description');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Debet');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Credit');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Balance');?></b></center></td>
			<?php
		}
		elseif($acct_stat_layout == "2R"){
			?>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Date');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Description');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('CCY');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Amount');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('DB/CR');?></b></center></td>
			<td id="tbl-headercontent" class="headercolor"><center><b><?php echo $this->language->_('Balance');?></b></center></td>
			<?php
		}
		?>


	</tr>
	</thead>
	<?php $nodata = $this->language->_('No Data');?>
	<?php
	if(count($this->dataDetails) > 0)
	{
		$i = 1;
		$maxBR   = 56;
		$countBR = 0;
		foreach($this->dataDetails as $row)
		{
			$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
			$content = "";
			$countBR += count(explode("<br />", $row['description']));
			if ($this->pdf && ($countBR > $maxBR) && $i > 1)
			{	$content .= '</table></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0">';
				$countBR = 0;	}
				if($acct_stat_layout == "1"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>

						<td class="'.$td_css.'" align="right" width="15%">'.$row['debet'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['credit'].'</td>
						';
				}
				elseif($acct_stat_layout == "2"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['amount'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['type'].'</td>
						';
				}
				elseif($acct_stat_layout == "1R"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['debet'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['credit'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['balance'].'</td>
						';
				}
				elseif($acct_stat_layout == "2R"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
						<td class="'.$td_css.'" align="center">'.$row['ccy'].'</td>
						<td class="'.$td_css.'" align="right" width="10%">'.$row['amount'].'</td>
						<td class="'.$td_css.'" align="right" width="10%">'.$row['type'].'</td>
						';
						$content .= '<td class="'.$td_css.'" align="right">'.$row['balance'].'</td>';
				}

			//<td class="'.$td_css.'" align="center" width="10%">'.$row['ccy'].'</td>

			if($this->PERIOD =='history')
				//$content .= '<td class="'.$td_css.'" align="right">'.$row['balance'].'</td>';

			$content .= '</tr>';
			echo $content;
			$i++;
		}
	}
	else
	{
		if($acct_stat_layout == '2R'){
			echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
		}
		else{
			echo '<tr><td colspan="'.$countFields.'" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
		}
	}
	?>
	<?php if ($acct_stat_layout == "2R"): ?>
		<tr>
			<td colspan="4"></td>
			<td><b>Opening Balance</b></td>
			<td style="color:#007934;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->openingBalance)?></td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td><b>Credit</b></td>
			<td style="color:#007934;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalKredit)?></td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td><b>Debit</b></td>
			<td style="color:#007934;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalDebet)?></td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td><b>Closing Balance</b></td>
			<td style="color:#007934;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->closingBalance)?></td>
		</tr>
	<?php endif ?>
</table>
</div>
<br>
<?php //if($this->openingBalance){?>
<!-- <div class="table-scrollable">
	<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-striped table-condensed flip-content" width="50%">
		<tr><th colspan="2" class="headercolor"><strong><?php echo $this->language->_('Information');?></strong></th></tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Account');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?=$this->ACCTSRC.' ('.$this->accData['ACCT_NAME'].' / '.$this->ccy.')'?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Opening Balance');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->openingBalance)?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Closing Balance');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->closingBalance)?></td>
		</tr> -->
	<?php if($this->PERIOD =='today')	{	?>
		<!--
		<tr>
			<td class="tbl-oddcontent" width="30%">Hold Amount</td>
			<td class="tbl-oddcontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->holdAmount)?></td>
		</tr>
		 -->
	<?php }	?>
		<!-- tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Total Debit');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalDebet)?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Total Credit');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalKredit)?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Start Date');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?= $this->DATE_FROM_view ?><input type='hidden' name='history_from' value='<?= $this->DATE_FROM ?>'></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('End Date');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?= $this->DATE_TO_view ?><input type='hidden' name='history_to' value='<?= $this->DATE_TO ?>'></td>
		</tr>
	</table>
	</div> -->
<?php //}?>
<input type='hidden' class="hidden" name='periodtype' value='<?= $this->PERIOD ?>'>
<input type='hidden' class="hidden" name='ACCTSRC' value='<?= $this->ACCTSRC ?>'>
<?php $back = $this->language->_('Back');?>
<?php if ($this->pdf == false)	{?>
<table class="">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<?php echo $this->formSubmit('back',$back,array('class'=>'btn btn-warning')); ?>
		</td>
	</tr>
</table>
</form>
<?php }	?>
</main>
		<div style="position: absolute; bottom: 0; left: 0;">
		  <img src='file://<?php echo $destination;?>../../../frontend/public/images/trigngle_kiri.png'>
		</div>
		<div style="position: absolute; bottom: 0; right: 0;">
			<img src='file://<?php echo $destination;?>../../../frontend/public/images/right_triangle.png'>
	    </div>
