<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Transaction Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('VA Cash In Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('VA Payment'); ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row col-md-12 d-flex justify-content-center">
    <button type="button" onclick="location.href='/binreport/payment'" class="btnwhite hov col-md-3" name="button">VA Payment</button>
    <button type="button" onclick="location.href='/binreport/statement'" class="btnwhite hov col-md-3" name="button">VA Statement</button>
    <button type="button" onclick="location.href='/binreport/summary'" class="btngreen hov col-md-3" name="button">VA Summary</button>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <h5><?= $this->language->_('Virtual Account Summary') ?></h5>
        <br>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('BIN') ?></label>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8">
                        <select name="bin" class="form-control">
                            <option value="01">12345 - PT MULTI JAYA</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btngreen" style="height:29px">
                            <div class="fa fa-search"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Last Updated Date From') ?></label>
            <div class="col-md-6 form-inline">
                <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group">
                    <input type="text" class="form-control" name="CUST_CREATED[]" id="CUST_CREATED_start" readonly="" required="" data-type="datepicker" data-datepicker="true" role="input">
                    <span class="input-group-append" role="right-icon"><button class="btn btn-outline-secondary border-left-0" type="button"><i class="gj-icon">event</i></button>
                    </span>
                </div>&nbsp;To&nbsp;
                <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group">
                    <input type="text" class="form-control" name="CUST_CREATED[]" id="CUST_CREATED_end" readonly="" required="" data-type="datepicker" data-datepicker="true" role="input">
                    <span class="input-group-append" role="right-icon">
                        <button class="btn btn-outline-secondary border-left-0" type="button"><i class="gj-icon">event</i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="tablehead" width="3%" valign="top">No</th>
                        <?php echo $this->partial(
                            'tableheader.phtml',
                            array(
                                'fields' => $this->fields,
                                'sortBy' => $this->sortBy,
                                'sortDir' => $this->sortDir,
                                'query_string_params' => $this->query_string_params
                            )
                        ) ?>
                        <th valign="top" class="tablehead"><?php echo $this->language->_('Action'); ?></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('#CUST_CREATED_start').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
    });
    $('#CUST_CREATED_end').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
    });
</script>