<!-- PHP VAR -->
<?php
	$sourceAcc = $this->sourceAcc;
	$verifyPage = $this->verifyPage;

	/*********/
	$teamplate_reff = $this->teamplate_reff;
	$paymentsubject = $this->paymentsubject;
	$beneficiary = $this->beneficiary;
	$beneficiarySingle = $this->beneficiarySingle;
	$remainBalanceType = $this->remainBalanceType;
	$currency = $this->currency;
	$dayname = $this->dayname;
	$day = $this->day;
	$end_date = $this->end_date;
	$next_date = $this->next_date;
	$sesion_sweep = $this->sesion_sweep;
	$selectedbene = $this->selectedbene;


	/******/
	$sourceaccview = $this->sourceaccview;
	$singelsourceaccview = $this->singelsourceaccview;
	$paymentmessageview = $this->paymentmessageview;
	$paymentaddmessageview = $this->paymentaddmessageview;
	$remainbalanceview = $this->remainbalanceview;
	$countsourceaccview = count($sourceaccview);

	$mandatory = ($this->confirmPage != 1)? "<strong class='formreq' style='color:red;'>&nbsp;*</strong>": "";

?>
<!-- PHP VAR -->

<!-- JAVASCRIPT -->


<script type="text/javascript">
$(document).ready(function () {
	var traType = $("input[name='tranferdatetype']:checked").val();
    	if (traType == 1) {
          	$('#immediate').show();
          	$('#future').hide();
          	$('#periodic').hide();
      	}
      	else if (traType == 2) {
         	$('#immediate').hide();
          	$('#future').show();
          	$('#periodic').hide();
      	}
      	else if (traType == 3) {
          	$('#immediate').hide();
          	$('#future').hide();
          	$('#periodic').show();
      	}

        $('input[type=radio][name=tranferdatetype]').change(function() {
          	if (this.value == 1) {
              	$('#immediate').show();
              	$('#future').hide();
              	$('#periodic').hide();
          	}
          	else if (this.value == 2) {
             	$('#immediate').hide();
              	$('#future').show();
              	$('#periodic').hide();

              	var datefuture = $('#PS_FUTUREDATE').val();
              	$('#PS_EFDATE').val(datefuture);
          	}
          	else if (this.value == 3) {
              	$('#immediate').hide();
              	$('#future').hide();
              	$('#periodic').show();
          	}
        });

    });

	<!--
	function showAccountBeneficiary(pagesource)
	{
		var win = null;
	  	var w = 800, h = 400;

		if (win && !win.close())
		{
			win.close();
		}

		LeftPosition=(screen.width)?(screen.width-w)/2:100;
		TopPosition=(screen.height)?(screen.height-h)/2:100;

		settings='width=800,height=400,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
		win=window.open("../popup/"+pagesource,'sgo_popup_window',settings);
		win.focus();
	}

	function clearTrfForm($val){
		//$source = "source"+$val;
		$source = "source["+$val+"]";
		$paymentmessage = "paymentmessage"+$val;
		$paymentaddmessage = "paymentaddmessage"+$val;
		$remainbalance = "remainbalance"+$val;

		document.getElementById($source).selectedIndex = 0;
		document.getElementById($paymentmessage).value = '';
		document.getElementById($paymentaddmessage).value = '';
		document.getElementById($remainbalance).value = '';
	}

	function cekPeriodicEvery(){
		$("#PeriodicEvery").attr('checked', 'checked')

	}

	function cekPeriodicEveryDate(){
		$("#PeriodicEveryDate").attr('checked', 'checked')
	}

	function cekFixedAmount(){
		$('.percentView').hide();
		for ($a = 0; $a<5 ; $a++){
			$remainbalance = "remainbalance"+$a;
			document.getElementById($remainbalance).maxLength = '20';
			document.getElementById($remainbalance).value = '';
		}
		//document.getElementById('remainbalance0').maxLength	='20';
		//document.getElementById('percent1').style.visibility='hidden';
	}

	function cekPercentage(){
		$('.percentView').show();
		for ($a = 0; $a<5 ; $a++){
			$remainbalance = "remainbalance"+$a;
			document.getElementById($remainbalance).maxLength = '5';
			document.getElementById($remainbalance).value = '';
		}
		//document.getElementById('remainbalance0').maxLength	='3';
	}

--></script>

<style>

.switcher {
  display: inline-block;
  height: 30px;
  margin-top:3px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 200px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #007934;
  border-radius: 30px;
  left: 5px;
  top: 0px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked + .switcher__label {
  color: #fff;
}

.switcher__input--yang:checked ~ .switcher__toggle {
  left: 100px;
}
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  /*padding: 40px;*/
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 105px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #218838;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
</style>
<script type="text/javascript"><!--

// SWEEP MODULES
$(document).ready(function(){

	var php_var = "<?php echo $this->REMAIN_BALANCE_TYPE; ?>";

	if (php_var == 2){
		$(".percentView").show();
		for ($a = 0; $a<5 ; $a++){
			$remainbalance = "remainbalance"+$a;
			document.getElementById($remainbalance).maxLength = '5';

		}
	}else{
		$(".percentView").hide();
		for ($a = 0; $a<5 ; $a++){
			$remainbalance = "remainbalance"+$a;
			// document.getElementById($remainbalance).maxLength = '20';

		}
	}



	/*list account select */
	$(".target").change(function() {

			$('.source option').show();
		  	var selected = this.value;

		  	//hide some value
		 	$('.source option[value="'+selected+'"]').hide();


		 	//reset
		 	$('.source').attr("selectedIndex",0);


	});

	/*list dayname */
	$(".dayname").change(function() {

		 	$('.day').attr("selectedIndex",0);

	});

	/*list day */
	$(".day").change(function() {

		 	$('.dayname').attr("selectedIndex",0);

	});

});
--></script>
<!-- JAVASCRIPT -->
<!-------------------------------------------------------------------------------------------------------- start of verifyPage == 0 -->
<?php //Zend_Debug::dump($this->verifyPage, 'verify :');?>
<?php if($this->verifyPage == 0){?>

<?php //Zend_Debug::dump($sourceAcc); ?>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Sweep'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Sweep In'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>



<?php if($this->success){ ?>
<div class="successmsg"><?=$this->language->_($this->report_msg)?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
<?php } ?>

<div class="row">

	<div class="col-md-12">
      <style type="text/css">
			  .switch{
			    display: inline-block;
			    width: 105px;
			    background-color: #fff;
			    color: rgba(0, 0, 0, 0.6);
			    font-size: 10px;
			    font-weight: normal;
			    text-align: center;
			    text-shadow: none;
			    padding: 6px 14px;
			    border: 1px solid rgba(0, 0, 0, 0.2);
			    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
			    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
			    -webkit-transition: all 0.1s ease-in-out;
			    -moz-transition:    all 0.1s ease-in-out;
			    -ms-transition:     all 0.1s ease-in-out;
			    -o-transition:      all 0.1s ease-in-out;
			    transition:         all 0.1s ease-in-out;
			    text-decoration: none;
			    margin-right: -4px;
			  }

			  .aktif {
			    color: #FFFFFF;
			    background-color: #218838;
			    -webkit-box-shadow: none;
			    box-shadow: none;
			    text-decoration: none;
			  }

				.nav-tabs .nav-link {
					border-color: #c9c9c9;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					text-align: center;
					min-width: 130px;
				}
				.nav-tabs .nav-link:hover {
					border-color: #c9c9c9;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					color:white;
					margin-top: -6px;
						padding-bottom: 10px;
						top: -10px;
						padding-top: 10px;
						height: 43px;
				}
				.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
						color:white;
						border-color: #dee2e6 #dee2e6 #fff;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
						margin-top: -6px;
						padding-bottom: 10px;
						top: -10px;
						padding-top: 10px;
						height: 43px;
						font-size: 15px
				}
</style>

      <!-- <a href="/sweep/sweepin" class="switch aktif"><?php echo $this->language->_('Sweep In');?></a>
      <a href="/sweep/sweepout" class="switch"><?php echo $this->language->_('Sweep Out');?></a> -->
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active"  href="/sweep/sweepin" role="tab" at="1" value="1" aria-controls="inhouse" aria-selected="true"><?php echo $this->language->_('Sweep In');?></a>
				</li>
				<li class="nav-item">
					<a class="nav-link "  href="/sweep/sweepout" role="tab" at="2" value="2" aria-controls="va" aria-selected="false"><?php echo $this->language->_('Sweep Out');?></a>
				</li>
			</ul>


	</div>
</div>

<br/>
<form name="payment" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<?php echo $this->formHidden('randomTransact',$this->randomTransact,array('maxlength'=>'128','size'=>'40','readOnly'=>true)); ?>
		<div class="row">


			<div class="col-md-7">
					<div class="portlet light form-fit bordered">


							<div class="card-body form ">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Payment Ref'); ?></label>
									</div>
									<div class="col-sm-9">
									 	<?php
	                                        echo $this->language->_('auto generate');
	                                        echo $this->formHidden('teamplate_reff',$this->paymentreff);
	                                    ?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Payment Subject'); ?><?= $mandatory ?></label>
									</div>
									<div class="col-sm-9">
									 	<?php
                                        	echo $this->formText('paymentsubject',$this->paymentsubject,array('size'=>40,'class'=>'form-control'));
                                        ?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-9">
									 	<?php
                                            echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->listBeneficiary, $this->ACBENEF, "ACBENEF");
                                        ?>

                                        <input name="ACBENEF_FULL" value="" type="hidden">
                                            <?php echo $this->formHidden('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>40,'readonly'=>'readonly'))?>
                                            <?php echo $this->formHidden('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('size'=>40,'maxlength'=>128))?>
                                            <?php
                                                echo '<select name="CURR_CODE" id="CURR_CODE" style="display:none">
                                                						<option value="">-- '.$this->language->_('Please Select').' --</option>';
                                                	for($a=0,$b=count($this->ccyArr);$a<$b;$a++)
                                                	{
                                                		$row = $this->ccyArr[$a];
                                                		echo '<option value="'.$row['CCY_ID'].'" class="'.$row['DESCRIPTION'].'"';
                                                		if($row['CCY_ID']==$this->CURR_CODE)echo ' selected';
                                                		echo '>'.$row['CCY_ID'].'</option>';
                                                	}
                                                echo '</select>';
                                            ?>
									</div>
								</div>
								 <?php
                                	$checkFixed 		= ($this->REMAIN_BALANCE_TYPE == '1')? "checked='checked'": "";
                                	$checkPercentage 	= ($this->REMAIN_BALANCE_TYPE == '2')? "checked='checked'": "";

                                	$checkedPeriodicEvery 		= ($this->TrfPeriodicType == '5')? "checked='checked'": "";
                                	$checkedPeriodicEveryDate 	= ($this->TrfPeriodicType == '6')? "checked='checked'": "";
                                ?>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Remain Balance Type'); ?></label>
									</div>
									<div class="col-sm-9">
									 	<input type="radio" name="REMAIN_BALANCE_TYPE" value="1" <?php echo $checkFixed?> onclick='cekFixedAmount()'><?php echo $this->language->_('Fixed Amount'); ?>
										<input type="radio" name="REMAIN_BALANCE_TYPE" value="2" <?php echo $checkPercentage?> onclick='cekPercentage()'><?php echo $this->language->_('Percentage'); ?>
									</div>
								</div>
							</div>

					</div>
				</div>
			<div class="col-md-5">
					 <h5><?=$this->language->_('Transfer Date')?></h5>

	            <?php
					echo $this->formHidden('payDateType',$this->payDateType);
					echo $this->formHidden('tranferdatetype',$this->TrfDateType);
					echo $this->formHidden('tranferdateperiodictype',$this->TrfPeriodicType);
					echo $this->formHidden('PERIODIC_EVERY',$this->PERIODIC_EVERY);
					echo $this->formHidden('PERIODIC_EVERYDATE',$this->PERIODIC_EVERYDATE);
				?>

				<?php
					if($this->confirmPage != 1){
				?>

					<div class="form-group row" style="margin-left: 5px">
						<div class="col-md-12">
									<?php $immidiateTransfer = date('d/m/Y')?>
		                	<input type="hidden" name="immediateTransfer" id="immediateTransfer" value="<?php echo $immidiateTransfer?>">

    									<div class="switch-field">
								      <?php
								      	if(empty($this->TrfDateType)){
								      		$this->TrfDateType = '1';
								      	}
								      ?>
								      <input type="radio" id="switch_3_left"  name="tranferdatetype"  value="1" <?php if($this->TrfDateType=='1'){echo('checked');}?> />
								      <label for="switch_3_left"><?php echo $this->language->_('Every');?></label>
								      <input type="radio" id="switch_3_center"  name="tranferdatetype"  value="2" <?php if($this->TrfDateType=='2'){echo('checked');}?> />
								      <label for="switch_3_center"><?php echo $this->language->_('Every Date');?></label>
								      <?php //if ($foTransferPeriodic == 1){?>

					      			<?php //}?>

								    </div>


						</div>



		            </div>

		            <div id="immediate" style="display:none;">
		              <!-- <div class="content-box" style="height: 100px;"><br/> -->
		              	<br/>
		                <?php
                                            $arrFirst 				= array();
                                            $arrFirst['0'] 			= $this->language->_('-- Choose One --');
                                            $this->periodicEveryArr = array_merge($arrFirst, $this->periodicEveryArr);
                                            echo $this->formSelect('dayname',$this->dayname,array('id'=>'paymentType','class'=>'form-control','onclick'=>'cekPeriodicEvery()'), $this->periodicEveryArr);
                                        ?>
		              <!-- </div> -->
		            </div>

				<!-- if inhouse -->
				<div class="inhouse">
		            <div id="future" style="display:none;">
		              <div class="form-group row">
		                <label class="col-sm-4 col-form-label"><?=$this->language->_('Choose Date')?></label>
		                <div class="col-sm-8">
		                   <?php
                                            $arrFirst 					= array();
                                            $arrFirst['0'] 				= $this->language->_('-- Choose One --');
                                            $this->periodicEveryDateArr = array_merge($arrFirst, $this->periodicEveryDateArr);
                                            echo $this->formSelect('day',$this->day,array('id'=>'paymentType','class'=>'form-control','onclick'=>'cekPeriodicEveryDate()'), $this->periodicEveryDateArr);
                                        ?>

		                </div>
		              </div>
		            </div>



		            <br/>
		            <div class="form-group row">
		                	<label class="col-sm-4 col-form-label"><?php echo $this->language->_('End Date Of');?></label>
		                	<div class="col-sm-8">
		             <input type="text" class="form-control" name="end_date" id="end_date" value="<?=$this->end_date?>"  readonly>
		                    <script>
		                        $('#end_date').datepicker({
		                            minDate: function() {
		                                var date = new Date();
		                               date.setDate(date.getDate());
		                                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
		                            },
		                            format: 'dd/mm/yyyy',
		                            uiLibrary: 'bootstrap4',
		                        });
		                    </script>
		                </div>

			    </div>
			     <br/>
			     <?php
                                    $checkMorning 		= ($this->sesion_sweep == 'morning')? "checked='checked'": "";
                                    $checkEvening 		= ($this->sesion_sweep == 'evening')? "checked='checked'": "";
                                    $checkNight 		= ($this->sesion_sweep == 'night')? "checked='checked'": "";

                                    for($i=0; $i<5; $i++){
                                    	$singelsourceaccview[$i]	= (isset($singelsourceaccview[$i])) ? $singelsourceaccview[$i] : "";
                                    	$paymentmessageview[$i] 	= (isset($paymentmessageview[$i])) ? $paymentmessageview[$i] : "";
                                    	$paymentaddmessageview[$i] 	= (isset($paymentaddmessageview[$i])) ? $paymentaddmessageview[$i] : "";
                                    	$remainbalanceview[$i]		= (isset($remainbalanceview[$i])) ? $remainbalanceview[$i] : "";
                                    }

                                ?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Session'); ?></label>
									</div>
									<div class="col-sm-8">
									 	<input type="radio" name="sesion_sweep" value="morning" <?php echo $checkMorning?>><?php echo $this->language->_('Morning'); ?> (06.00 a.m - 08.00 a.m )<br>
										<input type="radio" name="sesion_sweep" value="evening" <?php echo $checkEvening?>><?php echo $this->language->_('Evening'); ?> (12.00 p.m - 2.00 p.m )<br>
										<input type="radio" name="sesion_sweep" value="night"   <?php echo $checkNight?>><?php echo $this->language->_('Night'); ?> (05.00 p.m - 07.00 p.m )<br>
									</div>
								</div>

			    <!-- if inhouse ends -->

	            <?php }
				?>




				</div>
			</div>




<br>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light form-fit bordered">
			<div class="card-body form ">
				<strong ><?php echo $this->language->_('Transfer From : ');?></strong>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row content-box">
	<div class="card-body form ">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
										<tr>
											<th>#</th>
											<th>Source Account</th>
											<th>Message</th>
											<th>Additional Message</th>
											<th>Remain Balance</th>
											<th>Action</th>
										</tr>
										<tr>
											<td class="">1</td>
											<td class="">
												<!-- select option Source Account 1 -->
												<?php
												echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->sourceAcc, $singelsourceaccview[0], "source[0]");
												?>

												<!--
												<select class="source" id="source1" name="source[]">
												<option value="" > -- <?php echo $this->language->_('choose one'); ?> -- </option>
												<?php
												echo "<br>";
													foreach ($sourceAcc as $val){
														echo "<option selected=".$selected." name='acc[]' id='targetOption1' value=".$val["ACCT_NO"].">[ ".$val["ACCT_NO"]." ] ".$val["ACCT_NAME"]." / ".$val["ACCT_ALIAS_NAME"]." (".$val["CCY_ID"].")</option>";
													}

												?>
												</select>
												-->
											</td>
											<td class="">
												<?php  echo $this->formText('paymentmessage[]',$paymentmessageview[0],array('id' => 'paymentmessage0','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('paymentaddmessage[]',$paymentaddmessageview[0],array('id' => 'paymentaddmessage0','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('remainbalance[]',$remainbalanceview[0],array('id' => 'remainbalance0','class'=>'form-control','size'=>20,'maxlength'=>20,'autocomplete'=>'off','class' =>'', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)",'class'=>'form-control')); ?>
												<Span class="percentView">%</Span>
											</td>
											<td class="">
												<input type="button" name="clear1" class="btngreen hov" value="<?php echo $this->language->_('Clear')?>" onclick="clearTrfForm('0');">
											</td>
										</tr>

										<tr>
											<td class="">2</td>
											<td class="">
												<!-- select option Source Account 2 -->
												<?php
												echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->sourceAcc, $singelsourceaccview[1], "source[1]");
												?>

												<!--
												<select class="source" id="source2" name="source[]">
												<option value="" > -- <?php echo $this->language->_('choose one'); ?> -- </option>
												<?php
												echo "<br>";
													foreach ($sourceAcc as $val){
														echo "<option name='acc[]' id='targetOption' value=".$val["ACCT_NO"].">[ ".$val["ACCT_NO"]." ] ".$val["ACCT_NAME"]." / ".$val["ACCT_ALIAS_NAME"]." (".$val["CCY_ID"].")</option>";
													}

												?>
												</select>
												-->
											</td>
											<td class="">
												<?php  echo $this->formText('paymentmessage[]',$paymentmessageview[1],array('id' => 'paymentmessage1','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('paymentaddmessage[]',$paymentaddmessageview[1],array('id' => 'paymentaddmessage1','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('remainbalance[]',$remainbalanceview[1],array('id' => 'remainbalance1','class'=>'form-control','size'=>20,'maxlength'=>20,'autocomplete'=>'off', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)")); ?>
												<Span class="percentView">%</Span>
											</td>
											<td class="">
												<input type="button" name="clear1" class="btngreen hov" value="<?php echo $this->language->_('Clear')?>" onclick="clearTrfForm('1');">
											</td>
										</tr>

										<tr>
											<td class="">3</td>
											<td class="">
												<!-- select option Source Account 3 -->
												<?php

												echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->sourceAcc, $singelsourceaccview[2], "source[2]");
												?>

												<!--
												<select class="source" id="source3" name="source[]">
												<option value=""> -- <?php echo $this->language->_('choose one'); ?> -- </option>
												<?php
												echo "<br>";
													foreach ($sourceAcc as $val){
														echo "<option name='acc[]' id='targetOption' value=".$val["ACCT_NO"].">[ ".$val["ACCT_NO"]." ] ".$val["ACCT_NAME"]." / ".$val["ACCT_ALIAS_NAME"]." (".$val["CCY_ID"].")</option>";
													}

												?>
												</select>
												-->
											</td>
											<td class="">
												<?php  echo $this->formText('paymentmessage[]',$paymentmessageview[2],array('id' => 'paymentmessage2','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('paymentaddmessage[]',$paymentaddmessageview[2],array('id' => 'paymentaddmessage2','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('remainbalance[]',$remainbalanceview[2],array('id' => 'remainbalance2','class'=>'form-control','size'=>20,'maxlength'=>20,'autocomplete'=>'off', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)")); ?>
												<Span class="percentView">%</Span>
											</td>
											<td class="">
												<input type="button" name="clear1" class="btngreen hov" value="<?php echo $this->language->_('Clear')?>" onclick="clearTrfForm('2');">
											</td>
										</tr>

										<tr>
											<td class="">4</td>
											<td class="">
												<!-- select option Source Account 4 -->
												<?php
												//print_r($this->sourceAcc);die;
												echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->sourceAcc, $singelsourceaccview[3], "source[3]");
												?>

												<!--
												<select class="source" id="source4" name="source[]">
												<option value=""> -- <?php echo $this->language->_('choose one'); ?> -- </option>
												<?php
												echo "<br>";
													foreach ($sourceAcc as $val){

														echo "<option name='acc[]' id='targetOption' value=".$val["ACCT_NO"].">[ ".$val["ACCT_NO"]." ] ".$val["ACCT_NAME"]." / ".$val["ACCT_ALIAS_NAME"]." (".$val["CCY_ID"].")</option>";
													}

												?>
												</select>
												-->
											</td>
											<td class="">
												<?php  echo $this->formText('paymentmessage[]',$paymentmessageview[3],array('id' => 'paymentmessage3','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('paymentaddmessage[]',$paymentaddmessageview[3],array('id' => 'paymentaddmessage3','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('remainbalance[]',$remainbalanceview[3],array('id' => 'remainbalance3','class'=>'form-control','size'=>20,'maxlength'=>20,'autocomplete'=>'off', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)")); ?>
												<Span class="percentView">%</Span>
											</td>
											<td class="">
												<input type="button" name="clear1" class="btngreen hov" value="<?php echo $this->language->_('Clear')?>" onclick="clearTrfForm('3');">
											</td>
										</tr>

										<tr>
											<td class="">5</td>
											<td class="">
												<!-- select option Source Account 5 -->
												<?php
												echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->sourceAcc, $singelsourceaccview[4], "source[4]");
												?>

												<!--
												<select class="source" id="source5" name="source[]">
												<option value=""> -- <?php echo $this->language->_('choose one'); ?> -- </option>
												<?php
												echo "<br>";
													foreach ($sourceAcc as $val){
														echo "<option name='acc[]' id='targetOption' value=".$val["ACCT_NO"].">[ ".$val["ACCT_NO"]." ] ".$val["ACCT_NAME"]." / ".$val["ACCT_ALIAS_NAME"]." (".$val["CCY_ID"].")</option>";
													}

												?>
												</select>
												-->
											</td>
											<td class="">
												<?php  echo $this->formText('paymentmessage[]',$paymentmessageview[4],array('id' => 'paymentmessage4','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('paymentaddmessage[]',$paymentaddmessageview[4],array('id' => 'paymentaddmessage4','class'=>'form-control')); ?>
											</td>
											<td class="">
												<?php  echo $this->formText('remainbalance[]',$remainbalanceview[4],array('id' => 'remainbalance4','class'=>'form-control','size'=>20,'maxlength'=>20,'autocomplete'=>'off', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)")); ?>
												<Span class="percentView">%</Span>
											</td>
											<td class="">
												<input type="button" name="clear1" class="btngreen hov" value="<?php echo $this->language->_('Clear')?>" onclick="clearTrfForm('4');">
											</td>
										</tr>
									</table>
								</div>
</div>






	<div style="margin: 10px 0 10px 0; float:left;">
		<div style="margin: 0 5px 0 0; float:left;">
			<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
		</div>
		<div style="margin: 0 5px 0 0; float:left;">
			<?php echo $this->formSubmit('filter',$this->language->_('Verify'),array('class'=>'btngreen hov')); ?>
		</div>
	</div>
	</form>

</div>
<?php }else{?>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Sweep'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Sweep In'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                  <li>
	                    <span class="valas" ><?php echo $this->language->_('Verify'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<br>

<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">


<div class="row">


			<div class="col-md-7">
					<div class="portlet light form-fit bordered">


							<div class="card-body form ">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Payment Ref'); ?></label>
									</div>
									<div class="col-sm-9">
									   <?php echo $teamplate_reff;?>
			                           <?php echo $this->formHidden('teamplate_reff',$teamplate_reff);?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Payment Subject'); ?></label>
									</div>
									<div class="col-sm-9">
									    <?php echo $paymentsubject; ?>
				                        <?php echo $this->formHidden('paymentsubject',$paymentsubject); ?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-9">
									     <?php echo $beneficiary; ?>

									     <?php echo $this->formHidden('ACBENEF',$beneficiarySingle); ?>
                                         <?php echo $this->formHidden('beneficiary',$beneficiarySingle); ?>
                                         <?php echo $this->formHidden('beneficiaryName',$this->beneficiaryName); ?>
                                         <?php echo $this->formHidden('beneficiaryAlias',$this->beneficiaryAlias); ?>
                                         <?php echo $this->formHidden('beneficiaryCCY',$this->beneficiaryCCY); ?>
                                         <?php echo $this->formHidden('beneficiaryEmail',$this->beneficiaryEmail); ?>
                                         <?php echo $this->formHidden('beneficiaryBankCode',$this->beneficiaryBankCode); ?>
                                         <?php echo $this->formHidden('beneficiaryBankName',$this->beneficiaryBankName); ?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Remain Balance Type'); ?></label>
									</div>
									<div class="col-sm-9">
									   	<?php echo $this->remainBalanceType; ?>
                                        <?php echo $this->formHidden('remainbalancetype',$remainBalanceType); ?>
                                        <?php echo $this->formHidden('remainbalancetype2',$this->REMAIN_BALANCE_TYPE); ?>
                                         <?php echo $this->formHidden('currency',$currency); ?>
									</div>
								</div>
							</div>

					</div>
			</div>

			<div class="col-md-5">
					<div class="portlet light form-fit bordered">


							<div class="card-body form ">
								<div class="form-group row pt-2">
									<?php
										if ($this->TrfPeriodicType == '5'){ $label=$this->language->_('Every'); }else{ 	$label=$this->language->_('Every Date Of'); }
									?>
									<div class="col-sm-3">
										<?php echo $label; ?>
									</div>
									<div class="col-sm-9">
									  	<?php
                                            if($dayname && $this->TrfPeriodicType == '5'){
                                            $PERIODIC_EVERY_view = (array_key_exists ($this->dayname, $this->periodicEveryArr ))? $this->periodicEveryArr[$this->dayname]: "";
                                            echo $PERIODIC_EVERY_view.$this->formHidden('dayname',$this->dayname);
                                                					//echo $dayname;
                                            }
                                            if($day && $this->TrfPeriodicType == '6'){
                                                echo $day;
                                            }
                                            echo $this->formHidden('dayname',$dayname);
                                            echo $this->formHidden('day',$day);
                                            echo $this->formHidden('tranferdateperiodictype',$this->TrfPeriodicType);
                                         ?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('End Date'); ?></label>
									</div>
									<div class="col-sm-9">
									 	  <?php echo $end_date; echo $this->formHidden('end_date',$end_date); ?>
									</div>
								</div>
								<?php echo $this->formHidden('next_date',$next_date); ?>

								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for=""><?php echo $this->language->_('Session'); ?></label>
									</div>
									<div class="col-sm-9">
									 	<?php echo ucfirst($sesion_sweep); echo $this->formHidden('sesion_sweep',$sesion_sweep); ?>
									</div>
								</div>
							</div>

					</div>
			</div>
</div>


	<!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea">
					<div class="portlet light form-fit bordered">
						<div class="card">
							<div class="card-header cardhead">
								<strong style="color: white;"><?php echo $this->language->_('Transfer To : ');?></strong>
							</div>
							<div class="card-body form ">

							</div>
						</div>
						<br>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
 -->
<!-- 	<br><br>
 -->
	<!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea">
					<div class="portlet light form-fit bordered">
						<div class="card">
							<div class="card-header cardhead">
								<strong style="color: white;"><?php echo $this->language->_('Recurring : ');?></strong>
							</div>
							<div class="card-body form ">

							</div>
						</div>
						<br>
					</div>
				</td>
			</tr>
		</tbody>
	</table> -->
<strong ><?php echo $this->language->_('Transfer From : ');?></strong>
<br/>
	<div class="table-responsive">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
			<tbody>
				<tr>
					<td class="contentarea" id="contentarea">
						<div class="portlet light form-fit bordered">
							<div class="card">

								<div class="card-body form ">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
										<tr>
											<th>Source Account</th>
											<th>Message</th>
											<th>Additional Message</th>
											<th>Remain Balance</th>

										</tr>
										<?php
											for($i=0; $i<$countsourceaccview; $i++){
												echo '
												<tr>
												<td class="">';
												echo (isset($sourceaccview[$i])) ? $sourceaccview[$i] : "";

												echo '</td>
												<td class="">';
												echo (isset($paymentmessageview[$i])) ? $paymentmessageview[$i] : "";
												echo '</td>
												<td class="">';
												echo (isset($paymentaddmessageview[$i])) ? $paymentaddmessageview[$i] : "";

												echo '</td>
												<td class="" style="text-align:right">';
												echo (isset($remainbalanceview[$i])) ? $remainbalanceview[$i] : "";

												//echo $this->REMAIN_BALANCE_TYPE." asdf";

												if ($this->REMAIN_BALANCE_TYPE == 2){
													echo ' %';
												}

												echo'</td>
												</tr>';
												echo $this->formHidden('sourceacc[]',(isset($singelsourceaccview[$i])) ? $singelsourceaccview[$i] : "");
												echo $this->formHidden('paymentmessage[]',(isset($paymentmessageview[$i])) ? $paymentmessageview[$i] : "");
												echo $this->formHidden('paymentaddmessage[]',(isset($paymentaddmessageview[$i])) ? $paymentaddmessageview[$i] : "");
												echo $this->formHidden('remainbalance[]',(isset($remainbalanceview[$i])) ? Application_Helper_General::convertDisplayMoney($remainbalanceview[$i]) : "");
											}
											echo $this->formHidden('loop',$countsourceaccview);
										?>

									</table>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="margin: 10px 0 10px 0; float:center;" class="input-group">
		<div style="margin: 0 5px 0 0; float:center;">
			<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
		</div>
		<?php if($this->verifyPage == 0){	?>
		<div style="margin: 0 5px 0 0; float:center;">
			<?php echo $this->formSubmit('filter',$this->language->_('Verify'),array('class'=>'btngreen hov')); ?>
		</div>
	<?php }else{ ?>

		<div style="margin: 0 5px 0 0; float:center;">
			<?php echo $this->formSubmit('filter',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
		</div>

	<?php } ?>
	</div>
	</form>
</div>

<?php }?>
