<!-- php var -->
<?php 
		//["Teamplate Reff"]
		$teamplatereff = $this->teamplatereff;
		
		//["Payment Subject"]
		$paymentsubject = $this->paymentsubject;
		
		//["Beneficiary"]
		 $beneficiary = $this->beneficiary;
		
		//["Source Account"]
		$sourceacc = $this->sourceacc;
		
		//["Day Name"]
		$dayname = $this->dayname;
		
		//["Day"]
		$day = $this->day;
		
		//["Sesion"]
		$sesion = $this->sesion;
		
		//["End Date"]
		$enddate = $this->enddate;
		
		//["Category"]
		$category = $this->category;
		
		//["Currency"]
		$curr = $this->curr;
		
		//$sweeplenght
		$sweeplenght = $this->sweeplenght;
		
		//["Payment Message"]
		$pay_messg = $this->pay_messg;
		
		//["Payment Add Message"]
		$pay_add_messg = $this->pay_add_messg;
		
		//["Remain Balance"]
		$remain_balance = $this->remain_balance;
		
// 		Zend_Debug::dump($sourceacc);
		
?>
<!-- php var -->
<script type="text/javascript">
<!--

//-->
$(document).ready(function(){
	
	$("#back").click(function() {
		window.location.href = "/sweep/teamplatesweep";
	});
});
</script>
<b><?php echo $this->language->_('Sweep')." > ".$this->language->_('Template Sweep')." > ".$this->language->_('Detail')." > "; ?><?php echo $teamplatereff[0]; ?>

</b><br><br>
<?php //SWEEP IN
	if($category[0] == "sweepin"){?>
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Detail Template Sweep In'); ?></div>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Transfer To'); ?></strong></th></tr>
		
		<!-- Teamplate reff -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('teamplatereff',$this->language->_('Template reff')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $teamplatereff[0]; ?></td>
		</tr>
		<!-- Payment Subject -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('paymentsubject',$this->language->_('Payment Subject')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $paymentsubject[0]; ?></td>
		</tr>
		
		<!-- Beneficiary -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('beneficiary',$this->language->_('Beneficiary')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $beneficiary[0]; ?></td>
		</tr>
		
		<!-- Currency -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('currency',$this->language->_('Currency')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $curr[0]; ?></td>
		</tr>
	</table>
	<br>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Recuring'); ?></strong></th></tr>
		
		<!-- every -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('every',$this->language->_('Every')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $dayname[0]; echo $day[0] ?></td>
		</tr>
		
		<!-- end date -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('end date',$this->language->_('End Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo Application_Helper_General::convertDate($enddate[0]) ?></td>
		</tr>
		
		<!-- session -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('end date',$this->language->_('End Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $sesion[0] ?></td>
		</tr>
		
	</table>
	<br>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Transfer From'); ?></strong></th></tr>
		
		<!-- judul -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Message'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Additional Message'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Remain Balance'); ?></td>
		</tr>
		
		<?php 
		for ($i=0; $i<$sweeplenght; $i++){ ?>
		<tr>
			<td class="tbl-evencontent"><?php echo $sourceacc[$i] ?></td>
			<td class="tbl-evencontent"><?php echo $pay_messg[$i] ?></td>
			<td class="tbl-evencontent"><?php echo $pay_add_messg[$i]?></td>
			<td class="tbl-evencontent"><?php echo $remain_balance[$i]?></td>
		</tr>
		<?php 
		}		
		?>
		
	</table>
	
<?php  //SWEEP OUT
	}if($category[0] == "sweepout"){?>
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Detail Template Sweep Out'); ?></div>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Transfer From'); ?></strong></th></tr>
		
		<!-- Template reff -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('teamplatereff',$this->language->_('Template reff')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $teamplatereff[0]; ?></td>
		</tr>
		<!-- Payment Subject -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('paymentsubject',$this->language->_('Payment Subject')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $paymentsubject[0]; ?></td>
		</tr>
		
		<!-- Source Account -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('sourceacc',$this->language->_('Source Account')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $sourceacc[0]; ?></td>
		</tr>
		
		<!-- Currency -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('currency',$this->language->_('Currency')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $curr[0]; ?></td>
		</tr>
	</table>
	<br>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Recuring'); ?></strong></th></tr>
		
		<!-- every -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('every',$this->language->_('Every')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $dayname[0]; echo $day[0] ?></td>
		</tr>
		
		<!-- end date -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('end date',$this->language->_('End Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo Application_Helper_General::convertDate($enddate[0]) ?></td>
		</tr>
		
		<!-- session -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Session',$this->language->_('Session')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php  echo $sesion[0] ?></td>
		</tr>
		
	</table>
	<br>
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Transfer To'); ?></strong></th></tr>
		
		<!-- judul -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiari Account'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Message');?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Additional Message'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Remain Balance'); ?></td>
		</tr>
		
		<?php 
		for ($i=0; $i<$sweeplenght; $i++){ ?>
		<tr>
			<td class="tbl-evencontent"><?php echo $beneficiary[$i] ?></td>
			<td class="tbl-evencontent"><?php echo $pay_messg[$i] ?></td>
			<td class="tbl-evencontent"><?php echo $pay_add_messg[$i]?></td>
			<td class="tbl-evencontent"><?php echo $remain_balance[$i]?></td>
		</tr>
		<?php 
		}		
		?>
		
	</table>
	
<?php 
	}
?>
<?php echo $this->formButton('back','Back',array('class'=>'inputbtn')); ?>

