<script>
  $(document).ready(function()
  {
    $(".tokeninput").keyup(function (e) {

        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
              $(this).prev().focus();
      }else{
          $(this).next().focus();
      }
    });
	
	$('#tokenmodal').on('shown.bs.modal', function() {
      // $('.firsttokenfield').trigger('focus');
      $('input[name=inputtoken1]').focus();
    });
  });
</script>


<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Purchase')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Electricity Purchase')?>
                    </li>
                </ul>
            </div>
        </div>
</div>



<br>
<?php
	if($this->error)
	{	?>
	<div class="errmsg">
	<?php 
		echo $this->language->_($this->ERROR_MSG);		
	?>
	</div><br />
<?php
	}
?>

<?php 
            if($this->token){
              if($this->hidetoken){ 
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
            }
          }
        ?>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group row ">
	                <div class="col-md-12">
	                <h5><?php echo $this->language->_('Electricity Voucher Purchase');?></h5>
	                </div>
	      	</div>

	      	<?php if (!empty($this->ps_numb)){ ?>
	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Payment Ref'); ?>#</label>
	                <div class="col-md-9">
	                    <?php  if(!$this->hidetoken){ ?>
						<b><?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {echo $this->language->_('auto generate');}?></b>

							<?php }else{
								echo '<b>';
	                      echo $this->ps_numb;
	                      echo '</b>';
	                     }   ?>
						
						<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>

	                </div>
	      	</div>
	      	<?php } ?>	

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Source Account'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['ACCTSRC']?> [<?=$this->paramSession['ccy']?>] - <?=$this->paramSession['ACCT_NAME_DATA']?> (<?=$this->paramSession['ACCT_DESC']?>)

	                </div>
	      	</div>

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Provider Name'); ?></label>
	                <div class="col-md-9">
	                    <?php echo $this->formLabel('service',$this->paramSession['operatorNama']); ?>
	                </div>
	      	</div>

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('ID Meter'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['orderId']?>
	                </div>
	      	</div>

	      	<div class="form-group row " style="display: none">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Customer ID'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['customer_id']?>
	                </div>
	      	</div>

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Name'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['name']?>
	                </div>
	      	</div>

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Meter Number'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['meter_number']?>
	                </div>
	      	</div>

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Amount'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>
	                </div>
	      	</div>

	      	<?php
	      	if($this->totalkwh){
	      	?>
	      			<div class="form-group row ">
			                <label class="control-label col-md-3 "><?php echo $this->language->_('Total Kwh'); ?></label>
			                <div class="col-md-9">
			                    <?php echo $this->totalkwh; ?>
			                </div>
			      	</div>
	      	<?php
	  			}
	  		?>


	      	<?php
	      	if($this->tokenresult){
	      	?>
	      			<div class="form-group row ">
			                <label class="control-label col-md-3 "><?php echo $this->language->_('Token'); ?></label>
			                <div class="col-md-9">
			                    <?php echo $this->tokenresult; ?>
			                </div>
			      	</div>
	      	<?php
	  			}
	  		?>

	      	<?php 
			if($this->paramSession['fee'] < 1)
			{
			}
			else{
			?>
		      	<div class="form-group row ">
		                <label class="control-label col-md-3 "><?php echo $this->language->_('Fee'); ?></label>
		                <div class="col-md-9">
		                    <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['fee'])?>
		                </div>
		      	</div>
	      	<?php } ?>

	      	<div class="form-group row ">
	                <label class="control-label col-md-3 "><?php echo $this->language->_('Total'); ?></label>
	                <div class="col-md-9">
	                    <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
	                </div>
	      	</div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<?php 
            if(!$this->hidetoken){

            	?>
		 <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Token Verify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="col-md-12" align="center">
                 <table width="70%">
                    <tbody>
                      <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

                      <!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
               	<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
				<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <br>
		<?php }  ?> 
		<div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
				<div class="formbutton" style="float:left">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'btnwhite hov'));?>
					<?php //echo $this->formSubmit('submit1', $this->language->_('Submit'),array('class' => 'inputbtn'));?>
				
				  <?php 
           			 if(!$this->hidetoken){
           			 	if(!$this->token){
            			?>
            				<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
            			<?php
            		}else{
            	?>
              		  
				
					<button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>
					
					<script>
					function submitbtn(){
						//document.getElementById("subbutton").disabled=true;
						document.getElementById("subbutton").style.display ="none";
						document.getElementById("Submit_id").style.display ="inline";
						//Validation code goes here
					}
					</script>

					 <?php } } ?>
				</div>
			</div>
            <div class="col-md-4"></div>
        </div> 
</form>
</div>