<?php 
//$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?php echo $this->language->_('Account Information'); ?> &gt; <?php echo $this->language->_('Exchange Rate'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Kurs Exchange Rate'); ?></div>
<div>[ <?php echo $this->language->_('Data Updated :'); ?> <?php echo $this->resultdataUpdate;?> ]</div>

<div align="right"><?//=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>

<!--Kurs Devisa Umum-->
<b><h2><?php echo $this->language->_('Kurs Devisa Umum');?></h2></b>
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
  	<tr>
      <th width="5%" valign="top"><?php echo $this->language->_('No');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Kurs');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Sell');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Buy');?></th>      
  	</tr>
    <?php
      if(count($this->resultdata))
      {
        $i = 0;
        $counter = 1;
        //Zend_Debug::dump($this->paginator);die;
        foreach($this->resultdata as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  echo '<tr>
              	  <td class="'.$td_css.'">'.$counter.'</td>
				  <td class="'.$td_css.'">'.$row['currency'].'</td>
				  <td class="'.$td_css.'">'.$row['buyForeignExchange'].'</td>
				  <td class="'.$td_css.'">'.$row['sellForeignExchange'].'</td>';
				  ?>
				<?php echo '</tr>';
				
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
<br />

<!--Kurs Bank Notes-->
<b><h2><?php echo $this->language->_('Kurs Bank Notes');?></h2></b>
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  	<!--
  	<tr>
  		<th colspan='7'><?php echo $this->dateNow;?></th>
  	</tr>
    -->
    <tr>
      <th width="5%" valign="top"><?php echo $this->language->_('No');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Kurs');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Sell');?></th>
      <th width="30%" valign="top"><?php echo $this->language->_('Buy');?></th>      
  	</tr>
    <?php
      if(count($this->resultdata))
      {
        $i = 0;
        $counter = 1;
        foreach($this->resultdata as $row)
        {
        	
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  echo '<tr>
              	  <td class="'.$td_css.'">'.$counter.'</td>
				  <td class="'.$td_css.'">'.$row['currency'].'</td>
				  <td class="'.$td_css.'">'.$row['buyNotes'].'</td>
				  <td class="'.$td_css.'">'.$row['sellNotes'].'</td>';
				  ?>
				<?php echo '</tr>';
				
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
<div align="right"><?//=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>