<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
	<script language="javascript" type="text/javascript">
	function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, CURR_CODE, ACBENEF_EMAIL,CITIZEN,RESIDEN,CATEGORY,IDENTY_TYPE,IDENTY_NUMB)
	{

		window.opener.document.Form.ACBENEF_CURRENCY.value = CURR_CODE;

		window.opener.document.Form.ACBENEF_CITIZENSHIP.value = CITIZEN;
		window.opener.document.Form.ACBENEF_NATION.value = RESIDEN;
		window.opener.document.Form.ACBENEF_CATEGORY.value = CATEGORY;
		window.opener.document.Form.ACBENEF_IDENTY.value = IDENTY_TYPE;
		window.opener.document.Form.ACBENEF_IDENTYNUM.value = IDENTY_NUMB;
		window.opener.document.Form.TRA_CCY.value =  CURR_CODE;
		window.opener.document.getElementById('TRA_CCY').style['pointer-events'] = 'none';
		window.opener.document.Form.ACBENEF.value = ACBENEF;
		window.opener.document.Form.ACBENEF_BANKNAME.value = ACBENEF_BANKNAME;
		window.opener.document.getElementById('savebene').style.display =  'none';


	  opener.focus();
	  self.close();
	}
	</script>

<div class="tabheader" id="tabheader"><?php echo $this->language->_('In house Account'); ?></div>
<?php echo $this->formHidden("currencysourceacct",$this->currency,array('id'=>"currencysourceacct")); ?>
<?php $aliasname = $this->language->_('Alias Name'); ?>
<?php $beneficiaryaccount = $this->language->_('Beneficiary Account'); ?>
<?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
<?php $setfilter = $this->language->_('Set Filter'); ?>
<?php $clearfilter = $this->language->_('Clear Filter'); ?>
<?php $nodata = $this->language->_('No Data');?>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
			<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter')?></strong></th></tr>
    <!--<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('alias',$aliasname); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('alias',$this->alias)?></td>
    </tr>
    --><tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_acct',$beneficiaryaccount); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('benef_acct',$this->benef_acct)?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('benef_name',$beneficiaryaccountname); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('benef_name',$this->benef_name)?></td>
    </tr>

    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
	  <?php echo $this->formSubmit('filter_clear',$clearfilter,array('class'=>'btnwhite hov')); ?>
    </td></tr>
  </table>
</form>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">

<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
	<table width="100%" cellpadding="2" cellspacing="0" class="table table-sm table-striped">
    <tr>
    	<th class="tablehead" width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>

    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
  {
          $i=0;

	  foreach($this->paginator as $row) {


		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

		$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
		$button = '<a href="javascript:confirmation(\'Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="inputbtn">Delete</a>';

		$arrCitizen1 = array('W'=>'WNI','N'=>'WNA');

		if(!empty($row['BENEFICIARY_CITIZENSHIP'])){

			if($row['BENEFICIARY_CITIZENSHIP']=='W'){
				$row['BENEFICIARY_CITIZENSHIP'] =  'WNI';
			}else{
				$row['BENEFICIARY_CITIZENSHIP'] =  'WNA';
			}

		}else{
			$row['BENEFICIARY_CITIZENSHIP'] = '-';
		}

		 $arrCitizen = array('R'=>'Resident','NR'=>'Non Resident');

		if(!empty($row['BENEFICIARY_RESIDENT'])){
// 			$row['BENEFICIARY_RESIDENT'] =  $arrCitizen($row['BENEFICIARY_RESIDENT']);
			if($row['BENEFICIARY_RESIDENT']=='R'){
				$row['BENEFICIARY_RESIDENT'] =  'Resident';
			}else{
				$row['BENEFICIARY_RESIDENT'] =  'Non Resident';
			}
// 			$row['BENEFICIARY_RESIDENT'] = '-';
		}else{
			$row['BENEFICIARY_RESIDENT'] = '-';
		}
		$category = '';
		if(!empty($row['BENEFICIARY_CATEGORY'])){
			/*$model = new predefinedbeneficiary_Model_Predefinedbeneficiary();
			$category = $model->getCategoryCode($row['BENEFICIARY_CATEGORY']);
			$row['BENEFICIARY_CATEGORY'] =  $category['0']['sm_text1'];*/
// 			print_r($row);die;

			$arrCategory = array(
							'1'=>'Individual',
							'2'=>'Government',
							'3'=>'Bank',
							'4'=>'Financial Institution Non Bank',
							'5'=>'Company',
							'6'=>'Other'
							);
			$row['BENEFICIARY_CATEGORY'] = $arrCategory[$row['BENEFICIARY_CATEGORY']];
		}else{
			$row['BENEFICIARY_CATEGORY'] = '-';
		}


		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>';
				//<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
		echo '
				<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ACCOUNT'].'\', \''.$row['BENEFICIARY_ALIAS'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['CURR_CODE'].'\', \''.$row['BENEFICIARY_EMAIL'].'\', \''.$row['BENEFICIARY_CITIZENSHIP'].'\', \''.$row['BENEFICIARY_RESIDENT'].'\', \''.$row['BENEFICIARY_CATEGORY'].'\', \''.$row['BENEFICIARY_ID_TYPE'].'\', \''.$row['BENEFICIARY_ID_NUMBER'].'\')">'.$row['BENEFICIARY_ACCOUNT'].'</a></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_EMAIL'].'</td>
				<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
				<td class="'.$td_css.'">'.$this->language->_($row['ISFAVORITE_disp']).'</td>
				<td class="'.$td_css.'">'.$this->language->_($row['BENEFICIARY_BANKSTATUS_disp']).'</td>
				<td class="'.$td_css.'">'.$this->Date($row['BENEFICIARY_CREATED'], $this->dateTimeDisplayFormat).'</td>
				<td class="'.$td_css.'">'.$this->language->_($row['BENEFICIARY_ISAPPROVE_disp']).'</td>

			</tr>';

				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
	}
    ?>
</table>
<br />


<br />

			</td>
			</tr>
		</tbody>
	</table>
