<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Home'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Management'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Company Detail'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  table {
    font-size: 14px !important;
  }

  .text-gray {
    color: gray !important;
  }

  .table-header {
    font-size: 16px !important;
    color: #fff !important;
    background-color: #0b549f !important;
  }

  .nav-tabs .nav-item .nav-link {
    background-color: #ddd;
  }

  .nav-tabs .nav-item .nav-link.active {
    background-color: #0b549f;
    border-color: #0b549f;
  }

  .headercolor {
    color: #fff;
    background-color: #0b549f;
  }

  .box-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;

  }

  .form-control {
    font-size: 0.8125rem;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>

<div class="row mb-3">
  <div class="col-md-7">
    <h5><?= $this->language->_('Company Detail'); ?> - <?= $this->compInfo['CUST_NAME']; ?></h5>
  </div>
  <div class="col-md-5">
    <form onsubmit="target_popup(this)" name="Form" id="domForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'companydetail', 'action' => 'index'), null, true) ?>" method="post">
      <div class="d-flex align-items-center justify-content-end">
        <!-- <select name="printOption" id='corpusname' class="form-control" style="width:180px; border-radius:5px; text-align:center !important;" required onchange="enableButton()">
          <option>-- <?= $this->language->_('Select Print Option'); ?> --</option>
          <option value="2"><?= $this->language->_('Current'); ?></option>
          <option value="1"><?= $this->language->_('All'); ?></option>
        </select> -->
        <input type="hidden" name="printOption" value="1">
        <input type="hidden" name="currentTab" id="currentTab">
        <!-- <input type="submit" name="submit" class="btn-sm btngrad hov ml-2" id="seedoc" value="<?= $this->language->_('Print'); ?>"> -->
      </div>
    </form>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab active" onclick="select_tab(0)" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true"><?= $this->language->_('Company Information'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" onclick="select_tab(1)" id="contactinfo-tab" data-toggle="tab" href="#contactinfo" role="tab" aria-controls="contactinfo" aria-selected="false"><?= $this->language->_('Contact Info'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" onclick="select_tab(2)" id="compaccount-tab" data-toggle="tab" href="#compaccount" role="tab" aria-controls="compaccount" aria-selected="false"><?= $this->language->_('Company Account'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" onclick="select_tab(3)" id="subworkflow-tab" data-toggle="tab" href="#subworkflow" role="tab" aria-controls="subworkflow" aria-selected="false"><?= $this->language->_('Submission Workflow'); ?></a>
      </li>
      <?php if ($this->compInfo['CUST_MODEL'] == 1) : // 1=Applicant 
      ?>
        <li class="nav-item">
          <a class="nav-link tab" onclick="select_tab(4)" id="appmatrix-tab" data-toggle="tab" href="#appmatrix" role="tab" aria-controls="appmatrix" aria-selected="false"><?= $this->language->_('Approval Matrix'); ?></a>
        </li>
      <?php endif; ?>
      <?php if ($this->compInfo['CUST_MODEL'] != 3) : // 3=Special Obligee 
      ?>
        <?php if ($this->lineFacility != NULL) { ?>
          <li class="nav-item">
            <a class="nav-link tab" onclick="select_tab(5)" id="linefacility-tab" data-toggle="tab" href="#linefacility" role="tab" aria-controls="linefacility" aria-selected="false"><?= $this->language->_('Line Facility'); ?></a>
          </li>
        <?php } ?>
      <?php else : ?>
        <li class="nav-item">
          <a class="nav-link tab" onclick="select_tab(5)" id="specialobligee-tab" data-toggle="tab" href="#specialobligee" role="tab" aria-controls="specialobligee" aria-selected="false"><?= $this->language->_('Special Obligee'); ?></a>
        </li>
      <?php endif; ?>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="compinfo" role="tabpanel" aria-labelledby="compinfo-tab">
        <table width="100%" cellpadding="3" cellspacing="0">
          <tr>
            <td width="160"><?= $this->language->_('Customer Model'); ?></td>
            <td width="10">:</td>
            <td>
              <?php
              if ($this->compInfo['CUST_MODEL'] == 1) {
                echo $this->language->_('Applicant');
              } elseif ($this->compInfo['CUST_MODEL'] == 2) {
                echo $this->language->_('Insurance');
              } elseif ($this->compInfo['CUST_MODEL'] == 3) {
                echo $this->language->_('Special Obligee');
              } else {
                echo '-';
              }
              ?>
            </td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Company Name'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_NAME'] ? $this->compInfo['CUST_NAME'] . ' (' . $this->compInfo['CUST_ID'] . ')' : '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Company CIF'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_CIF'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Company NPWP'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_NPWP'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Company Type'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['COMPANY_TYPE_DESC'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Economic Sektor'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['BUSINESS_ENTITY_DESC'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Go Public'); ?></td>
            <td width="10">:</td>
            <td><?= ($this->compInfo['GO_PUBLIC'] == "Y") ? 'Yes' : 'No'; ?></td>
          </tr>
          <?php if ($this->compInfo['CUST_MODEL'] == 1) : // 1=Applicant 
          ?>
            <tr>
              <td width="160"><?= $this->language->_('Golongan Debitur Code'); ?></td>
              <td width="10">:</td>
              <td><?= $this->compInfo['DEBITUR_DESC'] ?: '-'; ?></td>
            </tr>
          <?php endif; ?>
          <?php if ($this->compInfo['CUST_MODEL'] != 3) : // 3=Special Obligee 
          ?>
            <tr>
              <td width="160"><?= $this->language->_('Collectibility Code'); ?></td>
              <td width="10">:</td>
              <td><?= $this->compInfo['COLLECTIBILITY_CODE'] ?: '-'; ?></td>
            </tr>
          <?php endif; ?>
          <tr>
            <td width="160"><?= $this->language->_('Address'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_ADDRESS'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Kelurahan'); ?> / <?= $this->language->_('Kecamatan'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_VILLAGE'] ?: '-'; ?> / <?= $this->compInfo['CUST_DISTRICT'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Kabupaten'); ?> / <?= $this->language->_('City'); ?> - <?= $this->language->_('ZIP'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CITY_NAME'] ?: 'N/A'; ?> - <?= $this->compInfo['CUST_ZIP'] ?: 'N/A'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Country'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['COUNTRY_NAME'] ?: '-'; ?></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="contactinfo" role="tabpanel" aria-labelledby="contactinfo-tab">
        <table width="100%" cellpadding="3" cellspacing="0">
          <tr>
            <td width="160"><?= $this->language->_('Contact Person'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_CONTACT'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Contact Number'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_CONTACT_PHONE'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Contact Email'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_EMAIL'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Company Phone'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_PHONE'] ?: '-'; ?></td>
          </tr>
          <tr>
            <td width="160"><?= $this->language->_('Company Website'); ?></td>
            <td width="10">:</td>
            <td><?= $this->compInfo['CUST_WEBSITE'] ?: '-'; ?></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="compaccount" role="tabpanel" aria-labelledby="compaccount-tab">
        <table width="100%" cellpadding="3" cellspacing="0" class="table table-sm table-striped">
          <thead>
            <tr class="headercolor">
              <th width="3%">No</th>
              <th><?= $this->language->_('Account Number'); ?></th>
              <th><?= $this->language->_('Account Name'); ?></th>
              <th><?= $this->language->_('Product Type'); ?></th>
              <th><?= $this->language->_('Currency'); ?></th>
            </tr>
          </thead>
          <tbody>
            <?php if ($this->accountInfo) : ?>
              <?php $no = 1;
              foreach ($this->accountInfo as $row) : ?>
                <tr>
                  <td><?= $no++; ?></td>
                  <td><?= $row['ACCT_NO']; ?></td>
                  <td><?= strtoupper($row['ACCT_NAME']); ?></td>
                  <td><?= strtoupper($row['ACCT_DESC']); ?></td>
                  <td><?= $row['CCY_ID']; ?></td>
                </tr>
              <?php endforeach; ?>
            <?php else : ?>
              <tr>
                <td colspan="5" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
              </tr>
            <?php endif; ?>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="subworkflow" role="tabpanel" aria-labelledby="subworkflow-tab">
        <div class="content-box" style="position:relative; overflow:hidden;">
          <table cellpadding="3" cellspacing="0" class="tableform" align="center">
            <tr>
              <td align="center">
                <img src="/assets/themes/assets/newlayout/img/maker.PNG" class="imgWorkflow">
              </td>
              <td align="center">
                <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
              </td>
              <?php if ($this->compInfo['CUST_APPROVER'] == 1 || $this->compInfo['CUST_MODEL'] != 1) : ?>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/approver.png" class="imgWorkflow">
                </td>
                <td align="center">
                  <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="imgWorkflow">
                </td>
              <?php endif; ?>
              <td align="center">
                <img src="/assets/themes/assets/newlayout/img/releaser.png" class="imgWorkflow">
              </td>
            </tr>
            <tr>
              <td align="center">
                <i class="fas fa-marker imgWorkflow" style="font-size:20px;color:#007934"></i>
              </td>
              <td align="center">
                <!-- hanya jarak  -->
              </td>
              <?php if ($this->compInfo['CUST_APPROVER'] == 1 || $this->compInfo['CUST_MODEL'] != 1) : ?>
                <td align="center">
                  <i class="far fa-check-circle imgWorkflow" style="font-size:20px;color:#007934"></i>
                </td>
                <td align="center">
                  <!-- hanya jarak  -->
                </td>
              <?php endif; ?>
              <td align="center">
                <i class="far fa-envelope imgWorkflow" style="font-size:20px;color:#007934"></i>
              </td>
            </tr>
            <tr>
              <td align="center">MAKER</td>
              <td align="center">
                <!-- hanya jarak  -->
              </td>
              <?php if ($this->compInfo['CUST_APPROVER'] == 1 || $this->compInfo['CUST_MODEL'] != 1) : ?>
                <td align="center">APPROVER</td>
                <td align="center">
                  <!-- hanya jarak  -->
                </td>
              <?php endif; ?>
              <td align="center">RELEASER</td>
            </tr>
            <tr>
              <td align="center">
                <img src="/images/icon/light/checked.png">
              </td>
              <td align="center">
                <!-- hanya jarak  -->
              </td>
              <?php if ($this->compInfo['CUST_APPROVER'] == 1 || $this->compInfo['CUST_MODEL'] != 1) : ?>
                <td align="center">
                  <img src="/images/icon/light/checked.png">
                </td>
                <td align="center">
                  <!-- hanya jarak  -->
                </td>
              <?php endif; ?>
              <td align="center">
                <img src="/images/icon/light/checked.png">
              </td>
            </tr>
          </table>
          <?php if ($this->compInfo['CUST_MODEL'] != 1) : // 1=Applicant 
          ?>
            <div class="box-disabled"></div>
          <?php endif; ?>
        </div>
        <?php if ($this->compInfo['CUST_MODEL'] != 1) : // 1=Applicant 
        ?>
          <p class="text-center"><?= $this->language->_('Submission workflow is intended for bank guarantee applicant only'); ?></p>
        <?php endif; ?>
      </div>
      <?php if ($this->compInfo['CUST_MODEL'] == 1) : // 1=Applicant 
      ?>
        <div class="tab-pane fade" id="appmatrix" role="tabpanel" aria-labelledby="appmatrix-tab">
          <h6><?= $this->language->_('Approver Group'); ?></h6>
          <table width="100%" cellpadding="3" cellspacing="0" class="table-sm table-striped mb-4">
            <thead>
              <tr class="headercolor">
                <th align="center"><?= $this->language->_('Group ID'); ?></th>
                <th><?= $this->language->_('Group Name'); ?></th>
                <th><?= $this->language->_('Member'); ?></th>
              </tr>
            </thead>
            <tbody>
              <?php if ($this->groupUser) : ?>
                <?php foreach ($this->groupUser as $row) : ?>
                  <tr>
                    <td align="center"><?= $row['GID']; ?></td>
                    <td><?= $row['GROUP_NAME']; ?></td>
                    <td><?= $row['USER']; ?></td>
                  </tr>
                <?php endforeach; ?>
              <?php else : ?>
                <tr>
                  <td colspan="3" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
                </tr>
              <?php endif; ?>
            </tbody>
          </table>

          <h6><?= $this->language->_('Approver Boundary'); ?></h6>
          <table cellpadding="3" cellspacing="0" class="table-sm table-striped">
            <thead>
              <tr class="headercolor">
                <th colspan="6"><?= $this->language->_('Bank Guaranteess'); ?></th>
              </tr>
              <tr>
                <td style="color:#999"><i><?= $this->language->_('Currency'); ?></i></td>
                <td style="color:#999" align="right"><i><?= $this->language->_('Amount Range From'); ?></i></td>
                <td style="color:#999">&nbsp;</td>
                <td style="color:#999" align="right"><i><?= $this->language->_('Amount Range To'); ?></i></td>
                <td style="color:#999">&nbsp;</td>
                <td style="color:#999"><i><?= $this->language->_('Policy'); ?></i></td>
              </tr>
            </thead>
            <tbody>
              <?php if ($this->dataBoundary) : ?>
                <?php foreach ($this->dataBoundary as $row) : ?>
                  <tr>
                    <td><?= $row['CCY_BOUNDARY']; ?></td>
                    <td align="right"><?= Application_Helper_General::displayMoney($row['BOUNDARY_MIN']); ?></td>
                    <td>-</td>
                    <td align="right"><?= Application_Helper_General::displayMoney($row['BOUNDARY_MAX']); ?></td>
                    <td>&nbsp;</td>
                    <td><?= $row['POLICY']; ?></td>
                  </tr>
                <?php endforeach; ?>
              <?php else : ?>
                <tr>
                  <td colspan="6" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
                </tr>
              <?php endif; ?>
            </tbody>
          </table>
        </div>
      <?php endif; ?>
      <?php if ($this->compInfo['CUST_MODEL'] != 3) : // 3=Special Obligee 
      ?>

        <div class="tab-pane fade" id="linefacility" role="tabpanel" aria-labelledby="linefacility-tab">
          <table width="100%" cellpadding="3" cellspacing="0">
            <tr>
              <td width="350"><?= $this->language->_('Underlying Document'); ?></td>
              <td width="10">:</td>
              <td>
                <?= $this->lineFacility['PKS_NUMBER'] ?: '-'; ?>
                <?= $this->lineFacility['PKS_FILE'] ? '<button type="button" class="btn btn-sm btn-light ml-3" onclick="window.location.href=\'/management/companydetail/index/download/lineFacility\'">' . $this->language->_('Download') . '</button>' : ''; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Facility Start Date'); ?></td>
              <td>:</td>
              <td><?= date('d M Y', strtotime($this->lineFacility['PKS_START_DATE'])) ?: '-'; ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Facility Expired Date'); ?></td>
              <td>:</td>
              <td><?= date('d M Y', strtotime($this->lineFacility['PKS_EXP_DATE'])) ?: '-'; ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Claim Payment Deadline (when default)'); ?></td>
              <td>:</td>
              <td><?= $this->lineFacility['CLAIM_DEADLINE'] ? $this->lineFacility['CLAIM_DEADLINE'] . ' day(s)' : '-'; ?></td>
            </tr>
            <tr class="financial" style="display:none">
              <td><?= $this->language->_('Document Submission Deadline'); ?></td>
              <td>:</td>
              <td><?= $this->lineFacility['DOC_DEADLINE'] ? $this->lineFacility['DOC_DEADLINE'] . ' day(s)' : '-'; ?></td>
            </tr>
            <?php if ($this->data["CUST_SEGMENT"] == 4) { ?>
              <tr>
                <td><?= $this->language->_('Grace Period to recover Marginal Deposit'); ?></td>
                <td>:</td>
                <td><?= $this->data['GRACE_PERIOD'] ? $this->data['GRACE_PERIOD'] . ' hari kerja' : '-'; ?></td>
              </tr>
            <?php } ?>
            <tr class="financial" style="display:none">
              <td><?= $this->language->_('Fee Will be Debited from'); ?></td>
              <td>:</td>
              <td><?= ($this->lineFacility['FEE_DEBITED'] == 1) ? 'APPLICANT' : 'FINANCIAL INSTITUTION'; ?></td>
            </tr>
            <tr class="institution" style="display:none">
              <td><?= $this->language->_('Debited Account'); ?></td>
              <td>:</td>
              <td><?= $this->lineFacility['DEBITED_ACCOUNT'] ?: '-'; ?></td>
            </tr>
            <?php if ($this->compInfo['CUST_MODEL'] == 2 && $this->lineFacility['FEE_DEBITED'] == 2) : // Insurance 
            ?>
              <tr>
                <td><?= $this->language->_('Rekening Pemabayaran Claim'); ?></td>
                <td>:</td>
                <td><?= $this->lineFacility['PAYMENT_ACCT'] ?: '-'; ?></td>
              </tr>
            <?php endif; ?>
            <tr>
              <td><?= $this->language->_('Facility Plafond Limit'); ?></td>
              <td>:</td>
              <td>IDR <?= Application_Helper_General::displayMoneyplain($this->lineFacility['PLAFOND_LIMIT']) ?: 0; ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Facility have been used'); ?></td>
              <td>:</td>
              <td class="text-danger">(IDR <?= Application_Helper_General::displayMoneyplain($this->limit_used) ?: 0; ?>)</td>
            </tr>
            <tr>
              <td><?= $this->language->_('Available Limit'); ?></td>
              <td>:</td>
              <td>IDR <?= Application_Helper_General::displayMoneyplain($this->current_limit) ?: 0; ?></td>

            </tr>
            <tr>
              <td><?= $this->language->_('Ticket Size'); ?></td>
              <td>:</td>
              <td>
                <?php
                $percent10 = (10 / 100) * (float)$this->lineFacility['PLAFOND_LIMIT'];
                if ($this->lineFacility['TICKET_SIZE'] == 1) {
                  echo '10% (IDR ' . Application_Helper_General::displayMoneyplain($percent10) . ')';
                } elseif ($this->lineFacility['TICKET_SIZE'] == 2) {
                  echo 'Allowed to optimized Plafond Limit';
                } else {
                  echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->lineFacility['TICKET_SIZE']);
                }
                ?>
              </td>
            </tr>
            <tr class="financial" style="display:none">
              <td><?= $this->language->_('Marginal Deposit'); ?></td>
              <td>:</td>
              <td>
                <?php
                // if ($this->lineFacility['TICKET_SIZE'] == 1) {
                //   echo $this->lineFacility['MARGINAL_DEPOSIT'] ? Application_Helper_General::displayMoneyplain($this->lineFacility['MARGINAL_DEPOSIT']) : 0;
                // } else {
                //   $plafond_limit = $this->lineFacility['PLAFOND_LIMIT'];
                //   $marginal_deposit = $this->lineFacility['MARGINAL_DEPOSIT'];
                //   $percent = ((float)$marginal_deposit / 100) * (float)$plafond_limit;
                //   echo Application_Helper_General::displayMoneyplain($percent);
                // }
                ?>
                <?php
                $get_percent = number_format(round($this->data['MARGINAL_DEPOSIT'] / $this->data['PLAFOND_LIMIT'] * 100, 2), 2);
                echo $get_percent . "%"
                ?>
                (IDR
                <?= $this->data['MARGINAL_DEPOSIT'] ? number_format($this->data['MARGINAL_DEPOSIT'], 2) : 0; ?>
                )
              </td>
            </tr>
            <?php if (false) : ?>
              <tr>
                <td><?= $this->language->_('Bank Provision Fee'); ?></td>
                <td>:</td>
                <td><?= $this->lineFacility['FEE_PROVISION'] ? $this->lineFacility['FEE_PROVISION'] . '% (from BG Nominal)' : '-'; ?></td>
              </tr>
              <tr>
                <td><?= $this->language->_('Bank Administration Fee'); ?></td>
                <td>:</td>
                <td>IDR <?= Application_Helper_General::displayMoneyplain($this->lineFacility['FEE_ADMIN']) ?: 0; ?></td>
              </tr>
              <tr>
                <td><?= $this->language->_('Bank Stamp Fee'); ?></td>
                <td>:</td>
                <td>IDR <?= Application_Helper_General::displayMoneyplain($this->lineFacility['FEE_STAMP']) ?: 0; ?></td>
              </tr>
            <?php endif ?>
            <tr>
              <td><?= $this->language->_('Status'); ?></td>
              <td>:</td>
              <td><?= $this->statusArr[$this->lineFacility['STATUS']]; ?></td>
            </tr>

            <tr>
              <td colspan="3">&nbsp</td>
            </tr>
            <tr id="header_provisi">
              <td colspan="3" class="font-weight-bold"><?= $this->language->_('Pengenaan Biaya Provisi Bank Garansi Kontra Line Facility '); ?><span id="jenis_lf"></span></td>
            </tr>
            <tr id="isi_provisi">
              <td colspan="3">
                <table class="my-3" cellpadding="5" style="width:auto">
                  <thead>
                    <tr>
                      <td style="background-color: #0b549f; width: 200px" class="text-white font-weight-bold">Jenis Jaminan</td>
                      <td style="background-color: #0b549f; width: 20%" class="text-white font-weight-bold">Aktif</td>
                      <td style="background-color: #0b549f;" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
                      <td style="background-color: #0b549f;" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jaminan Pembayaran</td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" name="JAMINAN_PEMBAYARAN" <?= ($this->get_all_provision[0]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
                          <span class="slider round"></span>
                        </label>
                      </td>
                      <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_pembayaran_bumn" value="<?= number_format($this->get_all_provision[0]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                      <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_pembayaran_nonbumn" value="<?= number_format($this->get_all_provision[1]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                    </tr>
                    <tr>
                      <td>Jaminan Penawaran</td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" name="JAMINAN_PENAWARAN" <?= ($this->get_all_provision[2]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
                          <span class="slider round"></span>
                        </label>
                      </td>
                      <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_penawaran_bumn" value="<?= number_format($this->get_all_provision[2]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                      <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_penawaran_nonbumn" value="<?= number_format($this->get_all_provision[3]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                    </tr>
                    <tr>
                      <td>Jaminan Pelaksanaan</td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" name="JAMINAN_PELAKSANAAN" <?= ($this->get_all_provision[4]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
                          <span class="slider round"></span>
                        </label>
                      </td>
                      <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_pelaksanaan_bumn" value="<?= number_format($this->get_all_provision[4]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                      <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_pelaksanaan_nonbumn" value="<?= number_format($this->get_all_provision[5]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                    </tr>
                    <tr>
                      <td>Jaminan Uang Muka</td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" name="JAMINAN_UANG_MUKA" <?= ($this->get_all_provision[6]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
                          <span class="slider round"></span>
                        </label>
                      </td>
                      <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_uang_muka_bumn" value="<?= number_format($this->get_all_provision[6]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                      <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_uang_muka_nonbumn" value="<?= number_format($this->get_all_provision[7]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                    </tr>
                    <tr>
                      <td>Jaminan Pemeliharaan</td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" name="JAMINAN_PEMELIHARAAN" <?= ($this->get_all_provision[8]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
                          <span class="slider round"></span>
                        </label>
                      </td>
                      <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_pemeliharaan_bumn" value="<?= number_format($this->get_all_provision[8]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                      <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_pemeliharaan_nonbumn" value="<?= number_format($this->get_all_provision[9]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                    </tr>
                    <tr>
                      <td>Jaminan Lainnya (SP2D)</td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" name="JAMINAN_LAINNYA" <?= ($this->get_all_provision[10]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
                          <span class="slider round"></span>
                        </label>
                      </td>
                      <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_lainnya_bumn" value="<?= number_format($this->get_all_provision[10]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                      <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_lainnya_nonbumn" value="<?= number_format($this->get_all_provision[11]["FEE_PROVISION"], 2); ?>" onkeydown="return false"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr>
              <td colspan="3">&nbsp</td>
            </tr>

            <tr>
              <td colspan="3" class="font-weight-bold"><?= $this->language->_('Biaya Lainnya'); ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Biaya Admin Bank'); ?></td>
              <td>:</td>
              <td>IDR <?= number_format($this->data['FEE_ADMIN'], 2) ?: 0; ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Biaya Meterai Bank'); ?></td>
              <td>:</td>
              <td>IDR <?= number_format($this->data['FEE_STAMP'], 2) ?: 0; ?></td>
            </tr>
          </table>
        </div>

      <?php else : ?>
        <div class="tab-pane fade" id="specialobligee" role="tabpanel" aria-labelledby="specialobligee-tab">
          <table width="100%" cellpadding="3" cellspacing="0">
            <tr>
              <td width="200"><?= $this->language->_('Company'); ?></td>
              <td width="10">:</td>
              <td><b><?= strtoupper($this->specialObligee['CUST_NAME']) . ' (' . $this->specialObligee['CUST_ID'] . ')'; ?></b></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Fee Sharing Account'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['SHARING_ACCT'] ?: '-'; ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Underlying Document'); ?></td>
              <td>:</td>
              <td>
                <?= $this->specialObligee['PKS_NUMBER'] ?: '-'; ?>
                <?= $this->specialObligee['PKS_FILE'] ? '<button type="button" class="btn btn-sm btn-light ml-3" onclick="window.location.href=\'/management/companydetail/index/download/specialObligee\'">' . $this->language->_('Download') . '</button>' : ''; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Agreement Start Date'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['PKS_START_DATE'] ? date('d M Y', strtotime($this->specialObligee['PKS_START_DATE'])) : '-'; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Agreement Expired Date'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['PKS_EXP_DATE'] ? date('d M Y', strtotime($this->specialObligee['PKS_EXP_DATE'])) : '-'; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Fee Sharing'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['SHARING_FEE'] ? $this->specialObligee['SHARING_FEE'] . '% (from bank provision fee paid)' : '-'; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Agreement Status'); ?></td>
              <td>:</td>
              <td><?= $this->statusArr[$this->specialObligee['STATUS']] ?: '-'; ?></td>
            </tr>
            <tr>
              <td><?= $this->language->_('Last Suggested'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['LAST_SUGGESTED'] ? date('d M Y', strtotime($this->specialObligee['LAST_SUGGESTED'])) . ' (' . $this->specialObligee['LAST_SUGGESTEDBY'] . ')' : '-'; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Last Reviewed'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['LAST_REVIEWED'] ? date('d M Y', strtotime($this->specialObligee['LAST_REVIEWED'])) . ' (' . $this->specialObligee['LAST_REVIEWEDBY'] . ')' : '-'; ?>
              </td>
            </tr>
            <tr>
              <td><?= $this->language->_('Last Approved'); ?></td>
              <td>:</td>
              <td><?= $this->specialObligee['LAST_APPROVED'] ? date('d M Y', strtotime($this->specialObligee['LAST_APPROVED'])) . ' (' . $this->specialObligee['LAST_APPROVEDBY'] . ')' : '-'; ?>
              </td>
            </tr>
          </table>
        </div>
      <?php endif; ?>
    </div>
  </div>
</div>

<script>
  function enableButton() {
    var selectelem = document.getElementById('corpusname');
    var btnelem = document.getElementById('seedoc');
    btnelem.disabled = !selectelem.value;
  }

  function checkjaminan(object) {
    const parent = object.parentElement.parentElement.parentElement
    const save_jaminan = parent.querySelectorAll("input[type='text']");

    save_jaminan.forEach(item => {
      if (object.checked) {
        item.disabled = false;
        item.style.color = "#000"
      } else {
        item.disabled = true;
        item.style.color = "#b3b2b2"
      }
    })
  }

  $(document).ready(function() {

    document.querySelectorAll(".provision_percentage").forEach(item => {
      item.parentElement.parentElement.querySelector("input[type='checkbox']").dispatchEvent(new Event("change"));
    })

    document.querySelectorAll("input").forEach(e => {
      e.style.caretColor = "transparent"
    })

    select_tab(0);

    var segment = "<?= $this->lineFacility['CUST_SEGMENT']; ?>";
    if (segment == 4) {
      $('.financial').show();
      var debited = "<?= $this->lineFacility['FEE_DEBITED']; ?>";
      if (debited == 2) {
        $('.institution').show();
      } else {
        $('.institution').hide();
      }
    } else {
      $('.financial').hide();
    }

    const custModel = <?= $this->data['CUST_SEGMENT']; ?>;
    const bumn = <?= $this->data["GRUP_BUMN"]; ?>;

    if (bumn === 1) {
      if (custModel !== 4) {
        document.querySelectorAll(".nonbumn").forEach(item => {
          item.parentElement.style.display = "none"
          item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[3].style.display = "none"
          item.value = '0.00'
          // item.disabled = true;
          item.style.color = "#b3b2b2"
        })
      }
    } else {
      if (custModel !== 4) {
        document.querySelectorAll(".bumn").forEach(item => {
          item.parentElement.style.display = "none"
          item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[2].style.display = "none"
          item.value = '0.00'
          // item.disabled = true;
          item.style.color = "#b3b2b2"
        })
      }
    }

  });

  function select_tab(number) {
    $('#currentTab').val(number);
  }

  function target_popup(form) {
    window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
    form.target = 'formpopup';
  }
</script>