<style type="text/css">
  /*----------switch button css--------*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #006520;
}

input:focus + .slider {
  box-shadow: 0 0 1px #006520;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-------end switch button css-----------*/
</style>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
$destination = LIBRARY_PATH.'/data/temp/';
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
    display: none !important;
    visibility: hidden;
  }

  button {
    display: none !important;
    visibility: hidden;
  }

  /*form {
    display: none !important;
    visibility: hidden;
  }*/

  .hiddenLogo, .hiddenLogo * {
    display: inline !important;
    visibility: show;
  }

  input.currency{ width: 200px; font-size: 10px; }
  ul { padding-left:10px; }
  h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
  body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
  b { font-weight:bold; font-size:11px }
  td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
  a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
  .tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
  .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
  .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
  body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  -webkit-print-color-adjust:exact; /*chrome*/
  -moz-print-color-adjust:exact; /*mozila*/
  -o-print-color-adjust:exact; /*opera*/
  -ms-print-color-adjust:exact; /*ie*/
  }
}

</style>

<?php 
  $destination = LIBRARY_PATH.'/data/temp/';
?>
<div class="row"> 
  <div class="col-md-12"> 
      <table style="font-size: 15px">
        <tr>
          <td>Service Type</td>
          <td>:</td>
          <td>Financial</td>
        </tr>
      </table>
  </div>
</div>
<br>  
<h2 align="center">Transaction Workflow Process</h2>
<div align="center" class="transtab">
  <div class="row content-box table-responsive" style="width: 80%;">
    <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr>
      <td align="center">
        <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/maker.PNG">
      </td>
      <td align="center">
        <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/arrow.PNG">
      </td>
        <td align="center">
          <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/reviewer.png">
      </td>
      <td align="center">
        <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/arrow.PNG">
      </td>
        <td align="center">
          <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/approver.png">
      </td>
      <td align="center">
        <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/arrow.PNG">
      </td>
        <td align="center">
          <img style="height:50px;" class="img-fluid" src="file://<?php echo $destination ?>../../../frontend/public/assets/permatalayout/assets/newlayout/img/releaser.png">
      </td>
    </tr>
    <tr>
      <td align="center">
        <i class="fas fa-marker" style="font-size:20px;color:#007934"></i>
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        <i class="fas fa-glasses" style="font-size:20px;color:#007934"></i>
      </td>

       <td align="center">
       <!-- hanya jarak  -->
      </td>

       <td align="center">
        <i class="far fa-check-circle" style="font-size:20px;color:#007934"></i>
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        <i class="far fa-envelope" style="font-size:20px;color:#007934"></i>
      </td>
    </tr>
     <tr>
      <td align="center">
        MAKER
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        REVIEWER
      </td>

       <td align="center">
       <!-- hanya jarak  -->
      </td>

       <td align="center">
        APPROVER
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        RELEASER
      </td>
    </tr>
    <tr>
      <td align="center">
        <input type="checkbox" value="maker" name="check_maker" checked disabled>
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        <input type="checkbox" value="reviewer" name="check_reviewer" checked disabled>
      </td>

       <td align="center">
       <!-- hanya jarak  -->
      </td>

       <td align="center">
        <input type="checkbox" value="approver" name="check_approver" checked disabled>
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        <input type="checkbox" value="releaser" name="check_releaser" checked disabled>
      </td>
    </tr>
    <tr>
      <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

        <td align="center">
        <!-- hanya jarak  -->
      </td>

       <td align="center">
        <!-- hanya jarak  -->
      </td>

      <td align="center">
        <p>Token</p>
        <label class="switch">
          <input type="checkbox" name="switch_token_approver">
          <span class="slider round"></span>
        </label>
      </td>

      <td align="center">
        <!-- hanya jarak  -->
      </td>

      <td align="center">
       <p>Token</p>
        <label class="switch" name="switch_token_releaser">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </td>
    </tr>
   </table>
   </div>
 </div>
 <br>
     <div class="card">
       <div class="card-header cardhead text-white">
          <strong></strong>
       </div>
       <table border="1" cellpadding="0" cellspacing="0" class="table table-sm table-striped" width="100%">
        <thead>
          <tr>
            <th colspan="3" style="background-color: #005587;">Group Member</th>
          </tr>
        </thead>
         <tbody>
          <?php
        if($this->selectUsergroup){
          foreach ($this->selectUsergroup as $key => $value) {
            // $spesial = 'S_'.$this->cust_id;
            // if($value['GROUP_USER_ID']==$special){
              ?>
              <tr>
                <td><?php echo $value['GID'] ?></td>
                <td><?php echo $value['GROUP_NAME'] ?></td>
                <td><?php echo $value['USER'] ?></td>
              </tr>
              <?php
            // }
          }
        }
        ?>
         </tbody>
       </table>
     </div>


      <tr><td>&nbsp;</td></tr>
      <tr>
        <td class="contentarea" id="contentarea">
          <div class="card">
              
              <table border="1" cellpadding="0" cellspacing="0" width="100%" class="table table-sm table-striped">
                
                   <thead>
                  <tr>
                    <th colspan="6" style="background-color: #005587;">Group Member</th>
                  </tr>
                </thead>
                <tbody>
                  <?php
                    if($this->hasPrivilege('UABG'))
                    {
                      $disabled = '';
                    }
                    else
                    {
                      $disabled = 'disabled';
                    }
                      $i = 1;
                      if(count($this->dataBoundary) > 0){
                        
                        foreach($this->dataBoundary as $row){
                          $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                          // print_r($td_css);
                          echo '<tr>
                            <td  class="'.$td_css.'">'.$i.'</td>
                            <td  class="'.$td_css.'">'.$row['TRANSFER_TYPE'].'</td>
                                    <td class="'.$td_css.'">'.$row['CURRENCY'].'</td>
                            <td  class="'.$td_css.'">'.$row['BOUNDARY'].'</td>
                            <td  class="'.$td_css.'">'.$row['GROUP_NAME'].'</td>
                            <td  class="'.$td_css.'">'.$row['USERS'].'</td>
                            </tr>';

                          $i++;
                        }
                      }
                    ?>
                </tbody>
              </table>
          </div>
<br><br>
        

