<script type="text/javascript">
	$(document).ready(function() {
		$('#fixTable').fixTableHeader();


		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

		$('div#sidebar-collapse').click(function() {
			if ($("#logo-title").is(":visible")) {
				$("#logo-title").hide();
				$("#logo-titles").hide();
			} else if ($("#logo-title").is(":hidden")) {
				$("#logo-title").show();
				$("#logo-titles").show();
			}
		});

	});
</script>


<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Customer Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Obligee Fee Sharing Report'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<br>
<!--
<div class="row">
    <div class="col-md-12">
        <div class="" align="center">
            <h5><?= $this->language->_('Bank Account List') ?></h5>
        </div>
    </div>
</div>
<div style="padding: 20px 0px;" class="container">
      <div   class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-6">
          <?php
			$setting = new Settings();
			$master_bank_name = $setting->getSetting('master_bank_name');
			?>
            <button style="width: 70%; float: right;" type="button" class="btngreen hov" onclick="location.href=''" disabled><?php echo $this->language->_($master_bank_name) ?></button>
          </div>
          <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 70%; float: left;" type="button" class="btnwhite hov" onclick="location.href='/cmdreport/openbankaccount'" ><?php echo $this->language->_('360 Open Bank Account') ?></button>
          </div>
      </div>
  </div>
<br>
-->
<div class="row content-box">
	<div class="col-md-12 portlet-body form">

		<h5><?= $this->language->_('Obligee Fee Sharing Report') ?></h5>

		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">


			<?php
			$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
			foreach ($this->filterlist as $row => $keyys) {
				$optArr .=  '<option value="' . $row . '" >' . $this->language->_($keyys) . '</option>';
			}

			?>
			<div class="row " id="logo-titles" style="margin-left: 0px">
				<?php
				if (!empty($this->wherecol)) {
				?>
					<script type="text/javascript">
						$(document).ready(function() {
							$("#logo-title").show();
						});
					</script>
				<?php
				}
				// print_r($this->wherecol);die;
				$index = 0;
				foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
						<?php
						$datetype = array("BG_ISSUED", "BG_REFCODE", "COUNTER_WARRANTY_TYPE");
						$selectlist = array("CUST_NAME", "CUST_ID", "RECIPIENT_NAME", "SP_OBLIGEE_CODE", "BG_NUMBER", "BG_SUBJECT", "BRANCH_NAME", "Provider_Name");



						?>
						<div id="where-<?= $index ?>">
							<div class="form-group row mt-12">
								<div class="col-md-4 form-inline">
									<select class='form-control event_select' id='wherecol-<?= $index ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
										<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
										<?php

										foreach ($this->filterlist as $row => $keyys) {
											$colname = $row;
											if ($value == $colname) {
												$selected = "selected";
											} else {
												$selected = "";
											}
										?>
											<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($keyys) ?></option>
										<?php } ?>
									</select>
								</div>
								<div class="col" style="display: none">
									<select class='form-control' id='whereopt-<?= $index ?>' name='whereopt[]'>

										<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
										<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } ?>
									</select>
								</div>
								<div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
									<script type="text/javascript">
										$(document).ready(function() {
											var colval = "#colvalue-<?= $key ?>";
											var colomnname = "<?= $value ?>";
											// var colselect= "<?= $value ?>";
											var colselect = "colselect-<?= $key ?>";
											var ncolselect = "#colselect-<?= $key ?>";
											if (colomnname == 'BG_REFCODE') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'countertype'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$index] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');
											} else if (colomnname == 'BRANCH_NAME') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$index] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');
											} else if (colomnname == 'COUNTER_WARRANTY_TYPE') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'countertype'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$index] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');
											} else if (colomnname == 'BG_ISSUED') {
												// $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart<?= $index; ?>' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd<?= $index; ?>' readonly required>");


												$('#efdateStart<?= $index; ?>').datepicker({
													format: 'dd/mm/yyyy',
													uiLibrary: 'bootstrap4'
												});
												$('#efdateEnd<?= $index; ?>').datepicker({
													format: 'dd/mm/yyyy',
													uiLibrary: 'bootstrap4'
												});



											}
										});
									</script>
									<?php
									if ($value == 'BG_ISSUED') { ?>
										<input type='text' class='form-control' name='efdate[]' id='efdateStart<?= $index; ?>' readonly value="<?= $this->efdateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd<?= $index; ?>' value="<?= $this->efdateEnd ?>" readonly required>

									<?php
									} else if (in_array($value, $selectlist) && $value != "BRANCH_NAME") {
									?>
										<input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
									<?php }
									if (!in_array($value, $datetype)) {
									}
									?>
								</div>
								<div class="col-md-2 form-inline">
									<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>

					</div>

				<?php
					$index++;
				}
				?>

			</div>


			<div class="row " id="logo-title" style="display: none">
				<div class="portlet-body form col-md-12">
					<div id="wheres" style="width: 100%">
						<?php if (!$this->wherecol) { ?>
							<div id="where-<?= $index ?>">
								<div class="form-group row mt-12">
									<div class="col-md-4 form-inline">
										<select class='form-control event_select' style='width:100%' id='wherecol-<?= $index ?>' name='wherecol[]' onchange='getOpt(this)'>
											<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
											<?php

											foreach ($this->filterlist as $row => $keyys) {
												$colname = $row;
												if ($val == $colname) {
													$selected = "selected";
												} else {
													$selected = "";
												}
											?>
												<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($keyys) ?></option>
											<?php } ?>
										</select>
									</div>
									<div class="col" style="display: none">
										<select class='form-control' id='whereopt-<?= $index ?>' name='whereopt[]'>

											<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
												<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
												<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
												<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
												<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
											<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
												<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
												<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
											<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
												<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
												<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
												<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
												<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
												<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
											<?php } ?>
										</select>
									</div>
									<div class="col-md-6 form-inline" id='colvalue-<?= $index ?>'>
										<input class='form-control' type='text' style='width:100%' name='whereval[]' value='' />
									</div>
									<div class="col-md-2 form-inline">
										<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
									</div>
								</div>
							</div>
						<?php $index++;
						}
						?>
					</div>
					<input type="hidden" id="wherectr" value="<?= $index ?>" />
					<!-- <input type="hidden" id="wherectr" value="0" /> -->
					<br />
					<button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
					&nbsp;
					<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
					&nbsp;
					<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


					<br />


					<div class="portlet-body form" style="display: none">

						<div class="form-group row ">
							<label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
							<div class="col-md-4">
								<?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
							</div>
							<label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
							<div class="col-md-3">
								<select name="transferType" id="transferType" class="form-control">
									<option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
								</select>
							</div>
						</div>

						<div class="form-group row ">

							<div class="col-md-12">
								<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btn btn-success')); ?>&nbsp;
								<input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
							</div>
						</div>


					</div>
				</div>
				<div class="col-md-4">
				</div>

			</div>
			<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation">
					<?php echo $this->language->_('Advanced Search'); ?>
				</a>
			</div>






		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table align="right">
			<tr style="height:30px">
				<td colspan="12" align="CENTER">
					<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.ptml'), null, true) ?> method="post">
						<!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
						<!-- <?php echo $this->formSubmit('pdf', '  PDF is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
						<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
						<!-- <?php } else { ?> -->
						<!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?>&nbsp; -->
						<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
						<!-- <?php } ?> -->
						<?php if ($this->count > $this->applicationSetting['max_row_download_csv']) { ?>
							<!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
							<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
						<?php } else { ?>
							<!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
							<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
						<?php } ?>
				</td>
				<td>
					<!--					<input class="btn btn-success"  value="<?php echo $this->language->_('PRINT'); ?>" onclick="window.print();" type="button">-->

					<?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
						// echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
					} else {
					?>
						<!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
					<?php
					}
					?>
					</form>
				</td>
				<td>
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
						</div>
						<input type="text" class="search form-control" id="searchtable" placeholder="Search">
					</div>
				</td>
			</tr>
		</table>
		<br />
		<br />
		<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
			<table class="table table-sm table-striped" id="myTable">
				<thead>
					<tr>
						<th width="3%" valign="top" class="tablehead">No.</th>
						<?php
						echo $this->partial(
							'tableheader.phtml',
							array(
								'fields' => $this->fields,
								'sortBy' => $this->sortBy,
								'sortDir' => $this->sortDir,
								'query_string_params' => $this->query_string_params
							)
						);
						?>
					</tr>
				</thead>
				<tbody>
					<?php

					if (count($this->paginator)) {
						$counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
						// $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
						$i = 0;
						// Zend_Debug::dump($this->paginator);die;

						//encrypt id
						require_once 'Crypt/AESMYSQL.php';
						$AESMYSQL = new Crypt_AESMYSQL();
						$rand = $this->token;
						foreach ($this->paginator as $row) {
							$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
							$button1 = $this->url(array('module' => $this->modulename, 'controller' => 'view', 'action' => 'index', 'cust_id' => $this->cust_id, 'acct_no' => $row['ACCT_NO']), null, true);
							$button1 = '<a href="' . $button1 . '" class="btn btn-success">View/Edit</a>';
							//$ACCT_STATUS = (isset($row['ACCT_STATUS']) ? $row['ACCT_STATUS'] : -1);
							//$arrACCT_STATUS = array(0=>"Unapproved",1=>"Approved",2=>"Suspended",3=>"Deleted",4=>"Request Edit",5=>"Request  Delete");
							//$dispACCT_STATUS = in_array($ACCT_STATUS, array_keys($arrACCT_STATUS)) ? $arrACCT_STATUS[$ACCT_STATUS] : "N/A";

							$encrypted_acct = $AESMYSQL->encrypt($row['ACCT_NO'], $rand);
							$encacct = urlencode($encrypted_acct);

							$encrypted_custid = $AESMYSQL->encrypt($row['CUST_ID'], $rand);
							$enccustid = urlencode($encrypted_custid);

							echo '<tr>
						<td class="' . $td_css . '">' . $counter . '</td>
						<td class="' . $td_css . '">' . $row['RECIPIENT_NAME'] . ' (' . $row['SP_OBLIGEE_CODE'] . ')</td>
						<td class="' . $td_css . '">' . $row['CUST_NAME'] . ' (' . $row['CUST_ID'] . ')</td>';
					?>
						<?
							$label = '';
							if (!empty($row['BG_INSURANCE_CODE'])) {
								$label = '(' . $row['BG_INSURANCE_CODE'] . ')';
							}
							echo
							'<td style="text-transform: uppercase;" class="' . $td_css . '">' . $row['BG_NUMBER'] . ' / ' . $row['BG_SUBJECT'] . '</td>
						<td class="' . $td_css . '">' . $row['BRANCH_NAME'] . '</td>
						<td class="' . $td_css . '">' . 'IDR ' . Application_Helper_General::displayMoneyplain($row['BG_AMOUNT']) . '</td>

						<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['BG_ISSUED'], $this->viewDateFormat, $this->defaultDateFormat) . '</td>
						<td class="' . $td_css . '">' . 'IDR ' . Application_Helper_General::displayMoneyplain($row['PROVISION_FEE']) . '</td>
						<td class="' . $td_css . '">' . 'IDR ' . Application_Helper_General::displayMoneyplain($row['freeSharing']) . '</td>
						</tr>';
							$i++;
							$counter++;
						}
						?>
				</tbody>
			</table>
		<?php
					} else { ?>
			<tr>
				<td colspan="13" class="tbl-evencontent" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td>
			</tr>
			</table><?php } ?>
		</div>
		<br />
		<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
		<br />
	</div>
</div>


<script type="text/javascript">
	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
	}
	$(document).ready(function() {

		$("#addwhere").click(function() {
			var ctr = $("#wherectr").val();
			console.log(ctr);
			var optstr = '<?php echo $optArr; ?>';
			var wherecol = "#wherecol-" + ctr;
			$("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
			ctr++;
			$("#wherectr").val(ctr);
		});
	});

	function getOpt(elem) {
		var id = elem.id;
		var temp = id.split('-');
		var ctr = temp[1];

		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];

		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-" + ctr;
		var ncolselect = "#colselect-" + ctr;
		var $coll = $('.event_select');
		$coll.children().prop('disabled', false);
		$coll.each(function() {
			var val = this.value;
			if (val === 'original') return;
			$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
		});

		$(colval).empty();
		if (colomnname == 'BG_ISSUED') {
			$(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");


			$('#efdateStart').datepicker({
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});
			$('#efdateEnd').datepicker({
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});



		} else if (colomnname == 'BRANCH_NAME') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: '<?= $this->whereval[$index] ?>'
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
			$(colselect).val('<?= $this->whereval[$index] ?>');
		} else if (colomnname == 'BG_REFCODE') {

			$(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'countertype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
			// paytype
		} else if (colomnname == 'COUNTER_WARRANTY_TYPE') {

			$(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'countertype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
			// paytype
		} else {
			$(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='160'  class='form-control' >");
		}


		var optsel = "whereopt-" + ctr;
		document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

		if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
			document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}
		if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
		} else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
		} else if (dttype == 'date' || dttype == 'datetime') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}

		var colomn = '#whereopt-' + ctr;
		var data = $(colomn).val('EQUAL').change();

	}
</script>