<?php
	$config 			= Zend_Registry::get('config');
	$foTransferPeriodic = $config['fo']['transfer']['within']['periodic']; //foTransferPeriodic

	$this->language = Zend_Registry::get('language');
	$app = $config['app']['bankcode'];
	$yesNo = array("1"=>"Yes","2"=>"No");
?>

<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>

<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div>



	<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span>RDN Investor</span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    
	                    <span class="inhouse"><?=$this->language->_('Add RDN Investor')?></span>
	                    
	                </li>
	                <li>
	                	<?php echo (($this->confirmPage == 1 && empty($this->resultPage))? $this->language->_('Confirmation'): ""); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
    </div>

	<br>
	<?php if($this->error) {?>
		<div class="alert alert-danger">
			<?php echo $this->language->_($this->ERROR_MSG);?>
		</div>
		<br />
	<?php }?>

	<?php $mandatory = ($this->confirmPage == 1)? "" : " <span style='color:red;'>*</span>";?>
	<?php $ispadding = ($this->confirmPage == 1)? "pt-2" : "";?>

	<form name="Form" id="withinForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">

		<div class="row">
			<div class="col-md-12">
				<h5><?=$this->language->_('Add RDN Investor')?></h5>
	            <hr/>
			</div>
		</div>
		<input type="hidden" name="page1" value="<?=$this->acctpage?>">
		<input type="hidden" name="page2" value="<?=$this->stockpage?>">
		<input type="hidden" name="page3" value="<?=$this->confirmPage?>">
		
	            <?php if($this->acctpage == 1){ ?>
		<div class="row">
			

			<div class="col-md-6">
	            
	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Source Account'); ?>#</label>
	                <div class="col-sm-8 pt-2">
	                	<?php  
							if ($this->confirmPage != 1){
								?>
								<div class="input-group">

							<?php
								echo $this->formText('ACTSRC',$this->ACBENEF,array('class'=>'form-control','maxlength'=>'16','onkeypress'=>'return forceNumber(event)','autocomplete'=>'off'));
								echo $this->formText('ACBENEF_PLAIN',$this->ACBENEF,array('class'=>'form-control','maxlength'=>'200','style'=>'display: none;','onkeypress'=>'return forceNumber(event)','autocomplete'=>'off','readonly'=>'readonly'));
							?>
								<div class="input-group-append">
												<input  id="accountadd" class="btn btn-success" value="<?php echo $this->language->_('Populate Data'); ?>" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'populatedata','action'=>'index'),null,true)?>', 750)" type="button">
											</div>
										</div>
				                

							<?php
							}else
								echo $this->paramSession['acct_no'].$this->formHidden('ACTSRC',$this->paramSession['acct_no']);
						?>
					</div>
	                    
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Investor Name'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('ACCT_NAME',$this->PS_SUBJECT,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['AccountName'].$this->formHidden('ACCT_NAME',$this->paramSession['AccountName']);
						?>
	                </div>
	            </div>

	           
	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('SID'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('SID',$this->SID,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['SID'].$this->formHidden('SID',$this->paramSession['SID']);
						?>
	                </div>
	            </div>

	           
	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('SRE'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('SRE',$this->SRE,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['SRE'].$this->formHidden('SRE',$this->paramSession['SRE']);
						?>
	                </div>
	            </div>

	           
	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Address'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('ADDRESS',$this->ADDRESS,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['Address'].$this->formHidden('ADDRESS',$this->paramSession['Address']);
						?>
	                </div>
	            </div>

	           
	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('State / Province'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('STATE',$this->STATE,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['State'].$this->formHidden('STATE',$this->paramSession['State']);
						?>
	                </div>
	            </div>

	           
	             

	           

	           

	        </div><!-- End Left Column -->

	        <div class="col-md-6">
	            
	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('City'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('CITY',$this->CITY,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['City'].$this->formHidden('CITY',$this->paramSession['City']);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Zip Code'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('ZIPCODE',$this->ZIPCODE,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['Zipcode'].$this->formHidden('ZIPCODE',$this->paramSession['Zipcode']);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Country'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('COUNTRY',$this->COUNTRY,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['Country'].$this->formHidden('COUNTRY',$this->paramSession['Country']);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Phone Number'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('PHONE',$this->PHONE,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['Phone'].$this->formHidden('PHONE',$this->paramSession['Phone']);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Email'); ?></label>
	                <div class="col-sm-8 <?=$ispadding?>">
	                	<?php  
							if ($this->confirmPage != 1)
								echo $this->formText('EMAIL',$this->EMAIL,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->paramSession['Email'].$this->formHidden('EMAIL',$this->paramSession['Email']);
						?>
	                </div>
	            </div> 

	            

	        </div>
	    </div>

	<?php } ?>

	 <?php if($this->stockpage == 1){

	 			if ($this->confirmPage == 1){
	 			echo  "<h5>".$this->language->_('Portfolio List')."</h5>";
	            echo "<hr/>";
	        	}
	 	?>
		 	<div class="row">
		 		<div class="col-md-12">
	            	<div class="form-group row">
					    
			          	<div class="col-sm-12 <?=$ispadding?>">
		               			<table class="table table-bordered table-striped table-condensed flip-content" width="100%" cellspacing="0" cellpadding="2" border="1">
		               				<tr>
		               					<?php
		               					if ($this->confirmPage == 1){
		               						echo "<th>No</th>";
		               						}else{
		               					?>
		               					<th>&nbsp;</th>
		               					<?php } ?>
		               					<th><?=$this->language->_('Stock Code')?></th>
		               					<th><?=$this->language->_('Stock Name')?></th>
		               					<th><?=$this->language->_('Lots')?></th>
		               					<th><?=$this->language->_('Shares')?></th>
		               				</tr>
		               				<?php
		               				if(!empty($this->stockdata)){
		               					foreach ($this->stockdata as $key => $value) {
		               				// print_r($value);die;	
		               				?>
		               					<tr>
		               						<?php 
		               						if ($this->confirmPage == 1){
		               							foreach ($this->paramSession['stockdata'] as $no => $val) {
		               								if($val == $value['STOCK_CODE']){
		               									$numb  = $no+1;
		               									echo '<td>'.$numb.'</td>';
		               									?>
		               									<td><?=$value['STOCK_CODE'];?></td>
					               						<td><?=$value['STOCK_NAME'];?></td>
					               						<td><?=$value['LOTS'];?></td>
					               						<td><?=$value['SHARES'];?></td>
		               									<?php
		               								}
		               							}
		               						}else{?>
		               						<td><input type="checkbox" name="stock[]" value="<?=$value['STOCK_CODE'];?>"></td>
		               						<td><?=$value['STOCK_CODE'];?></td>
		               						<td><?=$value['STOCK_NAME'];?></td>
		               						<td><?=$value['LOTS'];?></td>
		               						<td><?=$value['SHARES'];?></td>
		               						<?php } ?>
		               					</tr>
		               				<?php 
		               						}
		               					}else{	
		               				?>
		               					<tr>
		               						<td colspan="5">no data</td>
		               						</td>
		               					</tr>
		               				<?php
		               					}
		               				?>
		               			</table>



		              	</div>
				    </div>
				    </div>
				  </div> 
	            <?php }?>

	<?php
	 // if($this->resultpage == '1'){
	?>


<?php
	// }
?>

	    <div class="row md-5">
	      	<div class="col-md-12" align="center">
	        	<hr/>
	        	<input type="hidden" name="confirmPage" id="confirmPage" value="<?=$this->confirmPage;?>"/>	
				<input type="hidden" name="process" value=""/>

	        	<?php
					if (!empty($this->PS_NUMBER))
						$option = array('module'=>'paymentworkflow','controller'=>'requestrepair','action'=>'index');
					else
						$option = array('module'=>'home');
				?>
											
				<?php if($this->confirmPage != 1){?>	
						<input class="btn btn-success" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?=$this->url($option,null,true)?>'" type="button">
				<?php }elseif ($this->resultPage == 1){
						echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btn btn-success', "onclick"=>"proceed('back');")); 
					}else{
						echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btn btn-success', "onclick"=>"proceed('back');")); 
					}
				?>

				&nbsp;&nbsp;
										  	
			  	<?php
			  		$print = $this->language->_('Print');
					if(!empty($this->payReff)){
				?>
					<button onclick="openwindow('<?PHP echo '/widget/index/printtrxvalas/payReff/'.$this->payReff.$this->qstring;  ?>', screen.width, screen.height); return false;" class="btn btn-success"><?php echo $this->language->_("Print")?></button>&nbsp;&nbsp;
				<?php }?>

				<?php echo $this->formButton('submitBtn',($this->confirmPage != 1 && $this->useConfirmPage == true)? $this->language->_('Confirm'): $this->language->_('Submit'),array('class'=>'btn btn-success', "onclick"=>"proceed('submit');this.disabled=true;"));  ?>
				
	      	</div>
	    </div>
	</form>
