<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Login LDAP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- <style>
        * {
            border: 1px solid red;
        }
    </style> -->
</head>

<body>
    <div class="d-flex vw-100 vh-100 align-items-center flex-column">
        <div style="width: 300px; padding-top: 100px" class="row">
            <form id="form_ldap" method="post" action="http://172.16.2.7:7070/default/index2/verifyldap">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="username" name="username" autocomplete="off">
                            <span class="input-group-text" id="basic-addon2">@btn.co.id</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="password" name="password" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-primary">TEST LOGIN</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="width: 600px; margin-top: 30px" class="row">
            <div class="col-12 text-break">
                <span id="response"></span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        function hurufKecil(event) {
            const element = event.target

            element.value = element.value.toLowerCase()
        }

        function loginLdap(event) {
            event.preventDefault()

            const element = event.target
            const username = element.querySelector("[name='username']").value
            const password = element.querySelector("[name='password']").value

            const link = `http://172.16.2.7:7070/default/index2/verifyldap`
            fetch(link, {
                    method: 'POST',
                    body: new FormData(document.querySelector("#form_ldap")),
                })
                .then((response) => {
                    if (response.status !== 200) return console.log("response tidak 200")

                    return response.json()
                })
                .then((json) => {
                    const response = parseInt(json.status);
                    if (response !== 1) {
                        document.querySelector("#response").textContent = JSON.stringify(json)
                        return swal("Username atau password salah")
                    }

                    document.querySelector("#response").textContent = JSON.stringify(json)
                    return swal("Berhasil login")
                });
        }

        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("[name='username']").addEventListener("keyup", hurufKecil)

            document.querySelector("#form_ldap").addEventListener("submit", loginLdap)
        })
    </script>
</body>

</html>