<?php 
$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?php echo $this->language->_('Token'); ?> &gt; <?php echo $this->language->_('Unlock Token'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Unlock Token'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Input Data'); ?></strong></th></tr>
   <!--<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('custid',$this->language->_('Company Code')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="4"><select name="custid">
							<option value="">---<?php echo $this->language->_('Any Value'); ?>---</option>
							<?php foreach($this->var as $custlist){?>
							<option value="<?php echo $custlist['CUST_ID'];?>" <?=($custlist['CUST_ID']==$this->custid) ? 'selected' : ''?>><?php echo $custlist['CUST_ID'];?></option><?php }?>
						</select><?php 		//Zend_Debug::dump($this->var); die;?>
	  </td>
	  </tr>
   --><tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('TokenID',$this->language->_('Token ID')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('custname',$this->custname,array('size'=>'30')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('otp',$this->language->_('OTP')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('userid',$this->userid,array('size'=>'30')); ?> <?php echo $this->formSubmit('filter',$this->language->_('Validate OTP'),array('class'=>'inputbtn')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('otp2',$this->language->_('OTP2')); ?> </td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('username',$this->username,array('size'=>'30')); ?> <?php echo $this->formSubmit('filter',$this->language->_('Resynchronize'),array('class'=>'inputbtn')); ?></td>
		</tr>
    <!--<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php 
					//Zend_Debug::dump($this->paymentstatus);
					$options = array_combine(array_values($this->statusCode),array_values($this->statusDesc));
					//Zend_Debug::dump($options); die;
					array_unshift($options,'---'.$this->language->_('Any Value').'---');
					echo $this->formSelect('status',$this->status,array('id'=>'status'), $options);
				?></td>
    </tr>
    --><tr>
      <td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
	  
      </td>
    </tr>
  </table>
</form>

  