<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Blackadder ITC";}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
@page WordSection1
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection1
	{page:WordSection1;}
@page WordSection2
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection2
	{page:WordSection2;}
@page WordSection3
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection3
	{page:WordSection3;}
@page WordSection4
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection4
	{page:WordSection4;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
.MsoNormal{
	margin-bottom: 0em!important;
}
</style>

</head>

<body bgcolor=white lang=EN-US style='word-wrap:break-word'>

<div class=WordSection1 >

<p class=MsoNormal align=right style='margin-right:11.0pt;text-align:right'>

<table cellpadding=0 cellspacing=0  style="width:100%;float:right">
 
 <tr>
  
  <td colspan=3 align=right valign=top><img width=236 height=53
  src="[[bankimage]]"></td>
 </tr>
 <tr>
  <td height=23></td>
 </tr>
 <tr>
  <td height=93></td>
  <td></td>
  <td align=right valign=top><img width=92 height=93
  src="[[qrcode]]"></td>
 </tr>
</table>

<table style="width:100%">
<tr>
	<td style="width:400px!important">
	<div class="a" style="position: fixed;-webkit-transform: rotate(270deg);top: 50%;font-size:25px;left: -70px;"><strong><b>*** IDR <?php echo $this->amount ?> ***</b></strong></div>
	</td>
	<td style="width:90%">
			<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
				 style='width: 100%;border-collapse:collapse;text-align:center'>
				 <tr style='height:11.5pt'>
				  <td  valign=bottom style='padding:0in 0in 0in 0in;float:left;
				  height:11.5pt' colspan="2">
				  <p class=MsoNormal><b><span style='font-family:"Times New Roman",serif'>NO. 008 - A &nbsp;&nbsp;&nbsp;3425235</span></b></p>
				  </td>
				  <td width=188 valign=bottom style='padding:0in 0in 0in 0in;
				  height:11.5pt'>
				  
				  </td>
				  
				 </tr>
				 <tr style='height:.25in'>
				  
				  <td colspan="3" width=400 colspan=2 valign=bottom style='width:300.0pt;padding:0in 0in 0in 0in;
				  height:.25in'>
				  <p class=MsoNormal align=center style='margin-right:.15in;text-align:center'><b><span
				  style='font-family:"Times New Roman",serif'>JAMINAN PELAKSANAAN (BANK
				  GARANSI)</span></b></p>
				  </td>
				 </tr>
				 <tr style='height:10.15pt'>
				  
				  <td colspan="3" width=400 colspan=2 valign=bottom style='width:300.0pt;padding:0in 0in 0in 0in;
				  height:10.15pt'>
				  <p class=MsoNormal align=center style='margin-right:11.8pt;text-align:center'><span
				  style='font-size:11pt;font-family:"Times New Roman",serif'>No. <b><span
				  style=''>[[bg_numb]]</span></b> Tanggal <b><span
				  style=''>[[date_start]]</span></b></span></p>
				  </td>
				 </tr>
				 <tr style='height:10.1pt'>
				  
				  <td colspan="3" width=400 colspan=2 valign=bottom style='width:300.0pt;padding:0in 0in 0in 0in;
				  height:10.1pt'>
				  <p class=MsoNormal align=center style='margin-right:11.8pt;text-align:center'><i><span
				  style='font-size:11pt;font-family:"Times New Roman",serif'>Tempat dan
				  Tanggal Jatuh Tempo</span></i></p>
				  </td>
				 </tr>
				 <tr style='height:9.7pt'>
				  
				  <td colspan="3" width=400 colspan=2 valign=bottom style='width:300.0pt;padding:0in 0in 0in 0in;
				  height:9.7pt'>
				  <p class=MsoNormal align=center style='margin-right:11.8pt;text-align:center;
				  line-height:9.7pt'><b><span style='font-size:11pt;font-family:"Times New Roman",serif;
				  '>[[city]],</span></b><span style='font-size:11pt;
				  font-family:"Times New Roman",serif;'> 30 <b>September 2021</b></span></p>
				  </td>
				 </tr>
				 <tr>
				 <td colspan="3">
				 &nbsp;<br/>
				 </td>
				 </tr>
				 <tr style='height:22.05pt'>
				  <td width=277  valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:22.05pt;text-align:left'>
				  <p class=MsoNormal style=''><i><span style='font-size:11pt;
				  font-family:"Times New Roman",serif'>Penerima</span></i></p>
				  </td>
				  <td width=213 colspan=2 valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:22.05pt;text-align:left'>
				  <p class=MsoNormal style=''><i><span style='font-size:11pt;
				  font-family:"Times New Roman",serif'>Pemohon</span></i></p>
				  </td>
				 </tr>
				 <tr style='height:10.0pt'>
				  <td width=277  valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:10.0pt;text-align:left'>
				  <p class=MsoNormal style='line-height:9.65pt'><b><span
				  style='font-size:11pt;font-family:"Times New Roman",serif;'>[[benef_name]]</span></b><b><span style='font-size:11pt;font-family:"Times New Roman",serif'>
				  </span></b></p>
				  </td>
				  <td width=213 colspan=2 valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:10.0pt;text-align:left'>
				  <p class=MsoNormal style='margin-left:10.0pt'><b><span style='font-size:11pt;
				  font-family:"Times New Roman",serif;'>[[app_name]]</span></b></p>
				  </td>
				 </tr>
				 <tr style='height:10.15pt'>
				  <td width=277  valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:10.15pt;text-align:left'>
				  <p class=MsoNormal style='line-height:9.7pt'><b><span
				  style='font-size:11pt;font-family:"Times New Roman",serif;'>[[benef_add]]</span></b></p>
				  </td>
				  <td width=213 colspan=2 valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:10.15pt;text-align:left'>
				  <p class=MsoNormal style='margin-left:11.0pt'><b><span style='font-size:11pt;
				  font-family:"Times New Roman",serif;'>[[app_add]]</span></b></p>
				  </td>
				 </tr>
				 <tr style='height:9.7pt'>
				  <td width=277  valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:9.7pt;text-align:left'>
				  <p class=MsoNormal style='line-height:9.65pt'><b><span
				  style='font-size:11pt;font-family:"Times New Roman",serif;'>[[benef_city]]</span></b></p>
				  </td>
				  <td width=213 colspan=2 valign=bottom style='width:50%;padding:0in 0in 0in 0in;
				  height:9.7pt;text-align:left'> 
				  <p class=MsoNormal style='margin-left:10.0pt;line-height:9.7pt'><b><span
				  style='font-size:11pt;font-family:"Times New Roman",serif;'>[[app_city]]</span></b></p>
				  </td>
				 </tr>
				 
				</table>
				<br/>
				<div class=WordSection2>


<p class=MsoNormal style='line-height:12.3pt'></p>

<p class=MsoNormal style='margin-top:0in;margin-right:44.0pt;margin-bottom:
0in;margin-left:12.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
.1pt;line-height:108%'><b><span style='font-size:11pt;line-height:108%;
font-family:"Times New Roman",serif;'>PT. Bank BTN (Persero)
Tbk</span></b><b><span style='font-size:11pt;line-height:108%;font-family:
"Times New Roman",serif'>,</span></b><span style='font-size:11pt;line-height:
108%;font-family:"Times New Roman",serif'> berkedudukan di</span><span
style='font-size:11pt;line-height:108%;font-family:"Times New Roman",serif'> <b>Jakarta,</b></span><span
style='font-size:11pt;line-height:108%;font-family:"Times New Roman",serif'> dalam
hal ini bertindak melalui Kantor <b>Cabang Jakarta PLN Gambir</b> beralamat di <b><span
style=''>JI. M.I No.</span></b><span style=''>
I</span>, (untuk selanjutnya disebut &quot;Bank&quot;), dengan melepaskan hak
istimewanya yang diberikan oleh undang-undang terutama yang tercantum dalam
pasal 1831 Kitab Undang-Undang Hukum Perdata, dengan ini menjamin<b> <span
style=''>[[app_name]]</span>,</b> beralamat
di <b><span style=''>[[app_city]], [[app_city]]</span></b> (untuk selanjutnya disebut sebagai
&quot;Terjamin&quot;) terhadap <b><span style=''>[[benef_name]]</span>
</b>beralamat di <b>[[benef_add]]</b>, <b>[[benef_city]]</b></span><b>, </b>(untuk
selanjutnya disebut sebagai &quot;Penerima Bank Garansi&quot;); untuk membayar
sejumlah uang setinggi-tingginya <b><span style=''>Rp.
[[amount]]</span></b> (Terbilang: <b><span style=''>[[terbilang]]</span>),</b> dengan ketentuan:</span></p>

<p class=MsoNormal style='line-height:10.0pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:12.55pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:47.0pt;margin-bottom:
0in;margin-left:30.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-17.65pt;line-height:104%'><span style='font-size:11pt;line-height:104%;
font-family:"Times New Roman",serif;'>I.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11pt;line-height:104%;font-family:"Times New Roman",serif'>Apabila
Terjamin melakukan wanprestasi, yaitu tidak dapat menyelesaikan pekerjaan atau
tidak memenuhi kewajibannya sebagaimana mestinya berdasarkan <b><span
style=''>Surat Addendum No</span></b><span style=''> :</span></span></p>

<p class=MsoNormal style='line-height:.35pt'><span style='font-size:11pt;
font-family:"Times New Roman",serif;'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:47.0pt;margin-bottom:
0in;margin-left:30.0pt;margin-bottom:.0001pt;text-align:justify;line-height:
105%'><b><span style='font-size:11pt;line-height:105%;font-family:"Times New Roman",serif;
'>[[guarantee_letter]]</span></b><b><span style='font-size:11pt;line-height:105%;font-family:
"Times New Roman",serif'>,</span></b><span style='font-size:11pt;line-height:
105%;font-family:"Times New Roman",serif'> maka Bank akan membayar kepada
Penerima Bank Garansi untuk jumlah tersebut di atas selambat-lambatnya 7
(tujuh) hari kerja setelah diterimanya oleh Bank tagihan tertulis dari Penerima
Bank Garansi yang menyatakan bahwa Terjamin tidak memenuhi kewajibannya atau
telah melakukan wanprestasi.</span></p>

<p class=MsoNormal style='line-height:12.35pt'><span style='font-size:11pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:30.0pt;text-indent:-19.1pt'><span
style='font-size:11pt;font-family:"Times New Roman",serif'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11pt;font-family:"Times New Roman",serif'>Bank
Garansi  ini berlaku sejak tanggal <b><span style=''>[[date_start]]</span></b> dan akan berakhir pada tanggal</span></p>

<p class=MsoNormal style='line-height:.4pt'><span style='font-size:11pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:29.0pt;line-height:95%'><b><span
style='font-size:11pt;line-height:95%;font-family:"Times New Roman",serif;
'>[[date_end]]</span></b><b><span style='font-size:11pt;
line-height:95%;font-family:"Times New Roman",serif'>.</span></b></p>

<p class=MsoNormal style='line-height:13.25pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:47.0pt;margin-bottom:
0in;margin-left:30.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-18.3pt;line-height:108%'><span style='font-size:11pt;line-height:108%;
font-family:"Times New Roman",serif'>3.</span><span style='font-family:"Times New Roman",serif'>&nbsp;&nbsp;&nbsp;</span><span
style='font-size:11pt;line-height:108%;font-family:"Times New Roman",serif'>Batas
waktu pengajuan dan penerimaan tuntutan penagihan/klaim kepada Bank, selambat
lambatnya 14 (empat belas) hari Kalender sejak berakhirnya Bank Garansi ini,
dengan ketentuan apabila tanggal tersebut jatuh pada hari libur atau di luar
hari kerja Bank, maka pengajuan dilakukan selambat-lambatnya pada satu hari
kerja Bank sebelumnya dengan melampirkan asli Bank Garansi ini disertai dengan
Surat Pernyataan Wanprestasi (Certificate of Default).</span></p>

<p class=MsoNormal style='line-height:10.0pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:12.55pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:48.0pt;margin-bottom:
0in;margin-left:29.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-18.05pt;line-height:109%'><span style='font-size:11pt;line-height:109%;
font-family:"Times New Roman",serif'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11pt;line-height:109%;font-family:"Times New Roman",serif'>Bank
Garansi ini tidak berlaku lagi apabila tidak dilakukan pengajuan tuntutan
penagihan/ klaim dalam batas waktu seperti yang telah ditentukan di atas atau
jika pekerjaan tersebut dalam butir I telah selesai dilaksanakan walaupun
jangka waktu Bank Garansi ini belum berakhir.</span></p>

<p class=MsoNormal style='line-height:10.0pt'><span style='font-size:11pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:12.3pt'><span style='font-size:11pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:49.0pt;margin-bottom:
0in;margin-left:29.0pt;margin-bottom:.0001pt;text-indent:-18.15pt;line-height:
103%'><span style='font-size:11pt;line-height:103%;font-family:"Times New Roman",serif'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11pt;line-height:103%;font-family:"Times New Roman",serif'>Jika
Bank Garansi ini telah dipenuhi dan atau tidak dipergunakan lagi, maka asli
Bank Garansi harus dikembalikan kepada Bank.</span></p>

<p class=MsoNormal style='line-height:13.0pt'><span style='font-size:11pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:48.0pt;margin-bottom:
0in;margin-left:29.0pt;margin-bottom:.0001pt;text-indent:-18.15pt;line-height:
104%'><span style='font-size:11pt;line-height:104%;font-family:"Times New Roman",serif'>6.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11pt;line-height:104%;font-family:"Times New Roman",serif'>Mengenai
Bank Garansi ini dengan segala akibat hukumnya, Bank memilih domisili yang
tetap di Kantor Panitera Pengadilan Negeri di <b>Jakarta Pusat.</b></span></p>

<p class=MsoNormal style='line-height:11.75pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:11.0pt'><b><span style='font-size:11pt;
font-family:"Times New Roman",serif'>Jakarta, <span style=''>15
September 2021</span></span></b></p>

<p class=MsoNormal style='line-height:.3pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:11.0pt'><b><span style='font-size:11pt;
font-family:"Times New Roman",serif;'>PT. BANK BTN</span></b></p>

<p class=MsoNormal style='line-height:2.15pt'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>



</div>
				
				
	
	</td>
	<td style="width:100px!important">
		&nbsp;
	</td>
</tr>
</table>


</div>

<b><span style='font-size:11pt;font-family:"Times New Roman",serif'><br
clear=all style='page-break-before:auto'>
</span></b>



<b><span style='font-size:7.0pt;font-family:"Arial",sans-serif'><br clear=all
style='page-break-before:auto'>
</span></b>



<span style='font-size:9.5pt;font-family:"Arial",sans-serif'><br clear=all
style='page-break-before:auto'>
</span>

<div class=WordSection4>


<p class=MsoNormal style='margin-left:.5in;text-indent:.5in'><span
style='font-size:9.5pt;font-family:"Times New Roman",serif'>  Divisi xxx</span></p>

</div>

</body>

</html>
