<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Add Backend User'); ?></div>
	<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
			echo $this->errorMsg; 
	?>
	</div><br />
	<?php }else if($this->success){ ?>
	<div class="successmsg"><?php echo $this->successMsg; ?></div>
	<?php } ?>	
	<br />
	<table align="left" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Add New Backend User'); ?></strong></th></tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('User Id (used for login)*',$this->language->_('User Id (used for login)*')); ?></td>
				<td class="tbl-evencontent"><input type="hidden" value="<?=$this->userId?>" name="userId"> <?php echo $this->formLabel('userId',$this->userId); ?></td>
			</tr>
			 <tr>
				 <td class="tbl-evencontent">&nbsp;</td>
				 <td class="tbl-evencontent"><div><?php echo $this->language->_('User Id format requirements'); ?> :<br>
&bull; <?php echo $this->language->_('has to be at least 5 characters long'); ?><br>
&bull; <?php echo $this->language->_('may only contain uppercase alphanumeric characters (no whitespaces and special characters allowed)'); ?><br>
&bull; <?php echo $this->language->_('has to be a combination of letters and numbers (contains at least 1 letter and 1 number)'); ?></div></td>
			</tr>
			 <tr>
				 <td class="tbl-evencontent"><?php echo $this->language->_('Password'); ?></td>
				 <td class="tbl-evencontent"><?php echo $this->language->_('Autogenerated by system'); ?></td>
			</tr>
			<tr>
				 <td class="tbl-evencontent">Names*</td>
				<td class="tbl-evencontent"><?php  echo $this->formText('name',$this->name,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)')); ?></td>
			</tr>
			
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent">Description<strong class="formreq">&nbsp;</strong></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4','maxlength' => '200')); ?>
					<BR>
					<input readonly="readonly" name="FILE_DESCRIPTION_len" size="2" value="200" type="text"> char(s)
				</td>
			</tr>
			<tr>
				 <td class="tbl-evencontent">e-mail</td>
				 <td class="tbl-evencontent"><?php  echo $this->formText('email',$this->email,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)')); ?></td>
			</tr>
			<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('group','Group*'); ?></td>
	  <td class="tbl-evencontent">
										<?php 
												array_unshift($this->arrGroup,'-- Please Select --');
												echo $this->formSelect('groupId',$this->groupId,null,$this->arrGroup);

										?>
	  </td>
    </tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton">
						<?php echo $this->formButton('back', 'Back', array('onclick' => "location.href='/home/index'", 'class' => 'inputbtn'));?>
						<?php echo $this->formSubmit('Submit','Submit',array('class'=>'inputbtn')); ?>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
</form>
