<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span>Transfer</span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span ><?=$this->language->_('News')?></span>
	                    <span><?=$this->language->_('Detail')?></span>
	                    
	                </li>
	                <li>
	                	<?php echo (($this->confirmPage == 1 && empty($this->resultPage))? $this->language->_('Confirmation'): ""); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
    </div>
<br/>
<div class="portlet-body form">
<center><h4><?php echo $this->data['HELP_TOPIC']?></h4>
<h6><?php echo $this->data['HELP_DESCRIPTION']?></h6></center>
<br>
<br>
<?php echo $this->data['HELP_TEXT']?>

</div>
