<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<h4 class="modal-title textBlack" id="myModalLabel">Payment List</h4>
	      	</div>
		    <div class="modal-body">
		    <br>
		        <div class="card">
		        	<style type="text/css">
						.card{
						/*//	height: 80px!important;*/
							font-size: 9.4px;
							border: 0px solid rgba(0,0,0,.125);
						}

						.btnicon{
							border-radius: 100%; border-style: double;
						}
					</style>
					<div class="row">
						<table class="textBlack" align="center">
							<tr>
								<td align="center" width="100px"><a href="/payment/electricity"><img src="/images/icon/light/Group 692.png"></a></td>
								<td align="center" width="100px"><a href="/payment/pam"><img src="/images/icon/light/Group 1100.png"></a></td>
								<td align="center" width="100px"><a href="/payment/phone"><img src="/images/icon/light/phone-call (1).png"></a></td>
								<td align="center" width="100px"><a href="/payment/internet"><img src="/images/icon/light/worlwide.png"></a></td>
								<td align="center" width="100px"><a href="/payment/tax"><img src="/images/icon/light/Group 1062.png"></a></td>
								<td align="center" width="100px"><a href="/payment/creditcard"><img src="/images/icon/light/Symbol 99.png"></a></td>
							</tr>
							<tr>
								<td align="center">Electricity</td>
								<td align="center">PAM</td>
								<td align="center">Phone</td>
								<td align="center">Internet</td>
								<td align="center">Tax</td>
								<td align="center">Credit Card</td>
							</tr>
							<tr>
								<td colspan="8" height="20px"></td>
							</tr>
							<tr>
								<td align="center" width="100px"><a href="/payment/cabletv"><img src="/images/icon/light/Group 706.png"></a></td>
								<td align="center" width="100px"><a href="/payment/installment"><img src="/images/icon/light/Group 1099.png"></a></td>
								<td align="center" width="100px"><a href="/payment/insurance"><img src="/images/icon/light/Group 1101.png"></a></td>
								<!-- <td align="center" width="100px"><a href="/payment/education"><img src="/images/icon/light/Group 1102.png"></a></td> -->
								<td align="center" width="100px"><a href="/payment/ticket"><img src="/images/icon/light/Group 699.png"></a></td>
								<td></td>
								<td></td>
								<!-- <td align="center" width="100px"><a href="/payment/others"><img src="/images/icon/light/Group 1103.png"></a></td> -->
							</tr>
							<tr>
								<td align="center">Cable TV</td>
								<td align="center">Installment</td>
								<td align="center">Insurance</td>
								<!-- <td align="center">Education</td> -->
								<td align="center">Ticket</td>
								<!-- <td align="center">Others</td> -->
								<td></td>
								<td></td>
							</tr>
							
							
						</table>
					</div>
		        </div>
		    </div>
       </div>
   </div>
</div> 