<?php
//view partials for table header for list based tables
if(!function_exists('generateParam')){
	function generateParam($text)
	{
		for ($a=0;$a<=255;$a++) { $string[chr($a)] = sprintf("%%%02X", $a); }
		preg_match_all('/[^A-Za-z0-9\-_.!~*%]/',$text,$result);
		if(count($result))
		{
			$hasil = array();
			foreach($result[0] as $value)
			{
				if(isset($hasil[$value]))
					$hasil[$value] = $hasil[$value] + 1;
				else
					$hasil[$value] = 1;
			}
			$text = str_replace("%","%25",$text);
			foreach($hasil as $key=>$value){ $text = str_replace($key,$string[$key],$text); }
		}
		return $text;
	}
}

//build query string
if(is_array($this->query_string_params))
{
	$qstring='?';
	foreach($this->query_string_params as $key=>$val)
		$qstring.=SGO_Security_GeneralFunction::sanitize(urlencode($key)).'='.SGO_Security_GeneralFunction::sanitize(urlencode($val)).'&';

	$qstring=substr($qstring,0,-1);
}
else
	$qstring='';


	//mengambil value master status dari folder configs, file globalvar.ini
     $config = Zend_Registry::get('config');

	  $asc_img_path  = $config['sorting']['defaults']['ascImgPath'];
	  $desc_img_path = $config['sorting']['defaults']['descImgPath'];
	  $active_asc_img_path  = $config['sorting']['defaults']['activeAscImgPath'];
	  $active_desc_img_path = $config['sorting']['defaults']['activeDescImgPath'];


     foreach($this->fields as $fieldKey => $fieldValue)
     {
       if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'asc') {
    	$asc_img = $active_asc_img_path;
    	$asc_need_link = false;
    }
    else {
    	$asc_img = $asc_img_path;
    	$asc_need_link = true;
    }
   	if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'desc') {
   		$desc_img = $active_desc_img_path;
   		$desc_need_link = false;
   	}
   	else {
   		$desc_img = $desc_img_path;
   		$desc_need_link = true;
   	}
?>
<th class="tablehead" valign="top">
   	<?=$fieldValue['label']?><span style="white-space:nowrap">
   	<?php
   	if($asc_need_link && $fieldValue['sortable']) {
   	?>
   		<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img?>" /></a>
   	<?php
   	}
   	else {
   		if($fieldValue['sortable']) {
   	?>
		<img border="0" src="<?=$asc_img?>" />
   	<?php
   		}
   		else {
   	?>
   		&nbsp;
   	<?php
   		}
    }
   	?>
   	<?php
   	if($desc_need_link && $fieldValue['sortable']) {
   	?>
   		<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img?>" /></a>
   	<?php
   	}
   	else {
   		if($fieldValue['sortable']) {
   	?>
   		<img border="0" src="<?=$desc_img?>" />
   	<?php
   		}
   		else {
   	?>
    	&nbsp;
    <?php
    	}
    }
    ?>
    </span>
</th>
<?php
}
?>
