<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span>eForm</span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('eForm Review')?></span>
								 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Detail')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5><?=$this->language->_('Bank Guarantee Detail')?></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray">Register No# / BG No#</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->BG_REG_NUMBER.' / '.$this->BG_NUMBER;  ?></strong> 
            </div>
        </div>
         <div class="row">
            <div class="col-md-3">
                <label class="textGray">eForm Subject</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->BG_SUBJECT; ?></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Status</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->arrStatus[$this->status]; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Repairs Notes</label>
            </div>
            <div class="col-md-9">
                <label><?php
										 echo $this->reason; ?></label>
            </div>
        </div>

         <br/>
        <div class="row">
						<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?=$this->language->_('Bank Guarantee Applicant')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?>PT FEDERAL INTERNATIONAL FINANCE (FIF00A1)</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">City</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_CITY']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Contact Number</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo '('.$this->compinfo['CUST_EXT'].')'.$this->compinfo['CUST_FAX']; ?></label>
									</div>
								</div>
            </div>
        </div>
			<form action="" id="reviewForm"  method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'reviewdetail','bgnumb'=>$this->BG_REG_NUMBER),null,true)?>" >
       <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Usage Purpose')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
               
                <div class="form-group row">
                    <?php if($this->checkp1){
						   ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Bidding Guarantee</label>
                    </div>
					 <?php
					   } ?>
                    <?php if($this->checkp2){ ?><div class="col-sm-5">
                        <label for="">
						   
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Advance Payment Guarantee</label>
                    </div>
					<?php
					   } ?>
                    <?php if($this->checkp3){
						   ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Performance Bond</label>
                    </div><?php
					   } ?>
                    <?php if($this->checkp4){
						   ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Maintenance Guarantee</label>
                    </div>
					<?php
					   } ?>
                </div>
				<?php if($this->checkp5){
						   ?>
                <div class="form-group row pb-2">
                    <div class="col-sm-10">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Others :</label>
											<label><?php echo $$this->others; ?>		</label>				
                    </div>
                </div>
				<?php
					   } ?>
							</div>
            </div>
        </div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Bank Guarantee Recipient')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Recipient Name<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->recipent_name; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Address<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->address; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">City<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->city; ?> </label>
												
										</div>
								</div>
								<div class="form-group row pb-1">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contact Number<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label><?php echo $this->contact_number; ?> </label>
												
										</div>
								</div>
			</div>
		</div>
        </div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Guarantee Transaction')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<label class="textGray">(According to Tender Invitation, SPPBJ, SPK / Agreement, PO or others documents)</label>
								<div class="form-group row">
									<div class="col-sm-11">
										<label><?php echo $this->comment; ?> </label>
										
									</div>	
								</div>
								<?php if($this->fileName){ ?>
								<div class="form-group row pb-1">   
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Attached Document</label>
									</div> 
									<div class="col-sm-9"> 
										<label><?php echo $this->fileName; ?></label>&nbsp;&nbsp;<button onclick="location.href = '/eform/bgdetail/index/bgnumb/<?php echo $this->BG_REG_NUMBER?>/download/1';"  name="download" id="download" value="1" class="btn-sm btnwhite hov">Download</button>
									</div>
								</div>
								<?php } ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Nominal</label>
									</div>
									<div class="col-sm-7">
											<div class="input-group" id="">
												
												<label><?php echo 'IDR '.$this->bank_amount; ?></label>
												
											</div>
									</div>
								</div>
								<div class="form-group row pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Time Period From</label>
									</div>
									<div class="col-sm-9 form-inline" style="float:left">
										<label><?php echo $this->updateStart; ?>
										&nbsp;To&nbsp;
										<?php echo $this->updateEnd; ?></label>
										

										<?php echo $this->daysTotal; ?>
										

									</div>
								</div>
								<div class="form-group row" style="display:none">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Claim Period</label>
									</div>
									<div class="col-sm-2">
										<label><?php echo $this->claim_period; ?></label>
										
									</div>
									<div class="col-sm-7">
										<label class="textGray">(min. 14 to max. 30 calendar days)</label>
									</div>
								</div>
							</div>
            </div>
        </div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Counter Warranty')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Counter Warranty Type</label>
									</div>
									<div class="col-sm-9">
										<label><?php
										 echo $this->warranty_type_text; ?></label>
										
									</div>
								</div>
								<!-- type1 -->
								
							<?php if($this->warranty_type == '1'){ ?>	
								<div id="wrType1">
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Number</label>
											</div>
											<div class="col-sm-9">
												<label><?php
										 echo $this->account_number; ?></label>
												
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Name</label>
											</div>
											<div class="col-sm-9">
											<label>	<?php
										 echo $this->account_name; ?></label>
												
											</div>
									</div>
									<div class="row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<label><?php
										 echo 'IDR '.Application_Helper_General::displayMoney($this->amount); ?></label>
													
												</div>
											</div>
									</div>
								</div>
								
							<?php } ?>
								<!-- type2 -->
								
								<?php if($this->warranty_type == '2'){ ?>
								<div id="wrType2" >
									<div id="listwr" style="width: 100%">
										<div id="wherelist-1">
											<?php if(!empty($this->owner1)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 1</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner1; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo Application_Helper_General::displayMoney($this->amountowner1); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
											<?php if(!empty($this->owner2)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 2</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner2; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo Application_Helper_General::displayMoney($this->amountowner2); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
											<?php if(!empty($this->owner3)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 3</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner3; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo Application_Helper_General::displayMoney($this->amountowner3); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
										</div>
									</div>
									
								</div>
								
								<?php } ?>
								<!-- type3 -->
								
								<?php if($this->warranty_type == '2'){ ?>
								<div id="wrType3" >
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Insurance Name</label>
										</div>
										<div class="col-sm-9">
											<label><?php
										 echo $this->insuranceName; ?></label>
											
										</div>
									</div>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-9" style="padding-right: 0px;">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															No.
														</strong>
													</div>
												</div>
										<label>		<?php
										 echo $this->PrincipalAgreement; ?></label>
										 <label><?php 
										 echo '(Date : '.$this->paDate.')'; ?></label>
												
											</div>
										</div>
										
									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<strong>
															IDR
														</strong>
													</div>
												</div>
												<label><?php
										 echo $this->insurance_amount; ?></label>
												
											</div>
										</div>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Provision Fee, Administration and Other Expenses')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php
										 echo $this->acct.'( IDR )'.$this->bankname; ?></label>
										</div>
								</div>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Others')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Format<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-7">
										<label><?php
										 echo $this->bankFormat; ?></label>
										
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Language<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php
										 echo $this->languagetext; ?></label>
										
									</div>
								</div>
								<br>
								
							</div>
						</div>
				</div>
				
				<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Submission Notes') ?></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  
				<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
				<?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeyUp'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON3')) ?>
				<br>
				<div class="input-group">
					<?php echo $this->formText('disable_note_len', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
					<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
				</div> 
				<div class="input-group">
				<label style="text-align:center;width: 100%;font-size: 0.8125rem;"> Are you sure to reject this submission?</label>
				 </div> 
			</div>
			<div class="modal-footer">
			  <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			  <button type="button" class="btngreen hov" id="btn_delete_one"><?php echo $this->language->_('Submit') ?></button>
			</div>
		  </div>
		</div>
	  </div>
	  
	  
	  <div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  	<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
				<?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeyUp'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON2')) ?>
				<br>
				<div class="input-group">
					<?php echo $this->formText('disable_note_len2', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px')); ?>
					<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			  <button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
			</div>
		  </div>
		</div>
	  </div>

				<div class="row">
					<div class="col-md-12" align="center">
						<button name="back" id="back" class="btn-sm btnwhite hov" onClick="location.href='/eform'" value="1">Back</button>
						&nbsp;&nbsp;
						<?php 
							$repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
							echo $this->formButton('repair',$this->language->_('Request Repair'), $repairAttr);
						?>
						&nbsp;&nbsp;
						<?php
							$rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
							echo $this->formButton('reject', $this->language->_('Reject'), $rejectAttr); ?>

						 
						 &nbsp;&nbsp;
						 <?php
							$submitAttr = array('class' => 'btngreen hov');
							echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
						?>
					</div>
				</div>
			</form>

    </div>
</div>



<script type="text/javascript">

	function rejectmodal() {

		$('#dialog_box').modal('show');
    
		$("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#reviewForm");$("#reviewForm").submit();}'); 
	}
	
	
	function repairmodal() {

		$('#dialogrepair_box').modal('show');

    
		$("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
	}

</script>