
<!-- <b><?php echo $this->language->_('Release Payment'); ?> &gt; <?php echo $this->language->_('Release Payment Slip'); ?> &gt; <?php echo $this->language->_('Detail'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Payment Slip Detail'); ?></div>
<h2><?php echo $this->language->_('Payment Slip Detail'); ?></h2> -->

<style>
@media print{
    .hidden, .hidden * {
    display: none !important;
    visibility: hidden;
  }

  
}

</style>


	<?php 
			?>
			<script type="text/javascript">
				<?php if($this->success){ ?>
			// refreshParent()
			$(document).ready(function(){
			
			window.opener.location.reload(true);
			//window.top.location.reload();
			 //alert();
			});
				<?php } ?>
			</script>
			


<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<!-- <td valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td> -->
            <td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
			<td align="center" valign="middle"><strong><h5><?php echo $this->language->_('Payment Slip Detail'); ?></h5></strong></td>
			<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
		</tr>
</table>

<br>
<table border="0" cellspacing="0" cellpadding="0" class="table table-striped table-condensed flip-content"
	width="600">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Payment Slip Number'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['PS_NUMBER'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Subject'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['PS_SUBJECT'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'].' ('.$this->result[0]['CUST_NAME'].')';?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Created Date'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result[0]['PS_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Last Update'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result[0]['PS_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat); ?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Payment Date'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result[0]['PS_EFDATE'],'dd MMM yyyy',$this->defaultDateFormat);?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Currency'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['SOURCE_ACCOUNT_CCY']?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Amount'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::displayMoney($this->result[0]['PS_TOTAL_AMOUNT'])?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Source Account'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['SOURCE_ACCOUNT'].' ('.$this->result[0]['SOURCE_ACCOUNT_CCY'].') / '.$this->result[0]['BANK_NAME'].' / '.$this->result[0]['SOURCE_ACCOUNT_NAME'].' (S)'; ?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Bank Trace Number'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Customer Reference Number'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"></td>
	</tr>
</table>
<br />
<br />
<h2><?php echo $this->language->_('Transaction List')?></h2>
<table width="600" cellpadding="2" cellspacing="0" border="1"
	class="table table-striped table-condensed flip-content">
	<tr>   
		<th valign="top">No</th>
		<th valign="top"><?php echo $this->language->_('Transaction Number'); ?></th>
		<th valign="top"><?php echo $this->language->_('Target Account'); ?></th>
		<th valign="top"><?php echo $this->language->_('Target Account Name'); ?></th>
		<!--<th valign="top"><?php echo $this->language->_('Target Account Alias'); ?></th>-->
		<th valign="top"><?php echo $this->language->_('Target Amount'); ?></th>
		<th valign="top"><?php echo $this->language->_('Target Message'); ?></th>
		<th valign="top"><?php echo $this->language->_('Customer Reference Number'); ?></th>
	</tr>
	<?php 
	 $i = 1;  
        foreach($this->result as $list)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		    echo '<tr>
					<td class="'.$td_css.'">'.$i.'</td>
					<td class="'.$td_css.'">'.$list['TRANSACTION_ID'].'</td>
					<td class="'.$td_css.'">'.$list['BENEFICIARY_ACCOUNT'].'</td>
					<td class="'.$td_css.'">'.$list['BENEFICIARY_ACCOUNT_NAME'].'</td>';
					//<td class="'.$td_css.'">'.$list['BENEFICIARY_ALIAS_NAME'].'</td>
			echo '	<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($list['TRA_AMOUNT']).'</td>
					<td class="'.$td_css.'">'.$list['TRA_MESSAGE'].'</td>
					<td class="'.$td_css.'">'.$list['TRA_REFNO'].'</td>
				</tr>';
		$i++;
  	  } ?>
</table>
<br />
<?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));?>
&nbsp;<!-- <input class="inputbtn" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button"> -->

<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','slipnumb'=>$this->slipnumb),null,true)?>" method="post">
	<input type="hidden" name="profileid[]" value="<?php echo $this->profileid; ?>">
	<button class="btn-sm btngrad hov hidden" onclick="window.print();" type="button"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_('PRINT');?></button>
	<?php 
	//var_dump($this->success);
	if($this->success != 'success'){ ?>
			<input type="submit" name="release" class="btngreen hov" id="buttoncancel"  value="Re Run Payment">
	<?php } ?>
</form>
