<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
    //pengaturan error messages
  <?php 
       foreach($this->userDailyLimit_msg as $key => $error)
       {
     ?>
           $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
  <?php      
       } 
     ?>

    
});

function resetData()
{ 
  $('#dailylimit').val('<?php echo $this->max_amt; ?>');
  $('#ccy_id').val('<?php echo $this->ccy_id; ?>');
  $('#user_login').val('<?php echo $this->user_id; ?>'); 
}

function setUser(){
  var userid = $('#user_login').val();
  var username = $('#'+userid).val();
  $('#username').val(username);
}


</script>

<!-- <b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('User')?></a></li>
  <li><?php echo $this->language->_('User Daily Limit Scheme')?></li>
  <li><?php echo $this->language->_('Add User Daily Limit')?></li>
</ol>
</b> -->

<?php
$auth = Zend_Auth::getInstance()->getIdentity();

if ($auth->_userTheme == 'dark') {
  $mandatory = "<strong class='formreq' style='color:#ffffff;'>&nbsp;*&nbsp;</strong>";
}else{
  $mandatory = "<strong class='formreq' style='color:red;'>&nbsp;*&nbsp;</strong>";
}
?>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('User'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('User Daily Limit Scheme'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Add User Daily Limit'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<br />
<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('User Daily Limit Scheme'); ?></div> -->

<h5><?php echo $this->language->_('User Daily Limit Scheme'); ?></h5>

<?php
if($this->cust_id)
{
   
?>

<?php if(count($this->userDailyLimit_msg) > 0){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
<?php } ?>
<?php if($this->error_msg){ ?>
<div class="errmsg"><?php echo $this->language->_($this->error_msg); ?></div><br />
<?php } ?>


<div class="portlet-body form">
<form method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true)?>">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
      <tbody>
        <tr>
          <td class="contentarea" id="contentarea">
            <div class="portlet light form-fit bordered">
              <div class="card">
                <div class="card-header cardhead">
                  <strong style="color: white;"><?php echo $this->language->_('Add User Daily Limit');?></strong>
                </div>
                <div class="card-body form headerNew">
                  <div class="form-group row pt-2">
                    <div class="col-sm-3">
                      <label for=""><?php echo $this->language->_('User ID')?>&nbsp;<?= $mandatory ?></span></label>
                    </div>
                    <div class="col-sm-1">
                      :
                    </div>
                    <div class="col-sm-8">
                     <select class='form-control' name="user_login" id="user_login" onChange="setUser();">
                                                    <option value=""><?php echo $this->language->_('-- Any Value --');?></option>
                                                    <?php 
                                                        if(count($this->userData)>0)
                                                        {
                                                            foreach ($this->userData as $rowUser)
                                                            {
                                //var_dump($rowUser);
                                                    ?>
                                                                <option value="<?php echo $rowUser['USER_ID']; ?>" <?=($this->user_id == $rowUser['USER_ID'])? 'selected' : ''?>><?=$rowUser['USER_ID']?></option>
                                                    <?php 
                                                            }
                                                        }
                                                        else
                                                        {
                                                    ?>
                                                                
                                                    <?php 
                                                        }
                                                    ?>
                                               </select>
                                               <?php if(count($this->userData) > 0){
                                                    foreach($this->userData as $rowUser){
                                                ?>
                                                        <input type="hidden" id="<?php echo $rowUser['USER_ID']?>" value="<?php echo $rowUser['USER_FULLNAME']?>"/>
                                                <?php }
                                                    }
                                                ?>  
                                               <div id="error_user_login" class="errmsg"></div>
                    </div>
                  </div>
                  <div class="form-group row pt-2">
                    <div class="col-sm-3">
                      <label for=""><?php echo $this->language->_('User Name')?></label>
                    </div>
                    <div class="col-sm-1">
                      :
                    </div>
                    <div class="col-sm-8">
                       <?php echo $this->formText('username', $this->username, array('readonly'=>'readonly','class'=>'form-control'));?>
                    </div>
                  </div>
                   <div class="form-group row pt-2">
                    <div class="col-sm-3">
                      <label for=""><?php echo $this->language->_('Currency')?>&nbsp;<?= $mandatory ?></span></label>
                    </div>
                    <div class="col-sm-1">
                      :
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" name="ccy_id" id="ccy_id">
                                                <option value=""><?php echo $this->language->_('-- Any Value --');?></option>
                                                <?php
                                                    if(count($this->CCYData)>0)
                                                    {
                                                        foreach ($this->CCYData as $rowCCY)
                                                        {
                                                ?>
                                                            <option value="<?=$rowCCY['CCY_ID']?>" <?=($this->ccy_id == $rowCCY['CCY_ID'])? 'selected' : ''?>><?=$rowCCY['CCY_ID']?></option>
                                                <?php 
                                                        }
                                                    }
                                                    else
                                                    {
                                                ?>
                                                            
                                                <?php 
                                                    }
                                                ?>
                                            </select>
                              <div id="error_ccy_id" class="errmsg"></div>
                    </div>
                  </div>
                   <div class="form-group row pt-2">
                    <div class="col-sm-3">
                      <label for=""><?php echo $this->language->_('Maximum Amount')?>&nbsp;<?= $mandatory ?></label>
                    </div>
                    <div class="col-sm-1">
                      :
                    </div>
                    <div class="col-sm-8">
                        <?php 
                            echo $this->formText('dailylimit',Application_Helper_General::displayMoney($this->max_amt),array('size'=>50,'onfocus'=>'iNumFrmtUS(this.value,this.id)','class'=>'form-control','onblur'=>'NumFrmtUS(this.value,this.id)'));  
                        ?>
                        <div id="error_dailylimit" class="errmsg"></div>
                    </div>
                  </div>
                  </div>
                </div>
                <br>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    <br />
    <div><?php
    echo $this->formHidden('cust_id',$this->cust_id);
    $backButton =  $this->url(array('module'=>'userdailylimit','controller'=>'index','action'=>'index'),null,true);
    echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backButton.'\'','class'=>'btnwhite hov'));
    echo '&nbsp;&nbsp;';
    
    echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));
    
    echo '&nbsp;&nbsp;';
    //echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'btn btn-warning','onclick'=>'resetData()'));
  
    
  ?>
    <input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
  </div>
</form>
</div>


<?php }else{ ?>
<div id="content">- no data -</div>
<?php } ?>



