<?php 
$optionlist = $this->optionlist;
?>
<!-- <b><?php echo $this->language->_('General'); ?> &gt; <?php echo $this->language->_('Remittance Charges'); ?></b><br /><br /> -->

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>General</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span>Remittance Charges</span>
                </li>  
            </ul>
        </div>
    </div>
</div>


<div class="row content-box">
	  <div class="portlet-body form col-md-12">
      	<h5><?php echo $banktable?></h5>
      	<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
          <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="80%">
              <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter')?></strong></th></tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('custid',$this->language->_('Company Code')); ?></td>
                <td class="tbl-evencontent">:</td>
                <td class="tbl-evencontent" colspan="8">
                <select name="custid" class="form-control">
							<option value="">--- <?php echo $this->language->_('Any Value')?> ---</option>
							<?php foreach($this->var as $custlist){?>
							<option value="<?php echo $custlist['CUST_ID'];?>" <?=($custlist['CUST_ID']==$this->cekcustid) ? 'selected' : ''?>><?php echo $custlist['CUST_ID'];?></option><?php }?>
						</select>
				</td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('CompanyName',$this->language->_('Company Name')); ?></td>
                <td class="tbl-evencontent">:</td>
                <td class="tbl-evencontent" colspan="8"><?php  echo $this->formText('custname',$this->custname,array('size'=>'30','class'=>'form-control')); ?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?php echo $this->formLabel('datef',$this->language->_('Suggested Date From')); ?></td>
                <td class="tbl-evencontent">:</td>
               	<td class="tbl-evencontent" colspan="3">
					<?php echo $this->datePicker("fDateFrom", $this->fDateFrom,array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'minDateID' => 'fDateTo',
                     'anotherField' => 'fDateTo',),array('readonly' => 'readonly'));?>

					<script>
						$('#fDateFrom').datepicker({
							format: 'dd/mm/yyyy',
							uiLibrary: 'bootstrap4',
						});
					</script>
				</td>
				<td class="tbl-evencontent"><?php echo $this->language->_('To')?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="3">
					<?php echo $this->datePicker("fDateTo", $this->fDateTo, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
	  				 'readonly' => 'readonly',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'maxDateID' => 'fDateFrom',
                     'anotherField' => 'fDateFrom',),array('readonly' => 'readonly'));?>

					<script>
						$('#fDateTo').datepicker({
							format: 'dd/mm/yyyy',
							uiLibrary: 'bootstrap4',
						});
					</script>
				</td>
				  <td class="tbl-evencontent"><?php echo $this->formLabel('suggestor',$this->language->_('Suggester')); ?></td>
				  <td class="tbl-evencontent">:</td>
				  <td class="tbl-evencontent" colspan="6">
					<?php  echo $this->formText('suggestor',$this->suggestor,array('size'=>'30','class'=>'form-control')); ?>
				  </td>
              </tr>
              <tr>
	              <td colspan="3" align="left">
	               	<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
					<?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btnwhite hov')); ?>
	              </td>
              </tr>
          </table>
        </form>
    </div>
</div>

<!-- 
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Remittance Charges'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
		<tr><th colspan="9" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
		<tr>
      		<td class="tbl-evencontent"><?php echo $this->formLabel('custid',$this->language->_('Company Code')); ?></td>
 			<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent"><select name="custid">
							<option value="">--- <?php echo $this->language->_('Any Value')?> ---</option>
							<?php foreach($this->var as $custlist){?>
							<option value="<?php echo $custlist['CUST_ID'];?>" <?=($custlist['CUST_ID']==$this->cekcustid) ? 'selected' : ''?>><?php echo $custlist['CUST_ID'];?></option><?php }?>
						</select><?php 		//Zend_Debug::dump($this->var); die;?>
	  		</td>
			<td class="tbl-evencontent"><?php echo $this->formLabel('CompanyName',$this->language->_('Company Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('custname',$this->custname,array('size'=>'30')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('suggestor',$this->language->_('Suggester')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
					<?php  echo $this->formText('suggestor',$this->suggestor,array('size'=>'30')); ?>
			</td>
			<td class="tbl-evencontent"><?php echo $this->formLabel('datef',$this->language->_('Suggested Date From')); ?></td>
 	  		<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent"><?php echo $this->datePicker("fDateFrom", $this->fDateFrom,array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'minDateID' => 'fDateTo',
                     'anotherField' => 'fDateTo',),array('readonly' => 'readonly'));?></td>                    
			<td class="tbl-evencontent"><?php echo $this->formLabel('datet',$this->language->_('To')); ?></td>
 	  		<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent"><?php echo $this->datePicker("fDateTo", $this->fDateTo, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
	  				 'readonly' => 'readonly',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'maxDateID' => 'fDateFrom',
                     'anotherField' => 'fDateFrom',),array('readonly' => 'readonly'));?></td>
		</tr>
		<tr><td align="left" colspan="7">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
    </td></tr>
	</table>
</form> -->
<br />
<br />
<div align="right">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv',$this->language->_('CSV is too large (function is disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov')); ?>&nbsp;
		<?php } ?>
		<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btngreen hov"><?PHP echo $this->language->_("Print")?></button>&nbsp;
	</form>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
  <div class="table-responsive">
	<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
    <tr>
      <th width="3%" valign="top" class="tablehead">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
    <th width="3%" valign="top" class="tablehead"><?php echo $this->language->_('Action')?></th></tr>
    <?php
    $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">'.$row['CUST_ID'].'</td>
					<td class="'.$td_css.'">'.$row['CUST_NAME'].'</td>
		    		<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['CUST_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
		    		<td class="'.$td_css.'">'.$row['CUST_SUGGESTEDBY'].'</td>';?>
				  <td class="<?=$td_css?>"><a href="#" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'detail','action'=>'index','custid'=>$row['CUST_ID']),null,true);?>'"><?php echo $this->language->_('Detail')?></a></td>
				<?php echo '</tr>';
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
        }?>
</table>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>