
<script type="text/javascript">
function switchCheck(selThis,classMode){
	if(classMode == "inputer"){
		if($(selThis).is(":checked")){
			$(".inputer").removeAttr("disabled","disabled");
			$(".inputer").attr("checked","checked");
			$(".approver").removeAttr("checked");
			$(".approver").attr("disabled","disabled");
			$(".main_approver").removeAttr("checked");
			
		}else{
			$(".inputer").removeAttr("checked");
			$(".approver").removeAttr("disabled","disabled");
		};
	}else if(classMode == "approver"){
		if($(selThis).is(":checked")){
			$(".approver").removeAttr("disabled","disabled");
			$(".approver").attr("checked","checked");
			$(".inputer").removeAttr("checked");
			$(".inputer").attr("disabled","disabled");
			$(".main_inputer").removeAttr("checked");
		}else{
			$(".approver").removeAttr("checked");
			$(".inputer").removeAttr("disabled","disabled");
		};		
	}else if(classMode == "mod_inputer"){
		if($(selThis).is(":checked")){
			$(".inputer").removeAttr("disabled","disabled");
			$(".approver").removeAttr("checked");
			$(".approver").attr("disabled","disabled");
			$(".main_approver").removeAttr("checked");
			
		}
	}else if(classMode == "mod_approver"){
		if($(selThis).is(":checked")){
			$(".approver").removeAttr("disabled","disabled");
			$(".inputer").removeAttr("checked");
			$(".inputer").attr("disabled","disabled");
			$(".main_inputer").removeAttr("checked");
		}
	}else if(classMode == "viewer"){
		if($(selThis).is(":checked")){
			$(".viewer").removeAttr("disabled","disabled");
			$(".viewer").attr("checked","checked");
		}else{
			$(".viewer").removeAttr("checked","checked");
		}
	}

	
}
</script>
<b>Table &gt; Backend Group</b><br /><br />
<div class="tabheader" id="tabheader">Edit Backend Group</div>
<?php if($this->error){ ?>
<div class="errmsg">
<?php
	if($this->groupCodeErr) 
	{
		echo $this->formErrors($this->groupCodeErr); 
	}
	if($this->groupNameErr) 
	{
		echo $this->formErrors($this->groupNameErr); 
	}
	
	if($this->privilegeErr) 
	{
		echo $this->formErrors($this->privilegeErr); 
	}
?>
</div>
<br />
<?php } ?>
<form name="addgroup" action="" method="post">
<table width="300px" cellpadding="3" cellspacing="0" border="0" class="tableform">
<tr>
	<th colspan="3" class="tdform-sub"><strong>Edit Backend Group</strong></th>
</tr>
<tr>
	<td width="100px" class="tbl-evencontent"><?php echo $this->formLabel('group_code','Group ID')?>&nbsp;<span class="errmsg">*</span></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formText('group_code',$this->group_code,array('disabled'=>'disabled','id'=>'group_code','maxlength'=>6 ,'style'=>'width:50px'))?></td>
</tr>
<tr>
	<td width="100px" class="tbl-evencontent"><?php echo $this->formLabel('group_name','Group Name')?>&nbsp;<span class="errmsg">*</span></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formText('group_name',$this->group_name,array('id'=>'group_name','maxlength'=>32,'style'=>'width:200px'))?></td>
</tr>
<tr>
	<td width="100px" class="tbl-evencontent"><?php echo $this->formLabel('status','Status')?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->group_status?></td>
</tr>

</table>
<hr/>
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
<tr>
	<th colspan="3" class="tdform-sub"><b>Role List</b></th>
</tr>
<tr>
<?php

function findChild($parentId , $schemeTemplate ){
$retArray = array();
	if(is_array($schemeTemplate)){
		foreach ($schemeTemplate as $key => $scheme) {
			if($scheme['PARENT_BTEMPLATE_ID'] == $parentId){
				$retArray[] = $scheme;			
			}
		}
	}
	return $retArray;
}

function findPrivilege($bTemplateId , $schemeTemplate ){
	
$retArray = array();
	if(is_array($schemeTemplate)){
		foreach ($schemeTemplate as $key => $scheme) {
			if($scheme['BTEMPLATE_ID'] == $bTemplateId){
				$retArray[] = $scheme;			
			}
		}
	}
	return $retArray;
}

$struct = array(); 
	if(is_array($this->schemeTemplate)){
		foreach ($this->schemeTemplate as $key => $scheme) {
			if($scheme['PARENT_BTEMPLATE_ID'] == ""){
				$struct[$scheme['BTEMPLATE_DESC']] = findChild($scheme['BTEMPLATE_ID'],$this->schemeTemplate);
			}
			if($scheme['BTEMPLATE_DESC']=="Viewer"){
				$viewerTemplateId =  $scheme['BTEMPLATE_ID']; 
			}
		}
	}	


	$postPrivileges = $this->inputParam['privilege'];
	$postData = $this->inputParam;
	
	
	
	if(is_array($struct)){
		foreach ($struct as $scheme => $node) {
			
			?>
			<td valign="top">
			<div><?php echo $this->formCheckbox(strtolower($scheme), "1",array('checked' => (isset($postData[str_replace(' ','_',strtolower($scheme))]) && $postData[str_replace(' ','_',strtolower($scheme))]==true)?true:false,'class' => 'main_'.strtolower($scheme),'onclick' => 'switchCheck(this,\''.strtolower($scheme).'\');')) ?><?php echo $scheme?></div>
			<?php 
			if($scheme =='Viewer'){
					$privilege = findPrivilege($viewerTemplateId,$this->privilege);
					foreach ($privilege as $key => $priv) {
						?>
						<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->formCheckbox('privilege['.$priv['BPRIVI_ID'].']', "1",array('checked' => (isset($postPrivileges[$priv['BPRIVI_ID']]) && $postPrivileges[$priv['BPRIVI_ID']]==true )?true:false,'class' =>strtolower($scheme),'onclick'=>'switchCheck(this,"mod_'.strtolower($scheme).'")')) ?><?php echo $priv['BPRIVI_DESC']?></div>
						<?php 
					}
					continue;
			}
			foreach ($node as $key => $value) {
				?>
					<div>&nbsp;&nbsp;&nbsp;<?php echo $this->formCheckbox(str_replace(' ','_',strtolower($value['BTEMPLATE_DESC'])), "1",array('checked' => (isset($postData[str_replace(' ','_',strtolower($value['BTEMPLATE_DESC']))]) && $postData[str_replace(' ','_',strtolower($value['BTEMPLATE_DESC']))]==true)?true:false,'class' => strtolower($scheme),'onclick' => 'if($(this).is(":checked")){$(".'.str_replace(' ','_',strtolower($value['BTEMPLATE_DESC'])).'").attr("checked","checked"); switchCheck(this,"mod_'.strtolower($scheme).'");  }else{$(".'.str_replace(' ','_',strtolower($value['BTEMPLATE_DESC'])).'").removeAttr("checked");};')); ?><?php echo $value['BTEMPLATE_DESC']?></div>
				<?php 
				
					$privilege = findPrivilege($value['BTEMPLATE_ID'],$this->privilege);
					foreach ($privilege as $key => $priv) {
						?>
						<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->formCheckbox('privilege['.$priv['BPRIVI_ID'].']', "1",array('checked' => (isset($postPrivileges[$priv['BPRIVI_ID']]) && $postPrivileges[$priv['BPRIVI_ID']]==true )?true:false,'class' =>strtolower($scheme).' '.str_replace(' ','_',strtolower($value['BTEMPLATE_DESC'])),'onclick'=>'switchCheck(this,"mod_'.strtolower($scheme).'")')) ?><?php echo $priv['BPRIVI_DESC']?></div>
						<?php 
					}
			}
			
			
			?>
			
			
			</td>
	<?php 	
		}
		
	}
	?>

</tr>
    
    
</table>

<br/>
<?php echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));?>&nbsp;&nbsp;<input type="submit" class="inputbtn" value="Submit" id="submit" name="submit">

</form>

