<script>
	$(document).ready(function()
	{

		// if( '<?=$this->success?>' || '<?=$this->error?>' )
		// {
		// 	$("input").attr("disabled","disabled");
		// 	$("textarea").attr("disabled","disabled");
		// }
	});
</script>

<script type="text/javascript">
    function localtransfer()
    {
       var d1 = document.getElementById("localtransfer");
			 var d2 = document.getElementById("monthlyfee");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";

       }
       else
       {
       }
    }
		function monthlyfee()
    {
       var d1 = document.getElementById("monthlyfee");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
		function valastransfer()
    {
       var d1 = document.getElementById("valastransfer");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("monthlyfee");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
</script>



<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					<li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Global Charges Setting')?></h5>
		<h6><?=$this->language->_('Manage charges/fee service settings	')?></h6>
	</div>
</div>
<br>
<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">

<div id="valastransfer" >

	<div class="row">
		<div align="left" class="col-md-12">
				<strong>Realtime Remittance Transfer Charges</strong>
		</div>
	</div>
	<br>
	<div class="row">
			<div class="col-md-12">
					<?php 
						$optionCurrency = array('maxlength'=>20,
										  'size'=>12,
										  'class'=>'currency form-control',						  
										  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
										  'onblur'=>'NumFrmtUS(this.value,this.id)',
										  'onkeypress'=>'return forceCurrency(event)');
						$charges = 0;
					?>
				
					<table width="100%" align="center" class="table-sm table table-striped table-responsive">
							<tr>
								<th class="tablehead">CHARGE</th>
								<th class="tablehead" colspan="2">TRANSFER FEE</th>
								<th class="tablehead" colspan="2">FULL AMOUNT FEE</th> 
								<th class="tablehead" colspan="4">PROVISION FEE</th>
							</tr>
							<tr>
								<th class="tablehead">CCY</th>
								<th width="90px" class="tablehead">CCY</th>
								<th class="tablehead">Charge Amount</th>
								<th width="90px" class="tablehead">CCY</th>
								<th class="tablehead">Charge Amount</th>
								<th width="90px" class="tablehead">CCY</th>
								<th class="tablehead">Min Provision</th>
								<th class="tablehead">Max Provision</th>
								<th class="tablehead">% from Trx</th>
							</tr>
							<?php
								foreach($this->listccy  as $key => $value){
									?>
										<tr>
											<td><?php echo $value['CCY_ID']; ?> <input type="hidden" name="ccy[]" value="<?php echo $value['CCY_ID']; ?>"></td>
											<td>
											<?php $idccy = 'ccytf'.$value['CCY_ID']; 
												  $valueccy = 'tfccy'.$value['CCY_ID']; 
												  $chargetype = 'charges_type'.$value['CCY_ID']; 
												  
												  $tfamt = 'tfamt'.$value['CCY_ID']; 
												  $tfamount = 'tfamount'.$value['CCY_ID']; 
												  $ccyfa = 'ccyfa'.$value['CCY_ID']; 
												  
												  $faccy = 'faccy'.$value['CCY_ID']; 
												  $faamount = 'faamount'.$value['CCY_ID']; 
												  $faamt = 'faamt'.$value['CCY_ID']; 
												  
												  $ccypf = 'ccypf'.$value['CCY_ID']; 
												  $prccy = 'prccy'.$value['CCY_ID']; 
												  $min = 'min'.$value['CCY_ID']; 
												  $prmin = 'prmin'.$value['CCY_ID']; 
												  
												  $max = 'max'.$value['CCY_ID']; 
												  $prmax = 'prmax'.$value['CCY_ID']; 
												  
												  $pcy = 'pcy'.$value['CCY_ID']; 
												  $prpct = 'prpct'.$value['CCY_ID']; 
												  
												  
											?>
												 <?php echo $this->formSelect($idccy,$this->$valueccy,array('id'=>$idccy,'class'=>'form-control'), $this->dataccy); ?>
													
													<input type="hidden" name="<?php echo $chargetype; ?>" value="3">
											</td>
											

											<td><?php echo $this->formText($tfamount,Application_Helper_General::displayMoney($this->$tfamt),$optionCurrency)?></td>
											<td>
												 <?php echo $this->formSelect($ccyfa,$this->$faccy,array('id'=>$ccyfa,'class'=>'form-control'), $this->dataccy); ?>
													
													<input type="hidden" name="<?php echo $chargetype; ?>" value="4">
											</td>
											<td><?php echo $this->formText($faamount,Application_Helper_General::displayMoney($this->$faamt),$optionCurrency)?></td>
											<td>
												 <?php echo $this->formSelect($ccypf,$this->$prccy,array('id'=>$ccypf,'class'=>'form-control'), $this->dataccy); ?>
													
													<input type="hidden" name="<?php echo $chargetype; ?>" value="5">
											</td>
											<td><?php echo $this->formText($min,Application_Helper_General::displayMoney($this->$prmin),$optionCurrency)?></td>
											<td><?php echo $this->formText($max,Application_Helper_General::displayMoney($this->$prmax),$optionCurrency)?></td>
											<td><input type="number" class="form-control " min="0" step="0.001" name="<?php echo $pcy ?>" value="<?php echo $this->$prpct; ?>"></td>
										</tr>
										
									
									<?php
								}

							?>
							
							
							
					</table>
					<br><br>
					<div align="center">
							<button onClick="window.location.href='<?php echo $this->url(array('module'=>'charges','controller'=>'chargesglobal','action'=>'index'),null,true);?>'" type="button" class="btnwhite hov" name="button">Back</button>
							<button type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'companycharges','controller'=>'remitfee','action'=>'index'),null,true);?>'" class="btnwhite hov" name="button">Reset</button>
							<button type="submit" class="btngreen hov" name="button">Submit</button>
					</div>
				
			</div>
	</div>
</div>
</form>