<b><?php echo $this->language->_('Charges Account'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set COA Account'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
	<?php }else if($this->error){ ?>
	<div class="errmsg"><?=$this->report_msg?></div><br />
	<?php } ?>
	
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong>COA</strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('COA Account',$this->language->_('COA Account')); ?></td>
			<td class="tbl-evencontent">:</td>		
			<td class="tbl-evencontent">
				<?php if(!$this->nochanges){ 
						echo $this->formText('COAAccount',$this->COAAccount,array('maxlength'=>'10','size'=>'15')); 
						echo '<div class="errmsg">'.$this->xCOAAccount.'</div>';
					} 
					else{
						echo '<i>'.$this->nochanges_msg.'</i>';
					}
				?>
			</td>
			
		</tr>
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
		<?php 
				if(!$this->nochanges){ 
					echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn')).'&nbsp;'; 
					echo $this->formSubmit('reset','Reset',array('class'=>'inputbtn')); 
				}else{
					echo $this->formButton('back', 'Back', array('onclick' => "location.href='/home/index'", 'class' => 'inputbtn'));
		} ?>
			</td>
		</tr>
	</table>
</form>