<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Insurance Branch'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Onboarding'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table td {
		vertical-align: top !important;
	}

	button.is-invalid {
		border-color: #dc3545 !important;
	}

	input[type="submit"]:disabled {
		cursor: not-allowed;
		background-color: #8fc4fb;
	}

	.input-medium {
		width: 320px !important;
	}

	.input-date {
		width: 120px !important;
	}

	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.gj-datepicker {
		width: 160px !important;
	}

	.input-group-prepend,
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}

	.select2-container {
		padding: 0 !important;
	}

	.select2-container .select2-choice.is-invalid {
		border: 1px solid red !important;
	}
</style>

<?php if ($this->err) { ?>
	<div class="errmsg">
		<?php
		echo $this->errmsg;
		?>
	</div><br />
<?php
}
?>

<h5><?= $this->language->_('Insurance Branch Onboarding'); ?></h5>

<?php $mandatory = (!$this->isConfirm) ? '&nbsp;<small class="text-danger">*</small>' : null; ?>

<form action="" method="post">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<table class="table-hover my-3" cellpadding="5" style="width:100%">
				<tr>
					<td width="250"><?= $this->language->_('Insurance Company'); ?><?= $mandatory; ?></td>
					<td width="10">:</td>
					<td>
						<?php
						if ($this->isConfirm) {
							echo $this->cust_name . ' (' . $this->cust_id . ')';
							echo $this->formHidden('cust_id', $this->cust_id);
							echo $this->formHidden('cust_name', $this->cust_name);
							echo $this->formHidden('branch_ccy', $this->branch_ccy);
							echo $this->formHidden('acct_type', $this->acct_type);
						} else { ?>
							<select name="cust_id" id="cust_id" class="form-control" onchange="customer(this)" style="width:100%">
								<option value=""></option>
								<?php foreach ($this->custIdArr as $key => $value) : ?>
									<option value="<?= $key; ?>" <?= ($this->cust_id == $key) ? 'selected' : ''; ?>><?= strtoupper($value) . ' (' . $key . ')'; ?></option>
								<?php endforeach; ?>
							</select>
							<small class="text-danger" id="cust_id_err"><?= $this->errDesc['cust_id']; ?></small>
							<input type="hidden" name="cust_name" id="cust_name" value="<?= $this->cust_name; ?>">
							<input type="hidden" name="branch_ccy" id="branch_ccy" value="<?= $this->branch_ccy; ?>">
							<input type="hidden" name="acct_type" id="acct_type" value="<?= $this->acct_type; ?>">
						<?php } ?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Branch Name'); ?><?= $mandatory; ?></td>
					<td>:</td>
					<td>
						<?php
						if ($this->isConfirm) {
							echo $this->branch_name;
							echo $this->formHidden('branch_name', $this->branch_name);
						} else {
							echo $this->formText('branch_name', $this->branch_name, ['class' => 'form-control', 'onkeyup' => 'check_button()']);
							echo '<small class="text-danger">' . $this->errDesc['branch_name'] . '</small>';
						}
						?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Branch Email'); ?><?= $mandatory; ?></td>
					<td>:</td>
					<td>
						<?php
						if ($this->isConfirm) {
							echo $this->branch_email;
							echo $this->formHidden('branch_email', $this->branch_email);
						} else {
							echo $this->formText('branch_email', $this->branch_email, ['class' => 'form-control', 'onkeyup' => 'check_button()']);
							echo '<small class="text-danger">' . $this->errDesc['branch_email'] . '</small>';
						}
						?>
					</td>
				</tr>
				<tr>
					<td width="250"><?= $this->language->_('Branch Account'); ?><?= $mandatory; ?></td>
					<td width="10">:</td>
					<td>
						<?php
						if ($this->isConfirm) {
							echo $this->branch_acct . ' (' . $this->branch_ccy . ')';
							echo $this->formHidden('branch_acct', $this->branch_acct);
						} else { ?>
							<select name="branch_acct" id="branch_acct" class="form-control" onchange="select_acct(this)" style="width:100%">
							</select>
							<small class="text-danger"><?= $this->errDesc['branch_acct']; ?></small>
						<?php } ?>
					</td>
				</tr>
				<?php if ($this->isConfirm) : ?>
					<tr>
						<td width="250"><?= $this->language->_('Account Type'); ?></td>
						<td width="10">:</td>
						<td>
							<?= $this->acct_type; ?>
							<?= $this->formHidden('acct_type', $this->acct_type); ?>
						</td>
					</tr>
				<?php endif; ?>
			</table>
		</div>
	</div>
	<center>
		<?php
		if ($this->isConfirm) {
			$attr_submit = ['class' => 'btngreen hov', 'onclick' => "proceed('submit');"];
			echo $this->formSubmit('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => "proceed('back');"]);
		} else {
			$attr_submit = ['class' => 'btngreen hov', 'disabled' => true, 'onclick' => "proceed('submit');"];
			echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/insurancebranch"']);
		}
		?>
		<?php

		if ($this->isConfirm) {
			$value_btn = "CONFIRM";
		} else {
			$value_btn = "SUBMIT";
		}

		?>
		<?= $this->formSubmit('submit', $this->language->_($value_btn), $attr_submit); ?>
		<?= $this->formHidden('isConfirm', $this->isConfirm); ?>
		<?= $this->formHidden('process', ''); ?>
	</center>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.js"></script>
<script type="text/javascript">
	<?php if (!$this->isConfirm) : ?>
		$(document).ready(function() {
			$('#cust_id').select2({
				placeholder: 'Search here',
				allowClear: true,
				// matcher: function(term, text) {
				// 	if (term === '') return null;
				// 	return text.toUpperCase().indexOf(term.toUpperCase()) == 0;
				// }
			});
			$('.select2-search-choice-close').remove();

			$('.select2').select2();

			var cust_id = "<?= $this->cust_id; ?>";
			customer(null, cust_id);
		});
	<?php endif; ?>

	function customer(obj = null, cust = null) {
		if (cust === null) {
			var cust_id = $(obj).val();
		} else {
			var cust_id = cust;
		}
		$.ajax({
			url: "<?= $this->url(array('action' => 'checkcustomer')); ?>",
			method: "GET",
			dataType: "JSON",
			data: {
				cust_id: cust_id
			},
			success: function(response) {
				var errDescCustId = "<?= $this->errDesc['cust_id']; ?>";
				var branch_acct = "<?= $this->branch_acct; ?>";
				if (response.is_onboarding === true) {
					$('#cust_id').prev('.select2-container').children('.select2-choice').addClass('is-invalid');
					$('#cust_id_err').text("<?= $this->language->_('No changes allowed for this record while awaiting review and approval'); ?>");
					$('#submit').attr('disabled', true);
				} else {
					if (errDescCustId) {
						$('#cust_id_err').text(errDescCustId);
						$('#submit').attr('disabled', true);
					} else {
						$('#cust_id').prev('.select2-container').children('.select2-choice').removeClass('is-invalid');
						$('#cust_id_err').text('');
						check_button();
					}
				}

				var html = '<option value="">-- Any Value --</option>';
				var custAcctArr = response.custAcctArr;
				$.each(custAcctArr, function(index, value) {
					var selected = (index == branch_acct) ? 'selected' : '';
					html += '<option ' + selected + ' value="' + index + '">' + value + '</option>';
				});
				$('#branch_acct').html(html);
			}
		});
	}

	function select_acct(obj) {
		check_button();
		var branch_acct = $(obj).val();
		$.ajax({
			url: "<?= $this->url(array('action' => 'checkaccount')); ?>",
			method: "GET",
			dataType: "JSON",
			data: {
				acct_no: branch_acct
			},
			success: function(response) {
				$('#cust_name').val(response.CUST_NAME);
				$('#branch_ccy').val(response.CCY_ID);
				$('#acct_type').val(response.ACCT_DESC);
			}
		});
	}

	function check_button() {
		var empty = 0;

		empty = $('#cust_id').val() == "" ? (empty + 1) : empty;
		empty = trim($('#branch_name').val()) == "" ? (empty + 1) : empty;
		empty = trim($('#branch_email').val()) == "" ? (empty + 1) : empty;
		empty = $('#branch_acct').val() == "" ? (empty + 1) : empty;

		if (empty == 0) {
			$('#submit').attr('disabled', false);
		} else {
			$('#submit').attr('disabled', true);
		}
	}
</script>