<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Open Banking'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Cash Pooling'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Others Bank'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                 <li>
	                    <span class="valas" ><?php echo $this->language->_('Confirmation'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<br>

<style type="text/css">
	.roundChk label {
		cursor: default;
	}
</style>


<script type="text/javascript">



  $(document).ready(function() {

    // setTrfType()
    $(".tokeninput").keyup(function(e) {

      if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
        $(this).prev().focus();
      } else {
        $(this).next().focus();
      }
    });

    $('#tokenmodal').on('shown.bs.modal', function() {
      $('.firsttokenfield').trigger('focus');
    });

    $('#tokenmodal2').on('shown.bs.modal', function() {
      $('.firsttokenfield').trigger('focus');
    });


  });
</script>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">

<?php echo $this->formHidden('confirmPage', true); ?>

<?php if ($this->error) { ?>
	<?php foreach ($this->error_msg as $key => $value) { ?>
			<div class="alert alert-danger"><?php echo $this->language->_($value); ?></div>
	<?php } ?>
<?php } ?>

<div class="row">
	<div class="col-md-7">
		<div class="portlet light form-fit bordered">
			<div style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">

				<div class="form-group row">

					<div class="col-md-12">
						<h5>Cash Pooling to Others bank</h5>
						<p>Cash pooling and distribution between company others bank account</p>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Payment Ref'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('auto generate'); ?></label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Payment Subject'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('Cash pooling session jam 7'); ?></label>
					</div>
				</div>
			</div>
			<br>
			<div class="container-fluid content-box" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><b><?php echo $this->language->_('Sweep From'); ?></b></label>
					</div>
					<div class="col-sm-8">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Source Bank'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('BANK PERMATA'); ?></label>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Source Account'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('10020030001'); ?><?php echo $this->language->_('(IDR)'); ?></label>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Source Alias Name'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('REK PEMBAYARAN 1'); ?></label>
					</div>
				</div>
				
			</div>

			<div class="container-fluid content-box" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><b><?php echo $this->language->_('Sweep To'); ?></b></label>
					</div>
					<div class="col-sm-8">

					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Beneficiary Bank'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('BANK BCA'); ?></label>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Beneficiary Account'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('100200123123'); ?><?php echo $this->language->_('IDR'); ?></label>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Beneficiary Alias Name'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('AGEN BUS SEMARANG'); ?></label>
					</div>
				</div>
				<br>
				
				<i class="fa fa-ellipsis-h" style="position: absolute; right: 1%; bottom: 2%;" data-toggle="modal" data-target="#poolingConfirmModal"></i>

				<div class="modal fade" id="poolingConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog modal-lg" role="document" style="max-width: 600px!important">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 style="text-align: center;"><?php echo $this->language->_('Beneficiary Detail') ?></h4>
					      </div>
					      	<div class="modal-body">
					      		<div class="container col-md-12">
						      		<div class="container-fluid content-box" style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
										
										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Bank'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('BANK BCA'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('City'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('SEMARANG'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Account'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('100200123123'); ?><?php echo $this->language->_('(IDR)'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Name'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('Cahyo Budiman'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Alias Name'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('AGEN BUS SEMARANG'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Address 1'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('JL TAMAN SOMPOK NO.123'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Address 2'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('SEMARANG'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Email'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('agus@yahoo.com'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Citizenship'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('Resident'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Bank'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('BANK BCA'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Nationality'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('WNI'); ?></label>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary Category'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('Individual'); ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary ID Type'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('KTP'); ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Beneficiary ID Number'); ?></label>
											</div>
											<div class="col-sm-8">
												<label for=""><?php echo $this->language->_('11221010200004'); ?></label>
											</div>
										</div>
									</div>
							    </div>
							</div>
					      <div class="modal-footer">
					        <button type="button" class="btnwhite hov" data-dismiss="modal" align="center">Close</button>
					      </div>
					    </div>
					  </div>
			  		</div>
			</div>
			<div style="padding-left: 3%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
				<div class="form-group row">
					<div class="col-sm-4">
						<label for=""><?php echo $this->language->_('Message'); ?></label>
					</div>
					<div class="col-sm-8">
						<label for=""><?php echo $this->language->_('Pooling amount ke rekening pusat'); ?></label>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="col-md-5">
			<div class="portlet light form-fit bordered">

				<h5><?= $this->language->_('Transaction Date') ?></h5>

				<div id="future" style="display:none;">
					<div class="form-group row">
						<div class="col-md-4">
							<label><?= $this->language->_('Choose Date') ?><?= $mandatory ?></label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" name="PS_FUTUREDATE" id="PS_FUTUREDATE" value="<?= $this->PS_EFDATEFUTURE ?>" onchange='setDate(this.value);' readonly>
							<script>
								$('#PS_FUTUREDATE').datepicker({
									minDate: function() {
										var date = new Date();
										date.setDate(date.getDate() + 1);
										return new Date(date.getFullYear(), date.getMonth(), date.getDate());
									},
									format: 'dd/mm/yyyy',
									uiLibrary: 'bootstrap4',
								});
							</script>
						</div>
					</div>
				</div>

				<div id="periodic">

					<div class="form-group row" id="repeateveryselect">
						<div class="col-md-4">
							<label><?= $this->language->_('Transfer Date') ?></label>
						</div>
						<div class="col-md-8">
							<label><?= $this->language->_('Periodic') ?></label>
						</div>
					</div>

					<div class="form-group row" id="repeateveryselect">
						<div class="col-md-4">
							<label><?= $this->language->_('Repeat') ?></label>
						</div>
						<div class="col-md-8">
							<label><?= $this->language->_('Daily') ?></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4">
							<label><?= $this->language->_('Repeat On') ?></label>
						</div>
						<div class="col-md-8">
							<div class="input-group">
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox6" value="0" name="report_day[]" <?php echo $this->check0; ?> />
									<label for="checkbox6">S</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox" value="1" name="report_day[]" <?php echo $this->check1; ?> />
									<label for="checkbox">M</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox1" value="2" name="report_day[]" <?php echo $this->check2; ?> />
									<label for="checkbox1">T</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox2" value="3" name="report_day[]" <?php echo $this->check3; ?> />
									<label for="checkbox2">W</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox3" value="4" name="report_day[]" <?php echo $this->check4; ?> />
									<label for="checkbox3">T</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox4" value="5" name="report_day[]" <?php echo $this->check5; ?> />
									<label for="checkbox4">F</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox5" value="6" name="report_day[]" <?php echo $this->check6; ?> />
									<label for="checkbox5">S</label>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4">
							<label><?= $this->language->_('Start Date') ?></label>
						</div>
						<div class="col-md-8">
							<label><?= $this->language->_('20-Jan-2020') ?></label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4">
							<label><?= $this->language->_('End Date') ?></label>
						</div>
						<div class="col-md-8">
							<label><?= $this->language->_('31-Jan-2020') ?></label>
						</div>
					</div>		

					<div class="form-group row">
						<div class="col-md-4">
							<label><?= $this->language->_('Set Time') ?><?= $mandatory ?></label>
						</div>
						<div class="col-md-8">
							<label><?= $this->language->_('07:00') ?></label>
						</div>
					</div>	
					<br>
					
					<h5><?= $this->language->_('Sweep Conditions') ?></h5>		
					<div class="form-group row">
						<div class="col-md-5">
							<label><?= $this->language->_('Transaction Type') ?></label>
						</div>
						<div class="col-md-7">
							<label><?= $this->language->_('SKN') ?></label>
						</div>
					</div>		

					<div class="form-group row">
						<div class="col-md-5">
							<label><?= $this->language->_('Remain on Source') ?><?= $mandatory ?></label>
						</div>
						<div class="col-md-7">
							<label><?= $this->language->_('IDR 1.000.000') ?></label>
						</div>
					</div>	

					<div class="form-group row">
						<div class="col-md-5">
							<label><?= $this->language->_('Min Transfer Amount') ?><?= $mandatory ?></label>
						</div>
						<div class="col-md-7">
							<label><?= $this->language->_('IDR 1.000.000.000') ?></label>
						</div>
					</div>	

		            <br>
		            
		            <div class="form-group row">
						<div class="col-md-12">
							<label style="color: grey;"><?= $mandatory ?><?= $this->language->_('Your sweep transfer will be executed if the amount is equalor greater than minimum transfer amount') ?></label>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-md-12">
							<label style="color: grey;"><?= $mandatory ?><?= $this->language->_('Max SKN limit is IDR 1.000.000.000, if exceeds this limit') ?></label>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-md-12">
							<label style="color: grey;"><?= $this->language->_('(fees will apply according to the conditions ocoured)') ?></label>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


	<div class="input-group col-md-12" align="center" >
		<center style="width: 100%;">
		<input type="submit" name="back" value="<?php echo $this->language->_('Back');?>" class="btnwhite hov"/>

        <?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
          
		</center>
	</div>
	</form>
</div>
