<style>
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
.indicator.online {
    background: #28B62C;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    /*-webkit-animation: pulse-animation 2s infinite linear;*/
  }

  .indicator.offline {
      background: #FF4136;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      /*-webkit-animation: pulse-animation 2s infinite linear;*/
  }

  .indicator.warning {
      background: #F7CF32;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      /*-webkit-animation: pulse-animation 2s infinite linear;*/
  }

  .indicator.disabled {
      background: #6c757d;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      /*-webkit-animation: pulse-animation 2s infinite linear;*/
  }

  .reportgen th,
  .reportgen td {
      width: 150px;
      padding: 5px;
  }

  .gj-icon.clock:before {
    content: "\e905";
    background: white;
    padding: 2.5px 8px 2.5px 8px;
    border: 1px solid #ced4da;
    border-radius: 10%;
    font-size: 20px;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    box-shadow: 0px 3px 3px -2px #8b8d8fb0;
}

.gj-textbox-md{
		padding-left: 11px !important;
		font-size: 11px !important;
		color:#495057!important;
	}
</style>
<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

$(document).ready(function () {
  var theme = "<?=$auth->_userTheme?>";

		if(theme == "dark"){
			$('head').append('<style>.gj-icon.clock:before{color: gray;background-color: #0b212e !important;padding: 2.5px 8px 2.5px 8px !important; border: 0.3px solid #e9ecef !important; border-radius:10% !important}</style>');
		}

$('.msg').hide();
$('.error').hide();

$('#report_email').blur(function () {

  var email = $(this).val();
  var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;

   if(email!=''){
   if (re.test(email)) {
       $('.msg').hide();
       $('.success').show();
       $('#next').show();
       $('#finish').show();
   } else {
     // alert('herea');
       $('.msg').hide();
       $('.error').show();
       $('#next').hide();
       $('#finish').hide();
   }
   }

});

});

</script>


<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){

  // reprot_file
  rfile = '<?= $this->data['REPORT_FILE'];?>';
  if (rfile == "1"){
    document.getElementById('limitdata').style.display = "";
  }

   $('#step2').show();
    $('#step2').hide();

    $('#next').click(function(e){
      $('#step1').hide();
      $('#step2').show();
    });

    $('#previous').click(function(e){
      $('#step1').show();
      $('#step2').hide();
    });

    $('#selectRepeatevery').val('<?= $this->data['REPORT_SCHEDULE'];?>');
    $("#selectRepeatevery").change(function() {
      var e = document.getElementById("selectRepeatevery");
      var repeatVal = e.options[e.selectedIndex].value;
      //alert(repeatVal);
      if(repeatVal != 'one'){
        
        $(".event_select").children("option[value=PS_CREATED]").hide();
        $(".event_select").children("option[value=PS_EFDATE]").hide();
        $(".event_select").children("option[value=PS_UPDATED]").hide();
        $(".onetab").show();
      }else{
        $(".event_select").children('option').show();
        $(".onetab").hide();
      }

      //from partial 
      $('#sidebar-collapse').trigger('click');
      $("#logo-title").show();
      $('#wherecol-1').val('');
      $('#colselect-1').val('');
      for(i=2;i<=20;i++){
          $('#where-'+i).remove();
      }
      $('.date-filter').val('');
      $('#colvalue-1').html('<input type="text" name="whereval[]" style="width:100%" value="" maxlength="20" class="form-control">');
      
    });


    //---------------------periodic-------------------------
    // $('.datepicker').datepicker({
    //   format: 'yyyy-mm-dd',
    //   uiLibrary: 'bootstrap4'
    // });

    $( "#periodic" ).change(function() {
      var val = $(this).val();
      //if custom launch modal
      if (val == 1) {
        $('#periodicmodal').modal('show');
      }
      else{
        $('#periodicmodal').modal('hide');
        $('.viewCustomPeriodic').removeClass( "d-inline" );
        $('.viewCustomPeriodic').addClass( "d-none" );
      }
    });

    var periodicType = <?php echo "'".$this->data['REPORT_SCHEDULE']."'"; ?>;

    if (periodicType == 'daily') {
      $('#dayDiv').show();
      $('#weekDiv').hide();
      $('#monthDiv').hide();

      $('#repeateverytd').hide();
      $('#repeateveryselect').attr('width', '50%');
    }
    else if(periodicType == 'weekly'){
      $('#dayDiv').hide();
      $('#weekDiv').show();
      $('#monthDiv').hide();

      $('#repeateverytd').show();
      $('#repeateveryselect').attr('width', '30%');
    }
    else{
      $('#dayDiv').hide();
      $('#weekDiv').hide();
      $('#monthDiv').show();

      $('#repeateverytd').show();
      $('#repeateveryselect').attr('width', '30%');
    }

    
    $('#selectRepeatevery').change(function() {

      var value = $(this).val();

      if (value == 'daily') {
        $('#dayDiv').show();
        $('#weekDiv').hide();
        $('#monthDiv').hide();

        $('#repeateverytd').hide();
        $('#repeateveryselect').attr('width', '50%');
      }
      else if (value == 'weekly') {
        $('#dayDiv').hide();
        $('#weekDiv').show();
        $('#monthDiv').hide();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
      else if(value == 'monthly'){
        $('#dayDiv').hide();
        $('#weekDiv').hide();
        $('#monthDiv').show();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
    });

  $('.time').timepicker({
    timeFormat: 'HH:mm:ss',
     showMeridian: false,
     showInputs: false
   });
   $('.time').timepicker().on('show.timepicker', function(e) {
    $('.meridian-column').remove();
       //$('.bootstrap-timepicker-meridian').remove();
       $('tr').eq(1).children().eq(4).remove();
       $('tr:last >td:last').remove();
     console.log(e);
     $('.l').html($('.bootstrap-timepicker-widget').html());
     console.log($('.l').html());
   });


  $('.viewCustomPeriodic').hide();

   //tombol save dalam modal
  $('#savePeriodic').click(function(){

    $('.viewCustomPeriodic').removeClass( "d-none" );
    $('.viewCustomPeriodic').addClass( "d-inline" );
  });
<?php
  $day = date("Y-m-d");
  if(strtotime($day) > strtotime(date($this->data['REPORT_START']))){
?>
  $('#repeat_end').datepicker({
    minDate: function() {
      var date = new Date();
      date.setDate(date.getDate() + 1);
      return new Date(date.getFullYear(), date.getMonth(), date.getDate());
    },
    format: 'yyyy-mm-dd',
    uiLibrary: 'bootstrap4'
  });
<?php
}else{
?>  
  $('#repeat_end').datepicker({
    minDate: function() {
      var val = document.getElementById('repeat_start').value;
      var dateend = new Date(val);
      dateend.setDate(dateend.getDate());
      return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
    },
    format: 'yyyy-mm-dd',
    uiLibrary: 'bootstrap4'
  });
<?php
}
?>

  $('#repeat_start').datepicker({
    minDate: function() {
      var date = new Date();
      date.setDate(date.getDate() + 1);
      return new Date(date.getFullYear(), date.getMonth(), date.getDate());
    },
    format: 'yyyy-mm-dd',
    uiLibrary: 'bootstrap4'
  });

  // setautofill
  
  $('#repeat_start').val('<?= $this->data['REPORT_START'];?>');
  $('#repeat_end').val('<?= $this->data['REPORT_END'];?>');
  
  $('#report_email').val('<?= $this->data['REPORT_EMAIL'];?>');

  rschedule = "<?= $this->data['REPORT_SCHEDULE'];?>";
  if(rschedule == "one"){
    $(".onetab").hide();
  }

  <?php if($this->report_schedule == 'one'){
    $this->repeat_start == NULL;
    $this->repeat_end == NULL;
  }
  ?>

  // status
  <?php 
    $tday = date("Y-m-d");
    if(strtotime($tday) < strtotime(date($this->data['REPORT_END'])) && strtotime($tday) > strtotime(date($this->data['REPORT_START'])) ){
      $status = "1";
    }else if(strtotime($tday) < strtotime(date($this->data['REPORT_START'])) && $this->data['REPORT_FILESTATUS'] == '0'){
      $status = "2";
    }else if(strtotime($tday) > strtotime(date($this->data['REPORT_END'])) && $this->data['REPORT_FILESTATUS'] == '1'){
      $status = "3";
    }else if($this->$data['REPORT_FILESTATUS'] == '0'){
      $status = "4";
    }else{
      $status = "4";
    }
  ?>
  var statusreport = <?= $status; ?>;

  if(statusreport == "1"){
    $('#statusreport').addClass("indicator online");
    $('#statustitle').text(' Ongoing')
  }else if(statusreport == "2"){
    $('#statusreport').addClass("indicator warning");
    $('#statustitle').text(' Pending future date')
  }else if(statusreport == "3"){
    $('#statusreport').addClass("indicator offline");
    $('#statustitle').text(' Ended')
  }else if(statusreport == "4"){
    $('#statusreport').replaceWith( '<img id="statusreport" src="/images/icon_light/sandglass.png" width="20px">' );
    $('#statustitle').text(' Waiting for generate');
  }

  <?php
    $str = $this->data['REPORT_WHERE'];

    if($str != ""){
      $z = explode(" ;",$str);
      if(count($z) > 2){
        foreach ($z as $val){
          $zz = explode(" = ",$val);
          $zzz[] =array($zz[0] => $zz[1]);
        }
        foreach ($zzz as $key => $vv){
          foreach($vv as $where => $col){
            $zx[$where] = $col;
          }
        }
      }else{
        $z = explode(" = ",$str);
        $zx = array($z[0] => $z[1]);
      }
    }

  ?>

  // autofill filter
  <?php
  $zx = array_filter($zx);
  $lengthfil = count($zx);
  
  if(!empty($zx)){
  ?>
    $("#logo-title").show();
  <?php
    foreach($zx as $fil){
  ?>
      $('#addwhere').click();
  <?php
  }
  //   $count = 1;
  //   foreach($zx as $key => $val){
  ?>
    
  //   $('#wherecol-<?= $count;?>').val('<?= $key;?>').trigger('change');

  <?php
    // $count++;
    // }
  }else{
  ?>
    $("#logo-title").hide();
  <?php
  }
  ?>

    console.log('<?= $str; ?>');
    console.log('<?= json_encode($zx); ?>');
    
    
    // for(i=0;i<=countfil;i++){
    //   $('#wherecol-'+i).val('?>')

    // }

    //---------------------sorting-------------------------
    $('.cancelSort').hide();

    var sortOne = document.getElementById("sort1");
    var sortTwo = document.getElementById("sort2");
    if(sortOne && sortTwo){
      $('.addSort').hide();
      $('.cancelSort').show();
      
    }else if(sortOne && !sortTwo){
      $('.addSort').attr('data-count', 1);
      $('.cancelSort').show();
    }

    $('.addSort').click(function() {

      $('.cancelSort').show();

      var headerData = <?php echo json_encode($this->colomndata) ?>;

      var count = $(this).attr('data-count');   

      count++;  

      if (count <= 2) {
        var opt = '<option value="" >-- Any Value --</option>';

        $('input[name^="label"]').each( function() {
          var index = $(this).attr("data-index");

          var label = headerData[index]['COLOMN'];
          var colomn = headerData[index]['COLUMN_NAME'];

          opt += '<option id="sort'+count+colomn+'"value="'+colomn+'">'+label+'</option>';
        });

        var data = '<div class="input-group mb-1 sortDiv">'+
                    '<select id="sort'+count+'" name="sort'+count+'" class="form-control col-md-8 mr-1">'+
                    opt+
                    '</select>'+
                    '<button type="button" class="squarebutton" onClick="sortBtn(this)" data-sort="desc"> <img data-toggle="tooltip" data-placement="top" title="descending" src="/images/icon/light/descending_light.png" height="70%" alt=""></button>'+
                    // '<span class="text-danger" onClick="removeSort(this)" style="font-size: 15px; cursor: pointer;">&nbsp;x</span>'+
                    '<button type="button" class="btn btn-sm btn-danger ml-3" onclick="removeSort(this)"><i class="fa fa-times"></i></button>'+
                    '<input type="hidden" name="sort'+count+'Direction" value="desc">'+
                  '</div>';

        $(this).before(data);

        if (count == 2) {
          $(this).hide();
        }

      }

      $(this).attr('data-count', count);

      $('#sort2').click(function() {
        var sortval = document.getElementById("sort1").value;
        $('#sort2'+sortval).hide();
          // back
          $('#sort1').click(function() {
            $('#sort2'+sortval).show();
          });
      });

    });

    $('.cancelSort').click(function() {

      $('.addSort').attr('data-count', 0);
      $('.addSort').siblings('.sortDiv').remove();
      $('.addSort').show();
      $(this).hide();
    });


    //---------------------sortable-------------------------
    jq("#divContent").sortable(); 

    function getOrder() {

      var itemOrder = jq('#divContent').sortable("toArray", {attribute: 'data-id'});
      return itemOrder;
    }    

  //tombol save dalam modal
  $('#saveHeaderContent').click(function(){

      var headerData = <?php echo json_encode($this->colomndata) ?>;

      // var counter = 0;

      //get content index dan text dari array columndata
      var row = '';
      $.each($("input[name='chkHeader']:checked"), function(){

        var label = headerData[$(this).val()]['COLOMN'];
        var colomn = headerData[$(this).val()]['COLUMN_NAME'];
        var type = headerData[$(this).val()]['DATA_TYPE'];

        if ($(this).val() == 'fx') {
          var className = 'text-primary';
        }
        else{
          
          var className = '';
        }

        //cara lama
        row += '<div class="col-3 pr-0 content ui-state-default">'+
          '<table class="table adapterTable">'+
            '<tr>'+
              '<th style="border-top: none;">'+
                '<div class="input-group">'+
                  '<input class="form-control mb-0" type="text" name="label[]" value="'+label+'" data-index="'+$(this).val()+'" required />'+
                  '<input type="hidden" name="colomn[]" value="'+colomn+'" />'+
                  '<input type="hidden" name="type[]" value="'+type+'" />'+
                '</div>'+
              '</th>'+
            '</tr>'+
            '<tr><td class="pl-4 '+className+'">'+label+'</td></tr>'+
          '</table>'+
        '</div>';
      });

      $("#divContent").empty();

      $("#divContent").html(row);
  });

  $('#save_as').change(function(){
    var sa = document.getElementById('save_as').value;
    if(sa == 1){
        document.getElementById('limitdata').style.display = "";
    }else{
        document.getElementById('limitdata').style.display = "none";
        $('#datalimit').val('');
    }
  });

  // handle filterreport
  $('#wherecol-1').click(function() {
    var periodicsetup = document.getElementById('selectRepeatevery').value;
    if(periodicsetup === 'one'){
      $('#AF1PS_NUMBER').show();
      $('#AF1PS_SUBJECT').show();
      $('#AF1PS_CREATED').show();
      $('#AF1PS_UPDATED').show();
      $('#AF1PS_EFDATE').show();
      $('#AF1PS_EFTIME').show();
      $('#AF1PS_CREATEDBY').show();
      $('#AF1TRANSACTION_ID').show();
      $('#AF1BENEFICIARY_CATEGORY').show();
      $('#AF1TRA_AMOUNT').show();
    }else{
      $('#AF1PS_NUMBER').hide();
      $('#AF1PS_SUBJECT').hide();
      $('#AF1PS_CREATED').hide();
      $('#AF1PS_UPDATED').hide();
      $('#AF1PS_EFDATE').hide();
      $('#AF1PS_EFTIME').hide();
      $('#AF1PS_CREATEDBY').hide();
      $('#AF1TRANSACTION_ID').hide();
      $('#AF1BENEFICIARY_CATEGORY').hide();
      $('#AF1TRA_AMOUNT').hide();
    }

  });
  

});


//-----------------continue sorting-----------------------

function sortBtn(e){

  var value = $(e).attr('data-sort');      

  if (value == 'asc') {
    $(e).html('<img src="/images/icon/light/descending_light.png" height="70%" alt="">');
    value = 'desc';
  }
  else{
    $(e).html('<img src="/images/icon/light/ascending_light.png" height="70%" alt="">');
    value = 'asc';
  }

  $(e).attr('data-sort', value); 

  $(e).siblings('input').val(value);
}

function removeSort(selected){

    $(selected).closest('div').remove();

    var count = $('.addSort').attr('data-count');

    count--;

    $('.addSort').attr('data-count', count);


    if ($('.addSort').attr('data-count') >= 1) {
      $('.addSort').show();
    }
    else{
      $('.cancelSort').hide();
    }
}

function removeSort2(selected){
  $(selected).closest('div').remove();
  $('.addSort').show();
  $('.addSort').attr('data-count', 1);
}

</script>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span>Report</span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Report Generator')?></span>
         <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
        <li>
                 <span class="inhouse"><?=$this->language->_('Edit')?></span>
         
             </li>
         </ul>
     </div>
   </div>
</div>

<h5><?=$this->language->_('Edit Report Generator')?></h5>
<div class="alert alert-danger" id="errorsubmit" style="display:none;"></div>

<br/>

    <form  action="" method="POST" id="myform" name="testForm" class="form-report">

        <div id="step1">
          <div style="padding-left:25px">
            <?php echo $this->formText('report_name',$this->data['REPORT_NAME'],array('onkeyup' => 'change()' , 'class'=>'inputBorderless col-4', 'placeholder' => 'Report File Name', 'style'=>'font-size: 1.25rem;')); ?>
            <div class="invalid-feedback"><?=$this->error_report_name?></div>
          </div>

          <br>
          
          <div class="row justify-content-center">
          <div class="row content-box col-md-11" >
            <div class="col-md-6">
            <h6 style=""><?=$this->language->_('Report Setup')?></h6>
              <table class="reportgen" width="100%">
                  <tr>
                    <td>
                      <?php echo $this->formLabel('reportname',$this->language->_('File Type'),array('class'=>'col-form-label')); ?>
                    </td>
                     <td>
                      <select name="save_as" id="save_as" class="form-control">
                           <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                           <?php 
                              $pdfselected = '';
                              $csvselected = '';
                              if ($this->data['REPORT_FILE'] == 1) {
                                $pdfselected = 'selected';
                              }else{
                                $csvselected = 'selected';
                              } 
                           ?>
                           <option value="1" <?php echo $pdfselected; ?>>PDF</option>
                           <option value="2" <?php echo $csvselected; ?>>CSV</option>
                      </select>
                      <div class="invalid-feedback"><?=$this->error_report_name?></div>
                    </td>
                  </tr>
                  <tr id="limitdata" style="display:none">
                    <td>
                     <?php echo $this->formLabel('reportname',$this->language->_('Limit Data (row)'),array('class'=>'col-form-label')); ?>
                    </td>
                    <td>
                      <?php echo $this->formText('datalimit',$this->data['REPORT_LIMIT'],array('class'=>'form-control','placeholder'=>'max data rows')); ?>
                    </td>
                  </tr>
          <tr> 
                    <td>
                      <?php echo $this->formLabel('reportemail',$this->language->_('Send To'),array('class'=>'col-form-label pb-4')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
                    </td>
                    <td colspan="2">
                      <?php echo $this->formText('report_email',$this->report_email,array('class'=>'form-control','id'=>'report_email','placeholder'=>'input recipient email')); ?>
                      <small class="homeCardText">
                         Separate multiple emails with comma (,)
                      </small>
                      <span class="msg error">Not a valid email address</span>
                      <div class="invalid-feedback"><?=$this->error_report_name?></div>
                    </td>
                  </tr>
              </table>
            </div>
            <div class="col-md-6">
            <h6 style=""><?=$this->language->_('Periodic Setup')?></h6>
              <table class="reportgen" width="100%">
                  <tr>
                    <td width="30%">
                      <?php echo $this->formLabel('reportname',$this->language->_('Periodic Report'),array('class'=>'col-form-label')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
                    </td>
                     <td>
                      <select name="periodic" id="periodic" class="form-control" style="display:none">
                           <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                           <option value="0"><?=$this->language->_('Does not repeat')?></option>
                           <option value="1"><?=$this->language->_('Custom')?></option>
                      </select>
                      <select name="report_schedule" id="selectRepeatevery" class="form-control" style="-webkit-appearance:none" readonly>
                        <option value="one"><?=$this->language->_('1x')?></option>
                        <option value="daily"><?=$this->language->_('Daily')?></option>
                        <option selected value="weekly"><?=$this->language->_('Weekly')?></option>
                        <option value="monthly"><?=$this->language->_('Monthly')?></option>
                      </select>
                      <div class="invalid-feedback"><?=$this->error_periodic?></div>
                    </td>
                    <td class="viewCustomPeriodic" width="20%">
                      <button type="button" class="btngrad hov"><a href="#" data-toggle="modal" data-target="#periodicmodal" style="text-decoration: none; color: black;"><?=$this->language->_('View')?></a></button>
                    </td>
                  </tr>
                  <tr class="onetab">
                   <td >
                      <p class="mb-0"><?=$this->language->_('Periodic Start')?><strong class="formreq"><font color="red">&nbsp;*</font></strong></p>
                   </td>
                   <td colspan="2">
                   <?php
                    $day = date("Y-m-d");
                    if(strtotime($day) > strtotime(date($this->data['REPORT_START']))){
                  ?>
                    <input type="text" class="form-control" id="start_disable" name="start_disable" value="<?=$this->data['REPORT_START'];?>" readonly>
                    <div style="display:none">
                      <input type="hidden" id="repeat_start" name="repeat_start">
                    </div>
                  <?php
                    }else{
                  ?>
                      <input type="text" class='datepicker' id="repeat_start" name='repeat_start' data-date-format='mm/dd/yyyy' autocomplete='off' readonly>
                  <?php
                    }
                  ?>
                   </td>
                 </tr>
         
         <tr class="onetab">
                   <td >
                      <p class="mb-0"><?=$this->language->_('Periodic End')?><strong class="formreq"><font color="red">&nbsp;*</font></strong></p>
                   </td>
                   <td colspan="2">
                      <input type="text" class='datepicker' id="repeat_end" name='repeat_end' data-date-format='mm/dd/yyyy' autocomplete='off' readonly>
                   </td>
                 </tr>

                <tr>
                  <td>
                    <p class="mb-0">Status</p>
                  </td>
                  <td>
                    <span id="statusreport"></span><a id="statustitle"></a>
                  </td>
                </tr>
                 
          
          
              </table>
            </div>
       
            <div class="" style="width:100%; padding-left:25px;">
            <br> 
                <?php echo $this->partial('filterreport.phtml', array(
                    'datetype' => array("PS_CREATED", "PS_EFDATE", "PS_UPDATED"),
                    'selectlist' =>  array("PS_TYPE", 'PS_CCY', 'PS_STATUS', 'SOURCE_ACCOUNT_CCY', 'PS_SUBJECT' , 'SOURCE_ACCOUNT', 'SOURCE_BANK', 'BENEFICIARY_BANK', 'BENEFICIARY_ACCOUNT', 'BENEFICIARY_ACCOUNT_CCY', 'TRA_AMOUNT', 'PS_TOTAL_AMOUNT'),
                    'filterlist' => $this->filterlist,
                    'wherecol' => $this->wherecol,
                    'whereopt' => $this->whereopt,
                    'whereval' => $this->whereval,
                    'createdStart' => $this->createdStart,
                    'createdEnd' => $this->createdEnd,
                    'paymentStart' => $this->paymentStart,
                    'paymentEnd' => $this->paymentEnd,
                    'updatedStart' => $this->updatedStart,
                    'updatedEnd' => $this->updatedEnd,
                    'paymentType' => $this->paymentType,
                    'optPayType' => $this->optPayType,
                    'transtype' => $this->transtype,
                    'modulename' => $this->modulename,
                    'controllername' => $this->controllername,
                    'source'    => 'open', //open = include rek open banking, null = not include open banking
                    'benef'    => 'open', //open = include rek open banking, null = not include open banking
                    'module' => 'display',
                    'controller' => 'viewpayment',
                )); ?>
          </div>
          </div>
    

    <div class="row content-box col-md-11">
      <div class="col-md-8">
        <h6 class="homeCardText"><b><?=$this->language->_('Display')?></b><strong class="formreq"><font color="red">&nbsp;*</font></strong></h6>
        <div> 
          <button type="button" class="btngrad hov"> <a href="#" class="homeCardText" data-toggle="modal" data-target="#headermodal" style="text-decoration: none; color: black;"><?=$this->language->_('Report Column')?> &nbsp; <span><i class="fa fa-chevron-down"></i></span></a></button>
        </div>
            </div>
            <div class="col-md-4">
              <h6 class="homeCardText"><b><?=$this->language->_('Sort')?></b></h6>
              <div>
                <?php $countSort = 0; ?>
                <?php if (!empty($this->data['REPORT_SORT1'])) { ?>
                  
                  <div class="input-group mb-1 sortDiv">
                    <select id="sort1" name="sort1" class="form-control col-md-8 mr-1">

                        <?php foreach ($this->colomn as $key => $value) { ?>
                          <?php 
                            $selected = '';
                            if (strpos($this->data['REPORT_SORT1'], $value['COLM_FIELD']) !== false ) {
                              $selected = 'selected';
                            } 
                          ?>

                          <option value="<?php echo $value['COLM_FIELD'] ?>" <?php echo $selected; ?>><?php echo $value['COLM_NAME'] ?></option>

                        <?php } ?>

                    </select>

                    <?php if (strpos($this->data['REPORT_SORT1'], 'asc') !== false ) { ?>
                         <button type="button" class="squarebutton" onClick="sortBtn(this)" data-sort="asc"> <img src="/images/icon/light/ascending_light.png" height="70%" alt=""></button>
                         <input type="hidden" name="sort1Direction" value="asc">
                    <?php } else{ ?>
                          <button type="button" class="squarebutton" onClick="sortBtn(this)" data-sort="desc"> <img src="/images/icon/light/descending_light.png" height="70%" alt=""></button>
                          <input type="hidden" name="sort1Direction" value="desc">
                    <?php } ?>
                   
                    <button type="button" class="btn btn-sm btn-danger ml-3" onclick="removeSort(this)"><i class="fa fa-times"></i></button>
                  </div>

                <?php $countSort++; } 

                if (!empty($this->data['REPORT_SORT2'])) { ?>
                  
                  <div class="input-group mb-1 sortDiv">
                    <select id="sort2" name="sort2" class="form-control col-md-8 mr-1">
                        
                        <?php foreach ($this->colomn as $key => $value) { ?>
                          <?php 
                            $selected = '';
                            if (strpos($this->data['REPORT_SORT2'], $value['COLM_FIELD']) !== false ) {
                              $selected = 'selected';
                            } 
                          ?>

                          <option value="<?php echo $value['COLM_FIELD'] ?>" <?php echo $selected; ?>><?php echo $value['COLM_NAME'] ?></option>

                        <?php } ?>

                    </select>
                    
                    <?php if (strpos($this->data['REPORT_SORT2'], 'asc') !== false ) { ?>
                         <button type="button" class="squarebutton" onClick="sortBtn(this)" data-sort="asc"> <img src="/images/icon/light/ascending_light.png" height="70%" alt=""></button>
                         <input type="hidden" name="sort2Direction" value="asc">
                    <?php } else{ ?>
                          <button type="button" class="squarebutton" onClick="sortBtn(this)" data-sort="desc"> <img src="/images/icon/light/descending_light.png" height="70%" alt=""></button>
                          <input type="hidden" name="sort2Direction" value="desc">
                    <?php } ?>

                    <button type="button" class="btn btn-sm btn-danger ml-3" onclick="removeSort2(this)"><i class="fa fa-times"></i></button>
                  </div>

                <?php $countSort++; } ?>

                <button type="button" class="btngrad hov addSort" data-count="0"><?=$this->language->_('Add')?>&nbsp;<span><i class="fa fa-plus fa-1x"></i></span></button>
                <button type="button" class="btngrad hov cancelSort"><?=$this->language->_('Cancel')?></button>
              </div>
            </div>
          </div>
      

         

          <br>
          <br>
        </div>
        <div class="row justify-content-center">
          <div class="row col-md-11">
            <h6><b><?=$this->language->_('Preview')?></b></h6>
            <hr>
          </div>
        </div>

            <input type="hidden" name="headerCounter" id="header_counter" value="0"> <!-- initial value 0 -->
            <input type="hidden" name="headerOrder" id="headerOrder"> <!-- untuk simpan order sortable -->

            
            <div class="row justify-content-center">
              <div class="row col-md-11 justify-content-center">
                <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="overflow-x: auto;">

                  <?php foreach($this->colomn as $key => $value) { ?>

                    <?php $dataindex = array_search($value['COLM_FIELD'], array_column($this->colomndata, 'COLUMN_NAME')); ?>

                  <div class="col-3 pr-0 content ui-state-default">
                    <table class="table adapterTable">
                      <tr>
                        <th style="border-top: none;">
                          <div class="input-group">
                            <input class="form-control mb-0" type="text" name="label[]" value="<?php echo $value['COLM_NAME'] ?>" data-index="<?php echo $dataindex; ?>" required />
                            <input type="hidden" name="colomn[]" value="<?php echo $value['COLM_FIELD'] ?>" />
                            <input type="hidden" name="type[]" value="<?php echo $value['COLM_TYPE'] ?>" />
                          </div>
                        </th>
                      </tr>
                      <tr><td class="pl-4 '+className+'"><?php echo $this->colomndata[$dataindex]['COLOMN']; ?></td></tr>
                    </table>
                  </div>

                  <?php } ?>

                </div>
              </div>
            </div>
          
          

          <br>
          <br>
          <br>

          <div class="container">
            <div class="row">
               <div class="col-md-12" align="center" width="100%">
                  <button type="button" class="btnwhite hov" id="cancel" name="cancel" onclick="location.href='/reportcrm2/report'">Cancel</button>

                  
          <input type='submit' id="submitbtn" id="finish" class='btn btn-finish btn-fill  btngreen hov btn-wd' name='finish' value='Submit' />
               </div>
            </div>
          </div>
      
      
      
      
      
      
        </div>

        <!-- step2 -->
        

<!-- ----------------------------------------------------modal----------------------------------------------------------- -->

<div class="modal fade" id="headermodal" tabindex="-1" role="dialog" aria-labelledby="headermodal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center textBlack">
            <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Choose Subject')?></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3 textBlack">
            <div class="row">
              <div class="col-md-6">

                <input type="checkbox" name="chkHeader" value="fx">&nbsp;<?php echo $this->colomndata['fx']['COLOMN']; ?>
                <br>
                  
                <?php 
                  $total = array();
                  foreach($this->colomndata as $key => $value){
                    if (strcasecmp( $value['COLUMN_NAME'], $value['COLOMN'] ) == 0){
                      continue;
                    }
                    $total[] = $value['COLOMN'];  
                  }
                  $colright = count($total);
                  $colleft = count($total)/2;
                ?>

                <?php $i=1; foreach ($this->colomndata as $key => $value) { ?> 
                    
                  <?php 
                    if($key <= $colleft && $key !== 'fx') { 
                      if (strcasecmp( $value['COLUMN_NAME'], $value['COLOMN'] ) == 0){
                        continue;
                      }
                      else if($value['COLOMN'] == ''){
                        continue;
                      }
                      else if($key == 'fx'){
                        continue;
                      }
                  ?>

                      <?php foreach ($this->colomn as $key2 => $value2) { ?>
                          
                          <?php if($value['COLUMN_NAME'] == $value2['COLM_FIELD']) {
                            $checked = 'checked';
                            break;
                          } else {
                            $checked = '';
                          } ?>

                      <?php } ?>

                      <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>" <?php echo $checked; ?>>&nbsp;<?php echo $value['COLOMN']; ?>
                      <br>
                    
                  <?php } ?>

                  <?php $i++; } ?>
              </div>
              <div class="col-md-6">
                  
                 <?php $i=1; foreach ($this->colomndata as $key => $value) { ?> 
                    
                    <?php if($key >= $colleft) { 
                      if (strcasecmp( $value['COLUMN_NAME'], $value['COLOMN'] ) == 0){
                        continue;
                      }
                      else if($value['COLOMN'] == ''){
                        continue;
                      }      
                      else if($value['COLUMN_NAME'] == 'PS_NUMBER'){
                        continue;
                      }
                    ?>

                        <?php foreach ($this->colomn as $key2 => $value2) { ?>
                          
                          <?php if($value['COLUMN_NAME'] == $value2['COLM_FIELD']) {
                            $checked = 'checked';
                            break;
                          } else {
                            $checked = '';
                          } ?>

                        <?php } ?>

                        <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>" <?php echo $checked; ?>>&nbsp;<?php echo $value['COLOMN']; ?>
                        <br>

                    <?php } ?>

                  <?php $i++; } ?>

              </div>
            </div>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
            <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderContent">Save</button>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="periodicmodal" tabindex="-1" role="dialog" aria-labelledby="periodicmodal"
      aria-hidden="true">
      <div class="modal-dialog" role="document" style="width: 350px;">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Custom Periodic')?></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="container">
               <table width="100%">
                 <tr>
                   <!-- <td width="25%"><?=$this->language->_('Repeat every')?></td>
                   <td width="20%" id="repeateverytd">
                      <input type="text" name="repeat_every" id="repeatevery" value="<?php echo $this->data['REPEAT_EVERY'] ?>" class="form-control">
                   </td>
                   <td width="50%" id="repeateveryselect">
                     <select name="report_schedule" id="selectRepeatevery" class="form-control">
                        <?php 
                          $daily = '';
                          $weekly = '';
                          $monthly = '';
                          if ($this->data['REPORT_SCHEDULE'] == 'daily') {
                            $daily = 'selected';
                          }
                          else if ($this->data['REPORT_SCHEDULE'] == 'weekly') {
                            $weekly = 'selected';
                          }
                          else{
                            $monthly = 'selected';
                          }
                        ?>
                       <option value="daily" <?php echo $daily; ?>><?=$this->language->_('Daily')?></option>
                       <option value="weekly" <?php echo $weekly; ?>><?=$this->language->_('Week')?></option>
                       <option value="monthly" <?php echo $monthly; ?>><?=$this->language->_('Month')?></option>
                      </select>
                   </td> -->
                 </tr>
               </table>

               <br>

               <div id="dayDiv">
                   <table width="100%">
                     <tr>
                       <td width="25%"><?=$this->language->_('Time')?></td>
                       <td width="50%">
                         <input id="timepicker2" type="text" name="report_time" class="form-control input-small time pl-3" value="<?php echo $this->data['REPORT_TIME'] ?>" readonly>
                       </td>
                     </tr>
                   </table>
                   <br>
               </div>

               <div id="weekDiv">
                 <p class="mb-1"><?=$this->language->_('Repeat on')?></p>
                 <div class="input-group">

                    <?php 

                      $sunday = '';
                      $monday = '';
                      $tuesday = '';
                      $wednesday = '';
                      $thursday = '';
                      $friday = '';
                      $saturday = '';

                      $days = explode(',',$this->data['REPORT_DAY']);

                      foreach ($days as $value) {
                        if ($value == 'sunday') {
                          $sunday = 'checked';
                        }
                        else if ($value == 'monday') {
                          $monday = 'checked';
                        }
                        else if ($value == 'tuesday') {
                          $tuesday = 'checked';
                        }
                        else if ($value == 'wednesday') {
                          $wednesday = 'checked';
                        }
                        else if ($value == 'thursday') {
                          $thursday = 'checked';
                        }
                        else if ($value == 'friday') {
                          $friday = 'checked';
                        }
                        else if ($value == 'saturday') {
                          $saturday = 'checked';
                        }
                      }

                    ?>

                    <div class="roundChk">
                      <input type="checkbox" id="checkbox6" value="sunday" name="report_day[]" <?php echo $sunday; ?> />
                      <label for="checkbox6">S</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox" value="monday" name="report_day[]" <?php echo $monday; ?> />
                      <label for="checkbox">M</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox1" value="tuesday" name="report_day[]" <?php echo $tuesday; ?> />
                      <label for="checkbox1">T</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox2" value="wednesday" name="report_day[]" <?php echo $wednesday; ?> />
                      <label for="checkbox2">W</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox3" value="thursday" name="report_day[]" <?php echo $thursday; ?> />
                      <label for="checkbox3">T</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox4" value="friday" name="report_day[]" <?php echo $friday; ?> />
                      <label for="checkbox4">F</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox5" value="saturday" name="report_day[]" <?php echo $saturday; ?> />
                      <label for="checkbox5">S</label>
                    </div>
                 </div>

                  <br>
                </div>

                 <div id="monthDiv">

                    <table width="100%">
                     <tr>
                       <td width="25%"><?=$this->language->_('Repeat On')?></td>
                       <td width="50%">
                         <select name="report_date" class="form-control" style="width: 100%">
                           <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                           <?php for ($i=1; $i < 29 ; $i++) {

                              if ($this->data['REPORT_DATE'] == $i) {
                                echo '<option value="'.$i.'" selected>'.$i.'</option>';
                              }
                              else{
                                echo '<option value="'.$i.'">'.$i.'</option>';
                              }

                              $endofmonth = '';
                              if ($this->data['REPORT_DATE'] == 'endofmonth') {
                                $endofmonth = 'selected';
                              }
                           }
                           ?>
                           <option value="endofmonth" <?php echo $endofmonth; ?>><?=$this->language->_('End of Month')?></option>
                              }
                        </select>
                       </td>
                     </tr>
                   </table>

                   <br>
                 </div>
              
               <table width="100%" cellpadding="5">
                 <tr>
                   <td width="25%">
                      <p class="mb-0"><?=$this->language->_('Ends')?></p>
                   </td>
                   <td width="50%">
                      <!-- <input type="text" class='datepicker' name='repeat_end' data-date-format='mm/dd/yyyy' autocomplete='off' value="<?php echo $this->data['REPEAT_END']; ?>" readonly> -->
                   </td>
                 </tr>
               </table>

            </div>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
            <button type="button" class="btngreen hov" data-dismiss="modal" id="savePeriodic">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

<script>
$(document).ready(function(){
$('#saveHeaderContent').trigger('click');
// hide adv filter
$('#sidebar-collapse').hide();
$('#submitbtn').click(function(e) {
   e.preventDefault();

   $("#destination1 option").prop("selected","selected");
   $("#destination2 option").prop("selected","selected");
   $("#destination3 option").prop("selected","selected");

   $('html,body').scrollTop(0);
   var reportName = document.getElementById("report_name").value;
    var saveas = document.getElementById("save_as").value;
    var rmail = document.getElementById("report_email").value;
    var repeatevery = document.getElementById("selectRepeatevery").value;

    advfilter = [];
    for(i=0;i<10;i++){
      cc = $('#colselect-'+i).val();
      if(!cc){
        continue;
      }
      advfilter.push(cc);
    }
    advfilter.push($('#efdateStart').val());
    advfilter.push($('#efdateEnd').val());
    advfilter.push($('#createdStart').val());
    advfilter.push($('#createdEnd').val());
    advfilter.push($('#updateStart').val());
    advfilter.push($('#updateEnd').val());
    console.log(advfilter);

    if(!reportName){
      document.getElementById("errorsubmit").style.display = "flex";
      document.getElementById("errorsubmit").innerHTML = "Report File Name field cannot be empty.";
    }else if(!saveas){
      document.getElementById("errorsubmit").style.display = "flex";
      document.getElementById("errorsubmit").innerHTML = "Report File Format field cannot be empty.";
    }else if(!rmail){
      document.getElementById("errorsubmit").style.display = "flex";
      document.getElementById("errorsubmit").innerHTML = "Email field cannot be empty.";
    }else if(advfilter === undefined || advfilter.length === 0){
      document.getElementById("errorsubmit").style.display = "flex";
      document.getElementById("errorsubmit").innerHTML = "Advance filter field cannot be empty.";
    }else if(repeatevery != 'one'){
      var rstart = document.getElementById("repeat_start").value;
      var rend = document.getElementById("repeat_end").value;
      if(!rstart){
        document.getElementById("errorsubmit").style.display = "flex";
        document.getElementById("errorsubmit").innerHTML = "Periodic Start field cannot be empty.";
      }else if(!rend){
        document.getElementById("errorsubmit").style.display = "flex";
        document.getElementById("errorsubmit").innerHTML = "Periodic End field cannot be empty.";
      }else{
        document.testForm.submit();
      }

    }else{

      document.testForm.submit();

    }
});


});

function removeParent(elem){
var parentname = elem.parentNode.parentNode.parentNode.id;
$("#"+parentname).remove();
}

function edValueKeyPress()
{


}

// function getOpt(elem){
// var id = elem.id;
// var temp = id.split('-');
// var ctr = temp[1];

// var selval = elem.value;
// var tempval = selval.split('-');
// dttype = tempval[1];

// colomnname = tempval[0];
// var colval = "#colvalue-"+ctr;
// var colselect = "colselect-"+ctr;
// var ncolselect = "#colselect-"+ctr;

// $(colval).empty();
// if(colomnname == 'PS_CREATED' || colomnname == 'PS_UPDATED' || colomnname == 'PS_EFDATE' ){
//    $(colval).append("<input class='datepicker' id='createdStart' name='whereval[]' data-date-format='mm/dd/yyyy' autocomplete='off'>");
//    // $('#createdStart').datepicker({
//    //                          format: 'dd/mm/yyyy',
//    //                          uiLibrary: 'bootstrap4'
//    //                               });
//     //    $('.datepicker').datepicker({
//     // format: 'yyyy-mm-dd',
//     // uiLibrary: 'bootstrap4'
//     // });
//    // $('.input-daterange').datepicker({
//    //       changeMonth: true,
//    //       changeYear: true,
//    //       showButtonPanel: true,
//    //       dateFormat: "m/d/yy"
//    //   });
// }else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
//    $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
// }else if(colomnname == 'PS_STATUS'){

//        $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

//        var id = $("#tablename").find(":selected").val();
//        $.ajax({
//        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpsstatus'),null,true)?>",
//        type: 'GET',
//        dataType: "html",
//        data: {
//            id: id
//        },
//        success: function(data) {
//            $(ncolselect).html(data);
//        },
//        error: function(xhr, ajaxOptions, thrownError)
//        {
//            alert("Failed to get where column list, please try again");
//        }
//    });

// }else if(colomnname == 'PS_TYPE'){

//        $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

//        var id = $("#tablename").find(":selected").val();
//        $.ajax({
//        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpstype'),null,true)?>",
//        type: 'GET',
//        dataType: "html",
//        data: {
//            id: id
//        },
//        success: function(data) {
//            $(ncolselect).html(data);
//        },
//        error: function(xhr, ajaxOptions, thrownError)
//        {
//            alert("Failed to get where column list, please try again");
//        }
//    });

// }else if(colomnname == 'SOURCE_ACCOUNT'){

//        $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

//        var id = $("#tablename").find(":selected").val();
//        $.ajax({
//        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wheresourceaccount'),null,true)?>",
//        type: 'GET',
//        dataType: "html",
//        data: {
//            id: id
//        },
//        success: function(data) {
//            $(ncolselect).html(data);
//        },
//        error: function(xhr, ajaxOptions, thrownError)
//        {
//            alert("Failed to get where column list, please try again");
//        }
//    });

// }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
//        $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");
//        var id = $("#tablename").find(":selected").val();
//        $.ajax({
//        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'ccy'),null,true)?>",
//        type: 'GET',
//        dataType: "html",
//        data: {
//            id: id
//        },
//        success: function(data) {
//            $(ncolselect).html(data);
//        },
//        error: function(xhr, ajaxOptions, thrownError)
//        {
//            alert("Failed to get where column list, please try again");
//        }
//    });

// }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

//        $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

//        var id = $("#tablename").find(":selected").val();
//        $.ajax({
//        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
//        type: 'GET',
//        dataType: "html",
//        data: {
//            id: id
//        },
//        success: function(data) {
//            $(ncolselect).html(data);
//        },
//        error: function(xhr, ajaxOptions, thrownError)
//        {
//            alert("Failed to get where column list, please try again");
//        }
//    });

// }else if(colomnname == 'TRA_STATUS'){

//        $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

//        var id = $("#tablename").find(":selected").val();
//        $.ajax({
//        url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'trastatus'),null,true)?>",
//        type: 'GET',
//        dataType: "html",
//        data: {
//            id: id
//        },
//        success: function(data) {s
//            $(ncolselect).html(data);
//        },
//        error: function(xhr, ajaxOptions, thrownError)
//        {
//            alert("Failed to get where column list, please try again");
//        }
//    });

// }else{
//     $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20'  class='form-control' >");
// }


// var optsel = "whereopt-"+ctr;
// document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

// if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
//    document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
//    document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
//    document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
//    document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
// }
// if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
//    document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
// }
// else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
//    document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
//    document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
// }
// else if(dttype == 'date' || dttype == 'datetime'){
//    document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
//    document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
//    document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
//    document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
//    document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
// }

// var colomn = '#whereopt-'+ctr;
// var data = $(colomn).val('EQUAL').change();

// }

// </script>

<script type="text/javascript">
function change(){
           var src= document.getElementById("report_name");
           var dest= document.getElementById("listname");
           dest.value=src.value;
       }
function change1(){
var src= document.getElementById("listname");
var dest= document.getElementById("report_name");
dest.value=src.value;
}

jQuery(document).ready(function($){

$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});

$('.live-search-box').on('keyup', function(){

var searchTerm = $(this).val().toLowerCase();

    $('.live-search-list li').each(function(){

        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }

    });

});

});
</script>