<b>Tools &gt; Scheduler</b><br /><br />
<div class="tabheader" id="tabheader">Scheduler</div>
<form name="filterForm" action="" method="post">
    <div></div>
    <table width="600px" cellpadding="3" cellspacing="0" border="0" class="tableform">
        <tr>
            <th colspan="6" class="tdform-sub"><strong>Parameter</strong></th>
        </tr>

        <tr>
            <td width="100px" class="tbl-evencontent"><?php echo $this->formLabel('module_script','Scheduler'); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent">
                <?php echo $this->formSelect('module_script',$this->module_script,array(),$this->schedulerFiles);?>
            </td>
        </tr>
        <tr>
            <td align="center" class="tbl-evencontent" colspan="6">
                <input type="submit" value="Execute" class="inputbtn" />
            </td>
        </tr>
        
    </table>
    <br />
</form>