<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Set/Edit Monthly Charges per Account Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>

<div class="row">
  <div class="col-md-6">
  <h2><?php echo $this->language->_('Suggested Monthly Charges'); ?></h2>
  <br />
  <table border="1" cellspacing="0" cellpadding="0" class="col-md-12 table table-sm"
  width="100%">
    <?php
       $i = 0;
       //var_dump($this->result4sug);die;
       if($this->result4sug)
       {
       foreach($this->result4sug as $suglist)
       {
        $x = 0;
        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
        $idfrom = 'from'.$suglist['ACCT_NO'].'suggest'.$x;
        $idto = 'to'.$suglist['ACCT_NO'].'suggest'.$x;
        $idamt = 'amount'.$suglist['ACCT_NO'].'suggest'.$x;
        $idccy = 'ccy'.$suglist['ACCT_NO'].'suggest'.$x;
        $acctno = $suglist['ACCT_NO'].'suggest';
        $cekacct = 'cek'.$suglist['ACCT_NO'].'suggest';
        $sugid = 'sug'.$suglist['ACCT_NO'];
        $sug = $this->$sugid;
        //Zend_Debug::dump($this->$idfrom);die;
        ?>
        <tr>
        
        <td class="<?php echo $td_css;?>"><?php echo $this->$idccy; ?></td>
        
        <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->$idamt; ?></td>
        
        </tr>
      <?php $x++;
        for($y=1;$y<=$sug;$y++)
        {
          $idfrom = 'from'.$suglist['ACCT_NO'].'suggest'.$x;
          $idto = 'to'.$suglist['ACCT_NO'].'suggest'.$x;
          $idamt = 'amount'.$suglist['ACCT_NO'].'suggest'.$x;
          $idccy = 'ccy'.$suglist['ACCT_NO'].'suggest'.$x;
        ?>
          <tr>
          <td class="<?php echo $td_css;?>"><?php echo $this->$idccy; ?></td>
          
          <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->$idamt; ?></td>
          </tr>
        <?php 
        $x++;}
       $i++;}
       }?>
    </table>
  </div>
  <div class="col-md-6">
  
  <h2><?php echo $this->language->_('Current Monthly Charges'); ?></h2>
  <br />
  <table border="1" cellspacing="0" cellpadding="0" class="col-md-12 table table-sm"
  width="100%">
    <?php
     $i = 0;
     foreach($this->result4cur as $curlist)
     {
      $x = 0;
      $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
      $idfrom = 'from'.$curlist['ACCT_NO'].'current'.$x;
      $idto = 'to'.$curlist['ACCT_NO'].'current'.$x;
      $idamt = 'amount'.$curlist['ACCT_NO'].'current'.$x;
      $idccy = 'ccy'.$curlist['ACCT_NO'].'current'.$x;
      $acctno = $curlist['ACCT_NO'].'current';
      $cekacct = 'cek'.$curlist['ACCT_NO'].'current';
      $curid = 'cur'.$curlist['ACCT_NO'];
      $cur = $this->$curid;
      //Zend_Debug::dump($this->$idfrom);die;
      ?>
      <tr>
      
      <td class="<?php echo $td_css;?>"><?php echo $this->$idccy; ?></td>
      
      <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->$idamt; ?></td>
      
      </tr>
    <?php $x++;
      for($y=1;$y<=$cur;$y++)
      {
        $idccy = 'ccy'.$curlist['ACCT_NO'].'current'.$x;
        $idfrom = 'from'.$curlist['ACCT_NO'].'current'.$x;
        $idto = 'to'.$curlist['ACCT_NO'].'current'.$x;
        $idamt = 'amount'.$curlist['ACCT_NO'].'current'.$x;
      ?>
        <tr>
        <td class="<?php echo $td_css;?>"><?php echo $this->$idccy; ?></td>
        
        <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->$idamt; ?></td>
        </tr>
      <?php 
      $x++;}
     $i++;}?>
  </table>
  
  </div>

</div>
<br />

<br />
  <br />
  <?php 
    echo $this->action('index',
                      'tools',
                      'changemanagement',
                      array('changes_id' => $this->changes_id));
  ?>