<b><?php echo $this->language->_('Charge'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charge Template Request List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('CompanyCode',$this->language->_('Company Code')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?
					echo '<select name="CompanyCode" id="CompanyCode">
							<option value="">-- '.$this->language->_('Please Select').' --</option>
						</select>';
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Company Name',$this->language->_('Company Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('CompanyName',$this->CompanyName,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('ChargingDate',$this->language->_('Charging Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
										<?php echo $this->language->_('From'); ?>
										<?php 
												echo $this->datePicker("START", $this->START,array('dateFormat' => $this->jqueryDateFormat,
																													'defaultDate' =>'new Date()',
																													'showOn' => 'button',
																													'buttonImage' => '/images/calendar.gif',
																													'buttonImageOnly' => true,
																													'changeMonth' => true,
																													'changeYear' => true)); 
										?>
										<?php echo $this->language->_('To'); ?>
										<?php 
												echo $this->datePicker("TO", $this->TO,array('dateFormat' => $this->jqueryDateFormat,
																													'defaultDate' =>'new Date()',
																													'showOn' => 'button',
																													'buttonImage' => '/images/calendar.gif',
																													'buttonImageOnly' => true,
																													'changeMonth' => true,
																													'changeYear' => true)); 
										?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Account Source',$this->language->_('Account Source')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('AccountSource',$this->AccountSource,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Status',$this->language->_('Status')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?
					echo '<select name="Status" id="Status">
							<option value="">-- '.$this->language->_('Please Select').' --</option>
							<option value="1">'.$this->language->_('Not Charged').'</option> 
							<option value="2">'.$this->language->_('Charged').'</option> 
						</select>';
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Description',$this->language->_('Description')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formText('Description',$this->Description,array('maxlength'=>'20','size'=>'20','onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); ?></td>
		</tr>
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter','Filter',array('class'=>'inputbtn')); ?>
				<?php echo $this->formSubmit('filter','Display All',array('class'=>'inputbtn')); ?>
			</td>
		</tr>
	</table>
	<br />
	<?php
		//if($this->arr)
		//{
	?>
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
				<tr>
					<TD class="tdform-sub">No</TD>
					<?php 
						echo $this->partial('tableheader.phtml',array(
																		'fields' => $this->fields,
																		'sortBy' => $this->sortBy,
																		'sortDir' => $this->sortDir,
																		'query_string_params' => $this->query_string_params
																	)
											);
					?>
				</tr>
			</table>
			<table>
				<tr style="height:30px">
					<td colspan="12" align="CENTER">
						<?php echo $this->formSubmit('csv','Export CSV',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('pdf','Export PDF',array('class'=>'inputbtn')); ?>
						<?php echo $this->formSubmit('print','Print',array('class'=>'inputbtn')); ?>
					</td>
				</tr>
			</table>
	<?php
		//}
	?>
</form>