<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}
.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
}
.padding-header-cust{
  padding-left:2%;
  background-color:#005587;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: blue; color: white; }
.autocomplete-suggestions strong { font-weight: bold; color: orange; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-selected { background: #295687; color: white;}
</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Customer Management')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span><?=$this->language->_('Notional Pooling')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span><?=$this->language->_('Group List')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Interest Account Setting')?></span>
             </li>
             

         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?=$this->language->_('Notional Pooling Interest Account Setting')?></h5>
            </div>
        </div>
				<form action="" method="post" enctype="multipart/form-data">
					<div class="row">
							<div class="col-md-12" style="height: auto; position: relative;">
							<?php echo $this->formHidden('ref',$this->N_NUMBER); ?>
								<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row">
									<div class="col-sm-3">
										<?php echo $this->formLabel('notional_pooling',$this->language->_('Notional Pooling ID#'),array('class'=>'col-form-label',"style"=>'color: #000000 !important;font-size: 1.2em;')); ?>
									</div>
									<div class="col-sm-9 pt-2">
										<label><?= $this->N_NUMBER ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<?php echo $this->formLabel('comp_name',$this->language->_('Company Name'),array('class'=>'col-form-label',"style"=>'color: #000000 !important;font-size: 1.2em;')); ?>
									</div>
									<div class="col-sm-9 pt-2">
										<label><strong><?= $this->compinfo['CUST_NAME'] ?></strong></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<?php echo $this->formLabel('cif',$this->language->_('CIF'),array('class'=>'col-form-label',"style"=>'color: #000000 !important;font-size: 1.2em;')); ?>
									</div>
									<div class="col-sm-9 pt-2">
										<label><?= $this->N_CIF ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<?php echo $this->formLabel('underlying_doc',$this->language->_('Underlying Document'),array('class'=>'col-form-label',"style"=>'color: #000000 !important;font-size: 1.2em;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
									</div>
									<div class="col-sm-9">
										<div class="row">
											<div class="col-sm-4">
												<label><input type="radio" name="underlying_doc" value="1" checked="checked">&nbsp;Use Existing <span id="reff">- DocReff#</span></label>
											</div>
											
											<div class="existdoc col-sm-7">
												<?php
												echo $this->formText('exisdoc_underlying', $this->exisdoc_underlying, array('class' => 'form-control', 'maxlength' => '16', 'onkeypress' => 'return forceNumber(event)','readonly'=>'readonly', 'autocomplete' => 'off', $templatePriv => $templatePriv));
												echo $this->formHidden('doc_id', $this->doc_id, array('class' => 'form-control'));
												?>
											</div>
											<div class="existdoc col-sm-1" style="padding:0px;">	
													<a href="#" id="linkshow2" style="font-size:20px;" onclick="showpopUp()"><i class="fas fa-folder-open"></i></a>
											</div>
											
										</div>
										<div class="row">
											<div class="col-sm-4">
												<label><input type="radio" name="underlying_doc" value="2">&nbsp;New Document</label>
											</div>
											<div style="display:none" class="newdoc col-sm-8">
												<div class="file-upload">
													<div class="file-select">
														<div class="file-select-button" id="fileName2">Choose File</div>
														<div class="file-select-name textBlack" id="noFile2"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
														<input type="file" name="uploadSource" id="chooseFile2">
													</div>
												</div>
											</div>
										</div>
										<div class="newdoc row pt-2" style="display:none">
											<div class="col-sm-4">
												<label for="">Document Description</label>
											</div>
											<div class="col-sm-8">
												<?php echo $this->formText('doc_desc',$this->doc_desc,array('id'=>'doc_desc','class'=>'form-control','style'=>'font-size:1.2em;'))?>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
							<table class="table table-sm table-striped headerNew" id="myTable">
									
									<tr height="50px">
											<th class="tablehead fth-header" width="3%" valign="top">No</th>
											<th class="tablehead fth-header" valign="top" width="">Account Number<span style="white-space:nowrap"></span>
											</th>
											<th class="tablehead fth-header" valign="top" width="">Account Name<span style="white-space:nowrap"></span>
											</th>
											<th class="tablehead fth-header" valign="top" width="">CIF<span style="white-space:nowrap"></span></th>
											<th class="tablehead fth-header" valign="top" width="">Product Name<span style="white-space:nowrap"></span></th>
											<th class="tablehead fth-header"  >Saving Interest Account</th> 
											<th class="tablehead fth-header"  >Credit Interest Account</th> 
									</tr>
									<?php if(!empty($this->dataacct)){
											foreach($this->dataacct as $key => $val){
												?>
												<tr>
												<td><?php echo $key+1; ?></td>
												<td><?php echo $val['N_SOURCE_ACCOUNT'].' (IDR)'; ?></td>
												<td><?php echo $val['CUST_NAME']; ?></td>
												<td><?php echo $val['CUST_CIF']; ?></td>
												<td><?php echo $val['ACCT_DESC']; ?></td>
												<?php if($val['N_IS_SAVING'] == '1'){
													$checked = 'checked';
												}else{
													$checked = '';
												} ?>
												<td><input type="checkbox" class="checkbox" name="<?php echo $val['N_SOURCE_ACCOUNT'].'saving'; ?>" <?php echo $checked; ?> value="1"></td>
												<?php if($val['N_IS_CREDIT'] == '1'){
													$checked = 'checked';
												}else{
													$checked = '';
												} ?>
												<td><input type="checkbox" class="checkbox2" name="<?php echo $val['N_SOURCE_ACCOUNT'].'credit'; ?>" <?php echo $checked; ?> value="1"></td>
												</tr>
												<?php
											}
										}
									?>	
									
									
							</table>
						</div>
					</div>
				</div>
        
				<div class="row">
					<div class="col-md-12" align="center">
						<input class="btnwhite hov" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/nationalpoolinggroup/'" type="button">
						<input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov" >
					</div>
				</div>
				</form>
		</div>
</div>

<script>
	
	$(document).ready(function(){
	
	$('#chooseFile2').bind('change', function () {
		var filename = $("#chooseFile2").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFile2").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFile2").text(filename.replace("C:\\fakepath\\", ""));
		}
	});
	
	});

	$("input[name=underlying_doc]").click(function(){
    var v = $('input[name="underlying_doc"]:checked').val();
    if(v == '1'){
			$('.existdoc').show()
			$('#reff').show()
			$('.newdoc').hide()
		}else{
			$('.existdoc').hide()  
			$('#reff').hide()  
			$('.newdoc').show()  
		}
	});

	$('.checkbox').click(function(){
    $('.checkbox').each(function(){
        $(this).prop('checked', false); 
    }); 
    $(this).prop('checked', true);
	});
	$('.checkbox2').click(function(){
    $('.checkbox2').each(function(){
        $(this).prop('checked', false); 
    }); 
    $(this).prop('checked', true);
	});

function showpopUp(){

var custid = "<?= $this->N_CUST_ID ?>";
showPopUpWindow('/popup/documentunderlying/index/moduleid/1/custid/'+custid+'/',600,450)
}
</script>