<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-logincontent">
												<p></p><h2><font color="red">Virtual Payment Over Limit</font></h2><p></p>
												<p>&nbsp;</p>
												<p><font color="red"><h3>Your Virtual Payment has been exceeded limit by Administrator / System.<br> Please try again tomorrow</h3></font></p>
												<p>&nbsp;</p>
												<p></p><div><input  class ="inputbtn" value="Back" onclick="location.href = '/home' " type="button"></div><p></p>
											
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>