<?php 
$optionlist = $this->optionlist;
?>
<b><?php echo $this->language->_('E-Commerce Payment');?> &gt; <?php echo $this->language->_('E-Commerce List');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('E-Commerce List');?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
		<tr><th colspan="9" class="tdform-sub"><strong><?php echo $this->language->_('Filter');?></strong></th></tr>
		<tr>
      		<td class="tbl-evencontent"><?php echo $this->formLabel('billerCode',$this->language->_('E-Commerce Code')); ?></td>
 			<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent" colspan="4"><select name="billerCode">
							<option value="">--- <?php echo $this->language->_('Any Value');?> ---</option>
							<?php foreach($this->var as $list){?>
							<option value="<?php echo $list['PROVIDER_CODE'];?>" <?=($list['PROVIDER_CODE']==$this->billerCode) ? 'selected' : ''?>><?php echo $list['PROVIDER_CODE'];?></option><?php }?>
						</select>
	  		</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('billerName',$this->language->_('E-Commerce Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('billerName',$this->billerName,array('size'=>'30')); ?></td>
		</tr>
		
		<!--
		<tr>
      		<td class="tbl-evencontent"><?php echo $this->formLabel('serviceCategory',$this->language->_('Service Category')); ?></td>
 			<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent" colspan="4">
	  					<select name="serviceCategory">
							<option value="">--- <?php echo $this->language->_('Any Value');?> ---</option>
							<?php foreach($this->serviceTypeArr as $data){?>
							<option value="<?php echo $data['SERVICE_ID'];?>" <?=($data['SERVICE_ID']==$this->serviceCategory) ? 'selected' : ''?>><?php echo $this->language->_($data['SERVICE_NAME']);?></option><?php }?>
						</select>
	  		</td>
		</tr>		
		-->
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('billerStatus',$this->language->_('E-Commerce Status')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php	echo $this->formSelect('billerStatus',$this->billerStatus,null,$this->options);?></td>
		</tr>
		<tr>
		   <td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestion',$this->language->_('Latest Suggestion'))?></td>
		   <td class="tbl-evencontent">:</td>
		   <td class="tbl-evencontent" nowrap="nowrap">
		   <?php echo $this->language->_('From');?>&nbsp;&nbsp;<?php echo $this->datePicker("fDateFrom",$this->fDateFrom,array('dateFormat' => $this->jqueryDateFormat,
																				  'defaultDate'=>'new Date()',
																				  'showOn' => 'button',
																				  'buttonImage' => '/images/calendar.gif',
																				  'buttonImageOnly' => true,
																				  'changeMonth' => true,
																				  'changeYear' => true,
																				  'clearAnotherField' => true,
																				  'anotherField' => 'fDateTo',
		       																	  'minDateID'    => 'fDateTo',
																				  )); ?>
			&nbsp;&nbsp;<?php echo $this->language->_('To');?>&nbsp;&nbsp;<?php echo $this->datePicker("fDateTo",$this->fDateTo,array('dateFormat' => $this->jqueryDateFormat,
																				'defaultDate'=>'new Date()',
																				'showOn' => 'button',
																				'buttonImage' => '/images/calendar.gif',
																				'buttonImageOnly' => true,
																				'changeMonth' => true,
																				'changeYear' => true,
																				'clearAnotherField' => true,
																				'anotherField' => 'fDateFrom',
		   																		'maxDateID' => 'fDateFrom',
																				)); ?>              
			</td>
			<td class="tbl-evencontent"><?php echo $this->formLabel('suggestor',$this->language->_('Latest Suggester'))?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" nowrap="nowrap">
				<?php echo $this->formText('suggestor',$this->suggestor,null); ?>
			</td> 
	   </tr>
	   <tr>
		   <td class="tbl-evencontent"><?php echo $this->formLabel('latestApproval',$this->language->_('Latest Approval'))?></td>
		   <td class="tbl-evencontent">:</td>
		   <td class="tbl-evencontent" nowrap="nowrap">
		  <?php echo $this->language->_('From');?>&nbsp;&nbsp;<?php echo $this->datePicker("ufDateFrom",$this->ufDateFrom,array('dateFormat' => $this->jqueryDateFormat,
																				  'defaultDate'=>'new Date()',
																				  'showOn' => 'button',
																				  'buttonImage' => '/images/calendar.gif',
																				  'buttonImageOnly' => true,
																				  'changeMonth' => true,
																				  'changeYear' => true,
																				  'clearAnotherField' => true,
																				  'anotherField' => 'ufDateTo',
		   																		  'minDateID'    => 'ufDateTo',
																				  )); ?>
		   &nbsp;&nbsp;<?php echo $this->language->_('To');?>&nbsp;&nbsp;<?php echo $this->datePicker("ufDateTo",$this->ufDateTo,array('dateFormat' => $this->jqueryDateFormat,
																				'defaultDate'=>'new Date()',
																				'showOn' => 'button',
																				'buttonImage' => '/images/calendar.gif',
																				'buttonImageOnly' => true,
																				'changeMonth' => true,
																				'changeYear' => true,
																				'clearAnotherField' => true,
																				'anotherField' => 'ufDateFrom',
		   																		'maxDateID' => 'ufDateFrom',
																				)); ?>                    
		  </td>
		
		  <td class="tbl-evencontent"><?php echo $this->formLabel('latestApprover',$this->language->_('Latest Approver'))?></td>
		  <td class="tbl-evencontent">:</td>
		  <td class="tbl-evencontent" nowrap="nowrap">
			 <?php echo $this->formText('approver',$this->approver,null); ?>
		  </td> 
	   </tr>
		<tr><td align="left" colspan="6">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
    </td></tr>
	</table>
</form>
<br />
<br />
<div>
<span align="left" style="display: inline-block;">
<input type="button" class="inputbtn" onClick="javascript:window.location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>'new'),null,true)?>' " value="Merchant Onboarding">
</span>
<span align="right" style="float:right;display: inline-block;">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
<!--		<input class="inputbtn" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button">-->
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
			echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'inputbtn','disabled'=>'disabled'));
		}
		else{
		?>
			<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;
		<?php 	
		}
		?>
	</form>
</span>
</div>
<br /><br /><br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
      <th width="3%" valign="top">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
    <th width="3%" valign="top"><?php echo $this->language->_('Action');?></th></tr>
    <?php
    $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_CODE'].'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_NAME'].'</td>
					<td class="'.$td_css.'">'.$this->language->_($row['PROVIDER_DOMAIN']).'</td>
					<td class="'.$td_css.'">'.$this->language->_($row['PROVIDER_KEY_ID']).'</td>
					<td class="'.$td_css.'">'.$this->language->_($row['PROVIDER_STATUS']).'</td>
					<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['PROVIDER_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
		    		<td class="'.$td_css.'">'.$row['PROVIDER_SUGGESTEDBY'].'</td>
					<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['PROVIDER_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
		    		<td class="'.$td_css.'">'.$row['PROVIDER_UPDATEDBY'].'</td>';?>
				  <td class="<?=$td_css?>"><a href="javascript:void(0)" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'detail','action'=>'index','providerid'=>$row['PROVIDER_ID']),null,true);?>'"><?php echo $this->language->_('Detail');?></a></td>
				<?php echo '</tr>';
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
        }?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>