<script>
	$(document).ready(function()
	{

		// if( '<?=$this->success?>' || '<?=$this->error?>' )
		// {
		// 	$("input").attr("disabled","disabled");
		// 	$("textarea").attr("disabled","disabled");
		// }
	});
</script>

<script type="text/javascript">
    function localtransfer()
    {
       var d1 = document.getElementById("localtransfer");
			 var d2 = document.getElementById("monthlyfee");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";

       }
       else
       {
       }
    }
		function monthlyfee()
    {
       var d1 = document.getElementById("monthlyfee");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
		function valastransfer()
    {
       var d1 = document.getElementById("valastransfer");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("monthlyfee");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }

function numberWithCommas(x,id) {
   const formattermoney = new Intl.NumberFormat('ID', {
      minimumFractionDigits: 0
    });
    var tag = '#'+id;
      // $(nams).text(formattermoney.format(obj[k].BALANCE));
    var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     $(tag).val(x);
  //return 
}

function resetdata(){
			var valtemp = $('#temp_realtime_charges_ihhouse').val();
			$('#realtime_charges_ihhouse').val(valtemp);
			var valtemp = $('#temp_charges1').val();
			$('#charges1').val(valtemp);
			var valtemp = $('#temp_charges2').val();
			$('#charges2').val(valtemp);
			var valtemp = $('#temp_charges8').val();
			$('#charges8').val(valtemp);
			
			
	}
	
</script>



<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Global Charges Setting')?></h5>
		<h6><?=$this->language->_('Realtime Local Transfer Charges')?></h6>
	</div>
</div>
<br>
<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">


	<div class="row">
		<div align="center" class="col-md-12">
				<strong>Realtime Local Transfer Charges</strong>
		</div>
	</div>
	<br>
	<div class="row">
			<div class="col-md-12">
					<table width="50%" align="center" class="table-sm">
							<tr>
								<th width="45%">Inhouse IDR</th>
								<td>
									<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="realtime_charges_ihhouse" id="realtime_charges_ihhouse" value="<?php echo Application_Helper_General::displayMoneyplain($this->pbglobal); ?>" class="form-control col-md-12">
									<?php echo $this->formHidden('temp_realtime_charges_ihhouse', Application_Helper_General::displayMoneyplain($this->pbglobal)); ?>
 
								</td>
							</tr>

							<?php foreach ($this->domglobal as $valm) { ?>
				                <tr>
				                  <th width="45%"><?php echo $this->pstype[$valm['CHARGES_TYPE']]; ?></th>
				                  <td>
				                  	<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="charges<?php echo $valm['CHARGES_TYPE']; ?>" id="charges<?php echo $valm['CHARGES_TYPE']; ?>" value="<?php echo Application_Helper_General::displayMoneyplain($valm['CHARGES_AMT']); ?>" class="form-control col-md-12">
									<?php echo $this->formHidden('temp_charges'.$valm["CHARGES_TYPE"], Application_Helper_General::displayMoneyplain($valm['CHARGES_AMT'])); ?>
				                  	
				                </tr> 
							<?php } ?>
							
					</table>
					<br><br>
					<div align="center">
							<button onClick="window.location.href='<?php echo $this->url(array('module'=>'charges','controller'=>'chargesglobal','action'=>'index'),null,true);?>'"  type="button" class="btnwhite hov" name="button">Back</button>
							<button onclick="resetdata();" type="button" class="btnwhite hov" name="button">Reset</button>
							<button type="submit" class="btngreen hov" name="button" disabled="<?php echo $this->changestatuspb; ?>" >Submit</button>
							<div class="errmsg"><?php echo $this->errorpb ?></div>
					</div>
			</div>
	</div>



</form>