<?php
$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?= $this->menuTitle ?></b><br /><br />
<div class="tabheader" id="tabheader">
<?php echo $this->language->_('Backend User List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="get">
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
<tr>
	<th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
</tr>
<tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('userid',$this->language->_('User ID')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="4"><?php echo $this->formText('userId',$this->userId,array('id'=>'userId','class'=>'currency'))?></td>
</tr>
<tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('group',$this->language->_('Group')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="4">  <select name ="groupId" id="groupId" onchange=showMemberId()>
											<option value="">-- Please Select --</option>
										<?php

											foreach($this->arrgroup as $data)
											{
												echo"<option value='".$data['BGROUP_ID']."'";
												if($data['BGROUP_ID']==$this->groupId)echo ' selected';
												echo">".$data['BGROUP_DESC']."</option>";
											}
										?>
										</select>
										</td>
</tr>
<tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('FromDate','Last Login')?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" nowrap="nowrap">
	<?php echo $this->datePicker("fDateFrom", $this->fDateFrom, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true));?>
    </td>
	<td class="tbl-evencontent"><?php echo $this->formLabel('ToDate','To')?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" nowrap="nowrap">
	<?php echo $this->datePicker("fDateTo", $this->fDateTo, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true));?>
    </td>
</tr>

	<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('status','Status'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<select name="status">
					<option value="">-- Please Select --</option>
					<option value=0 <? if($this->status == "1") echo "selected"; ?>>Approved</option>
					<option value=1 <? if($this->status == "2") echo "selected"; ?>>Suspended</option>
					<option value=2 <? if($this->status == "3") echo "selected"; ?>>Deleted</option></select>

			</td>
		</tr>

<tr>
    <td colspan="6" align="left">
	<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn'))?>
	<?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn'))?>
    </td>
</tr>
</table>
<table width="100%">
<tr>
<td align="left" height="30">
	<input type="button" onclick="location.href='/addbackenduser'" value="Add Backend User" class="inputbtn">
	<?

		//$detail = '<a class="inputbtn" href="'.$this->url(array('module'=>'addbackenduser','controller' => '','action'=>'index'),null,true).'" class="inputbtn">Add Backend User</a>';

		//echo $detail;
	?>
</td>
<td align="right">
<!-- <div align="right">
		<input type="submit" name="pdf" class="inputbtn" value="PDF">&nbsp;&nbsp;
		<input type="submit" name="csv" class="inputbtn" value="CSV">&nbsp;&nbsp;
		<input class="inputbtn" value="Print" onclick="window.print();" type="button">
		<br />
  </div>-->
</td></tr></table>
</form>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>
<?php if($this->filter != ''){?>
<br />
<div align="right"><?= $this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>
    </tr>
    <?php
    if(count($this->paginator) > 0){
        $i  = 0;
        $no = 1;

	  foreach($this->paginator as $row) {
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$detail = '<a href="'.$this->url(array('module'=>'userlist','controller' => 'view','action'=>'index','user_id'=>$row['BUSER_ID']),null,true).'">Detail</a>';
		if($row['BUSER_STATUS'] = 1)
				$status_acc = "Approved";
				else if ($row['BUSER_STATUS'] = 2)
				$status_acc = "Suspended";
				else if ($row['BUSER_STATUS'] = 3)
				$status_acc = "Deleted";

		if($row['BUSER_ISLOCKED'] = 0)
				$islocked = "Yes";
				else if ($row['BUSER_ISLOCKED'] = 1)
				$islocked = "No";

    	$row_content = '<tr>
              				<td class="'.$td_css.'">'.$counter.'</td>
							<td class="'.$td_css.'">'.$row['BUSER_ID'].'</td>
							<td class="'.$td_css.'">'.$status_acc.'</td>
							<td class="'.$td_css.'">'.$row['BUSER_NAME'].'</td>
							<td class="'.$td_css.'">'.$row['BGROUP_DESC'].'</td>
							<td class="'.$td_css.'">'.$islocked.'</td>
							<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['BUSER_LASTLOGIN'],'d/MM/yyyy HH:mm:ss','yyyy-MM-dd HH:mm:ss').'</td>
							<td class="'.$td_css.'">&nbsp;-</td>
							<td class="'.$td_css.'">&nbsp;-</td>
							<td class="'.$td_css.'">&nbsp;-</td>
							<td class="'.$td_css.'">&nbsp;-</td>
							<td class="'.$td_css.'">'.$detail.'</td>
						</tr>
						';
		echo $row_content;
		$i++;
		$counter++;
  	  }
  }
  else {
		echo '<tr><td colspan="9" class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
	}
    ?>
</table>
<br />

<?php
if(count($this->paginator) > 0)
{		?>


	<?php
}
?>

    <?php }?>
