<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Virtual Account'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?php echo $this->language->_('BIN List'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <br />

    <div class="form-group">
      <div style="float:left">
        <h5><?= $this->language->_('Company BIN List') ?></h5>
        <h7><?= $this->language->_("Company's registered Bank Identification Number") ?></h7>
      </div>
      <br>
      <div style="float:right; padding-left:5px;">
        <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
          <div class="input-group input-group-sm">

            <div class="input-group-prepend">
              <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="search form-control" placeholder="Search">
          </div>
        </form>
      </div>
    </div>
    <br>
    <br />
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <?php echo $this->partial(
              'tableheader.phtml',
              array(
                'fields' => $this->fields,
                'sortBy' => $this->sortBy,
                'sortDir' => $this->sortDir,
                'query_string_params' => $this->query_string_params
              )
            ) ?>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>