<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Lampiran Dokumen Penutupan') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-12">
                    <table style="width: 100%;" class="mt-2">
                        <thead>
                            <th class="font-italic font-weight-normal textGray px-2 py-2" style="font-size: 1.2em;"><?= $this->language->_('Nama Dokumen'); ?></th>
                            <th class="font-italic font-weight-normal textGray px-2 py-2" style="font-size: 1.2em;"><?= $this->language->_('Nama File'); ?></th>
                            <th class="font-italic font-weight-normal textGray px-2 py-2" style="font-size: 1.2em;"><?= $this->language->_('Tindakan'); ?></th>
                        </thead>
                        <tbody>
                            <?php if ($this->tempBgCloseFile['surat_pernyataan_klaim_obligee']) : ?>
                                <!-- ["surat pernyataan klaim obligee"] -->
                                <tr style="background-color: #EFEFEF;">
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->language->_('Surat Pernytaan Klaim Obligee'); ?></td>
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->tempBgCloseFile['surat_pernyataan_klaim_obligee']; ?></td>
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2 hidden container-file">
                                        <div class="px-2 py-1 position-relative rounded" style="background-color: white; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%); border: 1px solid #ced4da;">
                                            <input type="file" name="surat_permohonan_penutupan" class="form-control-file lampiran-dokumen-penutupan" size="100" style="font-size: 16px;" accept=".jpg, .jpeg, .png, .pdf" data-active="0">
                                        </div>
                                    </td>
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2">
                                        <div class="d-flex btn-atas" style="gap: 10px;">
                                            <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="javascript:window.open(`/<?= $this->modulename; ?>/<?= $this->controllername; ?>/downloadlampiran/bgnumb/${location.href.split('/').pop()}/jenis/surat_pernyataan_klaim_obligee`)"><i class="fa fa-download"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            <?php endif ?>

                            <?php if ($this->tempBgCloseFile['surat_pengantar_klaim_obligee']) : ?>
                                <!-- ["surat pengantar dokumen klaim"] -->
                                <tr style="background-color: #EFEFEF;">
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->language->_('Surat Pengantar Dokumen Klaim'); ?></td>
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->tempBgCloseFile['surat_pengantar_klaim_obligee']; ?></td>
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2 hidden container-file">
                                        <div class="px-2 py-1 position-relative rounded" style="background-color: white; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%); border: 1px solid #ced4da;">
                                            <input type="file" name="surat_pernyataan_pekerjaan_selesai" class="form-control-file lampiran-dokumen-penutupan" size="100" style="font-size: 16px;" accept=".jpg, .jpeg, .png, .pdf" data-active="0">
                                        </div>
                                    </td>
                                    <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2">
                                        <div class="d-flex btn-atas" style="gap: 10px;">
                                            <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="javascript:window.open(`/<?= $this->modulename; ?>/<?= $this->controllername; ?>/downloadlampiran/bgnumb/${location.href.split('/').pop()}/jenis/surat_pengantar_klaim_obligee`)"><i class="fa fa-download"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            <?php endif ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>