<!-- HISTORY BG MODAL -->
<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
                </center>
            </div>
            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <table class="table-bordered" cellpadding="3" style="width:100%">
                            <tr style="background-color:#ccc">
                                <td><b><i><?= $this->language->_('User'); ?></i></b></td>
                                <td><b><i><?= $this->language->_('Action'); ?></i></b></td>
                                <td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
                                <td><b><i><?= $this->language->_('Note'); ?></i></b></td>
                            </tr>
                            <?php foreach ($this->getAllHistoryClose as $row) : ?>
                                <tr style="background-color:#eee">
                                    <td><?= $row['USER_LOGIN']; ?></td>
                                    <td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
                                    <td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
                                    <td><?= $row['BG_REASON'] ?: '-'; ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <center style="width:100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>
</div>

<!-- VERIFIKASI ULANG MODAL -->
<div class="modal fade" id="verifikasiUlang" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><?= $this->language->_('Permintaan Verifikasi Ulang'); ?></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-3">
                        <label><?= $this->language->_('Jenis Permintaan'); ?></label>
                    </div>
                    <div class="col-9">
                        <label class="font-weight-bold"><?= $this->language->_('Permintaan Verifikasi Ulang'); ?></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label><?= $this->language->_('Catatan'); ?> <span class="text-danger font-weight-bold">*</span></label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <textarea class="form-control" id="verifulangreason" rows="5" style="font-size: 16px;"></textarea>
                            <input type="text" class="form-control mt-1" id="reasonverifcounter" value="100" style="width: 50px;" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                <form method="POST" id="verifulangform">
                    <input type="hidden" name="reverikasi" value="1">
                    <button type="submit" class="btngreen hov"><?= $this->language->_('Kirim'); ?></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- PERBAIKAN MODAL -->
<div class="modal fade" id="permintaanPerbaikan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><?= $this->language->_('Permintaan Perbaikan'); ?></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-3">
                        <label><?= $this->language->_('Jenis Permintaan'); ?></label>
                    </div>
                    <div class="col-9">
                        <label class="font-weight-bold"><?= $this->language->_('Perbaikan Pengajuan ' . $this->arrbgclosingType[$this->bgdata['CHANGE_TYPE_CLOSE']]); ?></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label><?= $this->language->_('Catatan'); ?> <span class="text-danger font-weight-bold">*</span></label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <textarea class="form-control" id="perbaikanreason" rows="5" style="font-size: 16px;"></textarea>
                            <input type="text" class="form-control mt-1" id="perbaikancounter" value="100" style="width: 50px;" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                <form method="POST" id="perbaikanform">
                    <input type="hidden" name="perbaikan" value="1">
                    <button type="submit" class="btngreen hov"><?= $this->language->_('Kirim'); ?></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- PENOLAKAN MODAL -->
<div class="modal fade" id="penolakan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><?= $this->language->_('Penolakan Usulan'); ?></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <label><?= $this->language->_('Catatan'); ?> <span class="text-danger font-weight-bold">*</span></label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <textarea class="form-control" id="penolakanreason" rows="5" style="font-size: 16px;"></textarea>
                            <input type="text" class="form-control mt-1" id="penolakancounter" value="100" style="width: 50px;" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                <form method="POST" id="penolakanform">
                    <input type="hidden" name="penolakan" value="1">
                    <button type="submit" class="btngreen hov"><?= $this->language->_('Kirim'); ?></button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // VERIFIKASI ULANG
        document.querySelector('#verifulangform').addEventListener('submit', (event) => {
            event.preventDefault();

            const getReason = document.querySelector('#verifulangreason').value;

            if (getReason == '') {
                alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
                return false;
            }

            const reason = document.createElement("input");
            reason.setAttribute("type", "hidden");
            reason.setAttribute("name", "reason");
            reason.setAttribute("value", getReason)

            event.target.appendChild(reason);

            document.forms.verifulangform.submit();
        });

        // PERBAIKAN
        document.querySelector('#perbaikanform').addEventListener('submit', (event) => {
            event.preventDefault();

            const getReason = document.querySelector('#perbaikanreason').value;

            if (getReason == '') {
                alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
                return false;
            }

            const reason = document.createElement("input");
            reason.setAttribute("type", "hidden");
            reason.setAttribute("name", "reason");
            reason.setAttribute("value", getReason)

            event.target.appendChild(reason);

            document.forms.perbaikanform.submit();
        });

        // PENOLAKAN
        document.querySelector('#penolakanform').addEventListener('submit', (event) => {
            event.preventDefault();

            const getReason = document.querySelector('#penolakanreason').value;

            if (getReason == '') {
                alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
                return false;
            }

            const reason = document.createElement("input");
            reason.setAttribute("type", "hidden");
            reason.setAttribute("name", "reason");
            reason.setAttribute("value", getReason)

            event.target.appendChild(reason);

            document.forms.penolakanform.submit();
        });

        // BATASI JUMLAH INPUTAN MAKSIMAL 100
        document.querySelector('#verifulangreason').onkeyup = wordLimit;
        document.querySelector('#perbaikanreason').onkeyup = wordLimit;
        document.querySelector('#penolakanreason').onkeyup = wordLimit;
    });

    function wordLimit(event) {
        const totalChar = event.target.value.length;
        const reason = event.target.value;

        document.querySelector(`#${event.target.nextElementSibling.id}`).value = (100 - totalChar) <= 0 ? 0 : 100 - totalChar;

        return event.target.value = reason.substr(0, 100);
    }
</script>