<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Administrator'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Admin User List'); ?>
				</li>
				<li>
					<?php echo $this->language->_('Add Admin User'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Add Admin User ') ?></h5>
		<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			<?php if ($this->error) { ?>
				<div class="errmsg">
					<?php
					echo $this->errorMsg;
					?>
				</div><br />
			<?php } else if ($this->success) { ?>
				<div class="successmsg"><?php echo $this->successMsg; ?></div>
			<?php } ?>
			<br />
			<table class="table-sm table-responsive" cellpadding="0" cellspacing="0" width="700" style="display: inline-table;">
				<tbody>
					<tr>
						<th colspan="3" class="tdform-sub"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></th>
					</tr>
					<tr style="width: 20%;">
						<td class="tbl-evencontent"><?php echo $this->formLabel('User ID (used for login)*', $this->language->_('User Id (used for login)')); ?><span class="errmsg">*</span></td>
						<td class="tbl-evencontent">
							<?php echo $this->formText('userId', $this->userId, array('class' => 'form-control col-md-8', 'maxlength' => $this->maxBuserID, 'size' => '20', 'onfocus' => 'AlnumOnly(this.value,this.id)', 'onKeyUp' => '')); ?>
							<div class="errmsg"><?= $this->xuserId; ?></div>
						</td>

					</tr>
					<tr style="display:none">
						<td class="tbl-evencontent">&nbsp;</td>
						<td class="tbl-evencontent"><?php echo $this->language->_('User ID format requirements'); ?> :<br>
							&bull; <?php echo $this->language->_('has to be at least'); ?> <?php echo $this->minBuserID; ?> <?php echo $this->language->_('characters long and max'); ?> <?php echo $this->maxBuserID; ?> <?php echo $this->language->_('long'); ?><br>
							&bull; <?php echo $this->language->_('may only contain uppercase alphanumeric characters'); ?> (<?php echo $this->language->_('no whitespaces and special characters allowed'); ?> )<br>
							&bull; <?php echo $this->language->_('has to be a combination of letters and numbers (contains at least 1 letter and 1 number)'); ?></td>
					</tr>

					<tr style="display:none">
						<td class="tbl-evencontent"><?php echo $this->language->_('User Name'); ?><span class="errmsg">*</span></td>
						<td class="tbl-evencontent">
							<?php echo $this->formText('name', $this->name, array('class' => 'form-control col-md-8', 'maxlength' => '128', 'size' => '20')); ?>
							<div class="errmsg"><?= $this->xname; ?></div>
						</td>
					</tr>

					<tr>
						<td class="tbl-evencontent">Email<span class="errmsg">*</span></td>
						<td class="tbl-evencontent">
							<div class="input-group mb-2 col-md-8 pl-0 pr-0">
								<input type="text" class="form-control" name="email" autocomplete="off" value="<?= explode("@", $this->email)[0] ?>" onkeypress="return preventSpace(event)">
								<div class="input-group-prepend">
									<div class="input-group-text">@btn.co.id</div>
									<!--<div class="input-group-text">@sgo.co.id</div>-->
								</div>
							</div>
							<div class="errmsg"><?= $this->xemail; ?></div>
						</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">Nomor Induk Kependudukan<span class="errmsg">*</span></td>
						<td class="tbl-evencontent">
							<?php echo $this->formText('nik', $this->nik, array('maxlength' => '16', 'class' => 'form-control col-md-8', 'onkeypress' => 'return forceNumber(event)')); ?>
							<div class="errmsg"><?= $this->xnik; ?></div>
						</td>
					</tr>

					<tr>
						<td class="tbl-evencontent"><?php echo $this->language->_('Password'); ?></td>
						<td class="tbl-evencontent"><?php echo $this->language->_('Managed on LDAP system'); ?></td>
					</tr>

					<tr>
						<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Description'); ?><strong class="formreq">&nbsp;</strong></td>
						<td class="tbl-evencontent" id="tbl-evencontent">


							<?php echo $this->formTextarea('desc', $this->desc, array(
								'class' => 'form-control col-md-8', 'cols' => '30', 'rows' => '4', 'maxlength' => '200',
								'onKeyDown' => 'textCounter(this.form.desc,this.form.desc_len,200)',
								'onKeyUp' => 'textCounter(this.form.desc,this.form.desc_len,200)',
								'onKeypress' => 'return noSpecialChar3(event);'
							));
							// echo '<br />';
							// 		echo $this->formText('desc_len', $this->desc_len, array('readonly'=>'readonly','size'=>'2')); 
							?> <? //php echo $this->language->_('char(s) left'); 
								?>
						</td>
					</tr>


					<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('group', $this->language->_('Group')); ?><span class="errmsg">*</span></td>
						<td class="tbl-evencontent">
							<?php
							$this->arrGroup = array("" => "--- " . $this->language->_('Any Value') . " ---") + $this->arrGroup;
							echo $this->formSelect('groupId', $this->groupId, array('class' => 'form-control col-md-8'), $this->arrGroup);
							?>
							<div class="errmsg"><?= $this->xgroupId; ?></div>
						</td>
					</tr>
					<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('branch', $this->language->_('Branch')); ?><span class="errmsg">*</span></td>
						<td class="tbl-evencontent">
							<?php
							$this->arrBranch = array("" => "--- " . $this->language->_('Any Value') . " ---") + $this->arrBranch;
							echo $this->formSelect('branch', $this->branch, array('class' => 'form-control col-md-8'), $this->arrBranch);
							?>
							<div class="errmsg"><?= $this->xbranch; ?></div>
						</td>
					</tr>

					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr style="text-align: center;">
						<td class="button-area" id="button-area" colspan="2">
							<div class="formbutton">
								<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/backenduser/index'", 'class' => 'btnwhite hov', 'style' => 'border-radius: 5px;')); ?>

								<input type="button" style="border-radius: 5px;" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Reset') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>'">

								<?php echo $this->formButton('lanjut', $this->language->_('Submit'), array('class' => 'btngreen hov', 'style' => 'border-radius: 5px;')); ?>

								<?php //echo $this->formReset('reset','Reset',array('class'=>'inputbtn')); 
								?>



							</div>
						</td>
					</tr>

				</tbody>
			</table>

			<div class="modal fade" id="dialog_password" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="padding-header-cust d-flex">
								<div class="col">
									<h5 class="text-center">Konfirmasi</h5>
								</div>
							</div>
							<div style="padding-left:2%" class="d-flex align-items-center flex-column pt-3">
								<div style="font-size: 1.1rem;">Silahkan masukkan password Anda untuk konfirmasi penambahan User baru</div>
								<div class="col-8 pt-2" style="position: relative;">
									<input type="password" name="password_to_ldap" class="form-control text-center" required>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer" id="tampil_password">
										<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
										<path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer; display: none" id="sembunyi_password">
										<path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
									</svg>
								</div>
							</div>
						</div>
						<div class="modal-footer justify-content-center">
							<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('TUTUP') ?></button>
							<button type="submit" class="btngreen hov" id="kirim_cetak" name="kirim_cetak" value="kirim_cetak"><?php echo $this->language->_('KONFIRMASI') ?></button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>

<script type="text/javascript">
	function preventSpace(event) {
		if (event.keyCode == 32) {
			return false;
			event.target.value = event.target.value.replace(/ /g, '');
		}

		if (event.keyCode == 64) {
			return false;
			event.target.value = event.target.value.replace(/@/g, '');
		}
	}

	document.addEventListener("DOMContentLoaded", () => {
		// document.querySelector("input[name='email']").addEventListener('keyup', preventSpace)

		if (document.querySelector("#centerpage").childNodes.length == 7) {
			document.querySelector("#centerpage").lastChild.remove()
		}

		document.querySelector("#lanjut").addEventListener("click", () => {
			$('#dialog_password').modal({
				backdrop: "static",
				show: true,
				keyboard: false
			});
		})

		document.querySelector("#tampil_password").addEventListener("mouseover", (event) => {
			document.querySelector("[name='password_to_ldap']").setAttribute("type", "text");
			event.target.style.display = "none"
			document.querySelector("#sembunyi_password").style.display = "block"
		})

		document.querySelector("#sembunyi_password").addEventListener("mouseleave", (event) => {
			document.querySelector("[name='password_to_ldap']").setAttribute("type", "password");
			event.target.style.display = "none"
			document.querySelector("#tampil_password").style.display = "block"
		})
	})
</script>