<?php 
	echo $this->form('formtext',array('action' =>'', 'method' => 'post'));
?>

<div id="tabheader"><?php echo $this->language->_('Suggestion Detail - Welcome Text'); ?></div>
<table class="tableform" width="300" border="0" cellpadding="2" cellspacing="2">
<tr>
	<th class="tdform-sub"><strong><?php echo $this->language->_('Please Enter Welcome Text'); ?> <?php echo $this->language->_('(max 5000 characters)');?>:</strong></th>
</tr>
<tr class="tbl-evencontent">
	<td height="200"><?php echo $this->formLabel('welcometext',$this->language->_($this->suggestedText))?></td>
</tr>
</table>
<br/>
<div>
<!-- <a class="inputbtn" href="<?php echo $this->backURL?>">Back</a> -->
<a href="javascript:window.close();" class="inputbtn"><?php echo $this->language->_('Close');?></a>
</div>