<script type="text/javascript">
	//akan di onload pertama kali
	$(document).ready(function() {
		//pengaturan error messages
		<?php
		foreach ($this->custAcct_msg as $key => $error) {
		?>
			$('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
		<?php
		}
		?>


	});



	function resetData() {
		$('#acct_no').val('<?php echo $this->acct_no; ?>');
		$('#acct_email').val('<?php echo $this->acct_email; ?>');
		$('#ccy_id').val('<?php echo $this->ccy_id; ?>');
	}
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Customer Setup'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('Customer'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('Detail'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('Bank Account'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Add'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Bank Account Management'); ?></h5>

		<?php
		if ($this->cust_id) {

		?>


			<br />

			<?php if ($this->success) { ?>
				<div class="successmsg"><?= $this->custAcct_msg ?></div><br />
			<?php } ?>

			<?php if (count($this->custAcct_msg) > 0) { ?>
				<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
			<?php } ?>


			<form method="post">
				<!-- <form method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true) ?>"> -->
				<table cellpadding="3" cellspacing="0" border="0" class="tableform">
					<tr>
						<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('New Bank Account'); ?></strong></th>
					</tr>


					<tr>
						<td class="tbl-evencontent" colspan="3"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
					</tr>


					<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('acct_no', $this->language->_('Account Number')); ?>&nbsp;<span class="errmsg">*</span></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">
							<?php echo $this->formText('acct_no', $this->acct_no, array('class' => 'form-control', 'maxlength' => 20, 'size' => 30, 'onfocus' => 'return forceNumberOCBC(event)', 'onblur' => 'return forceNumberOCBC(event)', 'onkeypress' => 'return forceNumberOCBC(event)')); ?>
							<div id="error_acct_no" class="errmsg"></div>
						</td>
					</tr>

					<!-- <tr>
			  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_alias', $this->language->_('Account Alias')); ?>&nbsp;<span class="errmsg">*</span></td>
			  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent">
			     <?php echo $this->formText('acct_alias', $this->acct_alias, array('class' => 'form-control', 'maxlength' => 40, 'size' => 40)); ?>
			     <div id="error_acct_alias" class="errmsg"></div>
			  </td>
		    </tr>
		     -->

					<!-- 		    
		     <tr>
		      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id', $this->language->_('Currency')); ?>&nbsp;<span class="errmsg">*</span></td>
		 	  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent">
			     <select name="ccy_id" id="ccy_id" class="form-control">
						<?php
						if (count($this->CCYData) > 0) {
							foreach ($this->CCYData as $rowCCY) {
						?>
									<option value="<?= $rowCCY['CCY_ID'] ?>" <?= ($this->ccy_id == $rowCCY['CCY_ID']) ? 'selected' : '' ?>  id="<?php echo $rowCCY['CCY_ID']; ?>"><?= $rowCCY['CCY_ID'] ?></option>
						<?php
							}
						} else {
						?>
									
						<?php
						}
						?>
					</select>
			  
			   </td>
		    </tr>
		    
		    <tr>
		      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Company Name')); ?></td>
		 	  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->cust_id . ' (' . $this->cust_name . ')'); ?></td>
		    </tr>
		     -->
					<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('acct_email', $this->language->_('Email')); ?>&nbsp;<span class="errmsg">*</span></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">
							<?php echo $this->formText('acct_email', $this->acct_email, array('class' => 'form-control', 'maxlength' => 128, 'size' => 50)); ?>
							<div id="error_acct_email" class="errmsg"></div>
						</td>
					</tr>
					<tr>
						<td class="tbl-evencontent" colspan="3">
							<div id="notesPage">
								<div class="tdform-sub"><i><?php echo $this->language->_('Notes') ?> :</i></div>
								<div class="tbl-evencontent">
									<i><?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon') ?> (;).</i><br>
									<i><?php echo $this->language->_('For example') ?> : wirda@gmail.com;gunawan@yahoo.com</i>
								</div>
							</div>
						</td>
					</tr>



				</table>
				<br />
				<div><?php

						//encrypt id
						require_once 'Crypt/AESMYSQL.php';
						$AESMYSQL = new Crypt_AESMYSQL();
						$rand = $this->token;

						$encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
						$enccustid = urlencode($encrypted_custid);

						$backButton =  $this->url(array('module' => 'customer', 'controller' => 'view', 'action' => 'index', 'cust_id' => $enccustid), null, true);
						echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'' . $backButton . '\'', 'class' => 'btnwhite hov'));
						echo '&nbsp;&nbsp;';

						echo $this->formSubmit('submit', $this->language->_('Confirm'), array('class' => 'btngreen hov'));
						echo '&nbsp;&nbsp;';

						//    echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));
						echo $this->formHidden('cust_id', $enccustid);

						?>
					<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'cust_id' => $enccustid), null, true) ?>'">
				</div>

			</form>
	</div>
</div>


<?php } else { ?>
	<div id="content">- <?php echo $this->language->_('No Data') ?> -</div>
<?php } ?>