<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Set'); ?>/<?php echo $this->language->_('Edit Domestic Charges Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<br />  
<h2><?php echo $this->language->_('Suggested Charge Package '); ?><?php echo $this->custid; ?> </h2> 
<h4><?php echo $this->language->_('Package Name').' : '.$this->packagename; ?> </h4> 
<br />
<table style="width:100%">
<th style="float:right">
          <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
        </th>
</table>
<table class="col-md-12 table table-sm table-sugg">
      <tr class="diffRowdata1">
        <th>Transfer Type</th>
        
        <th>Charges</th>
      </tr>
                <tr class="diffRowdata">
                  <th width="45%">Inhouse (IDR)</th>
                  
          <td class="data">IDR <?php echo Application_Helper_General::displayMoney($this->xpbspecial) ?></td>
                </tr>
       <?php     unset($this->pstype[0]);
    foreach ($this->pstype as $key => $valm) { 
//         foreach ($this->pstype as $valm) { ?> 
                <tr class="diffRowdata">
                  <th width="45%"><?php echo $valm; ?></th>
                
          <td class="data">
          <?php foreach ($this->xdomspecial as $vals) {
              if($vals['CHARGES_TYPE'] ==$key){
                 $amount = $vals['CHARGES_AMT'];
            ?>
              <?php echo $vals['CHARGES_CCY'].' '.Application_Helper_General::displayMoney($amount); ?>
          <?php 
            }
          } ?>
          </td>
                </tr> 
        <?php } ?>
               
            </table>
<br />
<br />
<?php //if($this->changes_type == 'E') { ?>
<?php if($this->changes_type == 'E') { ?>
<h2><?php echo $this->language->_('Current Charge Package '); ?><?php echo $this->custid; ?> </h2>
<h4><?php echo $this->language->_('Package Name').' : '.$this->xpackagename; ?> </h4> 
<br />
<table class="col-md-12 table table-sm table-curr">
      <tr class="diffRow1">
        <th>Transfer Type</th>
        <th>Special Charges</th>
      </tr>
                <tr class="diffRow">
                  <th  width="45%">Inhouse (IDR)</th>
          <td class="dataChange">IDR <?php echo Application_Helper_General::displayMoney($this->pbspecial) ?></td>
                </tr>
    <?php    unset($this->pstype[0]);
    foreach ($this->pstype as $key => $valm) { 
//         foreach ($this->pstype as $valm) { ?>
                <tr class="diffRow">
                  <th width="45%"><?php echo $valm; ?></th>
                 
          <td class="dataChange">
          <?php foreach ($this->domspecial as $vals) {
              if($vals['CHARGES_TYPE'] ==$key){
                 $amount = $vals['CHARGES_AMT'];
            ?>
              <?php echo $vals['CHARGES_CCY'].' '.Application_Helper_General::displayMoney($amount); ?>
          <?php 
            }
          } ?>
          </td>
                </tr> 
        <?php } ?>
               
            </table>
<br />
  <br />
	<?php } ?>
  <?php 
    echo $this->action('index',
                      'tools',
                      'changemanagement',
                      array('changes_id' => $this->changes_id));
  ?>

  <?php if ($this->changes_type == 'E') { ?>
  <?php //if (true) { ?>
        <script>
          $("table.table-sugg > tbody > tr").each(function() {
		var data = $(this).find(".data");
		//var data2 = $(this).find(".data2");
		var sugdata =  $(this);
		//$(this).removeClass('diffRowdata');
		data.css('background-color', '#f5ff5c');
		//data2.css('background-color', '#fe0000');
		$("table.table-curr > tbody > tr").each(function() {
			var dataChange = $(this).find(".dataChange");
			//var dataChange2 = $(this).find(".dataChange2");
			//console.log(data.text().trim());
			//console.log(dataChange.text().trim());
			
		if (data.text().trim() == dataChange.text().trim()) {
			//background-color: #fff;
			data.css('background-color', '#fff');
			//data2.css('background-color', '#fff');
			var dataChange = $(this).find(".dataChange");
			//var dataChange2 = $(this).find(".dataChange2");
			//console.log(sugdata);
			dataChange.css('background-color', '#fff');
			//dataChange2.css('background-color', '#fff');
			//alert();
			
			sugdata.removeClass('diffRowdata');
			$(this).removeClass('diffRow');
			return true;
		}
		});
	});
		  
		  //table-curr

          $("#btnDiffOnly").click(function() {
            $("table.table-sugg > tbody > tr").each(function() {
				var className = $(this).attr('class');
				if(className != 'diffRowdata1'){
				if (className != 'diffRowdata' && $(this).is(":visible")) {
					$(this).hide();
				} else {
					$(this).show();
				}
				}
			});
			$("table.table-curr > tbody > tr").each(function() {
				var className = $(this).attr('class');
				if(className != 'diffRow1'){
					if (className != 'diffRow' && $(this).is(":visible")) {
						$(this).hide();
					} else {
						$(this).show();
					}
				}
			});
          });
        </script>
      <?php }