<!-- <b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Monthly Fee'); ?></b><br /><br /> -->

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Set Company Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Monthly Fee'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->result['CUST_ID'], $rand);
  $enccustid = urlencode($encrypted_custid);
?>

<div class="row content-box">
	  <div class="portlet-body form col-md-12">
      	<h5><?=$this->language->_('Company Charges Setting')?></h5>
      	<br>
      	<table cellpadding="3" cellspacing="0" border="1" class="tableform" width="80%">
       <tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
			<td class="tdform-odd"><?php echo $this->result['CUST_ID'];?></td>
		</tr>
		<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
			<td class="tdform-odd"><?php echo $this->result['CUST_NAME'];?></td>
		</tr>
		<tr>
			<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
			<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
		</tr>
		</table>
	</div>
</div>
<br />
<br />
<h5><?php echo $this->language->_('Select Charges Type'); ?> :</h5>
<?php if($this->changestatus) 
{?>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<?php 
echo '<i>'.$this->error.'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'monthlyaccount','controller'=>'index','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btngreen hov" value="<?php echo $this->language->_('Monthly Transaction Account')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'monthlycompany','controller'=>'index','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btngreen hov" value="<?php echo $this->language->_('Monthly Transaction Company')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'adminfeeaccount','controller'=>'index','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btngreen hov" value="<?php echo $this->language->_('Administration Fee Account')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'adminfeecompany','controller'=>'index','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btngreen hov" value="<?php echo $this->language->_('Administration Fee Company')?>">
<br />
<br />
<?php }?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">








<!-- 

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges Setting'); ?></div>
<br />
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
	</tr>
</table>
<br />
<br />
<h2><?php echo $this->language->_('Select Charges Type'); ?> :</h2>
<?php if($this->changestatus) 
{?>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<?php 
echo '<i>'.$this->error.'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'monthlyaccount','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Monthly Transaction Account')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'monthlycompany','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Monthly Transaction Company')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'adminfeeaccount','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Administration Fee Account')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'adminfeecompany','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Administration Fee Company')?>">
<br />
<br />
<?php }?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back')?>"> -->