
<b>

<ol class="breadcrumb" >
  <li><a href="/home/index" style="font-size: 11px;"><?=$this->language->_('My Profile');?></a></li>
  <li><a href="/home/index" style="font-size: 11px;"><?=$this->language->_('Language');?></a></li>
  <li><?=$this->language->_('Change Language');?></li>
  
</ol>
</b>
<br />
<form method="post" action="">
<div class="col-sm-6">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading" style="
		    color: #fff;
		    background-color: #337ab7;
		    border-color: #337ab7;
		    border: 1;
		"><strong><?php echo $this->language->_('Change Language');?></strong></div>
	<div class="panel-body">
		<div class="form-group">
			<label for=""><?php echo $this->language->_('Change Language');?></label>
			<?=$this->formSelect('lang',$this->lang,array('class'=>'form-control'),$this->arrLang);?>
		</div>
		<br/>
		<div class="form-group">
		<?php
		echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/index'", 'class' => 'btn btn-warning','style'=>'font-size: 15px;'));
		echo '&nbsp';
		echo $this->formSubmit('submit',$this->language->_('Confirm Changes'),array('class'=>'btn btn-warning'));
		?>
		</div>
	</div>
	</div>
</div>

</form>