<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{
	 //pengaturan error messages
	 <?php
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php
	     }
	   ?>
});

function refreshwindow()
{
  // not loaded frames
  window.location.reload();
}

</script>


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Bank Table'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Remittance Bank'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                </li>
									<li>
	                    <?php echo $this->language->_('Add'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
		<div class="portlet-body form col-md-12">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
				<tbody>
					<tr>
						<td class="filterarea" id="filterarea">
							<div class="subtopic"><h5><?php echo $this->language->_('Remittance Bank Management');?></h5></div>
						</td>
					</tr>
					<tr>
						<td>
							<?php if($this->success){ ?>
							<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
							<?php } ?>

							<?php
									if(count($this->report_msg) > 0){ ?>
									<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
							<?php
									 }
								 ?>
						</td>
					</tr>
					<tr>
						<th class="filterarea" id="filterarea">
							<?php echo $this->language->_('New Remittance Bank');?>
						</th>
					</tr>
					<tr>
						<td id="contentarea">
							<form name="remittanceBank" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
							<table border="0" cellpadding="5" cellspacing="0" width="70%">
								<tbody>
										<tr>
										<td class="tbl-evencontent" width="35%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
									</tr>

									<tr>
										<td class="tbl-evencontent" width="35%"><?php echo $this->language->_('Bank Code (max 12 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
												<?php echo $this->formText('bank_code',$this->bank_code,array('class' => 'form-control col-md-12' , 'size'=>40,'maxlength'=>12,'onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)'))?>
												<div id="error_bank_code" class="errmsg"></div>
										</td>
										</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Bank Name (max 105 chars)');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('bank_name',$this->bank_name,array('class' => 'form-control col-md-12' ,'size'=>40,'maxlength'=>105,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_bank_name" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Bank Address 1');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('bank_address1',$this->bank_address1,array('class' => 'form-control col-md-12' ,'size'=>40,'maxlength'=>140))?>
											 <div id="error_bank_address1" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Bank Address 2');?></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('bank_address2',$this->bank_address2,array('class' => 'form-control col-md-12' ,'size'=>40,'maxlength'=>140))?>
											 <div id="error_bank_address2" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('City Name');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('city_name',$this->city_name,array('class' => 'form-control col-md-12' ,'size'=>40,'maxlength'=>35,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_city_name" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('Country');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
										<td class="tbl-evencontent">
											 <?php
		// 								   echo $this->formSelect('country_code',$this->country_code,null,$this->countryArr);
											 ?>
											 <select class="form-control col-md-12" name="country_code">
												<option value="">--- <?php echo $this->language->_('Any Value');?> ---</option>
													<?php foreach($this->countryArr as $list){?>
												<option value="<?php echo $list['COUNTRY_CODE'];?>" <?=($list['COUNTRY_CODE']==$this->country_code) ? 'selected' : ''?>><?php echo $list['COUNTRY_CODE'].' - '.$list['COUNTRY_NAME'];?></option><?php }?>
											</select>

											 <div id="error_country_code" class="errmsg"></div>
										</td>
									</tr>

									<tr>
										<td class="tbl-evencontent"><?php echo $this->language->_('POB Number');?></td>
										<td class="tbl-evencontent">
											 <?php echo $this->formText('pob_number',$this->pob_number,array('class' => 'form-control col-md-12' ,'size'=>40,'maxlength'=>35,'onkeypress'=>'return forceAlnumplusSpace(event)'))?>
											 <div id="error_pob_number" class="errmsg"></div>
										</td>
									</tr>


									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td class="button-area" id="button-area" colspan="2">
											<div class="formbutton">

													<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/remittancebank/index\'','class'=>'btnwhite hov')); ?>
												<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
												<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btngreen hov"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
</div>
