<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top:5px;
		min-width: 23px;
		height: 20px;
}

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
				 		<li>
                 <span><?=$this->language->_('Submission')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 	<span class="inhouse"><?=$this->language->_('LC')?></span>
				 					<i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 	<span class="inhouse"><?=$this->language->_('New')?></span>
				 					<i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>

                 <span class="inhouse"><?=$this->language->_('Confirm')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">

        <div class="row">
            <div class="col-md-6">
                <h5><?=$this->language->_('Application Form for LC / SKBDN Issuance')?></h5>
            </div>
            <!-- <div class="col-md-6" style="float:right">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div> -->
        </div>
				<form action="" id="reviewForm"  method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'lcrelease'),null,true)?>">
				<input type="hidden" name="lcnumb" value="<?php echo $this->lc_number; ?>">
        <div class="row">
            <div class="col-md-3">
                <label class="textGray">Register Number</label>
            </div>
            <div class="col-md-3">
                <label><?= $this->lc_number ?></label>
            </div>
        </div>

        <div class="row">
						<div class="content-box col-md-12" style="padding-left: 2%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <h5><?=$this->language->_('LC / SKBDN Applicant Details')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">NPWP</label>
									</div>
									<div class="col-sm-9">
										<label>58.756.790.8-134.000</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">No. API</label>
									</div>
									<div class="col-sm-9">
										<label>WRE-164</label>
									</div>
								</div>
            </div>
        </div>
				<div class="row">
						<div class="content-box col-md-12" style="padding-left: 2%;  border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
                <h5><?=$this->language->_('Beneficiary Details')?></h5>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Beneficiary Name</label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->benef_name?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Beneficiary Address</label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->benef_address?></label>
										</div>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('General Details')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Credit Type<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->credit_type_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Transferable<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->transferable_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirmation<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->confirmation_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Currency / Amount<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-5">
											<label for="form-label"><?= '(' . $this->ccyid . ') ' . $this->bank_amount?></label>
											<!-- <label for="form-label"><?= '(USD) ' . $this->bank_amount?></label> -->
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Tolerance<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<?php if($this->tolerance == '1'){?>
										<div class="col-sm-2">
											<label class="textGray">&nbsp;Not exceeding</label>
										</div>
										<?php } else if($this->tolerance == '2'){?>
										<div class="col-sm-7" style="float:left">
											<label class="textGray">&nbsp;(+)</label>
											<?php echo $this->formText('toleranceMax',$this->toleranceMax,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:38%')); ?>
											<label class="textGray">% and (-)</label>
											<?php echo $this->formText('toleranceMin',$this->toleranceMin,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:35%')); ?>
										</div>
										<?php }?>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Expiry Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<label for="form-label"><?= $this->expiryDate?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Expiry Place<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->expiryPlace?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Last Shipment Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->lastShipment?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Shipment Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->shipmentPeriod?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Tenor<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-3">
											<label for="form-label"><?= $this->tenor_text?></label>
										</div>
										<?php if($this->tenor == '2'){ ?>
										<div class="col-sm-6" id="usanceTenor">
											<label class="textGray">:&nbsp;</label>
											<?php echo $this->formText('usance',$this->usance,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:20%')); ?>
											<label>days after</label>
											<?php echo $this->formText('usance2',$this->usance2,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:20%')); ?>
										</div>

										<?php }else if($this->tenor == '3'){ ?>
										<div class="col-sm-6" id="otherTenor">
											<div class="row">
												<div class="col-sm-4">
													<label class="textGray col-form-label">Partial Shipment</label>
												</div>
												<div class="col-sm-8">
													<label for="form-label"><?= $this->partial_shipment?></label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label class="textGray col-form-label">Transshipment</label>
												</div>
												<div class="col-sm-8">
													<label for="form-label"><?= $this->trans_shipment?></label>
												</div>
											</div>
										</div>
										<?php } ?>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Advising Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->advBank_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirming Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->confirming_bank_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Place of Taking in Charge<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->placeCharge?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Port of Loading<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->portLoading?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Place of Final Destination<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->placeDestination?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Port of Discharge<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label for="form-label"><?= $this->portofDischarge?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Available With<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<?php if($this->availablewith == '1'){?>
										<div class="col-sm-3">
											<label class="textGray">&nbsp;Any Bank</label>
										</div>
										<?php } else if($this->availablewith == '2'){?>
										<div class="col-sm-6" style="float:left">
											<label class="textGray">&nbsp;Other</label>
											<?php echo $this->formText('otherAvailable',$this->otherAvailable,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:80%')); ?>
										</div>
										<?php }?>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">By<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-6">
											<label for="form-label"><?= $this->lcBy_text?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Document Presentation Period<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9" style="padding-right:0">
												<label for="form-label"><?= $this->documentPeriod . ' days after ' . $this->difered_payment_text ?></label>
										</div>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Goods Details')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Description of Goods<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<?php
													echo $this->formTextarea('descGoods',$this->descGoods,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','readonly'=>'readonly','style'=>'font-size:1.2em'));
										 		?>
										</div>
								</div>
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contract No.<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->contractNo?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">HS Code<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->hsCode?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Country Origin<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->countryOrigin?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Goods Volume<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= $this->goodsVolume?></label>
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Unit Price<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-4">
											<label for="form-label"><?= '(' . $this->ccyid2 . ') ' . $this->unitPrice?></label>
											<!-- <label for="form-label"><?= '(USD) ' . $this->unitPrice?></label> -->
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Trade Terms<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<?php if($this->trade == '1'){?>
										<div class="col-sm-9">
											<div class="row">
												<div class="col-sm-12">
													<label for="form-label"><?= $this->trade_terms_text . ' (Incoterms 2010)';?></label>
												</div>
											</div>
										</div>
										<?php } else if($this->trade == '2'){?>
										<div class="col-sm-9">
											<div class="row">
												<div class="col-sm-12" style="padding-left:0px;padding-right:0px;">
													<label class="textGray">&nbsp;Others</label>
													<?php echo $this->formText('tradeOthers',$this->tradeOthers,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												</div>
											</div>
										</div>
										<?php }?>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Documents Required')?></h5>
							</div>
							<div style="padding-left:2%">
								<?php if($this->checkp1){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
                        <label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Signed commercial invoice in</label>
												<?php echo $this->formText('docReq1',$this->docReq1,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq2',$this->docReq2,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
												<label class="textGray">copy(ies)</label>
										</div>
								</div>
								<?php } ?>
								<?php if($this->checkp2){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Packing List in</label>
											<?php echo $this->formText('docReq3',$this->docReq3,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq4',$this->docReq4,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>
								<?php }?>
								<?php if($this->checkp3){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Insurance Policy or Certificate in</label>
											<?php echo $this->formText('docReq5',$this->docReq5,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq6',$this->docReq6,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">copy(ies)</label>
										</div>
								</div>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray">&nbsp;&nbsp;&nbsp;for</label>
											<?php echo $this->formText('docReq7',$this->docReq7,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">% from gross invoice value under clause:</label>
											<div class="row pt-2">
												<?php if($this->checkp4){ ?>
												<div class="col-sm-6">
													<label style="padding-left:4%" class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Institute Cargo Clause</label>
												</div>
												<?php }?>
												<?php if($this->checkp5){ ?>
												<div class="col-sm-6">
													<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Institute War Clause</label>
												</div>
											</div>
											<div class="row pt-2">
												<?php }?>
												<?php if($this->checkp6){ ?>
												<div class="col-sm-6">
													<label style="padding-left:4%" class="textGray" for=""><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Institute Strike Risk Clause (Cargo)</label>
												</div>
												<?php }?>
												<?php if($this->checkp7){ ?>
												<div class="col-sm-6">
													<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Other</label>
													<?php echo $this->formText('docReq8',$this->docReq8,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:77%')); ?>
												</div>
												<?php }?>
											</div>
										</div>
								</div>
								<?php }?>
								<?php if($this->checkp8){ ?>
								<div class="form-group row pt-2">
										<div class="col-sm-12">
											<label class="textGray"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Fullset of Bill Landing in</label>
											<?php echo $this->formText('docReq9',$this->docReq9,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">original(s) and</label>
											<?php echo $this->formText('docReq10',$this->docReq10,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											<label class="textGray">non negotiable copy, made out to the order of [maseter_bank_name], and notify to</label>
											<?php echo $this->formText('docReq11',$this->docReq11,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:95%')); ?>
										</div>
								</div>
								<div class="form-group row pt-2 pb-2">
									<div class="col-sm-12">
										<div class="row">
											<label class="textGray" style="padding-left:2%">Other Documents</label>
											<div class="col-sm-12" style="padding-left:4%">
												<label class="textGray">Certificate of Origin in</label>
												<?php echo $this->formText('docReq12',$this->docReq12,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq13',$this->docReq13,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">copy(ies), issued by</label>
												<?php echo $this->formText('docReq14',$this->docReq14,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;')); ?>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12" style="padding-left:4%">
												<label class="textGray">Beneficiary's Certificate in</label>
												<?php echo $this->formText('docReq15',$this->docReq15,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">original(s) and</label>
												<?php echo $this->formText('docReq16',$this->docReq16,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
												<label class="textGray">copy(ies), certify</label>
												<?php echo $this->formText('docReq17',$this->docReq17,array('class'=>'inputBorderless', 'readonly' => 'readonly', 'style' => 'text-align:center;font-size: 1.2em;width:5%')); ?>
											</div>
										</div>
									</div>
								</div>
								<?php }?>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Additional Condition')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row">
									<div class="col-sm-12 pt-2 pb-3">
											<?php
												echo $this->formTextarea('comment',$this->comment,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','readonly'=>'readonly','style'=>'font-size:1.2em'));
											?>
									</div>	
								</div>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Charges')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Issuance<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->issuance_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Discrepancy<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->discrepancy_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Confirmation<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->confirmationCharge_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">All Charges outside the Bank<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->chargesOutside_text?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Charge to Account<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label for="form-label"><?= $this->chargetoAccount.' (IDR) / '.$this->masterbankname.' / '.$this->src_name;?></label>
									</div>
								</div>
                                
								<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Submission Notes') ?></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
								
									<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
									<?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
													'onKeyDown'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
													'onKeyUp'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
													'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON3','style'=>'font-size:1.2em')) ?>
									<br>
									<div class="input-group">
										<?php echo $this->formText('disable_note_len', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
										<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
									</div> 
									<div class="input-group">
									<label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to reject this submission?</label>
									</div> 
								</div>
								<div class="modal-footer">
								<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
								<button type="button" class="btngreen hov" id="btn_delete_one"><?php echo $this->language->_('Submit') ?></button>
								</div>
							</div>
							</div>
						</div>
						
						<?php
																			// var_dump($this->popauth);die;
																			if ($this->googleauth) {
																				if ($this->popauth) {
																					$errorMsgView = $this->language->_('Can not release this payment') . ".<br><br>".$this->errorMsg;
																			?>

																					<script type="text/javascript">
																						$(document).ready(function() {
																							$("#tokenmodal").modal();
																						});
																					</script>
																				<?php
																				}
																			}
																				?>
						
						<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header text-center">
								<h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Google Auth Verify</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body mx-3">
								<div class="errmsg"><?php
																																		if ($this->popauth) {
																																			echo $errorMsgView;
																																		}
																																		?></div>
																																		
									<?php  if($this->popauth){ ?>
										<div class="errmsg">
											<?php echo $this->language->_('Incorrect token'); echo ' ( '; echo $this->language->_('you have '); echo $this->tokenfail; echo $this->language->_(' more chances'); echo ' )'; ?>
										</div>
										<?php } ?>
								<div class="col-md-12" align="center">
									<table width="100%">
									<tbody>
										<!-- <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
										<tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
											<input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">
					-->
										<!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
										<tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

										<tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->
										
										<tr>
										<td align="center">
										<?php if ($this->googleauth) { ?>
											<div class="input-group">
											<center style="width: 100%">
											<input class="tokeninput" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											</center>
											</div>
										<?php }else{ ?>
												<h6 class="text-danger mt-4">Google Auth hasn't been registered</h6>
										<?php } ?>
										</td>
										</tr>
									</tbody>
									</table>

									<?php if ($this->tokenError) { ?>
									<h6 class="text-danger mt-4"><?php echo $this->language->_($this->error_msg); ?></h6>
									<?php } ?>

								</div>
								</div>
								<div class="modal-footer d-flex justify-content-center">
								<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
								<?php
										$submitAttr = array('class' => 'btngreen hov');
										if ($this->googleauth) {
								echo $this->formSubmit('release', $this->language->_('Authorize'), $submitAttr);
										}
							?>
								<?php //echo $this->formButton('release', $this->language->_('Release'), array('class' => 'btngreen hov', "onclick" => "proceed('release');this.form.back.disabled=true; "));  ?>
								</div>
							</div>
							</div>
						</div>
						
						
						<div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
									<?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
													'onKeyDown'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
													'onKeyUp'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
													'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON2','style'=>'font-size:1.2em')) ?>
									<br>
									<div class="input-group">
										<?php echo $this->formText('disable_note_len2', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
										<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
									</div>
								</div>
								<div class="modal-footer">
								<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
								<button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
								</div>
							</div>
							</div>
						</div>
								<div class="row">
									<div class="col-md-12" align="center">
										<button name="back" id="back" class="btn-sm btnwhite hov" onClick="location.href='/eform'" value="1">Back</button>
										&nbsp;&nbsp;
										<?php 
											$repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
											echo $this->formButton('repair',$this->language->_('Request Repair'), $repairAttr);
										?>
										&nbsp;&nbsp;
										<?php
											$rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
											echo $this->formButton('reject', $this->language->_('Reject'), $rejectAttr); ?>

										
										&nbsp;&nbsp;
										<button class="btngreen hov" type="button" data-toggle="modal" onclick="tokenModal()">&nbsp;<?php echo $this->language->_('Release'); ?></button>
										<?php
											//$submitAttr = array('class' => 'btngreen hov');
											//echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
										?>
									</div>
								</div>
							</div>
						</div>
				</div>
				
				<!-- END -->
				</form>
		</div>
</div>

<!-- Modal -->
<div class="modal fade" id="expiryplaceModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Expiry Place') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="textBlack">if not indicated, "in Beneficiary's Country" is applicable</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="byModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Available With') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="textBlack">if not indicated, any Bank by Negotiation is applicable</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function() {


var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
	var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
	var total = (end-start)/(1000 * 60 * 60 * 24);

	if(start && end){
		var total = total + 1;
		$('#daysTotal').html("("+total+" days)")
	}


	$(".tokeninput").keyup(function(e) {

		if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
			$(this).prev().focus();
		} else {
			$(this).next().focus();
		}
	});

	$('#tokenmodal').on('shown.bs.modal', function() {
		$('.firsttokenfield').trigger('focus');
	});

	$('#tokenmodal').on('shown.bs.modal', function() {
		$('.firsttokenfield').trigger('focus');
	});

	$('.tokeninput').prop('autocomplete', 'off');

});

function tokenModal() {
$('#tokenmodal').modal();
$('#tokenmodal').on('shown.bs.modal', function (){
	$('input[name=inputtoken1]').focus();
});
}

function modalmoredetail(){
	$("#myModalMoreDetail").modal();
}

function rejectmodal() {

$('#dialog_box').modal('show');

$("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#reviewForm");$("#reviewForm").submit();}'); 
}


function repairmodal() {

$('#dialogrepair_box').modal('show');


$("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
}
</script>