<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('Wrong File Format. There is no data on csv File')."";
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error2){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('the number of rows to be imported should not more than').$this->max;
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error3){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error')." : ".$this->language->_('File cannot left blank. Please correct it')."";
	?>
	</div><br />
	<?php 
	}
?>
<b><?php echo $this->language->_('Virtual Payment'); ?> &gt; <?php echo $this->language->_('Import File'); ?></b>
<form name="acstat_query" enctype="multipart/form-data" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true);?>">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="4" cellspacing="4" width="550" align="center">												
						<tbody>
							<tr>
								<td colspan="4">
									<div id="notesPage" style="width:550px;">
										<div class="tdform-sub"><?php echo $this->language->_('Format'); ?> :&nbsp;
											<span style="font-size:11px;font-style:normal;"><a href="/template/Virtual_Payment_Template.csv" style="color:#F4C301;"><u><?php echo $this->language->_('download template'); ?></u></a></span>
										</div>
										<div class="tbl-evencontent">
											<?php echo $this->language->_('Please upload'); ?>
											<strong><?php echo $this->language->_('comma delimited')?> (,)</strong> 
											<?php $this->language->_('file'); ?>
											<br>
											"INSTITUTIONS_ID","INVOICE_NAME","INVOICE_DESC","CCY","AMOUNT","AREA"
											,"BENEFICIARY_ACCOUNT","BENEFICIARY_NAME"
											<br>
											"10051","B123ABC","","IDR","100000","JAKARTA BARAT","991234567","DISPENDA BARAT"<br>
											"10061","Toko Pak Adi","","IDR","100000","JAKARTA UTARA","991234567","DISPENDA UTARA"<br>
											"10071","Lapak Unang","","IDR","100000","JAKARTA UTARA","991234567","DISPENDA UTARA"
										</div>
										<div> &nbsp;</div>
										<div class="tdform-sub"><?php echo $this->language->_('Notes');?>:</div>
										<div class="tbl-evencontent">
											<?php echo $this->language->_('Import will generate list from file'); ?>.
											<br>
											<?php echo $this->language->_('Click'); ?> "<?php echo $this->language->_('Download Template'); ?>" <?php echo $this->language->_('to download template'); ?>
											<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored'); ?> 
											(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
											<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="4" style="height: 47px; vertical-align: middle;" nowrap="nowrap" align="center">
									<fieldset style="width:550px;">
										<legend><span class="texthistory"><?php echo $this->language->_('Load Data from CSV Text File'); ?></span></legend>
										<b><?php echo $this->language->_('Institusi'); ?> : </b>
											<img src="/images/img_excel.gif" height="47" width="49">
										<input name="CSV_FILE" size="30" onkeypress="return noSpecialChar(event);" type="file">
									</fieldset>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
										<input type="submit" class="inputbtn" id="Submit_id" name="submit" value="<?php echo $this->language->_('Upload')?>" />
																			
										</script>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
