<?

$option = array(
				  'maxlength'=>6,
				  'size'=>6,
				  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
				  'onblur'=>'NumFrmtRate(this.value,this.id)');
				  
$option2 = array(
				  'maxlength'=>16,
				  'size'=>7,
				  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
				  'onblur'=>'NumFrmtUS(this.value,this.id)',
				  'onkeypress'=>'return forceDecimalOCBC(event)');

				  
?>
<script type="text/javascript" src="/js/jquery/ui/jquery.ui.position.js"></script><script type="text/javascript" src="/js/jquery/ui/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="/js/facilityinterest.js">	</script>
<LINK href="/css/facilityinterest.css" rel="stylesheet" type="text/css">
        <div id="dialog"></div>
		<?php
			if($this->errcrossCurrency)
			{
				echo'<div class="errmsg" align="center">'.$this->errcrossCurrency.'</div>';
			}
		?>
		<table width="100%" cellpadding="5" cellspacing="0" border="0" class="bigClass tableform">    
		 <tr>
			<!-- right part-->
		   <td width="50%" valign="top">
			
			 <table width="100%" cellpadding="5" cellspacing="0" border="0" class="bigClass tableform">
							<tr>
								<th colspan="4" class="tdform-sub"><strong>Disbursement</strong></th>
							</tr>
							<tr class="view_transactionfee">
								<td colspan="3"><strong>Interest</strong></td>
							</tr>
						
						 <tr>
							<tr>
								<td class="tbl-evencontent" width="80px">Charges Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
								   <?php echo $this->formSelect('charges_type_d',$this->charges_type_d,array('onchange'=>'installment_type_d()'),$this->listDisbChargestype);?>
								</td>
								<td id="label_mod">
								<select name="charges_mod_d" id="charges_mod_d" onchange="installment_mod_d()">									 
										  <option value='1'>Percentage</option>
										  <option value='2'>Fix Amount</option>
								  </select>
								 
								</td>
							</tr> 
							<tr id="detaild_1">
								<td class="tbl-evencontent">Charges Rates</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <div>   <?php echo $this->formSelect('fccydi',$this->fccydi,null,$this->ccyList); ?>&nbsp;
								   <?=$this->formText("ratedi",$this->ratedi,$option)?>
								   
								   %&nbsp;<input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_di();">                                                  									<div class="errmsg">
										<?=$this->val_err_di?>
										<?=$this->errccy_di?>
									</div>								
								</td>
							</tr> 
							<tr id="detaild_type1">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>									   
										<td colspan="3">
													 <fieldset id="header_detail_proc_d">
														<div style="width:45px;float:left;">CCY</div>
														<div style="width:140px;float:left;">Rate</div>
														<div style="width:25px;float:left;">Action</div>
													</fieldset>
										</td>	
									</tr>
									<tr>
									<td colspan="3">
									  <fieldset id="detail_proc_d">
						</fieldset>
									</td>
									</tr>
								  </table>
								</td>
							</tr>
							
							 <tr id="detaild_2">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <?php echo $this->formSelect('fccydtp',$this->fccydtp,null,$this->ccyList); ?>&nbsp;<?=$this->formText("ratedtp",$this->ratedtp,$option)?>
								   %&nbsp;Min <?=$this->formText("mindtp",$this->mindtp,$option2)?>
								   &nbsp; Max <?=$this->formText("maxdtp",$this->maxdtp,$option2)?>
								   &nbsp;<input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_dtp();">
									<div class="errmsg">
										<?=$this->val_err_dp?>
										<?=$this->errccy_dtp?>									
									</div>								
								</td>
							</tr> 
							<tr id="detaild_type2">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
										
									<td colspan="5">
										<fieldset id="header_detail_proc_dtp">
										<div class="fieldwrapper">
										<div style="width:45px;float:left;">CCY</div>
										<div style="width:60px;float:left;">Rate</div>
										<div style="width:140px;float:left;">Min</div>
										<div style="width:140px;float:left;">Max</div>
										<div style="width:25px;float:left;">Action</div>
										</div>
										</fieldset>						
									</td>	
									</tr>
									<tr>
											<td colspan="5">
									<fieldset id="detail_proc_dtp">
						</fieldset>						
									</td>
									</tr>
								  </table>
								</td>
							</tr>
				 <tr id="detaild_3">
				<td class="tbl-evencontent">Charges Amount</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="2">
				  <div>   
				  <?php echo $this->formSelect('fccydtf',$this->fccydtf,null,$this->ccyList); ?>&nbsp;<?=$this->formText("amountdtf",$this->amountdtf,$option2)?>&nbsp;  &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_dtf();">
						<div class="errmsg">
										<?=$this->val_err_df?>
										<?=$this->errccy_dtf?>
									</div>	
				</td>
			</tr> 
			<tr id="detaild_type3">
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent" colspan="2">
				  <table width="100%">
					<tr>
						<td colspan="3">
									 <fieldset id="header_detail_proc_dtf">
										<div style="width:45px;float:left;">CCY</div>
										<div style="width:140px;float:left;">Amount</div>
										<div style="width:25px;float:left;">Action</div>
									</fieldset>
						</td>	
					</tr>
				   <tr>
											<td colspan="3">
									 <fieldset id="detail_proc_dtf">

						</fieldset>
									</td>
									</tr>
					
				  </table>
				</td>
			</tr>
							<tr>
								<td class="tbl-evencontent" width="80px"> Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
									<!-- <label name="label_type_d"> On Disburstment (Upfront) </label> -->
									 <!--<php echo $this->formSelect('label_type_d',$this->label_type_d,'',$this->listDisbType);?>-->
									 <select name="label_type_d" id="label_type_d">
								  	 </select>
								</td>
							</tr>
							
							<tr class="view_transactionfee">
								<td colspan="3"><strong>Transaction Fee</strong></td>
							</tr>
						 
							<tr class="view_transactionfee">
								<td class="tbl-evencontent" width="80px">Transaction Fee Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
									 <select name="charges_mod_d2" id="charges_mod_d2" onchange="installment_mod_d2()">
										
										  <option value='1'>Percentage</option>
										  <option value='2'>Fix Amount</option>
								  </select> 
								</td>
							</tr> 
							<tr id="detaildit_1">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <?php echo $this->formSelect('fccydittp',$this->fccydittp,null,$this->ccyList); ?>&nbsp;<?=$this->formText("ratedittp",$this->ratedittp,$option)?>%&nbsp; Min <?=$this->formText("mindittp",$this->mindittp,$option2)?>&nbsp; Max <?=$this->formText("maxdittp",$this->maxdittp,$option2)?>&nbsp;<input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_dittp();">
									<div class="errmsg">
										<?=$this->val_err_dtp?>
										<?=$this->errccy_dittp?>
									</div>	
								</td>
							</tr> 
							<tr id="detaildit_type1">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
										<fieldset id="header_detail_proc_dittp">
											<div class="fieldwrapper">
											<div style="width:45px;float:left;">CCY</div>
											<div style="width:60px;float:left;">Rate</div>
											<div style="width:140px;float:left;">Min</div>
											<div style="width:140px;float:left;">Max</div>
											<div style="width:25px;float:left;">Action</div>
											</div>
										</fieldset>		
									</tr>
									<tr>
											<td colspan="5">
									<fieldset id="detail_proc_dittp">
									</fieldset>
									</td>
									</tr>
								  </table>
								</td>
							</tr>
							
							<tr id="detaildit_2">
							<td class="tbl-evencontent">Charges Amount</td>
							<td class="tbl-evencontent">:</td>
							<td class="tbl-evencontent" colspan="2">
							  <div><?php echo $this->formSelect('fccydittf',$this->fccydittf,null,$this->ccyList); ?>&nbsp;<?=$this->formText("amountdittf",$this->amountdittf,$option2)?>&nbsp;  &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_dittf();"></div>
									<div class="errmsg">
													<?=$this->val_err_dtf?>
													<?=$this->errccy_dittf?>
												</div>	
							</td>
							</tr>		 
							<tr id="detaildit_type2">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
										
										<td width="18%">CCY</td>
										<td width="20%">Amount</td>
										<td width="62%">Action	</td>	
									</tr>
								   <tr>
															<td colspan="3">
													 <fieldset id="detail_proc_dittf">
										</fieldset>
													</td>
													</tr>
									
								  </table>
								</td>
							</tr>
							<tr class="view_transactionfee">
								<td class="tbl-evencontent" width="80px"> Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
								<!-- <label name="label_type_d2" id="label_type_d2"> On Dibursement (Upfront) </label> -->
								<?php 
								$listFeeDisbPeriod = array(
								'1' => 'On Disbursement (Upfront)',
								'2' => 'On Invoice Maturity Date (After)');
								echo $this->formSelect('label_type_d2',$this->label_type_d2,null,$listFeeDisbPeriod); ?>
								
								</td>
							</tr>
				 <?php 
					if($this->viewFullDisb){
						$this->disb_full = ($this->disb_full == null) ? 'N' : $this->disb_full;
				 ?>
								<tr id="fullDisbi">
									<td class="tbl-evencontent" width="80px"> Full Disbursement</td>
									<td width="11px" class="tbl-evencontent">:</td>
									<td class="tbl-evencontent">
									<?php echo $this->formRadio('disb_full',$this->disb_full,null,$this->listYesNo);?>
									<div class="errmsg">
										<?=$this->errdisb_full?>
									</div>
									</td>
								</tr>			
				<?php }?>
			 </table>
			<!-- down part-->
			 </div>
			<br />
<!------------------------------------------------------------------ down part--------------------------------->
<table width="100%" cellpadding="5" cellspacing="0" border="0" class="bigClass tableform"  id="graceperiod">
							<tr>
								<th colspan="5" class="tdform-sub"><strong>Grace Period</strong></th>
							</tr>
						
						 <tr>
							<tr>
								<td class="tbl-evencontent" width="80px">Charges Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
									 <select name="charges_type_g" id="charges_type_g" onchange="installment_type_g()">
										  <option value='0'>Interest</option>
										  <option value='1'>Transaction Fee</option>
								  </select> 
								</td>
								<td id="label_mod_g"><select name="charges_mod_g" id="charges_mod_g" onchange="installment_mod_g()">									 
										  <option value='1'>Percentage</option>
										  <option value='2'>Fix Amount</option>
								  </select>
								  </td>
								  <td>
								   &nbsp;</td>
							</tr> 
							<tr id="detailg_1">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="3">
								  <div>   <?php echo $this->formSelect('fccygi',$this->fccygi,null,$this->ccyList); ?>&nbsp;<?=$this->formText("rategi",$this->rategi,$option)?>&nbsp; % &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_gi();"></div>
									<div class="errmsg">
										<?=$this->val_err_gi?>
										<?=$this->errccy_gi?>
									</div>									
								</td>
							</tr> 
							<tr id="detailg_type1">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="3">
								  <table width="100%">
									<tr>
										<td colspan="3">
													 <fieldset id="header_detail_proc_g">
														<div style="width:45px;float:left;">CCY</div>
														<div style="width:140px;float:left;">Rate</div>
														<div style="width:25px;float:left;">Action</div>
													</fieldset>
										</td>	
									</tr>
									<tr>
									<td colspan="3">
									  <fieldset id="detail_proc_g">
						</fieldset>
									</td>
									</tr>
								  </table>
								</td>
							</tr>
							
							 <tr id="detailg_2">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="3">
								  <?php echo $this->formSelect('fccygtp',$this->fccygtp,null,$this->ccyList); ?>&nbsp;<?=$this->formText("rategtp",$this->rategtp,$option)?>%&nbsp;Min<?=$this->formText("mingtp",$this->mingtp,$option2)?>&nbsp;Max<?=$this->formText("maxgtp",$this->maxgtp,$option2)?>&nbsp;<input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_gtp();">
								<div class="errmsg">
										<?=$this->val_err_gp?>
										<?=$this->errccy_gtp?>
									</div>								
								</td>
							</tr> 
							<tr id="detailg_type2">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="3">
								  <table width="100%">
									<tr>
										<fieldset id="header_detail_proc_gtp">
											<div class="fieldwrapper">
											<div style="width:45px;float:left;">CCY</div>
											<div style="width:60px;float:left;">Rate</div>
											<div style="width:140px;float:left;">Min</div>
											<div style="width:140px;float:left;">Max</div>
											<div style="width:25px;float:left;">Action</div>
											</div>
										</fieldset>		
									</tr>
									<tr>
											<td colspan="5">
									<fieldset id="detail_proc_gtp">
						</fieldset>
									</td>
									</tr>
								  </table>
								</td>
							</tr>
				 <tr id="detailg_3">
				<td class="tbl-evencontent">Charges Amount</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="3">
				  <div>   <?php echo $this->formSelect('fccygtf',$this->fccygtf,null,$this->ccyList); ?>&nbsp;<?=$this->formText("amountgtf",$this->amountgtf,$option2)?> &nbsp;  &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_gtf();"></div>
					<div class="errmsg">
										<?=$this->val_err_gf?>
										<?=$this->errccy_gtf?>
									</div>	
				</td>
			</tr> 
			<tr id="detailg_type3">
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent" colspan="3">
				  <table width="100%">
					<tr>
						<td colspan="3">
									 <fieldset id="header_detail_proc_gtf">
										<div style="width:45px;float:left;">CCY</div>
										<div style="width:140px;float:left;">Amount</div>
										<div style="width:25px;float:left;">Action</div>
									</fieldset>
						</td>	
					</tr>
				   <tr>
											<td colspan="3">
									 <fieldset id="detail_proc_gtf">
						</fieldset>						
									</td>
									</tr>
					
				  </table>
				</td>
			</tr>
							<tr>
								<td class="tbl-evencontent" width="80px"> Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="3">
								<label  id="label_type_g1"> On End Of Grace Period (After) </label>
								<label  id="label_type_g0"> On Grace Period Start Date (Upfront) </label>
<!--									 <select name="label_type_g" id="label_type_g">										  
										  <option value='0' id="label_type_g0">On Grace Period Start Date (Upfront)</option>
										  <option value='1' id="label_type_g1">On End Of Grace Period (After)</option>
								  </select>-->
								</td>
							</tr>                          
			 </table>
<!------------------------------------------------------------------------------------------------------------->							
			
				<br /></td>
<!---------------------------------------------- left part------------------------------------------->
		   <td valign="top">
			
<table width="100%" cellpadding="5" cellspacing="0" border="0" class="bigClass tableform" id="additionaltenor">
							<tr>
								<th colspan="4" class="tdform-sub"><strong>Additional Tenor</strong></th>
							</tr>
						
						 <tr>
<tr>
								<td class="tbl-evencontent" width="80px">Charges Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
									 <select name="charges_type_a" id="charges_type_a" onchange="installment_type_a()">
										  <option value='0'>Interest</option>
										  <option value='1'>Transaction Fee</option>
								  </select>											  
								</td>
								<td id="label_mod_a">
											<select name="charges_mod_a" id="charges_mod_a" onchange="installment_mod_a()">										 
										  <option value='1'>Percentage</option>
										  <option value='2'>Fix Amount</option>
										  </select>
								  </td>
</tr> 
							<tr id="detaila_1">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <div>   <?php echo $this->formSelect('fccyai',$this->fccyai,null,$this->ccyList); ?>&nbsp;
								  <?=$this->formText("rateai",$this->rateai,$option)?>
								  &nbsp; % &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_ai();">
								<div class="errmsg">
										<?=$this->val_err_ai?>
										<?=$this->errccy_ai?>
									</div>			
									</div>
								</td>
							</tr> 
							<tr id="detaila_type1">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
										<td colspan="3">
													 <fieldset id="header_detail_proc_a">
														<div style="width:45px;float:left;">CCY</div>
														<div style="width:140px;float:left;">Rate</div>
														<div style="width:25px;float:left;">Action</div>
													</fieldset>
										</td>	
									</tr>
									<tr>
									<td colspan="3">
									  <fieldset id="detail_proc_a">
						</fieldset>						
									</td>
									</tr>
								  </table>
								</td>
							</tr>
							
							 <tr id="detaila_2">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <?php echo $this->formSelect('fccyatp',$this->fccyatp,null,$this->ccyList); ?>
								  &nbsp;
								  <?=$this->formText("rateatp",$this->rateatp,$option)?>
								  %&nbsp;Min <?=$this->formText("minatp",$this->minatp,$option2)?>&nbsp;Max
								  <?=$this->formText("maxatp",$this->maxatp,$option2)?> &nbsp;<input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_atp();">
								<div class="errmsg">
										<?=$this->val_err_ap?>
										<?=$this->errccy_atp?>
									</div>
								</td>
							</tr> 
							<tr id="detaila_type2">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
										<fieldset id="header_detail_proc_atp">
										<div class="fieldwrapper">
										<div style="width:45px;float:left;">CCY</div>
										<div style="width:60px;float:left;">Rate</div>
										<div style="width:140px;float:left;">Min</div>
										<div style="width:140px;float:left;">Max</div>
										<div style="width:25px;float:left;">Action</div>
										</div>
										</fieldset>	
									</tr>
									<tr>
											<td colspan="5">
									<fieldset id="detail_proc_atp">
						</fieldset>						
									</td>
									</tr>
								  </table>
								</td>
							</tr>
				 <tr id="detaila_3">
				<td class="tbl-evencontent">Charges Amount</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="2">
				  <div>   <?php echo $this->formSelect('fccyatf',$this->fccyatf,null,$this->ccyList); ?>
				  &nbsp;<?=$this->formText("amountatf",$this->amountatf,$option2)?> &nbsp;  &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_atf();"></div>
				<div class="errmsg">
										<?=$this->val_err_af?>
										<?=$this->errccy_atf?>
									</div>	
				</td>
			</tr> 
			<tr id="detaila_type3">
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent" colspan="2">
				  <table width="100%">
					<tr>
						<td colspan="3">
									 <fieldset id="header_detail_proc_atf">
										<div style="width:45px;float:left;">CCY</div>
										<div style="width:140px;float:left;">Amount</div>
										<div style="width:25px;float:left;">Action</div>
									</fieldset>
						</td>	
					</tr>
				   <tr>
											<td colspan="3">
									 <fieldset id="detail_proc_atf">
						</fieldset>
						
									</td>
					</tr>
					
				  </table>
				</td>
			</tr>
							<tr >
								<td class="tbl-evencontent" width="80px"> Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								<label name="label_type_a1" id="label_type_a1"> On Bank Maturity Date (After) </label>
								<!--<label name="label_type_a0" id="label_type_a0"> On Invoice Maturity Date (Upfront) </label>-->
								<?php 
								$listFeeAddPeriod = array('1' => 'On Invoice Maturity Date (Upfront)',
								'2' => 'On Bank Maturity Date (After)');
								echo $this->formSelect('label_type_a0',$this->valFeeAddPeriod,null,$listFeeAddPeriod); ?>

								</td>
							</tr>                          
			 </table>
			
			
			<br />
<!--------------------------------------------------------------------- down part-------------------------->

<table width="100%" cellpadding="5" cellspacing="0" border="0" class="bigClass tableform">
							<tr>
								<th colspan="4" class="tdform-sub"><strong>Penalty Period</strong></th>
							</tr>
						
						 <tr>
							<tr>
								<td class="tbl-evencontent" width="80px">Charges Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent">
									 <select name="charges_type_p" id="charges_type_p" onchange="installment_type_p()">
										  <option value='0'>Interest</option>
										  <option value='1'>Transaction Fee</option>
								  </select> 
								</td>
								<td id="label_mod_p">
										<select name="charges_mod_p" id="charges_mod_p" onchange="installment_mod_p()">
										  <option value='1'>Percentage</option>
										  <option value='2'>Fix Amount</option>
										</select>
								  </td>
							</tr> 
							<tr id="detailp_1">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <div>   <?php echo $this->formSelect('fccypi',$this->fccypi,null,$this->ccyList); ?>
								  &nbsp;<?=$this->formText("ratepi",$this->ratepi,$option)?> 
								  &nbsp; % &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_pi();"></div>
								<div class="errmsg">
										<?=$this->val_err_pi?>										
										<?=$this->errccy_pi?>
									</div>		
								</td>								
							</tr> 
							<tr id="detailp_type1">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
									   <td colspan="3">
													 <fieldset id="header_detail_proc_p">
														<div style="width:45px;float:left;">CCY</div>
														<div style="width:140px;float:left;">Rate</div>
														<div style="width:25px;float:left;">Action</div>
													</fieldset>
										</td>
									</tr>
									<tr>
									<td colspan="3">
									  <fieldset id="detail_proc_p">
						</fieldset>
						
									</td>
									</tr>
								  </table>
								</td>
							</tr>
							
							 <tr id="detailp_2">
								<td class="tbl-evencontent">Charges Rate</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								  <?php echo $this->formSelect('fccyptp',$this->fccyptp,null,$this->ccyList); ?>&nbsp;
								  <?=$this->formText("rateptp",$this->rateptp,$option)?>
								  %&nbsp;Min<?=$this->formText("minptp",$this->minptp,$option2)?>&nbsp;Max 
								  <?=$this->formText("maxptp",$this->maxptp,$option2)?>&nbsp;<input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_ptp();">								
								<div class="errmsg">
										<?=$this->val_err_pp?>
										<?=$this->errccy_ptp?>
									</div>	
								</td>								
							</tr> 
							<tr id="detailp_type2">
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" colspan="2">
								  <table width="100%">
									<tr>
										<fieldset id="header_detail_proc_ptp">
											<div class="fieldwrapper">
											<div style="width:45px;float:left;">CCY</div>
											<div style="width:60px;float:left;">Rate</div>
											<div style="width:140px;float:left;">Min</div>
											<div style="width:140px;float:left;">Max</div>
											<div style="width:25px;float:left;">Action</div>
											</div>
										</fieldset>		
									</tr>
									<tr>
											<td colspan="5">
									<fieldset id="detail_proc_ptp">
									
						</fieldset>
									
									</td>
									</tr>
								  </table>
								</td>
							</tr>
				 <tr id="detailp_3">
				<td class="tbl-evencontent">Charges Amount</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent" colspan="2">
				  <div>   <?php echo $this->formSelect('fccyptf',$this->fccyptf,null,$this->ccyList); ?>&nbsp;
				  <?=$this->formText("amountptf",$this->amountptf,$option2)?>
				  &nbsp;  &nbsp; <input type="button" value="Add" class="inputbtn" onclick ="javascript:proc_installment_ptf();">
					</div>
					<div class="errmsg">
						<?=$this->val_err_pf?>
						<?=$this->errccy_ptf?>
					</div>
				</td>
			</tr> 
			<tr id="detailp_type3">
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent">&nbsp;</td>
				<td class="tbl-evencontent" colspan="2">
				  <table width="100%">
					<tr>
						<td colspan="3">
							 <fieldset id="header_detail_proc_ptf">
								<div style="width:45px;float:left;">CCY</div>
								<div style="width:140px;float:left;">Amount</div>
								<div style="width:25px;float:left;">Action</div>
							 </fieldset>
						</td>
					</tr>
				   <tr>
											<td colspan="3">
									 <fieldset id="detail_proc_ptf">
						</fieldset>
						
									</td>
									</tr>
					
				  </table>
				</td>
			</tr>
							<tr>
								<td class="tbl-evencontent" width="80px"> Type</td>
								<td class="tbl-evencontent">:</td>
								<td class="tbl-evencontent" colspan="2">
								<label name="label_type_p1" id="label_type_p1">On End Of Penalty Period (After)</label>
								<label name="label_type_p0" id="label_type_p0">On Penalty Period Start Date (Upfront)</label>
								<!--	 <select name="label_type_p" id="label_type_p">										  
										  <option value='0' id="label_type_p0">On Penalty Start Date (Upfront)</option>
										  <option value='1' id="label_type_p1">On End Of Penalty(After)</option>
								  </select> -->
								</td>
							</tr>                          
			 </table>
			</td>
		  </tr>
		</table>
<?

?>		
<SCRIPT LANGUAGE="JavaScript">
loadpage();

<?php
if($this->loadstatus == "validasi")
{
//----------------------------------------- error select ------------if(!empty($this->val_err_di)){
	// disburst ---------------------------------------------
	if((!empty($this->val_err_di)) || (!empty($this->errccy_di)))
	{
	?>	
	
	$("#charges_type_d").val('0');
	<?		
	}elseif((!empty($this->val_err_dp)) || (!empty($this->errccy_dtp)))	{
	?>
	
	$("#charges_type_d").val('1');	
	$("#charges_mod_d").val('1');
	<?		
	}elseif((!empty($this->val_err_df))	|| (!empty($this->errccy_dtf))) {
	?>		
	$("#charges_type_d").val('1');	
	$("#charges_mod_d").val('2');
	<?		
	}
	
	// grace ---------------------------------------------
	if((!empty($this->val_err_gi)) || (!empty($this->errccy_gi))){
	?>		
	$("#charges_type_g").val('0');
	<?	
	}
	elseif((!empty($this->val_err_gp)) || (!empty($this->errccy_gtp)))		
	{
	?>	
	$("#charges_type_g").val('1');	
	$("#charges_mod_g").val('1');
	<?		
	}
	elseif((!empty($this->val_err_gf))	|| (!empty($this->errccy_gtf)))
	{
	?>	
	$("#charges_type_g").val('1');	
	$("#charges_mod_g").val('2');
	<?		
	}
	// addtional ----------------------------------
	if((!empty($this->val_err_ai)) || (!empty($this->errccy_ai))){
	?>
	$("#charges_type_a").val('0');
	<?
	}elseif((!empty($this->val_err_ap)) || (!empty($this->errccy_atp)))	{	
	?>	
	$("#charges_type_a").val('1');	
	$("#charges_mod_a").val('1');
	<?			
	}elseif((!empty($this->val_err_af)) || (!empty($this->errccy_atf)))		{
	?>	
	$("#charges_type_a").val('1');	
	$("#charges_mod_a").val('2');
	
	<?		
	}
	// penalty ----------------------------------
	if((!empty($this->val_err_pi)) || (!empty($this->errccy_pi)))	 {
	?>		
	$("#charges_type_p").val('0');
	<?			
	}
	elseif((!empty($this->val_err_pp)) || (!empty($this->errccy_ptp)))		
	{
	?>	
	$("#charges_type_p").val('1');	
	$("#charges_mod_p").val('1');
	<?		
	}
	elseif((!empty($this->val_err_pf)) || (!empty($this->errccy_ptf)))		
	{
	?>	
	$("#charges_type_p").val('1');	
	$("#charges_mod_p").val('2');
	<?		
	}
}	
	//-------------------------------------------------------------------closed part// disbursment
if(!empty($this->val_di))
{
?>
	$("#charges_type_d").val('0');
<?	
	foreach($this->val_di as $row) {
		
?>			
	proc_installment_di("<?=addslashes($row['int_ccy'])?>","<?=addslashes($row['int_rate'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	
}
elseif(!empty($this->val_dtp))
	{
?>	
	$("#charges_type_d").val('1');
	$("#charges_mod_d").val('1');
<?	
	
	foreach($this->val_dtp as $row) {
		
?>			
	proc_installment_dtp("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=addslashes($row['int_min'])?>","<?=addslashes($row['int_max'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
elseif(!empty($this->val_dtf))
	{
?>
	$("#charges_type_d").val('1');
	
<?	
	foreach($this->val_dtf as $row) {
		
?>			
	proc_installment_dtf("<?=$row['int_ccy']?>","<?=addslashes($row['int_amount'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}

// interest and trasaction fee
if(!empty($this->val_dittp))
	{
?>

	$("#charges_type_d").val('2');
	$("#charges_mod_d2").val('1');
	installment_mod_d2();
	$("#label_type_d2").val('<?=$this->label_type_d2?>');	

<?	
	
	foreach($this->val_dittp as $row) {
		
?>			
	proc_installment_dittp("<?=addslashes($row['int_ccy'])?>","<?=addslashes($row['int_rate'])?>","<?=addslashes($row['int_min'])?>","<?=addslashes($row['int_max'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
elseif(!empty($this->val_dittf))
	{
?>
	$("#charges_type_d").val('2');
	$("#charges_mod_d2").val('2');
	$("#label_type_d2").val('<?=$this->label_type_d2?>');	
	installment_mod_d2();

<?	
	foreach($this->val_dittf as $row) {
		
?>			
	proc_installment_dittf("<?=$row['int_ccy']?>","<?=addslashes($row['int_amount'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
	
if((!empty($this->val_di)) || (!empty($this->val_err_di)) || (!empty($this->val_dtp)) || (!empty($this->val_dtf)) || (!empty($this->val_err_dp)) || (!empty($this->val_err_df))  || (!empty($this->errccy_di)) || (!empty($this->errccy_dtp)) || (!empty($this->errccy_dtf)))
{
?>
	installment_type_d();	

	
<?
}
if((!empty($this->val_dtp)) || (!empty($this->val_dtf)) || (!empty($this->val_err_dp)) || (!empty($this->val_err_df)) || (!empty($this->errccy_dtp)) || (!empty($this->errccy_dtf)))
{
	
	if((!empty($this->val_dtf))){
		echo '$("#charges_mod_d").val(\'2\');';
	}
?>
	
	installment_mod_d();
	
<?
}

// grace ---------------------------------------------
if(!empty($this->val_gi))
{
?>
	
	$("#charges_type_g").val('0');
<?	
	foreach($this->val_gi as $row) {
		
?>			
	proc_installment_gi("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	
}
elseif(!empty($this->val_gtp))
	{
?>
	$("#charges_type_g").val('1');
	$("#charges_mod_g").val('1');
<?	
	
	foreach($this->val_gtp as $row) {
		
?>			
	proc_installment_gtp("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=addslashes($row['int_min'])?>","<?=addslashes($row['int_max'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
elseif(!empty($this->val_gtf))
	{
?>
	
	$("#charges_type_g").val('1');
	$("#charges_mod_g").val('2');
<?	
	foreach($this->val_gtf as $row) {
		
?>			
	proc_installment_gtf("<?=$row['int_ccy']?>","<?=addslashes($row['int_amount'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
?>
<?
if((!empty($this->val_gi)) || (!empty($this->val_err_gi)) || (!empty($this->val_gtp)) || (!empty($this->val_gtf)) || (!empty($this->val_err_gp)) || (!empty($this->val_err_gf)) || (!empty($this->errccy_gi)) || (!empty($this->errccy_gtp)) || (!empty($this->errccy_gtf))){
?>
	installment_type_g();
		
	
<?
}
if((!empty($this->val_gtp)) || (!empty($this->val_gtf)) || (!empty($this->val_err_gp)) || (!empty($this->val_err_gf)) || (!empty($this->errccy_gtf)) || (!empty($this->errccy_gtp))){
// grace ---------------------------------------------
//CHECK GRACE PERIOD VAL
	
	if((!empty($this->val_err_gp)) || (!empty($this->errccy_gtp)))		
	{
	?>	
	$("#charges_mod_g").val('1');
	<?		
	}
	elseif((!empty($this->val_err_gf))	|| (!empty($this->errccy_gtf)) || (!empty($this->val_gtf)))
	{
	?>	
	$("#charges_mod_g").val('2');
	<?		
	}
	?>

	
	
	installment_mod_g();		
	
<?
}
?>
<?// addtional ----------------------------------
if(!empty($this->val_ai))
{
?>
	
	$("#charges_type_a").val('0');
<?	
	foreach($this->val_ai as $row) {
		
?>			
	proc_installment_ai("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	
}
elseif(!empty($this->val_atp))
	{
	?>
	$("#charges_type_a").val('1');
	$("#charges_mod_a").val('1');
<?	
	
	foreach($this->val_atp as $row) {
		
?>			
	proc_installment_atp("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=addslashes($row['int_min'])?>","<?=addslashes($row['int_max'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
elseif(!empty($this->val_atf))
	{
?>
	$("#charges_type_a").val('1');
	$("#charges_mod_a").val('2');
<?	
	foreach($this->val_atf as $row) {
		
?>			
	proc_installment_atf("<?=$row['int_ccy']?>","<?=addslashes($row['int_amount'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}

if((!empty($this->val_ai)) || (!empty($this->val_err_ai)) || (!empty($this->errccy_ai)) || (!empty($this->val_atp)) || (!empty($this->val_atf)) || (!empty($this->val_err_ap)) || (!empty($this->val_err_af)) || (!empty($this->errccy_atf)) || (!empty($this->errccy_atp)))
{
?>
	
	installment_type_a();		
	
	
<?
}


if((!empty($this->val_atp)) || (!empty($this->val_atf)) || (!empty($this->val_err_ap)) || (!empty($this->val_err_af)) || (!empty($this->errccy_atp)) || (!empty($this->errccy_atf)))
{
// addtional ----------------------------------
	if((!empty($this->val_err_ai)) || (!empty($this->errccy_ai))){
	?>
	$("#charges_type_a").val('0');
	<?
	}elseif((!empty($this->val_err_ap)) || (!empty($this->errccy_atp)))	{	
	?>	
	$("#charges_mod_a").val('1');
	<?			
	}elseif((!empty($this->val_err_af)) || (!empty($this->errccy_atf)) || !empty($this->val_atf))		{
	?>	
	$("#charges_mod_a").val('2');
	
	<?		
	}
?>
	
	installment_mod_a();		
	
	
<?
}

// penalty ----------------------------------
if(!empty($this->val_pi))
{
?>
	
	$("#charges_type_p").val('0');
<?	
	foreach($this->val_pi as $row) {
		
?>			
	proc_installment_pi("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	
}
elseif(!empty($this->val_ptp))
	{
?>
	$("#charges_type_p").val('1');
	$("#charges_mod_p").val('1');
<?	
	
	foreach($this->val_ptp as $row) {
		
?>			
	proc_installment_ptp("<?=$row['int_ccy']?>","<?=addslashes($row['int_rate'])?>","<?=addslashes($row['int_min'])?>","<?=addslashes($row['int_max'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}
elseif(!empty($this->val_ptf))
	{
?>
	$("#charges_type_p").val('1');
	$("#charges_mod_p").val('2');
<?	
	foreach($this->val_ptf as $row) {
		
?>			
	proc_installment_ptf("<?=$row['int_ccy']?>","<?=addslashes($row['int_amount'])?>","<?=$row['int_err_mess']?>");
<?		
			}
	}

if((!empty($this->val_pi)) || (!empty($this->val_ptp)) || (!empty($this->val_ptf)) || (!empty($this->val_err_pi)) || (!empty($this->val_err_pp)) || (!empty($this->val_err_pf)) || (!empty($this->errccy_pi)) || (!empty($this->errccy_ptf)) || (!empty($this->errccy_ptp)))
{
?>
	installment_type_p();
		
	
	
<?
}
if((!empty($this->val_ptp)) || (!empty($this->val_ptf)) || (!empty($this->val_err_pp)) || (!empty($this->val_err_pf)) || (!empty($this->errccy_ptf)) || (!empty($this->errccy_ptp)))
{

// penalty ----------------------------------
	if((!empty($this->val_err_pi)) || (!empty($this->errccy_pi)))	 {
	?>		
	$("#charges_type_p").val('0');
	<?			
	}
	elseif((!empty($this->val_err_pp)) || (!empty($this->errccy_ptp)))		
	{
	?>	
	$("#charges_mod_p").val('1');
	<?		
	}
	elseif((!empty($this->val_err_pf)) || (!empty($this->errccy_ptf)) || !empty($this->val_ptf))		
	{
	?>	
	$("#charges_mod_p").val('2');
	<?		
	}
	?>
	
	installment_mod_p();		
	
	
<?
}
// interest and trasaction fee
if(!empty($this->val_err_dtp))	
{
?>	
$("#charges_type_d").val('2');	
$("#charges_mod_d2").val('1');	
installment_mod_d2();
installment_type_d();

<?			
}elseif(!empty($this->val_err_dtf))	{
?>
$("#charges_type_d").val('2');	
installment_type_d();	
$("#charges_mod_d2").val('2');	

installment_mod_d2();
<?			
}
//-----------------------------------------------------closed---------}


?>		
// JavaScript statements go here
//proc_installment_di();
//dialog_conf();


<?php 

if(empty($this->val_dtf)){
//disbursement bukan with trx fee and fix amount  set default
?>
$('select#label_type_d').val('<?=($this->label_type_d=='')?'1':'2'?>');
$('#charges_type_d').val('<?=(isset($this->paramsVal['charges_type_d']))?$this->paramsVal['charges_type_d']:'0'?>');
installment_type_d();
<?php 
}else{
?>

<?php 
}
?>

</SCRIPT>