<b><?php echo $this->language->_('E-Channel Registration')?> > <?php echo $this->language->_('Request List')?> > <?php echo $this->language->_('Detail')?> > <?php echo $this->language->_('Company Data')?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Data')?></div>

<div>
    <div>
    	<?php if($this->error){ ?>
		<div class="alert alert-danger"><?php echo $this->language->_($this->message);?></div><br />
		<?php }?>
		<?php if(!$this->error){?>
		<div>
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
				<tr>
	        		<td class="tbl-evencontent" width="35%"><?=$this->language->_('Company CIF')?></td>
	        		<td class="tbl-evencontent" width="65%"><?=$this->company_cif?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Company Name')?></td>
	        		<td class="tbl-evencontent"><?=$this->company_name?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Company Type')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_type?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Business Type')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_workfield?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Address')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_address?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('City')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_city?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Zip')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_zip?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('State/Province')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_province?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Country')?></td>
	        		<td class="tbl-evencontent"><?=$this->countryArr[$this->country_code]?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Contact Person')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_contact?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Contact Number')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_phone?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Extension')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_ext?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Fax Number')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_fax?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Contact Email')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_email?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Company Website')?></td>
	        		<td class="tbl-evencontent"><?=$this->cust_website?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Bank Branch')?></td>
	        		<td class="tbl-evencontent"><?=$this->branch_name?></td>
	        	</tr>
	        </table>
	   	</div>
	   	<?php }?>
    </div>
</div>

<div>
	<a href="javascript:void(0);" class="inputbtn" onclick="self.close();" style="text-decoration: none;color: white;"><?=$this->language->_('Close')?></a>
</div>