<style>
td#error
{
	color:white;
	background-color:red;
}
</style>

<form name="bulk_credit_import" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">
											
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
	<tr><td colspan="2" class="tdform-sub"><?php echo $this->language->_('Transfer From'); ?></td></tr>
  <tr>
	<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Import Method'); ?></td>
	<td class="tbl-evencontent"><b><?php if($this->METHOD=='multi') echo $this->language->_('One Payment with Multi Transaction'); else  echo $this->language->_('One Payment with Single Transaction');?></b></td>
  </tr>
  <?php if($this->METHOD=='multi'){ ?>
  <tr>
	<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Payment Subject'); ?></td>
	<td class="tbl-evencontent"><?=$this->PS_SUBJECT?></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->language->_('Payment Date'); ?></td>
	<td class="tbl-evencontent"><?=$this->PS_EFDATE?></td>
  </tr>
  <?php } ?>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?></td>
	<td class="tbl-evencontent"><?=$this->ACCTSRC?></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td  class="tdform-sub" colspan="2"><?php echo $this->language->_('Payment Target'); ?></td></tr>
  <tr>
	<td class="contentarea" id="contentarea" colspan="2">
  <?php if($this->METHOD=='multi'){ ?>
		<br /><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th id="tbl-headercontent" width="20px"><?php echo $this->language->_('No'); ?></th>
				<th id="tbl-headercontent" width="120px"><?php echo $this->language->_('Beneficiary Account'); ?></th>
				<th id="tbl-headercontent" width="100px"><?php echo $this->language->_('Alias Name'); ?></th>
				<th id="tbl-headercontent" width="80px"><?php echo $this->language->_('Amount'); ?></th>
				<th id="tbl-headercontent"><?php echo $this->language->_('Message'); ?></th>
				<th id="tbl-headercontent"><?php echo $this->language->_('Additional Message'); ?></th>
				<th id="tbl-headercontent" width="300px"><?php echo $this->language->_('Remarks'); ?></th>
			</tr>
			<?php		
				$i = 1;
				foreach($this->trxArr as $key=>$row)
				{	
					$style = '';
					if($row['REMARK'])
					{
						$style = ' id="error" ';
					}
					$content =  '
						<tr>
							<td class="tbl-oddcontent"'.$style.'>'.$i.'</td>
							<td class="tbl-oddcontent"'.$style.'>'.$row['ACBENEF'].'</td>
							<td class="tbl-oddcontent"'.$style.'>'.$row['ACBENEF_ALIAS'].'</td>
							<td class="tbl-oddcontent" align="right"'.$style.'>'.Application_Helper_General::displayMoney($row['TRA_AMOUNT']).'</td>
							<td class="tbl-oddcontent"'.$style.'>'.$row['TRA_MESSAGE'].'</td>
							<td class="tbl-oddcontent"'.$style.'>'.$row['TRA_REFNO'].'</td>
							<td class="tbl-oddcontent"><font color="red"><b>'.$row['REMARK'].'</b></font></td>
						</tr>';
					echo $content;
					$i++;
				}
			?>
		</table>
  <?php } 
		else if($this->METHOD=='single') 
		{
			$content =  '<table width="100%" border="0" cellspacing="0" cellpadding="0">';
				
			foreach($this->trxArr as $key=>$row)
			{
				$error['PS_SUBJECT'] = isset($this->errorArr[$key]['PS_SUBJECT']) ? $this->errorArr[$key]['PS_SUBJECT'] : '';
				$error['ACBENEF'] = isset($this->errorArr[$key]['TRX'][0]['ACBENEF']) ? $this->errorArr[$key]['TRX'][0]['ACBENEF'] : '';
				$error['ACBENEF_ALIAS'] = isset($this->errorArr[$key]['TRX'][0]['ACBENEF_ALIAS']) ? $this->errorArr[$key]['TRX'][0]['ACBENEF_ALIAS'] : '';
				$error['TRA_AMOUNT'] = isset($this->errorArr[$key]['TRX'][0]['AMOUNT']) ? $this->errorArr[$key]['TRX'][0]['AMOUNT'] : '';
				$error['TRA_MESSAGE'] = isset($this->errorArr[$key]['TRX'][0]['TRA_MESSAGE']) ? $this->errorArr[$key]['TRX'][0]['TRA_MESSAGE'] : '';
				$error['TRA_REFNO'] = isset($this->errorArr[$key]['TRX'][0]['TRA_REFNO']) ? $this->errorArr[$key]['TRX'][0]['TRA_REFNO'] : '';
				$error['PS_EFDATE'] = isset($this->errorArr[$key]['PS_EFDATE']) ? $this->errorArr[$key]['PS_EFDATE'] : '';
				
				$td_css = ($key%2==1)?'tbl-evencontent':'tbl-oddcontent';
				$style = ' id="error" ';
				
				// echo '<br /><b>Payment #'.$key.'</b><br />';
				$content .= '
					<tr>
						<td colspan="3"><br /><b>Payment #'.$key.'</b></td>
					</tr>
					<tr>
						<td width="200px" class="'.$td_css.'"'.($error['PS_SUBJECT']?$style:'').'>'.$this->language->_('Subject').'</td>
						<td class="'.$td_css.'"'.($error['PS_SUBJECT']?$style:'').'>'.$row['paramPayment']['PS_SUBJECT'].'</td>
						<td class="'.$td_css.'"'.($error['PS_SUBJECT']?$style:'').'>'.$error['PS_SUBJECT'].'</td>
					</tr>
					<tr>
						<td class="'.$td_css.'"'.($error['ACBENEF']?$style:'').'>'.$this->language->_('Beneficiary Account').'</td>
						<td class="'.$td_css.'"'.($error['ACBENEF']?$style:'').'>'.$row['paramTrxArr'][0]['ACBENEF'].'</td>
						<td class="'.$td_css.'"'.($error['ACBENEF']?$style:'').'>'.$error['ACBENEF'].'</td>
					</tr>
					<tr>
						<td class="'.$td_css.'"'.($error['ACBENEF_ALIAS']?$style:'').'>'.$this->language->_('Alias Name').'</td>
						<td class="'.$td_css.'"'.($error['ACBENEF_ALIAS']?$style:'').'>'.$row['paramTrxArr'][0]['ACBENEF_ALIAS'].'</td>
						<td class="'.$td_css.'"'.($error['ACBENEF_ALIAS']?$style:'').'>'.$error['ACBENEF_ALIAS'].'</td>
					</tr>
					<tr>
						<td class="'.$td_css.'"'.($error['TRA_AMOUNT']?$style:'').'>'.$this->language->_('Amount').'</td>
						<td class="'.$td_css.'"'.($error['TRA_AMOUNT']?$style:'').'>'.Application_Helper_General::displayMoney($row['paramTrxArr'][0]['TRA_AMOUNT']).'</td>
						<td class="'.$td_css.'"'.($error['TRA_AMOUNT']?$style:'').'>'.$error['TRA_AMOUNT'].'</td>
					</tr>
					<tr>
						<td class="'.$td_css.'"'.($error['TRA_MESSAGE']?$style:'').'>'.$this->language->_('Message').'</td>
						<td class="'.$td_css.'"'.($error['TRA_MESSAGE']?$style:'').'>'.$row['paramTrxArr'][0]['TRA_MESSAGE'].'</td>
						<td class="'.$td_css.'"'.($error['TRA_MESSAGE']?$style:'').'>'.$error['TRA_MESSAGE'].'</td>
					</tr>
					<tr>
						<td class="'.$td_css.'"'.($error['TRA_REFNO']?$style:'').'>'.$this->language->_('Additional Message').'</td>
						<td class="'.$td_css.'"'.($error['TRA_REFNO']?$style:'').'>'.$row['paramTrxArr'][0]['TRA_REFNO'].'</td>
						<td class="'.$td_css.'"'.($error['TRA_REFNO']?$style:'').'>'.$error['TRA_REFNO'].'</td>
					</tr>
					<tr>
						<td class="'.$td_css.'"'.($error['PS_EFDATE']?$style:'').'>'.$this->language->_('Payment Date').'</td>
						<td class="'.$td_css.'"'.($error['PS_EFDATE']?$style:'').'>'.$row['paramPayment']['PS_EFDATE'].'</td>
						<td class="'.$td_css.'"'.($error['PS_EFDATE']?$style:'').'>'.$error['PS_EFDATE'].'</td>
					</tr>';
			}
			
			$content .= '</table>';
			echo $content;
	?>
  
  <?php } ?>
	</td>
  </tr>
  <tr>
	<td colspan="4"><br /><b><?php echo $this->language->_('Total '); ?><?=$this->totalRecord?> <?php echo $this->language->_('payment'); ?>(s), <?php echo $this->language->_('Amount '); ?><?=Application_Helper_General::displayMoney($this->totalAmount)?></b></td>
  </tr>
  <tr>
	<td>&nbsp;<br /><br /></td>
  </tr>
  <tr>
	<td class="button-area" id="button-area" colspan="7">
		<div class="formbutton">
			<input type="submit" name="submit" class="inputbtn" value="Cancel">&nbsp;&nbsp;
			<input type="submit" name="submit" class="inputbtn" value="Submit for Approval" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>
		</div>
	</td>
  </tr>
</table>
</form>