
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Predefined beneficiary</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span>In House Account</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Add In House Account')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<br />

	<table border="0" cellpadding="0" cellspacing="0" width="73%" align="left">
		<tbody>
			<!--<tr>
				<td class="filterarea" id="filterarea">
					<b><?php echo $this->language->_('Predefined beneficiaryy'); ?>  &gt; <?php echo $this->language->_('In House Account'); ?>  &gt; <?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_('In House Account'); ?></b><br /><br />
				</td>
			</tr>
			--><tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<!--<tr>
				<th class="filterarea" id="filterarea">
					<?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_('Beneficiary'); ?>
				</th>
			</tr>
			-->
			<tr>
				<td id="contentarea">
					<div class="portlet-body form">
					<form name="addbeneficiary" id="addbeneficiary" class="form-horizontal form-bordered form-row-stripped"  method="post" action="">
					<div class="portlet light form-fit bordered">
				
				
					<div class="portlet-body form content-box">
	                      <!-- Default panel contents -->
	                      
	                    			<h5><?php if($this->mode=='Add') echo $this->language->_('Add'); else echo $this->language->_('Edit'); ?> <?php echo $this->language->_('Beneficiary')?></h5>
	            <hr/>
	                    	<div class="portlet-body form">
	                                                <!-- BEGIN FORM-->
	                                                
					            <div class="form-group row">
						   			<label class="control-label col-md-3"><?php echo $this->language->_('Account Number');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF',$this->ACBENEF)?>
					              	</div>
					             </div>
											<div class="form-group row">
						    				<label class="control-label col-md-3"><?php echo $this->language->_('Account Name');?></label>
						          	<div class="col-md-9">
													<?php 
														echo $this->formLabel('ACBENEF_NEWNAME',$this->ACBENEF_NEWNAME);													
													?>
												</div>
					            </div>
											<div class="form-group row">
						    				<label class="control-label col-md-3"><?php echo $this->language->_('Account Name (Checking)');?></label>
						          	<div class="col-md-9">
													<?php 
														echo $this->formLabel('ACBENEF_NAME',$this->ACBENEF_NAME);
													?>
												</div>
					            </div>
					            <div class="form-group row">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Currency');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('CURR_CODE',$this->CURR_CODE); ?>	
					              	</div>
					            </div>
					            
					            <div class="form-group row" style="display: ">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Citizenship');?></label>
						          	<div class="col-md-9">
						          		<!-- echo $this->BENEFICIARY_CITIZENSHIPTEXT; -->
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->BENEFICIARY_CITIZENSHIPTEXT); ?>	
					              	</div>
					            </div>

					            <div class="form-group row" style="display: ">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Nationality');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->BENEFICIARY_RESIDENTTEXT); ?>	
					              	</div>
					            </div>



					            <div class="form-group row" style="display: ">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Category');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->BENEFICIARY_CATEGORYTEXT); ?>	
					              	</div>
					            </div>

					            <div class="form-group row" style="display: ">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Identification Type');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->BENEFICIARY_ID_TYPE); ?>	
					              	</div>
					            </div>

					            <div class="form-group row" style="display: ">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Identification Number');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->BENEFICIARY_ID_NUMBER); ?>	
					              	</div>
					            </div>

					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Account Type');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_TYPE); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Account Title');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_TITLE); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Customer Id');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_CUSTID); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Branch Code');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_BRRANCHCODE); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Branch Name');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_BRANCHNAME); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Address');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_ADDRESS); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Phone Bussiness');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_PHONEBUSSINESS); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Phone Fax');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_PHONEFAX); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('Phone Home');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_PHONEHOME); ?>	
					              	</div>
					            </div>
					            <div class="form-group row" style="display: none">
						    		<label class="control-label col-md-3"><?php echo $this->language->_('PRK');?></label>
						          	<div class="col-md-9">
					                	<?php echo $this->formLabel('ACBENEF_ACCT_TYPE',$this->ACBENEF_PRK); ?>	
					              	</div>
					            </div>
					            
					            <div class="form-group row">
								    <label class="control-label col-md-3"><?php echo $this->language->_('Email');?><strong class="formreq"></strong></label>
								    <div class="col-md-9">
							           <?php echo $this->formLabel('ACBENEF_EMAIL',$this->ACBENEF_EMAIL)?>
							        </div>
								</div>	             
						</div>
	            
	            	</div>
	            	</div>
	           		<!-- <input type="hidden" name="changename" id="changename" value='0'>						 -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>								
								<tr>
									<td class="button-area" id="button-area" colspan="3">
										<div class="formbutton">
											<!-- <input type="submit" value="<?php echo $this->language->_('Back')?>" name="submit" class="btnwhite hov" /> -->
											<button type="button" name="back" id="back" class="btnwhite hov" onclick="backBenef()">Back</button>
											<input type="submit" value="<?php echo $this->language->_('Submit')?>" name="confirm" id="confirm" class="btngreen hov"/>
											<!-- <button type="button" name="confirm" id="confirm" onclick="confirmBenef()" class="btngreen hov">Submit</button> -->
										
										</div>
									</td>
								</tr>
							</tbody>
					</table>
					</form>
					</div>
				
				
					<!--
					<form name="addbeneficiary" method="post" action="">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF',$this->ACBENEF)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF',$this->ACBENEF_NAME)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('CURR_CODE',$this->CURR_CODE); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Citizenship'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->BENEFICIARY_CITIZENSHIPTEXT; echo $this->formHidden('BENEFICIARY_CITIZENSHIPTEXT',$this->BENEFICIARY_CITIZEN)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Nationality'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->BENEFICIARY_RESIDENTTEXT; echo $this->formHidden('BENEFICIARY_RESIDENTTEXT',$this->BENEFICIARY_NATIONAL); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Category'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->BENEFICIARY_CATEGORYTEXT;echo $this->formHidden('BENEFICIARY_CATEGORY',$this->BENEFICIARY_CATEGORY); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Identification Type'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('BENEFICIARY_ID_TYPE',$this->BENEFICIARY_ID_TYPE); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Identification Number'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('BENEFICIARY_ID_NUMBER',$this->BENEFICIARY_ID_NUMBER); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Email Address'); ?><strong class="formreq"></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF_EMAIL',$this->ACBENEF_EMAIL)?></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input type="submit" value="Back" name="submit" class="inputbtn" />
										<input type="submit" value="Submit" name="submit" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				-->
				</td>
			</tr>
		</tbody>
	</table>

<!-- modal -->
<div class="modal fade" id="changenameModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<label class="textBlack">
				Account name already exist,
				<br>
				Do you want to replace it ?
				</label>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" id="btn_submit_cancel"><?php echo $this->language->_('No') ?></button>
				<button type="button" class="btngreen hov" id="btn_submit_confirm" onclick=""><?php echo $this->language->_('Yes') ?></button>
			</div>
			
		</div>
	</div>
</div>

<script>
console.log('<?= $this->ACBENEF_NEWNAME; ?>');

function confirmBenef(){
	let benename = '<?= $this->ACBENEF_NAME; ?>';
	let newname = '<?= $this->ACBENEF_NEWNAME; ?>';
	
	if(newname != ''){
		if(benename == newname){
			$("#addbeneficiary").submit();
		}else{
			$('#changenameModal').modal('show');
			$("#btn_submit_confirm").attr('onclick', '$("#changenameModal").modal("hide");$("#changename").val("1");$("#addbeneficiary").submit();');
			$("#btn_submit_cancel").attr('onclick', '$("#changenameModal").modal("hide");$("#changename").val("0");$("#addbeneficiary").submit();');
		}
	}else{
		$("#addbeneficiary").submit();
	}
	
}

function backBenef(){
	$("<input>", {type: "hidden",name: "back",value: "Back"}).appendTo("#addbeneficiary");
	$("#addbeneficiary").submit();
}

</script>
