<script type="text/javascript">
  function checkAll() {
    $("div.check").hide();
    $("div.uncheck").show();
    $(".benef_id").prop("checked", true);
  }

  function uncheckAll() {
    $("div.check").show();
    $("div.uncheck").hide();
    $(".benef_id").prop("checked", false);
  }

  function sendForm() {
    // body...
    // var benef_id = $('.benef_id:checked').val();
    // var checkedBoxes = document.querySelectorAll('input[name=benef_id]:checked');
    // var checkedBoxes = new Array();
    // $("input:checkbox[name=benef_id]:checked").each(function(){
    // checkedBoxes.push($(this).val());
    // });
    // alert($(".checkboxlist").is(":checked").val())
    var favorite = [];

    $.each($("input[name='benef_id[]']:checked"), function() {

      favorite.push($(this).val());

    });

    // alert("My favourite sports are: " + favorite.join(","));
    // var checkedValue = $('.checkboxlist:checked').val();
    // console.info(checkedValue);
    var get = "/benef_id/" + favorite.join(",");
    var url = "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'delete'), null, true) ?>" + get;

    window.location.replace(url);
    // $.ajax({
    //   type: "GET",
    //   benef_id:benef_id,
    //   url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'delete'), null, true) ?>",

    //   // cache: false,
    //   success:  function(data){
    //       // if (data == "success") {
    //       //   alert("Success insert data");
    //       // }
    //       // else{
    //       //   alert("Failed to insert data");
    //       // }
    //   },
    //   error: function(data) {
    //     // alert("Failed to insert data");
    //   }
    // });
  }

  $(document).ready(function() {

    <?php if ($this->error) { ?>
      $("#myModal").modal();
    <?php } ?>

    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
        $("#logo-titles").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
        $("#logo-title").show();
      }
    });

    $(".benef_id_all").on("click", function() {
      if ($(this).is(":checked")) {
        checkAll();
        $(".delete_button").removeAttr("disabled");
        $(".favorite_button").removeAttr("disabled");
      } else {
        uncheckAll();
        $(".delete_button").attr("disabled", true);
        $(".favorite_button").attr("disabled", true);
      }
    });


    var checkboxes = $(".benef_id"),
      submitButt = $(".delete_button");
    submitButt2 = $(".favorite_button");

    checkboxes.change(function() {

      var isOneChecked = false;

      checkboxes.each(function() {
        if ($(this).is(':checked')) {
          isOneChecked = true;
        }
      });

      if (isOneChecked) {
        submitButt.prop("disabled", false);
        submitButt2.prop("disabled", false);
      } else {
        submitButt.prop("disabled", true);
        submitButt2.prop("disabled", true);
        $(".benef_id_all").prop("checked", false);
      }

    });

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });
  });
</script>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span>Predefined Beneficiary</span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?= $this->language->_('Beneficiary List') ?></span>
        </li>

      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="" align="center">
      <h5><?= $this->language->_('Beneficiary List') ?></h5>
    </div>
  </div>
</div>
<div class="container">
  <br><br>
  <div class="row col-md-12">
    <button onclick="location.href='/predefinedbeneficiary/inhouseacct'" class="btngreen hov col-md-4 " type="button" name="button" disabled><?= $this->language->_('In House Account') ?></button>
    <button onclick="location.href='/predefinedbeneficiary/domesticcct'" class="btnwhite hov col-md-4" type="button" name="button">Domestic Account</button>
    <button onclick="location.href='/predefinedbeneficiary/remittanceacct'" class="btnwhite hov col-md-4 " type="button" name="button"><?= $this->language->_('Remittance Account') ?></button>
  </div>
</div>
<br><br>
<!-- <div class="row"> -->
<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5>In House Account</h5>
    <form name="filterForm" id="inhouseForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
      <?php
      $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
      foreach ($this->filterlist as $row) {
        $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
      }

      ?>
      <div class="row " id="logo-titles" style="margin-left: 0px">
        <?php
        if (!empty($this->wherecol)) {
        ?>
          <script type="text/javascript">
            $(document).ready(function() {
              $("#logo-title").show();
            });
          </script>
        <?php
        }
        // print_r($this->wherecol);die;
        foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
            <?php
            $datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
            $selectlist = array('BENEFICIARY_ACCOUNT', 'BENEFICIARY_NAME', 'BENEFICIARY_ALIAS', 'CURR_CODE', 'ISFAVORITE');
            $index = 0;



            ?>
            <div id="where-<?= $ctr ?>">
              <div class="form-group row mt-12">
                <div class="col-md-4 form-inline">
                  <select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='wherecol[]' onchange='getOpt(this)'>
                    <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                    <?php

                    foreach ($this->filterlist as $row) {
                      $colname = $row;
                      if ($value == $colname) {
                        $selected = "selected";
                      } else {
                        $selected = "";
                      }
                    ?>
                      <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                    <?php } ?>
                  </select>
                </div>
                <div class="col" style="display: none">
                  <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                    <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                      <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                      <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                      <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                      <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                    <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                      <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                      <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                    <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                      <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                      <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                      <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                      <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                      <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                    <?php } ?>
                  </select>
                </div>
                <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                  <script type="text/javascript">
                    $(document).ready(function() {
                      var colval = "#colvalue-s<?= $key ?>";
                      var colomnname = "<?= $value ?>";
                      // var colselect= "<?= $value ?>";
                      var colselect = "colselect-s<?= $key ?>";
                      var ncolselect = "#colselect-s<?= $key ?>";
                      if (colomnname == 'CURR_CODE' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                        var id = $("#tablename").find(":selected").val();
                        $.ajax({
                          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                          type: 'GET',
                          dataType: "html",
                          data: {
                            id: <?= $this->whereval[$index] ?>
                          },
                          success: function(data) {
                            $(ncolselect).html(data);
                          },
                          error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again");
                          }
                        });
                        $(colselect).val('<?= $this->whereval[$index] ?>');

                      }
                    });
                  </script>
                  <?php
                  // print_r($value);
                  // print_r($selectlist);die;
                  if (in_array($value, $selectlist)) {
                  ?>
                    <input class='form-control col-md-12' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
                  <?php }
                  if (!in_array($value, $datetype)) {
                    // print_r($value);die;
                    $index++;
                  }
                  ?>
                </div>
                <div class="col-md-2 form-inline">
                  <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                </div>
              </div>
            </div>

          </div>

        <?php
        }
        ?>

      </div>


      <div class="row " id="logo-title" style="display: none">
        <div class="portlet-body form col-md-12">
          <div id="wheres" style="width: 100%">
            <div id="where-<?= $ctr ?>">
              <!-- <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row) {
                                              $colname = $row;
                                              if ($val == $colname) {
                                                $selected = "selected";
                                              } else {
                                                $selected = "";
                                              }
                                            ?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'>
                                        <input class='form-control' style='width:100%' type='text' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div> -->
            </div>
            <?php //}}
            ?>
          </div>
          <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
          <input type="hidden" id="wherectr" value="0" />
          <br />
          <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
          &nbsp;
          <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
          &nbsp;
          <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


          <br />


          <div class="portlet-body form" style="display: none">

            <div class="form-group row ">
              <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
              <div class="col-md-4">
                <?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
              </div>
              <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
              <div class="col-md-3">
                <select name="transferType" id="transferType" class="form-control">
                  <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                </select>
              </div>
            </div>

            <div class="form-group row ">

              <div class="col-md-12">
                <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>&nbsp;
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-4">
        </div>

      </div>
      <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon with-animation">
          <?php echo $this->language->_('Advanced Search'); ?>
        </a>
      </div>
      <br />
      <br />
    </form>

  </div>
</div>
<!-- </div> -->



<form name="Form" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'setfavorite'), null, true) ?>" method="post">
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <div style="float:left">

          <?php
          $option = array('module' => 'predefinedbeneficiary', 'controller' => $this->controllername, 'action' => 'addbeneficiary');
          $import = array('module' => 'predefinedbeneficiary', 'controller' => $this->controllername, 'action' => 'importbeneficiary');
          $delete = array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'delete');
          ?>


          <?php
          if ($this->hasPrivilege('BADA')) {
          ?>
            <button class="btn-sm btngrad hov" type="button" onclick="location.href='<?= $this->url($option, null, true) ?>'"><i class="fa fa-plus"></i>&nbsp;Add</button>

          <?php
          }
          ?>

          <?php
          if ($this->hasPrivilege('BIMA')) {
          ?>
            <button class="btn-sm btngrad hov" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-file-csv"></i>&nbsp;<?php echo $this->language->_('Import File') ?></button>
          <?php } ?>

          <?php echo $this->formSubmit('submit', $this->language->_('Set Favorite'), array('class' => 'btn-sm btngrad hov favorite_button', 'disabled' => 'disabled')); ?>
          <button type="button" class="btn-sm btngrad hov delete_button" id="delete" disabled onclick="sendForm()">Delete</button>
          <!-- <?php echo $this->formButton('delete', $this->language->_('Delete'), array('class' => 'btn-sm btngrad hov delete_button', 'disabled' => 'disabled')); ?>&nbsp; -->
        </div>
        <div style="float:right; padding-left:5px;">

          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="search form-control" id="searchtable" placeholder="Search">
          </div>
        </div>
        <div style="float:right; padding-left:10px;">
          <form name="exportForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">

            <?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
              <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
            <?php } else { ?>
              <!-- <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp; -->
              <button type="button" style="font-weight: 900;" name="csv" id="csv" class="btn-sm btngrad hov" value="1" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'csv' => '1'), null, true) ?>'"><i class="fa fa-file-csv"></i> Export Files</button>
            <?php } ?>

            <input type="hidden" name="clearfilter" value="<?= $this->clearfilter ?>">
          </form>
        </div>
      </div>


      <br>
      <br>
      <div class="content-filter2">
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => ''), null, true) ?>"><span <?php if ((!$this->alpha || $this->alpha == '') && !$this->fav) echo 'class="subtopic"'; ?>><?php echo $this->language->_('ALL'); ?></span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'fav' => 'fav'), null, true) ?>"><span <?php if ($this->fav) echo 'class="subtopic"'; ?>>FAV</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'A'), null, true) ?>"><span <?php if ($this->alpha == 'A') echo 'class="subtopic"'; ?>>A</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'B'), null, true) ?>"><span <?php if ($this->alpha == 'B') echo 'class="subtopic"'; ?>>B</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'C'), null, true) ?>"><span <?php if ($this->alpha == 'C') echo 'class="subtopic"'; ?>>C</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'D'), null, true) ?>"><span <?php if ($this->alpha == 'D') echo 'class="subtopic"'; ?>>D</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'E'), null, true) ?>"><span <?php if ($this->alpha == 'E') echo 'class="subtopic"'; ?>>E</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'F'), null, true) ?>"><span <?php if ($this->alpha == 'F') echo 'class="subtopic"'; ?>>F</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'G'), null, true) ?>"><span <?php if ($this->alpha == 'G') echo 'class="subtopic"'; ?>>G</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'H'), null, true) ?>"><span <?php if ($this->alpha == 'H') echo 'class="subtopic"'; ?>>H</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'I'), null, true) ?>"><span <?php if ($this->alpha == 'I') echo 'class="subtopic"'; ?>>I</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'J'), null, true) ?>"><span <?php if ($this->alpha == 'J') echo 'class="subtopic"'; ?>>J</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'K'), null, true) ?>"><span <?php if ($this->alpha == 'K') echo 'class="subtopic"'; ?>>K</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'L'), null, true) ?>"><span <?php if ($this->alpha == 'L') echo 'class="subtopic"'; ?>>L</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'M'), null, true) ?>"><span <?php if ($this->alpha == 'M') echo 'class="subtopic"'; ?>>M</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'N'), null, true) ?>"><span <?php if ($this->alpha == 'N') echo 'class="subtopic"'; ?>>N</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'O'), null, true) ?>"><span <?php if ($this->alpha == 'O') echo 'class="subtopic"'; ?>>O</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'P'), null, true) ?>"><span <?php if ($this->alpha == 'P') echo 'class="subtopic"'; ?>>P</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'Q'), null, true) ?>"><span <?php if ($this->alpha == 'Q') echo 'class="subtopic"'; ?>>Q</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'R'), null, true) ?>"><span <?php if ($this->alpha == 'R') echo 'class="subtopic"'; ?>>R</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'S'), null, true) ?>"><span <?php if ($this->alpha == 'S') echo 'class="subtopic"'; ?>>S</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'T'), null, true) ?>"><span <?php if ($this->alpha == 'T') echo 'class="subtopic"'; ?>>T</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'U'), null, true) ?>"><span <?php if ($this->alpha == 'U') echo 'class="subtopic"'; ?>>U</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'V'), null, true) ?>"><span <?php if ($this->alpha == 'V') echo 'class="subtopic"'; ?>>V</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'W'), null, true) ?>"><span <?php if ($this->alpha == 'W') echo 'class="subtopic"'; ?>>W</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'X'), null, true) ?>"><span <?php if ($this->alpha == 'X') echo 'class="subtopic"'; ?>>X</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'Y'), null, true) ?>"><span <?php if ($this->alpha == 'Y') echo 'class="subtopic"'; ?>>Y</span></a>&nbsp;&nbsp;&nbsp;
        <a href="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'alpha' => 'Z'), null, true) ?>"><span <?php if ($this->alpha == 'Z') echo 'class="subtopic"'; ?>>Z</span></a>&nbsp;&nbsp;&nbsp;
      </div>
      <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        <table class="table table-sm table-striped headerNew" id="myTable">
          <thead>
            <tr class="headercolor">
              <!-- <th class="tablehead">
                <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').attr('checked', 'checked');}else{$('.checkall').removeAttr('checked');}" type="checkbox">
              </th> -->
              <th class="tdform-sub tablehead"><?php echo $this->formCheckbox('benef_id_all', '', array('class' => 'benef_id_all')); ?></th>

              <?php echo $this->partial(
                'tableheader.phtml',
                array(
                  'fields' => $this->fields,
                  'sortBy' => $this->sortBy,
                  'sortDir' => $this->sortDir,
                  'query_string_params' => $this->query_string_params
                )
              ) ?>

            </tr>
          </thead>
          <tbody>
            <?php
            $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

            if (count($this->paginator) > 0) {
              $i = 0;

              foreach ($this->paginator as $row) {

                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                $cek = FALSE;
                if ($this->check == true) {
                  if ($row['CHECK'] == 1) {
                    $cek = TRUE;
                  }
                }
                $attribut = array('class' => 'benef_id', 'checked' => $cek);


                $button = $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'delete', 'benef_id' => $row['BENEFICIARY_ID']), null, true);
                $button =  '<input class = "btngreen hov" type="button" onclick="javascript:confirmation(\'' . $this->language->_('Are you sure want to delete this beneficiary account') . '?\',\'' . $button . '\');" value = "' . $this->language->_('Delete') . '">';

                //if($row['BENEFICIARY_ISAPPROVE_disp']=='Approved') $benefId = $row['BENEFICIARY_ACCOUNT'];
                //else $benefId = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editbeneficiary','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">'.$row['BENEFICIARY_ACCOUNT'].'</a>';
                $benefId = $row['BENEFICIARY_ACCOUNT'];

                if ($row['BENEFICIARY_EMAIL']) $email = '<a href="' . $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'editemail', 'benef_id' => $row['BENEFICIARY_ID_ENCRYPTED']), null, true) . '">' . $row['BENEFICIARY_EMAIL'] . '</a>';
                else $email = '<a href="' . $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'editemail', 'benef_id' => $row['BENEFICIARY_ID_ENCRYPTED']), null, true) . '">N/A</a>';

                $fav = array('checked' => ($row['ISFAVORITE'] == 1) ? true : false);
                $delete = '';
                if ($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = $this->language->_('Request to delete');
                else $delete = $button;

                if ($row['BENEFICIARY_ISREQUEST_DELETE']) {
                  $status = $this->language->_('Request to delete');
                  $button_cek = '';
                } else {
                  $status = $this->language->_($row['BENEFICIARY_ISAPPROVE_disp']);
                  $button_cek = $this->formCheckbox("benef_id[]", $row['BENEFICIARY_ID'], $attribut);
                }

                // $check = $this->formCheckBox("isfavorite[{$row['BENEFICIARY_ID']}]",null, $fav);
                $check = '';
                echo '<tr>
                <td class="' . $td_css . '" width="20px">' . $button_cek . '</td>';
                //<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
                echo '<td class="' . $td_css . '">' . $benefId . '</td>
                <td class="' . $td_css . '">' . $row['BENEFICIARY_NAME'] . '</td>
                <td class="' . $td_css . '">' . $email . '</td>
                <td class="' . $td_css . '">' . $row['CURR_CODE'] . '</td>
                <td class="' . $td_css . '">' . $this->language->_($row['ISFAVORITE_disp']) . '</td>
                <td class="' . $td_css . '">' . $this->language->_($row['BENEFICIARY_BANKSTATUS_disp']) . '</td>
                <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['BENEFICIARY_CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
                <td class="' . $td_css . '">' . $status . '</td>
              </tr>';
                // <td class="'.$td_css.'">'.$delete.'</td>

                $i++;
                $counter++;
              }
            } else {
              echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- ' . $this->language->_('No Data') . ' --- </td></tr>';
            }
            ?>
          </tbody>
        </table>
      </div>

      <br>
      <div class="row">
        <!-- <div class="formbutton">
            <input class = "btnwhite hov" type="button" onclick="location.href='/home/index'" value = "<?php echo $this->language->_('Back') ?>">
            <br><br>
          </div> -->
        <!-- <table border="0" cellpadding="0" cellspacing="0" width="40%" align="left">
          <tbody>
            <tr>
              <td class="contentarea" id="contentarea">
                <div class="portlet light form-fit bordered">
                  <div class="card">
                    <div class="card-header cardhead">
                      <strong style="color: white;"><?php echo $this->language->_('Notes : '); ?></strong>
                    </div>
                    <div class="card-body form ">
                      <div class="form-group row pt-2">
                        <div class="col-sm-12">
                          <?php echo $this->language->_('Click on Account Number to edit'); ?>.
                                <br>
                                <?php echo $this->language->_('Approved Account can not be modified, except deleted'); ?>
                                <br>
                                <?php echo $this->language->_('If you find the button is disabled, means you have no privilege'); ?>.
                                <br>
                        </div>
                      </div>
                    </div>
                  <br>
                  <br>
                </div>
              </td>
            </tr>
             <tr>
              <td class="button-area" id="button-area" colspan="8">
              <br>
              <br>
                
              </td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</form>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <!-- <h5 class="modal-title">Import Files</h5> -->
        <div class="row">
          <div class="col-md-12">
            <div class="page-bar">
              <ul class="page-breadcrumb">
                <li>
                  <b>Predefined Beneficiary</b>
                  <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                  <b>Import Beneficiary</b>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <?php if ($this->error) { ?>
          <div class="errmsg"><?= $this->language->_($this->error) ?></div><br />
        <?php } ?>
        <br>
        <div align="center">
          <form name="importbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?= $this->url(array('module' => 'predefinedbeneficiary', 'controller' => 'importbeneficiary', 'action' => 'index'), null, true) ?>" enctype="multipart/form-data">
            <div class="col-md-6" align="left" style="display:none">
              <select class="form-control" name="">
                <option value="">Select Template Target</option>
              </select>
            </div>
            <?php
            $ns = new Zend_Session_Namespace('language');
            $sessionLanguage = $ns->langCode;
            if ($sessionLanguage == 'id') {
              $file = '/template/Beneficiary_Template_id.csv';
            } else {
              $file = '/template/Beneficiary_Template_en_v.1.0.csv';
            }
            ?>
            <br>
            <div class="form-group row col-md-12">
              <div class="col-md-2">
                <img src="/images/img_excel.gif" height="40" width="35">
              </div>
              <div class="col-md-10" align="left">
                <label><b>Load Data from CSV Text File</b></label> <br>
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div>
                    <input type="file" name="CSV_FILE" id="chooseFile" onKeypress="return noSpecialChar(event);">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-md-12" align="left">
              <b>Format : <a href="<?php echo $file ?>">Download Template </a></b><br>
              BENEFICIARY ACCOUNT,ACCOUNT NAME,CCY,EMAIL ADDRESS<br>
              000000000,PT SAMUDERA,IDR,abc@samudera.com
            </div>

            <br><br>
            <div class="col-md-6" align="center">
              <button type="button" class="btnwhite hov" onclick="modalclose();" name="button">Back</button>
              <?php echo $this->formSubmit('submit', $this->language->_('Import'), array('class' => 'btngreen hov'), $classbut); ?>
            </div>

          </form>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>


<script type="text/javascript">
  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#" + parentname).remove();
  }
  $(document).ready(function() {

    $("#addwhere").click(function() {
      var ctr = $("#wherectr").val();
      var optstr = '<?php echo $optArr; ?>';
      var wherecol = "#wherecol-" + ctr;
      $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' style='width:100%' id='wherecol-" + ctr + "' name='wherecol[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      ctr++;
      $("#wherectr").val(ctr);
    });
  });

  function getOpt(elem) {
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-" + ctr;
    var colselect = "colselect-" + ctr;
    var ncolselect = "#colselect-" + ctr;
    var $coll = $('.event_select');
    $coll.children().prop('disabled', false);
    $coll.each(function() {
      var val = this.value;
      if (val === 'original') return;
      $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
    });
    // alert(colomnname);
    $(colval).empty();
    if (colomnname == 'PS_CCY' || colomnname == 'CURR_CODE' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
      // alert();
      $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
      var id = $("#tablename").find(":selected").val();
      $.ajax({
        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
        type: 'GET',
        dataType: "html",
        data: {
          id: id
        },
        success: function(data) {
          $(ncolselect).html(data);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });

    } else if (colomnname == 'ISFAVORITE') {

      $(colval).append("<input type='checkbox' name='whereval[]'  value='' maxlength='20'  class='form-control' >");
    } else {
      $(colval).append("<input type='text' name='whereval[]' style='width:100%'  value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-" + ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
      document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
      document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
      document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
      document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
      document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    } else if (dttype == 'date' || dttype == 'datetime') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
      document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
      document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
      document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
      document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-' + ctr;
    var data = $(colomn).val('EQUAL').change();

  }
</script>
<script type="text/javascript">
  function modal(elem) {
    $("#myModal").modal();
  }

  function modalclose(elem) {

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }

  $(document).ready(function() {

    //   $(function() {
    //     $("#myModal").modal();
    // });
    $('#chooseFile').bind('change', function() {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      } else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });


    $('#myModal').on('shown.bs.modal', function() {
      $('.blur').css({
        "filter": "blur(10px)"
      });
    }).on('hidden.bs.modal', function() {
      $('.blur').css({
        "filter": ""
      });
    })

    // $('#csv').click(function(){
    //   $('form[name=exportForm]').attr('action','test/test_new.xls');
    //   $('form[name=test]').submit();
    // });


  });
</script>