<style type="text/css">
.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}
.cntr {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  text-align: center;
}
.hidden {
  display: none;
}
.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.6;
}
.credit img {
  width: 72px;
}
.credit:hover {
  transform: scale(0.95);
}
</style>

<script type="text/javascript">
	$(function() {
	    $('#operator').change(function() {
	        this.form.submit();
	    });
	});
</script>
<script type="text/javascript">

	function modalpayment(){
		// alert();
    $("#myModalApproval").modal();
  }
	$(function() {
	    $('#operator').change(function() {
	    	//document.getElementById('orderId').value = '';
	        this.form.submit();
	    });
	});
</script>

<script>
  $(document).ready(function()
  {
    $(".tokeninput").keyup(function (e) {

        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
              $(this).prev().focus();
      }else{
          $(this).next().focus();
      }
    });

    $('#tokenmodal').on('shown.bs.modal', function() {
        $('.firsttokenfield').trigger('focus');
    });

    <?php if ($this->repurchase) { ?>
    	var repurchaseOrderId = "<?php echo $this->repurchaseOrderId ?>";
    	var repurchaseProductCode = "<?php echo $this->repurchaseProductCode ?>";

    	console.log(repurchaseProductCode);

    	$('#orderId').val(repurchaseOrderId);
    	$('#productCode').val(repurchaseProductCode);
    <?php } ?>

  });

  // function billInquiry(selected){

  //     var productCode = $(selected).val();
  //     var operator = $('#operator').val();
  //     var sourceAcct = $('#ACCTSRC').val();
  //     var orderId = $('#orderId').val();

  //     $(".det_buy").show();
  //     $(".nom_voucher").text($(selected).find("option:selected").text());

  //     if (productCode != '' && operator != '' && sourceAcct != '' && orderId != '') {
  //       $.ajax({
  //       type: "GET",
  //       data:'productCode='+productCode+'&sourceAcct='+sourceAcct+'&orderId='+orderId+'&operator='+operator,
  //       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'billinquiry'),null,true)?>",

  //       // cache: false,
  //       success:  function(data){
  //         // console.log(data);

  //         var detailData = JSON.parse(data);

  //         console.log(detailData);
  //         var price = detailData.responseData[0].data.price;
  //         var fee = detailData.fee[0];
  //         var total = parseInt(price)+ parseInt(fee);

  //         $('.fee_bayar').text('IDR ' + fee.toLocaleString('en-US', { style: 'currency', currency: 'IDR' }));
  //         $('.total_bayar').text('IDR ' + total.toLocaleString('en-US', { style: 'currency', currency: 'IDR' }));

  //       },
  //       error: function(data) {
  //         alert("Failed to get data");
  //       }
  //     });
  //    }
  //   }

</script>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Purchase')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Electricity Voucher Purchase')?>
                    </li>
                </ul>
            </div>
        </div>
</div>

<br />

<?php if($this->error){?>
	<div class="alert alert-danger">
	<?php echo $this->language->_($this->ERROR_MSG_N);?>
	</div><br>
<?php }?>

<?php 
	if($this->responseCodeReqErr)
	{
?>
		<div class="errmsg">
<?php
			echo $this->formErrors($this->responseCodeReqErr);
?>
		</div>
<?php
	}
?>

<?php
	$mandatory = ($this->confirmPage != 1)? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>": "";
?>

    
<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title textBlack" id="myModalLabel">Purchase List</h4>
      </div>
      <div class="modal-body">
      <br>
        <div class="card">
        	<style type="text/css">
		.card{
	/*//	height: 80px!important;*/
		font-size: 9.4px;
		border: 0px solid rgba(0,0,0,.125);
	}
	</style>
	

	<div class="row">
		<table align="center">
			<tr>
				<td align="center" width="100px"></td>
				<td align="center" width="100px"></td>
				<!-- <td align="center" width="100px"><a href="/purchasing/electricity"><img src="/images/icon/light/phone-call (1).png"></a></td> -->
        <td align="center" width="100px"><a href="/purchasing/newelectricity"><img src="/images/icon/light/Group 1042.png"></a></td>
				<td align="center" width="100px"><a href="/purchasing/newhandphone"><img src="/images/icon/light/Group 1041.png"></a></td>
				<td align="center" width="100px"></td>
				<td align="center" width="100px"></td>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center" class="textBlack">Electricity</td>
				<td align="center" class="textBlack">Handphone</td>
				<td align="center"></td>
				<td align="center"></td>
			</tr>		
		</table>
	</div>
	

        </div>
       </div>
       </div>
       </div>
       </div> 
  
  <a class="btnwhite hov card" href="#" onclick="modalpayment();" style="border: 1px solid rgba(0,0,0,.125);"><i class="fa fa-shopping-cart navbar-icons" style="margin-top: 4px;"></i>&nbsp;<?php echo $this->language->_('Purchase List'); ?></a>



<div class="portlet-body form">
<form name="filterForm"  class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" id="submitForm">
	<input type = "hidden" id="operatorHidden" name="operatorHidden" value="">

	<input type = "hidden" name="step" value="<?php echo $this->step; ?>">
	

<div class="row">
	<div class="col-md-7">
		<div class="form-group row ">
                <!-- <div class="col-md-12">
                <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                </div> -->
      	</div>
      	<div class="form-group row">
				  <label for="opt1" class="radio">
				    <input type="radio" name="type_choose" id="opt1" class="hidden" value="1" checked/>
				    <span class="label"></span>Prabayar
				  </label>
				  
				  <label for="opt2" class="radio">
				    <input type="radio" name="type_choose" id="opt2" class="hidden" value="2" />
				    <span class="label"></span>Pascabayar
				  </label>
	      	</div>
			
			
		<div class="form-group">
							<label><?php echo $this->language->_('Payment Subject'); ?></label>
							<div class="row">
							<div class="col-md-9">
								<!-- <input class="form-control" type="text" name="idNumber"> -->
								<?php
								echo $this->formText('paymentSubject', $this->paymentSubject, array('maxlength' => '16', 'size' => '30', 'class' => 'form-control'));

								if ($this->paymentSubjectErr) {
								?>
									<div class="errmsg">
										<?php
										echo $this->formErrors($this->paymentSubjectErr);
										?>
									</div>
								<?php
								}
								?>
							</div>
							</div>
						</div>
						
      	<div class="form-group">
	      		<label><?php echo $this->language->_('Source Account'); ?></label>
	      		<div class="row">
	      			<div class="col-md-9">
	      				<?php
	                        if ($this->confirmPage != 1)
	                            echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");
	                        else
	                            echo $this->ACCTSRC_view.$this->formHidden('ACCTSRC',$this->ACCTSRC);

	                        if($this->ACCTSRCErr)
	                        {
	                            echo '<div class="errmsg">'.$this->formErrors($this->ACCTSRCErr).'</div>';

	                        }

	                        if($this->xACCTSRC){
	                            echo "<div class='errmsg'> ".$this->xACCTSRC." </div>";
	                        }
	                    ?>
	      			</div>
	      		</div>
	      	</div>
	    <div class="form-group">
		    <label class="control-label"><?php echo $this->language->_('Provider Name');?><?=$mandatory?></label>
		    	<div class="row">
		          <div class="col-md-9">
	                <?php echo $this->formSelect('operator',$this->operator,array('class'=>'form-control'),$this->providerArr); ?>
					<!--<input type="checkbox" name="cek" value="1" <?php if($this->cek==1){echo('checked');}?>><?php echo $this->language->_('Add To Payment List');?>
					--><?php
					
						if($this->operatorErr)
						{
					?>
							<div class="errmsg">
					<?php
								echo $this->formErrors($this->operatorErr);
					?>
							</div>
					<?php
						}
					?>

	              </div>
	            </div>
	    </div>
	    <?php if($this->operator){?>
        <div class="form-group">
		    <label class="control-label"><?php echo $this->language->_('IDPEL/METER NUMBER');?><?=$mandatory?></label>
		    	<div class="row">
		          <div class="col-md-9">
	                <?php
						echo $this->formText('orderId',$this->orderId,array('maxlength'=>'16','size'=>'20','onkeypress' => "javascript:return forceNumber(event);",'class'=>'line pt-0'));
						if($this->orderIdErr)
						{
					?>
							<div class="errmsg">
					<?php
								echo $this->formErrors($this->orderIdErr);
					?>
							</div>
					<?php
						}
					?>

	              </div>
	            </div>
	    </div>
       <?php }?> 
       <div class="form-group">
		    <label class="control-label"><?php echo $this->language->_('Voucher Nominal');?><?=$mandatory?></label>
		    <div class="row">
	          <div class="col-md-9">
                <select class="form-control" name="amount" id="productCode">
					<option value="">-- Please Select --</option>
				<?php 
				foreach ($this->amountList as $value) {
					$nominal = $value['SGO_PRODUCT_CODE']
					?>
						<option value="<?=$nominal?>"<?=($value['SGO_PRODUCT_CODE']==$this->amount) ? 'selected' : '';?>>IDR <?=Application_Helper_General::displayMoney($value['NOMINAL'])?></option>
					<?php 
				}
				?>
				</select>
				<?php
				
					if($this->amountErr)
					{
				?>
						<div class="errmsg">
				<?php
							echo $this->formErrors($this->amountErr);
				?>
						</div>
				<?php
					}
				?>

              </div>
            </div>
	    </div>

      <br>

      <div class="det_buy" style="display: none;">
        <div class="form-group row">
              <label class="control-label col-md-12 text-black-50"><?php echo $this->language->_('Detail'); ?></label>
              
            </div>
            <div class="row">
              <label class="control-label col-md-8 ket_voucher"><?php echo $this->language->_('Voucher'); ?></label>
              <label class="control-label col-md-4 nom_voucher"></label>
            </div>

            <div class="row">
              <label class="control-label col-md-8"><?php echo $this->language->_('Biaya Transaksi'); ?></label>
              <label class="control-label col-md-4 fee_bayar"></label>
            </div>
            
            <hr>
            
            <div class="row">
              <label class="control-label col-md-8"><?php echo $this->language->_('Total'); ?></label>
              <label class="control-label col-md-4 total_bayar"></label>
            </div>
      </div>

	</div>
	<div class="col-md-5">
		<div class="form-group row">
            <h6><?php echo $this->language->_('History')?></h6>
        </div>
        <div class="form-group row">
        	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        		<table class="table table-sm table-striped" id="myTable">
        			<thead>
        				<tr>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Date'); ?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('IDPEL / Meter Number'); ?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Amount'); ?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Action')?></th>
        				</tr>
        			</thead>
        			<tbody>
        				<?php foreach ($this->historyData as $row) { ?>

        					<?php 
        						$logArr = json_decode($row['LOG'], 1);

        						$productCode = $logArr['tmpProductCode'];
        					?>

	        				<tr>
	        					<td><?php echo Application_Helper_General::convertDate($row['PS_EFDATE'], 'dd MMMM y') ?></td>
	        					<td><?php echo $row['BILLER_ORDER_ID'] ?></td>
	        					<td><?php echo Application_Helper_General::displayCurrency($row['PS_TOTAL_AMOUNT']); ?></td>
	        					<td><button type="button" class="iconCircle" title="Repurchase" onclick="repurchasing(this)" data-orderid="<?php echo $row['BILLER_ORDER_ID']; ?>" data-operator="<?php echo $row['PS_BILLER_ID']; ?>" data-productcode="<?php echo $productCode; ?>" ><i class="fas fa-shopping-cart" style="padding-right: 2px;"></i></button></td>
	        				</tr>
        				<?php } ?>

        				<input type="hidden" name="repurchase" id="repurchase" value="0">
        				<input type="hidden" name="repurchaseOrderId" id="repurchaseOrderId" value="">
        				<input type="hidden" name="repurchaseProductCode" id="repurchaseProductCode" value="">
        			</tbody>
        		</table>
        	</div>
        </div>

	</div>


</div>

	<br/>

	<?php if($this->token){ ?>
        	<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Token Verify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="col-md-12" align="center">
                 <table width="70%">
                    <tbody>
                      <tr><td align="center"><h5 class="textBlack"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                      <tr>
                        <td class="textBlack"><input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden"></td>
                    </tr>
                      <tr><td class="textBlack"><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td class="textBlack" style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput firsttokenfield mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
               	<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
               	<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
              </div>
            </div>
          </div>
        </div>

        <?php 
          } ?>
<br/>
	<div class="portlet-body form">
          	<!-- Default panel contents -->
          	
        
        	<div class="portlet-body form">
                <!-- BEGIN FORM-->
                    
                
			   
				<div class="form-group row ">
					<label class="control-label col-md-4"></label>
				    			<label class="control-label col-md-8">
				    				<div class="formbutton" style="float:left">
										<?php $option = array('module'=>'home','controller'=>'dashboard'); ?>
										<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?=$this->url($option,null,true)?>'" type="button">
										<?php //$this->formSubmit('submit', $this->language->_('Next'),array('class' => 'inputbtn'));?>
									
										<?php if($this->operator){?>
												<?php if(!$this->token){ ?>
												 		<input type="submit" name='next' class="btngreen hov" onClick='trfEncryptPurch();submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Next')?>"/>
												 <?php }else{
												 	?>
												 	<input type="submit" name='next' class="btngreen hov" onClick='trfEncryptPurch();submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Next')?>"/>
												 		<!-- <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button> -->
												 	<?php
												 }?>
										<?php }?>
										<script>
										function submitbtn(){
											document.getElementById("subbutton").style.display ="none";
											document.getElementById("Submit_id").style.display ="inline";
										}
										</script>
									</div>
				    			</label>

				</div>


			</div>


		</div>


	
	

	  
</form>
</div>

<script type="text/javascript">
	function repurchasing(selected){
			
		var sourceAcct = $('#ACCTSRC').val();

		if (sourceAcct == '') {
			alert("<?php echo $this->language->_('Please select source account first'); ?>");
			return false;
		}

		var orderId = $(selected).data('orderid');
		var operator = $(selected).data('operator');
		var productCode = $(selected).data('productcode');

		$('#operator').val(operator);
		$('#repurchase').val('1');
		$('#repurchaseOrderId').val(orderId);
		$('#repurchaseProductCode').val(productCode); 

		console.log($('#repurchase').val());
		console.log($('#repurchaseOrderId').val());
		console.log($('#repurchaseProductCode').val());

		$('#submitForm').submit();
	}
</script>