<?php 
$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
$jqueryDateFormat = Zend_Registry::get('jquery.date.format');
//Zend_Debug::dump($query_string_params);

if(is_array($this->deptArr)) {
	$deptArr = array('' => '--Any--');
	foreach($this->deptArr as $val) {
	   	$deptArr[$val['DEPARTMENT_ID']] = $val['DEPARTMENT_NAME'];
	}
}
else
	$deptArr = array();
	
//create a paginator specific for this view
$paginator = Zend_Paginator::factory($this->paginatorParam);
$paginator->setCurrentPageNumber($this->currentPage);

//set number of records to display per page
$paginator->setItemCountPerPage(Zend_Registry::get('paging.defaults.itemCountPerPage'));
//set number of page number links to display
$paginator->setPageRange(Zend_Registry::get('paging.defaults.pageRangeCount'));
//set scrolling style
$paginator->setDefaultScrollingStyle(Zend_Registry::get('paging.defaults.scrollingStyle'));

$counter = (($this->currentPage-1) * $paginator->getItemCountPerPage()) + 1;
?>
<h1><?php echo $this->language->_('Default Module'); ?>, <?php echo $this->language->_('Index Controller'); ?>, <?php echo $this->language->_('Filtering Action'); ?></h1>
<hr />
<?php
//use built in view helper to generate form tag
echo $this->form('formFilter',array('name'=>'filterForm', 'action' =>'', 'method' => 'get'));?>
<div id="content"></div>
<table width="50%" cellpadding="2" cellspacing="0" border="1">
<tr>
	<th colspan="6"><strong>Filter</strong></th>
</tr>
<tr>
	<td><?php echo $this->formLabel('firstname',$this->language->_('First Name'));?></td>
	<td>:</td>
	<td><?php echo $this->formText('firstname',$this->firstName,array('id'=>'first'))?></td>
	<td><?php echo $this->formLabel('departmentid',$this->language->_('Department Id'));?></td>
	<td>:</td>
	<td><?php 
		echo $this->formSelect('departmentid',$this->deptId,array('id'=>'deptId', 'class' => 'apa'),$deptArr)?></td>
</tr>
<tr>
	<td><?php echo $this->formLabel('hireDateFrom',$this->language->_('Hire Date from'));?></td>
	<td>:</td>
	<td><?php echo $this->datePicker("hireDateFrom",$this->hireDateFrom,array('dateFormat' => $jqueryDateFormat,
																			  'defaultDate'=>'new Date()',
																			  'showOn' => 'button',
																			  'buttonImage' => '/images/calendar.gif',
																			  'buttonImageOnly' => true,
																			  'changeMonth' => true,
																			  'changeYear' => true,
																			  'minDate' => '-2Y 3M 5W 10D', //restrict selectable date to min 2 years, 3 months, 5 Weeks and 10 days ago from today
																			  'maxDate' => '+2Y 3M 5W 10D', //restrict selectable date to max 2 years, 3 months, 5 Weeks and 10 days ago from today	  
																			  ),
																		array("onFocus"=>"this.blur()"))?></td>
	<td><?php echo $this->formLabel('hireDateTo',$this->language->_('To'));?></td>
	<td>:</td>
	<td><?php echo $this->datePicker("hireDateTo",$this->hireDateTo,array('dateFormat' => $jqueryDateFormat,
																			'defaultDate'=>'new Date()',
																			'showOn' => 'button',
																			'buttonImage' => '/images/calendar.gif',
																			'buttonImageOnly' => true,
																			'changeMonth' => true,
																			'changeYear' => true,
																		    ),
																		array("onFocus"=>"this.blur()"))?></td>
</tr>
<tr>
	<td colspan="6" align="right">
	<?php echo $this->formSubmit('filter','Filter')?>
	<?php echo $this->formSubmit('filter','Clear Filter')?></td>
</tr>
</table>
</form>
<br />
<div align="right"><?=$this->paginationControl($paginator,$paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $query_string_params))?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1">
    <tr>
    	<th>No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
    														'sortBy' => $this->sortBy,
    														'sortDir' => $this->sortDir,
    														'query_string_params' => $query_string_params
    														)
    							  )?>		
    </tr>
	<?php
    if(count($paginator) > 0)
    {
    	foreach($paginator as $row) {
    ?>
    <tr>
    	<td><?=$counter?></td>
    	<td><?=$row['EMPLOYEE_ID']?></td>
    	<td><?=$row['FIRST_NAME']?></td>
    	<td><?=$row['LAST_NAME']?></td>
    	<td><?=$row['EMAIL']?></td>
    	<td><?=$row['PHONE_NUMBER']?></td>
    	<td><?=$row['HIRE_DATE_F']?></td>
    	<td><?=$row['JOB_ID']?></td>
    	<td><?=$row['SALARY']?></td>
    	<td><?=(isset($row['COMMISSION_PCT']))? $row['COMMISSION_PCT'] : '&nbsp;'?></td>
    	<td><?=(isset($row['MANAGER_ID']))? $row['MANAGER_ID'] : '&nbsp;'?></td>
    	<td><?=(isset($row['DEPARTMENT_ID']))? $row['DEPARTMENT_ID'] : '&nbsp;'?></td>
    </tr>	
    <?php
    	$counter++; 
    	}
    }
    else  {
    
    ?>
    <tr>
    	<td colspan="12"><?php echo $this->language->_('No Record'); ?></td>
    </tr>
    <?php 
    }
    ?>
</table>
<br />
<div align="right"><?=$this->paginationControl($paginator,$paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $query_string_params))?></div>