<?php 
$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
$jqueryDateFormat = Zend_Registry::get('jquery.date.format');
//Zend_Debug::dump($query_string_params);

if(is_array($this->deptArr)) {
	$deptArr = array('' => '--Any--');
	foreach($this->deptArr as $val) {
	   	$deptArr[$val['DEPARTMENT_ID']] = $val['DEPARTMENT_NAME'];
	}
}
else
	$deptArr = array();

//build query string
if(is_array($query_string_params))
{
	$qstring='?';
	foreach($query_string_params as $key=>$val)
		$qstring.=$key.'='.$val.'&';
	$qstring=substr($qstring,0,-1);
}
else
	$qstring='';

$asc_img_path = Zend_Registry::get('sorting.defaults.ascImgPath');
$desc_img_path = Zend_Registry::get('sorting.defaults.descImgPath');
$active_asc_img_path = Zend_Registry::get('sorting.defaults.activeAscImgPath');
$active_desc_img_path = Zend_Registry::get('sorting.defaults.activeDescImgPath');

//create a paginator specific for this view
$paginator = Zend_Paginator::factory($this->paginatorParam);
$paginator->setCurrentPageNumber($this->currentPage);

//set number of records to display per page
$paginator->setItemCountPerPage(Zend_Registry::get('paging.defaults.itemCountPerPage'));
//set number of page number links to display
$paginator->setPageRange(Zend_Registry::get('paging.defaults.pageRangeCount'));
//set scrolling style
$paginator->setDefaultScrollingStyle(Zend_Registry::get('paging.defaults.scrollingStyle'));

$counter = (($this->currentPage-1) * $paginator->getItemCountPerPage()) + 1;
?>
<h1><?php echo $this->language->_('Default Module, Index Controller, Filtering Action'); ?></h1>
<hr />
<?php 
//use built in view helper to generate form tag
echo $this->form('formFilter',array('name'=>'filterForm', 'action' =>'', 'method' => 'get'));?>
<div id="content"></div>
<table width="50%" cellpadding="2" cellspacing="0" border="1">
<tr>
	<th colspan="6"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
</tr>
<tr>
	<td><?php echo $this->formLabel('firstname',$this->language->_('First Name'));?></td>
	<td>:</td>
	<td><?php echo $this->formText('firstname',$this->firstName,array('id'=>'first'))?></td>
	<td><?php echo $this->formLabel('departmentid',$this->language->_('Department Id'));?></td>
	<td>:</td>
	<td><?php 
		echo $this->formSelect('departmentid',$this->deptId,array('id'=>'deptId'),$deptArr)?></td>
</tr>
<tr>
	<td><?php echo $this->formLabel('hireDateFrom',$this->language->_('Hire Date from'));?></td>
	<td>:</td>
	<td><?php echo $this->datePicker("hireDateFrom",$this->hireDateFrom,array('dateFormat' => $jqueryDateFormat,
																			  'defaultDate'=>'new Date()',
																			  'showOn' => 'button',
																			  'buttonImage' => '/images/calendar.gif',
																			  'buttonImageOnly' => true,
																			  'changeMonth' => true,
																			  'changeYear' => true,
																			  ),
																		array("onFocus"=>"this.blur()"))?></td>
	<td><?php echo $this->formLabel('hireDateTo',$this->language->_('To'));?></td>
	<td>:</td>
	<td><?php echo $this->datePicker("hireDateTo",$this->hireDateTo,array('dateFormat' => $jqueryDateFormat,
																			'defaultDate'=>'new Date()',
																			'showOn' => 'button',
																			'buttonImage' => '/images/calendar.gif',
																			'buttonImageOnly' => true,
																			'changeMonth' => true,
																			'changeYear' => true,
																			),
																		array("onFocus"=>"this.blur()"))?></td>
</tr>
<tr>
	<td colspan="6" align="right">
	<?php echo $this->formSubmit('filter','Filter')?>
	<?php echo $this->formSubmit('filter','Clear Filter')?></td>
</tr>
</table>
</form>
<br />
<div align="right"><?=$this->paginationControl($paginator,$paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $query_string_params))?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1">
    <tr>
    	<th rowspan="2"><?php echo $this->language->_('No'); ?></th>
    	<th rowspan="2"><?php echo $this->language->_('Employee Id'); ?> <br/>
    	<?php 
    	if($this->fields['employeeId']['sortable']) {
    		if($this->sortBy == $this->fields['employeeId']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'employeeId', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['employeeId']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'employeeId', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th colspan="2"><?php echo $this->language->_('Name'); ?></th>
    	<th colspan="2"><?php echo $this->language->_('Contact Info'); ?></th>
    	<th rowspan="2"><?php echo $this->language->_('Hire Date'); ?> <br /><?php 
    	if($this->fields['hireDate']['sortable']) {
    		if($this->sortBy == $this->fields['hireDate']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'hireDate', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['hireDate']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'hireDate', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?>
    	</th>
    	<th rowspan="2"><?php echo $this->language->_('Job Id'); ?> <br/><?php 
    	if($this->fields['jobId']['sortable']) {
    		if($this->sortBy == $this->fields['jobId']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'jobId', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['jobId']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'jobId', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th rowspan="2"><?php echo $this->language->_('Salary'); ?> <br/>
    	<?php 
    	if($this->fields['salary']['sortable']) {
    		if($this->sortBy == $this->fields['salary']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'salary', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['salary']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'salary', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th rowspan="2"><?php echo $this->language->_('Commision Percentage'); ?> <br/>
    	<?php 
    	if($this->fields['commisionPct']['sortable']) {
    		if($this->sortBy == $this->fields['commisionPct']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'commisionPct', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['commisionPct']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'commisionPct', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th rowspan="2"><?php echo $this->language->_('Manager Id'); ?> <br/>
    	<?php 
    	if($this->fields['managerId']['sortable']) {
    		if($this->sortBy == $this->fields['managerId']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'managerId', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['managerId']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'managerId', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th rowspan="2"><?php echo $this->language->_('Department Id'); ?> <br/>
    	<?php 
    	if($this->fields['departmentId']['sortable']) {
    		if($this->sortBy == $this->fields['departmentId']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'departmentId', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['departmentId']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'departmentId', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>	
    </tr>
    <tr>
    	<th><?php echo $this->language->_('First Name'); ?> <br/>
    	<?php 
    	if($this->fields['firstName']['sortable']) {
    		if($this->sortBy == $this->fields['firstName']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'firstName', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['firstName']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'firstName', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th><?php echo $this->language->_('Last Name'); ?> <br/>
    	<?php 
    	if($this->fields['lastName']['sortable']) {
    		if($this->sortBy == $this->fields['lastName']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'lastName', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['lastName']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'lastName', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th><?php echo $this->language->_('Email'); ?> <br/>
    	<?php 
    	if($this->fields['email']['sortable']) {
    		if($this->sortBy == $this->fields['email']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'email', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['email']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'email', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    	<th><?php echo $this->language->_('Phone Number'); ?> <br/>
    	<?php 
    	if($this->fields['phoneNumber']['sortable']) {
    		if($this->sortBy == $this->fields['phoneNumber']['field'] && $this->sortDir =='asc') {?>
    			<img border="0" src="<?=$active_asc_img_path?>"/> 
    		<?php 
    		}
    		else {
    		?>
    			<a href="<?=$this->url(array('sortby' => 'phoneNumber', 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img_path?>" /></a> 
    		<?php
    		}
	   		if($this->sortBy == $this->fields['phoneNumber']['field'] && $this->sortDir =='desc') {?>
	    		<img border="0" src="<?=$active_desc_img_path?>"/> 
	    	<?php 
	    	}
	    	else {
	    	?>
    			<a href="<?=$this->url(array('sortby' => 'phoneNumber', 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img_path?>" /></a> 
    		<?php
    		}		
    	}
    	else
    	{
    	?>
    	&nbsp;
    	<?php
    	}
    	?></th>
    </tr>
    
    	
	<?php
    if(count($paginator) > 0)
    {
    	foreach($paginator as $row) {
    ?>
    <tr>
    	<td><?=$counter?></td>
    	<td><?=$row['EMPLOYEE_ID']?></td>
    	<td><?=$row['FIRST_NAME']?></td>
    	<td><?=$row['LAST_NAME']?></td>
    	<td><?=$row['EMAIL']?></td>
    	<td><?=$row['PHONE_NUMBER']?></td>
    	<td><?=$row['HIRE_DATE_F']?></td>
    	<td><?=$row['JOB_ID']?></td>
    	<td><?=$row['SALARY']?></td>
    	<td><?=(isset($row['COMMISSION_PCT']))? $row['COMMISSION_PCT'] : '&nbsp;'?></td>
    	<td><?=(isset($row['MANAGER_ID']))? $row['MANAGER_ID'] : '&nbsp;'?></td>
    	<td><?=(isset($row['DEPARTMENT_ID']))? $row['DEPARTMENT_ID'] : '&nbsp;'?></td>
    </tr>	
    <?php
    	$counter++; 
    	}
    }
    else  {
    
    ?>
    <tr>
    	<td colspan="12"><?php echo $this->language->_('No Record'); ?></td>
    </tr>
    <?php 
    }
    ?>
</table>
<br />
<?php echo $this->jQuery()?>
<div align="right"><?=$this->paginationControl($paginator,$paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $query_string_params))?></div>