<?php
//create a paginator specific for this view
$paginator = Zend_Paginator::factory($this->paginatorParam);
$paginator->setCurrentPageNumber($this->currentPage);
$paginator->setItemCountPerPage(Zend_Registry::get('paging.defaults.itemCountPerPage'));
$paginator->setPageRange(Zend_Registry::get('paging.defaults.pageRangeCount'));
$paginator->setDefaultScrollingStyle(Zend_Registry::get('paging.defaults.scrollingStyle'));

$counter = (($this->currentPage-1) * $paginator->getItemCountPerPage()) + 1;
?>
<h1><?php echo $this->language->_('Default Module, Index Controller, Sorting Action'); ?></h1>
<div align="right"><?=$this->paginationControl($paginator,$paginator->getDefaultScrollingStyle(),'paging.phtml')?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1">
    <tr>
    	<th>No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
    														'sortBy' => $this->sortBy,
    														'sortDir' => $this->sortDir)
    							  );?>		
    </tr>
	<?php
    if(count($paginator) > 0)
    {
    	foreach($paginator as $row) {
    ?>
    <tr>
    	<td><?=$counter?></td>
    	<td><?=$row['EMPLOYEE_ID']?></td>
    	<td><?=$row['FIRST_NAME']?></td>
    	<td><?=$row['LAST_NAME']?></td>
    	<td><?=$row['EMAIL']?></td>
    	<td><?=$row['PHONE_NUMBER']?></td>
    	<td><?=$row['HIRE_DATE']?></td>
    	<td><?=$row['JOB_ID']?></td>
    	<td><?=$row['SALARY']?></td>
    	<td><?=(isset($row['COMMISSION_PCT']))? $row['COMMISSION_PCT'] : '&nbsp;'?></td>
    	<td><?=(isset($row['MANAGER_ID']))? $row['MANAGER_ID'] : '&nbsp;'?></td>
    	<td><?=(isset($row['DEPARTMENT_ID']))? $row['DEPARTMENT_ID'] : '&nbsp;'?></td>
    </tr>	
    <?php
    	$counter++; 
    	}
    }
    else  {
    
    ?>
    <tr>
    	<td colspan="12"><?php echo $this->language->_('No Record'); ?></td>
    </tr>
    <?php 
    }
    ?>
</table>
<br />
<div align="right"><?=$this->paginationControl($paginator,$paginator->getDefaultScrollingStyle(),'paging.phtml')?></div>