<h1><?php echo $this->language->_('Default Module, Index Controller, Test Action'); ?></h1>
<table width="90%" cellpadding="2" cellspacing="0" border="1">
    <tr>
    	<th><?php echo $this->language->_('No'); ?></th>
    	<th><?php echo $this->language->_('Employee Id'); ?></th>
    	<th><?php echo $this->language->_('First Name'); ?></th>
    	<th><?php echo $this->language->_('Last Name'); ?></th>
    	<th><?php echo $this->language->_('Email'); ?></th>
    	<th><?php echo $this->language->_('Phone Number'); ?></th>
    	<th><?php echo $this->language->_('Hire Date'); ?></th>
    	<th><?php echo $this->language->_('Job Id'); ?></th>
    	<th><?php echo $this->language->_('Salary'); ?></th>
    	<th><?php echo $this->language->_('Commision Percentage'); ?></th>
    	<th><?php echo $this->language->_('Manager Id'); ?></th>
    	<th><?php echo $this->language->_('Department Id'); ?></th>
    </tr>
    <?php
    //Zend_Debug::dump($this->paginator);
    //Zend_Debug::dump($this->rows); 
    if(count($this->paginator) > 0)
    {
    	foreach($this->paginator as $row) {
    		
    ?>
    <tr>
    	<td><?=$this->counter?></td>
    	<td><?=$row->EMPLOYEE_ID?></td>
    	<td><?=$row->FIRST_NAME?></td>
    	<td><?=$row->LAST_NAME?></td>
    	<td><?=$row->EMAIL?></td>
    	<td><?=$row->PHONE_NUMBER?></td>
    	<td><?=$row->HIRE_DATE?></td>
    	<td><?=$row->JOB_ID?></td>
    	<td><?=$row->SALARY?></td>
    	<td><?=(isset($row->COMMISSION_PCT))? $row->COMMISSION_PCT : '&nbsp;'?></td>
    	<td><?=(isset($row->MANAGER_ID))? $row->MANAGER_ID : '&nbsp;'?></td>
    	<td><?=(isset($row->DEPARTMENT_ID))? $row->DEPARTMENT_ID : '&nbsp;'?></td>
    </tr>	
    <?php
    	$this->counter++; 
    	}
    }
    else  {
    
    ?>
    <tr>
    	<td colspan="12"><?php echo $this->language->_('No Record'); ?></td>
    </tr>
    <?php 
    }
    ?>
</table>
<div align="right"><?=$this->paginationControl($this->paginator,'Elastic','paging.phtml')?></div>