<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	table {
		font-size: 14px !important;
	}

	.text-gray {
		color: gray !important;
	}

	.table-header {
		font-size: 16px !important;
		color: #fff !important;
		background-color: #0b549f !important;
	}

	#fa-angle-up:hover,
	#fa-angle-down:hover {
		color: #fff !important;
	}
</style>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->data['BG_REG_NUMBER'], $rand);
$encrypted_id = urlencode($encrypted);
$download = $this->language->_('Download');

$BG_REG_NUMBER = $this->data['BG_REG_NUMBER'];
// echo "<code>test = $test</code><BR>";

?>

<div class="row justify-content-center mt-3">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Bank Guarantee Detail') ?></h5>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">BG Number</label>
			</div>
			<div class="col-md-9">
				<?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2'])) {
					require_once 'Crypt/AESMYSQL.php';

					$AESMYSQL = new Crypt_AESMYSQL();
					$encryptedBgNumber = $AESMYSQL->encrypt($this->bgRegNumberOld, uniqid());
					$encodeEncrypted = urlencode($encryptedBgNumber);

					$lblBgNumber = implode('-', [substr($this->data['BG_OLD'], 0, 3), substr($this->data['BG_OLD'], 3, 6), substr($this->data['BG_OLD'], 9, 5), substr($this->data['BG_OLD'], 14, 4)]);

				?>
					<label><span class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></strong></span></span> (Amendemen dari BG No. <a href="javascript:void(0)" onclick="window.open('/vendorbglist/index/detail/bgnumb/<?= $encodeEncrypted; ?>')"><?= $lblBgNumber; ?></a>)</label></label>
				<?php } else { ?>
					<label class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></strong></label>
				<?php } ?>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">eForm Subject</label>
			</div>
			<div class="col-md-9">
				<label><strong><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></strong></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Bentuk Penerbitan'); ?></label>
			</div>
			<div class="col-md-9">
				<?php
				// 1 = Sertifikat
				// 2 = Elektronik
				$format = $this->data['BG_FORMAT'];

				if ($format == '1') {
					$paperUsed = $this->paperUsed;
					$nomorKertasArray = (count($paperUsed) > 2) ? [$paperUsed[0], $paperUsed[count($paperUsed) - 1]] : $paperUsed;
					$labelBentukPenerbitan = implode(' - ', [$this->language->_('Sertifikat Bank Garansi'), $this->language->_('Nomor Ref Kertas')]) . ' : ' . implode(' - ', $nomorKertasArray) . ' (' . implode(' ', [count($paperUsed), $this->language->_('Lembar')]) . ')';
				} else {
					$labelBentukPenerbitan = $this->language->_('Sertifikat Bank Garansi');
				} ?>

				<label><?= $labelBentukPenerbitan; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_("Bank Branch"); ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Status</label>
			</div>
			<div class="col-md-9">
				<?php if ($this->data['BG_STATUS'] == 15) : ?>
					<label><?= $this->language->_('Aktif') . " (" . $this->language->_('Tanggal Terbit') . " : " . date('d M Y', strtotime($this->data['BG_ISSUED'])) . ")" ?></label>
				<?php endif ?>
				<?php if ($this->data['BG_STATUS'] == 16) : ?>
					<label><?= $this->language->_('Berakhir') . " (" . $this->language->_('Tanggal Berakhir') . " : " . date('d M Y', strtotime($this->data['BG_OFFRISK_DATE'])) . ")" ?></label>
				<?php endif ?>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Suggestion Type') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->suggestion_type; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Jenis Penutupan</label>
			</div>
			<div class="col-md-9">
				<?php if ($this->data['BG_STATUS'] == 15) : ?>
					<label><?= "-"; ?></label>
				<?php endif ?>
				<?php if ($this->data['BG_STATUS'] == 16) : ?>
					<label><?= $this->arrStatusSettlement[$this->data['CLOSING_TYPE']]; ?>&nbsp;
						<?php
						if ($this->data['CLOSING_TYPE'] == '4') {
							require_once 'Crypt/AESMYSQL.php';

							$AESMYSQL = new Crypt_AESMYSQL();
							$encryptedBgNumber = $AESMYSQL->encrypt($this->bgRegNumberNew, uniqid());
							$encodeEncrypted = urlencode($encryptedBgNumber);
							$lblBgNumber = implode('-', [substr($this->data['BG_NUMBER_NEW'], 0, 3), substr($this->data['BG_NUMBER_NEW'], 3, 6), substr($this->data['BG_NUMBER_NEW'], 9, 5), substr($this->data['BG_NUMBER_NEW'], 14, 4)]);
						?>

							(BG No. <a href="javascript:void(0)" onclick="window.open('/vendorbglist/index/detail/bgnumb/<?= $encodeEncrypted; ?>')"><?= $lblBgNumber; ?></a>)
						<?php }
						?>
					</label>
				<?php endif ?>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Applicant') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
                                <?php
									$bg = [$this->data['CUST_CP'], $this->data['CUST_CONTACT_NUMBER'], $this->data['CUST_EMAIL']];
									$temp = [$this->tbgdata['CUST_CP'], $this->tbgdata['CUST_CONTACT_NUMBER'], $this->tbgdata['CUST_EMAIL']];
									if (!empty(array_diff($temp, $bg))) { ?>
                                    &nbsp;
                                    <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                <?php } ?>
                            <?php } ?> -->
					</h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label class="text-gray">Company</label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Type of Bank Guarantee') ?></h5>
				</div>

				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Type of Bank Guarantee') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= ($this->data['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->data['USAGE_PURPOSE_DESC'])) : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
                                <?php
									$bg = [$this->data['BG_AMOUNT'], $this->data['TIME_PERIOD_START'], $this->data['TIME_PERIOD_END']];
									$temp = [$this->tbgdata['BG_AMOUNT'], $this->tbgdata['TIME_PERIOD_START'], $this->tbgdata['TIME_PERIOD_END']];
									if (!empty(array_diff($temp, $bg))) { ?>
                                    &nbsp;
                                    <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                <?php } ?>
                            <?php } ?> -->
					</h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">

					<div class="row pt-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Bank Guarantee Nominal</label>
						</div>
						<div class="col-sm-7">
							<div class="input-group" id="">
								<label class="text-danger"><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Start From</label>
						</div>
						<div class="col-sm-9 form-inline" style="float:left">
							<label>
								<?php
								$date_start = strtotime($this->data['TIME_PERIOD_START']);
								$date_end = strtotime($this->data['TIME_PERIOD_END']);
								$diff = $date_end - $date_start;
								$day = ($diff / 60 / 60 / 24) + 1;
								if (empty($this->data['TIME_PERIOD_START'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_start);
								}
								echo ' <span class="mx-2">' . $this->language->_('to') . '</span> ';
								if (empty($this->data['TIME_PERIOD_END'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_end);
								}
								echo '<i class="ml-3 text-gray">(' . $day . ' ' . $this->language->_('days') . ')</i>';
								?>
							</label>
						</div>
					</div>
					<div class="form-group row" style="">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Claim Period</label>
						</div>
						<div class="col-sm-9">
							<!-- <label><?= date('d M Y', strtotime('+' . $this->BG_CLAIM_PERIOD . ' days', strtotime($this->data['TIME_PERIOD_END']))) . PHP_EOL; ?></label> -->
							<label><?= date('d M Y', strtotime($this->data['BG_CLAIM_DATE'])); ?></label>

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Recipient') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
                                <?php
									$bg = [
										$this->data['RECIPIENT_NAME'],
										$this->data['RECIPIENT_ADDRES'],
										$this->data['RECIPIENT_CITY'],
										$this->data['RECIPIENT_OFFICE_NUMBER'],
										$this->data['RECIPIENT_CP'],
										$this->data['RECIPIENT_CONTACT'],
										$this->data['RECIPIENT_EMAIL'],
									];
									$temp = [
										$this->tbgdata['RECIPIENT_NAME'],
										$this->tbgdata['RECIPIENT_ADDRES'],
										$this->tbgdata['RECIPIENT_CITY'],
										$this->tbgdata['RECIPIENT_OFFICE_NUMBER'],
										$this->tbgdata['RECIPIENT_CP'],
										$this->tbgdata['RECIPIENT_CONTACT'],
										$this->tbgdata['RECIPIENT_EMAIL'],
									];
									if (!empty(array_diff($temp, $bg))) { ?>
                                    &nbsp;
                                    <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                <?php } ?>
                            <?php } ?> -->
					</h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Recipient Name') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Phone Office Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
					<?php if ($this->data['SP_OBLIGEE_CODE']) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Special Obligee Code') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></label>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Guarantee Transaction') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2'])) { ?>
                                <?php if (!empty(array_diff($this->guarantedTransanctions, $this->guarantedTransanctionsT))) { ?>
                                    &nbsp;
                                    <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                <?php } ?>
                            <?php } ?> -->
					</h5>
				</div>
				<?= $this->action('index', 'guarantedtransaction', 'eformworkflow', array('bgregnumber' => $this->data['BG_REG_NUMBER'])); ?>
			</div>
		</div>

		<div class="row" style="display:none;">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Counter Warranty') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
                                <?php if ($this->warranty_type == '1' && !empty($this->fullmemberT)) { ?>
                                    <?php if (!empty(array_diff_assoc($this->fullmemberA, $this->fullmemberT))) { ?>
                                        &nbsp;
                                        <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                    <?php } ?>
                                <?php } elseif ($this->warranty_type == '2') {
										$owner = [];
										$ownertemp = [];
										if (!empty($this->owner1)) {
											array_push($owner, $this->owner1);
											array_push($owner, $this->amountowner1);
											array_push($ownertemp, $this->tamountowner1);
											array_push($ownertemp, $this->tamountowner1);
										}
										if (!empty($this->owner2)) {
											array_push($owner, $this->owner2);
											array_push($owner, $this->amountowner2);
											array_push($ownertemp, $this->tamountowner2);
											array_push($ownertemp, $this->tamountowner2);
										}
										if (!empty($this->owner3)) {
											array_push($owner, $this->owner3);
											array_push($owner, $this->amountowner3);
											array_push($ownertemp, $this->tamountowner3);
											array_push($ownertemp, $this->tamountowner3);
										} ?>
                                    <?php if (!empty(array_diff($temp, $bg))) { ?>
                                        &nbsp;
                                        <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                    <?php } ?>
                                <?php } ?>
                            <?php } ?> -->
					</h5>
				</div>

				<div style="padding-left:2%;padding-right: 2%;">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Counter Warranty Type</label>
						</div>
						<div class="col-sm-9">
							<label><?php
									echo $this->warranty_type_text_new; ?></label>

						</div>
					</div>
					<!-- type1 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '1') {
						if (false) { ?>
							<div id="wrType1">
								<div class="form-group row">
									<div class="col-sm-12">
										<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
											<thead>
												<tr height="45px">
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Own Account </th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
													<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
												</tr>
											</thead>
											<?php foreach ($this->fullmember as $vl) { ?>
												<tr>
													<td>
														<?php
														if ($vl['FLAG'] == '1') {
															echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
														} else {
															echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';
														?>
															<i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i>
														<?php } ?>
													</td>
													<td>
														<?php echo $vl['ACCT']; ?>
													</td>
													<td><?php echo $vl['NAME']; ?></td>
													<td>IDR</td>
													<td><?= number_format($vl['AMOUNT'], 2); ?>
													</td>
												</tr>

											<?php } ?>
										</table>
									</div>

								</div>

							</div>
					<?php }
					} ?>

					<!-- type2 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '2') { ?>
						<div id="wrType2">
							<div id="listwr" style="width: 100%">
								<div id="wherelist-1">
									<?php if (!empty($this->owner1)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 1</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner1; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Counter Nominal'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format(str_replace(",", "", $this->amountowner1), 2); ?></label>
											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner2)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 2</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner2; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>

											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner3)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 3</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner3; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>

											</div>
										</div>
									<?php } ?>


								</div>
							</div>

						</div>

					<?php } ?>

					<!-- type3 -->

					<?php if (false) :
						if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
							<div id="wrType3">
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Insurance Name</label>
									</div>
									<div class="col-sm-9">
										<label><?php
												echo $this->data["CUST_NAME"]; ?></label>

									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Insurance Branch</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->insuranceBranch; ?></label>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Principle Agreement Number</label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->principleData["Principle Agreement Number"]; ?></label>
										<label class="px-5">(<?= date('d M Y', strtotime($this->principleData["Principle Agreement Granted Date"])); ?>)</label>
										<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Counter Guarantee Number</label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->principleData["Counter Guarantee Number"]; ?></label>
										<label class="px-5">(<?= date('d M Y', strtotime($this->principleData["Counter Guarantee Granted Date"])); ?>)</label>
										<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
									</div>
								</div>

								<?php if (false) { ?>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-9" style="padding-right: 0px;">
											<div class="input-group" id="">

												<label> <?php
														echo 'No. ' . $this->PrincipalAgreement; ?></label>
												<label><?php
														echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
												&nbsp;
												&nbsp;
												<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
											</div>
										</div>

									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">

												<label><?php
														echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

											</div>
										</div>
									</div>
								<?php } ?>
							</div>
					<?php }
					endif ?>
				</div>
			</div>
		</div>

		<?php if (false) { ?>
			<div class="row mt-3">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<div class="row">
							<div class="col-md-6">
								<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?>
									<!-- Pengecekan Header -->
									<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
										<?php
												$bg = [$this->tbgdata['FEE_CHARGE_TO']];
												$temp = [$this->data['FEE_CHARGE_TO']];
												$diff = array_diff($temp, $bg);
												if (!empty($diff)) { ?>
											&nbsp;
											<span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
										<?php } ?>
									<?php } ?> -->
								</h5>
							</div>
						</div>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2 pb-1">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">All Fee are charge to<strong class="formreq">
										<font color="red">&nbsp;*</font>
									</strong></label>
							</div>
							<div class="col-sm-9">
								<label><?php
										echo $this->acct . '(IDR) / ' . $this->bankname . ' / ' . $this->src_name; ?></label>
							</div>
						</div>
						<?php if ($this->warranty_type != '3') { ?>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Bank Provision Fee</label>
								</div>
								<div class="col-sm-7">
									<label><?= number_format($this->cash_collateral["CHARGES_PCT"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2) ?>)</label>

								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Bank Administration Fee</label>
								</div>
								<div class="col-sm-7">
									<label>IDR <?= number_format($this->data["ADM_FEE"], 2) ?></label>

								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Bank Stamp Fee</label>
								</div>
								<div class="col-sm-7">
									<label>IDR <?= number_format($this->data["STAMP_FEE"], 2) ?></label>

								</div>
							</div>
						<?php } else { ?>
							<div class="form-group row">
								<div class="col-sm-3"><label for="" class="text-gray col-form-label">Total Fee</label></div>
								<div class="col-sm-9"><label>(as determined by insurance)</label></div>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>
		<?php } ?>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Format and Language') ?>
						<!-- Pengecekan Header -->
						<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->tbgdata)) { ?>
                                <?php
									$bg = [$this->tbgdata['BG_PUBLISH'], $this->tbgdata['BG_FORMAT']];
									$temp = [$this->data['BG_PUBLISH'], $this->data['BG_FORMAT']];
									$this->bankFormatNumber == 2
										? array_push($temp, $this->data['SPECIAL_FORMAT_DOC'])
										: array_push($temp, $this->data['BG_LANGUAGE']);
									$this->bankFormatNumber == 2
										? array_push($bg, $this->tgbdata['SPECIAL_FORMAT_DOC'])
										: array_push($bg, $this->tbgdata['BG_LANGUAGE']);
									$diff = array_diff($temp, $bg);
									if (!empty($diff)) { ?>
                                    &nbsp;
                                    <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                <?php } ?>
                            <?php } ?> -->
					</h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Publishing Form</label>
						</div>
						<div class="col-sm-7">
							<label><?php
									echo $this->publishForm; ?></label>

						</div>
					</div>
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Bank Guarantee Format</label>
						</div>
						<div class="col-sm-7">
							<label>
								<?php
								echo $this->bankFormat;
								if ($this->bankFormatNumber == 2) {
									if (false) { ?>
										<a href="/eform/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>
										</a>
								<?php }
								} ?>
							</label>
						</div>
					</div>

					<?php if ($this->bankFormatNumber == 1) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Language</label>
							</div>
							<div class="col-sm-9">
								<label><?php
										echo $this->languagetext; ?></label>

							</div>
						</div>
					<?php } ?>
					<br>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div style="padding-left:2%" id="sertifikatBG">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Format Disetujui </label>
						</div>
						<div class="col-sm-8 d-flex align-items-center">
							<label class="col-form-label">BG_NO_<?= str_replace('-', '', $this->data['BG_NUMBER']); ?></label>&nbsp;&nbsp;
							<form method="POST" action="<?= $this->url(['module' => $this->modulename, 'controller' => 'index', 'action' => 'detail']); ?>">
								<button type="submit" name="certfinal" value="1" class="btn bg-transparent p-0 m-0">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</button>
							</form>
							<!-- <button onclick="location.href = 'javascript:void(0)';" name="download" value="1" class="btn bg-transparent p-0 m-0">
								<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
								</svg>
							</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-12">
				<label for="">Lihat <a href="javascript:void(0)" onclick="javascript:openwindow('/preliminary/index/view/bgnumb/<?= $this->data['BG_REG_NUMBER']; ?>',900,600);"><u>Dokumen Awal Prinsipal</u></a></label>
			</div>
		</div>

		<?php if (false) {
			if (count($this->othersAttachment) > 0) { ?>
				<div class="row">
					<div class="col-md-12 mb-3" style="height: auto; position: relative;">
						<div class="padding-header-cust">
							<h5><?= $this->language->_('Others Attachment Documents') ?>
								<!-- Pengecekan Header -->
								<!-- <?php if (in_array($this->data['CHANGE_TYPE'], ['1', '2']) && !empty($this->othersAttachmentT)) { ?>
                                    <?php
											$temp = [
												$this->othersAttachment[0]['BG_FILE'],
												$this->othersAttachment[0]['FILE_NOTE'],
												$this->othersAttachment[0]['INDEX'],
											];
											$bg = [
												$this->othersAttachmentT[0]['BG_FILE'],
												$this->othersAttachmentT[0]['FILE_NOTE'],
												$this->othersAttachmentT[0]['INDEX'],
											];
											if (!empty(array_diff($temp, $bg))) { ?>
                                        &nbsp;
                                        <span style="font-size: 0.8em;" class="bg-white px-2 border border-danger rounded-circle"><i class="text-danger">i</i></span>
                                    <?php } ?>
                                <?php } ?> -->
							</h5>
						</div>
						<div style="padding-left:2%" class="mt-3">
							<?php foreach ($this->othersAttachment as $file) {

								//trim file name 

								$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
								$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
								$fileName = substr($file["BG_FILE"], $getLength);

								// end trim file name
							?>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Attachment</label>
									</div>
									<div class="col-sm-9 d-flex align-items-center">
										<label class="m-0"><?= $fileName; ?></label>
										<button type="button" onclick="location.href = '/eform/downloadfile/index/bgnumb/<?= '268312345601F4201' ?>/download/<?= $file['INDEX'] ?>';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

											<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
											</svg>

										</button>
									</div>
								</div>
							<?php } ?>

						</div>
					</div>
				</div>
		<?php }
		} ?>

	</div>
</div>

<?php
$back = $this->language->_('Back');
?>

<div class="col-md-12 mt-3" align="center">
	<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/vendorbglist'" type="button">
</div>

<script>
	$(document).ready(function() {
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	});

	function historyShow() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#sertifikatBG').show();
	}

	function historyHide() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	}
</script>