<script language="javascript" type="text/javascript">
	function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, ACBENEF_EMAIL, BANK_CODE, BANK_NAME,BENEFICIARY_ID)
	{
		window.opener.document.Form.ACBENEF.value 				= ACBENEF;
		window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
		window.opener.document.Form.ACBENEF_BANKNAME.value 		= ACBENEF_BANKNAME;
		window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
		window.opener.document.Form.BANK_CODE.value 			= BANK_CODE;
		window.opener.document.Form.BANK_NAME.value 			= BANK_NAME;
		window.opener.document.Form.BENE_ID.value 	= BENEFICIARY_ID;
		window.opener.document.getElementById("ACBENEF").readOnly  = true;
		window.opener.document.getElementById("ACBENEF_BANKNAME").readOnly  = true;
		//disable button if get benef from account book

	  opener.focus();
	  self.close();
	}
	</script>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
				<div class="portlet-body form">
					<?php $bankname = $this->language->_('Bank Name'); ?>
    <?php $bankcode = $this->language->_('Bank Code'); ?>
    <?php $country = $this->language->_('Country'); ?>
    <?php $setfilter = $this->language->_('Set Filter'); ?>
    <?php $clearfilter = $this->language->_('Clear Filter'); ?>
						<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

						  	<div class="panel panel-default">
							  	<!-- Default panel contents -->
							  	<div class="panel-heading">
									<strong><?php echo $this->language->_('Filter');?></strong>
								</div>
								<div class="panel-body">
									<div class="row col-md-12 form-group">
										<?php $bankname = $this->language->_('Beneficiary Account'); ?>
		    							<label class="control-label col-md-4 textBlack"><?php echo $this->formLabel('bank_name',$bankname); ?></label>
		    							<div class="col-md-6">
					                		<?php echo $this->formText('benef_acct',$this->benef_acct,array('class'=>'form-control'))?>
					             		</div>

					              	</div>
					              	<div class="row col-md-12 form-group">
										<?php $bankcode = $this->language->_('Beneficiary Account Name'); ?>
		    							<label class="control-label col-md-4 textBlack"><?php echo $this->formLabel('bank_name',$bankcode); ?></label>
		    							<div class="col-md-6">
					                		<?php echo $this->formText('benef_name',$this->benef_name,array('class'=>'form-control'))?>
					             		</div>
					              	</div>

								</div>
							</div>

						   <table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
						    <tr><td colspan="3" align="left">
						      <?php $setfilter = $this->language->_('Set Filter'); ?>
						      <?php $filter_clear = $this->language->_('Clear Filter'); ?>
						      <?php $nodata = $this->language->_('No Data'); ?>
							  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
							  <?php echo $this->formSubmit('filter_clear',$filter_clear,array('class'=>'btngreen hov')); ?>
						    </td></tr>
						  </table>
						</form>

					</div>
			</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
	<table  cellpadding="2" cellspacing="0"  class="table table-sm table-striped">
    <tr class="headercolor">
    	<th class="tablehead" width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>

    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
  {
          $i=0;

	  foreach($this->paginator as $row) {

		$td_css = ($i%2==0)?'tbl-evencontent textBlack':'tbl-oddcontent textBlack';

		$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
		$button = '<a href="javascript:confirmation(\'Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="inputbtn">Delete</a>';

		$delete = '';
		if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = 'Request to delete';
		else $delete = $button;
		$approve = $row['BENEFICIARY_ISAPPROVE']?'Approved':'Not Approved';

		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>
				<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ACCOUNT'].'\', \''.$row['BENEFICIARY_ALIAS'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['BENEFICIARY_EMAIL'].'\', \''.$row['BANK_CODE'].'\', \''.$row['BANK_NAME'].'\', \''.$row['BENEFICIARY_ID'].'\')">'.$row['BENEFICIARY_ACCOUNT'].'</a></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
				<td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['BANK_CODE'].'</td>


			</tr>';

				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent textBlack" align="center"> - no data - </td></tr>';
	}
    ?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />

			</td>
			</tr>
		</tbody>
	</table>
</form>
