<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Suggestion - User Limit'); ?></div>
<?php
if($this->changes_id){
?>
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
  <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Repair User Limit for the following user'); ?></strong></th></tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User Login')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->user_id; ?></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('Company Id')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->cust_id; ?></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
  </tr>
</table>
<br />
<div><em><?php echo $this->language->_('Repair User Limit for the following Accounts'); ?>.<br />
		<?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill limit field with empty value or zero to remove user limit'); ?>
		</em></div>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>
<br />
<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','changes_id'=>$this->changes_id),null,true)?>">
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  <tr>
    <th width="3%" valign="top" class="tablehead">No</th>
    <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
    												   )
  						   )?>		
  	<th valign="top" class="tablehead">Limit</th>
  </tr>
<?php
if(count($this->data))
{
  $i = 0;
  $counter = 1;
  foreach($this->data as $row)
  {
	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';	
		  
	$option = array('maxlength'=>20,
					'class'=>'form-control col-md-8',
				  'size'=>25,
				  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
				  'onblur'=>'NumFrmtUS(this.value,this.id)',
				  'onkeypress'=>'return forceDecimalOCBC(event)');
	
	$maxlimit = $row['MAXLIMIT']?Application_Helper_General::displayMoney($row['MAXLIMIT']):'';
	
	if($row['CCY_ID']!='IDR' && $row['CCY_ID']!='USD'){
      $row['CCY_ID'] = Application_Helper_General::getCurrCode($row['CCY_ID']);
    }
	
	echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
			<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
			<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
			<td class="'.$td_css.'" >'.$this->formText("maxlimit[{$row['ACCT_NO']}]",$maxlimit,$option).'</td>
		  </tr>';
    $i++;
    $counter++;
  }
}else{ echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> '.$this->language->_('No Record Found (company does not have source account)').' </td></tr>'; }
?>
</table>
<?php
}else{
?>
<div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<?php } ?>
<br />
		<input type="hidden" value="<?=$this->cust_id?>" name="cust_id">
		<input type="hidden" value="<?=$this->user_id?>" name="user_id">
    	<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'suggestiondetail','action'=>'index','changes_id'=>$this->changes_id),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
		<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>&nbsp;&nbsp;
		<input name="reset" value="<?php echo $this->language->_('Reset'); ?>" onclick="refreshwindow();" type="reset" class="btnwhite hov">
</form>