<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 13px;
		width: 13px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
<link href="/css/select2_353.min.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Line Facility'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Onboarding'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table td {
		vertical-align: top !important;
	}

	button.is-invalid {
		border-color: #dc3545 !important;
	}

	input[type="submit"]:disabled {
		cursor: not-allowed;
		background-color: #8fc4fb;
	}

	.input-medium {
		width: 320px !important;
	}

	.input-date {
		width: 120px !important;
	}

	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.gj-datepicker {
		width: 160px !important;
	}

	.input-group-prepend,
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}

	.select2-container {
		padding: 0 !important;
	}

	.select2-container .select2-choice.is-invalid {
		border: 1px solid red !important;
	}
</style>

<h5><?= $this->language->_('Line Facility Onboarding'); ?></h5>

<form action="" method="post" enctype="multipart/form-data">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<table class="table-hover my-3" cellpadding="5" style="width:100%">
				<tr>
					<td width="300"><?= $this->language->_('Customer'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td width="10">:</td>
					<td>
						<select name="cust_id" id="cust_id" class="form-control select2" onchange="customer(this)" style="width:100%">
							<option value=""></option>
							<?php foreach ($this->custIdArr as $key => $value) : ?>
								<option value="<?= $key; ?>" <?= ($this->cust_id == $key) ? 'selected' : ''; ?>><?= strtoupper($value) . ' (' . $key . ')'; ?></option>
							<?php endforeach; ?>
						</select>
						<small class="text-danger" id="cust_id_err"><?= $this->errDesc['cust_id']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Collectibility Code'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('collect_code', $this->collect_code, ['class' => 'form-control', 'readonly' => true]); ?>
						<!-- <div class="d-flex">
					<?= $this->formText('collect_code', $this->collect_code, ['class' => 'form-control', 'disabled' => true]); ?>
					<button type="button" class="btn btngreen btn-sm"><?= $this->language->_('Check'); ?></button>
					</div> -->
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Segmentation'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<select name="cust_segment" id="cust_segment" class="form-control" onchange="segmentation(this)" style="width:100%">
							<option value="">-- <?= strtoupper($this->language->_('Select Segmentation')); ?> --</option>
							<?php foreach ($this->segmentationArr as $key => $value) : ?>
								<option value="<?= $key; ?>" <?= ($this->cust_segment == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
							<?php endforeach; ?>
						</select>
						<small class="text-danger"><?= $this->errDesc['cust_segment']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Jenis Pengikatan'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<select name="agreement_type" id="agreement_type" class="form-control" onchange="segmentation(this); check_button()" style="width:100%">
							<option value="">-- <?= strtoupper($this->language->_('Select Jenis Pengikatan')); ?> --</option>
							<?php foreach ($this->agreementArr as $key => $value) : ?>
								<option value="<?= $key; ?>" <?= ($this->agreement_type == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
							<?php endforeach; ?>
						</select>
						<small class="text-danger"><?= $this->errDesc['agreement_type']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('pks_number', $this->pks_number, ['class' => 'form-control', 'onkeyup' => 'check_button()']); ?>
						<small class="text-danger"><?= $this->errDesc['pks_number']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<input type="file" name="pks_file" id="pks_file" class="form-control input-file" onchange="check_button()">
						<div class="d-flex justify-content-between mt-1">
							<small class="text-danger" id="validation_error"><?= $this->errDesc['pks_file']; ?></small>
							<small id="information_file">Allowed file type: pdf</small>
						</div>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Start Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('pks_start_date', $this->pks_start_date, ['class' => 'form-control input-date', 'readonly' => true, 'onchange' => 'check_button()']); ?>
						<small class="text-danger"><?= $this->errDesc['pks_start_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Expired Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('pks_exp_date', $this->pks_exp_date, ['class' => 'form-control input-date', 'readonly' => true, 'onchange' => 'check_button()']); ?>
						<small class="text-danger"><?= $this->errDesc['pks_exp_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Claim Payment Deadline (when default)'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div class="d-flex">
							<?= $this->formText('claim_deadline', $this->claim_deadline, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px', 'onkeyup' => 'check_button()']); ?>
							<span class="ml-3"><?= $this->language->_('hari kerja'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['claim_deadline']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Document Submission Deadline'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div class="d-flex">
							<?= $this->formText('doc_deadline', $this->doc_deadline, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px', 'onkeyup' => 'check_button()']); ?>
							<span class="ml-3"><?= $this->language->_('hari kerja'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['doc_deadline']; ?></small>
					</td>
				</tr>
				<tr id="gracePeriod" style="display: none">
					<td><?= $this->language->_('Grace Period to recover Marginal Deposit'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div class="d-flex">
							<?= $this->formText('grace_period', $this->grace_period, ["id" => "grace_period", 'class' => 'form-control', 'type' => 'number', 'style' => 'width:160px', "disabled" => "disabled", 'onkeyup' => 'check_button()']); ?>
							<span class="ml-3"><?= $this->language->_('hari kerja'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['grace_period']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Fee Will be Debited from'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<select name="fee_debited" id="fee_debited" class="form-control" onchange="fee_debited_check()">
							<option value="1">Pemohon</option>
							<option value="2">Asuransi</option>
							<?php if ($this->fee_debited) { ?>
								<script type="text/javascript">
									document.querySelector("#fee_debited").value = '<?= $this->fee_debited; ?>'
									fee_debited_check();
								</script>
							<?php } ?>
						</select>
						<!-- <label class="radiocontainer"><?= $this->language->_('Pengaju'); ?>
							<input type="radio" value="1" name="fee_debited" id="fee_debited_1" onclick="fee_debited_check()" <?= ($this->fee_debited == 1) ? 'checked' : '' ?> checked>
							<span class="checkmark"></span>
						</label>
						<label class="radiocontainer"><?= $this->language->_('Asuransi'); ?>
							<input type="radio" value="2" name="fee_debited" id="fee_debited_2" onclick="fee_debited_check()" <?= ($this->fee_debited == 2) ? 'checked' : '' ?>>
							<span class="checkmark"></span>
						</label> -->
						<?php if ($this->errDesc['fee_debited']) { ?>
							<br>
							<small class="text-danger"><?= $this->errDesc['fee_debited']; ?></small>
						<?php } ?>
					</td>
				</tr>
				<tr class="institution" style="display:none">
					<td><?= $this->language->_('Rekening Pembebanan Biaya'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<select name="debited_acct" id="debited_acct" class="form-control" onchange="check_button()">
							<option value="">-- <?= strtoupper($this->language->_('Pilih Rekening')); ?> --</option>
						</select>
						<small class="text-danger"><?= $this->errDesc['debited_acct']; ?></small>
					</td>
				</tr>
				<tr class="institution" style="display:none">
					<td><?= $this->language->_('Rekening Pembayaran Klaim '); ?></td>
					<td>:</td>
					<td>
						<?php //$this->formSelect('escrow_acct', "escrow_acct", ['class' => 'form-control', "required" => ""], $this->escrowArr); 
						?>
						<?php echo $this->formSelect('escrow_acct', $this->escrow_acct, array('class' => 'form-control'), $this->escrowArr); ?>
						<small class="text-danger"><?= $this->errDesc['escrow_acct']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Plafond Limit'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div class="input-group input-group-sm" style="width:200px; flex-wrap:nowrap;">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('plafond_limit', Application_Helper_General::displayMoney($this->plafond_limit), ['class' => 'form-control input-medium', 'style' => 'width:160px', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)", 'onkeyup' => 'check_marginal_deposit()']); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['plafond_limit']; ?></small>
					</td>
				</tr>
				<tr class="non-financial">
					<td><?= $this->language->_('Ticket Size'); ?></td>
					<td>:</td>
					<td>
						<div class="input-group input-group-sm" style="width:160px; flex-wrap:nowrap;">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('ticket_size', Application_Helper_General::displayMoney($this->ticket_size), ['id' => 'ticket_size_0', 'class' => 'form-control input-medium', 'readonly' => true, 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['ticket_size']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Ticket Size'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div>
							<select name="ticket_size" id="ticket_size" class="form-control" onchange="check_marginal_deposit(); checkTicket();">
								<option value="1" <?= ($this->ticket_size == 1) ? 'selected' : '' ?>><?= $this->language->_('% dari limit plafon'); ?></option>
								<option value="2" <?= ($this->ticket_size == 2) ? 'selected' : '' ?>><?= $this->language->_('Optimalkan pengunaan limit plafon'); ?></option>
							</select>
							<!-- <label class="radiocontainer"><?= $this->language->_('% dari limit plafon'); ?>

								<input type="radio" value="1" name="ticket_size" id="ticket_size_1" <?= ($this->ticket_size == 1) ? 'checked' : '' ?> onchange="check_marginal_deposit()" checked>
								<span class="checkmark"></span>
							</label>
							<label class="radiocontainer"><?= $this->language->_('Optimalkan pengunaan limit plafon'); ?>
								<input type="radio" value="2" name="ticket_size" id="ticket_size_2" <?= ($this->ticket_size == 2) ? 'checked' : '' ?> onchange="check_marginal_deposit()">
								<span class="checkmark"></span>
							</label> -->
						</div>
						<div id="percentticket" class="mt-2 d-flex align-items-center">
							<input type="text" name="percentplafond" id="percentplafond" value="<?= $this->percentplafond; ?>" style="width:100px!important; display: inline;" class="form-control" onfocus="iNumFrmtUS(this.value,this.id)" onblur="NumFrmtUS(this.value,this.id)" onkeypress="return onlyNumberKey(event);">
							<span id="percenttomoney" class="ml-2"></span>
							<div style="display: none; width: 25px; height: 25px; border: 1px solid red; border-radius: 100%" class="ml-2" id="percentplafonderricon">
								<div class="d-flex align-items-center justify-content-center text-danger" style="height: 100%">
									<span>i</span>
								</div>
							</div>
							<div style="display: none; height: 25px; border: 1px solid red;background-color: white" class="ml-2 px-3" id="percentplafonderrcontent">
								<div class="d-flex align-items-center justify-content-center text-danger" style="height: 100%">
									<span>Kurang dari 10% plafond limit</span>
								</div>
							</div>
							<!-- ?= $this->formText('percentplafond', $this->percentplafond, ['id' => 'percentplafond','max'=> '100','type' => 'number', 'style' => 'width:100px!important', 'class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?> -->
						</div>
						<?php if ($this->errDesc['fee_debited']) { ?>
							<br>
							<small class="text-danger"><?= $this->errDesc['fee_debited']; ?></small>
						<?php } ?>
					</td>
				</tr>

				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Marginal Deposit'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div class="d-flex align-items-center">
							<div class="input-group input-group-sm" style="width:200px; flex-wrap:nowrap;">
								<select name="ccy" id="ccy" class="form-control" style="background-color:#e9ecef; width:100px;" onchange="check_ccy()">
									<option value="IDR" <?= ($this->ccy == 'IDR') ? 'selected' : ''; ?>>IDR</option>
									<option value="% from Plafond" <?= ($this->ccy == '% from Plafond') ? 'selected' : ''; ?>>% from Plafond</option>
								</select>
								<?= $this->formText('marginal_deposit', Application_Helper_General::displayMoney($this->marginal_deposit), ['id' => 'marginal_deposit_1', 'class' => 'form-control input-medium', 'onkeyup' => 'check_marginal_deposit()', 'onkeypress' => "return onlyNumberKey(event)", 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
								<?= $this->formText('marginal_deposit', Application_Helper_General::displayMoney($this->marginal_deposit), ['id' => 'marginal_deposit_2', 'class' => 'form-control input-small', 'onkeyup' => 'check_marginal_deposit()', 'onkeypress' => "return onlyNumberKey(event)", 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)", 'style' => 'display:none']); ?>

							</div>
							<div style="display: none; width: 25px; height: 25px; border: 1px solid red; border-radius: 100%" class="ml-2" id="marginaldepositerricon">
								<div class="d-flex align-items-center justify-content-center text-danger" style="height: 100%">
									<span>i</span>
								</div>
							</div>
							<div style="position: relative">
								&nbsp;
								<div style="display: none; border: 1px solid red; color: red; position: absolute;width: 200px; background-color: white;" class="ml-2 px-3" id="marginaldepositerrcontent">
									<div class="d-flex align-items-center justify-content-center text-danger" style="height: 100%">
										<span>Kurang dari 10% plafond limit</span>
									</div>
								</div>
							</div>
						</div>
						<span id="percenttomoney1" class="mt-2"></span>
						<small class="text-danger" id="marginal_deposit_err"><?= $this->errDesc['marginal_deposit']; ?></small>
					</td>
				</tr>
				<!-- <tr>
					<td><?= $this->language->_('Bank Provision Fee'); ?></td>
					<td>:</td>
					<td>
						<div class="d-flex">
							<?= $this->formText('fee_provision', $this->fee_provision, ['class' => 'form-control', 'style' => 'width:160px', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
							<span class="ml-3"><?= $this->language->_('% (from BG Nominal)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['fee_provision']; ?></small>
					</td>
				</tr> -->
				<tr style="display: none;">
					<td colspan="3">&nbsp</td>
				</tr>
				<tr style="display: none" id="header_provisi">
					<td colspan="3" class="font-weight-bold"><?= $this->language->_('Pengenaan Biaya Provisi Bank Garansi Kontra Line Facility '); ?><span id="jenis_lf"></span></td>
				</tr>
				<tr style="display: none" id="isi_provisi">
					<td colspan="3" class="">
						<table class="my-3" cellpadding="5" style="width:auto">
							<thead>
								<tr>
									<td style="background-color: #0b549f; width: 200px" class="text-white font-weight-bold">Jenis Jaminan</td>
									<td style="background-color: #0b549f; width: 20%" class="text-white font-weight-bold">Aktif</td>
									<td style="background-color: #0b549f" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
									<td style="background-color: #0b549f" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Jaminan Pembayaran</td>
									<td>
										<label class="switch">
											<input type="checkbox" name="JAMINAN_PEMBAYARAN" onchange='checkjaminan(this)' checked>
											<span class="slider round"></span>
										</label>
									</td>
									<td><input type="text" class="form-control provision_percentage bumn" name="jaminan_pembayaran_bumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
									<td><input type="text" class="form-control provision_percentage nonbumn" name="jaminan_pembayaran_nonbumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
								</tr>
								<tr>
									<td>Jaminan Penawaran</td>
									<td>
										<label class="switch">
											<input type="checkbox" name="JAMINAN_PENAWARAN" onchange='checkjaminan(this)' checked>
											<span class="slider round"></span>
										</label>
									</td>
									<td><input type="text" class="form-control provision_percentage bumn" name="jaminan_penawaran_bumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
									<td><input type="text" class="form-control provision_percentage nonbumn" name="jaminan_penawaran_nonbumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
								</tr>
								<tr>
									<td>Jaminan Pelaksanaan</td>
									<td>
										<label class="switch">
											<input type="checkbox" name="JAMINAN_PELAKSANAAN" onchange='checkjaminan(this)' checked>
											<span class="slider round"></span>
										</label>
									</td>
									<td><input type="text" class="form-control provision_percentage bumn" name="jaminan_pelaksanaan_bumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
									<td><input type="text" class="form-control provision_percentage nonbumn" name="jaminan_pelaksanaan_nonbumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
								</tr>
								<tr>
									<td>Jaminan Uang Muka</td>
									<td>
										<label class="switch">
											<input type="checkbox" name="JAMINAN_UANG_MUKA" onchange='checkjaminan(this)' checked>
											<span class="slider round"></span>
										</label>
									</td>
									<td><input type="text" class="form-control provision_percentage bumn" name="jaminan_uang_muka_bumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
									<td><input type="text" class="form-control provision_percentage nonbumn" name="jaminan_uang_muka_nonbumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
								</tr>
								<tr>
									<td>Jaminan Pemeliharaan</td>
									<td>
										<label class="switch">
											<input type="checkbox" name="JAMINAN_PEMELIHARAAN" onchange='checkjaminan(this)' checked>
											<span class="slider round"></span>
										</label>
									</td>
									<td><input type="text" class="form-control provision_percentage bumn" name="jaminan_pemeliharaan_bumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
									<td><input type="text" class="form-control provision_percentage nonbumn" name="jaminan_pemeliharaan_nonbumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
								</tr>
								<tr>
									<td>Jaminan Lainnya (SP2D)</td>
									<td>
										<label class="switch">
											<input type="checkbox" name="JAMINAN_LAINNYA" onchange='checkjaminan(this)' checked>
											<span class="slider round"></span>
										</label>
									</td>
									<td><input type="text" class="form-control provision_percentage bumn" name="jaminan_lainnya_bumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
									<td><input type="text" class="form-control provision_percentage nonbumn" name="jaminan_lainnya_nonbumn" style="width: 100px;" onkeypress="return onlyNumberKey(event);"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr style="display: none;">
					<td colspan="3">&nbsp</td>
				</tr>
				<tr>
					<td colspan="3" class="font-weight-bold"><?= $this->language->_('Biaya Lainnya'); ?></td>
				</tr>

				<tr>
					<td><?= $this->language->_('Biaya Admin Bank'); ?></td>
					<td>:</td>
					<td>
						<div class="input-group input-group-sm" style="width:160px">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('fee_admin', Application_Helper_General::displayMoney($this->fee_admin), ['class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)", "onkeypress" => "return forceCurrencyOCBC(event)"]); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['fee_admin']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Biaya Meterai Bank'); ?></td>
					<td>:</td>
					<td>
						<div class="input-group input-group-sm" style="width:160px">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('fee_stamp', Application_Helper_General::displayMoney($this->fee_stamp), ['class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)", "onkeypress" => "return forceCurrencyOCBC(event)"]); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['fee_stamp']; ?></small>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<center>
		<?= $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/linefacility"']); ?>
		<?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class' => 'btngreen hov', 'disabled' => true]); ?>
	</center>
</form>

<script src="/js/select2_353.min.js"></script>
<script type="text/javascript">
	var bumn = null;
	var hasCollectCode = false;
	$('#percentplafond').blur(function() {

		if (parseFloat(($(this).val()).replace(/,/g, '')) > 100) {
			alert("Tidak boleh lebih dari 100");
			$(this).val('100');
			this.dispatchEvent(new Event("keyup"));
			this.dispatchEvent(new Event("blur"));
		}

		if (parseFloat(($(this).val()).replace(/,/g, '')) <= 0) {
			alert("Tidak boleh lebih kecil atau sama dengan 0");
			$(this).val('1');
			this.dispatchEvent(new Event("keyup"));
			this.dispatchEvent(new Event("blur"));
		}
	});

	$('#percentplafond').keyup(function() {
		percentToMoney();
		if (parseFloat($(this).val()) < 10) {

			document.querySelector("#percentplafonderricon").style.display = 'inline-block'
		} else {
			document.querySelector("#percentplafonderricon").style.display = 'none'
		}
	});

	$('#plafond_limit').keyup(function() {
		percentToMoney();
	});

	$('#marginal_deposit_2').keyup(function() {
		percentToMoney();
	});

	$('#percentplafond').blur(function(event) {
		onlyOneHundred(event.target);
		percentToMoney();
	});

	$('#marginal_deposit_2').blur(function(event) {
		onlyOneHundred(event.target);
		percentToMoney();
	});

	// $('#marginal_deposit_2').blur(function() {
	// 	if ($(this).val() > 100) {
	// 		alert("Tidak boleh lebih dari 100");
	// 		$(this).val('100');
	// 	} else if ($(this).val() < 10) {
	// 		alert("Tidak boleh kurang dari 10");
	// 		$(this).val('10');
	// 	}
	// });

	$('.provision_percentage').blur(function(event) {
		onlyOneHundred(event.target);
	});

	function onlyOneHundred(object) {
		let save_value = parseFloat(object.value.replace(/,/g, ""));

		if(isNaN(save_value)) {
			save_value = 0;
		}

		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});

		if (save_value > 100) {
			object.value = formattermoney.format(100);
		} else {
			object.value = formattermoney.format(save_value);
		}
	}

	function onlyNumberKey(evt) {
		var ASCIICode = (evt.which) ? evt.which : evt.keyCode
		if (ASCIICode == 46) {
			return true;
		}
		if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) {
			return false;
		}
		return true;
	}

	function numberWithCommas2(x, id) {
		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});

		var tag = '#' + id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
		// var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		var x = formattermoney.format(x);

		$(tag).val(x);

		// $("#amountowner1").val(x);
		//$("#insurance_amount").val(x);
		// $("#amount").val(x);

		//return 
	}

	function percentToMoney() {
		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});

		if (document.querySelector("#ticket_size").value == 1) {
			const plafond_limit = (document.querySelector("#plafond_limit").value) ? document.querySelector("#plafond_limit").value.replace(/,/g, '') : 1;
			const percent_limit = (document.querySelector("#percentplafond").value) ? document.querySelector("#percentplafond").value.replace(/,/g, '') : 1;
			const save_nominal = parseFloat(parseFloat(percent_limit) * parseFloat(plafond_limit) / 100);

			const formatted = formattermoney.format((isNaN(save_nominal) ? 0 : save_nominal));
			if (document.querySelector("#percentplafond").value && document.querySelector("#plafond_limit").value) {
				document.querySelector("#percenttomoney").textContent = `IDR ${formatted}`;
			} else {
				document.querySelector("#percenttomoney").textContent = ``;
			}
		} else {
			document.querySelector("#percenttomoney").textContent = `IDR ${formattermoney.format(parseFloat(document.querySelector("#plafond_limit").value.replace(/,/g, '')))}`;
		}

		if (document.querySelector("#ccy").value != 'IDR') {
			const plafond_limit = (document.querySelector("#plafond_limit").value) ? document.querySelector("#plafond_limit").value.replace(/,/g, '') : 1;
			const percent_limit = (document.querySelector("#marginal_deposit_2").value) ? document.querySelector("#marginal_deposit_2").value.replace(/,/g, '') : 1;
			const save_nominal = parseFloat(parseFloat(percent_limit) * parseFloat(plafond_limit) / 100);

			const formatted = formattermoney.format((isNaN(save_nominal) ? 0 : save_nominal));

			if (document.querySelector("#marginal_deposit_2").value && document.querySelector("#plafond_limit").value) {
				document.querySelector("#percenttomoney1").textContent = `IDR ${formatted}`;
			} else {
				document.querySelector("#percenttomoney1").textContent = ``;
			}
		}

		// numberWithCommas2(amount, id);
	}

	function checkjaminan(object) {
		const parent = object.parentElement.parentElement.parentElement
		const save_jaminan = parent.querySelectorAll("input[type='text']");

		save_jaminan.forEach((item, index) => {
			// if (bumn === '1') {
			// 	if (index === 1) {
			// 		return;
			// 	}
			// } else {
			// 	if (index === 0) {
			// 		return;
			// 	}
			// }

			if (object.checked) {
				item.readOnly = false;
				item.style.color = "#000"
			} else {
				item.readOnly = true;
				item.style.color = "#b3b2b2"
			}
		})
	}

	function checkTicket() {
		if (document.querySelector("#ticket_size").value == '2') {
			console.log("test")
			document.querySelector("#percentplafond").style.display = 'none'
			document.querySelector("#percentplafonderricon").style.display = 'none'
			document.querySelector("#percentplafond").value = ''
			document.querySelector("#percenttomoney").textContent = `IDR ${document.querySelector("#plafond_limit").value}`
			// $('#marginal_deposit_err').text('');
		}

		if (document.querySelector("#ticket_size").value == '1') {
			console.log("ting")
			document.querySelector("#percentplafond").style.display = 'inline'
			document.querySelector("#percentplafonderricon").style.display = 'none'
			document.querySelector("#percentplafond").value = ''
			document.querySelector("#percenttomoney").textContent = ""
			// $('#percentticket').show();
			// $('#marginal_deposit_err').text('');
		}
	}

	$(document).ready(function() {
		document.querySelector("#percentplafonderricon").addEventListener("mouseover", () => {
			document.querySelector("#percentplafonderrcontent").style.display = `inline-block`
		})
		document.querySelector("#percentplafonderricon").addEventListener("mouseleave", () => {
			document.querySelector("#percentplafonderrcontent").style.display = `none`
		})

		document.querySelector("#marginaldepositerricon").addEventListener("mouseover", () => {
			document.querySelector("#marginaldepositerrcontent").style.display = `inline-block`
		})
		document.querySelector("#marginaldepositerricon").addEventListener("mouseleave", () => {
			document.querySelector("#marginaldepositerrcontent").style.display = `none`
		})

		document.querySelector("#pks_file").addEventListener("change", (event) => {
			$('#validation_error').text('')
			if (event.target.files[0].type != 'application/pdf') {
				event.target.value = ''
				$('#validation_error').text('<?= $this->language->_('File must be type pdf') ?>')
			} else if (event.target.files[0].size > 10000000) {
				alert('Ukuran maksimal file 10 MB');
				event.target.value = ''
			}
			// if (event.target.files[0].size > 10000000) {
			// 	alert('Ukuran maksimal file 10 MB');
			// 	event.target.value = ''
			// event.target.setAttribute("hidden", '');
			// document.querySelector("#show_file").removeAttribute('hidden')
			// }
		})

		$('.select2').select2({
			placeholder: 'Search here',
			allowClear: true,
			// matcher: function(term, text) {
			// 	if (term === '') return null;
			// 	return text.toUpperCase().indexOf(term.toUpperCase()) != -1;
			// }
		});
		$('.select2-search-choice-close').remove();

		$('#pks_start_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4',
			// minDate: function() {
			// 	var date = new Date();
			// 	date.setDate(date.getDate());
			// 	return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			// },
		});
		$('#pks_exp_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4',
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
		});

		document.querySelector("#plafond_limit").addEventListener("keyup", () => {
			var cust_segment = $('#cust_segment').val();
			var plafond_limit = $('#plafond_limit').val();
			if (cust_segment != 4) {
				NumFrmtUS(plafond_limit, "ticket_size_0")
				// $('#ticket_size_0').val(plafond_limit);
			}
		})

		var segment = $('#cust_segment').val();
		segmentation(null, segment);

		var cust_id = "<?= $this->cust_id; ?>";
		customer(null, cust_id);

		var ccy = "<?= $this->ccy ?: 'IDR'; ?>";
		check_ccy(ccy);

		fee_debited_check();
	});

	function check_ccy(val = null) {
		if (val === null) {
			var ccy = $('#ccy').val();
		} else {
			var ccy = val;
		}
		if (ccy == 'IDR') {
			$('#marginal_deposit_1').show();
			$('#marginal_deposit_1').attr('disabled', false);
			$('#marginal_deposit_1').val('');
			$('#marginal_deposit_2').hide();
			$('#marginal_deposit_2').attr('disabled', true);
			$('#marginal_deposit_err').text('');
			$('#marginaldepositerricon').hide();
			document.querySelector("#percenttomoney1").style.display = 'none'
		} else {
			$('#marginal_deposit_1').hide();
			$('#marginal_deposit_1').attr('disabled', true);
			$('#marginal_deposit_2').show();
			$('#marginal_deposit_2').attr('disabled', false);
			$('#marginal_deposit_2').val('');
			$('#marginal_deposit_err').text('');
			$('#marginaldepositerricon').hide();
			document.querySelector("#percenttomoney1").style.display = 'block'
		}
		check_button();
	}

	function check_button() {
		var empty = 0;

		empty = $('#cust_id').val() == "" ? (empty + 1) : empty;
		empty = $('#collect_code').val() == "-" ? (empty + 1) : empty;
		empty = $('#cust_segment').val() == "" ? (empty + 1) : empty;
		empty = $('#agreement_type').val() == "" ? (empty + 1) : empty;
		empty = $('#pks_number').val() == "" ? (empty + 1) : empty;
		empty = $('#pks_file').val() == "" ? (empty + 1) : empty;
		empty = $('#pks_start_date').val() == "" ? (empty + 1) : empty;
		empty = $('#pks_exp_date').val() == "" ? (empty + 1) : empty;
		empty = $('#claim_deadline').val() == "" ? (empty + 1) : empty;
		empty = $('#plafond_limit').val() == "" ? (empty + 1) : empty;
		empty = parseInt($('#plafond_limit').val()) == "0" ? (empty + 1) : empty;

		if ($('#cust_segment').val() == "4") {
			empty = $('#doc_deadline').val() == "" ? (empty + 1) : empty;
			empty = $('#grace_period').val() == "" ? (empty + 1) : empty;

			if ($('#fee_debited_2').is(':checked')) {
				empty = $('#debited_acct').val() == "" ? (empty + 1) : empty;
			}

			if ($('#ccy').val() == "IDR") {
				empty = $('#marginal_deposit_1').val() == "" ? (empty + 1) : empty;
				empty = parseInt($('#marginal_deposit_1').val()) == "0" ? (empty + 1) : empty;
			} else {
				empty = $('#marginal_deposit_2').val() == "" ? (empty + 1) : empty;
				empty = parseInt($('#marginal_deposit_2').val()) == "0" ? (empty + 1) : empty;
			}
		}

		if (empty == 0) {
			$('#submit').attr('disabled', false);
		} else {
			$('#submit').attr('disabled', true);
		}
	}

	function customer(obj = null, cust = null) {
		var debited_acct = "<?= $this->debited_acct; ?>";
		var escrow_acct = "<?= $this->escrow_acct; ?>";
		var errDescCustId = "<?= $this->errDesc['cust_id']; ?>";
		if (cust === null) {
			var cust_id = $(obj).val();
		} else {
			var cust_id = cust;
		}

		hasCollectCode = false;

		$.ajax({
			url: "<?= $this->url(array('action' => 'checkcustomer')); ?>",
			method: "GET",
			dataType: "JSON",
			data: {
				cust_id: cust_id,
				onboarding: true,
			},
			success: function(response) {
				bumn = response.bumn;
				if (response.is_onboarding === true) {
					$('#cust_id').prev('.select2-container').children('.select2-choice').addClass('is-invalid');
					$('#cust_id_err').text("<?= $this->language->_('No changes allowed for this record while awaiting review and approval'); ?>");
					$('#submit').attr('disabled', true);
				} else {
					if (errDescCustId) {
						$('#cust_id_err').text(errDescCustId);
					} else {
						$('#cust_id').prev('.select2-container').children('.select2-choice').removeClass('is-invalid');
						$('#cust_id_err').text('');
						// $('#submit').attr('disabled', false);
						check_button();
					}
				}

				if (response.collect_code != '-')
					hasCollectCode = true;

				const getParent = document.querySelector('#collect_code').parentElement;

				if (!hasCollectCode) {

					if (getParent.childElementCount > 1) {
						getParent.lastElementChild.remove();
					}

					const createAlert = document.createElement('div');
					createAlert.classList.add('alert-danger', 'p-1', 'mt-2');
					createAlert.textContent = 'Collectibility code tidak boleh kosong, silahkan update data collectibility code nasabah.';

					if ($('#cust_id').val()) {
						getParent.appendChild(createAlert);
					}

				} else {
					if (getParent.childElementCount > 1) {
						getParent.lastElementChild.remove();
					}
				}

				$('#collect_code').val(response.collect_code);
				var cust_segment = $('#cust_segment').val();
				var agreement_type = $('#agreement_type').val();

				var custModel = response.cust_model

				document.querySelector("#jenis_lf").textContent = (response.cust_model == 2) ? "Asuransi" : "Debitur";

				if (response.cust_model) {
					$.ajax({
						url: "<?= $this->url(array('action' => 'getprovision')); ?>",
						method: "GET",
						dataType: "JSON",
						data: {
							cust_model: response.cust_model
						},
						success: function(response) {

							document.querySelector("#fee_admin").value = response['others'][0].CHARGES_AMT;
							document.querySelector("#fee_admin").dispatchEvent(new Event("blur"));
							document.querySelector("#fee_stamp").value = response['others'][1].CHARGES_AMT;
							document.querySelector("#fee_stamp").dispatchEvent(new Event("blur"));

							// console.log(response)
							let hitung_global = 1;
							let hitung_bumn = 0;
							let hitung_nonbumn = 6;
							document.querySelectorAll(".provision_percentage").forEach(item => {
								document.querySelector("#header_provisi").style.display = "table-row"
								document.querySelector("#header_provisi").previousElementSibling.style.display = "table-row"
								document.querySelector("#isi_provisi").style.display = "table-row"
								document.querySelector("#isi_provisi").nextElementSibling.style.display = "table-row"

								if (hitung_global % 2 == 1) { // bumn
									// item.value = '0.00'

									// if (bumn === '1')
									item.value = response["provision"][hitung_bumn].CHARGES_PCT

									if (response["provision"][hitung_bumn].ACTIVE == "N" || response["provision"][hitung_nonbumn].ACTIVE == "N") {
										item.parentElement.parentElement.children[1].querySelector("input").setAttribute("onclick", "return false")
										item.parentElement.parentElement.children[1].querySelector("input").checked = false
										// item.parentElement.parentElement.children[1].querySelector("input").checked = true
									} else {
										item.parentElement.parentElement.children[1].querySelector("input").removeAttribute("onclick")
										item.parentElement.parentElement.children[1].querySelector("input").checked = true
									}
									hitung_bumn++;
								} else { //nonbumn
									// item.value = '0.00'

									// if (bumn === '0') 
									item.value = response["provision"][hitung_nonbumn].CHARGES_PCT

									if (response["provision"][hitung_bumn - 1].ACTIVE == "N" || response["provision"][hitung_nonbumn].ACTIVE == "N") {
										item.parentElement.parentElement.children[1].querySelector("input").setAttribute("onclick", "return false")
										item.parentElement.parentElement.children[1].querySelector("input").checked = false
										// item.parentElement.parentElement.children[1].querySelector("input").checked = true
									} else {
										item.parentElement.parentElement.children[1].querySelector("input").removeAttribute("onclick")
										item.parentElement.parentElement.children[1].querySelector("input").checked = true
									}
									hitung_nonbumn++
								}

								hitung_global++;

								item.parentElement.parentElement.querySelector("input[type='checkbox']").dispatchEvent(new Event("change"));
							})

							document.querySelectorAll(".bumn").forEach(item => {
								item.parentElement.style.display = "table-cell"
								item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[3].style.display = "table-cell"
								// item.value = '0.00'
								// item.disabled = true;
								// item.style.color = "#b3b2b2"
							})

							document.querySelectorAll(".nonbumn").forEach(item => {
								item.parentElement.style.display = "table-cell"
								item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[2].style.display = "table-cell"
								// item.value = '0.00'
								// item.disabled = true;
								// item.style.color = "#b3b2b2"
							})

							if (bumn === '1') {
								if (custModel !== '2') {
									document.querySelectorAll(".nonbumn").forEach(item => {
										item.parentElement.style.display = "none"
										item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[3].style.display = "none"
										item.value = '0.00'
										// item.disabled = true;
										item.style.color = "#b3b2b2"
									})
								}
							} else {
								if (custModel !== '2') {
									document.querySelectorAll(".bumn").forEach(item => {
										item.parentElement.style.display = "none"
										item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[2].style.display = "none"
										item.value = '0.00'
										// item.disabled = true;
										item.style.color = "#b3b2b2"
									})
								}
							}

						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("Failed to get data");
						}
					});
				}

				if (response.cust_model == 2) { // 2=Insurance
					var input = '<input type="hidden" id="cust_segment_4" name="cust_segment" value="4">';
					var input2 = '<input type="hidden" id="agreement_type_hidden" name="agreement_type" value="99">';
					$('#cust_segment').val(4);
					$('#cust_segment').attr('disabled', true);
					$('#cust_segment').append(input);
					$('#grace_period').attr('disabled', false);
					$('#gracePeriod').show();
					$('#agreement_type').val('99');
					$('#agreement_type').attr('disabled', true);
					$('#agreement_type').append(input2);
					// $('.insurance').show();

					// if (cust_id != "") {
					// 	$.ajax({
					// 		url: "<?= $this->url(array('action' => 'checkescrowacct')); ?>",
					// 		method: "GET",
					// 		// dataType: "HTML",
					// 		data: {
					// 			cust_id: cust_id
					// 		},
					// 		success: function(response1) {
					// 			$('#escrow_acct').html(response1);
					// 		},
					// 		error: function(xhr, ajaxOptions, thrownError) {
					// 			alert("Failed to get escrow account, please try again");
					// 		}
					// 	});
					// }
				} else {
					cust_segment = (cust_segment == 4) ? '' : cust_segment;
					agreement_type = (agreement_type == 99) ? '' : agreement_type;
					$('#cust_segment').val(cust_segment);
					$('#cust_segment').attr('disabled', false);
					$('#cust_segment_4').remove();
					$('#grace_period').attr('disabled', true);
					$('#gracePeriod').hide();
					$('#agreement_type').val(agreement_type);
					$('#agreement_type').attr('disabled', false);
					$('#agreement_type_hidden').remove();
					// $('.insurance').show();

					// if (cust_id != "") {
					// 	$.ajax({
					// 		url: "<?= $this->url(array('action' => 'checkescrowacct')); ?>",
					// 		method: "GET",
					// 		// dataType: "HTML",
					// 		data: {
					// 			cust_id: cust_id
					// 		},
					// 		success: function(response1) {
					// 			$('#escrow_acct').html(response1);
					// 		},
					// 		error: function(xhr, ajaxOptions, thrownError) {
					// 			alert("Failed to get escrow account, please try again");
					// 		}
					// 	});
					// }

					var option = $('#cust_segment').children('option');
					$.each(option, function(index, element) {
						if (index == 4) element.style.display = "none";
					});
				}

				var segment = $('#cust_segment').val();
				segmentation(null, segment);

				// for debited acct
				var html = '<option value="">-- Pilih Rekening --</option>';
				var i;
				for (i = 0; i < response.debited_acct.length; i++) {
					var acct_no = response.debited_acct[i].ACCT_NO;
					// var acct_name = response.debited_acct[i].ACCT_NO + ' (' + response.debited_acct[i].CCY_ID + ') ' + response.debited_acct[i].ACCT_NAME + ' / ' + response.debited_acct[i].ACCT_DESC;
					var acct_name = response.debited_acct[i].ACCT_NO + ' (' + response.debited_acct[i].CCY_ID + ') / ' + response.debited_acct[i].ACCT_DESC;
					if (acct_no == debited_acct) {
						var selected = 'selected';
					} else {
						var selected = '';
					}
					html += '<option ' + selected + ' value="' + acct_no + '">' + acct_name + '</option>';
				}
				$('#debited_acct').html(html);

				// for escrow acct
				var html = '<option value="">-- Pilih Rekening --</option>';
				var i;
				for (i = 0; i < response.debited_acct.length; i++) {
					var acct_no = response.debited_acct[i].ACCT_NO;
					// var acct_name = response.debited_acct[i].ACCT_NO + ' (' + response.debited_acct[i].CCY_ID + ') ' + response.debited_acct[i].ACCT_NAME + ' / ' + response.debited_acct[i].ACCT_DESC;
					var acct_name = `${response.debited_acct[i].ACCT_NO} (${response.debited_acct[i].CCY_ID}) / ${response.debited_acct[i].ACCT_DESC}`;
					if (acct_no == escrow_acct) {
						var selected = 'selected';
					} else {
						var selected = '';
					}
					html += '<option ' + selected + ' value="' + acct_no + '">' + acct_name + '</option>';
				}
				$('#escrow_acct').html(html);

				checkTicket();
			}
		});
	}

	function segmentation(obj = null, val = null) {
		if (val === null) {
			var segment = $(obj).val();
		} else {
			var segment = val;
		}
		if (segment == 4) {
			$('.financial').show();
			$('.non-financial').hide();
			$('#ticket_size_0').attr('disabled', true);
			document.querySelector("#ticket_size").selectedIndex = 1
			$('#ticket_size_1').attr('disabled', false);
			$('#ticket_size_2').attr('disabled', false);
		} else {
			$('.financial').hide();
			$('.non-financial').show();
			$('#ticket_size_0').attr('disabled', false);
			document.querySelector("#ticket_size").selectedIndex = 0
			$('#ticket_size_1').attr('disabled', true);
			$('#ticket_size_2').attr('disabled', true);
		}
		check_button();
	}

	// function check_plafond_limit() {
	// 	console.log("test")
	// 	var cust_segment = $('#cust_segment').val();
	// 	var plafond_limit = $('#plafond_limit').val();
	// 	if (cust_segment != 4) {
	// 		$('#ticket_size_0').val(plafond_limit);
	// 	}
	// }

	function fee_debited_check() {
		// if ($('#fee_debited_1').is(':checked')) {
		if (document.querySelector("#fee_debited").value == '1') {
			$('.institution').hide();
		}
		// if ($('#fee_debited_2').is(':checked')) {
		if (document.querySelector("#fee_debited").value == '2') {
			$('.institution').show();
		}
		check_button();
	}

	function check_ticket_size() {
		var plafond_limit = $('#plafond_limit').val();
		plafond_limit = parseFloat(plafond_limit.replaceAll(',', ''));

		var ticket_size = $('#ticket_size').val();
		ticket_size = ticket_size.replaceAll(',', '');

		var percent10 = (10 / 100) * parseFloat(plafond_limit);
		if (parseFloat(ticket_size) > parseFloat(percent10)) {
			$('#ticket_size_err').text('Ticket Size is more than 10% plafond limit');
		} else {
			$('#ticket_size_err').text('');
		}
	}

	function check_marginal_deposit() {
		check_button();
		var ccy = $('#ccy').val();
		// if ($('#ticket_size_1').is(':checked')) {
		// if (document.querySelector("#ticket_size").value == '1') {
		var plafond_limit = $('#plafond_limit').val();
		plafond_limit = parseFloat(plafond_limit.replaceAll(',', ''));

		var marginal_deposit = $('#marginal_deposit_1').val();
		marginal_deposit = marginal_deposit.replaceAll(',', '');

		var percent10 = (10 / 100) * parseFloat(plafond_limit);
		if (ccy == 'IDR') {
			// console.log(parseFloat(marginal_deposit), parseFloat(percent10))
			if (parseFloat(marginal_deposit) < parseFloat(percent10)) {
				document.querySelector("#marginaldepositerricon").style.display = 'inline-block'
				$('#marginaldepositerrcontent').text('Marginal Deposit kurang dari 10% plafond limit');
				// $('#submit').attr('disabled', true);
			} else {
				document.querySelector("#marginaldepositerricon").style.display = 'none'
				$('#marginal_deposit_err').text('');
			}
		} else {
			var marginal_deposit = $('#marginal_deposit_2').val();
			if (parseFloat(marginal_deposit) < 10) {
				document.querySelector("#marginaldepositerricon").style.display = 'inline-block'
				$('#marginaldepositerrcontent').text('Marginal Deposit kurang dari 10% plafond limit');
				// $('#submit').attr('disabled', true);
			} else {
				document.querySelector("#marginaldepositerricon").style.display = 'none'
				$('#marginal_deposit_err').text('');
			}
		}
		$('#percentticket').show();
		// }
	}
</script>