<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Line Facility'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Update'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table td {
		vertical-align: top !important;
	}

	button.is-invalid {
		border-color: #dc3545 !important;
	}

	input[type="submit"]:disabled {
		cursor: not-allowed;
		background-color: #8fc4fb;
	}

	.input-medium {
		width: 320px !important;
	}

	.input-date {
		width: 120px !important;
	}

	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.gj-datepicker {
		width: 160px !important;
	}

	.input-group-prepend,
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}

	.select2-container {
		padding: 0 !important;
	}
</style>

<h5><?= $this->language->_('Line Facility - Agreement Update'); ?></h5>

<form action="" method="post" enctype="multipart/form-data">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<table class="table-hover my-3" cellpadding="5" style="width:100%">
				<tr>
					<td width="300"><?= $this->language->_('Customer'); ?></td>
					<td width="10">:</td>
					<td><b><?= strtoupper($this->data['CUST_NAME']) . ' (' . $this->data['CUST_ID'] . ')'; ?></b></td>
				</tr>
				<tr>
					<td><?= $this->language->_('Collectibility Code'); ?></td>
					<td>:</td>
					<?php $collect_code_val = $this->collect_code ?: $this->data['COLLECTIBILITY_CODE']; ?>
					<td>
						<label><?= $this->data['COLLECTIBILITY_CODE'] . ' - ' . $this->creditArr[$this->data['COLLECTIBILITY_CODE']]; ?></label>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Segmentation'); ?></td>
					<td>:</td>
					<?php $cust_segment_val = $this->cust_segment ?: $this->data['CUST_SEGMENT']; ?>
					<td>
						<?php if ($this->data['CUST_SEGMENT'] == 4) : ?>
							<label>FINANCIAL INSTITUTION</label>
							<?= $this->formHidden('cust_segment', 4); ?>
						<?php else : ?>
							<select name="cust_segment" id="cust_segment" class="form-control" style="width:100%">
								<option value="">-- <?= strtoupper($this->language->_('Select Segmentation')); ?> --</option>
								<?php foreach ($this->segmentationArr as $key => $value) : ?>
									<option value="<?= $key; ?>" <?= ($cust_segment_val == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
								<?php endforeach; ?>
							</select>
							<small class="text-danger"><?= $this->errDesc['cust_segment']; ?></small>
						<?php endif; ?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Jenis Pengikatan'); ?></td>
					<td>:</td>
					<?php $agreement_type_val = $this->agreement_type ?: $this->data['AGREEMENT_TYPE']; ?>
					<td>
						<?php if ($this->data['CUST_MODEL'] == 2) : ?>
							<label>LAINNYA</label>
							<?= $this->formHidden('agreement_type', 99); ?>
						<?php else : ?>
							<select name="agreement_type" id="agreement_type" class="form-control" style="width:100%">
								<option value="">-- <?= strtoupper($this->language->_('Select Jenis Pengikatan')); ?> --</option>
								<?php foreach ($this->agreementArr as $key => $value) : ?>
									<option value="<?= $key; ?>" <?= ($agreement_type_val == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
								<?php endforeach; ?>
							</select>
							<small class="text-danger"><?= $this->errDesc['agreement_type']; ?></small>
						<?php endif; ?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $pks_number_val = $this->pks_number ?: $this->data['PKS_NUMBER']; ?>
					<td>
						<?= $this->formText('pks_number', $pks_number_val, ['class' => 'form-control', 'onkeyup' => 'check_button()']); ?>
						<small class="text-danger"><?= $this->errDesc['pks_number']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<input type="file" name="pks_file" id="pks_file" class="form-control input-file input-medium" onchange="check_button()" <?= (empty($this->data["PKS_FILE"])) ? "" : "hidden"; ?>>
						<?php if (!empty($this->data["PKS_FILE"])) { ?>
							<div id="show_file">
								<label for="pks_file" class="col-form-label px-2" style="border: 1px solid black; background-color: #e9ecef;">Pilih File</label>
								<label class="col-form-label"><?= $this->data["PKS_FILE"]; ?></label>
							</div>
						<?php } ?>
						<small class="text-danger"><?= $this->errDesc['pks_file']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Start Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $pks_start_date_val = $this->pks_start_date ?: $this->data['PKS_START_DATE']; ?>
					<td>
						<input type="text" name="pks_start_date" id="pks_start_date" class="form-control input-date" value="<?= $pks_start_date_val; ?>" onchange="check_button()" readonly>
						<small class="text-danger"><?= $this->errDesc['pks_start_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Expired Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $pks_exp_date_val = $this->pks_exp_date ?: $this->data['PKS_EXP_DATE']; ?>
					<td>
						<?= $this->formText('pks_exp_date', $pks_exp_date_val, ['class' => 'form-control input-date', 'onchange' => 'check_button()', 'readonly' => true]); ?>
						<small class="text-danger"><?= $this->errDesc['pks_exp_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Claim Payment Deadline (when default)'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $claim_deadline_val = $this->claim_deadline ?: $this->data['CLAIM_DEADLINE']; ?>
					<td>
						<div class="d-flex">
							<?= $this->formText('claim_deadline', $claim_deadline_val, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px', 'onkeyup' => 'check_button()']); ?>
							<span class="ml-3"><?= $this->language->_('day(s)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['claim_deadline']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Document Submission Deadline'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $doc_deadline_val = $this->doc_deadline ?: $this->data['DOC_DEADLINE']; ?>
					<td>
						<div class="d-flex">
							<?= $this->formText('doc_deadline', $doc_deadline_val, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px', 'onkeyup' => 'check_button()']); ?>
							<span class="ml-3"><?= $this->language->_('day(s)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['doc_deadline']; ?></small>
					</td>
				</tr>
				<?php if ($this->data["CUST_SEGMENT"] == 4) { ?>
					<tr>
						<td><?= $this->language->_('Grace Period to recover Marginal Deposit'); ?>&nbsp;<small class="text-danger">*</small></td>
						<td>:</td>
						<?php $grace_period_val = $this->data['GRACE_PERIOD'] ?: $this->data['GRACE_PERIOD']; ?>
						<td>
							<div class="d-flex">
								<?= $this->formText('grace_period', $grace_period_val, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px', 'onkeyup' => 'check_button()']); ?>
								<span class="ml-3"><?= $this->language->_('day(s)'); ?></span>
							</div>
							<small class="text-danger"><?= $this->errDesc['claim_deadline']; ?></small>
						</td>
					</tr>
				<?php } ?>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Fee Will be Debited from'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $fee_debited_val = $this->fee_debited ?: $this->data['FEE_DEBITED']; ?>
					<td>
						<input type="hidden" name="fee_debited" value="<?php echo $fee_debited_val; ?>">

						<select class="form-control" id="fee_debited" onchange="fee_debited_check()" disabled>
							<option value="1" <?= ($fee_debited_val == 1) ? 'selected' : '' ?>>Pemohon</option>
							<option value="2" <?= ($fee_debited_val == 2) ? 'selected' : '' ?>>Asuransi</option>
						</select>

						<!-- <label class="radiocontainer"><?= $this->language->_('Pemohon'); ?>
						<input type="radio" value="1" name="fee_debited" id="fee_debited_1" onclick="fee_debited_check()" <?= ($fee_debited_val == 1) ? 'checked' : '' ?>>
						<span class="checkmark"></span>
					</label>
					<label class="radiocontainer"><?= $this->language->_('Asuransi'); ?>
					<input type="radio" value="2" name="fee_debited" id="fee_debited_2" onclick="fee_debited_check()" <?= ($fee_debited_val == 2) ? 'checked' : '' ?>>
					<span class="checkmark"></span>
				</label>
				<small class="text-danger"><?= $this->errDesc['fee_debited']; ?></small> -->
			</td>
		</tr>
		<tr class="institution" style="display:none">
			<td><?= $this->language->_('Rekening Pembebanan Biaya'); ?>&nbsp;<small class="text-danger">*</small></td>
			<td>:</td>
			<?php $debited_acct_val = $this->debited_acct ?: $this->data['DEBITED_ACCOUNT']; ?>
			<td>
				<select name="debited_acct" id="debited_acct" class="form-control" onchange="check_button()">
					<option value="">-- <?= strtoupper($this->language->_('Select Debited Account')); ?> --</option>
					<?php foreach ($this->debitedAcctArr as $row) : ?>
						<option value="<?= $row['ACCT_NO']; ?>" <?= ($debited_acct_val == $row['ACCT_NO']) ? 'selected' : ''; ?>><?= $row['ACCT_NO'] . ' / ' . $row['CCY_ID'] . ' / ' . $row['ACCT_NAME'] . ' / ' . $row['ACCT_DESC']; ?></option>
					<?php endforeach; ?>
				</select>
				<small class="text-danger"><?= $this->errDesc['debited_acct']; ?></small>
			</td>
		</tr>
		<tr class="insurance">
			<td><?= $this->language->_('Rekening Pembayaran Klaim'); ?></td>
			<td>:</td>
			<td>
				<?= $this->formSelect('escrow_acct', "escrow_acct", ['class' => 'form-control'], []); ?>
				<small class="text-danger"><?= $this->errDesc['escrow_acct']; ?></small>
			</td>
		</tr>
				<?php if ($this->cust_model == 2) : // Insurance 
				if (false) {
					?>
					<tr>
						<td><?= $this->language->_('Escrow Account'); ?></td>
						<td>:</td>
						<?php $escrow_acct_val = $this->escrow_acct ?: $this->data['ESCROW_ACCT']; ?>
						<td>
							<?= $this->formText('escrow_acct', $escrow_acct_val, ['class' => 'form-control', 'style' => 'width:160px']); ?>
							<small class="text-danger"><?= $this->errDesc['escrow_acct']; ?></small>
						</td>
					</tr>
					<?php
				}
			endif; ?>
			<tr>
				<td><?= $this->language->_('Facility Plafond Limit'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<?php $plafond_limit_val = $this->plafond_limit ?: $this->data['PLAFOND_LIMIT']; ?>
				<td>
					<div class="input-group input-group-sm" style="width:200px; flex-wrap:nowrap;">
						<div class="input-group-prepend">
							<span class="input-group-text">IDR</span>
						</div>
						<?= $this->formText('plafond_limit', Application_Helper_General::displayMoney($plafond_limit_val), ['class' => 'form-control input-medium', 'onkeyup' => 'check_plafond_limit()', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)", 'onkeyup' => 'check_button()']); ?>
					</div>
				</td>
			</tr>
			<tr class="non-financial">
				<td><?= $this->language->_('Ticket Size'); ?></td>
				<td>:</td>
				<?php $ticket_size_val = $this->ticket_size ?: $this->data['TICKET_SIZE']; ?>
				<td>
					<div class="input-group input-group-sm" style="width:200px; flex-wrap:nowrap;">
						<div class="input-group-prepend">
							<span class="input-group-text">IDR</span>
						</div>
						<?= $this->formText('ticket_size', Application_Helper_General::displayMoney($ticket_size_val), ['id' => 'ticket_size_0', 'class' => 'form-control input-medium', 'readonly' => true, 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
					</div>
					<small class="text-danger"><?= $this->errDesc['ticket_size']; ?></small>
				</td>
			</tr>
			<tr class="financial" style="display:none">
				<td><?= $this->language->_('Ticket Size'); ?>&nbsp;<small class="text-danger">*</small></td>
				<td>:</td>
				<?php $ticket_size_val = $this->ticket_size ?: $this->data['TICKET_SIZE']; ?>
				<td>
					<div>

						<select class="form-control" name="ticket_size" id="ticket_size" onchange="check_marginal_deposit()">
							<option value="1" <?= ($ticket_size_val == 1) ? 'selected' : '' ?>>% from Plafond Limit</option>
							<option value="2" <?= ($ticket_size_val == 2) ? 'selected' : '' ?>>Allowed to optimized Plafond Limit</option>
						</select>

						<!-- <label class="radiocontainer"><?= $this->language->_('% from Plafond Limit'); ?>
						<input type="radio" value="1" name="ticket_size" id="ticket_size_1" <?= ($ticket_size_val == 1) ? 'checked' : '' ?> onchange="check_marginal_deposit()" checked>
						<span class="checkmark"></span>
					</label>
					<label class="radiocontainer"><?= $this->language->_('Allowed to optimized Plafond Limit'); ?>
					<input type="radio" value="2" name="ticket_size" id="ticket_size_2" <?= ($ticket_size_val == 2) ? 'checked' : '' ?> onchange="check_marginal_deposit()">
					<span class="checkmark"></span>
				</label> -->
			</div>
			<div id="percentticket" class="mt-2">
				<input type="number" name="percentplafond" id="percentplafond" value="" max="100" style="width:100px!important" class="form-control" onfocus="iNumFrmtUS(this.value,this.id)" onblur="NumFrmtUS(this.value,this.id)">
			</div>
			<br>
			<small class="text-danger"><?= $this->errDesc['ticket_size']; ?></small>
		</td>
	</tr>
	<tr class="financial" style="display:none">
		<td><?= $this->language->_('Marginal Deposit'); ?>&nbsp;<small class="text-danger">*</small></td>
		<td>:</td>
		<?php $marginal_deposit_val = $this->marginal_deposit ?: $this->data['MARGINAL_DEPOSIT']; ?>
		<?php $ccy_val = $this->ccy ?: $this->data['MARGINAL_CCY']; ?>
		<td>
			<div class="input-group input-group-sm" style="width:250px; flex-wrap:nowrap;">
				<select name="ccy" id="ccy" class="form-control" style="background-color:#e9ecef" onchange="check_ccy()">
					<option value="IDR" <?= ($ccy_val == 'IDR') ? 'selected' : ''; ?>>IDR</option>
					<option value="% from Plafond" <?= ($ccy_val == '% from Plafond') ? 'selected' : ''; ?>>% from Plafond</option>
				</select>
				<?= $this->formText('marginal_deposit', Application_Helper_General::displayMoney($marginal_deposit_val), ['id' => 'marginal_deposit_1', 'class' => 'form-control', 'onkeyup' => 'check_marginal_deposit()', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
				<?= $this->formText('marginal_deposit', Application_Helper_General::displayMoney($marginal_deposit_val), ['id' => 'marginal_deposit_2', 'class' => 'form-control', 'onkeyup' => 'check_marginal_deposit()', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)", 'style' => 'display:none']); ?>
			</div>
			<small class="text-danger" id="marginal_deposit_err"><?= $this->errDesc['marginal_deposit']; ?></small>
		</td>
	</tr>
	<tr>
		<td><?= $this->language->_('Bank Provision Fee'); ?></td>
		<td>:</td>
		<?php $fee_provision_val = $this->fee_provision ?: $this->data['FEE_PROVISION']; ?>
		<td>
			<div class="d-flex">
				<?= $this->formText('fee_provision', $fee_provision_val, ['class' => 'form-control', 'style' => 'width:160px']); ?>
				<span class="ml-3"><?= $this->language->_('% (from BG Nominal)'); ?></span>
			</div>
			<small class="text-danger"><?= $this->errDesc['fee_provision']; ?></small>
		</td>
	</tr>
	<tr>
		<td><?= $this->language->_('Bank Administration Fee'); ?></td>
		<td>:</td>
		<?php $fee_admin_val = $this->fee_admin ?: $this->data['FEE_ADMIN']; ?>
		<td>
			<div class="input-group input-group-sm" style="width:160px">
				<div class="input-group-prepend">
					<span class="input-group-text">IDR</span>
				</div>
				<?= $this->formText('fee_admin', Application_Helper_General::displayMoney($fee_admin_val), ['class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
			</div>
			<small class="text-danger"><?= $this->errDesc['fee_admin']; ?></small>
		</td>
	</tr>
	<tr>
		<td><?= $this->language->_('Bank Stamp Fee'); ?></td>
		<td>:</td>
		<?php $fee_stamp_val = $this->fee_stamp ?: $this->data['FEE_STAMP']; ?>
		<td>
			<div class="input-group input-group-sm" style="width:160px">
				<div class="input-group-prepend">
					<span class="input-group-text">IDR</span>
				</div>
				<?= $this->formText('fee_stamp', Application_Helper_General::displayMoney($fee_stamp_val), ['class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
			</div>
			<small class="text-danger"><?= $this->errDesc['fee_stamp']; ?></small>
		</td>
	</tr>
</table>
</div>
</div>
<center>
	<?= $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/linefacility"']); ?>
	<?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class' => 'btngreen hov', 'disabled' => true]); ?>
</center>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.js"></script>
<script type="text/javascript">
	$('#percentplafond').keyup(function(){
		if ($(this).val() > 100){
			alert("Tidak boleh lebih dari 100");
			$(this).val('100');
		}
	});
	$(document).ready(function() {

		// document.querySelector("#submit").addEventListener("click", (event) => {
			
		// 	if($('#escrow_acct').val() == ""){
		// 		alert();
		// 	}
		// 	console.log();

		// 	event.preventDefault();
		// 	return false;
		// });

		document.querySelector("#pks_file").addEventListener("change", (event) => {
			event.target.removeAttribute("hidden");
			document.querySelector("#show_file").hidden = "true"
		})

		$.ajax({
			url: "<?= $this->url(array('action' => 'checkescrowacct')); ?>",
			method: "GET",
			// dataType: "HTML",
			data: {
				cust_id: "<?= $this->data['CUST_ID']; ?>",
				payment_acct: "<?= $this->data['ESCROW_ACCT']; ?>",

			},
			success: function(response1) {
				$('#escrow_acct').html(response1);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert("Failed to get escrow account, please try again");
			}
		});

		document.querySelector("#plafond_limit").addEventListener("keyup", () => {
			var cust_segment = $('#cust_segment').val();
			var plafond_limit = $('#plafond_limit').val();
			if (cust_segment != 4) {
				NumFrmtUS(plafond_limit, "ticket_size_0")
				// $('#ticket_size_0').val(plafond_limit);
			}
		})

		$('.select2').select2({
			placeholder: 'Search here',
			allowClear: true,
			matcher: function(term, text) {
				if (term === '') return null;
				return text.toUpperCase().indexOf(term.toUpperCase()) == 0;
			}
		});
		$('.select2-search-choice-close').remove();

		$('#pks_start_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4',
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate());
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
		});
		$('#pks_exp_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4',
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate() + 1);
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
		});

		var segment = "<?= $this->data['CUST_SEGMENT']; ?>";
		if (segment == 4) {
			$('.financial').show();
			$('.non-financial').hide();
			$('#ticket_size_0').attr('disabled', true);
			$('#ticket_size_1').attr('disabled', false);
			$('#ticket_size_2').attr('disabled', false);
		} else {
			$('.financial').hide();
			$('.non-financial').show();
			$('#ticket_size_0').attr('disabled', false);
			$('#ticket_size_1').attr('disabled', true);
			$('#ticket_size_2').attr('disabled', true);
		}

		var ccy = "<?= $this->ccy ?: $this->data['MARGINAL_CCY']; ?>";
		check_ccy(ccy);

		fee_debited_check();
	});

	function check_button() {
		var empty = 0;

		empty = $('#cust_segment').val() == "" ? (empty + 1) : empty;
		empty = $('#agreement_type').val() == "" ? (empty + 1) : empty;
		empty = $('#pks_number').val() == "" ? (empty + 1) : empty;
		<?php if (empty($this->data["PKS_FILE"])) { ?>
			empty = $('#pks_file').val() == "" ? (empty + 1) : empty;
		<?php } ?>
		empty = $('#pks_start_date').val() == "" ? (empty + 1) : empty;
		empty = $('#pks_exp_date').val() == "" ? (empty + 1) : empty;
		empty = $('#claim_deadline').val() == "" ? (empty + 1) : empty;
		empty = $('#plafond_limit').val() == "" ? (empty + 1) : empty;
		empty = parseInt($('#plafond_limit').val()) == "0" ? (empty + 1) : empty;

		if ($('#cust_segment').val() == "4") {
			empty = $('#doc_deadline').val() == "" ? (empty + 1) : empty;
			empty = $('#grace_period').val() == "" ? (empty + 1) : empty;

			if($('#fee_debited').val() == 2){
				empty = $('#debited_acct').val() == "" ? (empty + 1) : empty;
			}

			// if ($('#fee_debited_2').is(':checked')) {
			// 	empty = $('#debited_acct').val() == "" ? (empty + 1) : empty;
			// }

			if ($('#ccy').val() == "IDR") {
				empty = $('#marginal_deposit_1').val() == "" ? (empty + 1) : empty;
				empty = parseInt($('#marginal_deposit_1').val()) == "0" ? (empty + 1) : empty;
			} else {
				empty = $('#marginal_deposit_2').val() == "" ? (empty + 1) : empty;
				empty = parseInt($('#marginal_deposit_2').val()) == "0" ? (empty + 1) : empty;
			}
		}

		if (empty == 0) {
			$('#submit').attr('disabled', false);
		} else {
			$('#submit').attr('disabled', true);
		}
	}

	function check_ccy(val = null) {
		if (val === null) {
			var ccy = $('#ccy').val();
		} else {
			var ccy = val;
		}
		if (ccy == 'IDR') {
			$('#marginal_deposit_1').show();
			$('#marginal_deposit_1').attr('disabled', false);
			$('#marginal_deposit_2').hide();
			$('#marginal_deposit_2').attr('disabled', true);
		} else {
			$('#marginal_deposit_1').hide();
			$('#marginal_deposit_1').attr('disabled', true);
			$('#marginal_deposit_2').show();
			$('#marginal_deposit_2').attr('disabled', false);
		}
		check_button();
	}

	function fee_debited_check() {
		if($('#fee_debited').val() == 1){
			$('.institution').hide();
		}else{
			$('.institution').show();
		}

		// if ($('#fee_debited_1').is(':checked')) {
		// 	$('.institution').hide();
		// }
		// if ($('#fee_debited_2').is(':checked')) {
		// 	$('.institution').show();
		// }
		check_button();
	}

	function check_plafond_limit() {
		var cust_segment = $('#cust_segment').val();
		var plafond_limit = $('#plafond_limit').val();
		if (cust_segment != 4) {
			$('#ticket_size_0').val(plafond_limit);
		}
	}

	function check_ticket_size() {
		var plafond_limit = $('#plafond_limit').val();
		plafond_limit = parseFloat(plafond_limit.replaceAll(',', ''));

		var ticket_size = $('#ticket_size').val();
		ticket_size = ticket_size.replaceAll(',', '');

		var percent10 = (10 / 100) * parseFloat(plafond_limit);
		if (parseFloat(ticket_size) > parseFloat(percent10)) {
			$('#ticket_size_err').text('Ticket Size is more than 10% plafond limit');
		} else {
			$('#ticket_size_err').text('');
		}
	}

	function check_marginal_deposit() {
		check_button();
		var ccy = $('#ccy').val();


		if ($('#ticket_size').val() == 1) {
			var plafond_limit = $('#plafond_limit').val();
			plafond_limit = parseFloat(plafond_limit.replaceAll(',', ''));

			var marginal_deposit = $('#marginal_deposit_1').val();
			marginal_deposit = marginal_deposit.replaceAll(',', '');

			var percent10 = (10 / 100) * parseFloat(plafond_limit);
			if (ccy == 'IDR') {
				if (parseFloat(marginal_deposit) < parseFloat(percent10)) {
					$('#marginal_deposit_err').text('Marginal Deposit is less then 10% plafond limit');
					$('#submit').attr('disabled', true);
				} else {
					$('#marginal_deposit_err').text('');
				}
			} else {
				var marginal_deposit = $('#marginal_deposit_2').val();
				if (parseFloat(marginal_deposit) < parseFloat(percent10)) {
					$('#marginal_deposit_err').text('Marginal Deposit is less then 10% plafond limit');
					$('#submit').attr('disabled', true);
				} else {
					$('#marginal_deposit_err').text('');
				}
			}
		}
		if ($('#ticket_size').val() == 2) {
			$('#marginal_deposit_err').text('');
		}
	}
</script>