<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Customer Setup'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('User Daily Limit Scheme'); ?>
                       <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
	                    <?php echo $this->language->_('Detail'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
  $enccustid = urlencode($encrypted_custid);

  $encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
  $encuserid = urlencode($encrypted_userid);

  $encrypted_ccy = $AESMYSQL->encrypt($this->ccy_id, $rand);
  $encccy= urlencode($encrypted_ccy);

  $backURL = $this->url(array('module'=>'customer','controller'=>'view','action'=>'index', 'cust_id'=>$enccustid),null,true); 
?>

<div class="row">
    <div class="col-md-8">
      <?php
      if($this->cust_id && $this->user_id && $this->ccy_id)
      {
        $temp_status = array(1 => $this->status_type['desc']['approved'],
                           2 => $this->status_type['desc']['suspended'],
                           3 => $this->status_type['desc']['delete']
                          );

        $status = $temp_status[$this->status];

      ?>

      <br />

      <?php if($this->error){ ?>
      <div class="errmsg"><?=$this->user_msg?></div><br />
      <?php } ?>

      <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
        <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('User Daily Limit Detail'); ?></strong></th></tr>
        <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->cust_id); ?></td>
        </tr>

        <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->cust_name); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User ID')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->user_id); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->language->_('User Name')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->user_name); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->language->_('Currency')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->ccy_id); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('daily_limit',$this->language->_('Max Limit')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('daily_limit',$this->daily_limit); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('status','Status'); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_($status)); ?></td>
        </tr>





         <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('create_date',$this->language->_('Created Date')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('create_date',Application_Helper_General::convertDate($this->daily_created,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->language->_('Created By')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->daily_createdby); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion',$this->language->_('Last Suggestion')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion',Application_Helper_General::convertDate($this->daily_suggested,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
        </tr>

       <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor',$this->language->_('Last Suggester')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor',$this->daily_suggestedby); ?></td>
        </tr>


        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval',$this->language->_('Last Approval')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval',Application_Helper_General::convertDate($this->daily_updated,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver',$this->language->_('Last Approver')); ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver',$this->daily_updatedby); ?></td>
        </tr> 

       </table>

       <br />
       <div><?php

         //$backButton =  $this->url(array('module'=>'customer','controller'=>'view','action'=>'index','cust_id'=>$this->cust_id),null,true);
         echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backURL.'\'','class'=>'btnwhite hov'));

         echo '&nbsp;&nbsp;';

      if($this->status != 3)
      {
          if($this->daily_temp) 
          {
             $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$enccustid,'user_id'=>$encuserid,'ccy_id'=>$encccy),null,true);
             echo $this->formButton('edit',$this->language->_('Edit'),array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'btngreen hov'));

             echo '&nbsp;&nbsp;';

             $btn_delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$enccustid,'user_id'=>$encuserid,'ccy_id'=>$encccy),null,true);
             echo $this->formButton('delete',$this->language->_('Delete'),array('onclick'=>'confirmation(\''.$this->language->_('Delete this record?').'\',\''.$btn_delete.'\')','class'=>'btngreen hov'));
          }
          else
          {
             echo $this->language->_('No changes allowed for this record while awaiting approval for previous change.');
          }
      }






      /*  if($this->hasPrivilege('cust_user_inp'))
        {
          echo '&nbsp;&nbsp;';

          if($this->daily_temp)
          {
            $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'user_login'=>$this->user_id,'ccy_id'=>$this->ccy_id),null,true);
            echo $this->formButton('edit','Edit',array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'inputbtn'));
          }
          else
          {
            echo $this->formButton('edit','Edit',array('disabled'=>true,'class'=>'disabledbtn'));
          }
        }

        if($this->hasPrivilege('cust_user_inp'))
        {
          echo '&nbsp;&nbsp;';

          if($this->daily_temp)
          {
              $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id,'ccy_id'=>$this->ccy_id),null,true);
              echo $this->formButton('delete','Delete',array('onclick'=>'confirmation(\'Are you sure want to delete this user daily limit?\',\''.$btn_active.'\')','class'=>'inputbtn'));
          }
          else
          {
              echo $this->formButton('delete','Delete',array('disabled'=>true,'class'=>'disabledbtn'));
          }
        }

        if($this->hasPrivilege('cust_user_app'))
        {
          $btn_pass = $this->url(array('module'=>$this->modulename,'controller'=>'resetpass','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$this->user_id),null,true);
          echo '<br /><br />';
          echo $this->formButton('resetpass','Reset Password',array('onclick'=>'location.href=\''.$btn_pass.'\'','class'=>'inputbtn'));

          if($this->user_islogin == strtoupper($this->login_type['code']['yes']))
          {
            $btn_login = $this->url(array('module'=>$this->modulename,'controller'=>'forcelog','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$this->acct_no),null,true);
            echo '&nbsp;&nbsp;';
            echo $this->formButton('forcelog','Force Logout',array('onclick'=>'location.href=\''.$btn_login.'\'','class'=>'inputbtn'));
          }
        }*/
      ?></div>
      <?php }else{ ?>
      <div id="content">- no data -</div>
      <?php } ?>

    </div>
</div>
