<script>
	$(document).ready(function()
	{
		if( '<?=$this->success?>' || '<?=$this->error?>' )
		{
			$("input").attr("disabled","disabled");
			$("textarea").attr("disabled","disabled");
		}
		$('#note').bind("cut copy paste",function(e) {
			e.preventDefault();
		});
		$('#disable_note').bind("cut copy paste",function(e) {
			e.preventDefault();
		});
	});
</script>

<script type="text/javascript">
   refreshParent() 
</script>

<?php 
	$optionCurrency = array('maxlength'=>20,
					  'size'=>12,
					  'class'=>'currency',						  
					  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
					  'onblur'=>'NumFrmtUS(this.value,this.id)',
					  'onkeypress'=>'return forceCurrency(event)');
?>
<b> <?php echo $this->language->_('General');?> &gt; <?php echo $this->language->_('Transaction Daily Limit ');?>  </b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion - Transaction Daily Limit ');?> </div>
<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="post">
	<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
	<?php }else if(!empty($this->report_msg)){ ?>
	<div class="errmsg"><?=$this->report_msg?></div><br />
	<?php } ?>
<table width="100%" cellpadding="3" cellspacing="0" border="0" class="tableform">
<tr>
	<td width="30%" colspan="2" class="tbl-evencontent">&nbsp;</td>
	<td width="65%" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. All fields are Required');?></td>	
</tr>


<!-- Frontend Application User Account Settings -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Daily Limit Application Global Setting');?></strong></th>
</tr>
<tr>
		<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Transaction Limit (IDR)')?></td>
		<td width="3px" class="tbl-evencontent">:</td>	
		<td width="65%" class="tbl-evencontent">
		<?php 
		echo $this->formText('pb_limit_per_trx',Application_Helper_General::displayMoney($this->pb_limit_per_trx),$optionCurrency);
		?>
		
		<div class="errmsg"><?=$this->xpb_limit_per_trx;?></div>
		</td>
	</tr>
	
	<tr>
		<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Daily Limit (IDR)')?></td>
		<td width="3px" class="tbl-evencontent">:</td>	
		<td width="65%" class="tbl-evencontent">
		<?php 
		echo $this->formText('pb_limit_per_day',Application_Helper_General::displayMoney($this->pb_limit_per_day),$optionCurrency);
		?>
		
		<div class="errmsg"><?=$this->xpb_limit_per_day;?></div>
		</td>
	</tr>
	
	<tr>
		<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Transaction Limit (USD)')?></td>
		<td width="3px" class="tbl-evencontent">:</td>	
		<td width="65%" class="tbl-evencontent">
		<?php 
		echo $this->formText('pbusd_limit_per_trx',Application_Helper_General::displayMoney($this->pbusd_limit_per_trx),$optionCurrency);
		?>
		
		<div class="errmsg"><?=$this->xpbusd_limit_per_trx;?></div>
		</td>
	</tr>
	
	<tr>
		<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Daily Limit (USD)')?></td>
		<td width="3px" class="tbl-evencontent">:</td>	
		<td width="65%" class="tbl-evencontent">
		<?php 
		echo $this->formText('pbusd_limit_per_day',Application_Helper_General::displayMoney($this->pbusd_limit_per_day),$optionCurrency);
		?>
		
		<div class="errmsg"><?=$this->xpbusd_limit_per_day;?></div>
		</td>
	</tr>			
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php				
				echo $this->formText('rtgs_limit_per_trx',Application_Helper_General::displayMoney($this->rtgs_limit_per_trx),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xrtgs_limit_per_trx;?></div>
	</td>
</tr>

			
	<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php				
				echo $this->formText('rtgs_limit_per_day',Application_Helper_General::displayMoney($this->rtgs_limit_per_day),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xrtgs_limit_per_day;?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('SKN Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('skn_limit_per_trx',Application_Helper_General::displayMoney($this->skn_limit_per_trx),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xskn_limit_per_trx;?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('SKN Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('skn_limit_per_day',Application_Helper_General::displayMoney($this->skn_limit_per_day),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xskn_limit_per_day;?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Domestic Online Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('domonline_limit_per_trx',Application_Helper_General::displayMoney($this->domonline_limit_per_trx),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xdomonline_limit_per_trx;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Domestic Online Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('domonline_limit_per_day',Application_Helper_General::displayMoney($this->domonline_limit_per_day),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xdomonline_limit_per_day;?></div>
	</td>
</tr>

<!-- 
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('pb_limit_per_trx',Application_Helper_General::displayMoney($this->pb_limit_per_trx),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpb_limit_per_trx;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('pb_limit_per_day',Application_Helper_General::displayMoney($this->pb_limit_per_day),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpb_limit_per_day;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Transaction Limit (USD)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('pb_limit_per_trx_usd',Application_Helper_General::displayMoney($this->pb_limit_per_trx_usd),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpb_limit_per_trx_usd;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Daily Limit (USD)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('pb_limit_per_day_usd',Application_Helper_General::displayMoney($this->pb_limit_per_day_usd),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpb_limit_per_day_usd;?></div>
	</td>
</tr>
 -->
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Purchase Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('purchase_limit_per_trx',Application_Helper_General::displayMoney($this->purchase_limit_per_trx),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpurchase_limit_per_trx;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Purchase Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('purchase_limit_per_day',Application_Helper_General::displayMoney($this->purchase_limit_per_day),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpurchase_limit_per_day;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Payment Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('payment_limit_per_trx',Application_Helper_General::displayMoney($this->payment_limit_per_trx),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpayment_limit_per_trx;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Payment Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				echo $this->formText('payment_limit_per_day',Application_Helper_General::displayMoney($this->payment_limit_per_day),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xpayment_limit_per_day;?></div>
	</td>
</tr>

<tr>
    <td colspan="3" align="left">
    <?php $submit = $this->language->_('Submit');?>
	<?php $reset = $this->language->_('Reset');?>
	<?php echo $this->formSubmit('submit',$submit,array('class'=>'inputbtn'))?>&nbsp;
	<?php echo $this->formReset('reset',$reset,array('class'=>'inputbtn'))?>
    </td>
</tr>
</table>
</form>