<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){


});


</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Reconciliation Adapter')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('View')?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('View Reconciliation Adapter Profile')?></h5>
<br/>

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }

  .adapterTable tr{
    text-align: center;
  }
</style>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>
  
  <table>
    <tr>
      <td><h6><b><?php echo $this->language->_('Setup to')?></b></h6></td>
      <td width="5%"><h6><b> : </b></h6></td>
      <td class="text-black-50"><h6><b><?php echo Application_Helper_General::getBankTableName($this->dataAdapter[0]['BANK_CODE']); ?></b></h6></td>
    </tr>
    <tr>
      <td><h6><b><?php echo $this->language->_('Profile Name')?></b></h6></td>
      <td width="5%"><h6><b> : </b></h6></td>
      <td class="text-black-50"><h6><b><?php echo $this->dataAdapter[0]['ADAPTER_NAME']; ?></b></h6></td>
    </tr>
  </table>

  <br>

    <h6 class="text-black-50"><b><?php echo $this->language->_('Statement Source File Format') ?></b></h6>

      <div class="table-responsive">
        <table class="table mb-0" width="100%">
            <tr>
              <?php foreach ($this->statementHeaderData as $value) { ?>
                  
                  <th><b><?php echo $value; ?></b></th>

              <?php } ?>
            </tr>
            <?php $i=0; foreach ($this->statementData as $key => $value) { ?>

              <?php if ($i <= 1) { ?>
                <tr>
                    <?php foreach ($value as $key2 => $value2) { ?>
                        <td><?php echo $value2; ?></td>
                    <?php } ?>
                 </tr>
               <?php } ?>
            <?php $i++; } ?>
        </table>
      </div>

    <br>
    <small class="text-black-50 float-right"><?=$this->language->_('* Only beginning row of data showed')?></small>

    <br>
    <br>

    <h6 class="text-black-50"><b><?php echo $this->language->_('Report Source File Format') ?></b></h6>
      <div class="table-responsive">
        <table class="table mb-0" width="100%">
            <tr>
              <?php foreach ($this->reportHeaderData as $value) { ?>
                  
                  <th><b><?php echo $value; ?></b></th>

              <?php } ?>
            </tr>
            <?php $i=0; foreach ($this->reportData as $key => $value) { ?>

              <?php if ($i <= 1) { ?>
                <tr>
                    <?php foreach ($value as $key2 => $value2) { ?>
                        <td><?php echo $value2; ?></td>
                    <?php } ?>
                 </tr>
               <?php } ?>
            <?php $i++; } ?>
        </table>
      </div>

    <br>
    <small class="text-black-50 float-right"><?=$this->language->_('* Only beginning row of data showed')?></small>

    <br>
    <br>
    <br>

    <h6 class="text-black-50"><b><?=$this->language->_('Adapter Profile Format')?></b></h6>
      <div class="row pl-3">
        <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="border: 1px solid; border-radius: 5px; overflow-x: auto;">

            <?php foreach ($this->dataAdapter as $key => $value) { ?>
              <div class="col-3 pr-0 content ui-state-default"> <!-- data-id utk sort element -->
                <table class="table adapterTable">
                  <tr>
                    <th style="border-top: none;">
                      <input class="form-control mb-0" type="text" name="headerName" value="<?php echo $value['HEADER_NAME'] ?>" readonly /> &nbsp;
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <div class="col-md-12" align="center">
                          <h6><b><?=$this->language->_('Statement Field: ')?></b></h6>
                          <!-- tempat utk tampilin subject yang dipilih -->
                          <?php 
                            $statementValue = $value['STATEMENT_COLUMN'];

                            if (strpos($statementValue, ',') !== false) {
                                $statementValueArr = explode(',', $statementValue);

                                $statementValue = array();
                                foreach ($statementValueArr as $skey => $svalue) {
                                    echo '<span>'.$this->statementHeaderData[$svalue].'</span><br>';
                                }
                            }
                            else{
                              echo '<span>'.$this->statementHeaderData[$statementValue].'</span>';
                            }
                          ?>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- tempat tampilin operator -->
                      <?php 

                        if ($value['OPERATOR'] == 'equaldate') {
                          $operator = 'Equal (Date)';
                        }
                        else if ($value['OPERATOR'] == 'equal') {
                          $operator = 'Equal';
                        }
                        else if ($value['OPERATOR'] == 'equalamount') {
                          $operator = 'Equal (Amount)';
                        }
                        else if ($value['OPERATOR'] == 'containinverted'){
                          $operator = 'Contain (Inverted)';
                        }
                        else{
                          $operator = 'Contain';
                        }

                        echo '<p class="text-primary mb-0">'.$operator.'</p>'; 
                      ?>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="col-md-12" align="center">
                          <h6><b><?=$this->language->_('Report Field: ')?></b></h6>
                          <!-- tempat utk tampilin subject yang dipilih -->
                          <?php 
                            $reportValue = $value['REPORT_COLUMN'];

                            if (strpos($reportValue, ',') !== false) {
                                $reportValueArr = explode(',', $reportValue);

                                $reportValue = array();
                                foreach ($reportValueArr as $rkey => $rvalue) {
                                    echo '<span>'.$this->reportHeaderData[$rvalue].'</span><br>';
                                }
                            }
                            else{
                              echo '<span>'.$this->reportHeaderData[$reportValue].'</span>';
                            }
                          ?>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            <?php } ?>
      </div>
   </div>

   <br>
   <br>
   <br>
   <br>

  <div class="col-md-12 mt-4" align="center">
     <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/reconadapter\'', 'class' => 'btnwhite hov'));?>
   </div>

<br>
<br>
<br>
<br>


