<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
    display: none !important;
    visibility: hidden;
  }

  button {
    display: none !important;
    visibility: hidden;
  }

  /*form {
    display: none !important;
    visibility: hidden;
  }*/

  .hiddenLogo, .hiddenLogo * {
    display: inline !important;
    visibility: show;
  }
  th { font-family: Arial, Helvetica, sans-serif; background-color:#0c67a0;  font-size:11px; font-weight: bold; padding: 5px; text-align: left;  border-right: solid 1px #ffffff; color:white; }

  input.currency{ width: 200px; font-size: 10px; }
  ul { padding-left:10px; }
  h5 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
  body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
  b { font-weight:bold; font-size:11px }
  td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
  a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
  .tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
  .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
  .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
  body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  -webkit-print-color-adjust:exact; /*chrome*/
  -moz-print-color-adjust:exact; /*mozila*/
  -o-print-color-adjust:exact; /*opera*/
  -ms-print-color-adjust:exact; /*ie*/
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.iconCircle{
    margin-right: 8px;
    margin-top: 5px;
    background-color: #85878a;
  }

}

</style>
<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div>

<!-- <script type="text/javascript">
.container {
  clear:both;
  border: 1px dashed gray;
  background-color:#f0f0f0;
  height: auto;
  padding: 8px;
}
</script> -->

<script type="text/javascript">
  $(document).ready(function(){

      $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
          $(".file-upload").removeClass('active');
          $("#noFile").text("No file chosen...");
        }
        else {
          $(".file-upload").addClass('active');
          $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
      });

      $('#makerLimitBtnHide').hide();
      $('#divMakerLimit').hide();

      $(".one").show();

      $("select").change(function(){
          $( "select option:selected").each(function(){
              if($(this).attr("value")=="1"){
                  $(".box").hide();
                  $(".one").show();
              }
              if($(this).attr("value")=="2"){
                  $(".box").hide();
                  $(".two").show();
              }
              
          });
      }).change();
  });
  
  function makerLimitShow() {
    $('#divMakerLimit').show();
      $('#makerLimitBtnHide').attr('Onclick', 'makerLimitHide()');
      $('#makerLimitBtnShow').hide();
      $('#makerLimitBtnHide').show();

  }

  function makerLimitHide() {
      $('#divMakerLimit').hide();
      $('#makerLimitBtnShow').attr('Onclick', 'makerLimitShow()');
      $('#makerLimitBtnHide').hide();
      $('#makerLimitBtnShow').show();
  }

  function refreshwindow()
  {
    // not loaded frames
    window.document.location.reload();
  }

</script>

<div class="row hidden">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Report'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Suspect Report'); ?>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Detail'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?php echo $this->language->_('Suspect Report Detail');?></h5>
<br />

<input type="hidden" name="payReff" value= "<?php echo $this->PS_NUMBER; ?>">

<?php 
  if ($this->ps_statusrepair == 23) { ?>

    <h5 align="center" style="color: red !important;">Transaction Status updates request Under Investigation, no changes allowed. <br> Call us at <?= $this->master_bank_telp; ?>, if you need assistance</h5>

<?php  } ?>
  
<br />
<!-- <h5><?php echo $this->compname.' ('.$this->compCode.')' ?></h5> -->
 <div class="row content-box">
    <div class="portlet-body form col-md-12">
      <h5><?php echo $this->language->_('Transaction Summary');?></h5>
      <hr></hr>
      <div class="row pt-1">
        <div class="col-md-6">
            <table width="100%">
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Payment_Ref',$this->language->_('Payment Ref')); ?></td>
                <td colspan="2"><?= $this->psnumber ?></td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Payment_Subject',$this->language->_('Payment Subject')); ?></td>
                <td colspan="2"><?= $this->pssubject ?></td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Payment_Date',$this->language->_('Payment Date')); ?></td>
                <td colspan="2"><?= $this->paymentdate ?></td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Message',$this->language->_('Message')); ?></td>
                <td colspan="2"><?= $this->message ?></td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Additional_Message',$this->language->_('Additional Message')); ?></td>
                <td colspan="2"><?= $this->addmessage ?></td>
              </tr>
          </table>

        </div>
        <div class="col-md-6">
            <table width="100%">
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Payment_Type',$this->language->_('Payment Type')); ?></td>
                <td colspan="2"><?= $this->payType ?></td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Trans',$this->language->_('#Trans')); ?></td>
                <td colspan="2"><?= $this->pscount ?> 
                  <?php 
                    if ($this->pscount > 50 ) {
                      echo $this->download;
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Total_Payment',$this->language->_('Total Payment')); ?></td>
                <td colspan="2"><b style="color: red;"><?= $this->totalamount ?></b></td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Frequently',$this->language->_('Frequently')); ?></td>
                <td colspan="2">
                
                <?php 
                $param = $this->pslip;
                if($param != NULL || !empty($param)){
                  if($param == 0){
                    echo $this->frequently;
                  }else{
                    require_once 'Crypt/AESMYSQL.php';
                    $AESMYSQL = new Crypt_AESMYSQL();
                    $rand = $this->token;
                    $encrypted_frequentlylink = $AESMYSQL->encrypt($this->psnumber, $rand);
                    $encrypted_frequentlylink = urlencode($encrypted_frequentlylink);
                    
                    echo $this->frequently;
                    echo '<a href="' . $this->url(array('module' => 'paymentworkflow', 'controller' => 'ongoing', 'action' => 'viewdetail', 'payReff' => $encrypted_frequentlylink), null, true) . '">' . $this->frequentlylink . '</a>)';
                  }
                }else{
                  echo $this->frequently;
                }

                
                ?>
                
                </td>
              </tr>
              <tr>
                <td style="width: 200px;"><?php echo $this->formLabel('Payment_Status',$this->language->_('Payment Status')); ?></td>
                <td colspan="2">
                  <?php 
                        if ($this->ps_statusrepair != NULL ) {
                          $PS_STATUS = $this->ps_statusrepair;
                        }else{
                          $PS_STATUS = $this->ps_status;
                        }
                        echo $this->paymentStatus['desc'][$this->paymentStatusFlip[$PS_STATUS]] 
                  ?>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
</div>
<br />

  <div class="portlet-body form col-md-12">
      <table width="100%">
        <tr>
          <td style="background-color: #F0F0F0;"><h5 class="textBlack"><?php echo $this->language->_('History'); ?></h5></td>
          <td style="background-color: #F0F0F0;" align="right">
            <i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow()" id="makerLimitBtnShow"></i>
            <i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide()" id="makerLimitBtnHide"></i>
          </td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped" id="divMakerLimit">
        <?php if (is_array($this->fieldsinvolved)){ ?>
            <tr class="tdform-sub" id="tdform-sub"> <?php
            foreach ($this->fieldsinvolved as $header) {  ?>
              <th class="tablehead textWhite"><?php echo $this->language->_($header); ?></th>
        <?php   } ?>
            </tr>
        <?php   } ?>

        <?
          $numFields = count($this->tableDtlUserInvolved);
          if (!empty($this->tableDtlUserInvolved))
          {
            foreach($this->tableDtlUserInvolved as $count_dtl => $dataDtlRow)
            {
              $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
        ?>
              <tr> <?php

              if (is_array($dataDtlRow))
              {
                foreach($dataDtlRow as $key_dtl => $dataDtl)
                {
                  //$attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE")? " align='right'": "";
                  ?>
                  <td class="<?= $bgcolor; ?>" <?= $attr;?>><?php echo $this->language->_($dataDtl); ?></td>
            <?php
                }
              }
              ?>
              </tr>
              <?php
            }
          } ?>
      </table>
      <br />  
  </div>

<form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>'suspectreportnew','controller'=>'detail','action'=>'index'),null,true)?>" enctype="multipart/form-data">

  <?php if ($this->hasPrivilege('USTS')) {  ?>

  <div class="portlet-body form col-md-12">
    <table width="100%">
      <tr>
          <td class="textBlack" style="background-color: #F0F0F0; width: 250px;"><?php echo $this->language->_('Update All Transaction Status to'); ?></td>
          <td colspan="4" style="background-color: #F0F0F0;" align="left">
            

                <?php if ($this->ps_statusrepair != 23) { ?>
                  <select name="update1" style="width: 150px; border-radius: 5px;">
                    <option value="1">Manual Update</option>
                    <option value="2">Failed</option>
                  </select>
                <?php  } ?>

          </td>
          <td style="background-color: #F0F0F0;" align="right"><span class="dot" data-toggle="modal" data-target="#infoModal">?</span> </td>
      </tr>
    </table>
    <br>
  </div>

  <?php
  }
  ?>

  <input type="hidden" name="payReff" value= "<?php echo $this->PS_NUMBER; ?>">

  <?php if ($this->ps_statusrepair == 23) { ?>

    <div class="portlet-body form col-md-12">
        <?php if ($this->pscount <= 50 ) { ?>

          <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped">
            <?php if (is_array($this->fields)){ ?>
                    <tr class="tdform-sub" id="tdform-sub"> 
                      <th class="tablehead"><?php echo $this->language->_('No'); ?></th>
                      <?php
                  foreach ($this->fields as $header) {  ?>
                      <th class="tablehead"><?php echo $this->language->_($header); ?></th>
            <?php     } ?>
                      <th class="tablehead"><?php echo $this->language->_('Update to'); ?></th>
                    </tr>
            <?php   }
                $numFields = count($this->fields);
                  if (!empty($this->tableDtl))
                  {
                    $no = 1;
                    foreach($this->tableDtl as $count_dtl => $dataDtlRow)
                    {
                      $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
                      
                ?>
                      <tr> 
                        <td class="<?= $bgcolor; ?>"><?=$no++?></td>
                         <?php

                      if (is_array($dataDtlRow))
                      {
                        foreach($dataDtlRow as $key_dtl => $dataDtl)
                        {
                          
                          $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE")? " align='right' style='width: 50px' ": "";
                          $attr = ($key_dtl == "PS_CCY")? " align='center' ": "";

                          if ($key_dtl == "TRASTATUS") {
                            $trastatus = $dataDtl;
                          }
                          ?>

                          <?php if($key_dtl != "TRASTATUS") {  ?>
                            <td class="<?= $bgcolor; ?>" <?= $attr;?>><?php echo $this->language->_($dataDtl); ?></td>
                          <?php } ?>
                    <?php
                        }
                      }
                      ?>
                        
                          <td class="<?= $bgcolor; ?>"><?=$trastatus?></td>
                        
                      </tr>
                      <?php
                    }
                  } ?>
          </table>

       <?php }elseif ($this->pscount > 50 ) { ?>
              <table width="100%">
                <tr>
                    <td style="width: 250px;"><?php echo $this->numbertrx?> time out transaction </td>
                    <td align="left"><?=$this->download2?></td>
                </tr>
              </table>
              <br>
        <?php } ?>


      </div>

  <?php }else{ ?>

    <div class="one box" style="display:none">
       <div class="portlet-body form col-md-12">

          <?php 
                if ($this->pscount <= 50 ) {
              ?>
                  <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped">
                      <?php if (is_array($this->fields)){ ?>
                              <tr class="tdform-sub" id="tdform-sub"> 
                                <th class="tablehead"><?php echo $this->language->_('No'); ?></th>
                                <?php
                            foreach ($this->fields as $header) {  ?>
                                <th class="tablehead"><?php echo $this->language->_($header); ?></th>
                      <?php     } ?>

                            <?php if ($this->hasPrivilege('USTS')) {  ?>
                                <th class="tablehead"><?php echo $this->language->_('Update to'); ?></th>
                            <?php }  ?>
                              </tr>
                      <?php   }
                          $numFields = count($this->fields);
                            if (!empty($this->tableDtl))
                            {
                              $no = 1;
                              foreach($this->tableDtl as $count_dtl => $dataDtlRow)
                              {
                                $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
                                
                          ?>
                                <tr> 
                                  <td class="<?= $bgcolor; ?>"><?=$no++?></td>
                                   <?php

                                if (is_array($dataDtlRow))
                                {
                                  foreach($dataDtlRow as $key_dtl => $dataDtl)
                                  {
                                    if ($key_dtl == "TRANSACTION_ID") {
                                      $input    = '<select name="updatestatus'.$dataDtl.'" style="width: 100px;">
                                                            <option value="6">Failed</option>
                                                            <option value="5">Success</option>
                                                          </select>';
                                      $input1    = '<input type="hidden" name="trx_id'.$dataDtl.'" value="'.$dataDtl.'">';
                                    }
                                    
                                    $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE")? " align='right' style='width: 50px' ": "";
                                    $attr = ($key_dtl == "PS_CCY")? " align='center' ": "";

                                    if ($key_dtl == "TRASTATUS") {
                                      $trastatus = $dataDtl;
                                    }
                                    ?>

                                    <?php if($key_dtl != "TRASTATUS") {  ?>
                                      <td class="<?= $bgcolor; ?>" <?= $attr;?>><?php echo $this->language->_($dataDtl); ?></td>
                                    <?php } ?>
                              <?php
                                  }
                                }
                                ?>
                                  <?php if ($this->ps_statusrepair == 23) { ?>
                                    <td class="<?= $bgcolor; ?>"><?=$trastatus?></td>
                                  <?php } else { ?>
                                    <td class="<?= $bgcolor; ?>">
                                      <?php 
                                      if ($this->hasPrivilege('USTS')) {  ?>

                                          <?=$input;?>

                                      <?php
                                      }
                                      ?>
                                      
                                    <?=$input1?></td>  
                                  <?php } ?>
                                </tr>
                                <?php
                              }
                            } ?>
                    </table>
              <?php
                }elseif ($this->pscount > 50) {
              
              ?>
                  <table width="100%">
                    <tr>
                        <td style="width: 250px;"><?php echo $this->numbertrx?> time out transaction</td>
                        <td align="left"><?=$this->download2?></td>
                    </tr>
                    <tr>
                        <td style="width: 250px;"><?php echo $this->language->_('Reupload Updated Transaction Status'); ?></td>
                        <td align="left">
                          <div class="file-upload">
                            <div class="file-select">
                              <div class="file-select-button" id="fileName">Choose File</div>
                              <div class="file-select-name" id="noFile">No file chosen...</div>
                              <input type="file" name="PS_FILE" id="chooseFile">
                              <input type="hidden" name="upload" value="1">
                            </div>
                          </div>
                        </td>
                    </tr>
                  </table>
                  <br>
              <?php                    
                }
                ?>     

          </div>
      </div>
      <div class="two box" style="display:none">
          <div class="portlet-body form col-md-12">
                <input type="hidden" name="failed" value="6">
                
            <?php 
              if ($this->pscount <= 50 ) {
              ?>

                  <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped">
                      <?php if (is_array($this->fields)){ ?>
                              <tr class="tdform-sub" id="tdform-sub"> 
                                <th class="tablehead"><?php echo $this->language->_('No'); ?></th>
                                <?php
                            foreach ($this->fields as $header) {  ?>
                                <th class="tablehead"><?php echo $this->language->_($header); ?></th>
                      <?php     } ?>
                                <th class="tablehead"><?php echo $this->language->_('Update to'); ?></th>
                              </tr>
                      <?php   }
                          $numFields = count($this->fields);
                            if (!empty($this->tableDtl))
                            {
                              $no = 1;
                              foreach($this->tableDtl as $count_dtl => $dataDtlRow)
                              {
                                $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
                                
                          ?>
                                <tr> 
                                  <td class="<?= $bgcolor; ?>"><?=$no++?></td>
                                   <?php

                                if (is_array($dataDtlRow))
                                {
                                  foreach($dataDtlRow as $key_dtl => $dataDtl)
                                  {
                                    $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE")? " align='right' style='width: 50px' ": "";
                                    $attr = ($key_dtl == "PS_CCY")? " align='center' ": "";

                                    if ($key_dtl == "TRASTATUS") {
                                      $trastatus = $dataDtl;
                                    }

                                    ?>
                                    <?php if($key_dtl != "TRASTATUS") {  ?>
                                      <td class="<?= $bgcolor; ?>" <?= $attr;?>><?php echo $this->language->_($dataDtl); ?></td>
                                    <?php } ?>
                              <?php
                                  }
                                }
                                ?>
                                  <?php if ($this->ps_statusrepair == 23) { ?>
                                    <td class="<?= $bgcolor; ?>"><?=$trastatus?></td>
                                  <?php } else { ?>
                                    <td class="<?= $bgcolor; ?>" style="width: 100px;"><?php echo $this->language->_('Failed'); ?></td>  
                                  <?php } ?>
                                  
                                </tr>
                                <?php
                              }
                            } ?>
                    </table>

            <?php 
                }elseif ($this->pscount > 50 ) {

              ?>
                <table width="100%">
                  <tr>
                      <td style="width: 250px;"><?php echo $this->numbertrx?> time out transaction </td>
                      <td align="left"><?=$this->download2?></td>
                  </tr>
                </table>
                <br>
              <?php                  
                }
              ?>

          </div>
      </div>

  <?php } ?>

  <div class="formbutton" align="center">
    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/suspectreportnew/index/index/clearfilter/1\'','class'=>'btnwhite hov')); ?>
    <?php 
    if ($this->hasPrivilege('USTS')) {  ?>

      <?php if ($this->ps_statusrepair != 23) { ?>

          <button type="reset" onclick="refreshwindow()" class="btnwhite hov">Reset</button>
          <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
              
      <?php  } ?>

    <?php
    }
    ?>
    
  </div>
  </form>

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title textBlack" id="exampleModalLabel">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="textBlack">
          <?php echo $this->language->_('Your transaction is ').'<b>'.$this->language->_('suspect.').'</b>';?><br>
          <?php echo $this->language->_('What happened?');?><br>
          <?php echo $this->language->_('Mostly, occured due to network connection lost.');?><br>
          <br>
          
          <?php echo $this->language->_('Here is what you can do:');?><br>
          <?php echo $this->language->_('1. Check your source account statement from your source bank channel');?><br>
          <?php echo $this->language->_('2. If your source account has not been debited, you can update the transaction status to "failed"');?><br>
          <?php echo $this->language->_('3. If your source account has been successfully debited and there is a refund correction, then you can update the transaction status to "failed"');?><br>
          <?php echo $this->language->_('4. If your source account is successfully debited and there is no refund, contact your beneficiary to check their account statement');?><br>
          <?php echo $this->language->_('5. Or you can also contact your source bank customer service for further assistance');?><br>
          <?php echo $this->language->_('6. Update your transaction status based on your investigation results');?><br>
          <br>
          
          <?php echo $this->language->_('(For further info, please contact: ').'<span class="text-primary">support@espay.id</span>)';?>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>