<div class="text-body">
    <div class="font-weight-bold">
        Sumber Dana Rekening Escrow
    </div>

    <div class="mt-3 mb-3">
        Nomor Rekening Escrow : <span class="font-weight-bold"><?= $this->escrow_acct ?> (IDR) / <?= strtoupper($this->custName); ?></span>
    </div>

    <table class="table table-sm table-striped" style="margin-bottom: 0rem!important;">
        <thead>
            <tr>
                <th class="fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">No</th>
                <th class="fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">No Rekening</th>
                <th class="fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nama Rekening</th>
                <th class="fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Tipe</th>
                <th class="fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Valuta</th>
                <th class="fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->fullmember as $key => $value) { ?>
                <tr>
                    <td><?= $key + 1; ?></td>
                    <td><?= $value["ACCT"]; ?></td>
                    <td><?= $value["NAME"]; ?></td>
                    <td><?= $value["M_ACCT_DESC"]; ?></td>
                    <td><?= $value["M_CCY_ID"]; ?></td>
                    <td><?= number_format($value["AMOUNT"], 2); ?></td>
                </tr>
            <?php }
            ?>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        document.body.style.backgroundColor = 'white';

        document.body.style.paddingTop = '70px'

        document.querySelector("main").style.marginTop = '0'
    })
</script>