<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })

        $('#actdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#actdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Tracking Report'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php
                    echo $this->language->_('Frontend User Activity Report');
                    ?>
                    <?php
                    // echo $this->language->_('Customer Activity Report');
                    ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Frontend User Activity Report') ?></h5>
        <!-- <h5><?= $this->language->_('Customer Activity Report') ?></h5> -->

        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row) {
                $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#logo-title").show();
                        });
                    </script>
                <?php
                }
                // print_r($this->whereval);die;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array("PS_ACTIVITY", 'COMP_ID', 'ACTIVITY_TYPE');
                        $selectlist = array('COMP_NAME', 'USER_ID');
                        $index = 0;



                        ?>
                        <div id="where-<?= $ctr ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $ctr ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-s<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-s<?= $key ?>";
                                            var ncolselect = "#colselect-s<?= $key ?>";
                                            if (colomnname == 'COMP_ID') {
                                                // alert(<?= $this->whereval[$key] ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'ACTIVITY_TYPE') {
                                                $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'actlist'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });
                                                $(colselect).val('<?= $this->whereval[$index] ?>');
                                            }
                                        });
                                    </script>
                                    <?php
                                    if ($value == 'PS_ACTIVITY') {
                                    ?>
                                        <input type='text' class='form-control' name='actdate[]' id='actdateStart' readonly value="<?= $this->actdateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='actdate[]' id='actdateEnd' value="<?= $this->actdateEnd ?>" readonly required>
                                    <?php

                                    } else if (in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width: 100%" />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                        <div id="where-<?= $ctr ?>">
                            <!-- <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='wherecol[]' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($val == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'>
                                    <input class='form-control' type='text' style='width:100%' name='whereval[]' value='' />
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div> -->
                        </div>
                        <?php //}}
                        ?>
                    </div>
                    <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                    <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                    <br />



                </div>
                <div class="col-md-4">
                </div>

            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
            <div style="float:right; padding-left:10px;">
                <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
                    <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
                    <!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF is too large (function is disabled)'), array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?> -->
                    <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
                    <!-- <?php } else { ?> -->
                    <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?> -->
                    <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
                    <!-- <?php } ?> -->

                    <?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
                        <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
                        <?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
                    <?php } else { ?>
                        <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
                        <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
                    <?php } ?>
                    <!--        <input class="btn btn-success" value="<?php echo $this->language->_('PRINT') ?>" onclick="window.print();" type="button">-->
                    <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
                        // echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite disabled','disabled'=>'disabled'));
                        // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
                    } else {
                    ?>
                        <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
                    <?php
                    }
                    ?>
                </form>
            </div>
        </div>
        <br />
        <br />
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped" id="myTable">
                <thead>
                    <tr>
                        <th width="3%" valign="top" class="tablehead">No</th>
                        <?php echo $this->partial(
                            'tableheader.phtml',
                            array(
                                'fields' => $this->fields,
                                'sortBy' => $this->sortBy,
                                'sortDir' => $this->sortDir,
                                'query_string_params' => $this->query_string_params
                            )
                        ); ?>
                    </tr>
                </thead>
                <tbody>
                    <!-- <td class="' . $td_css . '">' . preg_replace("/(^.|.$)(*SKIP)(*F)|(.)/", "*", $row['USER_ID']) . '</td> -->
                    <?php

                    $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

                    if (count($this->paginator) > 0) {
                        $i = 0;

                        foreach ($this->paginator as $row) {

                            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

                            echo '<tr>
					<td class="' . $td_css . '">' . $counter . '</td>
					<td class="' . $td_css . '">' . $row['COMPANY'] . '</td>
					<td class="' . $td_css . '">' . $row['USER_ID'] . '</td>
					<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['LOG_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
					<td class="' . $td_css . '">' . $this->language->_($row['FPRIVI_DESC']) . '</td>
					<td class="' . $td_css . '">' . $this->language->_($row['ACTION_FULLDESC']) . '</td>
				  </tr>';

                            $i++;
                            $counter++;
                        }
                    } else {
                        echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- ' . $this->language->_('No Data') . ' --- </td></tr>';
                    }
                    ?>
                </tbody>
            </table>
        </div>

        <br />
        <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>

    </div>
</div>

<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'PS_ACTIVITY') {
            $(colval).append("<input type='text' class='form-control' name='actdate[]' id='actdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='actdate[]' id='actdateEnd' readonly required>");


            $('#actdateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#actdateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'COMP_ID') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'ACTIVITY_TYPE') {
            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'actlist'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>