<style>
  .btnicon{
    width: 30px !important;
    border-radius: 10px !important;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();

  $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
          if (!index) return;
          $(this).find("td").each(function() {
              var id = $(this).text().toLowerCase().trim();
              var not_found = (id.indexOf(value) == -1);
              $(this).closest('tr').toggle(!not_found);
              return not_found;
          });
      });
  });
});
</script>

<script type="text/javascript">

function provisionModal(){
	$('#provisionModal').modal('show');
}

function suspendModal(){
	$('#suspendModal').modal('show');
}

function update() {

    if( $('input[name="profileid[]"]:checked').length > 0){
      // $('#buttonsave').prop('disabled', false);
      // $('#buttonsave').removeClass('disabled');
      $('#buttoncancel').prop('disabled', false);
      $('#buttoncancel').removeClass('disabled');

      // $('input[name="bs_id[]"]:checked').each(function () {

      //   var status = $(this).data('status');

      //     if (status == 2) {
      //       $('#buttonsave').prop('disabled', true);
      //       $('#buttonsave').addClass('disabled');
      //       // $(selected).data('status', 1);
      //     } else{
      //       $('#buttonsave').prop('disabled', false);
      //       $('#buttonsave').removeClass('disabled');
              
      //       //   $(selected).data('status', 0);
      //       }

      // });

    }
    else{
      $('#allCheck').prop('checked', false);
      // $('#buttonsave').prop('disabled', true);
      // $('#buttonsave').addClass('disabled');
      $('#buttoncancel').prop('disabled', true);
      $('#buttoncancel').addClass('disabled');
    }

  }

</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Business Profile Adapter')?></span>
                  </li>

              </ul>
          </div>
        </div>
</div>
<?php if($this->error){ ?>
			<div class="errmsg"> 
				<?=$this->language->_('Adapter Profile is being used by customers')?>
			</div>
<?php } ?>			
<h5><?=$this->language->_('Business Profile Adapter List')?></h5>
<h6 style="color:grey;"><?=$this->language->_('Business Profile Converter File Setup')?></h6>
<br/>
<div class="">

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }
</style>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Warning') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack"><?php echo $this->language->_('Are you sure want to delete this data?'); ?></label>
					</div>
				</div>
					
			</div>
			<div class="modal-footer">
				<input type="submit"  name="delete" class="btnred hov mt-1" id="buttoncancelsubmit"  value="Delete">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="suspendModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Warning') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack"><?php echo $this->language->_('Are you sure want to suspend this data?'); ?></label>
					</div>
				</div>
					
			</div>
			<div class="modal-footer">
				<input type="submit"  name="suspend" class="btnred hov mt-1" id="buttoncancelsubmit"  value="Suspend">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>

  <div class="row">
        <div class="col-md-12">
                
                    <div class="row">
                        
                        <div class="col-md-6">
                        <?php if($this->hasPrivilege('RPCB')){?>
                          <button class="btnwhite hov" onclick="location.href='/customerbusiness/index'">Go to Customer Profile Report</button>
                        <?php } ?>
						<?php if($this->hasPrivilege('ABPA')){?> 
                            <a href="/businessadapter/new" >
                                <button type="button" class="btngrad hov mr-2" id="addwhere" style="margin-left: 5px;margin-top: 5px" ><i class="fa fa-plus">&nbsp;</i>Create New</button>
                              </a>
						<?php } if($this->hasPrivilege('ABPA')){?> 
                            <input type="button" onClick="provisionModal()" name="deletesubmit" class="btnred hov mt-1 disabled" id="buttoncancel" disabled="disabled" value="Delete">
							<?php } if($this->hasPrivilege('SBPA')){?>
							<input type="button" onClick="suspendModal()" name="suspendsubmit" class="btnred hov mt-1 disabled" id="suspendcancel" disabled="disabled" value="Suspend">
							<?php } ?>	
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <div style="float:right; padding-left:5px;">
                                    <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                                                    </div>
                                            <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                                        </div>
                                </div>
                                <div style="float:right; padding-left:10px;">
                                    
                                </div>
                            </div>
                           
                        </div>
                    
                    </div>

    </div>
</div>

<div class="portlet-body flip-scroll table-responsive table-fixed mt-1" id="fixTable">
  <table class="table table-striped table-sm" id="myTable">
      <thead>
        <tr class="tablerow headercolor">
          <th width="5%" class="tablehead">
            <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);update();}else{$('.checkall').prop('checked', false);$('#buttoncancel').prop('disabled', true);$('#buttoncancel').addClass('disabled');}" type="checkbox">
          </th>
          <th width="20%" class="tablehead"><?php echo $this->language->_('Profile Name');?></th>
          <th width="20%" class="tablehead"><?php echo $this->language->_('File Type');?></th>
          <th width="15%" class="tablehead"><?php echo $this->language->_('Last Updated Date');?></th>
          <th width="15%" class="tablehead"><?php echo $this->language->_('Last Updated By');?></th>
      <th width="15%" class="tablehead"><?php echo $this->language->_('Status');?></th>
          <th style="z-index: 1;" width="20%" class="tablehead"><?php echo $this->language->_('Action');?></th>
        </tr>
      </thead>
      <tbody>
      <?php 
    //var_dump($this->statusArr);
        $numFields = count($this->fields) + 1;
        if(!empty($this->profileData))
        {
          $no = 0;
          foreach(array_reverse($this->profileData) as $key => $value)
          { 
            $tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
            $PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'businessadapter','controller'=>'edit','action'=>'index','profile_id'=>$value['PROFILE_ID']),null,true).'">'.$value['PROFILE_ID'].'</a>';
             if($value['STATUS'] == '3'){
              $checkBox = "";  
             }else{
              $checkBox = "<input name='profileid[]' type='checkbox' class='checkall' onclick='update(this)' value='".$value['PROFILE_ID']."'>";
             }
            
      ?>
            <tr>
              <td class="<?= $tdcss ?>"><?php echo $checkBox; ?></td>
              <td class="<?= $tdcss ?>"><?php echo $value['PROFILE_NAME']; ?></td>
              <td class="<?= $tdcss ?>"><?php echo $value['FILE_FORMAT']; ?></td>
              <td class="<?= $tdcss ?>"><?php echo $value['SUGGESTED_DATE']; ?></td>
              <td class="<?= $tdcss ?>"><?php echo $value['SUGGESTED_BY']; ?></td>
        <td class="<?= $tdcss ?>"><?php echo $this->statusArr[$value['STATUS']]; ?></td>
              <td class="<?= $tdcss ?>">
                <button onclick="location.href='/businessadapter/view/index/profileid/<?php echo $value['PROFILE_ID']; ?>'"class="btnicon" type="button" name="button"> <img src="/images/icon/view.png" height="10px" alt=""> </button>
                <?php if($value['STATUS'] != '3'){ ?>
                <button onclick="location.href='/businessadapter/edit/index/profileid/<?php echo $value['PROFILE_ID']; ?>'"class="btnicon" type="button" name="button"> <img src="/images/icon/setting.png" height="13px" alt=""> </button>
              <?php } ?>
              </td>
            <?php
                  $no++;
                }
              }
              else
              {
            ?>
                <tr>
                  <td class="tbl-evencontent" colspan="6" align="center"><?php echo $this->language->_('No Data'); ?></td>
                </tr>
            <?php
              }
            ?>
            </tbody>
          </table>
          </div>
        </div>
      </form>
