<style type="text/css">
  .btnPaging {
    border-radius: 5px;
    border-color: #e7eae8;
    background-color: white;
    border: 1px solid grey;
    padding: 5px 9px 5px 9px;
  }

  .btnPaging a {
    /*color: #007934;*/
    color: #636564;
  }
</style>




<?php
//view partials for use by Zend_Pagination

//build query string
//var_dump($this->query_string_params);
if (is_array($this->query_string_params)) {
  $qstring = '?';

  //var_dump($this->query_string_params);
  foreach ($this->query_string_params as $key => $val) {

    //var_dump($key);
    if ($key == 'wherecol') {
      foreach ($val as $keys => $value) {
        $qstring .= SGO_Security_GeneralFunction::sanitize('wherecol[]') . '=' . SGO_Security_GeneralFunction::sanitize($value) . '&';
      }
    }
    //var_dump($qstring);
    else if ($key == 'whereval') {
      foreach ($val as $keys => $value) {
        $qstring .= SGO_Security_GeneralFunction::sanitize('whereval[]') . '=' . SGO_Security_GeneralFunction::sanitize($value) . '&';
      }
    } else {
      if (is_array($val)) {
        foreach ($val as $tempKey => $tempValue) {
          $qstring .= SGO_Security_GeneralFunction::sanitize($key) . '[]=' . SGO_Security_GeneralFunction::sanitize($tempValue) . '&';
        }
      } else {
        $qstring .= SGO_Security_GeneralFunction::sanitize($key) . '=' . SGO_Security_GeneralFunction::sanitize($val) . '&';
      }
    }
  }
  //var_dump($qstring);
  $qstring = substr($qstring, 0, -1);
} else {
  $qstring = '';
}

if ($this->pageCount) :
?>

  <?php
  if (Zend_Registry::isRegistered('language')) {
    $language = Zend_Registry::get('language');
  }
  ?>

  <div class="row">


    <div class="col-sm-12" align="right">
      <?php if (isset($this->previous)) : ?>
        <a class="btnPaging" href="<?= $this->url(array('page' => $this->previous, 'filter' => 'Set+Filter')) . str_replace("wherecol=Array", "", $qstring) ?>"><i class="fas fa-chevron-left"></i></a>
      <?php else : ?>

      <?php endif; ?>
      &nbsp;
      <?php if (isset($this->next)) : ?>
        <a class="btnPaging" href="<?= $this->url(array('page' => $this->next, 'filter' => 'Set+Filter')) . str_replace("wherecol=Array", "", $qstring) ?>"><i class="fas fa-chevron-right"></i></a>
      <?php else : ?>

      <?php endif; ?>
    </div>
  </div>

<?php endif; ?>